<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="attendance-report">

  <% @leave_types.each do |lt| %>
    <% leave_count = EmployeeLeave.find_by_employee_leave_type_id_and_employee_id(lt.id, @employee.id)%>
    <div class="type_name<%=cycle("odd", "even")%>"><%= lt.name  %>:</div>
    <%  if leave_count and  leave_count.reset_date.present? %>
      <% @report = EmployeeAttendance.find_all_by_employee_id_and_employee_leave_type_id(@employee.id, lt.id, :conditions=> ["created_at >='#{leave_count.reset_date}'"]) %>
    <%else%>
      <% @report = EmployeeAttendance.find_all_by_employee_id_and_employee_leave_type_id(@employee.id, lt.id)%>
    <%end%>
    <% if @report == [] %>
      <div class="date-even"><%= t('no_dates_found') %></div>
    <% else %>
      <% @report.each do |r| %>
        <div class="date-<%=cycle("even", "odd")%>"><%= format_date(r.attendance_date) %>
          <% if r.is_half_day==true %>
            <%= "(#{t('half_day')})" %>
          <% end %>
        </div>
      <% end %>
    <% end %>

  <% end %>

  <div class="attendance-stats">
    <%total_leave = 0 %>
    <% @leave_count.each do |e| %>
      <% leave_type = EmployeeLeaveType.find_by_id(e.employee_leave_type_id)%>
      <div class="type_name<%=cycle("odd", "even")%> ">
        <div class="total"><%= t('total') %> <%= leave_type.name %>:</div><div class="count"><%= e.leave_taken %>/<%= e.leave_count %></div>
        <% if permitted_to? :employee_leave_count_edit, :employee %>
          <div class="edit-leave"><%=  link_to_remote "#{t('edit_text')}", :url =>{:action=>"employee_leave_count_edit", :id=>e.id, :leave_type=>e.employee_leave_type_id }%></div>
        <%end%>
      </div>
      <% total_leave+= e.leave_taken %>
    <%end%>
    <div class="type_nameeven"><div class="total"><%= t('total_leaves_taken')  %>:</div><div class="count"><%= total_leave %></div></div>
  </div>
  <div class="pdf-link">
    <%=  link_to " ►#{t('pdf_report')}", {:controller=>"employee_attendance", :action=>"employee_attendance_pdf", :id=>@employee.id, :format=>'pdf'},:target=>"_blank", :class => 'user_button' %>
  </div>
</div>



