<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>




<table width="700">
  <tr class="odd left"><td><%= t('joining_date') %></td><td class="right"><%= format_date(@employee.joining_date,:format=>:long)%></td></tr>
  <tr class="even left"><td><%= t('department') %></td><td class="right"><%= @employee.employee_department.name%></td></tr>
  <tr class="odd left"><td><%= t('category') %></td><td class="right"><%= @employee.employee_category.name %></td></tr>
  <tr class="even left"><td><%= t('position') %></td><td class="right"><%= @employee.employee_position.name %></td></tr>

  <tr class="odd left"><td><%= t('grade') %></td><td class="right"><%= @employee.employee_grade.name unless @employee.employee_grade.nil? %></td></tr>
  <tr class="even left"><td><%= t('job_title') %></td><td class="right"><%= @employee.job_title %></td></tr>

  <tr class="odd left">
    <td><%= t('manager') %></td>
    <td class="right">
      <% if @reporting_manager.present? and @reporting_manager.employee_record.present? %>
        <% if can_access_request? :profile, @reporting_manager ,:context=>:employee %>
          <%= link_to @reporting_manager.full_name.to_s, :controller=> "employee", :action=> "profile", :id=>@reporting_manager.employee_record.id %>
        <% else %>
          <%= @reporting_manager.full_name %>
        <% end %>
      <% end %>
      <% if permitted_to? :change_reporting_manager, @employee.user ,:context=>:employee %>
        <%= link_to "#{t('change')}", :controller=> "employee", :action=> "change_reporting_manager", :id=>@employee.id %>
      <%end%>
    </td>
  </tr>
  <tr class="even left"><td><%= t('gender') %></td><td class="right"><%= t("#{@gender.downcase}") %></td></tr>
  <tr class="odd left"><td><%= t('email') %></td><td class="right"><%= @employee.email %></td></tr>
  <tr class="even left"><td><%= t('status') %></td><td class="right"><%= t("#{@status.downcase}") %></td></tr>
  <tr class="odd left"><td><%= t('qualification') %></td><td class="right"><%= @employee.qualification %></td></tr>
  <tr class="even left"><td><%= t('total_exp') %></td><td class="right"><%= @total_years.to_s+" #{t('years')} "+@total_months.to_s+" #{t('months')}" %></td></tr>
  <tr class="odd left"><td><%= t('exp_info') %></td><td class="right"><%= @employee.experience_detail %></td></tr>
  <tr class="even left"><td><%= t('biometric_id') %></td><td class="right"><%= @biometric_id %></td></tr>
</table>
<div class="edit-pdf-group">
  <% if permitted_to? :change_reporting_manager, :employee %>
    <div>
      <%= link_to "► #{t('edit_text')}", {:controller => "employee", :action => "edit1", :id =>@employee.id}, :class=> 'user_button' %>
    </div>
  <%end%>
  <% if permitted_to?  :profile_pdf , :employee %>
    <div>
      <%= link_to " ► #{t('pdf_report')}",
        {:controller => "employee", :action => "profile_pdf", :id => @employee.id},:target => '_blank', :class=> 'user_button' %>
    </div>
  <% end %>
</div>
