<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>



<div class="label-field-pair">
  <label for="monthly_payslip_salary_date"><%= t('select_month_and_year') %></label>
  <div class="text-input-bg"><%= select :monthly_payslip, :salary_date, @salary_dates.map {|c| [payslip_range(c.payslips_date_range.payroll_group, c.start_date, c.end_date), c.id]},
      {:prompt =>  t('select_month')},
      {:onChange => "#{remote_function(:url => {:action => "update_monthly_payslip"},
      :with => "'employee_payslip_id='+value+'&emp_id=#{@employee.id}'",:before=>"$('loader').show();",:success=>"$('loader').hide();")}"} %>
    <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: none;" ) %>
  </div>
</div>
<div id="payslip_view"> </div>
<div class="extender"></div>



