<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<ul class="item-list">
  <li class="heading"><%= t('payslip_period') %>: <%=  payslip_range(@payslip_date_range.payroll_group, @start_date, @end_date) %></li>
</ul>
<ul class="item-list">
  <li class="heading1"><div id="category_name"><span><%= t('earnings') %></span></div><div id="currency_symbol"><%= currency_with_amount %></div></li>
  <% tot_earnings = 0 %>
  <% tot_deductions = 0 %>
  <% @monthly_payslips.each do |mp| %>
    <% category = mp.payroll_category %>
    <% if !category.is_deduction and mp.amount.to_f > 0 %>
      <li class="list<%=cycle('odd', 'even')%>">
        <div class="item-name"><%= category.name  %> </div>
        <div class="item-edit">
          <div id="amount_value"><%= mp.amount.present? ? precision_label(mp.amount) : precision_label(0) %></div>
          <% tot_earnings+=mp.amount.to_f %>
        </div>
      </li>
    <%end%>
  <% end %>
  <% unless @individual_payslip_category.empty? %>

    <% @individual_payslip_category.each do |pc| %>
      <%if !pc.is_deduction and pc.amount.to_f > 0 %>
        <li class="list<%=cycle('odd', 'even')%>">
          <div class="item-name"><%= pc.name %></div>
          <div class="item-edit">
            <div id="amount_value"> <%= pc.amount.present? ? precision_label(pc.amount) : precision_label(0) %></div>
            <% tot_earnings+= pc.amount.to_f %>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>

  <li class="list<%=cycle('odd', 'even')%>">
    <div class="item-name"><b><%= t('total_salary') %> </b></div>
    <div class="item-edit">
      <b>
        <div id="amount_value"> <%= precision_label(tot_earnings)  %></div>
      </b>
    </div>
  </li>
</ul>


<ul class="item-list">
  <li class="heading1"><div id="category_name"><span><%= t('deductions') %></span></div><div id="currency_symbol"> <%= currency_with_amount %></div></li>

  <% @monthly_payslips.each do |mp| %>
    <% category = mp.payroll_category %>
    <% if category.is_deduction and mp.amount.to_f > 0 %>
      <li class="list<%=cycle('odd', 'even')%>">
        <div class="item-name"><%= category.name  %></div>
        <div class="item-edit">
          <div id="amount_value"><%= mp.amount.present? ? precision_label(mp.amount) : precision_label(0) %></div>
          <% tot_deductions+= mp.amount.to_f %>
        </div>
      </li>
    <%end%>
  <% end %>
  <% unless @individual_payslip_category.empty? %>

    <% @individual_payslip_category.each do |pc| %>
      <%if pc.is_deduction and pc.amount.to_f > 0 %>
        <li class="list<%=cycle('odd', 'even')%>">
          <div class="item-name"><%= pc.name %></div>
          <div class="item-edit">
            <div id="amount_value"> <%= pc.amount.present? ? precision_label(pc.amount) : precision_label(0) %></div>
            <% tot_deductions+= pc.amount.to_f %>
          </div>
        </li>
      <%end%>
    <% end %>
  <% end %>
  <% if @employee_payslip.lop.present? %>
    <li class="list<%=cycle('odd', 'even')%>">
      <div class="item-name"><%= "#{t('lop')}"%></div>
      <div class="item-edit">
        <div id="amount_value"> <%=  precision_label(@employee_payslip.lop) %></div>
        <% tot_deductions+=@employee_payslip.lop.to_f %>
      </div>
    </li>
  <% end %>
  <li class="list<%=cycle('odd', 'even')%>">
    <div class="item-name"><b><%= t('total_deductions') %> </b></div>
    <div class="item-edit">
      <div id="amount_value"><b> <%= precision_label(tot_deductions)  %></b></div></div
  </li>
</ul>

<ul class="item-list">
  <li class="heading1"><div id="category_name"><span><%= t('total') %></span></div><div id="currency_symbol"> <%=currency_with_amount%></div></li>

  <li class="listeven">
    <div class="item-name"><b><%= t('net_salary') %> </b></div>
    <b><div class="item-edit"> <div id="amount_value"><%= precision_label(@net_amount)  %></div></div></b>
  </li>
  <% if @employee_payslip.is_rejected %>
    <li class="listodd">
      <div class="item-name"><b><%= t('remark') %></b></div>
      <div class="item-edit"><b><span class="currency-type1"><%= @employee_payslip.reason %></span></b></div>
    </li>
  <% end %>
</ul>

<%  if permitted_to? :view_payslip_pdf, :employee_payslips %>
  <div class="pdf-link">
    <%= link_to "► #{t('pdf_report')}", {:controller=>"employee_payslips", :action=>"view_payslip_pdf", :id=>@employee_payslip.id}, :target=> "_blank", :class=>"user_button" %>
  </div>
<% end %>
