<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('employee_settings') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('additional_detail') %></div>

</div>
<div id="page-yield">
   <div class="bread_crumb">
    <%  breadcrumb :employee_add_additional_details %>
    <%= render_breadcrumbs  %>
  </div>
  <div class="box">

    <% unless flash[:warn_notice].nil? %>
      <div class="errorExplanation1">
        <ul>
          <li>
            <%= flash[:warn_notice] %>
          </li>
        </ul>
      </div>
    <% end %>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>

    <%- form_for @additional_field, :url=>{:action=>(@additional_field.new_record? ? "add_additional_details" : "edit_additional_details")} do |c| -%>

      <%= error_messages_for 'additional_field' %>
      <div id="form-content">
        <div class="label-field-pair">
          <label for="category_name"><%= t('name') %></label>
          <div class="text-input-bg"> <%= c.text_field :name %> </div>
        </div>

        <div class="label-checkbox-pair">
          <label class="status" for="status"><%= t('status') %></label>
          <div id="radio-buttons">
            <%= c.radio_button  "status", "true", :checked => "checked" %>
            <label class="label_for_status" for="add_grade_status_true"><%= t('active') %></label>

            <%= c.radio_button  "status", "false" %>
            <label class="label_for_status" for="add_grade_status_false"><%= t('inactive') %></label>
          </div>
        </div>
        <div class="label-field-pair">
          <div class="label-container"><%= c.label :is_mandatory, t('is_mandatory') %></div>
          <div class="input-container">  <%= c.check_box :is_mandatory %></div>
        </div>
        <div class="label-field-pair">
          <div class="label-container"> <%= c.label :input_type,"#{t('input_method')}" %></div>
          <div class="text-input-bg"><%= c.select :input_type, [["Text Box","text"],["Text Area","text_area"],["Select Box","belongs_to"],["Check Box","has_many"]] ,{},:class=>"input-type-select"%>
          </div>
        </div>
        <div class="custom" style="display: none" >
          <% c.fields_for :additional_field_options do |builder| %>
            <%= render "additional_field_option_fields" ,:c=>builder%>
          <% end %>
          <div>
            <%= link_to_add_fields t('add'), c, :additional_field_options  %>
          </div>
        </div>
        <div id="submit-button">
          <% unless @additional_field.new_record? %>
            <%=submit_tag("► #{t('update')}", :disable_with => "► #{t('please_wait')}") %>
            <%= link_to " ► #{t('cancel')}",
              { :action => "add_additional_details"}, :class=> 'user_button' %>
          <% else %>
            <%=submit_tag("► #{t('create_text')}", :disable_with => "► #{t('please_wait')}") %>
          <% end %>
        </div>
      </div>
    <%- end -%>

    <div id="category-list">
      <%= render :partial => "additional_fields" %>
    </div>
  </div>
</div>


<script>
  function add_fields(link, association, content){
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g");
    $(link).up().insert({
      before: content.replace(regexp, new_id)
    });
    if ($$('.input-type-select')!=""){
      $$('.input-type-select').invoke('observe','change',toggle_custom);
    }
  }


  function remove_fields(link){
    //    console.log($(link).previous("input[type=hidden]"));
    $(link).previous("input[type=hidden]").value='1';
    $(link).up(".fields").hide();
  }

  function toggle_custom(val){
    console.log(this)
    console.log(val)
    dest = this.up(2).select('.custom')[0]
    //if(dest != null)
    if((this.value == 'text') || (this.value == 'text_area')){
      dest.hide();
    }
    else{
      dest.show();
    }
    return true;
  }
  document.observe("dom:loaded", function() {
    if ($$('.input-type-select')!=""){
      $$('.input-type-select').invoke('observe','change',toggle_custom);
      $$('.input-type-select').first().fire('change');
      $$('select').each(function(e){
        toggle_custom.call(e);
      });
    }
  });
</script>
