<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('employee_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('advanced_search_text') %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <div id="search-form">
    <% form_for @search do |f| %>
      <div class="label-field-pair">
        <label for="name"><%= t('name') %></label>
        <div class="text-input-bg">
          <%= f.text_field :employee_name_as %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('employee_number') %></label>
        <div class="text-input-bg">
          <%= f.text_field :employee_number_equals %>
        </div>
      </div>
      <div class="label_field_pair">
        <label class="label_for_student" ><%= t('gender') %></label>
        <div class="student_gender_value">
          <label class="label_for_gender" ><%= t('all') %></label>
          <%= f.radio_button  :gender_equals, "" %>
          <label class="label_for_gender" ><%= t('male') %></label>
          <%= f.radio_button  :gender_equals, "m"%>
          <label class="label_for_gender" ><%= t('female') %></label>
          <%= f.radio_button  :gender_equals, "f" %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('blood_group') %></label>
        <div class="text-input-bg">
          <%= select :search, :blood_group_like, Employee::VALID_BLOOD_GROUPS,{:include_blank => t('unknown')}%>
        </div>
      </div>

      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('marital_status') %></label>
        <div class="text-input-bg">
          <%= select :search, :marital_status_like, [["#{t('single')}","single"], ["#{t('married')}","married"],["#{t('divorced')}","divorced"],["#{t('widowed')}","widowed"]],{:prompt=>"#{t('select')}"}%>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('country') %></label>
        <div class="text-input-bg">
          <%= f.collection_select :nationality_id_equals, Country.all,:id,:full_name,{:prompt=>"#{t('select')}"}%>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('category') %></label>
        <div class="text-input-bg">
          <%= f.collection_select :employee_category_id_equals, EmployeeCategory.find(:all,:order=>'name ASC'), :id, :name, {:prompt=>"#{t('select')}"} %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('department') %></label>
        <div class="text-input-bg">
          <%= f.collection_select :employee_department_id_equals, EmployeeDepartment.ordered, :id, :name, {:prompt=>"#{t('select')}"} %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('position') %></label>
        <div class="text-input-bg">
          <%= f.collection_select :employee_position_id_equals, EmployeePosition.find(:all,:order=>'name ASC'), :id, :name, {:prompt=>"#{t('select')}"}%>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('grade') %></label>
        <div class="text-input-bg">
          <%= f.collection_select :employee_grade_id_equals, EmployeeGrade.find(:all,:order=>'name ASC'), :id, :name,{:prompt=>"#{t('select')}"} %>
        </div>
      </div>

      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('joining_date') %>
          <%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader",
            :style =>"display: none;" ) %>
        </label>
        <div class="text-input-bg">
          <%= select :adv_search,:doj_option,[["#{t('equal_to')}","equal_to"],["#{t('less_than')}","less_than"],["#{t('greater_than')}","greater_than"]],{:prompt=>"#{t('choose_your_option')}"},
            {:onChange => "#{remote_function(:url => {:action => "list_doj_year"},
            :with=>"'doj_option='+value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')"
            )}"}
        %>
          <div id="doj_year">
            <%= select :adv_search,:doj_year,[],{:prompt=>"#{t('select')}"} %>
          </div>
          <div id="doj_year_hidden"></div>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="student_admission_no"><%= t('date_of_birth') %>
          <%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader",
            :style =>"display: none;" ) %>
        </label>
        <div class="text-input-bg">
          <%= select :adv_search,:dob_option,[["#{t('equal_to')}","equal_to"],["#{t('less_than')}","less_than"],["#{t('greater_than')}","greater_than"]],{:prompt=>"#{t('choose_your_option')}"},
            {:onChange => "#{remote_function(:url => {:action => "list_dob_year"},
            :with=>"'dob_option='+value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')"
            )}"}
        %>
          <div id="dob_year">
            <%= select :adv_search,:dob_year,[],{:prompt=>"#{t('select')}"} %>
          </div>
          <div id="dob_year_hidden"></div>
        </div>
      </div>
      <div class="label_field_pair">
        <label class="label_for_student" for="student_gender"><%= t('status') %></label>
        <div class="student_gender_value">
          <label class="label_for_gender" for="student_gender_true"><%= t('present') %></label>
          <%= f.radio_button  :status_equals, "true", {:checked =>'checked'  } %>
          <label class="label_for_gender" for="student_gender_false"><%= t('former') %></label>
          <%= f.radio_button  :status_equals, "false" %>
          <label class="label_for_gender" for="student_gender_false"><%= t('all') %></label>
          <%= f.radio_button  :status_equals, "", {:checked => false} %>
        </div>
      </div>


      <%= f.submit  "#{t('search_text')}", :class=>'submit' %>
    <% end %>
  </div>



  <% unless @employees.nil? %>
  <%# if @sort_order=="first_name-ascend" %>
  <%# @employees1= @employees1.to_a.sort_by{|s| s.first_name} %>
  <%# elsif @sort_order=="first_name-descend" %>
  <%# @employees1= @employees1.to_a.sort_by{|s| s.first_name}.reverse %>
  <%# end %>
    <script type="text/javascript">
      Event.observe(window, 'load', function() { $('search-form').hide(); });
    </script>
    <div id="search-result">

      <p><%= t('searched_for') %></p>
  <%#= link_to_function '► Search again' do |page|
  page.visual_effect :toggle_slide, "search-form"
  page.hide "search-result"
  end %>
        <% searched_for = "#{t('listed_by')}" %>

        <% searched_for += " #{t('name')}/#{t('employee_number')}: " + params[:search][:name_or_employee_number_as].to_s if params[:search][:name_or_employee_number_as].present? %>
        <% searched_for += " #{t('name')}: " + params[:search][:employee_name_as].to_s if params[:search][:employee_name_as].present? %>
        <% searched_for += " #{t('employee_number')}: " + params[:search][:employee_number_equals].to_s if params[:search][:employee_number_equals].present? %>
        <% searched_for += " #{t('employee_department')}: " + EmployeeDepartment.find(params[:search][:employee_department_id_equals]).name.to_s if params[:search][:employee_department_id_equals].present? %>
        <% searched_for += " #{t('employee_category')}: " + EmployeeCategory.find(params[:search][:employee_category_id_equals]).name.to_s if params[:search][:employee_category_id_equals].present? %>
        <% searched_for += " #{t('employee_position')}: " + EmployeePosition.find(params[:search][:employee_position_id_equals]).name.to_s if params[:search][:employee_position_id_equals].present? %>
        <% searched_for += " #{t('employee_grade')}: " + EmployeeGrade.find(params[:search][:employee_grade_id_equals]).name.to_s if params[:search][:employee_grade_id_equals].present? %>
        <% if  params[:search][:gender_equals].present? %>
          <% if  params[:search][:gender_equals] == 'm' %>
            <% searched_for += " #{t('gender')}: #{t('male')}" %>
          <% elsif  params[:search][:gender_equals] == 'f' %>
            <% searched_for += " #{t('gender')}: #{t('female')}" %>
          <% else %>
            <% searched_for += " #{t('gender')}: #{t('all')}" %>
          <% end %>
        <% end %>
        <% searched_for += " #{t('blood_group')}: " + params[:search][:blood_group_like].to_s if params[:search][:blood_group_like].present? %>
        <% searched_for += " #{t('marital_status')}: " + params[:search][:marital_status_like].to_s if params[:search][:marital_status_like].present? %>
        <% searched_for += " #{t('nationality')}: " + Country.find(params[:search][:nationality_id_equals]).full_name.to_s if params[:search][:nationality_id_equals].present? %>
        <% searched_for += " #{t('year_of_join')}: " +  "#{t(params[:adv_search][:doj_option])} " + params[:adv_search][:joining_date_year].to_s if  params[:adv_search] and params[:adv_search][:doj_option].present? %>
        <% searched_for += " #{t('year_of_birth')}: " +  "#{t(params[:adv_search][:dob_option])} " + params[:adv_search][:birth_date_year].to_s if  params[:adv_search] and params[:adv_search][:dob_option].present? %>
        <% if params[:search][:status_equals]=="true" %>
          <% searched_for += " #{t('present_employee')}" %>
        <% elsif params[:search][:status_equals]=="false" %>
          <% searched_for += " #{t('former_employee')}" %>
        <% else %>
          <% searched_for += " #{t('all_employee')}" %>
        <% end %>

      <div class="searched_for">
        <% if params[:search][:name_or_employee_number_as].present? %>
          <% searched_for = params[:search][:name_or_employee_number_as] %>
          <span><%= t('name') %>/<%= t('employee_number') %>: <%= params[:search][:name_or_employee_number_as] %></span>
        <% end %>
        <% if params[:search][:employee_name_as].present? %>
          <% searched_for = params[:search][:employee_name_as] %>
          <span><%= t('name') %>: <%= params[:search][:employee_name_as] %></span>
        <% end %>
        <% if  params[:search][:employee_number_equals].present? %>
          <span><%= t('employee_number') %>: <%= params[:search][:employee_number_equals] %></span>
        <% end %>
        <% if params[:search][:employee_department_id_equals].present? %>
          <% dept = EmployeeDepartment.find(params[:search][:employee_department_id_equals]) %>
          <span><%= t('employee_department') %>: <%= dept.name %></span>
        <% end %>
        <% if  params[:search][:employee_category_id_equals].present? %>
          <% category = EmployeeCategory.find(params[:search][:employee_category_id_equals]) %>
          <span> <%= t('employee_category') %>: <%= category.name %></span>
        <% end %>
        <% if  params[:search][:employee_position_id_equals].present? %>
          <% position = EmployeePosition.find(params[:search][:employee_position_id_equals]) %>
          <span><%= t('employee_position') %>: <%= position.name %></span>
        <% end %>
        <% if  params[:search][:employee_grade_id_equals].present? %>
          <% grade = EmployeeGrade.find(params[:search][:employee_grade_id_equals]) %>
          <span> <%= t('employee_grade') %>: <%= grade.name %> </span>
        <% end %>
        <% if  params[:search][:gender_equals].present? %>
          <% if  params[:search][:gender_equals] == 'm' %>
            <span><%= t('gender') %>: <%= t('male') %></span>
          <% elsif  params[:search][:gender_equals] == 'f' %>
            <span> <%= t('gender') %>: <%= t('female') %></span>
          <% else %>
            <span><%= t('gender') %>: <%= t('all') %></span>
          <% end %>
        <% end %>
        <% if  params[:search][:blood_group_like].present? %>
          <span> <%= t('blood_group') %>: <%= params[:search][:blood_group_like] %></span>
        <% end %>
        <% if  params[:search][:marital_status_like].present? %>
          <span><%= t('marital_status') %>: <%= t("#{params[:search][:marital_status_like]}")   %></span>
        <% end %>
        <% if  params[:search][:nationality_id_equals].present? %>
          <% nationality = Country.find(params[:search][:nationality_id_equals]) %>
          <span><%= t('nationality') %>: <%= nationality.name %></span>
        <% end %>
        <% if  params[:adv_search] and params[:adv_search][:doj_option].present? %>
          <span><%= t('year_of_join') %>: <%=t("#{ params[:adv_search][:doj_option]}") %>

          <%= params[:adv_search][:joining_date_year] %></span>
        <% end %>
        <% if  params[:adv_search] and params[:adv_search][:dob_option].present? %>
          <span><%= t('year_of_birth') %>: <%=t("#{params[:adv_search][:dob_option]}") %>

          <%= params[:adv_search][:birth_date_year] %></span>
        <% end %>
        <% if params[:search][:status_equals]=="true" %>
          <span> <%= t('present_employee') %> </span>
        <% elsif params[:search][:status_equals]=="false" %>
          <span> <%= t('former_employee') %> </span>
        <% else %>
          <span><%= t('all') %></span>
        <% end %>

      </div>
      <%= link_to "► #{t('search_again')}", {:action=>"advanced_search"}, :class => "user_button" %>
      <div class="extender"></div>
  <div class="search-again">
  <% unless @employees.empty? %>
          <%= link_to "► #{t('pdf_report')}",   {:action => "advanced_search_pdf",:search=>params[:search],:for =>searched_for, :result =>@employees,:status=>params[:search][:status_equals], :report_format_type =>"pdf",:format => 'pdf', :page_height=>1300}, :target => '_blank', :class => "user_button" %>
          <%= link_to "► #{t('csv_report')}" , {:controller => 'csv_export', :action => 'generate_csv', :csv_report_type => "employee_advance_search",:report_format_type => "csv" ,:search=>params[:search],:for =>searched_for, :result =>@employees,:status=>params[:search][:status_equals]}, :target => '_blank',:class => "user_button" %>
        <% end %>
  </div>
      <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
        <% unless @employees.empty? %>
          <tr class="tr-head">
            <td>
              <%= t('sl_no') %>
            </td>
            <td>
              <%= t('first_name')  %>
    <%# if @sort_order=="first_name-ascend" %>
    <%#= link_to  "#{t('first_name')}&nbsp;▲", {:action=>"advanced_search", :search=>params[:search], :adv_search=>params[:adv_search],:sort_order=>"first_name-descend"} %>
    <%# elsif @sort_order=="first_name-descend" %>
    <%#= link_to  "#{t('first_name')}&nbsp;▼", {:action=>"advanced_search", :search=>params[:search], :adv_search=>params[:adv_search],:sort_order=>"first_name-ascend"} %>
    <%# else %>
    <%#= link_to  "#{t('first_name')}", {:action=>"advanced_search", :search=>params[:search], :adv_search=>params[:adv_search],:sort_order=>"first_name-ascend"} %>
    <%# end %>
            </td>
            <td>
              <%= t('employee_id') %>
            </td>
            <td>
              <%= t('employee_department') %>
            </td>
          </tr>
          <tr class="tr-blank"></tr>

          <% @employees.each_with_index do |emp1, i| %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-1"><%= ((@employees.current_page - 1) * @employees.per_page) + (i + 1) %></td>
              <% if params[:search][:status_equals]=="false" %>
                <td class="col-4"><%=  link_to emp1.full_name, :controller => 'archived_employee', :action => 'profile', :id => emp1.id%></td>
              <% else %>
                <% if emp1.class.to_s == "Employee"%>
                  <td class="col-4"><%=  link_to emp1.full_name, :controller => 'employee', :action => 'profile', :id => emp1.id%></td>
                <% elsif emp1.class.to_s == "ArchivedEmployee" %>
                  <td class="col-4"><%=  link_to emp1.full_name, :controller => 'archived_employee', :action => 'profile', :id => emp1.id%></td>
                <% end %>
              <% end %>
              <td class="col-3"><%= emp1.employee_number %></td>
              <td class="col-4"><%= emp1.employee_department.name %></td>

            <% end %>
    <%# unless @employees2.nil? %>
    <%# k = @employees1.size %>
    <%# @employees2.each do |emp2| %>
    <%#*<tr class="tr-<%= cycle('odd', 'even') %>
    <%#*<td class="col-1"><%= k+= 1  %>
    <%#*<td class="col-4"><%=  link_to emp2.first_name + ' ' + emp2.last_name, :controller => 'archived_employee', :action => 'profile', :id => emp2.id%>
    <%#*<td class="col-3"><%= emp2.employee_number %>
    <%#*<td class="col-4"><%= emp2.employee_department.name %>
    <%# end %>
    <%# end  %>
          </tr>
        <% else %>
          <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="col-2"><%= t('no_employee_found') %></td>
          </tr>
        <% end %>
      </table>
      <%= will_paginate @employees %>
      <div class="extender">




      </div>
    </div>
  <% end %>
</div>
