<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('employee_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('leaving_school') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :employee_change_to_former, @employee %>
    <%= render_breadcrumbs  %>
  </div>
  <div id="student-details">
    <h4> <%= @employee.first_name %> | <%= t('employee_number') %>  : <%= @employee.employee_number %> | <%= t('department') %> : <%= @employee.employee_department.name %> </h4>
  </div>

  <div class="extender"> </div>
  <% if @dependency.present? or @payslip_dependency.present? %>
    <% @dependency.each do |mod| %>
      <%= render :partial=> mod.classify.constantize.send("employee_dependency_hook") if mod.classify.constantize.respond_to?("employee_dependency_hook") %>
    <% end %>
    <%  if @payslip_dependency.present? %>
      <%= render :partial => "employee_payslips/employee_dependency" %>
    <% end %>
  <% else %>
    <div id="remove-student">
      <p><%= t('paragraph') %></p>

      <% form_for :remove do |f| %>
        <%= f.error_messages  %>
        <div class="label-field-pair">
          <label for="remove_descr"><%= t('reason_for_leaving') %></label>
          <div class="text-input-bg"><%= f.text_field :status_description %></div>
        </div>
        <div class="label-field-pair">
          <label><%= t('leaving_date') %>:</label>
          <div class="input-container"><%= calendar_date_select_tag 'leaving_date', I18n.l(Date.today,:format=>:default) ,:popup=>:force, :onchange => "validate();"%></div>
        </div>
        <div id="submit-button">
          <%= submit_tag "► #{t('delete_text')}",:class=>'submit_button', :disable_with => "► #{t('please_wait')}" %>
        </div>

      <% end %>
    </div>
  <% end %>

</div>


<script type="text/javascript">
  validate = function(){
    j(".wrapper").remove();
    selected_date = j("#leaving_date").val();
    date_of_joining = '<%= @employee.joining_date %>'
    if(selected_date < date_of_joining){
      j("input[type='submit']").prop("disabled",true)
      j("#submit-button").before("<div class='wrapper'><div class='error-icon'></div><div class='error-msg'>Leaving date cannot be lesser than joining date</div></div></div>")
    }
    else{
      j("input[type='submit']").prop("disabled",false)
    }
  }
</script>