<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('employee_settings') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= "#{t('edit_employee_department')}" %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :employee_edit_department, @department %>
    <%= render_breadcrumbs  %>
  </div>


  <%- form_for :department do |c| -%>

    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <% unless flash[:warn_notice].nil? %>
      <div id="errorExplanation" class="errorExplanation"><%= flash[:warn_notice] %> </div>
    <% end %>

    <%= error_messages_for 'department' %>
    <div id="form-content">
      <div class="label-field-pair">
        <label for="department_name"><%= t('name') %></label>
        <div class="text-input-bg"> <%= c.text_field :name %> </div>
      </div>

      <div class="label-field-pair">
        <label for="department_code"><%= t('department_code') %></label>
        <div class="text-input-bg"> <%= c.text_field :code %> </div>
      </div>

      <div class="label-checkbox-pair">
        <label class="status" for="status"><%= t('status') %></label>
        <div id="radio-buttons">
          <%= c.radio_button  "status", "true", :checked => "checked" %>
          <label class="label_for_status" for="add_grade_status_true"><%= t('active') %></label>

          <%= c.radio_button  "status", "false" %>
          <label class="label_for_status" for="add_grade_status_false"><%= t('inactive') %></label>
        </div>
      </div>

      <div id="submit-button">
        <%=submit_tag("► #{t('update')}") %>
      </div>
    </div>

  <%- end -%>


</div>
