<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= "#{t('hr_management')}" %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('human_resource') %></div>


</div>
<div id="page-yield">
   <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>

  <%#= render_help_wizard(:help_config=>:hr) %>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div id="box">
    <% if permitted_to? :settings, :employee %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('hr_setting')}", :controller=>"employee", :action=>"settings"%></div>
        <div class="link-descr"><%= "#{t('hr_setting_desc')}" %></div>
      </div>
    <%end%>

    <% if permitted_to? :employee_management, :employee %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('employee_management_text')}", :controller=>"employee", :action=>"employee_management"%></div>
        <div class="link-descr"><%= "#{t('manage_all_employee')}" %></div>
      </div>
    <%end%>

    <% if permitted_to? :employee_attendance, :employee %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('employee_leave_management')}", :controller=>"employee", :action=>"employee_attendance" %></div>
        <div class="link-descr"><%= "#{t('manage_all_employee_attendance_and_leave')}" %></div>
      </div>
    <%end%>

    <% if permitted_to? :search, :employee %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('employee_search').titleize}", :controller=>"employee", :action=>"search" %></div>
        <div class="link-descr"><%= "#{t('search_for_employees')}" %></div>
      </div>
    <%end%>
    
    <% if permitted_to? :payroll_and_payslips, :employee %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('payroll_and_payslips')}", :controller=>"employee", :action=>"payroll_and_payslips" %></div>
        <div class="link-descr"><%= "#{t('payroll_and_payslip_desc')}" %> </div>
      </div>
    <% end %>
  </div>
</div>
