<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<%  if (rtl?) %>
<script>
  j(document).ready(function() {
    j(".drop_header").hover(
    function () {
      link_off = j(this).offset();
      link_width = j(this).width();
      link_height = j(this).height();
      menu_box = j(this).find(".more-menu-div");
      box_width = menu_box.width();
    //  c_b.css({ top: (0 - (child_bottom - main_bottom))});
      menu_box.css({top: (link_off.top + link_height),left: (link_off.left)});
      menu_box.css("display","block");
    },
    function () {
      j(this).find(".more-menu-div").css("display","none");
    });
  });
</script>
<% else %>
<script>
  j(document).ready(function() {
    j(".drop_header").hover(
    function () {
      link_off = j(this).offset();
      link_width = j(this).width();
      link_height = j(this).height();
      menu_box = j(this).find(".more-menu-div");
      box_width = menu_box.width();
    //  c_b.css({ top: (0 - (child_bottom - main_bottom))});
      menu_box.css({top: (link_off.top + link_height),left: ((link_off.left + link_width) - box_width)});
      menu_box.css("display","block");
    },
    function () {
      j(this).find(".more-menu-div").css("display","none");
    });
  });
</script>
<% end %>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('leave_management') %></h1>

<div id="inner-tab-menu">
  <ul>
    <li class='drop_header themed_bg themed-dark-hover-background'>
      <a href="#" class="drop_header_link"><%= "#{t('my_leaves')}" %> ▼</a>
      <ul id="box_one" class="more-menu-div" style="display:none;">
        <li class='themed_bg themed-dark-hover-background'><%= link_to t('apply'), :controller=>"employee", :action=>"leave_management" %></li>
        <li class='themed_bg themed-dark-hover-background'><%= link_to_remote t('my_leaves'),
            :update => "application-list",
            :url => {:controller=>"employee_attendance",:action => "individual_leave_applications", :id=>@employee.id} %></li>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('history')}", :controller=>"employee_attendance", :action=>"leave_history",:id=>@employee.id %></li>
      </ul>
    </li>

    <% unless @reporting_employees.empty? %>
      <% if @total_leave_count == 0 %>
        <li class='drop_header themed_bg themed-dark-hover-background'>
          <a href="#" class="drop_header_link"><%= "#{t('my_emp')}" %> ▼</a>
          <ul id="box_two" class="more-menu-div" style="display:none;">
            <!-- no new leave applications of any employee -->
            <li class='themed_bg themed-dark-hover-background'><%= link_to_remote "#{t('all_leaves')}",
                :update => "application-list",
                :url => {:controller=>"employee_attendance",:action => "all_leave_applications", :id=>@employee.id} %></li>
          </ul>
        </li>

      <% else %>
        <li class='drop_header themed_bg themed-dark-hover-background'>
          <a href="#" class="drop_header_link"><%= "#{t('my_emp')}" %><%= "(#{@total_leave_count})"  %> ▼</a>
          <ul id="box_two" class="more-menu-div" style="display:none;">
            <!-- no new leave applications of any employee -->
            <li class='themed_bg themed-dark-hover-background'><%= link_to_remote "#{t('new')}(#{@total_leave_count})",
                :update => "application-list",
                :url => {:controller=>"employee_attendance",:action => "new_leave_applications", :id=>@employee.id} %></li>
            <li class='themed_bg themed-dark-hover-background'><%= link_to_remote "#{t('all_leaves')}",
                :update => "application-list",
                :url => {:controller=>"employee_attendance",:action => "all_leave_applications", :id=>@employee.id} %></li>
          </ul>
        </li>
      <% end %>
    <% end %>




    <% if @all_employee_total_leave_count == 0 %>
      <li class='drop_header themed_bg themed-dark-hover-background'>
        <a href="#" class="drop_header_link"><%= "#{t('all_employee')}" %>  ▼</a>
        <ul id="box_three" class="more-menu-div" style="display:none;">
          <!-- no new leave applications of any employee -->
          <li class='themed_bg themed-dark-hover-background'><%= link_to_remote "#{t('all_records')}",
              :update => "application-list",
              :url => {:controller=>"employee",:action => "all_employee_leave_applications", :id=>@employee.id} %></li>
        </ul>
      </li>

    <% else %>
      <li class='drop_header themed_bg themed-dark-hover-background'>
        <a href="#" class="drop_header_link"><%= "#{t('all_employee')}" %><%= "(#{@all_employee_total_leave_count})"  %> ▼ </a>
        <ul id="box_three" class="more-menu-div" style="display:none;">
          <!-- no new leave applications of any employee -->
          <li class='themed_bg themed-dark-hover-background'><%= link_to_remote "#{t('new_text')}(#{@all_employee_total_leave_count})",
              :update => "application-list",
              :url => {:controller=>"employee_attendance",:action => "all_employee_new_leave_applications", :id=>@employee.id} %></li>
          <li class='themed_bg themed-dark-hover-background' ><%= link_to_remote "#{t('all_records')}",
              :update => "application-list",
              :url => {:controller=>"employee",:action => "all_employee_leave_applications", :id=>@employee.id} %></li>
        </ul>
      </li>

    <% end %>


  </ul>

</div>






</div>
<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>



  <div id="application-list">
    <div class="heading themed_text"><%= t('apply_for_a_leave') %></div>
    <% form_for :leave_apply do |l| %>
        <%= error_messages_for :leave_apply %>
        <%= l.hidden_field :employee_id, :value=>@employee.id %>
        <div class="label-field-pair">
          <label for="leave_type"><%= t('leave_type') %>:</label>
          <div class="text-input-bg"><%= select :leave_apply, :employee_leave_type_id, @leave_types.map {|s| [s.name, s.id]},:prompt => "Select" %></div>
        </div>
        <div class="label-field-pair">
          <label for="create_user" id="create_user_option"><%= t('is_half_day') %></label>
          <div class="text-input-bg"><%= l.check_box :is_half_day, :checked => false %></div>
        </div>

        <div class="label-field-pair">
          <label for="start_date"><%= t('start_date') %></label>
          <% start_date = params[:leave_apply][:start_date] if params[:leave_apply].present? %>
          <div class="text-input-bg"><%= calendar_date_select_tag 'leave_apply[start_date]' ,I18n.l( start_date.present? ? start_date.to_date : Date.today, :format=>:default),:popup=>:force  %></div>
        </div>
        <div class="label-field-pair">
          <label for="end_date"><%= t('end_date') %>:</label>
          <% end_date = params[:leave_apply][:end_date] if params[:leave_apply].present? %>
          <div class="text-input-bg"><%= calendar_date_select_tag 'leave_apply[end_date]' ,I18n.l( end_date.present? ? end_date.to_date : Date.today, :format=>:default),:popup=>:force   %></div>
        </div>
        <div class="label-field-pair">
          <label for="reason"><%= t('reason') %>:</label>
          <div class="text-input-bg"><%= l.text_field   :reason %></div>
        </div>

        <div id="submit-button">
          <%=  submit_tag("► #{t('create_text')}", :disable_with => "► #{t('please_wait')}") %>
        </div>
      <% end %>
      <div class="extender"></div>
    </div>
  </div>
