<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('hr_management')}" %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('payroll_and_payslips') %></div>


</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>


  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div id="box">
    <% if permitted_to? :index , :payroll_categories %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('payroll_categories')}", :controller=>"payroll_categories", :action=>"index"%></div>
        <div class="link-descr"><%= "#{t('payroll_category_desc')}" %></div>
      </div>
    <% end %>
    <% if permitted_to? :index , :payroll_groups %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('payroll_groups').titleize}", :controller=>"payroll_groups", :action=>"index"%></div>
        <div class="link-descr"><%= "#{t('payroll_group_desc')}" %></div>
      </div>
    <% end %>
    <% if permitted_to? :payslip_for_payroll_group , :employee_payslips %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('payslip_for_payroll_group')}", :controller=>"employee_payslips", :action=>"payslip_for_payroll_group"%></div>
        <div class="link-descr"><%= "#{t('payslip_for_payroll_group_desc')}" %></div>
      </div>
    <% end %>
    <% if permitted_to? :payslip_for_employees , :employee_payslips %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('payslip_for_employees')}", :controller=>"employee_payslips", :action=>"payslip_for_employees"%></div>
        <div class="link-descr"><%= "#{t('payslip_for_employee_desc')}" %></div>
      </div>
    <% end %>
    <% if permitted_to? :view_all_rejected_payslips , :employee_payslips %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('rejected_payslips').titleize}", :controller=>"employee_payslips", :action=>"view_all_rejected_payslips" %></div>
        <div class="link-descr"><%= "#{t('rejected_payslips_desc')}" %></div>
      </div>
    <% end %>

    <% if permitted_to? :payslip_settings , :employee_payslips %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('payslip_settings')}", :controller=>"employee_payslips", :action=>"payslip_settings" %></div>
        <div class="link-descr"><%= "#{t('payslip_settings_desc')}" %></div>
      </div>
    <% end %>

    <% if permitted_to? :view_monthly_payslip, :finance %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('payslip_report')}", :controller => "finance", :action => "view_monthly_payslip", :hr => 1 %></div>
        <div class="link-descr"><%= t('payslip_reports_desc') %></div>
      </div>
    <% end %>

    <% if permitted_to? :index, :hr_reports %>
      <div class="link-box">
        <div class="link-heading"><%= link_to t('advanced_payslip_reports'), :controller => "hr_reports", :action => "index", :hr => 1 %></div>
        <div class="link-descr"><%= t('advanced_payslip_reports_desc') %></div>
      </div>
    <% end %>
  </div>
</div>
