<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="page-yield">

  <div class="hor_line"></div>
  <div id ="main_info">
    <h2> <%= @employee.full_name %>  </h2>
    <h4><%= t('employee_profile') %>(<%= t('general') %>)</h4>
  </div>

  <div id="general_info">
    <table id="pdf-table" width="100%" cellspacing="0">
      <tr class="odd"><td class="col-pdf"><%= t('employee_number') %></td><td class="col-pdf"><%= @employee.employee_number unless @employee.employee_number.nil? %></td></tr>
      <tr class="even"><td class="col-pdf"><%= t('joining_date') %></td><td class="col-pdf"><%= format_date(@employee.joining_date,:format=>:long) unless @employee.joining_date.nil? %></td></tr>
      <tr class="odd"><td class="col-pdf"><%= t('department') %></td><td class="col-pdf"><%= @employee.employee_department.name unless @employee.employee_department.name.nil? %></td></tr>
      <tr class="even"><td class="col-pdf"><%= t('category') %></td><td class="col-pdf"><%= @employee.employee_category.name unless @employee.employee_category.name.nil? %></td></tr>
      <tr class="odd"><td class="col-pdf"><%= t('position') %></td><td class="col-pdf"><%= @employee.employee_position.name unless @employee.employee_position.name.nil? %></td></tr>
      <tr class="even"><td class="col-pdf"><%= t('grade') %></td><td class="col-pdf"><%= @employee.employee_grade.name unless (@employee.employee_grade.nil? or @employee.employee_grade.name.nil?) %></td></tr>
      <tr class="odd"><td class="col-pdf"><%= t('job_title') %></td><td class="col-pdf"><%= @employee.job_title unless @employee.job_title.nil? %></td></tr>
      <tr class="even"><td class="col-pdf"><%= t('manager') %></td><td class="col-pdf"><%= @reporting_manager.full_name unless @reporting_manager.nil? %></td></tr>
      <tr class="odd"><td class="col-pdf"><%= t('gender') %></td><td class="col-pdf"><%= t("#{@gender.downcase}") unless @gender.nil? %></td></tr>
      <tr class="even"><td class="col-pdf"><%= t('status') %></td><td class="col-pdf"><%= t("#{@status.downcase}") unless @status.nil? %></td></tr>
      <tr class="odd"><td class="col-pdf"><%= t('qualification') %></td><td class="col-pdf"><%= @employee.qualification unless @employee.qualification.nil? %></td></tr>
      <tr class="even"><td class="col-pdf"><%= t('total_exp') %></td><td class="col-pdf"><%= @total_years.to_s+" #{t('years')} "+@total_months.to_s+" #{t('months')}" unless @total_years.nil? or @total_months.nil? %></td></tr>
      <tr class="odd"><td class="col-pdf"><%= t('exp_info') %></td><td class="col-pdf"><%= @employee.experience_detail unless @employee.experience_detail.nil? %></td></tr>
      <tr class="even"><td class="col-pdf"><%= t('biometric_id') %></td><td class="col-pdf"><%= @biometric_id %></td></tr>
    </table>

  </div>

  <div id="page-extender"></div>

  <div id ="main_info">
    <h2> <%= @employee.full_name %>  </h2>
    <h4> <%= t('employee_profile') %>(<%= t('personal') %>)</h4>
  </div>
  <div id="personal_info">
    <table id="pdf-table" width="100%" cellspacing="0">
      <tr class="odd"><td class="col-pdf"><%= t('dob') %></td><td class="col-pdf"><%= format_date(@employee.date_of_birth,:format=>:long) unless @employee.date_of_birth.nil? %></td></tr>
      <tr class="even"><td class="col-pdf"><%= t('marital_status') %></td><td class="col-pdf"><%= t(@employee.marital_status) if @employee.marital_status.present? %></td></tr>
      <tr class="odd"><td class="col-pdf"><%= t('no_of_children') %></td><td class="col-pdf"><%= @employee.children_count unless @employee.children_count.nil? %></td></tr>
      <tr class="even"><td class="col-pdf"><%= t('father_name') %></td><td class="col-pdf"><%= @employee.father_name unless @employee.father_name.nil? %></td></tr>
      <tr class="odd"><td class="col-pdf"><%= t('mother_name') %></td><td class="col-pdf"><%= @employee.mother_name unless @employee.mother_name.nil? %></td></tr>
      <% unless @employee.marital_status == "single" %>
        <tr class="even"><td class="col-pdf"><%= t('spouse_name') %></td><td class="col-pdf"><%= @employee.husband_name unless @employee.husband_name.nil? %></td></tr>
        <tr class="odd"><td class="col-pdf"><%= t('blood_group') %></td><td class="col-pdf"><%= @employee.blood_group unless @employee.blood_group.nil? %></td></tr>
        <tr class="even"><td class="col-pdf"><%= t('nationality') %></td><td class="col-pdf"><%= @employee.nationality.full_name unless @employee.nationality.name.nil? %></td></tr>
      <% else %>
        <tr class="even"><td class="col-pdf"><%= t('blood_group') %></td><td class="col-pdf"><%= @employee.blood_group unless @employee.blood_group.nil? %></td></tr>
        <tr class="odd"><td class="col-pdf"><%= t('nationality') %></td><td class="col-pdf"><%= @employee.nationality.full_name unless @employee.nationality.name.nil? %></td></tr>
      <% end %>
    </table>

  </div>
  <div id="page-extender1"></div>

  <div id ="main_info">
    <h2> <%= @employee.full_name %>  </h2>
    <h4> <%= t('employee_profile') %>(<%= t('address_details') %>)</h4>
  </div>
  <div id="personal_info">
    <table id="pdf-table" width="100%" cellspacing="0">
      <tr class="odd"><td class="col-pdf"><%= t('home_address') %></td><td class="col-pdf"><%= @employee.home_address_line1 unless @employee.home_address_line1.nil? %><br/><%= @employee.home_address_line2 unless @employee.home_address_line2.nil? %></td></tr>
      <tr class="even"><td class="col-pdf"><%= t('city') %></td><td class="col-pdf"><%= @employee.home_city unless @employee.home_city.nil? %></td></tr>
      <tr class="odd"><td class="col-pdf"><%= t('state') %></td><td class="col-pdf"><%= @employee.home_state unless @employee.home_state.nil? %></td></tr>
      <tr class="even"><td class="col-pdf"><%= t('country') %></td><td class="col-pdf"><%= @home_country unless @home_country.nil? %></td></tr>
      <tr class="odd"><td class="col-pdf"><%= t('home') %> <%= t('zip') %></td><td class="col-pdf"><%= @employee.home_pin_code unless @employee.home_pin_code.nil? %></td></tr>
      <tr class="even"><td class="col-pdf"><%= t('office_address') %></td><td class="col-pdf"><%= @employee.office_address_line1 unless @employee.office_address_line1.nil? %><br/><%= @employee.office_address_line2 unless @employee.office_address_line2.nil? %></td></tr>
      <tr class="odd"><td class="col-pdf"><%= t('city') %></td><td class="col-pdf"><%= @employee.office_city unless @employee.office_city.nil? %></td></tr>
      <tr class="even"><td class="col-pdf"><%= t('state') %></td><td class="col-pdf"><%= @employee.office_state unless @employee.office_state.nil? %></td></tr>
      <tr class="odd"><td class="col-pdf"><%= t('country') %></td><td class="col-pdf"><%= @office_country unless @office_country.nil? %></td></tr>
      <tr class="even"><td class="col-pdf"><%= t('office') %> <%= t('zip') %></td><td class="col-pdf"><%= @employee.office_pin_code unless @employee.office_pin_code.nil? %></td></tr>
    </table>

  </div>

  <div id="page-extender1"></div>

  <div id ="main_info">
    <h2> <%= @employee.full_name %>  </h2>
    <h4><%= t('employee_profile') %>(<%= t('contact_details') %>)</h4>
  </div>

  <div id="personal_info">
    <table id="pdf-table" width="100%" cellspacing="0">
      <tr class="odd"><td class="col-pdf"><%= t('office_phone1') %></td><td class="col-pdf"><%= @employee.office_phone1 unless @employee.office_phone1.nil? %></td></tr>
      <tr class="even"><td class="col-pdf"><%= t('office_phone2') %></td><td class="col-pdf"><%= @employee.office_phone2 unless @employee.office_phone2.nil? %></td></tr>
      <tr class="odd"><td class="col-pdf"><%= t('mobile') %></td><td class="col-pdf"><%= @employee.mobile_phone unless @employee.mobile_phone.nil? %></td></tr>
      <tr class="even"><td class="col-pdf"><%= t('home_phone') %></td><td class="col-pdf"><%= @employee.home_phone unless @employee.home_phone.nil? %></td></tr>
      <tr class="odd"><td class="col-pdf"><%= t('email') %></td><td class="col-pdf"><%= @employee.email unless @employee.email.nil? %></td></tr>
      <tr class="even"><td class="col-pdf"><%= t('fax') %></td><td class="col-pdf"><%= @employee.fax unless @employee.fax.nil? %></td></tr>
    </table>

  </div>


  <% p= 'odd' %>

  <% unless @bank_details.blank? %>

    <div id="page-extender1"></div>
    <div id ="main_info">
      <h2> <%= @employee.full_name %>  </h2>
      <h4><%= t('employee_profile') %>(<%= t('bank_account_details') %>)</h4>
    </div>

    <div id="personal_info">
      <table id="pdf-table" width="100%" cellspacing="0">
        <% @bank_details.each do |b| %>
          <% p =cycle('odd','even ') %>
          <tr class="<%= "#{p}" %>"><td class="col-pdf"><%= b.bank_field.name %></td><td class="col-pdf"><%= b.bank_info %></td></tr>
        <% end %>
      </table>
    </div>



  <% end %>


  <% unless @additional_details.blank? %>


    <div id="page-extender1"></div>
    <div id ="main_info">
      <h2> <%= @employee.full_name %>  </h2>
      <h4> <%= t('employee_profile') %>(<%= t('additional_detail') %>)</h4>
    </div>

    <div id="personal_info_details">
      <table id="pdf-table" width="100%" cellspacing="0">
        <% @additional_details.each do |add_det| %>
          <% p =cycle('odd','even ') %>
          <tr class="<%= "#{p}" %>"><td class="col-pdf"><%= add_det.additional_field.name %></td><td class="col-pdf"><%= add_det.additional_info.gsub(/\n/, '<br>') %></td></tr>
        <% end %>
      </table>
    </div>


  <% end %>

</div>
