
.link-box {
    margin:10px 40px;
    width:270px;
    float:right;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
.link-descr{margin-top:5px;color:#666;text-align:right;}
#box{
    width:700px;
    margin:0px auto;
}



.submit_button {
    margin-top:10px;
    margin-right: 260px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
div.fieldWithErrors{
    display: inline;
}
form.edit_exam{
    margin: 0 auto;
/*    width: 500px;*/
}
.necessary-field {
    color: red;
    font-size: 1.1em;
}
