.label-field-pair label{
    color: black;
}

.custom-gateway-name{
    float: left;
    margin-left: 5px;
    margin-right: 60px;
    margin-top:2px;
    font-size:13px;
}

.label-field-pair-gateway {
    border-bottom: 1px solid #CCCCCC;
    float: left;
    padding-top: 25px;
    width: 100%;
}

.label-field-pair-gateway label{
    font-weight: bold;
    max-width: 22%;
    min-width: 22%;
    height:45px;
    float: left;
    font-size: 15px;
    font-family: Arial;
}
.gateway-list{
    float:left;
    margin-bottom:25px;
    width:764px;
}

.label-field-pair-gateway div.value {
    float: left;
    min-width: 25%;
}
.payment_modules{
    width:100%;
}

.value label {
    float: left;
    font-size: 13px;
    font-weight: normal;
    font-family: Arial;
    margin-left: 8px;
    margin-top: 2px;
    max-width: 136px;
    min-width: 160px;
}


.value input {
    float: left;
/*    max-width: 10px;
    min-width: 10px;*/
}

.value img {
    float: left;
    margin-left: 5px;
    margin-right: 60px;
    margin-top: -5px;
}
.gateway-button {
    width:750px;
    /*font-weight:bold;*/
    margin-bottom:20px;
}

.submit-button {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    margin: 18px 470px 0;
    padding: 7px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.check_box_group{
    float:right;
    min-width: 78%;
    max-width: 78%;
}

#webpay_img{
    margin-top: -10px;
}
#form-container{
    display: none;
}
.helper_text{
    float: left;
    width: 380px;
}
.info_icon_img{
    margin: 4px -15px 6px 0px;
}
.tooltip_info{
    left: -65px!important;
    top: 26px!important;
}