<% total_fees =0 %>
<div class="receipt-container">
<%#=render :partial=>'fee_report_header',:locals=>{:v=>v}%>
    <div id="pdf-header">
        <% logo_visible = @domatrix.present? ? @logo_style : (ReceiptPrinter.current_settings_object.dot_matrix? ? 'none':'block') %>
        <div class="logo" style="display: <%= logo_visible %>;">
            <%= image_tag current_school_detail.logo.url(:original, false) %>
        </div>
        <div class="header-content <%= logo_visible %>" style='text-align:<%= @config[:pdf_receipt_halignment].present? ? "#{@config[:pdf_receipt_halignment]}" : "left" %>;'>
            <p><%=Configuration.get_config_value('InstitutionName'); %></p>
            <p class="institution_address"><%=Configuration.get_config_value('InstitutionAddress'); %></p>
        </div>

    </div>
    <div class="top">
        <hr class="hor_line"/>
        <span class="title"><%= t('fee_receipt') %></span>
        <span class="receipt_no"><%= t('receipt_no') %>:<%= v["receipt_no"] %></span>
        <span class="date"><%= t('date_text') %>:<%=format_date(v["transaction_date"],:format=>:short_date)%></span>
        <hr class="hor_line"/>
    </div>
    <div id="basic_info_section">

        <%if v["payee"]["type"] == "Student"%>
          <div class="label_collection_part">
              <div class="label_part">
                  <div class="label_name"><%=t('student_name')%></div>
                  <div class="value_span" style="font-weight:bold;"><%=v["payee"]["full_name"]%></div>
              </div>
              <div class="label_part label_right">
                  <div class="label_name label_right_value"><%=t('course_text')%></div>
                  <div class="value_span"><%=v["payee"]["full_course_name"]%></div>
              </div>    
          </div>
          <div class="label_collection_part">
              <div class="label_part">
                  <div class="label_name"><%=t('admission_no')%></div>
                  <div class="value_span"><%=v["payee"]["admission_no"]%></div>
              </div>    
              <%if v['payee']['type'] =='Student'%>
                <div class="label_part label_right">
                    <div class="label_name label_right_value"><%=t('parent')%></div>
                    <div class="value_span"><%=v["payee"]["guardian_name"]%></div>
                </div>    
              <%end%>
          </div>

        <%elsif v["payee"]["type"] == "Employee"%>
          <div class="label_collection_part">
              <div class="label_part">
                  <div class="label_name"><%=t('employee_text')%></div>
                  <div class="value_span" style="font-weight:bold;"><%=v["payee"]["full_name"]%></div>
              </div>
              <div class="label_part label_right">
                  <div class="label_name label_right_value"><%=t('department')%></div>
                  <div class="value_span"><%=v["payee"]["employee_department_name"]%></div>
              </div>    
          </div>
          <div class="label_collection_part">
              <div class="label_part">
                  <div class="label_name"><%=t('employee_number')%></div>
                  <div class="value_span"><%=v["payee"]["employee_number"]%></div>
              </div>
          </div>

        <%else%>
          <div class="label_collection_part">
              <div class="label_part">
                  <div class="label_name"><%=t('guest_text')%></div>
                  <div class="value_span"><%=v["payee"]["full_name"]%></div>
              </div>
          </div>

        <%end%>

        <div class="label_collection_part">
            <%if v["finance_type"] == 'FinanceFee'%>
              <div class="label_part"><div class="label_name"><%=t('finance_fee_collection')%></div><div class="value_span"><%=v["collection"].name%></div></div>
            <%elsif v["finance_type"] == 'HostelFee'%>
              <div class="label_part"><div class="label_name"><%=t('hostel_fee_collection')%></div><div class="value_span"><%=v["collection"].name%></div></div>
            <%elsif v["finance_type"] == 'TransportFee'%>
              <div class="label_part"><div class="label_name"><%=t('transport_fee_collection')%><</div><div class="value_span"><%=v["collection"].name%></div></div>
            <%elsif v["finance_type"] == 'InstantFee'%>
              <div class="label_part"><div class="label_name"><%=t('instant_fee_category')%></div><div class="value_span"><%=v["collection"].category_name%></div></div>
            <% else %>
              <div class="label_part"><div class="label_name"><%=t('fee_collection')%></div><div class="value_span"><%= t('fee_collection_name') %></div></div>
            <%end%>
            <%unless v["finance_type"] == 'InstantFee'%>
              <div class="label_part label_right"><div class="label_name label_right_value"><%=t('due_date')%></div><div class="value_span"><%= format_date(v["due_date"],:format=>:short_date) %></div></div>
            <%end%>
        </div>

        <% if roll_number_enabled? and v["payee"]["roll_number"].present? %>
          <div class="label_collection_part">
              <div class="label_part"><div class="label_name"><%=t('roll_no')%></div><div class="value_span"><%=v["payee"]["roll_number"]%></div></div>
          </div>
        <%end%>

    </div>
    <% if has_particulars?(v) %>
  <%#= v[:particulars_list].inspect %>
      <div class="subsection">
          <hr class="light_hor_line"/>
          <div id="sub_text_left"><%=t('particular')%></div>
          <div id="sub_text_right" class=""><%=t('amount')%> (<%= v["currency"] %>)</div>
          <hr class="light_hor_line"/>
          <div class="extender"></div>
      </div>
    <% end %>
    <% if v[:is_particular_wise] != true%>
      <%v["categorized_particulars"].each_with_index do |particular_type,i|%>
        <%particular_type.last.each_with_index do |fp,j|%>
          <div class="particulars_list">
              <div class="slno"><%=i+j+1%>.</div>
              <div class="particalar_name"><%=fp.name%></div>
              <div class="particalar_amount"><%= precision_label fp.amount %></div>
          </div>
        <%end%>
      <%end%>
      <%if precision_label(v["total_discount"].to_f).to_f != 0.0%>
        <div class="subsection">
            <hr class="light_hor_line"/>
            <div id="sub_text_left"><%=t('discount')%></div>
            <div id="sub_text_right"><%=t('amount')%> (<%= v["currency"] %>)</div>
            <hr class="light_hor_line"/>
            <div class="extender"></div>
        </div>
        <%v[:discounts_list].each_with_index do |d,i|%>
          <div class="particulars_list">
              <div class="slno"><%=i+1%>.</div>
              <div class="particalar_name"><%= d.name %></div>
              <div class="particalar_amount"><%= precision_label(d.amount) %></div>
          </div>
        <%end%>
      <%end%>

      <% if has_tax?(v) %>
        <div class="subsection">
            <div class="light_hor_line"></div>
            <div id="sub_text_left"><%= t('tax_text') %></div>
            <div id="sub_text_right"><%= t('amount') %> (<%= v["currency"] %>)</div>
            <div class="light_hor_line"></div>
            <div class="extender"></div>
        </div>
        <% i = 0 %>
        <% v['tax_slab_collections'].each_pair do |slab, tax_collections| %>
          <div class="particalars_list_item">
              <div class="slno"><%= i+=1 %>.</div>
              <div class="particalar_name"><%= "#{slab.name} &#x200E;(#{precision_label(slab.rate)}%)&#x200E;" %></div>
              <div class="particalar_amount"><%= precision_label(tax_collections.map(&:tax_amount).sum.to_f) %></div>
          </div>
        <% end %>
      <% end %>

      <% if v[:fine_list].present? and v["fine_amount"].to_f > 0.0 %>
        <div class="subsection">
            <hr class="light_hor_line"/>
            <div id="sub_text_left"><%=t('fine')%></div>
            <div id="sub_text_right"><%=t('amount')%> (<%= v["currency"] %>)</div>
            <hr class="light_hor_line"/>
            <div class="extender"></div>
        </div>
        <%v[:fine_list].each_with_index do |fine,i|%>
          <div class="particulars_list">
              <div class="slno"><%=i+=1%>.</div>
              <div class="particalar_name rtl_bracket_fix"><%= fine.name %></div>
              <div class="particalar_amount"><%= precision_label(fine.amount) %></div>
          </div>
        <%end%>
      <% end %>
    <% else %>
      <% v[:particulars_list].each_with_index do |particular,index| %>
        <div class="particular_wise_item">
            <div class="slno"><%=index+1%>.</div>
            <div class="particalar_name"><%=particular.name%></div>
            <div class="right_total addl_5_margin">
                <div class="right_total_label"><%=t('actual_amount')%></div>
                <div class="right_total_amount"><%= precision_label(particular.amount) %></div>
                <%unless v["finance_type"] == 'InstantFee'%>
                  <div class="right_total_label"><%=t('remaining_balance')%></div>
                  <div class="right_total_amount"><%= precision_label(particular.remaining_balance) %></div>
                <%end%>
                <% if particular_has_discount(particular) %>
                  <div class="right_total_label"><%=t('discount')%></div>
                  <div class="right_total_amount"><%= precision_label(particular.discount)%></div>
                <% end %>
                <% if v['finance_type'] == 'InstantFee' and v['tax_enabled'] %>
                  <div class="right_total_label"><%=t('tax_text')%></div>
                  <div class="right_total_amount"><%= precision_label(particular.tax_amount) %></div>                  
                <% end %>
                <div class="right_total_label"><%=t('amount_paid')%></div>
                <div class="right_total_amount"><%= precision_label(particular.amount_paid) %></div>
                <%unless v["finance_type"] == 'InstantFee'%>
                  <div class="right_total_label"><%=t('balance')%></div>
                  <div class="right_total_amount"><%= precision_label(particular.balance) %></div>
                <%end%>
            </div>
        </div>
      <% end %>
      <% if v[:fine_list].present? %>
        <div class="subsection">
            <hr class="light_hor_line"/>
            <div id="sub_text_left"><%=t('fine')%></div>
            <div id="sub_text_right"><%=t('amount')%> (<%= v["currency"] %>)</div>
            <hr class="light_hor_line"/>
            <div class="extender"></div>
        </div>
      <% end %>
      <%v[:fine_list].each_with_index do |fine,i|%>
        <div class="particulars_list">
            <div class="slno"><%=i+=1%>.</div>
            <div class="particalar_name"><%= fine.name %></div>
            <div class="particalar_amount"><%= precision_label(fine.amount) %></div>
        </div>
      <%end%>
    <% end %>
    <!--  -->
    <div class="summary">
        <div class="subsection summary-line">
            <hr class="light_hor_line"/>
            <div id="sub_text_left"><%=t('summary')%></div>
            <div id="sub_text_right"><%=t('amount')%> (<%= v["currency"] %>)</div>
            <hr class="light_hor_line"/>
            <div class="extender"></div>
        </div>
        <%i=0%>
        <div class="particulars_list">
            <div class="slno"><%=i+=1%>.</div>
            <div class="particalar_name"><%= "#{t('total')} #{t('fees_text')}" %></div>
            <div class="particalar_amount"><%= precision_label(v["total_payable"]) %></div>
        </div>
        <% if has_discount?(v) %>
          <div class="particulars_list">
              <div class="slno"><%=i+=1%>.</div>
              <div class="particalar_name"><%= "#{t('total')} #{t('discount')}" %></div>
              <div class="particalar_amount"><%= precision_label(v["total_discount"].to_f) %></div>
          </div>
        <% end %>
        <% if has_tax?(v) or v["collection"].tax_enabled %>
          <div class="particalars_list_item">
              <div class="slno"><%= i+=1 %>.</div>
              <div class="particalar_name"><%= "#{t('total')} #{t('tax_text')}" %></div>
              <div class="particalar_amount"><%= precision_label(v["total_tax"].to_f) %></div>
          </div>
        <% end %>
        <% if has_fine?(v) %>
          <div class="particulars_list">
              <div class="slno"><%=i+=1%>.</div>
              <div class="particalar_name"><%= "#{t('total_fine_amount')}" %></div>
              <div class="particalar_amount"><%= precision_label(v['total_fine_amount']) %></div>
          </div>
        <% end %>
    </div>
    <div class="receipt-footer-bottom">
        <div class="left_info">
            <div class="left_info_label"><%=t('payment_mode')%></div>
            <div class="left_info_value"><%= v["payment_mode"] %></div>
            <%if v["reference_no"].present?%>
              <div class="left_info_label"><%= reference_no_label(v) %></div>
              <div class="left_info_value"><%= v["reference_no"] %></div>
            <%end%>
            <%if v["payment_note"].present?%>
              <div class="left_info_label"><%= t('notes') %></div>
              <div class="left_info_value"><%= v["payment_note"] %></div>
            <%end%>

            <% if has_tax?(v) %>
              <% if @tax_config.present? and @tax_config[:finance_tax_identification_label].present? %>
                <div class="left_info_label"><%= @tax_config[:finance_tax_identification_label] %></div>
                <div class="left_info_value"><%= @tax_config[:finance_tax_identification_number] %></div>          
              <% end %>
            <% end %>
        </div>
        <div class="right_total">
            <%unless v["finance_type"] == 'InstantFee'%>
              <div class="right_total_label"><%=t('total_amount_to_pay')%></div>
              <div class="right_total_amount"><%= precision_label(v["total_amount_to_pay"]) %></div>
              <% if has_previously_paid_fees?(v) %>
                <div class="right_total_label"><%=t('previous_payments')%></div>
                <div class="right_total_amount"><%= precision_label(v["done_amount"]) %></div>
              <% end %>
            <%end%>
            <% if has_previously_paid_fees?(v) %>
              <div class="right_total_label"><%=t('total_amount_paid')%></div>
              <div class="right_total_amount"><%= precision_label(v["total_amount_paid"].to_f) %></div>
            <% end %>      
            <%unless v["finance_type"] == 'InstantFee'%>
              <%if has_due?(v) %>
                <div class="right_total_label"><%=t('total_due_amount')%></div>
                <div class="right_total_amount"><%= precision_label(v["total_due_amount"].to_f) %></div>
              <% end %>
            <%end%>
        </div>
    </div>
    <div class="receipt-footer-bottom words_bottom">
        <% show_amount_in_words = (@config[:pdf_receipt_atow].present? and @config[:pdf_receipt_atow]=="1") %>
        <div class="left_info amount_margin">            
            <% if show_amount_in_words %>              
              <span style="font-weight: bold;"><%=t('amount_in_words')%></span> : 
              <%= NumberToWord.convert(precision_label(v["amount"].to_f), @config[:pdf_receipt_nsystem], @default_currency) %>
                <br/>
            <% end %>
            <% unless v["finance_type"] == 'InstantFee' %>
              <% if @invoice_enabled and v["collection"].invoice_enabled %>
                <span style="font-weight: bold;">
                    <%=t('payment_for_invoice')%></span> : 
                <%= v["invoice_no"] %>
              <% end %>
            <% end %>
        </div>    
        <div class="right_total">
            <div class="right_total_label"><%= t('amount_paid') %></div>
            <div class="right_total_amount"><%= precision_label(v["amount"].to_f) %></div>
        </div>
    </div>

    <div class="small_hor_line"></div>  
    <div id="pdf-footer-second">
        <div class="note_part"><%= @config[:pdf_receipt_custom_footer] %></div>    
        <div class="signature_part">
            <% if @config[:pdf_receipt_signature].present? and @config[:pdf_receipt_signature]=="1" %>
              <%= @config[:pdf_receipt_signature_name].blank? ? t('signature') :  @config[:pdf_receipt_signature_name] %>
            <% end %>
        </div>
    </div>
</div>
<div class="page-break"></div>
<script type="text/javascript">
  // var isFirefox = typeof InstallTrigger !== 'undefined';   // Firefox 1.0+
  // if (isFirefox) {
  //   j(".receipt-container").css("width","185mm");
  // }
  set_width_in_firefox("185mm");
</script>
<!-- <div class="page-break"></div> -->