<div class="col-1">
  <table class="assessment_details_tbl">
      <%  @assessment_group.display_details.each do |label,value| %>
          <% unless value.blank? %>
            <tr>
                <td><%=t(label)%></td>
                <td class="value"><%=value%></td>
            </tr>
          <% end %>
      <% end %>
  </table>
</div>
<div class="col-1">
  <table class="assessment_details_tbl">
      <tr>
          <td><%=t('course_text')%></td>
          <td class="value"><%=@course.full_name%></td>
      </tr>
      <tr>
          <td><%=t('batches_text')%></td>
          <td class="value"><%= batches.count%></td>
      </tr>
      <tr>
          <td><%=t('students_text')%></td>
          <td class="value"><%=@course.active_students_in_academic_year(@academic_year.id).count%></td>
      </tr>
  </table>
</div>