<table align="center" width="100%" cellpadding="1" cellspacing="1">
<%# subject_ids = assessments['assessments'].collect(&:subject_id) %>
<%# subjects = Subject.find subject_ids %>
    <tr class="tr-head">
        <td class="col-5"><%= "#{t('subject')} &#x200E;(#{assessments['assessments'].count})&#x200E;" %></td>
        <td class="col-6"><%= t('submission_status') %></td>
        <td class="actions"></td>
    </tr>
    <% assessments['assessments'].each do |assessment| %>
      <tr class="tr-<%= cycle('even', 'odd') %>">
          <td><%= assessment.subject.name %></td>
          <td>
            <span class="status"><%= assessment.submission_status_text %></span>
          </td>
          <td>
              <%= link_to t('enter_results_privilege'), attribute_scores_assessments_path(:batch_id=>batch.id, :assessment_group_id => assessment_group.id, :assessment_id => assessment.id) %>
          </td>
      </tr>
    <% end %>
</table>
<% if inactive_subjects.present? %>
<table align="center" width="100%" cellpadding="1" cellspacing="1" id="inactive_subjects">
      <tr class="tr-head"><td colspan="2"><%= t('subject_without_assessments') %></td></tr>
      <% inactive_subjects.each do |sub| %>
        <tr class="tr-<%= cycle('even', 'odd') %>">
            <td class="col-5"><%= sub.name %></td>
            <td class="col-1">
                <%= link_to t('activate'), activate_subject_assessments_path(:subject_id => sub.id, :assessment_group_id => assessment_group.id, :batch_id => batch.id) %>
            </td>
        </tr>
      <% end %>
  </table>
<% end %>