<div class="label-field-pair">
    <label for="exam_group"><%= t('exam_group') %></label>
    <div class="text-input-bg">
        <%= select_tag :group_id, options_for_select([["#{t('select_exam_group')}",'']] + @assessment_groups.map { |c| [c.name, c.id] }, 
          :selected => @assessment_group.try(:id)||""),:onchange => "#{remote_function(:url => {:action => "fetch_batches"},
        :with => "'group_id='+value+'&course_id='+'#{@course.id}'",
        :before => "Element.show('loader2')",
        :success => "Element.hide('loader2')")};"%>
    </div>
    <%= image_tag("loader.gif",
      :align => "absmiddle",
      :border => 0,
      :id => "loader2",
      :style =>"display: none;" ) %>
</div>