<div class="assessments_box">
    <div class="assessments_details">
        <div class="field_details group_name">
            <div class="field_name"><%= t(:exam_group) %></div>
            <div class="field_val"><%= "#{@assessment_group.name} &#x200E;(#{@assessment_group.code})&#x200E;" %></div>
        </div>
        <div class="field_details">
            <div class="field_name"><%= t('course_text') %></div>
            <div class="field_val"><%= @course.full_name %></div>
        </div>
        <% unless @batch.present? %>
          <div class="field_details">
              <div class="field_name"><%= t('batches_text') %></div>
              <div class="field_val"><%= @batches.count %></div>
          </div>
          <div class="field_details">
              <div class="field_name"><%= t('students_text') %></div>
              <div class="field_val"><%= @course.active_students_in_academic_year(@assessment_group.academic_year_id).count %></div>
          </div>
        <% else %>
          <div class="field_details">
              <div class="field_name"><%= t('batch') %></div>
              <div class="field_val"><%= @batch.name %></div>
          </div>
          <div class="field_details">
              <div class="field_name"><%= t('students_text') %></div>
              <div class="field_val"><%= @batch.students.count %></div>
          </div>
        <% end %>
    </div>
    <div class="schedule_dates">
        <div class="field_details">
            <div class="field_name"><%= t(:dates_text) %></div>
            <div class="field_val"><%= "#{format_date(@assessment_schedule.start_date)} #{t('to_text') } #{format_date(@assessment_schedule.end_date)}" %></div>
        </div>
        <div class="field_details">
            <div class="field_name"><%= t('exam_timings.first') %></div>
            <div class="field_val"><%= "#{@assessment_schedule.exam_timings[1][:start_time]} #{t('to_text') } #{@assessment_schedule.exam_timings[1][:end_time]}" %></div>
        </div>
        <% if @assessment_schedule.no_of_exams_per_day > 1 %>
          <div class="field_details">
              <div class="field_name"><%= t('exam_timings.second') %></div>
              <div class="field_val"><%= "#{@assessment_schedule.exam_timings[2][:start_time]} #{t('to_text') } #{@assessment_schedule.exam_timings[2][:end_time]}" %></div>
          </div>
        <% end %>
        <% if @assessment_schedule.no_of_exams_per_day > 2 %>
          <div class="field_details">
              <div class="field_name"><%= t('exam_timings.third') %></div>
              <div class="field_val"><%= "#{@assessment_schedule.exam_timings[3][:start_time]} #{t('to_text') } #{@assessment_schedule.exam_timings[3][:end_time]}" %></div>
          </div>
        <% end %>
        <% unless @batch.present? %>
          <%= link_to t('edit_dates'), edit_dates_assessment_path(@assessment_schedule), :class => 'edit_dates' %>
        <% end %>
    </div>
    <div id="scoring_details">
        <div class="sub-head"><%= t('scoring') %></div>
        <div class="field_details">
            <div class="field_name"><%= t('exam_type') %></div>
            <div class="field_val"><%= @assessment_group.exam_mode %></div>
        </div>
        <div class="field_details">
            <div class="field_name"><%= t('scoring') %></div>
            <div class="field_val"><%= @assessment_group.score_type %></div>
        </div>
        <% @assessment_group.scoring_details.each do |k, val| %>
          <div class="field_details">
              <div class="field_name"><%= k %></div>
              <div class="field_val"><%= val %></div>
          </div>
        <% end %>
        <% if [1, 3].include? @assessment_group.scoring_type %>
          <div class="field_details">
              <div class="field_name"><%= t('max_subject_marks') %></div>
              <div class="field_val"><%= text_field_tag "max_subject_marks", @assessment_group.maximum_marks, :onchange => "updateMaxMarks(this);" %></div>
              <div id="description"><%= t('max_subject_marks_desc') %></div>
          </div>
        <% end %>
        <% if @assessment_group.scoring_type == 1 %>
          <div class="field_details">
              <div class="field_name"><%= t('min_subject_marks') %></div>
              <div class="field_val"><%= text_field_tag "min_subject_marks", @assessment_group.minimum_marks, :onchange => "updateMinMarks(this);" %></div>
          </div>
        <% end %>
    </div>
    <hr/>
</div>