<table align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head">
        <td class="col-1"><%= "#{t('subject')} &#x200E;(#{assessments['assessments'].count})&#x200E;" %></td>
        <td class="col-1"><%= t('date_text') %></td>
        <% if [1, 3].include? @assessment_group.scoring_type %>
          <td class="col-3"><%= t('max_mark') %></td>
        <% end %>
        <% if @assessment_group.scoring_type == 1 %>
          <td class="col-3"><%= t('pass_criteria') %></td>
        <% end %>
        <td class="col-6"><%= t('submission_status') %></td>
        <td class="actions"></td>
    </tr>
    <% assessments['assessments'].each do |assessment| %>
      <tr class="tr-<%= cycle('even', 'odd') %>">
          <td><%= assessment.subject.name %></td>
          <td class="float"><%= format_date(assessment.start_date_time) %></td>
          <% if [1, 3].include? @assessment_group.scoring_type %>
            <td class="float"><%= assessment.maximum_marks %></td>
          <% end %>
          <% if @assessment_group.scoring_type == 1 %>
            <td class="float"><%= assessment.minimum_marks %></td>
          <% end %>
          <td>
            <span class="status"><%= assessment.submission_status_text %></span>
          </td>
          <td>
              <%= link_to t('enter_results_privilege'), subject_scores_assessment_path(assessment) %>
          </td>
      </tr>
    <% end %>
</table>