<%= javascript_include_tag "jquery.timepicker" %>
<%= stylesheet_link_tag ("jquery.timepicker") %>

<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('gradebook') %><%= beta_header %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('create_exam') %></div>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        <% breadcrumb :assessments_schedule_new, [@assessment_group,@academic_year,@course] %>
        <%= render_breadcrumbs  %>
    </div>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <div class="header">
        <%= t('schedule_exams_for_all_batches') %>
    </div>
    <%= render :partial => 'subject_assessment_details' %>
    <%= render :partial => 'subject_assessments_edit' %>
    
</div>