<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>



<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('gradebook') %><%= beta_header %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('manage_gradebook') %></div>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        <% breadcrumb :assessments_link_attributes, [@assessment_group,@academic_year,@course,@batch] %>
        <%= render_breadcrumbs  %>
    </div>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <div class="assessments_box">
        <div class="assessments_head">
            <div class="left">
                <label><%=t('exam_group')%></label>
                <span><%= @assessment_group.name_with_code %></span>
            </div>
            <div class="right">
                <label><%=t('status')%></label>
                <span><%='Active'%></span>
            </div>
        </div>
        <div class="assessments_details">
            <% batches = @course.batches_in_academic_year(@academic_year.id) %>
            <%= render :partial=> 'assessment_group_details' , :locals => {:batches => batches}%>
        </div>
        <div class="link_attributes_box">
            <% if @subjects.present? %>
              <div class="header"><%=t('exam_subjects_and_att_profile')%></div>
              <div class="form_cont">
                <%= render :partial=>'link_attribute_form' %>
              </div>
            <% else %>
              <p class="flash-msg"> <%= t('no_subjects') %> </p>
            <% end %>
        </div>
    </div>
