<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<%= javascript_include_tag "jquery.timepicker" %>
<%= stylesheet_link_tag ("jquery.timepicker") %>

<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('gradebook') %><%= beta_header %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('create_exam') %></div>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        <% breadcrumb :assessments_schedule_dates, [@assessment_group,@academic_year,@course] %>
        <%= render_breadcrumbs  %>
    </div>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <div class="header">
        <%= t('schedule_exams') %>
    </div>
    <div class="assessments_box">
        <div class="assessments_details">
            <div class="field_details">
                <div class="field_name"><%= t(:exam_group) %></div>
                <div class="field_val"><%= @assessment_group.name %></div>
            </div>
            <div class="field_details">
                <div class="field_name"><%= t(:exam_type) %></div>
                <div class="field_val"><%= @assessment_group.exam_mode %></div>
            </div>
            <div class="field_details">
                <div class="field_name"><%= t(:scoring) %></div>
                <div class="field_val"><%= @assessment_group.score_type %></div>
            </div>
            <div class="field_details">
                <div class="field_name"><%= t('course_text') %></div>
                <div class="field_val"><%= @course.full_name %></div>
            </div>
            <div class="field_details">
                <div class="field_name"><%= t('batches_text') %></div>
                <div class="field_val"><%= @batches.count %></div>
            </div>
            <div class="field_details">
                <div class="field_name"><%= t('students_text') %></div>
                <div class="field_val"><%= @course.active_students_in_academic_year(@academic_year.id).count %></div>
            </div>
        </div>
        <hr/>
        <div id="schedule_form">
            <% form_for @assessment_schedule, :url => save_schedule_assessment_path({:group_id => @assessment_group.id, :course_id => @course.id, :academic_year_id => @academic_year.id, :schedule_id => @assessment_schedule.id})  do |as| %>
              <%= session_fingerprint_field %> 
              <%= as.hidden_field :assessment_group_id %>
              <%= as.hidden_field :course_id %>
              <div class="sub-head"><%= t('batches_text') %></div>
              <% status = ((@assessment_schedule.new_record? and !@assessment_schedule.errors.any?) or (@batches.length == @assessment_schedule.batch_ids.length)) %>
              <div class="select_batches" id="all_batches" style="display:<%= (status ? 'block' : 'none') %>">
                  <div class="header"><%= "#{t('all_active_batches')} &#x200E;(#{@batches.length})&#x200E;" %></div>
                  <div class="div_link" onclick="showBatches();"><%= t('select_batches') %></div>
                  <div id="batch_names"><%= @batches.collect(&:full_name).join(', ') %></div>
                  <% @batches.each do |batch| %>
                    <%= hidden_field_tag "assessment_schedule[batch_ids][]", batch.id, :class => 'batch_ids', :disabled => !status %>
                  <% end %>
              </div>
              <div class="select_batches" id="each_batches" style="display:<%= (status ? 'none' : 'block') %>">
                  <div class="header"><%= "#{t('specific_batches')}" %></div>
                  <div class="div_link" onclick="hideBatches();"><%= t('select_all_batches') %></div>
                  <div id="description"><%= t('specific_batches_description') %></div>
                  <div id="list_batches">
                      <div id="list_header"><%= t('select_batches') %></div>
                      <div id="batches_list">
                          <% @batches.each do |batch| %>
                            <div class="each_batch">
                                <%= check_box_tag "assessment_schedule[batch_ids][]",batch.id, false,:class=>'check_batch',:id=>"assessment_schedule_batch_ids_"+"#{batch.id}", :disabled => status, :checked => (@assessment_schedule.batch_ids.map(&:to_i).include? batch.id) %>
                                <label for="assessment_schedule_batch_ids_<%= batch.id %>"><%= "#{batch.full_name}" %></label>
                            </div>
                          <% end %>
                      </div>
                  </div>
              </div>
              <hr/>
              <div class="sub-head"><%= t('schedule_exam_dates') %></div>
              <div class="label-field-pair date_field">
                  <label for="start_date"><%= t('date_of_first_exam') %></label>
                  <div class="text-input-bg">
                      <%= calendar_date_select_tag 'assessment_schedule[start_date]', I18n.l((@assessment_schedule.start_date||Date.today).to_date, :format=>:default),
                        :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force", :id => 'start_date', :errors => @assessment_schedule.errors["start_date"]  %>
                  </div>
              </div>
              <div class="label-field-pair date_field">
                  <label for="end_date"><%= t('date_of_last_exam') %></label>
                  <div class="text-input-bg">
                      <%= calendar_date_select_tag 'assessment_schedule[end_date]', I18n.l((@assessment_schedule.end_date||Date.today).to_date, :format=>:default),
                        :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force", :id => 'end_date', :errors => @assessment_schedule.errors["end_date"] %>
                  </div>
              </div>
              <hr/>
              <div class="label-radio-pair">
                  <label class="status" for="status"><%= t('no_of_exams_per_day') %></label>
                  <div id="radio-buttons">
                      <% (1..3).each do |i| %>
                        <%= as.radio_button  "no_of_exams_per_day", i, :checked => (as.object.no_of_exams_per_day.to_i == i), :onchange => "fetch_timings(#{i}, true)", :class => "exam_count" %>
                        <label for="assessment_schedule_no_of_exams_per_day_<%= i %>"><%= t('exams_count', {:count => i}) %></label>
                      <% end %>
                  </div>
              </div>
              <% val = AssessmentSchedule::TIMINGS_IN_WORDS %>
              <% (1..3).each do |i| %>
                <div class="label-field-pair exam_timings">
                    <label for="end_date"><%= t("exam_timings.#{val[i]}") %></label>
                    <div class="text-input-bg">
                        <%= as.text_field "#{val[i]}_start_time" %>
                        <%= as.text_field "#{val[i]}_end_time" %>
                    </div>
                </div>
              <% end %>
              <hr/>
              <%=submit_tag "#{(@assessment_schedule.new_record? ? t('save_exam_dates') : t('update_exam_dates'))}", :disable_with => "#{t('please_wait')}", :class => "submit-button", :id => "submit_button" %>
            <% end %>
        </div>
    </div>
</div>
<script type="text/javascript">
  fetch_timings = function (count, flag) {
      j('.exam_timings').hide();
      j('.exam_timings input').attr('disabled', true);
      j('.exam_timings input').val('');
      timings = j('.exam_timings').slice(0, count);
      timings.find('input').attr('disabled', false);
      if (flag) {
          j('.exam_timings .wrapper').hide();
          j('.exam_timings input').css('border-color', '#c6c6c6');
      }
      timings.show();
  }
  showBatches = function () {
      j('#each_batches').show();
      j('#all_batches').hide();
      j('#all_batches input').attr('disabled', true);
      j('#each_batches input').attr('disabled', false);
      j('.check_batch').prop('checked',true);
  }
  hideBatches = function () {
      j('#each_batches').hide();
      j('#all_batches').show();
      j('#all_batches input').attr('disabled', false);
      j('#each_batches input').attr('disabled', true);
      j('.check_batch').prop('checked',false);
  }
  j('#assessment_schedule_first_start_time, #assessment_schedule_first_end_time, #assessment_schedule_second_start_time, \n\
#assessment_schedule_second_end_time, #assessment_schedule_third_start_time, #assessment_schedule_third_end_time').timepicker({ 'timeFormat': 'h:i A', 'step' : 5 });
  j(document).ready(function () {
      exam_count = parseInt(j('.exam_count:checked').val());
      fetch_timings(exam_count, false);
      j('#assessment_schedule_first_start_time').val(j('#assessment_schedule_first_start_time').attr('value'));
      j('#assessment_schedule_first_end_time').val(j('#assessment_schedule_first_end_time').attr('value'));
      j('#assessment_schedule_second_start_time').val(j('#assessment_schedule_second_start_time').attr('value'));
      j('#assessment_schedule_second_end_time').val(j('#assessment_schedule_second_end_time').attr('value'));
      j('#assessment_schedule_third_start_time').val(j('#assessment_schedule_third_start_time').attr('value'));
      j('#assessment_schedule_third_end_time').val(j('#assessment_schedule_third_end_time').attr('value'));
  });

</script>
