<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>



<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('gradebook') %><%= beta_header %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('manage_gradebook') %></div>
    <% if !@all_activated and (@type.subject_attribute or @type.activity) and permitted_to? :activate_exam , :assessments %>
      <div id="inner-tab-menu">
          <ul>
              <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('activate_exams_for_batches')}", {:action=>'activate_exam', :assessment_group_id=>@assessment_group.id,:course_id=>@course.id} %></li>
          </ul>
      </div>
    <% end %>
    <div id="inner-tab-menu">
        <ul>
            <% if !@all_activated and @type.subject and permitted_to? :schedule_dates , :assessments %>
              <li class='themed_bg themed-dark-hover-background'>
                  <%= link_to "#{t('add_exams')}", {:controller => "assessments", :action => "schedule_dates", :id => @assessment_group.id, :course_id => @course.id} %>
              </li>
            <% end %>
            <% if @assess_active and @type.subject and permitted_to? :exam_timings , :assessments %>
              <li class='themed_bg themed-dark-hover-background'>
                  <%= link_to "#{t('exam_timetable')}", {:controller => "assessments", :action => "exam_timings", :group_id => @assessment_group.id, :course_id => @course.id} %>
              </li>
            <% end %>
        </ul>
    </div>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        <% breadcrumb :assessments_show, [@assessment_group,@academic_year,@course] %>
        <%= render_breadcrumbs  %>
    </div>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <div class="assessments_box">
        <div class="assessments_head">
            <div class="left">
                <label><%=t('exam_group')%></label>
                <span><%= @assessment_group.name_with_code %></span>
            </div>
            <div class="right">
                <label><%=t('status')%></label>
                <span><%=@assess_active ? t('active') : t('inactive')%></span>
            </div>
        </div>
        <% batches = @course.batches_in_academic_year(@academic_year.id) %>
        <div class="assessments_details">
            <%= render :partial=> 'assessment_group_details', :locals => {:batches => batches} %>
        </div>
        <% if batches.present? %>
          <div class="batches_assessments_list">
              <% batches.each do |batch| %>
                <%= render :partial => 'batch_assessment_list', :locals=>{:batch=>batch} %>
              <% end %>
          </div>
        <% else %>
          <p class="flash-msg"> <%= t('no_batches_in_the_acedemic_year') %> </p>
        <% end %>
    </div>
</div>
