.report_container_box .header{
    font-weight: bold;
    margin-bottom: 50px;
}
.report_details{
    display: flex;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}
.report_details .col{
    flex: 1;
}
.col .value{
    font-weight: bold;
    margin-top: 10px;
    padding-left: 45px;
}
.col .value span{
    font-weight: normal;
    white-space: nowrap;
}
.student_select{
    margin-top: 30px;
}
.label-field-pair{
    width: 375px !important;
    float: right;
}
.label-field-pair label{
    width: 56px;
}
.text-input-bg select{
    border-radius: 1px;
}

#student_report{
    float: right;
    width: 100%;
    margin-top: 50px;
}
#student_report table{
    border-collapse: collapse;
    font-size: 13px;
}

#student_report .col-2{
    width: 150px;
}
#student_report td{
    padding: 10px 20px;
    border: 1px solid #ccc;
}
#student_report .tr-head{
    text-align: center;
    font-weight: bold;
    color: #000 !important;
}
/*.coscholastic_area_table .col_0{
    width: 800px;
}*/
.coscholastic_area_table{
    margin-top: 10px;
}
.coscholastic_area_table .activity_label{
    width:710px;
    max-width:710px;
}
.empty_row td{
    border: none !important;
}
.remarks_row td{
    text-align: right;
    height: 30px;
}
.remarks_row .remarks_label{
    border-left: none !important;
}
.remarks_row .remarks_value{
    border-right: none !important;
}
#student_report table{
    /*width: 50%;*/
}
.remarks_widget .label-field-pair{
    float: none;
}
.student_details {
    font-size: 14px;
    margin-top: 10px;
    float: right;
    margin-right: 10px;
}
#remarks_list .label-field-pair{
    width:100% !important;
}