.report_container_box .header{
    font-weight: bold;
    margin-bottom: 50px;
}
.report_details{
    display: flex;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}
.report_details .col{
    flex: 1;
}
.col .value{
    font-weight: bold;
    margin-top: 10px;
    padding-left: 45px;
}
.col .value span{
    font-weight: normal;
    white-space: nowrap;
}
.student_select{
    margin-top: 30px;
}
.label-field-pair{
    width: 375px !important;
    float: right;
}
.label-field-pair label{
    width: 56px;
}
.text-input-bg select{
    border-radius: 1px;
}

#student_report{
    float: right;
    width: 100%;
    margin-top: 50px;
}
#student_report table{
/*    border-collapse: collapse;*/
    font-size: 13px;
}

#student_report .col-2{
    width: 150px;
}
#student_report td{
/*    padding: 10px 20px;
    border: 1px solid #ccc;*/
}
.coscholastic_area_table td{
    padding: 10px 20px;
    border: 1px solid #ccc;
    
}
#student_report .tr-head{
    text-align: center;
    font-weight: bold;
    color: #000 !important;
}
/*.coscholastic_area_table .col_0{
    width: 800px;
}*/
.coscholastic_area_table{
    margin-top: 10px;
    border-collapse: collapse;
}
.coscholastic_area_table .activity_label{
    width:710px;
    max-width:710px;
}
.empty_row td{
    border: none !important;
}
.remarks_row td{
    text-align: right;
    height: 30px;
}
.remarks_row .remarks_label{
    border-left: none !important;
}
.remarks_row .remarks_value{
    border-right: none !important;
}
.remarks_widget .label-field-pair{
    float: none;
}
.student_details {
    font-size: 14px;
    margin-top: 10px;
    float: right;
    margin-right: 10px;
}
#remarks_list .label-field-pair{
    width:100% !important;
}
#page-yield table .header-text{
    font-weight: bold;
}


#form_extender{
    direction: rtl !important;
}
.label-field-pair1{
    width: 1061px;
}
.label-field-pair {
    height : 40px;
    width: 344px;
    padding-top: 3px;
    float: right;
}
.text-input-bg {
    background : transparent;
    height : 28px;
    width: 250px;
    float:right;
}
.label-field-pair label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 0px 0;
    float:right;
    width: 106px;
    padding-top: 10px;
    font-weight: 600;

}
.label-field-pair input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 10px 0 0;
    width : 205px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.pdf-button a {
    color: #FFFFFF;
    text-decoration: none;
}
.label-checkbox-pair {
    float : right;
    padding : 30px 10px 0 0;
    width : 250px;
}


.label-field-pair2 {
    height : 40px;
    width: 345px;
    padding-top: 3px;
    float: right;
}
.label-field-pair2 label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 0px 0;
    float:right;
    width: 106px;
    padding-top: 10px;
    font-weight: 600;

}
.label-field-pair2 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 10px 0 0;
    width : 205px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.text-input-bg2 select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 10px 0 0;
    width: 155px;
    height:27px;
    padding:3px 6px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
.submit-button {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #27292B;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 15px 0px 0px 0px;
    padding: 5px;
    padding-right: 8px;
    padding-left: 14px;
    float: right;
    cursor: pointer;
}
#report_table {
    margin-top: 30px;
}
.pdf-button {
    margin-right: 5px;
    margin-top: 20px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #27292B;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    padding-right: 8px;
    padding-left: 14px;
    float: right;
    cursor: pointer;
    text-decoration: none;
}
.pdf-button a{
    color: #FFFFFF;
    text-decoration: none;
}
.submit_btn{
    float:right;
    margin-top:9px;
    width:100%;
}
.errorExplanation {
    background: #ffdedf url(/images/_global/error.png) no-repeat 10px 14px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height: auto;
    width: 510px;
    margin: 20px auto;
    padding: 1px 20px 3px 0;
    list-style: none;
}
.button{
    width: 262px;
    height: 50px;
    margin-right: 354px;
}
#loading{
    margin-right: 10px;
    margin-top: 20px;
}
table#listing td.col-2 {
    width: 15%;
    text-align: right;
    padding: 5px;
    padding-right: 10px;
    font-size: 12px;
}
#loader{
    margin-right:5px;
}
table#listing tr.tr-head {
    font-size: 14px;
    text-align: center;
}
table#listing td.col-3 {
    width: 4%;
    padding: 5px;
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
}
.scrolable{
    overflow-y: hidden;
}
.head{
    font-size: 11px !important;
}
table#listing{
    moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #C3D9FF;
    padding: 10px 10px;
}



.tableSubHeader{
    text-align: right;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 20px 8px 20px;
    word-break: break-word;
    min-width: 52px;
    height: auto;


}
.tableHeader{
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 10px 10px 5px;
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#table_div {
    overflow: auto;
    max-width: 730px;
    max-height: 600px;
    position: relative;
    float: right;
}
#table_div td{
    min-width: 80px;
}
.student_names{
    width: 300px;
    text-align: right;
    font-size: 13px;
    padding: 6px 20px 5px 5px;
    height: 45px;
    display: table-cell;
    vertical-align: middle;
    word-break: break-all;
}
.student_names span{
    color: #999999;
}
#divHeader{
    overflow:hidden;
    max-width:730px;
}
#main_header_table{
    border:1px solid #999999;
    border-collapse: collapse;
    border-bottom: 0px;
    border-right:0px;
}
#main_header_table tr#main_heading{
    border-bottom: 1px solid #999999;

}
#main_header_table tr, #main_header_table td{
    border-right:0px;
    border-left: 1px solid #cccccc;
}
#student_list_table,#student_list_table tr,#student_list_table td{
    border-collapse: collapse;
    border-top: 0px;
    border-left: 1px solid #cccccc;
    border-bottom: 0px;
    border-right: 1px solid #999999;
}

#scores_table, #scores_table tr, #scores_table td{
    border-top:0px;
    border-left:0px;
    border-bottom:0px;
    border-right:0px;
    border-collapse: collapse !important;
}
#scores_table td{
    border-left:1px solid #cccccc;
}
tr.odd{
    background-color: #ffffff;

}
tr.even{
    background-color: #f4f4f4;
}
#firstSubTd{
    background-color: #e5e5e5;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 20px 5px 5px;
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid #999999;
    border-right: 1px solid #999999;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
#firstTd{
    height:37px;
    border-left:1px solid #999999;
}
#sub_header{
    background-color: #e5e5e5;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #ccc;
    border-right: 0px;
}


#page-yield ::-webkit-scrollbar {
    width: 12px;
    height: 10px;

}
#page-yield ::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-right: 1px solid #ccc;
}
#page-yield ::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
#page-yield ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

#page-yield ::-webkit-scrollbar {
    width: 10px;
}

#page-yield ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#page-yield ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#summary{
    float: right;
    width: 100%;
    color: #333;
    font-size: 13px;
    margin-bottom: 20px;
}
.individual_block{
    float: right;
    width: 100%;
    margin-bottom: 10px;

}
.left_section{
    float: right;
    width: 50%;
}
.right_section{
    float: right;
    margin-right:150px;
}
label{
    width: 80px !important;
}
label.header{
    width: 100px;
    float: right;
    margin-left: 5px;
}
.col_span{
    float:right;
    margin-left:5px
}
.bold_text{
    font-weight: bold;
}
.margin_extra{
    margin-right: 30px !important;
    margin-top: 10px!important;
}
.margin-top-50{
    margin-right: 0px;
}
#firstcol{
    overflow: hidden;
    max-height:600px;
    border-bottom: 1px solid #ccc;
}

.tableHeaderHelp{
    font-size: 11px;
    color: #666;
    font-weight: normal;
    padding:0px 10px 0px 10px
}

.scores{
    padding: 8px 0px 8px 8px;
    font-size: 13px;
    text-align: center;
    line-height: 40px;
}
td.empty_td{
    border-left: 0px !important;
}
#fa_criteria_calc {
    float: right;
    width: 50%;
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: normal;
    color: #333;
}
#fa_criteria_calc > span {
    font-weight: bold;
}
#fa_group_calc{
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: normal;
    color: #333;
    width: 50%;
    float: left;
}
#fa_group_calc > span{
    font-weight: bold; 
}
.overlay {
    background-color: #f4f4f4;
    border: 1px solid #bfbfbf;
    color: #666;
    display: block;
    float: right;
    font-size: 14px;
    margin-bottom: 10px;
    position: absolute;
    text-align: center;
    top: 393px;
    width: 980px;
}
#loading_big{ margin-top: 100px; }
#loading_big #loader1{
    margin-bottom: 5px;
}
#loading_big span{
    width: 100%;
    float: right;
}
#enclosure{
    margin-bottom: 40px;
}
.coscholastic_area_table td.even{
    font-weight: bold;
    text-align: right;
}
.coscholastic_area_table td.odd{
    background: #fff;
    width:50px;
}