<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<% content_for :head do %>
  <% if rtl? %>
    <%#= stylesheet_link_tag 'rtl/icse_report_settings/student_report_pdf.css' ,:media=>"all"%>
  <%else %>
    <%= stylesheet_link_tag 'icse_report_settings/preview.css' ,:media=>"all"%>
  <% end %>
<% end %>

<% e = 'even' %>
<div id="page-yield" class="available_sections">
    <%if @records["ReportHeader"] == "0"%>
      <div class="header">
          <span class="logo header_parts">
              <%if current_school_detail.logo.present?%>
                <%= wicked_pdf_image_tag current_school_detail.logo,:s3=>true,:style=>:original,:timestamp=>false %>
              <%else%>
                <img  alt="Dummy Logo" src="<%=Rails.root.join('public','images','application','dummy_logo.png')%>" ></img>
              <%end%>
          </span>
          <span class="header-content header_parts">
              <p id="school-name"><%=Configuration.get_config_value('InstitutionName'); %></p>
              <p class="institution_address"><%=Configuration.get_config_value('InstitutionAddress'); %></p>
          </span>
      </div>
    <%else%>
      <div style="height:<%=@records["HeaderSpace"].to_i%>mm"></div>
    <%end%>
    <div class="section">
        <div class="hor_line"></div>
        <h2>STUDENT REPORT</h2>
        <div class="hor_line"></div>
        <div class="extender"> </div>
        <div class="info">
            <div class="info-left">
                <%[1,3,5,7].each do |i|%>
                  <%display_text = IcseReportSetting.get_display_text(@records["StudentDetail#{i}"])%>
                  <%unless display_text == ""%>
                    <div class="info1">
                        <label class="field-label"><%=display_text%></label><span class="colon">:</span><label class="infolbl"> <%= IcseReportSetting.get_display_value(@records["StudentDetail#{i}"],@student) %></label>
                    </div>
                  <%end%>
                <%end%>
            </div>
            <div class="info-right">
                <%[2,4,6,8].each do |i|%>
                  <%display_text = IcseReportSetting.get_display_text(@records["StudentDetail#{i}"])%>
                  <%unless display_text == ""%>
                    <div class="info1">
                        <label class="field-label"><%=display_text%></label><span class="colon">:</span><label class="infolbl"> <%= IcseReportSetting.get_display_value(@records["StudentDetail#{i}"],@student) %></label>
                    </div>
                  <%end%>
                <%end%>
            </div>
        </div>
    </div>
    <div  class="section2">
        <span class="image_enclosure">
            <img  alt="Exam Marks" src="<%=Rails.root.join('public','images','report.jpg')%>" ></img>
        </span>
    </div>

    <div class="wrapper">
        <%if @records["GradingLevel"] == "0" and @records["GradingLevelPosition"] == "0" %>
          <div class="custom_header">
              <h3>
                  Grading Level
              </h3>
          </div>
          <div class="section">
              <div id="score-table">
                  <table id="pdf-table" width="100%" cellspacing="0">
                      <% if @grading_levels.empty? %>
                        <tr class="table-header">
                            <td>No grading levels </td></tr>
                      <% else %>
                        <tr>
                            <% @grading_levels.each_with_index do |gl,i| %>
                              <td class="col-5"><%= gl.name %></td>
                            <%end%>
                        </tr>
                        <tr>
                            <% m = nil %>
                            <% @grading_levels.each_with_index do |gl,i| %>
                              <td class="col-5"><%="#{gl.min_score}"%><%= m.present? ? " - #{(m-1)}" : " - 100"  %> <% m = gl.min_score %></td>
                            <%end%>
                        </tr>
                        <tr>
                            <% @grading_levels.each_with_index do |gl,i| %>
                              <td><%= gl.description%></td>
                            <%end%>
                        </tr>
                      <%end%>
                  </table>
              </div>
          </div>
        <%end%>

    </div>
    <div class="wrapper">
        <%if @records["Signature"] == "0"%>
          <div class="footer">
              <div id="pdf-footer">
                  <span class="signature push_left"><%= @records["SignLeftText"] %></span>
                  <span class="signature"><%= @records["SignCenterText"] %></span>
                  <span class="signature push_right"><%= @records["SignRightText"] %></span>
              </div>
          </div>
        <%else%>
          <div style="height:<%=@records["SignSpace"].to_i%>mm"></div>
        <%end%>
    </div>
    <div class="wrapper">
        <%if @records["GradingLevel"] == "0" and @records["GradingLevelPosition"] == "1"%>
          <div class="custom_header">
              <h3 class="add_top_margin">
                  Grading Level
              </h3>
          </div>
          <div class="section">
              <div id="score-table">
                  <table id="pdf-table" width="100%" cellspacing="0">
                      <% if @grading_levels.empty? %>
                        <tr class="table-header">
                            <td>No grading levels </td></tr>
                      <% else %>
                        <tr>
                            <% @grading_levels.each_with_index do |gl,i| %>
                              <td class="col-5"><%= gl.name %></td>
                            <%end%>
                        </tr>
                        <tr>
                            <% m = nil %>
                            <% @grading_levels.each_with_index do |gl,i| %>
                              <td class="col-5"><%="#{gl.min_score}"%><%= m.present? ? " - #{(m-1)}" : " - 100"  %> <% m = gl.min_score %></td>
                            <%end%>
                        </tr>
                        <tr>
                            <% @grading_levels.each_with_index do |gl,i| %>
                              <td><%= gl.description%></td>
                            <%end%>
                        </tr>
                      <%end%>
                  </table>
              </div>
          </div>
        <%end%>

    </div>  
</div>