<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('gradebook') %><%= beta_header %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('edit_exam_group') %></div>
</div>

<div id="page-yield">
    <div class="bread_crumb">
        <% breadcrumb :assessment_groups_edit, [@plan, @assessment_group] %>
        <%= render_breadcrumbs  %>
    </div>

    <div id ="header"><%= t('edit_exam').titleize %></div>
    <div id ="description"><%= t('create_exam_group_description') %></div>
    <div id="group_form">
        <%= render :partial => "group_form" %>
    </div>

</div>