<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('gradebook') %><%= beta_header %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('create_exam_group_capital') %></div>
</div>

<div id="page-yield">
    <div class="bread_crumb">
        <% breadcrumb :assessment_groups_new, [@plan, @assessment_group] %>
        <%= render_breadcrumbs  %>
    </div>

    <div id ="header"><%= t('create_final_term_assessment') %></div>
    <div id ="description"><%= t('create_term_exam_description') %></div>
    <% if @subject_assessments.present? or @derived_assessments.present? %>
      <div id="group_form">
          <%= render  :partial => 'final_term_assessment_group' %>
      </div>
    <% else %>
      <p class="flash-msg"> <%= t('no_assessment_groups_created') %> </p>
    <% end %>
</div>