<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('gradebook') %><%= beta_header %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('manage_gradebook') %></div>

</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs  %>
    </div>

    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <div id="header"><%= t('create_exam_group_capital') %></div>
    <div id="description"><%= t('create_course_exam_group_description') %></div>
    <div class="label-field-pair select_course">
        <label for="department"><%= t('course_name') %></label>
        <div class="text-input-bg">
            <%= select_tag :course_id, options_for_select([["#{t('select_a_course')}",'']] + @courses.map { |c| [c.course_name, c.id] }, :selected => ''),
              :onchange => "render_form(this);"%>
        </div>
        <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader",
          :style =>"display: none;" ) %>
    </div> 
    <div id="course_details">
        <% if @course.present? %>
          <%= render :partial => 'course_details' %>
        <% end %>
    </div>
</div>
<script type="text/javascript">
  render_form = function (elm) {
      if (elm.value != "")
      {
          new Ajax.Request('/assessment_groups/course_exam_form', {
              parameters: {'course_id': elm.value, 'academic_year_id': '<%= @academic_year.id %>'},
              asynchronous: true,
              evalScripts: true,
              method: 'post',
              onLoading: function () {
                  j(elm).closest('.text-input-bg').next('#loader').show();
              },
              onComplete: function (resp) {
                  j('#course_details').html(resp.responseText);
                  j(elm).closest('.text-input-bg').next('#loader').hide();
              }
          });
      } else
          j('#course_details').html('');
  }
</script>