<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('gradebook') %><%= beta_header %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('planner_exam') %></div>
    <div id="inner-tab-menu">
        <ul>
            <% unless @assessment_group.new_record?  %>
              <li class='themed_bg themed-dark-hover-background'>
                  <%= link_to "#{t('delete_exam')}", delete_planner_assessment_assessment_plan_path(@assessment_group.id), :method => :delete, :class => "delete", :confirm => "Are you sure ?"%>
              </li>
              <li class="themed_bg themed-dark-hover-background">
                  <%= link_to t('reorder_exams'), '#' , :onclick => "build_reorder_box();" %>
              </li>
            <% end %>
        </ul>
    </div>
</div>

<div id="page-yield">
    <div class="bread_crumb">
        <% breadcrumb :assessment_groups_planner_exam, [@plan, @assessment_group] %>
        <%= render_breadcrumbs  %>
    </div>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <div id ="header"><%= t('planner_exam') %></div>
    <div id ="description"><%= t('create_exam_group_description_planner') %></div>
    <div id="group_form">
        <%= render :partial => "planner_exam_form" %>
    </div>

</div>
<script type="text/javascript">
  build_reorder_box = function () {
      build_modal_box({title: '<%= t('reorder_exams') %>', popup_class: 'reorder_form_popup'});
      j('.reorder_form_popup #popup_content').append("<%=escape_javascript(render :partial => "reorder_form")%>");
      j('#popup_footer.part').remove();
      var margin=(j('body').width() - j('#popup_window').width())/2;
      j('#popup_window').css("margin-right",margin);
  }
  
  updateSortorder = function() {
    j('.sort_table tr.list').each(function (i) {
      j(this).children().last().val(i + 1);
    });
  }
</script>