<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<span class="span-sub-heading"><%= t('subject_details') %></span>
<% remote_form_for :student_previous_subject_details, :url =>{:action =>'save_previous_subject'}, :before=>"$('submit_button').disable()",:complete=>"setTimeout(function(){$('submit_button').enable();},5000)" do |s| %>
  <%= s.hidden_field :student_id, :value => @student.id %>
  <%= error_messages_for 'student_previous_subject_details', :header_message => nil %>
  <div class="label-field-pair">
      <label><%= t('subject') %></label>
      <div class="text-input-bg"><%= s.text_field :subject %></div>
      <div class="extender"></div>
  </div>
  <div class="label-field-pair">
      <label><%= t('mark') %></label>
      <div class="text-input-bg"><%= s.text_field :mark %></div>
      <div class="extender"></div>
  </div>
  <div class="label-field-pair">
      <label></label>
      <div class="save-proceed-button" >
          <%= s.submit "► #{t('save')}", :id=> 'submit_button'%>
      </div>

  </div>

<% end %>

