<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<ul id="category-list">
  
      <% @student_categories.each do |c| %>
      <li class="list<%=cycle('odd', 'even')%>">
        <div class="category-name"><%= c.name %></div>
        <div class="category-edit"><%= link_to_remote "#{t('edit_text')}", :url => { :action => 'category_edit', :id => c.id } %> </div>
        <div class="category-delete">
          <% if StudentCategory.can_be_deleted(c) %>
            <%= link_to_remote "#{t('delete_text')}", :url => { :action => 'category_delete', :id => c.id } , :confirm =>"#{t('delete_confirm_msg')}"%>
          <% else %>
            <span class="small-strike"><%= t('delete_text') %></span>
          <% end %>
        </div>
      </li>
     <% end %>

  
</ul>
