<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('admission') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('add_guardian_details') %></div>

</div>
<div id="page-yield">
    <div class="bread_crumb">
        <% breadcrumb :student_add_guardian, @student %>
        <%= render_breadcrumbs  %>
    </div>
    <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>

    <%= error_messages_for 'parent_info' %>

    <% form_for :parent_info do |s| %>

      <div id="admission1_form">



          <div class="label-field-pair">
              <label for="parent_detail_student_id"><%= t('student_admission_no') %></label>
              <div class="text_display"><%= @student.admission_no %></div>
          </div>
          <br/>
          <span class="span-sub-heading"><%= t('parent_personal_details') %></span>
          <hr class="sub-heading"></hr>
          <div class="personal_details">
              <div class="label-field-pair">
                  <label for="parent_detail_name"><%= t('first_name') %><span class="necessary-field">*</span></label>
                  <div class="text-input-bg"><%= s.text_field :first_name %></div>
              </div>
              <div class="label-field-pair">
                  <label for="parent_detail_name"><%= t('last_name') %></label>
                  <div class="text-input-bg"><%= s.text_field :last_name %></div>
              </div>
              
              <% if (@parent_info.relation.present? and !["father","mother"].include?(@parent_info.relation)) or (@parent_info.relation_type.present? and @parent_info.relation_type == "other") %>
                <div class="label-field-pair">
                    <label for="parent_detail_relation"><%= t('relation') %><span class="necessary-field">*</span></label>
                    <div class="text-input-bg left-float"> <%= select :parent_info, :relation_type, [["#{t('father')}","father"],["#{t('mother')}","mother"],["#{t('other')}","other"]], {:selected => "other"},{:id=>"relation-select",:onchange=>"toggle_relation_box(); return false;"} %> </div>
                    <div id="parent-relation" class="left-float">
                        <div class="text-input-bg"><%= s.text_field :relation %></div>
                    </div>
                </div>
              <% else %>
                <div class="label-field-pair">
                    <label for="parent_detail_relation"><%= t('relation') %><span class="necessary-field">*</span></label>
                    <div class="text-input-bg left-float"> <%= select :parent_info, :relation, [["#{t('father')}","father"],["#{t('mother')}","mother"],["#{t('other')}","other"]], {:selected => @parent_info.relation}, {:id=>"relation-select",:onchange=>"toggle_relation_box(); return false;"} %> </div>
                    <div id="parent-relation" class="left-float"></div>
                </div>
              <% end %>

              <div class="label-field-pair">
                  <label for="parent_detail_dob"><%= t('date_of_birth') %></label>
                  <div class="text-input-bg">
                      <%= calendar_date_select_tag 'parent_info[dob]', params[:parent_info].present? ? params[:parent_info][:dob] : nil,:year_range => 100.years.ago..4.years.ago , :popup=>"force"%>
                  </div>
              </div>

              <div class="label-field-pair">
                  <label for="parent_detail_education"><%= t('education') %></label>
                  <div class="text-input-bg"><%= s.text_field :education %></div>
              </div>

              <div class="label-field-pair">
                  <label for="parent_detail_occupation"><%= t('occupation') %></label>
                  <div class="text-input-bg"><%= s.text_field :occupation %></div>
              </div>

              <div class="label-field-pair">
                  <label for="parent_detail_income"><%= t('income') %></label>
                  <div class="text-input-bg"><%= s.text_field :income %></div>
              </div>

              <div class="label-field-pair">
                  <label for="parent_detail_email"><%= t('email') %></label>
                  <div class="text-input-bg"><%= s.text_field :email %></div>
              </div>
          </div>
          <br/>
          <span class="span-sub-heading"><%= t('parent_contact_details') %></span>
          <hr class="sub-heading"></hr>

          <div class ="address_details">
              <div class="label-field-pair">
                  <label for="master_student_city"><%= t('office_address_line1') %></label>
  <%#*<div class="text-input-bg"><%= s.text_field :office_address_line1 </div>%>
                  <div class="text-input-bg"><%= s.text_field :office_address_line1,:value=>@student.address_line1.present? ? @student.address_line1.to_s : params[:parent_info].present? ? params[:parent_info][:office_address_line1] : '' %></div>
              </div>

              <div class="label-field-pair">
                  <label for="master_student_city"><%= t('office_address_line2') %></label>
  <%#*<div class="text-input-bg"><%= s.text_field :office_address_line2 </div>%>
                  <div class="text-input-bg"><%= s.text_field :office_address_line2,:value=>@student.address_line2.present? ? @student.address_line2.to_s : params[:parent_info].present? ? params[:parent_info][:office_address_line2] : ''%></div>
              </div>

              <div class="label-field-pair">
                  <label for="parent_detail_city"><%= t('city') %></label>
                  <div class="text-input-bg"><%=  s.text_field :city,:value=>@student.city.present? ? @student.city.to_s : params[:parent_info].present? ? params[:parent_info][:city] : ''%></div>
              </div>

              <div class="label-field-pair">
                  <label for="parent_detail_state"><%= t('state') %></label>
                  <div class="text-input-bg"><%= s.text_field :state,:value=>@student.state.present? ? @student.state.to_s : params[:parent_info].present? ? params[:parent_info][:state] : ''%></div>
              </div>

              <div class="label-field-pair">
                  <label for="parent_detail_country"><%= t('country') %></label>
                  <div class="text-input-bg"> <%= select :parent_info, :country_id, @countries.map {|c| [c.full_name, c.id]}, :selected =>@student.country.id.present? ? @student.country.id : params[:parent_detail][:country_id] %> </div>
              </div>

              <div class="label-field-pair">
                  <label for="parent_detail_office_phone1"><%= t('office_phone1') %></label>
                  <div class="text-input-bg"><%= s.text_field :office_phone1 %></div>
              </div>

              <div class="label-field-pair">
                  <label for="parent_detail_office_phone2"><%= t('office_phone2') %></label>
                  <div class="text-input-bg"><%= s.text_field :office_phone2 %></div>
              </div>

              <div class="label-field-pair">
                  <label for="parent_detail_mob_phone"><%= t('mobile_phone_no') %></label>
                  <div class="text-input-bg"><%= s.text_field :mobile_phone %></div>
              </div>
          </div>


      </div>

      <div class="extender">
      </div>
      <%= submit_tag "",  :name => "commit", :class => "submit_button3", :value => "► #{t('finish')}", :disable_with => "► #{t('please_wait')}" %>


    <% end %>

</div>

<script>
  function toggle_relation_box(){
    if(j("#relation-select").val()==="other"){
      j("#parent-relation").html('<div class="text-input-bg"><input id="parent_info_relation" type="text" value="" size="30" name="parent_info[relation]"></div>');
      j("#relation-select").attr("name","parent_info[relation_type]");
    }
    else{
      j("#parent-relation").html('');
      j("#relation-select").attr("name","parent_info[relation]");
    }
  }
</script>
