<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('sibling') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('step_2') %></div>


</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :student_admission1_2, @student %>
    <%= render_breadcrumbs  %>
  </div>
 <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>
  <div id="form-content">
    <% form_for :student,:html=>{:onsubmit=>"return sibling_value('#{@student.guardians}');"} do |e| %>
    <script> function update_sibling_selected(id,name)
  {
    $$('.not-selected')[0].innerHTML=name;
    s= new Element('input',{'type':'hidden','value':id,'name':'sibling_no'})
     $('update-button').appendChild(s)
}
function sibling_value(guardians){
  if (guardians.length > 0){
    if (confirm("<%= "#{t('it_will_delete_all_the_current_guardians_of')}#{@student.full_name}"%>")) {
         if ($$('.not-selected')[0].innerHTML=="(<%= t('not_selected') %>)")
         {
           alert('<%= "#{t('please_select_a_sibling_and_proceed')}"%>');
           j('#sibling_form').unbind('submit');
           return false;
         }
         else
         {
           j('#sibling_form').unbind('submit');
           return true
         }
  }else{
         j('#sibling_form').unbind('submit');
         return false;
       }
}else{
  if ($$('.not-selected')[0].innerHTML=="(<%= t('not_selected') %>)")
 {
   alert('<%= "#{t('please_select_a_sibling_and_proceed')}"%>');
   j('#sibling_form').unbind('submit');
   return false;
 }
 else
 {
   j('#sibling_form').unbind('submit');
   return true
 }

}}
</script>
    <%=hidden_field_tag :configure,params[:configure]%>
    <div class="sibling">
          <div id="sibling-selected"><%= t('sibling_selected') %>:</div>
          <div id="sibling-selected-name" class="themed_text"><span class="not-selected">(<%= t('not_selected') %>)</span></div>
          <div id="update-button"><%=submit_tag  ("► #{t('save_and_proceed')}"),  :class => "user_button"%>
            <%if params[:configure].present?%>
              <%=link_to ("► #{t('cancel')}"),{:action=>"guardians",:id=>params[:id]},:class => "user_button"%></div>
            <%else%>
              <%=link_to ("► #{t('skip')}"),{:action=>"admission2",:id=>params[:id]},:class => "user_button"%></div>
          <%end%>
    </div>
    </div>
          <div class="extender"></div>
        
     <%end%>

  <div id="search_box_bg">
    <form id="sibling-form" name="search_form" action="" style="display:inline;">
      <%= hidden_field_tag("option", params['option'], :value => "active") %>
      <label for="user_name"><%= t('search_text') %>:
        <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader",
          :style =>"display: none;" ) %>
      </label> 
      <div id="search_textbox">
        <%= text_field_tag("query", params['query'], :autocomplete => 'off') %>

      </div>

      <div class="extender"></div>
       
    </form>
  </div>
 

  <div id="view_all">

  </div>


  <script type="text/javascript">
    function search_ajax(){
      if ($('query').value.include("%")) return;
<%="#{remote_function(:url => {:action => "search_ajax"},
:with => "'query='+$('query').value + '&option='+'sibling'",
:before => "Element.show('loader')",
:success => "Element.hide('loader')",
:update=>"information"
)}"%>
  }

  document.observe("dom:loaded", function() {
    new Form.Element.Observer('query', 1, search_ajax);
    new Form.Element.Observer('option', 0.5, search_ajax);
  });

  </script>

<div id="information"></div>

<%if @siblings.present? %>

  <div id="sibling_list">
      <h4>Existing Siblings</h4>
      <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
          <tr class="tr-head">
              <td>
                  <%= t('sl_no') %>
              </td>
              <td>
                  <%= t('name') %>
              </td>
              <td>
                  <%= t('admission_number') %>
              </td>
              <td>
                  <%= t('batch') %>
              </td>
              <td>
                  <%= t('roll_number') %>
              </td>
          </tr>
          <tr class="tr-blank"></tr>
          <% i=0 %>
          <% @siblings.each do |sibling| %>
            <%i=i+1%>
            <tr class="tr-<%= cycle('odd', 'even') %>">
                <td class="col-1">
                    <%= i %>
                </td>
                <td class="col-3">
                    <%=  link_to "#{sibling.first_and_last_name}", :controller => "student", :action => "profile", :id => sibling %>
                </td>
                <td class="col-3">
                    <%= sibling.admission_no %> 
                </td>
                <td class="col-1">
                    <%= sibling.batch.full_name %>
                </td>
                <td class="col-3">
                    <%= sibling.roll_number %>
                </td>
            </tr>
          <% end %>

      </table>
  </div>
<%end%>
</div>