<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('student_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('elective') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= breadcrumb :student_electives , @elective_subject %>
    <%= render_breadcrumbs %>
  </div>
  <div id="flash_box"></div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <%unless @students.empty?%>
    <div class="name"><%= t('batch') %></div><div class="val themed_text"><span>:</span><%= @batch.name %></div>
    <div class="name"><%=t('elective_group') %></div><div class="val themed_text"><span>:</span><%= @elective_group.name %></div>
    <div class="name"><%= t('subject') %></div><div class="val themed_text"><span>:</span><%= @elective_subject.name %></div>
    <br />
    <ul id="category-list">
      <div class="linker">
        <%= link_to_remote "#{t('assign_all')}",:url=>{:controller=>"student",:action=>"assign_all_students",:id=>@batch.id,:id2=>@elective_subject.id}%>
        <%= link_to_remote "#{t('remove_all')}",:url=>{:controller=>"student",:action=>"unassign_all_students",:id=>@batch.id,:id2=>@elective_subject.id} %></div>
      <% @students.each do |s| %>
        <li id="stud_<%=s.id%>" class="list<%=cycle('odd', 'even')%>">
          <% stud_assigned = StudentsSubject.new() %>
          <% assigned = stud_assigned.student_assigned(s.id,@elective_subject.id) %>
          <div class="category-name"> <%= s.full_name %></div>
          <% unless assigned.nil? %>
            <% if s.subject_exam(@elective_subject.id) and s.has_assessment_marks(@elective_subject.id) %>
              <div class="category-edit"><%= link_to_remote "#{t('remove')}",:url=>{:controller=>"student",:action=>"unassign_students",:id=>s.id,:id2=>@elective_subject.id}, :before=>"this.style.display='none'" %></div>
            <%else%>
              <div class="category-edit"><s><%= t('remove') %></s></div>
            <% end %>
          <% else %>
            <div class="category-edit"><%= link_to_remote "#{t('assign')}", :url=>{:controller=>"student",:action=>"assign_students",:id=>s.id,:id2=>@elective_subject.id}, :before=>"this.style.display='none'" %></div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="flash-msg"> <%= t('no_students_in_batch') %> </p>
  <%end%>
  <div class="extender"></div>
</div>
