<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('student_text') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('student_fee') %></div>

    <div id="inner-tab-menu">
        <ul>
            <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('fees_text')}", :controller => 'student', :action => 'fees', :id => @student.id %></li>
            <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('student_profile')}", :controller => 'student', :action => 'profile', :id => @student.id %></li>
        </ul>
    </div>
</div>

<div id="page-yield">
    <div class="bread_crumb">
        <% breadcrumb :student_fee_details, [@student,@date] %>
        <%= render_breadcrumbs  %>
    </div>
    <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>
    <% unless flash[:error].nil? %> <p class="errorExplanation"> <%= flash[:error] %> </p> <% end %>

    <div id="student_profile_heading1">



        <div id="student_main_info1">
            <span class="name"><%=t('student_name')%> : <b> <%= @student.full_name %> </b> </span>
            <span class="course"><%= t('course_and_batch') %>: <%= @student.batch.complete_name %> </span>
            <span class="adm"><%= t('adm_no') %>: <%= @student.admission_no %> </span>
        </div>

        <div class="extender"> </div>

    </div>

    <% unless @fee_particulars.nil? %>

      <% total_fees = 0  %>
      <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
          <tr class="tr-head">
              <td><%= t('sl_no') %></td>
              <td><%= t('particulars') %> </td>
              <td><%= t('amount') %> (<%= currency %>  )</td>
          </tr>
          <tr class="tr-blank"></tr>
          <% i = 0 %>
          <%= render :partial => 'finance/particular_list_show_only' %>

          <% unless @total_discount == 0 %>
            <tr class="tr-blank"></tr>
            
            <tr class="tr-head" cellpadding="1" cellspacing="1">
                <td class="col-1"></td>
                <td class="col-1 bold_font" colspan="2">
                    <span><%= t('discount') %></span>
                </td>
            </tr>
            
            <%= render :partial => 'finance/discount_list_show_only', :locals => {:i => i, :total_fees => total_fees} %>
          <% end %>

          <% if @financefee.tax_enabled? and @tax_collections.present? %>
            <tr class="tr-blank"></tr>
            <%= render :partial => 'finance/tax_list', :locals => {:i => i} %>          
          <% end %>  

          <% total_fine=0 %>
          <% unless @fine.nil? %>
            <% if total_fine==0 %>
              <tr class="tr-blank"></tr>
              <tr class="tr-head" cellpadding="1" cellspacing="1">
                  <td class="col-1"></td>
                  <td class="col-1 bold_font" colspan="2"><span><%= t('fine') %></span></td>
              </tr>
              <tr class="tr-blank"></tr>
            <% end %>
            <tr class="tr-<%= cycle("odd", "even") %>">
                <td class="col-1 normal_font"><%= i+=1 %></td>
                <td class="col-2 normal_font"><span><%= t('fine_on') %> <%= format_date(Date.today) %></span></td>
                <td class="col-6 normal_font">
                    <%= precision_label(@fine.to_f) %>
                    <% total_fine=total_fine+@fine.to_f %>
                </td>
            </tr>
            <% total_fees += @fine.to_f %>
          <% end %>
          <% total_fees1=total_fees %>
          <% if @paid_fees %>


            <% unless @paid_fees.blank? %>
              <% @paid_fees.each do |trans| %>
                <% if trans.fine_included %>
                  <% if total_fine==0 %>
                    <tr class="tr-blank"></tr>
                    <tr class="tr-head" cellpadding="1" cellspacing="1">
                        <td class="col-1"></td>
                        <td class="col-1 bold_font" colspan="2"><span><%= t('fine') %></span></td>
                    </tr>
                    <tr class="tr-blank"></tr>
                  <% end %>
                  <tr class="tr-<%= cycle("odd", "even") %>">
                      <td class="col-1 normal_font"><%= i+=1 %></td>
                      <td class="col-2 normal_font">
                          <span><%= t('fine_on') %> <%= format_date(trans.transaction_date) %></span></td>
                      <td class="col-6 normal_font">
                          <%= precision_label(trans.fine_amount) %>
                          <% total_fine=total_fine+trans.fine_amount %>
                      </td>
                  </tr>
                  <% total_fees += trans.fine_amount.to_f %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <% unless @financefee.is_paid_with_fine? %>
            <% if @fine_rule %>
              <% if total_fine==0 %>
                <tr class="tr-blank"></tr>
                <tr class="tr-head" cellpadding="1" cellspacing="1">
                    <td class="col-1"></td>
                    <td class="col-1 bold_font" colspan="2"><span><%= t('fine') %></span></td>
                </tr>
                <tr class="tr-blank"></tr>
              <% end %>
              <tr class="tr-<%= cycle("odd", "even") %>">
                  <td class="col-1 normal_font"><%= i+=1 %></td>
                  <td class="col-2 normal_font">
                      <span><%= t('fine_on') %> <%= format_date(@date.due_date.to_date+@fine_rule.fine_days.days) %><%= discount_text = @fine_rule.is_amount ? "" : " (#{@fine_rule.fine_amount}&#x200E;%)" %></span>
                  </td>
                  <td class="col-6 normal_font">
                      <%= precision_label(@fine_amount) %>
                      <% total_fine=total_fine+@fine_amount %>
                  </td>
              </tr>
            <% end %>
          <% end %>
          <% balance=@financefee.balance.to_f+@fine.to_f %>
          <%= render :partial => 'finance/summary',:locals=>{:total_fine=> total_fine} %>
          <%total_fees=balance.to_f+@fine_amount.to_f%>
          <% unless (@current_user.admin? or @current_user.employee?) %>
            <% if total_fees == 0 %>
              <tr>
                  <td colspan="3">
                      <%= link_to "► #{t('print_receipt')}",
                        {:controller => "finance", :action => "student_fee_receipt_pdf", :id => @student.id, :id2=>@date.id},:target => '_blank', :class=> 'user_button' %>
                  </td>
              </tr>
            <% else %>
              <% if (FedenaPlugin.can_access_plugin?("fedena_pay") and PaymentConfiguration.config_value("enabled_fees").present? and PaymentConfiguration.is_student_fee_enabled?) %>
                <tr>
                    <td colspan="3">
                        <% return_url = url_for(:controller => "student", :action => "fee_details", :id => params[:id], :id2 => params[:id2], :create_transaction => 1, :only_path => false) %>
                        <% if @active_gateway == "Paypal" %>
                          <%= paypal_pay_button(@certificate,@merchant_id,@currency_code,"FEE #{@fee_collection.name}",total_fees,return_url,@paid_fees,"float: right;margin: 18px 0 0;") %>
                        <% elsif @active_gateway == "Authorize.net" %>
                          <%= authorize_net_pay_button(@merchant_id,@certificate,total_fees,"Fee (#{@student.full_name}-#{@student.admission_no}-#{@fee_collection.name})",return_url,@paid_fees,"float: right;margin: 18px 0 0;") %>
                        <% elsif @active_gateway == "Webpay" %>
                          <%= webpay_pay_button(rand(Time.now.utc.strftime("%Y%m%d%H%M%S")),@product_id,@item_id,total_fees,return_url,@merchant_id,@paid_fees,"float: right;margin: 18px 0 0;") %>
                        <% end %>
                    </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
      </table>
    <% end %>
    <% unless @paid_fees.empty? %>
      <div id="payments_details">
          <div class="label-field-pair3">
              <label><%= t('payment_history') %> </label>
          </div>
          <table id="listing1" align="center" width="100%" cellpadding="1" cellspacing="1">
              <tr class="tr-head">
                  <td><%= t('receipt_no') %></td>
                  <td><%= t('payment_date') %></td>
                  <td><%= t('payment_mode') %></td>
                  <td><%= t('payment_notes') %></td>
                  <td><%= t('cashier') %></td>
                  <td><%= t('amount') %> (<%= currency %>)</td>
              </tr>
              <tr class="tr-blank"></tr>
              <% @paid_fees.each_with_index do |f , i| %>
                <tr class="tr-<%= cycle("odd","even") %>">
                    <% if permitted_to? :generate_fee_receipt_pdf,:finance %>
                      <%if f.trans_type=="collection_wise"%>
                        <td><%=link_to f.receipt_number,{ :controller=> "finance",:action => "generate_fee_receipt_pdf",:transaction_id=>f.id},:target => '_blank'%></td>
                      <%else%>
                        <td><%=link_to f.receipt_number,{ :controller=> "finance",:action => "generate_fee_receipt_pdf",:particular_wise=>true,:transaction_id=>f.id},:target => '_blank'%></td>
                      <%end%>
                    <%else%>
                      <td class="col-3"><%= f.receipt_number %></td>
                    <%end%>
                    <td class="col-3"><%= format_date(f.transaction_date) %></td>
                    <%if f.reference_no.present?%>
                      <td class="col-3"><%= f.payment_mode %> - <%=f.reference_no%></td>
                    <%else%>
                      <td class="col-3"><%= f.payment_mode %></td>
                    <%end%>
                    <td class="col-2"><%= f.payment_note %></td>
                    <td class="col-3"><%= f.payment_mode=='Online Payment' ? f.get_cashier_name : f.cashier_name %></td>
                    <td class="col-3">
                        <%= precision_label(f.amount.to_f) %>
                    </td>
                </tr>
              <% end %>
          </table>

      </div>
    <% end %>

</div>
