<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<% content_for :head do %>
  <%= stylesheet_link_tag 'jquery-ui_1.css' %>
  <% if rtl? %>
    <%= stylesheet_link_tag 'rtl/student/student_wise_report' %>
  <%else %>
    <%= stylesheet_link_tag 'student/student_wise_report' %>
  <% end %>
<% end %>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('student_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('fee_status') %></div>
  <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('view_refunds')}",:controller => 'finance', :action => "refund_student_view",:id => @student.id  if permitted_to? :refund_student_view, :finance %> </li>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('student_profile')}", :controller => 'student', :action => 'profile', :id => @student.id %></li>
      <%if (@student.user_id==@current_user.id or @student.try(:immediate_contact).try(:user_id)==@current_user.id) and FedenaPlugin.can_access_plugin?("fedena_pay")%>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('pay_all_fees')}", :controller => 'student_fees', :action => 'all_fees', :id => @student.id %></li>
      <%end%>
    </ul>
  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :student_fees, @student %>
    <%= render_breadcrumbs  %>
  </div>
  <div id="flash_box">
    <% unless @flash_notice.nil? %>
      <p class="flash-msg">
        <%= @flash_notice %>
        <% if permitted_to? :fees_received, :finance %>
          -<%=link_to_remote t('student_fees_preferences'),:url=>{:action=>"student_fees_preference",:id=>@student.id},:method=>:get%>
        <% end %>
      </p>
    <% end %>
  </div>
  <div id="modal-box" style="display:none;"></div>
  <div id="student_profile_heading1">
    <div id="student_main_info1">
      <span class="name"><b> <%= @student.full_name %></b> </span>
      <span class="course"><%= t('course_and_batch') %>: <%= @student.batch.course_name %> - <%= @student.batch.name  %>  </span>
      <span class="adm"> <%= t('adm_no') %>: <%= @student.admission_no %> </span>
      <% if roll_number_enabled? %>
        <span class="adm"> <%= t('roll_no') %>: <%= (@student.roll_number.present? ? @student.roll_number : "-")  %> </span>
      <% end %>
    </div>
    <div class="extender">
    </div>
  </div>
  <div id="student_preferences_link" class="fees">
    <% if (permitted_to? :fees_received, :finance) and !@student.has_paid_fees and !@student.has_paid_fees_for_batch %>
          <%=link_to_remote t('student_fees_preferences'),{:url=>{:action=>"student_fees_preference",:id=>@student.id},:method=>:get },:class=>"themed_text"%>
    <% end %>
  </div>
  <div class="extender">
  </div>
  <div class="line">
  </div>
  <div class="extender">
  </div>
  <%= render :partial=> "student_wise_report" ,:locals=>{:batches=>@batches}%>
</div>
