<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<%-
#page breaking implemented page
#'available_sections' marks beginning of a pdf page, all the contents within a 'section' class beneath -
#the 'available_section' will be taken to another div with a class 'page' dynamically by the javascript -
#written in layouts/pdf.html.erb. 'page' has style for page-break-after:auto property which makes sure -
#content within class 'section' breaks on each page if its the last content and no space left in current page
#warning: the 'page' div is created directly below html , so style your pdf keeping that in mind.
#point to note: make an easy guess the length of content a page can hold, and make sure each 'section' will -
#not exceed the a page size, like we did below for student_additional_fields, we force a new table to be drawn -
#each time the row count reaches 28, as 28 being the max number of rows an A4 can hold.
#avoid creating deeper nests, make 'section' simpler.
-%>

<div id="page-yield" class="available_sections">
  <div class="section" >
    <center>
      <div class="hor_line"></div>
      <h2><%= t('student_profile') %></h2>
      <div class="hor_line"></div>
      <div class="extender"> </div>
      <div id ="main_info">
        <h4><%= @student.full_name %></h4>
      </div>
    </center>
  </div>
  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"><%= t('admission_number') %></td>
          <td class="col-pdf amnt"><%= @student.admission_no unless @student.admission_no.nil? %></td>
        </tr>
      </table>
    </center>
  </div>
  <% if roll_number_enabled? %>
    <div class="section" >
      <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"><%= t('roll_no') %></td>
          <td class="col-pdf amnt"><%= @student.roll_number.present? ? @student.roll_number : "-" %></td>
        </tr>
        </table>
      </center>
    </div>
  <% end %>
  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"><%= t('admission_date') %></td>
          <td class="col-pdf amnt"><%= format_date(@student.admission_date,:format=>:long) unless @student.admission_date.nil? %></td>
        </tr>
      </table>
    </center>
  </div>
  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"><%= t('batch') %></td>
          <td class="col-pdf amnt"><%= @student.batch.name unless @student.batch.name.nil? %> </td>
        </tr>
      </table>
    </center>
  </div>
  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"><%= t('course_text') %></td>
          <td class="col-pdf amnt"><%= @student.batch.course.full_name unless @student.batch.course.full_name.nil? %> </td>
        </tr>
      </table>
    </center>
  </div>
  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"> <%= t('date_of_birth') %></td>
          <td class="col-pdf amnt"> <%= format_date(@student.date_of_birth,:format=>:long) unless @student.date_of_birth.nil? %> </td>
        </tr>
      </table>
    </center>
  </div>
  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"><%= t('blood_group') %></td>
          <td class="col-pdf amnt"> <%= @student.blood_group %></td>
        </tr>
      </table>
    </center>
  </div>
  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"> <%= t('gender') %> </td>
          <td class="col-pdf amnt"> <%= t("#{@student.gender_as_text.downcase}") %> </td>
        </tr>
      </table>
    </center>
  </div>
  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"> <%= t('nationality') %></td>
          <td class="col-pdf amnt"> <%= @student.nationality.full_name unless @student.nationality_id.nil? %></td>
        </tr>
      </table>
    </center>
  </div>
  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"> <%= t('mother_tongue') %> </td>
          <td class="col-pdf amnt"> <%= @student.language %> </td>
        </tr>
      </table>
    </center>
  </div>
  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"> <%= t('category') %> </td>
          <td class="col-pdf amnt"> <%= @student.student_category.name unless @student.student_category.nil? %> </td>
        </tr>
      </table>
    </center>
  </div>
  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"> <%= t('religion') %> </td>
          <td class="col-pdf amnt"> <%= @student.religion %> </td>
        </tr>
      </table>
    </center>
  </div>
  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"> <%= t('address') %> </td>
          <td class="col-pdf amnt"> <%= @student.address_line1%><%= ', ' unless @student.address_line1.blank? %><%=  @student.address_line2 %> </td>
        </tr>
      </table>
    </center>
  </div>
  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"> <%= t('city') %> </td>
          <td class="col-pdf amnt"> <%= @student.city %> </td>
        </tr>
      </table>
    </center>
  </div>
  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"> <%= t('state') %> </td>
          <td class="col-pdf amnt"> <%= @student.state %> </td>
        </tr>
      </table>
    </center>
  </div>
  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"> <%= t('zip') %> </td>
          <td class="col-pdf amnt"> <%= @student.pin_code %> </td>
        </tr>
      </table>
    </center>
  </div>
  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"> <%= t('country') %> </td>
          <td class="col-pdf amnt"> <%= @student.country.full_name unless @student.country_id.nil? %> </td>
        </tr>
      </table>
    </center>
  </div>
  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"> <%= t('birth_place') %> </td>
          <td class="col-pdf amnt"> <%= @student.birth_place %> </td>
        </tr>
      </table>
    </center>
  </div>
  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"> <%= t('phone') %> </td>
          <td class="col-pdf amnt"> <%= @student.phone1 %> </td>
        </tr>
      </table>
    </center>
  </div>
  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"> <%= t('mobile') %> </td>
          <td class="col-pdf amnt"> <%= @student.phone2 %> </td>
        </tr>
      </table>
    </center>
  </div>
  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"> <%= t('email') %> </td>
          <td class="col-pdf amnt"> <%= @student.email %> </td>
        </tr>
      </table>
    </center>
  </div>

  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"><%= t('biometric_id') %></td>
          <td class="col-pdf amnt"> <%= @biometric_id %> </td>
        </tr>
      </table>
    </center>
  </div>

  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"> <%= t('group_tutor') %> </td>
          <td class="col-pdf amnt">
            <% @assigned_employees.each do |e| %>
              <%= e.full_name %>
              <br/>
            <% end %>
          </td>
        </tr>
      </table>
    </center>
  </div>
  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%=cycle('odd', 'even')%>">
          <td class="col-pdf name"> <%= t('immediate_contact') %> </td>
          <td class="col-pdf amnt"> <%= @immediate_contact.full_name unless @immediate_contact.nil? %> <%= "(" + @immediate_contact.mobile_phone + ")" if @immediate_contact and @immediate_contact.mobile_phone.present? %> </td>
        </tr>
      </table>
    </center>
  </div>

  <% c= 'even' %>
  <% unless  @additional_details.empty? %>
    <% @additional_details.each do |detail| %>
      <div class="section" >
        <center>
          <table id="pdf-table" width="100%">
            <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
              <td class="col-pdf name"><%= detail.student_additional_field.name %></td>
              <td class="col-pdf amnt">
                <%= detail.additional_info.gsub(/\n/, '<br>') unless detail.nil? %>
              </td>
            </tr>
          </table>
        </center>
      </div>
    <% end %>
  <% end %>
  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
          <td class="col-pdf name"> <%= t('previous_institution') %> </td>
          <td class="col-pdf amnt"> <%= @previous_data.institution unless @previous_data.nil?%> </td>
        </tr>
      </table>
    </center>
  </div>
  <div class="section" >
    <center>
      <table id="pdf-table" width="100%">
        <tr>
          <td class="col-pdf name"></td>
          <td class="col-pdf amnt"> </td>
        </tr>
      </table>
    </center>
  </div>
</div>