<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('parent_info') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('parents_profile') %></div>


</div>
<div id="page-yield">
<div class="bread_crumb">
    <% breadcrumb :archived_student_guardians,@archived_student  %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

  <div id="student_profile_heading">



    <div id="student_main_info">
      <span class="name"> <%= @archived_student.full_name %>  </span>
      <span class="course"> <%= t('course_and_batch') %>: <%= @archived_student.batch.course_name %> </span>
      <span class="adm"> <%= t('adm_no') %>. : <%= @archived_student.admission_no %> </span>
    </div>

    <div class="extender"> </div>

  </div>

  <div id="guardians-links">

    <ul>
      <span><%= t('parent') %>:</span>
      <% @parents.each do |p| %>
        <li><a class="themed_hover_text" href="#guardian-details-id-<%= p.id %>"><%= " #{p.full_name} &#x200E;" %></a> <%= "( #{p.translated_relation} ) &#x200E;" %> </li>
      <% end %>
    </ul>

  </div>


  <div id="parent-list">

    <% @parents.each do |p| %>
   
      <a name="guardian-details-id-<%= p.id %>"> </a>
      <div id="new_profile_info_top">
        <div class="profile_info_label"><%= t('name') %></div>
        <div class="profile_info_text">
          <%= p.full_name %>
        </div>

        <div class="profile_info_label2"><%= t('relation') %></div>
        <div class="profile_info_text2"><%= p.translated_relation %></div>

        <div class="profile_info_label"><%= t('date_of_birth') %></div>
        <div class="profile_info_text"> <%= format_date(p.dob) unless p.dob.nil? %> </div>


        <div class="new_profile_info_area1">
          <div class="profile_info_label2"><%= t('email') %></div>
          <div class="profile_info_text2"> <%= p.email %> </div>

          <div class="profile_info_label"><%= t('office_phone1') %></div>
          <div class="profile_info_text"> <%= p.office_phone1 %> </div>
        </div>

        <div class="new_profile_info_area1">
          <div class="profile_info_label2"><%= t('office_phone2') %></div>
          <div class="profile_info_text2"> <%= p.office_phone2 %> </div>

          <div class="profile_info_label"><%= t('mobile_phone') %></div>
          <div class="profile_info_text"> <%= p.mobile_phone %> </div>
        </div>

        <div class="new_profile_info_area1">
          <div class="profile_info_label2"><%= t('office_address') %></div>
          <div class="profile_info_text2"> <%= p.office_address_line1%> <% if p.office_address_line1.present? %> , <%= p.office_address_line2%> <% end %> </div>

          <div class="profile_info_label"> <%= t('city') %></div>
          <div class="profile_info_text"> <%= p.city %></div>
          <div class="profile_info_label"> <%= t('state') %></div>
          <div class="profile_info_text"> <%= p.state %>  </div>
          <div class="profile_info_label"> <%= t('country') %></div>
          <div class="profile_info_text">  <%= p.country.nil? ? "" : p.country.full_name  %> </div>
        </div>

        <div class="new_profile_info_area1">
          <div class="profile_info_label2"><%= t('income') %></div>
          <div class="profile_info_text2"> <%= p.income %> </div>

          <div class="profile_info_label"><%= t('occupation') %></div>
          <div class="profile_info_text"> <%= p.occupation %> </div>
        </div>
        <div class="extender"></div>
      </div>

     

    <% end %>

  </div>
</div>
