<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('student_info') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('student_profile') %></div>

  <div id="inner-tab-menu">
    <ul>

      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('reports_text')}", :controller => 'archived_student',
          :action => 'reports', :id => @archived_student %></li>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('guardians_text')}", :controller => "archived_student",
          :action => "guardians", :id => @archived_student.id %></li>
      <li class='themed_bg themed-dark-hover-background'>
        <% if @tc_presence %>
          <%= link_to "#{t('view_tc')}",
          {:controller => "tc_template_generate_certificates", :action => "show", :id => @archived_student.id} %>
        <% else %>
          <%= link_to "#{t('generate_tc')}",
              {:controller => "tc_template_generate_certificates", :action => "edit", :id => @archived_student.id} %>
        <% end %>
      </li>
      <% if permitted_to? :remarks_history, :remarks %>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('remark_history')}",:controller => "remarks", :action=>'remarks_history',:archived_id=>@archived_student.id %></li>
      <% end %>
      <% if permitted_to? :revert_archived_student,:archived_student  or @current_user.admin?%>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('revert_archived_student')}",{:controller => 'archived_student',
            :action => 'revert_archived_student', :id => @archived_student.id},{:confirm =>"#{t('delete_confirm_msg')}"} %></li>
      <%end%>
    </ul>
  </div>
</div>

<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :archived_student_profile,@archived_student  %>
    <%= render_breadcrumbs  %>
  </div>
  <div id="flash-box"><% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %></div>

  <div id="student_profile_heading">

    <div id="profile_picture_display">
      <% if @archived_student.photo.file? %>
        <%= image_tag @archived_student.photo.url(:original, false) %>
      <% else %>
        <%= image_tag "master_student/profile/default_student.png" %>
      <% end %>
    </div>

    <div id ="student_main_info">
      <h3> <%= @archived_student.full_name %>  </h3>
      <h4> <%= t('course_text') %> : <%= @archived_student.batch.course.full_name %> </h4>
      <h4> <%= t('batch') %> : <%= @archived_student.batch.name %> </h4>
      <h4> <%= t('adm_no') %> : <%= @archived_student.admission_no %> </h4>
      <% if roll_number_enabled? %>
        <h4><%= t('roll_no') %> : <%=  @archived_student.roll_number.nil? ? "-" : @archived_student.roll_number  %> </h4>
      <% end %>
    </div>

    <div class="extender"> </div>

  </div>

  <div id="new_profile_info_top">

    <table width="700">
      <tr class="odd left"><td><%= t('admission_date') %></td><td class="right"><%= format_date(@archived_student.admission_date,:format=>:long) unless @archived_student.admission_date.nil? %></td></tr>
      <tr class="even left"><td><%= t('date_of_birth') %></td><td class="right"><%= format_date(@archived_student.date_of_birth,:format=>:long) unless @archived_student.date_of_birth.nil? %></td></tr>
      <tr class="odd left"><td><%= t('blood_group') %></td><td class="right"><%= @archived_student.blood_group %></td></tr>
      <tr class="even left"><td><%= t('gender') %></td><td class="right"><%= t("#{@archived_student.gender_as_text.downcase}") %></td></tr>
      <tr class="odd left"><td><%= t('nationality') %></td><td class="right"><%= @archived_student.nationality.full_name unless @archived_student.nationality_id.nil? %></td></tr>
      <tr class="even left"><td><%= t('mother_tongue') %></td><td class="right"><%= @archived_student.language %></td></tr>
      <tr class="odd left"><td><%= t('category') %></td><td class="right"><%= @archived_student.student_category.name unless @archived_student.student_category.nil? %></td></tr>
      <tr class="even left"><td><%= t('religion') %></td><td class="right"><%= @archived_student.religion %></td></tr>
      <tr class="odd left"><td><%= t('address') %></td><td class="right"><%= @archived_student.address_line1%><%= ', ' unless @archived_student.address_line1.blank? %><%=  @archived_student.address_line2 %></td></tr>
      <tr class="even left"><td><%= t('city') %></td><td class="right"><%= @archived_student.city %></td></tr>
      <tr class="odd left"><td><%= t('state') %></td><td class="right"><%= @archived_student.state %></td></tr>
      <tr class="even left"><td><%= t('zip') %></td><td class="right"><%= @archived_student.pin_code %></td></tr>
      <tr class="odd left"><td><%= t('country') %></td><td class="right"><%= @archived_student.country.full_name unless @archived_student.country_id.nil? %></td></tr>
      <tr class="even left"><td><%= t('birth_place') %></td><td class="right"><%= @archived_student.birth_place %></td></tr>
      <tr class="odd left"><td><%= t('phone') %></td><td class="right"><%= @archived_student.phone1 %></td></tr>
      <tr class="even left"><td><%= t('mobile') %></td><td class="right"><%= @archived_student.phone2 %></td></tr>
      <tr class="odd left"><td><%= t('email') %></td><td class="right"><%= @archived_student.email %></td></tr>
      <% unless  @additional_fields.empty? %>
        <% @additional_fields.each do |field| %>
          <% detail = @archived_student.additional_detail(field.id) %>
          <% p =cycle('2',' ') %>
          <% unless detail.nil? %>
            <tr class="odd left">
              <td><%= field.name %></td>
              <td class="right">
                <%= detail.additional_info.gsub(/\n/, '<br>') unless detail.nil? %>
              <% end %>
            </td>
          </tr>
          <% end  %>
      <% end %>
      <tr class="even left"><td><%= t('reason_for_leaving') %></td><td class="right"><%= @archived_student.status_description %></td></tr>

      <% if permitted_to? :edit_leaving_date,:archived_student %>
        <tr class="odd left"><td><%= t('leaving_date') %></td><td class="right"><div id="leaving-date"><%= format_date(@archived_student.date_of_leaving,:format=>:long) %></div> (<%= link_to_remote "#{t('change')}", :url=> {:controller => 'archived_student', :action => 'edit_leaving_date', :id => @archived_student.id}, :method=>:get %>)</td></tr>
      <% else %>
        <tr class="odd left"><td><%= t('leaving_date') %></td><td class="right"><div id="leaving-date"><%= format_date(@archived_student.date_of_leaving,:format=>:long) %></div></td></tr>
      <% end %>
    </table>
    <div id="modal-box" style="display:none;"></div>
    <div class="extender"></div>
  </div>
</div>
