<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('student_details') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('report_center') %></div>

</div>
<div id="page-yield">
    <div class="bread_crumb">
        <% breadcrumb :archived_student_reports,@student  %>
        <%= render_breadcrumbs  %>
    </div>
    <div id="compact_student_profile_heading">
        <div id="profile_picture_display">
            <% if @student.photo.file? %>
              <%= image_tag @student.photo.url(:original, false) %>
            <% else %>
              <%= image_tag "master_student/profile/default_student.png" %>
            <% end %>
        </div>

        <div id ="combact_student_main_info">
            <div class="combact_student_info_fields"><span class="combact_student_info_label"><%= t('name') %> : </span><span class="combact_student_info_value"><%= @student.full_name %></span></div>
            <div class="combact_student_info_fields"><span class="combact_student_info_label"><%= t('adm_no') %> : </span><span class="combact_student_info_value"><%= @student.admission_no %></span></div>
            <div class="combact_student_info_fields"><span class="combact_student_info_label"><%= t('course_text') %> : </span><span class="combact_student_info_value"><%= @student.batch.course.full_name %></span></div>
            <div class="combact_student_info_fields"><span class="combact_student_info_label"><%= t('roll_no') %> : </span><span class="combact_student_info_value"><%= @student.roll_number.present? ? @student.roll_number : "-" %></span></div>
        </div>

        <div class="extender"> </div>

    </div>
    <div id="exam-results-dashboard">

        <h3><%= t('academic_reports') %></h3>

        <div class="exam-results-reports-col">
            <% if permitted_to? :exam_report, :student %>
              <% if @exam_groups.present? %>
                <h4><%= t('recent_exams') %></h4>
                <ul class="category-list">
                    <% @exam_groups.each do |e| %>
                      <li class="list<%=cycle('odd', 'even')%>">
                          <label>
                              <div class="category-name">
                                  <%= link_to e.name, { :action => 'generated_report',:exam_group=>e.id, :student => @student.id} %>
                              </div>
                          </label>
                      </li>
                    <% end %>
                </ul>
              <%end%>
            <%end%>

            <% if @subjects.present? %>
              <h4><%= t('subject_wise_result') %></h4>
              <ul class="category-list">
                  <% @subjects.each do |s| %>
                    <li class="list<%=cycle('odd', 'even')%>">
                        <label>
                            <div class="category-name">
                                <%= link_to s.name, { :action => 'generated_report3', :student => @student.id, :subject => s.id } %>
                            </div>
                        </label>
                    </li>
                  <% end %>
              </ul>
            <%end%>
        </div>

        <div class="exam-results-reports-col">
            <h4><%= t('detailed_report') %></h4>
            <ul class="category-list">
                <%reset_cycle%>
                <% unless @grouped_exams.empty? %>
                  <li class="list<%=cycle('odd', 'even')%>">
                      <label>
                          <div class="category-name">
                              <%= link_to "Transcript Report", { :controller=>'exam', :action => 'student_transcript',:transcript=>{:batch_id=>@student.batch_id},:student_id=>@student.former_id,:flag=>"1" } %>
                          </div>
                      </label>
                  </li>
                <% else %>
                  <li class="list<%=cycle('odd', 'even')%>">
                      <label>
                          <div class="category-name">
                              <%= link_to "Transcript Report", { :controller=>'exam', :action => 'student_transcript',:transcript=>{:batch_id=>@student.batch_id},:student_id=>@student.former_id,:flag=>"1" } %>
                          </div>
                      </label>
                  </li>
                <% end %>
                <% if @student.graduated_cce_batches.present? %>
                  <li class="list<%=cycle('odd', 'even')%>">
                      <label>
                          <div class="category-name">
                              <%= link_to "CCE Transcript Report", { :controller => 'cce_reports', :action => 'student_transcript',:id=>@student.id_in_context,:type=>"former" }%>
                          </div>
                      </label>
                  </li>

                <% end %>
                <% if @student.graduated_icse_batches.present? %>
                  <li class="list<%=cycle('odd', 'even')%>">
                      <label>
                          <div class="category-name">
                              <%= link_to "ICSE Transcript Report", { :controller => 'icse_reports', :action => 'student_transcript',:id=>@student.id_in_context,:type=>"former" }%>
                          </div>
                      </label>
                  </li>
                <% end %>
            </ul>
        </div>

        <div class="extender"> </div>

    </div>

    <div id="attendance-reports-dashboard">

        <h3><%= t('attendance_reports_text') %></h3>
        <div class="attendance-reports-col">

            <h4><%= t('detailed_report') %></h4>
            <ul class="category-list">
                <%reset_cycle%>
                <% @old_batches.each do |b| %>
                  <li class="list<%=cycle('odd', 'even')%>">
                      <label>
                          <div class="category-name">
                              <%= link_to b.full_name, :action => 'student_report', :id => @student.id, :year => b.id %>
                          </div>
                      </label>
                  </li>
                <% end %>
            </ul>
        </div>
    </div>

</div>
