<div id="new_message">
    <div id="search_textbox">
        <label class="modal-box-label" for="query"><%=t('recipient')%></label>
        <%= text_field_tag("query_message", params['query'], :autocomplete => 'off',:placeholder=>"Search Students, Parents, and Employees with their names or number") %>
        <%= image_tag("ajax_loader_gray_32.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader",
          :style => "display: none;") %>
        <div id="search_list"></div>
    </div>
    <div id="msg-receivers"></div>
    <div id="form-con">
        <% form_for :message_thread, :url => {:controller=>'messages',:action=> 'create'},:html => {:id => "new_message_form"} do |f| %>
          <%= f.hidden_field :recipients_presence%>
        <div class="wrapper" id='recipient_error' style="display:none"><div class="error-icon"></div><div class="error-msg"><%=t('select_recipient')%></div></div>
          <div id="parent_select"></div>

          <div class="label-field-pair">
              <div class="label-container"><%= f.label :subject, "#{t('subject')}" ,:class=>"modal-box-label"%></div>
              <div class="input-container">
                <%= f.text_field :subject, :placeholder=>'What is this conversation about ?&lrm;' %>
                  <div class="wrapper" id='subject_error' style="display: none"><div class="error-icon"></div><div class="error-msg"> <%=t('subject_cant_blank')%></div></div>
                  <div class="wrapper" id='subject_error2' style="display: none"><div class="error-icon"></div><div class="error-msg"> <%=t('subject_must_be_below_100')%></div></div>
              </div>
          </div>
          <div class="label-field-pair-text-area">
              <label class="modal-box-label" for="message_body"><%= t('message') %></label>
              <div class="textarea-input-bg"><%= text_area_tag "message_thread[messages_attributes][1][body]" %></div>
              <div class="wrapper" id='message_error' style="display: none"><div class="error-icon"></div><div class="error-msg"> <%=t('message_blank')%></div></div>
          </div>
          <%= f.hidden_field :message_body_presence %>
          <%= hidden_field_tag "message_thread[creator_id]",@current_user.id %>
          <%= hidden_field_tag "message_thread[messages_attributes][1][sender_id]",@current_user.id %>
          <%= hidden_field_tag "message_thread[messages_attributes][1][is_primary]",true %>
  <%#= hidden_field_tag "message_thread[messages_attributes][1][message_recipients_attributes][#{@current_user.id}][recipient_id]",@current_user.id %>
          <div class="label-field-pair_column left" id="attachment-field-div">
              <div class="text-input-bg" id="browse-style">
                  <%= paperclip_file_field_tag 'message_thread[messages_attributes][1][message_attachment_attributes]','attachment', :size=>12, :direct => false, :object => MessageAttachment.new %>
                  <div class="remove-field"><a onclick="remove_model_uploaded_file()"></a></div>
              </div>
              <div class="wrapper" id='attachment_error' style="display: none"><div class="error-icon"></div><div class="error-msg"> <%=t('attachment_not_supporting')%></div></div>
          </div>
          <div class="model_actions">
              <%= submit_tag "#{t('send')} #{t('message')}",:class=>'modal-box-submit_button submit-button', :id=>'new_message_submit'  %>
              <%= link_to "#{t('cancel')}","#",:onclick=>'close_modal_box();',:class=>'modal-box-cancel_button submit-button' %>
          </div>
        <%end%>
    </div>
</div>
<script>
  j('#attachment-field-div .style input').change(function () {
     $attachment_error = false
     validate_upload_type(this);
  });
</script>