<% if type == 'normal' %>
  <div class="select_message_parent">
      <%=radio_button_tag  "message_thread[send_to]", "student", :checked => "checked" %>
      <label class="" for="message_thread_send_to_student">Message Only Student</label>
      <%= radio_button_tag  "message_thread[send_to]", "guardian" %>
      <label class="" for="message_thread_send_to_guardian">Message Only Guardian</label>
      <%= radio_button_tag  "message_thread[send_to]", "both" %>
      <label class="" for="message_thread_send_to_both">Message Both</label>
  </div>
<% elsif type == 'only_parent' %>
  <div class="select_message_parent">
      <%#= hidden_field_tag "message_thread[send_to]","guardian" %>
      <%=radio_button_tag  "message_thread[send_to]", "student" ,false,:disabled => true%>
      <label class="" for="message_thread_send_to_student">Message Only Student</label>
      <%= radio_button_tag  "message_thread[send_to]", "guardian",:checked => "checked" %>
      <label class="" for="message_thread_send_to_guardian">Message Only Guardian</label>
      <%= radio_button_tag  "message_thread[send_to]", "both",false,:disabled => true %>
      <label class="" for="message_thread_send_to_both">Message Both</label>
  </div>
<%end%>