<div class="label-field-pair_column">
  <span class="scrolable-left-label"><%= "#{t('parents')} (<span id='selected_parents_count'>#{@to_parents.count}</span>)" %></span>
  <span class="right" onclick="remove_all_parents(this)"><%= t('remove_all') %></span>
  <div class ="scrolable" >
    <% x = '<span class="add-span"> x </span>' %>
    <div class="scroll-inside">
        <div class="hover">
            <%= "#{t('all')} #{t('parents')}"  %>
        </div>
    </div>
  </div>
</div>
<div class="extender"></div>
<script type="text/javascript">
  insert_all_parents("<%= @to_parents.inject('') { |arr, u| arr + u.to_s + ',' }.chomp(',') %>");
</script>
