<%= javascript_include_tag("jquery.ajaxAutocomplete.ch") %>
<% if (rtl?) %>
  <script>
    j(document).ready(function () {
        j("#drop_header").hover(
                function () {
                    link_off = j("#drop_header").offset();
                    link_width = j("#drop_header").width();
                    link_height = j("#drop_header").height();
                    box_width = j("#box_1").width();
                    //  c_b.css({ top: (0 - (child_bottom - main_bottom))});
                    j("#box_1").css({top: (link_off.top + link_height), left: (link_off.left)});
                    j("#box_1").css("display", "block");
                },
                function () {
                    j("#box_1").css("display", "none");
                });
    });
  </script>
<% else %>
  <script>
    j(document).ready(function () {
        j("#drop_header").hover(
                function () {
                    link_off = j("#drop_header").offset();
                    link_width = j("#drop_header").width();
                    link_height = j("#drop_header").height();
                    box_width = j("#box_1").width();
                    //  c_b.css({ top: (0 - (child_bottom - main_bottom))});
                    j("#box_1").css({top: (link_off.top + link_height), left: ((link_off.left + link_width) - box_width)});
                    j("#box_1").css("display", "block");
                },
                function () {
                    j("#box_1").css("display", "none");
                });
    });
  </script>
<% end %>
<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('messages') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('conversations') %></div>

    <div id="inner-tab-menu">
        <ul>
            <% if @current_user.can_message? %>
              <li class='themed_bg themed-dark-hover-background'><%= link_to_remote "#{t('new_text')} #{t('message')}", :url => {:action => "new"} %></li>
              <% if @current_user.admin? or @current_user.employee?   %>
                <li id="drop_header" class='themed_bg themed-dark-hover-background sibling-small-drop'>
                    <a href="#" id="drop_header_link">&#9660;</a>
                    <ul id="box_1" class="more-menu-div" style="display:none;">
                        <li class="themed_bg themed-dark-hover-background"><%= link_to "#{t('create_text')} #{t('broadcast_message')}", :controller=>'messages', :action=>'create_broadcast'%></li>
                    </ul>
                </li>
              <% end %>
            <% end %>
            <% if permitted_to? :message_settings, :messages %>
              <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('settings')}", :controller=>"messages", :action=>"message_settings"%></li>
            <%  end %>
        </ul>
    </div>

</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs  %>
    </div>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <div class="message_box">
        <div id="message_threads"><%= render :partial=>'threads' %></div>
        <% if @recipient_only_gt%>
          <div id="message_conversation"><%= render :partial=> 'group_conversations' %></div>
        <% else%>
          <div id="message_conversation"><%= render :partial=> 'conversations' %></div>
        <%end%>
    </div>
    <div id="modal-box" style="display:none;"></div>
</div>
<script>
  $reply_attachment_error = false;
  
  validate_upload_type_for_reply = function(input) {
      for( var i = 0;i<input.files.length;i++){
          if (input.files && input.files[i]) {
              if(j.inArray(input.files[i].type, valid_attachments) == -1){
                  $reply_attachment_error = true;
              }else{
                  $reply_attachment_error = false;
              }
          }
      }
  }
  
  
  j('.reply_actions #attachment-field-div .style input').change(function () {
     validate_upload_type_for_reply(this);
  });

  j('#submit_button').attr('disabled', 'disabled');
  j(document).delegate("#message_body", "input", function () {
      check_disable()
  });

  file_uploaded = function () {
      j('#submit_button').removeAttr('disabled');
  }

  disable_submit = function () {
      j('#submit_button').attr('disabled', 'disabled');
  }

  function check_disable() {
      if (j('#message_body').val() != '') {
          j('#submit_button').removeAttr('disabled');
      } else {
          disable_submit()
          field = j('#message_message_attachment_attributes_attachment')
          no_file = check_file_absence(field)
          console.log(no_file)
          if (no_file) {
              j('#submit_button').attr('disabled', 'disabled');
          } else {
              j('#submit_button').removeAttr('disabled');
          }
      }
  }

  check_file_absence = function (field) {
      no_file = false;
      if (field[0].files == null) {
          if (j('#key_message_message_attachment_attributes_attachment').val() == '') {
              no_file = true
          }
      } else if (field[0].files[0] == undefined) {
          no_file = true
      }
      return no_file
  }

  function remove_uploaded_file() {
      resetFileElement(j("#field_message_message_attachment_attributes_attachment"));
      resetFileElement(j("#message_message_attachment_attributes_attachment"));
      $reply_attachment_error = false
      j('.form_cont #reply_attachment_error').css("display", "none");
  }

  function resetFileElement(e) {
      e.val('');
      e.wrap('<form>').closest('form').get(0).reset();
      e.unwrap();
  }


  j(document).on("submit", "#message_reply", function (event) {
      event.preventDefault();
      disable_submit();
      var form = this;
      var field = j(form).find('#message_message_attachment_attributes_attachment');
      var thread_id = j('#form_data').attr('data-thread')
      var message_body = j('#message_body').val().trim();
      var no_file = check_file_absence(field)
      if (message_body == '' && no_file) {
          j('.form_cont').addClass('with_errors');
      } else if($reply_attachment_error) {
          j('.form_cont').addClass('with_errors');
          j('.form_cont #reply_attachment_error').css("display", "block");
      }
      else {
          j('.form_cont #reply_attachment_error').css("display", "none");
          j('.paperclip_field input[type=file].paper').each(function () {
              if (j(this).attr("direct") === "false") {
                  j(this).attr("disabled", true);
              }
          });
          j('#message_reply').ajaxSubmit({
              beforeSubmit: function (a, f, o) {
                  o.dataType = 'json';
              },
              complete: function (XMLHttpRequest, textStatus) {
                  j('.conversations.scrollbar').append(XMLHttpRequest.responseText);
                  refresh_message_reply();
              }
          });
      }
  })

  refresh_message_reply = function () {
      if (j(".scrollbar").length > 0) {
          j(".scrollbar").scrollTop(j(".scrollbar")[0].scrollHeight);
      }
      j('#message_body').val('');
      j('#key_message_message_attachment_attributes_attachment').val('')
      j('#message_body').focus();
      j('.form_cont').removeClass('with_errors');
      j('.paperclip_field input[type=file].paper').each(function () {
          if (j(this).attr("direct") === "false") {
              j(this).attr("disabled", false);
          }
      });
      remove_uploaded_file();
      check_disable();
  }



</script>