#fees-table{
    padding-top: 10px;
    width:900px;
    height:auto;
}
.fees-th {
    background: none repeat scroll 0 0 #BECFFB;
    border-bottom: 1px solid #BECFFB;
    font-weight: normal;
    height: auto;
    list-style-type: none;
    padding: 0.5em 1em 0 0;
    overflow: auto;
}

.fees-table-payee{
    float:right;
    width:200px;
    padding-right:25px;
}
.fees-table-category{
    float:right;
    width:221px;
}

.fees-table-amount {
    float: right;
    padding-right: 40px;
    width: 50px;
}


.fees-table-date {
    float: right;
    width: 133px;
}

.fees-table-reciept {
    float: right;
    margin-right: 40px;
    text-align: center;
    width: 132px;
}

.fees-table-total-amount {
    float: left;
    margin-left: 45px;
/*    margin-top: -19px;*/
}

.fees-table-total-name {
    float: right;
    margin-right: 642px;
    margin-left: 5px;
}

.listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em;
    list-style-type : none;
    padding: 10px 16px 0 0;
    font-size: 14px;
    width:885px;

}

.listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em;
    list-style-type : none;
    padding: 10px 16px 0 0;
    font-size: 14px;
    width:885px;

}

.fees-table-payee a{
    text-decoration: none;
    color: #444444;
}

.fees-table-payee a:hover{
    text-decoration: none;
    color: #BB0000;
}
#fees_report_title{
}
