.student_document_categories-icon {
    background-position: -80px -260px !important;
}
#student_document_manager_heading{
    
}
#student_document_manager_heading h3.main_title{
    font-weight: bold;
    font-size: 16px;
}
#student_document_manager_heading h4.description{
    float: right;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: normal;
    color: #777;
    width: auto;
    max-width: 700px;
}
.add_link {
    margin-bottom: 20px;
    float: left;
    font-size: 14px;
    color: #000;
}
.add_link a, .add_link:hover, .add_link a:visited{    
    font-weight: normal;
    font-size: 14px;
    margin-right: 20px;
    text-decoration: none;
    color: #000;
}
#listing{
    width: 100%;
}
#listing .tr-head {
    color: #000 !important;
    font-size: 14px !important;
}
#listing .tr-head td {
    padding: 5px;
    padding-right: 10px;
    font-weight: bold !important;
}
#listing .col-1, #listing .col-2  {
    padding: 5px;
    padding-right: 10px;
    font-size: 13px;
    font-weight: normal;
}
#listing td.col-1{
    width: 80% !important;
    max-width: 800px;
}
#listing td.col-2{
    width: 20%;
    max-width: 100px;
}


.submit_button {
    margin-top: 15px;
    margin-right: 210px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
}
.submit_button:hover {
    background: #373B3F;
}

.deletion_dialog_heading{
    font-size: 14px;
    margin-top: 20px;
    padding-bottom: 30px;
}
.deletion_description_text {
    margin-bottom: 20px;
    font-size: 14px;
}
.deletion_description_text {
    margin-bottom: 20px;
    font-size: 14px;
}
.category_delete_option {
    margin-right: 20px !important;
    width: calc(100% - 30px) !important;
    line-height: 20px !important;
    height: 20px !important;
}
.category_delete_option:last-child {
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
    
    margin-right: -12px !important;
    margin-left: -20px !important;
    width: calc(100% - 8px) !important;
    padding-right: 32px;
}
.category_delete_option .input-container {
    width: 30px;
    float: right;
}
.category_delete_option .input-container input {
    width: 100%;
    margin-right: 0px;
    padding: 0px;
}
.category_delete_option .label-container {
    float: right;
    width: calc(100% - 40px) !important;
}
.category_delete_option .label-container label {
    padding-top: 5px;
    width: calc(100% - 40px);
    font-weight: normal;
}
.category_delete_option select {
    margin-right: 30px !important;
}
.delete_submit_button{
    /*margin-left: 100px;*/
    margin-right: 25px;
    margin-top: 0px;
}
#modal-box {
    padding-bottom: 20px;
}
table#listing td a:first-child{
    margin-left: 10px;
}
table#listing td .disabled_link:first-child{
    margin-left: 13px;
}
table#listing td .disabled_link{
    text-decoration: line-through !important;
    font-size: 13px !important;
    color: #27292b !important;
    float: right;
}