
#news_area {
    margin-top:50px;
}
#news_title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
#create_date {
    font-size: 16px;
    padding-top: 20px;
    text-align: center;
    color: #000 !important;
}
#news_content {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    margin-top:25px;
    text-align:justify;
    line-height:1.5em;
    width: 700px;
    overflow:auto;
    overflow-wrap: break-word;
}
#content_div{
    width: 700px;
    margin: 0 auto;
}

.edit_button {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin: 0px auto;
    margin-top:30px;
    margin-left:300px;
    padding:7px 12px;
    border:none;
    float:left;
    text-align:center;
    width:auto;
    cursor:pointer;
    text-decoration: none;
    color:#fff;
}
.edit_button:hover, .delete_button:hover, #submit-button input:hover{
    background:  #373B3F;
}
.delete_button {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin: 0px auto;
    margin-top:30px;
    margin-left:30px;
    padding:7px 12px;
    border:none;
    float:left;
    text-align:center;
    width:auto;
    cursor:pointer;
    text-decoration: none;
    color:#fff;
}
#edit_button a, #delete_button a {
    text-decoration: none;
    color:#fff;
}
#comments-heading {
    border-bottom: 2px solid gray;
    padding: 0 0 10px 0;
}
#leave-a-comment {
    margin: 0px 0 10px 0px;

}

#comments-list {
    padding: 0 0 20px 0;
}
#comments-list li {
    border-bottom: 1px solid #aaa;
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 10px 0 10px 0;
}
#comments-list li .comment-details {
    color: #888;
    font-size: 80%;
    height: 15px;
    margin: 0 0 10px 0;
}
.comment-details .commenter {
    float: left;
    width: 535px;
}
.comment-posted-at{
   float: left;
   color: #666;
   font-size: 10px;
   width:auto;
   margin-bottom: 20px;
}
.comment-details .delete-comment {
    float: right;
    margin: 0 0 0 20px;
}
.comment-content-text {
    width: auto;
    max-width: 500px;
    margin-top: 10px;
    text-align: justify;
    margin-bottom: 10px;
    overflow-wrap: break-word;
}

.comment-content textarea  {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ddd;
    background-color:#EEEEEE;
    width: 500px;
    height: 60px;
    padding: 10px;
    margin-left: 0px;
    float:left;
    font-size: 13px;
}

.comment-content textarea:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}

#submit-button {
    margin: 20px 0px 0 0;
    float: left;
    width: 100%;

}
#submit-button input{
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin: 0px auto;
    padding:7px 12px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
    margin-top: -9px;
}
.approve
{
    float: left;
    width: 220px;
}

.delete-comment a {
    color: #000000;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 10px;
    text-decoration: none;
}
.approve a {
    color: #000000;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 10px;
    text-decoration: none;
}
.pagination{
    margin-top: 20px;
    margin-right: 0px;
}
#news_content img{
    max-width:700px !important;
}
/*attachments*/
#attachments_title{
  font-weight: normal;
  font-size: 14px;
}
#attachments_list {
  list-style: none;
  padding-left: 0px;
}
#attachments_list li a {
  font-size: 13px;
}
#attachments_list li {
  padding-bottom: 15px;
}
span.attachment_icon_img {
  float: left;
  margin-right: 10px;
}
.comment_box{
    margin-bottom:  20px;
    border-bottom:  1px solid #ddd;
    font-size:13px;
    float: left;
    width: 700px;
}
.comment_actions{
    float:right;
}
.hide_comment{
    float:right;
}
.commenter_name{
    font-weight: bold;
    float:left;
    width:auto;

}
.comment_heading{
    font-size:14px;
    margin: 50px 0 20px 0px;
    float: left;
}
#pending{
    float:left;
}
#approved{
    float:left;
    margin-right: 20px;
}
#comments{
    float:left;
    margin-right: 180px;
}
.active{
    font-weight: bold;
    color:#000;
    pointer-events: none;
}
#page-yield .comment_heading a{
    color:#000;
    text-decoration:none;
}
.approve_comment{
    float:left;
    margin-right: 20px;
    color: #666;
}
.first_row{
    float: left;
    min-width: 100%;
    margin-bottom: 10px;
}

.pagination .prev_page {
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    border-right: 0px solid #CCC;

    color: #666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .next_page {
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color: #666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}

.pagination a {
    color: #666;
    cursor: pointer;
    border-left: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: left;
    font-weight: normal;
    padding: 9px 13px 9px 15px;
    border-right: 0px solid #fff;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;

}
.pagination .disabled {
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color: #666 !important;
    text-decoration: none !important;
    border-left: 1px solid #ccc;
    border-right: 1px solid #CCC;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.pagination .current {
    display: block;
    float: left;
    padding: 9px 13px 9px 15px;
    font-size: 13px;
    color: #fff !important;
    background-color: #666666;
    font-weight: normal;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
}


.pagination a.prev_page {
    color: #27292b;
    font-weight: bold;
    text-transform: lowercase;
    background: none;
    text-decoration: underline;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-right: 0px solid #CCC;
}

.pagination a.next_page{
    color: #27292b;
    font-weight: bold;
    text-transform: lowercase;
    background: none;
    text-decoration: underline;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;

}


.pagination-div{
    float:right;
    margin-top: -10px;
}
#page-yield a {
    cursor: pointer;
    
}
.downloads{
    
}
.no_comments{
    padding-left: 90px;
    font-size: 14px;
}
.hor_line {
    width: 100%;
height: 1px;
background-color: #ddd;
margin-bottom: 20px;
float: left;

}
