
#view_all {margin-right:50px;}
#view_all a {font-weight:bold;color:#000;}
.necessary-field {
    color:#FF0000;
    font-size:1.1em;
}
.label-field-pair {
    height:auto;
    padding-top:3px;
    width:600px;
    float: right;
}
.label-field-pair label {
    color:#444444;
    display:block;
    float:right;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:10px;
    margin-right:13px;
    width:200px;
}
.necessary-field {
    color:#FF0000;
    font-size:1.1em;
}
.label-underline{
    background:  #eeeeee;
    height: 1px;
    border: none;
}
.submit_button {
    margin-top:30px;
    margin-right:224px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}

.loader5{height:20px; width:20px;}

.seat{
    font-weight: bold;
    float: right;
}

.number {
    font-weight: bold;
    float: right;
    padding-right: 10px;
}
.number3 {
    font-weight: bold;
    float: right;
    padding-right: 10px;
}
.available-seat{
    margin: 0 auto;
    padding: 0;
}

#seat_description{
    margin-right: 10px;

}
#vehicle_form{
    width:550px;
    margin:auto;
}
.info_icon_img{
    margin: 6px -75px 8px -15px;
}
.label-field-pair input {
    float: right;
}

.tooltip_info{
    right: -140px!important;
    top: 26px!important;
}