<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="page-yield">
  <div class="box">
    <% form_remote_for @fa_group,:url=>{:controller=>"fa_groups",:action=>'create'},:before=>"$('submit_button').disable()",:complete=>"setTimeout(function(){$('submit_button').enable();},5000)" do |f| %>
      <div id="form-errors"></div>
      <%= error_messages_for :fa_group %>
      <div class="label-field-pair1">
        <label for="fa_group_name">Name</label>
        <div class="text-input-bg1"><%= f.text_field :name %></div>
      </div>
      <div class="label-field-pair2">
        <div class="text-input-bg2"><%= select :fa_group_prefix, :prefix, [["FA1", "FA1"],["FA2", "FA2"],["FA3", "FA3"],["FA4","FA4"]] %></div>
      </div>
      <div class="extender"></div>
      <div class="label-field-pair">
        <label for="fa_group_desc">Description</label>
        <div class="text-input-bg"><%= f.text_field :desc %></div>
      </div>
      <div class="label-field-pair">
        <label for="fa_group_max_marks">Max Marks</label>
        <div class="text-input-bg"><%= f.text_field :max_marks %></div>
      </div>
      <div class="label-field-pair">
        <label for="category_name">CCE Exam Category</label>
        <div class="text-input-bg">
          <%= f.select :cce_exam_category_id ,@exam_categories.map{|m| [m.name,m.id]} ,:prompt=>"Select an Exam Category" %>
        </div>
      </div>
      <div class="label_field_pair">
        <label class="label_for_di_calculation" for="di_formula">FA Criteria Calculation</label>
        <div class="di_formula">
          <%= f.radio_button  "di_formula", 1, :checked => "checked" %><label for="di_formula">Average of descriptive indicators</label>
          <%= f.radio_button  "di_formula", 2 %><label for="di_formula">Sum of descriptive indicators</label>
        </div>
      </div>
  <%#*<div class="label-field-pair">%>
  <%#*<label for="category_name">CCE Grade Set</label>%>
  <%#*<div class="text-input-bg">%>
  <%#= f.select :cce_grade_set_id ,@grade_sets.map{|m| [m.name,m.id]} ,:prompt=>"Select a Grade Set" %>
  <%#*</div>%>
  <%#*</div>%>
      <%= f.submit "", :value => "► Create", :class => "submit_button", :id => 'submit_button' %>
    <% end %>
  </div>
</div>
