<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1>Foramtive assessment</h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'>Assign FA Groups to Subjects</div>
  <div id="inner-tab-menu">
    <ul>

    </ul>
  </div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <div id="error-div"></div>
  <div id="flash-box">
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
  </div>
  <div class="label-field-pair">
    <label for="course_id">Class</label>
    <%= image_tag("loader.gif",
      :align => "absmiddle",
      :border => 0,
      :id => "loader",
      :style =>"display: none;" ) %>
    <div class="text-input-bg">
      <%= select :subject, :course_id,
        @courses.map {|c| [c.full_name, c.id]},
        {:prompt => "Select a class"},
        {:onChange => "#{remote_function(:url => {:action => "select_subjects"},
        :with => "'course_id='+ value",
        :before => "Element.show('loader')",
        :success => "Element.hide('loader')"
        )}"} %>
    </div>
  </div>
  <div id="subjects"> </div>
  <div id="select_fa_group"> </div>
</div>
