<% if @batch.present?  %>
  <% unless @students.empty?  %>
    <div class="list_name">
        <%= t("students_in_batch") %>
        <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
    </div>
    <ul class="student_list">
        <% @students.each do |s| %>
          <li class="student_names">
              <% unless @batch.is_active%>
                <% if @config.config_value == "roll_number" %>
                  <a href="#" id="<%=s.id%>"  class="student-link" > <%= " #{s.full_name} (#{s.roll_number_in_context_id})&#x200E;" %></a>
                <%elsif @config.config_value == "first_name" or @config.config_value == "last_name"%>
                  <%if Configuration.enabled_roll_number?%>
                    <% if s.roll_number_in_context_id.present? %>
                      <a href="#" id="<%=s.id%>"  class="student-link" > <%= " #{s.full_name} (#{s.roll_number_in_context_id})&#x200E;" %></a>
                    <%else%>
                      <a href="#" id="<%=s.id%>"  class="student-link" > <%= " #{s.full_name} (-)&#x200E;" %></a>
                    <%end%>
                  <%else%>
                    <a href="#" id="<%=s.id%>"  class="student-link" > <%= " #{s.full_name} (#{s.admission_no})&#x200E;" %></a>
                  <%end%>
                <%else%>
                  <a href="#" id="<%=s.id%>"  class="student-link" > <%= " #{s.name_with_suffix}" %></a>
                <%end%>
              <%else%>
                <a href="#" id="<%=s.id%>"  class="student-link" > <%= " #{s.name_with_suffix}" %></a>
              <%end%>
          </li>
        <% end %>
    </ul>
  <% else %>
    <%= t("no_students_in_batch")  %>
  <% end %>
<% end %>
<script>
    $$('.student-link').invoke('observe','click',draw_report);
    $$('.student-link').invoke('observe','click',set_active);
</script>