<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1>IA Scores</h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'>Enter IA Scores</div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%if @exam.subject.batch.is_active%>
      <% breadcrumb :ia_scores, @exam%>
    <%else%>
      <% breadcrumb :ia_scores_previous, @exam%>
    <%end%>
    <%= render_breadcrumbs  %>
  </div>
  <div id="flash-box">
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
  </div>
  <% unless flash[:warn_notice].nil? %>
    <div id="errorExplanation" class="errorExplanation"><%= flash[:warn_notice] %> </div>
  <% end %>
  <div id="form-errors"></div>
  <% unless @icse_weightage_error%>
    <%if @ia_group.present?%>
      <div id="student_list"><%= render :partial=>'student_list' %></div>
      <div id="fa_sheet"><%= render :partial=>'ia_sheet' %></div>
    <% else %>
      <div id="flash-box">
        <p class="flash-msg"> No IA Group assigned to this subject </p>
      </div>
    <% end %>
  <% else %>
    <div id="flash-box">
      <p class="flash-msg"> No IA Weightage assigned to this subject </p>
    </div>
  <% end %>

</div>
<script type="text/javascript">
  function set_active(){
    $$('.active-link').each(function(e){
      e.removeClassName('active-link');
    });
    this.addClassName('active-link')
  }

  document.observe("dom:loaded", function() {
    $$('.student-link').invoke('observe','click',draw_report);
    $$('.student-link').invoke('observe','click',set_active);
    set_active.call($('<%=@student.id%>'))
  });

</script>
