.submit_button {
    margin-top:15px;
    margin-left:211px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}

#category-list {
    clear : both;
    padding : 10px 0 40px 0px;
    width:600px;
    margin:0px auto;
}
#category-list .listheading{
    background : #BECFFB;
    border-bottom: 2px solid #BECFFB;
    color : #444;
    height : 1.5em;
    list-style-type : none;
    padding : 0.5em 0 0 3em;
    width:32em;
}

#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
}

#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 0 0 5em;
}
#category-list li div {
    float : left;
}

.heading-no {
    font-size:13px;
    font-weight:bold;
    width:204px;
}
#category-list li div.category-name {
    width : 250px;
    font-weight: normal;
    font-size:13px;
}
#category-list li div.category-number {
    width : 173px;
    font-weight: normal;
    font-size:13px;
}
#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size : 0.9em;
    width : 50px;

}
#category-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}
.listheading a{
    float:right;
    margin-right: 10px;
    font-size: 13px;
    color: #444;
    text-decoration:none;
}
#page-yield .listheading a:hover, #page-yield .category-number a:hover{
    text-decoration: underline;
    color: black !important;
}
.category-number a{
    font-size: 13px !important;
    color: #444 !important;
    font-weight: normal
}
.listheading div.category-name {
    font-weight: bold !important;
}

.wrapper {
  margin-top: 5px;
  margin-left: 210px;
}

.error-msg{
    color: red;
    font-size: 13px;
    
}
.error-icon {
    width:15px;
    height:12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-right:2px;
    float:left;
 
}