
.link-box {
        margin: 40px 40px 40px 0px;
    width: 270px;
    float: left;
    height: auto;
}
.link-heading a {
    font-weight: bold;
    color: #900;
    font-size: 14px !important;
}
.link-descr {
   margin-top: 5px;
    color: #666;
    text-align: left;
}
#box{
    width:700px;
    margin:0px auto;
}
.box{
    width:750px;
    margin:0px auto;
    float: left;
}
li{
    list-style-type: none;
    padding-bottom: 5px;
    float: left;
    width: 100%;
}


ul{
   
    padding: 0px !important;

}

.title{
    width:140px;
    float:left;
    font-size: 13px !important;
}

.value{
    padding-left : 5px;
    font-size: 14px !important;
}

.seperator{
float:left;
padding-right:15px;
}