.box{
    font-size: 14px;
}
.box a:hover {
    text-decoration: underline !important;
}
.box a, .box a:hover {
    color: #000;
    text-decoration: none;
}
.heading {
    font-size: 16px;
    font-weight: bold;
}
.import-header {
    margin-top: 40px;
    font-weight: bold;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.subjects_label {
    font-weight: bold;
}
.subjects_description {
    margin-top: 20px;
    margin-bottom: 50px;
}
.subject-table {
    background: #fff;
    border: 1px solid #d4d4d4;
    border-collapse: collapse;
    font-size: 13px;
}
.head-row {
    background-color: #f4f4f4;
    color: #262626 !important;
    border-bottom: 1px solid #d4d4d4;
}
.head-row th {
    font-weight: normal;
    border-left: 1px solid #d4d4d4;
}
.subject-row {
    background-color: #fff !important;
    border-bottom: 1px solid #d4d4d4;
/*    color: #333 !important;*/
}
.elective-group-row {
    background: #eee;
    border-bottom: 1px solid #d4d4d4;
}
.subject-row td.subject-col-3 {
    border-left: 1px solid #d4d4d4;
}
.subject-row td.subject-col-1 {
    border-right: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
}
.subject-row td {
/*    border: 0px;*/
}
.head-col-1, .subject-col-1, .batch-col-1,
.head-col-2, .subject-col-2, .batch-col-2,
.head-col-3, .subject-col-3, .batch-col-3{
    padding: 8px;
    border-left: 1px solid #d4d4d4;
    height: auto;
}
.head-col-1, .head-col-2, .head-col-3{
    text-align: right;
}
.head-col-1, .subject-col-1, .batch-col-1{
    width: 30px;
}
.head-col-2, .subject-col-2, .batch-col-2{
    width: 440px;
}
.head-col-3, .subject-col-3, .batch-col-3{
    width: 230px;
}

#selected_subjects{
    display: none;
}
.selected_subjects {
    margin: 40px 0px 50px 0px;
}

.cancel_link{
    color: #333 !important;
    text-decoration: none;
}
.cancel_link:hover{
    color: #000 !important;
    text-decoration: underline;
}

.submit_area{
    margin-top: 40px;
    width: 100%;
    border-top: 1px solid #d4d4d4;
}
.disabled.submit_button {
    background-color: #ccc;
}
.submit_button {
    margin-top: 30px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    border: none;
    font-family: arial;
    cursor: pointer;
    margin-left: 10px;
}
.notifier {
    display: none;
    z-index: 8;
    position: absolute;
    pointer-events: none;
    color: #27292b;
    text-align: right;
    font-size: 13px;
    width: 179px;
    padding: 10px;
    background: #FFFFFF;
    border: #989898 solid 1px;
    margin-top: -12px;
    margin-right: 22px;
}
.notifier:after, .notifier:before {
    content: "";
    position: absolute;
    top: 11px;
    border-style: solid;
    border-width: 7px 0px 7px 10px;
    display: block;
    width: 0;
    border-color: transparent;
}
.notifier:after {
    right: -10px;
    border-left-color: #fff;
    z-index: 1;
}
.notifier:before {
    right: -11px;
    border-left-color: #0d0d0d !important;
    z-index: 0;
}
.not_eligible {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    background: url(/images/iconsprite-1.png) no-repeat -104px -64px;
}