.user_button {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF !important;
    cursor: pointer;
    display: block;
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 21px 18px 0 20px;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    width: auto;
}

#form-content{
    height:150px;
    width:500px;
    margin:0px auto;
}

.status{
    color : #444444;
    font-weight : bold;
    margin : 0 5px 10px 0;
}

#submit-button input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    float:right;
    margin-top:20px;
    margin-right: 210px;
    padding:7px 12px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
}

#category-list {
    clear : both;
    padding : 10px 0px 40px 0;
    width:650px;
    margin:0px auto;
}

#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height: auto;
    min-height : 1.5em;
    width : 34em;
    list-style-type : none;
    padding : 0.5em 5em 0 0;
    overflow: hidden;
}

#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height: auto;
    min-height : 1.5em;
    width : 34em;
    list-style-type : none;
    padding : 0.5em 5em 0 0;
    overflow: hidden;
}

#category-list li div {
    float: right;
    height: auto;
    padding-bottom: 4px;
    width: 260px;
    word-wrap: break-word;
}

.category-up-down{
    width : 20px;
    float: left;
    padding-left: 20px;
    text-decoration: none;
}
.category-up-down a{
    text-decoration: none;
}
#category-list li div .category-up-down a:hover{
    text-decoration: none;
}
.inactive{
    width : 20px;
    float: left;
    padding-left: 20px;
    visibility: hidden;
}
#category-list .listheading {
    background:none repeat scroll 0 0 #BECFFB;
    border-bottom:2px solid #BECFFB;
    color:#444444;
    height:1.5em;
    list-style-type:none;
    padding:0.5em 1em 0 0;
    width:38em;
}
.label-checkbox-pair {
    float: none;
}
.custom .add_button_img {
    float: none;
    margin-right: 210px;
}
.add_button_img {
    float: right;
    width: 110px;
}
.add_button_img {
    background: none repeat scroll 0 0 transparent;
    color: #008800;
    display: inline;
    float: none;
    font-size: 13px;
    height: 12px;
    margin-right: 210px;
    margin-top: 15px;
    text-decoration: none;
    width: 100px;
}
.label-field-pair1 input {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 17px;
    margin: 5px 10px 0 0;
    padding: 5px;
    width: 205px;
}
.text-input-bg select {
    width: 217px;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 5em 0 0;
}
#category-list li div {
    float : right;
}
#category-list li div.category-name {
    width : 350px;
    font-size:13px;
    font-weight:bold;
}
#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size : 0.9em;
    width : 50px;
}
#category-list li div.category-status {
    font-size : 0.9em;
    width : 64px;
}
#category-list li div a {
    color : #000;
    text-decoration:none;
    font-size:14px;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration:underline;
}



.label-checkbox-pair  {
    height:40px;
    padding-top:3px;
    padding:10px 0px 0 0;
    width:600px;
}
.status{
    color:#444444;
    display:block;
    float:right;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:3px;
    width:206px;
}
.user_button  {
    padding: 8px 15px;
    margin-top:20px;
    margin-right:25px;
    text-decoration: none;
}
#submit-button input:hover{
    background:  #373B3F;
}
.category-up-down{
    width : 20px;
    float: left;
    padding-left: 20px;
    text-decoration: none;
}
.category-up-down a{
    text-decoration: none;
}
#category-list li div .category-up-down a:hover{
    text-decoration: none;
}
.inactive{
    width : 20px;
    float: left;
    padding-left: 20px;
    visibility: hidden;
}
#category-list .listheading {
    background:none repeat scroll 0 0 #BECFFB;
    border-bottom:2px solid #BECFFB;
    color:#444444;
    height:1.5em;
    list-style-type:none;
    padding:0.5em 1em 0 0;
    width:38em;
}

#page-yield .custom a:hover{
    color: green !important;
}