table#listing{
    padding: 25px 25px 25px 25px;
}

table#listing10{
    padding: 25px 25px 25px 25px;
}

#normal_sub{
    margin-top: 20px;
    margin-bottom: 20px;
}

#elective-subjects{
    margin-top: 40px;
    margin-bottom: 20px;
}

.select{
    float:left;
    font-size:12px;
}



table#listing .tr-even{
    background: #fff;
}

table#listing10 .col-2-odd {
    background: #fff;
    width: 40%;
    text-align: right;
    padding: 10px;
    padding-right: 10px;
    font-size: 14px;
}

table#listing10 .col-2-even {
    background: #f1f6ff;
    width: 40%;
    text-align: right;
    padding: 10px;
    padding-right: 10px;
    font-size: 14px;
}

table#listing10 td.col-2 {
    padding: 10px;
}

table#listing .col-2-odd {
    background: #fff;
    width: 40%;
    text-align: right;
    padding: 10px;
    padding-right: 10px;
    font-size: 14px;
}

table#listing .col-2-even {
    background: #f1f6ff;
    width: 40%;
    text-align: right;
    padding: 10px;
    padding-right: 10px;
    font-size: 14px;
}

table#listing td.col-2 {
    padding: 10px;
}
table#listing10 td a{
    text-decoration:none;
    color:#27292b;
}
table#listing10 td a:hover{
    color:#990a10;
    text-decoration:underline;
}

table#listing10{
    background: #c3d9ff;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding:20px;
}
table#listing_theme tr.tr-head{
        color: black !important;
    font-size: 13px;
    font-weight: normal;
}
table#listing10 .tr-head td{
    padding:10px;


}
table#listing10 .tr-odd{
    background: #fff;
    text-align:right;
    padding:50px;
    color:#27292b;
    font-size:14px;
}
table#listing10 .tr-even{
    background: #f1f6ff;
    text-align:right;
    padding:50px;
    color:#27292b;
    font-size:14px;
}

#no_electives{
    font-style: italic;
}

#no_subjects{
    font-style: italic;
}
table#listing10 tr.tr-head {
    color: black !important;
}
s
{
    font-size: 12px;
    float: left;
}




table#listing_theme.elective_groups td.col-2 {
    width: 45% !important;
    text-align: right;
    padding: 5px;
    padding-right: 10px;
}

table#listing_theme .tr-odd{
    font-size: 14px;
    font-weight: normal;
}
table#listing_theme .tr-even{
    font-weight: normal;
    font-size: 14px;
}
table#listing_theme .elective-head{
    background: #c3d9ff;
    text-align: right;
    /* padding: 50px; */
    color: #000;
    font-weight: 600;
    font-size: 14px;
    height: 34px;
}
.elective-column{
    padding: 5px 2px !important;
}
table#listing_theme td a {
    color: black !important;
}
table#listing_theme td a:hover {
    color: #990a10 !important;
}