.box{
    float:right;
    width:100%;
}
.core_label{
    float: right;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: #444;
    margin-bottom: 15px;
}
.block{
    float: right;
    width: 100%;
    margin-bottom: 40px;
}
.general_label{
    font-size:13px !important;
    font-weight: normal !important;
    color:#333 !important;
    float:right !important;
    margin-left:30px !important;
    width:auto !important;
}
.ind_block{
    float: right;
    width: 100%;
    margin-bottom: 20px;
}
.com_block{
    float: right;
    width: 100%;
    font-size: 13px;
    line-height: 25px;
}
.messages{
    font-size: 13px;
    color: #666;
    margin-bottom: 15px;
}
input[type="radio"]{
    float:right;
    margin: 1px 0px 0px 3px;
}
#report_desc{
    float:right;
    width:100%;
    /*    margin-bottom:30px;*/
}
.label-field-pair{
    /*width: 489px;*/
    width: 49.85%;
    float: right;
}
.label-field-pair span{
    float: right;
    margin-top: 11px;
    margin-right: 20px;
    margin-left: 15px;
}
#loader1{
    float: right;
    margin-top: -1px;
}
#submit-button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
    float: right;
}
p{
    margin:0px;
    color: #333 !important;
}
span{
    font-weight: bold;
    font-size: 13px;
}
.com_block p a{
    margin-right:30px;
}
#submit_like_link{
    float: right;
    margin-left: 30px;
    margin-top: 10px;
}
#unlink_link{
    margin-top: 10px;
    float: right;
}
a{
    color:#666;
}
#page-yield .block a:hover{
    color:#000 !important;
}
.hor_line{
    width:100%;
    background: #ccc;
    height: 1px;
    float:right;
    margin-bottom:40px;
}
.hor_line_1{
    width:100%;
    background: #ccc;
    height: 1px;
    float:right;
}
.no_bottom_margin{
    margin-bottom:0px !important;
}
.no_top_margin{
    margin-top:0px !important;
}
.modal_spec_style{
    margin-top: 20px;
    margin-right: 20px;
}
.main_header{
    margin-right: 20px !important;
    width: 192px !important;
    margin-bottom: 20px !important;
    font-size: 13px !important;
    font-weight: normal !important;
    color: #444 !important;
}
#MB_frame .label-field-pair {
    width: 550px;
    float: right;
    height: auto;
    margin-bottom: 30px;
}
#MB_frame .all_sub_sec .label-field-pair {
    width: 550px;
    float: right;
    height: auto;
    margin-bottom: 10px;
}

.label-field-pair label {
    margin: 0 20px 0px 0;
}
.hor_line_1 {
    width: 100%;
    background: #ccc;
    height: 1px;
    float: right;
}
.style_1{
    float: right !important;
    width: 100% !important;
}
.fleft{
    float: right;
}
#record_sections_1,#record_sections_2{
    float: right;
    margin-bottom: 50px;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
.addl_margin_left{
    margin-right:15px;
}
.all_sub_sec{
    float: right;
    max-height: 190px;
    overflow-y: auto;
}

.loader_modal{
    float: right;
    margin-top: 10px;
}
.text-input-bg{
    width: auto;
    margin-left: 50px;
}
.label-field-pair label{
    font-weight: normal;
}
.block a{
    font-size: 13px;
}

#complete_block{
    float: right;
    width: 93%;
    margin: 30px;
}
#info_msg{
    float: right;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 30px;

}
#head_part{
    float: right;
    width: 100%;
    font-size: 13px;
    color: #666;
    margin-bottom: 10px;
}
#course_part,#pass_criteria,.course_value,.criteria_value{
    float:right;
    width:30%;
}
#labels{
    float:right;
    width:40%;
}
.one_row{
    float: right;
    width: 100%;
    font-size: 13px;
    color: #444;
    margin-bottom: 5px;
}
.criteria_text{
    float:right;
}
.spl_case{
    width:auto !important;
    margin-top:-10px !important;
}
.spl_case select{
    width:60px !important;
}
.label_values{
    float:right;
    width:40%;
}
.blk{
    float:right;
    width:100%;
}
.pass_text,.eip_text{
    float:right;
    width:50%;
}
.holder{
    float:right;
    height:370px;
    overflow-y:auto;
    width: 100%;
    margin-bottom: 45px;
}
.padding_top_25{
    padding-top: 25px;
}
.padding_top_10{
    padding-top: 10px;
}
.blk_data div{
    float: right;
    width: 50%;
    padding-top: 12px;
}
.blk_data textarea{
    background: #eee;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -weblit-border-radius: 10px;
    border: 1px solid #c6c6c6;
    font-family: Arial;
    height: 30px;
    padding: 5px;
    width: 120px;
    resize:none;
}
.top_bottom_margin{
    margin-top: 10px;
    margin-bottom: 10px;
}
p.flash-msg{
    margin-bottom: 30px;
}
#labels_part_1{
    float: right;
    width: 15%;
    margin-left:35px;
}
#labels_part_2{
    float: right;
    width: 20%;
}
#MB_close span {
    padding-right: 8px;
    float: right;
    padding-top: 5px;
}
#MB_frame #MB_caption {
    padding: 20px 40px 0 0;
}
.logo{
    width: 70px;
    border: 1px solid #e5e5e5;
    padding: 3px;
}
.logo img{
    width:100%;
    vertical-align: middle;
    display: table-cell;
}
#full_header{
    float: right;
    width: 98%;
    border: 1px solid #e5e5e5;
    padding: 15px 20px 15px 0px;
}
#school-name{
    float: right;
    font-weight: bold;
    font-size: 13px;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 3px;
    margin-right:10px;
}
.institution_address{
    float: right;
    font-size: 13px;
    color: #666 !important;
    font-weight: normal;
    margin-right:10px;
}
.text-input-bg span{
    float:left;
    margin-right:10px;
    font-size: 13px;
    font-weight: normal;
    color:#666;
    margin-top:10px;
}
.text-input-bg select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 10px 0 0;
    width: 300px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.grey_back{
    background-color: #f5f5f5;
    float:right;
    width:100%;
    border-right:1px solid #ccc;
    border-top:1px solid #ccc;
}
.with_border{
    border-left:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
#signature_section{
    float: right;
    width: 100%;
    min-height: 100px;
    border: 1px solid #ccc;
}
#left_side,#center_side,#right_side{
    float:right;
    width:33%;
    margin-top:50px;
}
#left_side div.label-field-pair,#center_side div.label-field-pair,#right_side div.label-field-pair{
    width:30%
}
span.header_parts{
    vertical-align: middle;
    display: table-cell;
}
.header {
    width: 100%;
    float: right;
    margin-bottom:5px;
    display: table;
    /*background-color: red;*/
}
#report_grade_levels{
    float:right;
    width:100%;
}
.zero_bottom_margin{
    margin-bottom: 0px;
}
.enclosure{
    float: right;
    margin-top:30px;
}
.infolbl{
    color: #000;
    font-weight: bold;
    float: right;
    width: 70%;
    word-break: break-word;
}
span.colon{
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}
.field-label{
    width: 97px;
    float: right;
    word-break: break-all;
}