body{
    width: 852px !important;
    margin: 0 auto;
    font-family: arial;
}

.hor_line{
    width:100%;
    background: #333333;
    height: 1px;
}

h2.heading{
    text-align: center;
    margin:5px;
}

#main_info h4{
    color: #555555;
    margin-top: 18px;
    font-weight: normal;
}

#main_info h2{
    margin-bottom: 2px;
    font-weight: normal;

}


.odd{
    height:auto;
    background: #EEEEEE;

}

.even{

    height:auto;
    background: #fff;


}
tr.even{
    border: 1px solid #ADACAB;
}

tr.odd{
    border: 1px solid #ADACAB;
}

.even td{
    padding: 6px 15px 6px 6px;
    border: 1px solid #ADACAB;
    border-left: 0px solid #fff;
    border-top: 0px solid #fff;
    font-size: 13px;

}

.odd td{
    padding: 6px 15px 6px 6px;
    border: 1px solid #ADACAB;
    border-left: 0px solid #fff;
    border-top: 0px solid #fff;
    font-size: 13px;

}



.table-header td{
    padding: 6px 15px 6px 6px;
    border-top: 1px solid #ADACAB;
    border-right: 1px solid #ADACAB;
    border-left: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
    color: #000;
    background: #EEEEEE;
    font-size: 14px;
    font-weight: bold;
}

table#pdf-table{
    border-top: 1px solid #ADACAB;
    border-collapse:collapse
}


#page-extender{
    width:100%;
    height :300px;

}
#page-extender1{
    width:100%;
    height :500px;

}

.report{
    min-height: 1250px;
    margin: 0 auto;
}

.report1{
    min-height: 1260px;
    margin: 0 auto;
}

#signature{
    text-align: left;
    width: 700px;
    margin: 0 auto;
    color: #999999;
    font-size: 18px;
    margin-bottom: 100px;
}


#page-yield h2{
    text-align: center;
    margin-top:3px;
    margin-bottom:3px;
    font-size:15px;
}


.page-break td{
    height: 300px;
    border: 1px solid #fff;
    border-bottom: 1px solid #ADACAB;
}

.custom_header{
    margin-top: 50px;
}

.common_remarks_section{
    float:right;
    width:100%;
    margin-bottom:10px;
    border-top:1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:30px;
}


#remarked_by_section{
    float:right;
    width:120px;
    margin-left: 30px;
    font-size: 13px;
    word-break: break-word;
}

#remark_subject_section{
    float:right;
    width:136px;
    margin-left: 30px;
    font-size: 13px;
}

#remark_body_section{
    float:right;
    width:426px;
    margin-left: 30px;
    font-size: 13px;
    word-break: break-word;
}

#submitted_by_section{
    float:left;
    font-size: 13px;
    width: 180px;
    color:#666666;
    word-break: break-word;
}
#remarks_bold_label{
    font-weight: bold;
    float:right;
    margin-top:15px;
    margin-bottom: 15px;
}
#remarks_list{
    float:right;
    border-top:1px solid #cccccc;
}
#all-remarks
{
    width: 100%;
    float: right;
    margin-top: 20px;
}




.page-blank{
    width: 100%;
    float: left;
}
.page_break{
    margin-top: 60px;
}

.page-break1{
    height: 20px;
    border: 1px solid #fff;
    width:100%;
    float: left;
}
.section1{
    page-break-before:always;
    /*    text-align: center;*/
}
.row{
    float: left;
    width: 100%;
    /*    text-align: center;*/
}
.page1 {
    width:100%;
    height: auto;
    page-break-after: always;
    page-break-inside: avoid;
    clear: both;
}

#no_common_remarks{
    float: right;
    width: 1250px;
    margin-bottom: 10px;
    border-top: 1px solid #e5e5e5;
    padding-top: 12px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight:bold;
    color: #666666;
    margin-top:0px;
}
.logo{
    width: 70px;
    height: 70px;
    float: right;
    border: 1px solid #e5e5e5;
    padding: 3px;
}
.logo img{
    width:100%;
    vertical-align: middle;
    display: table-cell;
}
#school-name{
    float: right;
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
    width: 90%;
    margin-bottom: px;
    margin-top: 3px;
    color:#000 !important;
}
.header-content p.institution_address{
    float: right;
    margin-right: 10px;
    font-size: 14px;
    color: #666 !important;
    margin-top:0px !important;
    width:100%;
}
.header-content{
    margin-right:0px; 
    height:80px;
    width: 90%;
    padding:3px;
    float: none;
}
.left_bold{
    text-align: right;
    font-weight: bold;
}
.right_bold{
    text-align: left;
    font-weight: bold;
}
span.header_parts{
    vertical-align: middle;
    display: table-cell;
}
span.colon{
    float:right;
    margin-left:5px;
    margin-right:5px;
}
.add_top_margin{
    margin-top:15px !important;
}
.section {
    page-break-inside: avoid;
    float: right;
    width: 100%;
}

.field-label{
    width: 97px;
    float: right;
    word-break: break-word;
}
.info-left{
    float:right;
    width: 50%;
}
.info-right{
    float: left;
    width: 50%;
}
.info{
    width:100%;
    float:right;
    margin-bottom: 15px;
}
.info1{
    margin-top: 10px;
    font-size: 12px;
    font-weight: normal;
    color: #444444;
    float: right;
    width: 100%;
}
.infolbl{
    color:#000;
    font-weight: bold;
    float: right;
    width: 70%;
    word-break: break-word;
}
.avg_span{
    float:right;
    width:100%;
    margin-top:15px;
    font-size:13px;
}
.wrapper {
    page-break-inside: avoid;
    float: right;
    width: 100%;
}
.footer {
    float: right;
    width: 100%;
    page-break-before: avoid;
    page-break-inside: avoid;
}
#pdf-footer {
    float:right;
    color: black;
    width: 100% !important;
    padding: 50px 0px !important;
}
.signature {
    width: 32%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    word-break: break-all;
}
.push_left{
    text-align: right;
    margin-left: 10px;
}
.push_right{
    text-align: left;
    margin-right: 10px;
}