table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    margin-bottom: 20px;
}
td{
    padding: 10px;
    border-right: 1px solid #bfbfbf;
}
#page-yield table .tr-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important
}
tr{
    border-bottom: 1px solid #bfbfbf;
}
td.pg_name a{
    text-decoration: none;
}

td.pg_name{
    width: 250px;
}
#header{
    font-weight: bold;
    font-size: 16px;
    margin-top: 40px;
    color: #444;
}
#description{
    color: grey;
    font-size: 13px;
    margin: 20px 0px 20px 0px;
}
.name{
    width : 30%;
}
.emp_count{
    width: 10%;
}
.categories{
    width: 20%;
}
.actions{
    width: 25%;
}
.salary_preference{
    width: 20%;
}
table a, #page-yield table a:hover{
    color: black !important;
    text-decoration: none;
}
#edit, #employees{
    float:left;
    margin-right:10px;
}
.pagination {
    margin-top: 20px;
    margin-right: 0px;
}
.pagination{
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-left: 0px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-left: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: left;
    font-weight: normal;
    padding: 9px 13px 9px 15px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-left:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    border-right: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: left;
    padding: 9px 13px 9px 15px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: left;
    border-left:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}

#page-yield table #edit a, #page-yield table #employees a{
    color : #666 !important;
    text-decoration: none;
}
#page-yield table #edit a:hover, #page-yield table #employees a:hover{
    text-decoration: underline;
    color: black !important;
}