h4, h5{ color: #444;}
.description{
    color: grey;
    font-size: 13px;
    margin: 0px 0px 20px 0px;
    float: left;
    width: 100%;
}
#enable_lop input, #radio-buttons input {
    width: 13px;
    float: left;
    margin: 9px;
    margin-left: 0px;
}
.label-field-pair label, .label-radio-pair label {
    font-weight: normal;
    font-size: 13px;
}
.submit-button {
    margin: 20px 40px 0 0;
    font-size: 13px;
}
#enable_lop label{
    cursor: pointer;
}
hr {
    width: 100%;
    margin-top: 25px;
    border: 1px solid #cccccc;
    border-bottom: 0px;
    float: left;
}
#enable_lop, #lop-formula, #lop_methods, #direct_method, #prorated_method, #deduction_method, .dependent_categories, .new_formula{
    float: left;
    width: 100%;
}
.new_formula{ display: none;}
#lop_methods .label-field-pair{
    width: 35%;
    margin: 0px !important;
    float: left;
    height: auto;
    padding: 15px;
    border: 1px solid #ccc;
}
#lop_methods div:last-child{margin-left: 23px;}
#loader1 {
    margin-top: 10px;
}
#lop_form_content .text-area-bg {
    float: left;
    width: 315px;
    margin-top: 20px;
}
/*#lop-formula, #deduction_method{ display:none }*/
#lop-formula{ display:none }

#radio-buttons{ float: left;margin-left: 10px;}
#radio-buttons label{
    float: left;
    width: 60px;
}
.error-icon {
    width:15px;
    height:12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-right:2px;
    float:left;
}
.error-msg{
    float:left;
    color: red;
    font-size: 13px;
    width:205px;
}
#prorated_message{
    width: 50%;
}
h4.sub-head{font-weight: normal;}
/*#default_formula{ min-height:0px !important}*/
#lop_equation{
    float:left;
    width: 600px;
    margin-top: 30px;
}
#lop_equation div{
    font-size: 13px;
    color: #444;
    float: left;}
#left-hand-side{width: 35%; margin-top: 16px;}
#right-hand-side{width:40%}
#right-hand-side span{
    width: 100%;
    float: left;
    text-align: center;
    font-weight: bold;
}
#enable_lop label{width: 215px;}
.examples{
    margin: 10px 0 0 0 !important;
    text-decoration: underline;
    cursor: pointer;
}
#formula-fields{margin-top: 40px}
#lop_form_content .label-field-pair label{
    width: 100% !important;
}
#lop_form_content .label-field-pair span.cat_formula{
    float: left;
    font-size: 13px;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    background-color: #EEEEEE;
}
div.info-icon {
    background-image: url(/images/iconsprite-1.png);
    background-position: -64px 315px;
    float: left;
    height: 12px;
    width: 12px;
    margin: 2px 4px 0 0;
}
.dependent_info{
    font-size: 13px;
    color :#444;
    margin: 10px;
}
#apply_all{
        height: 13px;
    width: 14px;
    float: left;
}
#apply_all + label{
    width: 90% !important;
    margin-top: 3px;
}
.dependent_info + .label-field-pair{margin-top:0px !important;}
.new_formula #enable_lop label{
    width: 90% !important;
    padding: 10px 0 0 0 !important;
}
.new_formula #enable_lop .description{
    margin: 0px;
}
table {
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    margin-bottom: 20px;
}
#page-yield table .tr-head {
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
}
td {
    padding: 10px;
    border-right: 1px solid #bfbfbf;
}
tr {
    border-bottom: 1px solid #bfbfbf;
}
.category {
    width: 20%;
}
.category_formula, .value {
    width: 30%;
}
.condition {
    float: left;
    margin-bottom: 7px;
}
.condition_text {
    float: left;
    margin-right: 5px;
    width: 85px;
}
.formula {
    direction: ltr;
    text-align: left;
    float: left;
    /* margin-right: 5px; */
    width: 177px;
}
.sub_heading{
    background-color: #dcdcdc;
}
table div.div_link{
    float: left;
    margin-right: 10px
}
table div.edit, table div.remove{ display: none; }
#popup_window
{
    width: 690px;
    top: 40px;
    left: 298px;
    float: left;
    position: fixed;
}
.remove_conf_popup{ width: 480px !important}
#popup_frame .part{ width: 610px;}
.remove_conf_popup .part{ width: 400px !important}
#popup_content{
    font-size: 13px;
    max-height: 600px;
}
#lop_form_content{ display:none; }
#popup_content #lop_form_content{display: block;float: left;}
#cat_name{
    color: black;
}
#popup_content .label-field-pair{ width: 100%; float: left;}
#lop_form_content{ width: 100%;}
#popup_content #formula-head{ float: left; width: 100%; margin: 30px 0 10px 0px;}
#lop_formula{text-transform: uppercase;}
.lop_formula_fields #lop_formula, .lop_formula_fields .validate_result {margin-left: 0px !important;}
#lop_as_deduction_example, #lop_from_cat_example{ display: none; }
#popup_content #lop_as_deduction_example, #popup_content #lop_from_cat_example{ display: block; }
.lop_section .description{width: 93%;}