h3 {
    font-size: 16px;
    color: #444;
    font-weight: bold;
}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: left;
}
.label-field-pair label, .label-radio-pair label {
    font-weight: normal;
    font-size: 13px;
    width: 130px;
}
.text-input-bg {
    width: 125px;
    margin-left: 10px;
}
.text-input-bg input {
    width: 100px;
}
span.days_text {
    font-size: 13px;
    color: #444;
    float: left;
    margin-top: 10px;
}
.submit-button {
    margin: 20px 20px 0 150px;
    font-size: 13px;
}
.error-icon {
    width:15px;
    height:12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-right:2px;
    float:left;
}
.error-msg{
    float:left;
    color: red;
    font-size: 13px;
    width: 70%;
}
.wrapper{
    margin-top: 5px;
    margin-left: 149px;
    width: 100%;
    float: left;
}
.label-field-pair{
    width: 100%;
    float: left
}
.description {
    font-size: 13px;
    float: left;
    padding-top: 10px;
    color: #A5A5A5;
    width: 100%;
    margin-bottom: 10px;
}