table#listing .tr-odd td{
    color: #27292B;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    padding: 10px;
}

table#listing .tr-even td{
    color: #27292B;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    padding: 10px;
}

.necessary-field {
    color : #f00;
    font-size : 1.1em;
}
.popup_icon
{
    background-image: url(/images/iconsprite-1.png);
    background-position: -86px 134px;
    float: right;
    height: 8px;
    width: 8px;
    margin-top: 2px;
    margin-right: 4px;
}
.link a
{
    max-width: 200px;
    word-break: break-all;
    float: right;
}
