
.label-field-pair {
    overflow: hidden;
    padding-top: 10px;
    width: auto;
}

.submit_button {
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 10px;
}


.submit_button{
    margin-top: 8px;
    margin-right: 0px;
    float: right;
}
.add_button_img{
    background: none;
    display: block;
    float: left;
    height: 12px;
    width: 100px;
    margin-top: 15px;
    font-size: 13px;
    text-decoration: none;
    display: inline;
    color: #080;
}

.input-container{
  float: left;
}
.add_building {
    height: 12px;
    background: url(/images/iconsprite-1.png) no-repeat;
    background-position-x: -105px;
    background-position-y: -343px;
    width: 12px;
    display: block;
    float: left;
    margin-right: 5px;
}
.delete_button_img{
    /*background:#fff url(/images/buttons/delete_2.png) no-repeat;*/
    background:#fff url(/images/iconsprite-1.png) no-repeat;
    background-position-x: -5px;
    background-position-y: -343px;
    display: block;
    height: 12px;
    margin-top: 13px;
    /*margin-right: 365px;*/
    font-size: 13px;
    /*padding-left: 15px;*/
    /*color: #f00;*/
    text-decoration: none;
}

#remove-field{
 float: right;
 width: 10px;
}

.label-field-pair label{
    width: 110px;
}

.label-container2 label{
    padding-left: 80px;
}

div.fields.label-field-pair{
    border-bottom: 1px solid #cccccc;
    height: 75px;
}

h5{
    font-size: 14px;
    padding-top: 25px;
    margin-bottom: 5px !important;
}

#page-yield a:hover.add_button_img {
color: #080 !important;
}

#capacity input{
    width:100px !important;
}