<% form_for @reminder ,:url=>{:action=>:create_reminder},:html => { :multipart => true }do |l| %>
  <%= error_messages_for :reminder %>
  <%unless @recipients_employees.blank?%>
    <%= hidden_field_tag :recipients_employees, @recipients_employees.collect(&:id).join(",")%>
  <%else%>
    <%= hidden_field_tag :recipients_employees,''%>
  <%end%>
  <%unless @recipients_students.blank?%>
    <%= hidden_field_tag :recipients_students, @recipients_students.collect(&:id).join(",")%>
  <%else%>
    <%= hidden_field_tag :recipients_students,''%>
  <%end%>
  <%unless @recipients_parents.blank?%>
    <%= hidden_field_tag :recipients_parents, @recipients_parents.collect(&:id).join(",")%>
  <%else%>
    <%= hidden_field_tag :recipients_parents,''%>
  <%end%>
  <h4><%= t('choose_recipients') %></h4>
  <div class="selection_item">
    <%= image_tag("loader.gif",
      :align => "absmiddle",
      :border => 0,
      :id => "loader",
      :style =>"display: none;" )
    %>
    <div id="select-employee-department">
      <%if @departments.present?%>
        <%=   render :partial=>"select_employee_department" %>
      <%end%>
    </div>
  </div>
  <div class="selection_item">
    <%= image_tag("loader.gif",
      :align => "absmiddle",
      :border => 0,
      :id => "loader1",
      :style =>"display: none;" ) %>
    <!-- <div class="extender"></div> -->
    <div id="select-student-course">
      <%if @batches.present?%>
        <%=  render :partial=> "select_student_course" %>
      <%end%>
    </div>
  </div>
  <div class="selection_item">
    <%= image_tag("loader.gif",
      :align => "absmiddle",
      :border => 0,
      :id => "loader2",
      :style =>"display: none;" ) %>
    <!-- <div class="extender"></div> -->
    <div id="select-parents">
      <%if @parents_for_batch.present?%>
        <%=  render :partial=> "select_parents" %>
      <%end%>
    </div>
  </div>
  <!-- <div class="extender"></div> -->
  <div class="select_users">
    <%if @departments.present?%>
      <div class="label-field-to">
        <div id="to_employees">
        </div>
      </div>
    <% end %>
    <%if @batches.present? %>
    <div class="label-field-to">
      <div id="to_students"></div>
    </div>
    <% end %>
    <%if @parents_for_batch.present?%>
    <div class="label-field-to">
      <div id="to_parents"></div>
    </div>
    <% end %>
  </div>
  <hr class="divider">
  <h4><%= t('selected_recipients') %></h4>
  <div class="selected_users">
    <%if @departments.present?%>
      <div id="recipient-list" class="recipient-list"><%if @recipients_employees.present?%><%=render :partial=>'recipient_list_employees'%><%end%></div>
    <% end %>
    <div id="recipient-list1" class="recipient-list"><%if @recipients_students.present?%><%=render :partial=>'recipient_list_students'%><%end%></div>
    <div id="recipient-list2" class="recipient-list"><%if @recipients_parents.present?%><%=render :partial=>'recipient_list_parents'%><%end%></div>
  </div>
  <hr class="divider">
  <h4><%= t('compose_message') %></h4>
  <div class="message">
    <div class="label-field-pair_column">
      <label for="subject"><%= t('subject') %></label>
      <%if @subject.present?%>
        <div class="text-input-bg"><%= l.text_field :subject,:value=>@subject %></div>
      <%else%>
        <div class="text-input-bg"><%= l.text_field :subject%></div>
      <%end%>
    </div>
    <div class="label-field-pair_column">
      <label for="student_grade"><%= t('message') %></label>
      <div class="redactor-area-bg">
        <%= l.text_area :body, :cols=>25, :rows=>10 ,:value=>@body%>
        <%#= l.redactor :body, :cols=>25, :rows=>10 ,:value=>@body%>
      </div>
    </div>
    <% l.fields_for :reminder_attachments do |builder| %>
      <div class="label-field-pair_column left" id="attachment-field-div">
        <label for=""><%= t('attach_file') %> (<%= t('maxi_size') %>) </label>
        <div class="text-input-bg" id="browse-style">
          <%= builder.paperclip_file_field :attachment %>
        </div>
      </div>
      <div class="remove-field"><a onclick="reset_file_field()"><%= t('remove') %></a></div>
    <% end %>

    <%# l.fields_for :reminder_attachments do |builder| %>
      <%#= render 'reminder_attachment_fields', :c => builder %>
    <%# end %>
    <!-- <div class="add_fields">
      <%#= link_to_add_fields t('add_fields'), l, :reminder_attachments %>
    </div> -->
    <hr class="divider">
    <div class="extender"></div>
    <div id="submit-button">
      <%=hidden_field_tag :session_fingerprint, session_fingerprint%>
      <%=submit_tag "#{t('send_message_text')}", :class => 'send_button', :disable_with => "#{t('please_wait')}" %>
      <%=link_to"#{t('cancel')}",{:controller=>:reminder,:action=>:index} ,:class => 'send_button',:style=>"color: white !important;"%>
    </div>
  </div>
<% end %>
  <script type="text/javascript">
  function remove_fields(link) {
    j(link).prev("input[type=hidden]").val("1");
    j(link).closest(".fields").hide();
  }

  function add_fields(link, association, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g")
    j(link).parent().before(content.replace(regexp, new_id));
  }
  </script>
