<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div class="label-field-pair_column">
  <span class="scrolable-left-label"><%= "#{t('parents')} (<span id='selected_parents_count'>0</span>)" %></span>
  <span class="right" onclick="remove_all_parents(this)"><%= t('remove_all') %></span>
  <div class ="scrolable" >
    <% x = '<span class="add-span"> x </span>' %>
    <div class="scroll-inside">
      <% @recipients_parents.each do |user|  %>
        <% student=user.student_record %>
        <div class="hover">
          <%= link_to shorten_string(user.full_name,22) + x, "#",
            :onClick => "remove_recipient2(#{user.id})",
            :class=> 'individual',
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')"
          %>
          <span class="id-span"><%= "("+student.admission_no+")&#x200E;" %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="extender"></div>
<script type="text/javascript">
  set_parents_count();
</script>
