<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('messages') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('sent') %></div>

  <div id="inner-tab-menu">
    <ul>
      
        <%#*<li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('inbox')}", :controller=>"reminder", :action=>"index"%><%#</li>%>
      <%#*<li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('create_text')}", :controller=>"reminder", :action=>"create_reminder"%><%#</li>%>
    </ul>
  </div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>


  <%if @sent_reminders.present?%>
    <div id="application-list">
      <% form_for :reminder, :url=>{:controller=>'reminder', :action=>'sent_reminder_delete' }, :html=>{:onSubmit => "return confirm('Are you sure?')"} do |f| %>
        <%= hidden_field_tag :page, (params[:page].nil? ? 1 : params[:page]) %>
        <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
          <tr class="tr-select">
            <td colspan="4" class="text-input-bg">
              <%= f.submit "#{t('delete')}",:class=>'submit_button' %>
            </td>
          </tr>
          <tr class="tr-head">
            <td class="col-8"><%= check_box_tag "check_all", nil, false, {:class=>'check_all' } %></td>
            <td>
              <%= t('to') %>
            </td>
            <td>
              <%= t('subject_messages') %>
            </td>
            <td>
              <%= t('date_text') %>
            </td>
          </tr>
          <tr class="tr-blank"></tr>


          <% unless @sent_reminders == [] %>
            <% @sent_reminders.each do |reminder| %>
              <% recipient_user = reminder.to_user %>
              <% unless recipient_user.nil?  %>
                <tr class="tr-read-<%= cycle('odd', 'even') %>">
                  <td class="col-8"><%= check_box_tag "message_ids[]", reminder.id, false, {:class=>'message_check' } %></td>
                  <td class="col-4"><%= link_to "#{recipient_user.first_name}", :controller=>"reminder", :action=>"view_sent_reminder",:id2=>reminder.id %></td>
                  <td class="col-2"><%= link_to "#{reminder.subject}",  :controller=>"reminder", :action=>"view_sent_reminder", :id2=>reminder.id %><% if reminder.has_attachment? %><span class="attachment_icon_img"><% end %></td>
                  <td class="col-1"><%= link_to "#{format_date(FedenaTimeSet.current_time_to_local_time(reminder.created_at).to_date,:format=>:short_date)}",  :controller=>"reminder", :action=>"view_sent_reminder", :id2=>reminder.id %></td>
                </tr>
              <% else %>
                <tr class="tr-read-<%= cycle('odd', 'even') %>">
                  <td class="col-8"><%= check_box_tag "message_ids[]", reminder.id, false, {:class=>'message_check' } %></td>
                  <td class="col-4"><%= t('user_unavailable') %></td>
                  <td class="col-2"><%= link_to "#{reminder.subject}",  :controller=>"reminder", :action=>"view_sent_reminder", :id2=>reminder.id %><% if reminder.has_attachment? %><span class="attachment_icon_img"><% end %></td>
                  <td class="col-1"><%= link_to "#{format_date(FedenaTimeSet.current_time_to_local_time(reminder.created_at).to_date,:format=>:short_date)}",  :controller=>"reminder", :action=>"view_sent_reminder", :id2=>reminder.id %></td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </table>
        <script type="text/javascript">
          $$('.message_check').invoke('observe','click',function() {
            if(this.checked == false){
              $$('.check_all').first().checked = false
              $(this).up('tr').removeClassName('active')
            }
            else{
              $(this).up('tr').addClassName('active')
            }

          });
          $$('.check_all').invoke('observe','click',function() {
            field_value = this.checked
            $$('.message_check').each(function(check){
              check.checked = field_value;
              if(check.checked == false){
                $(check).up('tr').removeClassName('active')
              }
              else{
                $(check).up('tr').addClassName('active')
              }
            })
          });
          $('application-list').observe('click', function (e)
          {
            var origin = e.element();
            if (!origin) return;
            if (!origin.nodeName) return;
            if (origin.nodeName.toLowerCase() === 'input') {
              if (e.shiftKey) {
                var checkBoxes = $$('.message_check');
                var last = checkBoxes.indexOf(lastSelected);
                var first = checkBoxes.indexOf(origin);
                if (-1 == last) {
                  lastSelected = origin;
                  return;
                }

                var start = Math.min(first, last);
                var end = Math.max(first, last);

                var chk = lastSelected.checked;
                for (var i = start; i < end; ++i) {
                  checkBoxes[i].checked = chk;
                  if(chk == false){
                    checkBoxes[i].up('tr').removeClassName('active')
                  }
                  else{
                    checkBoxes[i].up('tr').addClassName('active')
                  }
                }
              } else {
                lastSelected = origin;
              }
            }
          });
        </script>
      <% end %>
      <%= will_paginate @sent_reminders %>
    </div>
  <%else%>
    <p class="flash-msg"> <%= t('no_reminders_present') %> </p>
  <%end%>
</div>
