#header_label
{
    float: left;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
}  
#sub_header_label
{
    float: left;
    width: 100%;
    margin-bottom: 30px;
    font-size: 13px;
    color: #666;
}
.individual_block{
    float:left;
    width:100%;
    margin-bottom:30px;
    color: #333;
}
.individual_block label{
    font-size: 14px;
    float: left;
}
.individual_block input{
    float:left;
    margin-right:5px;
    margin-top:2px;
}
.sub_text{
    float: left;
    width: 100%;
    font-size: 13px;
    color: #666;
    margin-left: 25px;
    margin-top: 15px;
}
#submit-button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
    float: left;
    margin-top:20px;
}
#di_counter{
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-left: 25px;
}
#loader{
    float: right;
    margin-left: 10px;
}
.general_sub_label{
    font-weight:normal !important;
    width:120px !important;
    font-size: 14px !important;
}
#observation_remarks_di_count{
    width:100px;
}