.assessments_box{
    font-size: 13px;
    margin-top: 80px;
}
.assessments_head {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}
.left {
    float: left;
    width: 50%;
}
.right {
    float: right;
    width: 40%;
}
.assessments_head span {
    font-weight: bold;
    margin-left: 20%;
}
.assessments_details {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
    width: 100%;
    overflow: auto;
}
.col-1 {
    float: left;
    width: 50%;
    padding-right: 30px;
    box-sizing: border-box;
}
.assessment_details_tbl {
    width: 100%;
}
.col-1 .assessment_details_tbl td {
    width: 50%;
    padding: 10px 0px;
}
.assessment_details_tbl td.value {
    font-weight: bold;
}
.select_batches {
    float: left;
    width: 400px;
    font-size: 13px;
    color: #444;
}
.select_batches .header {
    float: left;
    font-weight: bold;
}
div.div_link {
    float: left;
    font-size: 13px;
    text-decoration: underline;
    margin: 0 0 0 25px;
    cursor: pointer;
}
#batch_names {
    color: #999999;
}
#batch_names, #description {
    float: left;
    width: 100%;
    margin-top: 10px;
}
div.sub-head {
    font-size: 13px;
    font-weight: bold;
    color: #444;
    float: left;
    width: 100%;
    margin: 20px 0;
}
#list_batches {
    float: left;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 15px;
}
#list_header {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
    font-weight: bold;
}
.each_batch {
    padding: 10px;
}
.each_batch input {
    margin: 1px 8px;
    float: left;
}
.submit-button {
    margin-left: 0px;
    color: white;
    background: black;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 3px;
}
.cancel-button {
    text-decoration: none;
    margin-left: 10px;
}
.form-submit{
    float: left;
}
hr{
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: left;
    margin: 20px 0;
}
.main_header{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 50px;
    margin-top: 50px;
}