.assessments_box {
    font-size: 13px;
    margin-top: 80px;
}
.assessments_head {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}
.left {
    float: left;
    width: 50%;
}
.assessments_head span {
    font-weight: bold;
    margin-left: 20%;
}
.right {
    float: right;
    width: 40%;
}
.assessments_details {
    padding-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid #ccc;
}
.col-1 {
    float: left;
    width: 50%;
    padding-right: 30px;
    box-sizing: border-box;
}
.assessment_details_tbl {
    width: 100%;
}
.col-1 .assessment_details_tbl td {
    width: 50%;
    padding: 10px 0px;
}
.assessment_details_tbl td.value {
    font-weight: bold;
}


