.assessments_box {
    font-size: 13px;
    margin-top: 80px;
}
.assessments_head {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}
.left {
    float: left;
    width: 50%;
}
.assessments_head span {
    font-weight: bold;
    margin-left: 20%;
}
.right {
    float: right;
    width: 40%;
}
.assessments_details {
    padding-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid #ccc;
}
.col-1 {
    float: left;
    width: 50%;
    padding-right: 30px;
    box-sizing: border-box;
}
.assessment_details_tbl {
    width: 100%;
}
.col-1 .assessment_details_tbl td {
    width: 50%;
    padding: 10px 0px;
}
.assessment_details_tbl td.value {
    font-weight: bold;
}
#header {
    font-weight: bold;
    font-size: 16px;
    margin: 40px 0 20px 0;
    color: #444;
}
table#assessments {
    border-collapse: collapse;
    font-size: 13px;
    /* width: 100%; */
    margin-bottom: 20px;
    border-right: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
}
table#assessments .tr-head {
    font-weight: bold;
    border-bottom: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
    color: black !important;
    background-color: #e5e5e5;
}
table#assessments tr {
    border-bottom: 1px solid #bfbfbf;
}
table#assessments td {
    white-space: normal;
    text-overflow: ellipsis;
    height: 31px;
    padding: 10px 20px;
    border-right: 1px solid #ccc;
}
td.sl_no{width: auto;}
td.name{width: 200px;}
td.roll_no{width: auto;}
td.marks{width: 80px;}
td.grade{width: 70px}
td.result{width: 10px;}
td.absent{
    width: 10px;
    text-align: center;
}
table#assessments td.marks input {
    width: 50px;
    float: left;
    padding: 3px;
}
table#assessments td select {
    background-color: white;
    padding: 3px;
}
.tooltip_info{ white-space: normal;}
.error-text{
    border: 1px solid red;
    padding: 4px !important;
}
.error-field{
    border: 1px solid red;
    padding: 4px !important;
}
.error-icon {
    width: 15px;
    height: 12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    margin-top: 7px;
}
.submit-button{
    font-size: 13px;
    margin-left: 0px;
    margin-right: 20px;
    text-decoration: none;
}
.exam_group_head{
    display: table;
    width: 100%;
    table-layout: fixed;
}
.exam_group_head .clm{
    display: table-cell;
}
.exam_group_head .clm .value{
    font-weight: bold;
    margin-top: 20px;
    max-width: 211px;
}
.exam_group_head .clm:first-child{
    width:290px;
}
.assessment_details_short{
    background: #ececec;
    border-radius: 3px;
    margin-top: 50px;
    padding: 20px;
}
#page-yield .edit_subject_assessment a:hover{
    color: #fff !important;
}
span.success{
    color: green;
}

span.danger{
    color: red;
}