hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: left;
    margin: 20px 0;
}
.field_details {
    float: left;
    width: 153px;
    font-weight: normal;
    font-size: 14px;
    color: #444;
    margin: 20px 10px 20px 0;
}
.field_name {
    float: left;
    width: 100%;
    color: #8C8C8C;
}
.field_val {
    float: left;
    margin: 10px 0 0 0;
    font-weight: bold;
}
div.sub-head {
    font-size: 13px;
    font-weight: bold;
    color: #444;
    float: left;
    width: 100%;
    margin: 20px 0;
}
.header {
    font-weight: bold;
}
.group_name{width: 480px;}
.schedule_dates{
    float: left;
    width: 940px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
}
.schedule_dates .field_details{
    width: 200px
}
.edit_dates{
    float: right;
    font-size: 13px;
    color: #444;
    margin-top: 35px;
}
div.sub-head {
    font-size: 14px;
    font-weight: bold;
    color: #444;
    float: left;
    width: 100%;
    margin: 20px 0;
}
#scoring_details .field_details{
    width: 100%
}
#scoring_details .field_name{ width: 200px}
#scoring_details .field_val{ margin-top: 0px}
#scoring_details .field_val input{ width: 100px; border: 1px solid #bfbfbf;}
#scoring_details #description{
    font-size: 13px;
    margin-left: 10px;
    float: left;
    width: 50%;
}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: left;
}
.outer {
    position: relative;
}
.inner {
    overflow-x: auto;
    margin-left: 200px;
    overflow-y: visible;
    padding-bottom: 1px;
}
.fixed-header
{
    border-top: 1px solid #bfbfbf;
    top: 0px;
    border-left: 1px solid white !important;
}
table#assessments {
    border-collapse: collapse;
    font-size: 13px;
    width: 100%;
    margin-bottom: 20px;
    border-right: 1px solid #bfbfbf;
}
#assessment_table {
    width: 100%;
    float: left;
    white-space: nowrap;
    z-index: 0;
    margin-top: 30px;
}
table#assessments tr {
    border-bottom: 1px solid #bfbfbf;
}
table#assessments td {
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 25px;
    padding: 15px;
}
td.date {
    width: 169px;
    position: absolute;
    left: 0px;
    border-left: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}

td.date1 {
    width: 169px;
    position: absolute;
    left: 0px;
    border-left: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    line-height: 25px;
}
table#assessments td.date input{
    width: 110px;
}
table#assessments td.date .calendar_label{
    padding: 3px !important;
    top: 0px !important;
}
td.date img.calendar_date_select_popup_icon{
    margin-top: 2px !important;
    top: 4px;
}
td.time {
    min-width: 118px;
    left: 341px;
}
td.max_marks {
    min-width: 90px;
}
td.batch {
    min-width: 200px;
}
table#assessments .tr-head {
    font-weight: bold;
    border-bottom: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
    color: black !important;
}
#page-yield ::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}
#page-yield ::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
#page-yield ::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
#page-yield ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
#page-yield ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
#page-yield ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
tr.tr-head td:last-child{
    border-right: 1px solid white !important;
}
#assessment_form #description{
    font-size: 13px;
    color: #444;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
#assessment_form #warning{
    float: left;
    width: 100%;
    font-size: 13px;
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}
table#assessments td input, table#assessments td select{
    padding: 3px;
    /*float: left;*/
    border: 1px solid #bfbfbf;
    font-size: 13px;
}
table#assessments td select{ background-color: white}
table#assessments td.time input{
    width: 80px;
}
table#assessments td.max_marks input{
    width: 50px;
}
table#assessments td.batch select{
    width: 200px
}
.submit-button{
    font-size: 13px;
    text-decoration: none;
    margin: 10px 30px 0 0;
}
.error-icon {
    width: 15px;
    height: 12px;
    background: url(/images/iconsprite-1.png);
    background-position: -42px -344px;
    margin-left: 2px;
    margin-top: 6px;
    float: left;
}
.tooltip_info{ white-space: normal;}
.error-text{
    border: 1px solid red;
    padding: 4px !important;
}
tr.add_exam{ 
    border-bottom: 0px !important
}
tr.add_exam td.date{
    border-left: 1px solid white !important;
}
tr.add_exam td.time{
    border-right: 1px solid white !important;
}
tr.add_exam td.new_exam{
    border-bottom: 0px !important
}
div#add-icon {
    background-image: url(/images/iconsprite-1.png);
    background-position: -105px 55px;
    float: left;
    height: 10px;
    width: 10px;
    margin: 2px 4px 0 0;
}
.add_button_img {
    text-decoration: none;
    font-size: 13px;
    color: #00830C;
    float: left;
    margin-bottom: 20px;
    background: none;
    width: auto;
}
div#add-text, div#add-text:hover {
    float: left;
    color: #00830C !important;
}
.error-icon {
    width: 15px;
    height: 12px;
    background: url(/images/iconsprite-1.png);
    background-position: -42px -344px;
    margin-left: 2px;
    margin-top: 6px;
    float: left;
}
.tooltip_info{ white-space: normal;}
.error-text{
    border: 1px solid red;
    padding: 4px !important;
}
.error-field{
    border: 1px solid red;
    padding: 4px !important;
}
.error-icon {
    width: 15px;
    height: 12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-right: 2px;
    float: left;
    margin-top: 7px;
}
.time input, .max_marks input{
    float: left
}
.row-warn, .row-warn td.date{
    background: #fff2f3;
}
.error-msg {
    float: left;
    color: red;
    font-size: 13px;
    width: 300px;
    margin-top: 6px;
}
.wrapper {
    width: 100%;
    float: left;
    min-height: 21px;
}
.wrapper .error-icon, .wrapper .error-msg{
    display: none;
}
td.date .error-icon{
    float: right;
    margin-right: 10px;
}
td.date .tooltip_wrapper{
    float: right;
}
p.flash-msg{
    float:left;
    width: 100%;
}
#page-yield a.submit-button:hover{color: #fff !important;}