<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('ranking_levels_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('manage_ranking_levels') %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <div id="flash"></div>

  <div id="errors">
    <%= error_messages_for 'ranking_level' %>
  </div>
  <div class="course-select">
    <div class="label-field-pair">
      <label for="student_course"><%= t('select_a_course') %>: <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader",
          :style =>"display: none;" ) %> </label>
      <div  class="text-input-bg">
        <%= select :ranking_level, :course_id,
          Course.active.map {|b| [b.full_name, b.id]},
          {:prompt => "#{t('select_a_course')}"},{:onChange => "#{remote_function(:url => {:action => "load_ranking_levels"}, :with => "'course_id='+value",:before => "$('loader').show();",
          :success => "$('loader').hide();")}"}%></div></div>
  </div>
  <div id="course_ranking_levels"></div>
</div>
