.div_list{
    width:323.75px;
    float: right;
    background-color: #eeeeee;
    height: 532px;
    overflow: auto;
    overflow-x: hidden;
}
#year_list_div{
    border: 1px solid #999;
}
#course_list_div{
    border: 1px solid #999;
    border-left:none;
}
#batch_list_div{
    border: 1px solid #999;
    border-right: none;
}
.div_list .set_overflow{
    overflow: auto;
    overflow-x: hidden;
}
.invite_orgainisers{
    width: 100%;
    padding-top: 50px;
}
#alumni_event_selection a:hover{
    text-decoration: underline;
}
#flash_box:focus {
    outline:none;
}
.invite_orgainisers a{
    margin-top: 50%;
    margin-right: 25px;
    padding-top: 50px;
}
#invite-organisers{
    height: 110px;
}
#invite-organisers .link {
    float:right;
    cursor: pointer;
    display:inline-flex;
}
.right_link {
    margin-right:  55px;
}
#invite-organisers a{
    margin-top: 5px;
}
.event_preview{
    float: right;
    /*height: 110px;*/
    background-color: #eeeeee;
    margin-bottom: 50px;
    margin-top: 20px;
    word-break: break-all;
    /*overflow: scroll;*/
}
.seprater{
    clear: both;
    color:#ccc;
    margin-bottom: 30px;
    border-bottom: 1px solid #CCC;
}
#invite-organisers a{
    text-decoration:none !important;
    color:green !important;
}
#page-yield  #invite-organisers a:hover{
    color:green !important;
}
.course_expand{
    float:left;
    float:left;
    border-style: none;
    border:0px;
}
.course_div{
    width:100%;
    position: relative;
    border: 1px solid #dddddd;
}
.check-text-pair{
    border-bottom: 1px solid #dddddd;
    width: 100%;
    padding-right: 10px;
    padding-top: 20px;
    background-color: #FFF;
    margin-bottom: 0px;
    min-height: 40px;
}
.check-text-pair head{
    padding-right: 55px;
    font-weight: 900;
    padding: 20px 20px 20px 10px;
    height: 12px;
}
.sub-link-text{
    cursor: pointer;
    margin-right: 30px;
    width: 238px;
}
.head_list{
    border-bottom: 1px solid #999;
    width: 100%;
    padding: 20px 10px 20px 10px;
    height: 12px;
    font-size: 15px;
    font-weight: bold;
}
#invitation-message{
    width: 443px;
    height: 160px;
    background-color: #eeeeee;
    padding:20px;
    color:black;
    margin-right:-2px;
    border-radius: 0px;
}
.label-field-pair-text-area textarea {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    margin: 5px 10px 0 0;
    padding: 5px;
    width: 205px;
    height: 90px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size: 14px;
}
#MB_frame .label-field-pair-text-area  {
    margin: 5px 0;
    width: 450px;
}
.label-field-pair {
    height: 40px;
    width: 600px;
    padding-top: 3px;
}
.label-field-pair-text-area label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: right;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
}
.organiser_div .link-heading{
    margin-right: 15px;
}
hr{
    color:#CCC;
}
#invitation{
    margin-top: 631px;
}
#invitation h3{
    margin-top: 25px;
}
.link a {
    background: none;
    border: medium none;
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 12px;
    /* font-weight: bold; */
    margin: -16px auto 0;
    padding: 7px 10px;
    text-decoration: none;
    color: green;
}
.clearfix {
    clear:both;
}
#submit_div{
    float:right;
    display:inline-flex;
    padding-top: 18px;
}
#submit_div .submit-button{
    margin-right: 0px;
    text-decoration: none;
}
#submit_div .inactive a{
    margin-top: 0px;
    text-decoration: none;
    -webkit-border-radius: 8px;
    background: #CCC;
    border: none;
    color: #fff !important;
    font-size: 14px;
    font-weight: bold;
    margin: 0 51px 0 0;
    padding: 7px 9px;
    float: right;
    cursor: pointer;
    margin-left: 20px;
}
#submit_div .inactive a:hover{
       color: #fff !important;
}
#submit_div .active_cancel a:hover {
  color: #fff !important;
}
.inactive a:hover{
     color: #fff !important;
}
.cancel_invitation_button{
    margin-top: 0px;
    text-decoration: none;
    -webkit-border-radius: 8px;
    background: #27292B;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0 51px 0 0;
    padding: 7px 9px;
    float: right;
    cursor: pointer;
}


.inactive{
    margin-right:-49px;
}
.event_preview{
    padding: 10px;
    padding-left: 0px;
    min-height: 49px;
    width: 960px;
    margin-bottom: 28px;
    padding-right: 20px;
}
.event_preview .event_head{
    float:right;
    height: 49px;
    padding-right: 30px;
    padding-bottom:30px;
    width:200px;
}
.event_preview .event_head h2{
    margin: 0px;
}
.event_preview .event_desc{
    float: right;
    min-height: 49px;
    padding-right:225px;
    padding-top: 20px;
    width: 78%;
    margin-top: -78px;
    font-family:  Arial;
}
.event_preview .event_desc p{
    margin: 0px;
    margin-right: 23px;
    margin-top: -4px;
    padding-bottom: 5px;
    padding-bottom: 10px;
}
.arrow-icon {
    background: url(/images/iconsprite-1.png)  no-repeat -3px -35px;
    width: 6px;
    height: 10px;
    float: left;
}
#allow-alumni-to-comment{
    margin: 9px -94px 0 0;
}
#invite_alumni_button{
    margin-right: 26px;
}
#alumni_event_selection .label-field-pair label{
    width: 65px;
}
#alumni_event_selection .label-field-pair input{
    margin: 10px -93px 0 0px;
}
#invitation .text-input-bg{
    width: 43px;
}
#alumni_event_selection a{
    padding-top: 12px;
    font-weight: 900;
    color: #333;
    text-decoration: none;
    padding-right: 20px;
}
.separator_or{
    padding-top: 12px;
    margin-right: -282px;
}
#invitation p{
    font-size: 15px;
}
#invitation .label-field-pair label{
    width: 258px;
    font-size: 13px;
    color: #333;
    font-weight: normal;
}
.green_plus_button {
    width: 10px;
    height: 10px;
    background: url(/images/iconsprite-1.png) no-repeat -105px -345px;
}
.add_organiser_button {
    margin-top: 13px;
}
.invite_later_button {
    text-decoration:none;
    color:#333;
    font-weight:bold;
    font-size: 15px;
}
#invite_later_button_top {
    width: 13%;
    float: left;
    margin-top: -32px;
    font-size: 15px;
}
#invite_later_button_bottom {
    padding-right: 20px;
    padding-top: 6px;
}
.image_load{
    right: 36%;
    top: 41%;
    margin: 0 auto;
    position: relative;
    display: none;
}
.img_load img{
    border : 0;
}
.highlight{
    background-color: #e0ebff;
}
.event_heading{
    font-size: 17px;
    font-family: 'Arial';
    font-weight: bold;
    word-break: break-all;
}
.event_desc p{
    word-break: break-all;
    font-size: 13px;
    width: 703px;
}
.sub_headding{
    font-size: 15px;
    font-weight: bold;
}
.headder{
    font-size: 17px;
    font-weight: bold;
    margin-bottom:30px;
}
#invite-organisers .sub_headding{
    margin-bottom: 20px;
}
#event_preview_container .event_preview{
    padding-bottom: 0px;
}
.organiser_div_employee{
    float: right;
    margin-top: 10px;
    clear:both;
}
.organiser_div_student{
    float: right;
    margin-bottom: 10px;
    clear:both;
}
.organiser_name{
    float: right;
    font-size: 14px;
    color:#333;
    min-width:240px;
    margin-bottom: 10px;
    display: block;
    width: 200px;
}
.organiser_position{
    color:#999;
    min-width:70px;
    font-size: 14px;
}
.organiser_link{
    float:right;
    margin-bottom: 30px;
}
#disp_organiser{
    float:right;
    width: 900px;
}
.organiser{
     margin-right:20px;
     clear:both;
}
.text-input-bg select {
    font-size: 13px;
}
#select_batch_id {
    margin-right: -64px;
}