#MB_window{
	width:878px !important;
	padding:30px !important;
        right: 196px !important;
	margin: 0 auto;
}
#MB_frame{
    padding:30px;
}
#selection_box{
	width:100%;
	height:80px;
        dispaly:inline-flex;
}
#MB_content{
    overflow: hidden;
}
#selection_div{
	height:360px;
        margin-right: -10px;
}
#user_list{
	height: 330px;
	width: 366px;
	float:right;
	border:1px solid #CCC;
        overflow-y: auto;
	overflow-x: hidden;
        background-color: #eeeeee;
}
#selected_organisers{
	height: 330px;
	width: 300px;
	float:right;
        margin-right: 10px;
	border:1px solid #CCC;
        overflow-y: auto;
	overflow-x: hidden;

}
#MB_frame .label-field-pair select {
    width:200px;
}
.submit_box{
	width: 100%;

}
#student_list_table{
    width:100%;
    padding:20px;
    border-style: solid;
}
#select_button_div{
	height: 330px;
	width: 50px;
	float:right;
	padding-right: 20px;
}
#select_button{
	vertical-align: middle;
	margin-top: 50%;
	margin-left: 50%;
	margin-right: 50%;
}
.selected_dep{
	border-bottom: 1px solid #CCC;
        padding-right: 20px;
	width: 90%;
	min-height: 30px;
	padding:10px;
        font-weight: 100;
        padding-right: 20px;
        cursor: pointer;
}
#dispaly_total_count{
    font-size: 14px;
    margin-top: 12px;
    float:left;
    width: 100%;
}
.right a {
background: url(/images/class_timing_sets/right.png);
display: block;
float: right;
height: 38px;
margin-right: -5px;
margin-top: 156px;
max-height: 38px;
max-width: 49px;
min-width: 49px;
width: 49px;
}
.right a:hover{
    background: url(/images/class_timing_sets/right_hover.png);
}
#MB_frame #MB_header {
border-bottom: 1px solid #CCCCCC;
-webkit-border-radius:0px;
height: 33px;
padding-right: 30px;
}

#MB_frame .head_label {
   right:30px;
   top:30px;
}
#MB_frame .label-field-pair {
margin: 3px -11px 0;
}
table tr td{
    padding:10px;
    padding-left: 0px;
}
table{
    width: 365px;
    border-collapse: collapse;
}
table, td, th {
    border-bottom: 1px solid #CCC;
    font-weight: 100;
    font-size: 16px;

}
.year{
    margin-right:190px;
}
.name_div_all{
    padding:10px;
    padding-left: 0px;
    height: 18px;
}
.organiser_div{
    width:100%;
    height:200px;
}
.link-heading{

    float:right;
}
.label-field-pair label{
    width:111px
}
.div_head{
    border-bottom: 1px solid #CCC;
    font-weight: 600;
    padding:12px;
    font-size: 16px;
}
.name_div{
    font-size: 14px;
}
.chk {
width: 11%;
border-left: 1px solid #CCC;
}
.chk_head{
    width: 11%;
    border-left: 1px solid #CCC;
}
.name_div_head{
    padding-right:17px;
    font-weight: 600;
    font-size: 16px;
}
.name_div lef{
    padding-right:10px;
    font-size: 16px;
}
.submit-button{
    float:right;
    margin-right:-11px !important;
}
.cancel{
    margin-right:30px !important;
}
#display_total_count{
    height:30px;
}
#submit_box{
   border-top: 1px solid #CCC;
}
.remove-icon {
    background-image: url("/images/iconsprite-1.png");
    background-position: -31px 1px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 16px;
    margin-right: 5px;
    overflow: hidden;
    text-indent: -99999px;
    width: 16px;
    cursor: pointer;
    margin-top: -13px;
}
.selected_dep div{
    width:200px;
}
#MB_window{
	width:878px !important;
	padding:30px !important;
        right: 196px !important;
	margin: 0 auto;
}
#MB_frame{
    padding:30px;
}
#selection_box{
	width:100%;
	height:80px;
        dispaly:inline-flex;
}
#MB_content{
    overflow: hidden;
}
#selection_div{
	height:360px;
        margin-right: -10px;
}
#user_list{
	height: 330px;
	width: 366px;
	float:right;
	border:1px solid #CCC;
        overflow-y: auto;
	overflow-x: hidden;
        background-color: #eeeeee;
}
#selected_organisers{
	height: 330px;
	width: 300px;
	float:right;
        margin-right: 10px;
	border:1px solid #CCC;
        overflow-y: auto;
	overflow-x: hidden;

}
.submit_box{
	width: 100%;

}
#student_list_table{
    width:100%;
    padding:20px;
    border-style: solid;
}
#select_button_div{
	height: 330px;
	width: 50px;
	float:right;
	padding-right: 20px;
}
#select_button{
	vertical-align: middle;
	margin-top: 50%;
	margin-left: 50%;
	margin-right: 50%;
}
.selected_dep{
	border-bottom: 1px solid #CCC;
        padding-right: 20px;
	width: 90%;
	min-height: 26px;
	padding:10px;
        font-weight: 100;
        padding-right: 20px;
        cursor: pointer;
}
#dispaly_total_count{
    font-size: 14px;
    margin-top: 12px;
    float:left;
    width: 100%;
}
.right a {
background: url(/images/class_timing_sets/left.png);
display: block;
float: right;
height: 38px;
margin-right: -5px;
margin-top: 156px;
max-height: 38px;
max-width: 49px;
min-width: 49px;
width: 49px;
}
.right a:hover{
    background: url(/images/class_timing_sets/left_hover.png);
}
#MB_frame #MB_header {
border-bottom: 1px solid #CCCCCC;
-webkit-border-radius:0px;
height: 33px;
padding-right: 30px;
}

#MB_frame .head_label {
   right:30px;
   top:30px;
   font-size: 17px;
}
#MB_frame .label-field-pair {
margin: 3px -11px 0;
}
table tr td{
    padding:10px;
    padding-left: 0px;
}
table{
    width: 365px;
    border-collapse: collapse;
}
table, td, th {
    border-bottom: 1px solid #CCC;
    font-weight: 100;
    font-size: 16px;

}
.name_div_all{
    padding:10px;
    padding-left: 0px;
}
.organiser_div{
    width:100%;
    height:200px;
}
.link-heading{

    float:right;
}
.label-field-pair label{
    width:111px
}
.div_head{
    border-bottom: 1px solid #CCC;
    font-weight: 600;
    padding:12px;
    font-size: 15px;
}
.name_div{
    font-size: 13px;
}
.chk {
width: 11%;
border-left: 1px solid #CCC;
}
.name_div_head{
    padding-right:17px;
    font-weight: 600;
    font-size: 15px;
}
.name_div lef{
    padding-right:10px;
    font-size: 16px;
}
.submit-button{
    float:right;
    margin-right:-11px !important;
}
.cancel{
    margin-right:30px !important;
}
#display_total_count{
    height:30px;
}
#dispaly_total_count p{
    font-size: 13px;
}
#submit_box{
margin-top: 3px;
border-top: 1px solid #CCC;
float: right;
width: 100%;
padding-top: 30px;
margin-right: -9px;
padding-right: 11px;
}
.remove-icon {
    background-image: url("/images/iconsprite-1.png");
    background-position: -31px 1px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 16px;
    margin-right: 5px;
    overflow: hidden;
    text-indent: -99999px;
    width: 16px;
    cursor: pointer;
    margin-top: -24px;
}
.selected_dep div{
    width: 200px;
    padding: 1px 0px 15px 0px;
    height: 10px;
    font-size: 13px;
}
#filter_select label{
    margin-right: 10px !important;
}
.selected_dep div span{
    float:left
}
#user_list .image_load{
right: 36%;
top: 41%;
margin: 0 auto;
position: relative;
}