#flash-box{
    direction:ltr;
}
#summary{
    direction: ltr;
}

body{
    margin:0 auto;
    float:left;
    width:100%;
}
.label-field-pair {
    height: 40px;
    width: auto;
    padding: 8px 8px 8px 0px;
    float:left;
}
.label-field-pair label{
    float: left;   
}
.text-input-bg {
    background: transparent;
    height: 28px;
    width: auto !important;
    float: left;
}
.label-field-pair input {
    background: #fff;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 20px;
    width: 50px;
    height: 17px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding: 5px;
}
#table_div{
    overflow: auto;
    max-width: 730px;
    max-height:600px;
    position:relative;
    float:left;
}
.tableSubHeader{
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 20px 8px 20px;
    word-break: break-word;
    min-width: 110px;
    min-height: 15px;
    height: auto;


}
.tableHeader{
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 5px 10px 10px;
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#table_div td{
    min-width: 80px;
}
.student_names{
    width: 300px;
    text-align: left;
    font-size: 13px;
    padding: 6px 5px 5px 20px;
    height: 45px;
    display: table-cell;
    vertical-align: middle;
    word-break: break-all;
}
.student_names span{
    color: #999999;
}
#divHeader{
    overflow:hidden;
    max-width:730px;
}
#main_header_table{
    border:1px solid #999999;
    border-collapse: collapse;
    border-bottom: 0px;
    border-left:0px;
}
#main_header_table tr#main_heading{
    border-bottom: 1px solid #999999;

}
#main_header_table tr, #main_header_table td{
    border-left:0px;
    border-right: 1px solid #cccccc;
}
#student_list_table,#student_list_table tr,#student_list_table td{
    border-collapse: collapse;
    border-top: 0px;
    border-right: 1px solid #cccccc;
    border-bottom: 0px;
    border-left: 1px solid #999999;
}

#scores_table, #scores_table tr, #scores_table td{
    border-top:0px;
    border-right:0px;
    border-bottom:0px;
    border-left:0px;
    border-collapse: collapse;
}
#scores_table td{
    border-right:1px solid #cccccc;
}
tr.odd{
    background-color: #ffffff;

}
tr.even{
    background-color: #f4f4f4;
}
#firstSubTd{
    background-color: #e5e5e5;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 5px 5px 20px;
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
#firstTd{
    height:60px;
    border-right:1px solid #999999;
}
#sub_header{
    background-color: #e5e5e5;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #ccc;
    border-left: 0px;
}


#page-yield ::-webkit-scrollbar {
    width: 12px;
    height: 10px;

}
#page-yield ::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
#page-yield ::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
#page-yield ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

#page-yield ::-webkit-scrollbar {
    width: 10px;
}

#page-yield ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#page-yield ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#summary{
    float: left;
    width: 100%;
    color: #333;
    font-size: 13px;
    margin-bottom: 20px;
}
.individual_block{
    float: left;
    width: 100%;
    margin-bottom: 10px;

}
.left_section{
    float: left;
    width: 50%;
    min-height: 1px;
}
.right_section{
    float: left;
    margin-left:150px;
}
label{
    width: 80px !important;
}
label.header{
    width: 100px;
    float: left;
    margin-right: 5px;
}
.col_span{
    float:left;
    margin-right:5px
}
.bold_text{
    font-weight: bold;
}
.hor_line{
    width:100%;
    background: #ccc;
    height: 1px;
    float: left;
    margin-bottom: 10px;
}
#subjects_list,#fa_groups_list{
    float:left;
    width:50%;
    direction: ltr;
}
.submit-button
{
    webkit-border-radius: 8px !important;
    background: #27292B !important;
    border: none !important;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    float: left;
    cursor: pointer;
    width: auto !important;
    height: auto !important;
    margin: 0 0 0 210px;
}
#loader{
    float:left;
    margin:10px 0px 0px 10px;
}
#fa_sheet{
    float: left;
    width: 100%;
    margin-top: 30px;
    position: relative;
    direction: ltr;
}
.margin_extra{
    margin-left: 30px !important;
    margin-top: 10px!important;
}
.margin-top-50{
    margin-left: 0px;
}
#firstcol{
    overflow: hidden;
    max-height:600px;
    border-bottom: 1px solid #ccc;
}
#fa_sheet .overlay {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    display: block;
    background-color: #f4f4f4;
    text-align: center;
    border: 1px solid #bfbfbf;
    float: left;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}
#loading{ margin-top: 100px; }
#loading #loader1{
    margin-bottom: 5px;
}
#loading span{
    width: 100%;
    float: left;
}
.tableHeaderHelp{
    font-size: 11px;
    color: #666;
    font-weight: normal;
    padding:0px 10px 11px 10px
}
#fa_criteria_calc{
    float: left;
    width: 100%;
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: normal;
    color: #333;
}
#fa_criteria_calc > span{
    font-weight: bold;

}
.tooltip_error {
    background-color:#000;
    padding:10px 15px;
    width:200px;
    color:#fff;
    text-align:left;
    font-size:12px;

    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}
#submit_button{
    float: left;
    width: 100%;
    margin-top: 50px;
}
#err{
    float: left;
    width: 100%;
    font-size: 13px;
    color: #9e0f15;
    margin-bottom: 10px;
}