@page{
    margin: 1px;
}
tr{
    page-break-inside: avoid;
}

.no-break{
    page-break-inside: avoid !important;
    display: block;
}
.break-before{
    display: block;
    page-break-before: auto;
}
#pdf-footer{
    text-align: right;
    width: 700px;
    padding-right: 100px;
    padding: 50px;
    margin: 0 auto;
    color: #999999;
    font-size: 18px;
    margin-right: 0;
}
.section{
    margin-top:20px;
}
.row-break{
           display: table-row; 
           clear:both; 
    page-break-before:always;
}
.top-padding-20{
    padding-top:20px;
    background-color:#ccf;
}

#main_info{
    text-align: left !important;
}
#remarked_by_section{
    float:left;
    width:30%;
    margin-right: 25px;
    font-size: 13px;
    word-break: break-word;
}

#remark_body_section{
    float:left;
    width:90%;;
    margin-right: 25px;
    font-size: 13px;
    word-break: break-word;
}

#submitted_by_section{
    float:right;
    font-size: 13px;
    width: 40%;
    text-align: right;
    color:#666666;
    word-break: break-word;
}
#remarks_bold_label{
    font-weight: bold;
    float:left;
    margin-top:15px;
    margin-bottom: 15px;
    width:100%;
}
table.remarks_table{
    width:100%;
    border-collapse: collapse;
}
table.remarks_table tr{
    border-top:1px solid #ADACAB;
}

table.remarks_table tr td{
    border:none;
    padding-bottom:15px;
    padding-top:15px;
}
