
.each_category{
    font-size: 12px;
    overflow:auto;
    width:auto;

}
.each_category input{
    float:left;
    width:auto;
}

.each_category label {
    float: left;
    margin-top: -5px;
    width: auto;
    font-size:13px;
    font-weight: normal;
    margin-left: 8px;
}
.categories {
    -webkit-border-radius: 10px 10px 10px 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 115px;
    margin-left: 10px;
    overflow: auto;
    width: 196px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    margin-top: 13px;
}
.submit_button {
    margin-top: 25px;
    margin-left: 211px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
.link-box {
    margin:10px 40px;
    width:270px;
    float:left;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
.link-descr {
   margin-top: 5px;
    color: #666;
    text-align: left;
}
#box{
    width:700px;
    margin:0px auto;
}
.box{
    width:100%;
    margin:0px auto;
}
.exam-basic-details{
    margin: 0 auto;
    width: 550px;
}
.submit_button {
    margin-top: 25px;
    margin-left: 210px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}

.submit_button2 {
    margin-top: 25px;
    margin-left: 461px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button2:hover{
    background:  #373B3F;
}
.label-field-pair2 input {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:0 0 3px 1px;
    padding:5px;
    width:25px;
}
.label-field-pair2 input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}

.text-input-bg2 {
    background:none repeat scroll 0 0 transparent;
    float:left;
    height:28px;
    width:25px;
}

.label-field-pair3 input {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:0 0 5px 1px;
    padding:5px;
    width:140px;
}
.label-field-pair3 input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}

.text-input-bg3 {
    background:none repeat scroll 0 0 transparent;
    float:left;
    height:40px;
    width:200px;
}

.type_link{
    color:#27292B;
    text-decoration:underline;
    margin-top: 12px;
    font-size: 14px;
    float:left;
}

.type_link:hover{
    color:#990a10;
    text-decoration:none;
}
.fieldWithErrors{
    display: inline-block;
}
.exam_type{
    margin-top: 108px;
}
.sel-list {
   width:196px;
}
