
#add_news_form {
    padding-right:50px;
}
.news_label_field {
    width:285px;
}
.news_label_field label {
display:block;
    color:#444;
    margin-bottom:10px;
    font-size: 14px;
}
#news_title_text_field_bg {
  /*background-color: #eee;*/
    height:46px;
    /*border: 1px solid #c6c6c6;*/
    margin-bottom:20px;
    width:652px;
    /*    -moz-border-radius: 10px;
        -webkit-border-radius: 10px;*/
}
#news_title_text_field_bg input {
    width:600px;
    height:30px;
    background:transparent;
    border:1px solid #ddd;
    padding-right:10px;
    padding-top:5px;
    font-size:20px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#page-yield #news_title_text_field_bg input:focus
{
    background:transparent !important;
}
#news_content_text_field_bg {
    /*background-color: #eee;
    border: 1px solid #c6c6c6;
    height: 273px;
    margin: 0 0 20px 0;
    padding: 10px;
    width:632px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;*/
}
#news_content_text_field_bg textarea {
    background:transparent;
    border:2px solid #ddd;
}
#announcement_content {
    width:615px;
    height:260px;
    background:transparent;
    padding: 5px 10px 0 0;
    font-size:18px;
}
.news_publish_button {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-top:22px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
}
}
.news_publish_button:hover{
   background:  #373B3F;
}
.fieldWithErrors {
    height: 42px;
    width: 648px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

/** redactor styles **/
#news_content_text_field_bg .redactor_box ul{
    width: 610px !important;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}
#news_content_text_field_bg .redactor_box{
    width: 630px !important;
}
#news_content_text_field_bg .redactor_editor{
    width: 592px  !important;
    height: 194px !important;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    overflow-wrap: break-word;
}

.delete_button_img {
  background: none;
  margin-top: 15px;
  text-decoration: none;
  color: black;
}
.add_fields {
  float: right;
  clear: both;
  margin-top: 10px;
}
.fields {
  width: 600px;
  clear: both;
}
.label-field-pair {
  float: right;
  width: 260px;
  padding-bottom: 6px;
}
.remove-field {
  /*padding-top: 14px;*/
}
.remove-field a{
  text-decoration: none;
  color: transparent;
  background: url('/images/iconsprite-1.png') no-repeat -5px -344px;
  /*width: 10px;*/
  width: 15px;
  float: right;
  display: block;
  height: 10px;
  margin-top: 7px;
}
#page-yield .remove-field a:hover {
  color: transparent !important;
  background: url('/images/iconsprite-1.png') no-repeat -5px -344px;
}
.paperclip_field {
  margin-right: 0px;
  height: 30px;
}
.add_fields a {
  text-decoration: none;
  color: #080 !important;
  font-size: 13px;
}
h4.attach_files_head {
  font-weight: normal;
  font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.add_fields {
  font-size: 13px;
}
.remove-field{
  font-size: 13px;
  padding-top: 10px;
  /*float: left;*/
}
.fields a {
  font-size: 13px;
  /*float: left;*/
  /*width: 300px;*/
}
span.attachment_icon_img {
  float: right;
  margin-left: 10px;
}
.left-attachment {
  float: right;
  width: 260px;
  height: 25px;
  padding-top: 10px;
}
.left-attachment a {
  text-decoration: none;
}
#page-yield a.add_button_img:hover {
  color: #080 !important;
}
hr.separator {
    margin-top: 30px;
    border-top: 0px;
    border-right: 0px;
}
a.add_button_img {
    text-decoration: none;
    padding-left: 14px;
    color: #080;
    font-size: 13px;
}
#errorExplanation{
    background: #ffdedf url(/images/_global/error.png) no-repeat 495px 14px;
}