<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('attendance') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('attendance' ) + ' '  + t('home') %> </div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div id="box">


    <% if permitted_to? :index,@current_user,:context=> :attendances %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('attendance_register')}", :controller => 'attendances', :action => 'index'  %></div>
        <div class="link-descr"><%= t('attendance_registered_for_students') %></div>
      </div>
    <% end %>
    <% if can_access_request?(:index,@current_user,:context=>:attendance_reports)%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('attendance_report')}", :controller => "attendance_reports", :action => "index" %></div>
        <div class="link-descr"><%= t('attendance_report_for_students') %></div>
      </div>
    <% end %>

    <!--
       <div class="link-box">
           <div class="link-heading"><%= link_to "#{t('attendance_report')}", :controller => "attendance_reports", :action => "advance_search" %></div>
           <div class="link-descr">Attendance report for students</div>
         </div>
    -->
    <% if can_access_request?(:day_wise_report,@current_user,:context=> :attendance_reports) and @attendance_type == "Daily" %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('day_wise_attendance_report')}", :controller => "attendance_reports", :action => "day_wise_report" %></div>
        <div class="link-descr"><%= t('day_wise_attendance_report_for_students') %></div>
      </div>
    <% end %>
    <div class="extender"></div>
  </div>


</div>
