

table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
    margin: 30px 0 20px 0;
}

td{
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}

#page-yield table .tr-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
}

.tr-odd{
    background-color: #f0f0f0;
}

.tr-even{

}
h3{
    font-size: 14px;
    margin-top:50px;
}

#generate, #view{
    float:right;
    color: grey;
    margin-left: 10px;
}

.actions a{
    margin-left: 30px;
}
.bg_dark_grey {
    background-color: #D8D8D8;
}
.bg_light_grey {
    background-color: #f8f8f8;
}
td {
    border-bottom: 1px solid #E0E0E0;
    border-left: 1px solid #bfbfbf;
    padding: 10px;
}
table a, #page-yield table a:hover
{
    color: #666 !important;
    text-decoration: none;
    float: right;
}
#page-yield table a:hover{
    color: black !important;
    text-decoration: underline;
}
td.emp_name
{
    width: 30%;
}
td.dept_name
{
    width: 15%;
}
td.cat_name
{
    width: 15%;
}
td.recent_date
{
    width: 10%;
}
td.actions
{
    width: 30%;
    line-height: 20px;
}
.bg_dark_grey td
{
    font-weight: bold;
    padding-right: 30px;
}
.pagination {
    margin-top: 20px;
    margin-left: 0px;
}
.warning_sym {
    float: right;
    width: 15px;
    height: 12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-top: 2px;
}
#loader{ margin-top: 10px; }
.pagination{
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-right: 0px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-right: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: right;
    font-weight: normal;
    padding: 9px 15px 9px 13px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-right:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: right;
    padding: 9px 15px 9px 13px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: right;
    border-right:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}
.substitute {
    min-width: 15px;
    min-height: 12px;
    float: right;
}
#MB_window
{
    width: 600px !important;
    top: 40px;
    float: right;
}
#MB_frame
{
    -webkit-border-radius:0px;
    float: right;
    display: block;
    max-height: 560px;
}
#MB_header
{
    -webkit-border-radius:0px;
    border-bottom: 1px solid #7B7B7B !important;
}
#MB_header #MB_close
{
    background: white;
}
#MB_content{
    padding: 0px;
}
.fields-details {
    float: right;
    width: 100%;
    font-weight: normal;
    font-size: 13px;
    color: #444;
    margin: 10px 0;
}
.field-label {
    float: right;
    min-width: 100px;
    color: #8C8C8C;
    margin-left: 20px;
}
.fields-val {
    float: right;
}
#desc .fields-val{
    width: 100%;
    margin-top: 20px;
}
#desc a{
    color: #666;
    text-decoration: underline;
}
#desc a:hover{ color: black}
#part{
    float: right;
    padding: 20px 40px;
}
#MB_footer
{
    padding: 20px 40px;
    float: right;
    border-top: 1px solid #7B7B7B;
    width: 520px;
}
#MB_footer .submit_button {
    margin-right: 0px;
    margin-left: 20px;
    border-radius: 8px !important;
    background: #27292B !important;
    border: none !important;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 7px 9px !important;
    float: right;
    cursor: pointer;
    width: auto !important;
    height: auto !important;
}
#MB_frame #MB_caption{ padding-right: 40px;}
.label-field-pair label{
    font-weight: normal;
    font-size: 13px;
    min-width: 100px;
    width: auto;
    max-width: 200px;
}