h3 {
    font-size: 16px;
    color: #444;
    float: right;
}
.description {
    font-size: 13px;
    float: right;
    padding-top: 10px;
    color: #A5A5A5;
    margin-bottom: 20px;
    width: 100%;
}
.fields-details {
    float: right;
    width: 100%;
    font-weight: normal;
    font-size: 13px;
    color: #444;
    margin: 3px 0;
}
.field-label {
    float: right;
    min-width: 100px;
    color: #8C8C8C;
}
.fields-val {
    float: right;
    max-width: 700px;
    margin-right: 20px;
}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: right;
}
div.sub-head {
    font-size: 13px;
    font-weight: bold;
    color: #444;
    float: right;
}
.cat-details
{
    float: right;
    width: 100%;
    font-weight: normal;
    font-size: 13px;
    color: #444;
    margin-top: 20px;
}
.cat-label
{
    float: right;
    width: 130px;
}
.cat-val
{
    float: right;
    text-align: left;
    width: 110px;
}
div#net-pay .cat-val
{
    width: 105px;
}
.submit-button {
    margin-right: 20px;
    font-size: 13px;
    text-decoration: none
}
.sections
{
    float: right;
    width: 100%;
    margin: 40px 0 0 0;
}
.sections h3
{
    margin: 0 0 20px 0;
}
.sections .description
{
    margin: 0;
    padding-top:0;
}
div#net-pay
{
    border: 1px solid #ccc;
    background-color: #ECECEC;
    width: 260px;
    padding: 15px 5px 15px 0;
    margin-bottom: 20px;
}
#page-yield a.submit-button:hover {
    color: white !important;
}
#gross_salary .fields-val, #gross_salary .field-label{ margin-top: 7px;}
.warning{
    color: red;
    font-size: 13px;
}
.error-icon {
    width:15px;
    height:12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-left:2px;
    float:right;
}