

table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
    margin: 30px 0 20px 0;
}

td{
    padding: 10px;
    border-right: 1px solid #bfbfbf;
}

#page-yield table .tr-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
}
.tr-odd{
    background-color: #f0f0f0;
}

.tr-even{

}
h3{
    font-size: 14px;
    margin-top:50px;
}

#generate, #view{
    float:left;
    color: grey;
    margin-right: 10px;
}
.bg_dark_grey {
    background-color: #D8D8D8;
}
.bg_light_grey {
    background-color: #f8f8f8;
}
td {
    border-bottom: 1px solid #E0E0E0;
    border-right: 1px solid #bfbfbf;
    padding: 10px;
}
table a
{
    color: #666 !important;
    margin-right: 5px;
    text-decoration: none;
    float: left;
}
#page-yield table a:hover{
    text-decoration: underline;
    color: black !important;
}
td.emp_name
{
    width: 30%;
}
td.pg_name
{
    width: 25%;
}
td.cat_name
{
    width: 25%;
}
td.actions
{
    width: 20%;
}
.bg_dark_grey td
{
    font-weight: bold;
    padding-left: 30px;
}
.pagination {
    margin-top: 20px;
    margin-right: 0px;
}
#loader{ margin-top: 10px; }
.pagination{
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-left: 0px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-left: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: left;
    font-weight: normal;
    padding: 9px 13px 9px 15px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-left:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    border-right: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: left;
    padding: 9px 13px 9px 15px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: left;
    border-left:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}
.substitute {
    min-width: 15px;
    min-height: 12px;
    float: left;
}
.substitute {
    min-width: 15px;
    min-height: 12px;
    float: left;
}
#MB_window
{
    width: 600px !important;
    top: 40px;
    float: left;
}
#MB_frame
{
    -webkit-border-radius:0px;
    float: left;
    display: block;
    max-height: 560px;
}
#MB_header
{
    -webkit-border-radius:0px;
    border-bottom: 1px solid #7B7B7B !important;
}
#MB_header #MB_close
{
    background: white;
}
#MB_content{
    padding: 0px;
}
.fields-details {
    float: left;
    width: 100%;
    font-weight: normal;
    font-size: 13px;
    color: #444;
    margin: 10px 0;
}
.field-label {
    float: left;
    min-width: 100px;
    color: #8C8C8C;
    margin-right: 20px;
}
.fields-val {
    float: left;
}
#desc .fields-val{
    width: 100%;
    margin-top: 20px;
}
#desc a{
    color: #666;
    text-decoration: underline;
}
#desc a:hover{ color: black;}
#part{
    float: left;
    padding: 20px 40px;
}
#MB_footer
{
    padding: 20px 40px;
    float: left;
    border-top: 1px solid #7B7B7B;
    width: 520px;
}
#MB_footer .submit_button {
    margin-left: 0px;
    margin-right: 20px;
    border-radius: 8px !important;
    background: #27292B !important;
    border: none !important;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 7px 9px !important;
    float: left;
    cursor: pointer;
    width: auto !important;
    height: auto !important;
}
#MB_frame #MB_caption{ padding-left: 40px;}
.label-field-pair label{
    font-weight: normal;
    font-size: 13px;
    min-width: 100px;
    width: auto;
    max-width: 200px;
}