hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: left;
}
h3 {
    font-size: 16px;
    color: #444;
    font-weight: bold;
    width: 100%;
    float: left;
}
.label-field-pair label, .label-radio-pair label {
    font-weight: normal;
    font-size: 13px;
    width: 130px;
}
.fields-details {
    float: left;
    width: 100%;
    font-weight: normal;
    font-size: 13px;
    color: #444;
    margin: 3px 0;
}
.field-label {
    float: left;
    min-width: 100px;
    color: #8C8C8C;
}
.fields-val {
    float: left;
    max-width: 700px;
    margin-left: 20px;
}
div#name{ width: 100% }
div#payroll_details
{
    float: left;
    width: 100%;
}
div#payroll_form
{
    float: left;
    width: 100%;
}
label[for="gross_pay"]{
    text-align: left;
    width: 80px;
}
.earnings, .deductions
{
    padding-top: 10px;
    float: left;
    width: 600px;
}
.earnings{ padding-bottom: 20px; }
div.div-button
{
    float: left;
    font-size: 13px;
    margin-top: 6px;
    margin-left: 20px;
    color: #303030;
    border: 1px solid #ccc;
    background-color: #EEE;
    padding: 5px;
}
div#calculate
{
    margin: 4px 0 0 20px;
}
div.new_category
{
    color: white;

    background-color: #666;
    border-color: #666;
}
.description {
    font-size: 13px;
    float: left;
    padding-top: 10px;
    color: #A5A5A5;
    margin-bottom: 20px;
    width: 100%;
}
.label-field-pair .total,.section .gross
{
    font-size: 13px;
    font-weight: bold;
    margin: 10px 3px 0 10px;
    float: left;
    color: #444;
    text-align: right;
    min-width: 105px;
}
div#net_pay
{
    border: 1px solid #ccc;
    background-color: #ECECEC;
    width: 275px;
    float: left;
    margin-right: 350px;
    max-height: none !important;
}
div#net_pay label {
    margin-left: 5px;
}
div#net_pay .total, div#net_pay .gross {
    margin-left: 5px;
}
div#net_pay .section{
    float: left;
    margin-bottom: 15px;
}
div.sub-head
{
    font-size: 13px;
    font-weight: bold;
    color: #444;
}
span.currency-type
{
    font-size: 13px;
    color: #444;
    float: left;
    margin: 10px 20px 0  0;
}
.section span.currency-type{margin-right: 0px}
.submit-button
{
    margin: 20px 20px 0 0;
    font-size: 13px;
}
a#cancel-link,#page-yield a#cancel-link:hover{
    text-decoration: none;
    color: #fff !important;
}
.text-input-bg
{
    width: 115px;
    margin-left: 10px;
    height: auto;
}
.text-input-bg input
{
    width: 100px;
    text-align: right;
}
#old-structure {
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    width: 320px;
    float: right;
    color: #444;
    margin-bottom: 10px;
    padding: 15px;
}
#old-structure #heading {
    font-weight: bold;
    padding-bottom: 15px;
}
td{
    padding: 10px;
}
#old-structure .components
{
    padding: 10px 0;

    float: left;
    width: 100%;
}
#old-structure .name
{
    width: 50%;
    float: left;
}
#old-structure .amount
{
    width: 30%;
    float: left;
    text-align: right;
}
#old-structure .total
{
    padding-top: 15px;
    border-bottom: 1px solid #ccc;
}
.sub_heading{
    font-weight: bold;
    font-size: 11px;
    padding: 10px 0;
    float: left;
}
#ignore-and-apply
{
    background: #EDEDED url(/images/_global/error.png) no-repeat 15px 26px;
    font-size: 13px;
    color: #444;
    padding: 20px 20px 20px 55px;
    border: 1px solid #DBDBDB;
    float: left;
    width: 92%;
    margin-bottom: 20px;
}
#ignore-and-apply p
{
    margin: 0;
    line-height: 20px;
}
.error-icon {
    width:15px;
    height:12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-right:2px;
    float:left;
}
.error-msg{
    float:left;
    color: red;
    font-size: 13px;
    font-style: italic;
    width:250px;
}

.label-field-pair {
    min-height: 40px;
    max-height: 80px;
    height: auto;
    float: left;
}
.wrapper{
    margin-top: 5px;
    float: left;
    min-width: 400px;
}
#net_pay_warning{
    margin-left: 0 ;
    width: 600px;
}
div#salary_exceeds
{
    float: left;
    width: 100%;
    margin-left: 140px;
}
#search-form .submit-button{
    margin: 5px 0 0 0;
}
.payroll_groups {
    width: 400px;
    margin-bottom: 12px;
}
div.div_link {
    float: left;
    font-size: 13px;
    margin: 9px 0 0 10px;
    cursor: pointer;
}
#search_details {
    float: left;
}
#search_details .label-field-pair {
    width: 280px;
}
#payroll_warn {
    margin-left: 130px;
    display: none;
}
.payroll_groups .text-input-bg {
    margin-left: 0px;
}
.label-field-pair select, .label-field-pair input {
    margin-left: 0px;
}
#live-val{ min-height: 15px}
#gross_details .text-input-bg{
    width: 200px;
}
#gross_details{ min-height : 54px}
#loader{ margin: 10px; }
#cat_desc{width:70%}
.refresh-icon{
    height: 15px;
    min-width: 15px;
    float: left;
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position: -122px -382px;
}
.refresh-icon:hover{
    background-position: -142px -382px;
}
.refresh-div{
    float: left;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #EEE;
    -webkit-border-radius: 8px;
    margin: 5px 0px 0px 0px;
    display: none;
    cursor: pointer;
}
.dependency_field{
    background-color: #ffffcc !important;
    border: 1px solid #9e0f15 !important;
}
#loader1{
    margin: 10px 0 0 10px;
    float: left;
}