h4{
    color: #444;
}

.description {
    color: #A5A5A5;
    width: 100%;
    color: #666;
    width: 100%;
    margin-bottom: 30px;
    font-size: 13px;
}
.label_description{
    font-size: 13px;
    color: grey;
    margin: 10px 0px 30px 23px;
}

.label-radio-pair label{
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
}

.label-radio-pair input{
    margin-left: 0px;
    padding:0px;
    float:left;
}

#submit_button{
    margin-left:0px;
    font-size: 13px;
    margin-top: 30px;
}
input[type="radio"]:checked + label {
    font-weight: bold;
}
.examples{
    margin: 10px 0 0 0 !important;
    text-decoration: underline;
    cursor: pointer;
}
#gross_mode_example, #custom_mode_example{ display: none; }
#popup_content #gross_mode_example, #popup_content #custom_mode_example{ display: block; }
#popup_window
{
    width: 690px;
    top: 40px;
    left: 298px;
    float: left;
}
#popup_frame .part{ width: 610px;}
#popup_content{
    font-size: 13px;
    max-height: 600px;
}
#popup_content .info{
    margin-top: 20px;
    float: left;
    width: 100%;
}
#popup_content table {
    border: 1px solid #bfbfbf;
    border-right: 0;
    border-collapse: collapse;
    font-size: 13px;
    margin-top: 20px;
}
#popup_content table .tr-head {
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
}
#popup_content td {
    padding: 10px;
    border-right: 1px solid #bfbfbf;
}
tr {
    border-bottom: 1px solid #bfbfbf;
}
#popup_content td.name{ width: 35% }
#popup_content td.code{ width: 10% }
#popup_content td.formula{ width: 25% }
#popup_content td.value{ width: 30% }
#popup_content :last-child{ margin-bottom: 20px;}
#popup_frame ::-webkit-scrollbar {
    width: 12px;
    height: 10px;
    border: 0px;
}
#popup_frame ::-webkit-scrollbar-track {
    background-color: #eaeaea;
}
#popup_frame ::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
#popup_frame ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

#popup_frame ::-webkit-scrollbar {
    width: 10px;
}

#popup_frame ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#popup_frame ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#settings_enable{
    float: left;
    width: 50%
}
#custom_example_img, #gross_example_img{ float: left; }
#custom_example_img{ margin-top: 103px;}