<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('scheduled_jobs_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('listing_scheduled_jobs') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% if @job_type=="Batch/1" %>
      <% breadcrumb :current_schedule_jobs %>
    <% end %>
    <% if @job_type=="Batch/2" %>
      <% breadcrumb :previous_schedule_jobs %>
    <% end %>
    <% if @job_type=="Batch/4" %>
      <% breadcrumb :icse_report_schedule_jobs %>
    <% end %>
    <% if @job_type=="CceReportGenerator/1" %>
      <% breadcrumb :cce_report_schedule_jobs %>
    <% end %>
    <% if @job_type=="FinanceFeeCollection/1" %>
      <% breadcrumb :fee_collection_schedule_jobs %>
    <% end %>
    <% if @job_type=="Import/1" %>
      <% breadcrumb :exports_schedule_jobs %>
    <% end %>
    <% if @job_type=="DataExport/1" %>
      <% breadcrumb :data_exports_schedule_jobs %>
    <% end %>
    <% if @job_type=="TallyManualSyncJob/1" %>
      <% breadcrumb :tally_exports_manual_sync_schedule_jobs%>
    <% end %>
    <% if @job_type=="TallyBulkExportJob/1" %>
      <% breadcrumb :tally_exports_schedule_schedule_jobs%>
    <% end %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="box">
    <% job_name = "All" %>
    <% if @job_type.present? %>
      <% job_name = @job_type %>
      <% job_name = "Batch - Generate Reports" if @job_type=="Batch/1" %>
      <% job_name = "Batch - Generate Previous Reports" if @job_type=="Batch/2" %>
      <% job_name = "Batch - Generate CCE Reports" if @job_type=="CceReportGenerator/1" %>
      <% job_name = "Batch - Generate ICSE Reports" if @job_type=="Batch/4" %>
      <% job_name = "Hostel - Generate Fee Collection" if @job_type=="HostelFeeCollection/1" %>
      <% job_name = "Transport - Generate Fee Collection" if @job_type=="TransportFeeCollection/2" %>
    <% end %>
    <h4><%= t('scheduled_job_for') %> : <%= job_name %></h4>
    <% unless @jobs.empty? %>
      <div id="score-table">
        <table id="listing" width="100%" cellpadding="1" cellspacing="1">
          <tr class="tr-head">
            <td>Sl No.</td>
            <td>Job Object</td>
            <td>Job Type</td>
            <td>Status</td>
          </tr>
          <% @jobs.each_with_index do |job,i| %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-1"><%= i+1 %></td>
              <td class="col-3"><%= obj = job.payload_object.class.name %></td>
              <%type=""%>
              <% type = job.payload_object.job_type if job.payload_object.respond_to?("job_type")%>
              <% j_type = "#{obj}/#{type}" %>
              <% if j_type=="Batch/1" %>
                <td class="col-3">Generate Reports</td>
              <% elsif j_type=="Batch/2" %>
                <td class="col-3">Generate Previous Reports</td>
              <% elsif j_type=="Batch/4" %>
                <td class="col-3">Generate ICSE Reports</td>
              <% elsif j_type=="CceReportGenerator/1" %>
                <td class="col-3">Generate CCE Reports</td>
              <% elsif job.payload_object.class.name=="DelayedFeeCollectionJob" %>
                <td class="col-3">Fee Collection</td>
              <% elsif job.payload_object.class.name=="DelayedHostelFeeCollectionJob" %>
                <td class="col-3">Hostel Fee Collection</td>
              <% elsif job.payload_object.class.name=="DelayedTransportFeeCollectionJob" %>
                <td class="col-3">Transport Fee Collection</td>
              <%else%>
                <td class="col-3"> - </td>
              <% end %>
              <% if !job.failed_at.nil? %>
                <td class="col-3">Failed</td>
              <% elsif !job.locked_by.nil? %>
                <td class="col-3">Running</td>
              <% else %>
                <td class="col-3">In Queue</td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
    <% else %>
      <p class="flash-msg"><%= t('no_scheduled_jobs') %></p>
    <% end %>
    <% if @job_type.present? %>
      <% if params[:job_type].present? %>
        <% last_completion_time_record = Configuration.find_by_config_key("job/#{@job_type}") %>
        <% if last_completion_time_record.present? %>
          <% last_completion_time = Time.parse(last_completion_time_record.config_value) %>
        <% end %>
      <% else %>
        <% last_completion_time = Configuration.find(:all, :conditions=>["config_key like ?","job/#{params[:job_object]}%"]).map{|t| Time.parse(t.config_value)}.sort.last %>
      <% end %>
    <% else %>
      <% last_completion_time = Configuration.find(:all, :conditions=>["config_key like ?","job/%"]).map{|t| Time.parse(t.config_value)}.sort.last %>
    <% end %>
    <h5><%= t('last_successfull_completion_time') %> : <%= last_completion_time.present? ? format_date(FedenaTimeSet.current_time_to_local_time(last_completion_time),:format=>:long) : "-" %></h5>
    <div class="extender"></div>
  </div>
</div>
