<div class="label-field-pair">
  <label for="category_name"><%= t('payslip_generation_date') %></label>
  <div class="text-input-bg">
    <% if @payslip_gen.class == Array %>
      <%= select_tag "payroll_group[generation_day]", options_for_select(@payslip_gen,generation_day), {:prompt => t('select_day')} %>
    <% else %>
      <select name="payroll_group[generation_day]" id="generation_day">
        <option value=0><%=  t('select_day') %></option>
        <% @payslip_gen.each do |gen| %>
          <optgroup label='<%=t(gen.first)%>'>
            <%gen.last.each do |day|%>
              <option id='<%= day.first %>' value='<%= day.first %>'><%= day.last %></option>
            <%end%>
          </optgroup>
        <%end%>
      </select>
    <% end %>
  </div>
</div>

<script>
  j("#payment_periods").show();
  j('optgroup').find('option#' + '<%= generation_day %>').attr({selected: '<%= generation_day %>'})
  function show_period_option(){
    if(j("#payroll_group_payment_period").val() == "1"){
      j("#payment_periods").hide();
    }else{
      j("#payment_periods").show();
    }
  }
</script>