
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('employee_management_text')}" %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('working_day_settings') %></div>
</div>

<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <h3><%= t('no_of_working_days') %></h3>
  <div class="description"><%= t('working_day_settings_desc') %></div>
  <% form_for 'salary_working_days', :url => {:action => "update_working_day_settings"} do |f| %>
    <% @salary_working_days.each_with_index do |day,index| %>
      <div class="label-field-pair">
        <label for="period_type"><%= t(@payment_periods[day.payment_period]) %></label>
        <div class="text-input-bg">
          <%= text_field_tag "salary_working_days[#{index}]working_days", day.working_days %>
          <%= hidden_field_tag "salary_working_days[#{index}]payment_period", day.payment_period %>
        </div>
        <span class="days_text"><%= t('days') %></span>
      </div>
      <% if @errors.present? and @errors[day.payment_period].present? %>
        <div class="wrapper" id="salary_exceeds" style="">
          <div class="error-icon"></div><div class="error-msg"><%= @errors[day.payment_period].join(', ') %></div>
        </div>
      <% end %>
    <% end %>
    <hr/>
    <%= submit_tag "#{t('save_changes')}", :disable_with => "#{t('please_wait')}", :class => "submit-button" %>
  <% end %>
</div>

