.detail_box{
    width:100%;
    float:right;
}
td.slno{
    min-width: 50px;
    height: 30px;
    text-align: center;
    border-right: 0px;
}
td.maxwidth{
    min-width: 170px;
    height: 30px;
}
td.destwidth{
    min-width: 120px;
    height: 30px;
    text-align: center;
}
td.minwidth{
    min-width: 70px;
    height: 30px;
    text-align: center;
}
td.option{
    min-width: 100px;
    height: 30px;
    text-align: center;
}
th.slno{
    min-width: 50px;
    height: 30px;
    text-align: center;
}
th.maxwidth{
    min-width: 170px;
    height: 30px;
    font-weight: bold;
}
th.destwidth{
    min-width: 120px;
    height: 30px;
    text-align: center;
     font-weight: bold;
}
th.minwidth{
    min-width: 70px;
    height: 30px;
    text-align: center;
     font-weight: bold;
}
th.option{
    min-width: 100px;
    height: 30px;
    text-align: center;
     font-weight: bold;
}
.title_text{
    font-weight: normal;
     float: right;
    vertical-align:top;
}
.value_text{
    float: right;
    vertical-align:top;
    margin:0px 10px 0px 0px;
    font-weight: bold;
}
.div_left{
      font-size: 0.85em;
    font-weight: normal;
    height: auto;
    width: 50%;
    vertical-align: top;
    float: right;
    margin: 10px 0px 20px 0px;
   
}
.div_right{
     font-size: 0.85em;
    height: auto;
    width: 50%;
    margin: 10px 0px 20px 0px;
    vertical-align: top;
    float: left;
}
#listing{
    background: #ffffff !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    padding: 0px 0px 0px !important; 
}
#listing a{
    text-decoration: underline !important;
}
.colon_class{
    float: right;
    vertical-align:top;
    margin: 0px 5px 0px 5px;
}
ul.top_buttons{
    margin-top: 30px !important;
}
.radio_button{
    font-size: 0.85em;
    font-weight: bold;
    vertical-align: top;
    float: right;
    width: auto;
    margin: 10px 0px 10px 0px;
    min-height: 20px;
  
}
.radio_text{
    margin-left: 20px;
    vertical-align: top;
    float: right;
    width: auto;
   margin-top: 4px;
}
.passenger_list{
    float: right;
    width: 100%;
}
