<%#
# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.
%>

<ul>
    <li class='themed_bg themed-dark-hover-background'><%= link_to_function  "#{t('print')}", "show_print_dialog(#{@tc_data.student.id})"%></li>
    <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('download')}", {:action => "transfer_certificate_download_pdf", :id => @tc_data.student.id },:target => '_blank'%></li>
    <% if can_access_request? :destroy, :tc_template_generate_certificates %>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('delete')}", {:action => "destroy", :id=>@tc_data.student.id },:method=>:delete, :confirm => "#{t('delete_confirm_msg')}"%></li>
    <% end %>
</ul>