<%#
# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.
%>
<table>
    <tr>
        <td class="tc_field_values_edit inner">
            <div class="tc_field_value_edit inner"><%= text_field_tag "generate_report[record_data][#{@id}][value_2]", @txt %></div>
        </td>
    </tr>
</table>