table#report_table{
    background: #dcdcdc;
}
table#report_table tr.tr-head{
    color:#fff!important;
    font-weight:bold;
    text-align:right;
    font-size: 14px;
}
table#report_table .tr-head td{
    padding:5px;
    padding-right:10px;

}
table#report_table .tr-odd{
    background: #efefef;
    text-align:right;
    padding:50px;
    /*font-weight:700;*/
    font-size:13px;
    color: #333333;
}
table#report_table .tr-even{
    background: #f8f8f8;
    text-align:right;
    padding:50px;
    color:#27292b;
    /*font-weight:700;*/
    font-size:13px;
}
.parent-style{
    font-weight:700;
    vertical-align: top;
}
table#report_table .tr-read-odd{
    background: #fff;
    text-align:right;
    padding:50px;
    color:#27292b;
    font-weight:normal;
    font-size:14px;
}
table#report_table .tr-read-even{
    background: #f1f6ff;
    text-align:right;
    padding:50px;
    color:#27292b;
    font-weight:normal;
    font-size:14px;
}
table#report_table td.col-1{
    width:10%;
    padding: 5px;
    padding-right:10px;
}
table#report_table td.col-2{
    width: 13%;
    text-align:right;
    padding: 5px;
    padding-right:10px;
    word-break: break-word;
}
table#report_table td a{
    text-decoration:none;
    color:#27292b;
}
table#report_table td a:hover{
    color:#990a10;
    text-decoration:underline;
}
table#report_table td.col-3{
    width: 13%;
    padding: 5px;
    padding-right:10px;
    word-break: break-word;
}
table#report_table td.col-4{
    width: auto;
    text-align:right;
    padding: 5px;
    padding-right:10px;
    word-break: break-word;
}
table#report_table td.col-14{
    width: auto;
    text-align:right;
    padding: 5px;
    padding-right:10px;
    word-break: break-word;
    font-size: 12px;
    font-weight: bold;
}
table#report_table td.col-5{
    width: 3%;
    text-align:right;
    padding: 5px;
    padding-right:10px;
    word-break: break-word;
}
table#report_table td.col-6{
    width: 8%;
    text-align:right;
    padding: 5px;
    padding-right:10px;
    word-break: break-word;
}

table#report_table td.col-7{
    width:20%;
    text-align:right;
    padding: 5px;
    padding-right:10px;
    word-break: break-word;
}
.pagination_list{
    width:100%;
    height:25px;
    border:1px solid #CCCCCC;
    margin-top:30px;
    background:#efefef
}
.pagination {
    float: left;
    position: relative;
    margin-top: 2px;
    margin-left: 15px;
}
.pagination a.prev_page,.pagination a.next_page{
    color:#27292b;
    font-weight:bold;
    text-transform: none;
    background: none;
    text-decoration:none;
    border:none;
    font-size: 13px;
}
.pagination .disabled {
    color: #27292b;
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
    background: none;
    text-decoration: none;
    border: none;
}
.pagination_text{
    float:right;
    margin-right: 600px;
    font-size: 13px;
    color:#333333;
    margin-top: 5px;
}
#page-yield {
    /*    margin-right: 10px;*/
    margin-top: 5px;
}
.submit-button {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #27292B;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 0 210px 0 0;
    padding: 7px;
    float: right;
    cursor: pointer;
    float: left;
    margin-bottom: 22px;
    /*    margin-right: 12px;*/
    padding-right: 13px;
    padding-left: 10px;
    text-decoration: none !important;
}
.submit-button a {
    text-decoration: none;
    color:#fff;
    font-size: 14px;
}
.submit-button a:hover{
    color:#fff !important
}
table#report_table tr.tr-head a{
    color:#fff !important;
}
table#report_table tr.tr-head a:hover{
    color:#fff !important;
    text-decoration: none;

}
.batch_order:hover{
    background: rgba(0, 0, 0, .2)
}
.batch_order_select{
    background: rgba(0, 0, 0, .2)
}
.field_pair{
    width: 457px;
    font-size: 14px;
    color: #444;
    padding: 10px;
    height: 8px;
}
.label1{
    float:right;
    width:150px
}
.label2{
    float:right;
    word-break: break-all;
    font-weight: bold;
}
#information{
    margin-top: 10px;}
.info{
    float:right;
    margin-bottom: 30px;
}
.p_name{
    float:right;
    width: 269px;
    word-break: break-all;
}
.p_amount{
    float:left;
    width: 88px;
    text-align: left;
    word-break: break-all;
}
.p_details{
    width: 360px;
    height: auto;
    height: 2px;
    margin-bottom: 2px;
}
.fontstyle{
    font-weight:normal!important;
}


.info{
    float:right;
    margin-bottom: 7px;
}
.label-field-pair label {
    width: 145px;
}
.text-input-bg {
    width: 220px;
}
.text-input-bg select {
    width: 175px;
}
.label-field-pair {
    width: 440px;
    margin-right: 10px;
}
.filter{
    float: right;
    margin-top: 12px;
}
.head-2{
    float:right;
}
.fee_category_scroll {
    -moz-background-inline-policy: continuous;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-background-inline-policy: continuous;
    -webkit-border-radius: 10px 10px 10px 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 129px;
    margin-top: -30px;
    max-height: 150px;
    overflow: auto;
    padding: 7px;
    width: 264px;
}
.each_batch {
    font-size: 12px;
}
.each_batch {
    border-bottom: 1px solid #DDDDDD;
    font-size: 12px;
    overflow: auto;
    width: 244px;
    word-break: break-all;
}
.filter{
    max-width:450px;
    float: right;
}
.filter_batch{
    max-width:450px;
    float:right;
    margin-top: 10px;
}
.submit_button {
    margin-top: 40px;
    margin-right: 167px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
    text-decoration:none;
}
.hor_line{
    width:100%;
    height:1px;
    background-color:#333333
}
.sel-list {
    font-size: 14px;
    width: 180px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-right: 5px;
}
.bread_crumb{
    margin-top: 15px;
}
td.amounts,.col-3 {
    min-width: 80px;
    max-width: 100px;
}
td.fee_name,.col-4 {
    min-width: 100px;
    max-width: 180px;
}
td.name,.col-2 {
    min-width: 110px;
    max-width: 150px;
}
td.s_no,.col-5{
    word-break: normal;
}