/*Header*/
#group_details{
    float: left;
    width: 75%;
    margin-bottom: 20px;
}
#group_status{
    float: left;
    width: 25%;
    margin-bottom: 20px;
}
.fields-details {
    float: left;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    color: #444;
    margin: 10px 0;
}
.field-label {
    float: left;
    max-width: 200px;
    color: #8C8C8C;
}
.fields-val {
    float: left;
    max-width: 600px;
    margin-left: 10px;
}
#group_name{ font-size: 16px;}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: left;
}
.add-link, #page-yield .add-link:hover {
    color: black !important;
    font-size: 13px;
    margin-left: 20px;
}
#header{
    font-weight: bold;
    font-size: 16px;
    margin-top: 30px;
    color: #444;
    float: left;
    width: 100%;
}
#description{
    color: grey;
    font-size: 13px;
    margin: 20px 0px 20px 0px;
    width: 75%;
    float: left;
}
#filters{float: left;width: 100%;}
.dept_name, .emp_name{
    float: left;
    width: 250px;
    height: auto;
}
.dept_name label, .emp_name label{
    font-weight: normal;
    font-size: 13px;
}
.dept_name select, .emp_name input{
    margin: 10px 0 0 0;
}
.dept_name select{
    padding: 5px 6px;
    height: 29px;
}
.dept_name .text-input-bg, .emp_name .text-input-bg{height:auto}
.emp_name{
    float: right;
    width: 217px;
}
#loader1{
    float: right;
    margin-top: 44px;
    margin-right: 5px;
}
#employees_form{
    width: 100%;
    float: left;
    display: none;
}

#popup_content ::-webkit-scrollbar {
    width: 12px;
    height: 10px;
    border: 0px;
}
#employees_form ::-webkit-scrollbar-track {
    background-color: #eaeaea;
}
#employees_form ::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
#employees_form ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

#employees_form ::-webkit-scrollbar {
    width: 10px;
}

#employees_form ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#employees_form ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#status{
    float: left;
    font-size: 13px;
    color: grey;
    margin-top: 7px;
}
#add_emp_footer{float: right;width: 50%;}
#add_emp_footer .submit-button{
    margin: 0px 0px 0px 20px !important;
    text-decoration: none;
    font-size: 13px;
    float: right;
}
#page-yield #add_emp_footer .submit-button:hover{ color: white !important}
#advanced_search{
    color: black;
    font-size: 13px;
    margin-top: 44px;
    float: left;
}

/*advanced search*/
#popup_window.search-form
{
    width: 690px;
    top: 40px;
    float: left;
}
.search-form #popup_frame .part {
    width: 610px;
}
.search-form #popup_content #description{ margin-top : 0px}
.search-form #popup_content{ overflow : visible;}
.search-form #popup_content .label-field-pair{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.search-form #popup_content .label-field-pair label {
    width: 150px;
}
.search-form #popup_content{
    padding-left: 0px !important ;
    padding-right: 0px !important;
}
.search-form #popup_footer{
    padding-left: 40px;
    padding-right: 40px;
    border-top: 1px solid #c6c6c6;
    float: left;
    width: 610px;
    padding-top: 20px;
}
#advanced_search_form{
    float: left;
    padding-left: 40px;
    padding-right: 40px;
}
.search-form #popup_content{
    width: 690px !important;
}
#advanced_search_form .ms-parent{
    margin-top: 5px;
    width: 250px !important;
}
.ms-choice{ height: 29px !important;}
.ms-choice > span{
    top: 1.5px !important;
}
.ms-drop {
    border: 1px solid #678791 !important;
    -webkit-border-radius: 0px !important;
}
.ms-drop ul li label{
    color: #000;
    width: auto !important;
}
.ms-drop
{
    overflow-y: hidden !important;
}
.ms-select-all
{
    width:170px;
}
.ms-drop ul li
{
    width: 170px;
    float: left;
}
.ms-drop ul li input
{
    margin: 0 5px 0 0 !important;
}
li.ms-no-results{ font-size: 13px;}
.label-field-pair input[type=checkbox], .label-field-pair input[type=radio] {
    height: 13px !important;
    width: 14px !important;
    margin-top: 12px;
    float: left;
}
.radio_button input[type=radio]{
    margin-left: 0px
}
.radio_button label{
    margin-left: 5px;
    width: auto !important;
    max-width: 80px !important;
}
.text-input-bg{width: 400px;}
.radio_button{
    width: 100px;
    float: left;
}
#filter_result{
    float: left;
    width: 95.7%;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    padding: 20px;
}
#filter_result #search_result{
    float: left;
    font-size: 13px;
    margin-top: 2px;
}
#filter_result .fields-details{
    font-size: 13px;
    width: 50%
}
#filter_result .fields-details .fields-val{ max-width: 300px}
.filters_sec{ 
    float: left;
    width: 100%
}
#search_status{
    float: left;
    width: 100%;
}
.substitute{
    padding: 100px 0 300px;
    background-color: #f4f4f4;
    text-align: center;
    border: 1px solid #bfbfbf;
    float: left;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    width: 100%;
}
#loading{ margin-top: 30px; }
#loading #loader{
    margin-bottom: 5px;
}
.substitute span{
    width: 100%;
    float: left;
}
.confirmation p{
    text-align: center !important;
}
.confirmation #status{font-weight: bold;color: #444;}
.confirmation span.symbol{
    margin-left: 190px;
}
.confirmation #warning{ color: #8E8E8E;}
.symbol {
    height: 17px;
    width: 20px;
    background: url(/images/iconsprite-1.png) no-repeat center;
    margin-left: 15px;
    float: left;
}
.tick{
    background-position: 0px -360px;
}
/*Table*/
#employee_list{float: left; width: 100%;}
.employees_table {
    position: relative;
    border: 1px solid #bfbfbf;
    padding-top: 35px;
    background: #e8e8e8;
    float: left;
    font-size: 13px;
    width: 100%;
    margin: 30px 0 20px 0;
}
.employees_table.positioned {
    position: absolute;
    top:100px;
    left:100px;
    width:800px;
    box-shadow: 0 0 15px #333;
}
.container {
    overflow-y: auto;
    max-height: 600px;
}
table {
    border-spacing: 0;
    width:100%;
}
td + td {
    border-left: 1px solid #bfbfbf;
}
td, th {
    border-bottom: 1px solid #bfbfbf;
    background: white;
    color: #000;
    padding: 10px;
}
th {
    height: 0;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: transparent;
    border: none;
    white-space: nowrap;
    border-bottom: 1px solid #bfbfbf;
}
th div, th input{
    position: absolute;
    background: transparent;
    color: black;
    padding: 10px;
    top: 1px;
    margin-left: -10px;
    line-height: normal;
    border-left: 1px solid #bfbfbf;
}
th:first-child div{
    border: none;
}
th.check_all, td.check_all{width: 2%;min-width: 20px;}
th.name, td.name{width: 40%;}
th.department, td.department{width: 20%;}
th.position, td.position{width: 20%;}
th.grade, td.grade{width: 15%;}
.select_all{
    left: 25px;
    top: 8px;
}
tbody  tr:last-child td {border-bottom: 0;}
.wrapper {
    margin-top: 5px;
    margin-left: 23px !important;
    float: left;
    min-width: 192px;
}
.error-icon {
    width: 15px;
    height: 12px;
    background: url(/images/iconsprite-1.png);
    background-position: -42px -344px;
    margin-right: 2px;
    float: left;
    margin-top: 1px;
}
.error-msg {
    float: left;
    color: red;
    font-size: 13px;
    font-style: italic;
    width: 225px;
}
.tooltip_info{ width: 200px}