/*Header*/
#group_details{
    float: left;
    width: 75%;
    margin-bottom: 20px;
}
#group_status{
    float: left;
    width: 25%;
    margin-bottom: 20px;
}
.fields-details {
    float: left;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    color: #444;
    margin: 10px 0;
}
.field-label {
    float: left;
    max-width: 200px;
    min-width: 100px;
    color: #8C8C8C; 
}
.fields-val {
    float: left;
    max-width: 600px;
    margin-left: 10px;
}
#group_name{ font-size: 16px;}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: left;
}
.add-link, #page-yield .add-link:hover {
    color: black !important;
    font-size: 13px;
    margin-left: 20px;
}
#description {
    color: grey;
    font-size: 13px;
    margin: 20px 0px 20px 0px;
}

/*Popup box style*/
#popup_window
{
    width: 690px;
    top: 40px;
    float: left;
}
.remove_lt{ width: 480px !important;}
#popup_frame .part {
    width: 610px;
}
.remove_lt .part{ width: 400px !important;}
#popup_content #description{ margin-top : 0px}
#popup_content .label-field-pair{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
#popup_content .label-field-pair label { 
    width: 100%; 
    margin-bottom: 10px;
}
#popup_content .text-input-bg input{
    margin-left: 0;
    -webkit-border-radius: 0;
    width: 400px;
}
#popup_content .text-input-bg textarea{
    resize: none;
    -webkit-border-radius: 0;
    width: 400px;
    height: 60px;
}
#popup_content{
    padding-left: 0px !important ;
    padding-right: 0px !important;
}
.remove_lt #popup_content{
    padding: 20px 40px !important;
    width: 400px !important;
    border-bottom: 0px;
}
#popup_footer{
    padding-left: 40px;
    padding-right: 40px;
    border-top: 1px solid #c6c6c6;
    float: left;
    width: 610px;
    padding-top: 20px;
}
#leave_group_form{
    float: left;
    padding-left: 40px;
    padding-right: 40px;
}
#popup_content{width: 690px !important;}
.fieldWithErrors textarea{border: 1px solid #9c0000 !important;}
.wrapper {
    margin-top: 5px;
    margin-left: 0 !important;
}

/*Content*/
#left, #right{
    width: 450px;
    float: left;
    margin-top: 30px;
}
#right{
    margin-left: 80px;
}
#header{
    font-weight: bold;
    font-size: 16px;
    color: #444;
}
#left #header, #right #header{
    width: 50%;
    float: left
}
#left table, #right table{
    margin-top: 20px;
}
#left table a, #left table a:hover, #right table a, #right table a:hover{
    color: black !important;
    text-decoration: none;
}
td.type_name{width: 23%;}
td.type_count{width: 10%;}
td.action{width: 13%;}

#left .add-link, #right .add-link{float: right;text-decoration: none;}
.blank-div{
    float: left;
    width: 248px;
    height: 50px;
    border: 1px solid #ccc;
    color: #444;
    font-size: 13px;
    background: #f0f0f0;
    padding: 175px 100px;
    text-align: center;
    margin-top: 20px;
}
table {
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    overflow: auto;
    max-height: 400px;
    display: block;
    margin-bottom: 20px;
    float: left;
    border-collapse: collapse;
    /* border-bottom: 0px; */
}
#page-yield table .tr-head {
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
}
 tr{
    border-bottom: 1px solid #bfbfbf;
}
tr:last-child{ border: 0px;}
 td {
    padding: 10px;
    border-right: 1px solid #bfbfbf;
}
td.check_all{width: 5%;}
td.lev_name{width: 60%;}
td.lev_count{width: 35%;}
td.lev_count input.leave_count{width: 70px;}
td.lev_count .fieldWithErrors{ float: left}
td.lev_count .wrapper{min-width: 15px !important;margin: 3px 0 0 10px;}
td.lev_count .error-icon{ margin-left: 10px}
#popup_content ::-webkit-scrollbar, #left ::-webkit-scrollbar, #right ::-webkit-scrollbar {
    width: 12px;
    height: 10px;
    border: 0px;
}
#popup_content ::-webkit-scrollbar-track, #left ::-webkit-scrollbar-track, #right ::-webkit-scrollbar-track {
    background-color: #eaeaea;
}
#popup_content ::-webkit-scrollbar-thumb, #left ::-webkit-scrollbar-thumb, #right ::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
#popup_content ::-webkit-scrollbar-thumb:hover, #left ::-webkit-scrollbar-thumb:hover, #right ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

#popup_content ::-webkit-scrollbar, #left ::-webkit-scrollbar, #right ::-webkit-scrollbar {
    width: 10px;
}

#popup_content ::-webkit-scrollbar-track, #left ::-webkit-scrollbar-track, #right ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#popup_content ::-webkit-scrollbar-thumb, #left ::-webkit-scrollbar-thumb, #right ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}