h3 {
    font-size: 16px;
    color: #444;
}
.description {
    font-size: 13px;
    float: right;
    padding-top: 10px;
    color: #A5A5A5;
    width: 100%;
    margin: 0px 0px 30px 0px;
}
.label-field-pair {
    width: 220px;
    float: right;
    height: auto;
}
.label-field-pair label {
    font-weight: normal;
    width: inherit;
    font-size: 13px;
}
.text-input-bg {
    height: auto;
    width: auto;
}
.text-input-bg select{
    height: 29px;
    margin: 14px 0 0 3px;
    width: 185px;
}
.ms-choice{ height: 29px !important;}
.ms-choice > span{
    top: 1.5px !important;
}
.ms-drop {
    border: 1px solid #678791 !important;
    -webkit-border-radius: 0px !important;
}
.ms-drop ul li label{
    color: #000;
    width: auto !important;
}
.label-field-pair input[type=checkbox], .label-field-pair input[type=radio]{
    height: 13px !important;
    width: 14px !important;
    margin-top: 12px;
    float: right;
}
.ms-drop
{
    overflow-y: hidden !important;
}
.ms-select-all
{
    width:170px;
}
.ms-drop ul li
{
    width: 170px;
    float: right;
}
.ms-drop ul li input
{
    margin: 0 0 0 5px !important;
}
.or_section{
    float: right;
    font-size: 13px;
    margin: 48px 0px 0 35px;
}
li.ms-no-results{ font-size: 13px;}
.submit-button{ margin: 42px 10px 0 0;font-size: 13px;}
.label-field-pair input{ height: 17px !important;margin: 16px 0 0 0;}
.input_section{
    float: right;
    width: 100%;
}
#popup_window{ width: 700px}
#popup_frame .part{ width: 620px;}
#popup_content{
    overflow-y: auto;
    max-height: 600px;
}
#popup_frame ::-webkit-scrollbar, .report_section ::-webkit-scrollbar{
    width: 12px;
    height: 10px;
    border: 0px;
}
#popup_frame ::-webkit-scrollbar-track, .report_section ::-webkit-scrollbar-track {
    background-color: #eaeaea;
}
#popup_frame ::-webkit-scrollbar-thumb, .report_section ::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
#popup_frame ::-webkit-scrollbar-thumb:hover, .report_sectio ::-webkit-scrollbar-thumb:hovern {
    background-color: #aaa;
}

#popup_frame ::-webkit-scrollbar, .report_section ::-webkit-scrollbar {
    width: 10px;
}

#popup_frame ::-webkit-scrollbar-track, .report_section ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#popup_frame ::-webkit-scrollbar-thumb, .report_section ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#columns_list, #columns_form_footer{ display: none;}
#popup_content #columns_list, #popup_footer #columns_form_footer{ display: block;}
#columns_list .sections{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    float: right;
    width: 600px;
}
#columns_list .sections:last-child{margin-bottom: 0px;}
#columns_list .section_header{
    font-weight: bold;
    font-size: 13px;
}
.sections .description{
    margin-bottom: 0px;
}
.sections .fields{
    float: right;
    width: 100%;
    margin: 10px 0;
}
.sections label{
    font-size: 13px;
    color: #000;
    float: right;
}
.sections input{
    margin: 2px 0 0 10px;
    float: right;
}
.sections .fields:nth-child(2){
    margin-top: 25px;
}
.sections #additional_details{
    float: right;
    width: 100%;
    font-size: 15px;
    margin: 10px 0;
}
#popup_frame table {
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    overflow: auto;
    margin-top: 20px;
    float: right;
}
#popup_frame .tr-head {
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
}
#popup_frame .tr-odd {
    background-color: #f0f0f0;
}
#popup_frame td {
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}
#popup_frame td.check_all {
    width: 1%;
}
#popup_frame td.check_all input{
    margin: 3px;
}
#popup_frame td.columns{
    width: 60%;
}
#popup_frame td.total{ width: 30%}
.fields .payslip_sec{
    width: 50%;
    float: right;
}
.fields .payslip_sec .description{margin-right: 23px;width: 93%;}
.sections #summary_sec{display: none;}
.disable_label{color: #AAAAAA !important;}
.div_link{
    color: black !important;
    margin-right: 10px;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
}
#detailed_sec .div_link{ margin: 20px 0 0 0;float: right;}
.filters{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin-top: 30px;
    width: 940px;
}
.filter_section .description{
    padding-top: 0px;
    margin-bottom: 10px;
}
.filter_section .label-field-pair{
    width: 50%;
    margin-bottom: 20px;
}
.filter_section .label-field-pair label{ width: 150px}
.filter_section .label-field-pair select, .filter_section .label-field-pair .ms-parent{ margin-top: 3px;}
.filter_section .submit-button{
    margin: 0px;
    margin-left: 10px;
    float: left
}
#reset{
    float:left;
    margin: 8px 0 0 135px;
}
.columns_section, .filter_section{
    float:left;
    margin-top: 30px;
}
.report_section{
    margin-top: 30px;
    float: right;
    width: 100%;
}
.templates_section{float :right;width: 100%;}
.templates_section hr{margin-bottom: 30px}
.templates_section .div_link{margin: 0; float: right;}
.filter_values_sec{
    float: right;
    width: 95.7%
        ;
    margin: 20px 0 30px 0;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.report_section table{
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
    margin-bottom: 20px;
}
#page-yield table .tr-head {
    font-weight: bold;
    color: black !important;
}
.report_section table td {
    padding: 10px;
    white-space: nowrap;
    border: 1px solid #bfbfbf;
}
.report_section .sub-head {
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    font-weight: bold;
}
#reports_table{
    overflow-x: auto;
    float: right;
    width: 980px
}
.pagination {
    margin-top: 20px;
    margin-left: 0px;
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-right: 0px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-right: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: right;
    font-weight: normal;
    padding: 9px 15px 9px 13px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-right:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: right;
    padding: 9px 15px 9px 13px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: right;
    border-right:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}
td .field{
    float: right;
    width: 100%;
    min-width: 200px;
}
td .field .field-name, td .field .field-value{
    float: right;
    width: 50%;
    white-space: normal;
    min-width: 100px;
}
td .field .field-value{
    text-align:left;
}
#templates_list, #templates_form_footer{display: none;}
#popup_content #templates_list, #popup_footer #templates_form_footer{ display: block;float: right;}
.report_templates .label-field-pair{ width: 100% !important;}
.report_templates .label-field-pair .ms-parent {margin-top: 0px}
.report_templates .label-field-pair{ margin: 20px 0}
.report_templates .label-field-pair .choose_value label{margin: 0 5px 0 30px;width: auto !important;max-width: 50px;}
#inactive_categories{ display: none;}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 100%;
    float: right;
}
.report_section .submit-button{
    text-decoration: none;
    margin: 10px 0 15px 0;
}
#csv_link{
    float: right;
    width: 100%;
}
#popup_content .text-input-bg select{margin:0;}
#popup_content .text-input-bg input[type="text"]{margin-top:10px;}
.report_templates .label-field-pair label{ width: 150px !important}
.filter_values_sec .filter_result{
    width: 50%;
    float: right;
    font-size: 13px;
    margin-bottom: 10px
}
.filter_values_sec .filter_result label, .filter_values_sec .filter_result .text_value { float: right; }
.filter_values_sec .filter_result label{ max-width :150px;}
.filter_values_sec .filter_result .text_value{ max-width: 310px;}
.filter_values_sec .filter_result .text_value{margin: 0 4px 0 10px;}
.filter_values_sec .filter_result .text_value{ font-weight: bold;}
#edit_template{ padding: 5px 10px; cursor: pointer;}
#template_columns{ float: right; width: 100%;}
#template_columns ul{
    font-size: 13px;
    float: right;
    margin-top: 0;
    margin-bottom: 20px;
}
#template_columns .fields{
    font-size: 13px;
    margin-bottom: 20px;
}
#template_columns .header_text{
    font-size: 13px;
    font-weight: bold;
    margin: 10px 0;
    float: right;
    width: 100%;
}
.substitute{
    padding: 100px 0 300px;
    background-color: #f4f4f4;
    text-align: center;
    border: 1px solid #bfbfbf;
    display: none;
    float: right;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    width: 100%;
}
#loading{ margin-top: 30px; }
#loading #loader{
    margin-bottom: 5px;
}
.substitute span{
    width: 100%;
    float: right;
}
td.total_cell{
    background-color: #f1f1f1;
    min-width: 180px;
}
td.blank_cell{
    border: 0px !important;
}
.pagination_status {
    margin-top: 20px;
}
.error_field label{color: red }
.error_field select, .error_field input,.error_field .ms-choice{
    border:1px solid red;
}
#template_values_name{ margin-top: 4px !important}
.report_section td.amount{ text-align: left}
.report_section .total_cell .total_text{ float: right;}
.total_cell .total_amt{ text-align: left;float: left;}
.pair_div{float: right}
.date-field{
    width: 190px;
}
.date-field .calendar_label{
    width: 135px;
}
.ms-parent{ width: 185px !important;}
#filter_cols{ float: left; }
.apply_filter_div{ float: right; }
.apply_filters_sec{ min-height: 16px;}
#loader2{
    float: right;
    min-width: 10px;
}
.apply_filters_sec .div_link{float: left}
#employee_details .filter_values_sec{ margin: 30px 0 0 0;}
#page-yield .submit-button:hover {
    color: white !important;
}
span.total_count{ font-weight : normal}
#templates_list .wrapper{
    margin-right: 149px;
    min-height: 15px;
    min-height: 15px;
}
#templates_list .wrapper div{display:none}