.submit_button {
    margin-top:25px;
    margin-right:467px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}

.box{
    margin:0 auto;
    width:550px;
}
.text-input-bg2  {
    background:none repeat scroll 0 0 transparent;
    float:right;
    height:28px;
    width:128px;
}

.text-input-bg2 select {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    background-color:#EEEEEE;
    border:1px solid #C6C6C6;
    height:27px;
    margin:5px 10px 0 0;
    padding:3px 6px;
    width:95px;
}

.text-input-bg3  {
    background:none repeat scroll 0 0 transparent;
    float:right;
    height:28px;
    width:150px;
}

.text-input-bg3 select {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    background-color:#EEEEEE;
    border:1px solid #C6C6C6;
    height:27px;
    margin:5px 0px 0 0;
    padding:3px 6px;
    width:98px;
}


.att_detail{
    margin:20px 100px 10px 0;
    font-variant: small-caps;
    font-weight: bold;
}
.errorExplanation p{
    font-size: 13px;
    /*text-align: center;*/
}
.label-field-pair {
    margin-right: 265px;
}
table#listing td.col-3 {
    width: 16%;
}

.text-input-bg1{
  margin-left: 10px;
  margin-top: 10px;
}

.text-input-bg, .text-input-bg2{
  margin-left: -10px;
}

table#listing td.col-80, table#listing td.col-20 {
    padding: 5px;
    padding-right: 10px;
}

table#listing td.col-80 {
    width: 80%;
}

table#listing td.col-20 {
    width: 20%;
}

.attendance_report_summary{
    
}
.margin-100{
    margin-right: 100px;
}