<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<% unless @events.empty? %>
  <div class="current-date"> <%= format_date(@date,:format => :month_year) %> </div>
  <% @events.each do |h| %>
    <div class="events">
        <div class="title">
            <div class="legend-icon" style='background:#000000;'></div>
            <%= h.title %>
        </div>
        <% if can_access_request? "event_delete".to_sym,"calendar".to_sym %>
          <div class="link">
              <%= link_to "X",{:action=>'event_delete',:id=>h.id},:confirm=>"#{t('delete_confirm_msg')}",:class=>"delete" %>
          </div>
        <% end %>
        <div class="extender"></div>
        <div class="desc">
            <% if h.origin_type== "Placementevent"%>
              <b><%= t('company') %>:</b> <%= h.origin.company %><br/>
              <b><%= t('description') %>:</b> <%= h.origin.description %>
            <% else %>
              <%= h.description %><br/>
              <%= t('start_time') %>:<%= format_date(h.start_date,:format=>:time) %><br /><%= t('end_time') %> :<%= format_date(h.end_date,:format=>:time) %>
            <% end %>
        </div>
        <div class="extender"></div>
    </div>
  <% end %>
<% end %>

