
table{
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #bfbfbf;
}

td{
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}
tr{
    border-right: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}
table .tr-head{
    font-weight: bold;
    background-color: #e8e8e8;
    border-bottom: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;

}
.warning_sym {
    float: right;
    width: 15px;
    height: 12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-top: 2px;
    margin-left: 10px;
}
.submit-button
{
    margin-right: 5px;
    font-size: 13px;
    margin-top: 5px;
}

.text-input-bg
{
    /* width: 125px; */
}

#loader1{
    margin-right: 75px;
    margin-top: 10px;
}
.text-input-bg input
{
    width: 100px;
    margin-right: 0px;
}
.warning{
    background: #EDEDED url(/images/_global/error.png) no-repeat 15px 26px;
    font-size: 13px;
    color: #444;
    padding: 20px 55px 20px 20px;
    border: 1px solid #DBDBDB;
    float: right;
    width: 92%;
    margin-bottom: 20px;
}

.actions a{
    text-decoration: none;
    color: black;
    text-decoration: underline;
}

.search{
    float: left;
    height: 60px;
    width: 200px;
}

.error-icon{
    width: 15px;
    height: 12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-left: 2px;
    float: right;
}

#generate_link{
    float:right;
    margin-left: 10px;

    min-width: 50px;
    max-width: 100px;
}
.warning_text{
    font-size: 13px;
    color: #444;
    float:right;
    margin-left: 10px;
    margin-top:10px;
}

.warning_action{
    font-size: 13px;
    margin-top:10px;
}

.header{
    font-size: 14px;
    color: #444;
    font-weight: bold;
}


.description{
    font-size: 13px;
    color: #A5A5A5;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.generate_all{
    float:left;
    font-size: 13px;
    margin-top: 20px;
    text-decoration: underline;

}

.pagination{
    margin-top: 0px;
    margin-left: 0px;
}

.emp_name{
    width: 158px;
}

.emp_no{
    width: 100px;
}
.status{
    width: 50px;
}
.dpt_name{
    width: 150px;
}

.recent_date{
    width: 130px;
}

.tr-odd{
    background-color: #f7f7f7;
    border-right: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;


}

.tr-even{
    border-right: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    border-top: 1px solid #f2f2f2;

}


.pagination{
    min-width: 158px;
    height: 33px;
    border: 1px solid #CCC;
    border-right: 0px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination span{
}

.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-right: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: right;
    padding: 0px;
    font-weight: normal;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 13px;


}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: right;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    padding-bottom: 9px;
    padding-top:8px;
    border-right:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: right;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    padding-bottom: 9px;
    padding-top:8px;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: right;
    padding-left: 5px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    padding-top: 10px;
    font-weight: normal;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 13px;
}
.pagination .next_page{
    display: block;
    float: right;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;


}
.pagination .gap{
    display: block;
    float: right;
    border-right:1px solid #cccccc;
    color:#666;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 9px;
    padding-left: 9px;


}

.actions{
}

.multiple_actions{
    width: 120px;
    float: right;
}

.summary{

  text-decoration: underline;
  color: black;
  font-size: 13px;
  margin-right: 10px;
  cursor: pointer;
  width: 100px;
  float: right;

  margin-top: 20px;
}

.emp_no{
    width: 90px;
}

#date_range_text{
  font-size: 13px;
  width: 250px;
  margin-top: 10px;
}

.label-field-pair label{
    width: 130px;
}

.heading{
    font-size: 13px;
    font-weight: bold;
    float:right;
    margin-top: 45px;
    color: grey;
    font-weight: normal;
    min-width: 60px;
}

#revert_link{
 float:right;
 margin-left: 10px;
 min-width: 50px;
 max-width: 100px;
}

#pdf_link{
    float: right;
    min-width: 50px;
    max-width: 100px;
}

#delete_link{
    float: right;
    margin-left: 15px;
}

.label-field-pair{
    float:right;
    width: 20%;
}
#payslip_status{
    font-size: 13px;
    height:40px;
    float:left;
    padding-top:10px;
    width: 60%;
    padding-top: 10px;
}

#status_filter{
    width: 200px;
    float: right;
    margin-right: 15px;
    padding-top: 10px;
}

#employees_filter{
    width: 200px;
    padding-top: 10px;
}

#actions{
    height: 80px;
    margin-bottom: 30px;
    float: right;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid#bfbfbf;
}

.text-input-bg select{
    width: 180px;
    margin-right: 0px;
}

#employees_filter label,#status_filter label{
  width:auto;
  font-size: 13px;
  font-weight: normal;
}

#view_all_payslips{
    font-size:13px;
    float:left;
    margin-top: 45px;
}

#view_all_payslips a{
    color: black;
}

select{
    margin-right:0px;
}

#tot_count{
    float:right;
    /* width: 25%; */
    margin-left: 20px;
    margin-top: 10px;
}

#status{
    /* width: 25%; */

    margin-top: 10px;
}

.empty_warning_sym{
  width: 24px;
  float: right;
}
