
table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
}

td{
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}

table .tr-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
}

.tr-odd{
    background-color: #f0f0f0;
}

.tr-even{

}
h3{
    font-size: 14px;
    margin-top:50px;
}


.date_range{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 13px;
}

.header{
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 14px;
}
