.label-field-pair{
    width: 450px;
    float:right;
}

.label-field-pair input{width:20px;float:right;margin-right:0 !important;margin-left:10px;}

.label-field-pair label{
    float:none;
    width: inherit;
    margin-top: 7px;
    padding-top: 0px;
    font-weight: normal;
    font-size: 13px;
}

.section, h4{
    width: 100%;
    float: right;
    margin-top: 30px;
}
a:hover{
    color:white !important;
}
.description{
   font-size: 13px;
        color: #999;
    overflow: auto;
}

.submit-button{
    margin: 50px 0px;
}

a{
    text-decoration: none;
}

#view_sample{
    margin-right: 10px;
}

#additional_details h4{
    font-weight: normal;
}

label{
    cursor: pointer;
}

#page-yield a#view_sample:hover{
    color:white !important;
}
.page_header {
    font-weight: 600;
    margin-bottom: 19px;
    font-size: 16px;
}
.sub_header{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 9px;
}
.page_header_box{
     margin-bottom: 5px;
}
.footnote_block {
    width: 100%;
}
.footnote_block .footnote_option{
    width: auto;
    float: right;
}
.footnote_block .footnote_option label{
    float: right;
    margin-left: 30px;
}
#footnote_text{
    width:100%;
}
#footnote_text label{
    width: auto;
    float: right;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
}
#footnote_text input{
    width: 400px;
}
.error-icon {
    width:15px;
    height:12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -342px;
    margin-left:2px;
    float:right;
}
.warning {
    color: red;
    font-size: 13px;
    margin-top: 7px;
    float: right;
}