.header{
    font-weight: bold;
}

.description{
    font-size: 13px;
    float: right;
    padding-top: 10px;
    color: #A5A5A5;
    width: 100%;
    margin: 20px 0px 30px 0px;
}

table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
    margin-bottom: 20px;
    float: right;
}

td{
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}

table .tr-head{
    font-weight: bold;
    border-bottom: 1px solid #bfbfbf;
}

.sub-head{
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    font-weight: bold;
}

tr {
    border-bottom: 1px solid #bfbfbf;

}

.tr-odd{
    background-color: #f0f0f0;
}

.tr-even{

}

.sub_heading{
    margin: 50px 0px 15px 0px;
}

#generate_link{
    float: right;
    margin-left: 20px;
}
#employee_list table .tr-head
{
    color: black !important;
}
td.emp_name{
    width: 20%;
}
td.emp_no{
    width: 10%;
}
td.pg_name{
    width: 15%;
}
td.recent_date{
    width: 15%;
}
td.upcoming_date{
    width: 20%;
    /* text-align: center; */
}
td.actions{
    width: 30%;
    line-height: 20px;
}

.label-field-pair{ margin-bottom: 40px; }
.label-field-pair label, .label-radio-pair label {
    font-weight: normal;
    font-size: 13px;
    width: 130px;
}
#loader{ margin-top: 10px; }
.pagination {
    margin-top: 20px;
    margin-left: 0px;
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-right: 0px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-right: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: right;
    font-weight: normal;
    padding: 9px 15px 9px 13px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-right:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: right;
    padding: 9px 15px 9px 13px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: right;
    border-right:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}
.warning_sym {
    float: right;
    width: 15px;
    height: 12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-top: 4px;
}
.substitute {
    min-width: 15px;
    min-height: 12px;
    float: right;
}
div.div_link {
    float: right;
    font-size: 13px;
    cursor: pointer;
}
#MB_frame .label-field-pair{ width: 450px; }
.label-field-pair label {
    font-weight: normal;
    font-size: 13px;
    min-width: 100px;
    max-width: 150px;
}
#MB_header{
    -webkit-border-radius: 0px;

}
#MB_header #MB_close
{
    background: white;
    background-image: url("/images/iconsprite-1.png");
    background-position: -31px 1px;
    float: left;
    height: 16px;
    width: 10px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: 0;
    margin-right: 5px;
    left: 20px;
    top: 18px;
    cursor: pointer;
}
#MB_header #MB_close:hover {
    background-position: -31px -15px;
}
#MB_frame .submit-button{
    font-size:13px;
    margin: 25px 140px 0 0;
}
.ShowModal
{
    top: 200px;
    right: 250px;
    z-index: 1000;
    position: fixed;
    background-color: White;
    display: block;
    width: 480px;
    right: 443px;
}
.HideModal
{
    display: none;
}
.OverlayEffect
{
    background-color: black;
    filter: alpha(opacity=70);
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 400;
    position: fixed;
    top: 0;
    right: 0;
}
#MB_window{
    width: 500px; height: 375px; right: 393px; overflow: visible;
}
.label-field-pair{
    float: right;
    height: auto;
    width: 50%;
}
.text-input-bg{ height: auto;}
#MB_content .description {
    margin: 0;
}
.error-icon {
    width:15px;
    height:12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin: 4px 0 0 2px;
    float:right;
}
.error-msg{
    float:right;
    color: red;
    font-size: 13px;
    font-style: italic;
    width:205px;
}
.wrapper{
    margin-top: 5px;
    float: right;
    min-width: 320px;
    min-height: 15px;
    margin-right: 140px;
    display: none;
}
#search label{ float: left;}
#search .text-input-bg{ float: left; width: 227px;}
#loader1{
    float: left;
    margin: 10px 0 0 10px;
}

#page-yield table a{
    color : #666 !important;
    text-decoration: none;
    margin-left: 30px;
    float: right;
}
#page-yield table a:hover{
    text-decoration: underline;
    color: black !important;
}

div.div_link {
    float: right;
    font-size: 13px;
    cursor: pointer;
    color : #666 !important;
    text-decoration: none;
    margin-left: 30px;
}

div.div_link:hover {
    float: right;
    font-size: 13px;
    cursor: pointer;
    text-decoration: underline;
    color: black !important;
}
.info_wrapper {
    float: right;
    width: auto;
    margin-left: 30px;
    color: #999;
}
.sub-header{ text-transform: none;}