h3 {
    font-size: 16px;
    color: #444;
}
table{
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #bfbfbf;
    float: right;
}
td{
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}
td.actions{ line-height: 20px;}
tr{
    border-right: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}
#employees table .tr-head{
    font-weight: bold;
    background-color: #e8e8e8;
    border-bottom: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    color: black !important;

}
.submit-button {
    margin-right: 5px;
    font-size: 13px;
    margin-top: 5px;
}
#loader1 {
    margin-right: 75px;
    margin-top: 10px;
}
.text-input-bg input {
    width: 100px;
    margin-right: 0px;
}
.warning {
    background: #EDEDED url(/images/_global/error.png) no-repeat 15px 26px;
    font-size: 13px;
    color: #444;
    padding: 20px 55px 20px 20px;
    border: 1px solid #DBDBDB;
    float: right;
    width: 92%;
    margin-bottom: 20px;
}
.actions a {
    text-decoration: none;
    color: #666 !important;
    margin-left: 20px;
}
#page-yield .actions a:hover {
    color: black !important;
    text-decoration: underline
}
.error-icon {
    width: 15px;
    height: 12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-left: 2px;
    float: right;
}
.warning_text {
    font-size: 13px;
    color: #444;
    float:right;
    margin-left: 10px;
    margin-top:10px;
}
.warning_action {
    font-size: 13px;
    margin-top:10px;
}
.generate_all {
    float:left;
    font-size: 13px;
    margin-top: 20px;
    text-decoration: underline;
}
.pagination {
    margin-top: 0px;
    margin-left: 0px;
}
.emp_name { width: 158px; }
.emp_no { width: 90px; }
.status { width: 80px; }
.dpt_name { width: 100px; }
.recent_date { width: 90px; text-align: left;}
tr.tr-head td.recent_date{ text-align: right}
.tr-odd {
    background-color: #f7f7f7;
    border-right: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
}
.tr-even {
    border-right: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    border-top: 1px solid #f2f2f2;
}
.pagination {
    float: left;
    position: relative;
    margin-top: 15px;
    margin-left: 0px;
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-right: 0px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-right: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: right;
    font-weight: normal;
    padding: 9px 15px 9px 13px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-right:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: right;
    padding: 9px 15px 9px 13px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: right;
    border-right:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}
.multiple_actions {
    width: 120px;
    float: right;
}
.summary {
    text-decoration: underline;
    color: black;
    font-size: 13px;
    margin-right: 10px;
    cursor: pointer;
    width: 100px;
    float: right;
    margin-top: 20px;
}
.heading {
    font-size: 13px;
    font-weight: bold;
    float:right;
    margin-top: 45px;
    color: grey;
    font-weight: normal;
    min-width: 60px;
}
.label-field-pair {
    float:right;
    width: 20%;
}
#status_filter {
    width: 200px;
    float: right;
    margin-right: 15px;
    padding-top: 10px;
}
#employees_filter {
    width: 200px;
    padding-top: 10px;
}
#actions {
    height: 80px;
    margin-bottom: 30px;
    float: right;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid#bfbfbf;
}
.text-input-bg select {
    width: 180px;
    margin-right: 0px;
}
#employees_filter label,#status_filter label {
    width:auto;
    font-size: 13px;
    font-weight: normal;
}
#view_all_payslips {
    font-size:13px;
    float:left;
    margin-top: 33px;
}
#view_all_payslips a, #page-yield #view_all_payslips a:hover { color: white !important; text-decoration: none;}
select { margin-right:0px; }
.symbol {
    height: 17px;
    width: 20px;
    background: url(/images/iconsprite-1.png) no-repeat center;
    margin-right: 15px;
    float: right;
}
.info-icon {
    background-position: -58px -83px;
    margin: 0 0 0 5px;
}
p#outdated_message {
    text-align: right;
    font-weight: normal;
    color: #444;
}
.fields-details {
    float: right;
    width: 250px;
    font-weight: normal;
    font-size: 13px;
    color: #444;
    margin: 20px 0 20px 0;
}
.field-label {
    float: right;
    width: 110px;
    color: #8C8C8C;
}
.fields-val {
    float: right;
    margin-right: 20px;
    font-weight: bold;
}
#status {
    width: auto;
    font-weight: normal;
    font-size: 13px;
    margin-right: 20px;
}
#total_cost{ float: left; font-size: 14px; width: auto; max-width: 326px;}
#total_cost div{ text-align: left;}
#total_cost .field-label{ width: 130px;}
.field-info { font-size:14px; }
.field-info div{
    width: inherit;
}
.field-info .fields-val{
    margin: 10px 0 0 0;
}
.fields-val div{
    width: auto;
    float: right;
}
p#outdated_message a, #page-yield p#outdated_message a:hover{
    color: #1659BC !important;
    margin-right: 5px;
    text-decoration: none;
}
.substitute {
    min-width: 15px;
    min-height: 12px;
    float: right;
}
.archived
{
    color: #7B7A7A;
    font-size: 12px
}
.status-info{ width: 480px;}