.header{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 30px;
    color: #444;
}

#description{
    font-size: 13px;
    color: #A5A5A5;

    float: right;
    width: 100%;
}

#filters{
  width: 55%;
  float: left;
}

.heading, .label-field-pair{
   float:right;
   width: 80px;
   height: 20px;
}

.label-field-pair{
    width: 220px;
}

.text-input-bg, label{
    width:auto;
    font-weight: normal !important;
    font-size: 13px !important;
}

.text-input-bg select{
    margin-right: 0px;
}

.heading{
    color: grey;
    font-weight: normal;

    font-size: 13px;
    margin-top: 40px;
}

#status_filter{
    margin-left: 15px;
}

table{
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #bfbfbf;
}

td{
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}
tr{
    border-right: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}
#employees table .tr-head{
    font-weight: bold;
    background-color: #e8e8e8;
    border-bottom: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;

    color: black !important;
}

#employees{
    margin-top: 30px;
    float: right;
    width: 100%;
}

.actions a, #page-yield .actions a:hover {
    color: black !important;
    text-decoration: none;
}
.emp_name{
    width:20%;
}

.pay_period{
    width:17%;
}

.pg_name{
    width:17%;
}

.dpt_name{
    width: 10%;
}

.reason {
    width: 10%;
}

.actions{
    width: 26%;
}
.pagination {
    float: left;
    position: relative;
    margin-top: 15px;
    margin-left: 0px;
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-right: 0px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-right: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: right;
    font-weight: normal;
    padding: 9px 15px 9px 13px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-right:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: right;
    padding: 9px 15px 9px 13px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: right;
    border-right:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}
#page-yield table a{
    color : #666 !important;
    text-decoration: none;
    float: right;
    margin-left: 30px;
}
#page-yield table a:hover{
    text-decoration: underline;
     color: black !important;
}