h3 {
    font-size: 16px;
    color: #444;
    float: right;
    width: 100%;
}
.fields-details {
    float: right;
    width: 100%;
    font-weight: normal;
    font-size: 13px;
    color: #444;
    margin: 3px 0;
}
.field-label {
    float: right;
    min-width: 100px;
    color: #8C8C8C;
}
.fields-val {
    float: right;
    max-width: 600px;
    margin-right: 20px;
}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: right;
}
div.sub-head {
    font-size: 13px;
    font-weight: bold;
    color: #444;
    float: right;
    width: 100%;
    margin-bottom: 20px;
}
.cat-details
{
    float: right;
    width: 100%;
    font-weight: normal;
    font-size: 13px;
    color: #444;
    margin-top: 20px;
}
.cat-label
{
    float: right;
    width: auto;
    margin-left: 10px;
}
.cat-val
{
    text-align: right;
    width: 400px;
}
div#net-pay .cat-val
{
    width: 125px;
}
.submit-button {
    margin: 20px 0 0 20px;
    font-size: 13px;
    text-decoration: none
}
.sections
{
    float: right;
    width: 100%;
    margin: 40px 0 0 0;
}
.sections h3
{
    margin: 0 0 20px 0;
}
#page-yield a.submit-button:hover {
    color: white !important;
}
.main_info .cat-label{ width: 100px; font-size: 14px}
.main_info .cat-val{
    width: 200px;
    text-align: right;
    margin-bottom: 30px;
    font-size: 14px;
}
.archived {
    color: #7B7A7A;
    font-size: 12px;
    float: left;
    margin-right: 20px;
}
table {
    border: 1px solid #bfbfbf;
    border-bottom: 0;
    border-collapse: collapse;
    font-size: 13px;
}
#page-yield table .tr-head {
    font-weight: bold;
    background-color: #e6e6e6;
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
}
td {
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}
.tr-odd {
    background-color: #f0f0f0;
}
td.name
{
    width: 350px;
}
td.value
{
    width: 140px;
}
tr{
    border-bottom: 1px solid #bfbfbf;
}
table.net_pay_row{
    margin-top: 40px;
}
div#left-sec, div#right-sec{
    float: right;
    width: 50%;
    margin: 20px 0;
}
#attendance-details{
    margin: 10px 0;
    float: right;
    width: 100%;
}
#attendance-details .fields-details{ width: 25%}
#attendance-details .fields-details .field-label{
    width : 100%;
    margin-bottom: 5px;
}
#attendance-details .fields-details .fields-val{ 
    margin-right: 0px;
    font-weight: bold;
}
.amount{text-align: left;}
#remark{
    margin: 20px 0 20px 0;
}
#rejection-remarks{
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    float: right;
    width: 60%;
    padding: 20px;
    font-size: 13px;
    color: #444;
    padding-top: 10px;
    margin-top: 20px;
}
#remarks-desc{
    padding-top: 10px;
}
.footnote{
    float:  right;
    width:  100%;
}
.footnote p{
    text-align: right;
    font-size: 11px;
    color: #666;
}
