.label-field-pair {
    height: 40px;
    width: 285px;
    padding-top: 3px;
    float: right;
}
#loader{
    margin-top:10px
}
.subject{
    font-weight:bold;
    /*font-size:15px;*/
    font-size:13px;
    float: right;
}
.teacher{
    margin-top:5px;
    font-size:11px;
    clear: both;    
}
.teacher_name{
    font-size:13px;
}
table#listing td.col-1 {
    width: 15%;
    font-weight:bold;
}
table#listing td.col-2 {
    width: 20%;
    word-break: break-all;
}
table#listing td.col-3 {
    width: 51%;
}
#timetable{
    margin-top:25px
}

.text-input-bg1 select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    /*margin: 5px 0 0 10px;*/
    margin: 5px 0px 0 0;
    /*width: 144px;*/
    width: 100%;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.text-input-bg1 {
    background: transparent;
    height: 28px;
    /*width: 145px;*/
    width: calc(100% - 5px);
    float: right;
}
.label-field-pair1 {
    height: 40px;
    /*width: 148px;*/
    width: 160px;
    padding-top: 3px;
    /*float: left;*/
    float: left;
    margin-left: 10px;
}
.label-field-pair1-larger {
    width: 174px !important;
}
.image_loading{
    float:right;
    /*margin-left: 10px;*/
    margin-top: 8px;
    height: 26px;
    /*margin-top: 12px;*/
}
.image_loading img {
    margin-top: 5px;
}
.submit_button {
    padding: 6px 10px;
    /*padding: 7px 10px;*/
    color: #fff;
    background: #27292B;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 11px;
    border: none;
    font-family: arial;
    cursor: pointer;
    width: 100%;
}
.submit_button[disabled] {
    cursor: pointer; 
    opacity: 0.30;
}
.submit{
    /*float:right;*/
    /*margin-right: 58px;*/
    /*margin-top: 7px;*/
    
    /*margin-top: 8px;*/
    margin-top: 10px;
    clear: right;
    margin-bottom: 10px;
    /*margin-left: 20px;*/
    float: right;
    min-width: 50px;
    margin-left: 5px;
}
.new_entry{
    float:right;
}
.change_title{
    float:right;
    font-size:13px;    
/*    margin-top:10px;*/
    /*line-height: 25px;*/
    /*margin-right:15px*/
    margin-left:10px;
}
table#listing td a {
    font-size: 13px;
}
.edit_link {
    float: left;
    margin-top: 10px;
    /*margin-right: 24px;*/
    margin-left: 20px;
}
.cancel_link {
    /*float: right;*/
    /*margin-top: -23px;*/
    /*margin-right: 5px;*/
    
    margin-right: 10px;
    margin-top: 14px;
    float: right;
}

.submit, .cancel_link{    
    /*margin-right: 24px;*/
    margin-left: 20px;
    float: left;
}
.delete_cancel_link{
    float: left;
    margin-top: 0px;
    line-height: 25px;
    /*margin-right: 24px;*/
    margin-left: 20px;
}
.errorExplanation {
    /*border-radius: 10px 10px 10px 10px;*/
/*    height: auto;
    margin: 20px auto;
    padding: 16px 0 20px 50px;*/
    width: 400px;
    /*font-size:14px*/
}
table#listing td a {
    text-decoration: none;
    color: #B00;
}
.hor_line {
    margin-top: 10px;
    clear: both;
}
.submit-button {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #27292B;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 0 210px 0 0;
    padding: 5px;
    float: right;
    cursor: pointer;
    float: left;
    margin-bottom: 22px;
    margin-left: 12px;
    padding-right: 13px;
    padding-left: 10px;
}
.submit-button a {
    text-decoration: none;
    color:#fff;
    font-size: 14px;
}
.submit-button a:hover{
    color:#fff !important
}
#page-yield1 {
    margin: 30px 0;
    margin-right: 10px;
    margin-left: 10px;
}
table#listing .tr-odd {
    font-weight: 100;
}
table#listing .tr-even {
    font-weight: 100;
}

/* cancel class */
.tte_changed{
    width: 100%;
}
.tte_changed,.tte_change, .tte_cancel {
    float: right;
    margin-left: 20px;
}
.tte_change{
    margin-left: 0px;
}
.tte_change, .tte_cancel {
    float: left;
    /*margin-right: 24px;*/
    margin-left: 20px;
}
.tte_cancelled{    
    width: 100%;
    margin-left: 0px;
}
.employee_swap_overlap_validation {    
    /*float: left;*/
    margin-right: 30px;
    /*width: 330px;*/
    width: calc(100% - 50px);
    display: table;
    min-height: 40px;
    margin-top: 12px;
    display: none;
}
.employee_swap_overlap_validation span {
    background: #fff;
    max-width: 300px;
    font-size: 12px;
    color: #444;
    line-height: 20px;
    width: 100%;
}
.error-icon {    
    background: url(/images/iconsprite-1.png);
    background-position: -42px -344px;
    width: 15px;
    height: 12px;
    float: right;
    margin-top: 3px;
    margin-left: 2px;
}
.swap_notify {
    width: 360px;
}
.submit_buttons {
    width: 180px;
}
.swap_notify, .submit_buttons, .swap_notify .label-field-pair1 {
    float: right;
}
.submit_buttons {
    float: left;
}
.swap_notify .label-field-pair1 {
    margin-top: 10px;
    margin-right: 27px;    
    width: calc(100% - 20px);
}
.notify {
    display: inline-block;
    margin-bottom: 10px;
}
#popup_footer .submit-button, #popup_footer .submit-button:hover {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #27292B;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    margin: 0px 0px 22px 10px !important;
    padding: 5px 13px 5px 10px;
    float: right;
    cursor: pointer;
    text-transform: capitalize;
}
#popup_footer .prompt_ok, body #popup_footer .prompt_ok:hover{
    margin-right: 0px !important;
}
.popup-description {
    font-size: 13px;
    float: right;
    padding-top: 10px;
    color: #000;
    width: 100%;
    margin: 0px;
}
#popup_content .label-field-pair span {    
    width: 300px;
    display: block;
    line-height: 17px;
}
#popup_content .label-field-pair input[type="checkbox"] {
    float: right;
    width: 20px;
    margin: 0px 0px 0px 5px;
}
#popup_content .label-field-pair label {
    font-weight: normal;
    font-size: 13px;
    min-width: 100px;
    max-width: 150px;
}