<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%#= javascript_include_tag "sortable" %>
<% if @batch.present?  %>
  <% unless @students.empty?  %>
    <%=hidden_field_tag :rg_id , params[:rg_id]%>
    <table id="listing" width="100%" cellpadding="1" cellspacing="1">
      <thead>
        <tr>
          <td style="display: none;"></td>
          <th id="student_label"><%=t('single_student')%></th>
          <% if roll_number_enabled? %>
            <th><%=t('roll_nos')%></th>
          <%else%>
            <th><%=t('admission_no')%></th>
          <%end%>
        </tr>
      </thead>
      <%unless @two_sub_eligible.blank?%>
        <tr class="light_grey"><td colspan="2">Eligible for 2 subjects</td></tr>
      <%end%>
      <% @two_sub_eligible.each do |s| %>
        <tr class="st_entry row_<%=cycle('odd','even')%>" id="<%=s.id%>">
          <td class="student_entry"><span><%= s.full_name %></span></td>
          <% if roll_number_enabled?%>
            <td class="td_val"> <%= s.roll_number_in_context %></td>
          <%else%>
            <td class="td_val"> <%= s.admission_no %></td>
          <%end%>
        </tr>
      <%end%>
      <%unless @one_sub_eligible.blank?%>
        <tr class="light_grey"><td colspan="2">Eligible for 1 subject</td></tr>
      <%end%>
      <% @one_sub_eligible.each do |s| %>
        <tr class="st_entry row_<%=cycle('odd','even')%>" id="<%=s.id%>">
          <td class="student_entry"><span><%= s.full_name %></span></td>
          <% if roll_number_enabled?%>
            <td class="td_val"> <%= s.roll_number_in_context %></td>
          <%else%>
            <td class="td_val"> <%= s.admission_no %></td>
          <%end%>
        </tr>
      <%end%>
      <%unless @non_eligible.blank?%>
        <tr class="light_grey"><td colspan="2">Not Eligible</td></tr>
      <%end%>
      <% @non_eligible.each do |s| %>
        <tr class="row_<%=cycle('odd','even')%>" id="<%=s.id%>">
          <td class="student_entry"> <%= s.full_name %></td>
          <% if roll_number_enabled?%>
            <td class="td_val"> <%= s.roll_number_in_context %></td>
          <%else%>
            <td class="td_val"> <%= s.admission_no %></td>
          <%end%>
        </tr>
      <%end%>
    </table>

  <% else %>
    <div class="list_name">
      <%= t("no_students_in_batch")  %>
    </div>
  <% end %>
<% end %>
<script type="text/javascript">
  j(document).ready(function(){
<%@batch.full_upscaled_students.each do |student|%>
      j('tr#'+<%=student%>).find('td.student_entry').append('<i></i>');
<%end%>
  });

  j('.st_entry').each(function(){
    j(this).click(function(){
      j.ajax({
        type: 'POST' ,
        url: "/cce_report_settings/upscale_scores",
        data : {
          count : j(this).prevAll('.light_grey').first().text().split(" ")[2],
          student_id : j(this).attr('id'),
          batch_id: <%=@batch.id%>
        },
        beforeSend : function(){
          j('#main_section_full').children().not('img').hide();
          j('#loader_1').show();
        },
        success : function() {
          j('#loader_1').hide();
          j('#main_section_full').children().not('img').show();
        }
      });
    });
  });
  (function($) {
    $.fn.hasScrollBar = function() {
      return this.get(0).scrollHeight > this.height();
    }
  })(jQuery);
  if(j('tbody').hasScrollBar() == true)
  {
    j('.td_val').css('width','67px');
  }
  else{
    j('.td_val').css('width','82px');
  }
</script>
