#reminder-body{
    /*margin:0 0 0 50px;*/
}

#reminder-from{
    margin:0 0 15px 0;
    font-size:18px;
    font-weight:bold;
}

#reminder-date{
    float:right;
    color:#c9c9c9;
    font-weight:normal;
    font-size:14px;
}

#reminder-subject{
    margin:0 0 20px 0;
    font-weight:bold;
    font-size:16px;
}

#reminder-message{
    padding-top:20px;
    text-align:justify;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-size:15px;
}
#reminder-message pre {
  white-space: pre-wrap;
}
/*style copied from applicant registration*/
div.attr_pair {
  width: 480px;
  float: left;
}
div.attr_pair div {
  float: left;
  padding: 5px;
  height: auto;
  color: #444;
}
div.attr_pair div {
  float: left;
  padding: 5px;
  height: auto;
  color: #444;
}
div.attr_value {
  width: 260px;
  font-weight: bold;
  font-size: 14px;
}
.downloads {
    /*margin: 0 0 0 50px;*/
}
/*attachments*/
#attachments_title{
  font-weight: normal;
  font-size: 14px;
}
#attachments_list {
  list-style: none;
  padding-left: 0px;
}
#attachments_list li a {
  text-decoration: none;
  font-size: 13px;
}
#attachments_list li {
  padding-bottom: 15px;
}
span.attachment_icon_img {
  float: left;
  margin-right: 10px;
}
