/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 May, 2017, 12:47:16 PM
    Author     : nidhin
*/

#notifications_container{
    width:75%;
}
.pagination{
    text-align: center;
    margin-top: 20px;
    width: 75%;
    float: none;
}
.notifications_strip:last-child{
    border-bottom: none;
}
#filter .text-input-bg {
    width: 160px;
    height: auto !important;
}
#filter .text-input-bg #notification_filter {
    width: auto !important;
    border-radius: 0px !important;
    background-color: #fff !important;
    margin: 0px !important;
    height: 34px !important;
}
#filter {
    display: table-cell;
    vertical-align: middle;
}
#filter .heading {
    float: left;
    margin-top: 8px;
    margin-right: 20px;
    font-weight: normal;
    font-size: 13px;
    position: relative;
}
#status_filter {
    height: auto !important;
    padding-top: 0px !important;
    margin-bottom: 100px;
}
#notifications_container .notifications_strip{
    padding: 15px 0px;
}
#filter .heading img {
    position: absolute;
    top: 0px;
    left: 32px;
}