.individual_block{
    float:right;
    width:100%;
    margin-bottom:30px;
}
.label-field-pair label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: right;
    padding-top: 0px;
    font-weight: normal;
}
.label-field-pair input {
    background: #EEE;
    border: 1px solid #C6C6C6;
    margin: 5px 0px 0 0;
    width: 155px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
    font-size: 13px !important;
}
/*.label-field-pair-text-area {
    height: 85px;
    width: 100%;
    margin-bottom: 5px;
    float: left;
}*/

.label-field-pair-text-area label {
    color: #444444;
    display: block;
    float: right;
    font-size: 13px;
    font-weight: normal;
    margin: 0 0 10px;
}
.no_entries{
    float: right;
    background-color: #eeeeee;
    width: 94%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    font-size: 14px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.label-field-pair-text-area textarea {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    margin: 5px 0px 0 0;
    padding: 5px;
    height: 100px;
    width: 350px;
    float: right;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size: 13px !important;
}
.label-field-pair12,.attachment_contents,.label-field-pair-text-area {
    width: 100%;
    float: right;
    margin-bottom: 30px;
}
.text-input-bg12 {
    background : transparent;
    width : 230px;
    float:right;
}
.label-field-pair12 label {
    color: #444;
    display: block;
    margin: 0 0 0px 0;
    float: right;
    width: 200px;
    font-weight: normal;
    font-size: 13px;

}
.label-field-pair12 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 0px 0px 0 0;
    width: 205px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
    font-size: 13px !important;
}
.text-input-bg12 select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 10px 0 0;
    width : 215px;
    height:27px;
    padding:3px 6px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
label-field-pair12-text-area{
    height:110px;
    padding-top:3px;
    width:600px;
}

.label-field-pair12-text-area label{
    color:#444444;
    display:block;
    float:right;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:10px;
    width:200px;
}
.textarea12-input-bg {
    background:none repeat scroll 0 0 transparent;
    float:right;
}
.label-field-pair12-text-area textarea {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    margin:5px 10px 0 0;
    padding:5px;
    width:205px;
    height: 80px;
}
.label-field-pair12-text-area textarea:focus{
    background:#FFFFFF;
    border: 1px solid #9E0F15;
}
.all_additional_items {
    float: right;
    width:100%;
}

#additional_label label {
    float: right;
}
#additional_right {
    float: right;
    width: 430px;
}
#additional_label {
    float: right;
    font-size: 13px;
    width:100%;
}
.addl_attachments {
    float: right;
}
.fields {
    float: right;
    margin-bottom: 5px;
    width: 400px;
}
.label-field-pair-attachment {
    width: 600px;
    height: auto;
    float: right;
    font-size: 13px;
}
.attachment_file {
    float: right;
    width: 270px;
}
.remove_link {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
.add_addl_attachment {
    float: right;
    width: 400px;
    /*    margin-top: 12px;*/
}
.add_button_img {
    background: none;
    display: block;
    float: none;
    height: 12px;
    width: 100px;
    margin-top: 15px;
    font-size: 13px;
    text-decoration: none;
    display: inline;
    color: #080;
}
.label_field_pair {
    width: 100%;
    float: right;
    margin-bottom: 30px;
}
.label_field_pair label {
    display: block;
    color: #444;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
    float:right;
}
.all_radio_options {
    float: right;
    font-size: 13px;
}
.all_check_options{
    float: right;
    padding-top: 5px;
    font-size: 13px;
}
.all_radio_options label{
    float:right;
    margin-bottom: 0px;
    margin-left: 20px;
}
.all_check_options label{
    float: right;
    display: block;
    color: #444;
    font-size: 14px;
    font-weight: normal;
    margin-left: 20px;
}
.label_field_pair label.label_for_gender {
    font-weight: normal;
    display: inline;
}
.fee_category_scroll {
    -moz-background-inline-policy: continuous;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 86px;
    margin-right: 0px;
    margin-top:0px;
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 7px;
    width: 200px;
}
.w198 {
    width: 198px !important;
}
.text-input-bg {
    background: transparent;
    height: auto;
    width: 180px;
    float: right;
}
.ui-accordion-content.ui-helper-reset.ui-widget-content.ui-corner-bottom.ui-accordion-content-active{
    height:auto !important;
}
textarea-input-bg textarea{
    float:right !important;
}
.addl_info_radio,.addl_info_check{
    float: right;
}
.grades {
    float: right;
    width: 100%;
    margin-bottom: 25px;
}


.sel-list {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 2px;
    width: 197px;
}
.each_batch {
    border-bottom: 1px solid #DDDDDD;
    font-size: 12px;
    overflow: auto;
    width: 198px;
}
each_batch label {
    float: right;
    margin-top: 3px;
}
.label-field-pair.spl_case label{
    font-size: 13px;
}
/*.attachment_contents{
    float:left;
    margin-bottom:18px;
    width: 100%;
}*/
.label-field-pair{
    float: right;
    width: 100%;
    height:auto;
    padding-top: 0px;
}
.core_label{
    width: 100% !important;
    margin-bottom: 10px !important;
    font-size: 13px !important;
}
.all_radio_options select{
    background-color: #EEE;
    border: 1px solid #C6C6C6;
    margin: 5px 0px 0 0;
    width: 170px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.edit_buttons,button,#student_submit {
    margin-top:30px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: normal;
    border:none;
    font-family: arial;
    cursor:pointer;
    float: right;
    font-size: 13px !important;
}
.edit_buttons:hover,button:hover,#student_submit:hover{
    background:  #373B3F;
}
.addl_margin{
    margin-bottom: 23px;
    padding-top: 0px;
}
.attachment_files{
    margin-top: 10px;
    width: 200px;
    float: right;
    font-size: 14px;
}
.paperclip_field{
    margin-right:0px;
}
.ui-accordion-header {
    margin-top: 20px !important;
}
.ui-state-default .ui-icon.down-arrow-img {
    background: url('/images/iconsprite-1.png') no-repeat -67px -3px;
    width: 10px;
    height: 6px;
}
.ui-state-default .ui-icon.up-arrow-img {
    background: url('/images/iconsprite-1.png') no-repeat -51px -3px;
    width: 10px;
    height: 6px;
}
.ui-icon {
    float: left;
    position: relative !important;
    margin-left: 20px !important;
}
.record_groups_list{
    background-color: #F4F4F4 !important;
    border-color: #D4D4D4;
    border-radius: 0px !important;
    color: #262626 !important;
    font-family: Arial !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    height: 15px;
    padding: 20px !important;
    line-height: 1 !important;
}
.form_status{
    float: left;
    color: #999999;
    font-weight: 400;
    font-family: Arial;
    font-size: 13px;
    margin-left: 12px;
    margin-top: 1px;
    /* font: 700 15px / 87.991px Arial; */
}
.form_status_active{
    color: #262626;
}

.record_group_name {
    float: right;
    width: 90%;
    font-size: 18px;
    font-weight: bold;
    color: #666;
}
.sl_no{
    float: right;
    margin-top: 23px;
    font-size: 14px;
    font-weight: normal;
    color: #666;
}
.record_name{
    float:right;
    margin-top:20px;
    margin-right: 5px;
    color: #666;
}
.record_detail_set{
    float: right;
    width: 90%;
}
.data_list{
    float: right;
    margin-right: 18px;
    margin-top: 10px;
    width: 80%;
    color: #333;
    font-size: 13px;
    text-align: justify;
}
.data_list > a{
    color:#666;
}
.data_list > span{
    font-style: italic;
    color: #666;
}
.suffix_sec
{
    float: right;
    font-size: 13px;
    margin-top: 5px;
    color: #666;
}
.record_group_wise {
    float: right;
    /*    padding-top: 40px;*/
    /*    padding-bottom: 40px;*/
    width: 100%;
}
#main_section_full{
    float:right;
    width:100%;
}
.reset,.sr_delete{
    float: left;
    margin-top: 45px;
    font-size: 14px;
    color:#666;
    cursor: pointer;
}
.reset:hover,.sr_delete:hover{
    text-decoration: underline;
}
#page_informer{
    color: #666;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 30px;
    width: 100%;
}
#student_record_form{
    float:right;
    width:100%;
}
#student_selector{
    float:right;
}
#record_group_selector{
    float:left;
}
#student_selector > span,#record_group_selector > span{
    float:right;
    font-size: 13px;
    font-weight: normal;
    color:#666;
}
.spl_position{
    margin-top: -5px;
    width:255px;
}
#student_id,#record_group_id{
    float:right;
    margin-top:0px;
    margin-left:10px;
}
#progressbar{
    height: 10px;
    width: 200px;
    float: left;
}
.ui-progressbar-value{
    background: #cccccc;
}
#student_details{
    float: right;
    width: 100%;
    margin-top: 40px;
}
#sname{
    float: right;
    font-size: 14px;
    font-weight: bold;
    color: #444;
}
#entire_block{
    float:right;
    width:100%;
    margin-top: 30px;
}
.ui-accordion-header-icon{
    margin-top:-3px !important;
}
.block{
    float: right;
    margin-left: 50px;
    font-size: 14px;
    font-weight: bold;
    color:#666;
}
.block > span{
    font-weight: normal;
    margin-left:10px;
}
#completed{
    float: left;
    font-size: 13px;
    color: #666;
    margin-right: 10px;
    margin-top: -2px;
}
#admission1_form p{
    float: right;
    margin: 0px;
    font-size: 13px;
    color: #666;
}