hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: left;
    margin: 20px 0;
}
.header{
    float: left;
    font-weight: bold;
}
.field_details {
    float: left;
    width: 230px;
    font-weight: normal;
    font-size: 14px;
    color: #444;
    margin: 20px 10px 20px 0;
}
.field_name {
    float: left;
    width: 100%;
    color: #8C8C8C;
}
.field_val {
    float: left;
    margin: 10px 0 0 0;
    font-weight: bold;
}
.assessments_details{
    float: left;
    width: 100%;
}
table {
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    max-height: 400px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
#page-yield table .tr-head {
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
}
tr{
    border-bottom: 1px solid #bfbfbf;
}
td {
    padding: 10px;
    border-right: 1px solid #bfbfbf;
}
td.check_all{width: 3%;}
td.name{width: 10%;}
.submit-button{
    font-size: 13px;
    float: left;
    margin-left: 0px;
    border-radius: 5px;
}
#form-footers{
    float: left;
    width: 100%;
}
div.sub-head {
    font-size: 14px;
    font-weight: bold;
    color: #444;
    float: left;
    width: 75%;
    margin: 20px 0;
}
td.actions a{
    color: black;
    margin-right: 20px;
    text-decoration: none;
}
td.actions .status{
    float:right;
    color: grey;
    font-style: italic;
}
a.submit-button{
    text-decoration: none;
    float:right;
    margin-top: 13px;
}
p.flash-msg{ 
    float: left;
    width: 100%;
}
.tooltip_wrapper{ float: right;}
.tooltip_info{ width: 250px;}
#info-symbol {
    height: 17px;
    width: 20px;
    background: url(/images/iconsprite-1.png) no-repeat center;
    margin-left: 5px;
    float: left;
    background-position: -60px -62px;
    float: right;
}
#info-symbol:hover {
    background-position: -60px -83px;
}
#page-yield a.submit-button:hover{
    color: #fff !important;
}