/*.report_settings_container{overflow: auto;}*/
.report_settings_container .header{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}
.assessment_plan_details{
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    float: left;
    width: 100%;
    font-size: 13px;
    margin-bottom: 30px;
}
.plan_name{
    float: left;
    width:50%;
}
.academic_year_name{
    float: left;
    width:50%;
}
.align_right{
    text-align: right;
}
.align_left{
    text-align: left;
}
.assessment_plan_details .label, .assessment_plan_details .value{
    float: left;
}
.align_right div{
    float: right !important;
}
.assessment_plan_details .value{
    font-weight: bold;
    margin-left: 20px;
}

.box{
    float:left;
    width:100%;
}
.core_label{
    float: left;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: #444;
    margin-bottom: 8px;
}
.block{
    float: left;
    width: 100%;
    margin-bottom: 40px;
}
.general_label{
    font-size:13px !important;
    font-weight: normal !important;
    color:#333 !important;
    float:left !important;
    margin-right:30px !important;
    width:auto !important;
}
.ind_block{
    float: left;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
}
.main-message{
    color: #000 !important;
}
.main-msg{
    color: #000 !important;
}
.com_block{
    float: left;
    width: 100%;
    font-size: 13px;
    line-height: 25px;
}
.messages{
    font-size: 13px;
    color: #666;
    margin-bottom: 15px;
}
.msg_desc{
    font-size: 13px;
    color: #666;
    margin-bottom: 15px;
}
input[type="radio"]{
    float:left;
    margin: 0px 5px -1px 0px;
    width: 15px;
    height: 15px;
}
#report_desc{
    float:left;
    width:100%;
    /*    margin-bottom:30px;*/
}
.label-field-pair{
    /*width: 489px;*/
    width: 49.85%;
    float: left;
}
.label-field-pair span{
    float: left;
    margin-top: 11px;
    margin-left: 20px;
    margin-right: 15px;
}
#loader1{
    float: left;
    margin-top: -1px;
}
#submit-button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
    float: left;
}
p{
    margin:0px;
    color: #333 !important;
}
span{
    font-weight: bold;
    font-size: 13px;
}
.com_block p a{
    /*margin-left:10px;*/
}
#submit_like_link{
    float: left;
    margin-right: 30px;
    margin-top: 10px;
}
#unlink_link{
    margin-top: 10px;
    float: left;
}
a{
    color:#666;
}
#page-yield .block a:hover{
    color:#000 !important;
}
.hor_line{
    width:100%;
    background: #ccc;
    height: 1px;
    float:left;
    margin-bottom:40px;
}
.hor_line_1{
    width:100%;
    background: #ccc;
    height: 1px;
    float:left;
}
.no_bottom_margin{
    margin-bottom:0px !important;
}
.no_top_margin{
    margin-top:0px !important;
}
.modal_spec_style{
    margin-top: 20px;
    margin-left: 20px;
}
.main_header{
    margin-left: 20px !important;
    width: 192px !important;
    margin-bottom: 20px !important;
    font-size: 13px !important;
    font-weight: normal !important;
    color: #444 !important;
}
#MB_frame .label-field-pair {
    width: 550px;
    float: left;
    height: auto;
    margin-bottom: 30px;
}
#MB_frame .all_sub_sec .label-field-pair {
    width: 550px;
    float: left;
    height: auto;
    margin-bottom: 10px;
}

.label-field-pair label {
    margin: 0 0 0px 20px;
}
.hor_line_1 {
    width: 100%;
    background: #ccc;
    height: 1px;
    float: left;
}
.style_1{
    float: left !important;
    width: 100% !important;
}
.fleft{
    float: left;
}
#record_sections_1,#record_sections_2{
    float: left;
    margin-bottom: 50px;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
.addl_margin_left{
    margin-left:15px;
}
.all_sub_sec{
    float: left;
    max-height: 190px;
    overflow-y: auto;
}

.loader_modal{
    float: left;
    margin-top: 10px;
}
.text-input-bg{
    width: auto;
    margin-right: 50px;
}
.label-field-pair label{
    font-weight: normal;
}
.block a{
    font-size: 13px;
}

#complete_block{
    float: left;
    width: 93%;
    margin: 30px;
}
#info_msg{
    float: left;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 30px;

}
#head_part{
    float: left;
    width: 100%;
    font-size: 13px;
    color: #666;
    margin-bottom: 10px;
}
#course_part,#pass_criteria,.course_value,.criteria_value{
    float:left;
    width:30%;
}
#labels{
    float:left;
    width:40%;
}
.one_row{
    float: left;
    width: 100%;
    font-size: 13px;
    color: #444;
    margin-bottom: 5px;
}
.criteria_text{
    float:left;
}
.spl_case{
    width:auto !important;
    margin-top:-10px !important;
}
.spl_case select{
    width:60px !important;
}
.label_values{
    float:left;
    width:40%;
}
.blk{
    float:left;
    width:100%;
}
.pass_text,.eip_text{
    float:left;
    width:50%;
}
.holder{
    float:left;
    height:370px;
    overflow-y:auto;
    width: 100%;
    margin-bottom: 45px;
}
.padding_top_25{
    padding-top: 25px;
}
.padding_top_10{
    padding-top: 10px;
}
.blk_data div{
    float: left;
    width: 50%;
    padding-top: 12px;
}
.blk_data textarea{
    background: #eee;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -weblit-border-radius: 10px;
    border: 1px solid #c6c6c6;
    font-family: Arial;
    height: 30px;
    padding: 5px;
    width: 120px;
    resize:none;
}
.top_bottom_margin{
    margin-top: 10px;
    margin-bottom: 10px;
}
p.flash-msg{
    margin-bottom: 30px;
}
#labels_part_1{
    float: left;
    width: 15%;
    margin-right:35px;
}
#labels_part_2{
    float: left;
    width: 20%;
}
#MB_close span {
    padding-left: 8px;
    float: left;
    padding-top: 5px;
}
#MB_frame #MB_caption {
    padding: 20px 0 0 40px;
}
.logo{
    width: 70px;
    border: 1px solid #e5e5e5;
    padding: 3px;
}
.border_less{
    border: none !important
}
.logo.border_less{
    width:62px;
    height: 62px;
}
.logo img{
    width:100%;
    vertical-align: middle;
    display: table-cell;
}
#full_header{
    float: left;
    width: 98%;
    border: 1px solid #e5e5e5;
    padding: 15px 15px 15px 20px;
}
#school-name{
    float: left;
    font-weight: bold;
    font-size: 13px;
    width: 95%;
    margin-bottom: 10px;
    margin-top: 3px;
    margin-left:10px;
}
.institution_address{
    float: left;
    font-size: 13px;
    color: #666 !important;
    font-weight: normal;
    margin-left:10px;
    width:95%;
}
.text-input-bg span{
    float:right;
    margin-left:10px;
    font-size: 13px;
    font-weight: normal;
    color:#666;
    margin-top:10px;
}
.text-input-bg select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 300px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.grey_back{
    background-color: #f5f5f5;
    float:left;
    width:100%;
    border-left:1px solid #ccc;
    border-top:1px solid #ccc;
    margin-bottom: 15px;
}
.with_border{
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
#signature_section{
    float: left;
    width: 100%;
    min-height: 100px;
    border: 1px solid #ccc;
    display: flex;
    padding: 14px;
    box-sizing: border-box;
}
#left_side,#center_side,#right_side{
    float: left;
    /*width: 31%;*/
    /*margin-top: 14px;*/
    background: #f5f5f5;
    margin-right: 14px;
    flex: 1;
    position: relative;
}
#right_side{
    margin-right: 0px;
}
#left_side div.label-field-pair,#center_side div.label-field-pair,#right_side div.label-field-pair{
    width:30%;
    margin-left: 33px;
    margin-bottom: 11px;
}
#center_side{
    margin-left: 14px;
    margin-right: 14px;
}
span.header_parts{
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}
.header {
    width: 100%;
    float: left;
    margin-bottom:5px;
    display: table;
    /*background-color: red;*/
}
#report_grade_levels{
    float:left;
    width:100%;
}
.zero_bottom_margin{
    margin-bottom: 0px;
}
.enclosure{
    float: left;
    margin-top:30px;
}
.text-input-bg input{
    border-radius: 0px !important;
}
.imag_thumb{
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    max-width: 300px;
}
#submit-button{
    border-radius: 5px !important;
}
#signature_section input[type="text"]{
    background: #fff;
}
#signature_section .text-input-bg{
    margin-right: 0px;
}
.style:before {
    content: "Upload Image" !important;
    text-decoration: underline;
    color: #666;
    cursor: default;
}
.imag_thumb img{
    height: 100%;
    max-width: 100%;
}
.field1{
    display: none;
}
.paperclip_field .style{
    border: none;
    margin-left: 83px;
}
.paperclip_field .style input[type="file"]:hover{
    color: #000 !important;
}

.change_image_style:before{
    content: "Change Image" !important;
}
.remove-field{
    position: absolute;
    left: 70px;
    top: 209px;
}
.remove-field a{
    text-decoration: underline !important;
    cursor: pointer;
}
.style.change_image_style{
    margin-left: 136px;
}
.header_addn{
    float: left;
    margin-top: 11px;
}
.header_addn input{
    float: left;
    margin-top: 0px;
    width: 16px;
    height: 15px;
    margin-right: 10px;
}
.with_border:last-child span{
    margin-right: 9px;
}
input[btn_type='change_image']:before{
    content: "Change Image" !important;
}