.hor_line{
    background-color: black;
    height: 1px;
    width: 452px;
    clear: both;
    margin: 10px 0 10px 0;
}
.submit_button {
    margin-top:15px;
    margin-left:150px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
.add_btn{
    background: none repeat scroll 0 0 transparent;
    color: #008800 !important;
    display: inline;
    float: none;
    font-size: 13px;
    height: 12px;
    margin-top: 15px;
    text-decoration: none;
    width: 100px;
}
.delete_btn{
    color:#9c0000 !important;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}
.label-field-pair-text-area{
    height:110px;
    padding-top:3px;
    float:left;
}

#formula_keys label,.label-field-pair-text-area label{
    color:#444444;
    display:block;
    float:left;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:10px;
    width:150px;
}
.textarea-input-bg {
    background:none repeat scroll 0 0 transparent;
    float:left;
}
.label-field-pair-text-area textarea {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    margin:5px 0 0 0;
    padding:5px;
    width: 277px;
    height: 40px;
    resize:none;
}
.label-field-pair-text-area textarea:focus{
    background:#FFFFFF;
    border: 1px solid #9E0F15;
}
.add_indicator{
    float: left;
    margin-top: 9px;
}
.info{
    float:left;
    margin-top:8px;
    margin-left: 25px;
}
.info a{
    text-decoration: none
}

.info_wrapper {
    position: relative;
    cursor: pointer;
    color: #919294;
}
.helper_info
{
    width: 320px;
    padding: 10px;
    display: block;
    background: #FFFFFF;
    border: 1px solid #B2B2B2;
    color: #666;
    text-align: left;
    font-size: 13px;
    float: right;
}
.info_wrapper:hover .helper_info {
    /*    opacity: 1;*/
}

.info_list{
    padding:8px;
    margin-left: 7px;
}
.head{
    font-weight: bold;
    padding-right: 10px;
}
.info_sub_list{
    margin-left: 15px;
}
.clear_space{
    padding: 9px;
}

.indicator_list{
    width: 560px;
    padding: 10px;
    margin-left: 210px;
    background: #FFFFFF;
    border: 1px solid #B2B2B2;
    pointer-events: none;
    color: #27292b;
    text-align: left;
    font-size: 13px;
    margin-bottom: 16px;
    margin-top: 23px;
    overflow: hidden;
}
.list_pair{
    padding: 5px;
}
.header{
    font-weight: bold;
    margin-left: 5px
}
.heading{
    font-weight: bold;
    margin-left: 5px;
    font-size: 15px;
    margin-bottom: 10px;
    color:#666;


}
.list_pair1{
    height: 21px;
    color :#666;
    margin-bottom: 10px;
}
.div_1{
    float: left;
    min-width: 220px;
    margin-left: 30px;
    margin-right: 40px;
}
.div_2{
    float:left;
    min-width:220px;
    margin-right:30px;
}
.sub_head{
    max-width: 200px;
    float: left
}
#formula_keys{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
#indicator_lists{
    display: block;
    width: 500px;
    float: left;
}
.indicator_list{
    width: 634px;
    padding: 10px;
    margin-left: 0px;
    background: #FFFFFF;
    border: 1px solid #B2B2B2;
    pointer-events: none;
    color: #27292b;
    text-align: left;
    font-size: 13px;
    margin-bottom: 16px;
    margin-top: 0px;
    overflow: hidden;
}
#calculation{
    float: left;
    width: 45%;
}
#text_area_info{
    float:left;
    width:100%;
    font-size: 11px;
    font-weight:normal;
    margin-left:150px;
    color:#666666;
}
#formula-fields{ float:  left; position: relative; width: 100%;height:300px;}
.formula_help{
    float: right;
    width: 378px;
    height: 303px;
    border: 1px solid grey;
    position: absolute;
    top: 20px;
    right: 130px;
}
.tabs {
    width:100%;
    display:inline-block;
}


.tab-links li {
    float:left;
    list-style:none;
}

.tab-links a {
    font-size:13px;
    color:#444;
}
.tab-links a:hover {
    color:#000;
}



li.active a, li.active a:hover {
    color:#f0f0f0;
    text-decoration:none;
}

.tab-content {
    border-radius:3px;
    background:#fff;
    width: 100%;
    font-size: 13px;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}
#link_tab1{
    width: 167px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 10px 10px;
}
#link_tab2
{
    float: left;
    width: 190px;
    text-align: right;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
    font-weight: normal;
    margin: 10px;
    margin-left:0px
}
.tab-content .name{
    width: 70%;
    float: left;
}

.tab-content .row{
    padding: 10px;
    border-bottom : 1px solid #f0f0f0;
    float: left;
    width: 100%;
}

.tab-content .section_header{
    padding: 10px;
    border-bottom : 1px solid #bfbfbf;
    font-weight:bold;

    float: left;
    width: 100%;
}

.tab-content #tab2{
    height: 262px;
    overflow-y: auto;
    overflow-x: hidden;
}
#cat-val-sec
{
    float: left;
}
.tab-active
{
    background-color: #E2E2E2;
    color: #666;
    border-bottom: 1px solid grey;

}
.tab-active a
{
    color: #818181;
}
#tab1
{
    width: inherit;
    height: 261px;
    overflow-y: auto;
}
#tab1 ul
{
    padding-left: 30px;
    margin-right: 20px;
}
#tab1 ul li{
    margin-bottom: 5px;
    line-height: 20px;
}
.code
{
    width: 30%;
    float:left;
}
#form_cond
{
    display: none;
}
div#add-icon {
    background-image: url(/images/iconsprite-1.png);
    background-position: -105px 42px;
    float: left;
    height: 10px;
    width: 10px;
    margin: 2px 4px 0 0;
}
.add_button_img {
    text-decoration: none;
    font-size: 13px;
    color: #00830C;
    float: left;
    margin-bottom: 20px;
}
div#add-text,Â div#add-text:hover {
    float: left;
    color: #00830C !important;
}
.header div
{
    float:left;
}
a#close-link
{
    background-image: url("/images/iconsprite-1.png");
    background-position: -31px 1px;
    float: right;
    height: 15px;
    width: 16px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}
a#close-link:hover {
    background-position: -31px -15px;
}
.formula_section .text-area-bg
{
    float: left;
    width: 325px;
}
.formula_section .text-input-bg
{
    height: auto;
}



div#MyText {
    height: 37px;
    padding: 9px;
    margin: 0;
    border: 1px solid #dcdcdc;
    overflow: hidden;
    resize: none;
    font-family: Arial;
    font-size: 13px;
    line-height: 17px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 25px;
    width: 100%;
}
.tick_symbol{
    background-position: 0 -360px !important;
}
.cross_button{
    float: left !important;
    margin: 2px 2px 0px 0px;
}
.validate_result .success-msg
{
    margin-top: 5px;
    color: green;
    width: 91% !important;
}
#loader{
    float: left;
    margin-top: 10px;
}
div.div_link {
    float: right;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
    color: #555;
}
div.div_link:hover{
    text-decoration: underline;
    color: black;
}
.formula_fields
{
    height:auto;
    float: left;
}
.formula_fields textarea
{
    float: left;
    margin-left: 10px;
    text-transform: uppercase;
}
.formula_fields #loader{
    margin: 10px 0 0 10px;
}
.validate_result .error-msg, .formula_fields .error-msg
{
    width: 240px;
}
.validate_result{
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    width: 260px;
}
.validate {
    width: 50px;
    word-break: break-all;
}
.formula_and_conditions_fields{
    float: left;
    padding-right: 148px;
    width: 452px;
}
#formula-fields{ float:  left; position: relative; width: 100%;}
#default_formula{ min-height: 320px;}

.add_button_img{
    background: none;
    height: auto;
    width: auto;
}
.default_condition_desc{
    font-size: 13px;
    color: grey;
    width: 100%;
    font-weight: normal;
    float: left;
    margin-top: 5px;
}
.tab-links{
    float: left;
    border-bottom: 1px solid #999;
    width:100%;
}



.by_average {
    width: 830px;
    height: 150px;
    border: solid 1px #cccccc;
    background-color: #f0f0f0;
    margin-top: 45px;
}

.by_credit_hours{
    width: 830px;
    height: 150px;
    border: solid 1px #cccccc;
    margin-top: 35px;
    background-color: #f0f0f0;
}

.label_field_pair{
    margin-top: 30px;
    width: 400px;
    float:left;

}


.by_credit_hours input, .by_average input{
    margin-left: 35px;
}

label{
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    float: left;
}

.average_example{
    font-size: 12px;
    margin-top: 40px;
    float:right;
    margin-right: 15px;

}

.credit_hour_example{
    font-size: 12px;
    margin-top: 40px;
    float: right;
    margin-right: 15px;
}
a {
    text-decoration: none;

}
.submit_button {
    margin-top:30px;
    margin-left:0px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}

.formula{
    color: #666666;
    margin-top: 68px;
}

.numerator{
    margin-left: 63px;
    width: 668px;
    font-size: 13px;
    padding-bottom: 5px;
}

.denominator{
    margin-left: 145px;
    font-size: 13px;
    padding-top: 5px;
}



.by_credit_hours .denominator{
    margin-left: 66px;
}

table{
    border-top: solid 1px #a3a3a3;
    border-left: solid 1px #a3a3a3;
    font-size: 13px;
    background-color: #f0f0f0;
    width: 675px;
    border-collapse:collapse

}

td{
    border-right: solid 1px #a3a3a3;
    border-bottom: solid 1px #a3a3a3;
    padding: 5px;

}

.header{
    font-weight: bold;
}

.cgpas{
    float: left;
    margin-bottom: 20px;
    font-size: 13px;
    width:100%;
}
.batch-wise{
    width: auto;
    padding-top:10px;
}

.course-wise{
    float:right;
    width:auto;
    padding-top: 10px;
}

#MB_frame #MB_header {
    border-bottom: 0px solid #CCCCCC;
    height: 30px;
}

#batch{
    margin-top: 65px;
}

.title{
    float: left;
    width:auto;

}

.val{
    float:left;
    font-weight: bold;
    font-size: 13px;
}

#MB_close{
    background: transparent !important;
    color: #a3a3a3 !important;
    outline: none;
}

#MB_window{
    margin-top: 10px;
}

#MB_frame{
    -webkit-border-radius: 0px;
}

#MB_content{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#MB_frame #MB_caption {
    margin-left: 20px;
    font-size: 17px;
}

#modal-box{
    margin-bottom: 40px;
}

h5 {
    margin-top: 35px;
    font-size: 14px;
}

.student_gender_value input{
    margin-top: 20px;
}
input[type="radio"] {
    float: left;
    margin-top: 1px !important;
}

a{
    outline: none;
}

.equ_line{
    font-size: 13px;
    margin-top: 15px;
    min-height: 14px;
    float: left;
    width:100%;
}
.equ_line .title{
    min-width: 31px;
    margin-top:8px;
}

.title_total .numerator{
    margin-left: 3px;
    width: 200px;
    font-size: 13px;
    padding-bottom: 5px;
    border-bottom: solid 1px #000;
}
.title_total .denominator{
    margin-left: 42px;
    font-size: 13px;
    padding-top: 5px;
}
.title_total{
    float: left;
}
#MB_frame{
    height:660px;
    overflow-y:auto;
}
.info_text_regular{
    float: left;
    width: 100%;
    font-size: 13px;
    margin-bottom: 15px;
}
.info_text_italic{
    float:left;
    width:100%;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 15px;
}
hr{
    float:left;
    width:100%;
    margin-top:25px;
}