#radio-buttons{
    margin:0;
}
#flash-box, .title, #descriptive_indicators, #observation_remarks{
    direction: ltr;
}

#submit-button input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    float:left;
    margin-top:35px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
}

#category-list {
    clear : both;
    /*    padding : 10px 0 40px 0px;
        width:570px;
        margin:0px auto;*/
    width:970px;
    margin:0 auto;
    background: #c3d9ff;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding:20px;
}

#category-list .listeven{
    background : #f1f6ff;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 33em;
    overflow: auto;
    list-style-type : none;
    padding : 0.5em 0 0 3em;
}

#category-list .listodd{
    background : #fff;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 33em;
    overflow: auto;
    list-style-type : none;
    padding : 0.5em 0 0 3em;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 0 0 5em;
}
#category-list li div {
    float : left;
}
#category-list li div.category-name {
    width : 350px;
    font-weight: bold;
    font-size:13px;
}
#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size : 0.9em;
    width : 88px;

}
#category-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}

p{
    font-size:13px;
}

.listheading {
    /*    background:none repeat scroll 0 0 #BECFFB;*/
    background-color: #fff;
    border-bottom:2px solid #BECFFB;
    color:#444444;
    height:1.5em;
    list-style-type:none;
    padding: 7px 0 0 20px;
    /*    width:528px;*/
}

.heading-name {
    width : 350px;
    font-size:14px;
    font-weight:bold;
    color: #990A10;
}
.heading-edit{
    font-weight: bold;
    font-size: 13px;
    width: 65px;
}


.label-field-pair-select-class {
    height:40px;
    padding-top:3px;
    width:500px;
    margin:0px auto;
}
.label-field-pair-select-class label {
    color:#444444;
    display:block;
    float:left;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:10px;
    width:200px;
}
#loader{
    padding-top:10px;
}


table{
    /*    width:970px;*/
    margin:0 auto;
    margin-top: 20px;
    background: #c3d9ff;
    /*    -moz-border-radius:10px;
        -webkit-border-radius:10px;*/
    padding:10px;
}
tr.tr-head{
    background: #fff;
    color:#b00;
    font-weight:bold;
    text-align:left;
}
.tr-head td{
    padding:5px 10px;
    color: #000;

}
.tr-odd{
    background: #fff;
    text-align:center;
    padding:50px;
    color:#27292b;
    font-weight:600;
    font-size:14px;
}
.tr-even{
    background: #f1f6ff;
    text-align:center;
    padding:50px;
    color:#27292b;
    font-weight:600;
    font-size:14px;
}
td.col-1, td.col-1 a{
    width:25%;
    padding: 5px;
    text-align:left;
    font-size : 13px;
    font-weight: normal;
}
td.col-2, td.col-2 a{
    width:40%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
    font-size : 13px;
    font-weight: normal;
}
td.col-3{
    width:20%;
    padding: 5px;
    font-size:13px;
    text-align: left;
    padding-left: 10px;
    font-weight: normal;
}
td.col-4{
    width:70%;
    text-align:left;
    padding: 5px;
    padding-left:20px;
    font-weight: normal;
}
td.col-5{
    width:30%;
    padding: 5px;
    font-weight: normal;
}
td a{
    text-decoration:none;
    color:#27292b;
}
td a:hover{
    color:#990a10;
    text-decoration:underline;
}
/*#page-yield
{
    width:650px;
}*/
.title{
    font-size: 13px;
    width: 900px;
    min-height: 25px;
}
.description{
    font-size: 13px;
    float: right;
    width: 80%;
}
.category-edit, .category-edit a:hover{
    font-size: 13px;
    text-decoration: none;
    font-weight: normal;

}
.submit_button {
    margin-top:20px;
    margin-left:210px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
#modal-box .submit_button{
    margin-left:75px;
}
.submit_button:hover{
    background:  #373B3F;
}
.text-input-bg1 {
    background: transparent;
    height: 28px;
    width: 163px;
    float: left;
}
.label-field-pair1 {
    height : 40px;
    width: 364px;
    padding-top: 3px;
    float: left;
}
.label-field-pair1 label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 0px 0;
    float:left;
    width:200px;
    padding-top: 10px;
    font-weight: 600;

}
.label-field-pair1 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width: 137px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.text-input-bg1 select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 215px;
    height:27px;
    padding:3px 6px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
.text-input-bg2 {
    background: transparent;
    height: 28px;
    width: 88px;
    float: left;
}
.label-field-pair2 {
    height : 40px;
    width: 24px;
    padding-top: 3px;
    float:left;
}
.label-field-pair2 label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 0px 0;
    float:left;
    width:200px;
    padding-top: 10px;
    font-weight: 600;

}
.label-field-pair2 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width: 137px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.text-input-bg2 select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width: 62px;
    height:27px;
    padding:3px 6px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
#show_in_report{
    min-width: 125px;
    float: left;
}
.label_for_di_calculation{
    float:left;
    margin-right:50px;
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: left;
    width: 200px;
    padding-top: 16px;
    font-weight: 600;
}
.di_formula{
    float: left;
    margin-top: 8px;
    margin-left: 5px;
    width: 245px;
    font-size: 14px;
}
.description a{
    margin-left:10px;
}
.di_formula_calculation{
    color:#666666;
}
.small_info{
    font-size: 12px;
    font-weight: normal;
    margin-left: 5px;
    float: right;
    width: 240px;
    margin-top: 15px;
    margin-right:25px;
}
#MB_frame .label-field-pair{
    width: 450px;
    float: left;
    height: auto;
    margin-bottom: 15px;
    margin-top: 0px;
    padding-top: 0px;

}
.disabled_info{
    float: right;
    font-size: 12px;
    color: #666;
    width: 222px;
    margin-top: 12px;
    margin-right: 15px;
}
#observation_remarks{
    float: left;
    width: 100%;
    margin-top: 50px;
}
#add_observation_remark{
    text-align: right;
    font-size: 13px;
    font-weight: normal;
    margin-top: -25px;
    margin-bottom: 30px;
}
#add_observation_remark a{
    color: #000;
}
#remarks_block_title{
    float: left;
    width: 80%;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;

}
#remarks_block_desc{
    width: 80%;
    font-size: 13px;
    color: #666666;
}
.text-area-bg {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent none repeat scroll 0 0;
    float:left;
    width:250px;
    /* height: 420px; */
}
.label-field-pair textarea {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #C6C6C6;
    /* margin:5px 0 0px 10px; */
    padding:5px;
    width:350px;
    /* height: 417px; */
}
.label-field-pair label#remark{
    width: 75px !important;
}