.assigned_batches_section{
    width: 405px;
    min-width: 405px;
    max-width: 405px;
    float: left;
    height: 350px;
    min-height: 350px;
    max-height: 350px;
    margin-top: 30px;
}

.select_all_section{
    margin-bottom: 20px;
    margin-left: 10px;
    width: 405px;
    min-width: 405px;
    max-width: 405px;
    float: left;
}

.select_all_section label{
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    color: #343434;
    margin-bottom: 5px;
}

.select_all_section input.checkbox{
    float: right;
}

#assigned_batches{
    width: 405px;
    min-width: 405px;
    max-width: 405px;
    background-color: #f1f1f1;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 1px solid #dcdcdc;
    height: 310px;
    max-height: 310px;
    min-height: 310px;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}

.assigned_batch{
    font-family: Arial;
    font-size: 13px;
    color: #484848;
    float: left;
    width: 405px;
    max-width: 405px;
    min-width: 405px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px;
}

.assigned_batch:hover{
    background-color: #dcdcdc;
}

.assigned_batch label{
    padding-left: 10px;
    padding-top: 10px;
    float: left;
}

.assigned_batches_check{
    padding-left: 10px;
    margin-top: 10px;
    float: left;
}

.buttons{
    width: 125px;
    min-width: 125px;
    max-width: 125px;
    height: 310px;
    min-height: 310px;
    max-height: 310px;
    float: left;
    margin-top : 70px;
}


.right a {
    background: url(/images/class_timing_sets/right.png);
    display: block;
    float: left;
    height: 38px;
    margin-left: 37px;
    margin-top: 106px;
    max-height: 38px;
    max-width: 49px;
    min-width: 49px;
    width: 49px;
}

.right a:hover{
    background: url(/images/class_timing_sets/right_hover.png);
}

.left a{
    background: url(/images/class_timing_sets/left.png);
    float: left;
    height: 38px;
    margin-left: 37px;
    margin-top: 20px;
    max-height: 38px;
    max-width: 49px;
    min-width: 49px;
    width: 49px;
}

.left a:hover{
    background: url(/images/class_timing_sets/left_hover.png);
}


.all_batches_section{
    width: 405px;
    min-width: 405px;
    max-width: 405px;
    float: left;
    height: 350px;
    min-height: 350px;
    max-height: 350px;
    margin-top: 30px;
}

#all_batches{
    width: 420px;
    min-width: 405px;
    max-width: 405px;
    background-color: #f1f1f1;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 1px solid #dcdcdc;
    height: 310px;
    max-height: 310px;
    min-height: 310px;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}

.all_batch{
    font-family: Arial;
    font-size: 13px;
    color: #484848;
    float: left;
    width: 405px;
    max-width: 405px;
    min-width: 405px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px;
}

.all_batch:hover{
    background-color: #dcdcdc;
}

.all_batch label{
    padding-left: 10px;
    padding-top: 10px;
    float: left;
}

.all_batches_check{
    padding-left: 10px;
    margin-top: 10px;
    float: left;
}

.necessary-field {
    color : #f00;
    font-size : 1.1em;
}


div#list_batches img#loader1 {
    margin-left: -474px;
    margin-top: 71px;
}

.text_display {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 210px;
    width: 205px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
    text-align: left;
    font-size: 13px;
    color: #000;
}
.checked_class{
    background-color: #dcdcdc;
}
#loader1{
    margin-left: -33px;
}
.label-field-pair label {
    width: auto !important;
}
.assigned_batch_head, .all_batch_head{
    font-weight: bold;
}
.assigned_batch_head:hover, .assigned_batch:hover,
.all_batch_head:hover, .all_batch:hover{
    background: transparent;
}
.assigned_batch_disabled label {
    margin-left: 19px;
    color: #999 !important;
}
.assigned_batch_head label{
    color: #666 !important;
}

.manage_batches_header {
    display: block;
    height: 50px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.manage_batches_header .timetable_label{
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
}
.manage_batches_header .timetable_range{
    font-size: 14px;
    float: left;
    margin-right: 20px;
    font-weight: bold;
}