<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% unless @batches.empty?  %>
  <table>
    <thead>
      <tr>
        <th id="student_label"><%=t('batch')%></th>
      </tr>
    </thead>
  </table>
  <div id="scrollable_table">
    <table>
      <% @batches.each do |b| %>
        <tr class="st_entry row_<%=cycle('odd','even')%>" id="<%=b.id%>">
          <td class="student_entry"> <%= b.full_name %></td>
        </tr>
      <%end%>
    </table>
  </div>
<% else %>
  <div class="list_name">
    <%= t("no_students_in_batch")  %>
  </div>
<% end %>
<script type="text/javascript">
  j('.st_entry').each(function(){
    j(this).click(function(){
      j.ajax({
        type: 'POST' ,
        url: "/student_records/individual_student_records",
        data : {
          batch_id : j(this).attr('id'),
          id: <%=@student.id%>
        },
        beforeSend : function(){
          j('#main_section_full').children().not('img').hide();
          j('#loader_1').show();
        },
        success : function() {
          j('#loader_1').hide();
          j('#main_section_full').children().not('img').show();
        }
      });
    });
  });
</script>

