<div id="course_list_parent"><span><%=t('course_text')%> - </span><div  id="course_name"><span> <%=@course.course_name%></span></div></div>
<div class="themed_text" id="edit_link"><%=t('change_course')%></div>
<%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: none" ) %>

<script type="text/javascript">
  j('#edit_link').click(function(){
    j(this).hide();
    j.ajax({
      type: 'GET' ,
      url: "/student_records/get_rg_courses_list",
      data : {
        id : <%=@record_group.id%>,
        course_id : <%=@course.id%>
      },
      beforeSend : function() {
        j("#loader").show();
      },
      success : function(data) {
        j('#show_course_select').html(data);
        j('#advance_time').addClass('margin_bottom_30');
        j('.hor_line').css('display','block');
        j("#loader").hide();
      }
    });
  });
</script>