<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%= stylesheet_link_tag 'jquery-ui_1.css' %>
<%= javascript_include_tag "sortable" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('student_records') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('student_list') %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%if params[:rg_id].present?%>
      <% breadcrumb :student_records_list_students_rg, [@batch,RecordGroup.find(params[:rg_id])],@current_user %>
    <%else%>
      <% breadcrumb :student_records_list_students, @batch,@current_user %>
    <%end%>

    <%= render_breadcrumbs  %>
  </div>
  <div class="left_section">
    <div id="course_name"><%=@batch.full_name%></div>
    <%if @current_user.admin? or @current_user.privileges.include?(Privilege.find_by_name('ManageStudentRecord'))%>
      <%if  params[:rg_id].present?%>
        <div id="edit_link"><%= link_to  "#{t('change_batch')}" ,:controller=>'student_records',:action=>"manage_student_records_for_course",:id=>@batch.course.id,:rg_id=>params[:rg_id]%></div>
      <%else%>
        <div id="edit_link"><%= link_to  "#{t('change_batch')}" ,:controller=>'student_records',:action=>"manage_student_records_for_course",:id=>@batch.course.id%></div>
      <%end%>
    <%else%>
      <div id="edit_link"><%= link_to  "#{t('change_batch')}" ,:controller=>'student_records',:action=>"manage_student_records"%></div>
    <%end%>
  </div>
  <div class="right_section"></div>
  <%if @all_students.present?%>
    <table id="student_details_table" class ="sortable" id="listing" width="100%" cellpadding="1" cellspacing="1" onload="sortables_init()">
      <tr>
        <th class="unsortable" style="display: none;"></th>
        <th id="name" data-sorting-type="natural_sort"><%=t('student_text')%></th>
        <th id="admno" data-sorting-type="natural_sort"><%=t('admission_no')%></th>
        <% if roll_number_enabled? %>
          <th id="roll_no" data-sorting-type="natural_sort"><%=t('roll_nos')%></th>
        <%end%>
        <th id="completed" class="unsortable"><%="#{t('completed')} %"%></th>
        <th id="action" class="unsortable"></th>
      </tr>

      <%@all_students.each do |s|%>
        <tr class="list_<%=cycle('odd', 'even')%>">
          <td style="display: none;"></td>
          <td><%=s.full_name%></td>
          <td><%=s.admission_no%></td>
          <% if roll_number_enabled? %>
            <td><%=@batch.is_active==true ? s.roll_number.present? ? s.roll_number : "-" : s.batch_students.last(:conditions=>{:batch_id=>@batch.id}).roll_number.present? ? s.batch_students.last(:conditions=>{:batch_id=>@batch.id}).roll_number : "-"%></td>
          <%end%>
          <td><%=params[:rg_id].present? ? s.completion(@batch.id,params[:rg_id]).to_i : s.completion(@batch.id).to_i%></td>

          <%if params[:rg_id].present?%>
            <%if s.student_records.all(:conditions=>{:batch_id=>@batch.id,:additional_field_id=>@record_group.records.collect(&:id)}).present?%>
              <td><%=link_to "#{t('edit_records')}",:controller=>'student_records',:action=>'new',:id=>s.id,:batch_id=>@batch.id,:rg_id=>params[:rg_id]%></td>
            <%else%>
              <td><%=link_to "#{t('add_records')}",:controller=>'student_records',:action=>'new',:id=>s.id,:batch_id=>@batch.id,:rg_id=>params[:rg_id]%></td>
            <%end%>
          <%else%>
            <%if s.student_records.all(:conditions=>{:batch_id=>@batch.id}).present?%>
              <td><%=link_to "#{t('edit_records')}",:controller=>'student_records',:action=>'new',:id=>s.id,:batch_id=>@batch.id%></td>
            <%else%>
              <td><%=link_to "#{t('add_records')}",:controller=>'student_records',:action=>'new',:id=>s.id,:batch_id=>@batch.id%></td>
            <%end%>
          <%end%>
        </tr>
      <%end%>
    </table>
    <%=will_paginate @all_students%>
  <%else%>
    <div class="no_entries"><%=t('no_students_in_batch')%></div>
  <%end%>
</div>