<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%content_for :head do%>
  <%= stylesheet_link_tag 'jquery-ui_1.css' %>
<%end%>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('student_records') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('new_text') %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%if params[:rg_id]%>
      <% breadcrumb :student_records_new_rg, [@student,Batch.find(params[:batch_id]),RecordGroup.find(params[:rg_id])]%>
    <%else%>
      <% breadcrumb :student_records_new, [@student,Batch.find(params[:batch_id])] %>
    <%end%>
    <%= render_breadcrumbs  %>
  </div>
  <div id="flash_box"></div>
  <div id="student_selector"><span><%=t('single_student')%></span><%=render :partial=>'student_list_select'%></div>
  <%unless params[:rg_id].present?%>
    <div id="record_group_selector"><span><%=t('show')%></span><%=render :partial=>'rg_list_select'%></div>
  <%end%>
  <div id="entire_form_sec">
    <%=render :partial=>'all_parts'%>
  </div>
</div>







