<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>



<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('create_exam') %></div>
  <div id="inner-tab-menu">
    <ul>
      <% if can_access_request? :course_wise_exams, :exam %>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('new_exam_group')}", {:controller => "course_exam_groups", :action => "new"} %></li>
      <% end %>
    </ul>
  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    <div class="label-field-pair">
      <label for="student_course"><%= t('course_text') %></label>
      <div class="text-input-bg" style="width: 250px;">
        <%= select :courses, :id,
          @courses.map {|b| [b.full_name, b.id]},
          {:selected=>params[:course_id].to_i,
          :include_blank =>"#{t('select_a_course')}"},
          {:onChange => "#{remote_function(:url => {:action => "list_tabs"},
          :with => "'course_id='+ value+'&batch_type=true'",
          :before => "Element.show('loader1')",
          :success => "Element.hide('loader1')"
          )}"} %>
        <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader1", :style =>"display: none;" ) %>
      </div>

    </div>
    <div id="update_batch">
      <%if params[:course_id].present?%>
        <%if @current_user.admin or @current_user.privileges.include?("ExaminationControl") or @current_user.privileges.include?("EnterResults")%>
          <%= render :partial=>'list_tabs' %>
        <%else%>
          <%=render :partial=>'list_batches'%>
        <%end%>
      <%end%>
    </div>
    <div class="extender"></div>
  </div>
</div>
<script type="text/javascript">
  function select_tab(e) {

    if (j(e).parent().hasClass( "selected" )){
      return false
    }else{
      j("li").removeClass("selected");
      j('#right-panel').hide();
      j('#tab_loader').show();
      j(e).parent().addClass("selected");
      j('#right-panel-loader').show();
      j('#right-panel-bottom').hide();
      return true;
    }
  }
</script>
