<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('create_exam_group_capital') %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%unless params[:from]=='batch'%>
      <% breadcrumb :course_exam_groups_new%>
    <%else%>
      <% breadcrumb :create_batch_wise_exam_group,@batch%>
    <%end%>
    <%= render_breadcrumbs  %>
  </div>
  <div id="flash">
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
  </div>
  <div id="error_display">
  </div>
  <div id="flash"></div>
  <div class="box">
    <div id="error_show_div"></div>
    <div id="exam_form_main">
      <div class="label-field-pair">
        <label for="student_course"><%= t('course_text') %>:
        </label>
        <div class="text-input-bg">
          <%= select :course_exam_groups,:course_id,
            @courses.map {|b| [b.full_name, b.id]},
            {:prompt => "#{t('select_a_course')}"},
            {:onChange => "#{remote_function(:url => {:action => "list_batches"},
            :with => "'course_id='+ value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')"
            )}"} %>
          <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
        </div>

      </div>
    </div>
    <div id="update_batch" style="width: 100%">
      <%=render :partial=>"multi_batches" unless @course_exam_group.nil?%>
    </div>
  </div>
</div>
<% if ((params[:course_exam_group] and params[:course_exam_group][:course_id]) or params[:batch_id] )%>
  <script>
    j('#errorExplanation').appendTo('#error_show_div');
  <%if  params[:batch_id].nil?%>
      j("#exam_form_main select").val(<%=params[:course_exam_group][:course_id]%>);
  <%else%>
      j("#exam_form_main select").val(<%=@course.id%>)
  <%end%>
  </script>
<%end%>
