div.r{
    float: left;
    margin-left: 553px;
}

#show_report
{
    margin-top: 150px;

}
table#listing {
 padding: 20px 20px 20px !important; 
    width:100% !important;
}
.detail{
    color: #000;
    font-weight: bold;
    text-align: right;
    padding-bottom: 35px; 
   }
.detail1{
    float:right;

}
.detail2{
    float:left;
    
}
.content1
{
    padding-right: 100px;
    height: 100px;

}
#button11{
    float:left;
    position: relative;
    right: 20px;
}
div.some
{
    overflow-x: auto;
    width:100%;
    background: #c3d9ff;
    border-radius: 10px;

}
table#listing .over{

    padding:0px;
    background: #fff;

}
.cent{
    text-align: center;
}

table#listing tr.tr-head{
    color:#000 !important;
}
table#listing .tr-head td {
    white-space: nowrap !important;
}
table#listing .tr-odd .pad
{
    padding: 5px !important;
    padding-right: 10px !important;
}
p.qwerty{
    display: none;
}
table#listing .tr-even .pad{
     padding: 5px !important;
    padding-right: 10px !important;
}
    .load
{
        position: relative;
    right: 120px;
    bottom:20px;
     display:none;
}
