
#page-yield {
    width:800px;
    margin: 0 auto;
    overflow: hidden;
}



.hor_line {
    background: none repeat scroll 0 0 #333333;
    float: right;
    height: 1px;
    margin-top: -10px;
    width: 800px;
}
.hor_line1{
    background: none repeat scroll 0 0 #000000;
    float: right;
    height: 1px;
    margin-top: -10px;
    width: 800px;
}
h2.heading{
    text-align: center;
    margin:5px;
}

#main_info h4{
    color: #555555;
    margin-top: 2px;
    font-weight: normal;
}

#main_info h2{
    margin-bottom: 2px;
    font-weight: normal;

}


.odd{
    height:auto;
    background: #EEEEEE;

}

.even{

    height:auto;
    background: #fff;


}
tr.even{
    border: 1px solid #ADACAB;
}

tr.odd{
    border: 1px solid #ADACAB;
}

.even td{

    padding: 12px 15px 12px 12px;
    border: 1px solid #ADACAB;
    border-left: 0px solid #fff;
    border-top: 0px solid #fff;

}

.odd td{
    padding: 12px 15px 12px 12px;
    border: 1px solid #ADACAB;
    border-left: 0px solid #fff;
    border-top: 0px solid #fff;

}

table#pdf-table{
    border-top: 1px solid #ADACAB;
    border-collapse:collapse
}


#page-extender{
    width:100%;
    height :300px;

}
#page-extender1{
    width:100%;
    height :500px;

}

.report{
    min-height: 1000px;
    margin: 0 auto;
}

#signature{
    text-align: left;
    width: 700px;
    margin: 0 auto;
    color: #999999;
    font-size: 18px;
}


#page-yield h2{
    text-align: center;
}

.col-pdf1
{color: #990A10;}

.page1 {
    width:800px;
    height: auto;
    page-break-after: always;
    page-break-inside: avoid;
    clear: both;
}
.page-break1{
    height: 20px;
    border: 1px solid #fff;
    width:800px;
    float: right;
}
.grand_total
{
    border-bottom: 1px solid #ADACAB;
}
.section1{
    page-break-before:always;
    text-align: center;
}
.row{
    float: right;
    width: 100%;
    text-align: center;
}
.page-blank{
    width: 100%;
    float: right;
}
.page_break{
    margin-top: 60px;
}
.serial-td{
    width:60px;
    min-width:60px;
    max-width:60px;
    overflow:hidden;

}
.name-td{
    width:auto;
    min-width:180px;
    max-width:180px;
    overflow: hidden;
}
.total-td{
    width:110px;
    min-width:110px;
    max-width:110px;
    overflow:hidden;
    word-break: break-all;
}


#main_info h4 {
    color: #555555;
    font-weight: bold;
    margin-top: 18px;
    float: right;
}
.info1 {
    float: right;
    margin-top: -10px;
    width: 800px;
}

.info-left {
    float: right;
}
.info-right {
    float: left;
}
