.submit_button {
    margin-top:20px;
    margin-right:180px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    float:right;
}
.submit_button:hover{
    background:  #373B3F;
}

.user_button {
    -webkit-border-radius:10px;
    -moz-border-radius:10px 10px 10px 10px;
    background:none repeat scroll 0 0 #27292B;
    text-decoration: none;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0 auto;
    padding:7px 10px;
    text-align:center;
    width:auto;
    margin-top:21px;
}
.user_button a{
    color:#fff;
    text-decoration: none;
}
.user_button:hover{
    background:  #373B3F;
}


#category-list {
    clear : both;
    padding : 10px 0px 40px 0;
    width:750px;
    margin:0px auto;
}

#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 670px;
    list-style-type : none;
    padding : 0.5em 5em 0 0;
}

#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 670px;
    list-style-type : none;
    padding : 0.5em 5em 0 0;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 600px;
    padding : 0.5em 5em 0 0;
}
#category-list li div {
    float : right;
}
#category-list li div.category-name {
    width:335px;
    font-weight: bold;
    font-size:13px;
}

#category-list li div.category-code {
    width : 100px;
    font-weight: bold;
    font-size:13px;
}

#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size : 0.9em;
    width : 50px;

}
#category-list li div.category-assign{
    font-size : 0.9em;
    width : 103px;
}
#category-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}


.add_sub a {
    color:black;
    text-decoration:underline;
    font-weight: bold;
    font-size: 14px;
    margin-right: 20px;
}

.add_sub a:hover{
    color:#bb0000;
    text-decoration: none;
}

.add_sub{
    margin-bottom: 5px;
}
#flash-box{
    float: right;
    width: 100%;
}

/*#page-yield {
    margin:0px 0;
}*/
