<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% content_for :head do  %>
  <%= stylesheet_link_tag 'exam/index.css' %>
<% end %>
<div id="content-header">
  <%= show_header_icon %>
  <h1>CCE Settings</h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'>Basic Settings</div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="box">

    <div class="link-box">
      <div class="link-heading"><%= link_to "CCE Grade Sets",:controller=>'cce_grade_sets' %></div>
      <div class="link-descr">Manage Grade sets and grades.</div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "CCE Exam Categories",:controller=>'cce_exam_categories' %></div>
      <div class="link-descr">Manage CCE Exam Categories</div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "CCE Weightages",:controller=>'cce_weightages' %></div>
      <div class="link-descr">Manage CCE Weightages.</div>
    </div>

    <div class="link-box">
      <div class="link-heading"><%= link_to "Assign Weightages",:controller=>'cce_weightages',:action=>"assign_weightages" %></div>
      <div class="link-descr">Assign Weightages to Classes.</div>
    </div>

    <div class="extender"></div>
  </div>
</div>

