<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% content_for :head do  %>
  <%= stylesheet_link_tag 'exam/index.css' %>
<% end %>
<div id="content-header">
    <%= show_header_icon %>
    <h1>CCE Settings</h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'>Co-Scholastic Settings</div>

</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs  %>
    </div>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>

    <div class="box">

        <% if permitted_to? :co_scholastic_remarks_settings ,:cce_report_settings %>
          <div class="link-box">
              <div class="link-heading"><%= link_to "Co-Scholastic Remarks Settings",:controller=>'observation_remarks',:action=>'co_scholastic_remark_settings'%></div>
              <div class="link-descr">Choose between custom remarks and auto-populated remarks</div>
          </div>
        <%end%>
        <div class="link-box">
            <div class="link-heading"><%= link_to "Co-Scholastic Items",:controller=>'observation_groups' %></div>
            <div class="link-descr"><%= "Manage Co-Scholastic items" %></div>
        </div>

        <div class="link-box">
            <div class="link-heading"><%= link_to "Assign Co-Scholastic Items",:controller=>'observation_groups',:action=>'assign_courses' %></div>
            <div class="link-descr"><%= "Assign Co-Scholastic items to classes" %></div>
        </div>
        <% if permitted_to? :cbse_co_scholastic_settings ,:cce_report_settings %>
          <div class="link-box">
              <div class="link-heading"><%= link_to "Observation Codes Settings",cbse_co_scholastic_settings_cce_report_settings_path %></div>
              <div class="link-descr">Set up the observation codes for the CBSE report</div>
          </div>
        <%end%>

        <div class="extender"></div>
    </div>
</div>

