.name {
    color: #999999;
    float: right;
    font-size: 13px;
    font-weight: bold;
    width: 200px;
}
.val {
    color: #BB0000;
    font-size: 13px;
    font-weight: bold;
    width: 400px;
}
.val span {
    color: black;
    margin-left: 12px;
}

.discount{
    margin-top: 30px;
    margin-bottom: 30px;
}

.particulars{
    margin-top: 30px;
}
.field-pair{
    float: right;
    height: auto;
    width: 100%;
}
table#listing td.col-3-2, table#listing td.col-4-2, table#listing td.col-10 {
    padding: 5px;
    padding-right: 10px;        
}
table#listing td.col-4-2 {
    width: 28%;
}
table#listing td.col-3-2 {
    width: 11%;
}
table#listing td.col-10 {
    width: 10%;
}