.max_width{
    width:100%;
}
.date_val1{
    width: 150px;
    height: 29px;
    padding: 0px 5px 0px 3px;
    float: right;
    margin-left: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-top:7px;
}
.half_width{
    width:50%;
}
.fleft{
    float:right;
}
.fright{
    float:left;
}
#student_details_table th{
    font-size: 14px;
    color: #333333;
    background: #eeeeee;
    line-height: 30px;
}
#student_details_table td{
    font-size: 13px;
    color: #333333;
}
table, th, td {
    border: 1px solid #cccccc;
    border-collapse: collapse;
}
#student_details_table th, #student_details_table td {
    padding: 3px 15px;
    text-align: right;
}
#student_details_table tr{
    line-height: 30px;
}

.list_odd{
    background-color: #ffffff;
}
.list_even{
    background-color: #f5f5f5;

}
.pagination{
    margin-top:20px;
    float:right;
    margin-left:0px;
    min-width: 158px;
    height: 33px;
    border: 1px solid #CCC;
    border-right: 0px;
    margin-bottom: 20px;
}
.pagination span{
}

.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-right: 1px solid #CCCCCC !important;
    border-bottom: 1px solid #CCCCCC !important;
    font-size: 14px !important;
    display: block;
    float: right;
    padding: 0px;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 13px;


}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: right;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 14px;
    color:#666 !important;
    text-decoration: none !important;
    padding-bottom: 9px;
    padding-top:8px;
    border-right:1px solid #ccc;
    text-transform: none !important;
}
.pagination .prev_page{
    display: block;
    float: right;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 14px;
    border-left: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    padding-bottom: 9px;
    padding-top:8px;
    font-weight: normal !important;
    text-transform: none !important;
}
.pagination .current{
    display: block;
    float: right;
    padding-left: 5px;
    font-size: 14px;
    color:#fff !important;
    background-color: #666666;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 13px;
}
.pagination .next_page{
    display: block;
    float: right;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 14px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
    text-transform: none !important;


}
.pagination .gap{
    display: block;
    float: right;
    border-right:1px solid #cccccc;
    color:#666;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 9px;
    padding-left: 9px;


}
#student_items{
    width:980px;
    border-left:1px solid #e5e5e5;
    overflow-x: scroll;
}
#student_details_table{
    width:1600px;
    border-left:0px;
}
#receipt_no{
    width:60px;
}
.width_max{
    width:400px;
}
.width_min{
    width:200px;
}
td a{
    text-decoration: none;
    color: #333;
}
td a:hover{
    text-decoration: underline;
    color: #333;
}
#search_submit{
    background-color: #eeeeee;
    border: 1px solid #999999;
    cursor: pointer;
    padding: 7px 10px;
    margin-left: 10px;
    float: right;
    color: #000000;
}
#search_receipt_no_as{
    width: 180px;
    height: 29px;
    padding: 0px 5px 0px 3px;
    float: right;
    margin-left: 20px;
    border: 1px solid #ccc;
}
.change_date{
    margin-left:30px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
    padding-top: 10px;
    text-decoration: underline;
}
#start_date_label,#end_date_label,#to_text{
    margin-left:10px;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    padding-top: 10px;
}
#day_count{
    margin-left:10px;
    font-size: 14px;
    color: #333333;
    margin-right: 50px;
    padding-top: 10px;
}
.time_span{
    width:45%;
}
.margin_bottom_20{
    margin-bottom: 20px;
}
.margin_bottom_30{
    margin-bottom: 30px;
}
.margin_top_4{
    margin-top: 4px;
}
#loader {
    float: left;
    margin: -15px 20px 0 0px;
}
.right_20_margin{
    margin-left:20px;
}
.common_detail{
    font-size: 14px;
    color: #666666;
    margin-top: 15px;
    text-decoration: underline;
    cursor: pointer;
}
#months_6{
    margin-left: 40px;
}
.no_entries{
    float: right;
    background-color: #eeeeee;
    width: 98%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.margin_40{
    margin-right: 40px
}
.hor_line{
    width:100%;
    background: #999;
    height: 1px;
    margin-bottom:30px;
    float:right;
    display:none;
}
.small_vertical_line{
    float: right;
    width: 1px;
    height: 47px;
    background: #999;
    margin-left: 40px;
    margin-top: -10px;
}
.indi_sec{
    float: right;
    width: 100%;
    min-height: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.indi_sec input[type="text"],.indi_sec select{
    width: 150px;
    height: 29px;
    padding: 0px 5px 0px 3px;
    float: right;
    margin-left: 5px;
    border: 1px solid #ccc;
    background-color: #fff
}
.indi_sec select{
    width: 183px;
}
.label_section{
    float: right;
    font-size: 14px;
    margin-left: 30px;
    margin-top: 20px;
    color:#333;
    margin-right: 30px;
    font-weight: normal;
}
.hor_line1{
    width:100%;
    background: #ccc;
    height: 1px;
    float:right;
}
.dark_hor_line{
    width:100%;
    background: #666;
    height: 1px;
    float:right;
}
.cal_label{
    float: right;
    margin-top: 5px;
    width: 100%;
    margin-bottom: 10px;
    color:#333;
    font-size: 14px;
}
.width_220{
    width:220px;
}
.query{
    margin-top: 15px;
    margin-right: 20px;
    width: 170px !important;
}
.addl_59{
    margin-left: 59px;
}
.no_margin{
    margin-right:0px !important;
}
.addl_45{
    margin-right:43px !important;
}
.addl_30{
    margin-right:30px !important;
    margin-top:20px;
    margin-bottom:20px;
}
.tb{
    margin-top: 15px;
    margin-right: 2px;
    width: 170px !important;
}
#MB_header{
    webkit-border-radius: 0px !important;
}
#MB_content{
    padding:0px;
}
.autocomplete{
    width: 173px !important;
    display: block;
    border: 1px solid rgb(153, 153, 153);
    font-size: 13px;
    padding-right: 5px;
    line-height: 20px;
    height: 135px;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
    position: fixed;
}
.advance_search a{
    margin-left: 30px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: underline;
    float: right;
}
/*.calendar_date_select{
    position: absolute !important;
    left: 707px !important;
    top: 132px !important;
}*/
#other_details{
    float:right;
}
.label_for_gender{
    color: #333;
    font-size: 14px;
    margin-right: 45px;
}
input#query.query.tb.MB_focusable{
    margin-right: 50px;
}
#search_payment_mode_equals{
    margin-right: -3px;
}
.tb addl_45 MB_focusable{
    margin-right:45px !important;
}
#search_user_name_equals{
    margin-right:30px;
}
#MB_frame #MB_caption {
    padding: 20px 30px 0 0;
}
.tooltip_wrapper {
  /*position: absolute;*/
}
.search-sep {
    float: right;
    width: 1px;
    height: 47px;
    background: #999;
    margin-right: 18px;
    margin-top: -10px;
}
.total_amount_div{
    float: left;
    height: 30px;
    margin-top: 20px;
    font-size: 15px;
}
.amount_label{
    margin-right: 10px;
    font-weight: bold;
}