.label-field-pair{
    width: 460px;
}
#left-side-inputs{
    width: 460px;
    float: right;
}
#batchs{
    float: left;
    height: 243px;
    width: 460px;
}
#batchs .batch_select_box{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE;
    border:1px solid #C6C6C6;
    height: 241px;
    width: 453px;
    padding-right: 5px;
}
.each_batch{
    font-size: 12px;
    overflow:auto;
    width:100%;
}
.sel-list {
    margin-bottom: 2px;
    width: 257px;
}
.fee_category_scroll {
    height: 200px;
    margin: 0;
    overflow: auto;
    width: 100%;
}
.submit_button {
    margin-top:15px;
    margin-right:111px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
#loader {
    padding-top: 5px;
}
.label_field_pair label {
padding-top: 10px;
display: block;
color: #444;
margin-bottom: 10px;
font-size: 14px;
font-weight: 600;
}
.student_gender_value {
float: right;
margin-right: 15px;
padding-top: 5px;
width: 300px;
}
.label_field_pair label.label_for_gender {
font-weight: normal;
display: inline;
}
.label_field_pair {
width: 600px;
height: 40px;
padding-top: 3px;
}
.fine-mode{
    width:200px;
    float:right;
}
#link {
    float: right;
    margin-top: 15px;
    width: 100px;
}
#link a {
    background: none repeat scroll 0 0 transparent;
    color: #008800;
    display: inline;
    float: none;
    font-size: 13px;
    height: 12px;
    margin-top: 15px;
    text-decoration: none;
    width: 100px;
}
.list_btn{
    text-decoration:none;
    float:left;
    padding:8px;
/*    background-image: url(/images/discipline/delete_2.png);*/
    background-repeat:no-repeat;
    margin-top:-45px
}


#page-yield div#link a:hover{
    color: #008800 !important;
}
