.submit_button {
    text-decoration: none;
    margin-top:15px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit-btn{
    width:170px;
    height:40px;
    margin-right:260px;
    margin-top: 15px;
}
.submit_button:hover{
    background:  #373B3F;
}

.box{
    width:535px;
    margin:0px auto;
}
.label-field-pair label {
    width: 250px;

}
.bread_crumb {
 margin-right: 10px;
}
.user_button
{
    margin-top: 0;
}

