.set_float{
    float:right;
}
.set_button_align{
    margin-top: 10px;
    margin-left: 0px !important ;
}
.set_button_align2{
    margin-top: 10px;
    margin-left: 30px !important ;
}
.set_cancel_button_align{
    margin-right: 10px;
    margin-top: 8px !important;
}
.date_box input[type="text"] {
    width: 171px !important;
}
.set_separte_div_margin{
    margin-left: 16px;
    margin-right: 13px;
}
.bottom_div_date_filter{
   float: left;
   margin-top: 19px;
   margin-left: 29px;
}
.date_box .user_set_date div{
    padding-right: 0px !important;
}
#hide_date_filter {
    margin-left: -28px !important;
}
