/* Finance tax module : tax settings */
h3 {
    font-size: 16px;
    color: #444;
    font-weight: bold;
}
.description {
    font-size: 13px;
    padding-top: 10px;
    color: #A5A5A5;
    width: 100%;
    margin-bottom: 10px;
}
.label-field-pair label {
    padding-top: 5px;
    line-height: 30px;
    color: #333333;
    font: 400 14px / 30px Arial;
}
.margin-bottom-80{
    margin-bottom: 80px;
}
.submit-button {
    margin: 20px 0 0 20px;
    font-size: 13px;
    padding: 7px 35px;
}