#header{
    font-weight: bold;
    font-size: 16px;
    margin-top: 40px;
    color: #444;
}
#description{
    color: grey;
    font-size: 13px;
    margin: 20px 0px 20px 0px;
}
table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    margin-bottom: 20px;
}
td{
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}
#page-yield table .tr-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important
}
tr{
    border-bottom: 1px solid #bfbfbf;
}
table a, #page-yield table a:hover {
    color: black !important;
    text-decoration: none;
}
#popup_window
{
    width: 690px;
    top: 40px;
    float: right;
}
#popup_frame .part {
    width: 610px;
}
#popup_content #description{margin-top : 0px;}
#popup_content .label-field-pair{
    float: right;
    width: 100%;
    margin-bottom: 20px;
}
#popup_content .label-field-pair label {
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
}
#popup_content .text-input-bg input{
    margin-right: 0;
    -webkit-border-radius: 0;
    width: 400px;
}
#popup_content .text-input-bg textarea{
    resize: none;
    -webkit-border-radius: 0;
    width: 400px;
    height: 60px;
}
#popup_content{
    padding-right: 0px !important ;
    padding-left: 0px !important;
}
#popup_footer{
    padding-right: 40px;
    padding-left: 40px;
    border-top: 1px solid #c6c6c6;
    float: right;
    width: 610px;
    padding-top: 20px;
}
#grading_profile_form{
    float: right;
    padding-right: 40px;
    padding-left: 40px;
}
#popup_content{width: 690px !important;}
.fieldWithErrors textarea{border: 1px solid #9c0000 !important;}
.wrapper {
    margin-top: 5px;
    margin-right: 0 !important;
    min-width: 300px !important;
}
#popup_content .error-msg{width: 231px;}
.pagination {
    margin-top: 20px;
    margin-left: 0px;
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-right: 0px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-right: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: right;
    font-weight: normal;
    padding: 9px 15px 9px 13px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-right:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: right;
    padding: 9px 15px 9px 13px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: right;
    border-right:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}
td.name{width: 40%;}
td.grades_count{width: 15%;}
td.type{width: 30%;}
td.action{width: 15%;}
#credit_points label{font-weight: normal !important}
#credit_points #description{ margin-bottom: 10px}
#enable_credit_points input{
    width: 15px !important;
    float: right;
    margin-top: 9px;
    margin-left: 10px;
}
#enable_credit_points label{
    width: 200px !important;
}
.grade_type{
    float: right;
    width: 50%;
}
.grade_type input{
    float: right;
    width: 14px;
    margin-right:  0px;
    margin-top: 10px;
    margin-left: 10px;
}
.grade_type label{
    width: auto !important;
    float: right;
    max-width: 280px;
}
.grade_type #description{
    float: right;
    margin-right: 24px;
    margin-bottom: 10px;
}