#header{
    font-weight: bold;
    font-size: 16px;
    margin-top: 40px;
    color: #444;
}
.ativity_box{
    padding: 10px;
}
.ativity_box .header{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}
.details{
    display: table;
    font-size: 13px;
    margin-top: 30px;
}
.details .details_strip{
    padding: 8px 0px 8px 0px;
    /*display: inherit;*/
    margin-bottom: 15px;
}
.details .details_strip .label{
    display: table-cell;
    min-width: 200px;
    color:#666;
    float:right;
}

.details .details_strip .field{
    max-width: 500px;
    float: right;
    line-height: 1.5;
}
.details .details_strip .edit_field{
    float:right;
    margin-right: 10px;
    margin-top: 3px;
    font-size: 12px;
}
.edit_field a{
    color: #666;
}
#page-yield .edit_field a:hover {
    color: #000 !important;
}
.bold{
    font-weight: bold;
}
hr{
    margin: 30px 0px 30px 0px;
}

.activities{
    display: table;
}
.activities .activity_strip{
    padding: 5px 0px 5px 0px;
    display: inherit;
    font-size: 13px;
}
.activities .activity_strip.head{
    margin-bottom: 10px;
}
.activities .activity_strip .label{
    min-width: 150px;
    float: right;
}
.activities .activity_strip .score{
    min-width: 120px;
    max-width: 120px;
    float: right;
}
.activities .activity_strip .pass {
    min-width: 25px;
    float: right;
    padding-left: 25px;
}
.activities .activity_strip .field{
    max-width: 500px
}
.activities #add-text{
    margin-top: 30px;
    font-size: 13px;
    color: #999;
}
.add_button_img{
    text-decoration: none;
}
.submit-button{
    margin-right: 0px;
    color: white;
    background: black;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 3px;
}
.cancel-button{
    text-decoration: none;
    margin-right: 10px;
}
#page-yield .cancel-button:hover {
    color: #fff !important;
}
.activities .activity_strip .field{
    width:500px;
    position: relative;
    float: right;
}
.activities .activity_strip .label input{
    width: 120px;
}
.activities .activity_strip .score input{
    width: 90px;
}
.activities .activity_strip .pass input{
    width: 15px;
    margin-top: 8px;
}
.activities .activity_strip .field input{
    width:95%;
}
.activities .activity_strip input{
    padding: 5px;
    box-sizing: border-box;
    float: right;
}
.remove_field{
    background: white;
    background-image: url(/images/iconsprite-1.png);
    background-position: -31px 1px;
    float: left;
    height: 16px;
    width: 14px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: 0;
    margin-top: 5px;
    left: 20px;
    top: 18px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
}
div#add-text:before {
    content: '+';
    margin-left: 8px;
}

#popup_window
{
    width: 690px;
    top: 40px;
    float: right;
}
#popup_frame .part {
    width: 610px;
}
#popup_content #description{ margin-top : 0px}
#popup_content .label-field-pair{
    float: right;
    width: 100%;
    margin-bottom: 20px;
}
#popup_content .label-field-pair label {
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
}
#popup_content .text-input-bg input{
    margin-right: 0;
    -webkit-border-radius: 0;
    width: 400px;
}
#popup_content .text-input-bg textarea{
    resize: none;
    -webkit-border-radius: 0;
    width: 400px;
    height: 60px;
}
#popup_content{
    padding-right: 0px !important ;
    padding-left: 0px !important;
}
#popup_footer{
    padding-right: 40px;
    padding-left: 40px;
    border-top: 1px solid #c6c6c6;
    float: right;
    width: 610px;
    padding-top: 20px;
}
#popup_content{width: 690px !important;}
#description{
    color: grey;
    font-size: 13px;
    margin: 20px 0px 20px 0px;
}
#grading_profile_form{
    float: right;
    padding-right: 40px;
    padding-left: 40px;
}
.fieldWithErrors textarea{border: 1px solid #9c0000 !important;}
#popup_content .wrapper {
    margin-top: 5px;
    margin-right: 0 !important;
    min-width: 300px !important;
}
#popup_content .error-msg{width: 231px;}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 100%;
    float: right;
}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 100%;
    float: right;
}
#credit_points label{font-weight: normal !important}
#credit_points #description{ margin-bottom: 10px}
#enable_credit_points input{
    width: 15px !important;
    float: right;
    margin-top: 9px;
    margin-left: 10px;
}
#enable_credit_points label{
    width: 200px !important;
}
.grade_type{
    float: right;
    width: 50%;
}
.grade_type input{
    float: right;
    width: 14px;
    margin-right:  0px;
    margin-top: 10px;
    margin-left: 10px;
}
.grade_type label{
    width: auto !important;
    float: right;
    max-width: 280px;
}
.grade_type #description{
    float: right;
    margin-right: 24px;
    margin-bottom: 10px;
}
.wrapper {
    margin-top: 6px;
    margin-right: 0 !important;
    float:right;
}
.score .error-msg{
    float: none !important;
}
.error-msg{
    float: right;
    color: red;
    font-size: 13px;
    font-style: italic;
}
.error-icon{
    width: 15px;
    height: 12px;
    background: url(/images/iconsprite-1.png);
    background-position: -42px -344px;
    margin-left: 2px;
    float: right;
    margin-top: 1px;
}