/* Finance tax module : tax slab index */
.tax_slabs-icon{
    background-position: 0px -279px !important;
}

/* copied */
.actions a, #page-yield .actions a:hover, #page-yield .actions a:hover{
    color: black !important;
}

#page-yield .pagination a:hover {
    color: #333 !important;
}

.header{
    font-weight: bold;
    font-size: 16px;
    color: #444;
}

.description{
    font-size: 13px;
    margin: 20px 0px 30px 0px;
    color: #A5A5A5;

}

table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
}

tr{
    border-bottom: 1px solid #bfbfbf;
}

td{
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}

.tax_slabs_listing{
    margin-top: 30px;
    margin-bottom: 30px;
}

.tax_slabs_listing table .tr-head{
    font-weight: bold;
    background-color: #e8e8e8;
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
}

td.slab_name{
    width: 25%;
    padding-right: 20px;
}

td.slab_desc{
    width: 40%;
}

td.slab_rate{
    width: 10%;
}

td.actions{
    width: 25%;
    line-height: 20px;
}
#page-yield table a, #page-yield table .small-strike{
    color : #666 !important;
    text-decoration: none;
    float: right;
    margin-left: 30px;
}
#page-yield table a:hover{
    text-decoration: underline;
    color: black !important;
}
#page-yield table .small-strike {
    text-decoration: line-through;
}
/** tax slab create/edit form **/
#popup_window {
    width: 690px;
    top: 40px;
    float: right;
}
#popup_frame .part {
    width: 610px;
}
#popup_content {
    padding-right: 0px !important;
    padding-left: 0px !important;
    width: 690px !important;
}
#popup_footer {
    padding-right: 40px;
    padding-left: 40px;
    /*border-top: 1px solid #c6c6c6;*/
    float: right;
    width: 610px;
    padding-top: 20px;
}
.part #popup_footer {
    border-top: 1px solid #c6c6c6;
}
#tax_slab_form {
    float: right;
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 40px;
    width: 610px;
}

#description {
    color: grey;
    font-size: 13px;
    margin: 20px 0px 20px 0px;
    margin-top: 0px;
}
#popup_content p{
    padding: 0px 40px;
    width: 610px;
}
#popup_content .label-field-pair {
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 0px;
}
#popup_content .label-field-pair:last-child {
    height: 72px;
    margin-bottom: 0px;
}
#popup_content .label-field-pair label {
    /*width: 100%;*/
    width: 150px;
    margin-bottom: 10px;
}
#popup_content .text-input-bg input {
    margin-right: 0;
    -webkit-border-radius: 0;
    width: 400px;
}
#popup_content .text-input-bg textarea {
    resize: none;
    -webkit-border-radius: 0;
    width: 400px;
    height: 60px;
}
#popup_content .error-msg {
    width: 231px;
}
.wrapper {
    margin-top: 5px;
    margin-right: 0 !important;
    min-width: 300px !important;
}