<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
    <%css_path = (rtl?) ? 'observation_groups/show.css' : 'observation_groups/show.css'%>
    <%= stylesheet_link_tag(css_path) %>
    <%= show_header_icon %>
    <h1>Descriptive Indicators</h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'>Descriptive Indicators</div>
    <div id="inner-tab-menu">
        <ul>
            <li class='themed_bg themed-dark-hover-background'>
                <% if @observation %>
                  <%= link_to_remote "#{t('new_indicator')}", :url => {:action=>"new", :controller=>"descriptive_indicators",:observation_id => @observation.id, :sort_order=>@sort_order },:method=>:get %>
                <% elsif @fa_criteria %>
                  <%= link_to_remote "#{t('new_indicator')}", :url => {:action=>"new", :controller=>"descriptive_indicators",:fa_criteria_id => @fa_criteria.id, :sort_order=>@sort_order },:method=>:get %>
                <% end %>
            </li>
        </ul>
    </div>

</div>
<div id="page-yield">
    <% if @observation %>
      <div class="bread_crumb">
          <% breadcrumb :descriptive_indicators_index, @observation%>
          <%= render_breadcrumbs  %>
      </div>
    <% elsif @fa_criteria %>
      <div class="bread_crumb">
          <% breadcrumb :descriptive_indicators_fa_index, @fa_criteria%>
          <%= render_breadcrumbs  %>
      </div>
    <% end %>
    <% if @observation %>
      <div id="flash-box">
          <% unless flash[:notice].nil? %>
            <p class="flash-msg"> <%= flash[:notice] %> </p>
          <% end %>
      </div>
      <div class="title"><%= t("name_text") %>
          <div class="description">:&nbsp;&nbsp;&nbsp;<%= @observation.name %></div>
      </div>
      <div class="title"><%= t("description_text") %>
          <div class="description">:&nbsp;&nbsp;&nbsp;<%= @observation.desc %></div>
      </div>
    <% elsif @fa_criteria %>
      <div id="flash-box">
          <% unless flash[:notice].nil? %>
            <p class="flash-msg"> <%= flash[:notice] %> </p>
          <% end %>
      </div>
      <div class="title"><%= t("fa_name") %>
          <div class="description">:&nbsp;&nbsp;&nbsp;<%= @fa_criteria.fa_name %></div>
      </div>
      <div class="title"><%= t("description_text") %>
          <div class="description">:&nbsp;&nbsp;&nbsp;<%= @fa_criteria.desc %></div>
      </div>
    <% end %>
    <div id="descriptive_indicators">
        <%= render  :partial=>'descriptive_indicators' %>
    </div>
    <%unless @fa_criteria%>
      <div id="observation_remarks">
          <%= render  :partial=>'observation_remarks/observation_remarks' %>
      </div>
    <%end%>
    <div id="modal-box" style="display:none;"></div>
</div>
