.hor_line {
    background: #ccc none repeat scroll 0 0;
    float: right;
    height: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}
#main-section, #search-section {
    float:right;
    width:100%;
}
.top-info {
    float:right;
    width:100%;
    font-size:14px;
    color:#444;
}
.course-name, .applicant-count,.course-name label, .applicant-count label {
    float:right;
}
.course-name label, .applicant-count label {
    margin-left: 15px;
}
.amount-collected {
    float:left;
    width:300px;
}
.course-name {
    width:450px;
}
.amount-collected label{
    float:left;
    margin-right:15px;
}
#inner-tab-menu ul {
    margin: 33px 0 0 !important;
}
.user_button1 {
    background-color: #eee;
    border: 1px solid #999;
    color: #000;
    cursor: pointer;
    float: right;
    font-size: 13px;
    padding: 6px 10px;
    text-decoration: none;
    margin-right:10px;
}
#search-section{
    font-size:13px !important;
}
#search-top-section{
    float:right;
    width:100%;
}
#search-box{
    float:right;
    width:auto;
}
#search-box .label-field-pair {
    width:217px;
    float:right;
    padding-top:0px;
    height:auto;
}
#search-box .label-field-pair input {
    margin: 0 !important;
    font-size: 13px;
    background:none;
}
.page-link {
    color: #000;
    float: right;
    font-size: 13px;
    margin-right: 10px;
    text-decoration: underline;
    margin-top:7px;
}
#date-show-box {
    float:left;
}
#date-show-box label {
    float:right;
    margin-top:7px;
}
.bold-black{
    color:#000;
    font-weight:bold;
    margin-right:2px;
}
#date_box {
    background-color: #f5f5f5;
    box-sizing: border-box;
    float: right;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    height:auto;
    margin-bottom:0px;
    border: 1px solid #c6c6c6;
}
.date_box .set_fixed_range a {
    color: black;
    font-size: 13px;
    margin-left: 20px;
    text-decoration: underline;
}
.date_box .set_fixed_range {
    display: inline;
    float: right;
    margin-top: 16px;
    width: auto;
}
.date_box .set_border {
    margin-top:0;
    height:50px;
}
.date_box .user_set_date {
    display: inline;
    float: right;
    margin-top: 0px;
    width: auto;
}
.date_box input[type="text"] {
    background-color: #ffffff;
    border: 1px solid #c6c6c6;
    height: 29px;
    width: 125px;
}
.filter-buttons {
    float:left;
    width:auto;
    margin-top:8px;
}
.filter-buttons .user_button1{
    font-size:13px;
    float:right;
    margin-left:0px;
    margin-right:20px;
}
.date_box .user_set_date div {
    padding-right: 20px;
    width:160px;
    float:right;
}
.date_box .user_set_date div label {
    font-size:13px;
    color:#444;
    float:right;
}
#result-section, #status-list, #list-section {
    float:right;
    width:100%;;
}
#result-section {
    margin-top:20px;
}
.each-status {
    float:right;
    padding:10px;
    z-index:2;
    position:relative;
    font-size:13px;
}
.each-status a{
    text-decoration:none;
    color:#000;
    float:right;
}
.selected-status{
    border-top: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    border-left: 1px solid #c6c6c6;
    border-bottom: 1px solid #fff;
}
#applicants-div {
    width:100%;
    float:right;
    max-height:500px;
    margin-top:0px;
    border: 1px solid #a3a3a3;
    overflow:auto;
}
.desc-div {
    width:100%;
    box-sizing:border-box;
    padding:10px;
    margin-top:10px;
    margin-bottom:10px;
    float:right;
    color:#666;
    font-size:13px;
}
#buttons-div, .operation-section{
    float:right;
    width:100%;
    margin-top:20px;
}
#buttons-div .user_button{
    font-size:13px;
    margin-top:0px;
}
.right-float{
    float:left;
    margin-left:0px;
    margin-right:20px;
}
.operation-section label{
    float:right;
    font-size:13px;
    color:#444;
}
.vertical-pair{
    float: right;
    margin-right: 30px;
    width: 160px;
}
#allocation-div .vertical-pair {
    width:230px;
    margin-left:30px;
}
#allocation-div .vertical-pair select {
    width:230px;
}
.vertical-pair label{
    float:right;
    color:#666;
}
.vertical-pair select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    height: 28px;
    margin: 5px 0 0;
    padding: 3px 6px;
    width: 160px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size:13px;
}
.check-label-pair label{
    color: #444;
    float: right;
    margin-right: 5px;
    margin-top: 2px;
    font-weight:bold;
}

.check-label-pair input[type='checkbox']{
    float:right;
    margin-right: 0;
}
.check-label-pair{
    float: right;
    margin-top: 10px;
    width: 200px;
}
.desc-label{
    color: #444;
    float: right;
    font-size: 14px !important;
    margin-top: 25px;
}
#allocation-div .desc-label {
    margin-top:12px;
}
.operation-section .user_button{
    margin-top:20px;
    font-size:13px;
}
#allocation-div .user_button{
    margin-top:5px;
}
.main-header{
    width:100%;
    float:right;
    margin-bottom:30px;
    font-size:16px;
    font-weight:bold;
    color:#444;
}
#status_id {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    font-size: 13px;
    height: 28px;
    margin: 0 50px 0 0;
    padding: 3px 6px;
    width: 160px;
    float:left;
}
.gray_table_list {
    border:none !important;
}