table#listing .tr-odd {
    font-weight: normal;
}
table#listing .tr-even {
    font-weight: normal;
}
.col{
    font-size: 13px;
    width: 170px;
    float: right;
}
.col2{
    font-size: 13px;
    width: 210px;
    float: right;
    padding-left: 30px;
}

.col-label {
    float: right;
    margin-top: 4px;
    width: 245px;
}
.col2 .col-label{
    width: 40px;
    float: right;
}

.text-input-bg {
    background: none repeat scroll 0 0 transparent;
    float: none;
    height: 28px;
    width: 455px;
}
.text-input-bg2 {
    background: transparent;
    height: 28px;
    width: 160px;
    float: right;
}
.text-input-bg2 input[type="text"]{
    width: 130px;
    float: right;
}
.text-input-bg select {
    background-color: #EEE;
    border: 1px solid #C6C6C6;
    margin: -3px 5px 0 0;
    width: 100px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.text-input-bg2 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : -3px -5px 0 0;
    width : 130px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.filter{
    width: 800px;
    padding-bottom: 20px;
}
.submit_button {
    margin-top: -2px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}



.label-field-pair input {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 17px;
    margin: -5px 10px 0 0;
    padding: 5px;
    width: 155px;
}

.submit_button:hover{
    background:  #373B3F;
}
.row{
    width: 900px;
    padding-top: 10px;
    font-size: 13px;
}
.label{
    width: 105px;
    float: right;
}
.calendar_date_select_popup_icon{
    float: left;
}
.sbutton{
    margin-top: -2px;
}


.submit_1 {
    margin-right: 262px;
    margin-top: -2px;
}
.user_button1 {
    background-color: #eee;
    border: 1px solid #999;
    color: #000;
    cursor: pointer;
    float: left;
    font-size: 13px;
    padding: 5px 10px;
    text-decoration: none;
    margin-top:-1px;
}
#search{
    width:210px;
    font-size:13px;
}
.desc-area{
    width:100%;
    float:right;
    margin-bottom:30px;
}
.desc-text{
    width:60%;
    float:right;
    font-size:13px;
}
.search-form{
    float:left;
    width:40%;
}
.text-input-bg{
    width: auto !important;
    height: auto !important;
    float:left;
}
.label-field-pair{
    width:auto !important;
    height:auto !important;
    float:left;
}
.label-field-pair input{
    margin: -5px 10px 0;
}
#inner-tab-menu ul{
    margin:33px 0 0 !important;
}
.m_box{
    width: 100%;
    float: right;
    margin-top: -5px;
    margin-bottom: 15px;
}
.fee_category_scroll1 {
    -moz-background-inline-policy: continuous;
    -webkit-background-inline-policy: continuous;
    /*    background: none repeat scroll 0 0 #EEEEEE;*/
    border: 1px solid #C6C6C6;
    min-height: 130px;
    max-height: 200px;
    overflow: auto;
    width: 300px;
    margin-top: -4px;
    height: auto !important;
    margin-right: 10px;
    float: right;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-top:30px;
}
.each_batch {
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    box-sizing: border-box;
    font-size: 12px;
    overflow: auto;
    padding: 4px;
    width: 100%;
}
.each_batch label{
    word-break: break-word;
    float: right;
    font-size: 13px;
    margin-right: 3px;
    margin-top: -40px;
    width: 250px;
}
.each_batch input{
    float:right;
    margin-top:3px;
}
.sel_batches{
    background-color:#eeeeee;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    float: right;
    font-size: 13px;
    padding: 7px 10px;
    width: 100%;
}
/*span{
    float: left;
    margin-top: 3px;
}*/
.hor_line{
    width:100%;
    background: #ccc;
    height: 1px;
    margin-bottom: 15px;
    float:right;
    margin-top: 20px;
}
.special_prop{
    font-size: 13px !important;
    font-weight: normal !important;
}
.no_margin_top{
    margin-top:2px !important;
}
#submit_button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin-right:15px;
    float:right;
}
#submit_button:hover{
    background:  #373B3F;
}
#delete_msg {
    float: right;
    font-size: 13px;
    width: 100%;
    font-weight: normal;
    color: #666;
    line-height: 18px;
    padding-right:15px;
    padding-left:15px;
    box-sizing:border-box;
}
#MB_content{
    padding:0 !important;
}
#MB_window{
    min-width:600px !important;
}
#MB_frame #MB_caption{
    padding: 20px 15px 0 0;
}
p.flash-msg{
    margin-bottom:30px;
}
.mbox-form{
    box-sizing: border-box;
    float: right;
    margin-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
#MB_frame .mb_input_row{
    float:right;
    margin:10px 0;
}
#MB_frame .mb_input_row input{
    width:200px;
    font-size:13px;
    margin-top:0px;
}
#MB_frame .mb_input_row select{
    padding:3px 6px;
    font-size:13px;
    width:213px;
    height:29px;
    margin-top:0px;
}
#MB_frame .mb_input_row label{
    font-size:13px;
    padding-top:6px;
}
.text-input-bg input[type="checkbox"] {
    float: right;
    margin-right: 7px !important;
    margin-top: 4px !important;
    width: auto !important;
}
.gray_table_list tr td a {
    text-decoration:underline !important;
}
.set_border_right a{
    margin-left:15px;
}