<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<% unless @batches.present? %>
  <ul id ="category-list">
      <div class="category-name">
          <li class="listodd"> <%= t('no_active_batches_found') %> </li>
      </div>
  </ul>
<% else %>
  <ul id="category-list">
      <% @batches.each do |batch| %>
        <div class="category_list">
            <li class="list<%=cycle('odd', 'even')%>">
                <div class="category-name"><%=batch.full_name%></div>
                <div class="category-batch-transfer"><%= link_to "#{t('batch_transfer')}", :controller => 'batch_transfers', :action => 'show', :id => batch %></div>
                <div class="category-edit"><%= link_to "#{t('graduation')}", :controller => 'batch_transfers', :action => 'graduation', :id => batch %></div>
            </li>
        </div>
      <% end %>
  </ul>
<% end %>
<script type="text/javascript">
  j('.listodd').parent().css('background','#DFEAFF');
  j('.listeven').parent().css('background','#EEF2FD');
  
  
  
</script>