body {
    font-family:Arial;
    margin:0;
    padding:0px;
}
.extender {
    height:1px;
    clear:both;
}
#header {
    width : 980px;
    height : 80px;
    margin:0 auto;
}
#header_link {
    color : #fff;
    height : 22px;
    float: left;
    font-size : 0.8em;
    padding : 10px 0 0 0;
}
#outer-main-menu {
    float: right;
    margin: 20px 0 0 0;
}
#outer-header-link{
    height: 32px;
    width: 100%;
    float: left;
}
#header a {
    text-decoration:none;
    color:#fff;
    text-decoration:underline
}

/* Top menu style */

#main-menu {
    float : right;
    height : 27px; width : 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#main-menu li.a{
    float: right;
}
#main-menu li a {
    background : #fff;
    color : #b00;
    display : block;
    font-size : 0.8em;
    float : right;
    height : 17px; width : auto;
    margin : 6px 0 0 5px;
    padding : 5px 10px 0 10px;
    text-align : center;
    text-decoration : none;
}
#main-menu li a:hover {
    text-decoration : underline;
}
#main-menu li ul.level-1{
    margin: 0;
    padding: 0;
    width : 160px;
    list-style-type: none;
    position: absolute;
    top: 80px;
    z-index: 999;
    visibility : hidden;
    border : 1px solid black;
    border-bottom-width : 0;
    font: normal 0.9em Arial;
    line-height: 18px;
    background: #b00 url(../../images/application/bg_pattern.png) repeat;
}
#main-menu li:hover ul.level-1{
    visibility: visible;
}
#main-menu li ul.level-1 li{
    width: 100%;
    overflow: hidden;
}
#main-menu li ul.level-1 li a{
    width: 100%;
    display: block;
    text-indent: 3px;
    border-bottom: 1px solid black;
    padding: 2px 2px 2px 3px;
    text-decoration: none;
    text-indent: 0;
    background: none;
    color: #ffffff;
    width: 155px;
    font-size: 13px;
    text-align: right;
    margin: 0;
    float: right;
    height: auto;
}
#main-menu li ul.level-1 li a:hover{
    background: #000000;
    text-decoration: none;
}
#main-menu li ul.level-1 li ul.level-2{
    margin: -1px 0 0 0;
    padding: 0;
    position: absolute;
    right: 160px;
    top: auto;
    visibility: hidden;
    width: 160px;
    list-style-type: none;
    z-index: 999;
    border : 1px solid black;
    border-bottom-width : 0;
    font: normal 0.9em Arial;
    line-height: 18px;
    background: #b00 url(../../images/application/bg_pattern.png) repeat;
}
#main-menu li ul.level-1 li:hover ul.level-2{
    visibility: visible;
}
#main-menu li ul.level-1 li ul.level-2 li{
    width: 100%;
    overflow: hidden;
}
#main-menu li ul.level-1 li ul.level-2 li a{
    width: 100%;
    display: block;
    text-indent: 3px;
    border-bottom: 1px solid black;
    padding: 2px 2px 2px 3px;
    text-decoration: none;
    text-indent: 0;
    background: none;
    color: #ffffff;
    width: 155px;
    font-size: 13px;
    text-align: right;
    margin: 0;
    float: right;
    height: auto;
}
#main-menu li ul.level-1 li ul.level-2 li a:hover{
    background: #000000;
    text-decoration: none;
}
#main-menu li ul li span.right-arrow{
    float:left;
    font-size: 12px;
    padding-left: 2px;
}

p.flash-msg {
    background-color : #fff1ab;
    padding : 5px;
    font-weight: bold;
    border:1px solid #EFDF95 ;
    text-align : center;
}

/* Content header for all pages */

#content-header {
    height:150px;
    background:#fff url(../../images/examination/header_underline.jpg) bottom no-repeat;
}
#content-header img {
    width:90px;/*height:80px;*/
    margin:0;
    border:0;
    padding:30px 25px 0 0;
    float:right;
}
#content-header h1 {
    margin:0px;
    padding:40px 150px 0 0;
    color:#999;
    display:block;
}
#content-header h3 {
    margin:0px;
    padding:0 150px 0 0;
    color:#b00;
}
#app-back-button {
    float:left
}
#app-back-button a {
    margin:0;
    padding:0;
    float:left
}
#app-back-button a img {
    height:37px;
    margin:0;
    padding:0;
    width:138px;
}

#page-yield {
    margin : 40px 0;
}

/* News block */

#news_feed {
    width:157px;
    margin:0 auto;
    background:#fff url(../../images/fedena_user/dashboard/news_feed_bg.jpg) repeat;
}
#news_feed small {
    padding-top:0px;
    color:#b00;
}
#news_feed_top_img {
    background: url("../../images/fedena_user/dashboard/dash_news_top.jpg") no-repeat scroll 0 0 #FFFFFF;
    color: #000000;
    display: block;
    font-weight: bold;
    height: 34px;
    margin: 25px auto 0;
    padding-right: 52px;
    padding-top: 2px;
    text-decoration: none;
    width: 105px;
}

#bottom_read_more {
    background: url("../../images/fedena_user/dashboard/news_feed_more_link.jpg") no-repeat scroll 0 0 #FFFFFF;
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    font-weight: bold;
    height: 36px;
    margin: 0;
    padding-right: 40px;
    padding-top: 8px;
    text-decoration: none;
    width: 117px;
}

.language {
    float: left;
    width: 110px;
}
.language select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0px 0 0;
    width : 100px;
    height:27px;
    padding:3px 6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}

#news_feed_bottom_img a {
    display:block;
    height:28px;width:157px;
    text-indent:-2000px;
}

.sidebar_news_item0 {
    margin-right:5px;
    padding:10px;
    background-color:#fff;
    width:127px;
}
.sidebar_news_item1 {
    margin-right:5px;
    padding:10px;
    background-color:#ddd;
    width:127px;
}
.sidebar_news_item0 h5,
.sidebar_news_item1 h5 {
    margin:0;padding:0;
}
.sidebar_news_item0 h5 a,
.sidebar_news_item1 h5 a {
    text-decoration:none;color:#222;
}

#sidebar_news_area {
    float:right;
}

/* For google chrome */

input[type="text"],
input[type="password"],
textarea,
select
{
    outline: none;
}

/* Default class for drop down menus */
.anylinkmenu {
    position : absolute;
    right : 0;
    top : 0;
    margin : 0;
    visibility : hidden;
    border : 1px solid black;
    border-bottom-width : 0;
    font: normal 0.9em Arial;
    line-height: 18px;
    z-index: 100; /* zIndex should be greater than that of shadow's below */
    background: #b00 url(../../images/application/bg_pattern.png) repeat;
    width: 125px; /* default width for menu */
}

.anylinkmenu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.anylinkmenu ul li a{
    width: 100%;
    display: block;
    text-indent: 3px;
    border-bottom: 1px solid black;
    padding: 2px 0;
    text-decoration: none;
    text-indent: 5px;
}
.anylinkmenu a {
    color : #fff;
}
.anylinkmenu a:hover { /*hover background color*/
    background: black;
    color: white;
}

/* Alternate multi-column class for drop down menus */

.anylinkmenucols {
    position: absolute;
    width: 350px;
    right: 0;
    top: 0;
    visibility: hidden;
    border: 1px solid black;
    padding: 10px;
    font: normal 12px Verdana;
    z-index: 100; /*zIndex should be greater than that of shadow's below*/
    background: #E9E9E9;
}
.anylinkmenucols li {
    padding-bottom: 3px;
}
.anylinkmenucols .column {
    float: right;
    padding: 3px 8px;
    margin-left: 5px;
    background: #E0E0E0;
}
.anylinkmenucols .column ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.anylinkshadow {
    display : none;
}

/* Form styling */

.label-field-pair {
    float : right;
    height : 80px;
    width : 250px;
}
.text-input-bg {
    background : transparent;
    height : 28px;
    width : 230px;
}
.label-field-pair label {
    color : #444;
    display : block;
    font-weight : bold;
    margin : 0 0 10px 0;
}
.label-field-pair input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 10px 0 0;
    width : 205px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.text-input-bg select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 10px 0 0;
    width : 215px;
    height:27px;
    padding:5px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
.label-checkbox-pair {
    float : right;
    padding : 30px 10px 0 0;
    width : 250px;
}

/* Validation error messages */

.fieldWithErrors{
    border : 2px solid #b00;
    height : 25px; width : 225px;
}
.errorExplanation {
    background-color : #ffb1b1;
    border : 1px solid #b00;
    height : auto; width : 510px;
    margin : 20px 50px 40px 0;
    padding : 10px 20px 20px 0;
}
.errorExplanation h2 {
    margin : 0;
    font-size : 1em;
    font-weight : normal;
    padding : 0;
}
.errorExplanation p {
    margin : 5px 0 0 0;
}

/* Inner tab menu */

#inner-tab-menu {
    height : 1.5em;
    margin : 0;
    padding : 0;
}
#inner-tab-menu ul {
    float : left;
    margin : 0 0 0 10px;
    padding : 0;
}
#inner-tab-menu ul li {
    background-color : #9d0e00;
    color : #fff;
    float : right;
    font-size : 0.9em;
    height : 1.5em;
    list-style-type : none;
    margin : 0 10px 0 0;
    padding : 0;
    text-align : center;
    width : 100px;
}
#inner-tab-menu ul li a {
    color : #fff;
    text-decoration : none;
}

#footer_logo a.footer-logo{
    display:block;
    float:left;
    height:66px;
    margin-top:-55px;
    width:210px;
    background: url(/images/footer-logo.png) no-repeat 0 0 transparent;
}

#footer_logo a.footer-logo:hover {
    background: url(/images/footer-logo.png) no-repeat -210px 0 transparent;

}
#powered_by a {
    font-size:14px;
    text-decoration:none;
}
#powered_by a:hover {
    font-size:14px;
    text-decoration:underline;
}

#news_bar{
    width: 100%;
    /*    height: 67px;*/
    overflow: hidden;
    margin: 20px 0 0 0;
}
#news_bar .news_box{
    width: 313px;
    height: 66px;
    background: url(/images/application/note-bg.png) no-repeat;
    float: right;
    margin: 0 20px 0 0;
}
#news_bar .news_box.first-news{
    margin: 0;
}
#news_bar .news_box .news-title{
    width: 283px;
    margin: 12px 15px 5px 0;
}
#news_bar .news_box .news-title a{
    width: 313px;
    font-size: 13px;
    color: #c80000;
    font-weight: bold;
    text-decoration: none;
}
#news_bar .news_box .news-title a:hover{
    text-decoration: underline;
}
#news_bar .news_box .news-time{
    float: right;
    color: #666666;
    margin: 0 15px 0 0;
}
#news_bar .news_box .comments-count{
    float: left;
    color: #666666;
    margin: 0 0 0 15px;
    padding: 0 20px 0 0;
    background: url(/images/application/chat.png) no-repeat right;
}
#news_bar .news_box .comments-count a{
    color: #666666;
    text-decoration: none;
}
#news_bar .news_box .comments-count a:hover{
    text-decoration: underline;
}





body {
    font-family:Arial;
    margin:0;
    padding:0px;
}
.extender {
    height:1px;
    clear:both;
}
#header_bg {
    height : 40px;
    /*    position: fixed;*/
    /*    top: 0;*/
    width: 100%;
    z-index: 10;
    position:fixed;
    /*    background : #9c0000 url(../../images/application/bg_pattern.png) repeat;*/
}
.header_content {
    width : 980px;
    margin:0 auto;
    overflow:hidden;
}

#upper-menu-div {
    width:980px;
    margin:0 auto;
    top:35px;
    position:absolute;
    /*    padding-top:25px;*/
    /*    padding-bottom:25px;*/
    z-index:20;
    /*    height:100px;*/
    background-color:#f1f1f1;
    box-shadow:0 0 4px 0 #333333;
}
#outer-nav-div {
    height:51px;
    width:100%;
    border-bottom:1px solid #ffffff;
}
#upper-nav-div {
    height:50px;
    width:100%;
    background-color:#e6e6e6;
    border-bottom:1px solid #cccccc;
}
#sep-div {
    height:20px;
    width:100%;
}
#lower-link-div {
    height:240px;
    padding-bottom:20px;
    /*    padding-top:20px;*/
    padding-right:10px;
    overflow-y:auto;
    overflow-x:hidden;
    /*    border-top:1px solid #ffffff;*/
    background-color:#f1f1f1;
}
#inner-left-menu {
    float:right;
    width:180px;
    border-left:1px solid #cccccc;
    /*    border-right:1px solid #cccccc;*/
    /*    margin-top:25px;
        margin-bottom:25px;*/
    height:290px;
}
#menu-inner{
    float:right;
}
#inner-left-menu a.left-links{
    font-weight:bold;
    font-size:15px;
    display:block;
    text-decoration:none;
    color:#989898;
    margin-right:25px;
    margin-bottom:25px;
}
#inner-left-menu a.left-links:hover,#inner-left-menu a.inner-left-menu-active{
    color:#333333;
}
#inner-right-menu {
    float:right;
    min-height:290px;
    overflow-y:auto;
    overflow-x:hidden;
    position:relative;
    width:798px;
    /*    margin-top:25px;
        margin-bottom:25px;*/

}
#right-inner-div {
    float:right;
    margin-right:60px;
    /*    height:220px;*/
    width:738px;
    overflow-y:auto;
    overflow-x:hidden;
    position:relative;
}
.less-height {
    height:265px;
}
.more-height {
    height:290px;
}
#save-link {
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 13px;
    height: 15px;
    margin-right:25px;
    padding: 5px 10px;
    text-decoration: none;
}
#menu-cancel {
    margin-right:10px;
}
.right-bottom-text {
    border-top: 1px solid #CCCCCC;
    color:#666666;
    font-size:13px;
    float:right;
    margin-right:60px;
    padding-top:9px;
    width:675px;
}
.parent-link{
    float:right;
    width:205px;
    margin-bottom:10px;
    position:relative;
}
.parent-link:hover {
    background-color:#ffffff;
    box-shadow:0px 2px 1px #cccccc;
}
.parent-link-area {
    float:right;
    width:195px;
    padding-top:10px;
    padding-right:5px;
    padding-left:5px;
}
.parent-text{
    float:right;
    margin-right:20px;
    min-height:17px;
    padding-top:3px;
    /*    width:180px;*/
    margin-bottom:10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 155px;
    overflow:hidden;
}
.child-link{
    float: right;
}
.brown-square {
    background-color:#333333;
}
.link-icon {
    height:20px;
    width:20px;
    float:right;
    background: url(/images/iconsprite-1.png) no-repeat center;
}
/* icon classes for each link */
.student-icon {
    background-position: 1px -200px;
}
.attendance-icon {
    background-position: -20px -200px;
}

.mini_audit-icon{
    background-position: -140px -280px !important;
}
.finance-icon {
    background-position: 0px -279px;
}
.timetable-icon {
    background-position: -80px -220px;
}
.event-icon {
    background-position: -39px -260px;
}
.examination-icon {
    background-position: 0px -260px;
}
.news-icon {
    background-position: -20px -260px;
}
.user-icon {
    background-position: -20px -280px;
}
.settings-icon {
    background-position: -21px -220px;
}
.applicant-icon {
    background-position: -40px -200px;
}
.blog-icon {
    background-position: -59px -201px;
}
.calendar-icon {
    background-position: -60px -240px;
}
.collaborate-icon {
    background-position: -60px -280px;
}
.import-icon {
    background-position: -60px -220px;
}
.report-icon {
    background-position: -120px -280px !important;
}
.export-icon {
    background-position: -40px -240px;
}
.data-imports-icon {
    background-position: -20px -240px;
}
.data-management-icon {
    background-position: -80px -240px;
}
.discipline-icon {
    background-position: -60px -260px;
}
.doc-manager-icon {
    background-position: -80px -260px;
}
.email-icon {
    background-position: -80px -280px;
}
.galleries-icon {
    background-position: -80px -200px;
}
.google-docs-icon {
    background-position: 0px -220px;
}
.hostel-icon {
    background-position: 0px -240px;
}
.inventory-icon {
    background-position: -100px -200px;
}
.library-icon {
    background-position: -100px -220px;
}
.online-payment-icon {
    background-position: -100px -240px;
}
.placement-icon {
    background-position: -100px -280px;
}
.profile-icon {
    background-position: -100px -300px;
}
.poll-icon {
    background-position: -20px -300px;
}
.task-icon {
    background-position: 0px -300px;
}
.leaves-icon {
    background-position: 0px -320px;
}
.academics-icon {
    background-position: -20px -320px;
}
.transport-icon {
    background-position: -100px -260px;
}
.discussion-icon {
    background-position: -40px -300px;
}
.hr-icon {
    background-position: -60px -300px;
}
.fedena_auto_updater-icon {
    background-position: -100px -320px !important;
}
.remarks-icon{
    background-position: -140px -260px !important;
}
.student_records-icon,.record_groups-icon,.records-icon{
    background-position: -160px -220px !important;
}
.alerts-icon
{
    background-position: -143px -321px !important;
}
.batches-icon{
    background-position: -120px -240px !important;
}
.tc_templates-icon{
    background-position: -160px -240px !important;
}

.box-check {
    height:13px;
    width:13px;
    float:right;
    background: url(/images/iconsprite-1.png) no-repeat center;
    margin-top:4px;
}
.sub-box-check {
    height:13px;
    width:13px;
    float:right;
    margin-top:1px;
    background: url(/images/iconsprite-1.png) no-repeat center;
}
.img-0 {
    background-position:-23px -183px;
}
.img-1 {
    background-position:-43px -183px;
}
.img-2 {
    background-position:-3px -183px;
}
.parent-link a{
    font-size:13px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    color:#333333;
    background-color:#ffffff;
}
/*.parent-link a:hover{
    color:#9c0000;
}*/
.child-link-text{
    font-weight:normal !important;
    padding-right:20px;
    padding-left:20px;
    padding-top:4px;
    height:19px;
    font-size:13px;
    white-space: nowrap;
    min-width:80px;
    border-bottom:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
    color:#666666;
}
.child-link-text:hover{
    color:#ffffff;
    background-color:#9c0000;
}
.sub-link-text{
    float:right;
    margin-right:10px;
    color: #333333;
    font-size: 13px;
    width:137px;
}
.child-link a{
    color: #666666;
    font-size: 13px;
    display:block;
    text-decoration:none;
    font-weight:normal;
}
.nav-button{
    float:left;
    margin-left:10px;
    cursor:pointer;
}
.child-link-box {
    overflow-x:hidden;
    overflow-y:auto;
    width:auto;
    /*    max-height:165px;*/
    /*    background-color:#ffffff;*/
    border-top:1px solid #CCCCCC;
    position:absolute;
    z-index:2;
    display:table;
    table-layout:fixed;
    padding-bottom:3px;
    /*    max-height:205px;*/
}
.child_cols {
    width:auto;
    height:auto;
    display:table-cell;
}
/*#child_col_1 {
    float:right !important;
}*/
.arrow-left{
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position: -124px -179px;
    /*    margin-left:-22px;*/
    width:13px;
    height:21px;
    position:absolute;
    z-index:3;
}
.arrow-right{
    /*    margin-left:15px;*/
    width:11px;
    height:19px;
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position: -103px -179px;
    position:absolute;
    z-index:3;
}
.parent-label {
    float:right;
    cursor:pointer;
}
.plain-text-label {
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    float:right;
}
.check-text-pair {
    margin-bottom:15px;
    width:160px;
    float:right;
}

.menu_cols {
    float:right;
    width:220px;
    margin-left:20px;
}
#col_3 {
    margin-left:0px !important;
}
/*#col_2 {
    padding-left:20px;
}*/
.bottom-buttons {
    width:180px;
    float:right;
    margin-top:179px;
    /*    position:absolute;*/
    /*    margin-left:-240px;*/
}
.button-link{
    background: url("/images/grey-gradient.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #b3b3b3;
    border-radius:3px;
    display: block;
    float: left;
    font-size: 13px;
    font-weight:normal;
    height: 15px;
    margin-left: 10px;
    margin-top:13px;
    padding: 4px 15px !important;
    text-decoration: none;
    color: #666666;
    cursor: pointer;
    margin-bottom:0;
}

.nav-links{
    margin-top:10px;
    float:right;
    margin-right:10px;
    padding-right:10px;
    padding-left:10px;
    padding-top:12px;
    padding-bottom:11px;
    text-decoration:none;
    display:block;
    font-size:13px;
    color:#333333;
    border-top:1px solid #E6E6E6;
    border-right:1px solid #E6E6E6;
    border-left:1px solid #E6E6E6;
}
.nav-links-active{
    background-color:#f1f1f1;
    border-top:1px solid #cccccc;
    border-right:1px solid #cccccc;
    border-left:1px solid #cccccc;
    border-bottom:3px solid #f1f1f1;
}
.nav-links:hover{
    background-color:#f1f1f1;
    border-top:1px solid #cccccc;
    border-right:1px solid #cccccc;
    border-left:1px solid #cccccc;
    /*    border-bottom:1px solid #f1f1f1;*/
    padding-bottom:11px;
}
.right-float{
    float:left;
}

#header_bottom {
    background-color:#9c0000;
    height:35px;
    border-top: 1px solid #df2020;
}


#header a {
    text-decoration:none;
    color:#fff;
    text-decoration:underline
}

.language {
    float: left;
    width: 110px;
}
.language select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0px 0 0;
    width : 100px;
    height:27px;
    padding:3px 6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}
#outer-main-menu {
    float: right;
    margin: 20px 0 0 0;
}
#outer-header-link {
    height: 32px;
    width: 100%;
    float: left;
}

#header_link {
    color: #FFFFFF;
    float: left;
    font-size: 13px;
    height: 35px;
    padding: 0;
}

/* Top menu style */

#main-menu {
    float : right;
    height : 27px; width : 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#main-menu li.a{
    float: right;
}
#main-menu li a {
    background : #fff;
    color : #9c0000;
    display : block;
    font-size : 0.8em;
    float : right;
    height : 17px; width : auto;
    margin : 6px 0 0 5px;
    padding : 5px 10px 0 10px;
    text-align : center;
    text-decoration : none;
}
#main-menu li a:hover {
    text-decoration : underline;
}
#main-menu li ul.level-1{
    margin: 0;
    padding: 0;
    width : 160px;
    list-style-type: none;
    position: absolute;
    top: 80px;
    z-index: 999;
    visibility : hidden;
    border : 1px solid black;
    border-bottom-width : 0;
    font: normal 0.9em Arial;
    line-height: 18px;
    background: #9c0000 url(../images/application/bg_pattern.png) repeat;
}
#main-menu li:hover ul.level-1{
    visibility: visible;
}
#main-menu li ul.level-1 li{
    width: 100%;
    overflow: hidden;
}
#main-menu li ul.level-1 li a{
    width: 100%;
    display: block;
    text-indent: 3px;
    border-bottom: 1px solid black;
    padding: 2px 2px 2px 3px;
    text-decoration: none;
    text-indent: 0;
    background: none;
    color: #ffffff;
    width: 155px;
    font-size: 13px;
    text-align: right;
    margin: 0;
    float: right;
    height: auto;
}
#main-menu li ul.level-1 li a:hover{
    background: #000000;
    text-decoration: none;
}
#main-menu li ul.level-1 li ul.level-2{
    margin: -1px 0 0 0;
    padding: 0;
    position: absolute;
    right: 160px;
    top: auto;
    visibility: hidden;
    width: 160px;
    list-style-type: none;
    z-index: 999;
    border : 1px solid black;
    border-bottom-width : 0;
    font: normal 0.9em Arial;
    line-height: 18px;
    background: #9c0000 url(../images/application/bg_pattern.png) repeat;
}
#main-menu li ul.level-1 li:hover ul.level-2{
    visibility: visible;
}
#main-menu li ul.level-1 li ul.level-2 li{
    width: 100%;
    overflow: hidden;
}
#main-menu li ul.level-1 li ul.level-2 li a{
    width: 100%;
    display: block;
    text-indent: 3px;
    border-bottom: 1px solid black;
    padding: 2px 2px 2px 3px;
    text-decoration: none;
    text-indent: 0;
    background: none;
    color: #ffffff;
    width: 155px;
    font-size: 13px;
    text-align: right;
    margin: 0;
    float: right;
    height: auto;
}
#main-menu li ul.level-1 li ul.level-2 li a:hover{
    background: #000000;
    text-decoration: none;
}
#main-menu li ul li span.right-arrow{
    float:left;
    font-size: 12px;
    padding-left: 2px;
}

p.flash-msg {
    background-color : #fff1ab;
    padding : 5px;
    text-align : center;
    font-size:13px;
    font-weight:600;
    border:1px solid #EFDC86;
}
#content_wrapper {
    width:980px;
    margin:0 auto 32px;
    background-color:#fff;
}
#side_bar { float:right; width:200px; }
#fedena_logo {
    width: 157px;
    text-align: center;
    margin-top: 30px;
}
#content { float: right; width: 980px; }



/* Content header for all pages */

#content-header {
    height:100px;
    background:#fff url(../../images/examination/header_underline.jpg) bottom no-repeat;
}
#content-header img {
    margin:0;
    border:0;
    padding:20px 15px 0 0;
    float:right;
}
#content-header h1 {
    margin:0px;
    padding:25px 100px 0 0;
    color:#999;
    display:block;
    font-size: 22px;
}
#content-header h3 {
    margin:0px;
    padding:0 100px 0 0;
    color:#9c0000;
    font-size: 17px;
}
#app-back-button {
    float: left;
    margin-top: -30px;
    position: relative;
}
#app-back-button a {
    margin:0;
    padding:0;
    float:left
}
#app-back-button a img {
    height:37px;
    margin:0;
    padding:0;
    width:137px;
    margin-left:10px;
}

#page-yield {
    margin : 30px 0;
    margin-right: 10px;
}

/* News block */

#news_feed {
    width:157px;
    margin:0 auto;
    background:#fff url(../../images/fedena_user/dashboard/news_feed_bg.jpg) repeat;
}
#news_feed small {
    padding-top:0px;
    color:#9c0000;
}
#news_feed_top_img {
    margin:0 auto;
    margin-top:25px;
    height:36px;width:157px;
    background:#fff url(../../images/fedena_user/dashboard/dash_news_top.jpg) no-repeat;
    display: block;
}
#news_feed_bottom_img a {
    display:block;
    height:28px;width:157px;
    text-indent:-2000px;
}

.sidebar_news_item0 {
    margin-right:5px;
    padding:10px;
    background-color:#fff;
    width:127px;
}
.sidebar_news_item1 {
    margin-right:5px;
    padding:10px;
    background-color:#ddd;
    width:127px;
}
.sidebar_news_item0 h5,
.sidebar_news_item1 h5 {
    margin:0;padding:0;
}
.sidebar_news_item0 h5 a,
.sidebar_news_item1 h5 a {
    text-decoration:none;color:#222;
}

#sidebar_news_area {
    float:right;
}

/* For google chrome */

input[type="text"],
input[type="password"],
textarea,
select
{
    outline: none;
}

/* Shifting footer to bottom of the page */

html, body, #content_wrapper {
    height: 100%;
}
body > #content_wrapper {
    height: auto;
    min-height: 90%;
}
#content {
    padding-bottom: 33px;
    margin-top:40px;
}

/* Default class for drop down menus */
.anylinkmenu {
    position : absolute;
    right : 0;
    top : 0;
    margin : 0;
    visibility : hidden;
    border : 1px solid black;
    border-bottom-width : 0;
    font: normal 0.9em Arial;
    line-height: 18px;
    z-index: 100; /* zIndex should be greater than that of shadow's below */
    background: #9c0000 url(../../images/application/bg_pattern.png) repeat;
    width: 125px; /* default width for menu */
}


/* Anylink menu styling */

.anylinkmenu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.anylinkmenu ul li a{
    width: 100%;
    display: block;
    text-indent: 3px;
    border-bottom: 1px solid black;
    padding: 2px 0;
    text-decoration: none;
    text-indent: 5px;
}
.anylinkmenu a {
    color : #fff;
}
.anylinkmenu a:hover { /*hover background color*/
    background: black;
    color: white;
}

/* Alternate multi-column class for drop down menus */

.anylinkmenucols {
    position: absolute;
    width: 350px;
    right: 0;
    top: 0;
    visibility: hidden;
    border: 1px solid black;
    padding: 10px;
    font: normal 12px Verdana;
    z-index: 100; /*zIndex should be greater than that of shadow's below*/
    background: #E9E9E9;
}
.anylinkmenucols li {
    padding-bottom: 3px;
}
.anylinkmenucols .column {
    float: right;
    padding: 3px 8px;
    margin-left: 5px;
    background: #E0E0E0;
}
.anylinkmenucols .column ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.anylinkshadow { display : none; }

/* Form styling */

.label-field-pair {
    height : 40px;
    width : 600px;
    padding-top: 3px;
}
.text-input-bg {
    background : transparent;
    height : 28px;
    width : 250px;
    float:right;
}
.label-field-pair label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 0px 0;
    float:right;
    width:200px;
    padding-top: 10px;
    font-weight: 600;

}
.label-field-pair input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 10px 0 0;
    width : 205px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.text-input-bg select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 10px 0 0;
    width : 215px;
    height:27px;
    padding:3px 6px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
.label-checkbox-pair {
    float : right;
    padding : 30px 10px 0 0;
    width : 250px;
}

/* Validation error messages */

.fieldWithErrors input{
    border : 1px solid #9c0000;

}
.errorExplanation {
    background: #ffdedf url(/images/_global/error.png) no-repeat 10px 14px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    height : auto; width : 510px;
    margin : 20px auto;
    padding : 10px 20px 20px 0;
}
.errorExplanation h2 {
    margin : 5px 20px 0 0;
    font-size : 1em;
    font-weight : normal;
    padding : 0;
}
.errorExplanation p {
    margin : 5px 20px 0 0;
    font-weight:bold;
}
.errorExplanation ul li{
    font-weight:600;
    font-size:13px;
}

/* Inner tab menu */

#inner-tab-menu {
    height : 1.5em;
    margin : 0;
    padding : 0;
}
#inner-tab-menu ul {
    float : left;
    margin : 0 0 0 10px;
    padding : 0;
}
#inner-tab-menu ul li {
    background-color : #9d0e00;
    color : #fff;
    float : right;
    font-size : 0.9em;
    height : 1.5em;
    list-style-type : none;
    margin : 0 10px 0 0;
    padding : 0 10px !important;
    text-align : center;
    width : auto !important;
    min-width: 50px !important;
}
#inner-tab-menu ul li a {
    color : #fff;
    text-decoration : none;
}
#inner-tab-menu ul li a:hover {
    color : #fff;
    text-decoration : underline;
}
.label-field-pair input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}



/* Modalbox styles */

#MB_frame #MB_header {
    background: transparent url(../images/modalbox/header-underline.jpg) bottom center no-repeat;
    height: 55px;
}
#MB_frame #MB_caption {
    padding: 15px 10px 0 0;
}
#MB_frame .label-field-pair { margin: 5px 0; width: 450px; }
#MB_frame .submit-button, .submit-button {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #27292B;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0 210px 0 0;
    padding: 5px;
    float:right;
    cursor:pointer;
}
#MB_frame .submit-button:hover { background: #373b3f; }
#MB_frame .time-select-field {
    float: right;
    margin: 0 5px 0 0;
}
#MB_frame .label-field-pair select {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 10px 0 10px;
    padding: 5px;
    width: 215px;
    height: 28px;
}
#MB_frame .head_label{
    position:absolute;
    top:18px;
    right:18px;
    color:#2d2b2b;
    font-weight:bold;
    font-size:16px;
}
#MB_frame .head_label span{
    color:#9c0000;
}
#MB_frame #delete-button{
    float:right;
}
#MB_frame #delete-button a{
    text-decoration:none;
    margin:0px 20px 0 20px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    float:right;
}

/* Hacks for specific input types */

.caledar_date_select { z-index: 10001; } /* to prevent calendar from appearing below modalbox */

.fee_category_scroll{
    height:76px;
    margin-right:146px;
    margin-top:-53px;
    overflow:auto;
    width:156px;
}

/*
#MB_frame .modelbox-field-pair {
    height : 40px;
    width : 450px;
    padding-top: 3px;
    margin-left:20px;
}
#MB_frame .modelbox-field-pair.text-input-bg {
    background : transparent;
    height : 28px;
    width : 250px;
    float:left;
}
#MB_frame .modelbox-field-pair label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 10px 0;
    float:left;
    width:170px;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 600;

}
#MB_frame .modelbox-field-pair input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 205px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
#MB_frame .modelbox-checkbox-pair {
    height : 40px;
    width : 230px;
    padding-top: 3px;
    float:left;
    margin-left:20px;
}
#MB_frame .modelbox-checkbox-pair.text-input-bg {
    background : transparent;
    height : 28px;
    width : 250px;
    float:left;
}
#MB_frame .modelbox-checkbox-pair label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 10px 0;
    float:left;
    width:170px;
    padding-top: 10px;
    font-weight: 600;

}
#MB_frame .modelbox-checkbox-pair input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 10px 0 10px;
    width : 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
    padding-top : 15px;
}
#MB_frame #modelbox-submit, #modelbox-delete{
    float:right;
}
#MB_frame #modelbox-submit input{
    margin:20px 50px 0 0px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    float:left;
}
#MB_frame #modelbox-delete a{
    text-decoration:none;
    margin:20px 20px 0 0px;
    padding: 8px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    float:left;
}
#MB_frame .head_label{
    position:absolute;
    top:18px;
    left:18px;
    color:#2d2b2b;
    font-weight:bold;
    font-size:16px;
}
#MB_frame .head_label span{
    color:#9c0000;
}
#MB_frame .modelbox-time-pair {
    height : 40px;
    width : 450px;
    padding-top: 3px;
    float:left;
    margin-left:20px;
}
#MB_frame #MB_frame .text-input-bg {
    background : transparent;
    height : 28px;
    width : 250px;
    float:left;
}
#MB_frame .modelbox-time-pair label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 10px 0;
    float:left;
    width:185px;
    padding-top: 10px;
    padding-left:7px;
    font-weight: 600;

}
#MB_frame .modelbox-time-pair select {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 10px 0 0px;
    width : 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    width:50px;
}
*/

table#listing{
    background: #c3d9ff;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding:20px 20px 40px;
}
table#listing tr.tr-head{
    background: #fff;
    color:#990a10;
    font-weight:bold;
    text-align:right;
}
table#listing .tr-head td{
    padding:5px;
    padding-right:10px;

}
table#listing .tr-odd{
    background: #fff;
    text-align:right;
    padding:50px;
    color:#27292b;
    font-weight:600;
    font-size:14px;
}
table#listing .tr-even{
    background: #f1f6ff;
    text-align:right;
    padding:50px;
    color:#27292b;
    font-weight:600;
    font-size:14px;
}
table#listing .tr-read-odd{
    background: #fff;
    text-align:right;
    padding:50px;
    color:#27292b;
    font-weight:normal;
    font-size:14px;
}
table#listing .tr-read-even{
    background: #f1f6ff;
    text-align:right;
    padding:50px;
    color:#27292b;
    font-weight:normal;
    font-size:14px;
}
table#listing td.col-1{
    width:10%;
    padding: 5px;
    padding-right:10px;
}
table#listing td.col-2{
    width:40%;
    text-align:right;
    padding: 5px;
    padding-right:10px;
}
table#listing td a{
    text-decoration:none;
    color:#27292b;
}
table#listing td a:hover{
    color:#990a10;
    text-decoration:underline;
}
table#listing td.col-3{
    width:13%;
    padding: 5px;
    padding-right:10px;
}
table#listing td.col-4{
    width:30%;
    padding: 5px;
    padding-right:10px;
}
table#listing td.col-5{
    width:5%;
    padding: 5px;
    padding-right:10px;
}
table#listing td.col-6{
    text-align: left;
    width:13%;
    padding: 5px;
    padding-right:10px;
}

table#listing td.col-7{
    width:20%;
    padding: 5px;
    padding-right:10px;
}
tr.tr-blank{
    height:10px;
}

.pagination{
    float:left;
    position: relative;
    margin-top:-30px;
    margin-left:100px;
}
.pagination a.prev_page,.pagination a.next_page{
    color:#27292b;
    font-weight:bold;
    text-transform: lowercase;
    background: none;
    text-decoration:underline;
    border:none;
}
.pagination a{
    background: #fff;
    color:#27292b;
    border:1px solid #a6c7ff;
    font-weight:bold;
    padding:3px;
    font-size:14px;
    text-decoration:none;
}
.pagination .disabled{
    color:#27292b;
    font-size:14px;
    font-weight:normal;
    text-transform: lowercase;
    background: none;
    text-decoration:none;
    border:none;
}
.pagination .current{
    color:#990a10;
    font-weight:bold;
    padding:3px;
    font-size:14px;
}

.sel-list{
    width:300px;
    margin-bottom: 2px;
}

.sel-list a{
    color:#9c0000;
    text-decoration:none;
}

.bread_crumb {
    color:#9c0000;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 20px;
}
.bread_crumb a {
    color:#000;
    text-decoration: none;
}
.bread_crumb a:hover {
    color:#9c0000;
    text-decoration: underline;
}
#error-box {
    background: #ffdedf url(/images/_global/error.png) no-repeat 10px 14px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    height : auto;
    margin : 20px auto;
    padding : 1px 20px 1px 0;
}

#footer {
    /* position : relative;
    margin-top : -33px; */
    height : 35px;
    clear : both;
    /*    background-color:#323232;*/
    width:100%;
    margin-top:15px;
}
#footer_logo {
    height:35px;
    width:980px;
    margin:0 auto;
    border-top: 1px solid #cccccc;
}

#footer_logo a.footer-logo{
    display:block;
    float:left;
    height:35px;
    margin-top:-55px;
    width:210px;
}

#footer_logo a.footer-logo:hover {

}

#powered_by {
    height:20px;
    width:auto;
    margin:8px auto 0;
    color:#999999;
    font-size:11px;
    float: left;
}
#powered_by a {
    font-size:11px;
    text-decoration:none;
}
#powered_by a:hover {
    font-size:11px;
    text-decoration:underline;
}
#outer-autosuggest-menu{
    float: left;
    margin-top: 4px;
    width: 290px;
}
#outer-autosuggest-menu a{
    float:right;
    display:block;
    text-decoration:none;
}
#autosuggest_menu_input{
    width: 260px;
    height: 20px;
}
#institution-name{
    margin: 0px 0 0;
    float: right;
    color: #ffffff;
    font-size: 13px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    float:right;
    padding: 10px 10px;
}
#institution-name:hover{
    background-color: #7e0000;
}
.themed-dark-hover-background:hover{
    background-color: #7e0000;
}
#header_link{
    overflow: hidden;
}
#header_link div{
    float: right;
    margin: 0 5px;
    padding: 0 5px;
    overflow: hidden;
    /*    height:35px;*/
}
#header_link div a{
    padding: 10px 3px 0px;
    display: block;
    float: right;
    text-decoration: none;
    color:#FFFFFF;
    height:25px;
}
#profile-link a{

}
#profile-link-back{
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position:-24px -122px;
    float:right;
    width:5px;
    height:15px;
    margin-right:0 !important;
}
#messages-link a{
    float: right;
}
#message-link-back {
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position:-3px -122px;
    float:right;
    width:6px;
    height:15px;
    margin-right:0 !important;
}
#messages-link span {
    padding: 10px 1px 3px 3px;
    display: block;
    float: right;
}
#logout-link a{

}
#logout-link-back{
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position:-43px -121px;
    float:right;
    width:5px;
    height:15px;
    margin-right:0 !important;
}
#logout-link{
    margin-left: 0 !important;
}
#outer-show-menu{
    height:35px;
    border-right:1px solid #1a1a1a;
    border-left:1px solid #4d4d4d;
    float:right;
}
#show-menu{
    margin-right:0;
    width:40px;
    height:35px;
    display:block;
    text-decoration:none;
    float:right;
    border-right:1px solid #4d4d4d;
    border-left:1px solid #1a1a1a;
}
.show-menu-back{
    height: 20px;
    min-width: 20px;
    float: right;
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position: 0px -100px;
    margin-top: 8px;
    margin-right: 10px;
    margin-left: 10px;
}
#menu_text{
    float: right;
    font-size: 13px;
    color: #fff;
    font-family: arial;
    margin-top: 10px;
    margin-left: 10px;
}
#show-menu:hover,.show-menu-active{
    background-color:#232323;
}
.top-left-links {
    width:auto;
    overflow:hidden;
    float:right;
}
.top-left-links a{
    display:block;
    text-decoration:none;
    float:right;
}
.in-link {
    margin-top: 4px;
    float:right;
    margin-left:3px;
    color:#ffffff;
    font-weight:bold;
    font-size:13px;
    height: 21px;
    padding: 5px 10px 0;
    width:auto;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
.theme-inactive-color {
    background-color: #7e0000;
}
.tab-color {
    /*    background-color: #cccccc;*/
}
.tab-color:hover, .tab-color-active {
    background-color:#7E0000;
}
.lower-menu-link {
    border-right: 1px solid #df2020;
    border-left: 1px solid #7E0000;
    display: block;
    float: right;
    height: 35px;
    margin-right: 0;
    text-decoration: none;
}
#lower-show-menu {
    border-right: 1px solid #7E0000;
    border-left: 1px solid #df2020;
    float: right;
    height: 35px;
}
#in-menu-link {
    /*    padding:8px 10px 2px;*/
}

#in-menu-img {
    height:20px;
    width:20px;
    float:right;
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position:0px -100px;
}
#info-img {
    width:16px;
    height:12px;
    float:right;
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position:-22px -64px;
    margin-left:10px;
    margin-top:2px;
}
#analytics-img {
    width:16px;
    height:12px;
    float:right;
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position:-2px -64px;
    margin-left:10px;
    margin-top:2px;
}
.right-links {
    width:auto;
    float:left;
    margin-right:10px;
    margin-top:4px;
}
.top-right-link {
    width:auto;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    height:26px;
    float:right;
    padding: 0 10px;
    margin-right:1px;
}
.top-right-link:hover,.top-right-link-active {
    background-color: #7e0000;
}
#msg-count{
    color:#ffffff;
    margin-right:5px;
    margin-top:5px;
    font-size:14px;
    font-weight:bold;
    float:right;
}
#message-link-img {
    width:20px;
    height:15px;
    float:right;
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position: 1px -142px;
    margin-top:6px;
    position:relative;
}
#profile-link-img {
    width:25px;
    height:19px;
    float:right;
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position: -61px -140px;
    margin-top:4px;
}
#logout-link-img {
    width:20px;
    height:19px;
    float:right;
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position: -40px -140px;
    margin-top:4px;
}
#profile-link:hover, #messages-link:hover, #logout-link:hover{
    background: url(/images/application/top-link-bg.png) repeat;
}
textarea{
    font-family: Arial !important;
}
.user_button{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF !important;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px;
    margin-top:30px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
    float:right;
    margin-left:20px;
    text-decoration: none;
    display: block;
}
.user_button:hover{
    background: #373b3f;
    text-decoration: none !important;
}
.themed_text{
    color: #9c0000;
}
.themed_hover_text:hover{
    color: #9c0000;
}
.themed_bg {
    background-color: #9c0000;
}
#profile-menu {
    float : right;
    width : 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-right: 27px;
}
#menu-div {
    margin:0 auto;
    width:980px;
}
#profile-menu li.a{
    float: left;
    margin-left: 172px;
}
#profile-menu li a {
    background : transparent;
    color : #fff;
    display : block;
    font-size : 13px;
    float : right;
    height : 17px; width : auto;

    padding : 5px 10px 0 10px;
    text-align : center;
    text-decoration : none;
}
#profile-menu li a:hover {
    /*    text-decoration : underline;*/
}
#profile-menu li ul.level-1{
    color: #000;
    padding: 0;
    width :155px;
    list-style-type: none;
    position: absolute;
    top: 89px;
    z-index: 999;
    visibility : visible;
    /*    border : 1px solid black;*/
    box-shadow: 0 1px 4px 0 #999999;
    /*    border-bottom-width : 0;*/
    font: normal 0.9em Arial;
    line-height: 18px;
    background: #f0f0f0;
    margin: -48px 76px;
    border-radius:3px;
}
#profile-menu li:active ul.level-1{
    visibility: visible;
}
#profile-menu li ul.level-1 li{
    /*    padding-left: 10px;*/
    overflow: hidden;
}
#profile-menu li ul.level-1 li a{
    /*    width: 100%;*/
    display: block;
    text-indent: 3px;
    /*    border-bottom: 1px solid black;*/
    padding: 5px 2px 5px 3px;
    text-decoration: none;
    text-indent: 0;
    background: none;
    color: #504A4B;
    /*    width: 155px;*/
    font-size: 13px;
    text-align: right;
    margin-right: 5px;
    float: right;
    height: auto;
}
#switch-student ul.level-1 li {
    /*    margin-top:5px;*/
    width: 100%;
    overflow: hidden;
}
.not-selected-list{
    width: 155px !important;
    margin: 0 -5px 0 0 !important;
    padding:0 !important;
    color:#808080;
}
.selected_student{
    margin: 0 -5px 0 0!important;
    font-weight:bolder;color:#000;
    width:155px;
    padding:0 !important;
}
/*.ns div:hover{
    background-color:#d9d9d9;
}*/
.selected_student a{
    margin:0 !important;
    padding-right:12px !important;
    width:141px !important;

}
.selected_student a:hover {
    background-color:#d9d9d9 !important;
}
#switch-student div{
    float: right;
    margin: 0 5px;
    overflow: hidden;
    padding: 0 5px;
}
.not-selected-list a{
    margin: 0 !important;
    padding-right: 23px !important;
    width: 110px !important;
    padding-left:23px !important;
}
.not-selected-list a:hover {
    background-color:#d9d9d9 !important;
}
.bottom-line{
    /*    margin-top:5px !important;*/
    width:65%;
    margin-right:19px !important;
    margin-top:5px !important;
    margin-bottom:5px !important;
    height:1px;
    background-color:#d8d8d8;
}
.ns{
    width:auto;
    /*    margin-left:-10px !important;*/
    margin:0 !important;
}
#up-arrow-img {
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position: -143px -186px;
    height:8px;
    width:15px;
    z-index:1000;
    top:34.5px;
}
.arrow-img-low {
    position:fixed;
    margin-right:201px !important;
}
.arrow-img-high {
    position:absolute;
    margin-right:126px !important;
}
.profile-link-active {
    background: url(/images/application/top-link-bg.png) repeat !important;
}
.menu-loader{
    margin-right: 3px;
    margin-top: -3px;
}
#loader-div{
    height:130px;
    padding-bottom:20px;
    padding-top:110px;
    padding-right:450px;
    background-color:#f1f1f1;
}
.quicklink-loader{
    float:right;
}
.load-text{
    float:right;
    color:#999999;
    font-size:13px;
    font-weight:normal;
    margin-right:10px;
}
#profile-menu li ul.messages, #profile-menu li ul.notifications {
    color: #000;
    padding: 0;
    width: 355px;
    list-style-type: none;
    position: absolute;
    top: 89px;
    z-index: 999;
    visibility: visible;
    /*    border : 1px solid black;*/
    box-shadow: 0 0 4px 1px #999999;
    /*    border-bottom-width : 0;*/
    font: normal 0.9em Arial;
    line-height: 18px;
    background: #fff;
    margin: -48px 76px;
    border-radius: 3px;
/*    max-height: 270px;
    overflow-y: auto;
    overflow-x: hidden;*/
}
#profile-menu li ul.messages li a ,#profile-menu li ul.notifications li a{
    /* width: 100%; */
    display: block;
    text-indent: 3px;
    /* border-bottom: 1px solid black; */
    padding: 5px 2px 5px 3px;
    text-decoration: none;
    text-indent: 0;
    background: none;
    color: #504A4B;
    /* width: 155px; */
    font-size: 13px;
    text-align: right;
    margin-right: 5px;
    float: right;
    height: auto;
}
ul.messages li{
    min-height: 50px;
    border-bottom: 1px solid #ccc;
}
.entry-thumbnail {
    width: 40px;
    float: right;
    margin-left: 10px;
    margin-top: 5px;
}
.entry-thumbnail img {
    width: 100%;
    border-radius: 50px;
}
.messages .page_link a{ 
    width: 100% !important;
    text-align: center !important;
    padding: 0 !important;
    margin-top: 16px;
    text-decoration: underline !important;
}
ul.messages .thread_entry{
    border-bottom: 1px solid #eee;
    overflow: auto;
    cursor: pointer;
    padding: 10px;
    padding: 10px 16px;
}
ul.messages .thread_entry .entry_detail{
    float: right;
    width:82%;
}
ul.messages .thread_entry:hover{
    background-color: #ebf2fc;
}
ul.messages .thread_entry:last-child{
    border-bottom: none;
}
ul.messages li:last-child{
    background: #fff;
    border-bottom: none;
}
ul.messages .entry_detail .name{
    font-weight: bold;
    font-size: 13px;
}
ul.messages .entry_detail .name span:last-child{
    font-weight: normal;
    font-size: 12px;
    float: left;
}
ul.messages .entry_detail .name span:first-child{
    max-width: 157px;
    display: inline-block;
}
ul.messages .entry_detail .sec_info {
    font-size: 12px;
    color: rgba(0,0,0,.54);
}
ul.messages li:first-child{
    cursor: pointer;
}
span#msg-coun{
    position: absolute;
    left: -10px;
    top: -8px;
    border: 1px solid red;
    border-radius: 20px;
    /* width: auto; */
    /* height: 11px; */
    padding: 1px 4px;
    background: red;
    color: white;
    font-size: 11px;
}
#message-link-img {
    position: relative;
}
.ns.message_count{
    width:50%;
    float:right;
    margin-top: 4px !important;
    padding: 5px 2px 5px 3px;
    font-size: 13px;
    font-weight: bold;
}
.ns.message_count span{
    display: inline;
    font-size: 12px;
    color: #999;
    font-weight: normal;
}
.ns.new_mesage a{
    text-decoration: underline !important;
}
.ns.new_mesage{
    margin-top: 4px !important;
    float: left;
    margin-left: 10px !important;
}
.new_message_links{
    padding: 0px 10px;
    background: #fff;
    cursor: default !important;
    min-height: 20px !important;
    height: 38px;
    border-bottom: 1px solid #ccc !important;
}
#new_message{
    display: none;
}
#popup_content #new_message{
    display: block;
}
#popup_box_overlay
{
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #000!important;
    opacity: 0.75;
}
#popup_window {
    width: 480px;
    top: 100px;
    float: right;
}
#popup_frame {
    -webkit-border-radius: 0px;
    float: right;
    display: block;
    background-color: #fff;
    color: #444;
}
#popup_frame .part {
    padding: 20px 40px;
    border-bottom: 1px solid #c6c6c6;
    float: right;
    width: 400px;
}
#popup_header_part h4 {
    margin: 0px;
    float:right;
}
#popup_content {
    overflow: auto;
}
#popup_window {
    position: absolute;
    border: 0 solid;
    text-align: right;
    z-index: 10000;
}
#popup_header_part #MB_close
{
    background: white;
    background-image: url("/images/iconsprite-1.png");
    background-position: -31px 1px;
    float: left;
    height: 16px;
    width: 10px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: 0;
    margin-right: 5px;
    left: 20px;
    top: 18px;
    cursor: pointer;
}
#popup_header_part #MB_close:hover {
    background-position: -31px -15px;
}
#popup_content p {
    text-align: center;
    font-size: 13px;
    margin: 4px 0;
    width: 100%;
    float: right;
    text-align: right;
}
#popup_footer .submit-button, body #popup_footer .submit-button:hover{
    margin: 0 0 0 20px;
    font-size: 13px;
    text-decoration: none;
    color: white !important;
}
#popup_footer .prompt_ok, body #popup_footer .prompt_ok:hover{ margin-right: 100px}
#popup_content .label-field-pair {
    width: 385px;
    height: auto;
}
#popup_content .label-field-pair label {
    font-weight: normal;
    font-size: 13px;
    width: 100px;
}
#popup_content .text-input-bg {height:auto;margin:0px;}
#popup_content .text-input-bg input{ width: 200px}
#popup_content .text-input-bg textarea {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #EEEEEE none repeat scroll 0 0;
    border: 1px solid #C6C6C6;
    font-family: Arial;
    padding: 5px;
}
.message_popup .text-input-bg#browse-style{
    width: 100%;
}
.message_popup .paperclip_field{
    float: right;
    margin-right: 0;
    width: 225px;
}
.message_popup .paperclip_field .style{
    font-size: 13px;
    cursor: default !important;
}
.message_popup .paperclip_field .style input[type=file]{
    padding: 0px !important;
    width: 60px !important;
}
.message_popup .remove-field {
  float: right;
  margin-top: 8px;
}
.message_popup .remove-field a {
  cursor: pointer;
  text-decoration: none;
  color: transparent;
  background: transparent url("/images/iconsprite-1.png") no-repeat scroll -31px 1px;
  width: 16px;
  float: right;
  display: block;
  height: 16px;
  margin-top: 3px;
}
.remove-field a:hover{
    background-position: -31px -15px;
}

.autocomplete {
    border: 1px solid #C6C6C6;
    background: #fff;
    cursor: pointer;
    color: #000;
    text-align: right;
    max-height: 350px;
    overflow: auto;
    /*margin: -7px 5px 6px -7px;*/
    _height: 350px;
    _margin: 0;
    _overflow-x: hidden;
}
.autocomplete div{
    min-height: 25px;
    border-bottom: 1px solid #ccc;
    background: #f6f6f6;
    padding: 5px;
    box-sizing: border-box;
}
#query_message{
    width: 100%;
    border-radius: 5px;
    height: 30px;
    margin-top: 15px;
    border: 1px solid #ccc;
    padding: 5px;
    box-sizing: border-box;
}
.message_box{
    float: right;
    width: 100%;
}
.message_popup #popup_frame .part {
    width: 610px;
}
.message_popup {
    width: 690px !important;
    top: 40px !important;
    float: right !important;
    z-index: 9999 !important;
}
.message_popup .label-field-pair {
    width: 100% !important;
}
.message_popup .input-container {
    width: 100%;
    float: right;
}
.message_popup .input-container input {
    width: 98%;
    /* box-sizing: border-box; */
    margin-right: 0px;
    background: #fff;
    border-radius: 5px;
    margin-top: 15px;
}
.message_popup .label-field-pair-text-area {
    float: right;
    width: 100%;
    margin-top: 25px;
}
.message_popup .submit-button {
    background: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 3px !important;
}
.message_popup .input-container input:focus{
        border: 1px solid #c6c6c6 !important;
}
.message_popup .modal-box-submit_button {
    margin-right: 0px;
    color: white;
    background: black;
    border: 1px solid black;
    margin-top: 20px;
}
.message_popup .modal-box-cancel_button {
    margin-top: 20px;
    margin-right: 20px;
    text-decoration: none;
}
#page-yield .message_popup .modal-box-cancel_button:hover{
    color: black !important;
}
.modal-box-label{
    font-size: 13px !important;
}
.message_popup .input-container input:focus{
        border: 1px solid #c6c6c6 !important;
}
.message_popup .label-field-pair-text-area textarea {
    width: 100%;
    resize: none;
    height: 200px;
    margin-top: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
}
.message_popup #query_warning {
    display: none;
}
.name_label{
    width: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #ccc !important;
    font-size: 18px;
    float: right;
    height: 28px;
    text-align: center;
    min-height: 20px !important;
    margin-top: 10px;
    margin-left: 15px;
}
.name_board{
    border: none !important;
    overflow: auto;
    /*float: left;*/
    width: 100%;
}
.name_board div{
    border:none;
}
.name_and_tag{
    float:right;
    padding: 0 !important;
}
.tag_line{
    color: #858181;
    font-size: 12px;
}
.student_label{
    background: #dfdfdf !important;
}
.employee_label{
    background: #8f8d8d !important;
    color: white !important;
}
.parent_label{
    background: #494949 !important;
    color: white !important;
}
#msg-receivers{
    display: none;
    width: 100%;
    /*height: 50px;*/
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    overflow: auto;
    box-sizing: border-box;
    background: #f4f4f4;
}
#msg-receivers .name_label{
    line-height: 30px !important;
    margin-top: 0px;
}
#remove_recipient{
    float: left;
    background: transparent url(/images/iconsprite-1.png) no-repeat scroll -31px 1px;
    height: 17px;
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 6px;
    cursor: pointer;
}
#remove_recipient:hover{
    background: transparent url(/images/iconsprite-1.png) no-repeat scroll -31px -15px;
}
#query_warning{
    display: none;
}
.select_message_parent input{
    margin: 0px;
    vertical-align: middle;
}
.select_message_parent{
    margin-top: 15px;
    font-size: 13px;
}
.select_message_parent label{
    margin-left: 20px;
    margin-right: 6px;
}
#show-message{
    position: relative;
    margin-left: 100px;
}
ul.messages{
    right: -100px;
    position: absolute !important;
    top: 80px !important;
}
.message_popup .wrapper {
    margin-right: 0px !important; 
    margin-top: 5px;
    float:none !important;
}
.message_popup .error-msg {
     float: none !important; 
}
#new_message_container{
    display: none;
}
.message_popup .fieldWithErrors {
     border: none; 
     height: auto; 
     width: auto;
}
.message_popup .error-msg {
    float: right;
    color: red;
    font-size: 13px;
    font-style: italic;
    width: 300px;
}
.message_popup .error-icon {
    width: 15px;
    height: 12px;
    background: url(/images/iconsprite-1.png);
    background-position: -42px -344px;
    margin-left: 2px;
    float: right;
}
.message_popup #search_textbox{
    position: relative;
}
.message_popup #loader{
    height: 18px;
    position: absolute;
    left: 13px;
    top: 36px;
}
li.new_messages{
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}
.message_popup #browse-style:before {
    /* content: url(/images/iconsprite-1.png); */
    content: ' ';
    width: 14px;
    background: transparent url(/images/iconsprite-1.png) no-repeat scroll -123px -62px;
    height: 15px;
    display: block;
    float: right;
    margin-top: 11px;
}
.message_popup .style {
    border: none !important;
}
.message_popup #attachment-field-div{
    width: 100%;
    float: right;
}
.message_popup .style:before {
    content: "Attach File" !important;
    text-decoration: underline;
    color: #666;
    position: absolute;
    top: 6px;
    cursor: default !important;
}
.no_message_flash,#no_unread_noti{
    text-align: center;
    padding: 16px 20px;
    color: #666;
}
message_popup .paperclip_field input.field1 {
    border: none !important;
    background: white !important;
    min-width: 55px;
    max-width: 110px;
}
.style{
    min-width: 100px;
    display: inline;
    height: 28px;
    margin-top: 5px;
    position: absolute;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 8px 0px 0px 8px;
    border-right: 0px;
    cursor: pointer;
}
.style input[type=file] {
    opacity: 0;
    cursor: pointer;
    display: inline;
    position: relative;
    width: 100px !important;
    height: 27px !important;
    top: 0;
}
input[type=text].field1 {
    width: 110px !important;
    border-radius: 0px 8px 8px 0px !important;
    text-align: center;
    color: #666666;
    opacity: 1;
    border: 1px solid #ccc;
    float: right;
}
.paperclip_field {
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
    height: 40px;
}
.paperclip_field input {
    height: 28px !important;
    margin: 5px 0px 0px 0px !important;
    padding: 0px 10px 0px 10px !important;
}
.message_popup .paperclip_field input.field1 {
    border: none !important;
    background: white !important;
    min-width: 55px;
    max-width: 110px;
}
.notification-icon{
    height: 20px;
    width: 20px;
    float: right;
    background: url(/images/iconsprite-1.png) no-repeat center;
}
.event-notification-icon{
    background-position: -59px -239px !important;
}
.subject-notification-icon{
    background-position: -120px -220px !important;
}
.event_examination-notification-icon, .gradebook-notification-icon{
    background-position: 0px -260px !important;
}
.finance-notification-icon{
    background-position: 0px -279px !important;
}
.hr-notification-icon{
    background-position: -60px -300px !important;
}
.timetable-notification-icon{
    background-position: -80px -220px !important;
}
.leave-notification-icon{
    background-position: 0px -320px !important;
}
.discipline-notification-icon{
    background-position: -60px -260px !important;
}
.discussion-notification-icon{
    background-position: -40px -300px !important;
}
.form-notification-icon{
    background-position: 0px -260px !important;
}
.placement-notification-icon{
    background-position: -100px -280px !important;
}
.task-notification-icon{
    background-position: 0px -300px !important;
}
.notification_intiator{
    float: right;
    margin-right: 10px;
    font-size: 16px;
    color: #666;
    font-weight: bold;
}
.notification_date{
    float:left;
    color: #999;
}
.notification_header{
    float: right;
    width: 100%;
    margin-bottom: 10px;
}
#notification-link-img{
    width: 20px;
    height: 15px;
    float: right;
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position: -138px -142px;
    margin-top: 6px;
    position: relative;
}
span#noti-coun {
    position: absolute;
    left: -10px;
    top: -8px;
    border: 1px solid red;
    border-radius: 20px;
    /* width: auto; */
    /* height: 11px; */
    padding: 1px 4px;
    background: red;
    color: white;
    font-size: 11px;
}
#show-notification{
    position: relative;
    margin-left: 100px;
}
ul.notifications{
    right: -100px;
    position: absolute !important;
    top: 80px !important;
}
.notification_links{
    padding: 0px 10px;
    background: #fff;
    cursor: default !important;
    min-height: 20px !important;
    height: 38px;
    border-bottom: 1px solid #ccc !important;
}
ul.notifications .notifications_strip{
    padding: 10px 10px;
}
ul.notifications .notification_intiator{
    font-size: 14px;
}    
.notifications_strip{
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
    line-height: 1.5;
}
.notifications .page_link a{
    text-align: center !important;
    width: 100% !important;
    box-sizing: border-box;
    margin-top: 16px;
    text-decoration: underline !important;
    padding: 0px !important;
}
#notification_list{
    overflow-y: auto;
    max-height: 500px;
}
#profile-menu ul.notifications li {
    min-height: 50px;
    border-bottom: 1px solid #ccc;
}
.notification_overlay {
    display: none;
    
    width:100%;
    height:100%;
    position:absolute;
    background:#000;
    opacity:.5;
}
#loader_notification{
    position: absolute;
    border: 0 solid;
    z-index: 10000;
    text-align: right;
}
.notifications_strip:last-child{
    border-bottom: none;
}

.pgbar {
    position: relative;
    width: 110px !important;
    height: 28px;
    border: 1px solid #dcdcdc;
    background: #eee;
    margin-top: 5px;
    border-radius: 8px 8px 0px 0px;
    display: none;
    padding: 0px 10px;
}

.outpg {
    display: inline-block;
    position: relative;
    width: 102px;
    border: 1px solid #ccc;
    background: #fff;
    height: 8px;
    top: 5px;
    right: 3px;
    overflow: hidden;
}

.pg {
    border: 1px solid #fff;
    height: 6px;
    background: #01ff01;
    width: 0px;
    max-width: 100px;
}
.message_popup .pgbar{
    border: none; 
    background: white; 
}
.message_popup .outpg{
    top:7px;
}
.s3_error {
    width: 230px;
    height: 10px;
    margin-right: 10px;
    color: red;
    display: none;
    font-size: 10px;
    text-align: right;
    line-height: 12px;
    padding: 5px 0px 10px 10px;
    float: right;
    font-weight: normal;
}
.new_messages .subject{
    float:none;
    width:auto;
    height: auto;
    font-size: 13px;
}
#search_list{
    position: absolute;
    z-index: 9999;
    top: 60px;
    /* left: 655px; */
    width: 100%;
    border: 1px solid #C6C6C6;
    background: #fff;
    cursor: pointer;
    color: #000;
    text-align: right;
    max-height: 350px;
    overflow: auto;
}
#search_list div {
    min-height: 25px;
    background: #f6f6f6;
    padding: 5px;
    box-sizing: border-box;
}
#search_list .rec-list{
    border-bottom: 1px solid #ccc;
}
#search_list{
    display: none;
}
.no_users{
    cursor: default;
}