@page{margin:1px;}
tr{page-break-inside:avoid;}
.no-break{page-break-inside:avoid !important;display:block;}
.break-before{display:block;page-break-before:auto;}
#pdf-footer{text-align:left;width:700px;padding-left:100px;padding:50px;margin:0 auto;color:#999999;font-size:18px;margin-left:0;}
.section{margin-top:20px;}
.row-break{display:table-row;clear:both;page-break-before:always;}
.top-padding-20{padding-top:20px;background-color:#ccf;}
#main_info{text-align:right!important;}
#remarked_by_section{float:right;width:30%;margin-left:25px;font-size:13px;word-break:break-word;}
#remark_body_section{float:right;width:90%;margin-left:25px;font-size:13px;word-break:break-word;}
#submitted_by_section{float:left;font-size:13px;width:40%;text-align:left;color:#666666;word-break:break-word;}
#remarks_bold_label{font-weight:bold;float:right;margin-top:15px;margin-bottom:15px;width:100%;}
table.remarks_table{width:100%;border-collapse:collapse;}
table.remarks_table tr{border-top:1px solid #ADACAB;}
table.remarks_table tr td{border:none;padding-bottom:15px;padding-top:15px;}