#page-yield{
    font-weight: normal;
}
.label-radio-pair  {
    height:40px;
    padding-top:3px;
    padding:10px 0 0 0px;
    width:980px;
    float: left;
    font-size: 13px;
}
.status{
    color:#444444;
    display:block;
    float:left;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:3px;
    width:206px;
}
#radio-buttons{
    margin:0;
    float: left;
}
#radio-buttons input{
    float: left;
}
#radio-buttons label{
    float: left;
    width: 60px;
    padding-top: 3px;
}
.label-checkbox {
    float:left;
    height:50px;
    margin-left:208px;
    width:250px;
}
#payroll_category_desc{
    font-size: 13px;
    color: grey;
    margin-bottom: 40px;
}
.category_attr_description{
    background-color: #F0F0F0;
    padding: 10px;
    width: 510px;
}
.category_section .label-field-pair{
    width: 980px;
    float: left;
}
.description{
    font-size: 13px;
    float: left;
    padding-top: 10px;
    color: #666;
}
#formula_desc{
    margin-bottom: 20px;
}
.height{
    height: 150px;
}
h3
{
    font-size: 17px;
    color: #444;
}
.label-field-pair label, .label-radio-pair label{
    font-weight: normal;
    font-size: 13px;
}
#payroll_category_code {
    width: 100px !important;
    text-transform: uppercase;
}
.cat-code , .cat-code .text-input-bg{ height: 70px; }
.cat-code .text-input-bg div#warn{
    font-size: 13px;
    margin: 10px;
    color: #666;
}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: left;
}
.category_section, .formula_section
{
    float: left;
    width: 980px;
}
.formula_section .label-field-pair{
    float: left;
}
.submit-button{
    margin: 20px 40px 0 0;
    font-size: 13px;
}
a.submit-button, #page-yield a.submit-button:hover{
    color: white !important;
    text-decoration: none;
}
.error-icon {
    width:15px;
    height:12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-right:2px;
    float:left;
}
.error-msg{
    float:left;
    color: red;
    font-size: 13px;
    width:205px;
}

.category_section .label-field-pair, #value_type {
    min-height:60px;
    max-height: 80px;
}
.wrapper{
    margin-top: 5px;
    margin-left: 10px;
}
#tags_warn{
    display: none;
}
