h3{
    margin-top: 40px;
    font-size: 17px;
    color: #444;
}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: left;
}
.fields-details
{
    float: left;
    width: 600px;
    font-weight: normal;
    font-size: 13px;
    color: #444;
    margin: 15px 0;
}
.field-label
{
    float: left;
    width: 200px;
    font-weight: bold;
}
.fields-val
{
    float: right;
    width: 400px;
}
.field-head{ font-size: 14px; width: 100%;}
table {
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    align: left;
    width: 50%;
    margin-bottom: 20px;
    color: #444;
}
#page-yield table .tr-head {
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
}
td {
    padding: 10px;
    border-bottom: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
}
td.name
{
    width: 30%;
}
td.col1{ width: 60%}
td.col2{ width: 40%;}
.description{
    color: #666;
    font-size: 13px;
    float: left;
    width: 100%;
    margin: 5px 0 15px 0;
}
a.submit-button, #page-yield a.submit-button:hover{
    margin: 20px 40px 0 0;
    font-size: 13px;
    text-decoration: none;
    color: white !important;
}
#warning{ color: red; }
#MB_window
{
    width: 690px;
    top: 40px;
    left: 298px;
    float: left;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}
#MB_frame
{
    -webkit-border-radius: 0px;
    float: left;
    display: block;
}
#MB_frame .part
{
    padding: 20px 40px;
    border-bottom: 1px solid #c6c6c6;
    float: left;
    width: 610px;
}
#MB_header_part h4
{
    margin: 0px;
}
#MB_header_part
{
    border-color: #7B7B7B !important;
}
#MB_footer
{
    border-top: 1px solid #7B7B7B;
}
.remove-icon {
    background-image: url("/images/iconsprite-1.png");
    background-position: -31px 1px;
    float: right;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    margin-left: 5px;
}
.remove-icon:hover {
    background-position: -31px -15px;
}
.part ul
{
    font-size: 13px;
    float: left;
    margin-top: 0;
    /* padding-left: 0; */
    margin-bottom: 20px;
}
.part ul li{
    /* list-style-type: none; */
}
#MB_frame input
{
    margin: 3px 10px 0 0;
    float: left;
}
.part label{
    font-size:13px;
    color: #444;
}
#dup_checkbox{
    border-bottom: 0px !important;
}
#MB_window #MB_footer a{
    margin-left: 0px;
    -webkit-border-radius: 0px;
}

#create_new{
    margin-left: 25px !important;
    color: black;
    font-size: 13px;
    margin-top: 10px !important;
    float: left;
}
