
#fees_report_title{
    color: #444;
    font-size: 16px;
}
.pagination{
    margin-top:20px;
    float:left;
    margin-right:0px;
    min-width: 158px;
    height: 33px;
    border: 1px solid #CCC;
    border-left: 0px;
    margin-bottom: 20px;
}
.pagination span{
}

.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-left: 1px solid #CCCCCC !important;
    border-bottom: 1px solid #CCCCCC !important;
    font-size: 14px !important;
    display: block;
    float: left;
    padding: 0px;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 13px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: left;
    padding-right: 5px;
    padding-left: 10px;
    font-size: 14px;
    color:#666 !important;
    text-decoration: none !important;
    padding-bottom: 9px;
    padding-top:8px;
    border-left:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: left;
    padding-right: 5px;
    padding-left: 10px;
    font-size: 14px;
    border-right: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    padding-bottom: 9px;
    padding-top:8px;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: left;
    padding-right: 5px;
    font-size: 14px;
    color:#fff !important;
    background-color: #666666;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 13px;
}
.pagination .next_page{
    display: block;
    float: left;
    padding-right: 5px;
    padding-left: 10px;
    font-size: 14px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;


}
.pagination .gap{
    display: block;
    float: left;
    border-left:1px solid #cccccc;
    color:#666;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 9px;
    padding-right: 9px;
}
.list_table_div {
    float: left;
    width: 100%;
}
.gray_table_list{
    border-color: #A3A3A3;
    border-width: 1px;
    border-style: solid;
    border-bottom: 0px;
    float:left;
}
.gray_table_list td{
    border-bottom: 1px solid #CCC;
    padding: 5px 20px;
    height: 20px;
    font-size: 13px;
    color:#333;
    border-collapse: collapse;
}
.gray_table_list .row-a{
    background-color: #F5F5F5;
}
.gray_table_list .row-b{
    background-color: #FFFFFF;
}
.gray_table_list .tr-list_head{
    background-color: #EEEEEE;
    font-size: 13px;
    font-weight: bold;
}
.gray_table_list .tr-list_head td{
    font-size: 13px;
    color:#333;
    font-weight: bold;
    padding: 10px 20px;
}
.gray_table_list tr td a{
    text-decoration: none;
    color:#333;
}
.gray_table_list .main_head td{
    font-size: 15px;
    font-weight: bold;
    padding: 12px 20px;
}
.gray_table_list .set_border_right{
    border-left: 1px solid #CCC;
}
.list_table_div .main_head_label{
    margin-top: 20px;
    margin-bottom: 30px;
    float: left;
    width: 100%;
}
.no_entries {
    float: left;
    background-color: #EEE;
    width: 98%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.date_align{
    font-size: 13px;
    color:#000;
    font-weight: bold;
}
.date_align .date_tag{
    margin-right: 30px;
    font-weight:300;
    margin-top: 2px;
    float: left;
}
.date_align .to_date{
    font-weight:300;

}
.right{
    float: right;
    text-align: right;
}
#show_date{
    cursor: pointer;
    margin-left: 30px;
    margin-right: 0px;
    font-weight: 300;
    color:#000;
    font-size: 15px;
}
#show_date a{
    color: black;
    text-decoration: none;
}
#show_date:hover{
    text-decoration: underline;
}
.seprater_div_bottom{
    height: 40px;
    margin-bottom: 40px;
    float: right;
    width:983px;
}
.seprater_div_bottom ul{
    float: right;
    padding-bottom:20px;
}
.main_head_label{
    font-size: 14px;
}
.main_head_label span{
    margin-right:10px;
    margin-left: 10px
}

.list_table_div .head_label_div label{
    font-size: 13px;
    font-weight: bold;
    color:#333;
}
.list_table_div .head_label_div .head_label_value{
    margin-left: 30px;
}
.list_table_div .total_amount_div{
    float:right;
    height: 30px;
    margin-top:20px;
    font-size: 15px;
}
.list_table_div .total_amount_div span{
    font-size: 13px;
    font-weight: bold;
}
.list_table_div .total_amount_div .amount_label{
    margin-left: 10px;
    font-weight: bold;
}
#inner-tab-menu ul li a:hover{
    color: #FFF !important;
}
#inner-tab-menu ul{
    margin-top: 7px;
}
.list_table_div .set_text_div{
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}
#fee_report_div .errorExplanation{
    float: left;
    margin-left: 25%;
}
.wrapper {
    margin-top: 5px;
    float: left;
    min-width: 289px;
    min-height: 15px;
    padding-left: 10px !important;
}
.error-icon {
    width: 3px;
    height: 12px;
    background: url("/images/iconsprite-1.png");
    background-position: -36px -344px;
    margin-right: 2px;
    float: left;
    margin-top: 3px;
}
.error-msg {
    color: red;
    font-size: 13px;
    font-style: italic;
    padding-left: 0px !important;
    margin-top: 0px;

}
.input_div label{
    margin-left: 12px;
}
.add_margin_top{
    margin-top: -2px;
}
.warning_div{
    font-size: 12px;
    color:#666;
    height: 35px;
    float:left;
}
.tooltip_wrapper{
    position: relative;
    font-weight: 300;
}
span.show_amount{
    float: left;
}
.set_border_right .info_icon_img{
    margin-top: 4px;
    margin-left: 5px;
}
.tooltip_info{
    width: 234px;
    margin-top: 10px;
    margin-left: 2px;
}
.width70{
    width:70px!important;
}
.width210{
    width:210px!important;
}