.text-input-bg select
{
    margin-left: 0px;
    width:195px;

}
.label-field-pair label
{
    width: 70px;
    word-break: break-all;
    margin-right: 10px;
}

#custom_remarks_section
{
    float: left;
    width: 980px;
}

.custom_remarks_section{
    border-top:1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom: 10px;
}
.edit-form
{
    width: 600px;
    padding: 5px 0 20px 0;
}
#subject-field
{
    width: 450px;
    float: left;
    height: auto;
}
#subject-field label
{
    width: 450px;
}
#subject-field input
{
    width: 400px;
}
#remark-by-field
{
    width: 150px !important;
    float: left;
    height: auto;
    margin-left: 125px;
}
#remark-by-field label
{
    width: 150px;
}
#remark-by-field input
{
    width: 138px;
}
.remark-text-area
{
    float: left;
    padding: 20px 0 20px 0
}
.remark-text-area #remark_remark_body
{
    width: 588px;
}
#remark_submit
{
    margin: 0;
    float: left;
}
.text-input-bg
{
    width:auto;
    height: auto;
}
.flash-msg
{
    width: 980px;
}
#remarks_list
{
    padding-top: 20px;
}
.pagination
{
    margin: 0px;
}

.label-field-pair{
    width:325px !important;
    float:left;

}
.cancel_for_custom_remark_edit{
    float: left;
    text-decoration: none;
    font-size: 13px;
    margin-top: 7px;
    margin-left: 15px;
}
.remarks_pagination
{
    margin-top: 30px !important;

}
.submit-button {
    margin: 20px 20px 0 0;
    text-decoration: none;
    font-size: 13px;
}
#page-yield .submit-button:hover {
    color: white !important;
}
