#remarked_by_section{
    width:105px;
    word-break: break-word;
}
#remark_subject_section{
    width:165px;
    word-break: break-word;
}
#remark_body_section{
    width:420px;
    word-break: break-word;
}
.rest_remarks{
    display:none;
}
.show_less_button{
    display:none;
    text-decoration: none;
    font-size: 13px;
}
.show_more_button{
    text-decoration: none;
    font-size: 13px;
}
#paginate{
    margin-top:30px;
}
hr{
    display: block; height: 1px;
    border: 0; border-top: 1px solid #e5e5e5;
    margin: 1em 0; padding: 0;
}
#remarks_history_section{
    float: left;
    width: 980px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
.submit-button {
    margin: 20px 20px 0 0;
    text-decoration: none;
    font-size: 13px;
}
#page-yield .submit-button:hover {
    color: white !important;
}
