body{
    width: 852px !important;
    margin: 0 auto;
    font-family: arial;
}
.hor_line{
    width:100%;
    border-top: 1px solid #95989A;
    float: left;
}
table#pdf-table{
    border-bottom: 1px solid #95989A;
    border-collapse:collapse;
    font-size: 13px;
}
td{
    padding: 20px;
    border:  0px !important;
}
#page-yield h2{
    text-align: center;
    margin: 10px 0;
    font-size:15px;
}
.logo{
    width: 70px;
    height: 70px;
    float: left;
    border: 1px solid #e5e5e5;
    padding: 3px;
}
.logo img{
    width:100%;
    vertical-align: middle;
    display: table-cell;
}
#school-name{
    float: left;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
    width: 90%;
    margin-bottom: px;
    margin-top: 3px;
    color:#000 !important;
}
.header-content p.institution_address{
    float: left;
    margin-left: 10px;
    font-size: 14px;
    color: #666 !important;
    margin-top:0px !important;
    width:100%;
}
.header-content{
    margin-left:0px; 
    height:80px;
    width: 90%;
    padding:3px;
    float: none;
}
span.header_parts{
    vertical-align: middle;
    display: table-cell;
}
span.colon{
    float:left;
    margin-right:5px;
    margin-left:5px;
}
.add_top_margin{
    margin-top:15px !important;
}
.section {
    float: left;
    width: 100%;
}
#details{
    margin: 20px 0;
}
.fields-details {
    float: left;
    width: 50%;
    font-weight: normal;
    font-size: 13px;
    margin: 3px 0;
}
.field-label {
    float: left;
    min-width: 120px;
}
.fields-val {
    float: left;
    margin-left: 20px;
}
#name .fields-val{ font-weight : bold}
#right_align div{ float: right}
.last_updated_section{
    vertical-align: top;
    width: 20%;
    text-align: right;
}
.remark_subject_section{
    font-weight: bold;
    padding-bottom: 5px;
}
tr{
    border-left: 1px solid #95989A;
    border-right: 1px solid #95989A;
}
tr.first-td{
    border-top: 1px solid #95989A;
}
.remark_body_section{padding-top: 20px;line-height: 1.5em;}
td.remarks-text{
    width: 80%;
}
.remarked_by_section span{
    font-size: 12px;
    text-decoration: underline;
}
.avoid_page_break_inside{
    page-break-inside: avoid;
}
.table-wrapper{ margin-top : 20px;}
.first-row{ border-bottom: 0 !important}
.batch-details{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.batch_name{
    font-size: 15px;
    padding: 30px 0 20px 0;
}
.remarks_count{
    padding: 30px 0 20px 0;
    text-align:right;
}