<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('configuration_text') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('student_document_manager') %></div>    
</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs  %>
    </div>

    <div id="flash-box">
        <% unless flash[:notice].nil? %>
          <p class="flash-msg">
              <%= flash[:notice] %>
          </p>
        <% end %>
    </div>

    <div id="student_document_manager_heading">
        <h3 class="main_title"><%= t('student_document_manager') %></h3>
        <h4 class="description"><%= t('student_document_manager_description') %></h4>
        <div class="add_link">
            <%= link_to_remote "#{t('add_category')}", {:url => {:action => "new"}}, :class => "modal_link" %>
        </div>
        <div class="extender"></div>
    </div>

    <div id="student_document_categories">
        <%= render :partial => "categories", :locals => {:categories => @categories} %>
        <!--table id="listing" width="100%">
            <tbody>
                <tr class="tr-head">
                    <td class="col-1">
                        < %= t('document_categories') %>
                    </td>
                    <td class="col-2"></td>
                </tr>
                < % @categories.each do |category| %>
                  <tr class="tr-< %= cycle('odd', 'even')%>" id="category_row_#{category.id}">
                      <td class="col-1">
                          < %= category.attachment_category_name %>
                      </td>
                      <td class="col-2">
                          < % unless category.is_deleatable? %>
                            < %= link_to_remote "#{t('edit')}", :url => {:action => "edit", :id => category.id}, :method => :get %>
                            < %= link_to_remote "#{t('delete_text')}", :url => student_document_category_path(category),:method => 'delete', :confirm => t('delete_confirm_msg') %>
                          < % end %>
                      </td>
                  </tr>
                < % end %>
            </tbody>
        </table -->
    </div>

    <div id="modal-box" style="display:none;"></div>

</div>