#institute-name {
  color: white;
  padding: 9px;
}
.right-links {
  width: auto;
  float: right;
  margin-left: 10px;
  margin-top: 4px;
  margin-top: -29px;
  color: white;
  }
#institute-log{
padding: 1px;
}
