

#view_all {margin-left:50px;}
#view_all a {font-weight:bold;color:#000;}

#search_box_bg{width:714px;padding-left:50px;margin-top:10px; overflow: hidden; height:50px;padding-top:10px; }

#search_box_bg label{padding-top:0px;color:#555;font-size:16px; float:left; width:80px; font-weight: bold;}
#search_textbox input{
    background : #eee;
    float:left;
    border : 1px solid #c6c6c6;
    margin : -5px 0 0 10px;
    width : 180px;
    height:22px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 4px 0 0 5px;
}

.radio_button{width:400px; margin-top:0px; height:25px;color:#555; float:left; font-size:13px;}
#information{height:auto;width:100%;margin:0px auto;padding-left:0px; margin-top:30px;}
#no_result{font-weight:bold;color:#b00}
#ajax_result {padding:10px 0 10px 0;width:204px;float:left;}
#ajax_result a{color:#000;font-weight:bold; text-decoration:none;}
#ajax_result a:hover{color:#9E0F15; text-decoration:underline;}

/* ALL STUDENT CSS */

#all_students{margin:0px; padding:0px; height:300px; width:725px; margin:20px 0 0 40px;}
#student_name{padding:10px 10px 10px 0;text-decoration:none;width:230px;float:left;background:#fff url(/images/student_details/ajax_result_underline.jpg) bottom left no-repeat}
#student_name a {text-decoration:none;color:#000;font-weight:bold}
.students-on-one-line {
    background : #fff url(/images/student_details/ajax_result_underline.jpg) bottom left repeat-x;
    overflow: auto;
    width:816px;
    margin-bottom: 20px;
}
#search_textbox input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}
body #content_wrapper{
    width:980px;
    height:auto;
    overflow: hidden;
}
#side_bar{
    float: left;
    width: 200px;
}
#content {
    padding-bottom:33px;
    float:left;
    width:980px;
    height: auto;
}
.sortheader {
    color: #990A10;
    font-weight: bold;
    text-align: left;
    text-decoration: none !important;
    width: auto;
/*    margin-left: 10px;*/
}
th{
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    width: auto;
}

.details{
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.details a{
   text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}
.gray_table_list_a {
    text-decoration:underline !important;
}
.set_border_right a{
    margin-right: 5px;
}
.set_border_left_a{
    margin-left: 5px;
}
#inner-tab-menu ul {
    margin: 33px 0 0 !important;
}
table#listing{
    background: #ffffff !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    padding: 0px 0px 0px !important;
}
.text_color{
    color: #000000;
}