
#score-table{
    overflow:auto;
    margin-bottom: 20px;
}
.student_list{
}
.header{
    list-style-type: none;
    font-weight: bold;
}
li.student_names, li.student_names a{
    text-decoration: none;
    /*    margin-top: 5px;*/
    color: black;
    width:100%;
    min-width:100%;
    display: block;
    padding: 2px 0 2px 0;
}
.student_list{
    list-style-type: none;
    clear : both;
    width: 200px;
    max-height: 400px;
    overflow-y: auto;
    font-size: 13px;
    padding: 0px;
    float: left;
}

.student_list a:hover{
    text-decoration: none;
    background-color:  #F1F6FF;
    width:100%;

}
.student_list a:active{
    text-decoration: none;
    /*    font-weight: bold;*/
}
.student_list a.active-link{
    font-weight: bold;
    color: #C00;
}
.student-name{
    height: 28px;
}
#student_list{
    width: 200px;
    float: left;
}
#report{
    float: left;
    width: 735px;
    margin-left:  20px;
    margin-right: 10px;
    margin-top: 30px;
}
.content_student_report{
    width: auto;
}
.margin-left-10{
    margin-left: 10px;
}
.list_name{
    font-weight: bold;
}
table#listing td{
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
}
table#listing tr.tr-head,   .cgpa {
    color: #C00;
    font-size: 13px;
    font-weight: bold;

}
table#listing .tr-head td {
    padding: 5px;
    padding-left: 7px;
    text-align: center;
}
.student{
    font-weight: bold;
    text-align: left !important;
    margin-left: 10px;
}
/************giving border and padding to outer div instead of table***************/
#score-table{
    background: #C3D9FF;
    /*    -moz-border-radius: 10px;
        -webkit-border-radius: 10px;*/
    padding: 10px 10px;
}
table#listing{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0px;
}
.custom_header{
    margin: 0 auto;
    padding: 8px;
    background: #fff;
    font-weight: bold;
}

tr.center td{
    text-align: center;
}
td.left-aligned{
    text-align: left !important;
}
td.left-10{
    padding-left: 10px !important;
}
/*************************************************************************************/
.user_button{
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    /*    margin: 10px 0 0 433px;*/
    text-decoration: none;
    /*margin-left: 330px;*/
    float:left;
    /*    margin-left: 433px;*/

}
.user_button:hover{
    background:  #373B3F;
}
.info1{
    font-size:13px;
    font-weight:600;
    color:#444444;
    margin-bottom:5px;
}
.infolbl{
    color:#b00;
}
.field-label{
    width:80px;
    float:left;
}
.info-left{
    float:left;
}
.info-right{
    float:right;
}
.info{
    width:100%;
    float:left;
}
.high{
    color:#b00;
}
.bread_crumb {
    margin-left: 10px;
}

#button{
    margin-left: 230px;
}
.full_width{
    float:left;
    width:98%;
}
.asl_block{
    width: 400px;
    float: left;
    margin-right: 30px;
}
.fleft{
    float: left;
}
span.cgpa{
    font-size:11px;
}
p.flash-msg{
    width:968px;
    margin-top:30px;
}
.observation_text{
    width:25%;
}
.label-field-pair2 {
    height: 40px;
    width: 345px;
    padding-top: 3px;
    float: left;
}
.label-field-pair {
    height: 40px;
    width: 344px;
    padding-top: 3px;
    float: left;
}
.label-field-pair1 {
    float: left;
    width: 100%;
    margin-bottom: 40px;
}
.label-field-pair label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: left;
    width: 106px;
    padding-top: 10px;
    font-weight: 600;
}
.text-input-bg {
    background: transparent;
    height: 28px;
    width: 230px;
    float: left;
}
.text-input-bg select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 155px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#loader {
    margin-left: 5px;
}
.submit-button {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #27292B;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0 0 0px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 14px;
    float: left;
    cursor: pointer;
}
.label-field-pair2 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: left;
    width: 106px;
    padding-top: 10px;
    font-weight: 600;
}
.text-input-bg2 {
    background: transparent;
    height: 28px;
    width: 230px;
    float: left;
}
.text-input-bg2 select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 155px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#loading{
    margin-left: 10px;
    margin-top: 13px;
}