/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 Feb, 2017, 3:47:32 PM
    Author     : shijith
*/

#student_details_table{
    width:100%;
    float:left;
    margin-bottom: 30px;
}
#exam_details_table{
    width:100%;
    float:left;
    margin-bottom: 30px;
}

th{
    font-size: 14px;
    color: #333333;
    background: #eeeeee;
    line-height: 30px;
}
td{
    font-size: 13px;
    color: #333333;
}
table, th,td{
    border: 1px solid #cccccc;
    border-collapse: collapse;
}
th, td {
    padding: 5px 20px;
    text-align: left;
}
tr{
    line-height: 30px;
}

.list_odd{
    background-color: #ffffff;
}
.list_even{
    background-color: #f5f5f5;

}
.link-box {
    margin:10px 40px;
    width:270px;
    float:left;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
.link-descr {
   margin-top: 5px;
    color: #666;
    text-align: left;
}

p{
    font-size:13px;
}

.flash-msg {
    background-color : #fff1ab;
    padding : 5px;
    font-size:13px;
    font-weight:600;
    border:1px solid #EFDC86;
    margin-bottom: 10px;
}
ul{
    margin: 0;
    -webkit-padding-start: 0px !important;
}
li a{
    text-decoration: none;
    color: #333333;

}
#page-yield .submit_button a{
    text-decoration: none !important;
    color: white !important;
}
#page-yield .submit_button a:hover{
    text-decoration: none !important;
    color: white !important;
}
.submit_button.new{
    margin-left: 0px;
    float: left;
    margin-top: 30px;
    padding-bottom: 10px;
}
.submit-button{
    margin-left: 0px;
}
.submit_button.class{
    float: right;
}
.no_entries{
    float: left;
    background-color: #eeeeee;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 20px;
}
#error-box {
    background: #ffdedf url(/images/_global/error.png) no-repeat 10px 9px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding: 10px 0 10px 20px;
}
.label-field-pair{
    width: 100px;
}
.check_box{
    width: 10px;
}
.label-field-pair input{
    width: 15px;
}
.action{
    width: 10px;
}
#student_items{
    float: left;
    width: auto;
    height: auto;
    min-width: 500px;
}
.student_items{
    float: left;
    width: auto;
    height: auto;
    min-width: 500px;
}
#feature_access_settings_feature_access_settings{
    width: 28px;
    height: 15px;
    margin-top: 11px;
}
#top_section{
    float: left;
    width: 100%;
    
}
#course_area,#batch_area{
    float:left;
    width:410px;
}
#course_text,#batch_text{
    float:left;
    margin-top:0px;
    color: #444;
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px;
}
#course_area,#batch_area{
    float:left;
    width:350px;
}
#middle_section{
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}
#description{
    float: left;
    width: 750px;
}
#description_text{
    float: left;
    color: #909090 ;
    font-size: 13.7px;
    line-height: 18px;

}
.label-field-pair input{
    height: 26px !important;
}