<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="page-yield">
    <div class="box">
        <% form_remote_for @obs_group,:url=>{:controller=>"observation_groups",:action=>'create'},:before=>"$('submit_button').disable()",:complete=>"setTimeout(function(){$('submit_button').enable();},5000)" do |f| %>
          <div id="form-errors"></div>
          <%= error_messages_for :obs_group %>
          <div class="label-field-pair">
              <label for="observation_group_name">Name</label>
              <div class="text-input-bg"><%= f.text_field :name %></div>
          </div>
          <div class="label-field-pair">
              <label for="observation_group_header_name">Header Name</label>
              <div class="text-input-bg"><%= f.text_field :header_name %></div>
          </div>
          <div class="label-field-pair">
              <label for="observation_group_desc">Description</label>
              <div class="text-input-bg"><%= f.text_field :desc %></div>
          </div>
          <div class="label-field-pair">
              <label for="observation_group_cce_grade_set_id">CCE Grade Set</label>
              <div class="text-input-bg">
                  <%= f.select :cce_grade_set_id ,@grade_sets.map{|m| [m.name,m.id]} ,:prompt=>"Select a grade set" %>
              </div>
          </div>
          <div class="label-field-pair">
              <label for="observation_group_observation_kind">Assessment Type</label>
              <div class="text-input-bg">
                  <%= f.select :observation_kind ,@observation_kinds.map{|m| [m[1],m[0]]},:prompt=>"Select an assessment type" %>
              </div>
          </div>
          <div class="label-field-pair">
              <label for="observation_group_di_count_in_report">Descriptive Indicator count for reports</label>
              <div class="text-input-bg"><%= f.text_field :di_count_in_report,:value=>@di_count %></div>
          </div>
          <%= f.submit "", :value => "► Create", :class => "submit_button", :id => 'submit_button' %>
        <% end %>
        <div class="extender"></div>
    </div>
</div>
