<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% unless @observations.empty?  %>
  <table align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head">
      <td><%= t('observations_text') %></td>
      <td><%= t('description') %></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% @observations.each_with_index do |g,i| %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-1">
          <%= link_to g.name, observation_descriptive_indicators_path(g) %>
        </td>
        <td class="col-2">
          <%= link_to g.desc, observation_descriptive_indicators_path(g) %>
        </td>
        <td class="col-3">
          <div class="category-edit">
            <%= link_to_remote "#{t("edit_text")}", :url => { :action => 'edit_observation', :id => g.id }%>  |
            <%unless g.descriptive_indicators.present?%>
              <%= link_to_remote "#{t("delete_text")}", :url => { :action => 'destroy_observation', :id => g.id},:confirm=>"Delete Co-scholastic criteria #{g.name}?"  %>
            <%else%>
              <s><%= t('delete_text') %></s>
            <%end%>
            <% unless i==0 %>
              <%= link_to_remote "&#x25B2;", :url=>{:action=>'reorder',:direction=>'up',:id=>g.id,:count=>i},:method=>"post" %>
            <% else %>
              &nbsp;
              &nbsp;
            <% end %>
            <% unless i+1==@observations.count %>
              <%= link_to_remote "&#x25BC;", :url=>{:action=>'reorder',:direction=>'down',:id=>g.id,:count=>i},:method=>"post"  %>
            <% else %>
              &nbsp;
              &nbsp;
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>

  </table>
<% else %>
  <div id="flash-box">
    <p class="flash-msg">No Co-Scholastic criterion present</p>
  </div>
<% end %>
