<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<% if !@obs_groups.empty? %>
  <% form_remote_for @course,:url=>{:controller=>:observation_groups,:action=>:update_course_obs_groups,:id=>@course.id} do |f| %>


    <table align="center" width="100%" cellpadding="1" cellspacing="1" id="listing">
      <tr class="tr-head">
        <td></td>
        <td>Observation group</td>
        <td><%=t('description')%></td>
      </tr>
      <% @obs_groups.each do |g| %>
        <tr class="tr-<%= cycle('odd', 'even')%>">
          <td class="col-4">
            <span class="weekday_name">
              <%= check_box_tag "course[observation_group_ids][]", g.id, @course_observation_groups.include?(g)%></span>
          </td>
          <td class="col-7">
            <%= g.name %>
          </td>
          <td class="col-7"><%=g.desc%></td>
        </tr>
      <% end %>
    </table>
    <%= f.submit "", :value => "► #{t('save')}", :class => "submit_button" %>
  <% end %>
<% else %>
  <div class = "msg"><p class = "flash-msg"><%= t('no_observation_groups') %></p></div>
<% end %>
