/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Jan, 2016, 2:36:47 PM
    Author     : shijith
*/
#other_details {
    line-height: 1.5 !important;
}
#other_details a{
    text-decoration: none;
}
#other_details a:hover{
    text-decoration: underline;
}

#top_section{
    float: left;
    width: 100%;
    margin-bottom: 15px;
    /*    margin-bottom: 30px;*/
}
#course_area,#batch_area{
    float:left;
    width:410px;
}
#course_text,#batch_text{
    float:left;
    margin-top:20px;
    color: #444;
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px;
}
#middle_section{
    float: left;
    width: 100%;
}
#description{
    float: left;
    width: 750px;
    padding-top: 9px;
}
#description_text{
    float: left;
    color: #909090 ;
    font-size: 13.7px;
    line-height: 18px;

}
#priority{
    float: left;
    margin-left: 15px;
}
#priority a{
    font-size: 14px;
    margin-top: 5px;
    color: #06c;
}
#priority_text_1{
    margin-top: 16px;
    float: left;
    font-size: 15px;
    color: #06c;
    cursor: pointer;
}
#student_details_table,#exam_details_table{
    width:100%;
    float:left;
    margin-bottom: 30px;
}

th{
    font-size: 14px;
    color: #333333;
    background: #eeeeee;
    line-height: 30px;
}
td{
    font-size: 13px;
    color: #333333;
}
table, th,td{
    border: 1px solid #cccccc;
    border-collapse: collapse;
}
th, td {
    padding: 5px 20px;
    text-align: left;
}
tr{
    line-height: 30px;
}

.list_odd{
    background-color: #ffffff;
}
.list_even{
    background-color: #f5f5f5;

}
th#name{
    width: 36%;
    
}
th.value_criterea{
    width: 15%;
}
th.course_study{
    width: 18%;
}
th#action{
    width: 31%;
}

#other_details{
    margin-bottom:30px;
    float: left;
    width: 100%;
    margin-top: 40px;
}


#search_box_bg label {
    padding-top: 0px;
    color: #555;
    font-size: 16px;
    width: 80px;
    font-weight: bold;
}
#search_textbox input {
    background: #eee;
    float: left;
    border: 1px solid #c6c6c6;
    margin: -5px 0 0 10px;
    width: 180px;
    height: 22px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 4px 0 0 5px;
}

#search_textbox input:focus {
    background: #fff;
    border: 1px solid #9e0f15;
}
img#loader{
    float: right;
    padding-left: 20px;
}
.no_entries{
    float: left;
    background-color: #fff1ab;
    width: 100%;
    border: 1px solid #EFDC86;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}
input.submit_button{
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
}
input::-webkit-input-placeholder{
    font-family: Arial !important;
}
    