#content-header img {
    margin: 0;
    padding: 2px;
}
.box{
    margin-left: 10px;
}
.sl_no{
    width: 10%;
    padding: 10px;
    padding-left: 10px;
    font-weight: normal;
}
.name{
    width: 30%;
    padding: 10px;
    font-weight: normal;
}
.model{
    width: 20%;
    padding: 10px;
    font-weight: normal;
}
.options{
    width: 40%;
    padding: 10px;
    font-weight: normal;
}
.options a{
    font-size: 12px;
    font-family: Arial;
    color: #444444;
    font-style: normal;
    font-weight: normal;
}
.options a:hover{
    font-family: Arial;
    color: #bbb;
    font-style: normal;
    font-weight: normal;
}

.pagination {
    float: right;
    margin-right: 17px;
    margin-top: 14px;
}
.info-msg{
    text-align: left !important;
    font-weight: normal !important;
    color: #444;
    margin-bottom: 30px;
}
.info-icon {
    height: 17px;
    width: 20px;
    background: url(/images/iconsprite-1.png) no-repeat center;
    margin-left: 15px;
    float: left;
    background-position: -58px -83px;
    margin: 0 5px 0 0;
}
.options .div_link{
    font-size: 12px;
    float: left;
    margin-right: 4px;
    color: #999;
    font-weight: normal
}
.options .div_link span.pipe{ 
    font-size: 14px;
    color: #27292b;
}
.options #export_link{margin-top: 2px !important}
.tooltip_info{ font-weight: normal}
.error-icon {
    width: 15px;
    height: 12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin: 2px 2px 0 0;
    float: left;
}
.substitute {
    min-width: 15px;
    min-height: 12px;
    float: left;
}
