  <% remote_form_for :report,  :url => {:action => 'report',:batch_id=>params[:batch_id],:mode=>params[:mode],:subject_id=>params[:subject_id]},:loading => "$('loader').show();", :loaded => "$('loader').hide();" do |form| %>
    <div class="label-field-pair">
      <label>
        <%= t('select_start_date') %>:
      </label>
      <div class="text-input-bg">
        <%= calendar_date_select_tag 'start_date', I18n.l(@start_date,:format=>:default) ,:popup=>:force%>
      </div>
    </div>
    <div class="label-field-pair">
      <label>
        <%= t('select_end_date') %>:
      </label>
      <div class="text-input-bg">
         <%= calendar_date_select_tag 'end_date', I18n.l(@end_date,:format=>:default) ,:popup=>:force%>
      </div>
    </div>
    <%= submit_tag "#{t('view_report')}",:class=>'user_button' %>
  <%end%>
<script type="text/javascript">
  j('.calendar_label').on('click',function(){
    var month_names = "<%= I18n.t('date.month_names').compact.join(',') %>";
    new CalendarDateSelect( this.previous(), {date_format:"<%= date_format %>", locale_months:month_names, popup:'force', year_range:10} );
  });
</script>