<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div class="label-field-pair">
  <label><%= t('select_mode') %>: </label>
 
<div class="text-input-bg">
<%= select :mode, :id,
  [["#{t('monthly')}","Monthly"], ["#{t('overall')}","Overall"],["#{t('custom_date')}","custom"]],
  {:prompt => "#{t('select_mode')}"},
  {:onchange => "#{remote_function(
  :url => { :action => 'show' },
  :with => "'mode='+value+'&batch_id='+#{@batch.id}+'&subject_id='+#{@subject}",
  :before => "Element.show('loader')",
  :success => "Element.hide('loader')"  )}"} %>
</div> </div>
