<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<% if !@batch.students.empty? %>
  <% if @academic_days_count > 0 or (@config.config_value == 'SubjectWise' and params[:subject_id] == '0' and @available_timetable.present?) %>
    <% form_for :filter, :url => {:action=> 'filter'} do |f| %>
      <%= f.hidden_field :batch , :value=> @batch.id %>
      <%= f.hidden_field :start_date , :value=> @start_date %>
      <%= f.hidden_field :end_date , :value=> @end_date %>
      <%= f.hidden_field  :report_type, :value=>@mode %>
      <% unless params[:subject_id].nil? %>
        <%= f.hidden_field :subject , :value=> params[:subject_id] %>
      <% end %>
      <% unless @students.empty? %>
        <%= submit_tag "#{t('filter')}",:class=>'submit_button', :disable_with => "► #{t('please_wait')}"  %>
        <div class="label-field-pair1">
          <label><%= t('filter') %>:</label>
          <div class="text-input-bg1"><%= f.select :range, [["#{t('below')}","Below"], ["#{t('above')}","Above"], ["#{t('equals')}","Equals"]] %></div>
          <div class="text-input-bg1"><%= f.text_field :value %></div>
        </div>
      <% end %>
    <%end%>
    <% unless @students.empty? %>
      <div class="label-field-pair">
        <label>
          <%  if @config.config_value == 'Daily' %>
            <%= "#{t('total_no_of_wrkng_days')} = #{@academic_days_count}" %>
          <% else %>
            <% unless params[:subject_id] == '0' %> 
            <%= "#{t('total_no_of_wrkng_hours')}= #{@academic_days_count}" %>
            <% end  %>
          <% end  %>
        </label>
      </div>
      <table id="listing" align="center" width="80%">
        <tr class="tr-head">
          <td><%= t('name') %></td>
          <td><%= t('adm_no') %></td>
          <% if roll_number_enabled? %>
            <td><%= t('roll_no') %></td>
          <% end %>
          <td><%= t('total') %></td>
          <td><%= t('percentage') %>(%)</td>
        </tr>
        <tr class="blank"></tr>
        <% @students.each do |student| %>          
          <tr class="tr-<%= cycle('odd', 'even') %>">
          <%# raise params[:subject_id].to_s %>
            <td class="col-2"><%= link_to student.full_name, {:controller => "attendance_reports", :action => "student_details", :id => student.id,:start_date=>@start_date,:end_date=>@end_date,:subject_id => params[:subject_id] } %></td>
            <td class="col-3"> <%= student.admission_no %> </td>
            <% if roll_number_enabled? %>
              <td class="col-3"><%= student.roll_number.present? ? student.roll_number : "-"  %></td>
            <% end %>
            <% academic_days = @leaves[student.id]['total_academic_days'] %>  
            <td class="col-3"> <%= academic_days.present? ? (academic_days == 0 ? '-' : "#{@leaves[student.id]['total']} / #{@leaves[student.id]['total_academic_days']}") : "-" %></td>            
            <td class="col-3"> <%= @leaves[student.id]['percent'].present? ? @leaves[student.id]['percent'] : "-" %></td>
          </tr>
        <% end %>
      </table>
      <div id = "button">
        <%= link_to "►#{t('pdf_report')}", {:controller=>'attendance_reports', :action=> 'report_pdf',:page_height=>750,:batch=> @batch.id,:report_format_type => "pdf" ,:start_date=> @start_date ,:end_date => @end_date ,:report_type=> @mode,:subject=> params[:subject_id]} ,{:target => '_blank',:class=>'user_button' } %>
        <%= link_to "►#{t('csv_report')}", {:controller => 'csv_export', :action => 'generate_csv', :csv_report_type => 'student_attendance_report',:report_format_type => "csv", :batch => @batch.id, :start_date => @start_date, :end_date => @end_date, :report_type => @mode, :subject => params[:subject_id]},:class => 'user_button button_align'%>
      </div>
    <% else %>
      <div class="label-field-pair2" >
        <p class = "flash-msg"><%= t('no_students_found') %></p>
      </div>
    <% end %>
  <% else %>
    <div class="label-field-pair2" >
      <p class = "flash-msg"><%= t('no_reports') %></p>
    </div>
  <%end %>
<% else %>
  <div class="label-field-pair2" >
    <p class = "flash-msg"><%= t('no_students_found') %></p>
  </div>
<% end %>
