  <%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div class="text-input-bg3">
<%= select :year, :id,
  [["#{t('year')}",""],[@year-2,@year-2],[@year-1,@year-1],[@year,@year]],
  {:prompt => "#{t('year')}"},
  {:onchange => "#{remote_function(
  :url => { :action => 'report' },
  :with => "'year='+value+'&batch_id='+#{@batch.id}+'&month='+#{@month}+'&subject_id='+#{@subject}+'&mode='+'#{@mode}'",
  :before => "Element.show('loader')",
  :success => "Element.hide('loader')"  )}"} %>
</div>
