<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('attendance_report') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('consolidated_subjectwise_report') %></div>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs  %>
    </div>
</div>
<div id="error-div">
</div>
<div class="content1">
    <p class="flash-msg qwerty"><%="#{t('select_a_batch_to_continue')}"%>
</p>
    <% remote_form_for :report,  :url => {:action => 'subjectwise_report'},:loading => "$('loader').show();", :loaded => "$('loader').hide();" do |form| %>
      <div class="label-field-pair">
          <label>
              <%= t('select_start_date') %>
          </label>
          <div class="text-input-bg">
              <%= calendar_date_select_tag 'start_date', I18n.l(FedenaTimeSet.current_time_to_local_time(Time.now).to_date,:format=>:default) ,:popup=>:force%>
          </div>
      </div>
      <div class="label-field-pair">
          <label>
              <%= t('select_end_date') %>
          </label>
          <div class="text-input-bg">
              <%= calendar_date_select_tag 'end_date', I18n.l(FedenaTimeSet.current_time_to_local_time(Time.now).to_date,:format=>:default) ,:popup=>:force%>
          </div>
      </div>

      <div class="label-field-pair">
          <label> <%= t('select_a_batch') %> </label>
          <div class="text-input-bg">
              <%= select :batch, :id,
                @batches.map {|b| [b.full_name, b.id] },{:include_blank=>"Select a batch"}%>
          </div>
      </div>

      <div class="label-field-pair">
          <label> <%= t('attendance_type') %> </label>
          <div class="text-input-bg">
              <%=select_tag(:type,options_for_select([t('classes'),t('percentage'),t('both')]))%>
          </div>
      </div>
  </div>
<br>
  <div class="r"><%= submit_tag "#{t('view_report')}",:class=>'user_button',:id=>"user_button" %>
     <div class="load">  <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: block;" ) %>
     </div></div>
<%end%>


<div id="show_report"></div>




<script>
  j('#user_button').on('click',function(){
    
    if(j('#batch_id').val() ==="")
    {
     j('.qwerty').css("display","block");
    }
    else{
      j('.qwerty').css("display","none");
    }
  });
    j('#batch_id').on('change',function(){
            j('.qwerty').css("display","none");

  });
  j('#user_button').on('click',function(){
         j('.load').css("display","block");
  });

 
</script>

