<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('attendance_report') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('filtered_report') %></div>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs  %>
    </div>
    <div class="label-field-pair">
        <label>

            <%  if @config.config_value == 'Daily' %>
              <%= "#{t('total_no_of_wrkng_days')} = #{@academic_days_count}" %>
              <br/>
            <% else %>
              <% unless params[:filter][:subject] == '0' %>
                <%= "#{t('total_no_of_wrkng_hours')}= #{@academic_days_count}" %>
              <% end  %>
            <% end  %>
            <%= t('filtered') %>: <%=  t(@range.downcase) %> <%= @value %> %
        </label>
    </div>
    <% unless @leaves.present? %>
      <p class="flash-msg"><%= t('no_reports') %></p>
    <% else %>
      <table id="listing" align="center" width="80%">
          <tr class="tr-head">
              <td><%= t('name') %></td>
              <td><%= t('adm_no') %></td>
              <% if roll_number_enabled?%>
                <td><%= t('roll_no') %></td>
              <% end %>
              <td><%= t('total') %></td>
              <td><%= t('percentage') %>(%)</td>
          </tr>
          <tr class="blank"></tr>
          <% @leaves.each_pair do |student_id, data| %>
            <% student = @students.select {|x| x.id == student_id}.last %>            
            <tr class="tr-<%= cycle('odd', 'even') %>">
                <% @flag=0 %>
                <td class="col-2"><%= link_to student.full_name, {:controller => "attendance_reports", :action => "student_details", :id => student.id,:subject_id=>params[:filter][:subject],:start_date=>@start_date,:end_date=>@end_date } %></td>
                <td class="col-3"> <%= student.admission_no %></td>
                <% if roll_number_enabled? %>
                  <td class="col-3"><%= student.roll_number %></td>
                <% end %>
                <td class="col-3"> <%= data['total_academic_days'] == 0 ? '-' : "#{data['total']} / #{data['total_academic_days']}" %> </td>                   
                <td class="col-3"> <%= data['percent']  %></td>
            </tr>
          <% end %>
      </table>
    <% end %>
    <% if @flag==0 %>
      <% unless @subject.nil? %>
        <%subject_id=@subject.id %>
      <% else %>
        <%subject_id = '0'%>
      <% end %>
      <div id = "button">
          <%= link_to "►#{t('pdf_report')}", {:controller=>'attendance_reports', :action=> 'filter_report_pdf',:batch=> @batch.id,:start_date=> @start_date ,:end_date => @end_date ,:report_format_type => "pdf",:report_type=> @mode,:subject=> subject_id,:range=>params[:filter][:range],:value=>params[:filter][:value]} ,{:target => '_blank',:class=>'user_button' } %>
          <%= link_to "►#{t('csv_report')}", {:controller => 'csv_export', :action => 'generate_csv', :csv_report_type => 'student_attendance_report',:report_format_type => "csv", :batch => @batch.id, :start_date => @start_date, :end_date => @end_date, :report_type => @mode, :subject => subject_id, :range => params[:filter][:range], :value => params[:filter][:value]}, :class => 'user_button'%>
      </div>
    <% end %>
    <div class="extender"></div>
</div>