<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="page-yield" class="available_sections1">
    <div class="page1"></div>
    <div class="section1 row" >
        <center>
            <div class="hor_line"></div>
            <h2><%= t('attendance_report') %><%= @data_hash[:parameters][:report_type] == 'Monthly' ? " - #{format_date(@data_hash[:parameters][:start_date].to_date,:format=>:month_year)}" : '' %></h2>
            <div class="hor_line"></div>
            <div class="extender"> </div>
        </center>
    </div>

    <div class="section1 row" >
        <center>
            <div id ="main_info">
                <% if @data_hash[:config].config_value == 'Daily' %>
                  <h4> <%= "#{t('total_no_of_wrkng_days')} = " + @data_hash[:academic_days].to_s %></h4>
                <% else %>
                  <% unless params[:subject] == '0' %> 
                    <h4> <%= "#{t('total_no_of_wrkng_hours')} = " + @data_hash[:academic_days].to_s %></h4>
                  <% end %>
                <% end %>
                <h4> <%= "#{t('filtered')}: "+ t(@data_hash[:range].to_s.downcase) + " " + @data_hash[:value].to_s + "%" %></h4>
            </div>
        </center>
    </div>


    <div class="section1 row" id="table-headers" >
        <center>
            <% unless @data_hash[:leaves].present? %>
              <p class="flash-msg"><%= t('no_reports') %></p>
            <% else %>
              <table id="pdf-table" width="100%">
                  <tr class="odd">
                      <td class="col-pdf1 name-td"><%= t('name') %></td>
                      <td class="col-pdf1 total-td"><%= t('adm_no') %></td>
                      <% if roll_number_enabled? %>
                        <td class="col-pdf1 total-td"><%= t('roll_no') %></td>
                      <% end %>
                      <td class="col-pdf1 total-td"><%= t('total') %></td>
                      <td class="col-pdf1 total-td"><%= t('percentage') %></td>
                  </tr>
              </table>
            <% end %>
        </center>
    </div>

    <% @data_hash[:leaves].each_pair do |student_id, data| %>      
      <% student = @data_hash[:students].select {|x| x.id == student_id}.last %>            
      <% c =cycle('even','odd ') %>
      <div class="section1 row" >
          <center>
              <table id="pdf-table" width="100%">                  
                  <tr class="<%= "#{c}" %>">                      
                      <td class="name-td"><%= student.full_name %></td>                      
                      <td class="total-td"><%= student.admission_no %></td>
                      <% if roll_number_enabled? %>
                        <td class="total-td"><%= student.roll_number %></td>
                      <% end %>
                      <td class="total-td"> <%= data['total_academic_days'] == 0 ? '-' : "#{data['total']} / #{data['total_academic_days']}" %> </td>                   
                      <td class="total-td"><%= data['percent']  %></td>
                  </tr>
              </table>
          </center>
      </div>
    <% end %>
</div>

<% if params[:page_height] %>
  <script type="text/javascript">
    var body = document.body,
            html = document.documentElement;
    var pg_height = parseInt(<%= params[:page_height] %>);
    var header = $("table-headers")
    var page = new Element('div', {'class': 'page1'});
    var pageBreak = new Element('div', {'class': 'page-break1'});
    var insertPageBreak = function () {
        body.appendChild(pageBreak.cloneNode(true))
    };
    var insertPage = function () {
        body.appendChild(page.cloneNode(true));
    };
    var currPage = function () {
        return $$('.page1').last()
    };
    var insertHeader = function () {
        header1 = header.cloneNode(true);
        header1.style.marginTop = "50px";
        currPage().appendChild(header1.cloneNode(true));
    };
    var current_page_height = 0;
    var i = 0
    $$('.available_sections1 .section1').each(function (el) {
        a = parseInt(el.getHeight());
        c = current_page_height + a;
        current_page_height = c;
        if (c > pg_height) {
            current_page_height = a
            body.appendChild(new Element('div', {'id': 'page-blank_' + i, 'class': 'page-blank'}))
            document.getElementById('page-blank_' + i).style.height = (c - pg_height) + 'px';
            document.getElementById('page-blank_' + i).innerHTML = "&nbsp;"/* if a div doesnt have any content it may not display.. set height will not work */
            i += 1

            //el.style.marginTop="50px"; /* for this border-top is coming, top section of each page */
            insertPageBreak();
            /* insertHeader(); */
            insertPage();
            insertHeader();
            current_page_height = (current_page_height + header.getHeight() + 50)

        }
        currPage().appendChild(el);
    });
  </script>
<% end %>
