<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('attendance_report') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('report') %></div>
    <%if @config.config_value=='SubjectWise'%>
      <div id="inner-tab-menu">
          <ul>
              <!-- <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('advanced')}", :controller=>"student_attendance", :action=>"advance_search" %></li> -->

              <% if Configuration.get_config_value('StudentAttendanceType') == 'SubjectWise' %>
                <% if can_access_request? :consolidated_report, @current_user, :context=>:attendance_reports %>  
                  <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('consolidated_subjectwise_report')}",{:controller=>"attendance_reports", :action=>"consolidated_report"} %></li>
                <% end %>
              <% end %>
          </ul>
      </div>
    <%end%>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs  %>
    </div>
    <div id="error-div">

    </div>
    <div class="label-field-pair">
        <label> <%= t('select_a_batch') %>: </label>
        <div class="text-input-bg">
            <% if @config.config_value == 'Daily' %>
              <%= select :batch, :id,
                @batches.map {|b| [b.full_name, b.id] },
                {:prompt => "#{t('select_a_batch')}"},
                {:onchange => "#{remote_function(
                :url => { :action => 'mode' },
                :with => "'batch_id='+value+'&subject_id='",
                :before => "Element.show('loader')",
                :success => "Element.hide('loader')"  )}"} %>
            <% else %>
              <%= select :batch, :id,
                @batches.map {|b| [b.full_name, b.id] },
                {:prompt => "#{t('select_a_batch')}"},
                {:onchange => "#{remote_function(
                :url => { :action => 'subject' },
                :with => "'batch_id='+value",
                :before => "Element.show('loader')",
                :success => "Element.hide('loader')"  )}"} %>
            <% end %>

            <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: none;" ) %><div class="extender"></div>
        </div>
    </div>


    <div id="subject"></div>
    <div id="mode"></div>
    <div id="month"></div>
    <div id="year"></div>
    <div id="report"></div>
</div>
