<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>



<div id="page-yield" class="available_sections1">
    <div class="page1"></div>
    <div class="section1 row" >
        <center>
            <h2><%= t('attendance_report') %><%= @data_hash[:parameters][:report_type] == 'Monthly' ? " - #{format_date(@data_hash[:parameters][:start_date].to_date,:format=>:month_year)}" : '' %></h2>
            <div class="extender"> </div>
        </center>
    </div>

    <div class="section1 row" >
        <center>
            <div id ="main_info">
                <div class="info1">
                    <div class="info-left">
                        <h5><%= t('course_text') %> : <%= @data_hash[:course] %></h5>
                    </div>
                    <div class="info-right">
                        <h5 style="color:black;"><%= @data_hash[:batch] %></h5>
                    </div>
                    <div class="hor_line1"></div>
                </div>
                <div class="info1">
                    <div class="info-left">

                        <% if @data_hash[:config].config_value == 'Daily' %>
                          <h5 class="padd"> <%= "#{t('total_no_of_wrkng_days')} = " + @data_hash[:academic_days].to_s %></h5>
                        <% else %>
                          <% unless params[:subject] == '0' %>   
                            <h5 class="padd"> <%= "#{t('total_no_of_wrkng_hours')} = " + @data_hash[:academic_days].to_s %></h5>
                          <% end %>
                        <% end %>

                    </div>
                    <div class="info-right">
                        
                        <% if @data_hash[:config].config_value == 'Daily' %>
                     <h5 class="padd"> <%= "#{t('attendance_type')} : " + @data_hash[:config].config_value  %></h5>
                     <%else%>    
                        <% if @data_hash[:subject].nil? %>
                          <h5 class="padd"> <%= "#{t('subject')} : " + "#{t('all_subjects')}"  %></h5>
                        <% else %>
                          <h5 class="padd"> <%= "#{t('subject')} : " + @data_hash[:subject].name  %></h5>
                        <% end %>
                          <%end%>
                    </div>
                </div>
            </div>
        </center>
    </div>

    <div class="section1 row" id="table-headers" >
        <center>
            <table id="pdf-table" width="100%">
                <thead><tr class="odd">
                        <td class="col-pdf1 name-td"><%= t('name') %></td>
                        <td class="col-pdf1 total-td"><%= t('adm_no') %></td>
                        <% if roll_number_enabled? %>
                          <td class="col-pdf1 total-td"><%= t('roll_no') %></td>
                        <% end %>
                        <td class="col-pdf1 total-td"><%= t('total') %></td>
                        <td class="col-pdf1 total-td"><%= t('percentage') %>(%)</td>
                    </tr></thead>

                <% @data_hash[:students].each_with_index do |student,i| %>
                  <% c =cycle('even','odd ') %>
                  <tr class="<%= "#{c}" %>">
                      <td class="name-td"><%= student.full_name %></td>
                      <td class="total-td"><%= student.admission_no %></td>
                      <% if roll_number_enabled? %>
                        <td class="total-td"><%= student.roll_number.present? ? student.roll_number : '-' %></td>
                      <% end %>
                      <td class="total-td">
                          <%= "#{@data_hash[:leaves][student.id]['total_academic_days']}".to_i > 0 ? "#{@data_hash[:leaves][student.id]['total']} /  #{@data_hash[:leaves][student.id]['total_academic_days']}" : "-" %>                          
                      </td>
                      <td class="total-td">
                          <%= "#{@data_hash[:leaves][student.id]['total_academic_days']}".to_i > 0 ? @data_hash[:leaves][student.id]['percent'] : '-' %>
                      </td>
                  </tr>
                <% end %>
            </table>
        </center>
    </div>
</div>
