<table align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head">
        <td class="type_name"><%= t('leave_types') %></td>
        <td class="type_count"><%= t('leave_count').titleize %></td>
    </tr>
    <% if @leave_group.leave_group_leave_types.present? %>
      <% @leave_group.leave_group_leave_types.each do |type| %>
        <% if type.employee_leave_type.present? and type.employee_leave_type.is_active %>
          <tr>
              <td class="type_name"><%= type.employee_leave_type.name_with_code %></td>
              <td class="type_count"><%= type.display_leave_count %></td>
          </tr>
        <% end %>
      <% end %>
    <% else %>
      <tr>
          <td colspan="2"><%= t('no_leave_types_present') %></td>
      </tr>
    <% end %>
</table>