#search_box_bg{width:800px;padding-left:50px;}
.search_box_bg1{width:714px;}
#search_box_bg label{padding-top:0px;color:#555;font-size:16px; float:left; max-width: 265px !important; font-weight: bold;margin-left:-26px;}
.search_box_bg1 label{padding-top:0px;color:#555;font-size:16px; float:left; width:auto; font-weight: bold;}
#search_textbox input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background: none repeat scroll 0 0 #EEEEEE;
    float:left;
    border : 1px solid #c6c6c6;
    margin : -5px 0 0 35px;
    margin-right:70px;
    width : 182px;
    height:22px;
    padding: 4px 0 0 5px;
}
.search_textbox input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background: none repeat scroll 0 0 #EEEEEE;
    float:left;
    border : 1px solid #c6c6c6;
    margin: -5px 70px 0 40px;
    width : 185px;
    height:22px;
    padding: 4px 0 0 5px;
}

#search_textbox input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}
#pay_button{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    float:left;
    padding: 6px 0px;
    border:none;
    text-align:center;
    width: 119px;
    cursor:pointer;
    margin-left: 101px;
    margin-top: 34px;
    padding-right: 8px;
    padding-left: 5px;
}
.add_particular_button{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    float:right;
    margin-top:10px;
    padding:7px 12px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
}

.submit_button input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    float:left;
    margin-top:-5px;
    margin-left: 10px;
    padding:7px 12px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
}
.submit_button1 input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-left: 209px;
    float:left;
    margin-top:10px;
    padding:7px 12px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
}

#information {
    float: left;
    margin: 0 auto 0 56px;
    padding-left: 0;
    width: 930px;
}

#no_result{font-weight:bold;margin-left: -32px;}
#ajax_result {padding:10px 0 10px 0;width:204px;float:left;}
#ajax_result a{color:#000;font-weight:bold; text-decoration:none;}
#ajax_result a:hover{color:#9E0F15; text-decoration:underline;}

/* ALL STUDENT CSS */

#all_students{margin:0px; padding:0px; height:300px; width:725px; margin:20px 0 0 40px;}
#student_name{padding:10px 10px 10px 0;text-decoration:none;width:230px;float:left;background:#fff url(/images/student_details/ajax_result_underline.jpg) bottom left no-repeat}
#student_name a {text-decoration:none;color:#000;font-weight:bold}
.students-on-one-line {
    background : #fff url(/images/student_details/ajax_result_underline.jpg) bottom left repeat-x;
    overflow: auto;
    width:816px;
    margin-bottom: 20px;
}

.radio-label{
    color:#555555;
    font-size: 14px;
}
/*table#listing td.col-2 {width: auto;}*/
.text-input-bg_guest input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    float: left;
    height: 17px;
    margin: 0 auto 0 18px;
    padding: 5px;
    width: 181px;

}
.text-input-bg_category input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    float: left;
    height: 17px;
    margin: 0 auto;
    margin-left:10px;
    padding: 5px;
    width: 200px;
}
.text-input-bg input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    float: left;
    height: 17px;
    padding: 5px;
    width: 204px;
}
.text-input-bg1 input, .text-input-bg1 select{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    float: left;
    height: 17px;
    margin: 0 auto;
    margin-right: 5px;
    padding: 5px;
    width: 75px;
}
.par_check{
    float:right;
    margin-right:10px;
}
.guest_category_pair{
    width:1050px;
}
.select_guest_category{
    float:right;
    margin-top: -50px;
    margin-right:60px;
}
#guest_payee {
    float: left;
    width: 180px;
}
#query{
    margin-right:20px;
}
.col-select{
    /*width:21px;*/
    width:30px;
    min-width: 30px;
    max-width: 30px;
    /*max-width: 16px;*/
}

.pay_fees a{
    font-weight:bold;
    float:left;
    margin-top:15px;
    margin-left: 97px;
}
.options-pay{
    float:right;
    width: 249px;
}
.col-pay{
    font-weight:bold;
    padding-right: 10px;
    text-align:right;
}
table#listing{
    margin-top:40px;
}
table#listing td.col-select a{
    color: #B00;
    font-weight:bold;
    text-decoration: none;
    margin-left:9px;
    margin-right:9px;
}
.col-head{
    height:45px;
}
.text-input-bg select{
}
.text-input-bg_category_guest input{
    float: left;
    margin-left: 18px;
    margin-right:20px;
    width: 180px;
}
.align{
    width:100%;
}
.align-name-left{
    float:left;
}
.align_desc_right{
    float:right;
}
.label-field-pair1 {
    height: 40px;
    margin-right: 156px;
    margin-top: -41px;
    padding-top: 3px;
    width: 400px;
}
.label-field-pair1 label {
    color: #444444;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 600;
    margin: 0 0 0;
    padding-top: 10px;
    width: 150px;
}
.label-field-pair1 input {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background: none repeat scroll 0 0 #EEEEEE;
    float:left;
    border : 1px solid #c6c6c6;
    margin: -5px 70px 0 40px;
    width : 185px;
    height:22px;
    padding: 4px 0 0 5px;
}
.img_loading
{
    width: 20px;
    height:20px;
    float: right;
    margin-top: -17px;
    margin-right: -37px;
}
.label-field-pair label {
    width: 140px;
}


.label-field-pair2 {
    height : 40px;
    width: 468px;
    float: right;
    padding-top: 3px;
}
.text-input-bg2 {
    background : transparent;
    height : 28px;
    width : 250px;
    float:left;
}
.label-field-pair2 label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 0px 0;
    float:left;
    width:200px;
    padding-top: 10px;
    font-weight: 600;

}
.label-field-pair2 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 205px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.text-input-bg2 select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 215px;
    height:27px;
    padding:3px 6px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.label-field-pair3 {
    height : 40px;
    width: 230px;
    float:left;
    padding-top: 3px;
}
.text-input-bg3 {
    background : transparent;
    height : 28px;
    width : 250px;
}
.label-field-pair3 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}
.label-field-pair3 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 205px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.text-input-bg3 select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 215px;
    height:27px;
    padding:3px 6px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
.label-field-pair3-text-area{
    height:70px;
    padding-top:3px;
    width: 450px;
    float:left;
    margin-top: -2px;
    margin-left: 61px;
}

.label-field-pair3-text-area label{
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}
.textarea-input-bg {
    background:none repeat scroll 0 0 transparent;
    margin-left:25px;
}
.label-field-pair3-text-area textarea {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    margin:3px 0 0 10px;
    padding:5px;
    width: 418px;
    height:17px;
}
.label-field-pai3r-text-area textarea:focus{
    background:#FFFFFF;
    border: 1px solid #9E0F15;
}
.pay_fees{
    float:right;
    width: 135px;
}
.radio_button{
    float:left;
    margin-bottom:18px
}
.payment_details{
    float: left;
    margin-bottom: 30px;
}
#payment_mode{
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}
.label-field-pair5 {
    /*    height: 76px;*/
    width: 88px;
    float: left;
    padding-top: 3px;
    padding-left: 32px;
}
.label-field-pair5 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}
.label-field-pair5 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 200px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}
.text-input-bg4 {
    background: transparent;
    height: 28px;
    width: 250px;
}
table#listing td.col-4-2{
    width: 15%;
    padding: 5px;
    padding-left: 10px;
}
.text-input-bg1 select {    
    width: 115px;
    margin-top: 0px;
    height: 29px;
}