  <div class="label-field-pair2">
  <label for="batch_id">Batch</label>
  <div  class="text-input-bg2" id="exam-group-select">
    <%= select :assessment, :batch_id, @batches.map{|b| [b.full_name,b.id]},{:prompt=> "Select a batch"},{:onChange => "#{remote_function(:url => {:action => @action,:type=>params[:type]},
      :method=>"GET",
      :with => "'batch_id='+ value",
      :before => "Element.show('loader1')",
      :success => "Element.hide('loader1')"
      )}"} %><%= image_tag("loader.gif",
      :align => "absmiddle",
      :border => 0,
      :id => "loader1",
      :style =>"margin-left:8px;display: none;" ) %>
  </div>
</div>