<label class="student_profile_head_label">Student Profile </label>
<div id="basic_info_1">
  <div class="student_info_div">
    <div id="main_div">
      <div id="sub_main_div">
        <div id="sub_main_left_div">
          <div class="basic_info_div">
            <div class="info_name">Admission No.</div>
            <span>:</span>

            <div class="info_value"><%= @student.admission_no %></div>
          </div>
        </div>
        <div id="sub_main_right_div">
          <div class="basic_info_div">
            <div class="info_name">Section</div>
            <span>:</span>

            <div class="info_value"><%= @batch.name %></div>
          </div>
        </div>
      </div>
      <div class="basic_info_div">
        <div class="info_name">Roll No.</div>
        <span>:</span>

        <div class="info_value"><%= @student.roll_number %></div>
      </div>
      <div class="basic_info_div">
        <div class="info_name">Registration No.</div>
        <span>:</span>

        <div class="info_value"><%= @records['RegistrationNoVal'] %></div>
      </div>
      <div class="basic_info_div">
        <div class="info_name">Name</div>
        <span>:</span>

        <div class="info_value"><%= @student.full_name %></div>
      </div>
      <div class="basic_info_div addl_width_800">
        <div class="info_name">Date of Birth</div>
        <span>:</span>

        <div class="info_value increasable_width"><%= format_date(@student.date_of_birth, :format => :long) unless @student.date_of_birth.nil? %></div>
      </div>

      <div class="basic_info_div addl_width_800">
        <div class="info_name">Mother's Name</div>
        <span>:</span>

        <div class="info_value increasable_width"><%= @student.mother_name %></div>
      </div>
      <div class="basic_info_div addl_width_800">
        <div class="info_name">Father’s Name / Guardian’s Name</div>
        <span>:</span>

        <div class="info_value increasable_width"><%= @student.guardian_name %></div>
      </div>
      <div class="basic_info_div addl_width_800">
        <div class="info_name">Residential Address</div>
        <span>:</span>

        <div class="info_value increasable_width"><%= @student.full_address %></div>
      </div>
      <div class="basic_info_div addl_width_800">
        <div class="info_name">Telephone No.</div>
        <span>:</span>

        <div class="info_value increasable_width"><%= @student.phone1 %></div>
      </div>
    </div>
  </div>
  <div class="student_pic">
    <% if @student.photo.present? %>
        <%= wicked_pdf_image_tag @student.photo, :s3 => true, :style => :original, :timestamp => false %>
    <% else %>
        Student’s Photo with Signature
    <% end %>
  </div>
</div>
<div id="attendance_report">
  <div class="attendance_item_name">
    <%= label_tag 'attendance', "Attendance", :class => "head_label_left" %>
    <%= label_tag 'total_attendance_of_the_student', "Total attendance of the student" %>
    <%= label_tag 'toatal_working_days', "Total Working days" %>
  </div>
  <% unless @exam_groups.empty? %>
      <% @exam_groups.each do |eg| %>
          <div class="atendance_item">
            <%= label_tag 'term1', "#{eg.cce_exam_category.name}", :class => "head_label" %>
            <%= label_tag 'total_attendance_term_1', @attendance_hash.present? ? @attendance_hash[eg.id]["leaves"] : " ", :class => 'data_items' %>
            <%= label_tag 'total_days_term_1', @attendance_hash.present? ? @attendance_hash[eg.id]["academic_days"] : " ", :class => 'data_items' %>
          </div>
      <% end %>
  <% else %>
      <div class="atendance_item">
        <%= label_tag 'term1', "", :class => "head_label" %>
        <%= label_tag 'total_attendance_term_1', " ", :class => 'data_items' %>
        <%= label_tag 'total_days_term_1', " ", :class => 'data_items' %>
      </div>
      <div class="atendance_item">
        <%= label_tag 'term1', "", :class => "head_label" %>
        <%= label_tag 'total_attendance_term_1', " ", :class => 'data_items' %>
        <%= label_tag 'total_days_term_1', " ", :class => 'data_items' %>
      </div>

  <% end %>
</div>
<label class="student_profile_head_label">Health Status</label>
<div id="health_status_div">
  <div class="basic_info_div">
    <%= label_tag 'height', "Height", :class => "label_health" %>
    <p class="health_div_p medium"><%= @records['Height'] %></p>
    <%= label_tag 'weight', "Weight" %><p class="health_div_p medium"><%= @records['Weight'] %></p>
  </div>
  <div class="basic_info_div">
    <%= label_tag 'Blood_group', "Blood Group", :class => "label_health" %>
    <p class="health_div_p medium"><%= @records['BloodGroup'] %></p>
    <%= label_tag 'vision', "Vision (L)" %>
    <p class="health_div_p small"><%= @records['VisionLeft'] %></p> <%= label_tag 'vision (R)', "(R)" %>
    <p class="health_div_p small"><%= @records['VisionRight'] %></p>
  </div>
  <div class="basic_info_div">
    <%= label_tag 'dental_hygiene', "Dental Hygiene", :class => "label_health" %>
    <p class="health_div_p large"><%= @records['DentalHygiene'] %></p>
  </div>
</div>
