<%unless params[:course_id].blank?%>
  <div class="label-field-pair">
      <label for="batch_id">Batch</label>
      <div class="text-input-bg margin-left-10">
          <%= select :batch, :batch_id,
            @batches.map {|b| [b.name, b.id]},
            {:prompt => "#{t('select_a_batch')}"},
            {:onChange => "#{remote_function(:url => {:action => "generate_previous_batch_exam_reports"},
            :with => "'batch_id='+ value",
            :before => "Element.show('loader1')",
            :success => "Element.hide('loader1')"
            )}"} %>
          <%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader1",
            :style =>"display:none") %>
      </div>
  </div>
<%end%>