<%if @batch.present?%>
  <div class="label-field-pair">
      <label for="batch_id">Term</label>
      <div class="text-input-bg margin-left-10">
          <%= select :cce_exam_category,:cce_exam_category_id,
            @cce_categories.map {|b| [b.name, b.id]},
            { :selected=>@cat_id.to_i,:include_blank=>"All  "},
            {:onChange => "#{remote_function(:url => {:action => "generate_student_wise_report"},
            :with => "'cat_id='+ value+'&batch_id='+#{@batch.id}+'&student_id='+#{@student.id}",
            :before => "Element.show('loader2')",
            :success => "Element.hide('loader2')"
            )}"} %>
          <%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader2",
            :style =>"display:none") %>
      </div>
  </div>
<%end%>