<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% if @batch.present?  %>
  <% unless @students.empty?  %>
    <div class="list_name">
        <%= t("students_in_batch") %>
        <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
    </div>
    <ul class="student_list">
        <% @students.each_with_index do |s,i| %>
          <li class="student_names">
              <a href="#" id="<%=s.id%>"  class="student-link <%= "active-link themed_text" if s.id == @student.id %> " > <%= s.name_with_suffix %></a>
          </li>
        <% end %>
    </ul>
  <% else %>
    <div class="list_name">
        <p class="flash-msg"><%= t("no_students_in_batch")  %></p>
    </div>
  <% end %>
<% end %>
<script type="text/javascript">
  j('.student-link').click(function () {
      set_active(this);
      draw_report(this)
  });

  function set_active(e) {
      j('.active-link').each(function () {
          this.removeClassName('active-link themed_text');
      });
      e.addClassName('active-link themed_text')
  }

  function draw_report(e) {
      Element.show('loader2')
      new Ajax.Request('/cce_reports/student_report',
              {asynchronous: true, evalScripts: true,
                  parameters: 'batch_id=<%= @batch.try(:id) %>' + '&student_id=' + e.id + '&check_term=<%= @check_term %>' + '&cat_id=<%= @cat_id %>' + '&fa_group=<%= @fa_group %>', onSuccess: function (request) {
                      Element.hide('loader2')
                  }
              })
  }
</script>
