<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% scholastic = @report.scholastic %>
<% cgpa=0.0 %>
<% count=0 %>
<div class="info">
    <div class="info-left">
        <div class="info1">
            <label class="field-label">Name</label>: <label class="infolbl themed_text"> <%= @student.full_name %></label>
        </div>
        <div class="info1">
            <label class="field-label"><%=t('course')%></label>: <label class="infolbl themed_text"> <%= @batch.course.full_name %></label>
        </div>
        <% if roll_number_enabled? %>
          <div class="info1">
              <label class="field-label"><%= t('roll_no') %></label>: <label class="infolbl themed_text"> <%= @student.roll_number_in_context %></label>
          </div>
        <% end %>
    </div>
    <div class="info-right">
        <div class="info1">
            <label class="field-label">Adm No.</label>: <label class="infolbl themed_text"> <%= @student.admission_no.present? ? @student.admission_no : "-" %></label>
        </div>
        <div class="info1">
            <label class="field-label">Batch</label>: <label class="infolbl themed_text"> <%= @batch.name %></label>
        </div>
    </div>
</div>
<div id="score-table">
    <div class="custom_header">
        Scholastic Areas
    </div>
    <table id="listing" width="100%">
        <% if @exam_groups.empty? %>
          <tr class="tr-head">
              <td>No reports to show </td></tr>
        <% else %>
          <tr class="tr-head">
              <td>Sl no</td>
              <td></td>
              <% @exam_groups.each do |eg| %>
                <td colspan="4"><%= eg.cce_exam_category.name %></td>
              <% end %>
              <% if @exam_groups.count==2 %>
                <td colspan="4">Overall</td>
              <% end %>
          </tr>
          <tr class="tr-head">
              <td></td>
              <td>Subjects</td>
              <% @exam_groups.each_with_index do |eg,i| %>

                <%if @check_term=="second_term"%>
                  <%i=1%>
                <%end%>

                <td><%= "FA#{2*i+1}" %></td>
                <td><%= "FA#{2*i+2}" %></td>
                <td><%= "SA#{i+1}" %></td>
                <td>Total</td>
              <% end %>
              <% if @exam_groups.count==2 %>
                <td>FA Total</td>
                <td>SA Total</td>
                <td>Overall</td>
                <td>Grade Point</td>
              <% end %>
          </tr>
          <%overall_list=[]%>
          <% @subjects.each_with_index do |s,i| %>
            <tr class="center tr-<%= cycle('odd', 'even') %>">
                <td><%= i+1 %></td>
                <td class="left-aligned"><%= s.name %>( <%=s.code%> )</td>
                <% sub=scholastic.find{|c| c.subject_id==s.id} %>
                <% @exam_groups.each_with_index do |eg,j|
                  se=sub.exams.find{|g| g.exam_group_id==eg.id} if sub %>
                  <% if se %>
                    <%if @check_term=="second_term"%>
                      <%j=1%>
                    <%end%>
                    <td><%= se.fa[se.fa_names["FA#{2*j+1}"]]["grade"] if se.fa_names["FA#{2*j+1}"] %></td>
                    <td><%= se.fa[se.fa_names["FA#{2*j+2}"]]["grade"] if se.fa_names["FA#{2*j+2}"] %></td>
                    <td><%= se.sa["grade"] %></td>
                    <td><%= se.overall %></td>
                  <% else %>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  <% end %>
                <% end %>
                <% if @exam_groups.count==2 %>
                  <% if sub %>
                    <td><%= sub.fa %></td>
                    <td><%= sub.sa %></td>
                    <td><%= sub.upscaled == 'true' ? "#{sub.overall}**" : sub.overall %></td>
                    <%overall_list << sub.grade_point%>
                    <td><%= sub.grade_point %></td>
                    <% if s.elective_group_id.nil? and !s.is_sixth_subject %>
                      <% cgpa += sub.grade_point.to_f %>
                      <% count += 1 %>
                    <%elsif !s.elective_group_id.nil? and !s.elective_group.is_sixth_subject%>
                      <% cgpa += sub.grade_point.to_f %>
                      <% count += 1 %>
                    <% end %>
                  <% else %>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  <% end %>
                <% end %>
            </tr>
          <% end %>
        <% end %>
    </table>
    <% if @exam_groups.count==2 %>
      <div class="custom_header full_width">
          <%if @batch.asl_subject.present?%>
            <span class="cgpa themed_text asl_block">Grade in Assessment of Speaking and Listening Skills in <%=@batch.asl_subject.name%> (ASL) : <%=  @report[:asl]%></span>
          <%end%>

          <span class="cgpa themed_text fleft">Cumulative Grade Point Average(CGPA)  :   <%="%.2f" % (cgpa.to_f/count.to_f) unless count==0 %></span>
      </div>
    <% end %>
</div>
<%if @check_term=="all"%>

  <% @co_hashi.keys.sort.each do |kind| %>
    <%unless @co_hashi[kind].blank?%>
      <div class="custom_header">
          <%= ObservationGroup::OBSERVATION_KINDS[kind] %>
      </div>
    <%end%>
    <% i = 0; @co_hashi[kind].each{|el| i+=1; el.sort_order ||= i} %>
    <% @co_hashi[kind].sort_by(&:sort_order).each do |ob_grp| %>
      <div id="score-table">
          <div class="custom_header">
              <%= @obs_groups.find{|o| o.id == ob_grp.observation_group_id}.try(:name) %>
          </div>
          <table id="listing" width="100%">
              <tr class="tr-head">
                  <td class="left-aligned observation_text">Observation</td>
                  <td class="left-aligned">Descriptive Indicators</td>
                  <td class="left-aligned">Grade</td>
              </tr>
              <% ob_grp.observations.sort_by(&:sort_order).each do |o| %>
                <tr class="tr-<%= cycle('odd', 'even') %>">
                    <td class="left-10"><%= o.observation_name %></td>
                    <td class="left-10"><%=o.remark%></td>
                    <td class="left-10"><%= o.grade %></td>
                </tr>
              <% end %>
          </table>
      </div>
    <% end %>
  <% end %>




<%end%>
<% if @exam_groups.count==2 %>
  <%cgp= to_grade_point(@eiop_eligibily_grade['grade'],@grading_levels)%>
  <div class="result">
      <div id="res_text">Result<span>:</span> </div>
      <div id="res_value"><%=overall_list.present? ? overall_list.select{|k| k.to_f < cgp.to_f}.count > 0 ? @eiop_text['eiop_text'] : @pass_text["pass_text"] : @eiop_text['eiop_text'] %></div>
  </div>
<%end%>


<% unless @exam_groups.empty? and @co_hashi.nil? %>
  <div id = "button">
      <%if permitted_to? :cce_full_exam_report,:cce_reports and @check_term=="all" %>
        <%= link_to "Detailed Report", {:controller => "cce_reports", :action => "cce_full_exam_report",:id=>@student.id_in_context,:batch_id=>@batch.id,:type=>@type, :report_format_type => "pdf"},:target => '_blank', :class=> 'user_button' %>
      <%end %>
      <%if @check_term=="all"%>
        <%= link_to "PDF Basic Report",{:action=>"student_report_pdf",:id=>@student.id_in_context,:batch_id=>@batch.id,:type=>@type,:check_term=>@check_term,:report_format_type => "pdf"},:target => '_blank', :class=> 'user_button' %>
      <%else%>
        <%= link_to "PDF Report",{:action=>"student_report_pdf",:id=>@student.id_in_context,:batch_id=>@batch.id,:type=>@type,:cat_id=>@cat_id,:check_term=>@check_term,:report_format_type => "pdf"},:target => '_blank', :class=> 'user_button' %>
      <%end%>
      <%= link_to "CSV Report",{:controller => 'csv_export', :action => 'generate_csv', :id => @student.id_in_context,:batch_id=>@batch.id,:cat_id=>@cat_id,:check_term=>@check_term,:type => @type, :csv_report_type => "student_wise_report" , :report_format_type => "csv"}, :class => 'user_button' %>
  </div>
<% end %>