<div class="form_container">
    <%  if  @students.empty? or @score_hash.empty?%>
      <div id="hider">
          <p class="flash-msg">No reports found for the search</p>
      </div>
    <% else %>
      <table cellspacing="0" cellpadding="0" border="0" id="enclosure" >
          <tr>
              <td id="firstTd"></td>
              <td rowspan="2">
                  <div id="divHeader" style="">
                      <table cellspacing="0" cellpadding="0" border="1" id="main_header_table">
                          <tr id="main_heading"> 
                              <% @subjects.each_with_index do |s,i| %>
                                <td colspan="<%=@type == 'm' ? 6 : 7%>">
                                    <div class="tableHeader th_<%=i%>"><%=s.name %></div>
                                </td>
                              <% end %>
                          </tr>
                          <tr id="sub_header">
                              <% @subjects.each do |s| %>
                                <td><div class="tableSubHeader">FA1</div></td>
                                <td><div class="tableSubHeader">FA2</div></td>
                                <td><div class="tableSubHeader">SA1</div></td>
                                <td><div class="tableSubHeader">FA3</div></td>
                                <td><div class="tableSubHeader">FA4</div></td>
                                <td><div class="tableSubHeader">SA2</div></td>
                                <%if @type == "w"%>
                                  <td><div class="tableSubHeader">Total</div></td>
                                <%end%>

                              <% end %>
                          </tr>
                          <tr id="sub_header">
                              <% i = 0 %>
                              <%if @type == "m"%>
                                <%@subjects.each do |subject|%>
                                  <% i = i + 1 %>
                                  <% claz = "tableSubHeader tsh_#{i}" %>
                                  <td><div class="<%=claz%>"><%=@score_hash['fa_marks'][subject.id]['FA1']['total_mark'] || "-"%></div></td>
                                  <td><div class="<%=claz%>"><%=@score_hash['fa_marks'][subject.id]['FA2']['total_mark'] || "-"%></div></td>
                                  <td><div class="<%=claz%>"><%=@score_hash['sa_marks'][subject.id]['SA1']['total_mark'] || "-"%></div></td>
                                  <td><div class="<%=claz%>"><%=@score_hash['fa_marks'][subject.id]['FA3']['total_mark'] || "-"%></div></td>
                                  <td><div class="<%=claz%>"><%=@score_hash['fa_marks'][subject.id]['FA4']['total_mark'] || "-"%></div></td>
                                  <td><div class="<%=claz%>"><%=@score_hash['sa_marks'][subject.id]['SA2']['total_mark'] || "-"%></div></td>
                                <%end%>
                              <%else%>
                                <%@subjects.each do |subject|%>
                                  <% i = i + 1 %>
                                  <% claz = "tableSubHeader tsh_#{i}" %>
                                  <td><div class="<%=claz%>"><%=@score_hash['fa_marks'][subject.id]['FA1']['weightage'] || "-"%></div></td>
                                  <td><div class="<%=claz%>"><%=@score_hash['fa_marks'][subject.id]['FA2']['weightage'] || "-"%></div></td>
                                  <td><div class="<%=claz%>"><%=@score_hash['sa_marks'][subject.id]['SA1']['weightage'] || "-"%></div></td>
                                  <td><div class="<%=claz%>"><%=@score_hash['fa_marks'][subject.id]['FA3']['weightage'] || "-"%></div></td>
                                  <td><div class="<%=claz%>"><%=@score_hash['fa_marks'][subject.id]['FA4']['weightage'] || "-"%></div></td>
                                  <td><div class="<%=claz%>"><%=@score_hash['sa_marks'][subject.id]['SA2']['weightage'] || "-"%></div></td>
                                  <%fa_total = @score_hash['fa_marks'][subject.id]['sum_total']%>
                                  <%sa_total = @score_hash['sa_marks'][subject.id]['sum_total']%>
                                  <td><div class="<%=claz%>"><%=(fa_total+sa_total == 0 ? "-" : (fa_total+sa_total))%></div></td>
                                <%end%>
                              <%end%>
                          </tr>
                      </table>
                  </div>
              </td>
          </tr>
          <tr>
              <td id="firstSubTd">Student</td>
          </tr>
          <tr>
              <td valign="top">
                  <div id="firstcol">
                      <table width="250px" cellspacing="0" cellpadding="0" border="1" id="student_list_table" >
                          <%@students.each do |student|%>
                            <% if @config == "admission_no" %>
                              <% student_text = "#{student.full_name} (#{student.admission_no})" %>
                            <%elsif @config == "roll_number" %>
                              <% if student.roll_number.present? %>
                                <% student_text = "#{student.full_name} (#{student.roll_number})"%>
                              <%else%>
                                <% student_text = "#{student.full_name} (-)" %>
                              <%end%>
                            <%else%>
                              <% if Configuration.enabled_roll_number? %>
                                <% if student.roll_number.present? %>
                                  <% student_text = "#{student.full_name} (#{student.roll_number})"%>
                                <%else%>
                                  <% student_text = "#{student.full_name} (-)" %>
                                <%end%>
                              <%else%>
                                <% student_text = "#{student.full_name} (#{student.admission_no})" %>
                              <%end%>
                            <% end %>
                            <tr class="<%=cycle('odd', 'even')%>">
                                <td class="tableFirstCol" id="st_<%=student.id%>"><div class="student_names"><%= student_text %> </div></td>
                            </tr>
                          <%end%>
                      </table>
                  </div>
              </td>
              <%reset_cycle%>
              <td valign="top">
                  <div id="table_div" class="scrollbar" onscroll="fnScroll()" >
                      <table cellspacing="0" cellpadding="0" border="1" id="scores_table">

                          <% @students.each do |s| %>
                            <tr class="<%=cycle('odd', 'even')%> st_<%=s.id%>" id=<%= i ==0 ? "firstTr" : "" %>>
                                <%if @type == "m"%>
                                  <%@subjects.each do |subject|%>
                                    <% unless @score_hash['fa_marks'][subject.id][s.id]['FA1'].present?%>
                                      <td class="col-3"><div class="scores">-(-)</div></td>
                                    <% else %>
                                      <td class="col-3"><div class="scores"><%= @score_hash['fa_marks'][subject.id][s.id]['FA1']['mark'] %>(<%= @score_hash['fa_marks'][subject.id][s.id]['FA1']['grade'] %>)</div></td>
                                    <% end %>
                                    <% unless @score_hash['fa_marks'][subject.id][s.id]['FA2'].present?%>
                                      <td class="col-3"><div class="scores">-(-)</div></td>
                                    <% else %>
                                      <td class="col-3"><div class="scores"><%= @score_hash['fa_marks'][subject.id][s.id]['FA2']['mark'] %>(<%= @score_hash['fa_marks'][subject.id][s.id]['FA2']['grade'] %>)</div></td>
                                    <% end %>
                                    <% unless @score_hash['sa_marks'][subject.id][s.id]['SA1'].present?%>
                                      <td class="col-3"><div class="scores">-(-)</div></td>
                                    <% else %>
                                      <td class="col-3"><div class="scores"><%= @score_hash['sa_marks'][subject.id][s.id]['SA1']['mark'] %>(<%= @score_hash['sa_marks'][subject.id][s.id]['SA1']['grade'] %>)</div></td>
                                    <% end %>
                                    <% unless @score_hash['fa_marks'][subject.id][s.id]['FA3'].present?%>
                                      <td class="col-3"><div class="scores">-(-)</div></td>
                                    <% else %>
                                      <td class="col-3"><div class="scores"><%= @score_hash['fa_marks'][subject.id][s.id]['FA3']['mark'] %>(<%= @score_hash['fa_marks'][subject.id][s.id]['FA3']['grade'] %>)</div></td>
                                    <% end %>
                                    <% unless @score_hash['fa_marks'][subject.id][s.id]['FA4'].present?%>
                                      <td class="col-3"><div class="scores">-(-)</div></td>
                                    <% else %>
                                      <td class="col-3"><div class="scores"><%= @score_hash['fa_marks'][subject.id][s.id]['FA4']['mark'] %>(<%= @score_hash['fa_marks'][subject.id][s.id]['FA4']['grade'] %>)</div></td>
                                    <% end %>
                                    <% unless @score_hash['sa_marks'][subject.id][s.id]['SA2'].present?%>
                                      <td class="col-3"><div class="scores">-(-)</div></td>
                                    <% else %>
                                      <td class="col-3"><div class="scores"><%= @score_hash['sa_marks'][subject.id][s.id]['SA2']['mark'] %>(<%= @score_hash['sa_marks'][subject.id][s.id]['SA2']['grade'] %>)</div></td>
                                    <% end %>
                                  <% end %>

                                <%else%>
                                  <%@subjects.each do |subject|%>
                                    <% unless @score_hash['fa_marks'][subject.id][s.id]['FA1'].present?%>
                                      <td class="col-3"><div class="scores">-(-)</td>
                                    <% else %>
                                      <td class="col-3"><div class="scores"><%= @score_hash['fa_marks'][subject.id][s.id]['FA1']['weighted_mark'] %>(<%= @score_hash['fa_marks'][subject.id][s.id]['FA1']['grade'] %>)</div></td>
                                    <% end %>
                                    <% unless @score_hash['fa_marks'][subject.id][s.id]['FA2'].present?%>
                                      <td class="col-3"><div class="scores">-(-)</div></td>
                                    <% else %>
                                      <td class="col-3"><div class="scores"><%= @score_hash['fa_marks'][subject.id][s.id]['FA2']['weighted_mark'] %>(<%= @score_hash['fa_marks'][subject.id][s.id]['FA2']['grade'] %>)</div></td>
                                    <% end %>
                                    <% unless @score_hash['sa_marks'][subject.id][s.id]['SA1'].present?%>
                                      <td class="col-3"><div class="scores">-(-)</div></td>
                                    <% else %>
                                      <td class="col-3"><div class="scores"><%= @score_hash['sa_marks'][subject.id][s.id]['SA1']['weighted_mark'] %>(<%= @score_hash['sa_marks'][subject.id][s.id]['SA1']['grade'] %>)</div></td>
                                    <% end %>
                                    <% unless @score_hash['fa_marks'][subject.id][s.id]['FA3'].present?%>
                                      <td class="col-3"><div class="scores">-(-)</div></td>
                                    <% else %>
                                      <td class="col-3"><div class="scores"><%= @score_hash['fa_marks'][subject.id][s.id]['FA3']['weighted_mark'] %>(<%= @score_hash['fa_marks'][subject.id][s.id]['FA3']['grade'] %>)</div></td>
                                    <% end %>
                                    <% unless @score_hash['fa_marks'][subject.id][s.id]['FA4'].present?%>
                                      <td class="col-3"><div class="scores">-(-)</div></td>
                                    <% else %>
                                      <td class="col-3"><div class="scores"><%= @score_hash['fa_marks'][subject.id][s.id]['FA4']['weighted_mark'] %>(<%= @score_hash['fa_marks'][subject.id][s.id]['FA4']['grade'] %>)</div></td>
                                    <% end %>
                                    <% unless @score_hash['sa_marks'][subject.id][s.id]['SA2'].present?%>
                                      <td class="col-3"><div class="scores">-(-)</div></td>
                                    <% else %>
                                      <td class="col-3"><div class="scores"><%= @score_hash['sa_marks'][subject.id][s.id]['SA2']['weighted_mark'] %>(<%= @score_hash['sa_marks'][subject.id][s.id]['SA2']['grade'] %>)</div></td>
                                    <% end %>
                                    <%if @score_hash['fa_marks'][subject.id].present? and @score_hash['fa_marks'][subject.id][s.id].present? and @score_hash['fa_marks'][subject.id][s.id]['sum_total'].present?%>
                                      <%fa_total = @score_hash['fa_marks'][subject.id][s.id]['sum_total']%>
                                    <%else%>
                                      <%fa_total = 0%>
                                    <%end%>
                                    <%if @score_hash['sa_marks'][subject.id].present? and @score_hash['sa_marks'][subject.id][s.id].present? and @score_hash['sa_marks'][subject.id][s.id]['sum_total'].present?%>
                                      <%sa_total = @score_hash['sa_marks'][subject.id][s.id]['sum_total']%>
                                    <%else%>
                                      <%sa_total = 0%>
                                    <%end%>
                                    <td class="col-3"><div class="scores"><%=(fa_total+sa_total == 0 ? "-" : (fa_total+sa_total))%></div></td>
                                  <% end %>
                                <%end%>
                            </tr>
                          <%end%>
                      </table>
                  </div>
              </td>
          </tr>
      </table>
    <% end %>
    <%  unless @students.empty? or @score_hash.empty?%>
      <div class="button">
          <div class="pdf-button">
              <%= link_to "► CSV Export", {:controller => "cce_reports", :action => "subject_wise_generated_report_csv",:subject_report=>{:batch_id=>params[:subject_report][:batch_id],:subject_id=>params[:subject_report][:subject_id],:student_category_id=>params[:subject_report][:student_category_id],:gender=>params[:subject_report][:gender],:report_type=>params[:subject_report][:report_type]}},:target => '_blank' %>
          </div>
          <%unless params[:subject_report][:subject_id] == "all"%>
            <div class="pdf-button">
                <%= link_to "► PDF Report", {:controller => "cce_reports", :action => "subject_wise_generated_report_pdf",:subject_report=>{:batch_id=>params[:subject_report][:batch_id],:subject_id=>params[:subject_report][:subject_id],:student_category_id=>params[:subject_report][:student_category_id],:gender=>params[:subject_report][:gender],:report_type=>params[:subject_report][:report_type]}},:target => '_blank' %>
            </div>
          <%end%>
      </div>
    <% end %>
</div>
<div class="overlay">
    <div id="loading_big"><%= image_tag("filler_ring_loader.gif", :align => "absmiddle", :border => 0, :id => "loader1") %>
        <span><%= "#{t('loading')}.." %></span>
    </div>
</div>
<script type="text/javascript">
    j(document).ready(function () {
    fnAdjustTable();
    });
</script>
