<div id="content-header">
  <%= show_header_icon %>
  <h1>CCE Reports</h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'>ASL Report</div>
  <div id="inner-tab-menu">
    <ul>
    </ul>
  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs %>
  </div>
  <div id="hider">
    <% unless flash[:notice].nil? %>
      <p id="flash-msg"class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
  </div>
  <% remote_form_for :assessment ,:url=>{:action=>'generate_asl_report'},:loading => "$('loading').show();", :loaded => "$('loading').hide();" do |f| %>
    <div class="label-field-pair1">
      <div class="label-field-pair">
        <label for="batch_id">Class</label>
        <div class="text-input-bg margin-left-10">
          <%= select :assessment, :course_id,
            @courses.map {|c| [c.full_name, c.id]},
            {:prompt => "Select a class"},
            {:onChange => "#{remote_function(:url => {:action => "list_batches",:type=>"asl"},
            :with => "'course_id='+ value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')"
            )}"} %> <%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader",
            :style =>"display: none;" ) %>
        </div>
      </div>
      <div id ="batch_select">
        <div class="label-field-pair2">
          <label for="batch_id">Batch</label>
          <div  class="text-input-bg2" id="exam-group-select">
            <%= f.select :batch_id, @batches.map{|exam| [exam.name,exam.id]},:prompt=> "Select a batch" %>
          </div>
        </div>
      </div>
      <div class="label-field-pair1">
        <div id="exam_group_select">
          <div class="label-field-pair2">
            <label for="exam_category_id">ASL Group</label>
            <div  class="text-input-bg2" id="exam-group-select">
              <%= f.select :student_group_id,@asl_groups.map {|c| [c.name, c.id]}, { :prompt => "Select an ASL group" } %>
            </div>
          </div>
        </div>
      </div>
      <div class="label-field-pair1">

        <div class="submit_btn">
          <%= submit_tag "", :value => "► #{t('view')}", :class => "submit-button", :disable_with => "► #{t('please_wait')}" %>
          <%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loading",
            :style =>"display: none;" ) %>
        </div>
      </div>
    <% end %>
    <div class="extender"></div>
  </div>
  <div id="report_table"></div>
</div>