<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="content-header">
    <%= show_header_icon %>
    <h1>CCE Reports</h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'>Batch Wise Student Report</div>
    <%if permitted_to? :new_batch_wise_student_report,@current_user,:context=>:cce_reports%>
      <div id="inner-tab-menu">
          <ul>
              <li class='themed_bg themed-dark-hover-background'><%= link_to t('new_text'), :action=>'new_batch_wise_student_report' %></li>
          </ul>
      </div>
    <%end%>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs  %>
    </div>
    <div id="flash-box">
        <% unless flash[:notice].nil? %>
          <p class="flash-msg"> <%= flash[:notice] %> </p>
        <% end %>
    </div>
    <% unless @reports.empty? %>
      <div class="box">
          <table id ="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
              <tr class="tr-head">
                  <td class="name">Course Name</td>
                  <td class="created_at">Created at</td>
                  <td class="status">Status</td>
                  <!-- <td class="format">Format</td>-->
                  <td class="options">Options</td>
              </tr>
              <% @reports.each do |report| %>
                <tr class="tr-<%= cycle('odd', 'even') %>">
                    <td class="name">
                        <%= report.course.course_name %>
                    </td>
                    <td class="created_at"><%= format_date(change_time_to_local_time(report.created_at),:format=>:long) %></td>
                    <td class="status">
                        <%= report.status.capitalize %>
                    </td>
                    <!--<td class="format">
    <%#= report.report_file_name.present? ? report.report_file_name[-3,3].upcase : "NA" %>
                    </td>-->
                    <td class="options">
                        <%= link_to "Download File",report.report.url(:original,false) if report.report.present? %>
                    </td>
                </tr>
              <% end %>
          </table>
      </div>
    <% else %>
      <div id="flash-box">
          <p class="flash-msg">No reports present</p>
      </div>
    <% end %>

</div>
