<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<% content_for :head do  %>
  <%= stylesheet_link_tag "exam/report_center"  %>
<% end %>
<div id="content-header">
  <%= show_header_icon %>
  <h1>CCE Reports</h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'>CBSE Report</div>


</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    <% if permitted_to? :cbse_scholastic_report, :cce_reports %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "CBSE Scholastic report" ,:action=>'cbse_scholastic_report' %></div>
        <div class="link-descr">Generate scholastic report in CBSE format</div>
      </div>
    <% end %>
    <% if permitted_to? :cbse_co_scholastic_report, :cce_reports %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "CBSE Co-Scholastic report" ,:action=>'cbse_co_scholastic_report' %></div>
        <div class="link-descr">Generate co-scholastic report in CBSE format</div>
      </div>
    <% end %>

    <% if permitted_to? :asl_report, :cce_reports %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "ASL report" ,:action=>'asl_report' %></div>
        <div class="link-descr">Generate ASL report</div>
      </div>
    <% end %>
  </div>

</div>
