<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1>CCE Reports</h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'>Generate CCE Report</div>

  <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "View Scheduled Jobs", scheduled_task_path(:job_object=>"CceReportGenerator", :job_type=>"1") %></li>
    </ul>
  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% unless flash[:error].blank? %>
    <div class="errorExplanation" id="errorExplanation">
      <p>There where some problems</p>
      <ul>
        <% flash[:error].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="page_informer">
    Please note that if you've already upscaled student grades, generating the CCE Report will reset all upscaled grades. Upscaling will have to be done again.
  </div>
  <div class="box">
    <% form_for :course, :url=>{:action=>:create_reports} do |f|  %>
      <div class="label-field-pair">
        <label for="student_course">Class :
        </label>
        <div class="text-input-bg">
          <%= select :course, :id,
            @courses.map {|b| [b.course_name + " " + b.section_name, b.id]},
            {:prompt => "Select a class"},
            {:onChange => "#{remote_function(:url => {:action=>"get_batches"},:method=>:get,
            :with => "'course_id='+ value+ '&type=1'",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')",
            :update => "batch_type"
            )}"} %>
        </div>
        <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
      </div>
      <div id="enclosure">
        <div id="batch_type"></div>
      </div>
    <% end %>
    <div class="extender"></div>
  </div>
</div>
