<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<% content_for :head do  %>
  <%= stylesheet_link_tag "exam/report_center"  %>
<% end %>
<div id="content-header">
  <%= show_header_icon %>
  <h1>CCE Reports</h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'>Home</div>


</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    <% if permitted_to? :create_reports,@current_user,:context=>:cce_reports %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "Generate Reports" ,:action=>'create_reports' %></div>
        <div class="link-descr">Generate CCE Report from entered scores.</div>
      </div>
    <% end %>
    <% if permitted_to? :student_wise_report,@current_user,:context=>:cce_reports %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "Student-wise Report" ,:action=>'student_wise_report' %></div>
        <div class="link-descr">View student-wise report</div>
      </div>
    <% end %>
    <% if permitted_to? :subject_wise_report,@current_user,:context=>:cce_reports %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "Subject-wise Report" ,:action=>'subject_wise_report' %></div>
        <div class="link-descr">View subject-wise report</div>
      </div>
    <% end %>
    <% if permitted_to? :consolidated_report,@current_user,:context=>:cce_reports %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "Consolidated Report" ,:action=>'consolidated_report' %></div>
        <div class="link-descr">View consolidated report</div>
      </div>
    <% end %>
    <% if permitted_to? :detailed_fa_report,@current_user,:context=>:cce_reports %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "Detailed FA Report" ,:action=>'detailed_fa_report' %></div>
        <div class="link-descr">View detailed FA report</div>
      </div>
    <% end %>
    <%if permitted_to? :cbse_report,@current_user,:context=>:cce_reports%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "CBSE Report" ,:action=>'cbse_report' %></div>
        <div class="link-descr">View report in CBSE format</div>
      </div>
    <%end%>
    <%if permitted_to? :batch_student_report,@current_user,:context=>:cce_reports%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "Batch-wise Student Report" ,:action=>'batch_student_report' %></div>
        <div class="link-descr">Generate batch-wise report of students</div>
      </div>
    <%end%>
    <%if permitted_to? :upscale_report,@current_user,:context=>:cce_reports%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "Upscale Report" ,:action=>'upscale_report' %></div>
        <div class="link-descr">View details of upscaling</div>
      </div>
    <%end%>
    <%if permitted_to? :previous_batch_exam_reports,@current_user,:context=>:cce_reports%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "Previous Batch Exam Report" ,:action=>'previous_batch_exam_reports' %></div>
        <div class="link-descr">View previous batch exam report</div>
      </div>
    <%end%>
  </div>

</div>
