<div id="content-header">
  <%= show_header_icon %>
  <h1>CCE Reports</h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'>Batch-Wise Student Report</div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs %>
  </div>
  <div id="hider">
    <% unless flash[:notice].nil? %>
      <p id="flash-msg"class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
  </div>
  <% form_for :cce_reports ,:url=>{:action=>'generate_batch_student_report'} do |f| %>
    <div class="label-field-pair1">
      <div class="label-field-pair">
        <label for="batch_id">Class</label>
        <div class="text-input-bg margin-left-10">
          <%= select :course, :course_id,
            @courses.map {|c| [c.full_name, c.id]},
            {:prompt => "Select a class"},
            {:onChange => "#{remote_function(:url => {:action => "list_batches",:type=>'batch_student_report'},
            :with => "'course_id='+ value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')"
            )}"} %> <%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader",
            :style =>"display: none;" ) %>
        </div>
      </div>
      <div id ="batch_select">
      </div>
    </div>
    <div class="extender"></div>
  <% end %>
</div>