<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<script type="text/javascript" src="/javascripts/charts/excanvas.min.js"></script>
<script type="text/javascript" src="/javascripts/charts/jquery.flot.min.js"></script>
<script type="text/javascript" src="/javascripts/charts/jquery.flot.orderBars.min.js"></script>
<div id="content-header">
    <%= show_header_icon %>
    <h1>CCE Reports</h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'>Previous Batch Exam Report</div>
    <div id="inner-tab-menu">
        <ul>
        </ul>
    </div>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs %>
    </div>
    <div id="hider">
        <% unless flash[:notice].nil? %>
          <p id="flash-msg"class="flash-msg"> <%= flash[:notice] %> </p>
        <% end %>
    </div>
    <div class="label-field-pair">
        <label for="batch_id">Class</label>
        <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader",
          :style =>"display: none; margin-top:10px;margin-left: -21px;" ) %>
        <div class="text-input-bg margin-left-10">
            <%= select :subject_report, :course_id,
              @courses.map {|c| [c.full_name, c.id]},
              {:prompt => "#{t('select_a_class')}"},
              {:onChange => "#{remote_function(:url => {:action => "list_previous_batches"},
              :with => "'course_id='+ value",
              :before => "Element.show('loader')",
              :success => "Element.hide('loader')"
              )}"} %>
        </div>
    </div>
    <div id ="batch_select"></div>
    <div id="list_cce_category"></div>
    <div id="fa_groups_list"></div>
    <div class="content_student_report">
        <div id="student_list">
            <%= render  :partial=>"graduated_student_list" %>
        </div>
        <div id="report"></div>
    </div>
</div>