
  <% help_wizard('Update', 'HR has been updated recently. There are few important things you should know.') do %>
      <p>If you are looking to generate employee payslips or manage employee leaves, please carefully go through the following before proceeding.</p>

      <% help_section :controller => :employee, :action=> :payroll_and_payslips do %>
      <h3>Payroll and Payslip Management</h3>
      <p>We have introduced payroll groups to group employees with similar payroll structure, pay frequency (monthly, weekly, bi-weekly and daily), Loss of Pay criteria. This will help you organise employees of your organisation based on their payroll.</p>
      <p>Now all your payroll categories and employees are linked to payroll group and all payslips related activities will happen inside a payroll group.</p>
      <p>You can generate payslips and view them here <%= link_to 'Payroll and Payslip Management', {:controller => :employee, :action => :payroll_and_payslips}, {:target=>:_blank} %></p>
      <% end %>

      <% help_section :controller => :employee, :action => :employee_attendance do %>
      <h3>Employee Leave Management</h3>
      <p>Now employees can apply for leave even after exhausting their leave credits - additional leaves. If required, these additional leaves can be charged by marking them as Loss of pay. This can be enabled for each leave types.</p>
      <p>You can now perform a Leave Reset and update the leave balance of your employees on any particular date. <%= link_to 'Employee Leave Management', {:controller=>:employee, :action=>:employee_attendance}, {:target=>:_blank} %></p>
      <% end %>
  <% end %>