.fees-th {
    background-color: #E7EEFF;
    border-bottom: 1px solid #C4D2FE;
    border-top: 1px solid #C4D2FE;
    font-size: 0.9em;
    height: 1.5em;
    font-variant:small-caps;
    font-weight: bold;
    padding: 0.5em 0 0 0;
    width:600px;
}
.fees-tr {
    background-color: #E7EEFF;
    border-bottom: 1px solid #C4D2FE;
    font-size:0.9em;
    height: 1.5em;
    padding: 0.5em 0 0 0;
    width:600px;
}
.fees-table-particulars {
    float:left;
    padding: 0 0 0 60px;
    width: 180px;
}
.fees-table-amount {
    float:left;
    width: 80px;
    padding: 0 0 0 140px;
    text-align:right;
}
.align_center{
    margin: 0px auto;
    min-width: 110px;
    width: 110px;
    display: block;
}
.user_button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 10px auto;
    text-decoration: none;
/*    float: left;
    margin-left: 400px;*/
    margin-top: 30px;
    display: block;    
    white-space: nowrap;
}
.user_button:hover{
    background:  #373B3F;
}


.name{
    float: left;
    width: 317px;
    font-size: 13px;
}

.val {
    width: 434px;
    font-weight: bold;
     font-size: 13px;
     float:left
}

.val span{
    margin-right:12px;
    color: black;
}

#listing{
    margin-top: 10px;

}


table#listing td.col-8 {
    padding: 5px 5px 5px 10px;
    width: 10%;
    text-align: right;
}
table#listing tr.tr-head{
    color: #000000 !important;
}
.info{
    padding-top:20px;
    float:left;
    padding-bottom: 20px;
}
.set_align_div{
    float: left;
    width: 100%;
}