#search_box_bg{padding-left:50px;margin-top:10px; overflow: hidden; height:50px;padding-top:10px; }

#search_box_bg label{padding-top:0px;color:#555;font-size:16px; float:left; width:80px; font-weight: bold;}
#search_textbox input{
    background : #eee;
    float:left;
    border : 1px solid #c6c6c6;
    margin : -5px 0 0 10px;
    width : 180px;
    height:22px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 4px 0 0 5px;
}

#information{height:auto;width:100%;margin:0px auto;padding-left:0px; margin-top:30px;}

#batch-details{
    width: 330px;
    float: left;
}
.margin-set{
    margin-top: -10px!important;
}
.set_border {
    width: 2px;
    float: left;
    height: 45px;
    border-right: 1px solid #999;
    margin: -10px 52px;
}
#submit-button .user_button {
    margin-top: -6px!important;
}
table#listing td.col-4 {
    width: 18%;
    padding: 5px;
    padding-left: 10px;
}


.collection-wise{
    margin-left: 10px;
    float: left;

}
.pay-all-fees{
    margin-right: 10px;
    float: right;

}
.user_button{
    margin-left: 27px!important;
    height: 28px!important;
}
table#listing td {
    font-weight: normal;
}

table#listing tr td.sl-col{
    width: 7%;
    padding: 5px;
    padding-left: 10px;
}
table#listing tr:not(.tr-head):not(.tr-blank){
    height:37px;
}