.section {
    margin-top: 0px !important;
}

#content_top {

    margin-top: -10px;
}

.sl-td {
    width: 7%;
    word-break: normal;
}

.date-td {
    width: 14%;
    min-width: 14%;
    max-width: 14%;
    /*word-break: break-all;*/
}

.rec-td {
    width: 16%;
    min-width: 16%;
    max-width: 16%;
    word-break: normal;
}

.mode-td {
    width: 10%;
    min-width: 10%;
    max-width: 10%;
    word-break: normal;
}

.note-td {
    width: 25%;
    max-width: 25%;
    min-width: 25%;
    word-break: break-word;
}

.amount-td {
    /*max-width: 12%;*/
    min-width: 15%;
    /*word-break: break-word;*/
}

#page-yield {
    width: 950px;
    margin: 0 auto;
    float: left;
    overflow: hidden;
}

.info1 {
    margin-top: -10px;
    width: 950px;
    float: left;
}

.info-left {
    float: left;
}

.info-right {
    float: right;
}

.tr-blank {
    height: 27px;
}

.hor_line {
    width: 950px;
    background: #333333;
    height: 1px;
    margin-top: -10px;
    float: left;
}

h2.heading {
    text-align: center;
    margin: 5px;
}

#main_info h2 {
    margin-bottom: 2px;
    font-weight: normal;

}

#main_info h4 {
    color: #555555;
    margin-top: 18px;
    font-weight: bold;
}

.odd {
    height: auto;
    background: #EEEEEE;

}

.even {

    height: auto;
    background: #fff;

}

tr.even {
    border: 1px solid #f4f4f4;
}

tr.odd {
    border: 1px solid #ADACAB;
}

.even td {

    padding: 12px 3px 12px 12px;
    border: 1px solid #ADACAB;
    border-left: 0px solid #fff;
    border-top: 0px solid #fff;

}

.odd td {
    padding: 12px 3px 12px 12px;
    border: 1px solid #ADACAB;
    border-left: 0px solid #fff;
    border-top: 0px solid #fff;

}

.table-header td {
    padding: 12px 15px 12px 12px;
    border-top: 1px solid #ADACAB;
    border-right: 1px solid #ADACAB;
    border-left: 1px solid #ADACAB;
    color: #97080e;
    background: #EEEEEE;
}

#pdf-info {
    float: left;
    width: 950px;
}

table#pdf-table {
    border: 1px solid #ADACAB;
    border-collapse: collapse;
}

table#pdf-table tr {
    /*border-top: 1px solid #ADACAB;*/
}

/*.header-content{
    color: #97080e;
    font-weight: bold;
    font-size: 25px;
    float: left;
    width: 800px;
    height: 110px;
    text-align: center;
}*/

.header-content p {
    margin-top: 3px;
    margin-bottom: 2px;
}

.notes {
    float: right;
    width: 750px;
    font-size: 15px;
}

.note {
    float: left;
    width: 40px;
    font-size: 15px;
    height: 60px;
}

.note_text {
    float: left;
    margin-bottom: 7px;
}


.right_border {
    border-right: 1px solid #adacab !important;
}
.left_border {
    border-left: 1px solid #adacab !important;
}
.no_border {
    border: 0px !important;
}
.no_top_border{
    border-top: 0px !important;
}
.no_bottom_border{
    border-bottom: 0px !important;
}
.even td, .odd td{
    border: 1px solid #adacab;
}

tr.page-break td {
    height: 240px;
    border: 1px solid #fff;
    border-top: 1px solid #ADACAB !important;
    border-bottom: 1px solid #ADACAB !important;
}

.page {
    width: 950px;
    margin: 0 auto;
    overflow: hidden;
}

.col-a {
    width: 45%;
    float: left;
}

.col-b {
    float: right;
}

.page {
    width: 950px;
    margin: 0 auto;
    page-break-after: auto;
    page-break-inside: avoid;
    overflow: hidden;
}

.align_right {
    text-align: right;
}

.collection-td {
    word-break: break-word;
    width: 30%;
    min-width: 15%;
    max-width : 30%;
}

.page-break {
    margin-top: 10px !important;
}

.align_center {
    text-align: center;
}

.total {
    width: 36.9%;
}
.amount-td-2{
    min-width: 102px !important;
    max-width: 102px !important;
}
.tax-amount-td-2{
    min-width: 85px !important;
    min-width: 85px !important;
}
.collection-td-2{
    min-width: 200px !important;
    max-width: 350px !important;
}
