/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 Sep, 2017, 11:58:38 AM
    Author     : foradian
*/

.description_box{
    font-size: 15px;
    font-weight: normal;
    width: 100%;
    min-height: 185px;
    border-bottom: 1px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    margin-bottom: 25px;
}
.simple_text{
    font-size: 0.85em;
    font-weight: normal;
}
.title_text{
     font-size: 0.85em;
    font-weight: normal;
}
.value_text{
     font-size: 0.85em;
    font-weight: bold;
}
.value_text1{
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
}
.route_details1{
    height: auto;
    margin: 45px 20px 20px 0px;
    vertical-align: top;
    float: left;
    width: 260px;
}
.route_details2{
   height: auto;  
    margin: 45px 20px 20px 20px;
    vertical-align: top;
    float: left;
    width: 220px;
}
.route_details3{
    height: auto;
    margin: 45px 30px 20px 20px;
    vertical-align: top;
    float: left;
    max-width: 200px;
}
.route_details4{
    height: auto;
    margin: 46px 70px 20px 20px;
    vertical-align: top;
    float: right;
    max-width: 180px;
}
.search_button_text{
    font-size: 0.85em;
    font-weight: normal;    
    vertical-align: top;
    float: left;
    width: 155px;
}
.radio_button{
    font-size: 0.85em;
    font-weight: bold;
    vertical-align: top;
    float: left;
    width: auto;
    max-width: 300px;
  
}
.passenger_select_box{
    width: auto;
    min-height: 40px;
}
.main_select_box{
   width: 100%;
    height: auto;
    min-height: 110px;
    float: left;
}
.class_batch_or_department_select_box{
    background-color: #f2f2f2;
    border: 1px;
    border-style: solid;
    border-color: #ccc;
    width: auto;
    height: auto;
    min-height: 75px;
    float: left;
    min-width: 99.8%;
}
.transport_status{
    width: 99.8%;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    border-bottom: 0px;
    border-top: 0px;
    min-height: 35px;
    float: left;
}
.transport_heading{
 width: auto;
    font-weight: bold;
    vertical-align: top;
    float: left;
    margin: 20px 11px 20px 45px;
    min-width: 200px;
    font-size: 15px;
}
.student_heading_name{
    font-size: 15px;
    font-weight: bold;
    width: auto;
    margin: 20px 10px 20px 60px;
    vertical-align: top;
    float: left;
    cursor: pointer;
    min-width: 180px;
}
.student_heading_number{
    font-size: 15px;
    font-weight: bold;
    width: auto;
    margin: 20px 10px 20px 20px;
    vertical-align: top;
    float: left;
    cursor: pointer;
    min-width: 135px;
}
.student_fare_heading{
   font-size: 15px;
    font-weight: bold;
    margin: 20px 100px 20px 0px;
    width: auto;
    vertical-align: top;
    float: right;
}
.students_list_scroll_box{
    border: 1px;
    border-style: solid;
    border-color: #cccccc;
    max-height: 550px;
    overflow-y: overlay;
    overflow-x:hidden;
    margin-bottom: 20px;
  
}
.class_select_box{
    margin: 20px 0px 20px 20px;
    height: auto;
    width: auto;
    min-width: 270px;
    font-size: 0.85em;
    font-weight: normal;
    vertical-align: top;
    float: left;
}
.batch_select_box{
    height: auto;
    width: auto;
    margin: 20px 0px 20px 5px;
    font-size: 0.85em;
    font-weight: normal;
    vertical-align: top;
    float: left;
}
#course_input{
    margin-top: 5px;
    width: 250px;
    background-color: white;
    min-height: 25px;
     color :black;
}
#batch_input{
    margin-top: 5px;
    width: 275px;
    min-height: 25px;
    background-color: white;
    color : black;
}
.department_select_box{
   margin: 20px 0px 20px 20px;
    min-height:48px;
    min-width:300px;
    font-size: 0.85em;
    font-weight: normal;
    vertical-align: top;
    float: left;
    height:auto;
    width: auto;

}
#department_input{
    margin-top: 5px;
    width: 250px;
    min-height: 25px;
    background-color: white;
}
.destination{
   margin: 20px 0px 15px 66px;
    min-height: 20px;
    height: auto;
    width: auto;
    min-width: 155px;
    font-size: 0.85em;
    font-weight: normal;
    vertical-align: top;
    float: left;
}
.color_green{
    color:#008800;
    font-weight: bold;
   text-align: center;
}
.fare{
    min-height: 20px;
    height: auto;
    width: auto;
    margin: 20px 18px 10px 85px;
    font-size: 0.85em;
    font-weight: normal;
    vertical-align: top;
    float: left;
}
.fare_not_assigned{
   min-height: 20px;
    height: auto;
    width: auto;
    margin: 20px 18px 10px 63px;
    font-size: 0.85em;
    font-weight: normal;
    vertical-align: top;
    float: left;
    color: #9c9fa3;
}
.assigned_fare{
   min-height: 20px;
    height: auto;
    width: auto;
    margin: 20px 18px 10px 63px;
    font-size: 0.85em;
    font-weight: normal;
    vertical-align: top;
    float: left;
}

.auto_update{
 margin: 20px 60px 20px 60px;
    min-height: 20px;
    font-size: 0.85em;
    font-weight: normal;
    vertical-align: top;
    float: right;
}
#destination_input{
   margin-left: 20px;
    height: auto;
    width: auto;
    width: 230px;
    min-height: 25px;
    background-color: white;
    text-align: center;
}
.fare_input{
    margin-left: 20px;
    height: auto;
    width: auto;
    max-width: 80px;
    min-height: 20px;
    background-color: white;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: #bbb;
}
#assign_passenger_button{
     border-radius: 10px;
    margin: 0px;
}
#assign_passenger_button:hover,.done_button:hover{
    background-color: #373B3F;
}
.done_button{
    margin-left: 30px;
    text-align: center;
    text-decoration: none;
    background-color: #27292B;
    color: white;
     border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 10px;
    float: left;
    cursor: pointer;
}
.disabledbutton {
    pointer-events: none;
}
.single_student_box{
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: auto;
    height: auto;
    min-width:100%;
    float:left;
}
.full_list,#rearrangediv{
    float:left;
    width: 100%;
}
.student_fullname_transport{  
    min-height: 50px;
    width: auto;
    height:auto;
    min-width: 99.8%;
    float: left;
    
}
.checkbox_box{
   margin: 12px 20px 15px 10px;
    width: auto;
    height: auto;
    vertical-align: top;
    float: left;
}
.student_name_box{
    font-size: 0.85em;
    font-weight: normal;
    margin: 15px 0px 15px 10px;
    color: black;
    height: auto;
    width: 200px;
    vertical-align: top;
    float: left;
}
.student_number_box{
    font-size: 0.85em;
    font-weight: normal;
    margin: 15px 0px 15px 60px;
    color: black;
    width: 60px;
    height: auto;
    vertical-align: top;
    float: left;
}
.student_transport_status_box{
   font-size: 0.85em;
    font-weight: normal;
    margin: 15px 70px 15px 85px;
    color: black;
    height: auto;
    vertical-align: top;
    float: left;
    border-bottom: none;
    width: 250px;
}
.student_transport_status_box_not_assigned{
   font-size: 0.85em;
    font-weight: normal;
    margin: 15px 70px 15px 84px;
    width: auto;
    height: auto;
    vertical-align: top;
    float: left;
    color: #9c9fa3;
    min-width: 250px;
}
#checkbox_input{
    min-width: 20px;
    min-height: 15px;
}
.destination_entry_box{
    display: none;
    float: left;
    height: auto;
    width: auto;
    min-height: 60px;
    background-color: #eee;
    min-width: 100%;
}
.selected_passenger_count{
    margin: 35px 10px 10px 0px;
    width: auto;
    height: auto;
    font-size: 0.99em;
    font-weight: normal;
}
.label_class{
    cursor:default;
}
.bold_class{
   font-weight: bold;
}
.wrapper{
    margin-top: 5px;
    width: auto;
   height: auto;
    margin-left: 100px;
    display: none;
}
.error-icon{
    width: 15px;
    height: 12px;
    background: url(/images/iconsprite-1.png);
    background-position: -42px -344px;
    margin: 2px 2px 0 0;
    float: left;
}
.error-msg{
    float: left;
    color: red;
    font-size: 13px;
    font-style: italic;
    width: 120px;
}
.fare_wrapper{
    margin-top: 5px;
    width: auto;
   height: auto;
    margin-left: 55px;
    display: none;
}
label.label_class{
     vertical-align: bottom;
}
.done_button_class{
    width: auto;
    height: auto;
    color: white;
    float: left;
}
#page-yield .done_button_class a:hover {
    color: #fff !important;
}
.student_heading_name:hover,.student_heading_number:hover{
    text-decoration: underline !important; 
}