#page-yield {
    width:800px;
    margin: 0 auto;
    overflow: hidden;
}


.hor_line{
    width:800px;
    background: #333333;
    height: 1px;
}

h2.heading{
    text-align: center;
    margin:5px;
}

#main_info h4{
    color: #555555;
    margin-top: 2px;
    font-weight: normal;
}

#main_info h2{
    margin-bottom: 2px;
    font-weight: normal;

}


.odd{
    height:auto;
    background: #EEEEEE;

}

.even{

    height:auto;
    background: #fff;


}
tr.even{
   border: 1px solid #ADACAB;
}

tr.odd{
   border: 1px solid #ADACAB;
}

.even td{

  padding: 12px 12px 12px 15px;
  border: 1px solid #ADACAB;
  border-right: 0px solid #fff;
  border-top: 0px solid #fff;

}

.odd td{
  padding: 12px 12px 12px 15px;
  border: 1px solid #ADACAB;
  border-right: 0px solid #fff;
  border-top: 0px solid #fff;

}

table#pdf-table{
 border-top: 1px solid #ADACAB;
 border-collapse:collapse
}

.table-header td{
    padding: 12px 15px 12px 12px;
    border-top: 1px solid #ADACAB;
    border-right: 1px solid #ADACAB;
    border-left: 1px solid #ADACAB;
    color: #97080e;
    background: #EEEEEE;
}
#page-extender{
    width:100%;
    height :300px;

}
#page-extender1{
    width:100%;
    height :500px;

}
.page1 {
    width:100%;
    height: auto;
    page-break-after: always;
    page-break-inside: avoid;
    clear: both;
}
.page-break1{
    height: 20px;
    border: 1px solid #fff;
    width:800px;
    float: left;
}
.report{
    min-height: 1000px;
    margin: 0 auto;
}
.section1{
    page-break-before:always;
    text-align: center;
}
.row{
    float: left;
    width: 100%;
    text-align: center;
}
.page-blank{
    width: 100%;
    float: left;
}
.page_break{
    margin-top: 60px;
}
#signature{
    text-align: right;
    width: 700px;
    margin: 0 auto;
    color: #999999;
    font-size: 18px;
}


#page-yield h2{
    text-align: center;
}


.page-break td{
    height: 300px;
    border: 1px solid #fff;
    border-bottom: 1px solid #ADACAB;
}
.col-pdf1
{color: #990A10;}

.name{
    width:10%;
    min-width:10%;
    max-width:10%;
    word-break:break-word;
}
.date{
    width:10%;
    min-width:10%;
    max-width:10%;
    word-break:break-word;
}

.paid{
    width:10%;
    min-width:10%;
    max-width:10%;
    word-break:break-word;
}

.status{
    width:10%;
    min-width:10%;
    max-width:10%;
    word-break:break-word;
}
.reg_no{
    width:10%;
    min-width:10%;
    max-width:10%;
    word-break:break-word;
}
.info1 {
    float: left;
    margin-top: -10px;
    width: 800px;
}

.info-left {
    float: left;
}
.each-filter{
    float:left;
    width:auto !important;
    margin-right:20px;
    color:#555;
}
.filter-info{
    float:left;
    width:100%;
    box-sizing:border-box;
    margin-bottom:20px;
    text-align:left;
    color:#555;
    line-height:25px;
}