#top-buttons-div, .show-section, .student-header {
    float:left;
    width:100%;
    box-sizing: border-box;
}
#top-buttons-div {
    margin-bottom:20px;
}
.course-name-display {
    margin-top:7px;
    margin-bottom:6px;
}
.student-header{
    background-color: #f5f5f5;
    border: 1px solid #c6c6c6;
}
.course-name-display, .student-info{
    float:left;
}
.student-info{
    margin-left:40px;
}
.course-name-display label{
    float:left;
    font-size:14px;
    font-weight:normal;
    margin-right:20px;
    color:#444;
}
#buttons-div{
    float:right;
}
#buttons-div .user_button1{
    float:right;
    margin-left:20px;
}
.applicant-navigator {
    float:left;
    width:75px;
    height:85px;
    border-right: 1px solid #c6c6c6;
    background-color: #eee;
}
.right-float-with-border{
    float:right;
    border-right: 0 !important;
    border-left: 1px solid #c6c6c6;
}
.user_button1 {
    background-color: #eee;
    border: 1px solid #999;
    color: #000;
    cursor: pointer;
    float: left;
    font-size: 13px;
    margin-left: 10px;
    padding: 6px 10px;
    text-decoration: none;
}
.prev-icon{
    height: 20px;
    width: 20px;
    float: left;
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position: -100px -160px !important;
    margin-left: 27px;
    margin-top: 34px;
}
.next-icon{
    height: 20px;
    width: 20px;
    float: left;
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position: -120px -160px !important;
    margin-left: 29px;
    margin-top: 34px;
}
.info-vertical-pair{
    float: left;
    margin-right: 20px;
    margin-top: 26px;
}
.info-name{
    color: #444;
    float: left;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
}
.info-value{
    color: #444;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}
#application-details {
    float:left;
    width:100%;
    box-sizing:border-box;
}
.registration-info {
    padding:10px 20px;
    width:100%;
    box-sizing:border-box;
    background-color:#868686;
    border-bottom:1px solid #c6c6c6;
    border-left:1px solid #868686;
    border-right:1px solid #868686;
    display:block;
    color:#ffffff;
    font-size:14px;
    float:left;
}
.reg-data {
    float:left;
    color:#ffffff;
    font-size:14px;
}
.section_list {
    padding:10px 20px;
    width:100%;
    box-sizing:border-box;
    background-color:#f5f5f5;
    border-bottom:1px solid #c6c6c6;
    border-left:1px solid #c6c6c6;
    border-right:1px solid #c6c6c6;
    display:block;
    font-weight:bold;
    color:#444;
    font-size:14px;
    float:left;
}
.payment-details {
    margin-top:30px;
    border-top:1px solid #c6c6c6;
}
.section-fields {
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:35px 73px 0;
    border-bottom:1px solid #c6c6c6;
    border-right:1px solid #c6c6c6;
    border-left:1px solid #c6c6c6;
    background-color:#ffffff;
}
.label-value-pair {
    width:100%;
    float:left;
    box-sizing:border-box;
    margin-bottom:30px;
}
.value-label a{
    float:left;
    color:#000;
    text-decoration:underline;
    font-size:13px;
}
.field-label {
    font-size:13px;
    font-weight:bold;
    float:left;
    width:250px;
    color:#444;
}
.value-label {
    font-size:13px;
    font-weight:normal;
    color:#444;
    width:575px;
    float:left;
}
.operation-section label{
    float:left;
    font-size:13px;
    color:#444;
}
.vertical-pair{
    float: left;
    margin-left: 30px;
    width: 160px;
}
#allocation-div .vertical-pair {
    width:230px;
    margin-right:30px;
}
#allocation-div .vertical-pair select {
    width:230px;
}
.vertical-pair label{
    float:left;
    color:#666;
}
.vertical-pair select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    height: 28px;
    margin: 5px 0 0;
    padding: 3px 6px;
    width: 160px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size:13px;
}
.check-label-pair label{
    color: #444;
    float: left;
    margin-left: 5px;
    margin-top: 2px;
    font-weight:bold;
}

.check-label-pair input[type='checkbox']{
    float:left;
    margin-left: 0;
}
.check-label-pair{
    float: left;
    margin-top: 10px;
    width: 200px;
}
.desc-label{
    color: #444;
    float: left;
    font-size: 14px !important;
    margin-top: 25px;
}
#allocation-div .desc-label {
    margin-top:12px;
}
.operation-section .user_button{
    margin-top:20px;
    font-size:13px;
}
#allocation-div .user_button{
    margin-top:5px;
}
.gray_table_list{
    border-collapse:collapse !important;
}
.red-border{
    outline: thin solid red;
}
.operation-section{
    border-top: 1px solid #c6c6c6;
    float: left;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}
.less-padding{
    padding-top:6px !important;
    padding-bottom:6px !important;
}
#photo-field{
    float:right;
    width:125px;
    height:125px;
    border:2px solid #c6c6c6;
}
#photo-field img{
    height:125px;
    width:125px;
}
.adjust-for-photo{
    width:80% !important;
}
.adjust-for-photo .value-label{
    width:400px !important;
}
.desc-section{
    float:left;
    width:100%;
    box-sizing:border-box;
    font-size:13px;
    color:#666;
    line-height:18px;
    margin-bottom:25px;
}
p.flash-msg {
    margin-bottom:40px;
}
#list {
    float:left;
    margin:0px auto;
    width:440px;
}
#list li {
    float:left;
    padding:6px 0 0 50px;
    list-style-type:none;
}
.name_listodd{
    float:left;
    background:#E4EBFE;
    height:30px;
    width:425px;
    border-top:1px solid #C2CEEF;
}
.name_listeven{
    float:left;
    background:#DAE6FF;
    height:30px;
    width:425px;
    border-top:1px solid #C2CEEF;
}
.width100{
    width:100%;
    float:left;
}
.att_list_names {
    display:inline;
    font-weight: 600;
    font-size: 13px;
}
#fee_collections {
    margin-top: 20px;
}

.fee_category_scroll1 {
    -moz-background-inline-policy: continuous;
    -webkit-background-inline-policy: continuous;
    /* background: none repeat scroll 0 0 #EEEEEE; */
    border: 1px solid #C6C6C6;
    max-height: 200px;
    overflow: auto;
    width: 300px;
    height: auto !important;
    margin-left: 10px;
    float: left;
    margin-left: 0px;
    margin-top: 10px;
}
.sel_batches {
    background-color: #eeeeee;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    float: left;
    font-size: 13px;
    padding: 4px;
    width: 100%;
}
.each_batch input {
    float: left;
    height: auto;
    margin-top: 3px;
    margin-left: 3px;
    padding: 0;
    width: auto;
}
.each_batch label {
    float: left;
    margin-left: 5px;
    margin-top: 0px;
    width: 240px;
    padding-top: 1px !important;
}
.each_batch{
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    box-sizing: border-box;
    font-size: 12px;
    overflow: auto;
    padding: 4px;
    width: 100%;
}
.sel_batches input {
    float: left;
    height: auto;
    margin-top: 3px;
    padding: 0;
    width: auto;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-size: 13px !important;
}
.section-fields .label-field-pair label {
    font-size: 13px !important;
}
.sel_batches label {
    float: left;
    font-size: 13px;
    font-weight: bold !important;
    margin-left: 5px;
    margin-top: 2px;
    width: 240px;
    padding-top: 0px;
}
.float_left{
    float: left;
}