<%#- Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('timetable_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('set_weekdays_and_class_timing_set') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div id="flash-box"></div>
  <div class="box">
    <div class="common_label_section">
      <label for="timetable_entry_course_id"><%= t('course') %></label>
      <div class="common_selection_area"><%= select :course, :id,
          @courses.map {|b| [b.full_name, b.id] },
          {:prompt => "#{t('select_a_course')}"},
          {:onchange => "#{remote_function(
          :url => { :action => 'list_batches' },
          :with => "'course_id='+value",
          :before => "Element.show('loader')",
          :success => "Element.hide('loader')"  )}"} %>

      </div><div class="loader"><%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: none;" ) %></div>
    </div>
    <div id="batch_space"></div>
    <div id="weekdays"><%= render :partial => "weekdays" %></div>
    <div id="modal-box" style="display:none;"></div>
    <div class="extender"></div>
  </div>
</div>
