<% news_attachment=c.object %>
<div class="fields">
	<% if c.object.new_record? %>
		<div class="label-field-pair">
			<div class="text-input-bg" id="browse-style">
				<%#= c.paperclip_file_field :attachment, :size=>14, :direct => false %>
				<%= c.paperclip_file_field :attachment %>
			</div>
		</div>
	<% else %>
		<% if news_attachment.attachment_file_name.nil? or c.object.id.nil? %>
		<% else %>
			<div class="left-attachment">
				<span class="attachment_icon_img"></span>
				<%=link_to truncate(news_attachment.attachment_file_name,:length => 25,:ommision => '...') ,news_attachment.attachment.url(:original,false)  %>
			</div>
		<% end %>
	<% end %>
	<div class="remove-field">
		<%#= link_to_remove_fields t('remove'), c %>
		<%= link_to_remove_fields '', c %>
	</div>
</div>
