<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>

  <h1><%= t('school_news') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('latest_announcement') %></div>
  <div id="inner-tab-menu">
    <ul>
      <% if permitted_to? :new,:news %>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('add')}", :controller => 'news', :action => 'add' %></li>
      <% end %>
    </ul>
  </div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div id="all_news">
    <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head">
        <td>
          <%= t('sl_no') %>
        </td>
        <td>
          <%= t('title') %>
        </td>
        <td>
          <%= t('author') %>
        </td>
        <td>
          <%= t('comments') %>
        </td>
        <td>
          <%= t('posted') %>
        </td>
      </tr>
      <tr class="tr-blank"></tr>
      <% offset = params[:page].nil? ? 0 : (params[:page].to_i-1)*12 %>
      <% @news.each_with_index do |r,i| %>
        <% @comments = NewsComment.find_all_by_news_id(r.id) %>
        <% link_value = r.title %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-1">
            <%= i+1+offset %>
          </td>
          <td class="col-3">
            <%=  link_to link_value, news_path(r) %>
          </td>
          <td class="col-3">
            <% unless r.author.blank?  %>
              <%= r.author.first_name %> <%= '- admin' if r.author.admin==true%>
            <% else %>
              <%= t('user_deleted') %>
            <% end %>
          </td>
          <td class="col-1">
            <%= @comments.size %>
          </td>
          <td class="col-3">
            <%= time_ago_in_words(r.created_at) %> <%= t('ago') %>
          </td>
        </tr>
      <% end %>

    </table>
    <%= will_paginate @news %>
  </div>

</div>
