h3 {
    font-size: 16px;
    color: #444;
}

.description{
    font-size: 13px;
    margin: 20px 0px 30px 0px;
    color: #A5A5A5;

}

table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
}

td{
    padding: 10px;
    border-right: 1px solid #bfbfbf;
}

table .tr-sub-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
}

#approve_list .tr-head{
    font-weight: bold;
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
}

tr{
    border-bottom: 1px solid #bfbfbf;
}
.sub_heading{
    margin: 50px 0px 15px 0px;
    font-size: 14px;
    font-weight: bold;
}

#generate_link, #view_link{
    float: left;
    /* margin-right: 20px; */
    color: black;
    min-width: 110px;
    max-width: 110px;
}


td.period{
    width: 20%;
    padding-left: 20px;
}

td.status{
    width: 60%;
}

td.cost{
    width: 20%;
}
.pagination {
    float: right;
    position: relative;
    margin-top: 15px;
    margin-right: 0px;
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-left: 0px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-left: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: left;
    font-weight: normal;
    padding: 9px 13px 9px 15px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-left:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    border-right: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: left;
    padding: 9px 13px 9px 15px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: left;
    border-left:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}
#approve_list{
    margin-bottom: 30px;
}
td a{
    color: black !important;
    text-decoration: none;
}

#page-yield td a:hover{
    text-decoration: underline;
}
.t_cost{ text-align: right;}

.generated {
    min-width: 120px;
    float:left;
    padding-right: 20px;
    line-height: 25px;
}
.pending, .approved, .rejected{
    min-width: 80px;
    float:left;
    padding-right: 20px;
    line-height: 25px;
}

.of_text{
    color: grey;
}
#page-yield td a:hover {
    text-decoration: underline;
    color: black !important;
}