.label-field-pair{
    width: 450px;
    float:left;
}

.label-field-pair input{
    width: 20px;
    float: left;
    margin-left: 0 !important;
    margin-right: 10px;
}

.label-field-pair label{
    float:none;
    width: inherit;
    margin-top: 7px;
    padding-top: 0px;
    font-weight: normal;
    font-size: 13px;
}

.section, h4{
    width: 100%;
    float: left;
    margin-top: 30px;
}

.description{
    font-size: 13px;
        color: #999;
    font-size: 13.7px;
    overflow: auto;
}

.submit-button{
    margin: 50px 0px;
}

a{
    text-decoration: none;
    
}
a:hover{
    color:white !important;
}
#view_sample{
    margin-left: 10px;
}

#additional_details h4{
    font-weight: normal;
}

label{
   cursor: pointer;
}

#page-yield a#view_sample:hover{
color:white !important;
}
.page_header {
    font-weight: 600;
    margin-bottom: 19px;
    font-size: 16px;
}
.sub_header{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 9px;
}
.page_header_box{
     margin-bottom: 5px;
}
.footnote_block {
    width: 100%;
}
.footnote_block .footnote_option{
    width: auto;
    float: left;
}
.footnote_block .footnote_option label{
    float: left;
    margin-right: 30px;
}
#footnote_text{
    width:100%;
}
#footnote_text label{
    width: auto;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}
#footnote_text input{
    width: 400px;
}