.header{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 30px;
    color: #444;
}

.description{
    font-size: 13px;
    margin: 20px 0px 30px 0px;
    color: #A5A5A5;

}

table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
    margin-bottom: 20px;
}

td{
    padding: 10px;
    border-right: 1px solid #bfbfbf;
}


#page-yield table .tr-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
}

tr{
    border-bottom: 1px solid #bfbfbf;
}
.sub_heading{
    margin: 50px 0px 15px 0px;
    font-size: 14px;
}

td.emp_name{
    width: 25%;
}
td.dpt_name{
    width: 20%;
}

td.actions{
    width: 20%;
}

td.pay_period{
    width: 16%;
}

td.remarks{
    width: 25%;
}
.pagination {
    float: right;
    position: relative;
    margin-top: 15px;
    margin-right: 0px;
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-left: 0px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-left: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: left;
    font-weight: normal;
    padding: 9px 13px 9px 15px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-left:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    border-right: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: left;
    padding: 9px 13px 9px 15px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: left;
    border-left:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}
td.actions a, #page-yield table td.actions a:hover {
    color: black !important;
    text-decoration: none;
}

.pay_period, .payment_frequency{
    width: 100%;
    float:left;
    font-size:13px;
}
.pay_period .text-input-bg, .payment_frequency .text-input-bg{
    margin-top: 10px;
    font-weight: bold;
    color: #444;
}


#edit_link{
    float:left;
    margin-right: 20px;
}

.label-field-pair label{
    width: 150px;
    font-weight: normal;
    font-size: 13px;
}
.sub-header{ text-transform : none;}