hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: left;
}
h3 {
    font-size: 16px;
    color: #444;
}
.fields-details {
    float: left;
    width: 100%;
    font-weight: normal;
    font-size: 13px;
    color: #444;
    margin: 3px 0;
}
.field-label {
    float: left;
    min-width: 100px;
    color: #8C8C8C;
}
.fields-val {
    float: left;
    /*    max-width: 200px;*/
    margin-left: 20px;
}
.description {
    font-size: 13px;
    float: left;
    padding-top: 10px;
    color: #A5A5A5;
    margin-bottom: 20px;
    width: 100%;
}
.header{
    font-weight: bold;
}
table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
    margin: 50px 0 10px 0;
    float: left;
}
td
{
    border-bottom: 1px solid #E0E0E0;
    border-right: 1px solid #bfbfbf;
    padding: 10px;
}
table .tr-head{
    font-weight: bold;
    border-bottom: 1px solid #bfbfbf;
}
.bg_dark_grey {
    background-color: #D8D8D8;
}
.bg_light_grey {
    background-color: #f0f0f0;
}
.sub_heading{
    margin: 50px 0px 15px 0px;
}
.pagination {
    margin-top: 20px;
    margin-right: 0px;
}
td.range{ width: 35%; }
td.amount{ width: 15%; }
td.status{ width: 15%}
td.actions{ width: 35%; line-height: 20px;}
td.actions a
{
    color: black;
    margin-right: 30px;
}
div#past_payslips table .tr-head {
    color: black !important;
}
table a, #page-yield table a:hover
{
    color: #666 !important;
    text-decoration: none;
    float: left;
}
#page-yield table a:hover{
    color: black !important;
    text-decoration: underline;
}
.pagination {
    float: right;
    position: relative;
    margin-top: 15px;
    margin-right: 0px;
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-left: 0px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-left: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: left;
    font-weight: normal;
    padding: 9px 13px 9px 15px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-left:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    border-right: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: left;
    padding: 9px 13px 9px 15px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: left;
    border-left:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}