hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: left;
}
h3 {
    font-size: 16px;
    color: #444;
}
.fields-details {
    float: left;
    width: 70%;
    font-weight: normal;
    font-size: 13px;
    color: #444;
    margin: 3px 0;
}
.field-label {
    float: left;
    min-width: 100px;
    color: #8C8C8C;
}
.fields-val {
    float: left;
    max-width: 560px;
    margin-left: 20px;
}
.fields-details a, #page-yield .fields-details a:hover{
    color: black !important;
    margin-left: 10px;
}
.header{
    font-weight: bold;
}
table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
    margin: 30px 0 10px 0;
    float: left;
}
td
{
    border-bottom: 1px solid #E0E0E0;
    border-right: 1px solid #bfbfbf;
    padding: 10px;
}
table .tr-head{
    font-weight: bold;
    border-bottom: 1px solid #bfbfbf;
}
.bg_dark_grey {
    background-color: #D8D8D8;
}
.bg_light_grey {
    background-color: #f0f0f0;
}
.sub_heading{
    margin: 50px 0px 15px 0px;
}
.pagination {
    margin-top: 20px;
    margin-right: 0px;
}
td.range{ width: 35%; }
td.amount{ width: 15%; }
td.status{ width: 15%}
td.actions{ width: 35%; }
td.actions a
{
    color: black;
    margin-right: 20px;
}
div#past_payslips table .tr-head {
    color: black !important;
}
div#past_payslips table td.actions a {
    color: black !important;
    text-decoration: none;
}
.pagination{
    min-width: 158px;
    height: auto;
    margin-top: 20px;
    margin-right: 0px;
    border: 1px solid #CCC;
    border-left: 0px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-left: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: left;
    font-weight: normal;
    padding: 9px 13px 9px 15px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-left:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    border-right: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: left;
    padding: 9px 13px 9px 15px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: left;
    border-left:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}
.pagination_status{
    float: left;
    width: 100%;
}
div#filter{
    float: right;
    max-width: 250px;
}

div#filter
{
    width: 246px;
    float: right;
    margin-top: -13px;
    height: auto;
}
div#filter label {
    font-weight: normal;
    max-width: 100px;
    font-size: 13px;
    margin: 5px 0;
    padding: 0px;
}
div#filter .text-input-bg, div#filter .text-input-bg select {
    width: 120px;
    margin: 0px;
}
#loader_div {
    float: left;
    min-width: 26px;
    min-height: 26px;
}
#loader {
    float: left;
    margin: 6px 0 0 5px;
}