

#page-yield {
    width:100%;
    margin: 0 auto;
    float: left;
    overflow: hidden;
}
.left_section{
    width:50%;
}

.right_section{
    width:50%;

}

#left{
    float: left;
}

#right{
    float: left;
}
.payslip_text, .date_range{
    width: 50%;
    font-weight: bold;
}

.payslip_text{
    font-size: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
        padding-left: 10px;

    /* display: inline-block; */
}

.date_range{
    float: right;
    font-size: 13px;
    padding-top: 13px;
    padding-bottom: 10px;

    /* align-content: right; */
    text-align: right;
    padding-right: -22px;
    width: auto;
    margin-right: 10px;
}
.table-header{
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 10px;     padding-bottom: 10px;
    float: left;
}

#category_name{
    /* border-bottom: 1px solid black; */
    float:left;
    width: 50%;
}
#currency_symbol{
    width: 50%;
    float: left;
}
table{
    width: 100%;
    border: 1px solid black;
}

.main_info{
    width:100%;
    float: left;
    border-bottom: 1px solid black;
}
.label{
    float:left;
    max-width: 50%;
    font-size: 11px;
    color: #666;
    padding-top: 5px;

    word-break: break-all;
}

.text{
    /* max-width: 25%; */
    float: left;
    font-size: 11px;
    color: black;
    padding-top: 5px;
}

.employee_info{
    border-bottom: 1px solid black;

    float: left;
    width: 100%;
}


.info_left{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    float:left;
    padding-left:  10px;
}

.info_right{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    float: left;
    padding-left: 10px;
}
/* gfhgf



.hor_line{
    width:100%;
    background: #333333;
    height: 1px;
}

h2.heading{
    text-align: center;
    margin:5px;
}
#main_info{
    margin-top: 20px;
    width : 100%;
    float: left;

}
#main_info h4{
    color: #555555;
    margin-top: 2px;
    font-weight: bold;
}

#main_info h2{
    margin-bottom: 2px;
    font-weight: normal;

}


.odd{
    height:auto;
    background: #fff;

}

.even{

    height:auto;
    background: #fff;


}
tr.even{

}

tr.odd{

}

.even td{
    padding: 12px 12px 12px 15px;
    border: 1px solid #ADACAB;
    border-bottom: 0px solid #ADACAB;
}

.odd td{
    padding: 12px 12px 12px 15px;
    border: 1px solid #ADACAB;
    border-bottom: 0px solid #ADACAB;

}
.table-header td{
    padding: 12px 12px 12px 15px;
    border-top: 1px solid #ADACAB;
    border-left: 1px solid #ADACAB;
    color: black;
    font-weight: bold;
    background: #EEEEEE;
}


table#pdf-table{
    border: 1px solid #ADACAB;
    border-left:  0px solid #ADACAB;
    border-collapse:collapse
}


#page-extender{
    width:100%;
    height :180px;

}
#page-extender1{
    width:100%;
    height :500px;

}

.report{

    margin: 0 auto;
}

#signature{
    text-align: right;
    width: 700px;
    margin: 0 auto;
    color: #999999;
    font-size: 18px;
}


#page-yield h2{
    text-align: center;
}


.page-break td{
    height: 400px;
    border: 1px solid #fff;
    border-bottom: 1px solid #ADACAB;
}


.info-label{
     float: left;
    color: #555555;
    font-size: 16px;
    max-width: 100%;
    color: grey;
    margin-bottom: 10px;
}

.info-data{
    float: left;
    color: #32323A;
    font-size: 16px;
    width: 100%;
}

.info-data span{
    color: #555555;
    margin-right: 10px;
    float: left;
}
.info_right{
    float: left;
    width: 100%;
}
.info_left{
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.info{
    width: 50%;
    overflow: auto;
    margin-bottom: 10px;
    float: left;
    margin-bottom: 20px;
    overflow: hidden;
}
.info1{
    width:345px;
    overflow: auto;
    margin-bottom: 10px;
    float: right;
    overflow: hidden;
}

#pdf-info{
    min-height: 900px;
    margin-top: 20px;
    width: 100%;
    float: left;
}


#pdf-footer{
    margin-top: -50px !important;
}
#amount_value{
    width:auto;
    max-width: 200px;
    float:left

}
#currency_symbol{
    float:right;
    width:100px;
    text-align: right;
}
#currency_symbol_with_total{
    float:left;
    margin-right:2px;
}
.item-edit{
    font-size : 0.9em;
    width: auto;
    float:right;
}
#all_entry{
    float:left;
    width:auto;
}
#category_name{
    width:100px;
}
.body{
    width: auto;
}

.field_val{
    float:left;
    max-width: 100%;
}

hr{
    color: #f0f0f0;
    margin-bottom: 30px;
}*/

.even{
    width:100%;
}

span{
    float:left;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 1px;
}

.col-pdf{
    width: 50%;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
    color: black;
    /* border-right: 1px solid #ccc; */
}
#amount_value{
    width: 40%;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
    color: black;
    text-align: right;
    padding-right: 10px;
}
.categories{
    width: 100%;
    float: left;
    border-bottom: 1px solid black;
}

#page-yield{
   border: 1px solid black;
}

#category_name span {
    font-weight: bold;
}

.employee_info #left{
    border-right: 1px solid #ccc;
}

.earning_header, .tot_earning{
    font-weight: bold;
    font-size: 12px;
}


.categories #left{
    border-right:1px solid black;
}

.net_pay #amount_value{
    font-weight: bold;
     font-size: 19px;
}

.net_pay .col-pdf{
    font-weight: bold;
     font-size: 13px;
    border: 0px;
    padding-top: 15px;
}

#pdf-header {
  width: 800px;
  padding-top: 0px;
  margin: 0;
  overflow: hidden;
  margin-top: -2px;
  height: auto;


}
.odd, .even{
 padding-left: 10px;
 width:100%;
 float: left;
}

#page-yield{
    margin-top: 0px !important;
}

.net_pay{
    float:right;
}

.empty{
    float:left;
    height: 40px;
}
.footnote{
    float:  left;
    width:  100%;
}
.footnote p{
    text-align: center;
    font-size: 12px;
    color: #666;
}
