table{
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
    margin: 20px 0;
    float: left;
    border-bottom: 1px solid #bfbfbf;
}
td{
    padding: 10px;
    border-right: 1px solid #bfbfbf;
}
tr{
    border-left: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}
#employees table .tr-head{
    font-weight: bold;
    background-color: #e8e8e8;
    border-bottom: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    color: black !important;
}
.warning_sym {
    float: left;
    width: 15px;
    height: 12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-top: 1px;
}
.substitute {
    min-width: 15px;
    min-height: 12px;
    float: left;
}
.submit-button
{
    margin-left: 5px;
    font-size: 13px;
    margin-top: 5px;
}
.text-input-bg
{
    width: 125px;
}
#loader1{
    margin-left: 75px;
    margin-top: 10px;
}
.text-input-bg input
{
    width: 100px;
    margin-left: 0px;
}
.warning{
    background: #EDEDED url(/images/_global/error.png) no-repeat 15px 26px;
    font-size: 13px;
    color: #444;
    padding: 20px 20px 20px 55px;
    border: 1px solid #DBDBDB;
    float: left;
    width: 92%;
    margin-bottom: 20px;
}
.actions a, #employees .actions a:hover{
    color: black !important;
}
.search{
    float: right;
    height: 60px;
    width: 200px;
}
.error-icon{
    width: 15px;
    height: 12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-right: 2px;
    float: left;
}
#generate_link{
    float:left;
    min-width: 100px;
    max-width: 145px;
}
.warning_text{
    font-size: 13px;
    color: #444;
    float:left;
    margin-right: 10px;
    margin-top:10px;
}
.warning_action{
    font-size: 13px;
    margin-top:10px;
}
.header{
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}
.description{
    font-size: 13px;
    color: #A5A5A5;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.generate_all{
    float:right;
    font-size: 13px;
    margin-top: 20px;
    text-decoration: underline;
}
.pagination{
    margin-top: 0px;
    margin-right: 0px;
}
.emp_name{
    width: 40%;
}
.emp_no{
    width: 100px;
}
.status{
    font-size: 13px;
    float: left;
    color: #666;
}
.dpt_name{
    width: 25%;
}
.recent_date{
    width: 150px;
}
.tr-odd{
    background-color: #f7f7f7;
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
}
.tr-even{
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    border-top: 1px solid #f2f2f2;
}
.pagination {
    float: right;
    position: relative;
    margin-top: 15px;
    margin-right: 0px;
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-left: 0px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-left: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: left;
    font-weight: normal;
    padding: 9px 13px 9px 15px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-left:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    border-right: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: left;
    padding: 9px 13px 9px 15px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: left;
    border-left:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}
.actions{
    width: 20%;
}
.multiple_actions{
    width: 120px;
    float: left;
}
.summary{
    color: black !important;
    font-size: 13px;
    margin-left: 30px;
    cursor: pointer;
    width: 200px;
    float: left;
    text-decoration: underline;
}
.emp_no{
    width: 15%;
}
#date_range_text, #label_value{
    font-size: 13px;
    width: 250px;
    margin-top: 10px;
    font-weight: bold;
    color: #444;
}
.label-field-pair label{
    width: 130px;
    font-weight: normal;
    font-size: 13px;
}
#revert_link{
    float:left;
    margin-right: 15px;
}
#pdf_link{
    float: left;
}
#delete_link{
    float: left;
    margin-right: 15px;
}
.label-field-pair{
    float:left;
    width: 80%;
    height: 40px;
}
#payslip_status{
    font-size: 13px;
    height:40px;
    float:right;
    padding-top:10px;
    width: 50%;
}
#status_filter{
    width: 340px;
    float: left;
    margin-left: 92px;
    padding-top: 10px;
}
#employees_filter{
    width: 340px;
}
#actions{
    float: left;
    width: 80%;
}
.text-input-bg select{
    width: 180px;
}
#employees_filter label,#status_filter label{
    width:auto;
    font-size: 13px;
}
#view_all_payslips{
    font-size:13px;
    float:right;
    margin-top:10px;
}
#view_all_payslips a{
    color: black;
}
.summary a, #page-yield .summary a:hover {
    text-decoration: none;
    color: black !important;
}
#generate_all_payslips {
    font-size:13px;
    float:right;
    margin-top: 110px;
}
#generate_all_payslips a, #page-yield #generate_all_payslips a:hover {
    color: white !important;
    text-decoration: none;
}

#page-yield table a{
    color : #666 !important;
    text-decoration: none;
}
#page-yield table a:hover{
    text-decoration: underline;
     color: black !important;
}
.sub-header{
    text-transform: none;
}