
.title{
    font-size: 13px;
    min-height: 25px;
    float: left;
    color: black;
    padding-top: 7px;

}
.description{
    font-size: 13px;
    float: right;
    width: 80%;
    color: black;
}

#partial-area{
    float:right;
    width: 200px;
}

#weekly{
    float:left;
    width: 400px;
}

#date_specific{
    width: 640px;
}
#render_partial{
    float: left;
    margin-left: 15px;
}
#test{
    width: 250px;
}



#month{
    float: left;
    width: 260px;
}

#year{
    float: left;
    width: 260px;
}

.choose_allocation{
    width: 100%;
    font-size: 13px;
    height: 25px;

}

.allocation{
    float: left;
    width: 800px;
    font-size: 13px;
    margin-left: 25px;
}


.form{
    width: 200px;
    float: left;
    margin-left: 15px;
    padding-top: 6px;
}


.header{
    width:100%;
    height: 50px;
    margin:0px auto;
    margin-bottom:20px;
    border: 1px solid #999999;
    background-color: #eeeeee;
    float: left;
}

.allocations{
    margin-top: 50px;
    width:100%;
}

.alloc_section{
    margin-top: 50px;
    width:100%;
}

.box{
/*    float: left;*/
    height: 300px;
    min-width: 100%;
    display: inline-block;
}

.alloc_box{
    width: 100%;
    border: 1px solid #999999;
    float: left;
    overflow-y: auto;
    overflow-x: auto;
    white-space: nowrap;
    height:315px;
    z-index: 0;
}

.search{
    border-right: 1px solid #cccccc;
    height:50px;
    float: left;
    width:355px;
}

.weekdays{
    height:50px;
    float:right;
}

.days{
    width: 75px;
    height: 50px;
    float:left;

    border-left: 1px solid #cccccc;
    text-align:center;
    display: block;

}

li.days a{
    font-size: 14px;
    font-weight: bold;
    text-align:center;
    display:block;width:100%;text-decoration: none;
    color: #666666;
    height: inherit;
    vertical-align: middle;
    width: 75px;
    height:100%;
    padding-top: 15px;
}

li.days{
    list-style-type: none;
}

.active_day{
    background-color: white;
    height: 35px;
}

.name{
    height: 25px;
    width: 100%;
    background-color: #ededed;

}
.ui-tooltip-content{
    background-color: white !important;
}

.ui-draggable-dragging{
    position:fixed !important;
}

.subjects{
    height: 59px;
    float: left;
    display: flex;

}

.section{
    height: 85px;
    border-bottom: 1px solid #cccccc;
}

.batch_text{
    font-size: 13px;
    margin-left: 10px;
    padding-top: 5px;
    font-weight: bold;
}

.sub{
    width: 107.9px;
    height: 59px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #cccccc;
    border-left: 0px;
    display: inline-block;
    float: left;

}

.alloted{
    border: 1px solid #3baf4a;
    border-left: 0px;
    background-color: #eaffec;
}

.cancelled {
    background: rgba(100,100,100,0.1);
    border: 1px solid #999;
    border-left: 0px;
}

.alloted.cancelled {
    background: rgba(255,0,0,0.1);
    border: 1px solid #f00;
    border-left: 0px;
}

.sub .allotment-status{
    height: 16px;
    width: 16px;
    float: right;
}

.alloted .allotment-status{
    background: url(/images/iconsprite-1.png) no-repeat center transparent !important;
    background-position: -82px -362px !important;
    margin-right: 5px;
    margin-bottom: 5px;
}
.alloted.cancelled .allotment-status {
    background-position: -102px -84px !important;
}

.cancelled .sub_text, .cancelled .emp_text {
    text-decoration: line-through;
}

.cancelled_text {
    float: left;
    margin-left: 10px;
    font-size: 11px;
    margin-top: 2px;
    color: #888;
}

.empty_box{
    width: 107.9px;
    height: 50px;
    font-size: 12px;
    text-align: center;
    border-right: 1px solid #cccccc;
    display: inline-block;
    float: left;
}

.sub_text{
    margin-top: 5px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;

}

.emp_text{
    color: #666666;
    margin-top: 5px;
    font-size: 12px;
    /*    overflow: hidden;*/
    white-space: nowrap;
    /*    text-overflow: ellipsis;*/
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.sub_text1{
    font-size: 13px;
    /*  overflow: hidden;*/
    /*  text-overflow: ellipsis;*/
    font-weight: bold;
    background: white;
    color: black;
    text-align: left;
    margin-bottom: 5px;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
}

.emp_text1{
    color: #999999;
    font-size: 13px;
    color: #7d7d7d;
    background: white;
    color: black;
    text-align: left;
    /*    overflow: hidden;
        text-overflow: ellipsis;*/
    white-space: initial;

}




.search input{
    margin-top: 12px;
    margin-left: 12px;
    height: 20px;
    width: 200px;
    font-size: 13px;
    padding: 2px;
}




.ui-tooltip {
    background: whitesmoke;
    border: 1px solid #999999;
    padding: 0;
    opacity: 1;
    width: 155px;
    height: auto;
}
.ui-tooltip-content {
    position: relative;
    padding: 1em;
}
.ui-tooltip-content:after {
    top: -10px;
    left: 72px;
    border-color: #666 transparent;
    border-width: 0 10px 10px;
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
}
.timing{
    font-size: 13px;
    margin-bottom: 10px;
    background: white;
    color: black;
    text-align: left;


}

.status {
    width: 145px;
    height: 25px;
    float: right;
    font-size: 12px;
    float: right;
    margin-top: 5px;
}

.show_rooms{
    width:100%;
    height:150px;
    float:right;
    margin-top: 5px;
}


#available-text{
    float: left;
    margin-left: 5px;
}

#taken-text{
    float: left;
    margin-left: 5px;
}

#available-box{
    float: left;
    width: 15px;
    height: 15px;
    border:1px solid #cccccc;
}

#taken-box{
    float: left;
    width: 15px;
    height: 15px;
    border:1px solid #cccccc;
    background: #ffe7e7;
    margin-left: 10px;
}

.list_rooms{
    width:100%;
    height:100px;
    border:1px solid #999999;
    margin-top: 20px;
    background: #eeeeee;
}

.select-input-bg {
    background: transparent;
    height: 28px;
    width: 250px;
}

.select-input-bg select {
    background-color: white;
    border: 1px solid #c6c6c6;
    margin-top: 12px;
    margin-left: 12px;
    height: 27px;
    width:200px;
    padding: 3px 6px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

#building_select{
    width: 250px;
    height: 100px;
    float: left;

}

#building_text{
    font-size: 12px;
    color:  #666666;
    margin-top: 25px;
    margin-left: 12px;
}


div#room_select ul, li {
    margin: 0;
    padding: 0;
}
div#room_select ul {
    width: 725px;
    height: auto;
    display: inline-block;

}
div#room_select li {
    width: 110px; /*50px;*/
    float: left;
    list-style: none;
    height: 25px;
    border: 1px solid #cccccc;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 12px;
    display: block;
    background: white;
    padding: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: visible;

}

#room_select{
    /*    cursor:pointer;*/

}

#room_select .ui-draggable {
    cursor: pointer;
}

.submit_button {

    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 13px;
    border:none;
    cursor:pointer;
    position:relative;
}

.submit_button1 {

    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 13px;
    border:none;
    cursor:pointer;
    position:relative;
}
.submit_button:hover{
    background:  #373B3F;
}

#month-year{

}


#sub-button{
    float:left;
    width: 50px;
}

#timetable-list{
    width: 600px;
    float: left;
}

#course_batches{
    width: 285px;
}

#course_batches label{
    width: 85px;
}

#course_batches .text-input-bg{
    width: 200px;
}

.transparency {
    opacity: 0.1;
    border:1px solid #cccccc;

}

.warning {
    width: 980px;
    height: 300px;
    position: absolute;
    z-index: 1;
    margin-top: 73px;
    /* margin-left: 250px; */
    font-weight: bold;
    font-size: 14px;
}

.warning_msg{
    height: auto;
    margin-top: 100px;
    margin-left: 360px;
}
.confirm_buttons{
    width: 200px;
    float: left;
    height: 50px;
    margin-top: 15px;
    margin-left: 360px;
}

.continue_btn{
    background-color: #00628f;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    color: white;
    border:none;
    cursor:pointer;
    padding: 7px 10px;
    margin-right: 5px;
}

.cancel_btn{
    background-color: #ededed;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    color: black;
    border:none;
    cursor:pointer;
    padding: 7px 10px;
}


.als-container {
    /*position: relative;*/
    width: 100%;
    margin: 0px auto;
}

.als-viewport {
    position: relative;
    overflow: hidden;
    margin: 0px auto;
    display: inline-block;
    width: 550px;
    margin-left: 45px;
    border-right: 1px solid #cccccc;
}

.als-wrapper {
    position: relative;
    list-style: none;
}

.als-item {
    position: relative;
    display: block;
    text-align: center;
    cursor: pointer;
    float: left;
}

.als-prev{
    display: inline-block;

    position: absolute;
    cursor: pointer;
    clear: both;
    border: 0px solid blue;

    /* background: url(/images/iconsprite-1.png) no-repeat center;
background-position: 0px -34px;
/*    margin-left:-22px;*/
    width:50px;
    height:50px;
    position:absolute;
    z-index:3;
}

.als-next {

    cursor: pointer;
    display: inline-block;
    border: 0px solid red;
    height: 50px;
    width: 50px;
    /*  background: url(/images/iconsprite-1.png) no-repeat center;
     background-position: -13px -33px;
     /*    margin-left:-22px;*/

    position:absolute;
    z-index:3;

}

.pagination{
    color: #999999;
    margin-left: 34px;
    margin-right: 12px !important;
    margin-top: -33px !important;
}

.pagination a.prev_page, .pagination a.next_page{

    width: 35px;
    float: left;
    list-style: none;
    height: 25px;
    border: 1px solid #cccccc;
    font-size: 12px;
    /* margin-left: 10px; */
    /* margin-top: 12px; */
    display: block;
    background: white;
    padding: 1px;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* overflow: visible; */
}

#next_link{

    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position: -15px -32px;
    z-index: 1;
    width: 14px;
    height: 15px;
    /* margin-bottom: 60px; */
    /* background: red; */
    position: relative;
    margin-top: 5px;
    margin-left: 12px;
    /* padding: 6px; */
}

#prev_link{
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position: -1px -34px;
    z-index: 1;
    width: 14px;
    height: 15px;
    /* margin-bottom: 60px; */
    /* background: red; */
    position: relative;
    margin-top: 7px;
    margin-left: 12px;
    /* padding: 6px; */
}
.room_name{
    font-size: 13px;
    color: #7d7d7d;
    background: white;
    text-align: left;
    display: flex; /* other browsers */
    display: -webkit-flex; /* safari */
}

.ui-tooltip, .arrow:after {
    background: white;
    border: 1px solid #999999;
}
.ui-tooltip {
    padding: 5px 10px;
    color: white;
    border-radius: 0px;
    box-shadow: 0 0 7px white;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px white;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}

#room_name{
    height: 25px;
    padding-top: 5px;
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;

}

.pagination .disabled{
    margin-left: 30px;
}

.show_month {
    float: right;
    font-size: 13px;
    margin: 15px 10px;
}

a:hover {
    cursor:pointer;
}


.tooltip {
    padding: 5px 10px;
    color: white;
    border-radius: 0px;
    box-shadow: 0 0 7px white;
    background: white;
    border: 1px solid #999999;
    display: none;
    margin-left: 50px;
    padding: 10px;
    position: relative;
    z-index: 1000;
    width:155px;
    height:auto;
}
.sub:hover{
    cursor: pointer;

}

.tooltip:after, .tooltip:before
{
    bottom: 100%;
    left: 8%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.tooltip:after
{
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #FFFFFF;
    border-width: 11.5px;
    margin-left: -10px;
}
.tooltip:before
{
    border-color: rgba(178, 178, 178, 0);
    border-bottom-color: #999999;
    border-width: 12.5px;
    margin-left: -11px;
}

.label-field-pair {
    float: left;
    width: auto !important;
    margin: 0px !important
}

.label-field-pair label{
    width: auto !important;
    padding: 0px !important;
    font-size: 13px;
    padding-top: 7px !important;
}

.text-input-bg select{
    margin: 0px !important;
    margin-left: 10px !important;
    width: 200px !important;
}
.text-input-bg{
    width : 235px !important;
}

label{
    margin: 0px !important;
    padding: 0px !important;
    font-size: 13px;
    color: black !important;
}

.bread_crumb{
    margin-bottom: 20px !important;
}

#delete_room_link{
    color:black;
    cursor: hand;
    cursor: pointer;
}

.warning_msg li{
    padding-bottom: 4px;
}


.tooltip_case:after, .tooltip_case:before
{
    bottom: 100%;
    right: 8%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.tooltip_case:after
{
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #FFFFFF;
    border-width: 11.5px;
    margin-right: -1px;
}
.tooltip_case:before
{
    border-color: rgba(178, 178, 178, 0);
    border-bottom-color: #999999;
    border-width: 12.5px;
    margin-right: -2px;
}

.tooltip_case {
    padding: 5px 10px;
    color: white;
    border-radius: 0px;
    box-shadow: 0 0 7px white;
    background: white;
    border: 1px solid #999999;
    display: none;
    margin-left: -117px;
    padding: 10px;
    position: relative;
    z-index: 1000;
    width:155px;
    height:auto;
}


.arrow_box {


    padding: 5px 10px;
    color: white;
    border-radius: 0px;
    box-shadow: 0 0 7px white;
    background: white;
    border: 1px solid #999999;
    display: none;
    /*margin-left: 50px;*/
/*    margin-top: -145px;*/
    padding: 10px;
    position: relative;
    z-index: 1000;
    width:155px;
    height:auto;
}
.arrow_box:after, .arrow_box:before {
    top: 100%;
    left: 8%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(0, 0, 0, 0);
    border-top-color: white;
    border-width: 11.5px;
    margin-left: 50px;
}
.arrow_box:before {
    border-color: rgba(4, 5, 5, 0);
    border-top-color: #040505;
    border-width: 12.5px;
    margin-left: 49px;
}

.room_tooltip {
    padding: 10px;
    color: white;
    border-radius: 0px;
    box-shadow: 0 0 7px white;
    background: white;
    border: 1px solid #999999;
    position: relative;
    z-index: 1000;
    min-width: 35px;
    height:auto;

}

.room_tooltip:after, .room_tooltip:before
{
    bottom: 100%;
    left: 8%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.room_tooltip:after
{
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #FFFFFF;
    border-width: 7px;
    margin-left: 6.5px;
}
.room_tooltip:before
{
    border-color: rgba(178, 178, 178, 0);
    border-bottom-color: #999999;
    border-width: 8px;
    margin-left: 5.5px;
}

.rname{
    color: black;
    width: auto;

}

#rname{
    width: 145px;

    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

#loader{
    margin-left: 30px;
    margin-top: 8px;

}

#loader1 {
    margin-left: 190px;
    margin-top: -31px;
    width: auto;
}

#loader3{
    position: absolute;
    z-index: 1;
    margin-top: 163px;
    margin-left: 450px;

}

#loader2{
    margin-left: 70px;
    margin-top: 8px;

}

#loading_text{
    position: absolute;
    z-index: 1;
    margin-top: 163px;
    margin-left: -510px;
}

.batch_search::-ms-clear {
    display: none;
}

input[type="radio"] {
    margin-left: 10px;
}

.drop-hover{
    border: 1px solid #999999;
    width: 106.9px;
    height: 59px;
}
.cancelled.drop-hover{
    border-left: 0px;
    width: 107.9px;
}

.clickable1{
    background: url(/images/iconsprite-1.png) no-repeat center;
    width: 13px;
    height: 21px;
    background-position: 0px -34px;
    margin-left: 13px;
    margin-top: 18px;
}



.clickable2{
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position: -13px -33px;
    width: 13px;
    height: 21px;
    margin-left: 12px;
    margin-top: 17px;
}
.no_periods{
    width: 100%;
    height: 50px;
    margin-top: 133px;
    text-align: center;    
}
.no_periods span {
    line-height: 50px;
    font-size: 14px;
    color: #666;
}