#register{
    background: #C3D9FF;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    margin-top:40px;
    margin-bottom:50px;
}
.quick-attendance-div{
    margin-top:-20px;
    float:left;
    /*    width:272px;*/
}
.attendance-label{
    font-size:13px;
    font-weight:normal;
    margin-right:5px;
    float:left;
    cursor:pointer;
}
#quick-attendance-check{
    margin-top:1px;
    float:left;
    cursor:pointer;
    /*    margin-left:0;*/
}
.box-1{
    margin-right: 8px;
    overflow-x: auto;
    padding: 16px;
    width: 921px;
}
.box-2{
    height:400px;
    /*overflow:auto;*/
    width: 965px;
}
.header{
    width:420px;
    margin:0px auto;
    margin-bottom:20px;
    padding-top:15px;
}
.next a{
    float:right;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    width:25px;
    height:25px;
    padding:5px;
    background: #fff;
    text-align:left;
    color:#121212;
    font-size:22px;
    text-decoration:none;
    outline:none;
    display:block;
}
.prev a{
    float:right;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    width:25px;
    height:25px;
    padding:5px;
    background: #fff;
    text-align:right;
    color:#121212;
    font-size:22px;
    text-decoration:none;
    outline:none;
    display:block;
}
.next a:hover, .prev a:hover{
    color: #9B0C12;
}
.month{
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    width:300px;
    background: #fff;
    padding:5px 0 5px 0;
    text-align:center;
    float:right;
    font-size:20px;
    color:#121212;
    font-weight:bold;
    margin:0 20px 0 20px;
}
table#attendance{

}
.tr-odd{
    background: #fff;
    padding:5px;
}
.tr-even{
    background: #f1f6ff;
    padding:5px;
}
.tr-head{
    color:#990A10;
    height: 40px;
}
.td-mark{
    min-width:20px;
    /*    width: auto;*/
    width: 900px;
    text-align:center;


}
.td-name{
    padding:5px;
    color:#2D2D2D;
    /*    padding-right:23px;*/
    font-weight:bold;
    width:58px;
    font-size:12px;
    height:25px;
    /*    cursor:pointer;*/
}
.head-td-name{
    background: #fff;
    padding-right:5px;
    padding-left:5px;
    font-weight:bold;
    font-size:13px;
    overflow:hidden;
    width:67px;
    text-align:center;
}
.head-td-date{
    font-size:11px;
    background: #f1f6ff;
    font-weight:bold;
    min-width:20px;
    width:auto;
    text-align: center;

}
.head-td-date .day{
    text-align:center;
    min-width:20px;
    padding:3px 1px;
}
.head-td-date .date{
    background: #fff;
    padding:2px;
    text-align:center;
    color:#2D2D2D;
}
.td-mark a.absent{
    text-decoration: none;
    font-size:12px;
    font-weight:bold;
}
.tr-odd .td-mark a.present{
    color:#fff;
    padding:5px;
}
.tr-even .td-mark a.present{
    color:#f1f6ff;
    padding:5px;
}
table.table{

}
.td-mark .date{
    position: relative;
    right: -172px;
    top: -73px;
}
.td-name .date{
    position: relative;
    right: -77px;
    top: -73px;
}
.td-mark .date span,.td-name .date span{
    display: none;
    margin-right: 145px;
    margin-top: 80px;
    word-wrap: break-word;
    width: 100px;
}
.td-mark:hover .date span{
    display: block;
    position: absolute;
    min-width: 100px;
    background-color: #fff;
    border:4px solid #c3d9ff;
    min-height: 40px;
    right: -90px;
    top: -78px;
    padding: 5px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    padding-top:10px;
    font-weight:bold;
}
.active{
    background: #FEFFAF !important;
}
.tr-even .active a.present, .tr-odd .active a.present{
    color:#FEFFAF;
}
.td-mark:hover .date span div{
    color:#000;
}
.td-mark:hover,.td-mark:hover a.present{
    background:#C3D9FF;
    /*    color:#C3D9FF;*/
}
.td-name:hover .date span{
    display: block;
    position: absolute;
    min-width: 89px;
    background-color: #fff;
    border:4px solid #c3d9ff;
    min-height: 40px;
    right: 50px;
    top: -10px;
    color: #FFFFFF;
    padding: 5px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    padding-top:10px;
    color:#990A10;
    font-weight:bold;
}

#MB_frame .submit-button {
    -moz-border-radius:8px 8px 8px 8px;
    -webkit-border-radius:8px 8px 8px 8px;
    background:none repeat scroll 0 0 #27292B;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    float:right;
    font-size:14px;
    font-weight:bold;
    margin:0 210px 0 0;
    padding:6px 8px;
}

a {
    cursor: pointer;
}
.holiday {
    background-color: #eee;
}
.nohover:hover{
    background:#eee;
}
.helper_info
{
    width: 250px;
    padding:10px;
    /*    top: 30%;*/
    z-index: 8;
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #B2B2B2;
    pointer-events: none;
    color: #27292b;
    text-align: right;
    font-size: 13px;
    margin-top:25px;
}
.helper_info:after, .helper_info:before
{
    bottom: 100%;
    right: 88%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.helper_info:after
{
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #FFFFFF;
    border-width: 10px;
    margin-right: -10px;
}
.helper_info:before
{
    border-color: rgba(178, 178, 178, 0);
    border-bottom-color: #B2B2B2;
    border-width: 11px;
    margin-right: -11px;
}
.info_wrapper:hover{
    /*    opacity: 1;*/
    color: #27292b;
}

.info_wrapper:hover .helper_info {
    /*    opacity: 1;*/
}
.flash_msg{
    padding: 5px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

.sort_by_label {
  font-size: 13px;
  font-weight: normal;
  margin-right: 5px;
  margin-left: 10px;
  cursor: pointer;
}
input[type="radio"]:checked+label.sort_by_label {
  font-weight: bold;
}
.sort_by_label:hover {
  /*text-decoration: underline;*/
}
#sort_selector {
  width: 300px;
  float: right;
  margin-top: 20px;
}
#form_label {
  color: #666666;
  text-decoration: none;
  float: right;
  font-size: 13px;
  margin-left: 10px;
}
.sort_by_input {
  float: right;
}
.sort_by_label {
  float: right;
  margin-top:1px;
}

#error_messages{
    padding-bottom: 1px;
}