<% unless @timetable_entries.blank? %>
  <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head">
          <td><%= t('class_timing') %></td>
          <td><%=t('subject')%></td>
          <td></td>
      </tr>
      <tr class="tr-blank">
      </tr>
      <% @timetable_entries.each do |tte| %>
        <tr class="tr-<%= cycle('odd', 'even')%>">
            <td class="col-1"><%= "#{format_date(tte.class_timing.start_time,:format=>:time)}-#{format_date(tte.class_timing.end_time,:format=>:time)}" %></td>
            <td class="col-2">
                <div class="subject"><%= tte.assigned_name%></div>
                <% if tte.entry_type == 'ElectiveGroup' %>
                  <div class="hor_line"></div>
                  <% tte.active_assigned_subjects.each do |s| %>
                    <% @sub_emp = s.employees %>
                    <% unless @sub_emp.empty? %>
                      <div class="subject"> <%= s.name unless s.nil? %></div>
                      <% @sub_emp.each do |e| %>
                        <div class="teacher"><%= "#{t('teacher')} :"%> <span class="teacher_name"><%= e.full_name %></span></div>
                        <div class="hor_line"></div>
                      <% end %>
                    <% end %>
                  <% end %>
                <% else %>
                  <div class="teacher"><%= "#{t('teacher')} :"%> <span class="teacher_name"><%= tte.employees.present?? tte.employees.map(&:full_name).join(',') : "#{t('deleted_user')}"  %></span></div>
                <% end %>
            </td>
            <td class="col-3">
                <div id=<%= "link_#{tte.id}" %>></div>
                <% if @timetable_swaps[tte.id].blank? %>
                  <% unless tte.entry_type == 'ElectiveGroup'%>
                    <div id="cancel_entry_<%= tte.id %>" class="tte_cancel">
                        <%= render :partial => "cancel_timetable_entry_link", :locals => {:tte => tte, :swap_date => params[:batch][:date]}  %>                        
                    </div>
                    <div id="entry_<%= tte.id %>" class="tte_change">
                        <%= render :partial => "timetable_swap_link", :locals => {:tte => tte, :swap_date => params[:batch][:date]}  %>
                    </div>
                  <% end %>
                <% else %>

                  <div id="cancel_entry_<%= tte.id %>" class="tte_cancel" style="display:none;">
                      <%=link_to_remote "#{t('cancel_class')}", :url=>{:action=>'cancel_timetable_period',:timetable_entry_id=>tte.id,:date=>params[:batch][:date]},:success=>"$('cancel_entry_#{tte.id}').hide();$('link_#{tte.id}').show();" ,:html=>{:class=>"themed_text"}%>
                  </div>
                  <% unless  @timetable_swaps[tte.id][0].is_cancelled %>
                    <div id='<%= "entry_#{tte.id}" %>' class="tte_changed">                        
                        <div class="new_entry">
                            <div>
                              <div class="change_title"><%= "#{t('changed_to')} "%></div>
                              <div class="subject"><%= @timetable_swaps[tte.id][0].subject.name%></div>
                            </div>                            
                            <div class="teacher"><%= "#{t('teacher')} :"%> <span class="teacher_name"><%= @timetable_swaps[tte.id][0].employee.nil?? "#{t('deleted_user')}" : @timetable_swaps[tte.id][0].employee.full_name %></span></div>
                        </div>
                        <div class="edit_link">                            
                            <%=link_to_remote "#{t('revert_text')}", 
                              :url=>{:action=>'timetable_swap_delete',
                              :timetable_entry_id=>tte.id,
                              :batch_id=>tte.batch_id,
                              :date=>params[:batch][:date],:timetable_swap_id=>@timetable_swaps[tte.id][0].id},:html=>{:class=>"themed_text"},:confirm => t('delete_confirm_msg')%>
                        </div>
                        <div class="edit_link">
                            <%=link_to_remote "#{t('edit_text')}", :url=>{:action=>'timetable_swap_from',:timetable_entry_id=>tte.id,:batch_id=>tte.batch_id,:date=>params[:batch][:date],:timetable_swap_id=>@timetable_swaps[tte.id][0].id},:success=>"$('entry_#{tte.id}').hide();$('cancel_entry_#{tte.id}').hide();$('link_#{tte.id}').show();",:html=>{:class=>"themed_text"}%>
                        </div>
                    </div>
                  <% else %>
                    <div id='<%= "entry_#{tte.id}" %>' class="tte_cancelled">
                        <div class="change_title"><%= "#{t('cancelled')} "%></div>                        
                        <%=link_to_remote "#{t('revert_text')}", :url=>{:action=>'timetable_swap_delete',:timetable_entry_id=>tte.id,:batch_id=>tte.batch_id,:date=>params[:batch][:date],:timetable_swap_id=>@timetable_swaps[tte.id][0].id},:html=>{:class=>"themed_text delete_cancel_link"},:confirm => t('delete_confirm_msg')%>                        
                    </div>
                  <% end %>
                <% end %>
            </td>
        </tr>
      <%end%>
  </table>
<% else %>
  <p class="flash-msg"> <%= t('no_record_found') %></p>
<% end %>
