<% tte ||= @timetable_entry %>
<% tt_swap ||= @timetable_swap %>
<% swap_date ||= @timetable_swap.date %>
<%= link_to raw('<span class="">Cancel Class</span>'), '#', :onclick => "return MakeBox(#{tte.id},'#{swap_date}',#{tte.batch_id});",:class=>"themed_text",:tooltip=>t('cancel_class') %>
<!-- %=link_to_remote "#{t('cancel_class')}", :url=>{:action=>'cancel_timetable_period',:timetable_entry_id=>tte.id,:batch_id => tte.batch_id, :date=>swap_date},:success=>"$('cancel_entry_#{tte.id}').hide();$('link_#{tte.id}').show();" ,:html=>{:class=>"themed_text"},:confirm => t('delete_confirm_msg')% -->
<div id="notify_alerts" style="display: none">
  <%= render :partial => 'alert_notify' %>
</div>
<script type="text/javascript">
  
</script>