<% tte ||= @timetable_entry %>
<% tt_swap ||= @timetable_swap %>
<% swap_date ||= @timetable_swap.date %>
<%=link_to_remote "#{t('change')}", :url=>{:action=>'timetable_swap_from',:timetable_entry_id=>tte.id,:batch_id=>tte.batch_id,:date=>swap_date},:success=>"$('entry_#{tte.id}').hide();$('link_#{tte.id}').show();" ,:html=>{:class=>"themed_text"}%>