<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('timetable_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('swap_timetable') %> </div>
</div>

<div id="page-yield">

  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div id="error"></div>

  <form name="search_form" action="" style="display:inline;">
    <div class="label-field-pair">
      <div class="text-input-bg"><%= select :batch, :batch_id,
          @batches.map {|b| [b.full_name, b.id]},
          {:prompt => "#{t('select_a_batch')}"},
          {:onChange => "#{remote_function(:url => {:action => "batch_timetable"},
          :with => "j('form').serialize()",
          :before => "Element.show('loader')",
          :success => "Element.hide('loader')"
          )}"} %></div>
      <%= image_tag("loader.gif",
        :align => "absmiddle",
        :border => 0,
        :id => "loader",
        :style =>"display: none;" ) %>
    </div>
    <div class="label-field-pair">
      <div class="text-input-bg"><%= calendar_date_select_tag 'batch[date]', I18n.l(Date.today,:format=>:default),
          :year_range => 10.years.ago..10.years.from_now, :readonly=>true, :popup=>"force",
          :onChange => "#{remote_function(:url => {:action => "batch_timetable"},
        :with => "j('form').serialize()",
        :before => "Element.show('loader')",
        :success => "Element.hide('loader')"
        )}"%></div>
    </div>
  </form>
  <div class="extender"></div>
  <div id="timetable"> </div>

</div>
<script>
  function reset_timetable_period_options(tte_id, is_delete = false){
    j('#link_'+tte_id).text('');
    j('#entry_'+tte_id).show(); //.removeClass('tte_changed').addClass('tte_change');    
    if(is_delete){
      j('#entry_'+tte_id).removeClass('tte_changed').addClass('tte_change').removeClass('tte_cancelled');
    }
    if(j('#entry_'+tte_id).hasClass('tte_change')){      
      j('#cancel_entry_'+tte_id).show();    
    }
  }
  function set_swap_data(tte_id){
    j('#link_'+tte_id).hide();
    j('#cancel_entry_'+tte_id).hide();    
    j('#entry_'+tte_id).show().removeClass('tte_change').addClass('tte_changed');
  }
  function update_tte_cancel(tte_id,is_cancelled = true){
    j('#entry_'+tte_id).removeAttr('class');
    j('#cancel_entry_'+tte_id).hide();
    is_cancelled ? j('#entry_'+tte_id).addClass('tte_cancelled') : '';
  }
  j(document).delegate('select','change',function(){
    if(j(this).parents('div[id^=link_]').length > 0){
      update_submit(this);      
    }
  });  
  function update_submit(this_obj){
    var this_parent = j(this_obj).closest("div[id^=link_]");
    var all_selections = j(this_parent).find('select');
    var active_submit = 0;
    j(all_selections).each(function(a,b){
      active_submit += j(b).val() ? 1 : 0;
    });
    (active_submit == 3 && j(this_parent).find('#timetable_employee_id').hasClass('overlap_validated')) ? j(this_parent).find('.submit_button').removeAttr('disabled') : j(this_parent).find('.submit_button').attr('disabled','disabled');    
    //active_submit == 3 ? j(this_parent).find('.submit_button').removeAttr('disabled') : j(this_parent).find('.submit_button').attr('disabled','disabled');    
  }
  
  MakeBox = function (tte_id,swap_date,batch_id) {
      remove_popup_box();
      options = {'submit': '<%=t('cancel_class')%>', 'cancel': '<%=t('no_text2')%>', 'field_name': 'alert_notify', 'input_type': 'checkbox', 'title': '<%=t('cancel_class')%>', 'class': 'popup-submit-button'};
      build_modal_box(options);
      build_prompt_popup_box("<%=t('alert_notify')%>", options);
      j('#popup_content').html(j('#notify_alerts').html());
      j('#popup_window #popup_footer > #yes').click(function () {
        if(!j(this).hasClass('submitted')){
          j(this).addClass('submitted');
          j.ajax({
              url: '/timetable_tracker/cancel_timetable_period',
              data: {
                  'date': swap_date,
                  'timetable_entry_id': tte_id,
                  'batch_id': batch_id,
                  'notify': j('#popup_content input[name=notify]')[0].checked ? 1 : 0,
              },
              success: function () {
                  j('#yes').removeClass('submitted');
                  remove_popup_box();
              }
          })
        }
      });
  }
function disable_this_form(obj){
  j('#link_'+obj).find('.submit_buttons').hide();
  j('#loader_'+obj).show();
}
</script>







