.box{

    width:750px;
    margin:0px auto;
}

.label-field-pair {
    height:60px;
    margin-left:140px;
    padding-top:3px;
    width:600px;
}

#category-list {
    clear : both;
    padding : 10px 0 40px 0px;
    width:600px;
    margin:0px auto;
}

#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
}

#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 0 0 5em;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 0 0 5em;
}
#category-list li div {
    float : left;
}
#category-list li div.category-name {
    width : 250px;
    font-weight: bold;
    font-size:13px;
}
#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size : 0.9em;
    width : 50px;

}
#category-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}


.submit_button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;

}
.submit_button:hover{
    background:  #373B3F;
}
.change_set_link{
    float: right;
    font-size: 13px;
    font-weight: normal;
    color: #990a10;
    margin-right: 10px;
    cursor: pointer;
}
.fleft{
    float:left;
}
.common_label_section{
    float: left;
    margin-right: 50px;
    max-width: 400px;
    margin-bottom:30px;

}
.common_label_section label{
    float: left;
    margin-right: 30px;
    font-size: 14px;
    font-weight: normal;
    margin-top:5px;
    max-width:100px;
}
#course_id,#exam_report_batch_id{
    background-color: #eee;
    border: 1px solid #c6c6c6;
    width: 215px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.common_selection_area{
    max-width: 250px;
    float: left;
}
.cts_select_tag{
    background-color: #eee;
    border: 1px solid #c6c6c6;
    width: 150px;
    height: 25px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
td span{
    float:left;
}
.cancel_link{
    float: left;
    margin-left: 10px;
    margin-top: 3px;
    font-size: 13px;
    font-weight: normal;
    color: #990a10;
    cursor: pointer;
}
.weekday_name,.class_timing_set_name{
    font-size: 13px;
    font-weight: normal;
}
#calender_label{
    float: left;
    margin-top: 30px;
    font-size: 14px;
    font-weight: normal;
}
#calender_field{
    float:left;
    margin-top:30px;
    margin-left:30px;
}
.label-field-pair{
    margin-left:0px !important;
}
.label-field-pair label{
    width:auto !important;
    margin-right:20px;
    padding-top:12px !important;
}
table#listing{
    margin-bottom: 30px;
}
#weekdays{
    float:left;
    width:100%;
}
#batch_space{
    float:left
}
table#listing tr.tr-head{
    color:#000000 !important;
}
.weekday_cb{
    float:left;
}
.cb_value{
    margin-top:2px;
}
.loader{
    float: left;
    width: 8px;
    height: 18px;
    margin-left: 5px;
}