

.ativity_box{
    padding: 10px;
}
.ativity_box .header{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}
.details{
    display: table;
    font-size: 13px;
}
.details .details_strip{
    padding: 8px 0px 8px 0px;
    /*display: inherit;*/
    margin-bottom: 15px;
}
.details .details_strip .label{
    display: table-cell;
    min-width: 200px;
    color: #666;
    float:right;
}

.details .details_strip .field{
    max-width: 500px;
    float: right;
    line-height: 1.5;
}
.details .details_strip .edit_field{
    float:right;
    margin-right: 10px;
    padding-top: 2px;
}
.edit_field a{
    color: #666;
}
#page-yield .edit_field a:hover {
    color: #000 !important;
}
.bold{
    font-weight: bold;
}
hr{
    margin: 30px 0px 30px 0px;
}
table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    margin-bottom: 20px;
    width: 70%;
}
td{
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}
#page-yield table .tr-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important
}
tr{
    border-bottom: 1px solid #bfbfbf;
}
table a, #page-yield table a:hover {
    color: black !important;
    text-decoration: none;
}
td.col-2 {
    padding:5px 5px 5px 10px;
    width:20%;
}
td.col-3
{
    padding: 8px;
    width: 25%;
}
td.col-3
{
    padding: 8px;
    width: 30%;
}
td.col-4
{
    padding: 8px;
    width: 70%;
}
.add_activity_blank{
    width: 100%;
    height: 350px;
    background: #f1f1f1;
    border-radius: 5px;
    position: relative;
    float: right;
}
.add_activity_button{
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -50px;
}
.add_activity_button .submit-button{
    margin-right: 0px;
    text-decoration: none;
    border-radius: 2px;
}
#page-yield .submit-button:hover {
    color: #fff !important;
}
.add_activity_helper{
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #666;
}
#popup_window
{
    width: 690px;
    top: 40px;
    float: right;
}
#popup_frame .part {
    width: 610px;
}
#popup_content #description{ margin-top : 0px}
#popup_content .label-field-pair{
    float: right;
    width: 100%;
    margin-bottom: 20px;
}
#popup_content .label-field-pair label {
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
}
#popup_content .text-input-bg input{
    margin-right: 0;
    -webkit-border-radius: 0;
    width: 400px;
}
#popup_content .text-input-bg textarea{
    resize: none;
    -webkit-border-radius: 0;
    width: 400px;
    height: 60px;
}
#popup_content{
    padding-right: 0px !important ;
    padding-left: 0px !important;
}
#popup_footer{
    padding-right: 40px;
    padding-left: 40px;
    border-top: 1px solid #c6c6c6;
    float: right;
    width: 610px;
    padding-top: 20px;
}
#popup_content{width: 690px !important;}
#description{
    color: grey;
    font-size: 13px;
    margin: 20px 0px 20px 0px;
}
#activity_profile_form{
    float: right;
    padding-right: 40px;
    padding-left: 40px;
}
.fieldWithErrors textarea{border: 1px solid #9c0000 !important;}
#popup_content .wrapper {
    margin-top: 5px;
    margin-right: 0 !important;
    min-width: 300px !important;
}
#popup_content .error-msg{width: 231px;}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 100%;
    float: right;
}
#info-symbol {
    height: 17px;
    width: 20px;
    background: url(/images/iconsprite-1.png) no-repeat center;
    margin-top: 2px;
    float: right;
    background-position: -60px -62px;
}
#info-text{
    font-size: 13px;
    color: #777777;
}
.delete_confirmation#popup_window{
    width: 480px !important;
    top: 100px !important;
}
.delete_confirmation #popup_frame .part{
    width: 400px !important;
}
.delete_confirmation #popup_content{
    padding-left: 40px !important;
    padding-right: 40px !important;
}
.delete_confirmation #popup_footer{
    border-top: none;
}
.pagination {
    margin-top: 20px;
    margin-left: 0px;
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-right: 0px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-right: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: right;
    font-weight: normal;
    padding: 9px 15px 9px 13px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-right:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: right;
    padding: 9px 15px 9px 13px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: right;
    border-right:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}