<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<% unless  @all_timetable_entries.empty? %>
  <div id="timetable">
    <div id="box">
      <div class="employee_list">
        <table border="0" align="center" id="table-days" cellspacing="0">
          <%- @all_weekdays.each do |weekday| -%>
            <tr>
              <td class="td1">
                <div class="name vertical"><%= WeekdaySet.shortened_weekday_name(weekday) -%></div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div id="table-viewer">
        <table border="0" align="center" id="table" cellspacing="0">
          <% @all_weekdays.each do |week| %>
            <%class_timings=@class_timing_sets.find_by_weekday_id(week).class_timing_set.class_timings.all_active_timings%>
            <%if class_timings.present?%>
              <tr>
                <%class_timings.each do |ct|%>
                  <% @tte = @timetable_entries[week][ct.id] %>
                  <td class="td <%= 'break_td' if ct.is_break %>">
                    <% if ct.is_break %>
                      <div class="break_timings">
                        <div class="break">
                          <span class="break_label">
                            <%= t('break') %>
                          </span>
                          <span class="break_ct">
                            <%= duration(ct) %>
                          </span>
                        </div>
                      </div>
                    <% else %>
                      <div id="drop_<%= "#{week}_#{ct.id}" %>" class="drop">
                        <div class="tt-subject">
                          <% if @tte.is_a? TimetableEntry %>
                            <div class="class_timings">
                              <span><%="#{format_date(ct.start_time,:format=>:time)} - #{format_date(ct.end_time,:format=>:time)}"%></span>
                            </div>
                            <div class="subject1">
                              <% if @tte.entry.present? %>
                                <span class="sub-line"><%= shorten_string(@tte.assigned_name.to_s, 30) %></span>
                              <% end %>
                            </div>
                            <div class="employee">
                              <% if @tte.entry.present? %>
                                <% if @tte.entry.kind_of? ElectiveGroup %>
                                  <span class="elective_text"><%= t('elective') %></span>
                                  <span class="fright"><%=@tte.active_assigned_subjects.count%></span>
                                <% else %>
                                  <% if @tte.employees.present? %>
                                    <%= timetable_entry_employee_names(@tte.employees).first %>
                                  <%else%>
                                    <%= t('no_teacher') %>
                                  <%end%>
                                <% end %>
                              <% end %>
                            </div>
                            <div class ="class_timing_tooltip" style="display:none">
                              <span class="classtiming"><%="#{format_date(ct.start_time,:format=>:time)} - #{format_date(ct.end_time,:format=>:time)}"%></span>
                              <div class="subject1">
                                <% if @tte.entry.present? %>
                                  <% if @tte.entry_type == 'ElectiveGroup' %>
                                    <%@tte.assigned_subjects.each do |es|%>
                                      <div class="block">
                                        <div class="sub-line"> <%= "#{es.name.to_s} &#x200E;(#{es.code.to_s})&#x200E;" %></div>
                                        <%if es.employees.present?%>
                                          <%es.employees.each do |e|%>
                                            <div class="emp-line"><%="#{e.full_name} &#x200E;(#{e.employee_number})&#x200E;" %></div>
                                          <%end%>
                                        <%else%>
                                          <div class="emp-line"><%= t('no_teacher') %></div>
                                        <%end%>
                                      </div>
                                    <%end%>
                                  <% else %>
                                    <% tte_employees = @tte.employees %>
                                    <div class="sub-line"><%= "#{@tte.entry.name.to_s} &#x200E;(#{@tte.entry.code.to_s})&#x200E;"  %></div>
                                    <%if @tte.employees.present?%>
                                      <% tte_employees.each do |tte_employee| %>
                                        <div class="emp-line"><%= "#{tte_employee.full_name} &#x200E;(#{tte_employee.employee_number})&#x200E;" %></div>
                                      <% end %>
                                    <%else%>
                                      <div class="emp-line"><%= t('no_teacher') %></div>
                                    <%end%>
                                  <% end %>
                                <% end %>
                              </div>
                            </div>
                          <% else %>
                            <span class="blank_timings"><%="#{format_date(ct.start_time,:format=>:time)} - #{format_date(ct.end_time,:format=>:time)}"%></span>
                            <div class="subject1"></div>
                            <div class="employee"></div>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <%else%>
              <tr><td class="td"></td></tr>
            <%end%>
          <% end %>
        </table>
      </div>
    </div>
    <div class="extender"></div>
  </div>
  <%= link_to " ► #{t('pdf_report')}",
    {:controller => "timetable", :action => "timetable_pdf", :student_id => @student.id, :timetable_id=>@current.id},:target => '_blank', :class=> 'user_button' %>
  <%= link_to "#{t('csv_report')}", {:controller => "csv_export", :action => 'generate_csv', :csv_report_type => "timetable_data", :report_format_type => "csv" ,:batch_id =>@batch.id,:tt_id=>@current.id},:class=> 'user_button'%>
<%else%>
  <p class="flash-msg"><%= t('no_entries_found') %></p>
<%end%>
<script type="text/javascript">
  (function(j) {
    j.fn.hasScrollBar = function() {
      return this.get(0).scrollWidth > this.width();
    }
  })(jQuery);

  if(j('#table-viewer').hasScrollBar()){
    var height=120+(j('#table-viewer').height()-j('.employee_list').height());
    j('.employee_list table tr:last-child').css('height',height);
  }
  j('.blank_timings').each(function(){
    j(this).parents('.tt-subject').addClass('empty_cell');
  });
  
</script>