<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<script type="text/javascript">
  dir = "<%= (rtl?) ? 'rtl' : 'ltr' %>"
  if (dir == 'rtl') {
    len = $('table').offsetWidth - $('table-viewer').offsetWidth;
  }
  else {
    len = 0
  }
  (function(j) {
    j.fn.hasScrollBar = function() {
      return this.get(0).scrollWidth > this.width();
    }
  })(jQuery);

  if(j('#table-viewer').hasScrollBar()){
    var height=120+(j('#table-viewer').height()-j('.employee_list').height());
    j('.employee_list table tr:last-child').css('height',height);
  }
</script>
<% unless flash[:warn_notice].nil? %>
  <div id="errorExplanation" class="errorExplanation"><%= flash[:warn_notice] %></div>
  <div class="extender"></div>
<% end %>
<%unless @weekday.blank?%>
  <div id="timetable">
    <div id="box">
      <div class="employee_list">
        <table border="0" align="center" id="table-days" cellspacing="0">
          <%- @weekday.each do |weekday| -%>
            <tr>
              <td class="td1">
                <div class="name vertical"><%= WeekdaySet.shortened_weekday_name(weekday) -%></div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div id="table-viewer">
        <table border="0" align="center" id="table" cellspacing="0">
          <% @weekday.each do |week| %>
            <%class_timings=@class_timing_sets.find_by_weekday_id(week).class_timing_set.class_timings.all_active_timings%>
            <%if class_timings.present?%>
              <tr>
                <%class_timings.each do |ct|%>
                  <% @tte = @timetable[week][ct.id] %>
                  <td class="td <%= 'break_td' if ct.is_break %>">
                    <% if ct.is_break %>
                      <div class="break_timings">
                        <div class="break">
                          <span class="break_label">
                            <%= t('break') %>
                          </span>
                          <span class="break_ct">
                            <%= duration(ct) %>
                          </span>
                        </div>
                      </div>
                    <% else %>
                      <div id="drop_<%= "#{week}_#{ct.id}" %>" class="drop">
                        <div class="tt-subject" id="subject_name_<%= @tte.id %>">
                          <% if @tte.is_a? TimetableEntry %>
                            <div class="class_timings">
                              <span><%="#{format_date(ct.start_time,:format=>:time)} - #{format_date(ct.end_time,:format=>:time)}"%></span>
                            </div>
                            <div class="subject1 ">
                              <% unless @tte.entry_id.nil? %>
                                <span class="sub-line"> <%= shorten_string(@tte.assigned_name, 30) %></span>
                              <% end %>
                            </div>
                            <div class="employee">
                              <% unless @tte.entry.nil? %>
                                <% unless @tte.entry_type == "Subject" %>
                                  <span class="elective_text"><%= t('elective') %></span>
                                  <span class="fright"><%=@tte.entry.subjects.active.count%></span>
                                <% else %>
                                  <%if @tte.employees.present?%>
                                    <% teacher_count = @tte.employee_ids.uniq.count  %>
                                    <%= shorten_string(@tte.employees.first.first_name,10)%>
                                    <%= " + #{(teacher_count-1)}" if teacher_count > 1 %>
                                  <%else%>
                                    <%= t('no_teacher') %>
                                  <%end%>
                                <% end %>
                              <% end %>
                            </div>
                            <div class ="class_timing_tooltip" style="display:none">
                              <span class="classtiming"><%="#{format_date(ct.start_time,:format=>:time)} - #{format_date(ct.end_time,:format=>:time)}"%></span>
                              <div class="subject1 ">

                                <% unless @tte.entry_type == "Subject" %>
                                  <% @tte.entry.subjects.active.each do |es| %>
                                    <div class="block">
                                      <div class="sub-line"> <%= "#{es.name.to_s} &#x200E;(#{es.code.to_s})&#x200E;" %></div>
                                      <% if es.employees.present? %>
                                        <% es.employees.each do |e| %>
                                          <div class="emp-line"><%="#{e.full_name} &#x200E;(#{e.employee_number})&#x200E;" %></div>
                                        <% end %>
                                      <% else %>
                                        <div class="emp-line"><%= t('no_teacher') %></div>
                                      <% end %>
                                    </div>
                                  <% end %>
                                <% else %>
                                  <div class="sub-line"><%= "#{@tte.assigned_name} &#x200E;(#{@tte.entry.code.to_s})&#x200E;"  %></div>
                                  <% if @tte.employee_ids.present? %>
                                    <% @tte.employees.each do |e|%>
                                      <div class="emp-line"><%="#{e.full_name} &#x200E;(#{e.employee_number})&#x200E;" %></div>
                                    <% end %>
                                  <% else %>
                                    <div class="emp-line"><%= t('no_teacher') %></div>
                                  <% end %>
                                <% end %>
                              </div>
                            </div>
                          <% else %>
                            <span id="blank_timings"><%="#{format_date(ct.start_time,:format=>:time)} - #{format_date(ct.end_time,:format=>:time)}"%></span>
                            <div class="subject1"></div>
                            <div class="employee"></div>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% else %>
              <tr><td class="td"></td></tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
    <div class="extender"></div>
  </div>
  <%= link_to " ► #{t('pdf_report')}",
    {:controller => "timetable", :action => "timetable_pdf", :batch_id => @batch.id, :timetable_id=>@tt.id},:target => '_blank', :class=> 'user_button' %>
  <%= link_to "#{t('csv_report')}", {:controller => "csv_export", :action => 'generate_csv', :csv_report_type => "timetable_data", :report_format_type => "csv" ,:batch_id =>@batch.id,:tt_id=>@tt.id},:class=> 'user_button'%>
<%else%>
  <p class="flash-msg"><%=t('no_eligible_weekdays_present')%></p>
<%end%>



<script type="text/javascript">
  j('.blank_timings').each(function(){
    j(this).parents('.tt-subject').addClass('empty_cell');
  });
</script>