<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('timetable_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('home') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="box">
    <% if permitted_to? :new_batch_class_timing_set, :class_timing_sets %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('manage_class_timing_set')}", :controller => "class_timing_sets", :action => "index"   %></div>
        <div class="link-descr"><%= t('manage_class_timing_set_desc') %></div>
      </div>
    <% end %>
    <%  if permitted_to? :new_timetable,:timetable%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('set_weekdays_and_class_timing_set')}", :controller => "weekday", :action => "index" %></div>
        <div class="link-descr"><%="#{t('set_weekdays_and_class_timing_set_desc')}"%></div>
      </div>
    <% end %>



    <%if permitted_to? :new_timetable,:timetable%>
      <div class="link-box">
        <% @config = Configuration.available_modules %>
        <% if @config.include?('HR') %>
          <div class="link-heading"><%= link_to "#{t('manage_timetables')}", :action => "manage_timetables" %></div>
        <% else %>
          <div class="link-heading"><%= link_to "#{t('manage_timetables')}", :action => "manage_timetables" %></div>
        <% end %>
        <div class="link-descr"><%= t('select_a_class_and_edit_or_create_the_timetable') %></div>
      </div>      

    <%  end%>

    <%  if permitted_to? :view,:timetable%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('view_timetable')}", :action => "view" %></div>
        <div class="link-descr"><%= t('view_the_timetable_for_a_class') %>.</div>
      </div>

      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('teacher_timetable')}", :action => "teachers_timetable" %></div>
        <div class="link-descr"><%= t('view_the_timetable_for_teacher') %>.</div>
      </div>

    <%  end%>
    <%if permitted_to? :work_allotment,:timetable%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('work_allotment')}", :controller => "timetable", :action => "work_allotment"   %></div>
        <div class="link-descr"><%= t('work_allotment_descr') %>.</div>
      </div>
    <%  end%>

    <%  if permitted_to? :timetable,:timetable%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('institutional')} #{t('timetable_text')}", :action => "timetable" %></div>
        <div class="link-descr"><%= t('view_entire_timetable') %></div>
      </div>
    <% end %>

    <%  if permitted_to? :index,:timetable_tracker%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('timetable_tracker')}", :controller=>"timetable_tracker",:action => "index" %></div>
        <div class="link-descr"><%= "#{t('manage')} #{t('timetable_tracker')}"%></div>
      </div>
    <% end %>

    <%  if @user.admin? or @user.privileges.map{|p| p.name}.include?("ManageBuilding") or @user.privileges.map{|p| p.name}.include?("ManageTimetable") or @user.privileges.map{|p| p.name}.include?("ClassroomAllocation") or @user.privileges.map{|p| p.name}.include?("ManageBuildingAndAllocation")%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "Class Room Allocation", :controller => "classroom_allocations" , :action => "index" %></div>
        <div class="link-descr"><%= "Allocate class rooms" %></div>
      </div>
    <%end%>

    <% if permitted_to? :index, :subjects %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('manage_subject')}", subjects_path %></div>
        <div class="link-descr"><%= t('manage_subjects_corresponding') %></div>
      </div>
    <% end %>

    <% if permitted_to? :settings, :timetable %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('settings')}", :controller => "timetable", :action => "settings" %></div>
        <div class="link-descr"><%= t('timetable_settings') %></div>
      </div>
    <% end %>
  </div>
</div>
