<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('timetable_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('manage_batches_text') %></div>
  <div id="inner-tab-menu">
  </div>
</div>

<div id="page-yield">
  <div class="bread_crumb">
    <%= breadcrumb :manage_batches_timetables ,@timetable%>
    <%= render_breadcrumbs  %>
  </div>
  <div class="box">
    <div id="flash-box"></div>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <div class="manage_batches_header">
      <div class="timetable_label">
        <%= t('timetable_text') %>
      </div>
      <div class="timetable_heading">
        <span class="timetable_range">
          <%="#{format_date(@timetable.start_date,:format=>:long)}  -  #{format_date(@timetable.end_date,:format=>:long)}"%>
        </span>
      </div>
    </div>
  </div>
  <div class="extender"></div>
  <div id="batch-list">
    <%= render :partial=>"assign_timetable_form" %>
  </div>
</div>