<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('timetable_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('manage_work_allocations') %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= breadcrumb :timetable_manage_work_allocations, @batch %>
    <%= render_breadcrumbs  %>
  </div>
  <div class="box">
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>

    <div class="heading">
      <%= t('manage_work_allocations') %>
    </div>


    <div class="work_allotment_selector">      
      <div class="course_batches">
        <div id="courses">
          <div class="label-field-pair">
            <label for="timetable_entry_course_id"><%= t('course') %>
              <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
            </label>
            <div class="text-input-bg">
              <%= select :course, :id,
                @courses.map {|c| [c.full_name, c.id] },
                {:prompt => t('select_a_course'),:selected => (@batch.present? ? @batch.course_id : nil)},
                {
                :onchange => "#{remote_function(
                :url => { :action => 'update_batch_list' },
                :with => "'course_id='+value",
                :before => "Element.show('loader')",
                :success => "Element.hide('loader')"  )}"} %>
            </div>
          </div>
        </div>        
        <div id="batches">
          <%= render :partial => "batch_list" if @batch.present? and @courses.present? %>
        </div>
      </div>
      <div id="batch_details">
        <%= render :partial => "batch_details" if @batch.present? and @courses.present? %>
      </div>

    </div>

    <div id="flash-warning"></div>

    <div id="manage_subject_employees">
      <%= render :partial => "manage_subjects_employees" if @batch.present? and @courses.present? %>
    </div>

    <div id="manage_assign">      
      <%= render :partial => "manage_assigned_employees" if @batch.present? and @courses.present? %>
    </div>
  </div>
</div>


<script>
  var align = "<%= rtl? ? 'right' : 'left' %>";
  function addRowStyle(id){
    console.log(id);
    table = j('#'+id).parents('table');
    j(table).find('tr').removeClass('selected');
    j('#'+id).addClass('selected');
  }
  j(document).delegate('.employee-row .employee-col-2','mouseover',function(){
    var position = j(this).position();
    tooltip = j(this).parent().addClass('selected').find('.employee_allocation_tooltip').css('top',position.top).show();
    tooltip.css('margin-'+align,-(tooltip.outerWidth() + 19));
  });
  j(document).delegate('.employee-row .employee-col-2','mouseout',function(){
    j(this).parent().removeClass('selected').find('.employee_allocation_tooltip').hide();
  });

  function process_request(id,type){
    switch(type){
      case 'before':
        j('#subject-employees-'+id).show();
        addRowStyle('subject-'+id);
        break;
      default:
        j('#subject-employees-'+id).hide();
    };
    j('#manage_assign').toggle();
  }

  function verifyAvailableEmployeesListScroll(){
    var list = j('#available-employees-list-body');
    if(j(list).get(0).scrollHeight > list.height()){
      j(list).parent().addClass("scrolled");
    }else{
      j(list).parent().removeClass("scrolled");
    }
  }
</script>