<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= "#{t('timetable_text')}" %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('timetable_settings_text') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <h4><%= t('timetable_pdf_settings') %></h4>
  <div class="description"><%= t('timetable_settings_description') %></div>
  <h4 class="settings_title"><%= t('subject_name_preference') %></h4>
  <div id="settings_enable">
    <% form_for :timetable_pdf, :url => {:action => 'settings'} ,:method => 'post', :before=>"$('submit_button').disable()",:complete=>"setTimeout(function(){$('submit_button').enable();},5000)" do |c| %>

      <div class="label-radio-pair">
        <%= c.radio_button "config_value", "1", {:checked => (!@config_value.present? or (@config_value == "1"))} %>
        <label for="timetable_pdf_config_value_1"><%= t('pdf_settings_subject_name_text') %></label>
        <div class="label_description"><%= t('pdf_settings_subject_name_example') %></div>
      </div>

      <div class="label-radio-pair">
        <%= c.radio_button "config_value", "2",{ :checked => @config_value == "2"}%>
        <label for="timetable_pdf_config_value_2"><%= t('pdf_settings_subject_code_text') %></label>
        <div class="label_description"><%= t('pdf_settings_subject_code_example') %></div>
      </div>

      <div class="label-radio-pair">
        <%= c.radio_button "config_value", "3",{ :checked => @config_value == "3"} %>
        <label for="timetable_pdf_config_value_3"><%= t('pdf_settings_subject_name_with_code_text') %></label>
        <div class="label_description"><%= t('pdf_settings_subject_name_with_code_example') %></div>
      </div>

      <div class="label-radio-pair">
        <%= c.radio_button "config_value", "4", {:checked => @config_value == "4"} %>
        <label for="timetable_pdf_config_value_4"><%= t('pdf_settings_subject_code_with_name_text') %></label>
        <div class="label_description"><%= t('pdf_settings_subject_code_with_name_example') %></div>
      </div>

      <%=  submit_tag "#{t('save_settings')}",:class=>'submit-button', :id => 'submit_button' %>
    <% end %>
  </div>
</div>
