<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('timetable_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('timetable_view') %></div>
 <div id="inner-tab-menu">
    <ul>
     <li class="themed_bg themed-dark-hover-background"><%= link_to "#{t('activities')}", :controller => 'student', :action => 'activities' ,:id => @student.id%></li>

    </ul>
  </div>



</div>
<%= javascript_include_tag 'timetable_entries' %>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% unless @timetables.blank? %>
    <% form_for :timetable_entry do |s| %>
      <div class="label-field-pair">
        <label for="timetable_entry_course_id"><%= t('select_a_tte') %></label>
        <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader",
          :style =>"display: none;" ) %>
        <div class="text-input-bg">
          <%= select :timetable_entry, :timetable_id, @timetables.map {|c| ["#{format_date(c.start_date,:format=>:long)} - #{format_date(c.end_date,:format=>:long)}", c.id]},
            {:selected => @current.present? ? @current.id : nil, :prompt => t('select_a_tte')},
            {:onChange => "#{remote_function(:url => {:action => "update_student_tt"}, :with => "'timetable_id='+value+'&id='+#{@student.id}",       :before => "Element.show('loader')",
            :success => "Element.hide('loader')")}"} %>
        </div>
      </div>
    <% end %>
    <div id="time_table">
      <% if @current.present? %>
        <%= render :partial=>'student_timetable' %>
      <% else %>
        <p class="flash-msg"><%= "#{t('no_timetable_found')} #{t('for')} #{format_date(@local_tzone_time.to_date)}" %></p>
      <% end %>
    </div>
  <% else %>
    <p class="flash-msg"><%= t('no_timetable_found') %></p>
  <% end %>
</div>
