<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('timetable_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('teacher_timetable') %></div>



</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% form_for :timetable_entry do |s| %>
    <div class="label-field-pair">
      <label for="timetable_entry_course_id"><%= t('select_a_tte') %></label>
      <%= image_tag("loader.gif",
        :align => "absmiddle",
        :border => 0,
        :id => "loader",
        :style =>"display: none;" ) %>
      <div class="text-input-bg">
        <%= select :timetable_entry, :timetable_id, @timetables.map {|c| ["#{format_date(c.start_date,:format=>:long)} - #{format_date(c.end_date,:format=>:long)}", c.id]},
          {:selected => @current.try(:id), :prompt => t('select_a_tte')},
          {:onChange => "#{remote_function(:url => {:action => "update_teacher_tt"}, :with => "'timetable_id='+value",       :before => "Element.show('loader')",
          :success => "Element.hide('loader')")}"} %>
      </div>
    </div>
  <% end %>
  <div id="timetable_view">
    <div id="timetable_view_flash">
      <% if !@all_timetable_entries.present? and !@all_teachers.present?%>
        <p class="flash-msg"><%= t('no_entries_found') %></p>
      <% end %>
    </div>
    <div id="teachers_list_view">
      <%= render :partial => "teacher_list" %>
    </div>
    <div id="teacher_timetable_view">
      <%= render :partial => "employee_timetable" if @employee.present? %>
    </div>
  </div>
</div>

<script>

  function set_active(ele){
    $$('.active-link').each(function(e){
      e.removeClassName('active-link');
    });
    ele.addClassName('active-link')
  }
  function draw_timetable(ele){
    Element.show('loader')
    timetable_id = $('timetable_entry_timetable_id').value;
    new Ajax.Request('/timetable/update_employee_timetable',
    {asynchronous:true, evalScripts:true,
      parameters:'id='+ele.id+'&timetable_id='+timetable_id,onSuccess:function(request){Element.hide('loader')}
    });    
  }
  
  j(document).delegate('.teacher-link','click',function(){
    draw_timetable(this);
    set_active(this);
  });
</script>