<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= stylesheet_link_tag "timetable/new_timetable.css" %>
  <%= show_header_icon %>
  <h1><%= t('timetable_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('edit_timetable') %></div>
  <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'>
        <%= link_to t('manage_batches'),:controller=>:timetable,:action => "manage_batches",:id=>@timetable.id %>
      </li>
      <li class='themed_bg themed-dark-hover-background'>
        <%= link_to t('manage_allocations'),:controller=>:timetable_entries,:action => "new",:timetable_id=>@timetable.id %>
      </li>
      <li class='themed_bg themed-dark-hover-background'>
        <%= link_to t('delete_text'),{ :action => 'destroy', :id => @timetable.id,:removable=>@removable }, :class => 'delete-button', :confirm => "#{t('dependant_destroy_timetable')}" %>
      </li>
    </ul>
  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= breadcrumb :timetable_update_timetable, @timetable %>
    <%= render_breadcrumbs  %>
  </div>
  <div class="box">
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <% form_for @timetable,:url=>{:controller=>"timetable",:action=>"update_timetable"} do |f| %>
      <%= error_messages_for 'timetable',:header_message=>nil%>
      <input type="hidden" name="_method" value="post" />
      <div class="label-field-pair" >
        <label for="start_date"><%= t('start_date') %></label>
        <div class="text-input-bg">
            <%= calendar_date_select_tag 'start_date', I18n.l(@timetable.start_date,:format=>:default),
              :year_range => 1.years.ago..1.years.from_now, :readonly=>true, :popup=>"force" %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="end_date"><%= t('end_date') %></label>
        <div class="text-input-bg">
          <%= calendar_date_select_tag 'end_date', I18n.l(@timetable.end_date,:format=>:default),
            :year_range => 1.years.ago..1.years.from_now, :readonly=>true, :popup=>"force"%>
        </div>
      </div>
      <%= submit_tag "", :value => "► #{t('update')}", :class => "submit_button" ,:confirm => "#{t('timetable_edit_confirm')}"%>
    <% end %>
  </div>
</div>
