<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('timetable_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('timetable_view') %></div>
</div>
<div id="page-yield">
  <%= javascript_include_tag 'timetable_entries' %>
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% if @timetables.blank? %>
    <p class="flash-msg"> <%= t('no_timetable_found') %> </p>
  <% else %>
    <% form_for :timetable_entry do |s| %>
      <div class="label-field-pair">
        <label for="timetable_entry_course_id"><%= t('timetable_text') %></label>

        <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader",
          :style =>"display: none;" ) %>
        <div class="text-input-bg">
          <%= select :timetable_entry, :timetable_id, @timetables.map {|c| ["#{format_date(c.start_date,:format=>:long)}  -  #{format_date(c.end_date,:format=>:long)}", c.id]},
            {:selected=>@current_timetable.present? ? @current_timetable.id : nil},{:onChange => 'show_batches()'   }   %>
        </div>
      </div>
      <div id="batches">
        <div class="label-field-pair">
          <label for="timetable_entry_course_id"><%= t('batch') %></label>
          <div class="text-input-bg">
            <%= select :timetable_entry, :batch_id, @batches.map {|b| [b.full_name, b.id]},
              {:prompt => "#{t('select_a_batch')}"},
              {:onChange => 'show_timetable()'} %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="extender"> </div>

  <div id="timetable_view"> </div>
</div>
<script type="text/javascript">
  function show_batches(){
<%= "#{remote_function(:url => {:controller=>'timetable',:action => "timetable_view_batches"},
:with => "'timetable_id='+$('timetable_entry_timetable_id').value", :before => "Element.show('loader')",
:success => "Element.hide('loader')")}" %>
  }
  
  function show_timetable(){
<%= "#{remote_function(:url => {:controller=>'timetable',:action => "update_timetable_view"},
:with => "'batch_id='+$('timetable_entry_batch_id').value+'&timetable_id='+$('timetable_entry_timetable_id').value", :before => "Element.show('loader')",
:success => "Element.hide('loader')")}" %>
  }
</script>
