.box a:hover {
    text-decoration: underline !important;
}
.box a, .box a:hover {
    color: #000;
    text-decoration: none;
}
.heading {
    font-size: 16px;
    font-weight: bold;
}
.batch_selector {
    margin-top: 40px;
    height: 50px;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 20px;
}
#courses, #batches {
    float: left;
    margin-right: 50px;
    width: auto;
}
#courses .label-field-pair, #batches .label-field-pair {
    width: auto;
}
#courses .label-field-pair label, #batches .label-field-pair label {
    width: auto;
    min-width: 100px;
    height: 20px;
    margin-right: 30px;
}
#courses .label-field-pair .text-input-bg,
#batches .label-field-pair .text-input-bg{
    width: 200px;
}
#courses .label-field-pair .text-input-bg select,
#batches .label-field-pair .text-input-bg select{
    width: 100%;
    margin-left: 0px;
}
.notif {
    margin-top: 20px;
    height: 20px;
    clear: both;
}
.notif .text, .notif .classes_count {
    font-size: 13px;
    width: auto;
    float: left;
    color: #777;
}
.notif .classes_count {
    float: right !important;
    color: #333 !important;
}
.subs {
    margin-top: 15px;
    height: 10px;
}
.subs .sub_text {
    font-size: 13px;
    font-weight: normal;
    color: #777;
    width: auto;
    max-width: 700px;
    float: left;
}
#elect_sub .subs {
    height: 30px;
}
#elect_sub .subs .sub_text{
    width: 500px;
}
#add_sub {
    margin-bottom: 5px;
    float: right;
}
.link-box {
    margin:10px 40px;
    width:270px;
    float:left;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
.link-descr {
   margin-top: 5px;
    color: #666;
    text-align: left;
}
#box{
    width:700px;
    margin:0px auto;
}
.box{
    width:100%;
    margin:0px auto;
}

#subjects{
    width:100%;
    margin:0px auto;
}

.submit_button {
    margin-top:15px;
    margin-left:210px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}


#category-list {
    clear : both;
    padding : 10px 0 40px 0px;
    width:700px;
    margin:0px auto;
}

#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : auto;
    min-height: 25px;
    list-style-type : none;
    padding : 10px;
}

#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height: auto;
    min-height: 25px;
    list-style-type : none;
    padding : 10px;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em;
    width : 30em;
    padding : 0.5em 0 0 5em;
}
#category-list li div {
    float : left;
}
#category-list li div.category-name {
    font-size: 13px;
    font-weight: bold;
    width: 35%;
}

#category-list li div.category-code {
    width : 125px;
    font-weight: bold;
    font-size:13px;
}

#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size : 0.9em;
    width : 65px;

}
div.category-code {
    float: left;
}

div.category-assign{
    float: right;
}

#category-list li div.category-assign{
    font-size : 0.9em;
    width : 120px;
}
#category-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}

#category-list li .opt{
    float: right;
}

#add_sub a {
    font-weight: normal;
    font-size: 14px;
    margin-left: 20px;
    text-decoration: none;
    float:left;
}

#add_sub a:hover{
    text-decoration: none;
}

#add_sub{
    margin-bottom: 5px;
    float: right;
}
.add_sub1{
    float: left;
    color: #990a10;

}

.add_sub1 a {
    color:black;
    font-weight: normal;
    font-size: 14px;
    margin-top: 20px;
    padding-left: 10px;
    text-decoration: none;
    /*    color: #990a10;*/
}

/*.add_sub1 a:hover{*/
/*    color:#bb0000;*/
/*    text-decoration: none;
}*/
h5{
    color: #444444;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 0px;
}

#error-box {
    background: #ffdedf url(/images/_global/error.png) no-repeat 10px 14px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    height : auto;
    margin : 20px auto;
    padding : 1px 0 1px 20px;
}
#view_elective{
    float: right;
}

#view_elective a {
    color:black;
    font-weight: bold;
    font-size: 14px;
    margin-left: 20px;
}

#view_elective a:hover{
    color:#bb0000;
    text-decoration: none;
}
table#listing {
    padding: 20px 20px 20px 20px;
}

#normal_sub{
    font-weight:bold;
    margin-bottom:20px;
}

#elect_sub{
    font-weight:bold;
    margin-bottom:10px;
    min-height: 65px;
    height: auto;
    clear: both;
}

.header_links{
    width:100%;
    margin-top:30px;
}

#edit{
}

#assign{
    float:right;
    padding-right: 10px;
}
#delete{
}

#no_subjects{
    padding:5px;
    font-style:italic;
    margin-bottom: 20px;
}
#no_subject{
    padding:5px;
    font-style:italic;
}
#electives{
    width:100%;
    margin-top:40px;
}

#elective_name{
    margin-bottom: 20px;
}
#operations{
    font-size:12px;
}
#operations .links{
    float:left;
    padding-right:10px;
}
#operations .links a{
    color: #444 !important;
    text-decoration: none;
    font-weight: normal;
}
#operations .links a:hover{
    color: #000;
}

table#listing{
    margin-bottom: 40px;
}


table#listing_theme tr.tr-head{
    color: black !important;
    font-size: 13px;
}
table#listing_theme .elective-head {
    background: #c3d9ff;
    text-align: left;
    /*    padding: 50px;*/
    color: #000;
    font-weight: 600;
    font-size: 14px;
    height: 34px;
}
table#listing_theme .elective-head td {
    padding: 5px;
    padding-left: 10px;
}
table#listing_theme{
    margin-bottom: 40px;
    float: left;
}


#delete a{
    color: black;
}
#new_themed_text {
    font-weight: normal;
    font-size: 12px;
    /* margin-left: 20px; */
    color: #444 !important;
}
.fleft{
    float:left;
}
.none_disp{
    display:none;
}
.place_editor
{
    width: 550px;
    float: left;
}

.inplaceeditor-form .editor_ok_button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:6px;
    font-weight: bold;
    font-size: 13px;
    border:none;
    font-family: arial;
    cursor:pointer;
}

.inplaceeditor-form .editor_field {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:6px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:0 0 0 0;
    padding:3px 5px 3px 5px;
    width: 200px;
    /*    margin-bottom: 20px;*/
    margin: 1px auto;
}
.inplaceeditor-form .editor_field:focus{
    background: #fff;
    border: 1px solid #9e0f15;

}
.in_place_editor_field{
    width:200px !important;
    cursor: pointer;
    float: left;
    -webkit-border-radius:6px;
    height:19px;
    margin:0 0 0 0;
    padding:4px 6px 4px 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*    margin-bottom:20px;*/
}
.editor_cancel_link{
    color: #27292B;
    text-decoration: underline;
    margin-top: 12px;
    font-size: 14px;
}
table#listing_theme{
    font-size: 15px;
}
table#listing_theme tr.tr-head, table#listing_theme .tr-even, table#listing_theme .tr-odd{
    font-weight: normal;
}
table#listing_theme td.col-2 {
    width: 45% !important;
    text-align: left;
    padding: 5px;
    padding-left: 10px;
}
table#listing_theme td.col-5 {
    width: 15%;
    text-align: left;
    padding: 5px;
    padding-left: 10px;
}
table#listing_theme td.col-3 {
    width: 10%;
    text-align: left;
    padding: 5px;
    padding-left: 10px;
}
table#listing_theme td.col-4 {
    width: 30%;
    text-align: left;
    padding: 5px;
    padding-left: 10px;
}
.elective-column{
    padding: 5px 2px !important;
}
.right_align {
    float: right !important;
}
.elective_option_pair label{
    margin-right: 10px;
}
.elective_option_pair a{
    color: #444 !important;
    text-decoration: none;
    font-weight: normal;
    font-size: 12px;
}

.no_show{
    display:none;
}
.label-field-pair_exp{
    float:left;
    font-weight: normal;
    color:#444;
    padding-top: 10px;
    font-size: 14px;
    width:100%;
    margin-bottom:30px;
}
.student_gender_value{
    float: left;
    margin-left: 5px;
}
.label-container{
    float: left;
    width: 190px;
}
.margin_right_20{
    margin-right:20px;
}
.label_for_gender{
    font-size: 13px;
    font-weight: normal;
    float: left;
    margin-top: 1px;
}
input[type='radio']{
    float:left;
    margin-top:2px;
}
.label-field-pair label{
    font-weight: normal;
}
.calendar_date_select{
        position: fixed !important;
}