/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Jan, 2016, 2:54:59 PM
    Author     : shijith
*/


.link-box {margin:10px 40px;width:270px;float:left; height:80px;}
.link-heading a {font-weight:bold;color:#900;}
.link-descr {margin-top: 5px;
    color: #666;
    text-align: left;}
#box{
    width:700px;
    margin:0px auto;
    line-height: 1.5 !important;
}

#top_section{
    float: left;
    width: 100%;
    
}
#course_area,#batch_area{
    float:left;
    width:410px;
}
#course_text,#batch_text{
    float:left;
    margin-top:0px;
    color: #444;
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px;
}
#middle_section{
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}
#description{
    float: left;
    width: 750px;
}
#description_text{
    float: left;
    color: #909090 ;
    font-size: 13.7px;
    line-height: 18px;

}
#priority{
    float: left;
    
}
#priority a{
    font-size: 14px;
    margin-top: 5px;
    color: #06c;
}
#priority_text_1{
    margin-top: 16px;
    
    float: left;
    font-size: 15px;
    color: #06c;
    cursor: pointer;
}




.priority{
    float: left;
    margin-left: 94px;
}
.priority a{
    font-size: 14px;
    margin-top: 5px;
    color: #06c;
}
.priority_text_1{
    margin-top: 16px;
    margin-left: 100px;
    float: left;
    font-size: 15px;
    color: #06c;
    cursor: pointer;
}


table#listing .tr-odd td{
    color: #27292B;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    padding: 10px;

}

table#listing .tr-even td{
    color: #27292B;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    padding: 10px;
}
.field-label{
    width:400px;
    color:black;
}
.sl_no{
    width:50px;
    color:black;
}
.value_criterea{
    color:black;
}
#default{
    color: #666;

}
td small a{
    color:#990a10 !important;
}
td small a:hover{
    text-decoration: none !important;
}
table#listing td a:hover{
    color:#990a10 !important;
}
table#listing tr.tr-head {
    background: #fff;
    color: black;
    text-align: left;
    font-weight: normal;
}
.edit{
    width: 170px;
}
#student_details_table{

    float: left;
    width: 100%;
    margin-top: 20px;
}
/*.submit_button {
    
    margin-top: 39px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
    float: left;
    margin-left: 20px;
}*/
/*.submit_button:hover{
    background:  #373B3F;
}
.submit_button a{
    color: white;
}*/
#page-yield .submit_button a{
    text-decoration: none !important;
    color: white !important;
}
#page-yield .submit_button a:hover{
    text-decoration: none !important;
    color: white !important;
}
.radio{
        float: left;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 57%;
    margin-left: 15px;
}
.radio_one{
    float: left;
}
.radio_two{
    float: left;
    margin-left: 20px;
}
.radio_one input{
    cursor: pointer;
}
.radio_two input{
    cursor: pointer;
}
.system_fields{
       float: left;
    margin-left: 20px;
    width: 96%;
}
.custom_fields{
    float: left;
    margin-left: 23px;
    width: 96%;
    font-size: 14px;
}
.custom_fields > select{
    margin-left: 30px;
}
/*.submit_button_new{
    float: left;
}*/


.date{
        float: right;
    margin-right: 260px;
    margin-top: 8px;
}




















































.link-box {
    margin:10px 40px;
    width:270px;
    float:left;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}

#box{
    width:700px;
    margin:0px auto;
}
#rg_name{
    float: left;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color:#666;
}
#record_submit {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
#record_submit:hover{
    background:  #373B3F;
}
#cancel_link{
    float: left;
    font-size: 13px;
    color: #333;
    margin-top: 8px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: underline;
}
#cancel_link:hover{
    color:#000 !important;
}


p{
    font-size:13px;
}

.flash-msg {
    background-color : #fff1ab;
    padding : 5px;
    font-size:13px;
    font-weight:600;
    border:1px solid #EFDC86;
    margin-bottom: 10px;
}
#batch_name{
    margin-top: 45px;
    font-size: 17px;
    font-weight: bold;
}
#batch_range_and_tutor{
    font-size: 13px;
    color: #666666;
    font-weight: normal;
    margin-top: 30px;
    margin-left:400px;
}
#common_box{
    border:1px solid #999999;
    width:100%;
    min-height:700px;
    margin-top:26px;
    float:left;
}
#highlight{
    border-bottom:1px solid #999999;
    height:82px;
    background-color: #ffffff;
}
#highlight span#student_count{
    font-size:30px;
    font-weight:bold;
    color:#333333;
    margin-left: 36px;
    margin-top: 25px;
    float: left;
}
#highlight span#student_text{
    font-weight: bold;
    color: #666666;
    font-size: 15px;
    margin-left: 19px;
    margin-top: 36px;
    float: left;
}
#student_details_table,#exam_details_table{
    width:100%;
    float:left;
    margin-bottom: 30px;
}

th{
    font-size: 14px;
    color: #333333;
    background: #eeeeee;
    line-height: 30px;
}
td{
    font-size: 13px;
    color: #333333;
}
table{
     width: 100%;
}
table, th,td{
    border: 1px solid #cccccc;
    border-collapse: collapse;
     
}
th, td {
    padding: 5px 20px;
    text-align: left;
}
tr{
    line-height: 30px;
}

.list_odd{
    background-color: #ffffff;
}
.list_even{
    background-color: #f5f5f5;

}
.pagination{
    margin-top:20px;
    float:left;
    margin-right:0px;
}
.individual_category{
    font-size: 15px;
    font-weight: normal;
    color: #333333;
    float: left;
    height:54px;
}
ul{
    margin: 0;
    -webkit-padding-start: 0px !important;
}
li a{
    text-decoration: none;
    color: #333333;

}
.tabs{
    width: 100%;
    height: 50px;
    background: #eee;
    border-bottom: 1px solid #999999;
}
.tabs ul{
    height: 100%;
    border-bottom: 1px solid #ccc;
    list-style-type: none;
}
.tabs ul li{
    width: auto;
    font-size: 15px;
    color:#666666;
    height: 35px;
    line-height: 35px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 15px;
    float: left;
    cursor: pointer;
}
.tabs ul li:hover{

    color: #333333;
}
.tabs ul li:first-child{
    margin-left: 20px;
}
.tabs ul li.active_tab{
    border: 1px solid #999999;
    border-bottom: 0px;
    color: #444 !important;
    background: #fff !important;
    line-height: 34px;
    padding-left: 20px;
    padding-right: 20px;
    font-size:14px;
    font-weight:bold;
}
.new_exams_text{
    font-size: 17px;
    font-weight: bold;
    color: #333333;
    margin-left: 45px;
    margin-top: 35px;
    float: left;
}
.new_exams{
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    margin-left: 20px;
    margin-top: 25px;
    float: left;
}
#vertical_line{
    float: left;
    height: 45px;
    width: 1px;
    background-color: #cccccc;
    margin-top: 20px;
    margin-left: 40px;
}
.new_exams_small_text{
    margin-left: 10px;
    margin-top: 35px;
    float: left;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
}
.bold_new_exam_text{
    font-size: 17px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 35px;
    float: left;
    color: #333333;
}
.new_exams_small{
    margin-left: 43px;
    margin-top: 25px;
    font-size: 17px;
    font-weight: bold;
    color: #333333;
}
.pagination{
    min-width: 158px;
    height: 33px;
    border: 1px solid #CCC;
    border-left: 0px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination span{
}

.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-left: 1px solid #CCCCCC !important;
    border-bottom: 1px solid #CCCCCC !important;
    font-size: 14px !important;
    display: block;
    float: left;
    padding: 0px;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 13px;


}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: left;
    padding-right: 5px;
    padding-left: 10px;
    font-size: 14px;
    color:#666 !important;
    text-decoration: none !important;
    padding-bottom: 9px;
    padding-top:8px;
    border-left:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: left;
    padding-right: 5px;
    padding-left: 10px;
    font-size: 14px;
    border-right: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    padding-bottom: 9px;
    padding-top:8px;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: left;
    padding-right: 5px;
    font-size: 14px;
    color:#fff !important;
    background-color: #666666;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 13px;
}
.pagination .next_page{
    display: block;
    float: left;
    padding-right: 5px;
    padding-left: 10px;
    font-size: 14px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;


}
.pagination .gap{
    display: block;
    float: left;
    border-left:1px solid #cccccc;
    color:#666;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 9px;
    padding-right: 9px;


}
#date_handler{
    float:right;
}
.ui-widget-content{
    border:0px !important;
    background: none !important;
}

body {
    font-family:arial !important;
}
.column { width: 332px; float: left; padding-bottom: 50px; }
.portlet { margin: 0 20px 20px 0; }
.portlet-header { padding-top:12px; padding-left: 10px; padding-right: 10px; height: 28px; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 10px; float:left; width:93%; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 100px !important; width: 1000px; }
.ui-sortable-placeholder * { visibility: hidden; }


.ui-corner-all {
    border-radius:0px !important;
}

.ui-widget {
    font-size:13px !important;
}

.ui-widget-header {
    background-color: #f5f5f5 !important;
    border-left: 0 !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 1px solid #CCCCCC !important;
    color: #666666 !important;
}

.ui-widget-header .ui-icon {
    background-image: url(/images/iconsprite-1.png) !important;
}
.ui-icon,.refresh-icon,.remove-icon,.ui-datepicker-trigger,.name-span {
    cursor:pointer;
}
.ui-icon-plusthick {
    background-position: -65px 3px !important;
}

.ui-icon-plusthick:hover {
    background-position: -65px -13px !important;
}

.ui-icon-minusthick {
    background-position: -48px 3px !important;
}

.ui-icon-minusthick:hover {
    background-position: -48px -13px !important;
}



.portlet-subcontent {
    margin-top: 10px;
    background-color: #fdfdfd;
    width:100%;
    float:left;
}
.holder {
    background:none;
    height:40px;
}

.subcontent-header {
    font-weight: bold;
    padding:10px;
    float:left;
    width:93%;
}
.header-left{
    float:left;
}
.header-right{
    float:left;
    color: #333333;
    font-weight:normal;
    margin-left:5px;
}

.subcontent-info {
    color: #333333;
    padding:10px;
    float:left;
    width:93%;
}

.subcontent-footer {
    color:#999999;
    font-size:12px !important;
    padding:10px;
    float:left;
    width:93%;
}

.footer-date {
    float:left;
}

.footer-comment {
    float:right;
}

.footer-comment-icon {
    float:left;
    background-image: url(/images/iconsprite-1.png) !important;
    background-position: -32px -31px;
    width:16px;
    height:16px;
}
#combine_portlet{
    float:right;
    width: 350px;
    margin-top: 20px;
    margin-bottom: 20px;

}
#combine_portlet1{
    float: left;
    width: 96%;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 25px;

}
.portlet-date {
    color: #999999;
    float:left;



}

.palette-info {
    width:100%;
    float:left;
}

.palette-icon {
    height:20px;
    width:20px;
    float:left;
    margin-right:10px;
    margin-top:-2px;
    background: url(/images/iconsprite-1.png) no-repeat center;
}

.view-more-div {
    width:100%;
    float:left;
}

.view-more-div a {
    float:right;
    text-decoration:none;
    font-size:11px;
    font-weight:bold;
    display:block;
    color:#666666;
    margin-top:12px;
}

/*.view-more-div a:hover{
    color:#CB0101 !important;
}*/

#add-palette-main {
    margin-bottom:20px;
    margin-top:20px;
    width:100%;
    float:left;
}

.grey-button-large {
    float:right;
    background: url("/images/grey-gradient.png") repeat-x scroll 0 0;
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    display: block;
    height: 15px;
    padding: 3px 10px !important;
    text-decoration: none;
    margin-right:21px;
    font-size:13px;
    border: 1px solid #999999;
}

/*#add-palette-button:hover {
    color:#9A0000;
    text-decoration:none;
}*/

#palette-list {
    float:left;
    width:100%;

}

#palettes-main {
    float:left;
}

#list-loader {
    float: right;
    margin-right: 15px;
    margin-top: 4px;
}

.palette-box {
    float: left;
    margin: 0 20px 20px 0;
    padding: 8px 0 8px 10px;
    width: 220px;
    background-color: #e7e7e7;
    font-size: 13px;
    color: #333333;
}

.box-border {
    float:left;
    width:98%;
    background-color:#999999;
    margin-top:20px;
    height:1px;
}

.palette-box label {
    line-height: 20px;
}

.palette-box input[type="checkbox"] {
    float: left;
    margin: 3px 9px;
}

.palette-buttons {
    float:left;
    width:100%;
}

#palette-list-submit {
    float: right;
    /*    background: url("/images/red-gradient.png") repeat-x scroll 0 0 #DD0000;*/
    border: medium none;
    font-size:13px;
    color: #FFFFFF;
    display: block;
    height: 23px;
    padding: 3px 10px;
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    margin-right: 25px;
}

.birthday-subcontent {
    float:left;
    width:100%;
}

.birthday-image {
    float:left;
    width:50px;
    height:50px;
    margin-top:10px;
    margin-left:10px;
    border : 1px solid #AAAAAA;
}

.gallery-image {
    float:left;
    width:100px;
    height:70px;
    margin-top:10px;
    margin-left:10px;
    margin-bottom:10px;
    border : 1px solid #AAAAAA;
}

.gallery-icon {
    width:100px;
    height:70px;
}

.gallery-text {
    float:right;
    width:60%;
}

.birthday-text {
    float:right;
    width:75%;
}

.image-icon {
    width:50px;
    height:50px;

}

#palette-list-cancel {

}

.date-previous {
    background-image: url("/images/iconsprite-1.png");
    float: left;
    background-position: 2px -32px;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    margin-left:40px;
}

.date-next {
    background-image: url("/images/iconsprite-1.png");
    float: left;
    background-position: -14px -32px;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    margin-right:3px;
}

.portlet-date a div:hover {
    background-color: #e0e0e0;
}

.portlet-date label {
    float:left;
    width:200px;
    text-align:center;
    font-size: 14px;
}

.remove-icon {
    background-image: url("/images/iconsprite-1.png");
    background-position: -31px 1px;
    float: right;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    margin-left: 5px;
}

.remove-icon:hover {
    background-position: -31px -15px;
}

.refresh-icon {
    background-image: url("/images/iconsprite-1.png");
    background-position: -80px 1px;
    float: right;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    margin-right: 5px;
}

.refresh-icon:hover {
    background-position: -80px -15px;
}

.ui-datepicker-trigger {
    background-image: url("/images/iconsprite-1.png");
    background-position: -2px -2px;
    height: 16px;
    width: 16px;
    float:left;
}

.date-loader {
    float:right;
    margin-left:5px;
    margin-right: 25px;

}

.palette-more-loader {
    float:right;
    margin-right:10px;
    margin-top: 9px;
}

.add-palette-loader {
    float:right;
    margin-right:10px;
    margin-top:4px;
}

.ui-datepicker-trigger:hover {
    background-position: -2px -18px;
}

.ui-datepicker {
    /*    border-bottom-right-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
        border-top-right-radius: 4px !important;
        border-top-left-radius: 4px !important;*/
    border: 1px solid #AAAAAA !important;
    padding: 0.2em 0.2em 0 !important ;
    width: 17em !important;
}

.ui-datepicker-header {
    position: relative !important;
    background:#CCCCCC !important;
    border: 1px solid #AAAAAA !important;
}

.ui-datepicker-header select {
    margin: 1px 0 !important;
    position: inherit !important;
    color : #333333 !important;
    background-color: #F5F5F5 !important;
    border: 1px solid #C6C6C6 !important;
    padding: 3px 6px !important;
}
.ui-icon-circle-triangle-w {
    background-position: 1px -32px !important;
}
.ui-icon-circle-triangle-e {
    background-position: -13px -32px !important;
}

.ui-datepicker-prev {
    left:2px !important;
    background:none !important;
    top : 5px !important;
}

.ui-datepicker-prev-hover {
    left:1px !important;
    top : 4px !important;
}

.ui-datepicker-next {
    left:194px !important;
    background:none !important;
    top : 5px !important;
}

.ui-datepicker-next-hover {
    left:193px !important;
    top : 4px !important;
}
.ui-autocomplete {
    background-color: #FEFDF9 !important;
    margin: 2px 0 !important;
    padding: 0 !important;
    border-right: 1px solid #E7E7E7 !important;
    border-style: none solid solid !important;
    border-width: medium 1px 1px !important;
    list-style: none outside none !important;
    box-shadow:none !important;
}
.ui-menu-item {
    margin: 1px 0 !important;
}

.ui-menu .ui-menu-item a {
    line-height: 1.3 !important;
    padding: 0.2em 0.8em !important;
}

.ui-menu-item a.ui-state-focus {
    background-color:#F8F1D1;
    color:#BB0000;
    margin: 1px 0 !important;
    border-top:0 !important;
    border-bottom:0 !important;
    border-right:0 !important;
    border-left:0;
}
li.ui-menu-item a.action {
    border-left: 2px solid #BB0000 !important;
}
p.flash-msg {
    width: 968px !important;
}
.empty-palettes {
    width:980px;
    text-align:center;
    background-color:#e7e7e7;
    padding-top:60px;
    padding-bottom:60px;
    color:#666;
    font-size:15px;
    float:left;
}
th#sl_no{
    width: 35px;
}
th#admn_no{
    width:140px;
}
th#roll_no{
    width: 100px;
}
.today_date{
    float:left;
    margin-right: 100px;
}
.today_date_text{
    color: #999999;
    float: left;
    margin-left: 43px;
    margin-top: 5px;
    font-size: 12px;
}
.attendance_highlights{
    float:left;
    margin-right:100px;
}
.examination_highlights{
    float:left;
}
.large_present_text{
    font-size: 30px;
    float: left;
    margin-top: 28px;
    margin-left: 10px;
    font-weight: bold;
    color:#333333;
}
.small_total_text{
    float: left;
    margin-top: 35px;
    margin-left: 5px;
    color: #333333;
    font-size: 14px;
}
.normal_absentees_text{
    float: left;
    margin-top: 35px;
    margin-left: 5px;
    color: #333333;
    font-size: 14px;
}
.absentees_count{
    font-size:17px;
    font-weight: bold;
    color:#333333;
    float:left;
    margin-top:33px;
    margin-left:10px;
}
.no_right_margin{
    margin-right:0px;
}
#list_absentees,#tt_timings,#cal_events{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    margin-bottom: 20px;
}
.no_entries{
    float: left;
    background-color: #eeeeee;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-sizing: border-box;
}
.text-input-bg{
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 175px 0px 0;
    float: left;
    width: 75%;
    padding-top: 10px;
    font-weight: bold;
}
.text-input-bg select{
    -webkit-border-radius:0px;
    height: 30px;
}
.margin_top_50{
    margin-top:50px;
}
.margin_top_25{
    margin-top:25px;
}
.margin_left_45{
    margin-left:45px;
}
#time_table_label{
    float: left;
    margin-top: 24px;
    font-size: 14px;
}
td a{
    text-decoration: none;
    color:#333;
    margin-right: 10px;
    font-size: 13px;
}
td a:hover{
    text-decoration: underline;
    color:#333 !important;
}
.summary_type_select{
    float:left;
    margin-left:45px;
    color:#666;
    font-size:14px;
    font-weight:normal;
    margin-bottom: 25px;
    cursor: pointer;
}
.margin-left-20{
    margin-left:20px;
}
.active_link{
    font-weight:bold;
    color:#333;
}
.add_pointer{
    cursor: pointer;
}
.table_seperator{
    height: 50px;
    width: 100%;
    float: left;
}
#loader3{
    position: absolute;
    z-index: 10000;
    margin-top: 200px;
    margin-left: 450px;
}
#loader2{
    margin-left:5px;
}
.cursor_change{
    cursor: default !important;
}
.margin_top_35{
    margin-top:35px;
}
#loading_text{
    margin-left:5px;
    margin-top:5px;
}
#loader_img{
    float:left;
}
td span a{
    color:#27292b !important;
}
#class_timing_th{
    width:145px;
}
#timetable_subject_th{
    width:225px;
}
#timetable_employee_th{
    width:180px;
}
#timetable_room_th{
    width:160px;
}
#timetable_building_th{
    width:145px;
}
#ui-datepicker-div{
    left:858px !important;
}
.summary_type_select:hover{
    text-decoration: underline;
}
th{
    line-height: 20px;
}
#course_area,#batch_area{
    float:left;
    width:350px;
}

#course_id,batch_id{
    float:left;
}
#batch_tutor_section{
    float: right;
    font-size: 14px;
    font-weight: normal;
    width: 300px;
    margin-top:20px;

}

#tutor_text{
    float: left;
    margin-right: 10px;
    font-size: 14px;
    font-weight: normal;
    color: #666666;
}
#tutor_name{
    float: left;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    width: 250px;
}
#loader{
    margin-left:5px;
    margin-top:10px;
}

label{
    font-size:13px;
    float: left;
    margin-right: 30px;
    margin-top: 12px;
}
#record_group_name {
    background : #eee;
    float:left;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 180px;
    height:23px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding-top: 3px;
    padding-left: 5px;
}
.label-field-pair1 {
    float: left;
    width: 100%;
}
#error-box {
    background: #ffdedf url(/images/_global/error.png) no-repeat 10px 9px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding: 10px 0 10px 20px;
}

#error-box ul li{
    margin-left:50px;
}
.hidden_sec{
    display:none;
}
th#reorder{
    display:none;
    width:70px;
}
td.reorder_val{
    display:none;
    border-left: 0;
    border-top: 0;
}
#reorder_records,#records_preview a{
    float: left;
    margin-bottom: 20px;
    width: 50%;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    color: #666;
    text-decoration: underline;
}
#reorder_records:hover,#page-yield #records_preview a:hover{
    color:#000 !important;
}
#reorder_records{
    width:auto;
    max-width: 50%;
}
#student_details_table td a:hover{
    text-decoration: underline;
    color:#000 !important;
}

#records_preview{
    float:right;
}
#records_preview a{
    width:100%;
}
.drag_drop_msg{
    float: left;
    margin-bottom: 20px;
    width: 50%;
    font-size: 12px;
    font-weight: normal;
    color:#666;
    margin-top: 20px;
}
i{
    background-position: -103px -361px !important;
    width: 14px;
    height: 15px;
    float: left;
    background: url(/images/iconsprite-1.png) no-repeat center;
    margin-top: -2px;
    margin-right:5px;
}
td.record_name{
    word-break: break-all;
   width: 63%;
}
#other_details{
    margin-bottom:30px;
}
#save_button{
    float:left;
    margin-right:10px;
}

select{
    background-color: #EEE;
    border: 1px solid #C6C6C6;
    margin: 5px 0 0 0px;
    width: 170px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}



.sel-list {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 2px;
    width: 197px;
    font-size: 13px;
}


textarea{
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    margin: 5px 0 0 0px;
    padding: 5px;
    height: 100px;
    width: 350px;
    float: left;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size: 13px !important;
}
.add_button_img {
    background: none;
    display: block;
    float: none;
    height: 12px;
    width: 100px;
    margin-top: 15px;
    font-size: 13px;
    text-decoration: none;
    display: inline;
    color: #080;
}

.label-field-pair input {
width: 600px;
margin: 5px 0 0 0 !important;
}



#sortable li.ui-sortable-helper{
    cursor: move;
}
.hover_hand{
    cursor: pointer;
}
.default_cursor{
    cursor:default;
}


input#tc_template_student_details_submit{
        padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;

}
#label_no_default_yes{
    font-size: 13px;
    float: left;
    margin-top: 12px;
    width: 100px;
    word-break: break-word;
    margin-bottom: 10px;
}
.no_default_rb{
    float: left;
    margin-top: 13px;
}
.zero_rt_border{
    border-right:0px;
}
.student_gender_value{
    margin-left: 8px;
}
.text-input-bg select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    height: 27px;
    margin: 5px 0 0 10px;
    padding: 3px 6px;
    width: 260px;
}
#no_default_yes{
    margin-top:10px;
}
.student_gender_value label{
    font-size: 13px;
    font-weight:normal;
    margin-right:30px;
    float:left;
}
.student_gender_value input{
    float: left;
    margin-top: 1px;
}
.label_td {
    border: 1px solid #ccc;
    border-left: 0px;
    display: table-cell;
    width: 70%;
    height:30px;
    background-color: #e5e5e5;
    padding-left: 14px;
    text-align: left;
    vertical-align: middle;
    color: #333;
    font-size: 13px;
    font-weight: normal;
}
.label_row {
    display: table-row;
    padding: 1px;
}
.label_container {
    display: table;
    padding-top: 5px;
    width: 100%;
}
.label_td > span {
    color: #999;
}

.div_container {
    display: table;
    width: 100%;
}
.div_row {
    display: table-row;
}
.div_td {
    border: 1px solid #ccc;
    border-top:0px;
    display: table-cell;
    border-left: 0px;
    width: 70%;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-top: 10px;
    vertical-align: middle;
}
.fields input[type="text"] {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #c6c6c6;
    float: left;
    height: 17px;
    margin: 5px 0 0 10px;
    padding: 5px;
    width: 240px;
}
.select_box{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 675px;
}
input#tc_template_field_student_details_field_info_additional_field___rand__{
    width: 216px;
    
}
a.add-field{
    color: green;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

}
.select_box .label-field-pair{
   width: 100% !important;
   margin-left: 20px !important;
}
.select_box .label-field-pair input{
   width: 216px;
}
.check_box{
        float: right;
    margin-top: 5px;
 
}
.check_box .label-field-pair{
    height: 40px;
    width: 218px !important;
    padding-top: 3px;

}
.check_box .label-field-pair input{
      background: #eee;
    border: 1px solid #c6c6c6;
    margin: 10px 0px 0 10px;
    width: 16px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
    cursor: pointer;

}
#MB_frame .label-field-pair {
    width: 246px;
    margin: 13px 0;
}
.label-container.check {
    width: 100px !important;
    float: left;
}
.input-container{
      width: 30px;
    float: left;
    padding-top: 6px;
}
.label-field-pair.field_name{
    margin-left: 20px !important;
}
.box{
    float: left;
}
.submit_button.new{
    margin-left: 0px;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    padding-bottom: 10px;
}
.save_preference{
    background: #27292B !important;
    color: white;
/*    height: 30px;*/
    font-size: 16px;
    font-weight: bold;
     -webkit-border-radius: 10px;
    padding: 7px 10px !important;
    cursor: pointer;
    margin-bottom: 20px;
}
span.cb_value{
    float: left;
}
a.delete_button_img{
    margin-top: 13px;
    margin-left: 15px;
    cursor: pointer;
}
.add-button{
    float: left;
    margin-left: 10px;
    min-width: 650px;
}
.box{
    max-height: 482px;
    overflow-x: hidden;
}
.radio label{
    margin-right: 30px;
    margin-top: 2px;
    font-size: 14px;
    cursor: pointer;
}
.radio input{
    cursor: pointer;
    float: left;
}
.submit-button{
    margin-left: 0px;
}
.submit_button.class{
    float: right;
}
.sub_label{
    float: right;
}
input#submit_button.submit-button.MB_focusable{
margin-left: 0px;
outline: none;
}
#other_details{
    float: left;
    width: 100%;
    margin-top: 20px;
}





.date label{
    margin-right: 30px;
    margin-top: 2px;
    font-size: 14px;
    float: right;
    cursor: pointer;
}
.date_for_custom{
    float: right;
    margin-right: 156px;
    margin-top: 8px;
}
.date_for_custom label{
    cursor: pointer;
    margin-right: 30px;
    margin-top: 2px;
    font-size: 14px;
    float: right;
}

.sub_label #inner-tab-menu ul{
    float:  left;
    margin: 0px;
}
.sub_label #inner-tab-menu ul li{
    min-width: 32px !important;
    margin: 0px 0px 0px 1px;
    border-radius: 8px 8px 8px 8px;
}

.parent_field{
    float: left;
}
.parent_field select{
    margin: 15px 0px 15px 0px !important;
}
#modal-box #page-yield{
    margin: 0px;
}
.label-field-pair.parent_field_name{
    margin-left: 20px !important;
    margin-bottom: 70px !important;
}

 a.submit-button:hover {
    color:#fff;
}
td.value_criterea{
    width: 22%;
}
td.action{
    
    width: 15%;
}
.sub_td{
    padding: 0px;
}
td.list_td{
    padding: 0;
    
}
table.optional_table{
    border: 0;
}

th#name{
    
   width: 63%;
}
th.value_criterea{
    width: 22%;
}
th#action{
    width: 15%;
}
/*th,td {
   
    box-sizing:border-box;
}*/

tr.sub_list td.record_name{
    padding-left: 50px;
}
table.student-details_table{
    border-top: 0;
}
tr.list > td{
    border-top: 0;
}
tr.sub_list.ui-sortable-helper > td.reorder_val{
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
#inner-tab-menu ul li a:hover{
    color: white !important;
}
td.action > a:first-child{
    margin-right: 6px;
}
td.action > a:last-child{
    margin-left: 6px;
    margin-right: 0px;
}
td.action{
    text-align: center;
}
.more-menu-div li a{
    padding: 5px 10px !important;
}
.intro{
    min-width: 19px; 
}
.priority_table_sub_list_record_name{
    padding-left: 40px !important;
    padding-right: 0px;
}
#inner-tab-menu ul li a {
    padding: 7px 9px;
}
.priority_table_record_name{
    width: 95% !important;
    min-width: 879px;
}
.priority_table_th_name{
    width: 95% !important;
    min-width: 879px;
}
#MB_window{
    margin-top: 10px;
}
#MB_frame{
    overflow: auto;
}
tr.sub_list td{
    color: #777777;
}