/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 Jan, 2016, 5:17:22 PM
    Author     : foradian
*/


.link-box {margin:10px 40px;width:270px;float:right; height:80px;}
.link-heading a {font-weight:bold;color:#900;}
.link-descr {margin-top:5px;color:#666;text-align:right;}
#box{
    width:700px;
    margin:0px auto;
}
