<div class="scrolable">
  <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
    <% if @students.present? and @report_hash.present?%>
      <%exam_group_count=@exam_groups.count %>
      <tr class="tr-head">
        <td></td>
        <% @subjects.each do |subject| %>
          <td colspan='<%= exam_group_count==1 && @report_type=="internal_and_external" ? 3 : 6 %>'><%= subject.name %></td>
        <% end %>
      </tr>
      <tr class="tr-head head">
        <td></td>
        <% @subjects.each do |subject| %>
          <% @exam_groups.each do |eg| %>
            <% if @report_type=="internal_and_external" %>
              <td colspan='3'><%= eg.name %></td>
            <% else %>
              <td colspan='<%= exam_group_count==1? 6 : 3 %>'><%= eg.name %></td>
            <% end %>

          <% end %>
        <% end %>
      </tr>
      <tr class="tr-head head">
        <td>Students</td>
        <% @subjects.each do |subject| %>
          <% @exam_groups.each do |eg| %>
            <% if @report_type=="internal_and_external" %>
              <td ><%= "IA (#{@weightage_hash[subject.id.to_s].present? ? @weightage_hash[subject.id.to_s][eg.icse_exam_category_id.to_s].present?? @weightage_hash[subject.id.to_s][eg.icse_exam_category_id.to_s]["ia_weightage"] : "-": "-"})" %></td>
              <td ><%= "EA(#{@weightage_hash[subject.id.to_s].present? ? @weightage_hash[subject.id.to_s][eg.icse_exam_category_id.to_s].present?? @weightage_hash[subject.id.to_s][eg.icse_exam_category_id.to_s]["ea_weightage"] : "-": "-"})" %></td>
              <td ><%= "IA+EA (100)" %></td>
            <% elsif @report_type=="internal" %>
              <td colspan='<%= exam_group_count==1? 6 : 3 %>'><%= "IA (#{@weightage_hash[subject.id.to_s].present? ? @weightage_hash[subject.id.to_s][eg.icse_exam_category_id.to_s].present?? @weightage_hash[subject.id.to_s][eg.icse_exam_category_id.to_s]["ia_weightage"] : "-": "-"})" %></td>
            <% elsif @report_type=="external" %>
              <td colspan='<%= exam_group_count==1? 6 : 3 %>'><%= "EA(#{@weightage_hash[subject.id.to_s].present? ? @weightage_hash[subject.id.to_s][eg.icse_exam_category_id.to_s].present?? @weightage_hash[subject.id.to_s][eg.icse_exam_category_id.to_s]["ea_weightage"] : "-": "-"})" %></td>
            <% elsif @report_type=="total" %>
              <td colspan='<%= exam_group_count==1? 6 : 3 %>'><%= "Total" %></td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
      <tr class="blank"></tr>
      <% @students.each do |student| %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <% if @config == "admission_no" %>
            <% student_text = "#{student.full_name} (#{student.admission_no})" %>
          <%elsif @config == "roll_number" %>
            <% if student.roll_number.present? %>
              <% student_text = "#{student.full_name} (#{student.roll_number})"%>
            <%else%>
              <% student_text = "#{student.full_name} (-)" %>
            <%end%>
          <%else%>
            <% if Configuration.enabled_roll_number? %>
              <% if student.roll_number.present? %>
                <% student_text = "#{student.full_name} (#{student.roll_number})"%>
              <%else%>
                <% student_text = "#{student.full_name} (-)" %>
              <%end%>
            <%else%>
              <% student_text = "#{student.full_name} (#{student.admission_no})" %>
            <%end%>
          <% end %>
          <td class="col-3"><%= student_text %> </td>
          <% @subjects.each do |subject| %>
            <% @exam_groups.each do |eg| %>
              <% if @report_type=="internal_and_external" %>
                <td class="col-3"><%= @report_hash[student.id].present?? @report_hash[student.id][subject.id.to_s].present?? @report_hash[student.id][subject.id.to_s][eg.icse_exam_category_id.to_s].present?? @report_hash[student.id][subject.id.to_s][eg.icse_exam_category_id.to_s]["ia_mark"] : "-" : "-" : "-" %></td>
                <td class="col-3"><%= @report_hash[student.id].present?? @report_hash[student.id][subject.id.to_s].present?? @report_hash[student.id][subject.id.to_s][eg.icse_exam_category_id.to_s].present?? @report_hash[student.id][subject.id.to_s][eg.icse_exam_category_id.to_s]["ea_mark"] : "-" : "-" : "-" %></td>
                <td class="col-3"><%= @report_hash[student.id].present?? @report_hash[student.id][subject.id.to_s].present?? @report_hash[student.id][subject.id.to_s][eg.icse_exam_category_id.to_s].present?? @report_hash[student.id][subject.id.to_s][eg.icse_exam_category_id.to_s]["total_score"] : "-" : "-" : "-"%></td>
              <% elsif @report_type=="internal" %>
                <td colspan='<%= exam_group_count==1? 6 : 3 %>' class="col-3"><%= @report_hash[student.id].present?? @report_hash[student.id][subject.id.to_s].present?? @report_hash[student.id][subject.id.to_s][eg.icse_exam_category_id.to_s].present?? @report_hash[student.id][subject.id.to_s][eg.icse_exam_category_id.to_s]["ia_mark"] : "-" : "-" : "-"%></td>
              <% elsif @report_type=="external" %>
                <td colspan='<%= exam_group_count==1? 6 : 3 %>' class="col-3"><%= @report_hash[student.id].present?? @report_hash[student.id][subject.id.to_s].present?? @report_hash[student.id][subject.id.to_s][eg.icse_exam_category_id.to_s].present?? @report_hash[student.id][subject.id.to_s][eg.icse_exam_category_id.to_s]["ea_mark"] : "-" : "-" : "-" %></td>
              <% elsif @report_type=="total" %>
                <td colspan='<%= exam_group_count==1? 6 : 3 %>' class="col-3"><%= @report_hash[student.id].present?? @report_hash[student.id][subject.id.to_s].present?? @report_hash[student.id][subject.id.to_s][eg.icse_exam_category_id.to_s].present?? @report_hash[student.id][subject.id.to_s][eg.icse_exam_category_id.to_s]["total_score"] : "-" : "-" : "-" %></td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>


    <% else %>
      <tr class="tr-head">
        <td>No reports found for the search</td>
      </tr>
    <% end %>
  </table>
</div>
<%  if @students.present? and @report_hash.present?%>
  <div class="button">
    <div class="pdf-button">
      <%= link_to "► CSV Report", {:controller => "icse_reports", :action => "consolidated_report_csv",:batch_id=>params[:subject_report][:batch_id],:student_category_id=>params[:subject_report][:student_category_id],:gender=>params[:subject_report][:gender],:report_type=>params[:subject_report][:report_type],:exam_group_id=>params[:subject_report][:exam_group_id]},:target => '_blank' %>
    </div>
  </div>
<% end %>
