<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% unless @batches.blank? %>
  <ul id="category-list">
    <li class="listheading">
      <div class="heading-name">Select Batches</div>
      <div class="heading-edit">
      </div>
    </li>
    <% @batches.each do |b| %>
      <li class="list<%=cycle('odd', 'even')%>">
        <label>
          <div class="category-edit">
            <%= check_box_tag "course[batch_ids][]", b.id, false%>
          </div>
          <div class="category-name icse_case">
            <%= "#{b.full_name}" %>
          </div>
        </label>
      </li>
    <% end %>
  </ul>
  <%= submit_tag "", :value => "► #{t('generate_text')}", :class => "submit-button", :disable_with => "► #{t('please_wait')}" %>
<% else %>
  <ul id="category-list">
    <li class="listheading">
      <div class="heading-name">No Batches</div>
      <div class="heading-edit">
      </div>
    </li>
  </ul>
<% end %>
