<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div class="info">
  <div class="info-left">
    <div class="info1">
      <label class="field-label">Name</label>: <label class="infolbl themed_text"> <%= @student.full_name %></label>
    </div>
    <div class="info1">
      <label class="field-label"><%=t('course')%></label>: <label class="infolbl themed_text"> <%= @batch.course.full_name %></label>
    </div>
    <% if roll_number_enabled? %>
      <div class="info1">
        <label class="field-label"><%= t('roll_no')%></label>: <label class="infolbl themed_text"> <%=  @student.roll_number.present? ? @student.roll_number : "-" %></label>
      </div>
    <% end %>
  </div>
  <div class="info-right">
    <div class="info1">
      <label class="field-label">Adm No.</label>: <label class="infolbl themed_text"> <%= @student.admission_no.present? ? @student.admission_no : "-" %></label>
    </div>
    <div class="info1">
      <label class="field-label">Batch</label>: <label class="infolbl themed_text"> <%= @batch.name %></label>
    </div>
  </div>
</div>
<div id="score-table">
  <div class="custom_header">
    Overall Report
  </div>
  <table id="listing" width="100%">
    <% if @exam_groups.empty? %>
      <tr class="tr-head">
        <td>No Exams </td></tr>
    <% else %>
      <tr class="tr-head">
        <td>Sl no</td>
        <td></td>
        <% @exam_groups.each do |eg| %>
          <td colspan="3"><%= eg.icse_exam_category.name %></td>
        <% end %>
      </tr>
      <tr class="tr-head">
        <td></td>
        <td>Subjects</td>
        <% @exam_groups.each_with_index do |eg,i| %>
          <% if eg.icse_exam_category.is_detailed_report? %>
            <td><%= "IA" %></td>
            <td><%= "EA" %></td>
            <td><%= "Total" %></td>
          <% else %>
            <td colspan="3"><%= "Total" %></td>
          <% end %>
        <% end %>
      </tr>
      <% @subjects.each_with_index do |s,i| %>
        <tr class="center tr-<%= cycle('odd', 'even') %>">
          <td><%= i+1 %></td>
          <td class="left-aligned"><%= s.name %></td>
          <% @exam_groups.each do |eg|%>
            <% icse_weightage= s.icse_weightages.select{|w| w.icse_exam_category_id == eg.icse_exam_category_id}.first %>
            <% grade_type=icse_weightage.grade_type if icse_weightage.present? %>
            <% unless grade_type=="Mark" %>
              <% @grade_show=true %>
            <% end %>
            <% if grade_type=="Mark" or grade_type=="GradeAndMark"%>
              <% @total_show=true %>
            <% end %>
            <% if icse_weightage.present? and icse_weightage.is_co_curricular?%>
              <% if eg.icse_exam_category.is_detailed_report? %>
                <td><%=@score_hash[s.id.to_s].present?? @score_hash[s.id.to_s][eg.icse_exam_category_id.to_s].present?? to_grade_icse(@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["ia_score"].to_f,@grading_level_list,icse_weightage.grade_type,@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["ia_mark"]) : "-" : "-"  %></td>
                <td>-</td>
                <td><%=@score_hash[s.id.to_s].present?? @score_hash[s.id.to_s][eg.icse_exam_category_id.to_s].present?? to_grade_icse(@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["total_score"].to_f,@grading_level_list,icse_weightage.grade_type,@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["total_score"]) : "-" : "-"  %></td>
              <% else %>
                <td colspan="3"><%=@score_hash[s.id.to_s].present?? @score_hash[s.id.to_s][eg.icse_exam_category_id.to_s].present?? to_grade_icse(@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["total_score"].to_f,@grading_level_list,icse_weightage.grade_type,@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["total_score"]) : "-" : "-"  %></td>
              <% end %>
            <% elsif icse_weightage.present?%>
              <% if eg.icse_exam_category.is_detailed_report? %>
                <td><%=@score_hash[s.id.to_s].present?? @score_hash[s.id.to_s][eg.icse_exam_category_id.to_s].present?? to_grade_icse(@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["ia_score"].to_f,@grading_level_list,icse_weightage.grade_type,@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["ia_mark"]) : "-" : "-"  %></td>
                <td><%=@score_hash[s.id.to_s].present?? @score_hash[s.id.to_s][eg.icse_exam_category_id.to_s].present?? to_grade_icse(@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["ea_score"].to_f,@grading_level_list,icse_weightage.grade_type,@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["ea_mark"]) : "-" : "-"  %></td>
                <td><%=@score_hash[s.id.to_s].present?? @score_hash[s.id.to_s][eg.icse_exam_category_id.to_s].present?? to_grade_icse(@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["total_score"].to_f,@grading_level_list,icse_weightage.grade_type,@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["total_score"]) : "-" : "-"  %></td>
              <% else %>
                <td colspan="3"><%=@score_hash[s.id.to_s].present?? @score_hash[s.id.to_s][eg.icse_exam_category_id.to_s].present?? to_grade_icse(@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["total_score"].to_f,@grading_level_list,icse_weightage.grade_type,@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["total_score"]) : "-" : "-"  %></td>
              <% end %>
            <% else %>
              <% if eg.icse_exam_category.is_detailed_report? %>
                <td><%=@score_hash[s.id.to_s].present?? @score_hash[s.id.to_s][eg.icse_exam_category_id.to_s].present?? precision_label(@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["ia_mark"]) : "-" : "-"  %></td>
                <td><%=@score_hash[s.id.to_s].present?? @score_hash[s.id.to_s][eg.icse_exam_category_id.to_s].present?? precision_label(@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["ea_mark"]) : "-" : "-"  %></td>
                <td><%=@score_hash[s.id.to_s].present?? @score_hash[s.id.to_s][eg.icse_exam_category_id.to_s].present?? precision_label(@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["total_score"]) : "-" : "-"  %></td>
              <% else %>
                <td colspan="3"><%=@score_hash[s.id.to_s].present?? @score_hash[s.id.to_s][eg.icse_exam_category_id.to_s].present?? precision_label(@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["total_score"]) : "-" : "-"  %></td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<% if @total_show %>
  <div id="score-table">
    <div class="custom_header">
      Overall Details
    </div>
    <table id="listing" width="100%">
      <tr class="tr-head">
        <td></td>
        <% @exam_groups.each do |eg| %>
          <td><%= eg.icse_exam_category.name %></td>
        <% end %>
      </tr>
      <tr class="center tr-<%= cycle('odd', 'even') %>">
        <td>Total</td>
        <% @exam_groups.each do |eg| %>
          <td><%= @total_score_details[eg.id].present? ? @total_score_details[eg.id][:total_score] : "-" %></td>
        <% end %>
      </tr>
      <tr class="center tr-<%= cycle('odd', 'even') %>">
        <td>Percentage</td>
        <% @exam_groups.each do |eg| %>
          <td><%= @total_score_details[eg.id].present? ? @total_score_details[eg.id][:percentage] : "-" %></td>
        <% end %>
      </tr>
    </table>
  </div>
<% end %>

<div id="score-table">
  <div class="custom_header">
    Attendance Report
  </div>
  <table id="listing" width="100%">
    <% if @exam_groups.empty? %>
      <tr class="tr-head">
        <td>No Reports </td></tr>
    <% else %>
      <tr class="tr-head">
        <% @exam_groups.each do |eg| %>
          <td colspan="3"><%= eg.icse_exam_category.name %></td>
        <% end %>
      </tr>

      <tr class="center tr-<%= cycle('odd', 'even') %>">
        <% @exam_groups.each do |eg| %>
          <td colspan="3"><%="#{@attendance_hash[eg.id]["leaves"]}/#{@attendance_hash[eg.id]["academic_days"]} (#{precision_label(@attendance_hash[eg.id]["percent"].to_f)}%)"%></td>
        <% end %>
      </tr>
    <% end %>

  </table>
</div>
<%=generate_common_remark_section("icse_student_wise_general",@student_id,nil,@batch.id,{:batch_id=>@batch.id,:student_id=>@student_id})%>
<div class="extender" style="height:20px"></div>
<% if @grade_show  %>
  <div id="score-table">
    <div class="custom_header">
      Grading Levels
    </div>
    <table id="listing" width="100%">
      <% if @grading_levels.empty? %>
        <tr class="tr-head">
          <td>No Reports </td>
        </tr>
      <% else %>
        <tr class="tr-head">
          <td>Grade</td>
          <td>Minimum score</td>
          <td>Description</td>
          <td>Grade</td>
          <td>Minimum score</td>
          <td>Description</td>
        </tr>
        <% @grading_levels.each_with_index do |gl,i| %>
          <% if i%2==0 %>
            <tr class="center tr-<%= cycle('odd', 'even') %>">
            <% end %>
            <td class="col-5"><%= gl.name %></td>
            <td class="col-5"><%= gl.min_score %></td>
            <td><%= gl.description%></td>
            <%if (@grading_levels.count-1 == i) and (i%2==0)%>
              <td class="col-5"></td>
              <td class="col-5"></td>
              <td></td>
            <%end%>
            <% if i%2==1 %>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </table>
  </div>
<% end %>
<% if @exam_groups.present? %>
  <div id = "button">
    <%= link_to "► PDF Report",{:action=>"student_report_pdf",:student_id=>@student.id_in_context,:batch_id=>@batch.id,:type=>@type},:target => '_blank', :class=> 'user_button' %>
    <%= link_to "► CSV Report", {:action=>"student_report_csv",:student_id=>@student.id_in_context,:batch_id=>@batch.id,:type=>@type},:target => '_blank', :class=> 'user_button' %>
  </div>
<% end %>
