<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<% content_for :head do  %>
  <%= stylesheet_link_tag 'exam/index.css' %>
<% end %>
<div id="content-header">
  <%= show_header_icon %>
  <h1>ICSE Reports</h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'>Home</div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="box">

    <% if Configuration.find_by_config_key("ICSE").config_value=="1" %>
      <%  if can_access_request? :generate_reports ,@current_user,:context=> :icse_reports %>
        <div class="link-box">
          <div class="link-heading"><%= link_to "Generate Reports",:action=>'generate_reports' %></div>
          <div class="link-descr">Generate ICSE Exam Report from the entered score </div>
        </div>
      <% end %>
      <%  if can_access_request? :student_wise_report ,@current_user,:context=> :icse_reports %>
        <div class="link-box">
          <div class="link-heading"><%= link_to "Student-wise Report",:action=>'student_wise_report' %></div>
          <div class="link-descr">View student-wise report </div>
        </div>
      <%end%>
      <%  if can_access_request? :subject_wise_report ,@current_user,:context=> :icse_reports %>
        <div class="link-box">
          <div class="link-heading"><%= link_to "Subject-wise Report",:action=>'subject_wise_report' %></div>
          <div class="link-descr">View subject-wise report </div>
        </div>
      <%end%>
      <%  if can_access_request? :consolidated_report ,@current_user,:context=> :icse_reports %>
        <div class="link-box">
          <div class="link-heading"><%= link_to "Consolidated Report",:action=>'consolidated_report' %></div>
          <div class="link-descr">View consolidated report </div>
        </div>
      <%end%>
      <%if can_access_request? :previous_batch_exam_reports,@current_user,:context=>:icse_reports%>
        <div class="link-box">
          <div class="link-heading"><%= link_to "Previous Batch Exam Report" ,:action=>'previous_batch_exam_reports' %></div>
          <div class="link-descr">View previous batch exam report</div>
        </div>
      <%end%>
    <% end %>
    <div class="extender"></div>
  </div>
</div>

