<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<% content_for :head do %>
  <% if rtl? %>
    <%= stylesheet_link_tag 'rtl/icse_reports/student_report_pdf.css' ,:media=>"all"%>
  <%else %>
    <%= stylesheet_link_tag 'icse_reports/student_report_pdf.css' ,:media=>"all"%>
  <% end %>
<% end %>

<% e = 'even' %>
<div id="page-yield" class="available_sections">
    <%if @report_details["ReportHeader"] == "0"%>
      <div class="header">
          <span class="logo header_parts">
              <%if current_school_detail.logo.present?%>
                <%= wicked_pdf_image_tag current_school_detail.logo,:s3=>true,:style=>:original,:timestamp=>false %>
              <%else%>
                <img  alt="Dummy Logo" src="<%=Rails.root.join('public','images','application','dummy_logo.png')%>" ></img>
              <%end%>
          </span>
          <span class="header-content header_parts">
              <p id="school-name"><%=Configuration.get_config_value('InstitutionName'); %></p>
              <p class="institution_address"><%=Configuration.get_config_value('InstitutionAddress'); %></p>
          </span>
      </div>
    <%else%>
      <div style="height:<%=@report_details["HeaderSpace"].to_i%>mm"></div>
    <%end%>
    <div class="section">
        <div class="hor_line"></div>
        <h2>STUDENT REPORT</h2>
        <div class="hor_line"></div>
        <div class="extender"> </div>
        <div class="info">
            <div class="info-left">
                <%[1,3,5,7].each do |i|%>
                  <%display_text = IcseReportSetting.get_display_text(@report_details["StudentDetail#{i}"])%>
                  <%unless display_text == ""%>
                    <div class="info1">
                        <label class="field-label"><%=display_text%></label><span class="colon">:</span><label class="infolbl"> <%= IcseReportSetting.get_display_value(@report_details["StudentDetail#{i}"],@student) %></label>
                    </div>
                  <%end%>
                <%end%>
            </div>
            <div class="info-right">
                <%[2,4,6,8].each do |i|%>
                  <%display_text = IcseReportSetting.get_display_text(@report_details["StudentDetail#{i}"])%>
                  <%unless display_text == ""%>
                    <div class="info1">
                        <label class="field-label"><%=display_text%></label><span class="colon">:</span><label class="infolbl"> <%= IcseReportSetting.get_display_value(@report_details["StudentDetail#{i}"],@student) %></label>
                    </div>
                  <%end%>
                <%end%>
            </div>
        </div>
    </div>
    <div  class="section2">
        <div id="score-table">
            <table id="pdf-table" width="100%" cellspacing="0">
                <% if @exam_groups.empty? %>
                  <tr class="tr-head">
                      <td>No Exams </td></tr>
                <% else %>
                  <thead>
                      <tr class="table-header">
                          <td class="sl_no" rowspan="2">Sl No</td>
                          <td rowspan="2">Subjects</td>
                          <% @exam_groups.each do |eg| %>
                            <% if eg.icse_exam_category.is_detailed_report? %>
                              <td colspan="3"><%= eg.icse_exam_category.name %></td>
                            <% else %>
                              <td><%= eg.icse_exam_category.name %></td>
                            <% end %>
                          <% end %>
                      </tr>
                      <tr class="table-header">
                          <% @exam_groups.each_with_index do |eg,i| %>
                            <% if eg.icse_exam_category.is_detailed_report? %>
                              <td><%= "IA" %></td>
                              <td><%= "EA" %></td>
                              <td><%= "Total" %></td>
                            <% else %>
                              <td><%= "Total" %></td>
                            <% end %>
                          <% end %>
                      </tr>
                  </thead>
                  <%i=0%>
                  <% @subjects.each do |s| %>
                    <tr class="<%= cycle(e,(["odd","even"]-[e]).first) %>">
                        <td class="sl_no"><%= i+1 %></td>
                        <td class="subject"><%= s.name %></td>
                        <% @exam_groups.each do |eg|%>
                          <% icse_weightage= s.icse_weightages.select{|w| w.icse_exam_category_id == eg.icse_exam_category_id}.first %>
                          <% grade_type=icse_weightage.grade_type if icse_weightage.present? %>
                          <% unless grade_type=="Mark" %>
                            <% @grade_show=true %>
                          <% end %>
                          <% if grade_type=="Mark" or grade_type=="GradeAndMark"%>
                            <% @total_show=true %>
                          <% end %>
                          <% if icse_weightage.present? and icse_weightage.is_co_curricular?%>
                            <% if eg.icse_exam_category.is_detailed_report? %>
                              <td><%=@score_hash[s.id.to_s].present?? @score_hash[s.id.to_s][eg.icse_exam_category_id.to_s].present?? to_grade_icse(@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["ia_score"].to_f,@grading_level_list,icse_weightage.grade_type,@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["ia_mark"]) : "-" : "-"  %></td>
                              <td>-</td>
                              <td><%=@score_hash[s.id.to_s].present?? @score_hash[s.id.to_s][eg.icse_exam_category_id.to_s].present?? to_grade_icse(@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["total_score"].to_f,@grading_level_list,icse_weightage.grade_type,@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["total_score"]) : "-" : "-"  %></td>
                            <% else %>
                              <td><%=@score_hash[s.id.to_s].present?? @score_hash[s.id.to_s][eg.icse_exam_category_id.to_s].present?? to_grade_icse(@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["total_score"].to_f,@grading_level_list,icse_weightage.grade_type,@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["total_score"]) : "-" : "-"  %></td>
                            <% end %>
                          <% elsif icse_weightage.present?%>
                            <% if eg.icse_exam_category.is_detailed_report? %>
                              <td><%=@score_hash[s.id.to_s].present?? @score_hash[s.id.to_s][eg.icse_exam_category_id.to_s].present?? to_grade_icse(@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["ia_score"].to_f,@grading_level_list,icse_weightage.grade_type,@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["ia_mark"]) : "-" : "-"  %></td>
                              <td><%=@score_hash[s.id.to_s].present?? @score_hash[s.id.to_s][eg.icse_exam_category_id.to_s].present?? to_grade_icse(@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["ea_score"].to_f,@grading_level_list,icse_weightage.grade_type,@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["ea_mark"]) : "-" : "-"  %></td>
                              <td><%=@score_hash[s.id.to_s].present?? @score_hash[s.id.to_s][eg.icse_exam_category_id.to_s].present?? to_grade_icse(@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["total_score"].to_f,@grading_level_list,icse_weightage.grade_type,@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["total_score"]) : "-" : "-"  %></td>
                            <% else %>
                              <td><%=@score_hash[s.id.to_s].present?? @score_hash[s.id.to_s][eg.icse_exam_category_id.to_s].present?? to_grade_icse(@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["total_score"].to_f,@grading_level_list,icse_weightage.grade_type,@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["total_score"]) : "-" : "-"  %></td>
                            <% end %>
                          <% else %>
                            <% if eg.icse_exam_category.is_detailed_report? %>
                              <td><%=@score_hash[s.id.to_s].present?? @score_hash[s.id.to_s][eg.icse_exam_category_id.to_s].present?? precision_label(@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["ia_mark"]) : "-" : "-"  %></td>
                              <td><%=@score_hash[s.id.to_s].present?? @score_hash[s.id.to_s][eg.icse_exam_category_id.to_s].present?? precision_label(@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["ea_mark"]) : "-" : "-"  %></td>
                              <td><%=@score_hash[s.id.to_s].present?? @score_hash[s.id.to_s][eg.icse_exam_category_id.to_s].present?? precision_label(@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["total_score"]) : "-" : "-"  %></td>
                            <% else %>
                              <td><%=@score_hash[s.id.to_s].present?? @score_hash[s.id.to_s][eg.icse_exam_category_id.to_s].present?? precision_label(@score_hash[s.id.to_s][eg.icse_exam_category_id.to_s]["total_score"]) : "-" : "-"  %></td>
                            <% end %>
                          <% end %>
                        <% end %>
                    </tr>
                    <%i+=1%>
                  <% end %>
                  <% if @total_show %>
                    <tr class="<%= cycle(e,(["odd","even"]-[e]).first) %>">
                        <td class="sl_no"><%= i+1 %></td>
                        <td class="left_bold">Total</td>
                        <% @exam_groups.each do |eg| %>
                          <td colspan="<%=eg.icse_exam_category.is_detailed_report? ? 3 : 1%>" class="right_bold"><%= @total_score_details[eg.id].present? ? @total_score_details[eg.id][:total_score] : "-" %></td>
                        <% end %>
                    </tr>
                    <%i+=1%>
                    <tr class="<%= cycle(e,(["odd","even"]-[e]).first) %>">
                        <td class="sl_no"><%= i+1 %></td>
                        <td class="left_bold">Percentage</td>
                        <% @exam_groups.each do |eg| %>
                          <td colspan="<%=eg.icse_exam_category.is_detailed_report? ? 3 : 1%>" class="right_bold"><%= @total_score_details[eg.id].present? ? @total_score_details[eg.id][:percentage] : "-"  %></td>
                        <% end %>
                    </tr>
                  <%end%>
                  <%i+=1%>
                  <tr class="<%= cycle(e,(["odd","even"]-[e]).first) %>">
                      <td class="sl_no"><%= i+1 %></td>
                      <td class="left_bold">Attendance</td>
                      <% @exam_groups.each do |eg| %>
                        <td colspan="<%=eg.icse_exam_category.is_detailed_report? ? 3 : 1%>" class="right_bold"><%="#{@attendance_hash[eg.id]["leaves"]}/#{@attendance_hash[eg.id]["academic_days"]} (#{precision_label(@attendance_hash[eg.id]["percent"].to_f)}%)"%></td>
                      <% end %>
                  </tr>
                <% end %>
            </table>

        </div>
    </div>

    <%if @remarks.present?%>
      <div class="custom_header">
          <h3>
              <%= t('remarks_text') %>
          </h3>
      </div>
      <table id="pdf-table" width="100%" cellspacing="0" style="margin-bottom: 5px;">
          <%@remarks.reverse.each do |val|%>
            <tr class="<%= cycle(e,(["odd","even"]-[e]).first) %>">
                <td class="remarks_value"><%= val.remarked_by.present? ? val.remarked_by : '-' %></td>
                <td class="remarks_data"><%=val.remark_body.present? ? val.remark_body.strip.gsub(/\n/, "<br/>") : '-'%></td>
            </tr>
          <%end%>
      </table>
    <%end%>


    <%if @report_details["GradingLevel"] == "0" and @report_details["GradingLevelPosition"] == "0"%>
      <div class="wrapper">
          <div class="custom_header">
              <h3>
                  Grading Level
              </h3>
          </div>
          <% if @grade_show %>
            <div class="section">
                <div id="score-table">
                    <table id="pdf-table" width="100%" cellspacing="0">
                        <% if @grading_levels.empty? %>
                          <tr class="table-header">
                              <td>No grading levels </td></tr>
                        <% else %>
                          <tr>
                              <% @grading_levels.each_with_index do |gl,i| %>
                                <td class="col-5"><%= gl.name %></td>
                              <%end%>
                          </tr>
                          <tr>
                              <% m = nil %>
                              <% @grading_levels.each_with_index do |gl,i| %>
                                <td class="col-5"><%="#{gl.min_score}"%><%= m.present? ? " - #{(m-1)}" : " - 100"  %> <% m = gl.min_score %></td>
                              <%end%>
                          </tr>
                          <tr>
                              <% @grading_levels.each_with_index do |gl,i| %>
                                <td><%= gl.description%></td>
                              <%end%>
                          </tr>
                        <%end%>
                    </table>
                </div>
            </div>
          <% end %>
      </div>
    <%end%>

    <%if @report_details["Signature"] == "0"%>
      <div class="wrapper">

          <div class="footer">
              <div id="pdf-footer">
                  <span class="signature push_left"><%= @report_details["SignLeftText"] %></span>
                  <span class="signature"><%= @report_details["SignCenterText"] %></span>
                  <span class="signature push_right"><%= @report_details["SignRightText"] %></span>
              </div>
          </div>
      </div>
    <%end%>

    <%if @report_details["GradingLevel"] == "0" and @report_details["GradingLevelPosition"] == "1"%>
      <div class="wrapper">
          <div class="custom_header">
              <h3 class="add_top_margin">
                  Grading Level
              </h3>
          </div>
          <% if @grade_show %>
            <div class="section">
                <div id="score-table">
                    <table id="pdf-table" width="100%" cellspacing="0">
                        <% if @grading_levels.empty? %>
                          <tr class="table-header">
                              <td>No grading levels </td></tr>
                        <% else %>
                          <tr>
                              <% @grading_levels.each_with_index do |gl,i| %>
                                <td class="col-5"><%= gl.name %></td>
                              <%end%>
                          </tr>
                          <tr>
                              <% m = nil %>
                              <% @grading_levels.each_with_index do |gl,i| %>
                                <td class="col-5"><%="#{gl.min_score}"%><%= m.present? ? " - #{(m-1)}" : " - 100"  %> <% m = gl.min_score %></td>
                              <%end%>
                          </tr>
                          <tr>
                              <% @grading_levels.each_with_index do |gl,i| %>
                                <td><%= gl.description%></td>
                              <%end%>
                          </tr>
                        <%end%>
                    </table>
                </div>
            </div>
          <% end %>
      </div>
    <%end%>
</div>