<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1>ICSE Reports</h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'>Student-wise Report</div>
  <div id="inner-tab-menu">
    <ul>
    </ul>
  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs %>
  </div>
  <div id="hider">
    <% unless flash[:notice].nil? %>
      <p id="flash-msg"class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
  </div>
  <div class="label-field-pair">
    <label for="batch_id"><%= t('select_a_batch') %></label>
    <%= image_tag("loader.gif",
      :align => "absmiddle",
      :border => 0,
      :id => "loader",
      :style =>"margin-left:-12px;margin-top:8px;display: none;" ) %>
    <div class="text-input-bg margin-left-10">
      <%= select :batch, :batch_id,
        @batches.map {|b| [b.full_name, b.id]},
        {:prompt => "#{t('select_a_batch')}"},
        {:onChange => "#{remote_function(:url => {:action => "generate_student_wise_report"},
        :with => "'batch_id='+ value",
        :before => "Element.show('loader')",
        :success => "Element.hide('loader')"
        )}"} %>
    </div>
  </div>
  <div id="flash"></div>
  <div class="content_student_report">
    <div id="student_list">
      <%= render  :partial=>"student_list" %>
    </div>
    <div id="report"></div>
  </div>
</div>

<script type="text/javascript">
  function completeReq1(elm){
    var onclick_attr=j(elm).attr('onclick');
    j(elm).attr('onclick','ss'+onclick_attr);
    var onclick_attr=j(elm).attr('onclick');

    new Ajax.Request('/remarks/add_remarks',{
      parameters:'student_id='+elm.getAttribute('student_id')+'&target_name='+elm.getAttribute('target_name')+'&params_hash='+elm.getAttribute('params_hash')+'&page='+elm.getAttribute('page')+'&load_object_id='+elm.getAttribute('load_object_id'),
      asynchronous:true,
      evalScripts:true,
      method:'get',
      onComplete:function(resp){
        j(elm).parent().append(resp.responseText)
        j(elm).hide();
        if (j('#remark_remark_body').size()>0){

          j('#remark_remark_body').focus();


        }

      }
    });

  }
</script>
