<div id="content-header">
  <%= show_header_icon %>
  <h1>ICSE Reports</h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'>Subject-wise Report</div>
  <div id="inner-tab-menu">
    <ul>
    </ul>
  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs %>
  </div>
  <div id="hider">
    <% unless flash[:notice].nil? %>
      <p id="flash-msg"class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
  </div>
  <% remote_form_for :subject_report ,:url=>{:action=>'subject_wise_generated_report'} ,:loading => "$('loading').show();", :loaded => "$('loading').hide();" do |f| %>
    <div class="label-field-pair1">
      <div class="label-field-pair">
        <label for="batch_id"><%= "#{t('select_course')}" %></label>
        <div class="text-input-bg margin-left-10">
          <%= select :subject_report, :course_id,
            @courses.map {|c| [c.full_name, c.id]},
            {:prompt => "#{t('select_a_course')}"},
            {:onChange => "#{remote_function(:url => {:action => "list_batches"},:method=>"GET",
            :with => "'course_id='+ value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')"
            )}"} %><%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader",
            :style =>"display: none;" ) %>
        </div>
      </div>
      <div id ="batch_select">
        <div class="label-field-pair2">
          <label for="batch_id">Select Batch</label>
          <div  class="text-input-bg2" id="exam-group-select">
            <%= f.select :batch_id, @batches.map{|exam| [exam.name,exam.id]},:prompt=> "Select Batch" %>
          </div>
        </div>
      </div>
    </div>
    <div class="label-field-pair1">
      <div id="subject_select">
        <div class="label-field-pair">
          <label for="subject_id">Select Subject</label>
          <div  class="text-input-bg" id="exam-group-select">
            <%= f.select  :subject_id, @subjects.map{|a| [a,a]},:prompt=> "Select Subject" %>
          </div>
        </div>
      </div>
      <div id="exam_group_select">
        <div class="label-field-pair2">
          <label for="exam_category_id">Exam Group</label>
          <div  class="text-input-bg2" id="exam-group-select">
            <%= f.select :student_group_id,@exam_groups.map {|c| [c.name, c.id]}, { :prompt => "All" } %>
          </div>
        </div>
      </div>
      <div class="label-field-pair2">
        <label for="report_type">Report type</label>
        <div  class="text-input-bg2" id="exam-group-select">
          <%= f.select :report_type,@report_types.map {|c| [c.split("_").map{|s| s.capitalize}.join(" "),c]} %>
        </div>
      </div>
      <div class="label-field-pair2">
        <label for="student_category_id">Student Category</label>
        <div  class="text-input-bg2" id="exam-group-select">
          <%= f.select :student_category_id,@student_category.map {|c| [c.name, c.id]}, { :prompt => "All" } %>
        </div>
      </div>

      <div class="label-field-pair">
        <label for="gender">Gender</label>
        <div  class="text-input-bg" id="exam-group-select">
          <%= f.select :gender, [['All',''],['Male','m'],['Female','f']] %>
        </div>
      </div>
      <div class="submit_btn">
        <%= submit_tag "", :value => "► #{t('view')}", :class => "submit-button", :disable_with => "► #{t('please_wait')}" %>
        <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loading",
          :style =>"display: none;" ) %>
      </div>
    </div>
  <% end %>
  <div class="extender"></div>
</div>
<div id="report_table"></div>
