<ul>
    <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('create_exam_plan')}", {:controller => "assessment_plans", :action => "new", :academic_year_id => @academic_year.id} %></li>
</ul>