<% assessment_groups = term.assessment_groups.without_final %>
<div class="term_box">
    <div class="head">
        <div class="left">
            <%= term.name %>
        </div>
        <div class="right">
            <div class="duration">
                <%= term_duration(term) %>
            </div>
            <% if assessment_groups.present? %>
              <div class="add_link">
                  <%= link_to "#{t('add_exams')}", new_assessment_group_path({:parent_id => term.id, :parent_type => term.class.to_s}),:class=>'submit-button' %>
              </div>
            <%end%>
            <div class="actions">
                <div class="label-field-pair" id="status_filter">
                    <div class="text-input-bg">
                        <%#= link_to "#{t('actions')} &#9660;", '#' ,:onClick => 'showDrop(this)', :class => 'dropbtn submit-button', :drop_id => term.id%>
                        <div class="dropbtn submit-button" drop_id = '<%= term.id %>' onclick="showDrop(this)"><%= "#{t('actions')} &#9660;" %></div>
                    </div>
                    <div id="actionDropdown_<%=term.id%>" class="dropdown-content">
                        <% final_assessment = term.final_assessment %>
                        <% if final_assessment.present? %>
                          <%= link_to t('edit_final_term_assessment'), edit_final_term_assessment_group_path(final_assessment)  %>
                        <% else %>
                          <%= link_to t('add_final_term_assessment'), {:controller => 'assessment_groups',:action => 'final_term_assessment', :parent_id => term.id, :parent_type => 'AssessmentTerm'}  %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="desc <%='with_eg' if assessment_groups.present?%>">
        <% if assessment_groups.present? or final_assessment.present? %>
          <table align="center" width="100%" cellpadding="1" cellspacing="1">
              <tr class="tr-head">
                  <td class="col-2"><%= t('exams_text') %></td>
                  <td class="col-1"><%= t('exam_mode') %></td>
                  <td class="col-1"><%= t('scoring') %></td>
                  <td class="col-1 actions"><%= t('actions') %></td>
              </tr>
              <% assessment_groups.each do |ag|  %>
                <tr class="tr-<%= cycle('even', 'odd') %>">
                    <td><%= ag.name %></td>
                    <td><%= ag.exam_mode %></td>
                    <td><%= ag.score_type %></td>
                    <td class="action_td">
                        <%= link_to "#{t('edit_exam')}", edit_assessment_group_path(ag) %> 
                        <%= select_tag :group_action, options_for_select([["#{t('more')}",''],[t('delete_exam_group'),'delete']]),:onchange =>'show_confirm(this)', :assessment_group_id => ag.id, :id => "select_#{ag.id}"%>
                    </td>
                </tr>
              <% end %>
              <% if final_assessment.present? %>
                    <tr class="empty_row"><td colspan="4"></td></tr>
                    <tr class="tr-<%= cycle('even', 'odd') %> final_term">
                        <td class="col-2"><%= final_assessment.name %></td>
                        <td class="col-1"><%= final_assessment.exam_mode %></td>
                        <td class="col-1"><%= final_assessment.score_type %></td>
                        <td class="col-1 actions action_td">
                            <%= link_to "#{t('edit_exam')}", edit_final_term_assessment_group_path(final_assessment) %> 
                            <%= select_tag :group_action, options_for_select([["#{t('more')}",''],[t('delete_exam_group'),'delete']]),:onchange =>'show_confirm(this)', :assessment_group_id => final_assessment.id, :id => "select_#{final_assessment.id}"%>
                        </td>
                    </tr>
              <% end %>
          </table>
        <%else%>
          <div class="empty_terms">
              <div class="empty_msg">
                  <%= t('add_exam_desc') %>
              </div>
              <div class="add_link">
                  <%= link_to "#{t('add_exams')}", new_assessment_group_path({:parent_id => term.id, :parent_type => term.class.to_s}),:class=>'submit-button' %>
              </div>
          </div>
        <%end%>
    </div>
</div>
<script type="text/javascript">
    show_confirm = function(el){
    if(el.value == 'delete')
    j(el).prop('selectedIndex',0);
    make_popup_box(el, 'confirm', '<%= t('deleting_assessment_group_notice') %>'  ,{'ok' : '<%=t('delete_exam')%>', 'cancel' : '<%=t('cancel')%>', 'title' : '<%=t('delete_exam')%>', 'return_status' : true, 'popup_class' : 'remove_lt'}); return load_delete_method(el);
    }

    load_delete_method = function (el) {
    j('.submit-button#yes').on('click', function () {
    j.ajax({
    type: 'POST',
    url: '/assessment_plans/delete_assessment_group',
    data: {
    assessment_group_id: j(el).attr('assessment_group_id'),
    assessment_plan_id: <%= @plan.id %>
    },
    success: function (resp) {
    console.log(resp);
    }
    });
    })
    }

    show_warning_popup = function(ag_id){
    remove_popup_box();
    build_modal_box({title: '<%=t('delete_exam')%>', popup_class: 'deletion_warning'})
    j('.deletion_warning #popup_content').html("<%=t('cant_delete_assessment_group')%>");
    footer = j('.deletion_warning #popup_footer');
    ok = j('<div></div>', {
    'id' : 'yes',
    'class' : 'submit-button',
    'text' : '<%=t('ok')%>',
    'onclick' : 'remove_popup_box()'
    });

    footer.append(ok);
    }

    term_actions = function(el){
    switch(el.value) {
    case 'add_final_term':
    term_id = j(el).attr('term_id')

    break;
    }
    }

    function showDrop(el){
      drop_id = j(el).attr('drop_id')
      console.log(drop_id)
      document.getElementById('actionDropdown_'+drop_id).classList.toggle("show");
    }
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    

</script>