<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('gradebook') %><%= beta_header %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('exam_planner') %></div>
    <div id="inner-tab-menu">
        <%= render :partial => 'planner_create_link' %>
    </div>
</div>

<div id="page-yield">
    <div class="bread_crumb">
        <% breadcrumb :assessment_plans_index %>
        <%= render_breadcrumbs %>
        <div class="text-input-bg">
            <%= select_tag "academic_year[year_id]", 
              options_for_select(@academic_years.map{|ay| [ay.name,ay.id]}, @academic_year.try(:id)||'') ,
              :onchange => "#{remote_function(:url => {:action => "change_academic_year"},:with => "'id='+value")}" %>
        </div>
    </div>

    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>

    <div class="assessment_plans_box" id="assessment_plans_listing">
        <%= render :partial => 'assessment_plans_list' %>
    </div>
</div>