
#submit-button input {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    margin-left:271px;
    margin-top:30px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
}
input#upload_datafile{
    height:30px;
}
form{
    margin:0px auto;
}
.box{
    margin: 0 auto;
    width: 560px;
}
.label-field-pair label{
    width: 240px !important;
}
.fee_category_scroll {
    -moz-background-inline-policy:continuous;
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-background-inline-policy:continuous;
    -webkit-border-radius:10px 10px 10px 10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height: 114px;
    margin-left:250px;
    margin-top:-30px;
    max-height: 129px;
    overflow:auto;
    padding:7px;
    width:200px;
    margin-bottom:12px
}
.sel-list {
    border-bottom:1px solid #DDDDDD;
    margin-bottom:2px;
    width:197px;
}
.each_batch {
    border-bottom:1px solid #DDDDDD;
    font-size:12px;
    overflow:auto;
    width:198px;
}
.label-field-pair {
    overflow: hidden;
    height: auto;
    margin-bottom: 10px;
}
.text-input-bg{
    height: auto;
    overflow: hidden;
}
.checkbox-input-bg {
    background : transparent;
    height : 28px;
    width : 250px;
    float:left;
    padding-top: 10px;
}
#school_detail_school_logo {
    height: 26px;
}
.text-input-bg select option {
    height:20px;
}
#session_setting{
    float: left;
}
.session_sub label{
    width: 210px !important;
    padding-left: 30px;
    font-weight: normal;
}
span.help_info {
    width: 12px;
    height: 20px;
    display: block;
    float: right;
    padding-top: 3px;
    margin-top: 5px;
    background: url(/images/iconsprite-1.png);
    background-position: -64px -78px;
}
.receipt_mode .tooltip_wrapper{
    position: absolute;
    margin-top: -32px;
    width: 250px;
}
.receipt_mode .tooltip_wrapper .tooltip_info{    
    width: 200px !important;
    left: 139px !important;
}