

.by_average {
    width: 830px;
    height: 150px;
    border: solid 1px #cccccc;
    background-color: #f0f0f0;
    margin-top: 45px;
}

.by_credit_hours{
    width: 830px;
    height: 150px;
    border: solid 1px #cccccc;
    margin-top: 35px;
    background-color: #f0f0f0;
}

.label_field_pair{
    margin-top: 30px;
    width: 400px;
    float:left;

}


.by_credit_hours input, .by_average input{
    margin-left: 35px;
}

label{
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    float: left;
}

.average_example{
    font-size: 12px;
    margin-top: 40px;
    float:right;
    margin-right: 15px;

}

.credit_hour_example{
    font-size: 12px;
    margin-top: 40px;
    float: right;
    margin-right: 15px;
}
a {
    text-decoration: none;

}
.submit_button {
    margin-top:30px;
    margin-left:0px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}

.formula{
    color: #666666;
    margin-top: 68px;
}

.numerator{
    margin-left: 63px;
    width: 668px;
    font-size: 13px;
    padding-bottom: 5px;
}

.denominator{
    margin-left: 145px;
    font-size: 13px;
    padding-top: 5px;
}



.by_credit_hours .denominator{
    margin-left: 66px;
}

table{
    border-top: solid 1px #a3a3a3;
    border-left: solid 1px #a3a3a3;
    font-size: 13px;
    background-color: #f0f0f0;
    width: 675px;
    border-collapse:collapse

}

td{
    border-right: solid 1px #a3a3a3;
    border-bottom: solid 1px #a3a3a3;
    padding: 5px;

}

.header{
    font-weight: bold;
}

.cgpas{
    font-size: 13px;
}
.batch-wise{
    width: auto;
    padding-top:10px;
}

.course-wise{
    float:right;
    width:auto;
    padding-top: 10px;
}

#MB_frame #MB_header {
    border-bottom: 0px solid #CCCCCC;
    height: 30px;
}

#batch{
    margin-top: 65px;
}

.title{
    float: left;
    width:auto;

}

.val{
    float:left;
    font-weight: bold;
    font-size: 13px;
}

#MB_close{
    background: transparent !important;
    color: #a3a3a3 !important;
    outline: none;
}

#MB_window{
    margin-top: 10px;
}

#MB_frame{
    -webkit-border-radius: 0px;
}

#MB_content{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#MB_frame #MB_caption {
    margin-left: 20px;
    font-size: 17px;
}

#modal-box{
    margin-bottom: 40px;
}

h5 {
    margin-top: 35px;
    font-size: 14px;
}

.student_gender_value input{
    margin-top: 20px;
}
input[type="radio"] {
    float: left;
    margin-top: 1px !important;
}

a{
    outline: none;
}

.equ_line{
    width: 450px;
    font-size: 13px;
    margin-top: 15px;
    min-height: 14px;
}
.equ_line .title{
    min-width: 31px;
    margin-top:8px;
}

.title_total .numerator{
    margin-left: 3px;
    width: 200px;
    font-size: 13px;
    padding-bottom: 5px;
    border-bottom: solid 1px #000;
}
.title_total .denominator{
    margin-left: 42px;
    font-size: 13px;
    padding-top: 5px;
}
.title_total{
    float: left;
}
#example_img{
    float:left;
    margin-top: 25px;
}
.addl_style{
    float:left;
    margin-top: 25px;
    width:100%;
}
span:hover{
    cursor: pointer;
}
