<div class="plan_details_box">
    <% if @plan.present? %>
      <div class='header'>
          <span class="pull_left">
            <%="#{t('exam_planner')} : <b>#{@plan.name}</b>"%>
          </span>
          <span class="pull_right hollow_btn">
            <%= link_to t('generate_planner_report'), {:controller=>'assessment_reports', :action=> 'generate_planner_reports', :assessment_plan_id => @plan.id, :course_id => @course.id} %>
          </span>
      </div>
      <div class="plan_details_banner"><%= render :partial => 'plan_details_banner' %></div>
      <% if @plan.terms_count > 0 %>
        <div class='term_listing'>
            <% @plan.assessment_terms.each do |term| %>
              <% groups = term.assessment_groups.without_final %>
              <% report_present = term.has_report?(@course.id) %>
              <div class="term_box">
                  <div class="header">
                      <div class='left'><%=  term.name%></div>
                      <div class='right'>
                          <% if report_present or groups.present? %>
                            <div class="text-input-bg">
                                <div class="dropbtn submit-button" drop_id = '<%= term.id %>' onclick="showDrop(this)"><%= "#{t('actions')} &#9660;" %></div>
                            </div>
                            <div id="actionDropdown_<%=term.id%>" class="dropdown-content">
                                <% if report_present %>
                                  <%= link_to t('student_term_reports'), students_term_reports_assessment_reports_path(:term_id => term.id, :course_id => @course.id,:from_manage_exam=>true)  %>
                                <% end %>
                                <% if groups.present? %>
                                  <%= link_to t('generate_term_reports'), {:controller=>'assessment_reports', :action=> 'generate_term_reports', :term_id => term.id, :course_id => @course.id} %>
                                <% end %>
                            </div>
                          <% end %>
                      </div>
                  </div>
                  <div class="table">
                      <% if groups.present? %>
                        <%= render :partial => 'assessment_group_listing', :locals=>{:assessment_groups=> groups,:term=>term} %>
                      <% else %>
                        <div class="empty-flash"><%= t('no_assessment_groups_created')  %> </div>
                      <% end %>
                  </div>
                  <div class="formula">
                      <!--Todo Add Final Result Calculation -->
                  </div>
              </div>

            <% end %>
        </div>
      <% else %>
        <div class="plan_assessment_group_listing">
            <% if @plan.assessment_groups.without_derived.present? %>
              <%= render :partial => 'assessment_group_listing', :locals=>{:assessment_groups=>@plan.assessment_groups.without_derived } %>
            <% else %>
              <div class="empty-flash"><%= t('no_assessment_groups_created')  %> </div>
            <% end %>
        </div>
      <%end%>
    <%else%>
      <p class="flash-msg"> <%= t('no_planner_linked')%> </p>
    <% end %>
</div>
<script type="text/javascript">
    function showDrop(el){
      drop_id = j(el).attr('drop_id')
      document.getElementById('actionDropdown_'+drop_id).classList.toggle("show");
    }
    
    function showOptions(el){
      drop_id = j(el).attr('drop_id')
      document.getElementById('optionDropdown_'+drop_id).classList.toggle("show");
    }
    
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
              }
          }
      }
  }
    
</script>