<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('gradebook') %><%= beta_header %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('manage_gradebook') %></div>

</div>
<div id="page-yield">
    <div class="bread_crumb">
      <% breadcrumb :gradebooks_course_assessment_groups, [@course,@academic_year] %>        
      <%= render_breadcrumbs %>
    </div>

    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
      
    <div class="assessment_groups_box">
        <%= render :partial=>'assessment_course_details' %>
        <%= render :partial=>'assessment_group_listing_tabs'%>
    </div>
</div>
