<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('gradebook') %><%= beta_header %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('manage_gradebook') %></div>
    <!--<%# if permitted_to? :new_course_exam , :assessment_groups %>
      <div id="inner-tab-menu">
          <ul id="course_assessment_link">
              <%#= render :partial => 'course_assessment_create_link' %>
          </ul>
      </div>
    <%# end %>-->

</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs  %>
    </div>

    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
      
    <div class="exam_management_box" id='exam_management_box'>
        <%#= render :partial=>'exam_management_tabs' %>
        <%= render :partial => "list_courses" %>
    </div>
</div>

<script type="text/javascript">
  function select_tab(e) {

    if (j(e).parent().hasClass( "selected" )){
      return false
    }else{
      j("li").removeClass("selected");
      j('#right-panel').hide();
      j('#tab_loader').show();
      j(e).parent().addClass("selected");
      j('#right-panel-loader').show();
      j('#right-panel-bottom').hide();
      return true;
    }
  }
</script>
