<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('gradebook') %><%= beta_header %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('home') %></div>

</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs  %>
    </div>

    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <div class="box">
        <%  if permitted_to? :index, :assessment_plans %>
          <div class="link-box">
              <div class="link-heading"><%= link_to t('exam_planners'), :controller=> "assessment_plans", :action=>'index' %></div>
              <div class="link-descr"><%= t('planner_desc')%></div>
          </div>
        <% end %>
        <%  if permitted_to? :exam_management, :gradebooks %>
          <div class="link-box">
              <div class="link-heading"><%= link_to t('manage_gradebook'), :controller=> "gradebooks", :action=>'exam_management' %></div>
              <div class="link-descr"><%= t('planner_exam_managment_desc')%></div>
          </div>
        <% end %>
        <%  if permitted_to? :settings, :gradebooks %>
          <div class="link-box">
              <div class="link-heading"><%= link_to t('settings'), :controller=> "gradebooks", :action=>'settings' %></div>
              <div class="link-descr"><%= t('planner_settings_desc')%></div>
          </div>
        <% end %>
        <div class="extender"></div>
    </div>
</div>

