.activity_label{
    font-size: 13px;
    float: left;
    height: 30px;
    width: 120px;
}

.activity_name{
    font-size: 13px;
    font-weight: bold;
        height: 30px;
        width: 400px;
}


table#listing tr.tr-head td a, table#listing tr.tr-head{
    color: black !important;
}

.message-area{
    color: #969696;
}

table#listing td{
    padding: 10px;
}

table#listing{
    padding:20px;
}

.sl_no{
    width: 50px;
}

.pagination{
    margin-top: 15px;
    margin-right: 0px;
}

table{
    float: left;
}

a.disabled_link{
    text-decoration: none !important;
}
table#listing .tr-odd ,table#listing .tr-even{
    font-weight: 500;
}

.label-field-pair label{
    font-weight: 500 !important;
}