.activity_label{
    font-size: 13px;
    float: left;
    height: 30px;
    width:70px;
}

.activity_name{
    font-size: 13px;
    font-weight: bold;
        height: 30px;
        width: 400px;
}

.text-input-bg select{
    width: 150px;
}

label{
    font-size: 13px;
}

.text-input-bg{
    width: 200px;
    height:60px;
}

img{
    margin-top: 10px;
}

.date_selectors{
    height: 60px;
}

.label-field-pair label {
    width:26px;
    font-size: 13px;
}

.label-field-pair{
    float: left;
    width: 260px;
    padding-top: 0px !important;
}

.label-field-pair input{
    width:150px;
}

label#clear{
    cursor: pointer;
}

.report{
}

table#listing tr.tr-head td a{
    color: black !important;
}

.message-area{
    color: #969696;
}

table#listing td{
    padding: 10px;
}

table#listing{
    padding:20px;
}

.text-input-bg{
    padding-top: 0px;
    margin-top: 0px;
}

#calendar_img{
    cursor: pointer;
}


#search_box_bg{width:714px;padding-left:50px;margin-top:10px; overflow: hidden; height:50px;padding-top:10px; }

#search_box_bg label{padding-top:0px;color:#555;font-size:16px; float:left; width:80px; font-weight: bold;}
#search_textbox input{
    background : #eee;
    float:left;
    border : 1px solid #c6c6c6;
    margin-top : 10px;
    width : 180px;
    height:22px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 4px 0 0 5px;
}

#search_textbox input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}

form{
}

.details{
    width: 600px;
    float: left;
}

.pagination{
    margin-top: 15px;
    margin-right: 0px;
}

table{
    float:left;
}

#search_textbox {
    float: left;
margin-left: 132px;
}

img#loader{
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}

#page-yield tr.tr-head{
    color : black !important;
}

table#listing td.col-2{
    padding: 12px;
}

a.disabled_link{
    text-decoration: none !important;
}
table#listing td.col-1{
    width: 16%;
}

table#listing .tr-odd ,table#listing .tr-even{
    font-weight: 500;
}

.label-field-pair label{
    font-weight: 500 !important;
}