.text-input-bg select{
    width: 150px;
}

label, div#custom_date{
    font-size: 13px;
    width: 80px;
    margin-top: 45px;
    margin-left: 220px;
    cursor: pointer;
}

.text-input-bg{
    width: 200px;
    height:60px;
    margin-bottom: 30px;
}

img{
    margin-top: 10px;
}

.date_selectors{
    height: 60px;
    float:left;
}

.label-field-pair label {
    width:26px;
    font-size: 13px;
}

.label-field-pair{
    float: left;
    width: 260px;
    padding-top: 0px !important;
}

.label-field-pair input{
    width:150px;
}

label#clear , label#custom_date{
    cursor: pointer;
}

.report{
}

table#listing tr.tr-head td a{
    color: black !important;
}

.message-area{
    color: #969696;
}

table#listing td{
    padding: 10px;
}

table#listing{
    padding:20px;
}

.text-input-bg{
    padding-top: 0px;
    margin-top: 0px;
}

#calendar_img{
    cursor: pointer;
    float: left;
}

.pagination{
    margin-top: 15px;
    margin-right: 0px;
}

#loader{
    margin-left: 10px;
    margin-top: -1px;
}

table{
    float:left;
}


#date_val
{
    color: grey;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 8px;
    width: 250px;
}
a.disabled_link{
    text-decoration: none !important;
}

label#end_date{
    width: 40px;
}
table#listing .tr-odd ,table#listing .tr-even{
    font-weight: 500;
}
.label-field-pair label{
    font-weight: 500 !important;
}