
.link-box {margin:10px 40px;width:270px;float:left; height:80px;}
.link-heading a {font-weight:bold;color:#900;}
.link-descr {margin-top:5px;color:#666;text-align:justify;}
.box{
    width:750px;
    margin:0px auto;
}


.label-field-pair label {
  width: 80px;
}

.label-field-pair{
    width:300px;
    float:left;
    height: 60px;
}

.text-input-bg select{
    width:180px;
}

.text-input-bg{
    width: 190px;
}


.submit_button {

    padding: 7px 7px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    float:left;
    width:auto;
    margin-left: 10px;
}
.submit_button:hover{
    background:  #373B3F;
}

table#listing tr.tr-head{
    color: black !important;
}

.message-area{
    color: #969696;
}

table#listing td{
    padding: 10px;
}

table#listing{
    padding:20px;
}

#search_box_bg{width:714px;padding-left:50px;margin-top:10px; overflow: hidden; height:50px;padding-top:10px; }

#search_box_bg label{padding-top:0px;color:#555;font-size:16px; float:left; width:80px; font-weight: bold;}
#search_textbox input{
    background : #eee;
    border : 1px solid #c6c6c6;
    width : 160px;
    height:22px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 4px 0 0 5px;
}

#search_textbox input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}

#user_search label{
    float: left;
    margin-top:15px;
    font-size: 13px;
    width: 70px;
}

#loader1{
    margin-top: 10px;
}

.user_type{
    width: 100%;
    float: left;
}

.text-input-bg select{
    width: 160px;
}

label{
    font-size: 13px;
}

.text-input-bg{
    width: 200px;
    height:60px;
}

img{
    margin-top: 10px;
}

.date_selectors{
    height: 60px;
    float: left;
}

.label-field-pair label {
    width:69px;
    font-size: 13px;
}

.label-field-pair{
    float: left;
    width: 286px;
    padding-top: 0px !important;
}

.label-field-pair input{
    width:150px;
}

label#clear, label#custom_date{
    cursor: pointer;
    width:auto;
}

.report{
}

table#listing tr.tr-head td a,table#listing tr.tr-head {
    color: black !important;
}

.message-area{
    color: #969696;
}

table#listing td{
    padding: 10px;
}

table#listing{
    padding:20px;
}

.text-input-bg{
    padding-top: 0px;
    margin-top: 0px;
}

#calendar_img{
    cursor: pointer;
    float: left;
}

#search_by, #select_date{
    width: 69px;
}

.date{
    width: auto;
    float: left;
}

label#department{
    width: 75px;
}

form label{
    float:left;
    width:auto;
    padding-top:10px;
}

.search-input{
    height: 50px;
    float:left;
    width:100%;
}

.activity_name{
    float:left;
    margin-right: 77px;
}

#search_textbox{
  padding: 3px 6px;
}

table{
    float:left;
}

input#username{
    margin-left: 20px;
}

.pagination{
    margin-top: 15px;
    margin-right: 0px;
}

table#listing td.col-2 {
width: 26%;
padding: 12px;
}


 div#custom_date{
 font-size: 13px;
width: 80px;
margin-top: 10px;
margin-left: 5px;
cursor: pointer;
float: left;
}



#date_val
{
 color: grey;
font-size: 12px;
margin-left: 10px;
margin-top: 8px;
width: 250px;
}


.date .label-field-pair{
    margin-bottom: 30px;
}

a.disabled_link{
    text-decoration: none !important;
}


label#end_date{
    width: 40px;
}
table#listing .tr-odd ,table#listing .tr-even{
    font-weight: 500;
}
.label-field-pair label{
    font-weight: 500 !important;
}