
table#listing td.col-5 {
    padding:5px 5px 5px 10px;
    text-align:left;

}
table#listing td.col-6 {
    padding:5px 5px 5px 10px;
    text-align:left;

}
table#listing td.col-7 {
    padding:5px 5px 5px 10px;
    text-align:left;

}

.label-field-pair label {
    color:#444444;
    display:block;
    float:left;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:10px;
    width:251px;
}
.label-field-pair {
    margin:5px 0;
    width:450px;
}
.label-field-pair label {
    color:#444444;
    display:block;
    float:left;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:10px;
    width:200px;
}

table#listing td.col6 p a {
    -moz-border-radius:10px 10px 10px 10px;
    background:none repeat scroll 0 0 #27292B;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-left:0px;
    margin-top:15px;
    padding:7px 10px;
}

.box{
    margin: 0 auto;
    width: 500px;

}


#student{
    padding-top:50px;
}
.label-field-pair3 {
    height: 40px;
    width: 230px;
    float: left;
    padding-top: 3px;
}

.text-input-bg3 {
    background: transparent;
    height: 28px;
    width: 250px;
}

.label-field-pair3 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}

.label-field-pair3 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 205px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}

.text-input-bg3 select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 215px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
table#listing {
    margin-bottom: 30px;
    padding: 20px 20px 20px;
    float: left;

}

table#listing td.col-1 {
    width: 7%;
    padding: 5px;
    padding-left: 10px;
    font-weight: normal;
}

#payments_details {
    margin-top: 20px;
}
.fine_text{
    text-align: right!important;
    font-size: 14px;
}
#print-receipt{
    margin-top: 15px!important;
    margin-right: 5px!important;
}
#sumbit_button{
    margin-top:35px;
}
.label-field-pair4 {
    width: 88px;
    float: right;
    padding-top: 3px;
    padding-left: 32px;
    margin-right: 20px;
}

.text-input-bg4 {
    position: absolute;
    background: transparent;
    height: 28px;
    width: 250px;
}

.label-field-pair4 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}

.label-field-pair4 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 88px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}

.text-input-bg4 select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 215px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.pay_fees_buttons a {
    float: right !important;
    margin: 20px 10px 0 !important;
}

.pay_fees_buttons input {
    float: right;
}

.loader_div {
    float: left;
    margin: 7px 0 0 110px;
}

#loader {
    padding-top: 5px;
}

.pay_fees_button {
    margin-top: -42px;
    float: right;
    width: 120px;
}
.label-field-pair3-text-area {
    height: 70px;
    margin-left: 60px;
    width: 514px;
    float: left;
}

.label-field-pair3-text-area label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}

.textarea-input-bg {
    background: none repeat scroll 0 0 transparent;
    margin-left: 25px;
}

.label-field-pair3-text-area textarea {
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    margin: 5px 0 0 10px;
    padding: 5px;
    width: 460px;
    height: 17px;
}

.label-field-pai3r-text-area textarea:focus {
    background: #FFFFFF;
    border: 1px solid #9E0F15;
}
.col-2 {
    font-weight: normal;
    max-width: 200px;
    text-align: justify;
}
.user_button {
    float: right;
    margin: 5px auto 0;
}

#sumbit_button{
    margin-top:35px;
}

h4{
    float: right;
}
#fees_detail {
    padding-top: 20px;
}
table#listing1 td a{
    background: none !important;
    border: medium none;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    padding: 7px 10px;
    text-decoration: none;
    margin: 0px 5px 0px 5px !important;
    float:left;
    font-weight: normal;
    color: #27292b !important;
}
table#listing1 td a:hover{
    background: none !important;
    border: medium none;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    padding: 7px 10px;
    text-decoration: none;
    margin: 0px 5px 0px 5px !important;
    float:left;
    font-weight: normal;
    color: #27292b !important;
}
.payment_details{
    margin-bottom: 30px;
}
#payment_mode{
    float: left;
    margin-top: 15px;
    margin-left: 30px;
}
.label-field-pair5 {
    /*    height: 76px;*/
    width: 88px;
    float: left;
    padding-top: 3px;
    padding-left: 32px;
}
.label-field-pair5 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}
.label-field-pair5 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 200px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}
