.label-field-pair{
    width: 460px;
    height: 50px;
}
#left-side-inputs{
    width: 460px;
    float: left;
}
#batchs{
    float: right;
    height: 243px;
    width: 460px;
}
#batchs .batch_select_box{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE;
    border:1px solid #C6C6C6;
    height: 241px;
    width: 453px;
    padding-left: 5px;
}
.each_batch{
    font-size: 12px;
    overflow:auto;
    width:100%;
}
.sel-list {
    margin-bottom: 2px;
    width: 257px;
}
.fee_category_scroll {
    height: 200px;
    margin: 0;
    overflow: auto;
    width: 100%;
}
.submit_button {
    margin-top:15px;
    margin-left:210px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
.necessary-field {
    color: #FF0000;
    font-size: 1.1em;
}
