<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%= javascript_include_tag "sortable" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1>ASL Scores</h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('result_entry') %></div>
</div>
<div id="page-yield">

  <div class="bread_crumb">
    <%if @exam.subject.batch.is_active%>
      <% breadcrumb :asl_scores_show, @exam%>
    <%else%>
      <% breadcrumb :asl_scores_show_previous, @exam%>
    <%end%>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% unless flash[:warn_notice].nil? %>
    <div id="errorExplanation" class="errorExplanation"><p><%= flash[:warn_notice] %></p> </div>
  <% end %>
  <div class="box">


    <% unless @students.empty? %>
      <% form_for :asl_marks, :url => {:controller=>"asl_scores",:action=>"save_scores",:id=>@exam.id} do |f| %>

        <!-- <table id="listing" width="100%"> -->
        <table class ="sortable" id="listing" width="100%" cellpadding="1" cellspacing="1" onload="sortables_init()" >
          <tr class="tr-head">
            <td class="unsortable"><%= t('sl_no') %></td>
            <td class="default_disabled_row"><%= t('name') %></td>
            <td ><%= t('admission_no') %></td>
            <% if roll_number_enabled? %>
              <td data-sorting-type="natural_sort"><%= t('roll_no') %></td>
            <% end %>
            <td class="unsortable">Speaking Skills</td>
            <td class="unsortable">Listening Skills</td>
          </tr>
          <% @students.each_with_index do |student,i| %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-1"><%= i+1 %></td>
              <td class="col-2"><%= student.full_name %> </td>
              <td class="col-3"><%= student.admission_no %> </td>
              <% if roll_number_enabled? %>
                <td class="col-3"><%= student.roll_number_in_context%></td>
              <% end %>
              <% @asl_score = @exam.asl_score_for(student) %>
              <td class="col-1"><div class="label-field-pair">
                  <div class="text-input-bg">
                    <%= text_field_tag "asl[#{student.id}][speaking]", @asl_score.speaking, :size => '4', :class=>"marks-box" %></div></div></td>
              <td class="col-1"><div class="label-field-pair">
                  <div class="text-input-bg">
                    <%= text_field_tag "asl[#{student.id}][listening]", @asl_score.listening, :size => '4', :class=>"marks-box" %></div></div></td>
            </tr>

          <% end %>

        </table>
        <div id="sub-button"><%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %></div>
      <% end %>
    <% else %>
      <p class="flash-msg"> <%= t('no_students_found') %> </p>
    <% end %>
    <div class="extender"></div>
  </div>
</div>
