<% if @student.present? %>
  <div class="pdf">
      <%= link_to "#{t('download_pdf')}",
        { :action => "student_#{@exam_type}_pdf", :student_id => @student.id, :reportable_id => @reportable.id},:target => '_blank', :class=> 'user_button' %>
  </div>
<% end %>