<% if @schol_report.present? %>
  <table align="center" width="100%" cellpadding="1" cellspacing="1">
      <% header = @schol_report.try(:report).try(:header)||[] %>
      <% marks = @schol_report.try(:report).try(:marks)||[] %>
      <tr class="tr-head">
          <% header.each do |name| %>
            <td><%= name %></td>
          <% end %>
      </tr>
      <% marks.each do |row| %>
        <% length = row.map{|e| e.length if e.kind_of?(Array)}.compact.max||1 %>
        <% length.times.each do |l| %>
          <tr class="tr-<%= cycle('even', 'odd') %>">
              <% row.each_with_index do |cell, i| %>
                <% if cell.kind_of?(Array) %>
                  <td><%= cell[l] %></td>
                <% else %>
                  <% if l == 0 %>
                    <td rowspan="<%= length %>" class="<%= (i==0 ? 'subject_name' : '') %>"><%= cell %></td>
                  <% end %>
                <% end %>
              <% end %>
          </tr>
        <% end %>

      <% end %>
  </table>
<% else %>
  <p class="flash-msg"> <%= t('no_students_for_this_batch') %> </p>
<% end %>