<% if @schol_report.present? %>
  <table align="center" width="100%" cellpadding="1" cellspacing="1">
      <% main_header = @schol_report.try(:report).try(:main_header)||[] %>
      <% header = @schol_report.try(:report).try(:header)||[] %>
      <% marks = @schol_report.try(:report).try(:marks)||[] %>
      <% co_sch = @schol_report.try(:report).try(:activities)||[] %>
      <tr class="re-head">
          <td class="col-2"><%= t('scholastic_areas') %></td>
          <% main_header.each do |m_h| %>
            <td class="col-1" colspan="<%= m_h.second %>"><%= m_h.last %></td>
          <% end %>
      </tr>
      <tr class="header-text">
          <td><%= t('subject') %></td>
          <% header.each do |name| %>
            <td><%= name %></td>
          <% end %>
      </tr>
        <% marks.each do |row| %>
          <tr class="tr-<%= cycle('even', 'odd') %>">
              <% row.each do |cell| %>
                <td><%= cell %></td>
              <% end %>
          </tr>
        <% end %>
      
      
  </table>
  <% if co_sch.present? %>
    <table align="center" width="100%" cellpadding="1" cellspacing="1" class="coscholastic_area_table">
        <% co_sch.each_with_index do |section, i| %>
          <% header = true %>
          <% if i > 0 %>
            <tr class="empty_row">
                <td class="2"></td>
            </tr>
          <% end %>
          <% section.each do |row| %>
            <tr class="tr-<%= cycle('even', 'odd') %> <%= header ? 'header-text' : '' %>">
                <% header = false %>
                <% row.each_with_index do |cell, index| %>
                  <td class="<%= (index%2 == 0) ? 'even' : 'odd' %>"><%= cell %></td>
                <% end %>
            </tr>
          <% end %>
        <% end %>
    </table>
  <% end %>
<% else %>
  <p class="flash-msg"> <%= t('no_students_for_this_batch') %> </p>
<% end %>