<% if @schol_report.present? %>

  <table cellspacing="0" cellpadding="0" border="0" id="enclosure" >
      <% main_header = @schol_report.try(:report).try(:main_header)||[] %>
      <% header = @schol_report.try(:report).try(:header)||[] %>
      <% marks = @schol_report.try(:report).try(:marks)||[] %>
      <% co_sch = @schol_report.try(:report).try(:activities)||[] %>
      <tr>
          <td id="firstTd"></td>
          <td rowspan="2">
              <div id="divHeader" style="">
                  <table cellspacing="0" cellpadding="0" border="1" id="main_header_table">
                      <tr id="main_heading">
                          <%j=0%>
                          <% main_header.each_with_index do |m_h,i| %>
                            <td colspan="<%= m_h.second%>">
                                <div class="tableHeader th_<%=i%>"><%=m_h.last%></div>
                                <div class="tableHeaderHelp"></div>
                            </td>
                            <%j = i+1%>
                          <%end%>
                      </tr>
                      <tr id="sub_header">
                          <% i = 1 %>
                          <% j = 0 %>
                          <% m = main_header.length %>
                          <% header.each do |name|  %>
                            <% if ((i-1) < m && j == main_header[i-1][1]) %>
                              <% i = i + 1 %>
                              <% j = 0 %>
                            <% end %>
                            <td>
                                <div class="tableSubHeader tsh_<%=i%>"><%=name%></div>
                            </td>
                            <% j = j + 1 %>
                          <%end%>
                      </tr>

                  </table>
              </div>
          </td>
      </tr>
      <tr>
          <td id="firstSubTd"><%= t('subject') %>
          </td>
      </tr>
      <% subjects = marks.map { |m| m[0] } %>
      <tr>
          <td valign="top">
              <div id="firstcol">
                  <table width="250px" cellspacing="0" cellpadding="0" border="1" id="student_list_table" >
                      <%subjects.each do |subject|%>
                        <tr class="<%=cycle('odd', 'even')%>">
                            <td class="tableFirstCol" id="st_<%=  subject%>"><div class="student_names"><%= subject %></div></td>
                        </tr>
                      <%end%>

                  </table>
              </div>
          </td>
          <%reset_cycle%>
          <td valign="top">
              <div id="table_div" class="scrollbar" onscroll="fnScroll()" >
                  <table cellspacing="0" cellpadding="0" border="1" id="scores_table">
                      <%  marks.each_with_index do |row,i|%>
                        <tr class="<%=cycle('odd', 'even')%> st_<%=row[0]%>" id=<%= i == 0 ? "firstTr" : "" %>>
                            <% sum = 0 %>
                            <%row.each_with_index do |cell,j|%>
                              <% next if j == 0 %>
                              <td>
                                  <div class="scores"><%=  cell %></div>
                              </td>
                            <%end%>
                        </tr>
                      <%end%>
                  </table>
              </div>
          </td>
      </tr>
  </table>
  <% if co_sch.present? %>
    <table align="center" width="100%" cellpadding="1" cellspacing="1" class="coscholastic_area_table">
        <% co_sch.each_with_index do |section, i| %>
          <% header = true %>
          <% if i > 0 %>
            <tr class="empty_row">
                <td class="2"></td>
            </tr>
          <% end %>
          <% section.each do |row| %>
            <tr class="tr-<%= cycle('even', 'odd') %> <%= header ? 'header-text' : '' %>">
                <% header = false %>
                <% row.each_with_index do |cell, index| %>
                  <td class="<%= (index%2 == 0) ? 'even' : 'odd' %>"><%= cell %></td>
                <% end %>
            </tr>
          <% end %>
        <% end %>
    </table>
  <% end %>
<% else %>
  <p class="flash-msg"> <%= t('no_students_for_this_batch') %> </p>
<% end %>

<script type="text/javascript">
    j(document).ready(function () {
    fnAdjustTable();
    });
</script>