<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('gradebook') %><%= beta_header %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('student_report') %></div>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        <% breadcrumb :assessments_generate_term_reports, [@report, @academic_year, @course] %>
        <%= render_breadcrumbs  %>
    </div>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <div class="header">
        <%= t('student_term_reports') %>
    </div>
    <div class="assessments_box">
        <div class="assessments_details">
            <div class="field_details">
                <div class="field_name"><%= t('course_text') %></div>
                <div class="field_val"><%= @course.full_name %></div>
            </div>
            <div class="field_details">
                <div class="field_name"><%= t('report_type_text') %></div>
                <div class="field_val"><%= t('term_report') %></div>
            </div>
            <div class="field_details">
                <div class="field_name"><%= t(:term_text) %></div>
                <div class="field_val"><%= @report.name %></div>
            </div>
            <div class="field_details">
                <div class="field_name"><%= t(:exam_groups_text) %></div>
                <div class="field_val"><%= @report.assessment_groups.without_final.length %></div>
            </div>
        </div>
        <% batches = @course.batches_in_academic_year(@academic_year.id) %>
        <% if batches.present? %>
          <%= render :partial => 'report_form' %>
        <% else %>
          <p class="flash-msg"> <%= t('no_batches_in_the_acedemic_year') %> </p>
        <% end %>
    </div>
</div>
