<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<% content_for :head do %>
  <% if rtl? %>
    <%= stylesheet_link_tag 'rtl/assessment_reports/preview.css' ,:media=>"all"%>
  <%else %>
    <%= stylesheet_link_tag 'assessment_reports/preview.css' ,:media=>"all"%>
  <% end %>
<% end %>
<% e = 'even' %>
<div id="page-yield" class="available_sections">
    <%if @general_records["ReportHeader"] == "0"%>
      <div class="header">
          <span class="logo header_parts border_less">
              <%  if @general_records['UseCbseLogo'] == "1" %>
                <img  alt="Cbse Logo" src="<%=Rails.root.join('public','images','cbse-logo.png')%>" id="cbse_logo"></img>
              <% end %>
          </span>
          <span class="header-content header_parts">
              <p id="school-name"><%=Configuration.get_config_value('InstitutionName'); %></p>
              <p class="institution_address"><%=Configuration.get_config_value('InstitutionAddress'); %></p>
          </span>
          <span class="logo header_parts">
              <%if current_school_detail.logo.present?%>
                <%= wicked_pdf_image_tag current_school_detail.logo,:s3=>true,:style=>:original,:timestamp=>false %>
              <%else%>
                <img  alt="Dummy Logo" src="<%=Rails.root.join('public','images','application','dummy_logo.png')%>" ></img>
              <%end%>
          </span>
          
      </div>
    <%else%>
      <div style="height:<%=@general_records["HeaderSpace"].to_i%>mm"></div>
    <%end%>
    <div class="section">
        <div class="hor_line"></div>
        <h2>STUDENT REPORT</h2>
        <div class="hor_line"></div>
        <div class="extender"> </div>
        <div class="info">
            <div class="info-left">
                <%[1,3,5,7,9].each do |i|%>
                  <%display_text = AssessmentReportSetting.get_display_text(@general_records["StudentDetail#{i}"])%>
                  <%unless display_text == ""%>
                    <div class="info1">
                        <label class="field-label"><%=display_text%></label><span class="colon">:</span><label class="infolbl"> <%= AssessmentReportSetting.get_display_value(@general_records["StudentDetail#{i}"],@student) %></label>
                    </div>
                  <%end%>
                <%end%>
            </div>
            <div class="info-right">
                <%[2,4,6,8,10].each do |i|%>
                  <%display_text = AssessmentReportSetting.get_display_text(@general_records["StudentDetail#{i}"])%>
                  <%unless display_text == ""%>
                    <div class="info1">
                        <label class="field-label"><%=display_text%></label><span class="colon">:</span><label class="infolbl"> <%= AssessmentReportSetting.get_display_value(@general_records["StudentDetail#{i}"],@student) %></label>
                    </div>
                  <%end%>
                <%end%>
            </div>
        </div>
    </div>
    <div  class="section">
        <span class="image_enclosure">
            <img  alt="Exam Marks" src="<%=Rails.root.join('public','images','student_term_report_pdf.png')%>" ></img>
        </span>
    </div>
    <%if @general_records["Signature"] == "0"%>
      <div class="wrapper">
          <div class="footer">
              <div id="pdf-footer">
                  <span class="signature push_left">
                    <div class="sign_img">
                      <% if @general_records["SignLeftImg"].present? %>
                        <%= wicked_pdf_image_tag @general_records["SignLeftImg"] ,:s3=>true,:style=>:original,:timestamp=>false %>
                      <% end %>
                    </div>
                    <div><%= @general_records["SignLeftText"] %></div>
                  </span>
                  <span class="signature">
                      <div class="sign_img">
                        <% if @general_records["SignCenterImg"].present?  %>
                          <%= wicked_pdf_image_tag @general_records["SignCenterImg"] ,:s3=>true,:style=>:original,:timestamp=>false %>
                        <% end %>
                      </div>
                      <div><%= @general_records["SignCenterText"] %></div>
                  </span>
                  <span class="signature push_right">
                      <div class="sign_img">
                          <% if @general_records["SignRightImg"].present? %>
                            <%= wicked_pdf_image_tag @general_records["SignRightImg"] ,:s3=>true,:style=>:original,:timestamp=>false %>
                          <% end %>
                      </div>
                      <div><%= @general_records["SignRightText"] %></div>
                  </span>
              </div>
          </div>
      </div>
    <%end%>
</div>