<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('gradebook') %><%= beta_header %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%=t('student_report_settings')%></div>
    <div id="inner-tab-menu">
        <ul>
            <li class='themed_bg themed-dark-hover-background'><%= link_to t('preview_report'),{ :action => 'preview',:report_format_type => "pdf", :assessment_plan_id => @plan.id},:target=>"_blank" %></li>
        </ul>
    </div>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        <% breadcrumb :assessment_report_settings, @plan %>
        <%= render_breadcrumbs  %>
    </div>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    
    <div class="report_settings_container">
      <div class='header'>
        <%= t('student_report_settings') %>
      </div>
      <%= render :partial => 'assessment_plans/assessment_plan_details_min', :locals => {:plan => @plan} %>
      <% form_for :assessment_report_setting,:url => {:action => 'settings', :assessment_plan_id => @plan.id },:html => {:multipart=>true} do |c| %>
        <%= error_messages_for :assessment_report_setting %>
        <div class="box">
            <div class="label_field_pair block">
                <label class="core_label"><%=t('header_name')%></label>
                <div class="com_block">
                  <p class="msg_desc main-msg"><%= "#{t('header_settings_auto_generation_message')} #{link_to t('general_settings'),{:controller=>"configuration",:action=>"settings"},:target=>'_blank' if permitted_to? :settings, :configuration}"%></p>
                </div>
                <div class="msg_desc main-msg"><%= t('header_settings_skip_message')  %> </div>
                <div class="ind_block">
                    <%= radio_button  :assessment_report_setting, :report_header,"0",:checked=>@setting[:report_header]=="0",:class=>'report_head'%>
                    <label class="general_label" for="cce_report_setting_report_header_0"><%=t('auto_generate_header_section')%></label>
                    <%= radio_button  :assessment_report_setting,:report_header, "1",:checked=>@setting[:report_header]=="1",:class=>'report_head' %>
                    <label class="general_label" for="cce_report_setting_report_header_1"><%=t('skip_header_section')%></label>
                    <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader1", :style =>"display: none;" ) %>
                </div>
                <div id="report_desc">
                    <%if @setting[:report_header]=="0"%>
                      <%=render :partial => "report_with_normal_header"%>
                    <%else%>
                      <%=render :partial => "report_without_normal_header"%>
                    <%end%>
                </div>
            </div>
            <div class="label_field_pair block">
                <label class="core_label"><%= t('student_details').titleize %></label>
                <div class="msg_desc"><%= t('student_details_desc_text') %></div>
                <div class="grey_back">
                    <%3.times do |i|%>
                      <%options=["<option selected ='selected'>#{t(@student_fields[i][0])}</option>"]%>
                      <div class="label-field-pair with_border">
                          <span><%=i+1%></span>
                          <div class="text-input-bg">
                              <%= select_tag "assessment_report_setting_student_detail#{i+1}",options,:disabled=>true%>
                              <%=hidden_field_tag "assessment_report_setting[student_detail#{i+1}]",@student_fields[i][1]%>
                          </div>
                      </div>
                    <%end%>
                    <%7.times do |i|%>
                      <div class="label-field-pair with_border">
                          <span><%=i+4%></span>
                          <div class="text-input-bg">
                              <%=c.select :"student_detail#{i+4}", grouped_options_for_select([[t('student_details'),@student_fields.map{|arr| [t(arr[0]),arr[1]]}],
                                  [t('additional_details'), @student_additional_fields.collect {|v| [ v.name, "ad.#{v.name}.#{v.id}" ] }]
                                  ],@setting[:"student_detail#{i+4}"],t('select_a_student_detail'))%>
                          </div>
                      </div>
                    <%end%>
                </div>
                <div class="msg_desc"><%= t('student_details_select_text') %></div>
            </div>
            

            <div class="label_field_pair block">
                <label class="core_label" for="student_gender"><%= t('signature') %></label>
                <div class="com_block">
                  <p class="msg_desc"><%= t('signature_show_hide_message') %></p>
                </div>
                <div class="ind_block">
                    <%= radio_button  :assessment_report_setting, :signature,"0",:checked=>@setting[:signature]=="0",:class=>'signature'%>
                    <label class="general_label" for="cce_report_setting_signature_0"><%= t('auto_generate_signature_section') %></label>
                    <%= radio_button  :assessment_report_setting,:signature, "1",:checked=>@setting[:signature]=="1",:class=>'signature' %>
                    <label class="general_label" for="cce_report_setting_signature_1"><%= t('skip_signature_section') %></label>
                    <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader2", :style =>"display: none;" ) %>
                </div>
                <div id="report_sign">
                    <%if @setting[:signature]=="0"%>
                      <%=render :partial => "report_with_signature"%>
                    <%end%>
                </div>
            </div>

            <div class="hor_line"></div>

            <div id="submit_button">
                <%= submit_tag t('save_settings').titleize ,:id=>'submit-button'%>
            </div>
        </div>
      <%end%>
    </div>
</div>
<script type="text/javascript">
  j('.report_head').change(function () {
      j.ajax({
          type: 'GET',
          url: "/assessment_reports/report_header_info",
          data: {
              id: j(this).val(),
              plan_id: <%= @plan.id %>
          },
          beforeSend: function () {
              j('#loader1').show();
          },
          success: function () {
              j('#loader1').hide();
          }
      });
  });
  j('.signature').change(function () {
      j.ajax({
          type: 'GET',
          url: "/assessment_reports/report_signature_info",
          data: {
              id: j(this).val(),
              plan_id: <%= @plan.id %>
          },
          beforeSend: function () {
              j('#loader2').show();
          },
          success: function () {
              j('#loader2').hide();
          }
      });
  });
  if(<%= @setting[:use_cbse_logo]== "0" %>){
    j('#cbse_logo').css('display','none');
  }
  function toggleCbseLogo(el){
    j('#cbse_logo').toggle();
  }
</script>