
.submit_button {
    margin-top:20px;
    margin-left:210px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}

.label-container
{
    color: #444444;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px;
    padding-top: 10px;
    width: 200px;
}
#academic_year_name{
    margin-left: 10px;
    padding-top: 10px;
    float: left;
    font-size: 14px;
}
.label-field-pair{ width: 100%}
#academic_year_helper {
    background-color: #F0F0F0;
    padding: 10px;
    float: left;
    font-size: 13px;
    color: #666;
    max-width: 500px;
}
