<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('exam_reports_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('archived_grouped_exam_reports') %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    <% form_for :exam_report, :url=>{:action=>'archived_batches_exam_report'} do |x| %>
      <div class="label-field-pair">
        <label><%= t('course_text') %> :<%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader",
            :style =>"display: none;" ) %></label>
        <div class="text-input-bg">
          <%= select :exam_report, :course_id,
            @courses.map {|c| [c.full_name, c.id]},
            {:prompt => "#{t('select_a_course')}"},
            {:onChange => "#{remote_function(:url => {:controller => "exam_reports",:action => "list_inactivated_batches"},
            :with => "'course_id='+value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')"
            )}"} %>
        </div>
      </div>
      <div class="label-field-pair">
        <label><%= t('batch') %> :</label>
        <div class="text-input-bg">
          <div id="inactive_batches">
            <%= select :exam_report, :batch_id,
              @batches.map {|b| [b.full_name, b.id]},
              {:prompt => "#{t('select_a_batch')}"},
              {:onChange => "#{remote_function(:url => {:action => "final_archived_report_type" },
              :with => "'batch_id='+value"
              )}"} %>
          </div>
        </div>
      </div>
      <div id="archived_report_type"></div>

      <%= submit_tag "", :value => "►#{t('view')}", :class => "submit_button"%>

    <% end %>

    <div class="extender">

    </div>
  </div>
</div>
