<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('archived_exams') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('grouped_exam_reports') %></div>
  <div id="inner-tab-menu">

  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :exam_reports_archived_batches_exam_report, @batch%>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <h4 align="center"><%= @batch.name %> - <%= @batch.course.full_name %></h4>
  <div id="student_list">
    <%= render  :partial=>"student_list" %>
  </div>
  <div id="grouped_exam_report">
    <%= render :partial=>'grouped_exam_report' %>
  </div>
<%#*<div class="box">%>
<%#*</div>%>

</div>

<script type="text/javascript">
  function set_active(){
    $$('.active-link').each(function(e){
      e.removeClassName('active-link');
    });
    this.addClassName('active-link')
  }
  function draw_report(){
    Element.show('loader')
    new Ajax.Request('/exam_reports/archived_batches_exam_report',
    {asynchronous:true, evalScripts:true,
      parameters:'student='+this.id+'&type=<%= @type %>'+'&exam_report[batch_id]=<%= @batch.id %>',onSuccess:function(request){Element.hide('loader')}
    })
  }
  function set_first_active(){
    j('.student_names').first().children().first().addClass('active-link');
  }
  document.observe("dom:loaded", function() {
    set_first_active();
    $$('.student-link').invoke('observe','click',draw_report);
    $$('.student-link').invoke('observe','click',set_active);
  });
</script>
