.label-field-pair input {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 17px;
    margin: 5px 0 0 20px;
    padding: 5px;
    width: 205px;
}

.necessary-field {
    color: #FF0000;
    font-size: 1.1em;
}
.submit_button {
    margin-top:15px;
    margin-left:220px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.label-field-pair input, .label-field-pair textarea {
    width: 200px;
}
.label-field-pair textarea {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-radius: 10px;
    background-attachment: scroll;
    background-color: #EEEEEE;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border:1px solid #C6C6C6;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 205px;
}
.label-field-pair textarea:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}







.visibility_label{
  cursor: pointer;
}
div.flash_message_custom{
  display: none;
}

div.create_album_head{
  color:#333;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0px 20px 0px;
}

div.album_name{
  padding: 10px 0px;
}

label.album_name{
  color:#333;
  font-size: 13px;
  font-weight: bold;
}

input.album_name{
  margin-top: 10px;
  padding: 5px;
  box-sizing: border-box;
  width:430px;
  height: 30px;
  border-radius: 5px;
  border-style: solid;
  border-color: #d2d2d2;
  border-width: 1px;
}

div.visibility{
  margin-top: 30px;
  color:#333;
  font-size: 14px;

}

div.visibility_selector{
  margin-top: 20px;
}

div.visibility_public{
  vertical-align: top;
  display: inline-block;
  width:300px;
  margin-right: 20px;
}

div.visibility_private{
  vertical-align: top;
  display: inline-block;
  width:350px;
}

div.sub_text{
  font-weight: normal;
  color:#828282;
  padding-left:10px;
  padding-top: 10px;
  font-size: 13px;

}


div.box{
  margin-top: 20px;
}

div.selector_students{
  margin-top: 60px;
  display: none;
  margin-bottom: 50px;
}

div.selector_employees{
  display: none;
}
div.select_department{
  margin-top: 30px;
  display: inline-block;
  vertical-align: top;
  width:410px;
}
div.select_employees
{
  margin-top: 30px;
  display: inline-block;
  vertical-align: top;
  width:410px;
}
div.select_course{
  display:inline-block;
  vertical-align: top;
  width:410px;
  margin-right: 30px;
}
div.select_batch{
  display: inline-block;
  vertical-align: top;
  width:410px;
}

.solid_button{
  padding: 10px 20px 10px 20px;
  background-color: #333;
  color:#ffffff;
  border-radius: 4px;
  border-width: 0px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  height: 36px;
  box-sizing: border-box;
}
#page-yield .solid_button:hover{
  background-color: #626262;
  color: #fff !important;
}

div.bottom_submit{
  margin-top: 50px;
  margin-bottom: 20px;
}
button.create_album{
  margin-left: 5px;
  margin-right: 20px;
}
