root {
    display: block;
}
.gallery_background{
    background : #fff url(/images/gallery/Category_placeholder.png) no-repeat;
    height:145px;
    cursor: pointer;
    width: 195px;
}
.no_image{
    padding-left: 55px;
    padding-top: 58px;
}
.t_d{
    padding-bottom: 50px;
    width:25%;
    float: left;
}
.category_name b a {
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0px;
    padding-right: 0;
    padding-top: 0;
    text-decoration: none;
}
.category_name {
    color: #999999;
    display: block;
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0px;
    padding-right: 0;
    padding-top: 0px;
}
.gallery_background img{
    border: 1px solid #C6C6C6;
    padding: 2px;
}




















div.album_block{
  font-size: 0;
}

div.publish_notice{
  font-size: 12px;
  color:#333;
  margin-top: 50px;
  margin-bottom: 30px;
}

div.album{
  width:306px;
  height:218px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
}


div.album_middle{
  margin-left: 25px;
  margin-right: 25px;
}
div.row_spacing{
  margin-bottom: 30px;
}

div.imagebox{
  width: 306px;
  height: 160px;
  box-sizing: border-box;
  font-size: 0;
  border-bottom-style: solid;
  border-bottom-color: #e2e2e2;
  border-bottom-width: 1px;
}
div.four_images{
  width: 147px;
  height: 73px;
  display: inline-block;
  vertical-align: top;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("stub_image.png");
}
div.left_side{
  margin: 2px 0px 2px 2px;
  float: left;
}

div.right_side{
  margin: 2px 2px 2px 0px;
  float: right;
}

div.grid_spacing{
  padding: 2px;
}

div.single_image{
  width: 306px;
  height: 159px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("stub_image.png");
}

div.stub {
  background-color: #f4f4f4;
  background-position: center;
  background-size: 50px;
  background-image: url('/stub_image.svg');
}

div.album_description{
  width: 306px;
  box-sizing: border-box;
  padding: 10px;
}
div.album_head{
  font-weight: bold;
  color:#333;
  font-size: 14px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tag{
  color: #a2a2a2;
  font-size: 10px;
}
div.date_tag{
  display: inline-block;
  vertical-align: top;
}

div.count_tag{
  display: inline-block;
  vertical-align: top;
  float:right;
}



.pagination {
   margin-top: 20px;
   margin-right: 0px;
   min-width: 158px;
   height: auto;
   border: 1px solid #CCC;
   border-left: 0px;
   float: right;
   margin-top: 30px;
   margin-bottom: 20px;
}
.pagination a{
   color:#666;
   cursor: pointer;
   border:none !important;
   border-left: 1px solid #CCCCCC !important;
   font-size: 13px !important;
   display: block;
   float: left;
   font-weight: normal;
   padding: 9px 13px 9px 15px;
}
#page-yield .pagination a:hover {
   color: #333 !important;
}
.pagination .disabled{
   display: block;
   float: left;
   padding: 9px 5px 9px 10px;
   font-size: 13px;
   color:#666 !important;
   text-decoration: none !important;
   border-left:1px solid #ccc;
}
.pagination .prev_page{
   display: block;
   float: left;
   padding: 9px 5px 9px 10px;
   font-size: 13px;
   border-right: 1px solid #CCC;
   color:#666 !important;
   text-decoration: none !important;
   font-weight: normal !important;
}
.pagination .current{
   display: block;
   float: left;
   padding: 9px 13px 9px 15px;
   font-size: 13px;
   color:#fff !important;
   background-color: #666666;
   font-weight: normal;
}
.pagination .next_page{
   display: block;
   float: left;
   padding: 9px 5px 9px 10px;
   font-size: 13px;
   color:#666 !important;
   text-decoration: none !important;
   font-weight: normal !important;
}
.pagination .gap{
   display: block;
   float: left;
   border-left:1px solid #cccccc;
   color:#666;
   padding: 9px;
   font-size: 13px !important;
}
