form{
    float:left;
}
#sort_by{
    height:60px;
    width: 500px;
    float: left;
}
.book_count
{
    font-size: 14px;
    float: right;
}
#listing
{
    float: left;
}
.sort_button {
    margin-top:5px;
    float:left;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.sort_button:hover{
    background:  #373B3F;
}
.label-field-pair{
    float:left;
}
.label-field-pair{
    width:360px;
}
.label-field-pair label{
    width:90px;
}
table#listing .tr-odd, table#listing .tr-even {
    font-size:13px;
    font-weight:normal;
}

.errorExplanation {
    height: 30px;
    padding: 1px 0 20px 20px;
}
.small-strike {
    text-decoration:  line-through;
    font-size: 11px;
}
p.flash-msg
{
    float: left;
    width: 980px;
}
.submit-button{
    float: right;
    padding: 0px;
    margin-top: 30px;
}
.submit-button a {
    text-decoration: none;
    -webkit-border-radius: 0px;
    background: #27292B;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    /* margin: 0 0 0 210px; */
    padding: 7px;
    float: left;
    cursor: pointer;
    float: right;
    margin-bottom: 0px;
    /* margin-right: 12px; */
    padding-left: 13px;
    padding-right: 10px;
    /* margin-top: 30px; */
}
.submit-button a:hover {
    color: #fff !important;
}
#page-yield .submit-button a:hover {
    color: #fff !important;
}