/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 Apr, 2017, 12:05:02 PM
    Author     : nidhin
*/

.create-options{

}

.to-options{
    float:left;
    width:385px;
    margin: 8px 0 5px 0;
}

.to-options a{
    font-weight:bold;
}
.text-area-bg {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent none repeat scroll 0 0;
    float:left;
    /*width:250px;*/
}
.label-field-pair textarea {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #C6C6C6;
    margin:5px 0 0px 10px;
    padding:5px;
    width:205px;
}
.button {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:30px 0 0 280px;
    padding:7px 12px;
    text-align:center;
    width:auto;
}
.scrolable{
    float:left;
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #C6C6C6;
    /*margin:5px 0 15px 10px;*/
    padding:7px;
    width:241px;
    overflow:auto;
    max-height:100px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.scroll-inside{
    max-height:100px;
    overflow:auto;
}
.scroll-inside a.all {
    color:#444444;
    font-weight:bold;
    font-size:14px;
    text-decoration:none;
}
.scroll-inside a.individual{
    font-size:14px;
    text-decoration:none;
    color:#444444;
}
.scroll-inside .hover span.add-span{
    display: none;
}
.scroll-inside .hover:hover a{
    text-decoration:underline;
    color:#9f0c14;
}

.scroll-inside .hover:hover span.add-span{
    display:block;
    float:right;
    color:#444444;
    font-size:13px;
    padding-top:2px;
}
.id-span {
  color: gray;
  font-size: 12px;
  white-space: nowrap;
}
.hover{
    border-bottom:1px solid #dddddd;
      width: 90%;
}
#form{
    width:500px;
    float:left;
}
.message{
    /*width:400px;
    float:left;*/
}
.label-field-pair textarea:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}
.label-field-pair label{
    width:150px;
}
.label-field-pair input, .label-field-pair textarea{
    width:300px;
}
.selection_item {
  width: 30%;
  float: left;
}
.label-field-to {
  width: 30%;
  min-height: 130px;
  float: left;
}
.select_users {
  clear: both;
}
.selected_users{
  clear: both;
}
.recipient-list {
  float: left;
  width: 30%;
  min-height: 30px;
}
.label-field-pair_column{
  min-height: 90px;
  /*width: 600px;*/
  width: 258px;
  padding-top: 3px;
}
.label-field-pair_column label {
    color: #444;
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    /*float: left;*/
    width: 200px;
    padding-top: 10px;
    font-weight: 600;

}
.label-field-pair_column input {
    border: 1px solid #c6c6c6;
    /*margin: 5px 0 0 10px;*/
    margin-top: 10px;
    width: 597px;
    height: 42px;
    padding: 5px;
    background: #eee;
    border-radius: 10px;
}
.redactor-area-bg textarea {
  background: #eee;
  border-radius: 10px;
  resize: none;
  width: 98.3%;
  height: 90%;
  padding: 10px;
  border: 1px solid #c6c6c6;
}
.label-field-pair_column  input:focus {
    background: #fff;
    border: 1px solid #9e0f15;
}
.redactor-area-bg{
  width: 597px;
  height: 300px;
}
.redactor-area-bg textarea:focus{
  background: #fff;
  border: 1px solid #9e0f15;
}
#reminder_body {
  width: 587px;
  height: 290px;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  padding: 10px;
  float: left;
  margin-top: 10px;

}
/*overrides*/
.paperclip_field {
  margin-left: 0px;
}
.redactor_editor {
  height: 200px;
}
.text-input-bg select {
  margin: 0px;
  width: 258px;
}
.send_button {
  background:#27292B none repeat scroll 0 0;
  border:medium none;
  color:#FFFFFF;
  cursor:pointer;
  font-family:arial;
  font-size:14px;
  font-weight:bold;
  padding:7px 12px;
  text-align:center;
  width:auto;
  border-radius:10px;
  text-decoration: none;
}
input.send_button {
  margin-right: 15px;
}
.right {
  float: right;
  font-size: 13px;
  margin-top: 2px;
}
.right:hover {
  text-decoration: underline;
  cursor: pointer
}
.divider {
  clear: both;
  color: #ccc;
  border-color: #ccc;
  background-color: #ccc;
  height: 1px;
  border: 0;
  margin: 0;
}
.extender {
  height: 20px;
}
.scrolable-left-label{
  /*margin-left: 10px;*/
  font-size: 14px;
}
.message .label-field-pair_column {
   margin-top: 20px;
 }
h4{
  font-size: 15px;
}
.selection_item .label-field-pair_column {
  min-height: 10px;
}
.loader {
  float: right;
  margin-right: 56px;
}
#loader,#loader1,#loader2 {
  float: right;
  margin-right: 56px;
  margin-top: 14px;
}
.message {
  font-size: 14px;
}
.remove-field {
  float: left;
  margin-top: 64px;
}
.left {
  float: left;
  clear: both;
}
.remove-field a {
  cursor: pointer;
  text-decoration: none;
  color: transparent;
  background: transparent url("/images/iconsprite-1.png") no-repeat scroll -5px -344px;
  width: 15px;
  float: left;
  display: block;
  height: 10px;
  margin-top: 5px;
}
#page-yield .remove-field a:hover {
    color: transparent !important;
}
.message #attachment-field-div {
    margin-top: 10px;
}
#attachment-field-div label {
  margin-bottom: 15px;
  direction: ltr;
}
.s3_error {
  margin-top: -8px;
}
.error-icon {
    width:15px;
    height:12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-right:2px;
    float:left;
}
.error-msg{
    float:left;
    color: red;
    font-size: 13px;
    width:300px;
    margin-bottom: 20px;
}
.wrapper{
    margin-top: 5px;
    /*margin-left: 10px;*/
    width: 400px;
    float: left;
}
.can_reply_check{
    float:left;
    padding: 10px;
    border: 1px solid #ccc;
    background: #f0f0f0;
    margin-bottom: 20px;
    margin-top: 30px;
    line-height: 1.5;
    width: 59%;
}
.can_reply_check label{
    font-weight: bold;
}
.can_reply_desc{
    font-size: 13px;
    color: #666;
    margin-top: 10px;
    padding-left: 30px;
}
.can_reply_check .input-container{
    float:left;
}
.can_reply_check .input-container input{
    margin-top: 2px;
    margin-right: 13px;
}
.pull-left{
    float:left;
}
.can_reply_check .label-container{
    user-select: none;
}
.remove-field a:hover {
    background-position: -5px -344px !important;
}