/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 Apr, 2017, 5:43:07 PM
    Author     : nidhin
*/

.box_header{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    color:#666;
}
.box_sub_header{
    font-weight: bold;
    color: #666;
    font-size: 14px;
}
.box_sub_header_desc{
    font-size: 13px;
    margin-bottom: 30px;
    margin-top: 6px;
}
.permissions{
    display: flex;
}
.permission{
    margin-right: 20px;
}
.permission_options{
    margin-top: 20px;
    border: 1px solid #ccc;
    background: #f0f0f0;
    padding: 10px;
    min-height: 380px;
}
.permission_options_head{
    font-weight: bold;
}
.permission_options_subhead{
    margin-top: 10px;
}
.permission input{
    vertical-align: middle;
}
.submit-button{
    border-radius: 5px !important;
    margin-left: 0px !important;
    margin-top: 50px !important;
}
.permission_options .values{
    margin: 10px 0px;
    user-select: none;
    margin-top: 20px;
}
.settings_box{
    font-size: 13px;
}