.page_informer{
    float: left;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #444;
    margin-bottom: 20px;
}
.page_desc{
    float: left;
    width: 100%;
    font-size: 13px;
    color: #666;
    margin-bottom:30px;
}
.topic_informer{
    float: left;
    width: 100%;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: bold;
    color: #666;
}
.criteria_info{
    float: left;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 20px;
}
.block{
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.label_text{
    float: left;
    font-size: 13px;
    margin-right: 30px;
    margin-top: 8px;
    color: #333;
}
.label-field-pair {
    height: 30px;
    padding-top: 3px;
    float: left;
    width: 80px;
    margin-right: 15px;
}
.label-field-pair input {
    -webkit-border-radius:10px;
    -moz-border-radius:10px 10px 10px 10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:0 0 0 10px;
    padding:5px;
    width:50px;
}
.label-field-pair input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}
.block span{
    float: left;
    font-size: 13px;
    margin-top: 8px;
    margin-right: 15px;
}
#submit-button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
    float: left;
}
.hor_line{
    width:100%;
    background: #ccc;
    height: 1px;
    float:left;
    margin-bottom:30px;
}