

.ativity_box{
    padding: 10px;
}
.ativity_box .header{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}
.details{
    display: table;
    font-size: 13px;
}
.details .details_strip{
    padding: 8px 0px 8px 0px;
    /*display: inherit;*/
    margin-bottom: 15px;
}
.details .details_strip .label{
    display: table-cell;
    min-width: 200px;
    color: #666;
    float: left;
}

.details .details_strip .field{
    max-width: 500px;
    float: left;
    line-height: 1.5;
}
.details .details_strip .edit_field{
    float:left;
    margin-left: 10px;
    padding-top: 2px;
}
.edit_field a{
    color: #666;
}
#page-yield .edit_field a:hover {
    color: #000 !important;
}
.bold{
    font-weight: bold;
}
hr{
    margin: 30px 0px 30px 0px;
}

.activities{
    display: table;
}
.activities .activity_strip{
    padding: 5px 0px 5px 0px;
    display: inherit;
    font-size: 13px;
}
.activities .activity_strip.head{
    margin-bottom: 10px;
}
.activities .activity_strip .label{
    /*display: table-cell;*/
    min-width: 290px;
    float: left;
}

.activities .activity_strip .field{
    max-width: 500px;
    float:left;
}
.activities #add-text{
    margin-top: 10px;
    font-size: 13px;
    color: #0c0c0c;
    float: left;
    font-weight: bold;
}
.add_button_img{
    text-decoration: none;
}
.submit-button{
    margin-left: 0px;
    color: white;
    background: black;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 3px;
}
.cancel-button{
    text-decoration: none;
    margin-left: 10px;
}
#page-yield .cancel-button:hover {
    color: #fff !important;
}
.activities .activity_strip .field{
    width:500px;
    position: relative;
}
.activities .activity_strip .field input{
    width:95%;
}
.activities .activity_strip input{
    padding: 5px;
    box-sizing: border-box;
    float: left;
    width: 260px;
}
.wrapper {
    margin-top: 6px;
    margin-left: 0 !important;
    float:left;
}
.error-msg{
    float: left;
    color: red;
    font-size: 13px;
    font-style: italic;
}
.error-icon{
    width: 15px;
    height: 12px;
    background: url(/images/iconsprite-1.png);
    background-position: -42px -344px;
    margin-right: 2px;
    float: left;
    margin-top: 1px;
}
.remove_field{
    background: white;
    background-image: url(/images/iconsprite-1.png);
    background-position: -31px 1px;
    float: right;
    height: 16px;
    width: 14px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: 0;
    margin-top: 5px;
    right: 20px;
    top: 18px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}
div#add-text:before {
    content: '+';
    margin-right: 8px;
}

#popup_window
{
    width: 690px;
    top: 40px;
    float: left;
}
#popup_frame .part {
    width: 610px;
}
#popup_content #description{ margin-top : 0px}
#popup_content .label-field-pair{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
#popup_content .label-field-pair label {
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
}
#popup_content .text-input-bg input{
    margin-left: 0;
    -webkit-border-radius: 0;
    width: 400px;
}
#popup_content .text-input-bg textarea{
    resize: none;
    -webkit-border-radius: 0;
    width: 400px;
    height: 60px;
}
#popup_content{
    padding-left: 0px !important ;
    padding-right: 0px !important;
}
#popup_footer{
    padding-left: 40px;
    padding-right: 40px;
    border-top: 1px solid #c6c6c6;
    float: left;
    width: 610px;
    padding-top: 20px;
}
#popup_content{width: 690px !important;}
#description{
    color: grey;
    font-size: 13px;
    margin: 20px 0px 20px 0px;
}
#activity_profile_form{
    float: left;
    padding-left: 40px;
    padding-right: 40px;
}
.fieldWithErrors textarea{border: 1px solid #9c0000 !important;}
#popup_content .wrapper {
    margin-top: 5px;
    margin-left: 0 !important;
    min-width: 300px !important;
}
#popup_content .error-msg{width: 231px;}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 100%;
    float: left;
}