/*Header*/
#group_details{
    float: right;
    width: 75%;
    margin-bottom: 20px;
}
#group_status{
    float: right;
    width: 25%;
    margin-bottom: 20px;
}
.fields-details {
    float: right;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    color: #444;
    margin: 10px 0;
}
.field-label {
    float: right;
    max-width: 200px;
    color: #8C8C8C;
}
.fields-val {
    float: right;
    max-width: 600px;
    margin-right: 10px;
}
#group_name{ font-size: 16px;}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: right;
}
.add-link, #page-yield .add-link:hover {
    color: black !important;
    font-size: 13px;
    margin-right: 20px;
}
#header{
    font-weight: bold;
    font-size: 16px;
    margin-top: 30px;
    color: #444;
    float: right;
    width: 100%;
}
#description{
    color: grey;
    font-size: 13px;
    margin: 20px 0px 20px 0px;
    width: 75%;
    float: right;
}
#filters{float: right;width: 100%;}
.dept_name, .emp_name{
    float: right;
    width: 250px;
    height: auto;
}
.dept_name label, .emp_name label{
    font-weight: normal;
    font-size: 13px;
}
.dept_name select, .emp_name input{
    margin: 10px 0 0 0;
}
.dept_name select{
    padding: 5px 6px;
    height: 29px;
}
.dept_name .text-input-bg, .emp_name .text-input-bg{height:auto}
.emp_name{
    float: left;
    width: 217px;
}
#loader1{
    float: left;
    margin-top: 44px;
    margin-left: 5px;
}
#employees_form{
    width: 100%;
    float: right;
    display: none;
    }

#popup_content ::-webkit-scrollbar {
    width: 12px;
    height: 10px;
    border: 0px;
}
#employees_form ::-webkit-scrollbar-track {
    background-color: #eaeaea;
}
#employees_form ::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
#employees_form ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

#employees_form ::-webkit-scrollbar {
    width: 10px;
}

#employees_form ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#employees_form ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#status{
    float: right;
    font-size: 13px;
    color: grey;
    margin-top: 7px;
}
#add_emp_footer{ float: left }
#add_emp_footer .submit-button{
    margin: 0px 20px 0px 0px !important;
    text-decoration: none;
    font-size: 13px;
}
#advanced_search{
    color: black;
    font-size: 13px;
    margin-top: 44px;
    float: right;
}

/*advanced search*/
#popup_window.search-form
{
    width: 690px;
    top: 40px;
    float: right;
}
.search-form #popup_frame .part {
    width: 610px;
}
.search-form #popup_content #description{ margin-top : 0px}
.search-form #popup_content{overflow: visible;}
.search-form #popup_content .label-field-pair{
    float: right;
    width: 100%;
    margin-bottom: 20px;
}
.search-form #popup_content .label-field-pair label {
    width: 150px;
}
.search-form #popup_content{
    padding-right: 0px !important ;
    padding-left: 0px !important;
}
.search-form #popup_footer{
    padding-right: 40px;
    padding-left: 40px;
    border-top: 1px solid #c6c6c6;
    float: right;
    width: 610px;
    padding-top: 20px;
}
#advanced_search_form{
    float: right;
    padding-right: 40px;
    padding-left: 40px;
}
.search-form #popup_content{
    width: 690px !important;
}
#advanced_search_form .ms-parent{
    margin-top: 5px;
    width: 250px !important;
}
.ms-choice{ height: 29px !important;}
.ms-choice > span{
    top: 1.5px !important;
}
.ms-drop {
    border: 1px solid #678791 !important;
    -webkit-border-radius: 0px !important;
}
.ms-drop ul li label{
    color: #000;
    width: auto !important;
}
.ms-drop
{
    overflow-y: hidden !important;
}
.ms-select-all
{
    width:170px;
}
.ms-drop ul li
{
    width: 170px;
    float: right;
}
.ms-drop ul li input
{
    margin: 0 0 0 5px !important;
}
li.ms-no-results{ font-size: 13px;}
.label-field-pair input[type=checkbox], .label-field-pair input[type=radio] {
    height: 13px !important;
    width: 14px !important;
    margin-top: 12px;
    float: right;
}
.radio_button input[type=radio]{
    margin-right: 0px
}
.radio_button label{
    margin-right: 5px;
    width: auto !important;
    max-width: 80px !important;
}
.text-input-bg{width: 400px;}
.radio_button{
    width: 100px;
    float: right;
}
#filter_result{
    float: right;
    width: 95.7%;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    padding: 20px;
}
#filter_result #search_result{
    float: right;
    font-size: 13px;
    margin-top: 2px;
}
#filter_result .fields-details{
    font-size: 13px;
    width: 50%
}
#filter_result .fields-details .fields-val{ max-width: 300px}
.filters_sec{ 
    float: right;
    width: 100%
}
#search_status{
    float: right;
    width: 100%;
}
.substitute{
    padding: 100px 0 300px;
    background-color: #f4f4f4;
    text-align: center;
    border: 1px solid #bfbfbf;
    float: right;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    width: 100%;
}
#loading{ margin-top: 30px; }
#loading #loader{
    margin-bottom: 5px;
}
.substitute span{
    width: 100%;
    float: right;
}
.confirmation p{
    text-align: center !important;
}
.confirmation #status{font-weight: bold;color: #444;}
.confirmation span.symbol{
    margin-right: 190px;
}
.confirmation #warning{ color: #8E8E8E;}
.symbol {
    height: 17px;
    width: 20px;
    background: url(/images/iconsprite-1.png) no-repeat center;
    margin-right: 15px;
    float: right;
}
.tick{
    background-position: 0px -360px;
}
/*Table*/
#employee_list{float: right; width: 100%;}
.employees_table {
  position: relative;
  border: 1px solid #bfbfbf;
  padding-top: 35px;
  background: #e8e8e8;
  float: right;
  font-size: 13px;
  width: 100%;
  margin: 30px 0 20px 0;
}
.employees_table.positioned {
  position: absolute;
  top:100px;
  right:100px;
  width:800px;
  box-shadow: 0 0 15px #333;
}
.container {
  overflow-y: auto;
  max-height: 600px;
}
table {
  border-spacing: 0;
  width:100%;
}
td + td {
  border-right: 1px solid #bfbfbf;
}
td, th {
  border-bottom: 1px solid #bfbfbf;
  background: white;
  color: #000;
  padding: 10px;
}
th {
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;
  white-space: nowrap;
  border-bottom: 1px solid #bfbfbf;
}
th div, th input{
  position: absolute;
  background: transparent;
  color: black;
  padding: 10px;
  top: 1px;
  margin-right: -10px;
  line-height: normal;
  border-right: 1px solid #bfbfbf;
  min-height: 14px;
}
th:first-child div{
  border: none;
}
th.action, td.action{width: 10%;}
th.name, td.name{width: 40%;}
th.department, td.department{width: 20%;}
th.position, td.position{width: 15%;}
th.grade, td.grade{width: 15%;}
.select_all{
  right: 25px;
  top: 8px;
}
tbody  tr:last-child td {border-bottom: 0;}
td.name a, #page-yield td.name a:hover, td.action a, #page-yield td.action a:hover{
  color: black !important;
  text-decoration: none;
}
.remove_emp_popup #popup_content{ font-size: 13px;}
.tooltip_info{ width: 200px}