.label{
    font-size:13px;
    color:grey;
    margin-bottom:10px;
}
.text{
    font-size:13px;
}
.employee_name{
    margin-bottom: 30px;
    float:right;
    width: 300px;
}
.reset_date{
    width: 300px;
    margin-bottom: 30px;
    float: right;
}
.dpt_name{
    width: 300px;
    float:right;
}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: right;
}
a#cancel-link, #page-yield a#cancel-link:hover {
    text-decoration: none;
    color: #fff !important;
}
.label-field-pair label, .label-radio-pair label {
    font-weight: normal;
    font-size: 13px;
    width: 130px;
}
.label-field-pair {
    min-height: 40px;
    max-height: 80px;
    height: auto;
    float: right;
    width: 100%;
}
.submit-button {
    margin: 20px 0 0 20px;
    font-size: 13px;
}
.wrapper {
    margin-top: 5px;
    float: right;
    min-width: 400px;
    margin-right: 10px;
}
.error-icon {
    width: 15px;
    height: 12px;
    background: url(/images/iconsprite-1.png);
    background-position: -42px -344px;
    margin-left: 2px;
    float: right;
}
.error-msg {
    float: right;
    color: red;
    font-size: 13px;
    font-style: italic;
    width: 250px;
}
#leave_group_details{
    float: right;
    width: 100%;
}
table {
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    width: 50%;
    margin: 20px 0px;
}
table .tr-head {
    background-color: #f0f0f0;
    font-weight: bold;
    border-bottom: 1px solid #bfbfbf;
}
tr {
    border-bottom: 1px solid #bfbfbf;
}
td {
    padding: 10px;
    border-left: 1px solid #bfbfbf;
    color: black;
}