<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="page-yield">
    <div class="box">
        <% form_remote_for @observation_remark,:url=>{:controller=>"observation_remarks",:action=>'create'},:before=>"$('submit_button').disable()",:complete=>"setTimeout(function(){$('submit_button').enable();},5000)" do |f| %>
          <div id="form-errors"></div>
          <%= error_messages_for :observation_remark %>
          <div class="label-field-pair">
              <label id="remark">Remark </label>
              <div class="text-area-bg"><%= f.text_area :remark , :cols => 30, :rows => 5%>
              </div>
          </div>

          <%= hidden_field_tag "observation_remark[observation_id]",@observation.id %>
          <%= f.submit "", :value => "► Create", :class => "submit_button", :id => 'submit_button' %>
        <% end %>
    </div>
</div>
