<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
    <%= show_header_icon %>
    <h1>Co-Scholastic Settings</h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'>Co-Scholastic Remark Settings</div>

</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs  %>
    </div>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>

    <div id="header_label">Remarks Settings</div>
    <div id="sub_header_label">Choose between custom remarks for each student and auto-populate remarks from descriptive indicators.</div>

    <%form_for :setting,:url=>{:controller=>'observation_remarks',:action=>'co_scholastic_remark_settings'} do |f|%>
      <div class="individual_block">
          <%= radio_button  :observation_remarks, :co_scholastic_remark_mode,"0",:checked=>@setting=="0",:class=>'report_head'%>
          <label class="general_label" for="observation_remarks_co_scholastic_remark_mode_0">Choose from remarks set (Recommended)</label>
          <div class="sub_text">
              Create custom remarks for each observation group, based on the final grade of the observation, choose the most appropriate remark for each student.
          </div>
      </div>
      <div class="individual_block">
          <%= radio_button  :observation_remarks, :co_scholastic_remark_mode,"1",:checked=>@setting=="1",:class=>'report_head'%>
          <label class="general_label" for="observation_remarks_co_scholastic_remark_mode_1">Auto populate the remarks (Best of) <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader1", :style =>"display: none;" ) %></label>
          <div class="sub_text">
              The remark is auto-populated from the list of descriptive indicators in the observation. The indicators are sorted based on the marks from the highest to lowest.
          </div>
          <div id="di_counter">
              <%if @setting == "1"%>
                <%=render :partial=>'di_counter'%>
              <%end%>
          </div>
      </div>
      <div id="submit_button">
          <%= submit_tag "Save settings",:id=>'submit-button'%>
      </div>
    <%end%>
</div>
<script type="text/javascript">
  j('.report_head').change(function () {
      j.ajax({
          type: 'GET',
          url: "/observation_remarks/get_di_info",
          data: {
              id: j(this).val()
          },
          beforeSend: function () {
              j('#loader1').show();
          },
          success: function () {
              j('#loader1').hide();
          }
      });
  });
</script>