#form-content{
    height:150px;
    width:675px;
    margin:0 20px 0 0;
    width:750px;
}

.box{
    width: 450px;
    margin: 0 auto;
}

#submit-button input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-right:210px;
    margin-top:10px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
}

.leave-type-list {
    clear : both;
    padding : 80px 40px 0 0;
    width:600px;
    margin:auto;
}

.leave-type-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    width: 32em;
    list-style-type: none;
    padding: 0.5em 3em 0.5em 0;
    overflow: auto;
}

.leave-type-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    width: 32em;
    list-style-type: none;
    padding: 0.5em 3em 0.5em 0;
    overflow: auto;
}

.leave-type-list li.heading {
    background : none;
    font-weight : bold;
}
.leave-type-list li div {
    float : right;
}
.leave-type-list li div.leave-type-name {
    width : 340px;
    font-weight:bold;
    font-size:13px;
    margin-left:50px;
}
.leave-type-list li div.leave-type-edit,
.category-list li div.category-delete {
    font-size : 0.9em;
    width : 50px;
    word-break:break-all;
    overflow: auto;
    margin-left: 10px;
}
.leave-type-list li div a {
    color : #000;
    font-size: 14px;
    text-decoration:none;
}
.leave-type-list li div a:hover {
    color : #d00;
    text-decoration:underline;
}


.leave-type-list .listheading {
    background:none repeat scroll 0 0 #BECFFB;
    border-bottom:2px solid #BECFFB;
    color:#444444;
    height:1.5em;
    list-style-type:none;
    padding:0.5em 1em 0 0;
    width:34em;
}

.label-radio-pair  {
    height:40px;
    padding-top:3px;
    padding:10px 0px 0 0;
}
.status{
    color:#444444;
    display:block;
    float:right;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:3px;
    width:206px;
}

.check_box{
    margin-top: 7px;
}

.label-radio-pair label{
    font-size: 13px;
    font-weight: normal;
    color: #444;
    /* margin-top: -9px; */
}

#leave_carry_forward label, #lop_enabled label{
   cursor: pointer;
}

#lop_enabled{
    margin-top: -10px;
}
#leave_count input, #reset_date input, #code input{
    width: 120px;
}

.label-radio-pair input:nth-child(odd)  {
    float:right !important;
    margin-right: 30px !important;
}

#leave_type_max_carry_forward_leaves{
    width:80px;
}

#max_leaves{
    font-size: 13px;
    margin-top: 5px;
    color: grey;
    padding-right: 5px;
    width: auto;
    float: right;
    /* margin-left: 200px; */
}

#max_carry_forward{
    width: 100px;
    float: right;
}

#max_carry_forward .text-input-bg{
    width: 200px;
}

.text-input-bg{
    width: 350px;
}

#max_carry_forward #max_leaves{
    margin-top: 13px;
    margin-right: -10px;
}

.label-radio-pair{
    height: 30px;
    float: right;
    width: 100%;
}

#leave_cf{
    margin-bottom: 20px;
    float: right;
}

#leave_cf .label-radio-pair{
    height: 20px !important;
    width: 100%;
    float: right;
}

.label-field-pair label{
    font-size: 13px;
    font-weight: normal;
    float:right;
}

.label-field-pair{
    margin-bottom: 15px;
}

.label-radio-pair input, .label-radio-pair label{
    float:right;
}

#leave_carry_forward input, #lop_enabled input{
    margin-top: 2px;
    margin-left:10px;
}

#leave_carry_forward_type{
    margin-bottom: 15px;
    margin-top: -10px;
}


#max_leave_types{
    font-size: 13px;
    margin-top: 15px;
    color: grey;
    padding-right: 5px;
    width: auto;
    float: right;
    margin-right: 206px;
}

#leave_carry_forward_type input,#leave_carry_forward_type label {
    margin-top: 10px;
    float: right;
}

#leave_carry_forward_type #max_carry_forward{
    margin-top: -10px;
    /* float: left; */
}

#leave_carry_forward_type input{
    margin-left: 10px;
    float: right;
}

.error-msg{
    color: red;
    font-size: 13px;

}
.error-icon {
    width:15px;
    height:12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-left:2px;
    float:right;

}

.wrapper {
    margin-top: 5px;
    margin-right: 10px;
    float: right;
    width: 100%;
}

#valid_from_text, #leave_count_text, #leave_status_text{
    background-color: #F0F0F0;
    padding: 10px;
}

#date_field{
    float:right;
    width: 383px;
}
.description {
  font-size: 13px;
  float: right;
  padding-top: 10px;
  color: #666;
}
#leave_count, #reset_date{
    width: 100%;
}

#reset_date img{
   margin-left: 20px;
}

#leave_count_text{
    margin-right: -180px;
}

#reset_date input{
   cursor: pointer;
}

#max_carry_forward .text-input-bg{
    width: 500px;
}

#reset_date .wrapper{
  margin-right: 210px;
}

#leave_count .text-input-bg{
   width: 450px;
}
#status_div{
    width: 200px;
    margin-top: 10px;
}
#status_div input{
    margin-right: 5px !important;
    margin-top: 2px;
    margin-left: 10px;
}
#is_active .status{margin-top: 8px;}