
#report table, #leave_summary table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
    margin-bottom: 20px;
}

#report td,#leave_summary td {
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}

#leave_summary table .tr-head, #report table .tr-head{
    background-color: #f0f0f0;
    font-weight: bold;
    border-bottom: 1px solid #bfbfbf;
}



tr {
    border-bottom: 1px solid #bfbfbf;

}/*
#report{
    float: left;
    width: 100%;
}

.no_entries {
  float: left;
  background-color: #eeeeee;
  width: 98%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-size: 14px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.side_header{
    width: 15%;
}

.date{
    width: 20%;
}

.leave_name{
    width: 20%;
}

.status{
    width: 20%;
}

.reason{
    width: 30%;
}

.leave{
    width: 30%;
}

#loader1{
    margin-top:0px;
}*/


.label{
    font-size:13px;
    color:grey;
    margin-bottom:10px;
}

.text{
    font-size:13px;
}

.employee_name{
    margin-bottom: 30px;
    float:right;
    width: 300px;
}

.reset_date{
    width: 300px;
    margin-bottom: 30px;

    float: right;
}

.dpt_name{
    width: 300px;
    float:right;
}

.position{
    float:right;
    width: 300px;
}

.grade{
    float:right;
    width: 300px;
}

#lop_status{
    float: right;
}

#filters{
    /* margin-top: 30px; */
    float: right;
}

#leave_category{
    float: right;

}

#date_filters{

}

.label-field-pair{
    width: 240px;
}

#report{
    width:100%;
    float:right;
    margin-top: 30px;
}

#filter_text{
    float: right;
    margin-top: 40px;
    font-size: 13px;
    width: 70px;
}

.text-input-bg select{
    margin-right: 0px;
}

#leave_summary{
    float:right;
    width:100%;
    margin-top:30px;
}

#date_filters{
    float:right;
    width:100%;
}

#date_filters .label-field-pair label{
    width: 50px;
}

#date_filters .text-input-bg{
    width: 200px;
}

#date_filters .label-field-pair input{
    width:150px;
}

#date_filters .label-field-pair{
    width: 275px;
    float: right;
}

#submit_button{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    float:right;
    margin-top: 7px;
    /* margin-right: 210px; */
    padding:7px 12px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
}

#cancel{
    /* width: 50px; */
    text-decoration: underline;
    font-size:13px;
    float: right;
    margin-top: 15px;
    margin-right: 25px;
    cursor:pointer;
}


hr{
    float:right;
    width:100%;
    color: #f0f0f0;
    /* margin-top: 0px; */
    /* margin-bottom: 30px; */
}

#date_range .label-field-pair{
    width: 150px;
    float: right;
}

#date_range .label-field-pair label{
    width: auto;
}

#date_range .label-field-pair .text-input-bg{
    width: 100px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 13px;
}

#reset, #change_date{
    font-size:13px;
    margin-top: 12px;
    float: right;
    cursor:pointer;
}

#change_date{
    float:right;
    margin-left: 10px;
}

#date_range{
    float:left;
    margin-top: 25px;
}


#advance_search{
    float:left;
    font-size:13px;
    cursor:pointer;
    margin-top: 40px;
}
