#skip{
    margin-top:28px;
    margin-right:130px;
    float:right;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    background:none repeat scroll 0 0 #27292B;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    padding:7px 10px;
}
#skip a{
    color:#fff;
    text-decoration: none;
}
#skip:hover,#add-more-parent:hover{
    background:  #373B3F;
}

table#listing td a:hover {
    color:#27292B;
    text-decoration:none;
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    background:none repeat scroll 0 0 #373B3F;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-right:0px;
    margin-top:15px;
    padding:7px 10px;
    width:auto;
    display: block;
}

#reset-box {
    background: #ffdedf ;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    height : auto;
    margin : 20px auto;
    padding : 1px 20px 1px 0;
    text-align: center;
    width :500px;
    margin: 0 auto;
    font-size: 18px;
}

a.user_button{
    margin-top: 20px;
    margin-right: 420px;
}

table#listing{
    padding: 20px !important;
}
.bread_crumb {
    margin-right: 10px;
}

#list table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
    margin-bottom: 20px;
}

#list td{
    padding: 10px;
    border-left: 1px solid #bfbfbf;
    color: black;
}

#list table .tr-head{
    font-weight: bold;
    border-bottom: 1px solid #bfbfbf;
    background-color: #f0f0f0;
}

#list tr{
    border-bottom: 1px solid #bfbfbf;
}

.text-area-bg {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent none repeat scroll 0 0;
    float:right;
    width:250px;
    /* height: 420px; */
}
.label-field-pair textarea {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #C6C6C6;
    /* margin:5px 0 0px 10px; */
    padding:5px;
    width:205px;
    /* height: 417px; */
}

.description{
    font-size: 13px;
    color: grey;
    margin-bottom: 20px;
}
.label-field-pair{
    width: 100%;
    float: right;
}
.label-field-pair label{
    color: grey;
    font-weight: normal;
    font-size: 13px;
}
.text-input-bg{
    padding-top: 10px;
    font-size: 13px;
    /* font-weight: bold; */
}

.label-field-pair input{
    margin-right: 0px;
}

#submit-button{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-top:30px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
    margin-right: 200px;
}

#list{
    margin-top: 30px;
    float: right;
    width: 100%;
    margin-bottom: 30px;
}

.label-field-pair{
    min-height: 40px;
    height:auto;
}

.text-input-bg{
    width: 400px;
}

p.flash-msg{
    width: 100%;
    float:right;
}

.error-msg{
    color: red;
    font-size: 13px;

}
.error-icon {
    width:15px;
    height:12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-left:2px;
    float:right;

}

.wrapper {
    margin-top: 5px;
    margin-right: 10px;
    float: right;
    width: 100%;
}
.reset-leave-hint-label{
    width: 200px;
    float: right;
}
.width100{
    width: 100%;
}
.reset-date-hint{
    width: 90% !important;
    padding-top: 35px !important;
    text-align: justify;
    text-justify: inter-word;
}