
#leave-info{

}


#category-list {
    clear : both;
    padding : 10px 0px 40px 0;
    width:540px;
    margin:0px auto;
}

#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em;
    width: 40em;
    list-style-type : none;
    padding : 0.5em 5em 0 0;
    float:right;
    font-size: 13px;
}

#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em;
    width: 40em;
    list-style-type : none;
    padding : 0.5em 5em 0 0;
    float: right;
    font-size: 13px;
}

#category-list li div {
    float : right;
}
#category-list li div.category-name {
    width : 235px;
    font-weight: bold;
    font-size:13px;
}
div.category-val{
    width : 235px;
}
#category-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}

.cancel-leave{
    width:50px;
    float:left;
    margin:0 0 0 120px;
}

.cancel-leave a{
    color:black;
    text-decoration:underline;
}
.user_button {
    margin: 0 455px 0 0;
    margin-top: 20px;
}
