.label-field-pair{
    /* margin:0 0 0 230px; */
    margin-bottom: 30px;
}



#description{
    color: grey;
    font-size: 13px;
    height:40px;
}


#report table{
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
    table-layout: fixed;
    /* overflow-x: scroll; */
    /* display:block; */
    margin-bottom: 10px;
    /* border-bottom: 1px solid #bfbfbf; */
    /* border-top: 1px solid #bfbfbf; */
    /* margin-top: 20px; */
}

#report td{
    padding: 10px;
    color: black;
    border-left: 1px solid #bfbfbf;
}
#report tr{
    border-bottom: 1px solid #bfbfbf;
}
#report table .tr-head{
    font-weight: bold;

    background: #f0f0f0;
    width: 700px;
}

#report td a{
    text-decoration: none;
    color: black;
}
#page-yield a:hover {
   color: black !important;
}

.dpt_name{
    background: #ddd;
    width: 250px;
    height: 13px;
    border-bottom: 1px solid #bfbfbf;
}

.text-input-bg{
    width: 220px;
}

#report{
    float: right;
    overflow-x: auto;
    width: 100%;

    margin-bottom: 30px;
    /* margin-top: 30px; */
}
.pagination {
    margin-top: 20px;
    margin-left: 0px;
}
.pagination{
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-right: 0px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-right: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: right;
    font-weight: normal;
    padding: 9px 15px 9px 13px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-right:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: right;
    padding: 9px 15px 9px 13px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: right;
    border-right:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}
#advance_search{
    float:left;
    font-size:13px;
    cursor:pointer;
    /* margin-top: 60px; */
    /* margin-bottom: 15px; */
    text-decoration: underline;
}

form {
    float: right;
    /* width: 50%; */
}
#filters form{
    width: 100%;
}
#filters{
    float:right;
    width:100%;
}

#filters .label-field-pair label{
    width: auto;
}

#filters .text-input-bg{
    width: 200px;
}

#filters .label-field-pair input{
    width: 125px;
}

#filters .label-field-pair{
    width: 260px;
    float: right;
}

#submit_button{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    float:right;
    margin-top: 7px;
    /* margin-right: 210px; */
    padding:7px 12px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
}

#cancel{
    /* width: 50px; */
    text-decoration: underline;
    font-size:13px;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    cursor:pointer;
}

hr{
    float:right;
    width:100%;
    color: #f0f0f0;
    /* margin-top: -10px; */
    margin-bottom: 20px;
}

.tot_leave, .lop, .additional_leave{
    width: 70px;
}

.name{
    width: 250px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid #bfbfbf;
}

.leave_name{
    width: 300px;
}

#date_range .label-field-pair{
    width: 150px;
    float: right;
}

#date_range .label-field-pair label{
    width: auto;
}

#date_range .label-field-pair .text-input-bg{
    width: 100px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 13px;
}

#reset, #change_date{
    font-size:13px;
    margin-top: 15px;
    float: right;
    cursor:pointer;
    text-decoration: underline;
}


#change_date{
    float:right;
    margin-left: 10px;
}

#date_range{
    float:left;
    margin-top: 25px;
}

.error-msg{
    color: red;
    font-size: 13px;
    /* font-style: italic; */
    /* width:100%; */
    float: left;
    /* padding:10px; */

    /* margin-left: 23px; */
    margin-top: 18px;
}
.error-icon {
    width:15px;
    height:12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-left:2px;
    float:right;
    /* margin-top:10px; */
    /* margin-left: 10px; */
}

#department_select, #leave_type_select{
    float:right;
    width: 25%;
}

#loader1{
    margin-top: 10px;
}
#loader{
    margin-top: 15px !important;
  margin-right: 10px;
}

.status{
    width: 100%;
    float: right;
}

#leave_type_select{

}

#leave_type_select .label-field-pair label, #department_select .label-field-pair label{
    float: none;
    font-size: 13px;
    color: #444;
    font-weight: normal;
}

.text-input-bg select {
    margin-right: 0px;
}

label{
    font-size: 13px;
    font-weight: bold;
    color: #444;
    float: right;
    margin-top: 13px;
    margin-left: 45px;
    /* font-weight: 700; */
}
.label-field-pair label{
    font-weight: normal;
    font-size: 13px;
}

#page-yield div.name a:hover{
    color: black !important;
}

.date{
    width: 125px;
}


.header{
  position:absolute;
  *position: relative; ie7
  right:0;
  /* width:100px; */
  right: 0px;
}
.outer {position:relative;/* border-top: 1px solid #bfbfbf; */margin-top: 20px;border: 1px solid #bfbfbf;}
.inner {
  overflow-x: auto;
  overflow-y:visible;
  margin-right: 270px;
  /* border-bottom: 1px solid #bfbfbf; */
}

#report td a:hover{
    color: black !important;
}

.employee_name{
    overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip_info {
  width: auto;
  padding: 5px;
  top: 100%;
  display: inline-block;
  margin-top: 7px;
  z-index: 254;
  /* right: 0; */
  position: absolute;
  background: #f4f4f4;
  border: 1px solid #B2B2B2;
  pointer-events: none;
  color: #000000;
  text-align: right;
  font-size: 13px;
  white-space: normal;
}

.tooltip_wrapper {
  position: relative;
  cursor: pointer;
  float: none;
  color: #999;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

  ::-webkit-scrollbar-track {
    background-color: rgba(231, 225, 225, 0.6);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(194, 191, 191, 0.6);
}