.description{
    font-size: 13px;
    color: #666;
    float:right;
    margin-bottom: 30px;
}

#employee_list table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
    margin-bottom: 50px;
}

#employee_list td{
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}

#employee_list table .tr-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
}

#employee_list table .tr-head td{
    color: black !important;
}
h4{
    font-size: 14px;
    font-weight: bold;
}
#employee_list tr.tr-head, tr.tr-head a, td a:hover{
    color: black !important;
}
.pagination {
    margin-top: 20px;
    margin-left: 0px;
}
.pagination{
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-right: 0px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-right: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: right;
    font-weight: normal;
    padding: 9px 15px 9px 13px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-right:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: right;
    padding: 9px 15px 9px 13px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: right;
    border-right:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}
.label-field-pair{
    float:right;
    width: 300px;
}
.filter1, .filter2{
    width: 100%;
    float:right;
}

.submit-button{
    margin: 0px;
    margin-top:10px;
}

#employee_list{
    float:right;
    width: 100%;
    margin-top: 50px;
}

#status .text-input-bg select{
    width: 150px;
}

#status label{
    width: auto;
}

input.start_date, input.end_date{
    width: 120px;
}

.text-input-bg{
    width:auto;
}

#date_fields label{
    width: 40px;
}

#date_fields .label-field-pair{
    width: 200px;
}

#cancel, #filter_date_link{
    font-size: 13px;
    text-decoration: underline;
    margin-top:10px;
    margin-right: 10px;
    cursor: pointer;
}

#filter_date_link{
    margin-top: 18px;
    float: right;
}

#cancel{
    margin-top: 18px;
    float:right;

}

hr{
    color: #f0f0f0;
    width: 100%;
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
}
.label-field-pair input{
    margin-right:0px;
}

.text-input-bg select{
    height: 30px;
}

.label-field-pair label{
    font-weight: normal;
    font-size: 13px;
    width: 40px;
}

#date_filters .label-field-pair{
    width: 220px;
}
#emp_search{
    width: 250px;
}

#dpt_select{
    width: 250px;
}

td a{
    color: black !important;
    text-decoration:none;
}

#page-yield table td a:hover{
    color: black !important;
}

td.col-1{
    width: 10%;
}

td.col-2{
    width: 20%;
}

#loader1{
    margin-top: 17px;
    margin-right: 10px;
}


tr{
  border-bottom: 1px solid #bfbfbf;
}

.error-msg{
    color: red;
    font-size: 13px;
    /* float: left; */
    width: 100%;

    margin-right: 40px;
    margin-top: 50px;
}
.error-icon {
    width:15px;
    height:12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-left:2px;
    float:right;

}
#date_range .label-field-pair{
    width: 150px;
    float: right;
}

#date_range .label-field-pair label{
    width: auto;
}

#date_range .label-field-pair .text-input-bg{
    width: 100px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 13px;
}

#reset, #change_date{
    font-size:13px;
    margin-top: 12px;
    float: right;
    cursor:pointer;
    text-decoration:underline;
}

#change_date{
    float:right;
    margin-left: 10px;
}

#date_range{
    float:left;
    margin-top: 10px;
}
label{
    width: auto;
}

#date_filters{
    float:left;
}