.description{
    font-size: 13px;
    color: grey;
    margin-bottom: 30px;
}


table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
    /* margin-bottom: 50px; */
}

td{
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}

table .tr-head{
    font-weight: bold;
    border-bottom: 1px solid #bfbfbf;
    background-color: #f0f0f0;
}


tr{
    border-bottom: 1px solid #bfbfbf;
}

td a{
    color: black;
    text-decoration: none;
}

.status{
    color: grey;
    font-style: italic;
    float: left;
}

.date{
    float:right;
}

.reset_date, .employees, .resetted_by{
    width:20%;
    color: black !important;
}

.remarks{
    width:40%;
    color: black !important;
}

#page-yield td div.date a:hover{
    color: black !important;
}

#page-yield #list td.reset_date a{
   color: black !important;
}
.pagination {
    float: left;
    position: relative;
    margin-top: 15px;
    margin-left: 0px;
}
.pagination{
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-right: 0px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-right: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: right;
    font-weight: normal;
    padding: 9px 15px 9px 13px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-right:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: right;
    padding: 9px 15px 9px 13px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: right;
    padding: 9px 10px 9px 5px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: right;
    border-right:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}
