<% unless @batches.empty? %>
  <div class="submit-button">
    <%= link_to "#{t('export_as_csv')}" ,{:action=>'batch_details_all_csv',:session_fingerprint=>session_fingerprint,:sort_order=>@sort_order ,:id=>params[:id]},:target=>'_blank' %>
  </div>
  <div class="extender"></div>
  <div id="page-yield">
    <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head sub-heading">
        <td><%= t('no_text') %></td>
        <% if @sort_order=="code DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('name')} &#8595;", :url=>{:action=>"batch_details_all",:sort_order=>"code ASC"} %>
          </td>
        <% elsif @sort_order=="code ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('name')} &#8593;", :url=>{:action=>"batch_details_all",:sort_order=>"code DESC"} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('name')}", :url=>{:action=>"batch_details_all",:sort_order=>"code DESC"} %>
          </td>
        <% end %>

        <% if @sort_order=="start_date DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('start_date')} &#8595;", :url=>{:action=>"batch_details_all",:sort_order=>"start_date ASC"} %>
          </td>
        <% elsif @sort_order=="start_date ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('start_date')} &#8593;", :url=>{:action=>"batch_details_all",:sort_order=>"start_date DESC"} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('start_date')}", :url=>{:action=>"batch_details_all",:sort_order=>"start_date DESC"} %>
          </td>
        <% end %>
        <% if @sort_order=="end_date DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('end_date')} &#8595;", :url=>{:action=>"batch_details_all",:sort_order=>"end_date ASC"} %>
          </td>
        <% elsif @sort_order=="end_date ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('end_date')} &#8593;", :url=>{:action=>"batch_details_all",:sort_order=>"end_date DESC"} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('end_date')}", :url=>{:action=>"batch_details_all",:sort_order=>"end_date DESC"} %>
          </td>
        <% end %>

        <td><%= t('tutor')  %></td>

        <% if @sort_order=="student_count DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('students')} &#8595;", :url=>{:action=>"batch_details_all",:sort_order=>"student_count ASC"} %>
          </td>
        <% elsif @sort_order=="student_count ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('students')} &#8593;", :url=>{:action=>"batch_details_all",:sort_order=>"student_count DESC"} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('students')}", :url=>{:action=>"batch_details_all",:sort_order=>"student_count DESC"} %>
          </td>
        <% end %>

        <% if @sort_order=="male_count DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('male')} &#8595;", :url=>{:action=>"batch_details_all",:sort_order=>"male_count ASC"} %>
          </td>
        <% elsif @sort_order=="male_count ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('male')} &#8593;", :url=>{:action=>"batch_details_all",:sort_order=>"male_count DESC"} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('male')}", :url=>{:action=>"batch_details_all",:sort_order=>"male_count DESC"} %>
          </td>
        <% end %>

        <% if @sort_order=="female_count DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('female')} &#8595;", :url=>{:action=>"batch_details_all",:sort_order=>"female_count ASC"} %>
          </td>
        <% elsif @sort_order=="female_count ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('female')} &#8593;", :url=>{:action=>"batch_details_all",:sort_order=>"female_count DESC"} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('female')}", :url=>{:action=>"batch_details_all",:sort_order=>"female_count DESC"} %>
          </td>
        <% end %>
      </tr>
      <% page_count=0 %>
      <% @batches.each_with_index do |b,@i| %>
        <% if params[:page].present? %>
          <% if params[:page].to_i >= 1 %>
            <% @i = @i  + (params[:page].to_i - 1) * @batches.per_page.to_i %>
          <% end %> <%else %> <% @i = @i %>
        <% end %>
        <% page_count+=1 %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-5"> <%=@i+1 %></td>
          <% if @sort_order=="code DESC" or @sort_order=="code ASC" %>
            <td class="col-2 batch_order_select"><%= link_to "#{b.code}-#{b.name}", {:action=>'batch_students' ,:id=>b.id} %></td>
          <% else %>
            <td class="col-2"><%= link_to "#{b.code}-#{b.name}", {:action=>'batch_students' ,:id=>b.id} %></td>
          <% end %>
          <% if @sort_order=="start_date DESC" or @sort_order=="start_date ASC" %>
            <td class="col-3 batch_order_select"><%= format_date(b.start_date.to_date) %></td>
          <% else %>
            <td class="col-3"><%= format_date(b.start_date.to_date) %></td>
          <% end %>
          <% if @sort_order=="end_date DESC" or @sort_order=="end_date ASC" %>
            <td class="col-3 batch_order_select"><%= format_date(b.end_date.to_date) %></td>
          <% else %>
            <td class="col-3"><%= format_date(b.end_date.to_date) %></td>
          <% end %>

          <% unless @employees.blank?%>
            <% unless @employees[b.id.to_s].nil? %>
              <td class="col-4">
                <%@employees[b.id.to_s].each do |emp| %>
                  <div class="emp_name"><%=link_to "#{emp.full_name} - #{emp.employee_number}" ,{:controller=>'employee',:action=>'profile',:id=>emp.employee_id}%></div>
                <% end %>
              </td>
            <% else %>
              <td class="col-4">-</td>
            <% end %>
          <% else %>
            <td class="col-4">-</td>
          <% end %>

          <% if @sort_order=="student_count DESC" or @sort_order=="student_count ASC" %>
            <td class="col-6 batch_order_select"><%= b.student_count %></td>
          <% else %>
            <td class="col-6"><%=link_to "#{ b.student_count}" , {:action=>'batch_students' ,:id=>b.id} %></td>
          <% end %>

          <% if @sort_order=="male_count DESC" or @sort_order=="male_count ASC" %>
            <td class="col-5 batch_order_select"><%=link_to "#{ b.male_count}" ,{:action=>'batch_students' ,:id=>b.id ,:gender=>"m"} %></td>
          <% else %>
            <td class="col-5"><%=link_to "#{ b.male_count}" ,{:action=>'batch_students' ,:id=>b.id ,:gender=>"m"} %></td>
          <% end %>

          <% if @sort_order=="female_count DESC" or @sort_order=="female_count ASC" %>
            <td class="col-5 batch_order_select"><%=link_to "#{ b.female_count}" ,{:action=>'batch_students' ,:id=>b.id ,:gender=>"f"} %></td>
          <% else %>
            <td class="col-5"><%=link_to "#{ b.female_count}" ,{:action=>'batch_students' ,:id=>b.id ,:gender=>"f"} %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <% unless @batches.per_page.to_i > @batches.total_entries.to_i %>
      <div class="pagination_list">
        <div class="pagination_text">
          <%= "#{t('showing')} #{@i+1-(page_count-1)}-#{@i+1} #{t('of')} #{@batches.total_entries}" %>
        </div>
        <%= will_paginate @batches,:renderer => 'RemoteLinkRenderer' ,:page_links=>false ,:params=>{:sort_order=>@sort_order}%>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="flash-msg"> <%= t('no_batches_in_this_course') %></p>
<% end %>
