<% unless @students.blank? %>
    <div class="top_heading">
      <%= @batch.full_name %>
    </div>
    <div class="submit-button">
      <%= link_to "#{t('export_as_csv')}", {:action => 'batch_students_csv',:session_fingerprint=>session_fingerprint,:sort_order => @sort_order, :id => params[:id], :gender => params[:gender]}, :target => '_blank' %>
    </div>
    <div class="extender"></div>
    <div class="field_pair">
      <div class="label1"><%= t('tutor') %></div>
      <div class="label2"><%= ": #{ @batch.employees.collect(&:full_name).join(" , ")}" %></div>
    </div>
    <div class="field_pair">
      <div class="label1"><%= t('students') %></div>
      <div class="label2"><%= ": #{ @students.total_entries }" %></div>
    </div>
    <div id="page-yield">
      <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
        <tr class="tr-head sub-heading">
          <td><%= t('no_text') %></td>

          <% if @sort_order=="first_name DESC" %>
              <td class="batch_order_select">
                <%= link_to_remote "#{t('name')} &#8595;", :url => {:action => "batch_students", :sort_order => "first_name ASC", :gender => params[:gender], :id => params[:id]} %>
              </td>
          <% elsif @sort_order=="first_name ASC" %>
              <td class="batch_order_select">
                <%= link_to_remote "#{t('name')} &#8593;", :url => {:action => "batch_students", :sort_order => "first_name DESC", :gender => params[:gender], :id => params[:id]} %>
              </td>
          <% else %>
              <td class="batch_order">
                <%= link_to_remote "#{t('name')}", :url => {:action => "batch_students", :sort_order => "first_name DESC", :gender => params[:gender], :id => params[:id]} %>
              </td>
          <% end %>

          <% if roll_number_enabled? %>
            <% if @sort_order=="LENGTH(roll_number) DESC,roll_number DESC" %>
              <td class="batch_order_select">
                <%= link_to_remote "#{t('roll_no')} &#8595;", :url => {:action => "batch_students", :sort_order => "LENGTH(roll_number) ASC,roll_number ASC", :gender => params[:gender], :id => params[:id]} %>
              </td>
            <% elsif @sort_order=="LENGTH(roll_number) ASC,roll_number ASC" %>
              <td class="batch_order_select">
                <%= link_to_remote "#{t('roll_no')} &#8593;", :url => {:action => "batch_students", :sort_order => "LENGTH(roll_number) DESC,roll_number DESC", :gender => params[:gender], :id => params[:id]} %>
              </td>
            <% else %>
              <td class="batch_order">
                <%= link_to_remote "#{t('roll_no')}", :url => {:action => "batch_students", :sort_order => "LENGTH(roll_number) DESC,roll_number DESC", :gender => params[:gender], :id => params[:id]} %>
              </td>
            <% end %>
          <% end %>

          <% if @sort_order=="admission_no DESC" %>
              <td class="batch_order_select">
                <%= link_to_remote "#{t('admission_no')} &#8595;", :url => {:action => "batch_students", :sort_order => "admission_no ASC", :gender => params[:gender], :id => params[:id]} %>
              </td>
          <% elsif @sort_order=="admission_no ASC" %>
              <td class="batch_order_select">
                <%= link_to_remote "#{t('admission_no')} &#8593;", :url => {:action => "batch_students", :sort_order => "admission_no DESC", :gender => params[:gender], :id => params[:id]} %>
              </td>
          <% else %>
              <td class="batch_order">
                <%= link_to_remote "#{t('admission_no')}", :url => {:action => "batch_students", :sort_order => "admission_no DESC", :gender => params[:gender], :id => params[:id]} %>
              </td>
          <% end %>

          <% if @sort_order=="admission_date DESC" %>
              <td class="batch_order_select">
                <%= link_to_remote "#{t('admission_date')} &#8595;", :url => {:action => "batch_students", :sort_order => "admission_date ASC", :gender => params[:gender], :id => params[:id]} %>
              </td>
          <% elsif @sort_order=="admission_date ASC" %>
              <td class="batch_order_select">
                <%= link_to_remote "#{t('admission_date')} &#8593;", :url => {:action => "batch_students", :sort_order => "admission_date DESC", :gender => params[:gender], :id => params[:id]} %>
              </td>
          <% else %>
              <td class="batch_order">
                <%= link_to_remote "#{t('admission_date')}", :url => {:action => "batch_students", :sort_order => "admission_date DESC", :gender => params[:gender], :id => params[:id]} %>
              </td>
          <% end %>

          <% if @sort_order=="percent ASC" %>
              <td class="batch_order_select">
                <%= link_to_remote "#{t('attendance')} (%) &#8595;", :url => {:action => "batch_students", :sort_order => "percent DESC", :gender => params[:gender], :id => params[:id]} %>
              </td>
          <% elsif @sort_order=="percent DESC" %>
              <td class="batch_order_select">
                <%= link_to_remote "#{t('attendance')} (%) &#8593;", :url => {:action => "batch_students", :sort_order => "percent ASC", :gender => params[:gender], :id => params[:id]} %>
              </td>
          <% else %>
              <td class="batch_order">
                <%= link_to_remote "#{t('attendance')} (%)", :url => {:action => "batch_students", :sort_order => "percent ASC", :gender => params[:gender], :id => params[:id]} %>
              </td>
          <% end %>

          <% unless params[:gender].present? %>
              <% if @sort_order=="gender DESC" %>
                  <td class="batch_order_select">
                    <%= link_to_remote "#{t('gender')} &#8595;", :url => {:action => "batch_students", :sort_order => "gender ASC", :id => params[:id]} %>
                  </td>
              <% elsif @sort_order=="gender ASC" %>
                  <td class="batch_order_select">
                    <%= link_to_remote "#{t('gender')} &#8593;", :url => {:action => "batch_students", :sort_order => "gender DESC", :id => params[:id]} %>
                  </td>
              <% else %>
                  <td class="batch_order">
                    <%= link_to_remote "#{t('gender')}", :url => {:action => "batch_students", :sort_order => "gender DESC", :id => params[:id]} %>
                  </td>
              <% end %>
          <% end %>

          <% if @sort_order=="fee_count DESC" %>
              <td class="batch_order_select">
                <%= link_to_remote "#{t('fees_paid')} (#{t('yes_text')}/#{t('no_texts')}) &#8595;", :url => {:action => "batch_students", :sort_order => "fee_count ASC", :gender => params[:gender], :id => params[:id]} %>
              </td>
          <% elsif @sort_order=="fee_count ASC" %>
              <td class="batch_order_select">
                <%= link_to_remote "#{t('fees_paid')} (#{t('yes_text')}/#{t('no_texts')}) &#8593;", :url => {:action => "batch_students", :sort_order => "fee_count DESC", :gender => params[:gender], :id => params[:id]} %>
              </td>
          <% else %>
              <td class="batch_order">
                <%= link_to_remote "#{t('fees_paid')} (#{t('yes_text')}/#{t('no_texts')})", :url => {:action => "batch_students", :sort_order => "fee_count DESC", :gender => params[:gender], :id => params[:id]} %>
              </td>
          <% end %>
        </tr>
        <% page_count=0 %>
        <% @students.each_with_index do |s, @i| %>
            <% if params[:page].present? %>
                <% if params[:page].to_i >= 1 %>
                    <% @i = @i + (params[:page].to_i - 1) * @students.per_page.to_i %>
                <% end %>
            <% else %>
                <% @i = @i %>
            <% end %>
            <% page_count+=1 %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-6"> <%= @i+1 %></td>
              <% if @sort_order=="first_name ASC" or @sort_order=="first_name DESC" %>
                  <td class="col-2 batch_order_select">
                    <% if permitted_to? :profile, :student %>
                        <%= link_to "#{s.full_name}", {:controller => 'student', :action => 'profile', :id => s.id} %>
                        <% else %>
                    <%= s.full_name %>
                    <% end %>
                  </td>
              <% else %>
                  <td class="col-2">
                    <% if permitted_to? :profile, :student %>
                        <%= link_to "#{s.full_name}", {:controller => 'student', :action => 'profile', :id => s.id} %>
                    <% else %>
                        <%= s.full_name %>
                    <% end %>
                  </td>
              <% end %>

              <% if roll_number_enabled? %>
                <% if @sort_order=="roll_number ASC" or @sort_order=="roll_number DESC" %>
                  <td class="col-3 batch_order_select"><%= s.roll_number %></td>
                <% else %>
                  <td class="col-3"><%= s.roll_number %></td>
                <% end %>
              <% end %>

              <% if @sort_order=="admission_no ASC" or @sort_order=="admission_no DESC" %>
                  <td class="col-3 batch_order_select"><%= s.admission_no %></td>
              <% else %>
                  <td class="col-3"><%= s.admission_no %></td>
              <% end %>
              <% if @sort_order=="admission_date ASC" or @sort_order=="admission_date DESC" %>
                  <td class="col-4 batch_order_select"><%= format_date(s.admission_date) %></td>
              <% else %>
                  <td class="col-4"><%= format_date(s.admission_date) %></td>
              <% end %>
              <% if @sort_order=="percent ASC" or @sort_order=="percent DESC" %>
                  <td class="col-4 batch_order_select"><%= s.percent.to_f.round(2) %></td>
              <% else %>
                  <td class="col-4"><%= s.percent.to_f.round(2) %></td>
              <% end %>
              <% unless params[:gender].present? %>
                  <% if @sort_order=="gender ASC" or @sort_order=="gender DESC" %>
                      <td class="col-6 batch_order_select"><%= s.gender.downcase=='m' ? t('m') : t('f') %></td>
                  <% else %>
                      <td class="col-6"><%= s.gender.downcase=='m' ? t('m') : t('f') %></td>
                  <% end %>
              <% end %>
              <% if @sort_order=="fee_count DESC" or @sort_order=="fee_count ASC" %>
                <td class="col-5 batch_order_select">
              <% else %>
                <td class="col-5">
              <% end%>
                  <% if s.fee_count.to_i != 0 %>
                    <%= t('no_texts') %>
                  <% elsif s.finance_transactions.empty? %>
                    <%= t('na_text') %>
                  <% else %>
                    <%= t('yes_text')  %>
                  <% end %>
              </td>

            </tr>
        <% end %>
      </table>
      <% unless @students.per_page.to_i > @students.total_entries.to_i %>
          <div class="pagination_list">
            <div class="pagination_text">
              <%= "#{t('showing')} #{@i+1-(page_count-1)}-#{@i+1} #{t('of')} #{@students.total_entries}" %>
            </div>
            <%= will_paginate @students, :renderer => 'RemoteLinkRenderer', :page_links => false, :params => {:sort_order => @sort_order, :gender => params[:gender], :id => params[:id]} %>
          </div>
      <% end %>
<% else %>
    <p class="flash-msg"> <%= t('no_students_found_in_the_batch') %></p>
<% end %>
</div>
