<% unless @employees.blank? %>
  <div class="info">
    <div class="field_pair">
      <div class="label1"><%= t('total_employees') %></div>
      <div class="label2"><%=": #{@employees.total_entries}" %></div>
    </div>
  </div>
  <div class="submit-button">
    <%= link_to "#{t('export_as_csv')}" ,{:action=>'employee_subject_association_csv',:session_fingerprint=>session_fingerprint,:sort_order=>@sort_order},:target=>'_blank'  %>
  </div>
  <div class="extender"></div>
  <div id="page-yield">
    <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head sub-heading">
        <td><%= t('no_text') %></td>

        <% if @sort_order=="first_name DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('name')} &#8595;", :url=>{:action=>"employee_subject_association",:sort_order=>"first_name ASC"} %>
          </td>
        <% elsif @sort_order=="first_name ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('name')} &#8593;", :url=>{:action=>"employee_subject_association",:sort_order=>"first_name DESC"} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('name')}", :url=>{:action=>"employee_subject_association",:sort_order=>"first_name DESC"} %>
          </td>
        <% end %>

        <% if @sort_order=="employee_number DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('employee_id')} &#8595;", :url=>{:action=>"employee_subject_association",:sort_order=>"employee_number ASC"} %>
          </td>
        <% elsif @sort_order=="employee_number ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('employee_id')} &#8593;", :url=>{:action=>"employee_subject_association",:sort_order=>"employee_number DESC"} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('employee_id')}", :url=>{:action=>"employee_subject_association",:sort_order=>"employee_number DESC"} %>
          </td>
        <% end %>
        <% if @sort_order=="department_name DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('department')} &#8595;", :url=>{:action=>"employee_subject_association",:sort_order=>"department_name ASC"} %>
          </td>
        <% elsif @sort_order=="department_name ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('department')} &#8593;", :url=>{:action=>"employee_subject_association",:sort_order=>"department_name DESC"} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('department')}", :url=>{:action=>"employee_subject_association",:sort_order=>"department_name DESC"} %>
          </td>
        <% end %>

        <td><%="#{t('subject')} &#x200E;(#{t('batch_name')} )&#x200E;"  %></td>

      </tr>
      <% page_count=0 %>
      <% @employees.each_with_index do |e,@i| %>
        <% if params[:page].present? %>
          <% if params[:page].to_i >= 1 %>
            <% @i = @i  + (params[:page].to_i - 1) * @employees.per_page.to_i %>
          <% end %> <%else %> <% @i = @i %>
        <% end %>
        <% page_count+=1 %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-5"> <%=@i+1 %></td>
          <% if @sort_order=="first_name ASC" or @sort_order=="first_name DESC" %>
            <td class="col-4 batch_order_select"><%=link_to  "#{e.full_name}" ,{:controller=>'employee',:action=>'profile',:id=>e.id} %></td>
          <% else %>
            <td class="col-4"><%=link_to  "#{e.full_name}" ,{:controller=>'employee',:action=>'profile',:id=>e.id} %></td>
          <% end %>
          <% if @sort_order=="employee_number ASC" or @sort_order=="employee_number DESC" %>
            <td class="col-3 batch_order_select"><%=link_to  "#{e.employee_number}" ,{:controller=>'employee',:action=>'profile',:id=>e.id} %></td>
          <% else %>
            <td class="col-3"><%=link_to  "#{e.employee_number}" ,{:controller=>'employee',:action=>'profile',:id=>e.id} %></td>
          <% end %>
          <% if @sort_order=="department_name ASC" or @sort_order=="department_name DESC" %>
            <td class="col-4 batch_order_select"><%= e.department_name %></td>
          <% else %>
            <td class="col-4"><%= e.department_name %></td>
          <% end %>
          <% subject=@subjects[e.id] %>
          <% unless subject.nil? %>
            <td class="col-2">
              <% subject.each do |s| %>
                <%= "#{s.subject_name}   &#x200E;( #{s.code}-#{s.batch_name} )&#x200E;" %></br>
              <% end %>
            </td>
          <% else %>
            <td class="col-2">-</td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <% unless @employees.per_page.to_i > @employees.total_entries.to_i %>
      <div class="pagination_list">
        <div class="pagination_text">
          <%= "#{t('showing')} #{@i+1-(page_count-1)}-#{@i+1} #{t('of')} #{@employees.total_entries}" %>
        </div>
        <%= will_paginate @employees,:renderer => 'RemoteLinkRenderer' ,:page_links=>false ,:params=>{:sort_order=>@sort_order}%>
      </div>
    <% end %>
  <% else %>
    <p class="flash-msg"> <%= t('no_employees_present') %></p>
  <% end %>
</div>
