<% unless @examgroups.blank? %>
  <div class="info">
    <div class="field_pair">
      <div class="label1"><%= "#{t('total')} #{t('exam_group')}" %></div>
      <div class="label2"><%=": #{@examgroups .total_entries}" %></div>
    </div>
  </div>
  <div class="submit-button">
    <%= link_to "#{t('export_as_csv')}" ,{:action=>'exam_schedule_details_csv',:sort_order=>@sort_order,:batch_id=>params[:batch_id],:session_fingerprint=>session_fingerprint,},:target=>'_blank' %>
  </div>
  <div class="extender"></div>
  <div id="page-yield">
    <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head sub-heading">
        <td><%= t('no_text') %></td>
        <% if @sort_order=="name DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('exam_text')} &#8595;", :url=>{:action=>"exam_schedule_details",:sort_order=>"name ASC",:batch_id=>params[:batch_id]} %>
          </td>
        <% elsif @sort_order=="name ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('exam_text')} &#8593;", :url=>{:action=>"exam_schedule_details",:sort_order=>"name DESC",:batch_id=>params[:batch_id]} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('exam_text')}", :url=>{:action=>"exam_schedule_details",:sort_order=>"name DESC",:batch_id=>params[:batch_id]} %>
          </td>
        <% end %>
        <% if @sort_order=="batch_name DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('batch_name')} &#8595;", :url=>{:action=>"exam_schedule_details",:sort_order=>"batch_name ASC",:batch_id=>params[:batch_id]} %>
          </td>
        <% elsif @sort_order=="batch_name ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('batch_name')} &#8593;", :url=>{:action=>"exam_schedule_details",:sort_order=>"batch_name DESC",:batch_id=>params[:batch_id]} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('batch_name')}", :url=>{:action=>"exam_schedule_details",:sort_order=>"batch_name DESC",:batch_id=>params[:batch_id]} %>
          </td>
        <% end %>
        <% if @sort_order=="exam_type DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('exam_type')} &#8595;", :url=>{:action=>"exam_schedule_details",:sort_order=>"exam_type ASC",:batch_id=>params[:batch_id]} %>
          </td>
        <% elsif @sort_order=="exam_type ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('exam_type')} &#8593;", :url=>{:action=>"exam_schedule_details",:sort_order=>"exam_type DESC",:batch_id=>params[:batch_id]} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('exam_type')}", :url=>{:action=>"exam_schedule_details",:sort_order=>"exam_type DESC",:batch_id=>params[:batch_id]} %>
          </td>
        <% end %>

        <td class="col-2">
          <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
            <tr class="tr-head sub-heading">
              <td class="col-3"><%="#{t('exam_text')} #{t('name')}"%></td>
              <td class="col-3"><%= t('maximum_marks') %></td>
              <td class="col-3"><%= t('minimum_marks') %></td>
              <td class="col-3"><%= t('start_time') %></td>
              <td class="col-3"><%= t('end_time') %></td>
            </tr>
          </table>

        </td>

      </tr>
      <% page_count=0 %>
      <% @examgroups.each_with_index do |e,@i| %>
        <% if params[:page].present? %>
          <% if params[:page].to_i >= 1 %>
            <% @i = @i  + (params[:page].to_i - 1) * @examgroups.per_page.to_i %>
          <% end %> <%else %> <% @i = @i %>
        <% end %>
        <% page_count+=1 %>
        <% c=cycle('odd', 'even') %>
        <tr class="tr-<%= c %>">
          <td class="col-5"> <%=@i+1 %></td>
          <% if @sort_order=="name ASC" or @sort_order=="name DESC" %>
            <td class="col-3 batch_order_select"><%= e.name %></td>
          <% else %>
            <td class="col-3"><%= e.name %></td>
          <% end %>
          <% if @sort_order=="batch_name ASC" or @sort_order=="batch_name DESC" %>
            <td class="col-4 batch_order_select"><%=link_to  "#{e.code}-#{e.batch_name}" ,{:action=>'batch_students',:id=>e.batch_id} %></td>
          <% else %>
            <td class="col-4"><%=link_to  "#{e.code}-#{e.batch_name}" ,{:action=>'batch_students',:id=>e.batch_id} %></td>
          <% end %>
          <% if @sort_order=="exam_type ASC" or @sort_order=="exam_type DESC" %>
            <td class="col-4 batch_order_select"><%= e.exam_type %></td>
          <% else %>
            <td class="col-4"><%= e.exam_type %></td>
          <% end %>
          <% exam=@exams[e.id] %>
          <%unless exam.nil? %>
            <td class="col-2">
              <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
                <% exam.each do |ex| %>
                  <tr class="tr-<%=c%>">
                    <td class="col-3"><%= ex.name %></td>
                    <td class="col-3"><%= ex.maximum_marks %></td>
                    <td class="col-3"><%= ex.minimum_marks %></td>
                    <td class="col-3"><%= format_date(ex.start_time) %></td>
                    <td class="col-3"><%= format_date(ex.end_time)%></td>
                  </tr>
                <% end %>
              </table>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <% unless @examgroups.per_page.to_i > @examgroups.total_entries.to_i %>
      <div class="pagination_list">
        <div class="pagination_text">
          <%= "#{t('showing')} #{@i+1-(page_count-1)}-#{@i+1} #{t('of')} #{@examgroups.total_entries}" %>
        </div>
        <%= will_paginate @examgroups,:renderer => 'RemoteLinkRenderer' ,:page_links=>false ,:params=>{:sort_order=>@sort_order,:batch_id=>params[:batch_id]},:onclick=>"page_up();"%>
      </div>
    <% end %>
  <% else %>
    <p class="flash-msg"> <%= t('no_examgroups_present') %></p>
  <% end %>
</div>
