<% unless @batches.empty? %>
  <div class="top_heading">
    <%= @course.full_name %>
  </div>
  <div class="submit-button">
    <%= link_to "#{t('export_as_csv')}" ,{:action=>'batch_details_csv',:sort_order=>@sort_order ,:session_fingerprint=>session_fingerprint,:id=>params[:id]},:target=>'_blank'  %>
  </div>
  <div class="extender"></div>
  <div id="page-yield">
    <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head sub-heading">
        <td><%= t('no_text') %></td>
        <% if @sort_order=="name DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('name')} &#8595;", :url=>{:action=>"batch_details",:sort_order=>"name ASC",:id=>params[:id]} %>
          </td>
        <% elsif @sort_order=="name ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('name')} &#8593;", :url=>{:action=>"batch_details",:sort_order=>"name DESC",:id=>params[:id]} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('name')}", :url=>{:action=>"batch_details",:sort_order=>"name DESC",:id=>params[:id]} %>
          </td>
        <% end %>

        <% if @sort_order=="start_date DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('start_date')} &#8595;", :url=>{:action=>"batch_details",:sort_order=>"start_date ASC",:id=>params[:id]} %>
          </td>
        <% elsif @sort_order=="start_date ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('start_date')} &#8593;", :url=>{:action=>"batch_details",:sort_order=>"start_date DESC",:id=>params[:id]} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('start_date')}", :url=>{:action=>"batch_details",:sort_order=>"start_date DESC",:id=>params[:id]} %>
          </td>
        <% end %>
        <% if @sort_order=="end_date DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('end_date')} &#8595;", :url=>{:action=>"batch_details",:sort_order=>"end_date ASC",:id=>params[:id]} %>
          </td>
        <% elsif @sort_order=="end_date ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('end_date')} &#8593;", :url=>{:action=>"batch_details",:sort_order=>"end_date DESC",:id=>params[:id]} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('end_date')}", :url=>{:action=>"batch_details",:sort_order=>"end_date DESC",:id=>params[:id]} %>
          </td>
        <% end %>

        <td><%= t('tutor')  %></td>

        <% if @sort_order=="student_count DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('students')} &#8595;", :url=>{:action=>"batch_details",:sort_order=>"student_count ASC",:id=>params[:id]} %>
          </td>
        <% elsif @sort_order=="student_count ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('students')} &#8593;", :url=>{:action=>"batch_details",:sort_order=>"student_count DESC",:id=>params[:id]} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('students')}", :url=>{:action=>"batch_details",:sort_order=>"student_count DESC",:id=>params[:id]} %>
          </td>
        <% end %>

        <% if @sort_order=="male_count DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('male')} &#8595;", :url=>{:action=>"batch_details",:sort_order=>"male_count ASC",:id=>params[:id]} %>
          </td>
        <% elsif @sort_order=="male_count ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('male')} &#8593;", :url=>{:action=>"batch_details",:sort_order=>"male_count DESC",:id=>params[:id]} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('male')}", :url=>{:action=>"batch_details",:sort_order=>"male_count DESC",:id=>params[:id]} %>
          </td>
        <% end %>

        <% if @sort_order=="female_count DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('female')} &#8595;", :url=>{:action=>"batch_details",:sort_order=>"female_count ASC",:id=>params[:id]} %>
          </td>
        <% elsif @sort_order=="female_count ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('female')} &#8593;", :url=>{:action=>"batch_details",:sort_order=>"female_count DESC",:id=>params[:id]} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('female')}", :url=>{:action=>"batch_details",:sort_order=>"female_count DESC",:id=>params[:id]} %>
          </td>
        <% end %>
      </tr>
      <% @batches.each_with_index do |b,i| %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-5"> <%=i+1 %></td>
          <% if @sort_order=="name DESC" or @sort_order=="name ASC" %>
            <td class="col-2 batch_order_select"><%= link_to "#{b.name}", {:action=>'batch_students' ,:id=>b.id} %></td>
          <% else %>
            <td class="col-2"><%= link_to "#{b.name}", {:action=>'batch_students' ,:id=>b.id} %></td>
          <% end %>
          <% if @sort_order=="start_date DESC" or @sort_order=="start_date ASC" %>
            <td class="col-3 batch_order_select"><%= format_date(b.start_date.to_date) %></td>
          <% else %>
            <td class="col-3"><%= format_date(b.start_date.to_date) %></td>
          <% end %>
          <% if @sort_order=="end_date DESC" or @sort_order=="end_date ASC" %>
            <td class="col-3 batch_order_select"><%= format_date(b.end_date.to_date) %></td>
          <% else %>
            <td class="col-3"><%= format_date(b.end_date.to_date) %></td>
          <% end %>

          <% unless @employees.blank?%>
            <% unless @employees[b.id.to_s].nil? %>
              <td class="col-4">
                <%@employees[b.id.to_s].each do |emp| %>
                  <div class="emp_name"><%=link_to "#{emp.full_name} - #{emp.employee_number}" ,{:controller=>'employee',:action=>'profile',:id=>emp.employee_id}%></div>
                <% end %>
              </td>
            <% else %>
              <td class="col-4">-</td>
            <% end %>
          <% else %>
            <td class="col-4">-</td>
          <% end %>

          <% if @sort_order=="student_count DESC" or @sort_order=="student_count ASC" %>
            <td class="col-6 batch_order_select"><%= b.student_count %></td>
          <% else %>
            <td class="col-6"><%=link_to "#{ b.student_count}" , {:action=>'batch_students' ,:id=>b.id} %></td>
          <% end %>

          <% if @sort_order=="male_count DESC" or @sort_order=="male_count ASC" %>
            <td class="col-5 batch_order_select"><%=link_to "#{ b.male_count}" ,{:action=>'batch_students' ,:id=>b.id ,:gender=>"m"} %></td>
          <% else %>
            <td class="col-5"><%=link_to "#{ b.male_count}" ,{:action=>'batch_students' ,:id=>b.id ,:gender=>"m"} %></td>
          <% end %>

          <% if @sort_order=="female_count DESC" or @sort_order=="female_count ASC" %>
            <td class="col-5 batch_order_select"><%=link_to "#{ b.female_count}" ,{:action=>'batch_students' ,:id=>b.id ,:gender=>"f"} %></td>
          <% else %>
            <td class="col-5"><%=link_to "#{ b.female_count}" ,{:action=>'batch_students' ,:id=>b.id ,:gender=>"f"} %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
<% else %>
  <p class="flash-msg"> <%= t('no_batches_in_this_course') %></p>
<% end %>
