<% unless @students.empty? %>
  <div class="field_pair">
    <div class="label1"><%="#{t('total_amount')}" %></div>
    <div class="label2"><%=": #{currency} #{ precision_label(@total_amount)}" %></div>
  </div>
  <div class="field_pair">
    <div class="label1"><%= "#{t('total')} #{t('students')}" %></div>
    <div class="label2"><%=": #{ @students.total_entries }" %></div>
  </div>
  <div class="submit-button">
    <%= link_to "#{t('export_as_csv')}" ,{:action=>'students_fee_defaulters_csv',:session_fingerprint=>session_fingerprint,:sort_order=>@sort_order ,:collection_id=>params[:collection_id],:id=>params[:id],:transaction_class=>params[:transaction_class]} ,:target=>'_blank' %>
  </div>
  <div class="extender"></div>
  <div id="page-yield">
    <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head sub-heading">
        <td><%= t('no_text') %></td>

        <% if @sort_order=="first_name DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('name')} &#8595;", :url=>{:action=>"students_fee_defaulters",:sort_order=>"first_name ASC",:transaction_class=>params[:transaction_class],:collection_id=>params[:collection_id],:id=>params[:id]} %>
          </td>
        <% elsif @sort_order=="first_name ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('name')} &#8593;", :url=>{:action=>"students_fee_defaulters",:sort_order=>"first_name DESC",:transaction_class=>params[:transaction_class],:collection_id=>params[:collection_id],:id=>params[:id]} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('name')}", :url=>{:action=>"students_fee_defaulters",:sort_order=>"first_name DESC",:transaction_class=>params[:transaction_class],:collection_id=>params[:collection_id],:id=>params[:id]} %>
          </td>
        <% end %>
        <% if roll_number_enabled? %>
        <% if @sort_order=="roll_number DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('roll_no')} &#8595;", :url=>{:action=>"students_fee_defaulters",:sort_order=>"roll_number ASC",:transaction_class=>params[:transaction_class],:collection_id=>params[:collection_id],:id=>params[:id]} %>
          </td>
        <% elsif @sort_order=="roll_number ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('roll_no')} &#8593;", :url=>{:action=>"students_fee_defaulters",:sort_order=>"roll_number DESC",:transaction_class=>params[:transaction_class],:collection_id=>params[:collection_id],:id=>params[:id]} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('roll_no')}", :url=>{:action=>"students_fee_defaulters",:sort_order=>"roll_number DESC",:transaction_class=>params[:transaction_class],:collection_id=>params[:collection_id],:id=>params[:id]} %>
          </td>
        <% end %>
        <% end %>
          
        <% if @sort_order=="admission_no DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('admission_no')} &#8595;", :url=>{:action=>"students_fee_defaulters",:sort_order=>"admission_no ASC",:transaction_class=>params[:transaction_class],:collection_id=>params[:collection_id],:id=>params[:id]} %>
          </td>
        <% elsif @sort_order=="admission_no ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('admission_no')} &#8593;", :url=>{:action=>"students_fee_defaulters",:sort_order=>"admission_no DESC",:transaction_class=>params[:transaction_class],:collection_id=>params[:collection_id],:id=>params[:id]} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('admission_no')}", :url=>{:action=>"students_fee_defaulters",:sort_order=>"admission_no DESC",:transaction_class=>params[:transaction_class],:collection_id=>params[:collection_id],:id=>params[:id]} %>
          </td>
        <% end %>

        <% if @sort_order=="admission_date DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('admission_date')} &#8595;", :url=>{:action=>"students_fee_defaulters",:sort_order=>"admission_date ASC",:transaction_class=>params[:transaction_class],:collection_id=>params[:collection_id],:id=>params[:id]} %>
          </td>
        <% elsif @sort_order=="admission_date ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('admission_date')} &#8593;", :url=>{:action=>"students_fee_defaulters",:sort_order=>"admission_date DESC",:transaction_class=>params[:transaction_class],:collection_id=>params[:collection_id],:id=>params[:id]} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('admission_date')}", :url=>{:action=>"students_fee_defaulters",:sort_order=>"admission_date DESC",:transaction_class=>params[:transaction_class],:collection_id=>params[:collection_id],:id=>params[:id]} %>
          </td>
        <% end %>
        <td>
          <%="#{t('balance')} &#x200E;(#{currency})&#x200E;"%>
        </td>
      </tr>
      <% page_count=0 %>
      <% @students.each_with_index do |s,@i| %>
        <% if params[:page].present? %>
          <% if params[:page].to_i >= 1 %>
            <% @i = @i  + (params[:page].to_i - 1) * @students.per_page.to_i %>
          <% end %> <%else %> <% @i = @i %>
        <% end %>
        <% page_count+=1 %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-6"> <%=@i+1 %></td>
          <% if @sort_order=="first_name ASC" or @sort_order=="first_name DESC" %>
            <td class="col-2 batch_order_select">
              <% if permitted_to? :profile, :student %>
                  <%= link_to "#{s.full_name}", {:controller => 'student', :action => 'profile', :id => s.id} %>
              <% else %>
                  <%= s.full_name %>
              <% end %>
            </td>
          <% else %>
            <td class="col-2">
              <% if permitted_to? :profile, :student %>
                  <%= link_to "#{s.full_name}", {:controller => 'student', :action => 'profile', :id => s.id} %>
              <% else %>
                  <%= s.full_name %>
              <% end %>
            </td>
          <% end %>
          <% if roll_number_enabled? %>
          <% if @sort_order=="roll_number ASC" or @sort_order=="roll_number DESC" %>
            <td class="col-3 batch_order_select"><%= s.roll_number %></td>
          <% else %>
            <td class="col-3"><%= s.roll_number %></td>
          <% end %>
          <% end %>
          <% if @sort_order=="admission_no ASC" or @sort_order=="admission_no DESC" %>
            <td class="col-3 batch_order_select"><%= s.admission_no %></td>
          <% else %>
            <td class="col-3"><%= s.admission_no %></td>
          <% end %>
          <% if @sort_order=="admission_date ASC" or @sort_order=="admission_date DESC" %>
            <td class="col-4 batch_order_select"><%= format_date(s.admission_date) %></td>
          <% else %>
            <td class="col-4"><%= format_date(s.admission_date) %></td>
          <% end %>
          <td class="col-4"><%= precision_label(s.balance) %></td>
        </tr>
      <% end %>
    </table>
    <% unless @students.per_page.to_i > @students.total_entries.to_i %>
      <div class="pagination_list">
        <div class="pagination_text">
          <%= "#{t('showing')} #{@i+1-(page_count-1)}-#{@i+1} #{t('of')} #{@students.total_entries}" %>
        </div>
        <%= will_paginate @students,:renderer => 'RemoteLinkRenderer' ,:page_links=>false ,:params=>{:sort_order=>@sort_order,:collection_id=>params[:collection_id],:id=>params[:id],:transaction_class=>params[:transaction_class]}%>
      </div>
    <% end %>
  <% else %>
    <p class="flash-msg"> <%= t('no_record_found') %></p>
  <% end %>
</div>
