<% unless @students.blank? %>
  <div class="info">
      <div class="field_pair">
          <div class="label1"><%="#{t('total_amount')}" %></div>
          <div class="label2"><%=": #{currency} #{ precision_label(@total_amount)}" %></div>
      </div>
      <div class="field_pair">
          <div class="label1"><%= "#{t('total')} #{t('students')}" %></div>
          <div class="label2"><%=": #{ @students.total_entries }" %></div>
      </div>
  </div>
  <div class="submit-button">
      <%= link_to "#{t('export_as_csv')}" ,{:action=>'student_wise_fee_defaulters_csv',:session_fingerprint=>session_fingerprint,:sort_order=>@sort_order,:subject_id=>params[:subject_id]} ,:target=>'_blank' %>
  </div>
  <div class="extender"></div>
  <% sms_setting = SmsSetting.new() %>
  <% show_sms_options = false %>
  <% if sms_setting.application_sms_active %>
    <% if sms_setting.student_sms_active or sms_setting.parent_sms_active %>
      <% if @current_user.admin or @current_user.privileges.include?(Privilege.find_by_name("FinanceReports")) %>
        <% show_sms_options = true %>
      <% end %>
    <% end %>
  <% end %>
<% if show_sms_options %>
  
  <div class="hor_line"></div>
  <div class="information">
      <div class="label"><%="Send Reminder" %></div>
  </div>
  <div id="info">
      <div class="field_pair">
          <div class="label1">
              <b><span id="selected_students">0 </span></b>
              <%=" #{t('selected_students',:total=>@students.total_entries)}" %>
          </div>
      </div>
  </div>
 
       
        <%#= link_to_remote "#{t('sms_to_all')}" ,:url=>{:action=>'send_sms_all'},:confirm=>t('are_you_sure_want_to_send') %>
  
<% end %>
 
  <% remote_form_for :send_sms, :url=>{:action=>'send_sms'},:confirm=>t('are_you_sure_want_to_send') do |f| %>
  <%=hidden_field_tag :session_fingerprint, session_fingerprint%>
  <div class="submit-button_div">
      <% if show_sms_options %>
        <div id="send_all_button">
          <%= render :partial => 'fees_defaulter_button'%>
        </div>
        <div id="submit-btn-div" style="display:none">
          <%= f.submit "#{t('send_sms')}", :class=>"submit-button"%>
        </div>
      <% end %>
  </div>
  
  <div id="page-yield">
      <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
          <tr class="tr-head sub-heading">
              <td><%= t('no_text') %></td>

              <% if @sort_order=="first_name DESC" %>
                <td class="batch_order_select">
                    <%= link_to_remote  "#{t('name')} &#8595;", :url=>{:action=>"student_wise_fee_defaulters",:sort_order=>"first_name ASC"} %>
                </td>
              <% elsif @sort_order=="first_name ASC" %>
                <td class="batch_order_select">
                    <%= link_to_remote  "#{t('name')} &#8593;", :url=>{:action=>"student_wise_fee_defaulters",:sort_order=>"first_name DESC"} %>
                </td>
              <% else %>
                <td class="batch_order">
                    <%= link_to_remote  "#{t('name')}", :url=>{:action=>"student_wise_fee_defaulters",:sort_order=>"first_name DESC"} %>
                </td>
              <% end %>



              <% if @sort_order=="admission_no DESC" %>
                <td class="batch_order_select">
                    <%= link_to_remote  "#{t('admission_no')} &#8595;", :url=>{:action=>"student_wise_fee_defaulters",:sort_order=>"admission_no ASC"} %>
                </td>
              <% elsif @sort_order=="admission_no ASC" %>
                <td class="batch_order_select">
                    <%= link_to_remote  "#{t('admission_no')} &#8593;", :url=>{:action=>"student_wise_fee_defaulters",:sort_order=>"admission_no DESC"} %>
                </td>
              <% else %>
                <td class="batch_order">
                    <%= link_to_remote  "#{t('admission_no')}", :url=>{:action=>"student_wise_fee_defaulters",:sort_order=>"admission_no DESC"} %>
                </td>
              <% end %>
              <td><%= t('course_name')  %></td>
              <td><%= t('batch_name')  %></td>
              <td><%= t('fee_collections')  %></td>
              <td><%= "#{t('balance')} &#x200E;( #{currency} )&#x200E;"  %></td>
              <% if show_sms_options %>
                <td><%= check_box :select_student, :all , :class=>'check_box select_all', :onclick => "select_all(this)" %></td>
              <% end %>
          </tr>
          <% page_count=0 %>
          <% @students.each_with_index do |s,@i| %>
            <% if params[:page].present? %>
              <% if params[:page].to_i >= 1 %>
                <% @i = @i  + (params[:page].to_i - 1) * @students.per_page.to_i %>
              <% end %> <%else %> <% @i = @i %>
            <% end %>
            <% page_count+=1 %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
                <td class="col-5"> <%=@i+1 %></td>
                <% if @sort_order=="first_name ASC" or @sort_order=="first_name DESC" %>
                  <td class="col-2 batch_order_select">
                      <% if permitted_to? :profile, :student %>
                        <%= link_to "#{s.full_name}", {:controller => 'student', :action => 'profile', :id => s.id} %>
                      <% else %>
                        <%= s.full_name %>
                      <% end %>
                  </td>
                <% else %>
                  <td class="col-1">
                      <% if permitted_to? :profile, :student %>
                        <%= link_to "#{s.full_name}", {:controller => 'student', :action => 'profile', :id => s.id} %>
                      <% else %>
                        <%= s.full_name %>
                      <% end %>
                  </td>
                <% end %>

                <% if @sort_order=="admission_no ASC" or @sort_order=="admission_no DESC" %>
                  <td class="col-2 batch_order_select">

                      <% if permitted_to? :profile, :student %>
                        <%=link_to  "#{s.admission_no}" ,{:controller=>'student',:action=>'profile',:id=>s.id} %>
                      <% else %>
                        <%= s.admission_no %>
                      <% end %>
                  </td>
                <% else %>
                  <td class="col-3">
                      <% if permitted_to? :profile, :student %>
                        <%=link_to  "#{s.admission_no}" ,{:controller=>'student',:action=>'profile',:id=>s.id} %>
                      <% else %>
                        <%= s.admission_no %>
                      <% end %>
                  </td>
                <% end %>
                <td class="col-4"><%=link_to  "#{s.batch.course_name} #{s.batch.code} #{s.batch.section_name}" ,{:action=>'batch_details',:id=>s.batch.course_id} %></td>
                <td class="col-4"><%= s.batch.name %></td>
                <td class="col-4"><%= s.fee_collections_count %></td>
                <td class="col-4"><%= link_to "#{precision_label(s.balance)}" ,{:action=>"student_wise_fee_collections",:id=>s.id} %></td>
                <%  if show_sms_options %>
                  <td class="col-5"><%= check_box_tag "send_sms[student_ids][]" , s.id,false, :class=>'check_box student_check', :onclick=>'count_selected_students(this)', :amount=> s.balance %></td>
                <% end %>
            </tr>
          <% end %>
      </table>
    
      <% unless @students.per_page.to_i > @students.total_entries.to_i %>
        <div class="pagination_list">
            <div class="pagination_text">
                <%= "#{t('showing')} #{@i+1-(page_count-1)}-#{@i+1} #{t('of')} #{@students.total_entries}" %>
            </div>
            <%= will_paginate @students,:renderer => 'RemoteLinkRenderer' ,:page_links=>false ,:params=>{:sort_order=>@sort_order,:gender=>params[:gender],:subject_id=>params[:subject_id]}%>
        </div>
      <% end %>
       <% end %>
    <% else %>
      <p class="flash-msg"> <%= t('no_students_found') %></p>
   
  </div>
  <% end  %>

<script type="text/javascript">
  function select_all(obj){
    if(j(obj).prop('checked')){
      j('.student_check').prop('checked',true);
    }
    else{
      
      console.log("select_all deleted");
      j('.student_check').prop('checked',false);
    }
    count_selected_students(obj);
  }
  function count_selected_students(obj) { 
    j('.select_all').prop('checked', j('.student_check:checked').length == j('.student_check').length);
    j('#selected_students').text(j('.student_check:checked').length);
    if(j('.student_check:checked').length > 0){
      j('#submit-btn-div').show();
    }
    else{
      j('#submit-btn-div').hide();
    }
  }
  function disable_link(obj) {
    j(obj).html("<%= t('please_wait') %>");
    j(obj).attr("onclick","return false;");
  };
</script>