<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('reports_text') %></h1>

  <div class='header-sep'>|</div>
  <div class='sub-header'><%= "#{t('fee_collection')} #{t('wise')} #{t('report')}" %></div>

</div>


<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div id="batchs1">
    <% form_for :fees_submission_batch do %>

      <div class="label-field-pair-fee-head" id="hide1"><label><%= t('select_a_batch') %></label>
        <div class="text-input-bg"> <%= select :fees_submission, :batch_id, @batches.map { |c| [c.full_name, c.id] },
            {:prompt => "#{t('select_a_batch')}"},
            {:onChange => "#{remote_function(:url => {:action => "update_fees_collections"},
            :with => "'batch_id='+value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')")}"
          }%>
        </div>

        <div class="loader_div">
          <%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader",
            :style =>"display: none; " ) %>
        </div>
      </div>




      <div class="label-field-pair-fee-head"><label><%= t('select_fee_collection_date') %></label>

        <div class="text-input-bg">
          <div id="fees_collection_dates">
            <%= render :partial => "fees_collections"  %>
          </div>
        </div>
        <div class="loader_div">
          <%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader1",
            :style =>"display: none; " ) %>
        </div>
      </div>
    <% end %>
    <div id="student"> </div>

    <div id="modal-box" style="display:none;"></div>
  </div>
  <div class="extender"></div>
  <div class="hor_line"></div>
  <div id="information">

  </div>
</div>
