.submit_button {
    float: left;
    margin-top:30px;
    margin-left:18px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
.p10{
    padding-left: 10px;
}
.fee_category_scroll {
    -moz-background-inline-policy: continuous;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 99px;
    margin-left: 253px;
    margin-top: -30px;
    max-height: 100px;
    overflow: auto;
    padding: 11px;
    width: 192px;
}
.sel-list {
    border-bottom:1px solid #DDDDDD;
    margin-bottom:2px;
    width:197px;
}
.each_batch {
    border-bottom:1px solid #DDDDDD;
    font-size:12px;
    overflow:auto;
    width:198px;
}
.label-field-pair label {
    width: 240px !important;
}

.label-field-pair input {
  margin: 10px 0 0 10px !important;
}