<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="subjects-form">

    <% form_remote_for :elective_group do |f| %>

      <%= f.hidden_field :id, :value => @elective_group.id %>

      <div id="form-errors"></div>

      <div class="label-field-pair">
          <div class="label-container"><label><%= t('name') %></label></div>
          <div class="input-container"><%= f.text_field :name %></div>
      </div>
      <%if @elective_group.batch.course.cce_enabled?%>
        <div class="label-field-pair">
            <div class="label-container"><label>6<sup>th</sup> subject</label></div>
            <div class="input-container"><%= f.check_box :is_sixth_subject%></div>
        </div>
      <%end%>
      <% if @elective_group.batch.course.enable_student_elective_selection %>
        <div class="label-field-pair">
            <div class="label-container"> <%= f.label "#{t('end_date_of_selection')}" %></div>
            <div class="text-input-bg">
                <%= calendar_date_select_tag 'elective_group[end_date]', I18n.l(@elective_group.end_date.try(:to_date) || (Date.today + 7.days)  ,:format=>:default),
                 :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
            </div>
        </div>
      <% end %>

      <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %>

    <% end %>
</div>