<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="grading-levels-form">
  <h4><%= @batch.full_name unless @batch.nil? %></h4>

  <% form_remote_for @subject,:before=>"$('submit_button').disable()",:complete=>"setTimeout(function(){$('submit_button').enable();},5000)" do |f| %>

    <% batch_id = (@batch.nil? ? nil : @batch.id) %>
    <% elective_group_id = (@elective_group.nil? ? nil : @elective_group.id) %>
    <%= f.hidden_field :batch_id, :value => batch_id %>
    <%= f.hidden_field :elective_group_id, :value => elective_group_id %>

    <div id="form-errors"></div>

    <div class="label-field-pair">
      <div class="label-container"><label><%= t('name') %></label></div>
      <div class="input-container"> <%= f.text_field :name %></div>
    </div>

    <div class="label-field-pair">
      <div class="label-container">  <label><%= t('code') %></label></div>
      <div class="input-container"><%= f.text_field :code %></div>
    </div>

    <div class="label-field-pair">
      <div class="label-container"><label><%= t('max_weekly_class') %></label></div>
      <div class="input-container"> <%= f.text_field :max_weekly_classes %></div>
    </div>

    <% if @batch and (@batch.cwa_enabled? or @batch.gpa_enabled?) %>
      <div class="label-field-pair">
        <div class="label-container"><label>Credit Hours</label></div>
        <div class="input-container"> <%= f.text_field :credit_hours %></div>
      </div>
    <% end %>

    <div class="label-field-pair">
      <div class="label-container"><label><%= t('no_exam') %></label></div>
      <div class="input-container"><%= f.check_box :no_exams %></div>
    </div>
    <%=hidden_field_tag :session_fingerprint, session_fingerprint%>
    <%if @batch.course.cce_enabled? and !@elective_group.present?%>
      <div class="label-field-pair">
        <div class="label-container"><label>6<sup>th</sup> subject</label></div>
        <div class="input-container"><%= f.check_box :is_sixth_subject%></div>
      </div>
      <div class="label-field-pair">
        <div class="label-container"><label>ASL subject</label></div>
        <div class="input-container"><%= f.check_box :is_asl,{:onclick=>'get_asl_mark_field(this)'} %></div>
      </div>
      <div class="label-field-pair_exp no_show" id="asl_mark">
        <div class="label-container"><label>ASL Mark</label></div>
        <div class="student_gender_value">
          <%= f.radio_button  "asl_mark", 20,:checked=>true %>
          <label class="label_for_gender margin_right_20" for="subject_asl_mark_20">20 Marks</label>
          <%= f.radio_button  "asl_mark", 10 %>
          <label class="label_for_gender" for="subject_asl_mark_10">10 Marks</label>
        </div>
      </div>
    <%end%>

    <%= f.submit  "", :value => "► #{t('save')}", :class => "submit_button", :id => "submit_button" %>

  <% end %>
</div>
<script type="text/javascript">

  get_asl_mark_field = function(e){
    if (j(e).prop('checked') == true){
      j('#asl_mark').removeClass('no_show');
    }
    else{
      j('#asl_mark').addClass('no_show');
    }
  }
</script>