<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('create_user') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('make_new_admin_user') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

  <% form_for :user do |f| %>

    <%= f.error_messages %>

    <div id="create_user_form">

      <div id="necessary-field-notification"><%= t('legend1') %> <span class="necessary-field">*</span> <%= t('legend2') %>  (<%= t('only_admin_user_can_created') %>)</div>

      <div class="label-field-pair">
        <label for="user_username"><%= t('username') %><span class="necessary-field">*</span></label>
        <div class="text-input-bg"><%= f.text_field :username %></div>
      </div>

      <div class="label-field-pair">
        <label for="user_first_name"><%= t('first_name') %><span class="necessary-field">*</span></label>
        <div class="text-input-bg"><%= f.text_field :first_name %></div>
      </div>

      <div class="label-field-pair">
        <label for="user_last_name"><%= t('last_name') %></label>
        <div class="text-input-bg"><%= f.text_field :last_name %></div>
      </div>

      <div class="label-field-pair">
        <label for="user_password"><%= t('password') %> <span class="necessary-field">*</span></label>
        <div class="text-input-bg"><%= f.password_field :password %></div>
      </div>

      <div class="label-field-pair">
        <label for="user_email"><%= t('email') %></label>
        <div class="text-input-bg"><%= f.text_field :email %></div>
      </div>

      <%= f.hidden_field :role, :value=>'Admin' %>
      <div class="extender"></div>
      <%=hidden_field_tag :session_fingerprint, session_fingerprint%>
      <%= submit_tag "", :value => "►#{t('create_text')}", :class => "user_submit_button", :disable_with => "►#{t('please_wait')}" %>

    </div>

  <% end  %>

</div>
