<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<% sso_enabled = 0 %>
<% sso_links = [] %>
<% FedenaPlugin::ADDITIONAL_LINKS[:login_hook].each do |mod| %>
  <% if can_access_request? "#{mod[:destination][:action]}".to_sym,"#{mod[:destination][:controller]}".to_sym %>
    <% enabled = Configuration.get_config_value("#{mod[:config_key]}") %>
    <% if enabled == "1" %>
      <% sso_enabled = 1 %>
      <% sso_links << mod %>
    <% end %>
  <% else %>
  <% end %>
<% end %>
<% sso_style = "" %>
<% if sso_enabled == 1 %>
  <% sso_style = "big_" %>
<% end %>

<div id="wrapper">
  <div id="login_box">
    <div id="school-name"><%= current_school_name %></div>
    <div id=<%="#{sso_style}login-input-box"%>>
      <div id=<%="#{sso_style}logo_area"%>>
        <div id=<%="#{sso_style}top_logo"%>>
          <%= image_tag current_school_detail.logo.url(:original, false) %>
        </div>
      </div>
      <% form_for :user do |form| %>

        <div id="login_area">

          <div id="username_textbox_bg">
            <%= form.text_field :username,
              :maxlength => 40, :placeholder=>"Username"%>
          </div>
          <div id="password_textbox_bg">
            <%= form.password_field :password,:placeholder=>"Password" %>
          </div>
          <div id="notice">
            <% if !flash.empty? %>
              <%= flash[:notice] %>
            <% end %>
          </div>

          <div id="submit_area">
            <%= submit_tag t('login'), :class => "submit themed_bg themed-dark-hover-background" %>
            <%= link_to t('forgot_password'),
              {:controller => "user",
              :action => "forgot_password"}, :class=>"forgot_pwd themed_hover_text" %>
          </div>

          <% if sso_enabled == 1 %>
            <div id="google_login_area">
              <span class="sign-up-span"><%= t('sign_in_using') %></span>
              <% sso_links.each do|l| %>
                <%= link_to "<span class='sso'>#{l[:title]}</span>",l[:destination],:class=>"sso_link" %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="powered_by_div">
    <%= t('powered_by') %> <a href=<%= "#{FedenaSetting.company_details[:company_url]}" %> target="_blank" class="themed_text"><%= FedenaSetting.company_details[:company_name] %> </a>
  </div>

</div>


<script type="text/javascript">
  document.getElementById('user_username').focus();
</script>

