<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<%#*<div id="attendance">%>
<div id="report">
  <div class="outer">
    <div class="inner">
      <table align="center" width="100%" cellpadding="1" cellspacing="1">

        <% if @employees.present?  && @leave_types.present? %>
          <tr>
            <td class="name header"></td>
            <% if params[:action] == "reportees_leaves" %>
              <td class="date"></td>
            <% end %>
            <td colspan="3" class="leave_name"><div class="leave_name"><%= t('leave_summary') %></div></td>
            <% @leave_types.each do |lt| %>
              <td colspan="3" class="leave_name">
                <div class="leave_name"><%="#{lt.name} ( #{lt.code} )&#x200E;"%></div>
              </td>
            <% end %>
          </tr>
          <tr class="tr-head">
            <td class="name header">
              <div><%= t('employee_text') %></div>
            </td>
            <% if params[:action] == "reportees_leaves" %>
              <td class="date">
                <div class="date"><%= t('recent_leave_reset') %></div>
              </td>
            <%end%>
            <td class="tot_leave">
              <div class="tot_leave"><%= t('total_leaves') %></div>
            </td>
            <td class="additional_leave">
              <div class="additional_leave"><%= t('additional_leaves') %></div>
            </td>

            <td class="lop">
              <div class="lop"><%= t('lop') %></div>
            </td>
            <% @leave_types.each do |lt| %>

              <td class="tot_leave">
                <div class="tot_leave"><%= t('total_leaves') %></div>
              </td>
              <td class="additional_leave">
                <div class="additional_leave"><%= t('additional_leaves') %></div>
              </td>

              <td class="lop">
                <div class="lop"><%= t('lop') %></div>
              </td>
            <% end %>



            <!-- attendance_tr -->
          </tr>


          <% @employees.each do |dpt, emp| %>
            <% if params[:action] == "reportees_leaves" %>
              <% col_span = ((@leave_types.count + 1) * 3) + 2 %>
            <% else %>
              <% col_span = ((@leave_types.count + 1) * 3) + 1 %>
            <%end%>
            <tr class="dpt_name"><td class="dpt_name header"><%= dpt %></td>
              <td colspan="<%= col_span - 1 %>" class="dpt_name"></td>
            </tr>

            <% emp.each do |e|  %>
              <tr>
                <% emp_name_length = "#{e.full_name} ( #{e.employee_number} )&#x200E;".length %>
                <td class="name header">
                  <% if emp_name_length < 50 %>
                    <div class="employee_name"><%= link_to "#{e.full_name} ( #{e.employee_number} )&#x200E;",{ :controller =>"employee_attendance", :action=> "additional_leave_detailed", :id=> e.id , :start_date => @start_date, :end_date => @end_date, :leave_criteria => params[:leave_criteria], :from => params[:action]}, :target=> '_blank'  %></div>
                  <% else %>
                    <div tooltip="<%= "#{e.full_name} ( #{e.employee_number} )&#x200E;" %>" class="employee_name"><%= link_to "#{e.full_name} ( #{e.employee_number} )&#x200E;", :controller =>"employee_attendance", :action=> "additional_leave_detailed", :id=> e.id , :start_date => @start_date, :end_date => @end_date, :leave_criteria => params[:leave_criteria], :from => params[:action]  %></div>
                  <% end %>
                </td>
                <% if params[:action] == "reportees_leaves" %>
                  <td>
                    <%= format_date(e.last_reset_date, :short) %>
                  </td>
                <% end %>
                <td>
                  <%= emp_leave_count(e, start_date=@start_date, end_date= @end_date, lt_id=nil) %>
                </td>
                <td>
                  <%= total_additional_leave_count(e,start_date = @start_date, end_date= @end_date, lt_id=nil) %>
                </td>
                <td>
                  <%= total_lop_count(e, start_date= @start_date, end_date=@end_date, lt_id=nil) %>
                </td>
                <% @leave_types.each do |lt| %>
                  <td>
                    <%= emp_leave_count(e, start_date=@start_date, end_date= @end_date, lt_id=lt.id) %>
                  </td>
                  <td>
                    <%= total_additional_leave_count(e,start_date = @start_date, end_date=@end_date, lt_id=lt.id) %>
                  </td>

                  <td>
                    <%= total_lop_count(e, start_date= @start_date, end_date=@end_date, lt_id=lt.id) %>
                  </td>
                <% end %>



              </tr><!-- attendance_tr -->
            <% end %>
          <% end %>

        <% else %>
          <%unless @leave_types.present? %>
            <tr><td><%= t('no_leave_types_present') %></td></tr>
          <% else %>
            <tr><td><%= t('no_employees_present') %></td></tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>

<div class="status">
  <%= pagination_status(@employee_attendance) %>
  <%= will_paginate @employee_attendance, :renderer => 'RemoteLinkRenderer',:params => {:id => params[:id],:start_date => params[:start_date],:end_date => params[:end_date], :department_id => params[:department_id]||"All Departments",:leave_criteria => params[:leave_criteria]||"All"} %>
</div>
<% if @employees.present? %>
  <div class="link">
    <%= link_to "#{t('csv_report')}", {:controller => 'csv_export', :action => 'generate_csv',:id => params[:id],:csv_report_type => "employee_attendance_report",:report_format_type => "csv", :from=> params[:from]|| params[:action],:user => @current_user.id,:start_date =>params[:start_date],:end_date => params[:end_date], :leave_criteria => params[:leave_criteria],:department_id => params[:department_id],:filter => @filter },:target => '_blank', :class => 'user_button' %>
  </div>
<% end %>


<script type="text/javascript">
  hght1 = j(j("td.leave_name")[0]).height();
  j(j("td.name")[0]).css({height: hght1});
  hght2 = j(".tr-head").height();
  j(j("td.name")[1]).css({height: hght2 - 20});
  if (j("tr").length == 1){
    j(".inner").css({"margin-left": "0px"});
    j("tr").css({"border-bottom":"0px"});
    j("td").css({"border-right":"0px"});
  }
</script>

