<div class="description">&#x200E;<%= t('reset_description_new') %>&#x200E;</div>
<% remote_form_for :log ,:before =>"$('submit-button').disable();",:complete=>"$('submit-button').enable();" do |f| %>
    <%= session_fingerprint_field %>
  <% if @employee_count != 1  %>
    <div class="label-field-pair">
      <label><%= t("no_of_employees") %></label>
      <div class="text-input-bg"><%= @employee_count %>
      </div>
    </div>
  <% else %>
    <div class="label-field-pair">
      <label><%= t("employee_name") %></label>
      <div class="text-input-bg"><%= @employee.full_name %>
      </div>
    </div>
  <% end %>
  <div class="label-field-pair" id="remarks">
    <label><%= t("reset_remarks") %></label>
    <div class="text-area-bg"><%= f.text_area :reset_remark , :cols => 30, :rows => 5%>
    </div>
  </div>
  <div class="label-field-pair">
      <label class="margin-top-100"><%= t("reset_date") %></label>
    <div class="text-input-bg"><%= calendar_date_select_tag "log[reset_date]" , @reset_date.present? ? @reset_date : "" , :id => "reset_date",:readonly=>true, :errors => @log.errors[:reset_date],:popup=>"force"%>
    </div>
    <label class="reset-leave-hint-label"><%= t('reset_date_hint') %></label>
  </div>
  <%= f.hidden_field :reset_type, :value => @reset_type %>
  <%= f.hidden_field :employee_ids, :value => @employee_ids %>
  <%= f.submit  "", :value => "#{t('reset_leaves')}", :class => "submit_button",:id => "submit-button", :onclick => "return reset_leave_confirm();" %>

<% end %>
