<% form_for :employee,:url=>{:action=>'update_department_leave_reset'} do |form| %>
  <table>
    <tr class="tr-head">
      <%if @employees.present? %>
        <td></td>
      <% end %>
      <td><%= t('name') %></td>
      <td><%= t('employee_number') %></td>
      <td><%= t('department') %></td>
      <td><%= t('reset_date') %></td>
    </tr>
    <%if @employees.present? %>
      <% @employees.each do |e| %>
        <tr>
          <td><%= check_box_tag "employee_id[]", e.id,true,:class=>'batches_box' %> </td>
          <td class="col-3"><%= link_to "#{e.full_name}", :controller=>"employee_attendance", :action=>"employee_leave_details", :id=>e.id %></td>
          <td class="col-3"><%=e.employee_number %></td>
          <td class="col-3"><%=e.employee_department.name %></td>
          <td><%= format_date(e.reset_date, :format => :short_date) %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4"><%= t('no_employee_found') %></td>
      </tr>
    <% end %>

  </table>
  <%if @employees.present? %>
    <div id="submit-button">
      <%= form.submit  "asd", :name => "commit", :value => "► #{t('reset')}" ,:onClick => "return verify_check()", :disable_with => "► #{t('please_wait')}"%>
    </div>
  <% end %>
<% end %>

