<div class="description"><%= "#{t('employee_reset_success_logs_desc', {:success => @success})}" %></div>
<table>
  <tr class="tr-head">
    <td class="employees"><%= t('employees') %></td>
    <td class="department"><%= t('department') %></td>
  </tr>
  <% @employee_logs.each do |log| %>
    <tr>
      <td class="employees"><%= "#{log.first_name} (#{log.employee_number})&#x200E;" %></td>
      <td class="remarks"><%= log.name %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @employee_logs, :renderer => "RemoteLinkRenderer", :params => {:id => params[:id],  :success => true} %>
