<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('leave_types') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('add_leave_type') %></div>
</div>

<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% form_for :leave_type do |c| %>
    <%= c.hidden_field :creation_status , :value => 2 %>
    <%= session_fingerprint_field %>
    <div class="label-field-pair">
      <label for="category_name"><%= t('leave_name') %></label>
      <div class="text-input-bg"><%= c.text_field :name %></div>
    </div>

    <div class="label-field-pair" id="code">
      <label for="category_name"><%= t('leave_code') %></label>
      <div class="text-input-bg"><%= c.text_field :code %></div>
    </div>

    <div class="label-field-pair" id="leave_count">
      <label for="category_name"><%= t('leave_count').capitalize %></label>
      <div class="text-input-bg"><%= c.text_field :max_leave_count, :placeholder => "E.g., 0.5, 1, 3.5, etc." %></div>
      <div class="description" id="leave_count_text" style="display:none;"><%= t('leave_count_text') %></div>
    </div>
    <div class="label-field-pair" id="reset_date">
      <div id="date_field">
        <label for="category_name"><%= t('valid_from') %></label>
        <%= calendar_date_select_tag 'leave_type[reset_date]', params[:leave_type].present? ? (params[:leave_type][:reset_date].present? ? I18n.l(params[:leave_type][:reset_date].to_date,:format=>:default) : I18n.l(Date.today,:format=>:default)) : I18n.l(Date.today,:format=>:default),:popup=>"force",:errors => @leave_type.errors[:reset_date],:class=>'start_date' %>
      </div>
      <div class="description" id="valid_from_text" style="display:none;"><%= t('valid_from_text') %></div>
    </div>

    <div class="extender"></div>
    <div id ="leave_cf">
      <div class="label-radio-pair">
        <label class="status"><%=  t('employee_leave_balance') %></label>
        <div id="max_leaves"><%= t('leave_credit_carry_forward') %></div>
      </div>
      <div class="label-radio-pair" id="leave_carry_forward">
        <label class="status"></label>
        <%= c.radio_button  "carry_forward", "true"%>
        <label class="label_for_status" for="leave_type_carry_forward_true"><%= t('allow_leave_carry_forward') %></label>

        <%= c.radio_button  "carry_forward", "false" %>
        <label class="label_for_status" for="leave_type_carry_forward_false"><%= t('discard_leave_balance') %></label>
      </div>

      <div id="max_leave_types" style="display:none;"><%= t('max_carry_forwarded_leaves') %></div>

      <div class="label-radio-pair" id="leave_carry_forward_type" style="display:none;">
        <label class="status"></label>
        <%= c.radio_button  "carry_forward_type", 1 , :checked => "checked"%>
        <label class="label_for_status" for="leave_type_carry_forward_type_1"><%= t('any_count') %></label>

        <%= c.radio_button  "carry_forward_type", 2 %>
        <label class="label_for_status" for="leave_type_carry_forward_type_2"><%= t('specific_count') %></label>

        <div class="label-field-pair"  id="max_carry_forward" style="display:none;">
          <div class="text-input-bg"><%= c.text_field :max_carry_forward_leaves,  :placeholder => "E.g., 0.5, 1, 3.5, etc." %></div>
        </div>
      </div>


    </div>

    <div class="label-radio-pair">
      <label class="status"><%= t('additional_leaves').capitalize %></label>
      <div id="max_leaves"><%= t('set_additional_leaves') %></div>
    </div>
    <div class="label-radio-pair" id="lop_enabled">
      <label class="status"></label>

      <%= c.radio_button  "lop_enabled", "true" %>
      <label class="label_for_status" for="leave_type_lop_enabled_true"><%= t('enable_loss_of_pay_deduction') %></label>

      <%= c.radio_button  "lop_enabled", "false" %>
      <label class="label_for_status" for="leave_type_lop_enabled_false"><%= t('discard_loss_of_pay_deduction') %></label>
    </div>

    <div class="label-radio-pair" id="is_active">
      <label class="status"><%= t('status') %></label>
      <div class="text-input-bg" id="status_div">
      <%= c.radio_button  "is_active", "true" %>
      <label class="label_for_status" for="leave_type_is_active_true"><%= t('active') %></label>

      <%= c.radio_button  "is_active", "false" %>
      <label class="label_for_status" for="leave_type_is_active_false"><%= t('inactive') %></label>
      </div>
      <div class="description" id="leave_status_text" style="display:none;"><%= t('leave_inactive_status_warning') %></div>
    </div>

    <div id="submit-button">
      <%=submit_tag "#{t('create_text')}", :disable_with => "#{t('please_wait')}" %>
    </div>
  <% end %>


</div>

<script type="text/javascript">
  var rtl = "<%= (rtl?) ? 'rtl' : 'ltr'  %>"
   
  if (rtl == 'rtl') {
    j("#leave_carry_forward_type label:odd").css('margin-left','30px')
    j("#leave_carry_forward label:odd").css('margin-left','30px')
    j("#lop_enabled label:odd").css('margin-left','20px')
    j("#is_active label:odd").css('margin-left', '30px')
  }
  else{
    j("#leave_carry_forward_type label:odd").css('margin-right','30px')
    j("#leave_carry_forward label:odd").css('margin-right','30px')
    j("#lop_enabled label:odd").css('margin-right','20px')
    j("#is_active label:odd").css('margin-right', '30px')
  }


  j("#leave_type_max_leave_count").change(function(){
    leave_count = j(this).val();
    j("#leave_type_max_carry_forward_leaves").val(leave_count);
  })
  
  j("#leave_carry_forward input").click(function(){
    if (j("#leave_type_carry_forward_true:checked").length > 0)
    {
      j("#max_leave_types").show();
      j("#leave_carry_forward_type").show();
    }
    else{
      j("#max_leave_types").hide();
      j("#leave_carry_forward_type").hide();
      
    }
  });


  j("#leave_carry_forward_type input").click(function(){
    if (j("#leave_type_carry_forward_type_2:checked").length > 0)
    {
      j("#max_carry_forward").show();
    }
    else{
      j("#max_carry_forward").hide();
    }
  });

  var month_names = "<%= I18n.t('date.month_names').compact.join(',') %>";
  j('.calendar_label').on('click',function(){
    new CalendarDateSelect( this.previous(), {date_format:"<%= date_format %>", locale_months:month_names, popup:'force', year_range:10} );
  });

  if (j("#leave_type_carry_forward_true:checked").length > 0)
  {
    j("#max_leave_types").show();
    j("#leave_carry_forward_type").show();
  }
  else{
    j("#max_leave_types").hide();
    j("#leave_carry_forward_type").hide();

  }

  if (j("#leave_type_carry_forward_type_2:checked").length > 0)
  {
    j("#max_carry_forward").show();
  }
  else{
    j("#max_carry_forward").hide();
    j("#leave_type_max_carry_forward_leaves").val(j("#leave_type_max_leave_count").val());
  }


  j('#leave_count input').on("focus", function() {
    j("#leave_count_text").show();
  }).on("blur", function() {
    j("#leave_count_text").hide();
  });

  j('#reset_date input').on("focus", function() {
    j("#valid_from_text").show();
  }).on("blur", function() {
    j("#valid_from_text").hide();
  });


  j("#reset_date img").click(function(){
    var e = document.getElementById("valid_from_text");
    if(e.style.display == 'none')
      e.style.display = 'block';
    else
      e.style.display = 'none';
  })
  
  j('#is_active input').click(function(){
    if(j('#leave_type_is_active_false').is(':checked'))
      j("#leave_status_text").show();
    else
      j("#leave_status_text").hide();
  });

  j("#is_active > label:nth-last-of-type(-n+2)").css({"cursor":"pointer"})
  j("#leave_carry_forward_type > label:nth-last-of-type(-n+2)").css({"cursor":"pointer"})
</script>