<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<script type="text/javascript">
  function verify_check()
  {
    var c = false;
    $$('.batches_box').each(function(check){
      if(check.checked){
        c = true;
      }
    })
    if (c)
    {
      return true;
    }
    else
    {
      alert('<%= "#{t('select_atleast_one_employee')}"%>')
      return false;
    }
    

  }
</script>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('dept_leave_reset') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('reset_employee_leave_dept_wise') %></div>

</div>
<div id="page-yield">

  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div id="box">


    <% form_for :employee_department do |s| %>
      <div class="label-field-pair">
        <label for="end_date"><%= t('reset_date') %></label>
        <div class="text-input-bg end_date">
          <%= calendar_date_select_tag 'reset_date' ,"",:popup=>:force, :id => "end_date"   %></div>
      </div>
      <div class="label-field-pair">
        <label for="employee_department_select"><%= t('select_the_department') %></label>
        <div class="text-input-bg"><%= select :employee_department, :department_id, @departments.map {|c| [c.name, c.id]},
            {:prompt => "#{t('select_the_department')}"},
            {:onChange => "#{remote_function(:url => {:action => "list_department_leave_reset"},
            :with => "'department_id='+value",:before=>"$('loader').show();",:success=>"$('loader').hide();")}"} %>
          <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: none;" ) %>
        </div>
      </div>
    <% end %>

    <div id="department-list"> </div>


  </div>


</div>
