<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('reset_employee_leaves') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('reset_employee_leaves') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :employee_attendance_employee_leave_details, @employee %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <h4><%= t('reset_leaves') %></h4>
  <div class="description"><%= t('reset_individual_description_new') %></div>
  <div class="label-field-pair">
    <label><%= "#{t("employee_name")} :" %></label>
    <div class="text-input-bg"><%= "<b>#{@employee.full_name}</b> - #{@employee.employee_number}" %>
    </div>
  </div>
  <div class="label-field-pair">
    <label><%= "#{t("employee_department")} :" %></label>
    <div class="text-input-bg"><%= "#{@employee.employee_department.name}" %>
    </div>
  </div>
  <% if @employee.employee_position.present? %>
    <div class="label-field-pair">
      <label><%= "#{t("employee_position")} :" %></label>
      <div class="text-input-bg"><%= "#{@employee.employee_position.name}"  %>
      </div>
    </div>
  <% end %>

  <% if @employee.employee_grade.present? %>
    <div class="label-field-pair">
      <label><%= "#{t("employee_grade")} :" %></label>
      <div class="text-input-bg"><%="#{@employee.employee_grade.name}"  %>
      </div>
    </div>
  <% end %>
  <% form_for :log, :html=>{:id => "reset_leave_form", :onsubmit=>"return reset_leave_confirm();"} do |f| %>
      <%= session_fingerprint_field %>
    <%if @leave_count.present?%>
      <div id="list">
        <table>
          <tr class="tr-head">
            <td><%= t('leave_type') %></td>
            <td><%= t('leave_count').capitalize %></td>
            <td><%= t('leave_taken') %></td>
            <td><%= t('last_reset_date') %></td>
          </tr>
          <% @leave_count.each do |e| %>
            <%  leave_type =EmployeeLeaveType.find_by_id(e.employee_leave_type_id)%>
            <%  if leave_type.creation_status %>
              <tr>
                <td class="col-3"><%=leave_type.name %></td>
                <td class="col-3"><%= sprintf("%g",e.leave_count) %></td>
                <td class="col-3"><%= sprintf("%g",e.leave_taken+e.additional_leaves) %></td>
                <%unless e.reset_date.nil? %>
                  <td class="col-3"><%= format_date(e.reset_date,:format=>:short) %></td>
                <%else%>
                  <td class="col-3">-</td>
                <%end%>
              </tr>
            <%end%>
          <% end %>
        </table>
      </div>
  
    <%end%>

      <div class="label-field-pair">
        <label><%= "#{t("reset_remarks")} :" %></label>
        <div class="text-area-bg"><%= f.text_area :reset_remark , :cols => 30, :rows => 5%>
        </div>
      </div>
      <div class="label-field-pair">
        <div class="reset-leave-hint-label">
          <label class="width100"><%= "#{t("reset_date")} :" %></label>
        </div>
        <div class="text-input-bg"><%= calendar_date_select_tag "log[reset_date]" , @reset_date.present? ? @reset_date : "" , :id => "reset_date" ,:readonly=>true,:errors => @log.errors[:reset_date],:popup=>"force"%>
        </div>
        <label class="reset-date-hint"><%= t('reset_date_hint') %></label>
      </div>
      <%= f.hidden_field :reset_type, :value => 3 %>
      <%= f.hidden_field :employee_count, :value => 1 %>
      <div id ="reset">
        <%= f.submit  "", :value => "#{t('reset_leaves')}", :disable_with => "► #{t('please_wait')}",:class => "submit_button", :id => "submit-button" %>
      </div>
  <% end %>

</div>

<script type="text/javascript">
  var month_names = "<%= I18n.t('date.month_names').compact.join(',') %>";
  j('.calendar_label').on('click',function(){
    new CalendarDateSelect( this.previous(), {date_format:"<%= date_format %>", locale_months:month_names, popup:'force', year_range:10} );
  });
 function reset_leave_confirm(){
    var msg = "<%= t('reset_date_hint') %>";
    var sure = "<%= t('are_you_completely_sure') %>";
    var confirm_msg = msg +"\n"+sure;
    if(j('#log_reset_remark').val() == ""){
      return true;
    }
    else if(j('#reset_date').val() == ""){
        return true;
    }
    else
      return confirm(confirm_msg);
  }
</script>