<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('leave_application') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('approve_deny') %></div>

</div>

<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :employee_attendance_leave_application, [@applied_leave,@employee,params[:from]] %>
    <%= render_breadcrumbs  %>
  </div>

  <% if @reporting_manager.id == @current_user.id %>
    <% if @employee_attendance.present? && !@applied_leave.approved %>
      <p class="flash-msg"><%= t('employee_marked_absent') %></p>
    <% end %>

    <% if @employee.last_reset_date > @applied_leave.start_date or @employee.last_reset_date > @applied_leave.end_date %>
      <p class="flash-msg"><%= t('employee_leave_has_been_reset') %></p>
    <% end %>
  <% end %>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"><%= flash[:notice] %></p>
  <% end %>

  <div id="leave-info">
    <ul id="category-list">

      <li class="list<%= cycle('odd','even') %>">
        <div class="category-name"><%= t('employee_text') %>:</div>
        <div class="category-val"><%= "#{@employee.full_name} (#{@employee.employee_number})&#x200E;" %></div>
      </li>

      <li class="list<%= cycle('odd','even') %>"><div class="category-name"><%= t('manager_name') %>:</div>
        <div class="category-val"><%= @manager %></div>
      </li>

      <li class="list<%= cycle('odd','even') %>"><div class="category-name"><%= t('leave_type') %>:</div>
        <%= @leave_type.name %>
      </li>

      <li class="list<%= cycle('odd','even') %>"><div class="category-name"><%= t('date_text') %>:</div>
        <%= application_date_range(@applied_leave) %>
      </li>

      <li class="list<%= cycle('odd','even') %>"><div class="category-name"><%= t('no_of_days') %>:</div>
        <%= days_count(@applied_leave) %>
      </li>


      <% @leave_count = additional_leave_count(@emp_leave,@applied_leave) %>
      <% if @leave_count > 0 %>
        <li class="list<%= cycle('odd','even') %>">
          <div class="category-name"><%= t('additional_leave') %>:</div>
          <%= @leave_count %>
        </li>
      <% end %>


      <% if @applied_leave.approved && @additional_leaves.present? && @employee.lop_enabled%>
        <li class="list<%= cycle('odd','even') %>">
          <div class="category-name"><%= t('lop') %>:</div>
          <%= "<span>#{@deductable_additional_leave} </span><span id='deducted_count'>(#{@deducted_additional_leaves} #{t('deducted')})</span>" %>
        </li>
      <% end %>

      <li class="list<%= cycle('odd','even') %>">
        <div class="category-name"><%= t('status') %>:</div>
        <%= t(application_status(@applied_leave)).capitalize %>
      </li>

      <li class="list<%= cycle('odd','even') %>">
        <div class="category-name"><%= t('reason') %>:</div>
        <div class="category-val"><%= @applied_leave.reason %></div>
      </li>

      <% unless @applied_leave.approved.nil? %>
        <li class="list<%= cycle('odd','even') %>"><div class="category-name"><%= t('approved_by') %>:</div>
          <div class="category-val"><%= @approving_manager.present? ?  "#{@approving_manager.full_name} (#{@approving_manager.employee_record.employee_number})&#x200E;" : t('deleted_user') %></div>
        </li>
        <li class="list<%= cycle('odd','even') %>"><div class="category-name"><%= t('remarks') %>:</div>
          <div class="category-val"><%= @applied_leave.manager_remark %></div>
        </li>
      <% end %>
    </ul>

    <% if @applied_leave.approved.nil? %>
      <h4><%= t('leave_summary') %></h4>
      <ul id="category-list">
        <li class="list<%= cycle('odd','even') %>"><div class="category-name"><%= "#{t('total')}&nbsp#{t('leave')}&nbsp#{t('taken').downcase}" %>:</div>
          <%= "#{sprintf("%g",@all_leaves.tot_leave_taken)} / #{sprintf("%g",@all_leaves.tot_leave_count)}"  %></li>
        <li class="list<%= cycle('odd','even') %>"><div class="category-name"><%="#{@leave_type.name}&nbsp#{t('taken').downcase}" %>:</div>
          <%= "#{sprintf("%g",@emp_leave.leave_taken + @emp_leave.additional_leaves)} / #{sprintf("%g",@emp_leave.leave_count)}"  %></li>
        <li class="list<%= cycle('odd','even') %>"><div class="category-name"><%= t('additional_leaves_taken') %>:</div>
          <%= @additional_leave_count.nil? ? "0" : "#{sprintf("%g", @additional_leave_count)}"%></li>
        <li class="list<%= cycle('odd','even') %>"><div class="category-name"><%= t('recent_leave') %>:</div>
          <%= recent_leave(@all_recent_leaves) %>
        </li>
      </ul>
    <% end %>

    <% unless (params[:from] == "additional_leave_detailed" or params[:from] == "my_leaves") or ((@emp_leave.reset_date >= @applied_leave.start_date and @emp_leave.reset_date > @applied_leave.end_date) and (!@applied_leave.approved or @applied_leave.approved.nil?))%>
      <% form_for :applied_leave,  :url => {:action => 'approve_or_deny_leave', :id => @applied_leave.id} do |f|%>
        <%= session_fingerprint_field %>
        <%= hidden_field_tag :from, params[:from] %>
        <%= f.hidden_field :approved %>
        <div class="approval-form">
          <% if (!@applied_leave.approved && @additional_leaves.present? && @reporting_manager == @current_user && @deducted_additional_leaves == 0 )  %>
            <% unless @employee_attendance.present? %>
              <div class="additional_leave_notification">
                <div class="error-icon"></div>
                <div class="error-msg"><%= t('additional_leave_notification')%></div>

                <% if @leave_type.lop_enabled? && @payroll_group_status %>
                  <div class="label-field-pair">
                    <div class="text-input-bg">
                      <%= check_box_tag('applied_leave[is_deductable]',true,true) %>
                      <label for="applied_leave_is_deductable"><%= t('deduct_lop_for_additional_leaves') %></label>
                    </div>
                  </div>
                  <% if (@leave_count > 1) && (!@applied_leave.approved or @applied_leave.approved.nil? ) %>
                    <div class="leave_select">

                      <label id="select_status"><%= "#{@leave_count} #{t('additional_leave_text', {:count => @leave_count})}" %></label>
                      <div id="select_leaves"><%= t('select_leaves') %></div>
                      <div id="MB_overlay" style="display:none;"></div>
                      <div id="MB_window" style="display:none;">
                        <%= render :partial => "select_leaves" %>
                      </div>
                      <div id="overlay"></div>
                    </div>

                  <% end %>
                  <%= hidden_field_tag('applied_leave[deductable_dates]', @additional_leaves.to_json) %>
                  <%= hidden_field_tag('dates',@dates.to_json) %>
                  <%= hidden_field_tag('applied_leave[is_deductable]',true) %>
                <% else %>
                  <div class="info"><%= t('lop_not_enabled_contact_hr')%></div>
                  <%= hidden_field_tag('applied_leave[is_deductable]',false) %>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <% if @deducted_additional_leaves == 0 &&  @reporting_manager == @current_user or (@employee.last_reset_date > @applied_leave.start_date or @employee.last_reset_date > @applied_leave.end_date) %>
            <div class="label-field-pair" id="remarks">
              <label for="course_grade"><%= t('remarks') %></label>
              <div class="text-input-bg"> <%= f.text_area :manager_remark , :value => "" %> </div>
              <%= f.hidden_field :applied_leave, :value => @applied_leave.id %>
            </div>
          <% end %>

          <div class="buttons">
            <% if (permitted_to? :cancel_application,:employee_attendance) && (@applied_leave.employee.user == @current_user) && !@applied_leave.viewed_by_manager%>
              <%= link_to "#{t('cancel_leave')}",
                {:action => "cancel_application", :id=>@applied_leave.id}, :class=>'user_button' ,:confirm=>"#{t('delete_confirm_msg')}"%>
            <% end %>
            <% if @reporting_manager == @current_user &&  (permitted_to? :approve_or_deny_leave,:employee_attendance) %>
              <% if(!@applied_leave.approved or @applied_leave.approved.nil?) and !@employee_attendance.present? and !(@emp_leave.reset_date >= @applied_leave.start_date and @emp_leave.reset_date > @applied_leave.end_date)%>
                <%=submit_tag "#{t('approve')}",:onclick => "j('#applied_leave_approved').val('1');",:class=>'submit_button approve_button', :name => 'approve',:id => 'approve', :disable_with => "► #{t('please_wait')}" %>
              <% end %>

              <% if(@applied_leave.approved or @applied_leave.approved.nil?) and @deducted_additional_leaves == 0 and @emp_leave.is_active and @leave_type.is_active %>
                <%=submit_tag "#{t('deny')}",:onclick => "j('#applied_leave_approved').val('0');",:class=>'submit_button reject_button',:name => "reject",:id => 'reject', :disable_with => "► #{t('please_wait')}" %>
              <% end %>
            <% end %>

          </div>

        </div>
      <% end %>
    <% end %>



  </div>

</div>

<script type="text/javascript">

  j("#select_leaves").click(function(){
    document.getElementById("overlay").className = "OverlayEffect";
    j('#MB_overlay').show();
    j("#MB_window").show();
    j("#overlay").show();
  })


  function hideLopModalBox()
  {
    j('#MB_overlay').hide();
    j('#MB_window').hide();
    j("#overlay").hide();
  }

  j("#applied_leave_is_deductable").click(function(){
    if (j("#applied_leave_is_deductable").is(':checked')){
      j("#dates").val(Object.toJSON(<%= @dates.to_json %>));
    }else{
      j("#dates").val("");
    }
    val = j("#applied_leave_deductable_dates").val();
    if (j(this).prop("checked")){
      j(".leave_select").show();
      new_val = JSON.parse(JSON.stringify(val).replace(/false/g, 'true'));
    }
    else{
      j(".leave_select").hide();
      new_val = JSON.parse(JSON.stringify(val).replace(/true/g, 'false'));
    }
    j("#applied_leave_deductable_dates").val(new_val);
  })


  if(j('html').attr('dir') == 'ltr')
    j('#MB_window').css({
      left : (j('body').width() - j('#MB_window').width())/2
    });
  else
    j('#MB_window').css({
      right : (j('body').width() - j('#MB_window').width())/2
    });

  if(j(".approve_button").length > 0 || j(".reject_button").length > 0)
  {
    j("#remarks").show();
  }else
  {
    j("#remarks").hide();
  }
</script>