<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('leave_application') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('info') %></div>





</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :employee_attendance_own_leave_application, @employee %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div id="leave-info">
    <ul id="category-list">
      <li class="list<%= cycle('odd','even') %>"><div class="category-name"><%= t('name') %>:</div>
        <%= @employee.first_name %></li>
      <li class="list<%= cycle('odd','even') %>"><div class="category-name"><%= t('approved_by') %>:</div>
        <%= @applied_leave.approving_manager_record.nil? ? (@applied_leave.approved.nil? ? "-" : "#{t('deleted_user')}") : @applied_leave.approving_manager_record.full_name  %>
      </li>
      <li class="list<%= cycle('odd','even') %>"><div class="category-name"><%= t('leave_type') %>:</div>
        <%= @leave_type.name %></li>
      <li class="list<%= cycle('odd','even') %>"><div class="category-name"><%= t('half_day') %>:</div>
        <% if @applied_leave.is_half_day == true %>
          <%= "Yes" %>
        <% else %>
          <%= "No" %>
        <% end %>
      </li>
      <li class="list<%= cycle('odd','even') %>"><div class="category-name"><%= t('leave_start_date') %>:</div>
        <%= format_date(@applied_leave.start_date) %></li>
      <li class="list<%= cycle('odd','even') %>"><div class="category-name"><%= t('leave_end_date') %>:</div>
        <%= format_date(@applied_leave.end_date) %></li>
      <li class="list<%= cycle('odd','even') %>"><div class="category-name"><%= t('reason') %>:</div>
        <div class="category-val"><%= @applied_leave.reason %></div></li>
      <li class="list<%= cycle('odd','even') %>"><div class="category-name"><%= t('status') %>:</div>
        <%= "#{t('approved')}" if @applied_leave.approved == true and @applied_leave.viewed_by_manager == true %>
        <%= "#{t('denied')}" if @applied_leave.approved == false and @applied_leave.viewed_by_manager == true %>
        <%= "#{t('pending_approval')}" if(@applied_leave.approved == false or @applied_leave.approved.nil?) and @applied_leave.viewed_by_manager == false %>
      </li>
      <li class="list<%= cycle('odd','even') %>"><div class="category-name"><%= t('manager_remark') %>:</div>
        <div class="category-val"><%= @applied_leave.manager_remark %></div></li>
    </ul>

    <%= link_to "► #{t('cancel_leave')}",
      {:action => "cancel_application", :id=>@applied_leave.id}, :class=>'user_button' ,:confirm=>"#{t('delete_confirm_msg')}" unless @applied_leave.viewed_by_manager == true %>

  </div>
</div>
