<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('manage_attendance') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('reset_leaves').titleize %></div>
  <% unless @leave_types.zero? %>

    <div id="inner-tab-menu">
      <ul>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('reset_leaves_of_all_employees')}",{ :controller=>"employee_attendance", :action=>"reset_all_employees" }%></li>
      </ul>
    </div>
  <% end %>
</div>

<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>

  <h4><%= t('reset_leaves').titleize %></h4>
  <div class="description"><%= t('reset_leave_desc') %></div>
  <% unless @leave_types.zero? %>

    <div id="search_box_bg">
      <form name="employee" action="" style="display:inline;">

        <div id="form-content">
          <div id="search_textbox">
            <%= text_field_tag("query", params['query'], :autocomplete => 'off', :placeholder => "#{t('search_employee_name_or_no')}") %>
            <%= image_tag("loader.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "loader1",
              :style => "display: none;" ) %><br/>
          </div>
        </div>
      </form>
      <div class="label-field-pair">
        <div class="text-input-bg"><%= select :employee_department, :department_id, @departments.map {|c| [c.name, c.id]},
            {:prompt => "#{t('select_the_department')}"},
            {:onChange => "#{remote_function(:url => {:action => "list_department_leave_reset"},
            :with => "'department_id='+value",:before=>"$('loader').show();",:success=>"$('loader').hide();")}"} %>
          <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: none;" ) %>
        </div>
      </div>
    </div>
    <div id="employee_list"></div>

    <div id="modal-box" style="display:none;"></div>
  <% end %>
</div>


<script type="text/javascript">

  var pagination = false;
  function employee_search_ajax(){
    j("#employee_ids").val("");
    j("#employee_department_department_id").val("");
    if ($('query').value.include("%")) return;
<%="#{remote_function(:url => {:action => "employee_search_ajax"},
:with =>  "j('form').serialize()",
:before => "Element.show('loader1')",
:success => "Element.hide('loader1')",
:update=>"information"
)}"%>
  }


  j('#query').bind('input', employee_search_ajax)
  

  function verify_check()
  {
    var c = false;
    $$('.batches_box').each(function(check){
      if(check.checked){
        c = true;
      }
    })
    j(".error").remove();
    if (c && ids.length > 0)
    {
     // j("#all_employees").prop("disabled","disabled");
      return true;
    }
    else
    {
      if (j("#all_employees").length > 0)
      j("#employee_list").append("<div class='error'><div class='error-icon'></div><div class='error-msg'>" + '<%= "#{t('select_atleast_one_employee')}"%>' + "</div></div>")
      return false;
    }


  }

  j("#employee_department_department_id").change(function(){
    j("#employee_ids").val("");
    j("#query").val("");
  })
 function reset_leave_confirm(){
    var msg = "<%= t('reset_date_hint') %>";
    var sure = "<%= t('are_you_completely_sure') %>";
    var confirm_msg = msg +"\n"+sure;
    if(j('#log_reset_remark').val() == ""){
      return true;
    }
    else if(j('#reset_date').val() == ""){
        return true;
    }
    else
      return confirm(confirm_msg);
  }
 


</script>