.container{

}

.container-head{

}


.containereven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em;
    list-style-type : none;
    padding : 0.5em 0 0 0;
    width:700px;
}

.containerodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : 1.5em;
    list-style-type : none;
    padding : 0.5em 0 0 0;
    width:700px;
}

.heading{
    font-weight:bold;color:#900;
    padding-bottom:20px;
}

#application-list{
    width:960px;
    margin:10px auto;
}

#to-label{
    border-bottom:2px solid;
    float:right;
    width:185px;
    padding:10px 15px 10px 0;
    font-weight:bold;
    background-color : #ffffff;
}

#subject-label{
    border-bottom:2px solid;
    float:right;
    width:300px;
    padding:10px 0 10px 0;
    font-weight:bold;
    background-color : #ffffff;
}

#date-label{
    border-bottom:2px solid;
    float:right;
    width:100px;
    padding:10px 100px 10px 0;
    font-weight:bold;
    background-color : #ffffff;
}


.to_name{
    /*border-bottom:1px solid #bccffb;*/
    float:right;
    width:185px;
    /*background-color:#e4ebfe;*/
    padding:0 15px 0 0;
    height:20px;
}

.to_name a{
    text-decoration:none;
    color:black;
}

.subject{
    /*border-bottom:1px solid #bccffb;*/
    float:right;
    width:300px;
    /*background-color:#e4ebfe;*/
    /*padding:0 0 0 0;*/
    height:20px;
}

.subject a{
    text-decoration:none;
    color:black;
}

.sent_date{
    /*border-bottom:1px solid #bccffb;*/
    float:right;
    width:100px;
    /*background-color:#e4ebfe;*/
    padding:0 100px 0 0;
    height:20px;
}

.sent_date a{
    text-decoration:none;
    color:black;
}
table#listing .tr-read-odd, table#listing .tr-read-odd{
    background: #ffffff;
}
table#listing .tr-read-even.active, table#listing .tr-read-odd.active{
    background: #E1E6FF;
}
table#listing .tr-even.active, table#listing .tr-odd.active{
    background: #E1E6FF;
}
.tr-select{
    height: 40px;
}
.tr-select td{
    float: none;
}

.submit_button {
    padding: 7px 9px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 0;
}
.submit_button:hover{
    background:  #373B3F;
}
table#listing td.col-8 {
    width: 6%;
    padding: 5px;
    text-align: center;
}
.attachment_icon_img {
  float: left;
}
