#reminder-body{
    /*margin:0 0 0 50px;*/
}

#reminder-from{
    margin:0 0 15px 0;
    font-size:18px;
    font-weight:bold;
}

#reminder-date{
    float:left;
    color:#c9c9c9;
    font-weight:normal;
    font-size:14px;
}

#reminder-subject{
    margin:0 0 20px 0;
    font-weight:bold;
    font-size:16px;
}

#reminder-message{
    padding-top:20px;
    text-align:justify;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-size:15px;
}

.text-area-bg {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent none repeat scroll 0 0;
    float:right;
    width:250px;
}
.label-field-pair textarea {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #C6C6C6;
    margin:5px 10px 0px 0;
    padding:5px;
    width:205px;
}
.button {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:30px 360px 0 0;
    padding:7px 12px;
    text-align:center;
    width:auto;
    text-decoration:none;
}
#reminder-reply{
    margin:20px 8px 20px 0;
    overflow: hidden;
    clear: both;
}
.label-field-pair textarea:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}
.label-field-pair label{
    width:200px;
}
.label-field-pair input, .label-field-pair textarea{
    width:350px;
    font-size: 14px;
}
.label-field-pair {
  clear: both;
}
.attachment-field {
  padding-top: 8px;
}
/*attachments*/
#attachments_title{
  font-weight: normal;
  font-size: 14px;
}
#attachments_list {
  list-style: none;
  padding-right: 0px;
}
#attachments_list li a {
  text-decoration: none;
  font-size: 13px;
}
#attachments_list li {
  padding-bottom: 15px;
}
.reminder-body {
  padding-top: 30px;
}
.reminder-body p {
  margin: 0;
  word-wrap: break-word;
  word-break: break-word;
}
.reminder-body pre {
  white-space: pre-wrap;
}
span.attachment_icon_img {
  float: right;
  margin-left: 10px;
}
.remove-field {
  padding-top: 7px;
  margin-left: 119px;
  float: left;
  cursor: pointer;
}
.remove-field a {
    text-decoration: none;
    color: transparent;
    background: transparent url("/images/iconsprite-1.png") no-repeat scroll -5px -344px;
    width: 15px;
    float: left;
    display: block;
    height: 10px;
    margin-top: 8px;
}
#page-yield .remove-field a:hover {
    color: transparent !important;
}
div.flash-msg {
    background-color: #FFF1AB;
    padding: 5px;
    text-align: left;
    margin: 0 auto;
    font-size: 13px;
    font-weight: 600;
    width: 500px;
    border: 1px solid #EFDC86;
}
