<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('student_text') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('student_documents_text') %></div>
    <div id="inner-tab-menu">
        <ul>
            <li class='themed_bg themed-dark-hover-background'>
                <%= link_to "#{t('student_document_manager')}",:controller => 'student_document_categories', 
                  :action => "index"  if permitted_to? :index, :student_document_categories %> 
            </li>
        </ul>
    </div>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        <% breadcrumb :student_documents, @student %>
        <%= render_breadcrumbs  %>
    </div>

    <div id="student_profile_heading1">
        <div id="profile_picture_display">
            <% if @student.photo.file? %>
              <%= image_tag @student.photo.url(:original, false) %>
            <% else %>
              <%= image_tag "master_student/profile/default_student.png" %>
            <% end %>
        </div>

        <div id="student_main_info1">
            <span class="name"><b> <%= @student.full_name %></b> </span>
            <span class="course"><%= t('course_and_batch') %>: <%= @student.batch.course_name %> - <%= @student.batch.name  %>  </span>
            <span class="adm"> <%= t('adm_no') %>: <%= @student.admission_no %> </span>
            <% if roll_number_enabled? %>
              <span class="adm"> <%= t('roll_no') %>: <%= (@student.roll_number.present? ? @student.roll_number : "-")  %> </span>
            <% end %>
        </div>
        <div class="extender">
        </div>
    </div>

    <div id="documents_heading">
        <h3 class="main_title"><%= t('student_documents_text') %></h3>
    </div>

    <div id="flash_box">
        <% unless @flash_notice.nil? %>
          <p class="flash-msg">
              <%= @flash_notice %>

          </p>
        <% end %>
    </div>

    <div id="documents">
        <% @categories.each do |category| %>
          <% category_id = category.new_record? ? (category.registered ? 'registered' : 'nil') : category.id %>
          <% documents = StudentAttachment.category_documents(@documents_group, category) %>
          <% if permitted_to? :new, :student_documents %>
            <div class="document_table_heading">
                <h4 class="document_category_title"><%= category.attachment_category_name %></h4>
                <div class="add_link category_link_<%= category_id %>">                  
                    <%= image_tag("loader.gif",
                      :align => "absmiddle",
                      :border => 0,
                      :id => "form_loader_#{category_id}",
                      :style =>"display: none;" ) %>
                    <%= link_to_remote "#{t('add_document')}", {:url => {:action => "new", :id => @student, :category_id => category_id}}, :before => "j('#form_loader_#{category_id}').show()", :class => "modal_link" %>                  
                </div>
            </div>                      
            <div class="document_upload_form" id='document_upload_form_<%= category_id %>'></div>            
            <div class="documents_table" id="category_table_<%= category_id %>">          
                <%= render :partial => 'documents_table', :locals => {:documents => documents, :category => category}  %>          
            </div>
          <% else %>
            <% if documents.present? %>
              <div class="document_table_heading">
                  <h4 class="document_category_title"><%= category.attachment_category_name %></h4>
              </div>                      
              <div class="documents_table" id="category_table_<%= category_id %>">          
                  <%= render :partial => 'documents_table', :locals => {:documents => documents, :category => category}  %>          
              </div>
            <% end %>                
          <% end %>
        <% end %>
    </div>

    <div id="modal-box" style="display:none;"></div>
</div>

<% if permitted_to? :new, :student_documents %>
  <script>
    function after_form_load(parent) {
        parent = (parent == null) ? 'nil' : parent;
        parent_div = j('#document_upload_form_' + parent);
        j(parent_div).attr('style', 'display:inline-block').prev().find('.add_link').hide();
    }
    function after_form_save(parent) {
        parent = parent == null ? 'nil' : parent;
        parent_div = j('#document_upload_form_' + parent);
        j(parent_div).html('').hide().prev().find('.add_link').show().find('img').hide();
    }
    function build_and_send_form_data(parent) {
        //parent = parent == null ? 'nil' : parent;
        form = j('#document_upload_form_' + parent).find('form');
        j(form).submit(function (e) {
            e.preventDefault();
        });
        on_clk_body = j(form).find('#submit_button').attr('onclick');
        j(form).find('#submit_button').removeAttr('onclick')[0].disable();
        data = new FormData(j(form)[0]);
        j.ajax({
            type: "post",
            url: '/student_documents/create',
            cache: false,
            processData: false,
            contentType: false,
            data: data,
            success: function (request) {
                console.log(request);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                default_error_message = "<%= t('student_documents.document_file_size_validation', :size => StudentAttachment.file_size_message) %>";
                html_body = '<div id="error-box"><ul><li>' + (errorThrown.include("Too Large") ? default_error_message : errorThrown) + '</li></ul></div>';
                j(form).find('#form-errors').html(html_body);
                j(form).find('#submit_button').attr('onclick', on_clk_body)[0].enable();
            }
        });
    }
    j('.modal_link').click(function () {
        j(this).prev().show();
    });
    j(document).delegate('input[type=file]', 'change', function () {
        file_name = j(this)[0].files[0].name;
        parent_div = j(this).parents('.document_upload_form');
        document_name_field = j(parent_div).find('.document_name_field');
        j(parent_div).prev().find('.add_link').hide();
        j(parent_div).find('.reject_file').show();
        j(parent_div).find('.document_name_field').show().find('input[type=text]').val(file_name);
    });
    j(document).delegate('.reject_file', 'click', function () {
        parent_div = j(this).parents('.document_upload_form');
        paperclip_field = j(this).prev();
        default_text = j(paperclip_field).find('input[type=text]').attr('default');
        j(paperclip_field).find('input[type=text]').attr('title', default_text).val(nil);
        j(paperclip_field).find('input[type=file]').attr('title', default_text).val(nil);
        document_name_field = j(parent_div).find('.document_name_field');
        j(document_name_field).find('input[type=text]').val(nil);
        j(document_name_field).hide();
    });
    j(document).delegate('.cancel_link', 'click', function () {
        parent_div = j(this).parents('.document_upload_form');
        j(parent_div).html('').hide();
        j(parent_div).prev().find('.add_link').show().find('img').hide();

    });

  </script>
<% end %>