#event_notification_bar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    font-weight: 800;
    border-radius:10px;
}
#profile-link-img {
  width: 18px;
  height: 19px;
  float: left;
  background: url(/images/iconsprite-1.png) no-repeat center;
  background-position: -61px -140px;
  margin-top: 0px;
  margin-right: 3px;
}
.top-right-link:hover, .top-right-link-active {
  background-color: inherit !important;
}
/*
    Document   : show
    Created on : 7 Jan, 2015, 1:26:36 PM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



/*    Document   : show
    Created on : 7 Jan, 2015, 1:26:36 PM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/


/*   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/*/


root {
    display: block;
}
#event-header{
  border-bottom-color:#CCCCCC;
  border-bottom-style:solid;
  border-bottom-width:0px;
  min-height:71px;
}
.event-organizers{

}
.organiser_div {
    float: left;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 40px;
    white-space: nowrap;
}
.load_more_organisers {
  float:left;
  min-width:60px;
}
.tool_tip_organiser_div {
  text-align: center;
  width:140px;
}
.helper_info {
  width: 134px;
  padding: 10px;
  /*top: 30%;*/
  z-index: 8;
  position: absolute;
  background: #FFFFFF;
 border: 1px solid #B2B2B2;
  pointer-events: none;
  color: #27292b;
  text-align: left;
  font-size: 13px;
  margin-top: 57px;
  margin-left: -121px;
  float: left;
}
.helper_info {
  /*position: relative;*/
  width: 179px;
  /*height: 100px;*/
  padding: 10px;
  background: #FFFFFF;
  border: #989898 solid 1px;
}

.helper_info:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 172px;
  border-style: solid;
  border-width: 0 7px 10px;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
}

.helper_info:before {
  content: "";
  position: absolute;
  top: -11px;
  left: 172px;
  border-style: solid;
  border-width: 0 7px 10px;
  border-color: #0d0d0d transparent;
  display: block;
  width: 0;
  z-index: 0;
}

#show_more_organisers {
  color:#9c0000;
  float:left;
  margin-top: 20px;
    font-size: 14px;
  cursor: pointer;
}
.event-description{
    min-width: 424px;
    max-width: 700px;
    float: left;
    padding-left: 0px;
    margin-top: -24px;
    margin-bottom: 11px;
}
.organser_name_div{
    font-family: Arial;
    font-size: 13px;
    padding :12px 0px 15px 10px;
}
#event-header p{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
}
#event-header label{
    font-weight: bold;
    font-size: 15px;
}
.organiser_name{
    width:100%;
    float: inherit;
    font-size: 14px;
    clear: both;
    color:#333;
    margin-bottom: 4px;
}
.organiser_position{
    color:#999;
    width:70px;
    clear: both;
    font-size: 12px;
    float:left;
}

.organiser_head_label{
    font-size: 15px;
    font-weight: bold;
}
.event-description p{
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
}
#event_notification_bar{
   background-color:#EEEEEE;
  line-height:1.5em;
  margin-top:25px;
  overflow:auto;
  padding:0px 50px;
  padding-left: 30px;
  text-align:justify;
  width:900px;
  height: 70px;
  float:left;
  margin-bottom: 15px;
  font-size: 13px;
}
#event-description p{
    text-align: justify;
    line-height: 1.5;
}
#comment_div{
    border-top: 1px solid #CCC;
    clear:both;
    padding-top: 25px;
    margin-top: 20px;
}
#comment_div h4{
    margin:0px;
}
#comments-heading{
    clear:both;
    font-size: 13px;
    font-weight: bold;
    margin-top: 50px;
    float: left;
}
.event_details{
  margin-top: 10px;
}
.comment-content textarea
{
-webkit-border-radius: 10px;
border: 1px solid #C6C6C6;
background-color: #EEEEEE;
margin-bottom: 20px;
width: 541px;
height: 100px;
padding: 10px;
}
.submit-button{
margin: 0 0 0 0px;
padding: 6px 15px;
}
#comments-list li {
  border-color:#AAAAAA;
  border-style:solid;
  border-width:1px;
  list-style-type:none;
  margin:30px 0 0;
  padding:20px;
}
#comments-list{
  float: left;
  padding-left: 0px;
  width: 100%;
  margin-top: 0px;
}
.delete-comment a {
  color:#000000;
  font-size:12px;
  font-weight:normal;
  margin-bottom:10px;
  text-decoration:none;
  float:right;
  margin-right: 5px;
}
.delete-comment a:hover{
  color:#9C0000;
}
.comment-details {
  float:right;
  padding-left:0px;
  font-weight: 800;
}
.commenter p{
    margin:0px;
}
.comment-content {
  width:550px;
  margin-top: 20px;
  font-size: 13px !important;
}
.comment-posted-at{
    color: #888;
    font-size: 80%;
    margin-left:10px;
    font-weight: normal;
}

#event_notification_bar ul {
    float : left;
    margin : 27px 0 0 0px;
    padding : 0;
    width:940px;
    list-style-type: none;

}
.sub_headding{
    font-size: 15px;
    font-weight: bold;
}
#event_notification_bar ul li {
    float : left;
    margin-right: 15px;
    border-radius: 7px;
    margin-top: -1px;
}
#event_notification_bar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    font-weight: 800;
    border-radius:10px;
}
#event_notification_bar   .right_align{
   float:right;
   font-weight: bold;
   font-size: 15px;
}
#comment_form{
    margin-bottom: 20px;
}
.right_align{
    float:right;
    font-size: 16px;
}
.course_expand{
    float:right;
    border-bottom-style: none;
}
.sub-box-check{
    border-right: .25px soild #CCCCCC;
}
#new-comment-form {
  width: 100px;
}
#load_next_div {
    text-align: center;
    background-color: #EEEDEE;
    height: 50px;
    margin-top: 20px;
  }
  #load_next {
    cursor: pointer;
    margin-top: 15px;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
    color: #666666;
    background-color: #EEEDEE;
  }
 table, th, td {
   padding:10px;
}
.commenter{
    font-size: 13px !important;
    font-weight: bold;
}
.comment_details{
    font-size: 13px !important;
}
.tool_tip_organiser_div .organiser_position{
    width: 41px;
}
.tool_tip_organiser_div  .organiser_div{
  margin-top: 0px;
  padding: 0px !important;
}

#event_notification_bar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    font-weight: 800;
    border-radius:10px;
}
#profile-link-img {
  width: 18px;
  height: 19px;
  float: left;
  background: url(/images/iconsprite-1.png) no-repeat center;
  background-position: -61px -140px;
  margin-top: 0px;
  margin-right: 3px;
}
.top-right-link:hover, .top-right-link-active {
  background-color: inherit;
}
/*
    Document   : show
    Created on : 7 Jan, 2015, 1:26:36 PM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



/*    Document   : show
    Created on : 7 Jan, 2015, 1:26:36 PM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/


/*   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/*/


root {
    display: block;
}
#event-header{
  border-bottom-color:#CCCCCC;
  border-bottom-style:solid;
  border-bottom-width:0px;
  min-height:71px;
}
.event-organizers{

}
.organiser_div {
    float: left;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 40px;
    white-space: nowrap;
}
.load_more_organisers {
  float:left;
  min-width:60px;
}
.tool_tip_organiser_div {
  text-align: center;
  width:140px;
}
.helper_info {
  width: 134px;
  padding: 10px;
  /*top: 30%;*/
  z-index: 8;
  position: absolute;
  background: #FFFFFF;
 border: 1px solid #B2B2B2;
  pointer-events: none;
  color: #27292b;
  text-align: left;
  font-size: 13px;
  margin-top: 57px;
  margin-left: -121px;
  float: left;
}
.helper_info {
  /*position: relative;*/
  width: 179px;
  /*height: 100px;*/
  padding: 10px;
  background: #FFFFFF;
  border: #989898 solid 1px;
}

.helper_info:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 172px;
  border-style: solid;
  border-width: 0 7px 10px;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
}

.helper_info:before {
  content: "";
  position: absolute;
  top: -11px;
  left: 172px;
  border-style: solid;
  border-width: 0 7px 10px;
  border-color: #0d0d0d transparent;
  display: block;
  width: 0;
  z-index: 0;
}

#show_more_organisers {
  color:#9c0000;
  float:left;
  margin-top: 20px;
    font-size: 14px;
  cursor: pointer;
}
.event-description{
    min-width: 424px;
    max-width: 700px;
    float: left;
    padding-left: 0px;
    margin-top: -24px;
    margin-bottom: 11px;
}
.organser_name_div{
    font-family: Arial;
    font-size: 13px;
    padding :12px 0px 15px 10px;
}
#event-header p{
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
}
#event-header label{
    font-weight: bold;
    font-size: 15px;
}
.organiser_name{
    width:66%;
    float: inherit;
    font-size: 14px;
    clear: both;
    color:#333;
    margin-bottom: 4px;
}
.organiser_position{
    color:#999;
    width:70px;
    clear: both;
    font-size: 12px;
    float:left;
}

.organiser_head_label{
    font-size: 15px;
    font-weight: bold;
}
.event-description p{
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
}
#event_notification_bar{
   background-color:#EEEEEE;
  line-height:1.5em;
  margin-top:25px;
  overflow:auto;
  padding:0px 50px;
  padding-left: 30px;
  text-align:justify;
  width:900px;
  height: 70px;
  float:left;
  margin-bottom: 15px;
  font-size: 13px;
}
#event-description p{
    text-align: justify;
    line-height: 1.5;
}
#comment_div{
    border-top: 1px solid #CCC;
    clear:both;
    padding-top: 25px;
    margin-top: 20px;
}
#comment_div h4{
    margin:0px;
}
#comments-heading{
    clear:both;
    font-size: 13px;
    font-weight: bold;
    margin-top: 50px;
    float: left;
}
.event_details{
  margin-top: 10px;
}
.comment-content textarea
{
-webkit-border-radius: 10px;
border: 1px solid #C6C6C6;
background-color: #EEEEEE;
margin-bottom: 20px;
width: 541px;
height: 100px;
padding: 10px;
}
.submit-button{
margin: 0 0 0 0px;
padding: 6px 15px;
}
#comments-list li {
  border-color:#AAAAAA;
  border-style:solid;
  border-width:1px;
  list-style-type:none;
  margin:30px 0 0;
  padding:20px;
}
#comments-list{
  float: left;
  padding-left: 0px;
  width: 100%;
  margin-top: 0px;
}
.delete-comment a {
  color:#000000;
  font-size:12px;
  font-weight:normal;
  margin-bottom:10px;
  text-decoration:none;
  float:right;
  margin-right: 5px;
}
.delete-comment a:hover{
  color:#9C0000;
}
.comment-details {
  float:right;
  padding-left:0px;
  font-weight: 800;
}
.commenter p{
    margin:0px;
}
.comment-content {
  width:550px;
  margin-top: 20px;
  font-size: 13px !important;
}
.comment-posted-at{
    color: #888;
    font-size: 80%;
    margin-left:10px;
}

#event_notification_bar ul {
    float : left;
    margin : 27px 0 0 0px;
    padding : 0;
    width:940px;
    list-style-type: none;

}
.sub_headding{
    font-size: 15px;
    font-weight: bold;
}
#event_notification_bar ul li {
    float : left;
    margin-right: 15px;
    border-radius: 7px;
    margin-top: -1px;
}
#event_notification_bar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    font-weight: 800;
    border-radius:10px;
}
#event_notification_bar   .right_align{
   float:right;
   font-weight: bold;
   font-size: 15px;
}
#comment_form{
    margin-bottom: 20px;
}
.right_align{
    float:right;
    font-size: 16px;
}
.course_expand{
    float:right;
    border-bottom-style: none;
}
.sub-box-check{
    border-right: .25px soild #CCCCCC;
}
#new-comment-form {
  width: 100px;
}
#load_next_div {
    text-align: center;
    background-color: #EEEDEE;
    height: 50px;
    margin-top: 20px;
  }
  #load_next {
    margin-top: 15px;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
    color: #666666;
    background-color: #EEEDEE;
  }
 table, th, td {
   padding:10px;
}
.commenter{
    font-size: 13px !important;
    font-weight: bold;
}
.comment_details{
    font-size: 13px !important;
}
.tool_tip_organiser_div .organiser_position{
    width: 41px;
}
.tool_tip_organiser_div  .organiser_div{
  margin-top: 0px;
  padding: 0px !important;
  white-space: normal;
  width: 100%;
  text-align: left;
}
