#filter {
	display: inline-flex;
        float:right;
}
.label-field-pair {
	width:63px;
        float:right;
}
.extender {
	height: 30px;
}
.label-field-pair label{
    width:187px;
}
.text-input-bg select{
    width: 191px;
    margin: 15px 0px 0 0;
}
.errorExplanation{
    margin-right:0px;
    margin-top: 0px;
}
.text-input-bg{
    width:196px;
    float:right;
}
#left_align{
    float:right;
    display: inline-flex;
    margin-bottom:20px;
}
.submit-button{
    background-color: black;
}
.label-field-pair input{
     background-color: black;
     height:27px;
     width:149px;
}
.submit-button{
    margin-right: 2PX;
}
.label-field-pair input{
    widxth: 131px;
    margin: 27px 50px 0 0;
    height: 30px;
}
.label-field-pair input:focus {
background: black;
border: 1px solid #9e0f15;

}
.ms-choice{
    color:black;
    border-color:  #c6c6c6;
}
#select_passd_out_year_id{
    width:150px;
}
#alumni_studets_partial_div
{
    float:right;
    width: 100%;
    margin-top: 30px;
}
.label-field-pair{
    float:right;
}
#select_batch_batch_id{
    margin-top: 10px;
}
.text-input-bg label{
    font-size: 14px;
   }
.submit-button{
       float:right;
}
#loader{
    float: right;
    margin-left: -213px;
    margin-top: 34px;
    margin-right: 9px;
}
#select_passout_year_partial{
    margin-right:64px;
    margin-left: -25px;
}
.ms-parent{
    width: 171px !important;
}
table#listing .tr-odd {
    font-size: 13px;
    font-weight: normal;

}
table#listing .tr-even {
    font-size: 13px;
    font-weight: normal;
}
table#listing tr.tr-head{
    color:#333333 !important;
}