<h5 ><%= "Exam group max mark: 100, IA weightage: 50%, IA max marks: 50" %></h5>
<table id="pdf-table">
  <tr class="header">
    <td><%= "Indicator" %></td>
    <td><%= "Marks Obtained" %></td>
    <td><%= "Maximum Marks" %></td>
  </tr>

  <tr>
    <td><%= "A" %></td>
    <td><%= "24" %></td>
    <td><%= "30" %></td>
  </tr>
  <tr>
    <td><%= "B" %></td>
    <td><%= "8" %></td>
    <td><%= "10" %></td>
  </tr>
  <tr>
    <td><%= "C" %></td>
    <td><%= "7" %></td>
    <td><%= "10" %></td>
  </tr>
  <tr>
    <td><%= "D" %></td>
    <td><%= "3" %></td>
    <td><%= "5" %></td>
  </tr>
  <tr>
    <td><%= "E" %></td>
    <td><%= "9" %></td>
    <td><%= "10" %></td>
  </tr>

</table>
<div class="cgpas addl_style">
  <div class="batch-wise"><div class="title"><%= "Formula applied" %> &nbsp; : </div><div class="val themed_text">&nbsp; A+best(1,B,C,D,@10)+E </div> </div>
</div>
<div id="example_img">
  <%=image_tag('icse/tmm_eg.png')%>
</div>