<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<% content_for :head do  %>
  <%= stylesheet_link_tag 'exam/index.css' %>
<% end %>
<div id="content-header">
    <%= show_header_icon %>
    <h1>ICSE Settings</h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'>Home</div>

</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs  %>
    </div>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>

    <div class="box">

        <% if Configuration.find_by_config_key("ICSE").config_value=="1" %>
          <div class="link-box">
              <div class="link-heading"><%= link_to "ICSE Exam Categories",:action=>'icse_exam_categories' %></div>
              <div class="link-descr">Manage ICSE Exam Categories</div>
          </div>
          <div class="link-box">
              <div class="link-heading"><%= link_to "ICSE Weightages",:action=>'icse_weightages' %></div>
              <div class="link-descr"> Manage ICSE Weightages</div>
          </div>
          <div class="link-box">
              <div class="link-heading"><%= link_to "Assign Weightages",:action=>"assign_icse_weightages" %></div>
              <div class="link-descr">Assign Weightages to Subject</div>
          </div>
          <div class="link-box">
              <div class="link-heading"><%= link_to "Internal Assessment Settings",:action=>"ia_settings"%></div>
              <div class="link-descr">Manage Internal Assessment Mark Settings</div>
          </div>
          <div class="link-box">
              <div class="link-heading"><%= link_to "ICSE Report Settings",settings_icse_report_settings_path %></div>
              <div class="link-descr">Manage ICSE Report Settings</div>
          </div>
          <div class="link-box">
              <div class="link-heading"><%= link_to "Internal Assessment groups",internal_assessment_groups_icse_settings_path %></div>
              <div class="link-descr">Manage Internal Assessment Groups</div>
          </div>
          <div class="link-box">
              <div class="link-heading"><%= link_to "Assign IA Group",:action=>"assign_ia_groups"%></div>
              <div class="link-descr">Assign IA Group to Subject</div>
          </div>
        <% end %>
        <div class="extender"></div>
    </div>
</div>

