
.scrolable,.scrolable2{
    float:left;
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #C6C6C6;
    margin:5px 0 15px 10px;
    padding:7px;
    width:200px;
    overflow:auto;
}
.scroll-inside{
    max-height:100px;
    overflow:auto;
}
.scrolable{
    max-height:100px;
}
.scrolable2{
    max-height:60px;
}
.scroll-inside2{
    max-height:60px;
    overflow:auto;
}
.scroll-inside a.all,.scroll-inside2 a.all {
    color:#444444;
    font-weight:bold;
    font-size:14px;
    text-decoration:none;
}
.scroll-inside a.individual,.scroll-inside2 a.individual{
    font-size:14px;
    text-decoration:none;
    color:#444444;
}
.scroll-inside .hover span,.scroll-inside2 .hover span{
    display: none;
}
.scroll-inside .hover:hover a,.scroll-inside2 .hover:hover a{
    text-decoration:underline;
    color:#9f0c14;
}
.scroll-inside .hover:hover span,.scroll-inside2 .hover:hover span{
    display:block;
    float:right;
    color:#444444;
    font-size:13px;
    margin-right: 5px;
    padding-top:2px;
}
.hover{
    border-bottom:1px solid #dddddd;
}
#create_document_form{
    padding-left:50px;
}
#autofill-area .label-field-pair {
    margin:0 95px 10px 0;
}
#admission1_form_vertical_block_left {
    padding-bottom: 20px;
}
.label_field_pair {
    width:600px;
    height: 40px;
    padding-top: 3px;
}
.label-field-pair-document,.label-field-pair-document-small{
    height: 40px;
    padding-top: 3px;
}
.label-field-pair-document{
    width: 500px;
}
.label-field-pair-document-small{
    width: 355px;
}
.label-field-pair-document-small label, .label-field-pair-document label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: left;
    width: 160px;
    padding-top: 10px;
    font-weight: 600;
}
.label_field_pair2 {
    font-weight: normal;
    color: black;
    width:800px;
    height: 40px;
    padding-top: 3px;
}
.label_field_pair label.label_for_gender {
    font-weight:normal;
    display:inline;
}
#admission1_form_vertical_block_right {
    padding-bottom: 20px;
}
.label_field_pair1 {
    width:285px;
    float:left;
    padding-top:40px;
}
.label_field_pair label {
    padding-top: 10px;
    display:block;
    color:#444;
    margin-bottom:10px;
    font-size: 14px;
    font-weight: 600;
}
.label_field_pair input[type="checkbox"]{
    margin-top: 10px;
}
.label_field_pair input[type="text"] {
    width:210px;height:28px;
    background:transparent;
    border:none;
    padding-left:10px;
    padding-top:5px;
}
.label-field-pair label{
    width: 160px !important;
}
.label-field-pair3{
    float: left;
    width: 300px;
}
.label-field-pair2 label, .label-field-pair3 label{
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 0px 0;
    float:left;
    padding-top: 10px;
    font-weight: 600;
}
.label-field-pair2 label {
    width: 160px !important;
}
.label-field-pair3 label{
    width: 50px;
}
.label-field-pair2 input,.label-field-pair3 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 205px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}

.label-field-pair2 input[type="file"],.label-field-pair3 input[type="file"] {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 205px;
    height:27px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}

.label_field_pair select {
    background : #eee;
    border: none;
    height: auto;
    margin: 5px 0 0 5px;
    width: 220px;
}
.submit_button {
/*    margin-top:30px;
    margin-left:270px;*/
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    display: block;
    margin: 0px 220px 0px 170px;
    float: left;
    position: relative;
    top:10px;
}
.submit_button:hover{
    background:  #373B3F;
}
.themed_text_doc{
    font-weight: bold;
    padding-top:10px;
}
.span-sub-heading{
    padding-bottom: 10px;
    width: 950px;
}
#dept-course-heading{
    float: left;
    margin-left: 50px;
}
#member-list,#dept-list,#course-list{
    float: right;
}
.member-list{
    width: 350px;
    height: auto;
}
.dept-list{
    width: 350px;
    height: auto;
}
.category-box{
    height: 200px;
    width: 100px;
    float: left;

}
.text-desc{
    margin-top: 10px;
}
.fields-wrap{
    width: 950px;
    float: left;
    height: auto;
}
.fields-wrap1{
    width: 400px;
    float: left;
    height: auto;
}
#fields-wrap2{
    margin-left: 50px;
    padding-right: 50px;
    width: 400px;
    float: right;
    height: auto;
    border-left : 1px solid #c6c6c6;
/*    margin-top: 80px;*/
}
.fields-wrap2{
    width: 950px;
}
.label_field_pair3 {
    height : 80px;
    width : 600px;
    padding-top: 3px;
}
.label_field_pair3 label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 0px 0;
    float:left;
    width:200px;
    padding-top: 10px;
    font-weight: 600;

}
.extender2{
    height: 10px;
    clear: both;
}
.delete_button_img{
    background:#fff url(/images/buttons/delete_2.png) no-repeat;
    display: block;
    float: right;
    height: 12px;
    width: 5px;
    margin-top: 12px;
    margin-right: 150px;
    font-size: 13px;
    padding-left: 15px;
    color: #f00;
    text-decoration: none;
}

.add_button_img{
    background: none;
    display: block;
    float: none;
    height: 12px;
    width: 100px;
    margin-top: 15px;
    font-size: 13px;
    text-decoration: none;
    display: inline;
    color: #080;
}
#form23{
    height: auto;
}
#link {
    float: inherit;
    width: 50px;
}
#link a {
    background: none repeat scroll 0 0 transparent;
    color: #008800;
    display: inline;
    float: none;
    font-size: 13px;
    height: 12px;
    margin-top: 15px;
    text-decoration: none;
    width: 100px;
}
.extender2{
    height: 10px;
    clear: both;
}









p.text-input-bg{
    width: 150px;
    background : transparent;
    height : 28px;
    width : 225px;
    float:left;
    margin: 10px 0px 0px 10px;
    font-size: 13px;
}

img.text-area-bg{

    border : 0px;
}
input[type="text"]:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}
.label_field_pair2 .custom_width{
    width: 50px!important;
}
.text-input-bg {
    height: auto;
}
