
.link-box {
    margin:10px 40px;
    width:270px;
    float:left;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
.link-descr {
    margin-top: 5px;
    color: #666;
    text-align: left;
}
#box{
    width:700px;
    margin:0px auto;
}
.box{
    width:100%;
    margin:0px auto;
}
.exam-basic-details{
    margin: 0 auto;
    width: 550px;
}
.submit_button {
    margin-top: 25px;
    margin-left: 170px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}

.submit_button2 {
    margin-top: 25px;
    margin-left: 310px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button2:hover{
    background:  #373B3F;
}

.label-field-pair input {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:5px 0 0 10px;
    padding:5px;
    width:205px;
}
.label-field-pair input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}

.label-field-pair2 input {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:0 0 3px 1px;
    padding:5px;
    width:25px;
}
.label-field-pair2 input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}

.text-input-bg2 {
    background:none repeat scroll 0 0 transparent;
    float:left;
    height:28px;
    width:25px;
}

.label-field-pair3 input {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:0 0 3px 1px;
    padding:5px;
    width:140px;
}
.label-field-pair3 input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}

.text-input-bg3 {
    background:none repeat scroll 0 0 transparent;
    float:left;
    height:28px;
    width:200px;
}

.type_link{
    color:#27292B;
    text-decoration:underline;
    margin-top: 12px;
    font-size: 14px;
    float:left;
}

.type_link:hover{
    color:#990a10;
    text-decoration:none;
}
.fieldWithErrors{
    display: inline-block;
}
