<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>



<script>
  j(document).ready(function() {
    j("#drop_header").hover(
    function () {
      link_off = j("#drop_header").offset();
      link_width = j("#drop_header").width();
      link_height = j("#drop_header").height();
      box_width = j("#box_1").width();
      //  c_b.css({ top: (0 - (child_bottom - main_bottom))});
      j("#box_1").css({top: (link_off.top + link_height),left: ((link_off.left + link_width) - box_width)});
      j("#box_1").css("display","block");
    },
    function () {
      j("#box_1").css("display","none");
    });
  });
</script>


<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('exam_groups_text') %></div>
  <div id="inner-tab-menu">
    <ul>
      <% if @batch.is_active%>
        <%  if can_access_request? :new,:exam_groups %>
          <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('new_exam_group')}", {:controller=>"course_exam_groups",:action=>"new",:batch_id=>@batch.id,:from=>"batch"} %></li>
        <% end %>
      <%end%>
      <%if ((!@batch.cce_enabled? and !@batch.icse_enabled? and can_access_request? :grouping,@current_user,:context=>:exam) or (@batch.cce_enabled? and ((can_access_request? :observation_groups,@batch,:context=>:assessment_scores) or (can_access_request? :observation_groups,@batch,:context=>:assessment_scores))))%>
        <li id="drop_header" class='themed_bg themed-dark-hover-background'>
          <a href="#" id="drop_header_link"><%= t('more') %> &#9660;</a>
          <ul id="box_1" class="more-menu-div" style="display:none;">
            <%unless @batch.cce_enabled? or @batch.icse_enabled? %>
              <%if can_access_request? :grouping,@current_user,:context=>:exam%>
                <li class="themed_bg themed-dark-hover-background"><%= link_to "#{t('connect_exams')}", :controller=>'exam', :action=>'grouping', :id=>@batch %></li>
              <%end%>
            <%else%>
              <% if @batch.cce_enabled? %>
                <%if can_access_request? :observation_groups,@batch,:context=>:assessment_scores%>
                  <li class="themed_bg themed-dark-hover-background"><%= link_to "Co-Scholastic result entry", observation_groups_assessment_scores_path(:batch_id=>@batch.id) %></li>
                <%end%>
                <%if can_access_request? :observation_groups,@batch,:context=>:assessment_scores%>
                  <li class="themed_bg themed-dark-hover-background"><%= link_to "Upscale student grades", upscale_scores_cce_report_settings_path(:batch_id=>@batch.id) %></li>
                <%end%>
              <% end %>
            <%end%>
          </ul>
        </li>
      <%end%>
    </ul>
  </div>
</div>
<div id="page-yield">

  <div class="bread_crumb">
    <% breadcrumb :exam_groups_index, @batch%>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    <div  class="details_headder" style="margin-bottom: 40px;width: 100%">
      <div id="exam_group_details">
        <div class="discription_div">
          <div class="item_input">
            <p><%=t('course_text')%></p>
            <p class="set_text_bold"><%=@batch.course.course_name%></p>
          </div>
        </div>

        <div class="discription_div">
          <div class="item_input">
            <p><%=t('batch')%></p>
            <p class="set_text_bold"><%=@batch.name%></p>
          </div>
        </div>
        <div class="discription_div">
          <div class="item_input">
            <p><%=t('batch_tutor')%></p>
            <%@batch.employees.each do |emp|%>
              <p class="set_text_bold"> <%="#{emp.full_name}(#{emp.employee_number})"%> </p>
            <%end%>
          </div>
        </div>
        <div class="discription_div small_div">
          <div class="item_input">
            <p><%=t('students')%></p>
            <p class="set_text_bold"><%=@batch.students.count%></p>
          </div>
        </div>
      </div>
    </div>
    <div class="extender set_border_bottom"></div>
    <div class="batch_list">
      <% if @exam_groups.present? %>
        <table id="listing" width="100%">
          <tr class="tr-head">
            <td><%= t('exam_groups_text') %></td>
            <td><%= t('exams_text') %></td>
            <td><%= t('subjects_text') %></td>
            <td> <%= t('status') %> <%= image_tag("loader.gif",
                :align => "absmiddle",
                :border => 0,
                :id => "loader",
                :style =>"display: none;" ) %></td>
            <%if can_access_request? :show,@batch,:context=>:exam_groups%>
              <td></td>
            <%end%>
          </tr>
          <% @config = Configuration.available_modules %>
          <% @exam_groups.each do |exam_group| %>

            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-3">
                <%=exam_group.name%>
              </td>
              <td  class="col-1"><%=exam_group.exams.count%></td>
              <td  class="col-1"><%=@batch.subjects.count%></td>
              <td class="col-2">
                <% unless exam_group.is_published%>
                  <% if exam_group.exams.count==0%>
                    <%= t('no_exams_created')%>
                  <%else%>
                    <%= t('schedule_not_published')%>
                  <%end%>
                <% else  %>
                  <%  unless  exam_group.result_published%>
                    <%= t('schedule_published') %><br />
                  <% else %>
                    <%= t('result_published') %>
                  <% end  %>
                <% end  %>
              </td>
              <%if can_access_request? :show,@batch,:context=>:exam_groups%>
                <td class="col-4">
                  <%if @batch.is_active%>
                    <%= link_to t("manage_exams"), [@batch, exam_group] %>
                  <%else%>
                    <%= link_to t("manage_exams"),previous_marks_entry_path(@batch.id,exam_group.id)%>
                  <%end%>

                  <%if can_access_request? :destroy,:exam_groups%>
                    <span><small>
                        <%= link_to("#{t('delete_text')}", [@batch, exam_group], :method => 'delete', :confirm => "#{t('delete_confirm_msg')}") if exam_group.removable? %>
                        <s><%= "#{t('delete_text')}" unless exam_group.removable? %></s>
                      </small></span>
                  <%end%>
                </td>
              <%end%>
            </tr>
          <% end %>
        </table>
      <% else %>
        <p class="flash-msg"> <%= t('no_examgroups_present') %> </p>
      <% end %>
    </div>
    <div class="extender"></div>
  </div>
</div>
