<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('new_exam') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :exam_groups_new, @batch%>
    <%= render_breadcrumbs  %>
  </div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>



  <div class="box">

    <div id="flash"></div>
    <div id="exam-form">
      <% unless params[:exam_group].blank? %>
        <% if params[:exam_group][:exam_type] == 'Marks' or params[:exam_group][:exam_type] == 'MarksAndGrades' %>
          <%= render :partial=>'exam/exam_marks_form' %>
        <% else %>
          <%= render :partial=>'exam/exam_grade_form' %>
        <% end %>
      <% else %>
        <%= error_messages_for :exam_group %>
        <% form_remote_for :exam_option, :url => {:controller=>'exam',:action => 'update_exam_form',:batch=>@batch}, :before=>"$('submit_button').disable()", :complete=>"setTimeout(function(){$('submit_button').enable();},5000)" do |form| %>
          <div class="label-field-pair">
            <label for="exam_name"><%= t('exam_name') %></label>
            <% if params[:ename].nil?  %>
              <% @ename = "" %>
            <% else %>
              <% @ename = params[:ename] %>
            <% end  %>
            <div class="text-input-bg"><%= form.text_field :name, :value=>@ename%></div>
          </div>
          <% if @batch.gpa_enabled? or @batch.cwa_enabled? %>
            <div class="label-field-pair">
              <label for="exam_type"><%= t('exam_type') %></label>
              <div class="text-input-bg"><%= select :exam_option,:exam_type,[[t('marks_and_grades'),"MarksAndGrades"]] %></div>
            </div>
          <% elsif @batch.cce_enabled? %>
            <div class="label-field-pair">
              <label for="cce_exam_category_id"><%= t('cce_exam_category') %></label>
              <div class="text-input-bg"><%= select :exam_option,:cce_exam_category_id,@cce_exam_categories.map{|ec| [ec.name,ec.id]},:prompt=>t("select") %></div>
            </div>
            <%= hidden_field :exam_option,:exam_type, :value=>"MarksAndGrades"  %>
          <% elsif @batch.icse_enabled? %>
            <div class="label-field-pair">
              <label for="cce_exam_category_id">ICSE Exam Category</label>
              <div class="text-input-bg"><%= select :exam_option,:icse_exam_category_id,@icse_exam_categories.map{|ec| [ec.name,ec.id]},:prompt=>"Select Exam Category" %></div>
            </div>
            <%= hidden_field :exam_option,:exam_type, :value=>"MarksAndGrades"  %>
          <% else %>
            <div class="label-field-pair">
              <label for="exam_type"><%= t('exam_type') %></label>
              <div class="text-input-bg"><%= select :exam_option,:exam_type,[[t('marks'),"Marks"],[t('grades'), "Grades"],[t('marks_and_grades'),"MarksAndGrades"]] %></div>
            </div>
          <% end %>
          <%=hidden_field_tag :session_fingerprint, session_fingerprint%>
          <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button", :id => 'submit_button' %>
          <%  #  form.submit("Save") %>
        <%end%>
      <% end %>
    </div>

    <div class="extender"></div>


  </div></div>
