
.each_category{
    font-size: 12px;
    clear: both;
    width:auto;

}
.each_category input{
    float:right;
    width:auto;
}

.each_category label {
    float: right;
    margin-top: -5px;
    width: 140px;
    font-size: 13px;
    font-weight: normal;
    margin-right: 8px;
    word-break: break-all;
}
.categories {
    -webkit-border-radius: 10px 10px 10px 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 100px;
    overflow: auto;
    width: 196px;
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 30px;
    margin-top: 13px;
}
.submit_button {
    margin-right: 211px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
.link-box {
    margin:10px 40px;
    width:270px;
    float:right;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
.link-descr{margin-top:5px;color:#666;text-align:right;}
#box{
    width:700px;
    margin:0px auto;
}
.box{
    width:100%;
    margin:0px auto;
}
.exam-basic-details{
    margin: 0 auto;
    width: 550px;
}
.submit_button {
    margin-right: 201px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin-top: 10px;
}
#MB_content{
    padding-bottom: 25px;
}
.submit_button:hover{
    background:  #373B3F;
}

.submit_button2 {
    margin-top: 25px;
    margin-right: 461px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button2:hover{
    background:  #373B3F;
}
.label-field-pair2 input {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:0 1px 3px 0;
    padding:5px;
    width:25px;
}
.label-field-pair2 input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}

.text-input-bg2 {
    background:none repeat scroll 0 0 transparent;
    float:right;
    height:28px;
    width:25px;
}

.label-field-pair3 input {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:0 1px 5px 0;
    padding:5px;
    width:140px;
}
.label-field-pair3 input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}

.text-input-bg3 {
    background:none repeat scroll 0 0 transparent;
    float:right;
    height:40px;
    width:200px;
}

.type_link{
    color:#27292B;
    text-decoration:underline;
    margin-top: 12px;
    font-size: 14px;
    float:right;
}

.type_link:hover{
    color:#990a10;
    text-decoration:none;
}
.fieldWithErrors{
    display: inline-block;
}
.sel-list {
    width:196px;
}

table#listing .tr-even,table#listing .tr-odd {
    font-size: 13px;
    font-weight: 300;
}



div#course_exam_group_details{
    float:right;
    width: 100%;
}
#course_exam_group_details div{
    float:right;
    font-size:14px;
}
#course_exam_group_details .discription_div {
    width :42%;
}
.set_width_high{
    width:58% !important;
}
.item_input{
    width:200px;
}
.item_input p{
    float: right;
    line-height: 20px;
    clear: both;
    width: 300px;
    white-space: pre-line;
    word-break: break-all;
    min-height: 20px;
}
.set_text_bold{
    font-weight: bold;
    width: 213px !important;
}
.small_width_text p{
    width: 200px !important;
}
.set_border_bottom{
    float:right;width :100%;
    border-bottom: 1px solid black;
    height: 24px;
    clear: both
}
#div_batch_list{
    width: 100%;
    float:right;
    margin-top: 30px;
}
table#listing .tr-even,table#listing .tr-odd {
    font-size: 13px;
    font-weight: 300;
}
table#listing  td{
    padding: 10px !important;
    padding-right: 20px !important;
}
table#listing td.col-1{
    width:5% !important;
}
table#listing td.col-2{
    width:20% !important;
}
table#listing td.col-4{
    width:15% !important;
}
table#listing td.col-3{
    width:25% !important;
}
table#listing .tr-head td{
    color:#000 !important;
}
.label-field-pair input[type=checkbox]{
    width: 20px;
    margin: 16px 0px 0 0;
    height: 15px;
}
.align_left{
    float:right;
}
.categories input[type=checkbox]{
    width: 12px !important;
    margin: 6px 0px 0 0 !important;
}
.item_count_div input[type="radio"]{
    float: right;
    margin-top: 1px;
    cursor: pointer;

}
.item_count_div label{
    cursor: pointer;
}
.exam_group_count{
    float: left;
    height: 7px;
}
.exam_group_count .item_count_div{
    float: right;
    margin-left: 30px;
    font-weight: 600;
    font-size: 13px;
    min-width: 0px;
    cursor: pointer;
}
.for_loader{
    margin-left: 10px !important;
    width: 10px;
}
.exam_group_count{
    width: auto;
    float: left;
    margin-bottom: 20px;
}