#RB_overlay {
  position: absolute;
  z-index:100;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  min-height:100%;
  background-color: #000;
  opacity: .6;
  filter: alpha(opacity=60);
}

#RB_redbox {
  width: 100%;
  position: absolute;
  top: 0px;
}

#RB_window {
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 102;
	line-height: 0;
}

#RB_loading {
  margin: 0 auto 0 auto;
	width: 250px;
	height: 250px;
  text-align: center;
  background: #FFF url(../../../images/redbox_spinner.gif) no-repeat center center;
}

.redbox_contents {
  margin: 0 auto;
  text-align: right;
}
