<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('configuration_text') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= "#{t('feature_access_settings')}" %></div>
    <div id="inner-tab-menu">
    </div>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= breadcrumb :feature_access_settings %>
        <%= render_breadcrumbs  %>
    </div>
   
        <% unless flash[:notice].nil? %>
          <p class="flash-msg"> <%= flash[:notice] %> </p>
        <% end %>
    
    <div id="form-errors"></div>
    <div id="top_section">
        <div id="course_area">
            <label for="feature_access_settings" id="course_text"><%= "#{t('feature_access_settings')}" %></label>
        </div>
    </div>
    <div id="middle_section">
        <div id="description">
            <div id="description_text">
                <%= "#{t('feature_access_settings_description')}" %>
            </div>
        </div>
    </div>
    <div id="student_items">
        <%=render :partial=>'form'%>
    </div>
</div>