
#form-content{
    height:150px;
    width:500px;
    margin:0px auto;
}

.status{
    color : #444444;
    font-weight : bold;
    margin : 0 5px 10px 0;
}

#radio-buttons{

}

#submit-button input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    float:right;
    margin-top:20px;
    margin-right: 210px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
}

#category-list {
    clear : both;
    padding : 10px 0px 40px 0;
    width:650px;
    margin:0px auto;
}

#category-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 5em 0 0;
    overflow: hidden;
}

#category-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 5em 0 0;
    overflow: hidden;
}

#category-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 5em 0 0;
}
#category-list li div {
    float : right;
}
#category-list li div.category-name {
    width : 350px;
    font-size:13px;
    font-weight:bold;

}
#category-list li div.category-edit,
#category-list li div.category-delete {
    font-size : 0.9em;
    width : 50px;
}
#category-list li div a {
    color : #000;
    text-decoration:none;
    font-size:14px;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration:underline;
}

#category-list .listheading {
    background:none repeat scroll 0 0 #BECFFB;
    border-bottom:2px solid #BECFFB;
    color:#444444;
    height:1.5em;
    list-style-type:none;
    padding:0.5em 1em 0 0;
    width:34em;
}

.label-checkbox-pair  {
    height:40px;
    padding-top:3px;
    padding:10px 0px 0 0;
    width:600px;
}
.status{
    color:#444444;
    display:block;
    float:right;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:3px;
    width:206px;
}
.errorExplanation1 {
    background: url("/images/_global/error.png") no-repeat scroll 99% 13px #FFDEDF;
    -moz-border-radius:10px;
    border-radius:10px;
    -webkit-border-radius:10px;
    height : auto; width : 540px;
    margin-right: 165px;
    margin-bottom: 10px;
    padding : 10px 20px 20px 0;
}
.errorExplanation1 ul {
    list-style: none;
    margin-top: 7px;
    margin-bottom: 10px;
    padding-right: 21px;

}
.errorExplanation1 ul li{
    font-weight:600;
    font-size:16px;
    display: block;
}
.errorExplanation
{
    width: 540px;
    margin-right: 165px;
}
