
#form-content{
    height:150px;
    width:500px;
    margin:0px auto;
}

#radio-buttons{
    margin:0;
}

#submit-button input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    float:right;
    margin-top:10px;
    margin-right: 210px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
}

div#position-list {
    clear : both;
    padding : 10px 0px 40px 0;
    width:650px;
    margin:0px auto;
}

#position-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 5em 0 0;
    overflow: hidden;
}

#position-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 30em;
    list-style-type : none;
    padding : 0.5em 5em 0 0;
    overflow: hidden;
}

#position-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 5em 0 0;
}

#position-list li div {
    float : right;
}
#position-list li div.position-name {
    width : 350px;
    font-weight: bold;
    font-size:13px;

}
#position-list li div.position-edit,
#position-list li div.position-delete {
    font-size : 0.9em;
    width : 50px;
}
#position-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: none;
}
#position-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}
#position-list .listheading {
    background:none repeat scroll 0 0 #BECFFB;
    border-bottom:2px solid #BECFFB;
    color:#444444;
    height:1.5em;
    list-style-type:none;
    padding:0.5em 1em 0 0;
    width:34em;
}

.label-checkbox-pair  {
    height:40px;
    padding-top:3px;
    padding:10px 0px 0 0;
    width:600px;
}
.status{
    color:#444444;
    display:block;
    float:right;
    font-size:14px;
    font-weight:600;
    margin:0 0 10px;
    padding-top:3px;
    width:206px;
}
.errorExplanation
{
    background: url("/images/_global/error.png") no-repeat scroll 99% 13px #FFDEDF;
    width: 539px;
    margin-right: 205px;
}
.errorExplanation1 {
   background: #ffdedf url(/images/_global/error.png) no-repeat 99% 13px;
    -moz-border-radius:10px;
    border-radius:10px;
    -webkit-border-radius:10px;
    height : auto;
    padding : 10px 20px 20px 0;
    width: 539px;
    margin-right: 205px;
    margin-bottom: 10px;

}
.errorExplanation1 ul {
    list-style: none;
    margin-top: 7px;
    margin-bottom: 0px;
    padding-right: 21px;

}
.errorExplanation1 ul li{
    font-weight:600;
    font-size:16px;
    display: block;
}
