#current-changed-manager{
    border-bottom:3px solid #eeeeee;
    margin:0 50px 25px 0;
}

#current-manager-outer{
    margin:10px 0 10px 0;
}

#current-manager{
    width:250px;
    float:right;
    font-weight:bold;
}

#current-manager-name{
    float:right;
    font-weight:bold;
    color:#BB0000;
}

#changed-manager-outer{
    margin:10px 0 10px 0;
}

#changed-manager{
    width:250px;
    float:right;
    font-weight:bold;
    margin-top:7px;

}

#changed-manager-name{

    float:right;
    font-weight:bold;
    color:#BB0000;
    margin-top:7px;
}

#changed-manager-name .not-selected{
    color:#9d9d9d;
}

#update-button{
    float:right;
    margin: 0 10px 0 0;
}

#search-options{
    margin:0 50px 25px 0;
    border-bottom:3px solid #eeeeee;
    padding-bottom:25px;
}

#search-outer{
    margin:10px 0 10px 0;
}

#search-label{
    width:250px;
    float:right;
    font-weight:bold;
    margin:12px 0 0 0;
}

#search-text-box{
    float:right;
    height : 28px;
    width : 230px;
    margin:10px 0 25px 0;
}

#search-text-box input {
    background: #EEE;
    border: 1px solid #C6C6C6;
    margin: 0;
    width: 218px;
    height: 16px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}

.employee-search-options{
    float:right;
    background : #fff url(../../../images/form_bg/smalltextbox.jpg) no-repeat;
    height : 28px;
    width : 150px;
    margin:0 0 0 20px;
}

.employee-search-options select {
    background : transparent;
    border : 0;
    margin : 5px 10px 0 0;
    width : 135px;
}

.submit_button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
.user_button{
    margin-right:5px;
    margin-top:0px;
}
.user_button a{
    color:#fff;
    text-decoration:none
}


/**
#reporting-manager-name {
    background : #fff url(../../../images/form_bg/text-input-bg.png) no-repeat;
    height : 25px;
    width : 220px;
    display:block;
    float:left;
    margin:15px 18px 0 0;
    padding:3px 0 0 10px;
}

#current-manager{
    font-weight:normal;
    padding:18px;
}

#current-manager-name{
    font-weight:bold;
}

#form-content{


}

#new-manager-label{
    float:left;
    font-weight:bold;
    margin:18px 18px 0 18px;
}

#submit-button1 {
    float:left;
    height:35px;
    width:150px;
    margin:10px 0 0 0;

}


#search_box_bg{
    background:#fff url(../../../images/student_details/search_box_bg.jpg) no-repeat;
    height:163px;
    width:614px;
    margin:35px 0 0 50px;
    padding-left:50px;
    padding-top:15px
}
#search_box_bg label{
    padding-top:0px;
    color:#555;
    font-size:25px;
}

#search_textbox input{
    padding-top:10px;
    width:500px;
    height:45px;
    margin:0px 0 0 5px;
    float:left;
    border:none;
    background:transparent;
    font-size:30px;
    color:#666;
    margin-bottom:18px;
}
**/
#information{
    min-height:100px;
    width:930px;
    margin-right:0px;
    padding-right:50px
}

#no_result{
    font-weight:bold;
    color:#b00
}

#ajax_result {
    padding:10px 0 10px 0;
    text-decoration:none;
    width:204px;
    float:right;
    background:#fff url(../../../images/student_details/ajax_result_underline.jpg) bottom right no-repeat
}
#ajax_result a{
    color:#000;
    font-weight:bold
}
#loader{
    padding-right: 8px;
    padding-top: 15px;
}



