
table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
    margin-bottom: 20px;
}

td {
    padding: 10px;
    border-left: 1px solid #bfbfbf;
    color: black;
}

table .tr-head{
    background-color: #f0f0f0;
    font-weight: bold;
    border-bottom: 1px solid #bfbfbf;
}


tr {
    border-bottom: 1px solid #bfbfbf;

}


.label{
    font-size:13px;
    color:grey;
    margin-bottom:10px;
}

.text{
    font-size:13px;
}

.employee_name{
    margin-bottom: 30px;
    float:right;
    width: 300px;
}

.reset_date{
    width: 300px;
    margin-bottom: 30px;

    float: right;
}

.dpt_name{
    width: 300px;
    float:right;
}



.label-field-pair{
    width: 240px;
    float: right;
}

#report{
    width:100%;
    float:right;
    margin-top: 30px;
}



.text-input-bg select{
    margin-right: 0px;
}



#date_filters{
    float:right;
    width:100%;
}


#submit_button{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    float:right;
    margin-top: 7px;
    margin-right: -75px;
    padding:7px 12px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
}

.cancel{
    /* width: 50px; */
    text-decoration: underline;
    font-size:13px;
    float: right;
    margin-top: 15px;
    margin-right: -5px;
    cursor:pointer;
}


hr{
    float:right;
    width:100%;
    color: #f0f0f0;
    /* margin-top: 0px; */
    margin-bottom: 30px;
}


#reset, #change_date{
    font-size:13px;
    margin-top: 12px;
    float: right;
    cursor:pointer;
}

#change_date{
    float:right;
    margin-left: 10px;
}

#date_range{
    float:left;
    margin-top: 25px;
}


#advance_search{
    float:left;
    font-size:13px;
    cursor:pointer;
    margin-top: 40px;
}
label{
    font-size: 13px;
    font-weight: normal;
    color: grey;
}


table#listing
{
    float: right;
}
.col-1{
    width:30% !important;
    /* padding: 5px; */
}
td.col-2{
    width: 20% !important;
    text-align:right;
    /* padding: 5px; */
    /* padding-left:10px; */
}
td.col-3{
    width: 50%;
}
table#listing tr.tr-head
{
    color: black !important;
}
table#listing tr.tr-head td
{
    padding-right: 12px !important;
}
.tr-even,.tr-odd
{
    height: 38px;
    font-size: 13px !important;
}



.warning_msg
{
    float: left;
    margin: 6px 10px 0 10px;
}
div#page-yield .warning_msg:hover
{
    text-decoration: none;
}
.warning_sym
{
    float: left;
    width: 15px;
    height: 12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-top: 8px;
}
#search_textbox
{
    float: right;
    margin-bottom: 15px;
}
#search-form
{
    float: right;
}

div.edit:hover, a.remove:hover{
    color:black;
    text-decoration:underline;
}
a.remove{
    color: #666;
    text-decoration: none;
    margin-right: 10px;
    float: left;
}

.edit{
    float:left;
    cursor: pointer;
    color: #666;
}

.label-field-pair input {

    width: 125px;
}

.error-msg{
    color: red;
    font-size: 13px;

}
.error-icon {
    width:15px;
    height:12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-left:2px;
    float:right;

}

.wrapper {
    margin-top: 5px;
    margin-right: 10px;
    float: right;
    width: 100%;
}

#lg_details{
    float: right;
    width: 500px;
}
#lg_details .label{
    width: auto;
    float: right;
    margin-left: 10px;
}
.add_link{
    float:left;
    font-size: 13px;
    color: black;
    text-decoration:none;
}

#popup_window.add_leave_type
{
    width: 690px;
    top: 40px;
    float: right;
}
.add_leave_type #popup_frame .part {
    width: 610px;
}
.add_leave_type #popup_content #description{
    color: grey;
    font-size: 13px;
    margin: 20px 0px 20px 0px;
    margin-top : 0px;
    float: right;
}
.add_leave_type #popup_content .label-field-pair{
    float: right;
    width: 100%;
    margin-bottom: 20px;
}
.add_leave_type #popup_content .label-field-pair label {
    margin-bottom: 10px;
}
.add_leave_type #popup_content .text-input-bg input{
    margin-right: 0;
    -webkit-border-radius: 0;
    width: 100px;
}
.add_leave_type #popup_content{
    padding-right: 0px !important ;
    padding-left: 0px !important;
}
.add_leave_type #popup_footer{
    padding-right: 40px;
    padding-left: 40px;
    border-top: 1px solid #c6c6c6;
    float: right;
    width: 610px;
    padding-top: 20px;
}
#add_leave_form{
    float: right;
    padding-right: 40px;
    padding-left: 40px;
}
.add_leave_type #popup_content{width: 690px !important;}
.fieldWithErrors textarea{border: 1px solid #9c0000 !important;}
.wrapper {
    margin-top: 5px;
    margin-right: 0 !important;
    min-width: 300px !important;
}
.add_leave_type #popup_content .error-msg{width: 350px;}
.add_leave_type #popup_content .warning{
    color: red !important;
    margin-top: 20px !important;
}
.add_leave_type #popup_content .text-input-bg{ width: 400px;}