.edit a{
    display:block;
}

#employee_profile_heading {
    width:800px;
    margin:0px auto;
}
#employee_main_info {
    float:right;
    margin-right:50px;
    width:400px;
}
#employee_main_info h3 {
    margin:0;
    padding:0;.edit a{
    display:block;
}

#employee_profile_heading {
    width:800px;
    margin:0px auto;
}
#employee_main_info {
    float:right;
    margin-right:50px;
    width:400px;
}
#employee_main_info h3 {
    margin:0;
    padding:0;
    margin-top:20px;
}
#employee_main_info h4 {
    margin:0;
    padding:0;
    color:#b00;
    margin-top:10px;
}
#employee_main_info h6 {
    margin:0;
    padding:0;
    color:#b00;
    margin-top:5px;
}
#employee_main_info h5 {
    background-color:#eee;
}


.profile_info_label1{
    padding-top:15px;
    height:25px;
    width:120px;
    text-align:left;
    padding-left:20px;
    float:right;
    font-weight:bold;
    color:#548ab2;
}

.profile_info_label_top {
    padding-top:15px;
    padding-bottom:5px;
    height:25px;
    width:150px;
    text-align:left;
    padding-left:20px;
    float:right;
    font-weight:bold;
    color:#548ab2;
    background: #eff3fe;
    border-top:1px solid #bdcfff;
    margin-left:5px;
}
.profile_info_label_top2 {
    padding-top:15px;
    padding-bottom:5px;
    height:25px;
    width:150px;
    text-align:left;
    padding-left:20px;
    float:right;
    font-weight:bold;
    color:#548ab2;
    background: #dae6ff;
    border-top:1px solid #bdcfff;
    margin-left:5px;
}
.profile_info_text_top {
    padding-top:15px;
    padding-bottom:5px;
    padding-right:20px;
    height:25px;
    width:500px;
    float:right;
    font-weight:bold;
    color:#000;
    background: #eff3fe;
    border-top:1px solid #bdcfff;
}
.profile_info_text_top2 {
    padding-top:15px;
    padding-bottom:5px;
    padding-right:20px;
    min-height:25px;
    width:500px;
    float:right;
    font-weight:bold;
    color:#000;
    background: #dae6ff;
    border-top:1px solid #bdcfff;
}
.profile_info_text{
    padding-top:15px;
    padding-right:20px;
    height:25px;
    width:500px;
    float:right;
    font-weight:bold;
    color:#000;
}

.profile_info_text a{
    color:black;
    font-weight:normal;
    float:left;
}

#profile_picture_display {
    float:right;
    width:125px;
    height:125px;
    margin-right:50px;
    border:8px solid #EFEFD1;
}
#profile_picture_display img {
    width:125px;
    height:125px;
    /*padding-top:25px;
    padding-left:32px;*/
}



.item-list {
    clear : both;
    padding : 10px 130px 0 0;
    margin:0px;
}

.item-list li.heading1 {
    background : #BECFFB;
    border-bottom:1px solid #BECFFB;
    height : 1.5em;
    width : 35em;
    list-style-type : none;
    padding : 0.5em 0.3em 0 0;
}

.item-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 32.3em;
    list-style-type : none;
    padding : 0.5em 3em 0 0;
    overflow: hidden;
}

.item-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 32.3em;
    list-style-type : none;
    padding : 0.5em 3em 0 0;
    overflow: hidden;
}

.item-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 0em 0 0;
}
.item-list li div {
    float : right;
}
.item-list li div.item-name {
    width: 220px;
    font-size: 13px;
    font-weight: bold;
    float:right;
}
.item-list li div.item-edit,
.item-list li div.item-delete {
    font-size : 0.9em;
    width: auto;
    float:left;
    margin-left:30px;
}
.item-list li div a {
    color : #000;
}

.item-list li div.item-edit b .currency-type1{
    float:left;
    text-align: right;
    max-width: 200px;
    word-break:break-word;
    margin-bottom: 7px;
}
.edit-delete-link{
    margin-right: 368px;
    width:70px;
}

.edit-delete-link a{
    width: 70px;
    color:#fff;
    text-decoration: none;
}
.edit-delete-link:hover{
    background:  #373B3F;
}

#attendance-report{
    width:705px;
    margin-right:50px;
    font-size:14px;
}

.type_nameodd{
    width:680px;
    background : #EFF3FE;
    border-top:1px solid #BDCFFF;
    font-weight:bold;
    padding-right:25px;
    height:28px;
    padding-top:12px;
}
.type_nameeven{
    width:680px;
    background : #DAE6FF;
    border-top:1px solid #BDCFFF;
    font-weight:bold;
    padding-right:25px;
    height:28px;
    padding-top:12px;
}

.date-odd{
    width:473px;
    background : #EFF3FE;
    border-top:1px solid #BDCFFF;
    padding-right:232px;
    height:28px;
    padding-top:12px;
}
.date-even{
    width:473px;
    background : #DAE6FF;
    border-top:1px solid #BDCFFF;
    padding-right:232px;
    height:28px;
    padding-top:12px;
}

#profile-general-info {
    height : 1.5em;
    margin : 0;
    padding : 0;
}
#profile-general-info ul {
    margin : 0 40px 0 10px;
    padding : 0;
}
#profile-general-info ul li {
    background-color : #9d0e00;
    color : #fff;
    float : right;
    font-size : 12px;
    height : 19px;
    list-style-type : none;
    margin : 0 10px 10px 0;
    padding : 4px 0 0 0;
    text-align : center;
    width : 100px;
}



#profile-general-info ul li a {
    color : #fff;
    text-decoration : none;
}

#profile-general-info ul li a:hover{
    text-decoration:underline;
}


/* droplicous v1.1 */

#nav ul {
    float:left;
    margin:0 0 0 10px;
    padding:0;
}
#nav ul.scriptaculously{
    text-align:right;
    width:100px;
    font-size:.8em;
    background:#9D0E00;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -khtml-border-radius-bottomleft:5px;
    -khtml-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-radius:5px;
    margin:0;
    padding:0;
    position:absolute;
    right:0px;
    top:28px;
    opacity:.97;
    filter:alpha(opacity=97);
}
html>body #nav ul.scriptaculously{/*ie shit*/
                                  position:absolute;
                                  top:17px;
}
#nav ul.scriptaculously a:hover{
    position:relative;
    color:#ffffff;
    background:none;
    text-decoration:underline;
}
#nav ul.scriptaculously a{
    position:relative;
    z-index:999;
    font-weight:normal;
    margin:0;
    padding:5px 0px 5px 0;
    background:none;
    color:white;
    display:block;
    -webkit-border-top-right-radius:0;
    -webkit-border-top-left-radius:0;
    -khtml-border-radius-topleft:0;
    -khtml-border-radius-topright:0;
    -moz-border-radius-topleft:0;
    -moz-border-radius-topright:0;
}
#nav li a:hover{
    text-decoration:underline;
}
#nav li a{
    font-weight:normal;
    text-decoration:none;
    color:white;
    width:100px;
    height:1.5em;
    display:block;
    /*padding:10px 10px 0 10px;*/
    background:#9D0E00;
    /*	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-khtml-border-radius-topleft:5px;
	-khtml-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px; */
}
#nav{
    position:relative;
    width:980px;
    height:1.5em;
    text-align:center;
    list-style:none;
    margin:0 0 0 0;
    padding:0;
    list-style:none;
    font-size:0.9em;
}
#nav ul li{
    position:relative;
    /*display:inline;
	margin:0;
	padding:0;*/
    background-color : #9d0e00;
    color : #fff;
    float : right;
    font-size : 0.9em;
    height : 1.5em;
    list-style-type : none;
    margin : 0 10px 0 0;
    padding : 0;
    text-align : center;
    width : 100px;
}

#nav ul li ul li{
    background-color:#9D0E00;
    font-size:1.1em;
    width:60px;
    height:1.5em;
    padding-bottom:5px;
    text-align:center;
    margin:0;

}

.currency-type{
    float:right;
    margin-right:20px;
    margin-left: 2px;
}

.attendance-stats{
    margin-top:30px;
    width:705px;
}

.pdf-link{
    overflow: hidden;
    margin-right: 300px;
}

.profile_top_banner{
    position:absolute;
    float:left;
    padding-right:528px;
    margin-top:-10px;

}
#profile-infos {
    margin:30px auto;
    width:697px;

}
#profile-infos h4 {
    margin: 0 130px 5px 0;
    font-size: 13px;
    color: #444;
}
.extender{
    clear:both;
}
.pdf{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px;
    margin-top:30px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
    float:right;
}
.pdf a{
    color:#fff;
    text-decoration: none;
}
.pdf:hover{
    background:  #373B3F;
}
.edit-pdf-group{
    width:270px;
    margin:0 auto;
}

#form-content{
    height:150px;
    width:675px;
    margin:0 20px 0 0;
    width:750px;
}

.box{
    width: 450px;
    margin: 0 auto;
}

#submit-button input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-right:214px;
    margin-top:10px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
}
.total{
    width: 210px;
    height: auto;
    float: right;

}
.count{
    width: 300px;
    height: auto;
    float: right;

}

.edit-leave{
    width :100px;
    float: left;
    text-decoration: none;
}

.text-bg{
    margin-top: 10px;
    margin-right: 213px;
    color : #444;
    font-size: 14px;
}
.new_profile_info_area1_1{
    overflow: hidden;
    height:auto;
}
.profile_info_label_top_1 {
    padding-top:15px;
    padding-bottom:5px;
    height:45px;
    width:350px;
    text-align:left;
    padding-left:20px;
    float:right;
    font-weight:bold;
    color:#548ab2;
    background: #eff3fe;
    border-top:1px solid #bdcfff;
    margin-left:5px;
}
.profile_info_text_top_1 {
    padding-top:15px;
    padding-bottom:5px;
    padding-right:20px;
    height:45px;
    width:300px;
    float:right;
    font-weight:bold;
    color:#000;
    background: #eff3fe;
    border-top:1px solid #bdcfff;
}
.profile_info_label_top_12 {
    padding-top:15px;
    padding-bottom:5px;
    height:45px;
    width:350px;
    text-align:left;
    padding-left:20px;
    float:right;
    font-weight:bold;
    color:#548ab2;
    background: #eff3fe;
    border-top:1px solid #bdcfff;
    margin-left:5px;
}
.profile_info_text_top_12 {
    padding-top:15px;
    padding-bottom:5px;
    padding-right:20px;
    height:45px;
    width:300px;
    float:right;
    font-weight:bold;
    color:#000;
    background: #eff3fe;
    border-top:1px solid #bdcfff;
}
.odd{
    height:auto;
    background: #eff3fe;

    margin-left:5px;
}
.odd td{

    font-weight:bold;
    padding:10px 10px 10px 10px;
    border-top:1px solid #bdcfff;
    border-bottom:1px solid #bdcfff;
}
.right{
    width: 450px;
    color:#000000;
    text-align: right;
}
.left{
    width: 250px;
    color:#548ab2;
    text-align: left;
}
.even{

    height:auto;

    background: #dae6ff;
    margin-left:5px;
}
.even td{

    font-weight:bold;
    border-top:1px solid #bdcfff;
    border-bottom:1px solid #bdcfff;
    padding:10px 10px 10px 10px;
}
.profile{
    -moz-transform: rotate(37deg);  /* FF3.5+ */
    -o-transform: rotate(37deg);  /* Opera 10.5 */
    -webkit-transform: rotate(37deg);  /* Saf3.1+, Chrome */
    -ms-transform: rotate(37deg);  /* IE9 */
    transform: rotate(37deg);
    background: transparent/9;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 $ IE9*/
    zoom: 1;
    color: #FFFFFF;
    font-size: 21px;
    position: absolute;
    font-weight: 200;
    /*padding-left: 95px;
    padding-top: 11px;*/
    width: 128px;
    padding-top: 27px;
    text-align: center;
    height: 250px
}
.profile-topbanner{
    width: 185px;
    height: 135px;
    background: url(/images/master_student/profile/topbanner.png);
}

#page-yield .right a {
    margin-left:10px;
}

#page-yield .right a:hover {
    color:blue !important;
}

#page-yield .edit-leave a:hover {
    color:blue !important;
}
#page-yield .flash-msg a:hover {
    color: blue !important;
}
#amount_value{
    width:auto;
    max-width: 200px;
}
#currency_symbol{
    float:left;
    margin-left:30px;
}
#currency_symbol_with_total{
    float:right;
    margin-left:2px;
}
.item-heading span{
    margin-right:43px !important;
}
.heading1 span{
    margin-right:20px;
}
.item-heading{
    width:220px;
}
.item-sub-heading{
    font-size: 13px;
}
.heading1 #category_name{
    width:200px;
}
    margin-top:20px;
}
#employee_main_info h4 {
    margin:0;
    padding:0;
    color:#b00;
    margin-top:10px;
}
#employee_main_info h6 {
    margin:0;
    padding:0;
    color:#b00;
    margin-top:5px;
}
#employee_main_info h5 {
    background-color:#eee;
}


.profile_info_label1{
    padding-top:15px;
    height:25px;
    width:120px;
    text-align:left;
    padding-left:20px;
    float:right;
    font-weight:bold;
    color:#548ab2;
}

.profile_info_label_top {
    padding-top:15px;
    padding-bottom:5px;
    height:25px;
    width:150px;
    text-align:left;
    padding-left:20px;
    float:right;
    font-weight:bold;
    color:#548ab2;
    background: #eff3fe;
    border-top:1px solid #bdcfff;
    margin-left:5px;
}
.profile_info_label_top2 {
    padding-top:15px;
    padding-bottom:5px;
    height:25px;
    width:150px;
    text-align:left;
    padding-left:20px;
    float:right;
    font-weight:bold;
    color:#548ab2;
    background: #dae6ff;
    border-top:1px solid #bdcfff;
    margin-left:5px;
}
.profile_info_text_top {
    padding-top:15px;
    padding-bottom:5px;
    padding-right:20px;
    height:25px;
    width:500px;
    float:right;
    font-weight:bold;
    color:#000;
    background: #eff3fe;
    border-top:1px solid #bdcfff;
}
.profile_info_text_top2 {
    padding-top:15px;
    padding-bottom:5px;
    padding-right:20px;
    min-height:25px;
    width:500px;
    float:right;
    font-weight:bold;
    color:#000;
    background: #dae6ff;
    border-top:1px solid #bdcfff;
}
.profile_info_text{
    padding-top:15px;
    padding-right:20px;
    height:25px;
    width:500px;
    float:right;
    font-weight:bold;
    color:#000;
}

.profile_info_text a{
    color:black;
    font-weight:normal;
    float:left;
}

#profile_picture_display {
    float:right;
    width:125px;
    height:125px;
    margin-right:50px;
    border:8px solid #EFEFD1;
}
#profile_picture_display img {
    width:125px;
    height:125px;
    /*padding-top:25px;
    padding-left:32px;*/
}



.item-list {
    clear : both;
    padding : 10px 130px 0 0;
    margin:0px;
}

.item-list li.heading1 {
    background: #BECFFB;
    border-bottom: 1px solid #BECFFB;
    font-weight: bold;
    min-height: 1.5em;
    width: auto;
    list-style-type: none;
    padding: 0.5em 0.3em 0 0;
    overflow: hidden;
}

.item-list .listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 32.4em;
    list-style-type : none;
    padding : 0.5em 3em 0 0;
    overflow: hidden;
}

.item-list .listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    min-height : 1.5em; width : 32.4em;
    list-style-type : none;
    padding : 0.5em 3em 0 0;
    overflow: hidden;
}

.item-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 0em 0 0;
}
.item-list li div {
    float : right;
}
.item-list li div.item-name {
    width : 250px;
    font-size: 13px;
    font-weight: bold;
    float:right;
}
.item-list li div.item-edit,
.item-list li div.item-delete {
    font-size : 0.9em;
    width : auto;
    float: left;
    margin-left: 30px;
}
.item-list li div a {
    color : #000;
}

.item-list li div.item-edit b .currency-type1{
    float:right;
    text-align: right;
    max-width: 200px;
    word-break:break-word;
    margin-bottom: 7px;
}
.edit-delete-link{
    margin-right: 353px;
    width:70px;
}

.edit-delete-link a{
    width: 70px;
    color:#fff;
    text-decoration: none;
}
.edit-delete-link:hover{
    background:  #373B3F;
}

#attendance-report{
    width:705px;
    margin-right:50px;
    font-size:14px;
}

.type_nameodd{
    width:680px;
    background : #EFF3FE;
    border-top:1px solid #BDCFFF;
    font-weight:bold;
    padding-right:25px;
    height:28px;
    padding-top:12px;
}
.type_nameeven{
    width:680px;
    background : #DAE6FF;
    border-top:1px solid #BDCFFF;
    font-weight:bold;
    padding-right:25px;
    height:28px;
    padding-top:12px;
}

.date-odd{
    width:473px;
    background : #EFF3FE;
    border-top:1px solid #BDCFFF;
    padding-right:232px;
    height:28px;
    padding-top:12px;
}
.date-even{
    width:473px;
    background : #DAE6FF;
    border-top:1px solid #BDCFFF;
    padding-right:232px;
    height:28px;
    padding-top:12px;
}

#profile-general-info {
    height : 1.5em;
    margin : 0;
    padding : 0;
}
#profile-general-info ul {
    margin : 0 40px 0 10px;
    padding : 0;
}
#profile-general-info ul li {
    background-color : #9d0e00;
    color : #fff;
    float : right;
    font-size : 12px;
    height : 19px;
    list-style-type : none;
    margin : 0 10px 10px 0;
    padding : 4px 0 0 0;
    text-align : center;
    width : 100px;
}



#profile-general-info ul li a {
    color : #fff;
    text-decoration : none;
}

#profile-general-info ul li a:hover{
    text-decoration:underline;
}


/* droplicous v1.1 */

#nav ul {
    float:left;
    margin:0 0 0 10px;
    padding:0;
}
#nav ul.scriptaculously{
    text-align:right;
    width:100px;
    font-size:.8em;
    background:#9D0E00;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -khtml-border-radius-bottomleft:5px;
    -khtml-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-radius:5px;
    margin:0;
    padding:0;
    position:absolute;
    right:0px;
    top:28px;
    opacity:.97;
    filter:alpha(opacity=97);
}
html>body #nav ul.scriptaculously{/*ie shit*/
                                  position:absolute;
                                  top:17px;
}
#nav ul.scriptaculously a:hover{
    position:relative;
    color:#ffffff;
    background:none;
    text-decoration:underline;
}
#nav ul.scriptaculously a{
    position:relative;
    z-index:999;
    font-weight:normal;
    margin:0;
    padding:5px 0px 5px 0;
    background:none;
    color:white;
    display:block;
    -webkit-border-top-right-radius:0;
    -webkit-border-top-left-radius:0;
    -khtml-border-radius-topleft:0;
    -khtml-border-radius-topright:0;
    -moz-border-radius-topleft:0;
    -moz-border-radius-topright:0;
}
#nav li a:hover{
    text-decoration:underline;
}
#nav li a{
    font-weight:normal;
    text-decoration:none;
    color:white;
    width:100px;
    height:1.5em;
    display:block;
    /*padding:10px 10px 0 10px;*/
    background:#9D0E00;
    /*	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-khtml-border-radius-topleft:5px;
	-khtml-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px; */
}
#nav{
    position:relative;
    width:980px;
    height:1.5em;
    text-align:center;
    list-style:none;
    margin:0 0 0 0;
    padding:0;
    list-style:none;
    font-size:0.9em;
}
#nav ul li{
    position:relative;
    /*display:inline;
	margin:0;
	padding:0;*/
    background-color : #9d0e00;
    color : #fff;
    float : right;
    font-size : 0.9em;
    height : 1.5em;
    list-style-type : none;
    margin : 0 10px 0 0;
    padding : 0;
    text-align : center;
    width : 100px;
}

#nav ul li ul li{
    background-color:#9D0E00;
    font-size:1.1em;
    width:60px;
    height:1.5em;
    padding-bottom:5px;
    text-align:center;
    margin:0;

}
.currency-type{
    float:right;
    margin-right:20px;
    margin-left: 2px;
}

.attendance-stats{
    margin-top:30px;
    width:705px;
}

.pdf-link{
    overflow: hidden;
    margin-right: 300px;
}

.profile_top_banner{
    position:absolute;
    float:left;
    padding-right:528px;
    margin-top:-10px;

}
#profile-infos {
    margin:30px auto;
    width:697px;

}
.extender{
    clear:both;
}
.pdf{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px;
    margin-top:30px;
    padding:7px 10px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
    float:right;
}
.pdf a{
    color:#fff;
    text-decoration: none;
}
.pdf:hover{
    background:  #373B3F;
}
.edit-pdf-group{
    width:270px;
    margin:0 auto;
}

#form-content{
    height:150px;
    width:675px;
    margin:0 20px 0 0;
    width:750px;
}

.box{
    width: 450px;
    margin: 0 auto;
}

#submit-button input{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-right:214px;
    margin-top:10px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
}
.total{
    width: 210px;
    height: auto;
    float: right;

}
.count{
    width: 300px;
    height: auto;
    float: right;

}

.edit-leave{
    width :100px;
    float: left;
    text-decoration: none;
}

.text-bg{
    margin-top: 10px;
    margin-right: 213px;
    color : #444;
    font-size: 14px;
}
.new_profile_info_area1_1{
    overflow: hidden;
    height:auto;
}
.profile_info_label_top_1 {
    padding-top:15px;
    padding-bottom:5px;
    height:45px;
    width:350px;
    text-align:left;
    padding-left:20px;
    float:right;
    font-weight:bold;
    color:#548ab2;
    background: #eff3fe;
    border-top:1px solid #bdcfff;
    margin-left:5px;
}
.profile_info_text_top_1 {
    padding-top:15px;
    padding-bottom:5px;
    padding-right:20px;
    height:45px;
    width:300px;
    float:right;
    font-weight:bold;
    color:#000;
    background: #eff3fe;
    border-top:1px solid #bdcfff;
}
.profile_info_label_top_12 {
    padding-top:15px;
    padding-bottom:5px;
    height:45px;
    width:350px;
    text-align:left;
    padding-left:20px;
    float:right;
    font-weight:bold;
    color:#548ab2;
    background: #eff3fe;
    border-top:1px solid #bdcfff;
    margin-left:5px;
}
.profile_info_text_top_12 {
    padding-top:15px;
    padding-bottom:5px;
    padding-right:20px;
    height:45px;
    width:300px;
    float:right;
    font-weight:bold;
    color:#000;
    background: #eff3fe;
    border-top:1px solid #bdcfff;
}
.odd{
    height:auto;
    background: #eff3fe;

    margin-left:5px;
}
.odd td{

    font-weight:bold;
    padding:10px 10px 10px 10px;
    border-top:1px solid #bdcfff;
    border-bottom:1px solid #bdcfff;
}
.right{
    width: 450px;
    color:#000000;
    text-align: right;
}
.left{
    width: 250px;
    color:#548ab2;
    text-align: left;
}
.even{

    height:auto;

    background: #dae6ff;
    margin-left:5px;
}
.even td{

    font-weight:bold;
    border-top:1px solid #bdcfff;
    border-bottom:1px solid #bdcfff;
    padding:10px 10px 10px 10px;
}
.profile{
    -moz-transform: rotate(-34deg);  /* FF3.5+ */
    -o-transform: rotate(-34deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-34deg);  /* Saf3.1+, Chrome */
    -ms-transform: rotate(-34deg);  /* IE9 */
    transform: rotate(-34deg);
    background: transparent/9;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 $ IE9*/
    zoom: 1;
    color: #FFFFFF;
    font-size: 21px;
    position: absolute;
    font-weight: 200;
    /*padding-left: 95px;
    padding-top: 11px;*/
    width: 128px;
    padding-top: 27px;
    text-align: center;
    height: 250px
}
.profile-topbanner{
    width: 185px;
    height: 135px;
    background: url(/images/master_student/profile/topbanner_rtl.png);
}
#page-yield .right a {
    margin-left:10px;
}

#page-yield .right a:hover {
    color:blue !important;
}

#page-yield .edit-leave a:hover {
    color:blue !important;
}
#page-yield .flash-msg a:hover {
    color: blue !important;
}
#amount_value{
    width:auto;
    max-width: 200px;

}
#currency_symbol_with_total{
    float:left;
    margin-right:2px;
}

#currency_symbol{
    float: left;
    margin-left: 30px;
}
.item-heading span{
    margin-right:43px !important;
    float:right;
}
.heading1 span{
    margin-right:20px;
}
.item-heading{
    width:220px;
    padding-left:75px;
    margin-bottom: 6px;
}
.item-sub-heading{
    font-size: 13px;
}
div#category_name{
    width:295px;
}
#profile-infos h4 {
    margin: 0 130px 5px 0;
    font-size: 13px;
    color: #444;
}
