.link-box{
    margin:40px 0px 40px 40px;
    width:270px;
    float:right;
    height:auto;
}
.link-heading a{
    font-weight:bold;
    color:#900;
    font-size:14px !important;
}
.link-descr{margin-top:5px;color:#666;text-align:right;}
#box{
    width:700px;
    margin:0px auto;
}
.box{
    width:750px;
    margin:0px auto;
    float:right;
}
li{
    list-style-type:none;
    padding-bottom:5px;
    float:right;
    width:100%;}
ul{
    padding:0px !important;
}
.title{
    width:140px;
    float:right;
    font-size:13px !important;
}
.value{
    padding-right:5px;
    font-size:14px !important;
}
.seperator{
    float:right;
    padding-left:15px;
}