<%#
# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.
%>

<p class="flash-msg"> <%= t('roll_number_not_enabled') %> </p>
