<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<% exam_score = [] %>
<% @exams.each do |exam| %>
  <% exam_score.push exam.exam_scores.find_by_student_id(@student.id) unless exam.exam_scores.find_by_student_id(@student.id).nil?  %>
<% end %>
<% if @batch.cwa_enabled? %>
  <% total_credits=0 %>
  <% total_weighted_marks=0 %>
  <div id="score-table">
    <div class="custom_header">
      <span class="student"><%= "#{@student.full_name} " %></span>
      <span class="admn_no"><%= "#{t('admission_no')} - #{@student.admission_no}" %></span>
      <% if roll_number_enabled? %>
        <span class="roll_no"><%= "#{t('roll_no')} - #{@student.roll_number}" %></span>
      <% end %>
    </div>
    <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head">
        <td><%= t('subject_code') %></td>
        <td><%= t('title') %></td>
        <td><%= t('marks') %></td>
        <td><%= t('credit') %></td>
        <td><%= t('grade') %></td>
        <td><%= t('weighted_marks') %></td>
      </tr>
      <% exam_score.each do |es| %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-1"> <%= es.exam.subject.code %></td>
          <td class="col-1"> <%= es.exam.subject.name %></td>
          <td class="col-2"><%= valid_mark?(es.exam.maximum_marks) ? es.marks.present? ? mark=precision_label((es.marks.to_f/es.exam.maximum_marks.to_f)*100) : '-'  : '-'%></td>
          <td class="col-2"><%= es.exam.subject.credit_hours %></td>
          <% total_credits = total_credits + es.exam.subject.credit_hours.to_f %>
          <td class="col-2"><%= es.grading_level.present? ? es.grading_level : "-" %></td>
          <% weighted_mark=0 %>
          <% weighted_mark = mark.to_f * es.exam.subject.credit_hours.to_f if es.marks.present? %>
          <% total_weighted_marks = total_weighted_marks + weighted_mark %>
          <td class="col-1"><%= weighted_mark %></td>
        </tr>
      <% end %>
      <tr class="tr-blank"></tr>
      <tr class="tr-head">
        <td colspan="3" align="right"><%= t('total') %></td>
        <td><%= total_credits %></td>
        <td>-</td>
        <td><%= total_weighted_marks %></td>
      </tr>
    </table>
  </div>
  <h5><%= t('weighted_average') %> =
    <% unless total_credits==0 %>
      <%= "%.2f" %(total_weighted_marks.to_f/total_credits.to_f) %>
    <% else %>
      -
    <% end %>
  </h5>
<% elsif @batch.gpa_enabled? %>
  <% total_credit_points=0 %>
  <% total_credit_hours=0 %>
  <div id="score-table">
    <div class="custom_header">
      <span class="student"><%= "#{@student.full_name} " %></span>
      <span class="admn_no"><%= "#{t('admission_no')} - #{@student.admission_no}" %></span>
      <% if roll_number_enabled? %>
        <span class="roll_no"><%= "#{t('roll_no')} - #{@student.roll_number}" %></span>
      <% end %>
    </div>
    <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head">
        <td><%= t('subject_code') %></td>
        <td><%= t('subject_title') %></td>
        <td><%= t('credits') %></td>
        <td><%= t('marks') %></td>
        <td><%= t('remarks') %></td>
      </tr>
      <% exam_score.each do |es| %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-1"> <%= es.exam.subject.code %></td>
          <td class="col-1"> <%= es.exam.subject.name %></td>
          <td class="col-2"><%= es.exam.subject.credit_hours %></td>
          <% total_credit_hours = total_credit_hours + es.exam.subject.credit_hours.to_f %>
          <td class="col-2"><%= "#{es.grading_level.present? ? es.grading_level : "-"}"+" ["+"#{es.grading_level.present? ? (es.grading_level.credit_points.present? ? es.grading_level.credit_points : "-") : "-"}"+"]" %></td>
          <% points=0 %>
          <% points = (es.grading_level.credit_points.to_f) * (es.exam.subject.credit_hours.to_f) if es.grading_level.present? %>
          <% total_credit_points = total_credit_points + points %>
          <td class="col-1"><%= es.grading_level.present? ? (es.grading_level.description.present? ? es.grading_level.description : "-") : "-" %></td>
        </tr>
      <% end %>
      <tr class="tr-blank"></tr>
      <tr class="tr-head">
        <td colspan="2" align="right"><%= t('total') %></td>
        <td><%= total_credit_hours %></td>
        <td>-</td>
        <td>-</td>
      </tr>
    </table>
  </div>
  <h5><%= t('grade_point_average_gpa') %> =
    <% unless total_credit_hours==0 %>
      <%= "%.2f" %(total_credit_points.to_f/total_credit_hours.to_f) %>
    <% else %>
      -
    <% end %> </h5>

<% else %>
  <% total_marks_attained = 0 %>
  <% total_max_marks = 0 %>
  <div id="score-table">
    <div class="custom_header">
      <span class="student"><%= "#{@student.full_name} " %></span>
      <span class="admn_no"><%= "#{t('admission_no')} - #{@student.admission_no}" %></span>
      <% if roll_number_enabled? %>
        <span class="roll_no"><%= "#{t('roll_no')} - #{@student.roll_number}" %></span>
      <% end %>
    </div>
    <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head">
        <td><%= t('subject') %></td>
        <% if @exam_group.exam_type == 'Marks' %>
          <td><%= t('score') %></td>
          <td><%= t('max') %></td>
          <td><%= t('percent') %></td>
        <% elsif @exam_group.exam_type == 'Grades' %>
          <td><%= t('grades') %></td>
        <% else %>
          <td><%= t('marks_obtained') %></td>
          <td><%= t('max') %></td>
          <td><%= t('grades') %></td>
          <td><%= (t('percentage')) %></td>
        <% end %>
        <td><%= (t('remarks_text')) %></td>
      </tr>
      <% exam_score.each do |es| %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-2"> <%= es.exam.subject.name %></td>
          <% if @exam_group.exam_type == 'Marks' %>
            <td class="col-1y"><%= es.marks || '-' %></td>
            <% total_marks_attained = total_marks_attained+(es.marks || 0) %>
            <td class="col-1x"><%= es.exam.maximum_marks %></td>
            <% total_max_marks = total_max_marks+es.exam.maximum_marks%>
            <td class="col-1x"><%= es.calculate_percentage.round(2) %></td>
          <% elsif @exam_group.exam_type == 'Grades' %>
            <td class="col-2"><%= es.grading_level || "-" %></td>
          <% else %>
            <td class="col-1"><%= es.marks || "-" %></td>
            <% total_marks_attained = total_marks_attained+(es.marks || 0) %>
            <td class="col-1"><%= es.exam.maximum_marks %></td>
            <% total_max_marks = total_max_marks+es.exam.maximum_marks%>
            <td class="col-1"><%= es.grading_level || "-" %></td>
            <td class="col-1"><%= es.calculate_percentage.round(2) %></td>
          <% end %>
          <td class="col-3">
            <%=generate_remark_section("exam_wise",es.student_id,es.id,es.exam.subject_id,{})%>
          </td>
        </tr>
      <% end %>

      <% if @exam_group.exam_type == 'Marks' or @exam_group.exam_type == 'MarksAndGrades' %>
        <tr class="tr-head">
          <td><%= t('total_marks') %>:</td>
          <td><%= total_marks_attained %></td><td><%= total_max_marks %></td>
          <% total_marks_persentage = total_max_marks == 0 ? 0 : "%.2f" %(total_marks_attained*100/total_max_marks)  %>
          <%  if @exam_group.exam_type == 'MarksAndGrades' %>
            <td><%=GradingLevel.percentage_to_grade(total_marks_persentage.to_f, @batch.id)%></td>
          <% end %>
          <td><%=total_marks_persentage%></td>
          <td></td>
        </tr>
      <% end %>
    </table>

    <% if @exam_group.exam_type == 'Marks' or @exam_group.exam_type == 'MarksAndGrades' %>
      <div class="custom_header_1">
        <%= t('class_average_marks') %> : <%= "%.2f" %@exam_group.batch_average_marks('marks') unless total_max_marks == 0%> | <%= t('class_average') %> % : <%=  "%.2f" %(@exam_group.batch_average_marks('marks')*100/total_max_marks) unless total_max_marks == 0 %>
      </div>
    <% end %>
  </div>
<% end %>
<div class="user_button">
  <%= link_to "#{t('pdf_report')}", {:controller => "exam", :action => "student_wise_generated_report", :student=>@student.id,:exam_group=>@exam_group.id},:target => '_blank' %>
</div>
<%=generate_common_remark_section("exam_wise_general",@student.id,nil,@batch.id,{:exam_group_id=>@exam_group.id,:student_id=>@student.id})%>
<% unless @batch.gpa_enabled? %>
  <% if @exam_group.exam_type == 'Marks' or @exam_group.exam_type == 'MarksAndGrades' %>
    <script type="text/javascript" src="/javascripts/swfobject.js"></script>
    <%= @graph %>
  <% end %>
<% end %>
<div class="extender"></div>
