<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('student_ranking_per_batch') %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">

    <% form_for :batch_rank, :url=>{:action=>'student_batch_rank'} do |x| %>
      <div class="label-field-pair">
        <label for="student_course"><%= t('select_a_batch') %>:</label>
        <div  class="text-input-bg">
          <%= select :batch_rank, :batch_id,
            @batches.map {|b| [b.full_name, b.id]},
            {:prompt => "#{t('select_a_batch')}"}%></div></div>
      <%= submit_tag "", :value => "► #{t('view')}", :class => "submit_button" %>
    <% end %>
    <div class="extender"></div>
  </div></div>
