<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% content_for :head do %>
  <% if rtl? %>
    <%= stylesheet_link_tag 'rtl/exam/combined_grouped_exam_report_pdf.css' ,:media=>"all"%>
  <%else %>
    <%= stylesheet_link_tag 'exam/combined_grouped_exam_report_pdf.css' ,:media=>"all"%>
  <% end %>
<% end %>

<div id="page-yield" class="available_sections">
    <% grade_type = @data_hash[:grade_type] %>
    <% @data_hash[:students].each_with_index do |student,i| %>
      <% general_subjects = Subject.find_all_by_batch_id(@data_hash[:batch].id, :conditions=>"elective_group_id IS NULL and is_deleted=false") %>
      <% student_electives = StudentsSubject.find_all_by_student_id(student.id,:conditions=>"batch_id = #{@data_hash[:batch].id}") %>
      <% elective_subjects = [] %>
      <% student_electives.each do |elect| %>
        <% elective_subjects.push Subject.find_by_id(elect.subject_id,:conditions => {:is_deleted => false}) %>
      <% end %>
      <% @subjects = general_subjects + elective_subjects %>
      <% @subjects = @subjects.compact.flatten %>
      <% #@subjects.reject!{|s| s.no_exams==true} %>
      <% exams = Exam.find_all_by_exam_group_id(@data_hash[:exam_groups].collect(&:id)) %>
      <% subject_ids = exams.collect(&:subject_id) %>
      <% @subjects.reject!{|sub| !(subject_ids.include?(sub.id))} %>
      <%if @general_records["ReportHeader"] == "0"%>
        <div class="header">
            <span class="logo header_parts">
                <%if current_school_detail.logo.present?%>
                  <%= wicked_pdf_image_tag current_school_detail.logo,:s3=>true,:style=>:original,:timestamp=>false %>
                <%else%>
                  <img  alt="Dummy Logo" src="<%=Rails.root.join('public','images','application','dummy_logo.png')%>" ></img>
                <%end%>
            </span>
            <span class="header-content header_parts">
                <p id="school-name"><%=Configuration.get_config_value('InstitutionName'); %></p>
                <p class="institution_address"><%=Configuration.get_config_value('InstitutionAddress'); %></p>
            </span>
        </div>
      <%else%>
        <div style="height:<%=@general_records["HeaderSpace"].to_i%>mm"></div>
      <%end%>
      <div class="section">
          <div class="hor_line"></div>
          <h2><%= "Grouped Exam Report for Batch : "+@data_hash[:batch].full_name%></h2>
          <div class="hor_line"></div>
          <div class="extender"> </div>
          <div class="info">
              <div class="info-left">
                  <%[1,3,5,7].each do |i|%>
                    <%display_text = ReportSetting.get_display_text(@general_records["StudentDetail#{i}"])%>
                    <%unless display_text == ""%>
                      <div class="info1">
                          <label class="field-label"><%=display_text%></label><span class="colon">:</span><label class="infolbl"> <%= ReportSetting.get_display_value(@general_records["StudentDetail#{i}"],student) %></label>
                      </div>
                    <%end%>
                  <%end%>
              </div>
              <div class="info-right">
                  <%[2,4,6,8].each do |i|%>
                    <%display_text = ReportSetting.get_display_text(@general_records["StudentDetail#{i}"])%>
                    <%unless display_text == ""%>
                      <div class="info1">
                          <label class="field-label"><%=display_text%></label><span class="colon">:</span><label class="infolbl"> <%= ReportSetting.get_display_value(@general_records["StudentDetail#{i}"],student) %></label>
                      </div>
                    <%end%>
                  <%end%>
              </div>
          </div>
      </div>

      <% if @data_hash[:type]=="grouped" %>
        <div class="section " id="table-headers" >
            <table id="pdf-table" width="100%" cellspacing="0">
                <tr class="table-header">
                    <td><%= t('subject') %></td>
                    <% if grade_type=="GPA" or grade_type=="CWA" %>
                      <td><%= t('credit') %></td>
                    <% end %>
                    <% @data_hash[:exam_groups].each do |exam_group| %>
                      <td><%= exam_group.name %></td>
                    <% end %>
                    <td><%= t('combined') %></td>
                </tr>
                <% c ='even' %>
                <% @subjects.each do |subject| %>
                  <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td class="col-pdf" ><%= subject.name %></td>
                      <% if grade_type=="GPA" or grade_type=="CWA" %>
                        <td class="col-pdf"><%= subject.credit_hours.present? ? subject.credit_hours : "-" %></td>
                      <% end %>
                      <% @data_hash[:exam_groups].each do |exam_group| %>

                        <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
                        <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                        <td class="col-pdf">
                            <% if grade_type=="GPA" %>
                              <%= exam_score.present? ? "#{exam_score.grading_level || "-"}"+" ["+"#{exam_score.grading_level.present? ? (exam_score.grading_level.credit_points || "-") : "-"}"+"]" : "-" %>
                            <% elsif grade_type=="CWA" %>
                              <%= valid_mark?(@exam.maximum_marks.to_f) ? exam_score.present? ? "#{exam_score.marks.present? ? ("%.2f" %((exam_score.marks.to_f/@exam.maximum_marks.to_f)*100)) : "-"}"+" ["+"#{exam_score.grading_level.present? ? exam_score.grading_level : "-"}"+"]" : "-" : "-"%>
                            <% else %>
                              <% if exam_group.exam_type == "MarksAndGrades" %>
                                <%= exam_score.nil? ? '-' :  "#{(exam_score.marks || "-")}" +"/"+@exam.maximum_marks.to_s+"[#{(exam_score.grading_level || "-")}]" %>
                              <% elsif exam_group.exam_type == "Marks" %>
                                <%= exam_score.nil? ? '-' : "#{exam_score.marks || "-"}/"+@exam.maximum_marks.to_s %>
                              <% else %>
                                <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %>
                              <% end %>
                            <% end %>
                        </td>
                      <% end %>
                      <% subject_average = GroupedExamReport.find_by_student_id_and_subject_id_and_score_type(student.id,subject.id,"s") %>
                      <% if grade_type=="GPA" %>
                        <td class="col-pdf"><%= subject_average.present? ? "#{subject_average.marks}" : "-"%></td>
                      <% else %>
                        <td class="col-pdf"><%= subject_average.present? ? "#{subject_average.marks}[#{GradingLevel.percentage_to_grade(subject_average.marks, @data_hash[:batch].id).present? ? GradingLevel.percentage_to_grade(subject_average.marks, @data_hash[:batch].id) : '-'}]" : "-[-]"%></td>
                      <% end %>
                  </tr>
                <% end %>
                <tr class="table-header">
                    <% if grade_type=="GPA" %>
                      <td colspan="2" align="right"><%= t('gpa') %></td>
                    <% elsif grade_type=="CWA" %>
                      <td colspan="2" align="right"><%= t('weighted_average') %></td>
                    <% else %>
                      <td align="right"><%= t('percentage') %></td>
                    <% end %>
                    <% @data_hash[:exam_groups].each do |exam_group| %>
                      <% exam_total = GroupedExamReport.find_by_student_id_and_exam_group_id_and_score_type(student.id,exam_group.id,"e") %>
                      <td class="col-pdf">
                          <%= exam_total.present? ? exam_total.marks : "-" %>
                      </td>
                    <% end %>
                    <% total_avg = GroupedExamReport.find_by_student_id_and_batch_id_and_score_type(student.id,student.batch.id,"c") %>
                    <td class="col-pdf"><%= total_avg.present? ? total_avg.marks : "-" %></td>
                </tr>
                <tr class="table-header end">
                    <%unless total_avg.nil?%>
                        <td colspan="<%= @data_hash[:exam_groups].count.to_i+2 %>" align="left"><%= t('aggregate') %> <%= t('grade') %> = 
                        <% if grade_type=="GPA" %>
                         <%= GradingLevel.percentage_to_grade(total_avg.marks, @data_hash[:batch].id, 'gpa') unless total_avg.marks.nil?%>
                        <%else%>
                         <%= GradingLevel.percentage_to_grade(total_avg.marks, @data_hash[:batch].id) unless total_avg.marks.nil?%>
                        <%end%>  
                        </td>
                    <%else%>
                        <td colspan="<%= @data_hash[:exam_groups].count.to_i+2 %>" align="left"><%= t('aggregate') %> <%= t('grade') %> = <%= "-"%></td>
                    <%end%>
                </tr>
            </table>
        </div>
      <% else %>
        <% all_exams = @data_hash[:exam_groups].reject{|ex| ex.exam_type == "Grades"} %>
        <div class="section " >
            <table id="pdf-table" width="100%" cellspacing="0">
                <tr class="table-header">
                    <td><%= t('subject') %></td>
                    <% @data_hash[:exam_groups].each do |exam_group| %>
                      <td><%= exam_group.name %></td>
                    <% end %>
                    <% unless all_exams.empty? %>
                      <td><%= t('total') %></td>
                    <% end %>
                </tr>
                <% c ='even' %>
                <% @subjects.each do |subject| %>
                  <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td class="col-pdf" ><%= subject.name %></td>
                      <% @mmg = 1;@g = 1 %>
                      <% @data_hash[:exam_groups].each do |exam_group| %>

                        <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
                        <% exam_score = ExamScore.find_by_student_id(student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                        <td class="col-pdf">
                            <% unless @exam.nil? %>
                              <% if exam_group.exam_type == "MarksAndGrades" %>
                                <%= exam_score.nil? ? '-' :  "#{(exam_score.marks || "-")}" +"/"+@exam.maximum_marks.to_s+"[#{(exam_score.grading_level || "-")}]" %>
                              <% elsif exam_group.exam_type == "Marks" %>
                                <%= exam_score.nil? ? '-' : "#{exam_score.marks || "-"}/"+@exam.maximum_marks.to_s %>
                              <% else %>
                                <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %>
                                <% @g = 0 %>
                              <% end %>
                            <% else %>
                              <%= "#{t('n_a')}" %>
                            <% end %>
                          <% end %>
                      </td>
                      <% total_score = ExamScore.new() %>
                      <% unless all_exams.empty? %>
                        <% if @mmg == @g %>
                          <td class="col-pdf"><%= total_score.grouped_exam_subject_total(subject,student,@type) %></td>
                        <% else %>
                          <td class="col-pdf">-</td>
                        <% end %>
                      <% end %>
                  </tr>

                <% end %>
                <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                    <td class="col-pdf-bold"><%= t('total') %></td>
                    <% @max_total = 0 %>
                    <% @marks_total = 0 %>

                    <% @data_hash[:exam_groups].each do |exam_group| %>
                      <% if exam_group.exam_type == "MarksAndGrades" %>
                        <td class="col-pdf-bold"><%= exam_group.total_marks(student)[0] %></td>
                      <% elsif exam_group.exam_type == "Marks" %>
                        <td class="col-pdf-bold"><%= exam_group.total_marks(student)[0] %></td>
                      <% else %>
                        <td class="col-pdf-bold">-</td>
                      <% end %>
                      <% unless exam_group.exam_type == "Grades" %>
                        <% @max_total = @max_total + exam_group.total_marks(student)[1] %>
                        <% @marks_total = @marks_total + exam_group.total_marks(student)[0] %>
                      <% end %>
                    <% end %>
                    <% unless all_exams.empty? %>
                      <td></td>
                    <% end %>
                </tr>
              <% if @mmg == @g %>
                <tr class="table-header end">
                  <% percentage = (@marks_total*100/@max_total.to_f)  unless @max_total==0 %>
                  <td colspan="<%= @data_hash[:exam_groups].count.to_i+2 %>" align="left"><%= t('total_marks') %> = <%= @marks_total %> | <%= t('aggregate') %> % = <%= "%.2f" %percentage  unless percentage.nil?%> | <%= t('aggregate') %> <%= t('grade') %> = 
                  <% if grade_type=="GPA" %>
                    <%= GradingLevel.percentage_to_grade(percentage, @data_hash[:batch].id, 'gpa')  unless percentage.nil?%>
                  <%else%>
                    <%= GradingLevel.percentage_to_grade(percentage, @data_hash[:batch].id)  unless percentage.nil?%>
                  <%end%>
                  </td>
                </tr>
              <%end%>
            </table>
        </div>
      <% end %>
      <%@ret_val= RemarkMod.generate_common_remark_form("grouped_exam_general",student.id,nil,1,{:batch_id=>student.batch_id,:student_id=>student.id})%>
      <%if @ret_val.present?%>
        <div class="section" >
            <div id="remarks_bold_label"><%= t('remarks_text') %></div>
        </div>
        <table class="remarks_table">
            <%@ret_val.each do |val|%>
              <tr>
                  <td id="remarked_by_section"><%= val.remarked_by.present? ? val.remarked_by : '-' %></td>
                  <td id="remark_body_section"><%=val.remark_body.present? ? val.remark_body.strip.gsub(/\n/, "<br/>") : '-'%></td>
                  <!--<td id="submitted_by_section"><%#=val.user.present? ? val.user.first_name : "Deleted User"%> on <%#=format_date(val.updated_at)%></td> -->
              </tr>
            <%end%>
        </table>
      <%end%>
      <%if @general_records["Signature"] == "0"%>
        <div class="wrapper">
            <div class="footer">
                <div id="pdf-footer">
                    <span class="signature push_left"><%= @general_records["SignLeftText"] %></span>
                    <span class="signature"><%= @general_records["SignCenterText"] %></span>
                    <span class="signature push_right"><%= @general_records["SignRightText"] %></span>
                </div>
            </div>
        </div>
      <%end%>
      <div class="page-break"></div>
    <% end %>
</div>
