<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<%= javascript_include_tag "sortable" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('consolidated_report') %></div>
  <div id="inner-tab-menu">
    <ul>
     <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('pdf_report')}",{:controller => "exam", :action => "consolidated_exam_report_pdf", :report_format_type => "pdf" ,:exam_group => @exam_group.id, :page_height=> 700},:target => '_blank' %></li>
    <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('csv_report')}",{:controller => "csv_export", :report_format_type => "csv",:action => "generate_csv", :csv_report_type => "consolidated_exam_report",:exam_group => @exam_group.id } %></li>
    </ul>
  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    <h4><%= @batch.course.full_name %> <%= @batch.name %> | <%= @exam_group.name %></h4>
    <% grade_type = "normal" %>
    <% grade_type = "GPA" if @batch.gpa_enabled? %>
    <% grade_type = "CWA" if @batch.cwa_enabled? %>
    <div class="students-table">
      <table class ="sortable" id="listing" width="100%" cellpadding="1" cellspacing="1" onload="sortables_init()" >
        <tr class="tr-head">
          <td class="unsortable"><%= t('sl_no') %></td>
          <td><%= t('name') %></td>
          <td><%= t('admission_no') %></td>
          <% if roll_number_enabled? %>
            <td><%= t('roll_no') %></td>
          <% end %>
          <% if grade_type=="GPA" or grade_type=="CWA" %>
            <% @exam_group.exams.each do |exam| %>
              <td><%= exam.subject.code %><%= "(" + exam.subject.credit_hours.to_s + ")"  unless exam.subject.credit_hours.nil? %></td>
            <% end %>
            <% if grade_type=="CWA" %>
              <td><%= t('weighted_average') %></td>
            <% else %>
              <td><%= t('gpa') %></td>
            <% end %>
          <% else %>
            <% @exam_group.exams.each do |exam| %>
              <td><%= exam.subject.code %><%= "(&#x200E;" + exam.maximum_marks.to_s + ")&#x200E;"  unless (exam.maximum_marks.nil? or @exam_group.exam_type == "Grades" ) %></td>
            <% end %>
            <% unless @exam_group.exam_type == "Grades" %>
              <td><%= t('percentage') %>(%)</td>
            <% end %>
          <% end %>
        </tr>
        <% @exam_group.batch.students.find(:all, :order =>"#{Student.sort_order}").each_with_index do |student,i|%>
          <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="col-1"><%= i+1 %></td>
            <td class="col-2"><%= student.full_name %></td>
            <td class="col-3"><%= student.admission_no %></td>
            <% if roll_number_enabled? %>
              <td class="col-3"><%= student.roll_number.present? ? student.roll_number : "-" %></td>
            <% end %>
            <% if grade_type=="GPA" %>
              <% total_credits = 0 %>
              <% total_credit_points=0 %>
              <% @exam_group.exams.each do |exam| %>
                <% exam_score = ExamScore.find_by_student_id_and_exam_id(student.id,exam.id) %>
                <% unless exam_score.nil? %>
                  <td class="col-3"><%= exam_score.grading_level.present? ? exam_score.grading_level : "-" %></td>
                  <% total_credits = total_credits + exam.subject.credit_hours.to_f unless exam.subject.credit_hours.nil? %>
                  <% total_credit_points = total_credit_points + (exam_score.grading_level.credit_points.to_f * exam.subject.credit_hours.to_f) unless exam_score.grading_level.nil? %>
                <% else %>
                  <td class="col-3">-</td>
                <% end %>
              <% end %>
              <% if (total_credit_points.to_f/total_credits.to_f).nan? %>
                <td class="col-4">-</td>
              <% else %>
                <td class="col-4"><%= "%.2f" %(total_credit_points.to_f/total_credits.to_f) %></td>
              <% end %>
            <% elsif grade_type=="CWA" %>
              <% total_credits = 0 %>
              <% total_weighted_marks=0 %>
              <% @exam_group.exams.each do |exam| %>
                <% exam_score = ExamScore.find_by_student_id_and_exam_id(student.id,exam.id) %>
                <% unless exam_score.nil? %>
                  <td class="col-3"><%= valid_mark?(exam.maximum_marks) ? exam_score.marks.present? ? "%.2f" %((exam_score.marks.to_f/exam.maximum_marks.to_f)*100) : "-" : "-"%></td>
                  <% total_credits = total_credits + exam.subject.credit_hours.to_f unless exam.subject.credit_hours.nil? %>
                  <% total_weighted_marks = total_weighted_marks + (valid_mark?(exam.maximum_marks) ? (exam_score.marks.to_f/exam.maximum_marks.to_f) : 0.0 *100)*(exam.subject.credit_hours.to_f) unless exam_score.marks.nil? %>
                <% else %>
                  <td class="col-3">-</td>
                <% end %>
              <% end %>
                <% if (total_weighted_marks.to_f/total_credits.to_f).nan? %>
                  <td class="col-4">-</td>
                <% else %>
                  <td class="col-4"><%= "%.2f" %((total_weighted_marks.to_f.result_round(4)/total_credits.to_f).result_round) %></td>
                <% end %>
            <% else %>
              <% total_marks = 0 %>
              <% total_max_marks = 0 %>
              <% @exam_group.exams.each do |exam| %>
                <% exam_score = ExamScore.find_by_student_id_and_exam_id(student.id,exam.id) %>
                <% unless @exam_group.exam_type == "Grades" %>
                  <td class="col-3">
                    <% if @exam_group.exam_type == "MarksAndGrades" %>
                      <%= exam_score.nil? ? '-' :  "#{(exam_score.marks || "-")}" + "(#{(exam_score.grading_level || "-")})" %>
                    <% else %>
                      <%= exam_score.nil? ? '-' : exam_score.marks || "-" %>
                    <% end %>
                  </td>
                  <% total_marks = total_marks+(exam_score.marks || 0) unless exam_score.nil?  %>
                  <% total_max_marks = total_max_marks+exam.maximum_marks unless exam_score.nil? %>
                <% else %>
                  <td class="col-3"><%= exam_score.nil? ? '-' : exam_score.grading_level || "-" %></td>
                <% end %>
              <% end %>
              <% unless @exam_group.exam_type == "Grades" %>
                <td class="col-4"><% percentage = total_marks*100/total_max_marks.to_f unless total_max_marks == 0%>
                  <%= "%.2f" %percentage unless total_max_marks == 0 %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </table></div>
    <div class="extender"></div>
  </div>
</div>
