  <%-# Fedena
  #Copyright 2010 Foradian Technologies Private Limited
  #
  #This product includes software developed at
  #Project Fedena - http://www.projectfedena.org/
  #
  #Licensed under the Apache License, Version 2.0 (the "License");
  #you may not use this file except in compliance with the License.
  #You may obtain a copy of the License at
  #
  #  http://www.apache.org/licenses/LICENSE-2.0
  #
  #Unless required by applicable law or agreed to in writing,
  #software distributed under the License is distributed on an
  #"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  #KIND, either express or implied.  See the License for the
  #specific language governing permissions and limitations
  #under the License. -%>

  <div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('exams_text') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('create_exam') %></div>
    <div id="inner-tab-menu">
      <ul>
        <% if can_access_request? :course_wise_exams, :exam %>
          <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('new_exam')}", {:controller => "course_exam_groups", :action => "new"} %></li>
        <% end %>
        <% if can_access_request? :previous_batch_exams, :exam %>
          <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('previous_batch_exam')}", {:controller => "exam", :action => "previous_batch_exams"} %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div id="page-yield">
    <div class="bread_crumb">
      <%= make_breadcrumb %>
      <%= render_breadcrumbs  %>
    </div>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <div class="box">
      <div class="label-field-pair">
        <label for="student_course"><%= t('select_a_course') %>:
          <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
        </label>
        <div class="text-input-bg">
          <%= select :courses, :name,
            @course.map {|b| [b.full_name, b.id]},
            {:prompt => "#{t('select_a_course')}"},
            {:onChange => "#{remote_function(:url => {:action => "list_exam_groups"},
            :with => "'course_id='+ value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')"
            )}"} %>
        </div></div>

      <div id="update_batch"></div>
      <div class="extender"></div>
    </div></div>
  <script type="text/javascript">


      function particular_discount_show(action, type) {
      new Ajax.Request("/finance_extensions/" + action,
      {asynchronous: true, evalScripts: true,
        parameters: {collection_id: j('#fees_submission_dates_id').val(), batch_id: j('#fee_change_batch_id').val(), type: type}, onSuccess: function (request) {
          j('#flash-div').children().remove()
          j('#right-panel-bottom').show()
          j('#right-panel-loader').hide()
          Element.hide('loader_collection')

        }
      })
      if (action=='show_particulars'){
        j('#particular-wise-discount').hide();
      }
      else
      {
        j('#particular-wise-discount').show();
      }

    }
    function select_tab(e) {
      j("li").removeClass("selected");
      j(e).parent().addClass("selected");
      action = j('input[name=name]:checked', '.collection_operation_select').attr('action')
      type = j('.selected').prop('type')
      j('#right-panel-loader').show();
      j('#right-panel-bottom').hide()
      particular_discount_show(action, type)

    }


  </script>
