<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('generated_report') %></div>
  <div id="inner-tab-menu">
    <ul>
      <%  if permitted_to? :consolidated_exam_report,:exam %>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('consolidated_report')}", :action=>'consolidated_exam_report',:exam_group=>@exam_group.id %></li>
      <% end %>
      <%  if permitted_to? :generated_report_pdf,:exam %>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('consolidated_pdf_report')}",
            {:controller => "exam", :action => "generated_report_pdf", :exam_group => @exam_group.id, :batch => @batch.id},:target => '_blank' %></li>
      <% end %>
    </ul>
  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% if params[:student].nil? %>
      <%= make_breadcrumb %>
    <% else %>
      <% breadcrumb :exam_generated_report_st_view, [@student,@exam_group] %>
    <% end %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <h3 align="center"><%= @student.batch.full_name %> - <%= @exam_group.name %></h3>
  <div id="student_list">
    <%= render  :partial=>"exam_wise_student_list" %>
  </div>
  <div id="exam_wise_report">
    <%= render :partial=>'exam_wise_report' %>
  </div>
  <div class="box">

  </div>
</div>
<script type="text/javascript">
  function completeReq(elm){
    j(elm).removeAttr('onclick')
    new Ajax.Request('/remarks/edit_remarks',{
      parameters:'student_id='+elm.getAttribute('student_id')+'&target_name='+elm.getAttribute('target_name')+'&object_id='+elm.getAttribute('object_id')+'&load_object_id='+elm.getAttribute('load_object_id')+'&params_hash='+elm.getAttribute('params_hash'),
      asynchronous:true,
      evalScripts:true,
      method:'get',
      onComplete:function(resp){
        j(elm).parent().append(resp.responseText);
        j(elm).hide();
      }
    });
  }
  function set_active(){
    $$('.active-link').each(function(e){
      e.removeClassName('active-link');
    });
    this.addClassName('active-link')
  }
  function draw_report(){
    Element.show('loader')
    new Ajax.Request('/exam/generated_report',
    {asynchronous:true, evalScripts:true,
      parameters:'student='+this.id+'&exam_group=<%= @exam_group.id %>',onSuccess:function(request){Element.hide('loader')}
    })
  }
  function set_first_active(){
    j('.student_names').first().children().first().addClass('active-link');
  }
  document.observe("dom:loaded", function() {
    set_first_active();
    $$('.student-link').invoke('observe','click',draw_report);
    $$('.student-link').invoke('observe','click',set_active);
  });
</script>
