<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%= javascript_include_tag "sortable" %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('generated_report') %></div>
  <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('pdf_report')}", {:controller => "exam", :action => "generated_report2_pdf", :report_format_type => "pdf", :subject_id=> @subject.id,:page_height=>620},:target => '_blank' %></li>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('csv_report')}", {:controller => "csv_export", :action => 'generate_csv', :csv_report_type => "subject_wise_report", :report_format_type => "csv" ,:subject_id =>@subject.id}%></li>
    </ul>
  </div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :exam_generated_report2,@subject%>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="box">
    <h4><%= @batch.name %> - <%= @batch.course.full_name %> | <%= @subject.name %></h4>
    <div id="score-table">
	 <!-- <table id="listing" width="100%"> -->
       <table class ="sortable" id="listing" width="100%" cellpadding="1" cellspacing="1" onload="sortables_init()" > 
        <tr class="tr-head">
           <th class="unsortable"><%= t('sl_no') %></th>
          <td><%= t('name') %></td>
          <td data-sorting-type="natural_sort"><%= t('admission_no') %></td>
          <% if roll_number_enabled? %>
            <td data-sorting-type="natural_sort" <%= 'class="unsortable"' unless @batch.roll_number_generated? %> ><%= t('roll_no') %></td>
          <% end %>
          <% @exam_groups.each do |exam_group| %>
            <td class="unsortable"><%= exam_group.name %></td>
          <% end %>
        </tr>
        <% @students.each_with_index do |student,i| %>
          <% is_valid_subject=1 %>
          <% unless @subject.elective_group_id.nil? %>
            <% is_student_elective = StudentsSubject.find_by_student_id_and_subject_id(student.id,@subject.id) %>
            <% is_valid_subject = 0 if is_student_elective.nil? %>
          <% end %>
          <% unless is_valid_subject == 0 %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
               <td class="col-1"><%= i+1 %></td>
              <td class="col-2"><%= student.full_name %></td>
              <td class="col-3"><%= student.admission_no %></td>
              <% if roll_number_enabled?  %>
                <td class="col-3"><%= student.roll_number.present? ? student.roll_number : "-" %></td>
              <% end %>
              <% @exam_groups.each do |exam_group| %>
                <td class="col-3">
                  <% exam = Exam.find_by_subject_id(@subject.id,:conditions=>{:exam_group_id=>exam_group.id}) %>
                  <% exam_score = ExamScore.find_by_student_id(student.id,:conditions=>{:exam_id=>exam.id}) unless exam.nil? %>
                  <% unless exam.nil? %>
                    <% if exam_group.exam_type == 'Marks' %>
                      <%= exam_score.nil? ? '-' : "#{exam_score.marks || "-"}/"+exam.maximum_marks.to_s %>
                    <% elsif exam_group.exam_type == 'Grades'%>
                      <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-') %>
                    <% else %>
                      <%= exam_score.nil? ? '-' : "#{(exam_score.marks || "-")}" +"/"+exam.maximum_marks.to_s+"[#{(exam_score.grading_level || "-")}]" %>
                    <% end %>
                  <% else %>
                    <%= "#{t('n_a')}" %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
	<tr class="tr-head sortbottom">
	  <td>
		
	  </td>
          <td>
            <%= t('class_average') %>
          </td>
          <td></td>
          <% if  roll_number_enabled?  %>
          <td></td>
          <% end %>
          <% @exam_groups.each do |exam_group| %>
            <% if exam_group.exam_type == 'Marks' or exam_group.exam_type == 'MarksAndGrades' %>
              <% exam = Exam.find_by_subject_id(@subject.id,:conditions=>{:exam_group_id=>exam_group.id}) %>
              <td>
                <%="%.2f"%exam_group.subject_wise_batch_average_marks(@subject.id) unless exam.nil?%>
              </td>
            <% else %>
              <td>-</td>
            <% end %>
          <% end %>
        </tr>
      </table>
    </div>
    <div class="extender"></div>
  </div>
</div>
