<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="content-header">
    <%= show_header_icon %>
    <h1><%=t('exam_text')%></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%=t('report_settings')%></div>
    <div id="inner-tab-menu">
        <ul>
            <li class='themed_bg themed-dark-hover-background'><%= link_to "Preview report",{ :action => 'preview',:report_format_type => "pdf"},:target=>"_blank" %></li>
        </ul>
    </div>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs  %>
    </div>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <% form_for :report_setting do |c| %>
      <%= error_messages_for :report_setting %>
      <div class="box">
          <div class="label_field_pair block">
              <label class="core_label"><%=t('report_header')%></label>
              <div class="messages"><%=t('report_header_sub_text')%></div>
              <div class="ind_block">
                  <%= radio_button  :report_setting, :report_header,"0",:checked=>@setting[:report_header]=="0",:class=>'report_head'%>
                  <label class="general_label" for="report_setting_report_header_0"><%=t('fedena_header_preset')%></label>
                  <%= radio_button  :report_setting,:report_header, "1",:checked=>@setting[:report_header]=="1",:class=>'report_head' %>
                  <label class="general_label" for="report_setting_report_header_1"><%=t('customized_header_text')%></label>
                  <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader1", :style =>"display: none;" ) %>
              </div>
              <div id="report_desc">
                  <%if @setting[:report_header]=="0"%>
                    <%=render :partial => "report_with_normal_header"%>
                  <%else%>
                    <%=render :partial => "report_without_normal_header"%>
                  <%end%>
              </div>
          </div>
          <div class="label_field_pair block">
              <label class="core_label"><%=t('student_details').titleize%></label>
              <div class="messages"><%=t('student_details_desc_text')%></div>
              <div class="grey_back">
                  <%3.times do |i|%>
                    <%options=["<option selected ='selected'>#{t(@student_fields[i][0])}</option>"]%>
                    <div class="label-field-pair with_border">
                        <span><%=i+1%></span>
                        <div class="text-input-bg">
                            <%= select_tag "report_setting_student_detail#{i+1}",options,:disabled=>true%>
                            <%=hidden_field_tag "report_setting[student_detail#{i+1}]",@student_fields[i][1]%>
                        </div>
                    </div>
                  <%end%>
                  <%5.times do |i|%>
                    <div class="label-field-pair with_border">
                        <span><%=i+4%></span>
                        <div class="text-input-bg">
                            <%=c.select :"student_detail#{i+4}", grouped_options_for_select([[t('student_details'),@student_fields.map{|arr| [t(arr[0]),arr[1]]}],
                                [t('additional_details'), @student_additional_fields.collect {|v| [ v.name, "ad.#{v.name}.#{v.id}" ] }]
                                ],@setting[:"student_detail#{i+4}"],t('select_a_student_detail'))%>
                        </div>
                    </div>
                  <%end%>
              </div>
          </div>

          <div class="label_field_pair block">
              <label class="core_label" for="student_gender"><%=t('signature')%></label>
              <div class="messages"><%=t('signature_desc_text')%></div>
              <div class="ind_block">
                  <%= radio_button  :report_setting, :signature,"0",:checked=>@setting[:signature]=="0",:class=>'signature'%>
                  <label class="general_label" for="report_setting_signature_0"><%=t('show_sign')%></label>
                  <%= radio_button  :report_setting,:signature, "1",:checked=>@setting[:signature]=="1",:class=>'signature' %>
                  <label class="general_label" for="report_setting_signature_1"><%=t('hide_sign')%></label>
                  <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader2", :style =>"display: none;" ) %>
              </div>
              <div id="report_sign">
                  <%if @setting[:signature]=="0"%>
                    <%=render :partial => "report_with_signature"%>
                  <%end%>
              </div>
          </div>

          <div class="hor_line"></div>

          <div id="submit_button">
              <%= submit_tag "Save settings",:id=>'submit-button'%>
          </div>


      </div>
    <%end%>

</div>
<script type="text/javascript">
  j('.report_head').change(function () {
      j.ajax({
          type: 'GET',
          url: "/exam/get_normal_report_header_info",
          data: {
              id: j(this).val()
          },
          beforeSend: function () {
              j('#loader1').show();
          },
          success: function () {
              j('#loader1').hide();
          }
      });
  });
  j('.signature').change(function () {
      j.ajax({
          type: 'GET',
          url: "/exam/get_report_signature_info",
          data: {
              id: j(this).val()
          },
          beforeSend: function () {
              j('#loader2').show();
          },
          success: function () {
              j('#loader2').hide();
          }
      });
  });
</script>