<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('report_center') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="box">
    <%if can_access_request? :exam_wise_report,@current_user,:context=>:exam%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('exam_wise_report')}" ,:action=>'exam_wise_report' %></div>
        <div class="link-descr"><%= t('generate_exam_wise_report') %></div>
      </div>
    <%end%>
    <%if can_access_request? :subject_wise_report,@current_user,:context=>:exam%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('subject_wise_report')}" ,:action=>'subject_wise_report' %> </div>
        <div class="link-descr"><%= t('generate_subject_wise_report') %></div>
      </div>
    <%end%>
    <%if can_access_request? :grouped_exam_report,@current_user,:context=>:exam%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('grouped_exam_reports')}" ,:action=>'grouped_exam_report' %></div>
        <div class="link-descr"><%= t('group_up_exams_for_specific_reports') %></div>
      </div>
    <%end%>
    <%if can_access_request? :archived_exam_wise_report,@current_user,:context=>:exam_reports%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('archived_student_reports')}" , :controller=> "exam_reports",:action=>'archived_exam_wise_report' %></div>
        <div class="link-descr"><%= t('generates_grouped_exam_reports_for_archived_students') %></div>
      </div>
    <%end%>
    <%if can_access_request? :subject_rank,@current_user,:context=>:exam%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('student_ranking_per_subject')}" , :controller=> "exam",:action=>'subject_rank' %></div>
        <div class="link-descr"><%= t('generates_reports_for_subject_wise') %></div>
      </div>
    <%end%>
    <%if can_access_request? :batch_rank,@current_user,:context=>:exam%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('student_ranking_per_batch')}" , :controller=> "exam",:action=>'batch_rank' %></div>
        <div class="link-descr"><%= t('generates_reports_for_batch_wise') %></div>
      </div>
    <%end%>
    <%if can_access_request? :course_rank,@current_user,:context=>:exam%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('student_ranking_per_course')}" , :controller=> "exam",:action=>'course_rank' %></div>
        <div class="link-descr"><%= t('generates_reports_for_course_wise') %></div>
      </div>
    <%end%>
    <%if can_access_request? :student_school_rank,@current_user,:context=>:exam%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('student_ranking_per_school')}" , :controller=> "exam",:action=>'student_school_rank' %></div>
        <div class="link-descr"><%= t('generate_report_for_overall_student_rank') %></div>
      </div>
    <%end%>
    <%if can_access_request? :attendance_rank,@current_user,:context=>:exam%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('student_ranking_per_attendance')}" , :controller=> "exam",:action=>'attendance_rank' %></div>
        <div class="link-descr"><%= t('generates_reports_for_batch_wise_student_per_rank') %></div>
      </div>
    <%end%>
    <%if can_access_request? :ranking_level_report,@current_user,:context=>:exam%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('ranking_level_report')}" , :controller=> "exam",:action=>'ranking_level_report' %></div>
        <div class="link-descr"><%= t('generates_reports_based_on_different_ranking') %></div>
      </div>
    <%end%>
    <%if can_access_request? :transcript,@current_user,:context=>:exam%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('view_transcripts')}" , :controller=> "exam",:action=>'transcript' %></div>
        <div class="link-descr"><%= t('generate_student_transcripts') %></div>
      </div>
    <%end%>
    <%if can_access_request? :combined_report,@current_user,:context=>:exam%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('combined_reports')}" , :controller=> "exam",:action=>'combined_report' %></div>
        <div class="link-descr"><%= t('generates_combined_student_report') %></div>
      </div>
    <%end%>
    <%  if Configuration.cce_enabled? and can_access_request? :index,@current_user,:context=>:cce_reports %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('cce_reports')}" , :controller=> "cce_reports",:action=>'index' %></div>
        <div class="link-descr"><%= t('generates_combined_student_report') %></div>
      </div>
    <% end %>
    <%  if Configuration.icse_enabled? and can_access_request? :index,@current_user,:context=>:icse_reports %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "ICSE Reports" , :controller=> "icse_reports",:action=>'index' %></div>
        <div class="link-descr">Generate & View ICSE Reports</div>
      </div>
    <% end %>
  </div>
</div>
