<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('ranking_level_report') %></div>
  <% unless @scores.empty? %>
    <div id="inner-tab-menu">
      <ul>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('pdf_report')}", {:controller => "exam", :action => "student_ranking_level_report_pdf", :mode=>@mode, :report_type=>@report_type, :report_format_type => "pdf",:ranking_level_id=>@ranking_level.id, :batch_id=>params[:ranking_level_report][:batch_id], :course_id=>params[:ranking_level_report][:course_id], :batch_group_id=>params[:ranking_level_report][:batch_group_id], :subject_id=>params[:ranking_level_report][:subject_id], :page_height=>1150},:target => '_blank' %></li>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('csv_report')}", {:controller => 'csv_export', :action => 'generate_csv', :csv_report_type => 'ranking_level',:report_format_type => "csv", :mode=>@mode, :report_type=>@report_type, :ranking_level_id=>@ranking_level.id, :batch_id=>params[:ranking_level_report][:batch_id], :course_id=>params[:ranking_level_report][:course_id], :batch_group_id=>params[:ranking_level_report][:batch_group_id], :subject_id=>params[:ranking_level_report][:subject_id] } %></li>
      </ul>
    </div>
  <% end%>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% if @mode=="batch" %>
      <% breadcrumb :exam_student_ranking_level_report_batch, @batch%>
    <% else %>
      <% breadcrumb :exam_student_ranking_level_report_course, @course%>
    <% end %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="box">
    <% if @mode=="batch" %>
      <h4><%= @ranking_level.name %> <%= t('students') %> : <%= @batch.full_name %> <%= " | #{t('subject')} : "+@subject.name if @subject.present? %></h4>
      <div id="score-table">
        <% unless @scores.empty? %>
          <% if @report_type=="subject" %>
            <% ranked_students = Student.find_all_by_id(@scores.collect(&:student_id), :order =>"#{Student.sort_order}") %>
            <% ranked_students = ranked_students.reject{|st| st.has_higher_priority_ranking_level(@ranking_level.id,"subject",@subject.id)==true} %>
          <% else %>
            <% unless @ranking_level.subject_count.nil? %>
              <% sub_count = @ranking_level.subject_count %>
              <% ranked_students = [] %>
              <% @students.each do|student| %>
                <% @student_scores = @scores.dup %>
                <% @student_scores.reject!{|s| !(s.student_id==student.id)} %>
                <% if @ranking_level.subject_limit_type=="upper" %>
                  <% if @student_scores.count < sub_count %>
                    <% ranked_students << student %>
                  <% end %>
                <% elsif @ranking_level.subject_limit_type=="exact" %>
                  <% if @student_scores.count == sub_count %>
                    <% ranked_students << student %>
                  <% end %>
                <% else %>
                  <% if @student_scores.count >= sub_count %>
                    <% ranked_students << student %>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <% ranked_students = Student.find_all_by_id(@scores.collect(&:student_id), :order =>"#{Student.sort_order}") %>
            <% end %>
            <% ranked_students = ranked_students.reject{|st| st.has_higher_priority_ranking_level(@ranking_level.id,"overall","")==true} %>
          <% end %>
          <% unless ranked_students.empty? %>
            <table id="listing" width="100%" cellpadding="1" cellspacing="1">
              <tr class="tr-head">
                <td><%= t('sl_no') %></td>
                <td><%= t('adm_no') %></td>
                <% if roll_number_enabled? %>
                  <td><%= t('roll_no') %></td>
                <% end %>
                <td><%= t('name') %></td>
              </tr>
              <tr class="tr-blank"></tr>
              <% ranked_students.each_with_index do |s,i| %>
                <tr class="tr-<%= cycle('odd', 'even') %>">
                  <td class="col-1"><%= i+1 %></td>
                  <td class="col-1"><%= s.admission_no.present? ? s.admission_no : "-" %></td>
                  <% if roll_number_enabled? %>
                    <td class="col-1"><%=  s.roll_number.present? ? s.roll_number : "-"   %></td>
                  <% end %>
                  <td class="col-2"><%= s.full_name %></td>
                </tr>
              <% end %>
            </table>
          <% else %>
            <p class="flash-msg"><%= "#{t('no_text')} #{@ranking_level.name} #{t('students_found')}" %></p>
          <% end %>
        <% else %>
          <p class="flash-msg"><%= "#{t('no_text')} #{@ranking_level.name} #{t('students_found')}" %></p>
        <% end %>
      </div>
    <% else %>
      <h4><%= @ranking_level.name %> <%= t('students') %> : <%= @course.full_name %></h4>
      <div id="score-table">
        <% unless @scores.empty? %>
          <% unless @ranking_level.subject_count.nil? %>
            <% sub_count = @ranking_level.subject_count %>
            <% ranked_students = [] %>
            <% unless @ranking_level.full_course==true %>
              <% @students.each do|student| %>
                <% @student_scores = @scores.dup %>
                <% @student_scores.reject!{|s| !(s.student_id==student.id)} %>
                <% batch_ids = @student_scores.collect(&:batch_id) %>
                <% batch_ids.each do|batch_id|%>
                  <% unless batch_ids.empty? %>
                    <% count = batch_ids.count(batch_id) %>
                    <% if @ranking_level.subject_limit_type=="upper" %>
                      <% if count < sub_count %>
                        <% unless student.has_higher_priority_ranking_level(@ranking_level.id,"course","") %>
                          <% ranked_students << [student.id,batch_id] %>
                        <% end %>
                      <% end %>
                    <% elsif @ranking_level.subject_limit_type=="exact" %>
                      <% if count == sub_count %>
                        <% unless student.has_higher_priority_ranking_level(@ranking_level.id,"course","") %>
                          <% ranked_students << [student.id,batch_id] %>
                        <% end %>
                      <% end %>
                    <% else %>
                      <% if count >= sub_count %>
                        <% unless student.has_higher_priority_ranking_level(@ranking_level.id,"course","") %>
                          <% ranked_students << [student.id,batch_id] %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <% batch_ids.delete(batch_id) %>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <% @students.each do|student| %>
                <% @student_scores = @scores.dup %>
                <% @student_scores.reject!{|s| !(s.student_id==student.id)} %>
                <% if @ranking_level.subject_limit_type=="upper" %>
                  <% if @student_scores.count < sub_count %>
                    <% unless student.has_higher_priority_ranking_level(@ranking_level.id,"course","") %>
                      <% ranked_students << [student.id,student.batch.id] %>
                    <% end %>
                  <% end %>
                <% elsif @ranking_level.subject_limit_type=="exact" %>
                  <% if @student_scores.count == sub_count %>
                    <% unless student.has_higher_priority_ranking_level(@ranking_level.id,"course","") %>
                      <% ranked_students << [student.id,student.batch.id] %>
                    <% end %>
                  <% end %>
                <% else %>
                  <% if @student_scores.count >= sub_count %>
                    <% unless student.has_higher_priority_ranking_level(@ranking_level.id,"course","") %>
                      <% ranked_students << [student.id,student.batch.id] %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <% ranked_students = [] %>
            <% @scores.each do|score| %>
              <% unless score.student.has_higher_priority_ranking_level(@ranking_level.id,"course","") %>
                <% ranked_students << [score.student_id,score.batch_id] %>
              <% end %>
            <% end %>
          <% end %>
          <% unless ranked_students.empty? %>
            <table id="listing" width="100%" cellpadding="1" cellspacing="1">
              <tr class="tr-head">
                <td><%= t('sl_no') %></td>
                <td><%= t('adm_no') %></td>
                <% if roll_number_enabled? %>
                  <td><%= t('roll_no') %></td>
                <% end %>
                <td><%= t('name') %></td>
                <td><%= t('batch') %></td>
                <% unless @ranking_level.full_course==true %>
                  <td><%= "#{@ranking_level.name} #{t('batch')}" %></td>
                <% end %>
              </tr>
              <tr class="tr-blank"></tr>
              <% ranked_students.each_with_index do |s,i| %>
                <% stu = Student.find(s[0]) %>
                <% batch = Batch.find(s[1]) %>
                <tr class="tr-<%= cycle('odd', 'even') %>">
                  <td class="col-1"><%= i+1 %></td>
                  <td class="col-1"><%= stu.admission_no.present? ? stu.admission_no : "-" %></td>
                  <% if roll_number_enabled? %>
                    <td class="col-1"><%=  stu.roll_number.present? ? stu.roll_number : "-"   %></td>
                  <% end %>
                  <td class="col-2"><%= stu.full_name %></td>
                  <td class="col-2"><%= stu.batch.full_name %></td>
                  <% unless @ranking_level.full_course==true %>
                    <td class="col-2"><%= batch.full_name %></td>
                  <% end %>
                </tr>
              <% end %>
            </table>
          <% else %>
            <p class="flash-msg"><%= "#{t('no_text')} #{@ranking_level.name} #{t('students_found')}" %></p>
          <% end %>
        <% else %>
          <p class="flash-msg"><%= "#{t('no_text')} #{@ranking_level.name} #{t('students_found')}" %></p>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
