<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="page-yield" class="available_sections">
    <%if @general_records["ReportHeader"] == "0"%>
      <div class="header">
          <span class="logo header_parts">
              <%if current_school_detail.logo.present?%>
                <%= wicked_pdf_image_tag current_school_detail.logo,:s3=>true,:style=>:original,:timestamp=>false %>
              <%else%>
                <img  alt="Dummy Logo" src="<%=Rails.root.join('public','images','application','dummy_logo.png')%>" ></img>
              <%end%>
          </span>
          <span class="header-content header_parts">
              <p id="school-name"><%=Configuration.get_config_value('InstitutionName'); %></p>
              <p class="institution_address"><%=Configuration.get_config_value('InstitutionAddress'); %></p>
          </span>
      </div>
    <%else%>
      <div style="height:<%=@general_records["HeaderSpace"].to_i%>mm"></div>
    <%end%>
    <div class="section">
        <div class="hor_line"></div>
        <h2><%= t('transcript_of_academic_record')%></h2>
        <div class="hor_line"></div>
        <div class="extender"> </div>
        <div class="info">
            <div class="info-left">
                <%[1,3,5,7].each do |i|%>
                  <%display_text = ReportSetting.get_display_text(@general_records["StudentDetail#{i}"])%>
                  <%unless display_text == ""%>
                    <div class="info1">
                        <label class="field-label"><%=display_text%></label><span class="colon">:</span><label class="infolbl"> <%= ReportSetting.get_display_value(@general_records["StudentDetail#{i}"],@student) %></label>
                    </div>
                  <%end%>
                <%end%>
            </div>
            <div class="info-right">
                <%[2,4,6,8].each do |i|%>
                  <%display_text = ReportSetting.get_display_text(@general_records["StudentDetail#{i}"])%>
                  <%unless display_text == ""%>
                    <div class="info1">
                        <label class="field-label"><%=display_text%></label><span class="colon">:</span><label class="infolbl"> <%= ReportSetting.get_display_value(@general_records["StudentDetail#{i}"],@student) %></label>
                    </div>
                  <%end%>
                <%end%>
            </div>
        </div>
    </div>

    <% reports = GroupedExamReport.find_all_by_student_id_and_score_type(@student.id,'c') %>

    <% if reports.empty? %>
      <div class="section " >
          <table id="pdf-table" width="100%" cellspacing="0">
              <tr class="even">
                  <td><%= t('grouped_exam_reports_not_generated_for_batch') %></td>
              </tr>
          </table>
      </div>
    <% else %>
      <% grades = [] %>
      <% grade_type = "normal" %>
      <% grade_type = "GPA" if @student.batch.gpa_enabled? %>
      <% grade_type = "CWA" if @student.batch.cwa_enabled? %>
      <% @i=0 %>
      <% if grade_type == "GPA" %>
        <% @total_grade_points = 0 %>
        <% @total_credit_hours = 0 %>
        <% cgpa_setting = Configuration.find_by_config_key("CgpaType") %>
        <% @cgpa_type = cgpa_setting.config_value unless cgpa_setting.nil? %>
      <% end %>

      <% @batches.each do|batch| %>
        <div class="sub_section">
            <% @i+=1 %>
            <% st_mark = GroupedExamReport.find_by_batch_id_and_student_id_and_score_type(batch.id,@student.id,"c") %>
            <% unless st_mark.nil? %>
              <% general_subjects = Subject.find_all_by_batch_id(batch.id, :conditions=>"elective_group_id IS NULL AND is_deleted=false") %>
              <% student_electives = StudentsSubject.find_all_by_student_id(@student.id,:conditions=>"batch_id = #{batch.id}") %>
              <% elective_subjects = [] %>
              <% student_electives.each do |elect| %>
                <% elective_subjects.push Subject.find(elect.subject_id) %>
              <% end %>
              <% @subjects = general_subjects + elective_subjects %>
              <% @subjects.reject!{|s| (s.no_exam_for_batch(batch.id))} %>
              <% unless @subjects.empty? %>
            <div class="section_main" >
                <div class="section " >
                    <h3><%= batch.full_name %></h3>
                </div>
                <% total_credits=0 %>
                <div class="section  " id="table-headers">
                    <table id="pdf-table" width="100%" cellspacing="0">
                        <% c= 'even' %>
                        <tr class="table-header">
                            <td><%= t('subject_code') %></td>
                            <td><%= t('subject_title') %></td>
                            <% if grade_type=="GPA" or grade_type=="CWA" %>
                              <td><%= t('credit_hours') %></td>
                              <td><%= t('marks') %></td>
                              <td><%= t('remarks') %></td>
                            <% else %>
                              <td><%= t('percentage') %>(%)</td>
                              <td><%= t('remarks') %></td>
                            <% end %>
                        </tr>
                        <% @subjects.each do |s| %>
                          <% subject_average = GroupedExamReport.find_by_student_id_and_subject_id_and_score_type(@student.id,s.id,"s") %>
                          <% unless subject_average.nil? %>
                            <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                                <% if @student.has_retaken_exam(s.id) %>
                                  <td class="col-pdf"> <%= s.code %> - <label class="infolbl retaken_text"><%= t('retaken') %></label></td>
                                <% else %>
                                  <td class="col-pdf"> <%= s.code %></td>
                                <% end %>
                                <td class="col-pdf"> <%= s.name %></td>
                                <% if grade_type=="GPA" or grade_type=="CWA" %>
                                  <td class="col-pdf"><%= s.credit_hours %></td>
                                  <% total_credits = total_credits + s.credit_hours.to_f %>
                                  <% if @cgpa_type == "1" %>
                                    <%  @total_grade_points += s.credit_hours.to_f * subject_average.marks  %>
                                    <%  @total_credit_hours += s.credit_hours.to_f %>
                                  <% end %>
                                <% end %>
                                <td class="col-pdf"><%= subject_average.present? ? subject_average.marks : "-" %></td>
                                <td class="col-pdf"><%= RemarkMod.generate_remark_form("student_transcript", @student.id, nil, {:batch_id=>s.batch_id,:student_id=>@student.id,:subject_id=>s.id}).present? ? RemarkMod.generate_remark_form("student_transcript",@student.id, nil, {:batch_id=>s.batch_id,:student_id=>@student.id,:subject_id=>s.id}).remark_body : "-" %></td>
                            </tr>
                          <% end %>
                        <% end %>
                        <% if grade_type=="GPA" or grade_type=="CWA" %>
                          <tr class="table-header">
                              <td colspan="2" align="right"><%= t('total') %></td>
                              <td><%= total_credits %></td>
                              <td>-</td>
                              <td></td>
                          </tr>
                        <% end %>
                    </table>
                </div>
            </div>    
                <div class="section " >
                    <div id = "grade">
                        <div class="grade_types">
                            <% unless st_mark.nil? %>
                              <% mark = st_mark.marks || 0 %>
                            <% else %>
                              <% mark=0 %>
                            <% end %>
                            <% grades << mark %>
                            <% if grade_type=="CWA" %>
                              <div class="grade_type1"><div class = "grade_type_name"><%= t('combined_weighted_average') %> :</div><span class="grade_value"><%= mark==0 ? "-" : mark %> </span></div>
                            <% elsif grade_type=="GPA" %>
                              <div class="grade_type1"><div class = "grade_type_name"><%= t('batch_wise_cumulative_grade_point_average') %> : </div><div class="grade_value"><%= mark==0 ? "-" : mark %></div></div>
                            <% else %>
                              <div class="grade_type1"><div class = "grade_type_name"><%= t('combined_percentage') %> : </div><span class="grade_value"><%= mark==0 ? "-" : mark %></span></div>
                            <% end %>
                        </div>
                    </div>

                    <% unless @batches.count==@i %>
                      <div class="page-break"></div>
                    <% end %>
                </div>

              <% end %>
            <% end %>
        </div>
      <% end %>
      <% unless grades.count.to_f == 0%>
        <% if @cgpa_type == "1"  %>
          <% cgpa = @total_grade_points / @total_credit_hours %>
          <% cgpa = 0 if cgpa.nan? %>
        <% else %>
          <% cgpa = (grades.sum.to_f)/(grades.count.to_f) %>
        <% end %>
      <% else %>
        <% cgpa = 0 %>
      <% end %>
      <div class="section " >
          <% if grade_type=="GPA" %>
            <% designations = ClassDesignation.find(:all,:conditions=>["cgpa <= ? AND course_id = ?",cgpa,@student.batch.course_id],:order=>"cgpa DESC") %>
            <div class="grade_type"><div class = "grade_type_name"><%= t('course_wise_cumulative_grade_point') %> : </div><span class="grade_value"><%= "%.2f" %(cgpa) %></span></div>
          <% else %>
            <% designations = ClassDesignation.find(:all,:conditions=>["marks <= ? AND course_id = ?",cgpa,@student.batch.course_id],:order=>"marks DESC") %>
            <% if grade_type=="CWA" %>
              <div class="grade_type"><div class = "grade_type_name"><%= t('course_wise_combined_weighted_average') %> : </div><span class="grade_value"><%= "%.2f" %(cgpa) %></span></div>
            <% else %>
              <div class="grade_type"><div class = "grade_type_name"><%= t('course_wise_combined_percentage')+" : "%></div><span class="grade_value"><%= "%.2f" %(cgpa) %></span></div>
            <% end %>
          <% end %>
          <div class="extender"></div>
          <div class="designations_text"><div class = "grade_type_name"><%= t('class_designations_text') %> : </div><span class="grade_value"><%= designations.empty? ? "-" : designations.first.name %></span></div>
      </div>
  </div>
<% end %>
<%@ret_val= RemarkMod.generate_common_remark_form("student_transcript_general",@student.id,nil,1,{:batch_id=>@batch.id,:student_id=>@student.id})%>
<%if @ret_val.present?%>
  <div class="section" >
      <div id="remarks_bold_label"><%= t('remarks_text') %></div>
  </div>
  <table class="remarks_table">
      <%@ret_val.each do |val|%>
        <tr>
            <td id="remarked_by_section"><%= val.remarked_by.present? ? val.remarked_by : '-' %></td>
            <td id="remark_body_section"><%=val.remark_body.present? ? val.remark_body.strip.gsub(/\n/, "<br/>") : '-'%></td>
            <!--<td id="submitted_by_section"><%#=val.user.present? ? val.user.first_name : "Deleted User"%> on <%#=format_date(val.updated_at)%></td> -->
        </tr>
      <%end%>
  </table>
<%end%>

<%if @general_records["Signature"] == "0"%>
  <div class="wrapper">
      <div class="footer">
          <div id="pdf-footer">
              <span class="signature push_left"><%= @general_records["SignLeftText"] %></span>
              <span class="signature"><%= @general_records["SignCenterText"] %></span>
              <span class="signature push_right"><%= @general_records["SignRightText"] %></span>
          </div>
      </div>
  </div>
<%end%>
</div>
