<div id="page-yield" class="available_sections">
    <%if @general_records["ReportHeader"] == "0"%>
      <div class="header">
          <span class="logo header_parts">
              <%if current_school_detail.logo.present?%>
                <%= wicked_pdf_image_tag current_school_detail.logo,:s3=>true,:style=>:original,:timestamp=>false %>
              <%else%>
                <img  alt="Dummy Logo" src="<%=Rails.root.join('public','images','application','dummy_logo.png')%>" ></img>
              <%end%>
          </span>
          <span class="header-content header_parts">
              <p id="school-name"><%=Configuration.get_config_value('InstitutionName'); %></p>
              <p class="institution_address"><%=Configuration.get_config_value('InstitutionAddress'); %></p>
          </span>
      </div>
    <%else%>
      <div style="height:<%=@general_records["HeaderSpace"].to_i%>mm"></div>
    <%end%>
    <div class="section">
        <div class="hor_line"></div>
        <h2><%= "#{t('student_wise_report_for')} "+@exam_group.name%></h2>
        <div class="hor_line"></div>
        <div class="extender"> </div>
        <div class="info">
            <div class="info-left">
                <%[1,3,5,7].each do |i|%>
                  <%display_text = ReportSetting.get_display_text(@general_records["StudentDetail#{i}"])%>
                  <%unless display_text == ""%>
                    <div class="info1">
                        <label class="field-label"><%=display_text%></label><span class="colon">:</span><label class="infolbl"> <%= ReportSetting.get_display_value(@general_records["StudentDetail#{i}"],@student) %></label>
                    </div>
                  <%end%>
                <%end%>
            </div>
            <div class="info-right">
                <%[2,4,6,8].each do |i|%>
                  <%display_text = ReportSetting.get_display_text(@general_records["StudentDetail#{i}"])%>
                  <%unless display_text == ""%>
                    <div class="info1">
                        <label class="field-label"><%=display_text%></label><span class="colon">:</span><label class="infolbl"> <%= ReportSetting.get_display_value(@general_records["StudentDetail#{i}"],@student) %></label>
                    </div>
                  <%end%>
                <%end%>
            </div>
        </div>
    </div>
    <div class="section">

        <% exam_score = [] %>
        <% @exams.each do |exam| %>
          <% exam_score.push exam.exam_scores.find_by_student_id(@student.id) unless exam.exam_scores.find_by_student_id(@student.id).nil?  %>
        <% end %>

        <% if @batch.cwa_enabled? %>
          <% total_credits=0 %>
          <% total_weighted_marks=0 %>
          <div class="section" >
              <table id="pdf-table" width="100%" cellspacing="0">
                  <% c = 'even'  %>
                  <tr class="table-header">
                      <td class="col-pdf"><%= t('subject_code') %></td>
                      <td class="col-pdf"><%= t('title') %></td>
                      <td class="col-pdf"<%= t('marks') %></td>
                      <td class="col-pdf"><%= t('credit') %></td>
                      <td class="col-pdf"><%= t('grade') %></td>
                      <td class="col-pdf"><%= t('weighted_marks') %></td>
                  </tr>
                  <tr class="tr-blank"></tr>

                  <% exam_score.each do |es| %>
                    <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                        <td class="col-pdf"> <%= es.exam.subject.code %></td>
                        <td class="col-pdf"> <%= es.exam.subject.name %></td>
                        <td class="col-pdf"><%= valid_mark?(es.exam.maximum_marks) ? es.marks.present? ? mark=precision_label((es.marks.to_f/es.exam.maximum_marks.to_f)*100) : '-' : "-"%></td>
                        <td class="col-pdf"><%= es.exam.subject.credit_hours %></td>
                        <% total_credits = total_credits + es.exam.subject.credit_hours.to_f %>
                        <td class="col-pdf"><%= es.grading_level.present? ? es.grading_level : "-" %></td>
                        <% weighted_mark=0 %>
                        <% weighted_mark = mark.to_f * es.exam.subject.credit_hours.to_f if es.marks.present? %>
                        <% total_weighted_marks = total_weighted_marks + weighted_mark %>
                        <td class="col-pdf"><%= weighted_mark %></td>
                    </tr>
                  <% end %>
                  <tr class="tr-blank"></tr>
                  <tr class="table-header">
                      <td class="col-pdf" colspan="3" align="right"><%= t('total') %></td>
                      <td class="col-pdf"><%= total_credits %></td>
                      <td>-</td>
                      <td class="col-pdf"><%= total_weighted_marks %></td>
                  </tr>
              </table>

              <h5><%= t('weighted_average') %> =
                  <% unless total_credits==0 %>
                    <%= "%.2f" %(total_weighted_marks.to_f/total_credits.to_f) %>
                  <% else %>
                    -
                  <% end %>
              </h5>
            <% elsif @batch.gpa_enabled? %>
              <% total_credit_points=0 %>
              <% total_credit_hours=0 %>
              <table id="pdf-table" width="100%" cellspacing="0">
                  <% c = 'even'  %>
                  <tr class="table-header">
                      <td class="col-pdf"><%= t('subject_code') %></td>
                      <td class="col-pdf"><%= t('subject_title') %></td>
                      <td class="col-pdf"><%= t('credits') %></td>
                      <td class="col-pdf"><%= t('marks') %></td>
                      <td class="col-pdf"><%= t('remarks') %></td>
                  </tr>
                  <tr class="tr-blank"></tr>
                  <% exam_score.each do |es| %>
                    <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                        <td class="col-pdf"> <%= es.exam.subject.code %></td>
                        <td class="col-pdf"> <%= es.exam.subject.name %></td>
                        <td class="col-pdf"><%= es.exam.subject.credit_hours %></td>
                        <% total_credit_hours = total_credit_hours + es.exam.subject.credit_hours.to_f %>
                        <td class="col-pdf"><%= "#{es.grading_level.present? ? es.grading_level : "-"}"+" ["+"#{es.grading_level.present? ? (es.grading_level.credit_points.present? ? es.grading_level.credit_points : "-") : "-"}"+"]" %></td>
                        <% points=0 %>
                        <% points = (es.grading_level.credit_points.to_f) * (es.exam.subject.credit_hours.to_f) if es.grading_level.present? %>
                        <% total_credit_points = total_credit_points + points %>
                        <td class="col-pdf"><%= es.grading_level.present? ? (es.grading_level.description.present? ? es.grading_level.description : "-") : "-" %></td>
                    </tr>
                  <% end %>
                  <tr class="tr-blank"></tr>
                  <tr class="table-header">
                      <td class="col-pdf" colspan="2" align="right"><%= t('total') %></td>
                      <td class="col-pdf"><%= total_credit_hours %></td>
                      <td>-</td>
                      <td class="col-pdf">-</td>
                  </tr>
              </table>
              <h5>
                  <%= t('grade_point_average_gpa') %> =
                  <% unless total_credit_hours==0 %>
                    <%= "%.2f" %(total_credit_points.to_f/total_credit_hours.to_f) %>
                  <% else %>
                    -
                  <% end %>
              </h5>
            <% else %>
              <% total_marks_attained = 0 %>
              <% total_max_marks = 0 %>
              <table id="pdf-table" width="100%" cellspacing="0">
                  <% c = 'even'  %>
                  <tr class="table-header">
                      <td class="col-pdf"><%= t('subject') %></td>
                      <% if @exam_group.exam_type == 'Marks' %>
                        <td class="col-pdf"><%= t('marks_obtained') %></td>
                        <td class="col-pdf"><%= t('max') %></td>
                        <td class="col-pdf"><%= t('percentage') %>(%)</td>
                        <td class="col-pdf"><%= t('remarks') %></td>
                      <% elsif @exam_group.exam_type == 'Grades' %>
                        <td><%= t('grades') %></td>
                        <td class="col-pdf"><%= t('remarks') %></td>
                      <% else %>
                        <td class="col-pdf"><%= t('marks_obtained') %></td>
                        <td class="col-pdf"><%= t('max') %></td>
                        <td class="col-pdf"><%= t('grades') %></td>
                        <td class="col-pdf"><%= t('percentage') %>(%)</td>
                        <td class="col-pdf"><%= t('remarks') %></td>
                      <% end %>
                  </tr>
                  <tr class="tr-blank"></tr>
                  <% exam_score.each do |es| %>
                    <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                        <td class="col-pdf"> <%= es.exam.subject.name %></td>
                        <% if @exam_group.exam_type == 'Marks' %>
                          <td class="col-pdf"><%= es.marks || '-' %></td>
                          <% total_marks_attained = total_marks_attained+(es.marks || 0) %>
                          <td class="col-pdf"><%= es.exam.maximum_marks %></td>
                          <% total_max_marks = total_max_marks+es.exam.maximum_marks%>
                          <td class="col-pdf"><%= es.calculate_percentage.round(2) %></td>
                          <td class="col-pdf"><%= es.remarks.present? ? es.remarks : "-" %></td>
                        <% elsif @exam_group.exam_type == 'Grades' %>
                          <td class="col-pdf"><%= es.grading_level || "-" %></td>
                          <td class="col-pdf"><%= es.remarks.present? ? es.remarks : "-" %></td>
                        <% else %>
                          <td class="col-pdf"><%= es.marks || "-" %></td>
                          <% total_marks_attained = total_marks_attained+(es.marks || 0) %>
                          <td class="col-pdf"><%= es.exam.maximum_marks %></td>
                          <% total_max_marks = total_max_marks+es.exam.maximum_marks%>
                          <td class="col-pdf"><%= es.grading_level || "-" %></td>
                          <td class="col-pdf"><%= es.calculate_percentage.round(2) %></td>
                          <td class="col-pdf"><%= es.remarks.present? ? es.remarks : "-" %></td>
                        <% end %>
                    </tr>
                  <% end %>
                  <tr class="tr-blank"></tr>
                  <% if @exam_group.exam_type == 'Marks' or @exam_group.exam_type == 'MarksAndGrades' %>
                    <tr class="table-header">
                        <td class="col-pdf"><%= t('total_marks') %>:</td>
                        <td class="col-pdf"><%= total_marks_attained %></td><td><%= total_max_marks %></td>
                        <% total_marks_persentage = total_max_marks == 0 ? 0 : "%.2f" %(total_marks_attained*100/total_max_marks)  %>
                        <%  if @exam_group.exam_type == 'MarksAndGrades' %>
                          <td> <%=GradingLevel.percentage_to_grade(total_marks_persentage.to_f, @batch.id)%> </td>
                        <% end %>
                        <td class="col-pdf"><%=total_marks_persentage%></td>
                        <td class="col-pdf"></td>
                    </tr>
                  <% end %>
              </table>
              <% if @exam_group.exam_type == 'Marks' or @exam_group.exam_type == 'MarksAndGrades' %>
                <span class="avg_span"><%= t('class_average_marks') %> : <%= "%.2f" %@exam_group.batch_average_marks('marks') unless total_max_marks == 0%> | <%= t('class_average') %> % : <%=  "%.2f" %(@exam_group.batch_average_marks('marks')*100/total_max_marks) unless total_max_marks == 0 %></span>
              <% end %>
            <% end %>
        </div>
        <%@ret_val= RemarkMod.generate_common_remark_form("exam_wise_general",@student.id,nil,1,{:exam_group_id=>@exam_group.id,:student_id=>@student.id})%>
        <%if @ret_val.present?%>
          <div id="remarks_bold_label" class="section">
              <%= t('remarks_text') %>
          </div>
          <%@ret_val.each do |val|%>
            <div class="section">
                <div class="common_remarks_section">
                    <div id="remarked_by_section"><%= val.remarked_by.present? ? val.remarked_by : '-' %></div><div id="remark_body_section"><%=val.remark_body.present? ? val.remark_body.strip.gsub(/\n/, "<br/>") : '-'%></div>
                    <!--<div id="submitted_by_section"><%#=val.user.present? ? val.user.first_name : t('deleted_user')%> on <%#=format_date(val.updated_at,:format=>:long_date)%></div> -->
                </div>
            </div>
          <%end%>
        <%end%>
        <%if @general_records["Signature"] == "0"%>
          <div class="wrapper">
              <div class="footer">
                  <div id="pdf-footer">
                      <span class="signature push_left"><%= @general_records["SignLeftText"] %></span>
                      <span class="signature"><%= @general_records["SignCenterText"] %></span>
                      <span class="signature push_right"><%= @general_records["SignRightText"] %></span>
                  </div>
              </div>
          </div>
        <%end%>
    </div>
