<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('transcript_of_academic_record') %></div>
  <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('pdf_report')}", {:controller => "exam", :action => "student_transcript_pdf", :student_id=>@student.id},:target => '_blank' %></li>
    </ul>
  </div>
</div>
<div id="page-yield">

  <div class="bread_crumb">
    <% if @flag and @flag=="1" %>
      <% unless @archived.nil? %>
        <% breadcrumb :student_transcript_st_ar_view, @archived %>
      <% else %>
        <% breadcrumb :student_transcript_st_view, @students.first %>
      <% end %>
    <% else %>
      <% breadcrumb :student_transcript, @batch %>
    <% end %>
    <%= render_breadcrumbs  %>
  </div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div id="student_list">
    <% unless @students.empty?  %>
      <div class="list_name">
        <%= t("students_in_batch") %>
        <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
      </div>
      <ul class="student_list">
        <% @students.each do |s| %>
          <li class="student_names">
            <% if @flag.present? %>
              <% if @student.id==s.id %>
                <%= link_to s.name_with_suffix, {:controller=>"exam",:action=>"student_transcript",:student_id=>s.id,:flag=>@flag,:transcript=>{:batch_id=>s.batch_id}}, :class=>"active-link" %>
              <% else %>
                <%= link_to s.name_with_suffix, {:controller=>"exam",:action=>"student_transcript",:student_id=>s.id,:flag=>@flag,:transcript=>{:batch_id=>s.batch_id}}, :class=>"student-link" %>
              <% end %>
            <% else %>
              <% if @student.id==s.id %>
                <%= link_to s.name_with_suffix, {:controller=>"exam",:action=>"student_transcript",:student_id=>s.id,:transcript=>{:batch_id=>s.batch_id}}, :class=>"active-link" %>
              <% else %>
                <%= link_to s.name_with_suffix, {:controller=>"exam",:action=>"student_transcript",:student_id=>s.id,:transcript=>{:batch_id=>s.batch_id}}, :class=>"student-link" %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <%= t("no_students_in_batch")  %>
    <% end %>
  </div>

  <div id="all_batches">
    <div id="grouped_exam_report">
      <div class="info">
        <div class="info-left">
          <div class="info1">
            <label class="field-label"><%= t('name') %></label>: <label class="infolbl themed_text"> <%= @student.full_name %></label>
          </div>
          <div class="info1">
            <label class="field-label"><%= t('course_text') %></label>: <label class="infolbl themed_text"> <%= @student.batch.course.course_name %></label>
          </div>
        </div>
        <div class="info-right">
          <div class="info1">
            <label class="field-label"><%= t('adm_no') %></label>: <label class="infolbl themed_text"> <%= @student.admission_no.present? ? @student.admission_no : "-" %></label>
          </div>
          <% if roll_number_enabled? %>
            <div class="info1">
              <label class="field-label"><%= t('roll_no') %></label>: <label class="infolbl themed_text"> <%= @student.roll_number.present? ? @student.roll_number : "-" %></label>
            </div>
          <% end %>
        </div>
      </div>
      <div class="extender"></div>
      <% reports = GroupedExamReport.find_all_by_student_id_and_score_type(@student.id,'c') %>
      <% if reports.empty? %>
        <p class="flash-msg"> Exam groups have not been connected for this batch. Please connect exams and generate reports again.</p>
      <% else %>
        <% grades = [] %>
        <% grade_type = "normal" %>
        <% grade_type = "GPA" if @student.batch.gpa_enabled? %>
        <% grade_type = "CWA" if @student.batch.cwa_enabled? %>
        <% if grade_type == "GPA" %>
          <% @total_grade_points = 0 %>
          <% @total_credit_hours = 0 %>
          <% cgpa_setting = Configuration.find_by_config_key("CgpaType") %>
          <% @cgpa_type = cgpa_setting.config_value unless cgpa_setting.nil?  %>
        <% end %>
        <% @batches.each do|batch| %>
          <% st_mark = GroupedExamReport.find_by_batch_id_and_student_id_and_score_type(batch.id,@student.id,"c") %>
          <% unless st_mark.nil? %>
            <% general_subjects = Subject.find_all_by_batch_id(batch.id, :conditions=>"elective_group_id IS NULL AND is_deleted=false") %>
            <% student_electives = StudentsSubject.find_all_by_student_id(@student.id,:conditions=>"batch_id = #{batch.id}") %>
            <% elective_subjects = [] %>
            <% student_electives.each do |elect| %>
              <% elective_subjects.push Subject.find(elect.subject_id) %>
            <% end %>
            <% @subjects = general_subjects + elective_subjects %>
            <% @subjects.reject!{|s| (s.no_exam_for_batch(batch.id))} %>
            <% unless @subjects.empty? %>
              <div class="batch-name"><%= batch.full_name %></div>
              <% total_credits=0 %>
              <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
                <tr class="tr-head">
                  <td><%= t('subject_code') %></td>
                  <td><%= t('subject_title') %></td>
                  <% if grade_type=="GPA" or grade_type=="CWA" %>
                    <td><%= t('credit_hours') %></td>
                    <td><%= t('marks') %></td>
                    <td><%= t('remarks_text') %></td>
                  <% else %>
                    <td><%= t('percentage') %>(%)</td>
                    <td><%= t('remarks_text') %></td>
                  <% end %>
                </tr>
                <% @subjects.each do |s| %>
                  <% subject_average = GroupedExamReport.find_by_student_id_and_subject_id_and_score_type(@student.id,s.id,"s") %>
                  <% unless subject_average.nil? %>
                    <tr class="tr-<%= cycle('odd', 'even') %>">
                      <% if @student.has_retaken_exam(s.id) %>
                        <td class="col-1"> <%= s.code %> - <label class="infolbl themed_text"><%= t('retaken') %></label></td>
                      <% else %>
                        <td class="col-1"> <%= s.code %></td>
                      <% end %>
                      <td class="col-1"> <%= s.name %></td>
                      <% if grade_type=="GPA" or grade_type=="CWA" %>
                        <td class="col-2"><%= s.credit_hours %></td>
                        <% total_credits = total_credits + s.credit_hours.to_f %>
                        <td class="col-2"><%= subject_average.present? ? subject_average.marks : "-" %></td>
                        <% if @cgpa_type == "1" %>
                          <%  @total_grade_points += s.credit_hours.to_f * subject_average.marks  %>
                          <%  @total_credit_hours += s.credit_hours.to_f %>
                        <% end %>
                        <td class="col-3" ><%=generate_remark_section("student_transcript",@student.id,nil,s.id,{:batch_id=>batch.id,:student_id=>@student.id,:subject_id=>s.id})%></td>
                      <%else%>
                        <td class="col-2"><%= subject_average.present? ? subject_average.marks : "-" %></td>
                        <td class="col-3" ><%=generate_remark_section("student_transcript",@student.id,nil,s.id,{:batch_id=>batch.id,:student_id=>@student.id,:subject_id=>s.id})%></td>
                      <% end %>


                    </tr>
                  <% end %>
                <% end %>
                <% if grade_type=="GPA" or grade_type=="CWA" %>
                  <tr class="tr-blank"></tr>
                  <tr class="tr-head">
                    <td colspan="2" align="right"><%= t('total') %></td>
                    <td><%= total_credits %></td>
                    <td>-</td>
                  </tr>
                <% end %>
              </table>
              <div class="grade_types">
                <% unless st_mark.nil? %>
                  <% mark = st_mark.marks || 0 %>
                <% else %>
                  <% mark=0 %>
                <% end %>
                <% grades << mark %>
                <% if grade_type=="CWA" %>
                  <div class="grade_type"><%= t('combined_weighted_average') %> : <span class="themed_text"><%= mark==0 ? "-" : mark %> </span></div>
                <% elsif grade_type=="GPA" %>
                  <div class="grade_type"><%= t('batch_wise_cumulative_grade_point_average') %> : <span class="themed_text"><%= mark==0 ? "-" : mark %></span></div>
                <% else %>
                  <div class="grade_type"><%= t('combined_percentage') %> : <span class="themed_text"><%= mark==0 ? "-" : mark %></span></div>
                <% end %>

              </div>
            <% end %>
          <% end %>
        <% end %>
        <% unless grades.count.to_f==0%>
          <%  if @cgpa_type == "1" %>
            <% cgpa = @total_grade_points / @total_credit_hours%>
            <% cgpa = 0 if cgpa.nan? %>
          <% else %>
            <% cgpa = (grades.sum.to_f)/(grades.count.to_f) %>
          <% end %>
        <% else %>
          <% cgpa=0 %>
        <% end %>
        <div class="grade_types">
          <% if grade_type=="GPA" %>
            <% designations = ClassDesignation.find(:all,:conditions=>["cgpa <= ? AND course_id = ? ",cgpa,@student.batch.course_id],:order=>"cgpa DESC") %>
            <div class="grade_type"><%= t('course_wise_cumulative_grade_point') %> : <span class="themed_text"><%= "%.2f" %(cgpa) %></span></div>
          <% else %>
            <% designations = ClassDesignation.find(:all,:conditions=>["marks <= ? AND course_id = ?",cgpa,@student.batch.course_id],:order=>"marks DESC") %>
            <% if grade_type=="CWA" %>
              <div class="grade_type"><%= t('course_wise_combined_weighted_average') %> : <span class="themed_text"><%= "%.2f" %(cgpa) %></span></div>
            <% else %>
              <div class="grade_type"><%= t('course_wise_combined_percentage') %> : <span class="themed_text"><%= "%.2f" %(cgpa) %></span></div>
            <% end %>
          <% end %>
          <div class="grade_type"><%= t('class_designations_text') %> : <span class="themed_text"><%= designations.empty? ? "-" : designations.first.name %></span></div>
        </div>
      <% end %>
    </div>
    <div class="extender"></div>
    <%=generate_common_remark_section("student_transcript_general",@student.id,nil,@batch.id,{:batch_id=>@batch.id,:student_id=>@student.id})%>
  </div>
</div>
<script type="text/javascript">
  function completeReq(elm){
    j(elm).removeAttr('onclick')
    new Ajax.Request('/remarks/edit_remarks',{
      parameters:'student_id='+elm.getAttribute('student_id')+'&target_name='+elm.getAttribute('target_name')+'&object_id='+elm.getAttribute('object_id')+'&load_object_id='+elm.getAttribute('load_object_id')+'&params_hash='+elm.getAttribute('params_hash'),
      asynchronous:true,
      evalScripts:true,
      method:'get',
      onComplete:function(resp){
        j(elm).parent().append(resp.responseText);
        j(elm).hide();
      }
    });
  }
</script>