<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="page-yield">
    <div class="hor_line"></div>

    <div class="extender"> </div>
    <div class="report">
        <div id ="main_info">
            <h3><%= t('overall_ranking_per_attendance') %>: <%= @data_hash[:batch].name %> - <%= @data_hash[:batch].course.full_name %> | <%=format_date(@data_hash[:start_date])%> - <%=format_date(@data_hash[:end_date])%></h3>

        </div>
        <div id="pdf-info">
            <% c = 'even' %>
            <table id="pdf-table" width="100%" cellspacing="0">
                <thead>
                    <tr class="table-header">
                        <td><%= t('sl_no') %></td>
                        <td><%= t('name') %></td>
                        <td><%= t('adm_no') %></td>
                        <% if roll_number_enabled? %>
                          <td><%= t('roll_no') %></td>
                        <% end %>
                        <td><%= t('working_days') %></td>
                        <td><%= t('attended') %></td>
                        <td><%= t('percentage') %></td>
                        <td><%= t('rank') %></td>
                    </tr>
                </thead>
                <% i = 0 %>
                <% @data_hash[:ranked_students].each_with_index do |student,ind| %>
                  <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td class="col-pdf"><%= ind+1 %></td>
                      <td class="col-pdf"><%= student[5].full_name %></td>
                      <td class="col-pdf"><%= student[5].admission_no.present? ? student[5].admission_no : "-" %></td>
                      <% if roll_number_enabled? %>
                        <td class="col-pdf"><%= student[5].roll_number.present? ? student[5].roll_number : "-" %></td>
                      <% end %>
                      <td class="col-pdf"><%= student[3] %></td>
                      <% if student[6] == 0 %>
                        <td class="col-1"><%= "-" %></td>
                        <td class="col-1"><%= "-" %></td>
                        <td class="col-1"><%= "-" %></td>                
                      <% else %>
                        <td class="col-1"><%= "#{student[4]} / #{student[6]}" %></td>
                        <td class="col-1"><%= "#{student[1]}" %></td>
                        <td class="col-1"><%= student[0] %></td>                
                      <% end %>
                  </tr>
                  <% i+=1 %>
                <% end %>
            </table>
        </div>
    </div>


</div>
