<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('courses_text') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('new_text') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="box">

    <% form_for setup_course(@course) do |f| %>

      <%= error_messages_for :course %>

      <div class="label-field-pair">
        <div class="label-container1"><%= "#{t('course_name')}" %></div>
        <div class="input-container"><%= f.text_field :course_name %></div>
      </div>

      <div class="label-field-pair">
        <div class="label-container1"><%= "#{t('section_name')}" %></div>
        <div class="input-container"><%= f.text_field :section_name %></div>
      </div>

      <div class="label-field-pair">
        <div class="label-container1"><%= "#{t('code')}" %></div>
        <div class="input-container"><%= f.text_field :code %></div>
      </div>

      <div id="grading">
        <% unless @grade_types.blank? %>

          <div class="label-field-pair">
            <div class="label-container"><%= f.label "Grading System type" %></div>
            <div class="text-input-bg"><%= f.select :grading_type,@grade_types %></div>
          </div>
        <% end %>
      </div>
      <div class="label-field-pair">
        <div class="label-container"><%= f.label "#{t('enable_elective_selection')}" %></div>
         <div class="checkbox-input-bg">
            <%=  check_box :course, :enable_student_elective_selection, :checked => false %>
        </div>
      </div>

      <h4><%= t('initial_batch') %></h4>

      <% f.fields_for :batches do |batch_form| %>

        <div class="label-field-pair">
          <div class="label-container"><%= batch_form.label "#{t('name')}" %></div>
          <div class="input-container"><%= batch_form.text_field :name %></div>
        </div>

        <div class="label-field-pair">
          <div class="label-container"><%= batch_form.label "#{t('academic_year')}" %></div>
          <div class="text-input-bg"><%= batch_form.select :academic_year_id, options_for_select([["#{t('select_an_academic_year')}",'']] + @academic_years.map{|ay| [ay.name, ay.id]}, :selected => batch_form.object.academic_year_id) %></div>
          <div id="academic_year_helper"><%= t('select_academic_year_for_linking_exam_groups') %></div>
        </div>

        <div class="label-field-pair">
          <div class="label-container"><%= batch_form.label "#{t('start_date')}" %></div>
          <div class="input-container"><%= calendar_date_select_tag 'course[batches_attributes][0][start_date]', I18n.l(@start_date ,:format=>:default), :year_range => 30.years.ago..10.years.from_now,  :popup=>"force" %></div>
        </div>

        <div class="label-field-pair">
          <div class="label-container"><%= batch_form.label "#{t('end_date')}" %></div>
          <div class="input-container"><%= calendar_date_select_tag 'course[batches_attributes][0][end_date]', I18n.l(@end_date ,:format=>:default), :year_range => 30.years.ago..10.years.from_now, :popup=>"force" %></div>
        </div>
      <% end %>

      <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button", :disable_with => "► #{t('please_wait')}" %>

    <% end %>

    <div class="extender"></div>
  </div>
</div>
<script type="text/javascript">
  function toggle_grading(){
    if($('course_cce_enabled').checked){
      $("grading").hide();
      $('course_grading_type').value="Normal"
    }
    else{
      $("grading").show();
    }
    return true;
  }
</script>
