#page-yield {
    font-family: arial !important;
    page-break-after: always;
}

.fleft {
    float: right;
    margin: 0px auto !important;
}

.fright {
    /*float: right;*/
    float: right;
    margin: 0px auto !important;    
}

.width90 {
    /*min-width: 90px;*/
    min-width: 85px;
    max-width: 90px;
}

.width125 {
    width: 125px;
}

.width150 {
    min-width: 100px;
    max-width: 150px;
}

.width200 {
    /*min-width: 200px;*/
    width: 310px;
    /*max-width: 200px;*/
}

.width250 {
    min-width: 250px;
    max-width: 250px;
}

.width360 {
    width: 400px;
    /*width: 360px*/
}

.width400 {
    width: 400px;
}

.width420 {
    width: 420px;
}

.width800 {
    width: 800px;
}

.width850 {
    width: 850px;
}

.width950 {
    width: 950px;
}

.left-box, .right-box {
    margin-top: 20px;  
}

.left-box div, .right-box div {
    /*min-height: 30px;*/
    /*min-height: 20px;*/
    padding: 1px 0px 1px 2px;
    margin-right: 45px;
}
#basic_info_section{
    font-size: 11px; 
}

.margin-top30 {
    /*margin-top: 10px;*/
    margin-top: 5px;
    margin-bottom: 15px;
}

.margin-left20 {
    width: 76%;
    /*margin-left: 20px;*/
}

.margin-left475 {
    margin-right: 475px;
}

.margin-left5 {
    margin-right: 5px;
}

.margin-right20 {
    margin-left: 20px;
}

table td {
    height: 10px !important;
    /*padding: 5px 5px 5px 10px;*/
    padding: 1px 10px 1px 2px;

}

.bold {
    font-weight: bold;
    color: #000 !important;
}

.extender {
    height: 1px;
    clear: both;
}

table {
    border-collapse: collapse;
}

.td-border-none td {
    border-bottom: none;
    border-top: none;
    /*color: #999999;*/
}

.td-border-top-none td {
    border-top: none;
    /*color: #999999;*/
}

.font-size-13 {
    /*font-size: 17px;*/
    font-size: 12px;
}

.label_part {
    /*color: #999999;*/
}

:not(table) {
    /*font-size: 14px;*/
    /*font-size: 10px;*/
}

#overall-receipt-box {
    padding-bottom: 12px;
    border: 1px solid #999999;
}

.margin-set-default {
    margin: 0 auto;
}

.margin-set-left-right {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: -10px;
}

.height50 {
    height: 50px;
}

.margin-header {
    margin-top: -50px !important;
    margin-bottom: 1px !important;
}

.border-right-none {
    border-left: none;
}

.logo {
    height: 70px;
    width: 110px;
    float: right;
    margin-right: 10px;
    margin-top: -10px;
}
.institution_address{
    font-size: 13px;
    padding: 6px 0px 0px 0px;
    line-height: 18px;
}
.header-content {
    float: right;
    font-size: 16px;
    padding: 5px 0px 0px 0px;
    width: 635px;
    word-wrap: break-word;
    margin-right: 40px;
    /*margin-top: -15px;*/
}
.header-content p.institution_address{
    font-size: 13px;
    line-height: 18px;
    color: #000 !important;
    margin-top: 6px !important;
}
.recipt_name{
    float: right;
    width: 49%;
    margin-top: 2px;
}
.date_recipt{
    /*float: right;*/
    width: 47%;
    text-align: left;
    margin-top: 3px !important;
    font-size: 11px;
}

#pdf-header {
    width: 800px;
    padding-top: 0px;
    margin: 0 auto;
    overflow: hidden;
    /*margin-top: -2px;*/
    height: auto;
    /*min-height: 25px!important;*/
    /*max-height: 50px!important;*/
    margin-bottom: -50px;
    font-size: 10px !important;

}

.border-left-none {
    border-right: none;
}

.header-content p {

}

.header-content p {
    margin-top: 2px !important;
    /*height: 1px;*/
    color: #000;
}

.remarks {
    height: auto !important;
    word-wrap: break-word;
}

.break_page {
    page-break-before: auto;
    page-break-inside: avoid;
    border-collapse: collapse;
}

#page-yield {
    page-break-inside: auto;
    margin-top: -50px;
    font-size: 10px;
}

.margin-right5 {
    margin-left: 5px;
}

.amount-paid-left {
    float: right;
    /*width : 38%;*/
    width: 40%;
    font-size: 11px;
    margin-top: -4px;
    margin-right: 4px;
    /*font-weight: bold;*/
}

.amount-paid-right {
    /*width: 100%;*/
    width: 59%;
    float: left;
}
.top{
    width: 800px;
    margin: 0 auto;
    min-height: 15px;
}
.top_pay{
    margin: 0 auto;
    min-height: 15px;
    width: 800px;
}
.amount-adjust{
    margin-right: 110px !important;
}
.total_amount_title{
    width: 50%;
    margin-left: 30px !important;
    margin-right: 44% !important;
}
.total_amount{
    width: 50%;
}
.footer_part{
    margin: 0 auto;
    height: 70px;
    width: 100%;
}
/*pdf-footer{
    font-size: 10px;
}*/
#pdf-footer-second{
    font-size: 14px;
    /*float: right;*/
    margin-left: 30px;
    color: #999999;
    width: 100%;
    margin-top: 20px;
}
.amount-alignment-style{
    text-align: left;
    padding: 1px 10px 1px 12px;
}
.width100{
    width: 100%;
}
.width100val{
    min-width: 80%;
    max-width: 80%;
}
.width100key{
    min-width: 13%;
    max-width: 13%;
}
.note_part{
    width: 70%;
    float: right;
    margin: 0 auto;
    font-size: 10px;
    color: black;
}
.signature_part{
    width: 20%;
    float: left;
    margin-top: 50px;
}
.main_section{
    font-size: 11px;
    font-weight: bold;
}
.amount_in_words{
    font-weight: bold;
}
tr:nth-child(2) td {
    padding-top: 4px;
}
tr:last-child td {
    padding-bottom: 4px;
}
tr:first-child td {
    padding-bottom: 4px;
    padding-top: 4px;
}

.top .title_top, .top .receipt_no, .top .date_top{ 
    width: 32% !important;
    padding: 1px 0px;
    font-weight: lighter;
    float: right;
}
.top .title_top{        
    font-size: 12px;
    padding-right: 10px;
    font-weight: bold;
}
.top .receipt_no{    
    text-align: center;
    font-size: 12px;
}
.top .date_top{    
    text-align: left;
    font-size: 11px;
}