.text-input-bg {
    float: right;
    margin: 0 40px 0 0;
}

.student-name {
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 30px 0 10px 0;
    width: 100%
}

.prev-next-links {
    float: left;
    width: 30px;
}

.prev-next-links a {
    background-color: #E7EEFF;
    color: #000;
    display: block;
    margin: 0 5px 0 0;
    text-decoration: none;
    font-weight: bolder;
    width: 10px;
    float: right;
}

.box {
    width: 750px;
    margin: 0px auto;
}

.user_button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
    margin: 0 auto;
    text-decoration: none;
    float: left;
}

.user_button:hover {
    background: #373B3F;
}

.submit_button {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 33px 0 0 5px;
    padding: 7px 10px;
    float: left;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.submit_button:hover {
    background: #373B3F;
}

.user_button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
    margin: 0 auto;
    text-decoration: none;
}

.user_button:hover {
    background: #373B3F;
}

.label-field-pair1 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 10px 0;
    float: right;
    /*    width:422px;*/
    padding-top: 10px;
    font-weight: 600;

}

.label-field-pair1 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 10px 0 0;
    /*    width : 100px;*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 6px 13px;
}

.text-input-bg {
    float: right;
    margin: 0 40px 0 0;
    background: none repeat scroll 0 0 transparent;
    float: right;
    height: 28px;
    width: 130px;
}

.next a {
    float: right;
    -moz-border-radius: 40px;
    -webkit-border-radius: 15px;
    width: 25px;
    height: 25px;
    padding: 5px;
    background: #fff;
    text-align: left;
    color: #121212;
    font-size: 22px;
    text-decoration: none;
    outline: none;
    display: block;
}

.prev a {
    float: right;
    -moz-border-radius: 40px;
    -webkit-border-radius: 15px;
    width: 25px;
    height: 25px;
    padding: 5px;
    background: #fff;
    text-align: right;
    color: #121212;
    font-size: 22px;
    text-decoration: none;
    outline: none;
    display: block;
}

.next a:hover, .prev a:hover {
    color: #9B0C12;
}

/*.month{*/
/*-moz-border-radius:8px;*/
/*-webkit-border-radius:8px;*/
/*width:400px;*/
/*background: #fff;*/
/*padding:6px 0;*/
/*text-align:center;*/
/*float:left;*/
/*font-size:16px;*/
/*color:#121212;*/
/*font-weight:bold;*/
/*margin:0px 6px;*/
/*}*/
#register {
    background: #C3D9FF;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    width: 100%
}

.header {
    width: 520px;
    margin: 0px auto;
    padding: 4px 0 1px;
}

.fine_info {
    float: left;
    height: 36px;
    width: auto;

}

.text-input-bg1 {
    background: none repeat scroll 0 0 transparent;
    float: right;
    height: 28px;
    margin: 0 10px 0 0;
    /*    width:130px;*/
}

.label-field-pair1 input:focus {
    background: #fff;
    border: 1px solid #9e0f15;
}

.name {
    color: #999999;
    float: right;
    width: 220px;
    font-weight: bold;
    font-size: 13px;
    height: 2px;
}

.details {
    /*margin-bottom: 45px;*/
    padding-bottom: 15px;
}

.height-fixer {
    width: 968px;
    min-height: 15px;
}

.val {
    width: 750px;
    color: #bb0000;
    font-weight: bold;
    font-size: 13px;
    float: right;
}

.val span {
    margin-left: 12px;
    color: black;
}

.val-align {
    float: left;
    width: 730px;
    word-wrap: break-word;
}

.label-field-pair2 label {
    color: #444;
    display: block;
    font-size: 14px;
    float: right;
    width: 700px;
    padding-top: 10px;
    font-weight: 600;

}

.label-field-pair2 {
    float: left;
}

.text-input-bg2 {
    float: right;
    background: none repeat scroll 0 0 transparent;
    float: right;
    height: 28px;
    width: 130px;
}

.label-field-pair2 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 10px 0 0;
    width: 100px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
    float: right;
}

.label-field-pair2 input:focus {
    background: #fff;
    border: 1px solid #9e0f15;
}

.pay_fees {
    margin-bottom: 35px;

}

table#listing td a {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    /*color: #FFFFFF;*/
    cursor: pointer;
    float: left;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: -34px auto 0;
    padding: 7px 10px;
    text-decoration: none;
}

table#listing td a:hover {
    background: #373B3F;
    color: #fff;
    text-decoration: none;
}

td span {
    color: #990A10;
}

table#listing td.col-8 {
    padding: 5px 10px 5px 5px;
    width: 10%;
    text-align: left;
}

.pay_fees_buttons a {
    float: left !important;
    margin: 33px 10px 0 !important;
}

.pay_fees_buttons input {
    float: left;
}

.loader_div {
    float: right;
    margin: 7px -110px 0 0;
}

#loader {
    margin: -5px 5px 1px 0px;
}

.pay_fees {
    margin-bottom: 14px;
    float: right;
    width: 924px;
}

.label-field-pair3 {
    height: 40px;
    /*width: 165px;*/
    float: right;
    padding-top: 3px;
}

.text-input-bg3 {
    background: transparent;
    height: 28px;
    width: 250px;
}

.seprate_div {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
    margin-top: 30px;
    width: 30px;
    float: right;
    display: block;
    width: 100%;
}

.label-field-pair3 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 130px;
    padding-top: 10px;
    font-weight: 600;
    /*margin-right: 16px;*/
    padding-bottom: 5px;
    font-weight: bold;
}

.label-field-pair3 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0px 0 0;
    width: 150px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}

.text-input-bg3 select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 10px 0 0;
    width: 160px;
    height: 29px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.label-field-pair4 {
    height: 76px;
    width: 100px;
    float: left;
    padding-top: 3px;
    margin-left: 10px;
}

.label-field-pair5 {
    /*    height: 76px;*/
    width: 88px;
    float: right;
    padding-top: 3px;
    padding-right: 32px;
}

.text-input-bg4 {
    background: transparent;
    height: 28px;
    width: 250px;
}

.label-field-pair4 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-right: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}

.label-field-pair5 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-right: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}

.label-field-pair4 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 10px 0 0;
    width: 88px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}

.label-field-pair5 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 10px 0 0;
    width: 200px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}

.text-input-bg4 select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 10px 0 0;
    width: 215px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.label-field-pair3-text-area {
    height: 70px;
    padding-top: 16px;
    width: 460px;
    float: right;
}

.label-field-pair3-text-area label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    /*margin-right: 48px;*/
    padding-bottom: 5px;
    font-weight: bold;
}

.textarea-input-bg {
    background: none repeat scroll 0 0 transparent;
    margin-right: 25px;
}

.label-field-pair3-text-area textarea {
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    margin: 5px 9px 0 0;
    padding: 5px;
    width: 518px;
    height: 17px;
    position: relative;
    font-size: 13px;
}

.label-field-pai3r-text-area textarea:focus {
    background: #FFFFFF;
    border: 1px solid #9E0F15;
}

table#listing {
    margin-bottom: 30px;
    padding: 20px 20px 20px;
    float: right;

}

table#listing td.col-1 {
    width: 7%;
    padding: 5px;
    padding-right: 10px;
}

#payments_details {
    margin-top: 20px;
    background: #c3d9ff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

h4 {
    float: left;
}

.cancel a {
    background: none !important;

    margin: -10px 0px 2px 4px !important;
    padding: 0 !important
}

.cancel {
    margin-top: 10px;
}

table#listing1 tr.tr-head {
    height: 30px;
    background: #fff;
    color: #990a10;
    font-weight: bold;
    text-align: center;
}

tr.tr-blank {
    height: 10px;
}

table#listing1 .tr-odd {
    background: #fff;
    text-align: center;
    padding: 50px;
    color: #27292b;
    font-weight: normal;
    font-size: 14px;
}

table#listing1 .tr-even {
    background: #f1f6ff;
    text-align: center;
    padding: 50px;
    color: #27292b;
    font-weight: 600;
    font-size: 14px;
}

.col-2 {
    max-width: 200px;
    text-align: center;
}

table#listing1 {
    background: #c3d9ff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px 20px 40px;
}

table#listing1 {
    margin-bottom: 0px;
    padding: 20px 20px 38px;
    float: right;
    margin-top: 10px;

}

table#listing1 td.col-1 {
    width: 7%;
    padding: 5px;
    padding-right: 10px;
}

table#listing1 td a {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    /*    color: #FFFFFF;*/
    cursor: pointer;
    float: left;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: -34px auto 0;
    padding: 7px 10px;
    text-decoration: underline;
}

table#listing1 td a:hover {
    background: #373B3F;
    /*    color: #fff;*/
    text-decoration: underline;
}

table#listing1 td.col-8 {
    padding: 5px 10px 5px 5px;
    width: 10%;
    text-align: left;
}

#fine_fee {
    width: 100px !important;
}

.fleft {
    margin-top: 5px;
    float: right;
}

.payment_box {
    -webkit-border-radius: 10px;
    background: #eee;
    border: 1px solid #c6c6c6;
    width: 80px;
    /*float:right;*/
    padding-right: 6px;
}

table#listing td.col-6 {
    width: auto;
}

.delete_icon {
    background: url("/images/iconsprite-1.png");
    height: 20px;
    width: 25px;
    float: left;
    background-position: 3px -340px;
    margin-top: -1px;

}

table#listing1 td .delete_icon a {
    margin: 0 auto 0 !important;
    background: none !important;
}

.fright {
    margin-left: 20px;
    float: left;
}

.colln {
    float: right;
    max-width: 400px;
}

.actual-amount-width {
    width: 150px;
    text-align: right;
}

.height-26 {
    height: 26px

}

table#listing1 td {
    text-align: right;
    padding-right: 8px;
    word-break: break-all;
}

table#listing1 td a {
    background: none !important;
    border: medium none;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    padding: 7px 10px;
    text-decoration: none;
    margin-top: 0px !important;
    float: right;
    font-weight: normal;
    color: #27292b !important;
}

table#listing1 td a:hover {
    background: none !important;
    border: medium none;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    padding: 7px 10px;
    text-decoration: underline;
    margin-top: 0px !important;
    float: right;
    font-weight: normal;
    color: #27292b !important;
}

.special_case {
    height: auto;
    margin-top: 13px !important;
    float: right;
    margin-left: 35px
}

.pay_fees_buttons {
    float: left;
    margin-top: 18px;
}

table#listing1 .center_align {
    text-align: center !important;
}

#payment_mode {
    float: right;
    margin-right: 35px;
    margin-top: 16px;
}

.disabled-link {
    float: right;
    width: auto;
    cursor: auto;
}

/* print */
#print_button {
    float: left !important;
}

.margin-set-batch {
    margin: -9px -11px 18px 10px;
}

#search_textbox input {
    background: #eee;
    float: right;
    border: 1px solid #c6c6c6;
    margin: -5px 10px 0 0;
    width: 198px;
    height: 22px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 4px 5px 0 0;
}

.common-label {
    padding-top: 0px;
    color: #555;
    font-size: 16px;
    float: right;
    float: right;
    min-width: 130px;
    font-weight: bold;
    margin-left:5px!important;
    word-break: break-word;
    max-width: 130px;
}

.autocomplete-w1 {
    position: initial;
    top: 0px;
    right: -90px;
    margin: 7px 17px 0 -6px;
    _background: none;
    _margin: 1px 0 0 0;
    font-size: 13px;
    background-color: #fefdf9;
    border-radius: 0px;
    width: 206px;
}

.autocomplete {
    border: 1px solid #C6C6C6;
    background: #fff;
    cursor: default;
    color: #000;
    text-align: right;
    max-height: 350px;
    overflow: auto;
    margin: -7px -7px 6px 5px;
    _height: 350px;
    _margin: 0;
    _overflow-x: hidden;
    width: auto !important;
}

.autocomplete .selected {
    background: #F8F1D1;
    color: #BB0000;

    /*    border-top:1px solid #990A10;
        border-bottom:1px solid #990A10;*/
}

.autocomplete div {
    cursor: pointer;
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete strong {
    font-weight: bold;
}

.each-detail {
    height: 90px;
}

.student-name-div {
    float: right;
    margin-left: 10px;
}

.change-student {
    float: right;
}

.autocomplete :after {
    content: "\200E‎";
}

.receipt-box {
    display: none;
    background: white;
    border: 1px solid darkgray;
    list-style: none;
    margin: 31px -90px 0px 0px;
    height: 76px;
    /*width: 165px;*/
    position: absolute;
    z-index: 1;
}

.overall-receipt {
    border-bottom: 1px solid darkgray;
}

.arrow_box {
    position: relative;
    z-index: 7;
    top: 24px;

}

.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    right: 27%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: white;
    border-width: 11px;
    margin-right: -13px;
}

.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: darkgray;
    border-width: 13px;
    margin-right: -15px;
}

.receipt-box li {
    padding: 5px;
    padding-bottom: 10px;
    height: 22px;
}

#page-yield .receipt-actions .receipt-box li a:hover {
    background: none !important;
    text-decoration: none !important;
}

tr .collection_column {
    color: #000;
}

tr .collection_column:hover {
    color: #000 !important;
}

.colln_or_recp_name {
    float: right;
    margin-left: 8px;
    word-break: initial;
    word-wrap: break-word;
    width: 150px;
}

table#listing1 td .collection_column {
    padding: 0 !important;
    font-size: 13px;
    /*color: blue !important;*/
    text-decoration: underline;
    /*font-weight: bold;*/
    display: inline-block;
    white-space: nowrap;
    margin-right: 5px;
}

.tooltip_wrapper {
    float: none;
    white-space: normal;
    display: inline;
}

.col-3 {
    max-width: 180px;
}

.label-underline {
    margin: 2px 0px 2px 0px;
    background: #e2dede;
    height: 1px;
    border: none;
}

.arrow_dominate {
    background: transparent;
    width: 26px;
    height: 25px;
    position: absolute;
    top: -24px;
    right: 23px;
    padding-right: 9px;
}

.min-width150 {
    min-width: 150px;
}

.tooltip_info {
    word-wrap:break-word;
    word-break:break-all;
}
.text-input-bg select {
    margin: 5px 11px 0 0;
}
.payment-mode{
    min-width: 80px;
    color: black!important;
    display: inline-block;
    /*font-weight: bold;*/
    vertical-align: middle;
    word-break: break-word!important;
    text-decoration: underline;
}
.receipts a:hover{
    background-color: transparent;
}

#page-yield .receipt-actions .receipt-box li:hover {
    display: block;
    background-color: rgb(225, 241, 246) !important;
}
.pay_fees_buttons h4{    
    margin-top: 40px;
    margin-bottom: 0px;
}