#student_profile_heading1 {
    clear: both;
    /*float: left;*/
    /*height: 50px;*/
    min-height: 50px;
    margin: -20px -60px 38px 0;
    padding: 0 60px 0 0;
    width: 100%;
}
#student_main_info1 span.name {
    color: #000000;
    float: right;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 13px 0 0;
    padding-left: 20px;
    width: 100%;
    font: bold;
}
#student_main_info1 span.course {
    color: #000000;
    float: right;
    font-size: 14px;
    margin: 10px 0 0;
    padding-left: 20px;
    width: 100%;
}
#student_main_info1 span.adm {
    color: #000000;
    float: right;
    font-size: 14px;
    margin: 5px 0 0;
    padding: 0;
    width: 100%;
}


.profile_info_label_top {
    padding-top:15px;
    padding-bottom:5px;
    height:25px;
    width:150px;
    text-align:left;
    padding-left:20px;
    float:right;
    font-weight:bold;
    color:#548ab2;
    background: #eff3fe;
    border-top:1px solid #bdcfff;
    margin-left:5px;
}
.profile_info_label_top2 {
    padding-top:15px;
    padding-bottom:5px;
    height:25px;
    width:150px;
    text-align:left;
    padding-left:20px;
    float:right;
    font-weight:bold;
    color:#548ab2;
    background: #dae6ff;
    border-top:1px solid #bdcfff;
    margin-left:5px;
}
.profile_info_label_top {
    padding-top:15px;
    padding-bottom:5px;
    height:25px;
    width:150px;
    text-align:left;
    padding-left:20px;
    float:right;
    font-weight:bold;
    color:#548ab2;
}
.user_button {
    margin-top:40px;
    margin-right:270px;
}

.parent-del-button {
    margin : 20px 600px 40px 0;
}
.profile_top_banner{
    position:absolute;
    float:left;
    padding-right:525px;
    margin-top:-12px;

}
.parent-edit-button{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    margin-right:10px;
    padding:7px 12px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
    float:right;
}
.parent-edit-button:hover{
    background: #373B3F;
}
.parent-edit-button a{
    color:#fff;
    text-decoration: none;
}
#guardians-links span{
    font-weight:600;
    color:#444444;
    margin-bottom: 10px;
    display:block;
    text-decoration: underline;
}
.button-pair{
    width:220px;
    margin:20px auto;
}
#new_profile_info_top {
    margin:30px auto;
    width:697px;

}

.fees{
    float: left;
    margin-top: -16px;
    font-size:14px;
    color:#000;
}
.user_button  {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    text-decoration: none;
    margin:25px 211px -1px auto;
    display: inline;
    float: none;
}
.user_button:hover{
    background:  #373B3F;
}


.line{
    padding-top: .5px;
    padding-bottom: .5px;
    width: 100%;
    background-color: #999;
    margin-top: 18px;
}
.check_box{
    float:right;
    padding-left:10px;
}
.paid_text{
    width:470px;
    margin-top:8px
}
.label-description{
    margin-bottom: 30px;
    margin-top: 8px;
    color: #666;
    text-align: right;
    margin-right: 30px;
}
#MB_window{
    width: 620px !important;
    right: 365px!important;
}
#student_preferences{
    width: 520px;
    margin: 30px auto;
}
