h4{
    color: #444;
}

.description {
    color: #A5A5A5;
    width: 100%;
    color: #666;
    margin-bottom: 30px;
    font-size: 13px;
}
.label_description{
    font-size: 13px;
    color: grey;
    margin: 10px 23px 30px 0px;
}

.label-radio-pair label{
    font-size: 14px;
    cursor: pointer;
    margin-right: 5px;
}

.label-radio-pair input{
    margin-right: 0px;
    padding:0px;
    float:right;
}

#submit_button{
    margin-right:0px;
    font-size: 13px;
    margin-top: 30px;
}
input[type="radio"]:checked + label {
    font-weight: bold;
}
.examples{
    margin: 10px 0 0 0 !important;
    text-decoration: underline;
    cursor: pointer;
}
#settings_enable{
    float: right;
    width: 50%
}