:focus {
    outline: none !important;
}
.flash-msg{
    font-weight: normal !important;
}
.flash-msg a,.flash-msg a:hover{
    color: #000;
    text-decoration: none;
}
.no_top_border {
    border-top: 0px !important;
}
.themed_hover_text {
    text-decoration: none;
    color: #333;
}
.timetable_summary_header{
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
    display: inline-block;
}
.summary_label{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}
.description{
    color: #999;
    margin-bottom: 40px;
    font-size: 13px;
    line-height: 20px;
}
.timetable_range {
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
}
.timetable_range label, .timetable_range .range {
    float: right;
    width: auto;
    margin-left: 20px;
}
.timetable_range .range{
    font-weight: bold;
}
.summary-table{
    width: 600px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.summary-header-row, .summary-row{
    display: inline-block;
    clear: both;
    width: 100%;
}
.summary-header-row {
    /*    margin-top: 20px;*/
    color: #666 !important;
    /*    border: 1px solid #ccc !important;*/
    background-color: #eeeeee !important;
    border-bottom: 0px !important;
}
.summary-row {
    font-size: 13px;
    /*    border: 1px solid #ccc;*/
    border-bottom: 0px;
    border-top: 1px solid #ccc;
    color: #333;
    margin-bottom: -4px;
}
.section_row .heading {
    font-weight: bold;
}
.summary-row:nth-child(n) {
    background-color: #f5f5f5;
}
.summary-row:nth-child(2n) {
    background-color: #fff;
}
.summary-row:first-child{
    border-top: 0px !important;
}
.summary-row .summary-col-1 {
    width: 380px;
    border-left: 1px solid #ccc;
    padding: 10px;
}
.summary-row .summary-col-2{
    width: 179px;
}
.summary-row .summary-col-1,
.summary-row .summary-col-2 {
    float: right;
    padding: 10px;
}










.manage_timetable_allocation_header {
    display: block;
    height: 50px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
.manage_timetable_allocation_header .timetable_label{
    margin-bottom: 10px;
}
.manage_timetable_allocation_header .timetable_range,
.manage_timetable_allocation_header .edit_link{
    font-size: 14px;
    float: right;
    margin-left: 20px;
}
.manage_timetable_allocation_header .timetable_range{
    font-weight: bold;
}
.manage_timetable_allocation_header .edit_link a,
.manage_timetable_allocation_header .edit_link a:hover{
    text-decoration: none;
}


.item-list {
    clear: both;
    padding: 10px 10px 0 0;
    margin: 0px auto;
    width: 550px;
}

.item-list li.heading1 {
    background: #eee;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
    height: 1.5em;
    width: 100%;
    list-style-type: none;
    padding: 8px 16px 0 0;
}
.heading1 .item-name {
    padding-right: 0px !important;
}
.heading1 .item-name, .heading1 .item-detail {
    font-weight: bold;
}

.item-list .listodd,
.item-list .listeven {
    border-bottom: 1px solid #ccc;
    color: #444;
    min-height: 1.5em;
    width: 100%;
    list-style-type: none;
    padding: 8px 16px 0 0;
    overflow: hidden;
}

.item-list .listodd ,
.item-list .listeven {
    background: #fff;
}
.item-list li div.item-name,
.item-list li div.item-detail {
    width: 220px;
    font-size: 13px;
    float: right;
    margin-right: 10px;
}
.item-list li div.item-detail {
    float: left;
    width: 100px;
    text-align: left;
    padding-left: 20px;
}

.item-list li div.item-name {
    padding-right: 15px;
}
.summary_section {
    margin-top: 40px;
    color: #444;
}
.section_heading {
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
}
.section_data {
    width: 500px;
    border: 1px solid #d4d4d4;
    height: auto;
    font-size: 13px;
}

.section_row:first-child {
    border-top: 0px !important;
}
.section_row {
    border-top: 1px solid #d4d4d4;
    min-height: 20px;
    line-height: 20px;
    padding: 5px;
}
.section_row:nth-child(even) {
    background-color: #efefef;
}
.section_row .section_column_1,.section_row .section_column_2, .section_row .section_column_3{
    float: right;
    padding-left: 5px;
}
.section_row .section_column_1{
    width: 310px;
    padding-right: 30px;
}
.section_row .section_column_2{
    width: 50px;
}
.section_row .section_column_3{
    width: 80px;

}
.section_head_row .section_column_1{
    padding-right: 0px !important;
    width: 340px !important;
}
.section_head_row .section_column_2{
    /*    width: 150px;*/
}
.row_hightlight{
    font-weight: bold;
}
.summary_sections_end{
    height: 1px;
    border-bottom: 1px solid #d4d4d4;
    margin-top: 30px;
    margin-bottom: 50px;
}
.batch_wise_heading {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
}
.employee_utilization_header, .employee_overlap_header, .subject_utilization_header {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: auto;
    display: inline-block;
}
.employee_utilization_header .label_pair, .employee_overlap_header .label_pair {
    width: 100%;
    display: inline-block;
}
.employee_utilization_header .label_pair .label, .employee_utilization_header .label_pair .title,
.employee_overlap_header .label_pair .label, .employee_overlap_header .label_pair .title{
    float: right;
}
.employee_utilization_header .label_pair .label, .employee_overlap_header .label_pair .label{
    min-width: 100px;
}
.employee_utilization_header .label_pair .title, .employee_overlap_header .label_pair .title{
    min-width: 200px;
}
.employee_utilization_header .header_description, .employee_overlap_header .header_description,
.subject_utilization_header .header_description{
    margin-top: 10px;
    font-size: 13px;
    color: #666;
}
.employee_list_table_header .label {
    float: right;
}
.employee_list_table_header .data {
    float: left;
}
.employee_list_table,.subjects_list_table {
    border: 1px solid #d4d4d4;
    font-size: 13px;
}
.employee_list_table_header,.subjects_utilization_table_header {
    background: #efefef;
    min-height: 30px;
    line-height: 30px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #d4d4d4;
}
.employee_list_rows {
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    display: inline-block;
/*    margin-top: -3px;*/
    margin-bottom: -3px;
}
.employee_row:first-child {
    border: 0px;
}
.employee_row {
    min-height: 15px;
    padding-right: 10px;
    border-top: 1px solid #d4d4d4;
    padding-top: 7px;
    padding-bottom: 8px;
    /*    display: flex;*/
}
.employee_list_table_header, .employee_overlap_table_header {
    background: #efefef;
    min-height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #d4d4d4;
    /*    display: flex;*/
}
.employee_overlap_table_header {
    /*    background: #efefef;
        min-height: 30px;
        line-height: 30px;
        border-bottom: 1px solid #d4d4d4;*/
    display: flex;
    width: 674px;
}
.employee_overlap_table_header .employee_list_column_1 {
    border-top: 0px;
    /*    width: 191px;*/
}
.employee_overlap_table_header .employee_list_column_2 {
    width: 458px;
    border-left: 0px;
    border-top: 0px;
}
.employee_list_column_1, .employee_list_column_2, .employee_list_column_3 {
    float: right;
    border-left: 1px solid #d4d4d4;
    padding-right: 5px;
    padding-left: 5px;
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 8px;
    border-top: 1px solid #d4d4d4;
}
.employee_list_column_1 {
    width: 195px;
    padding-right: 15px;
}
.employee_list_column_2 {
    width: 315px;
}
.employee_list_column_3 {
    width: 116px;
    border-left: 0px;
}
.employee_overlap_row {
    min-height: 15px;
    /*    padding-left: 10px;*/
    /*    border-top: 1px solid #d4d4d4;*/
    /*    padding-top: 7px;
        padding-bottom: 8px;*/
    display: flex;
    /*    min-height: 15px;*/
    /*    border-top: 1px solid #d4d4d4;*/
    display: flex;
    /*    overflow: auto;*/
}
.employee_overlap_row:first-child .employee_list_column_1,
.employee_overlap_row:first-child .employee_list_column_2,
.employee_overlap_row:first-child .employee_list_column_3{
    border-top: 0px;
}
.subject_header{
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
}
.subject_header .subject_header_column_1,
.subject_header .subject_header_column_2,
.subject_header .subject_header_column_3{
    float: right;
}
.subject_header_column_1 {
    width: 250px !important;
    padding-right: 0px !important;
}
.subject_header_column_2 {
    width: 200px !important;
}
.subject_header_column_3 {
    width: 200px !important;
}
.subject_header .subject_header_column_1 label, .subject_header .subject_header_column_1 .text,
.subject_header .subject_header_column_2 label, .subject_header .subject_header_column_2 .text,
.subject_header .subject_header_column_3 label, .subject_header .subject_header_column_3 .text{
    float: none;
    margin-top: 10px;
}
.subject_header .subject_header_column_1 .text,
.subject_header .subject_header_column_2 .text,
.subject_header .subject_header_column_3 .text{
    color: #444;
}
.table_label_pair .table_data{
    float: left;
}
.table_label_pair .table_label{
    float: right;
}
.subject_utilization_row {
    min-height: 18px;
    display: flex;
    border-bottom: 1px solid #d4d4d4;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.subject_list_rows {
    max-height: 329px;
    overflow-y: auto;
}
.subjects_utilization_table_header .subject_list_column_1 {
    width: 322px;
}
.subjects_utilization_table_header .subject_list_column_2 {
    width: 145px;
}
.subject_list_column_1 {
    padding-right: 0px;
}
.subject_list_column_1,  .subject_list_column_2,  .subject_list_column_3 {
    float: right;
    padding-right: 5px;
    padding-left: 5px;
}
.subject_list_column_1 {
    width: 330px;
    float: right;
}
.subject_list_column_2 {
    width: 147px;
    float: right;
}
.subject_list_column_3 {
    width: 147px;
    float: right;
}
.subject_utilization_row:last-child {
    border-bottom: 0px;
}
.subject_utilization_header .header_description {
    width: 450px;
    float: right;
    margin-left: 30px;
}
.manage_link {
    margin-top: 10px;
    width: 195px;
    float: right;
    text-align: left;
}
.summary_section a, .summary_section a:hover, .manage_link a, .manage_link a:hover{
    color: #444 !important;
    text-decoration: none;
}
a.allocation_links, a.allocation_links:hover{
    color: #000;
    text-decoration: none;
    display: block;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}
.not_eligible {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    background: url(/images/iconsprite-1.png) no-repeat -104px -64px;
}

.notifier {
    display: none;
    z-index: 8;
    position: absolute;
    pointer-events: none;
    color: #27292b;
    text-align: right;
    font-size: 13px;
    width: auto;
    padding: 10px;
    background: #FFFFFF;
    border: #989898 solid 1px;
    margin-top: -12px;
    margin-right: 22px;
    font-weight: normal !important;
    max-width: 440px;
}
.notifier:after, .notifier:before {
    content: "";
    position: absolute;
    top: 11px;
    border-style: solid;
    border-width: 7px 0px 7px 10px;
    display: block;
    width: 0;
    border-color: transparent;
}
.notifier:after {
    right: -10px;
    border-left-color: #fff;
    z-index: 1;
}
.notifier:before {
    right: -11px;
    border-left-color: #989898 !important;
    z-index: 0;
}
.row-hover{
    background-color: #eaf3fc !important;
}

#update_summary a,
.timetable_range #update_summary a:hover {
    text-decoration: none;
    background: #000;
    color: #fff !important;
    font-size: 13px;
    padding: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
#update_summary {
    float: right;
}