
#timetable {
    margin : 0 0 30px 0;
    float: right;
}
#timetable * {
    font-family: Arial !important;
}
#timetable div{
    float:right;
}
.timetable_tr {
    clear:both;
    height:52px;
}
.timetable_td {
    float:right;
    width:80px;height:50px;
    border:1px dotted #b00;
    background-color:#f5e9c8;
    font-size:small;
}
.timetable_td_top {
    float:right;
    width:80px; height:25px;
    border:1px dotted #800;
    padding-top:5px;
    text-align:center;
    background-color:#900;
    color:#fff;
    font-weight:bold;
    margin : 20px 0 0 0;
}
.timetable_td_left {
    float:right;
    font-size : 0.7em;
    width:50px;height:35px;
    border:1px dotted #800;
    padding-top:15px;
    text-align:center;
    background-color:#900;
    color:#fff;
    font-weight:bold;
}
.timetable_td_tl {
    float:right;
    width:52px;height:35px;
    padding-top:15px;
}
.tt-subject span{

    text-align:center;
    width:auto;
    font-size: 11px;
    font-weight: normal;
    color: #999999;
    margin-right:7px;
}
.class_timings span{
    margin-right: 20px;
}

.tt-subject .subject1 span{

    text-align:right;
    width:auto;
    padding-top: 0px;
    font-size: 13px;
    font-weight: normal;
    color: #333333 !important;
    float:right;
}
.tt-subject {

    width: 145px;
    height:100px;
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}
.selected_div {
    background-color: #ffeabc;
    margin-right: 10px;
}
.subjects {
    background-color:#f2d5b2;
    cursor : move;
    margin : 0 10px 10px 0;
    float : right;
    border : 1px solid #b00;
    width:78px; height:38px;
    font-size : small;
    padding-top : 10px;
    text-align : center;
}
#employee-list {
    float: right;
    height: auto;
    margin-bottom: 20px;
    width: 100%;
}
#errors {
    font-size : 0.9em;
    display:none;


}
.error-explanation {
    width: 400px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #999999;
    margin-right: 0px;
    margin-top: 30px;
    float:right;
}
#errors a {
    display: inline;
    text-decoration: none;
    font-size: 13px;
}
#page-yield #errors a:hover {
    color : #333333;
    text-decoration: none;
    display : inline;
}
#loader {
    margin : 0px 20px 0 0;
}
.submit-button{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-right:5px;
    padding:7px 10px;
}
.generate{
    height: 30px;
}
#box{
    margin: 0px auto;
    width: 1000px;
    margin-bottom: 30px;
    border:1px solid #999999;
    background-color: #e5e5e5;


}
td{
    font-weight: bold;
    font-size: 13px;
}
td.td-blank, td.loader, tr.tr-blank{
    width: 10px;
    background: #c3d9ff;
}

tr.blank td{
    height:  10px;
    background: #c3d9ff;
}
td .name{
    background: #e5e5e5;
    text-align: center;
    margin-right: 10px;
}
td .top{
    background: #fff;
    padding:5px 10px 5px 10px;
    text-align: center;
    color: #9f191f;
    font-weight: bold;
    font-size: 10px;

}
td .tt-subject .subject1{
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    margin-top: 10px;
    width: 100%;
    height: 35px;
}
.sub-line{
    width: 180px;
    min-height: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    margin-right: 7px;
    margin-left:10px;
    margin-bottom: 5px;
}
td .tt-subject .subject1 .sub-line{
    word-break: break-all;
}
.class_timing_tooltip .subject1{
    height: auto !important;
}
.class_timing_tooltip .subject1 .sub-line{
    word-break: normal !important;
}
.emp-line{
    width: 180px;
    min-height: 20px;
    font-size: 13px;
    font-weight: normal;
    color: #333333;
    margin-right: 15px;
    margin-left:10px;
}
td .tt-subject .employee{
    height: 15px;
    font-size: 13px;
    font-weight: normal;
    color: #999999;
    margin-top: 5px;
    margin-right: 7px;
    width: 125px;
    white-space: nowrap;
}
table {
    table-layout: fixed;
}
#table-viewer{background: #e5e5e5;}
tr{
    display: block;
    height:120px;
}
th, td.td{
    height:118px;
    overflow: visible;
    width: 145px;
}
td.td1{
    height:117px;

    width:48px;
}
.employees_subject{

    width:120px;
    padding:8px;
    text-align: center;
    margin:10px;
    cursor : pointer;
    color: #333333;
    font-size: 13px;
    position: relative;
    font-weight: normal;
    background: #eeeeee;
    border:1px solid #cccccc;
}
.employees_subject:hover{
    background: #eaf3fc;
}
.employee a {
    padding-top: 5px;
}
.drop{
    background: #fff;
    width: 145px;
    height: 100px;
    margin-right: 10px;
    float:right;
    cursor:pointer;
}
.drop:hover{
    background-color: #ffffcc;
}
h4{
    border-bottom:1px solid #dcdcdc;
    width: 900px;
    padding-bottom: 5px;
    margin-right:10px;
}

.subject1 span.themed_text{
    display:none;
    color: #bb0000;
    min-width: 75px;
    margin-right: 0px;
    margin-top: -31px;
    overflow-y: auto;
    max-height: 35px;
}

.subject1:hover span.themed_text {
    display: block;
    position: relative;
    background-color: #fff;
    border:4px solid #c3d9ff;
    color: #FFFFFF;
    padding: 5px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    padding-top:10px;
    color:#990A10;
    font-weight:bold;
    z-index: 2000;
    font-size: 12px;
    font-variant: small-caps;
}
.subject1:hover span .emp-name {
    cursor: pointer;
    color:#000;
    font-size: 10px;
    font-variant: small-caps;
}

#loadingmsg{
    font-weight:bold;
    text-align: center;
}

.drop{
    position: relative;
}

#timetable_end_date_2i, #timetable_start_date_2i, #timetable_end_date_3i, #timetable_start_date_3i {
    width: 55px;
}
#timetable_end_date_1i, #timetable_start_date_1i{
    width: 65px;

}
.submit_button {
    margin-top:20px;
    margin-right:210px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
#table{
    padding-right: 0px;
    border-collapse: collapse;
    margin:0px;

}
#table-days{
    width: 48px;
}
#weekday-header{

    background-color: #fff;
    height: 21px;
    font-size: 12px;

}
#table-viewer {
    overflow-y:hidden;
    min-height:360px;
    width:951px;
}
.employee_list {
    float: right;
    border-left: 1px solid #999999;
    min-height: 360px;
}
.employee_list table tr{
    height:119px;
    border-bottom: 1px solid #cccccc;
}
#table-days,#table{
    background-color: #e5e5e5;

}
.errorExplanation {
    border-radius: 10px 10px 10px 10px;
    height: auto;
    margin: 0px auto;
    padding: 16px 50px 20px 0;
    width: 400px;
    font-size: 14px;
}
.class_timings{
    height: 20px;
    margin-top: 5px;
    width:127px;
}
.tt-subject:hover{
    /*    background-color: #ffffcd;*/
}
.cross_symbol{
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position: -50px -33px !important;
    width: 13px;
    height: 13px;
    margin-right: 4px;
    margin-top: 3px;
}
.cross_section{
    float: left !important;
    margin-top: -5px;
    width: 20px;
    height: 20px;
    background-color: #000;
    opacity:0.7;

}
.cross_section img{
    margin-right: 4px;
    margin-top: 3px;
}
.inactive_div{
    display:none;
}
.red_back{
    background-color: #9c0000 !important;
}
#blank_timings{
    padding-top: 5px;
    float: right;
    margin-right: 5px;
    margin-top: 45px;
}
#overlay_area{
    z-index: +1;
    position: absolute;
}
.buttons_black{
    background-color: #333333;
    border: 1px solid #999999;
    cursor: pointer;
    padding: 7px 10px;
    margin-left: 10px;
    margin-right: 15px;
    float:right;
    color: #ffffff;

}
.buttons_white{
    background-color: #eeeeee;
    border: 1px solid #999999;
    cursor: pointer;
    padding: 7px 10px;
    margin-left: 10px;
    float:right;
    color: #000000;
}
#page-yield a.buttons_black:hover{
    color: #ffffff !important;
}
#page-yield a.buttons_white:hover{
    color: #000000 !important;
}

.tooltip {
    padding: 5px 10px;
    color: white;
    border-radius: 0px;
    box-shadow: 0 0 7px white;
    background: white;
    border: 1px solid #999999;
    display: none;
    margin-right: 50px;
    padding: 10px;
    position: relative;
    z-index: 1000;
    width:155px;
    height:auto;
}
.timing{
    font-size: 13px;
    margin-bottom: 10px;
    background: white;
    color: black;
    text-align: right;


}#problem_ct{
    float:none !important;
    margin-right: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
}
.problems div{
    margin-top: 15px;
}
ul li{
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: normal;
    max-width: 260px;
    color : #333333;
}
#links{
    margin-bottom: 15px;
}
.problems{
    float:none !important;
}
.big_errors_div{
    width: 1000px;
    overflow: auto;
    border: 1px solid #cccccc;
    border-right: none;

}
.small_errors_div{
    height : auto;
    width : 420px;
    position:absolute;
    top:10px;
    right:305px;
}
.div_1{
    float:right;
    width:400px;
    margin-right:30px;
    margin-left: 50px;
}
.div_2{
    float:right;
    width:400px;
    margin-left:30px;
}
.allotted{
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position: -3px -362px !important;
    width: 13px;
    height: 13px;
    margin-right: 4px;
    float:right;
}
.allotted span{
    margin-right:10px;
}
.cancelled{
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position: -34px 0px !important;
    width: 13px;
    height: 13px;
    margin-right: 4px;
    float:right;
}
.msg_text{
    margin-right: 25px;
    float: none !important;
    font-size: 13px;
}
#problem_ct1{
    float: none !important;
    margin-right: 20px;
    margin-top: 9px;
    font-size: 13px;
    font-weight: bold;
}
#descr_msg{
    margin-top: 30px;
    margin-right: 21px;
    font-size: 13px;
    margin-bottom: 15px;
    color: #666666;
}
.select_check_box{
    margin-top: 3px;
}
.select_check_box input{
    margin-left:0px;
}
.selected{
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position: -3px -362px !important;
    width: 13px;
    height: 13px;
    margin-right: 4px;
}
.selectable{
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position: -63px -363px !important;
    width: 13px;
    height: 13px;
    margin-right: 4px;
}
#employees{
    width:100%;
    float:right;
}
.assign_button{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-right:5px;
    margin-top:10px;
    padding:7px 10px;
}
.unassignable{
    display:none;
}
.assignable{
    display:block;
}
div.information_text{
    width: 100%;
    margin-right:10px;
    margin-top:30px;
    margin-bottom:15px;
}
div.information_text span{
    font-size: 12px;
    font-weight: normal;
    color: #666666;
}
.ovr_sec{
    width: 982px;
    float: none;
    position: absolute;
    background: black;
    opacity: 0.7;
    top: 275px;
    right: 161px;
    z-index: 1;
    display: none;
    right:0px;
    left:0px;
    margin: 0 auto;
}
.warning_text{
    width:100%;
    margin-top:30px;
}
.warning_text span{
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px;
}
.class_timing_tooltip{
    width:200px;
    border:1px solid #333333;
    position: absolute;
    z-index: 1;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}
.ctt_bottom{
    margin-top: 90px;
    margin-right: 10px;
}
.loader-image{
    float: left !important;
    margin-left: 25px !important;
}
#cancel_all{
    float: left;
    margin-left: 80px;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
}
.warning_img{
    float:right;
    background: url(/images/iconsprite-1.png) no-repeat center;
    background-position: -43px -342px  !important;
    width: 13px;
    height: 13px;
    margin-right: 30px;
    margin-top:1px;
}
.fright{
    float:left;
    margin-left:5px;
    margin-top:2px;
}
.elective_text{
    float: right;
    margin-right: 0px !important;
    font-size: 13px !important;
    display: block;
    margin-left: 35px;
}
.info_text{
    margin-top: 30px;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 5px;
    color: #666666;
}
#timetable .employees_subject:hover{
    background-color: #eaf3fc !important;
}
#timetable table#table .subject1 span{
    color:#333333 !important;
}
.border_bottom{
    border-bottom: 1px solid #cccccc;
}
.vertical{
    -ms-transform: rotate(2700deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    float: none !important;
    margin-right: 0px !important;
    width: 47px;
}


.block{
    width: 200px;
    padding-bottom: 15px;
}

.block .sub-line{
    margin-bottom: 0px !important;
}
.class_timing_tooltip .classtiming{
    color: #666;
    font-size: 14px;
    font-weight: bold;
}
.class_timing_tooltip .subject1{
    padding-bottom: 10px;
}
.class_timing_tooltip .col {
    width: 200px;
    border-right: 1px solid #ccc;
    padding-right: 10px;
    margin-right: -11px;
}
.class_timing_tooltip .col:first{
    border-right: 0px !important;
    padding-right: 0px !important;
}
.no_border{
    border: 0px !important;
}
td.break_td{
    max-width: 60px !important;
}
.break_timings {
    font-size: 13px;
    font-weight: normal;
    width: 50px;
    height: 100px;
    margin: auto 10px;
    border: 1px solid #999;
}
.break{
    transform: rotate(270deg);
    text-align: center;
    display: block;
    width: 100px;
    height: 50px;
    margin-right: -26px;
    margin-top: 25px;
}
.break_timings .break_label, .break_timings .break_ct {
    float: none !important;
    clear: both;
    display: block;
    text-align: center;
}
.break_timings .break_label{
    color: #333;
    margin-top: 10px;
}
.break_timings .break_ct {
    color: #999;
}