<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% unless @students.empty? %>
  <div id="list">
    <div class="sel-list">
      <%= t('select') %>: <%= link_to_function "#{t('all')}", "$$('input.right').each(function(checkbox) { j(checkbox).not(':disabled').prop('checked',true); });" %>,
      <%= link_to_function "#{t('none')}", "$$('input.right').each(function(checkbox) { checkbox.checked = false; });" %>
    </div>
    <div class="list-student">
      <div class="name_list">
        <% unless roll_number_enabled? %>
          <li class="att_list_names"><%= "#{t('student_name')} &#x200E; (#{t('admission_no')})" %> </li>
        <% else %>
          <li class="att_list_names"><%= "#{t('student_name')} &#x200E; (#{t('roll_no')})" %> </li>
        <%end %>
      </div>
      <div id="scroll-inside">
        <% @students.each do |student| %>

          <div class="name_list">
            <li>
              <label>
                <% if Configuration.enabled_roll_number? %>
                <% if @sms_setting.student_sms_active and @sms_setting.parent_sms_active %>
                  <%= check_box_tag "send_sms[student_ids][]", student.id, false,:class=>'right' ,:disabled => ((student.phone2.nil? or student.phone2 == "") and (student.mobile_phone.nil? or student.mobile_phone == "")) %>
                  <% unless ((student.phone2.nil? or student.phone2 == "") and (student.mobile_phone.nil? or student.mobile_phone == "")) %>
                    <div class="att_list_names"><%= "#{student.full_name} &#x200E;( #{(student.roll_number.nil? or student.roll_number.empty?) ? ('-'):(student.roll_number)} )&#x200E;" %></div>
                  <% else %>
                    <div class="hidden_list_names"><%= "#{student.full_name} &#x200E;( #{(student.roll_number.nil? or student.roll_number.empty?) ? ('-'):(student.roll_number)} )&#x200E;" %></div>
                  <% end %>
                <% elsif @sms_setting.student_sms_active %>
                  <%= check_box_tag "send_sms[student_ids][]", student.id, false,:class=>'right' ,:disabled => (student.phone2.nil? or student.phone2 == "") %>
                  <% unless (student.phone2.nil? or student.phone2 == "") %>
                    <div class="att_list_names"><%= "#{student.full_name} &#x200E;( #{(student.roll_number.nil? or student.roll_number.empty?) ? ('-'):(student.roll_number)} )&#x200E;" %></div>
                  <% else %>
                    <div class="hidden_list_names"><%= "#{student.full_name} &#x200E;( #{(student.roll_number.nil? or student.roll_number.empty?) ? ('-'):(student.roll_number)} )&#x200E;" %></div>
                  <% end %>
                <% elsif @sms_setting.parent_sms_active %>
                  <%= check_box_tag "send_sms[student_ids][]", student.id, false,:class=>'right' ,:disabled => (student.mobile_phone.nil? or student.mobile_phone == "") %>
                  <% unless (student.mobile_phone.nil? or student.mobile_phone == "") %>
                    <div class="att_list_names"><%= "#{student.full_name} &#x200E;( #{(student.roll_number.nil? or student.roll_number.empty?) ? ('-'):(student.roll_number)} )&#x200E;" %></div>
                  <% else %>
                    <div class="hidden_list_names"><%= "#{student.full_name} &#x200E;( #{(student.roll_number.nil? or student.roll_number.empty?) ? ('-'):(student.roll_number)} )&#x200E;" %></div>
                  <% end %>
                <% end %>
               <% else %>
                 <% if @sms_setting.student_sms_active and @sms_setting.parent_sms_active %>
                  <%= check_box_tag "send_sms[student_ids][]", student.id, false,:class=>'right' ,:disabled => ((student.phone2.nil? or student.phone2 == "") and (student.mobile_phone.nil? or student.mobile_phone == "")) %>
                  <% unless ((student.phone2.nil? or student.phone2 == "") and (student.mobile_phone.nil? or student.mobile_phone == "")) %>
                    <div class="att_list_names"><%= "#{student.full_name} &#x200E;( #{student.admission_no} )&#x200E;" %></div>
                  <% else %>
                    <div class="hidden_list_names"><%= "#{student.full_name} &#x200E;( #{student.admission_no} )&#x200E;" %></div>
                  <% end %>
                <% elsif @sms_setting.student_sms_active %>
                  <%= check_box_tag "send_sms[student_ids][]", student.id, false,:class=>'right' ,:disabled => (student.phone2.nil? or student.phone2 == "") %>
                  <% unless (student.phone2.nil? or student.phone2 == "") %>
                    <div class="att_list_names"><%= "#{student.full_name} &#x200E;( #{student.admission_no} )&#x200E;" %></div>
                  <% else %>
                    <div class="hidden_list_names"><%= "#{student.full_name} &#x200E;( #{student.admission_no} )&#x200E;" %></div>
                  <% end %>
                <% elsif @sms_setting.parent_sms_active %>
                  <%= check_box_tag "send_sms[student_ids][]", student.id, false,:class=>'right' ,:disabled => (student.mobile_phone.nil? or student.mobile_phone == "") %>
                  <% unless (student.mobile_phone.nil? or student.mobile_phone == "") %>
                    <div class="att_list_names"><%= "#{student.full_name} &#x200E;( #{student.admission_no} )&#x200E;" %></div>
                  <% else %>
                    <div class="hidden_list_names"><%= "#{student.full_name} &#x200E;( #{student.admission_no} )&#x200E;" %></div>
                  <% end %>
                <% end %>
               <% end %>
              </label>
            </li>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="label-field-pair msg_area">
    <div class="label-container"><label><%= t('message') %>:</label> </div>
    <div class="text-input-bg">
      <%= text_area :send_sms,:message, :rows=>5,:cols=>30 %>
    </div>
  </div>
  <%= submit_tag "#{t('send_sms')}",:class=>'submit_button', :id => 'submit_button' %>
  <%= image_tag("loader2.gif",
    :align => "absmiddle",
    :border => 0,
    :id => "loader2",
    :style =>"display: none;" ) %>
  <div class="note-area"><%= t('student_sms_note') %></div>
<% else %>
  <p class="flash-msg"> <%= t('no_students_found_in_the_batch') %> </p>
<% end %>