<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('sms_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('settings') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% ms_present = MultiSchool rescue false %>
  <% if ms_present %>
    <% assigned_package = MultiSchool.current_school.assigned_packages.first(:conditions=>{:is_using=>true}) %>
    <% if assigned_package.present? %>
      <% available_sms = assigned_package.sms_count.present? ? (assigned_package.sms_count.to_i - assigned_package.sms_used.to_i) : "#{t('unlimited')}" %>
      <% valid = assigned_package.validity.present? ? (assigned_package.validity.to_date >= Date.today ? "" : "(#{t('validity_expired')})") : "" %>
    <% else %>
      <% available_sms = 0 %>
    <% end %>
    <div class="message_balance"><%= t('available_sms') %> : <%= available_sms %> <%= valid %> </div>
  <% end %>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% form_for :sms_settings do |s| %>
    <div id="list">
      <div class="name_list<%=cycle('odd', 'even')%>"><li>
          <label><%= s.check_box :application_enabled, :checked=>@application_sms_enabled.is_enabled %>
            <div class="att_list_names"><%= t('application') %></div> </label>
        </li></div>
      <%= s.submit "#{t('update')}", :class=>'submit_button' %>
    </div>
  <% end %>
  <% unless @application_sms_enabled.is_enabled == false %>
    <h4><%= t('general_sms_setting') %>:</h4>
    <% form_for :general_settings, :url=>{:controller=>"sms",:action=>"update_general_sms_settings"} do |sms| %>

      <div id="list">
        <div class="name_list<%=cycle('odd', 'even')%>"><li>
            <label><%= sms.check_box :student_admission_enabled, :checked=>@student_admission_sms_enabled.is_enabled %>
              <div class="att_list_names"><%= t('student_admission') %></div> </label>
          </li>  </div>
        <div class="name_list<%=cycle('odd', 'even')%>"><li>
            <label> <%= sms.check_box :exam_schedule_result_enabled, :checked=>@exam_schedule_result_sms_enabled.is_enabled %>
              <div class="att_list_names"><%= t('exam_schedule') %> / <%= t('result') %></div> </label>
          </li>  </div>
        <div class="name_list<%=cycle('odd', 'even')%>"><li>
            <label><%= sms.check_box :student_attendance_enabled, :checked=>@student_attendance_sms_enabled.is_enabled %>
              <div class="att_list_names"><%= t('attendance') %></div> </label>
          </li>  </div>
        <div class="name_list<%=cycle('odd', 'even')%>"><li>
            <label><%= sms.check_box :news_events_enabled, :checked=>@news_events_sms_enabled.is_enabled %>
              <div class="att_list_names"><%= t('events') %></div> </label>
          </li>  </div>
        <div class="name_list<%=cycle('odd', 'even')%>"><li>
            <label><%= sms.check_box :fee_submission_enabled, :checked=>@fee_submission_sms_enabled.is_enabled %>
              <div class="att_list_names"><%= t('fee_submission_sms') %></div> </label>
          </li>  </div>
        <div class="name_list<%=cycle('odd', 'even')%>"><li>
            <label><%= sms.check_box :timetable_swap_enabled, :checked=>(@timetable_swap_sms_enabled.present? ? @timetable_swap_sms_enabled.is_enabled : false) %>
              <div class="att_list_names"><%= t('timetable_swap_sms') %></div> </label>
          </li>  </div>
        <div class="name_list<%=cycle('odd', 'even')%>"><li>
            <label><%= sms.check_box :sms_parents_enabled, :checked=>@parents_sms_enabled.is_enabled %>
              <div class="att_list_names"><%= t('send_sms_to_parents') %></div> </label>
          </li>  </div>
        <div class="name_list<%=cycle('odd', 'even')%>"><li>
            <label><%= sms.check_box :sms_students_enabled, :checked=>@students_sms_enabled.is_enabled %>
              <div class="att_list_names"><%= t('send_sms_to_students') %></div> </label>
          </li>  </div>
        <div class="name_list<%=cycle('odd', 'even')%>"><li>
            <label><%= sms.check_box :sms_employees_enabled, :checked=>@employees_sms_enabled.is_enabled %>
              <div class="att_list_names"><%= t('send_sms_to_employees') %></div> </label>
          </li>  </div>


        <%= sms.submit "#{t('update')}",:class=>'submit_button' %>
      </div>
    <% end %>
  <% end %>
</div>
