.label-field-pair{
    margin-top: 50px;
}


#list{
    margin-top: 30px;
    width: 100%;
    height: auto;
    font-size: 14px;
    color: black;
    margin-left: 10px;
    font-size: 13px;
}

.header{
    font-weight: bold;
    font-size: 14px;
}

ul{
    border-bottom: 1px solid #cccccc;

}



ul#display-inline-block-example,

ul#display-inline-block-example li {


    margin: 0;
    padding: 0;

}

ul#display-inline-block-example{
    padding: 10px 0px;
}

ul#display-inline-block-example li {

    display: inline-block;

    width: 186px;

    min-height: 40px;


    vertical-align: top;
/*    margin-top: 20px;*/
}

#item{
    margin-bottom: 3px;
}
ul.status_cancelled li span {
    text-decoration: line-through;
}
.changed{
    color: #777;
}
span.changed {
    text-decoration: none !important;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}