#current-changed-manager{
    border-bottom:3px solid #eeeeee;
    margin:0 0 25px 50px;
}

#current-manager-outer{
    margin:10px 0 10px 0;
}

#current-manager{
    width:250px;
    float:left;
    font-weight:bold;
}

#current-manager-name{
    float:left;
    font-weight:bold;
    color:#BB0000;
}

#changed-manager-outer{
    margin:10px 0 10px 0;
}

#changed-manager{
    width:250px;
    float:left;
    font-weight:bold;
    margin-top:7px;

}

#changed-manager-name{

    float:left;
    font-weight:bold;
    color:#BB0000;
    margin-top:7px;
}

#changed-manager-name .not-selected{
    color:#9d9d9d;
}
#sibling-selected{
    width:150px;
    height:50px;
    float:left;
}
#sibling-selected-name{
    margin-left: 40px;
    width:150px;
    height:50px;
    float:left;
}
.sibling{
    padding-top: 20px;
    height:60px;
    width:auto;
    margin-left: 50px;
    border-bottom: 3px solid #eeeeee;
    margin: 0 0 25px 50px;
}

#update-button {
    margin-left:10px;
    margin-top:-35px;
    float:left;
}


#search-options{
    margin:0 0 25px 50px;
    border-bottom:3px solid #eeeeee;
    padding-bottom:25px;
}

#search-outer{
    margin:10px 0 10px 0;
}

#search-label{
    width:250px;
    float:left;
    font-weight:bold;
    margin:12px 0 0 0;
}

#search-text-box{
    float:left;
    background : #fff url(../../images/form_bg/text-input-bg.png) no-repeat;
    height : 28px;
    width : 230px;
    margin:10px 0 25px 0;
}

#search-text-box input {
    background : transparent;
    border : 0;
    margin : 5px 0 0 10px;
    width : 210px;
}
#search-text-box #query:focus {
    background : transparent !important;
    border : none !important;
}
.employee-search-options{
    float:left;
    background : #fff url(../../images/form_bg/smalltextbox.jpg) no-repeat;
    height : 28px;
    width : 150px;
    margin:0 20px 0 0;
}

.employee-search-options select {
    background : transparent;
    border : 0;
    margin : 5px 0 0 10px;
    width : 135px;
}



#information{
    height:auto;
    width:auto;
    margin-left:0px;
    padding-left:50px
}

#no_result{
    font-weight:bold;
    color:#b00
}

#ajax_result {
    padding:10px 0 10px 0;
    text-decoration:none;
    width:204px;
    float:left;
    background:#fff url(../../images/student_details/ajax_result_underline.jpg) bottom left no-repeat
}
#ajax_result a{
    color:#000;
    font-weight:bold
}




#view_all {margin-left:50px;}
#view_all a {font-weight:bold;color:#000;}

#search_box_bg{width:714px;padding-left:50px;margin-top:10px; overflow: hidden; height:50px;padding-top:10px; }

#search_box_bg label{padding-top:0px;color:#555;font-size:16px; float:left; width:160px; font-weight: bold;}
#search_textbox input{
    background : #eee;
    float:left;
    border : 1px solid #c6c6c6;
    margin : -5px 0 0 10px;
    width : 180px;
    height:22px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 4px 0 0 5px;
}

.radio_button{width:400px; margin-top:0px; height:25px;color:#555; float:left; font-size:13px;}
#information{height:auto;width:100%;margin:0px auto;padding-left:0px; margin-top:30px;}
#no_result{font-weight:bold;color:#b00}
#ajax_result {padding:10px 0 10px 0;width:204px;float:left;}
#ajax_result a{color:#000;font-weight:bold; text-decoration:none;}
#ajax_result a:hover{color:#9E0F15; text-decoration:underline;}

/* ALL STUDENT CSS */

#all_students{margin:0px; padding:0px; height:300px; width:725px; margin:20px 0 0 40px;}
#student_name{padding:10px 10px 10px 0;text-decoration:none;width:230px;float:left;background:#fff url(../../images/student_details/ajax_result_underline.jpg) bottom left no-repeat}
#student_name a {text-decoration:none;color:#000;font-weight:bold}
.students-on-one-line {
    background : #fff url(../../images/student_details/ajax_result_underline.jpg) bottom left repeat-x;
    overflow: auto;
    width:816px;
    margin-bottom: 20px;
}
#search_textbox input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}
body #content_wrapper{
    width:980px;
    height:auto;
}
#side_bar{
    float: left;
    width: 200px;
}
#content {
    padding-bottom:33px;
    float:left;
    width:980px;
    height: auto;
}
#sidebar_news_area{
    float: none;
}


