
#exam-results-dashboard {
    /*border-right: 1px solid #aaa;*/
    float: left;
    /*margin-left:150px;*/
    width: 35%;
}
#exam-results-dashboard h4 {
    margin: 15px 0 15px 0;
    padding: 0;
    font-size: 14px;
    color: #666;
}
#exam-results-dashboard h3 {
    /*color: #999999;*/
    margin: 0;
    padding: 10px 0 20px 0;
    font-size: 15px;
}
.exam-results-reports-col {
    float:left;
    width: 100%;
    max-width: 250px;
    margin-right: 50px;
}
.exam-results-reports-col ul,
#attendance-reports-dashboard ul {
    margin: 0;
    padding: 0;
    border: 1px solid #c8c3c3;
    margin-bottom: 40px;
}
.exam-results-reports-col ul li,
#attendance-reports-dashboard ul li {
    list-style-type: none;
}
.exam-results-reports-col ul li a,
#attendance-reports-dashboard ul li a {
    /*color: #444;*/
    text-decoration: none;
}
.exam-results-reports-col ul li a:hover,
#attendance-reports-dashboard ul li a:hover {
    color: #000;
    text-decoration: underline;
}
#attendance-reports-dashboard {
    /*color: #999999;*/
    float: left;
    padding: 0 0 0 40px;
    width: 23%;
    border-left: 1px solid #ccc;
}
#attendance-reports-dashboard h3 {
    /*color: #999999;*/
    margin: 0;
    padding: 10px 0 20px 0;
    font-size: 15px;
}
#attendance-reports-dashboard h4 {
    margin: 15px 0 15px 0;
    padding: 0;
    font-size: 14px;
    color: #666;
}

#compact_student_profile_heading{
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;  
    margin-bottom: 30px;
}

#compact_student_profile_heading #profile_picture_display{
    float: left;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    border: 4px solid #EFEFD1;
}
#compact_student_profile_heading #profile_picture_display img {
    width: 100%;
    height: 100%;
}
#combact_student_main_info {
    float: left;
    /*margin-left: 50px;*/
    width: 650px;
    font-size: 15px;
}
.combact_student_info_fields {
    width: 44%;
    float: left;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
span.combact_student_info_label {
    color: #444;
    float: left;
}
span.combact_student_info_value{
    font-weight: bold;
    float: left;
    max-width: 230px;
    margin-left: 7px;
}
.category-list .listodd {
    background: #DFEAFF;
    /*border-bottom: 1px solid #BECFFB;*/
    color: #444;
    /*min-height: 1.5em;*/
    min-height: 28px;
    overflow: auto;
    list-style-type: none;
    padding: 0.5em 0 0.3em 2em;
}
.category-list li label{
    width: 100%;
    min-height: 28px;
    display: table;
}
.category-name{
    vertical-align: middle;
    display: table-cell;
}

.category-list .listeven {
    background: #EEF2FD;
    /*border-bottom: 1px solid #BECFFB;*/
    color: #444;
    /*min-height: 1.5em;*/
    min-height: 28px;
    overflow: auto;
    list-style-type: none;
    padding: 0.5em 0 0.3em 2em;
}
.category-list li div a {
    color: black;
    font-size: 13px;
    text-decoration: none;
    /*font-weight: bold;*/
}
.category-list li:last-child{
    border-bottom: none;
}
#page-yield  .category-name a:hover{
    color: black !important;
}