/*style for partial*/
/* Table*/
th {
    text-align: left;
    padding-left: 20px;
    color: #333333;
    font: 700 15px / 40px Arial;
}
table.fees_table {
    width: 978px;
    border-collapse: collapse;
    border-color: #A3A3A3;
    border-width: 1px;
    border-style: solid;

}
.table_subtitle {
    height: 30px;
    width: 978px;
    background-color: #EEEEEE;
}
.table_subtitle td {
    color: #333333;
    font-size:13px;
    font-weight:700;
    font-family:Arial;
    height:30px;
    line-height:0px;
}
th.class44 {
    width: 44%
}
th.class20 {
    width: 20%
}
td {
    text-align: left;
    padding-left: 20px;
    color: #333333;
    font: 400 13px / 40px Arial;
    border-color: #EEEEEE;
    /*border-color: #A3A3A3;*/
    border-width: 1px;
    border-style: solid;
}
th {
    border-color: #EEEEEE;
    border-width: 1px;
    border-style: solid;
}
td a {
    text-decoration: none;
    color: inherit;
}
td a:hover {
    text-decoration: link;
    /*color: inherit;*/
}
tr.item {
    height:40px;
}
/*Accordian*/

.ui-state-default .ui-icon.down-arrow-img {
    background: url('/images/iconsprite-1.png') no-repeat -67px -3px;
    width: 10px;
    height: 6px;
}
.ui-state-default .ui-icon.up-arrow-img {
    background: url('/images/iconsprite-1.png') no-repeat -51px -3px;
    width: 10px;
    height: 6px;
}
.ui-icon {
    float: right;
    position: relative !important;
    margin-right: 20px; !important;
}
.ui-accordion .ui-accordion-content {
    padding: 0px !important;
}
.fees_list_item {
    margin-bottom: 20px !important;
    width:978px;
    /*border-width:0px !important;*/
    border-width: 1px;
    border-style: solid;
    border-color: #A3A3A3;
    border-radius:0px !important;
}
.ui-accordion-header {
    margin-top: 20px !important;
}
.ui-accordion-header-icon {
    margin-top:1px !important ;
}
.ui-accordion-header-active {
    border-color:#989898 !important;
}
.fees_list_title {
    background-color:#F4F4F4 !important;
    border-color:#D4D4D4 ;
    border-radius:0px !important;
    color: #262626 !important;
    font-family: Arial !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    height:15px;
    padding:20px !important;
    line-height: 1 !important;

}
.fees_list_title:hover {
    background-color:#F4F4F4 !important;
}
.payment_status {
    float:right;
    color: #999999;
    font-weight: 400;
    font-family: Arial;
    font-size: 13px;
    margin-right: 30px;
    /*font: 700 15px / 87.991px Arial;*/
}
.unpaid_count {
    color: #262626;
    font-size: 15px;
    font-weight: 700;
}
.payment_status_active {
    color: #262626;
}
h3.ui-state-disabled {
    opacity:1 !important;

}
.fee_name{
    white-space: normal !important;
}