<div id="highlight">
  <div class="today_date"><div class="new_exams_small"><%=t('today')%></div><div class="today_date_text"><%=format_date(Date.today,:format=>:long_date)%></div></div>
  <div class="attendance_highlights"><div class="bold_new_exam_text"><%=t('timetable_periods')%></div><div class="large_present_text"><%=@tt_entries.present? ? @tt_entries.count : 0%></div></div>
  <div class="attendance_highlights"><div class="normal_absentees_text"><%=t('calendar_events')%></div><div class="absentees_count"><%=@calender_events.present? ? @calender_events.count : 0%></div></div>

</div>
<div id="other_details">
  <div id ="combine_portlet">
    <div class="portlet-date">
      <%= link_to '<div class ="date-previous"></div>',"#" ,{:class=>"prev_date_arrow", :id=>"date-prev", :onClick=>"get_prev_date(this); return false;"} %>
      <label id=<%= "date_label" %> ><%= format_date(@date,:format=>:long_date) %> <%= t('today') if @date.to_date==Date.today %></label>
      <%= link_to '<div class="date-next"></div>',"#" ,{:class=>"next-date-arrow", :id=>"date-next", :onClick=>"get_next_date(this); return false;"} %>
      <%= hidden_field_tag :datepicker, @date.to_date.strftime("%Y-%m-%d"), :class=>"datepicker",:id=>"today-date", :autocomplete=>:off, :onchange=>"set_date(this)"  %>
    </div>
    <%= image_tag("Loader-transparant.gif",:align => "absmiddle",:border => 0,:id => "date-loader", :class=>"date-loader", :style =>"display: none;" ) %>
  </div>
  <div id="tt_timings"><%=t('timetable_periods')%> &#x200E;(<%=@tt_entries.present? ? @tt_entries.count : 0%>)&#x200E;</div>
  <% unless  @tt_entries.blank?%>
    <div id="timetable_items">
      <table id="student_details_table">
        <tr>
          <th id="class_timing_th"><%=t('class_timing')%></th>
          <th id="timetable_subject_th"><%=t('subject')%></th>
          <th id="timetable_employee_th"><%=t('employee_text')%></th>
          <th id="timetable_room_th"><%=t('room')%></th>
          <th id="timetable_building_th"><%=t('building')%></th>
        </tr>
        <%@tt_entries.each_value do |tte|%>
          <tr>
            <td rowspan="<%=tte[:tcount]%>"><%=tte[:class_timing]%></td>
            <%tte[:subjects].each_value do |sub_detail|%>
              <td rowspan="<%=sub_detail[:scount]%>"><%=sub_detail[:subject_name]%></td>
              <%sub_detail[:employees].each_value do |employee|%>
                <td rowspan="<%=employee[:ecount]%>"><%=employee[:employee_name]||"#{t('no_teacher')}"%></td>
                <%if employee[:rooms].present?%>
                  <%employee[:rooms].each do |r|%>
                    <td><%=r[0]%></td>
                    <td><%=r[1]%></td></tr><tr>
                  <%end%>
                <%else%>
                  <td>-</td>
                  <td>-</td></tr><tr>
                <%end%>
              <%end%>
            <%end%>
          </tr>
        <%end%>
      </table>
    </div>
  <%else%>
    <div class="no_entries"><%=t('no_tt_periods')%></div>
  <%end%>
  <div id="cal_events"><%=t('calendar_events')%> &#x200E;(<%=@calender_events.present? ? @calender_events.count : 0%>)&#x200E;</div>
  <% if  @calender_events.present?%>
    <div id="calendar_items">
      <table id="student_details_table">
        <tr>
          <th><%=t('timings')%></th>
          <th><%=t('event_text')%></th>
        </tr>
        <%@calender_events.each_with_index do |ct,i|%>
          <tr class="list_<%=cycle('odd', 'even')%>">
            <td><%="#{format_date(ct.start_date,:format=>:long_date)} - #{format_date(ct.end_date,:format=>:long_date)}"%></td>
            <td><%=ct.title%></td>
          </tr>
        <%end%>
      </table>

    </div>
  <%else%>
    <div class="no_entries"><%=t('no_calendar_events')%></div>
  <%end%>
</div>
<script type="text/javascript">
  var month_names = "<%= I18n.t('date.month_names').compact.join(',') %>".split(',');
  var month_names_short = "<%= I18n.t('date.abbr_month_names').compact.join(',') %>".split(',');
  j.datepicker.regional["<%= I18n.locale.to_s %>"] = {
    monthNames: month_names,
    monthNamesShort: month_names_short
  }
  j.datepicker.setDefaults(j.datepicker.regional["<%= I18n.locale.to_s %>"]);
  j(function() {
    j( ".datepicker" ).datepicker({
      showOn: "button",
      buttonImage: "/images/transparent_1.png",
      buttonImageOnly: true,
      changeMonth: true,
      changeYear: true,
      showOtherMonths: true,
      selectOtherMonths: true,
      buttonText: 'Select Date',
      isRTL: <%= rtl? %>,
      dateFormat: "yy-mm-dd",
      beforeShow:function( input, inst ){
        var dp = $(inst.dpDiv);
        picker_width = j(dp).width();
        <% unless (rtl?) %>
          portlet_left = j(input).siblings('img').position().left - picker_width - 9;
          dp.css('margin-left', portlet_left);
        <% else %>
          doc_width = j(document).width();
          portlet_right = doc_width - j(input).siblings('img').position().left - picker_width - 25;
          dp.css('margin-right', portlet_right);
        <% end %>
      }
    });
  });

  function set_date(th_is)
  {
    curr_date = th_is.value;
    format = "<%= date_format %>";
    switch(format){
      case '2':
        format_str = 'MM dd, yy';
        break;
      case '3':
        format_str = 'yy MM dd';
        break;
      default:
        format_str = 'dd MM yy';
        break;
    }
    disp_date = j.datepicker.formatDate(format_str, (j.datepicker.parseDate("yy-mm-dd",curr_date)));
    today=j.datepicker.formatDate('yy-mm-dd', new Date());
    if(curr_date==today)
    {
      disp_date_without_today=disp_date
      disp_date = disp_date+" "+j("#today").val();
    }
    j("#date_label").html(disp_date);
    j.ajax({
      type: 'POST' ,
      url: "/batches/batch_summary",
      data : {

        batch_id : j('#batch_id').val(),
        request_id : 4,
        date:th_is.value
      },
      beforeSend : function() {
        j("#date-loader").show();
      },
      success : function(data) {
        j("#date-loader").hide();
        j('#display_area').html(data);
        if (curr_date==today){
          j('.today_date_text').html(disp_date_without_today);
          j('.today_date_text').show();
        }
        else
        {
          j('.today_date_text').hide();
          j('.new_exams_small').html(disp_date)
          j('.new_exams_small').addClass('margin_top_35');
        }
      }
    });
  }

  function get_prev_date(th_is)
  {
    date_field = j("#today-date");
    curr_date = j.datepicker.parseDate("yy-mm-dd", date_field.val());
    prev_date = curr_date.setDate(curr_date.getDate()-1);
    date_field.val(j.datepicker.formatDate('yy-mm-dd', new Date(prev_date)));
    set_date(date_field.get(0));
  }

  function get_next_date(th_is)
  {
    date_field = j("#today-date");
    curr_date = j.datepicker.parseDate("yy-mm-dd", date_field.val());
    next_date = curr_date.setDate(curr_date.getDate()+1);
    date_field.val(j.datepicker.formatDate('yy-mm-dd', new Date(next_date)));
    set_date(date_field.get(0));

  }
</script>
<%= hidden_field_tag "today_text", t('today'), :id=>"today", :autocomplete=>:off %>