<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('courses_text') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('new_batch') %></div>


</div>
<div id="page-yield">
    <div class="bread_crumb">
        <% breadcrumb :batches_new, @course %>
        <%= render_breadcrumbs %>
    </div>
    <div class="box">  
        <% unless flash[:notice].nil? %>
          <p class="flash-msg"> <%= flash[:notice] %> </p>
        <% end %>

        <% form_for [@course, @batch] do |f| %>
          <%= f.error_messages  %>
          <div class="label-field-pair">
              <div class="label-container"><%= t('name') %></div>
              <div class="input-container"><%= f.text_field :name %></div>
          </div>


          <div class="label-field-pair">
              <div class="label-container"><%= t('start_date') %></div>
              <div class="input-container"><%= calendar_date_select_tag 'batch[start_date]',  I18n.l((@batch.start_date || Date.today).to_date,:format=>:default), :year_range => 30.years.ago..10.years.from_now, :popup=>"force"%></div>
          </div>

          <div class="label-field-pair">
              <div class="label-container"><%= t('end_date') %></div>
              <div class="input-container"><%= calendar_date_select_tag 'batch[end_date]',  I18n.l((@batch.end_date || Date.today + 1.year).to_date,:format=>:default), :year_range => 30.years.ago..10.years.from_now, :popup=>"force" %></div>
          </div>

          <div class="label-field-pair">
              <div class="label-container"><%= t('academic_year') %></div>
              <div class="text-input-bg"><%= select_tag 'batch[academic_year_id]', options_for_select([["#{t('select_an_academic_year')}",'']] + @academic_years.map{|ay| [ay.name, ay.id]}, :selected => @batch.academic_year_id) %></div>
              <div id="academic_year_helper"><%= t('select_academic_year_for_linking_exam_groups') %></div>
          </div>

          <div class="label-field-pair">
              <div class="label-container1"><label><%= t('import_subject') %></label></div>
              <div class="input-container"><%= check_box_tag 'import_subjects',"0",false %></div>
          </div>

          <div class="label-field-pair">
              <div class="label-container1"><label><%= t('import_fees') %></label></div>
              <div class="input-container"><%= check_box_tag 'import_fees',"0",false %></div>
          </div>

          <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button", :disable_with => "► #{t('please_wait')}" %>

        <% end %>

        <div class="extender"></div>

    </div></div>
