<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<% content_for :head do %>
  <%= stylesheet_link_tag 'jquery-ui_1.css' %>
<% end %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('batch') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('batch_summary') %></div>
  <div id="inner-tab-menu">
    <ul>
      <%= render :partial => "inner_tab_menu" %>
    </ul>
  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%if @batch.present?%>
      <% breadcrumb :batches_show,@batch %>
      <%= render_breadcrumbs %>
    <%else%>
      <% breadcrumb :batches_batch_summary,@batch %>
      <%= render_breadcrumbs %>
    <%end%>
  </div>
  <div id="flash-box">
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice]  %> </p>
    <% end %>

    <% unless flash[:warn_notice].nil? %>
      <div id="errorExplanation" class="errorExplanation"><%= flash[:warn_notice] %> </div>
    <% end %>

    <% unless flash[:subject_import].nil? %>
      <div class="flash-msg"><%= t('subject_transfer_message') %>:<br /> <%= flash[:subject_import].join("")%></div>
    <% end %>

    <% unless flash[:no_subject_error].nil? %>
      <div class="flash-msg"><%= flash[:no_subject_error] %></div>
    <% end %>

    <% unless flash[:fees_import].blank? %>
      <div class="flash-msg"><%= t('fee_import_message') %>:<br /> <%= flash[:fees_import].join("")%></div>
    <% end %>
    <% if flash[:fees_import_error].present? %>
      <div class="flash-msg"><%= t('no_fee_import_message') %></div>
    <% end %>
  </div>
  <div id="top_section">
    <%if @current_user.admin? or @current_user.privileges.include?(Privilege.find_by_name('ManageCourseBatch'))%>
      <div id="course_area">
        <label for="student_course" id="course_text"><%=t('course_text')%></label>
        <div class="text-input-bg">

          <%= select :course, :id,
            @courses.map {|c| [c.full_name, c.id] },
            {:prompt => "#{t('select_a_course')}"},
            {:onchange => "#{remote_function(
            :url => { :controller=>'batches',:action => 'list_batches' },
            :with => "'course_id='+value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')",
            :complete=> "tab_action();")}"} %>
          <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
        </div>
      </div>
      <div id="batch_area">
        <%if @batch.present?%>
          <%= render :partial => 'list_batches' %>
        <%end%>
      </div>
    <%else%>
      <div id="batch_area">
        <label for="student_course" id="batch_text"><%=t('batch')%></label>
        <div class="text-input-bg">

          <%= select :batch, :id,
            @batches.map {|b| [b.full_name, "#{b.course_id}:#{b.id}"] },
            {:prompt => "#{t('select_a_batch')}"},
            {:onchange => "batch_switcher2(value)"} %>
          <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader1", :style =>"display: none;" ) %>
        </div>
        <%= link_to t('submit'), course_batch_path((@course.present? ? @course.id : 'course_id'),(@batch.present? ? @batch.id : 'batch_id')), :class => "submit_button", :id => "batch_switcher", :style => "display:none" %>
      </div>
    <%end%>
  </div>

  <div id="batch_mini_details">
    <%=render :partial=>'batch_span' if @batch.present?%>
  </div>

  <div id="batch_tutor_section">
    <%=render :partial=>'batch_tutors' if @batch.present?%>
  </div>


  <div id="batch_details">

    <div id="common_box">
      <div class="category_item tabs">
        <ul class="ui-widget-content batch-widget-content">
          <li class="individual_category" val="1"><%=t('student_summary')%></li>
          <%if @config.config_value=='Daily'%>
            <li class="individual_category" val="2"><%=t('attendance_summary')%></li>
          <%end%>
          <li class="individual_category" val="3"><%=t('employee_subject_summary')%></li>
          <li class="individual_category" val="4"><%=t('timetable_summary')%></li>
          <li class="individual_category" val="5"><%=t('examination_summary')%></li>
        </ul>
      </div>
      <div id="loader3" style ="display: none;">
        <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id=>'loader_img' ) %><span id="loading_text"><%="#{t('loading')}..."%></span>
      </div>
      <div id="display_area">

        <%if @batch.present?%>
          <%=render :partial=>'students_summary'%>
        <%else%>
          <%=render :partial=>'select_batch'%>
        <%end%>
      </div>

    </div>
  </div>
</div>
<div id="modal-box" style="display:none;"></div>
<script type="text/javascript">
  j( document ).ready(function() {
    tab_action();
    //inner_tab_menu();
    <% unless(@current_user.admin? or @current_user.privileges.include?(Privilege.find_by_name('ManageCourseBatch'))) %>
    if(j('#batch_id')!== undefined){
      var options = j('#batch_id').find('option');
      j(options).each(function(a,b){
        val = j(b).val();
        if(val.indexOf(':') > -1){
          course_id = val.split(':');
          j(b).val(course_id[1]).attr('course_id',course_id[0]);
        }
      });
      href = j('#batch_switcher').attr('href');
      if(j.inArray('course_id', href.split('/') ) ==-1 && j.inArray('batch_id', href.split('/') ) ==-1){
        j('#batch_switcher').show();
      }else{
        j('#batch_switcher').hide();
      }
    }
    <% end %>
  });
  function tab_action(){
    if (j('#batch_area').children().length > 0 && j('#batch_id').val().empty()==false){
    //if (j('#batch_id').val().empty()==false){
      j('.individual_category').removeClass('active_tab').removeClass('cursor_change');
      j('.individual_category').first().addClass('active_tab');
      j('.individual_category').each(function(){
        j(this).unbind('click');
        j(this).click(function()
        {
          if (j('#batch_id').val().empty()==false){
            j('.individual_category').removeClass('active_tab').removeClass('cursor_change');
            j(this).addClass('active_tab');
            j('#display_area').children().hide();
            j('#loader3').show();
            var batch_id = j('#batch_id').val()
            var course_id = j('#course_id').val()
            var request_id=j(this).attr('val');
            var parameters={batch_id:batch_id,request_id:request_id,course_id:course_id}
            new Ajax.Request('/batches/batch_summary',
            {
              parameters: parameters,
              asynchronous:true,
              evalScripts:true,
              method:'get',
              onComplete:function(resp){
                j('#display_area').children().remove();
                j('#display_area').append(resp.responseText);
                j('#loader3').hide();
                j('#display_area').children().show();
              }
            });
          }
          else{
            return false;
          }
        }
      );
      });
    }
    else
    {
      j('.individual_category').removeClass('active_tab').addClass('cursor_change');
    }
  }
  function inner_tab_menu()
  {
<% unless ((@current_user.employee? and !@current_user.admin?) and @current_user.can_view_results?)%>
      j.ajax({
        type: 'GET' ,
        url: "/batches/tab_menu_items",
        data : {

          batch_id : j('#batch_id').val()
        },
        success : function(data) {
          j('#inner-tab-menu').html(data);
        }
      });
<%else %>
  <% if @current_user.is_a_batch_tutor? %>
        j.ajax({
          type: 'GET' ,
          url: "/batches/tab_menu_items",
          data : {
            is_tutor: true,
            batch_id : j('#batch_id').val()
          },
          success : function(data) {
            j('#inner-tab-menu').html(data);
          }
        });
  <% end %>
<% end %>
  }
  function get_tutors(){
    j.ajax({
      type: 'POST' ,
      url: "/batches/get_tutors",
      data : {

        batch_id : j('#batch_id').val()
      },
      success : function(data) {
        j('#batch_tutor_section').html(data);
      }
    });
  }
  function get_duration(){
    j.ajax({
      type: 'POST' ,
      url: "/batches/get_batch_span",
      data : {

        batch_id : j('#batch_id').val()
      },
      success : function(data) {
        j('#batch_mini_details').html(data);
      }
    });
  }
  function batch_switcher(val){
    href = j('#batch_switcher').attr('href');
    arr = href.split('/');
    arr[arr.indexOf(arr.last())] = val;
    j('#batch_switcher').attr('href',arr.join('/'))
  }
  function batch_switcher2(val){
    if(val != ''){
      var opt = j('#batch_id').find('option[value='+val+']');
      var course_id = j(opt).attr('course_id');
      href = j('#batch_switcher').attr('href');
      arr = href.split('/');
      arr[2] = course_id;
      arr[arr.indexOf(arr.last())] = val;
      j('#batch_switcher').attr('href',arr.join('/')).show();
    }else{
      j('#batch_switcher').hide();
    }
  }
</script>
<% if (rtl?) %>
  <script>
    j(document).ready(function() {
      j("#drop_header").hover(
      function () {
        link_off = j("#drop_header").offset();
        link_width = j("#drop_header").width();
        link_height = j("#drop_header").height();
        box_width = j("#box_1").width();
        //  c_b.css({ top: (0 - (child_bottom - main_bottom))});
        j("#box_1").css({top: (link_off.top + link_height),left: (link_off.left)});
        j("#box_1").css("display","block");
      },
      function () {
        j("#box_1").css("display","none");
      });
    });
  </script>
<% else %>
  <script>
    j(document).ready(function() {
      j("#drop_header").hover(
      function () {
        link_off = j("#drop_header").offset();
        link_width = j("#drop_header").width();
        link_height = j("#drop_header").height();
        box_width = j("#box_1").width();
        //  c_b.css({ top: (0 - (child_bottom - main_bottom))});
        j("#box_1").css({top: (link_off.top + link_height),left: ((link_off.left + link_width) - box_width)});
        j("#box_1").css("display","block");
      },
      function () {
        j("#box_1").css("display","none");
      });
    });
  </script>
<% end %>