h3{
    margin-top: 40px;
    font-size: 17px;
    color: #444;
}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: right;
}
.fields-details
{
    float: right;
    width: 600px;
    font-weight: normal;
    font-size: 13px;
    color: #444;
    margin: 20px 0;
}
.field-label
{
    float: right;
    width: 200px;
    /* font-weight: bold; */
}
.fields-val
{
    float: left;
    width: 400px;
}
.field-head{ font-size: 14px; font-weight: bold;}
table {
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
}
#page-yield table .tr-head {
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
}
td {
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}
.tr-odd {
    background-color: #f0f0f0;
}
td.name
{
    width: 30%;
}
.formula{
    direction: ltr;
    text-align:right;
    float: right;
    width: 570px;
}
.condition{
    float:right;
    margin-bottom: 7px;
    width: 100%;
}
.condition_text{
    float: right;
    width: 90px;
}
#deductions_list{ margin-bottom: 25px;}