<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('configuration_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('configuration_text') %> <%= t('home') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div id="box">

    <% if permitted_to? :create, :courses %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('manage_course_batch')}", courses_path %></div>
        <div class="link-descr"><%= t('add_a_new_course_or_batch') %></div>
      </div>
    <% end %>

    <% if permitted_to? :settings, :configuration %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('manage_student_category')}", :controller => "student", :action => "categories" %></div>
        <div class="link-descr"><%= t('add_student_category') %></div>
      </div>
    <% end %>
    <% if permitted_to? :index, :subjects %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('manage_subject')}", subjects_path %></div>
        <div class="link-descr"><%= t('manage_subjects_corresponding') %></div>
      </div>
    <% end %>

    <% if permitted_to? :settings, :configuration %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('general_settings')}", :action => "settings" %></div>
        <div class="link-descr"><%= t('set_some_general_configuration') %></div>
      </div>
    <% end %>

    <% if permitted_to? :settings, :configuration %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('add_admission_additional_detail')}", :controller=>"student", :action => "add_additional_details" %></div>
        <div class="link-descr"><%= t('set_some_additional_details') %></div>
      </div>
    <% end %>

    <% if permitted_to? :index, :sms %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('sms_module')}", :controller=>"sms", :action => "index" %></div>
        <div class="link-descr"><%= t('enable_or_disable_sms_settings') %></div>
      </div>
    <% end %>

    <% if (permitted_to? :index, :student_roll_number) && roll_number_enabled?%>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('manage_student_roll_number')}", :controller=>"student_roll_number", :action => "index" %></div>
        <div class="link-descr"><%= t('manage_student_roll_number_description') %></div>
      </div>
    <% end %>
      
    <% if permitted_to? :index, :student_document_categories %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('student_document_manager')}", :controller=>"student_document_categories", :action => "index" %></div>
        <div class="link-descr"><%= t('student_document_categories.student_document_manager_description') %></div>
      </div>
    <% end %>
      
    <% if permitted_to? :index, :feature_access_settings %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('feature_access_settings')}", :controller=>"feature_access_settings", :action => "index" %></div>
        <div class="link-descr"><%= t('feature_access_settings_desc') %></div>
      </div>
    <% end %>
      
      <%  if permitted_to? :index, :academic_years %>
        <div class="link-box">
            <div class="link-heading"><%= link_to t('academic_years_text'), :controller=> "academic_years", :action=>'index' %></div>
            <div class="link-descr"><%= t('academic_years_desc')%></div>
        </div>
      <% end %>

    <% FedenaPlugin::ADDITIONAL_LINKS[:configuration_index_link].each do |mod| %>
      <%  if can_access_request? "#{mod[:destination][:action]}".to_sym,"#{mod[:destination][:controller]}".to_sym %>
        <div class="link-box">
          <div class="link-heading"><%= link_to "#{t("#{mod[:title]}")}",mod[:destination] %></div>
          <div class="link-descr"><%= "#{t("#{mod[:description]}")}" %></div>
        <% end %>
      <% end %>
    </div>
  </div>


</div>
