<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('configuration_text') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('general_settings') %></div>

</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs  %>
    </div>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <%= error_messages_for :school_detail %>

    <% form_for(:configuration,:html=> {:multipart=>true}) do |c| %>
      <%= error_messages_for 'configuration' %>
      <div class="box">
          <div class="label-field-pair">
              <label for="configuration_currency_type"><%= t('school_college_name') %></label>
              <div class="text-input-bg">
                  <%= text_field :configuration, :institution_name, :value => @config[:institution_name] %>
              </div>
          </div>
          <div class="label-field-pair">
              <label for="configuration_currency_type"><%= t('school_college_address') %></label>
              <div class="text-input-bg">
                  <%= text_field :configuration, :institution_address, :value => @config[:institution_address] %>
              </div>
          </div>
          <div class="label-field-pair">
              <label for="configuration_currency_type"><%= t('school_college_phone') %></label>
              <div class="text-input-bg">
                  <%= text_field :configuration, :institution_phone_no, :value => @config[:institution_phone_no] %>
              </div>
          </div>
          <%if params[:configuration].present? and params[:configuration][:institution_email].present? and @ret_val.collect{|e| e.config_key.underscore}.include?('institution_email')%>
            <div class="label-field-pair">
                <label for="configuration_email"><%= t('school_college_email') %></label>
                <div class="text-input-bg">
                    <div class="fieldWithErrors">
                        <%= text_field :configuration,:institution_email,:value=>params[:configuration][:institution_email]%>
                    </div>
                </div>
            </div>
          <%else%>
            <div class="label-field-pair">
                <label for="configuration_email"><%= t('school_college_email') %></label>
                <div class="text-input-bg">
                    <%= text_field :configuration, :institution_email, :value => @config[:institution_email] %>
                </div>
            </div>
          <%end%>

          <%if params[:configuration].present? and params[:configuration][:institution_website].present? and @ret_val.collect{|e| e.config_key.underscore}.include?('institution_website')%>
            <div class="label-field-pair">
                <label for="configuration_website"><%= t('school_college_website') %></label>
                <div class="text-input-bg">
                    <div class="fieldWithErrors">
                        <%= text_field :configuration,:institution_website,:value=>params[:configuration][:institution_website]%>
                    </div>
                </div>
            </div>
          <%else%>
            <div class="label-field-pair">
                <label for="configuration_website"><%= t('school_college_website') %></label>
                <div class="text-input-bg">
                    <%= text_field :configuration, :institution_website, :value => @config[:institution_website] %>
                </div>
            </div>
          <%end%>
          <div class="label-field-pair">
              <label for="configuration_institution_type"><%= t('institution_type') %></label>
              <div class="text-input-bg">
                  <%= select :configuration, :institution_type, [["#{t('k_12')}", "k12"], ["#{t('highered')}", "hd"]],
                    :selected => @config[:institution_type],
                    :prompt=>"#{t('select')}"%>
              </div>
          </div>
          <div class="label-field-pair">
              <label for="configuration_student_attendance_type"><%= t('student_attendance_type') %></label>
              <div class="text-input-bg">
                  <%= select :configuration, :student_attendance_type, [["#{t('daily_text')}", "Daily"], ["#{t('subject_wise_text')}", "SubjectWise"]],
                    :selected => @config[:student_attendance_type] %>
              </div>
          </div>
          <div class="label-field-pair">
              <label for="date_format"><%= t('start_day_of_week') %></label>
              <div class="text-input-bg">
                  <%= select :configuration, :start_day_of_week, [["#{t("sunday")}", "0"], ["#{t("monday")}", "1"], ["#{t("tuesday")}", "2"],["#{t("wednesday")}", "3"],["#{t("thursday")}", "4"],["#{t("friday")}", "5"],["#{t("saturday")}", "6"]],
                    :selected => @config[:start_day_of_week] %>
              </div>
          </div>
          <div class="label-field-pair">
              <label for="date_format"><%= t('date_format') %></label>
              <div class="text-input-bg">
                  <%= select :configuration, :date_format, DateFormat.order.each_with_index.map {|o,i| [o,(i+1).to_s]},
                    :selected => @config[:date_format] %>
              </div>
          </div>
          <div class="label-field-pair">
              <label for="date_format_separator"><%= t('date_format_separator') %></label>
              <div class="text-input-bg">
                  <%= select :configuration, :date_format_separator, DateFormat.separator,
                    :selected => @config[:date_format_separator] %>
              </div>
          </div>

          <div class="label-field-pair">
              <label for="configuration_currency_type"><%= t('finance_year_start_date') %></label>
              <div class="text-input-bg">
                  <%= calendar_date_select_tag 'configuration[financial_year_start_date]', I18n.l(@config[:financial_year_start_date].to_date,:format=>:default),
                    :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
              </div>
          </div>

          <div class="label-field-pair">
              <label for="configuration_currency_type"><%= t('finance_year_end_date') %></label>
              <div class="text-input-bg">
                  <%= calendar_date_select_tag 'configuration[financial_year_end_date]',  I18n.l(@config[:financial_year_end_date].to_date,:format=>:default),
                    :year_range => 15.years.ago..5.years.from_now, :readonly=>true, :popup=>"force" %>
              </div>
          </div>

          <% unless @config[:school_discount_marker].present? %>
            <% 
            # this setting is available only for old schools  
            %>
            <div class="label-field-pair">
                <label><%= t('finance_discount_mode')%></label>
                <div class="text-input-bg receipt_mode">
                    <% 
                    # old school discount mode fall backs to old mode 
                    %>
                    <%= select :configuration, :finance_discount_mode, [["#{t('old_discount_mode')}", "OLD_DISCOUNT"], 
                      ["#{t('new_discount_mode')}", "NEW_DISCOUNT"]],
                      :selected => @config[:finance_discount_mode] || "OLD_DISCOUNT"%>
                    <% discount_mode_tooltip_text = "<p>" %>
                    <% discount_mode_tooltip_text += "<b>#{t('old_discount_mode')}:</b>" %>
                    <% discount_mode_tooltip_text += " #{t('old_discount_mode_desc')}<br/><br/>" %>
                    <% discount_mode_tooltip_text += "<b>#{t('new_discount_mode')}:</b>" %>
                    <% discount_mode_tooltip_text += " #{t('new_discount_mode_desc')}" %>
                    <% discount_mode_tooltip_text += "</p>" %>
                    <span class="help_info" tooltip="<%= discount_mode_tooltip_text %>"></span>
                </div>
            </div>
          <% end %>

          <div class="label-field-pair">
              <label><%= t('enable_finance_tax_settings')%></label>
              <div class="checkbox-input-bg">
                  <%= check_box :configuration, :enable_finance_tax, :checked => (@config[:enable_finance_tax].to_i == 1) %>
              </div>
          </div>

          <div class="label-field-pair">
              <label><%= t('enable_invoice_number')%></label>
              <div class="checkbox-input-bg">
                  <%= check_box :configuration, :enable_invoice_number, 
                    :checked => (@config[:enable_invoice_number].to_i == 1) %>
              </div>
          </div>

          <div class="label-field-pair">
              <label><%= t('start_invoice_no')%></label>
              <div class="text-input-bg">
                  <%= text_field :configuration, :fee_invoice_no, 
                    :value => @config[:fee_invoice_no] %>
              </div>
          </div>

          <div class="label-field-pair">
              <label><%= t('start_receipt_no')%></label>
              <div class="text-input-bg">
                  <%= text_field :configuration, :fee_receipt_no, :value => @config[:fee_receipt_no] %>
              </div>
          </div>

          <div class="label-field-pair">
              <label><%= t('receipt_mode') %></label>
              <div class="text-input-bg receipt_mode">                  
                  <%= select :configuration, :single_receipt_number, [["Select receipt number mode",nil],["Single","1"],["Multiple","0"]],
                    :selected => @config[:single_receipt_number] %>
                  <span class="help_info" tooltip="<%= t('receipt_mode_tooltip') %>"></span>
              </div>
          </div>

          <div class="label-field-pair">
              <label for="configuration_student_attendance_type"><%= "#{t('language') } " %></label>
              <div class="text-input-bg">
                  <%= select :configuration, :locale, available_language_options,
                    :selected => @config[:locale] %>
              </div>
          </div>
          <div class="label-field-pair">
              <label for="configuration_student_attendance_type"><%= t('time_zone') %></label>
              <div class="text-input-bg">
                  <%= select :configuration, :time_zone, @time_zones.map{|t| ["#{t.name}(#{t.code}) - GMT#{t.difference_type}#{Time.at(t.time_difference).gmtime.strftime('%R')}",t.id]},:selected =>@config[:time_zone].to_i  %>
              </div>
          </div>

          <div class="label-field-pair">
              <label for="configuration_default_country"><%= t('country') %></label>
              <div class="text-input-bg">
                  <% selected_value = @config[:default_country].present? ? @config[:default_country].to_i : 76 %>
                  <%= select :configuration, :default_country, @countries.map {|co| [co.full_name, co.id]}, :selected=> selected_value.to_i %>
              </div>
          </div>
          <div class="label-field-pair">
              <label for="configuration_currency_type"><%= t('currency_type') %></label>
              <div class="text-input-bg">
                  <%= text_field :configuration, :currency_type, :value => @config[:currency_type] %>
              </div>
          </div>
          <div class="label-field-pair">
              <label for="configuration_precision"><%= t('precision_count') %></label>
              <div class="text-input-bg">
                  <%= text_field :configuration, :precision_count, :value => @config[:precision_count] %>
              </div>
          </div>
          <div class="label-field-pair">
              <label for="configuration_currency_type"><%= t('upload_logo') %> (<%= t('max_size') %>, <%= t('height_width') %>)</label>
              <div class="text-input-bg">
  <%#= file_field 'school_detail','school_logo', :size=>12 %>
                  <%= paperclip_file_field_tag 'school_detail','logo', :size=>12, :direct => false, :object=>@school_detail %>
              </div>
          </div>
          <div class="grades">
              <div class="label-field-pair">
                  <label for="configuration_grading_systems"><%= t('include_grading_systems') %></label>
              </div>
              <div class="fee_category_scroll">
                  <div class="sel-list">
                      <%= t('select') %>: <%= link_to_function t('all'), "$$('input.batches_box').each(function(checkbox) { checkbox.checked = true; });" %>,
                      <%= link_to_function t('none'), "$$('input.batches_box').each(function(checkbox) { checkbox.checked = false; });" %>
                  </div>
                  <% @grading_types.each do |key,val| %>
                    <div class="each_batch">
                        <%= check_box :configuration, val.underscore , :checked => (@enabled_grading_types.include? key),:class=>'batches_box' %> <label for="configuration_<%= val.underscore %>"><%= val %></label>
                    </div>
                  <% end %>
              </div>
          </div>

  <%# FedenaPlugin::REGISTERED_HOOKS[:general_settings_form].each do |mod| %>
  <%#= render :partial=>mod.camelize.constantize.send("general_settings_form") %>
  <%# end %>
          <% FedenaPlugin.deliver_registered_hook(:general_settings_form).each do |mod| %>
            <%= render :partial=>mod.camelize.constantize.send("general_settings_form") %>
          <% end %>

          <div class="label-field-pair">
              <label for="student_admission_auto"><%= t('student_admission_auto') %></label>
              <div class="checkbox-input-bg">
                  <% if @config[:admission_number_auto_increment] == '1' %>
                    <%= check_box :configuration, :admission_number_auto_increment, :checked => true %>
                  <% else %>
                    <%= check_box :configuration, :admission_number_auto_increment, :checked => false %>
                  <% end %>
              </div>
          </div>

          <% if Configuration.available_modules.include?('HR') %>
            <div class="label-field-pair">
                <label for="employee_admission_auto"><%= t('employee_admission_auto') %></label>
                <div class="checkbox-input-bg">
                    <% if @config[:employee_number_auto_increment] == '1' %>
                      <%= check_box :configuration, :employee_number_auto_increment, :checked => true %>
                    <% else %>
                      <%= check_box :configuration, :employee_number_auto_increment, :checked => false %>
                    <% end %>
                </div>
            </div>
          <% end %>

          <div class="label-field-pair">
              <label for="enable_news_comment_moderation"><%= t('enable_news_comment_moderation') %></label>
              <div class="checkbox-input-bg">
                  <% if @config[:enable_news_comment_moderation] == '1' %>
                    <%= check_box :configuration, :enable_news_comment_moderation, :checked => true %>
                  <% else %>
                    <%= check_box :configuration, :enable_news_comment_moderation, :checked => false %>
                  <% end %>
              </div>
          </div>
          <div class="label-field-pair">
              <label for="enable_news_comment_moderation"><%= t('enable_sibling') %></label>
              <div class="checkbox-input-bg">
                  <% if @config[:enable_sibling] == '1' %>
                    <%= check_box :configuration, :enable_sibling, :checked => true %>
                  <% else %>
                    <%= check_box :configuration, :enable_sibling, :checked => false %>
                  <% end %>
              </div>
          </div>

          <div class="label-field-pair">
              <label for="enable_first_time_login"><%= t('enable_first_time_login') %></label>
              <div class="checkbox-input-bg">
                  <% if @config[:first_time_login_enable] == '1' %>
                    <%= check_box :configuration, :first_time_login_enable, :checked => true %>
                  <% else %>
                    <%= check_box :configuration, :first_time_login_enable, :checked => false %>
                  <% end %>
              </div>
          </div>

          <div class="label-field-pair">
              <label for="enable_roll_number"><%= t('enable_roll_number_for_students') %></label>
              <div class="checkbox-input-bg">
                  <% if @config[:enable_roll_number] == '1' %>
                    <%= check_box :configuration, :enable_roll_number, :checked => true %>
                  <% else %>
                    <%= check_box :configuration, :enable_roll_number, :checked => false %>
                  <% end %>
              </div>
          </div>

          <% FedenaPlugin.deliver_registered_hook(:general_settings_checkbox).each do |mod| %>
            <br/>
            <%= render :partial=>mod.camelize.constantize.send("general_settings_checkbox") %>
          <% end %>

  <%# FedenaPlugin::REGISTERED_HOOKS[:general_settings_checkbox].each do |mod| %>
  <%#*<br/>%>
  <%#= render :partial=>mod.camelize.constantize.send("general_settings_checkbox") %>
  <%# end %>
          <div class="label-field-pair">
              <label for="enable_session_timeout"><%= t('enable_auto_logout') %></label>
              <div class="checkbox-input-bg">
                  <% if @config[:enable_session_timeout] == '1' %>
                    <%= check_box :configuration, :enable_session_timeout, :checked => true %>
                  <% else %>
                    <%= check_box :configuration, :enable_session_timeout, :checked => false %>
                  <% end %>
              </div>
          </div>
          <div id="session_setting" style="display:none;"><%=render :partial => 'session_sub_setting'%></div>

          <div id="submit-button">
              <%= submit_tag "► #{t('update')}" %>
          </div>

        <% end %>

    </div>
</div>
<script type="text/javascript">
  j(document).ready(function () {
      if (j('#configuration_enable_session_timeout').prop('checked') === true)
      {
          j('#session_setting').show();
      }
  });
  j('#configuration_enable_session_timeout').on('change', function () {
      if (j(this).is(':checked') === true) {
          j('#session_setting').show();
      } else {
          j('#session_setting').hide();
      }
  });
  j('#submit-button input').on('click', function () {
      if (j('#configuration_enable_session_timeout').prop('checked') === false)
      {
          j('#session_setting').remove();
      }
  });
</script>
