#event_description{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #C6C6C6;
    font-family:Arial;
    padding:5px;
    width: auto;
    height: auto;
    float: left;
    min-width: 570px;
    margin-top: 10px;
}
#event_submit{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:30px 0 0 0px;
    padding:7px 10px;
    width:auto;
    float: left;
    text-decoration: none;
    margin-right: 10px;
}
#event_submit a{
    text-decoration: none;
    color:#FFFFFF;
}
#page-yield #event_submit a:hover{
    color:#FFFFFF !important;
}
form{
/*    width:600px;*/
    margin:auto;
}
.page_header{
    font-weight: 600;
    margin-bottom: 30px;
}
.page_sub_header{
    font-weight: 600;
    margin-bottom: 20px;
    float: left;
    width: auto;
    height: auto;
    min-width: 100%;
    padding-top: 40px;
}
.page_sub_content{
    float: left;
    width: auto;
    height: auto;
    min-width: 100%;
    padding-top: 40px;
    font-weight: bold;
}
.extra{
    width: auto;
    height: auto;
    float: left;
    min-width: 100%;
}
#select-option, #select-options {
    font-weight:bold;
    color:#444444;
    width: auto;
    height: auto;
    float: left;
    margin: 10px 10px 10px 0px;
    padding: 0;
}


.select-list{
    float:right;
    margin-right:-47px;
}
.radio{
    width: auto;
    height: auto;
}
.radio_one{
    width: auto;
    height: auto;
    float: left;
}
.radio_two{
    width: auto;
    height: auto;
    float: left;
}
.label-field-pair-title{
    height: auto;
    width: auto;
    float: left;
    max-width: 650px;
    padding-top: 3px;
    margin-bottom: 20px;
}
.label-field-pair-title label{
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: left;
    padding-top: 10px;
    font-weight: normal;
    width: auto;
    height: auto;
}
.label-field-pair-title .text-input-bg{
    width: auto;
    height: auto;
    min-width: 650px;
    float: left;
    background: transparent;
}
.label-field-pair-title input{
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 0px;
    width: 450px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}
.label-field-pair-title input#is_common_users_all_users{
    width: 17px;
    float: left;
    margin: 10px 5px 0 0px;
}
.label-field-pair-title input#is_common_users_selected_users{
    width: 17px;
    float: left;
    margin: 10px 5px 0px 100px;
}






.label-field-pair-date{
    height: auto;
    width: auto;
    float: left;
    max-width: 340px;
    padding-top: 3px;
    margin-bottom: 20px;
}
.label-field-pair-date label{
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: left;
    padding-top: 10px;
    font-weight: normal;
    width: auto;
    height: auto;
}
.label-field-pair-date .text-input-bg{
    width: auto;
    height: auto;
    min-width: 340px;
    float: left;
    background: transparent;
}
.label-field-pair-date input{
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 0px;
    width: 210px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}
.label-field-pair-date input#event_is_holiday{
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 34px 0 0 0px;
    width: 30px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
    float: left;
}
.label-field-pair-date label#is_holiday{
    color: #444;
    display: block;
    font-size: 14px;
    margin: 24px 0 0px 0;
    float: left;
    padding-top: 10px;
    font-weight: normal;
    width: auto;
    height: auto;
}























#category-list,.category-list_mini {
    clear: both;
    padding: 10px 0 40px 0px;
    max-width: 423px;
    width: auto;
    height: auto;
    float: left;
}
.category-list_mini{
    width:350px;
}

#category-list .listeven,.category-list_mini .listeven{
    background : #FFF;
    border-bottom:1px solid #ccc;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    color : #444;
    min-height : 1.5em;
    overflow: auto;
    list-style-type : none;
    padding : 0.5em 0 0 50px;
}
.category-list_mini .listeven{
    float:left;
    width:300px;
}

#category-list .listodd, .category-list_mini .listodd{
    background : #f5f5f5;
    border-bottom:1px solid #ccc;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    color : #444;
    min-height : 1.5em;
    overflow: auto;
    list-style-type : none;
    padding : 0.5em 0 0 50px;
}
.category-list_mini .listodd{
    float:left;
    width:300px;
}s

#category-list li.heading,.category-list_mini li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    height : 1.5em; width : 30em;
    padding : 0.5em 0 0 5em;
}
#category-list li div {
    float : left;
}
#category-list li div.category-name,.category-list_mini li div.category-name_mini {
    width: auto;
    font-weight: normal;
    font-size: 13px;
    margin-right: 10px;
    margin-bottom: 6px;
    margin-top: 2px;
    float:left;
    max-width: 300px;
}
#category-list li div.category-upscale{
    width: 50px;
    font-size: 13px;
    font-weight: normal;
    margin-right: 75px;
}
#category-list li div.category-select_student div{
    width: 110px;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
}

#category-list li div.category-select_student div:hover{
    text-decoration: underline;
}
#category-list li div.category-edit,
#category-list li div.category-delete,.category-list_mini li div.category-edit,
.category-list_mini li div.category-delete {
    font-size: 13px;
    width: auto;
    float: left;
    margin-right: 10px;

}
#category-list li div a {
    color : #000;
    font-size:14px;
    text-decoration: none;
}
#category-list li div a:hover {
    color : #d00;
    text-decoration: underline;
}

.listheading {
    background: #e5e5e5 none repeat scroll 0 0;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    color: #444444;
    height: 1.5em;
    list-style-type: none;
    padding: 0.5em 0 7px 50px;;
    /* width: 494px; */
    float: left;
    width: 371px;
}
.listheading_mini {
    background:none repeat scroll 0 0 #E5E5E5;
    border-bottom:1px solid #ccc;
    border-left:1px solid #ccc;
    border-top:1px solid #ccc;
    border-right:1px solid #ccc;
    color:#444444;
    height:1.5em;
    list-style-type:none;
    padding: 5px 0 7px 48px;
    float: left;
    width: 300px;
}
.heading-name,.heading-name_mini {
    width: auto;
    font-size: 14px;
    font-weight: normal;
    margin-top: 3px;
}
.heading-name_mini{
    float:left;
}
.heading-edit{
    font-weight: bold;
    font-size: 13px;
    width: 65px;
}
.scroll{
    float: left;
    width: auto;
    height: auto;
    max-height: 300px;
    overflow-y: scroll;
    min-width: 423px;
    overflow: auto;
}
.left_align{
    width: auto;
    float: left;
}
.right_align{
    width: auto;
    float: right;
}
.fieldWithErrors input {
    border: 1px solid #9c0000 !important;
}
.fieldWithErrors textarea {
    border: 1px solid #9c0000 !important;
}
#popup_frame .part {
    /*padding: 20px 0px;*/
    border-bottom: 1px solid #c6c6c6;
    float: left;
    width: 100%;
}
#leave_group_form{
    width: 100%;
     border-bottom: 1px solid #c6c6c6;
}
#popup_header_part h4 {
    margin: 0px 0px 0px 20px;
    float: left;
}
#popup_content .label-field-pair {
    width: 100%;
    height: auto;
    margin-top: 20px;
}
#submit_button{
    margin-left: 20px !important;
}
#popup_footer .submit-button, body #popup_footer .submit-button:hover{
    margin-top: 20px;
}
#popup_window{
    width: 550px;
}