/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 Jan, 2016, 11:01:47 AM
    Author     : foradian
*/

#necessary-field-notification{
    font-weight: bold;
    margin-bottom: 40px;
}
#top_section{
    float: right;
    width: 100%;
    margin-bottom: 30px;
    /*    margin-bottom: 30px;*/
}
#course_area,#batch_area{
    float:right;
    width:410px;
}
#course_text,#batch_text{
    float:right;
    color: #444;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
}
div.wizard.is_collapsed{
    float: right;
    width: 100%;
}
div.wizard{
    float: right;
    width: 100%;
}
#profile_picture_display {
    float:right;
    width:100px;
    height:100px;
    border:8px solid #EFEFD1;
}
#profile_picture_display img {
    width:100px;
    height:100px;
    /*padding-top:25px;
    padding-left:32px;*/
}
#student_main_info {
    float:right;
    margin-right:50px;
    width:500px;
}
#student_main_info h3 {
    margin:0;
    padding:0;
}
#student_main_info h4 {
    margin:0;
    padding:0;
    color:#b00;
    margin-top:10px;
}
#student_main_info h6 {
    margin:0;
    padding:0;
    color:#b00;
    margin-top:5px;
}
#student_main_info h5 {
    background-color:#eee;
}
#edit_student_profile {
    clear:both;
    margin:0 auto;
    padding-right:170px;
}
#new_profile_info_top {
    margin:30px auto;
    width:697px;
}
#student_profile_heading{
    float: right;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid #cccccc;
}
.middile_section{
    float: right;
    width: 100%;
}
.text{
    color: #666;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
}












/*student_details*/

/*
.edit_btn{
    float: right;
    border: 1px solid rgb(113, 113, 113);
    padding: 3px 15px;
    color: white;
    background-color: rgb(113, 113, 113);
    text-decoration: none !important;
    font-size: 16px;
    border-radius: 3px;
}*/
/*.edit_btn > a:-webkit-any-link{
    text-decoration: none;
    color: white;
}*/
/*.name_slot{
    margin: 15px 30px 15px 30px;
    width: 94%;
    float: right;
    font-size: 14px;
}*/
/*.space_slot{
      margin-left: 140px;
    float: left;

}
.small_space_slot-1{
      float: left;
    margin-left: 140px;

}
.small_space_slot-2{
      float: left;
    margin-left: 140px;

}*/
/*.ratio_2 input{
    width: 120px;
}
.ratio_4 input{
    width: 380px;
}*/
/*.very_small_space_slot{
    float: right;
    border-bottom: 1px solid rgba(0, 0, 0, 0.32);
    width: 10%;
    margin-top: 15px;
}*/
/*.name{
    float: left;
    margin-left: 10px;
}*/
/*.text_area_slot > textarea{
    float: left;
    margin-left: 140px;
    width: 380px;
    height: 110px;
}*/
/*.template_preview_box{
    float: left;
    width: 100%;
    margin-bottom: 100px;
}*/
/*.template_previews{
    float: left;
    width: 100%;
}*/
.radio_buttons{
    /*        float: left;*/
    /*    margin-left: 140px;*/
    width: auto;
    overflow: auto;
    padding-top: 6px;

}
/*.radio_buttons_2{
    width:300px;
    float:left;
    padding-top: 5px;
}*/
.radio_one{
    float: right;
}
.radio_two{
    float: right;
    margin-right: 45px;
    margin-top: 10px;
}
.field_names{
    display: inline;
}

/*.ratio_1{
    margin-right: 505px;
}*/

img.calendar_date_select_popup_icon{
    margin-top: 0px !important;
}
.save_preference{
    background: #27292B !important;
    color: white;
    /*    height: 30px;*/
    font-size: 16px;
    font-weight: bold;
    -webkit-border-radius: 10px;
    padding-right: 20px !important;
    padding-left: 20px !important;
    border-radius: 4px !important;
    cursor: pointer;
    border: none;
    padding: 5px;
}
.save_preference:focus{
    outline:none;
}


input#generate_report_certificate_no_value{
    -webkit-border-radius: 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    padding: 5px;
}
.calendar_label{
    -webkit-border-radius: 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    padding: 5px;
}


.template_settings_sub_head{
    font-size: 16px;
    font-weight: bold;
}

.other_details{
    border: 1px solid;
    border-color: rgb(226, 226, 226);
    overflow: auto;
    margin: 30px 0px 30px 0px;
    padding: 30px;
    width: 93.7%;
}
.form_submission{
    margin-top: 30px;
}
.certificate_number{
    width: auto !important;
    display: inline-flex;
}

.certificate_number label {
    color:#444444;
    display:block;
    float:right;
    margin:0 0 10px;
    padding-top: 9px;
    font-weight: 600;
    font-size: 14px;
}
.certficate-no input  {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:4px 10px 0 0;
    padding:7px 5px 5px 5px !important;
    width:205px;
    text-align: right;
}
.certficate-no input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}
.label-field-pair p
{
    float: right;
    margin: 5px 0px 0 0;
    font-size: 12px;
    color: #666;
}
#warning_info
{
    display: inline;
    float: right;
    width: auto;
    border: 1px solid #B2B2B2;
    padding: 5px;
    margin-right: 30px;
    font-size: 12px;
    color: #666;
}
.previous_serial_number_field{
    float: left;
}
#warning_infos{
    font-size: 12px;
    color: #666;
}
#warning_infos > p{
    float: right;
}
.text-input-bg {
    background: transparent;
    height: 28px;
    width: auto !important;
    float: right;
}
.label-field-pair label {
    padding-right: 30px;
    word-break: keep-all;
    margin-left: 90px;
    padding-top: 7px;
    width: 220px;
    font-weight: normal;
}
.label-field-pair input{
    width:465px;
}
.text-input-bg.date input {
    width: 203px;
}
.label-field-pair{
    width: 864px;
    min-height: 50px !important;
    overflow: auto !important;
    height: auto !important;
    padding: 5px 0px 5px 0px;
}
.label-field-pair textarea{
    height: 50px;
    width: 465px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    padding: 5px;
    margin-right:10px;
}
.text-input-bg.religion input{
    width: 120px;

}

input[type="radio"]{
    width:auto !important;
    margin-left: 12px;
}

.date_of_issue_field{
    float: left;
}

.date_of_issue_field > label{
    color: #444444;
    display: block;
    float: right;
    margin: 0 0 10px;
    padding-top: 9px;
    font-weight: 600;
    font-size: 14px;
}
.submit_button{
    width: auto;
    float: right;
    margin-left: 30px;
}
.submit-button{
    margin: 0px;
}
.submit_button + div{
    float: right;
    text-decoration: none;
}
.save_preferences > a{
    text-decoration: none;
/*    padding: 5px 7px;*/
}
#page-yield .save_preferences > a:hover{
    color:white !important;
}

.name_slots_edit{
    font-size: 0.875em;
    page-break-after: auto;
    page-break-inside: avoid;
    width: 100%;
    vertical-align: top;
}
table{
    width:100%;
}
.tc_field_labels_edit{
    max-width: 225px;
    vertical-align: top;
    padding-top: 20px;
}
.tc_field_values_edit{
    position: relative;
    text-align: right;
    padding-right: 50px;
    padding: 10px 50px 10px 0px;
}
.tc_field_value_edit, .textarea-input-bg{
    width: 100%;
    margin: 0px 0px 20px 0px;
}
.tc_field_value_edit > input{
    width: 465px !important;
    -webkit-border-radius: 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 17px;
    margin: 5px 10px 0 0;
    padding: 5px;
    text-align: right;
}
.tc_field_value_edit > select{
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 10px 0 0;
    width: 215px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.textarea-input-bg > textarea{
    width: 465px !important;
    max-width: 465px;
    -webkit-border-radius: 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    margin: 5px 10px 0 0;
    padding: 5px;
    text-align: right;
}
.tc_field_value_edit.date > input{
    width:205px;
}
.radio_one{
    margin-right: 7px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.tc_field_value_edit.inner{
    width:100%;
}
.tc_field_values_edit.inner{
    padding-right: 0px;
}
#loader{
    margin-right: 20px;
    padding-bottom: 6px;
}
.name_slots_edit.sub_fields > td:first-child{
    padding-right: 30px;
}
.name_slots_edit.sub_fields > td{
    padding-top: 0px;
}
.name_slots_edit.sub_fields > td:first-child{
    padding-top: 5px;
}
img[id^="loader"]{
    margin-right: 20px;
    padding-bottom: 6px;
}
td.tc_field_values_edit.date{
    float: right;
}
#page-yield a.submit-button  {
    text-decoration: none !important;
    color: white !important;
}
#page-yield .student_details_view a:hover  {
    
    color:#fff !important;
}
.name_slots_edit label{
    display: inline-table;
    inline-size: inherit;
}