#other_details{
    line-height: 1.5 !important;
}
#page-yield #student_details_table a:hover{
    color: black !important;
}
#other_details a{
    color:#666;
    text-decoration: none;
}
#other_details a:hover{
    color:#666;
    text-decoration: underline;
}
#top_section{
    float: right;
    width: 100%;
    margin-bottom: 30px;
    /*    margin-bottom: 30px;*/
}
#course_area,#batch_area{
    float:right;
    width:410px;
}
#course_text,#batch_text{
    float:right;
    margin-top:0px;
    color: #444;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
}
#middle_section{
    float: right;
    width: 100%;
    margin-top: 20px;
}
#description{
    float: right;
    width: auto;
    padding-top: 9px;
}
#description_text{
    float: right;
    color: #909090 ;
    font-size: 13.7px;
    line-height: 18px;

}
#priority{
    float: left;
    margin-right: 80px;
}
#priority a{
    font-size: 14px;
    margin-top: 5px;
    color: #06c;
}
#priority_text_1{
    margin-top: 10px;
    float: right;
    font-size: 15px;
    color: #06c;
    cursor: pointer;
}
#student_details_table,#exam_details_table{
    width:100%;
    float:right;
    margin-bottom: 30px;
}

th{
    font-size: 14px;
    color: #333333;
    background: #eeeeee;
    line-height: 30px;
}
td{
    font-size: 13px;
    color: #333333;
}
td.action a:first-child{
    margin-left: 10px;
    float:right;
}
td.action a:last-child{
    margin-right: 10px;
    white-space: nowrap;
}

table, th,td{
    border: 1px solid #cccccc;
    border-collapse: collapse;
}
th, td {
    padding: 5px 20px;
    text-align: right;
}
tr{
    line-height: 30px;
}

.list_odd{
    background-color: #ffffff;
}
.list_even{
    background-color: #f5f5f5;

}
th#name{
    width: 29%;
    
}
th.value_criterea{
    width: 16%;
}
th#course_study{
    width: 18%;
}
th#action{
    width: 31%;
}

#other_details{
    margin-bottom:30px;
    float: right;
    width: 100%;
    margin-top: 40px;
}


#search_box_bg{
    width:287px;
}

#search_box_bg label {
    padding-top: 0px;
    color: #555;
    font-size: 16px;
    width: 80px;
    font-weight: bold;
    float: right;
}
#search_textbox input {
    background: #eee;
    float: right;
    border: 1px solid #c6c6c6;
    margin: -5px 10px 0 0;
    width: 180px;
    height: 22px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
/*    padding: 4px 0 0 5px;*/
}
.text-input-bg select{
    margin: 0;
}

#search_textbox input:focus {
    background: #fff;
    border: 1px solid #9e0f15;
}
img#loader{
    float: left;
/*    padding-right: 20px;*/
    padding-top: 7px;
}
#loader{
    margin-right: 33px;
}
.no_entries{
    float: right;
    background-color: #fff1ab;
    width: 100%;
    border: 1px solid #EFDC86;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}
input.submit_button{
    padding: 5px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
}
input.submit_button:focus{
    outline:none;
}

/*-----------preview----------------------*/

/*---------------preview-----------------*/
.available_sections{
    border: 1px solid;
    border-color: rgb(226, 226, 226);
/*    height:100%;*/
}

.header_preview_box{
    float: right;
    width: 100%;
}


.header_preview{
    border-bottom: 1px solid;
    border-color: rgb(226, 226, 226);
    border-left: none;
    border-right: none;
    overflow: auto;
/*    margin: 30px 0px 30px 0px;*/
}
.header_head{
    /*    display:table-cell;*/
    vertical-align:middle;
    text-decoration: none;
    border-bottom: 1px solid rgb(226, 226, 226);
    padding: 20px;
    text-align: center;
    overflow: auto;

}
.header_bottom{
    padding: 20px;
}
.logo{
    height: 100px;
    width:100px;
}
.logo img{
    width: 100%;
}
.logo_to_left{
    float: right;
    margin-left: 20px;
}
.logo_to_right{
    float: left;
    margin-right: 20px;
}
.institution_details_to_left{
    width: 60%;
    margin: 0 auto;
    text-align: right;
}
.institution_details_to_center{
    display: inline-block;
    width: 60%;
    margin: 0 auto;
    /*    width:100%;*/
    text-align: center;
}
.institution_details_to_right{
    width: 60%;
    margin: 0 auto;
    text-align: left;
}
.preview_institution_name{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    margin: 5px;
}
.preview_institution_address, .preview_institution_email{
    font-weight: normal;
    font-size: 13px;
    margin: 5px;
}
.preview_certificate_name{
    font-weight: 600;
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
    width:100%;
    text-align: center;
}
.preview_certificate_date_and_serial{
    font-size: 15px;
    height:20px;
}
.certificate_serial{
    float: right;
}
.certificate_date{
    float:left;
}

.date_placeholder{
    color:rgb(226, 226, 226);  
}

.preview_additional_large{
    font-size: 18px;
}
.preview_additional_small{
    font-size: 12px;
}
.preview_additional_medium{
    font-size: 16px;
}
.preview_additional_very_small{
    font-size: 10px;
}
.preview_additional_black{
    color: black;
}
.preview_additional_grey{
    color: grey;
}

/*----------Footer--------------*/
.footer_preview_box{
    float: right;
    width: 100%;
}
.template_settings_sub_head{
    margin-top: 30px;
    color: rgb(113, 113, 113);
    font-weight: bold;
}
.footer_preview{
    border-top: 1px solid;
    border-left: none; 
    border-right: none; 
    border-color: rgb(226, 226, 226);
/*    margin-top: 20px;
    margin-bottom: 20px; */
    padding: 30px;
    font-size: 14px;
    color: #666;
}

div[class^="footer_head"]{
    /*    display:table-cell;*/
    vertical-align:middle;
    text-decoration: none;
    overflow: auto;
    justify-content: center;
    margin-bottom: 50px; 
}

.footer_head_large{
    font-size: 18px;
}
.footer_head_small{
    font-size: 14px;
}
.footer_head_medium{
    font-size: 16px;
}
.footer_head_very_small{
    font-size: 13px;
}
.footer_head_black{
    color: black;
}
.footer_head_grey{
    color: grey;
}

.footer_signatures{
/*    display:flex;
    justify-content:space-between;*/
    display: table;
    width: 100%;
    table-layout: fixed;
}
.signature{
    white-space:nowrap;
    display: table-cell;                 /* Uncheck if using flex*/
    text-align: center;                    /* Uncheck if using flex*/
}
.footer_signatures div:first-child {           /* Uncheck if using flex*/
    text-align: right;
}
.footer_signatures div:last-child {             /* Uncheck if using flex*/
    text-align: left;
}


/*--------------tc_data------------------*/
.tc_data{
    width:100%;
/*    height: 200px;*/
/*    border-bottom: 1px solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: rgb(226, 226, 226);*/
    overflow: auto;
}

input[type="text"], input[type="password"], textarea, select{
    -webkit-border-radius: 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    padding: 5px;
}
.tc_field_label{
    float: right;
    width: 35%;
/*    font-weight: bold;*/
    margin-left: 79px;
    color: #666;
}
.tc_field_value{
    width: 50%;
    float: right;
    border-bottom: 1px solid #928F8F;
    padding: 3px;
}
.tc_field_value_numeric{
    width: 20%;
    float: right;
    border-bottom: 1px solid #928F8F;
    padding: 3px;
}
.tc_field_value_text_area{
    width: 50%;
    float: right;
    padding: 3px;
    overflow: auto;
    text-align: justify;
    line-height: 20px;
}
.other_details{
    border: 1px solid;
    border-color: rgb(226, 226, 226);
    overflow: auto;
    margin: 30px 0px 30px 0px;
}
.name_slot{
      margin: 25px 30px 20px 30px;
    width: 94%;
    float: left;
    font-size: 14px;
}
.space_slot{
      margin-right: 140px;
    float: right;

}

/*------------------student_head_line--------------*/
#flash-msg {
    background-color : #fff1ab;
    padding : 5px;
    font-size:13px;
    font-weight:600;
    border:1px solid #EFDC86;
    margin-bottom: 10px;
}
#profile_picture_display {
    float:right;
    width:100px;
    height:100px;
    border:8px solid #EFEFD1;
}
#profile_picture_display img {
    width:100px;
    height:100px;
    /*padding-top:25px;
    padding-left:32px;*/
}
#student_main_info {
    float:right;
    margin-right:50px;
    width:500px;
}
#student_main_info h3 {
    margin:0;
    padding:0;
}
#student_main_info h4 {
    margin:0;
    padding:0;
    color:#b00;
    margin-top:10px;
}
#student_main_info h6 {
    margin:0;
    padding:0;
    color:#b00;
    margin-top:5px;
}
#student_main_info h5 {
    background-color:#eee;
}
#edit_student_profile {
    clear:both;
    margin:0 auto;
    padding-right:170px;
}
#new_profile_info_top {
    margin:30px auto;
    width:697px;
}
#student_profile_heading{
    float: right;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid #cccccc;
}
th#name a{
    color: #333333;
}
th.value_criterea a{
    color: #333333 !important;
}
.pagination{
    margin-top: -20px !important;
}