.scrolable,.scrolable2{
    float:right;
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #C6C6C6;
    margin:5px 10px 15px 0;
    padding:7px;
    width:200px;
    overflow:auto;
}
.scroll-inside{
    max-height:100px;
    overflow:auto;
}
.scrolable{
    max-height:100px;
}
.scrolable2{
    max-height:60px;
}
.scroll-inside2{
    max-height:60px;
    overflow:auto;
}
.scroll-inside a.all,.scroll-inside2 a.all {
    color:#444444;
    font-weight:bold;
    font-size:14px;
    text-decoration:none;
}
.scroll-inside a.individual,.scroll-inside2 a.individual{
    font-size:14px;
    text-decoration:none;
    color:#444444;
}
.scroll-inside .hover span,.scroll-inside2 .hover span{
    display: none;
}
.scroll-inside .hover:hover a,.scroll-inside2 .hover:hover a{
    text-decoration:underline;
    color:#9f0c14;
}
.scroll-inside .hover:hover span,.scroll-inside2 .hover:hover span{
    display:block;
    float:left;
    color:#444444;
    font-size:13px;
    margin-left: 5px;
    padding-top:2px;
}
.hover{
    border-bottom:1px solid #dddddd;
}
#create_folder_form{
    margin: 0 auto;
    height: 230px;
    width: 400px;
}
#autofill-area .label-field-pair {
    margin:0 0 10px 95px;
}
#admission1_form_vertical_block_left {
    padding-bottom: 20px;
}
.label-field-pair {
    width: 500px;
}
.label_field_pair {
    width:600px;
    height: 40px;
    padding-top: 3px;
}
.label_field_pair2 {
    font-weight: normal;
    color: black;
    width:800px;
    height: 40px;
    padding-top: 3px;
}
.label_field_pair1 {
    width:285px;
    float:right;
    padding-top:40px;
}
.label_field_pair label {
    padding-top: 10px;
    display:block;
    color:#444;
    margin-bottom:10px;
    font-size: 14px;
    font-weight: 600;
}
.label_field_pair input[type="checkbox"]{
    margin-top: 10px;
}
.label_field_pair input[type="text"] {
    width:210px;height:28px;
    background:transparent;
    border:none;
    padding-right:10px;
    padding-top:5px;
}
input[type="text"]:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}
.label-field-pair label{
    width: 160px !important;
}
.label-field-pair2{
    float: right;
    width: 410px;
}
.label-field-pair3{
    float: right;
    width: 300px;
}
.label-field-pair2 label, .label-field-pair3 label{
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 0px 0;
    float:right;
    padding-top: 10px;
    font-weight: 600;
}
.label-field-pair2 label {
    width: 160px;
}
.label-field-pair3 label{
    width: 50px;
}
.label-field-pair2 input,.label-field-pair3 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 10px 0 0;
    width : 205px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.label-field-pair2 input[type="file"],.label-field-pair3 input[type="file"] {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 10px 0 0;
    width : 205px;
    height:27px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.label_field_pair select {
    background : #eee;
    border: none;
    height: auto;
    margin: 5px 5px 0 0;
    width: 220px;
}
.submit_button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    display: block;
    margin: 0 170px;
    position: relative;
    top:10px;
}
.submit_button:hover{
    background:  #373B3F;
}
.themed_text_doc{
    font-weight: bold;
    padding-top:10px;
}
.span-sub-heading{
    width: auto;
}
#dept-course-heading{
    float: right;
    margin-right: 50px;
}
#member-list,#dept-list,#course-list{
    float: left;
}
.member-list{
    width: 350px;
    height: auto;
}
.dept-list{
    width: 350px;
    height: auto;
}
.category-box{
    height: 200px;
    width: 100px;
    float: right;
}
.text-desc{
    margin-top: 2px;
    float: left;
    font-size: 14px;
    color: #444444;
}
.fields{
    height: 48px;
    margin-top: 5px;
    border-bottom: 1px solid #c6c6c6;
}
.fields-wrap{
    width: 950px;
    float: right;
    height: auto;
}
.fields-wrap1{
    width: 400px;
    float: right;
    height: auto;
}
#fields-wrap2{
    margin-right: 50px;
    padding-left: 50px;
    width: 400px;
    float: left;
    height: auto;
    border-right : 1px solid #c6c6c6;
}
.fields-wrap2{
    width: 950px;
}
.label_field_pair3 {
    height : 80px;
    width : 600px;
    padding-top: 3px;
}
.label_field_pair3 label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 0px 0;
    float:right;
    width: 160px;
    padding-top: 10px;
    font-weight: 600;
}
.extender{
    height: 10px;
    clear: both;
}
.delete_button_img{
    background:#fff url(/images/buttons/delete_2.png) no-repeat;
    display: block;
    float: left;
    height: 12px;
    width: 5px;
    font-size: 13px;
    padding-right: 15px;
    color: #f00;
    position: relative;
    text-decoration: none;
    top: 15px;
}
.add_button_img{
    background: none;
    display: block;
    float: none;
    height: 12px;
    width: 100px;
    margin-top: 15px;
    font-size: 13px;
    text-decoration: none;
    display: inline;
    color: #080;
    top: 15px;
    position: relative;
}
.label-field-pair4{
    float: right;
    width: 800px;
}
.label-field-pair4 label{
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 0px 0;
    float:right;
    font-weight: 600;
    padding-top: 2px;
    width: 165px;
}
.label_for_category{
    color: #444;
    font-weight: normal;
    font-size: 14px;
    float: right;
    margin-right: 5px;
    margin-top: 2px;
    width: 100px;
}
.label-category-pair input[type="checkbox"]{
    float: right;
}
.necessary-field {
    color: #FF0000;
    font-size: 1.1em;
}
p.text-input-bg{
    width: 150px;
    background : transparent;
    height : 28px;
    width : 225px;
    float:right;
    margin: 10px 10px 0px 0px;
    font-size: 13px;
    color: #444;
}
#userspecific-list {
    clear: both;
    margin: 0 auto;
    padding: 10px 0 40px;
    width: 570px;
}
#userspecific-list .listeven {
    background: none repeat scroll 0 0 #EEF2FD;
    border-bottom: 1px solid #BECFFB;
    color: #444444;
    min-height: 25px;
    overflow: auto;
    list-style-type: none;
    padding: 8px 48px 0 0;
    width: 528px;
}
#userspecific-list .listodd {
    background: none repeat scroll 0 0 #DFEAFF;
    border-bottom: 1px solid #BECFFB;
    color: #444444;
    min-height: 25px;
    overflow: auto;
    list-style-type: none;
    padding: 8px 48px 0 0;
    width: 528px;
}
#userspecific-list li.heading {
    background : none;
    font-weight : bold;
    list-style-type : none;
    color : #444;
    min-height : 25px;
    width: 400px;
    padding : 8px 48px 0 0;
}
#userspecific-list li div {
    float : right;
}
#userspecific-list li div.userspecific-name {
    width : 350px;
    font-size:13px;
    font-weight:bold;
}
#userspecific-list li div.userspecific-edit,
#userspecific-list li div.userspecific-delete {
    font-size : 9px;
    width : 88px;
}
#userspecific-list li div a {
    color : #000;
    text-decoration:none;
    font-size:14px;
}
#userspecific-list li div a:hover {
    color : #d00;
    text-decoration:underline;
}
#userspecific-list .listheading {
    background:none repeat scroll 0 0 #BECFFB;
    border-bottom:2px solid #BECFFB;
    color:#444444;
    min-height:25px;
    list-style-type:none;
    padding:8px 16px 0 0;
    width:560px
}
.label-checkbox-pair {
    float: none;
    height:40px;
    padding-top:3px;
    padding:10px 0px 0 0;
    width:600px;
}
.status{
    font-weight : bold;
    margin : 0 5px 10px 0;
    color:#444444;
    display:block;
    float:right;
    font-size:14px;
    margin:0 0 10px;
    padding-top:3px;
    width: 165px;
}
