table#report_table{
    background: #dcdcdc;
}
table#report_table tr.tr-head{
    color:#fff!important;
    font-weight:bold;
    font-size: 14px;
    text-align:left;
}
table#report_table .tr-head td{
    padding:5px;
    padding-left:10px;

}
table#report_table .tr-odd{
    background: #efefef;
    text-align:left;
    padding:50px;
    font-weight:700;
    font-size:13px;
    color: #333333;
}
table#report_table .tr-even{
    background: #f8f8f8;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:700;
    font-size:13px;
}
table#report_table .tr-read-odd{
    background: #fff;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:normal;
    font-size:14px;
}
table#report_table .tr-read-even{
    background: #f1f6ff;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:normal;
    font-size:14px;
}
table#report_table td.col-1{
    width:10%;
    padding: 5px;
    padding-left:10px;
}
table#report_table td.col-2{
    width: 11%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
    word-break: break-all;
}
table#report_table td a{
    text-decoration:none;
    color:#27292b;
}
table#report_table td a:hover{
    color:#990a10;
    text-decoration:underline;
}
table#report_table td.col-3{
    width:10%;
    padding: 5px;
    padding-left:10px;
    word-break: break-all;
}
table#report_table td.col-4{
    width: 12%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
    word-break: break-all;
}
table#report_table td.col-4-status{
    width: 12%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
    word-break: break-word;
}
table#report_table td.col-5{
    width: 4%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
    word-break: break-all;
}
table#report_table td.col-6{
    width: 5%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
    word-break: break-all;
}

table#report_table td.col-7{
    width:20%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
    word-break: break-all;
}
.pagination_list{
    width:100%;
    height:25px;
    border:1px solid #CCCCCC;
    margin-top:30px;
    background:#efefef
}
.pagination {
    float: right;
    position: relative;
    margin-top: 2px;
    margin-right: 15px;
}
.pagination a.prev_page,.pagination a.next_page{
    color:#27292b;
    font-weight:bold;
    text-transform: none;
    background: none;
    text-decoration:none;
    border:none;
    font-size: 13px;
}
.pagination .disabled {
    color: #27292b;
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
    background: none;
    text-decoration: none;
    border: none;
}
.pagination_text{
    float:left;
    margin-left: 600px;
    font-size: 13px;
    color:#333333;
    margin-top: 5px;
}
#page-yield {
/*    margin-right: 10px;*/
    margin-top: 14px;
    margin-bottom: 10px;
}
.submit-button {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #27292B;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 0 0px;
    padding: 7px;
    float: left;
    cursor: pointer;
    float: right;
    margin-bottom: 0px;
/*    margin-right: 12px;*/
    padding-left: 13px;
    padding-right: 10px;
}
.submit-button a {
    text-decoration: none;
    color:#fff;
    font-size: 14px;
}
.submit-button a:hover{
    color:#fff !important
}
table#report_table tr.tr-head a{
    color:#fff !important;
}
table#report_table tr.tr-head a:hover{
    color:#fff !important;
    text-decoration: none;

}
.batch_order:hover{
    background: rgba(0, 0, 0, .2)
}
.batch_order_select{
    background: rgba(0, 0, 0, .2)
}
.field_pair{
    width: 216px;
    margin-left: 10px;
    font-size: 14px;
    color: #444;
    padding: 10px;
    height: 8px;
    float: left;
}
.label1{
    float:left;
    width:150px
        ;
    word-break: break-all;
}
.label2{
    float:left;
    word-break: break-all;
    font-weight: bold;
}
.info{
    float:left;
}
.label-field-pair label {
    width: 51px;
    text-align: right;
}
.text-input-bg {
    width: 181px;
}
.label-field-pair input {
    width: 130px;
}
.label-field-pair {
    margin-left: 10px;
    width: 232px;
    float: left;
    margin-bottom: 10px;
    margin-left: -6px;
}
.submit_button {
    margin-top: 8px;
    margin-left: 21px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
}
.hor_line{
    width:100%;
    height:1px;
    background-color:#333333
}
#information{
    margin-top:12px
}
.bread_crumb{
    margin-top: 15px;
}
