#fees-table{
    padding-top: 10px;
}
.fees-th {
    background: none repeat scroll 0 0 #BECFFB;
    border-bottom: 1px solid #BECFFB;
    height: 1.5em;
    list-style-type: none;
    padding: 0.5em  0 1em;
    width: 100%;
    color: #444;
    font-weight: bold;
    font-size: 14px;
}
.fees-tr {
    background-color: #E7EEFF;
    border-bottom: 1px solid #C4D2FE;
    font-size:0.9em;
    height: 1.5em;
    padding: 0.5em 0 0 0;
    width:100%;
}
.fees-table-description {
    width:700px;
    padding: 0 60px 0 0;
    color: #444444;
}

.fees-table-head-desc {
    float:right;
    padding: 0 60px 0 0;
    width: 317px;
}
.fees-table-expenses {
    float:left;
    width: 80px;
    padding: 0 77px 0 0;
    text-align:left;
    color: #444444;
    padding-left: 38px;
    margin-top: -19px;
}
.fees-table-expenses1 {
    float:left;
    width: 80px;
    padding: 0 77px 0 0;
    text-align:left;
    color: #444444;
    padding-left: 38px;
}
.fees-table-income {
    float:left;
    width:935px;
    padding-left: 38px;
    width: 154px;
    text-align:left;
    color: #444444;
    margin-top: -21px;
}
.fees-table-date {
    float:left;
    width: 80px;
    text-align:center;
    margin-left: 40px;
}

.listeven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : auto;
    width : 100%;
    list-style-type : none;
    padding: 10px 0  16px;
    font-size: 14px;

}

.listodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : #444;
    height : auto;
    width : 100%;
    list-style-type : none;
    padding: 10px  0 16px;
    font-size: 14px;

}

.fees-table-description a{
    text-decoration: none;
    color: #444444;
}

.fees-table-description a:hover{
    text-decoration: none;
    color: #BB0000;
}
#fees_report_title{
    color: #444;
    font-size: 15px;
}
.text_alignment{
    text-align: left;
}
