.link-box {margin:10px 40px;width:270px;float:left; height:80px;}
.link-heading a {font-weight:bold;color:#900;}
.link-descr {margin-top:5px;color:#666;text-align:left;}
#box{
    width:700px;
    margin:0px auto;
}
.extender {
	height: 30px;
}
.label-field-pair-text-area textarea {
	background: none repeat scroll 0 0 #EEEEEE;
	border: 1px solid #C6C6C6;
	margin: 5px 0 0 10px;
	padding: 5px;
	width: 205px;
	height: 90px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-size: 14px;
}
#MB_frame .label-field-pair-text-area  {
margin: 5px 0;
width: 450px;
}
.label-field-pair {
height: 40px;
width: 600px;
padding-top: 3px;
}
.label-field-pair-text-area label {
color: #444;
display: block;
font-size: 14px;
margin: 0 0 0px 0;
float: left;
width: 200px;
padding-top: 10px;
font-weight: 600;
}