.link-box {
    margin:10px 40px;
    width:270px;
    float:right;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
.link-descr{margin-top:5px;color:#666;text-align:right;}

.submit_button {
    -webkit-border-radius:10px;
    -moz-border-radius:10px 10px 10px 10px;
    background:none repeat scroll 0 0 #27292B;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-top:20px;
    margin-right:160px;
    padding:7px 10px;
}
.submit_button:hover{
    background:  #373B3F;
}

.name_list{
    height:auto;
    border-bottom: 1px solid #dddddd;
}
.att_list_names {
    display:inline;
    font-weight: 600;
    font-size: 13px;
}
.hidden_list_names {
    display:inline;
    font-weight: 600;
    font-size: 13px;
    color: #999999;
}
label {display:inline;}

#list {
    width:400px;
    float: right;
}
#list li {
    padding:6px 20px 6px 0;
    list-style-type:none;
}
#list li label input {
    margin-left:10px;
}

.text-input-bg  {
    background:none repeat scroll 0 0 transparent;
    float:right;
    height:auto;
    width:auto;
}

.text-input-bg textarea  {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background-color:#EEEEEE;
    border:1px solid #C6C6C6;
    height:100px;
    padding:3px 6px;
    width:386px ;
}

.text-input-bg textarea:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}

.box{
    float: right;
}
form
{
    float: right;
}
.msg_area
{
    float: right;
    width: 500px;
    margin-right: 80px;
    margin-top: 23px;
    height: auto;
}
.sel-list
{
    font-size: 14px;
    margin-bottom: 10px;
    color: #444;
}
.sel-list a
{
    font-weight: bold;
}
.list-batches
{
    -webkit-border-radius: 10px;
    background: #EEEEEE;
    border: 1px solid #C6C6C6;
    height: 300px;
    overflow: auto;
    padding: 2px;
}
#scroll-inside
{
    height: 300px;
    overflow: auto;
    overflow-x: hidden;
}
.label-field-pair label
{
    width: auto;
    max-width: 100px;
}
.flash-msg{
    width: 968px;
}
#batches_list
{
    float: right;
}
.note-area
{
    float: right;
    color: #666666;
    font-size: 11px;
    margin-top: 25px;
    width: 581px;
}
#loader
{
    margin: 20px 146px 0 0;
}
.msg_area label
{
    width: 80px;
}
