.assessments_box {
    font-size: 13px;
    margin-top: 80px;
}
.assessments_head {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}
.left {
    float: right;
    width: 50%;
}
.assessments_head span {
    font-weight: bold;
    margin-right: 20%;
}
.right {
    float: left;
    width: 40%;
}
.assessments_details {
    padding-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
.col-1 {
    float: right;
    width: 50%;
    padding-left: 30px;
    box-sizing: border-box;
}
.assessment_details_tbl {
    width: 100%;
}
.col-1 .assessment_details_tbl td {
    width: 50%;
    padding: 10px 0px;
}
.assessment_details_tbl td.value {
    font-weight: bold;
}


.label-field-pair1{
    width: 1061px;
}
.label-field-pair {
    height : 40px;
    width: 344px;
    padding-top: 3px;
    float: right;
}
.text-input-bg {
    background : transparent;
    height : 28px;
    width: 230px;
    float:right;
}
.label-field-pair label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 0px 0;
    float:right;
    width: 106px;
    padding-top: 10px;
    font-weight: 600;

}
.label-field-pair input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 10px 0 0;
    width : 205px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.text-input-bg select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 10px 0 0;
    width: 155px;
    height:27px;
    padding:3px 6px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
.pdf-button a {
    color: #FFFFFF;
    text-decoration: none;
}
.label-checkbox-pair {
    float : right;
    padding : 30px 10px 0 0;
    width : 250px;
}


.label-field-pair2 {
    height : 40px;
    width: 345px;
    padding-top: 3px;
    float: right;
}
.text-input-bg2 {
    background : transparent;
    height : 28px;
    width: 230px;
    float:right;
}
.label-field-pair2 label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 0px 0;
    float:right;
    width: 106px;
    padding-top: 10px;
    font-weight: 600;

}
.label-field-pair2 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 10px 0 0;
    width : 205px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.text-input-bg2 select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 10px 0 0;
    width: 155px;
    height:27px;
    padding:3px 6px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
.submit-button {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #27292B;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0px 0px 0px;
    padding: 5px;
    padding-right: 8px;
    padding-left: 14px;
    float: right;
    cursor: pointer;
}
#report_table {
    margin-top: 30px;
}
.pdf-button {
    margin-right: 5px;
    margin-top: 20px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #27292B;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    padding-right: 8px;
    padding-left: 14px;
    float: right;
    cursor: pointer;
    text-decoration: none;
}
.pdf-button a{
    color: #FFFFFF;
    text-decoration: none;
}
.submit_btn{
    float:right;
    margin-top:9px;
    width:100%;
}
.errorExplanation {
    background: #ffdedf url(/images/_global/error.png) no-repeat 10px 14px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height: auto;
    width: 510px;
    margin: 20px auto;
    padding: 1px 20px 3px 0;
    list-style: none;
}
.button{
    width: 262px;
    height: 50px;
    margin-right: 354px;
}
#loading{
    margin-right: 10px;
    margin-top: 20px;
}
table#listing td.col-2 {
    width: 15%;
    text-align: right;
    padding: 5px;
    padding-right: 10px;
    font-size: 12px;
}
#loader{
    margin-right:5px;
}
table#listing tr.tr-head {
    font-size: 14px;
    text-align: center;
}
table#listing td.col-3 {
    width: 4%;
    padding: 5px;
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
}
.scrolable{
    overflow-y: hidden;
}
.head{
    font-size: 11px !important;
}
table#listing{
    moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #C3D9FF;
    padding: 10px 10px;
}



.tableSubHeader{
    text-align: right;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 20px 8px 20px;
    word-break: break-word;
    min-width: 50px;


}
.tableHeader{
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 10px 10px 5px;
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*min-width: 123px;*/
}
#table_div {
    overflow: auto;
    max-width: 630px;
    max-height: 600px;
    position: relative;
    float: right;
}
#table_div td{
    min-width: 80px;
}
.student_names{
    width: 167px;
    text-align: right;
    font-size: 13px;
    padding: 5px 8px 5px 8px;
    height: 45px;
    display: table-cell;
    vertical-align: middle;

}
.sl_no{
    min-width: 23px;
    width:auto;
    text-align: right;
    font-size: 13px;
    padding: 5px 20px 5px 5px;
    height: 45px;
    display: table-cell;
    vertical-align: middle;
    word-break: break-all;
}
#sl_no{
    background-color: #e5e5e5;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 20px 5px 5px;
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid #999999;
    border-right: 1px solid #999999;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    float: right;
    min-width: 23px;
    width:auto;
    height: 21px;
    line-height: 20px;
}
.roll_number{
    /*min-width: 83px;*/
    width:109px;
    text-align: right;
    font-size: 13px;
    padding: 5px 10px 5px 5px;
    height: 45px;
    display: table-cell;
    vertical-align: middle;
    word-break: break-all;
}
#roll_number{
    background-color: #e5e5e5;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 10px 5px 5px;
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid #999999;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    float: right;
    width:105px;
    height: 21px;
    line-height: 20px;
}
.adn_number{
    width:109px;
    text-align: right;
    font-size: 13px;
    padding: 5px 10px 5px 5px;
    height: 45px;
    display: table-cell;
    vertical-align: middle;
    word-break: break-all;
}
@-moz-document url-prefix() {
    .adn_number{
        width:111px;
    }
    .check_box{
        padding: 8px 0px 8px 8px;
    }
    
}
#adn_number{
        background-color: #e5e5e5;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 10px 5px 5px;
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid #999999;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    float: right;
    /*min-width: 59px;*/
    width:105px;
    height: 21px;
    line-height: 20px;
}
.student_names span{
    color: #999999;
}
#divHeader{
    overflow:hidden;
    max-width:630px;
}
#main_header_table{
    border:1px solid #999999;
    border-collapse: collapse;
    border-bottom: 0px;
    border-right:0px;
}
#main_header_table tr#main_heading{
    border-bottom: 1px solid #999999;

}
#main_header_table tr, #main_header_table td{
    border-right:0px;
    border-left: 1px solid #cccccc;
}
#student_list_table,#student_list_table tr,#student_list_table td{
    border-collapse: collapse;
    border-top: 0px;
    border-left: 1px solid #cccccc;
    border-bottom: 0px;
    border-right: 1px solid #999999;
}

#scores_table, #scores_table tr, #scores_table td{
    border-top:0px;
    border-left:0px;
    border-bottom:0px;
    border-right:0px;
    border-collapse: collapse;
}
#scores_table td{
    border-left:1px solid #cccccc;
}
tr.odd{
    background-color: #ffffff;

}
tr.even{
    background-color: #f4f4f4;
}
#firstSubTd{
    background-color: #e5e5e5;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 20px 5px 5px;
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid #999999;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    float:right;
    height: 21px;
    line-height: 20px;
    width: 153px;
}
#firstTd{
    height:37px;
    border-left:1px solid #999999;
}
#sub_header{
    background-color: #e5e5e5;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #ccc;
    border-right: 0px;
}


#page-yield ::-webkit-scrollbar {
    width: 12px;
    height: 10px;

}
#page-yield ::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-right: 1px solid #ccc;
}
#page-yield ::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
#page-yield ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

#page-yield ::-webkit-scrollbar {
    width: 10px;
}

#page-yield ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#page-yield ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#summary{
    float: right;
    width: 100%;
    color: #333;
    font-size: 13px;
    margin-bottom: 20px;
}
.individual_block{
    float: right;
    width: 100%;
    margin-bottom: 10px;

}
.left_section{
    float: right;
    width: 50%;
}
.right_section{
    float: right;
    margin-right:150px;
}
label{
    width: 80px !important;
}
label.header{
    width: 100px;
    float: right;
    margin-left: 5px;
}
.col_span{
    float:right;
    margin-left:5px
}
.bold_text{
    font-weight: bold;
}
.margin_extra{
    margin-right: 30px !important;
    margin-top: 10px!important;
}
.margin-top-50{
    margin-right: 0px;
}
#firstcol{
    overflow: hidden;
    max-height:600px;
    border-bottom: 1px solid #ccc;
}

.tableHeaderHelp{
    font-size: 11px;
    color: #666;
    font-weight: normal;
    padding:0px 10px 11px 10px
}

.scores{
    padding: 8px 0px 8px 8px;
    font-size: 13px;
    text-align: center;
    line-height: 40px;
}
.check_box{
    padding: 8px 0px 8px 7px;
    font-size: 13px;
    text-align: center;
    line-height: 40px;
}
@-moz-document url-prefix() {
    .check_box{
        padding: 8px 0px 8px 8px;
    }
    
}
.overlay {
    background-color: #f4f4f4;
    border: 1px solid #bfbfbf;
    color: #666;
    display: block;
    float: right;
    font-size: 14px;
    margin-bottom: 10px;
    position: absolute;
    text-align: center;
    top: 348px;
    width: 980px;
}
#loading_big{ margin-top: 100px; }
#loading_big #loader1{
    margin-bottom: 5px;
}
#loading_big span{
    width: 100%;
    float: right;
}

.scores input{
    /*background: #fff;*/
    border: 1px solid #c6c6c6;
    margin: 5px 6px 0 0;
    width: 50px;
    height: 17px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding: 5px;
    float: right;
}
.tooltip_info{ white-space: normal !important;line-height: 1.5; z-index: 999999;}
.error-text{
    border: 1px solid red;
    padding: 4px !important;
}
.error-field{
    border: 1px solid red;
    padding: 4px !important;
}
.error-icon {
    width: 15px;
    height: 12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    /*margin-right: 2px;*/
    float: right;
    margin-top: 9px;
}
#page-yield .error-field:focus {
    border: 1px solid red !important;
}
.submit-button {
    font-size: 13px;
    text-decoration: none;
    margin: 30px 0 0 15px;
    border-radius: 5px;
}
.scores.roll_no input{
    float: none;
}
.exam_group_head{
    display: table;
    width: 100%;
    table-layout: fixed;
}
.exam_group_head .clm{
    display: table-cell;
}
.exam_group_head .clm .value{
    font-weight: bold;
    margin-top: 20px;
    max-width: 211px;
}
.exam_group_head .clm:first-child{
    width:290px;
}
.assessment_details_short{
    background: #ececec;
    border-radius: 3px;
    margin-top: 50px;
    padding: 20px;
}
#page-yield .edit_subject_attribute_assessment a:hover{
    color: #fff !important;
}