hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: right;
    margin: 20px 0;
}
.field_details {
    float: right;
    width: 153px;
    font-weight: normal;
    font-size: 14px;
    color: #444;
    margin: 20px 0 20px 10px;
}
.field_name {
    float: right;
    width: 100%;
    color: #8C8C8C;
}
.field_val {
    float: right;
    margin: 10px 0 0 0;
    font-weight: bold;
}
div.sub-head {
    font-size: 13px;
    font-weight: bold;
    color: #444;
    float: right;
    width: 100%;
    margin: 20px 0;
}
.label-field-pair {
    min-height: 40px;
    max-height: 80px;
    height: auto;
    float: right;
    margin-bottom: 10px;
}
.label-field-pair label, .label-radio-pair label {
    font-weight: normal;
    font-size: 13px;
    width: 130px;
}
.text-input-bg input {
    width: 100px;
    text-align: left;
}
.label-radio-pair {
    height: 40px;
    padding-top: 3px;
    padding: 10px 0px 0 0;
    width: 980px;
    float: right;
    font-size: 13px;
}
#radio-buttons {
    margin: 0;
    float: right;
}
.status {
    color: #444444;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px;
    padding-top: 3px;
    width: 206px;
}
.submit-button{
    font-size: 13px;
    margin: 20px 0  0 0;
}
.select_batches{
    float: right;
    width: 400px;
    font-size: 13px;
    color: #444;

}
.select_batches .header{
    float: right;
    font-weight: bold;
}
div.div_link {
    float: right;
    font-size: 13px;
    text-decoration: underline;
    margin: 0 25px 0 0;
    cursor: pointer;
}
#batch_names, #description{
    float: right;
    width: 100%;
    margin-top: 10px;
}
#batch_names{
    color: #999999;
}
#list_batches{
    float: right;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 15px;
}
#list_header{
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
    font-weight: bold;
}
.each_batch{
    padding: 10px;
}
.each_batch input{
    margin: 1px 8px;
    float: right;
}
.header {
    font-weight: bold;
}