#page-yield {
    width:100%;
    margin: 0 auto;
    float: right;
    font-family: Arial !important;
}
.hor_line{
    width:100%;
    background: #333333;
    height: 1px;
}
.section {
    margin-top: 0px;
}
h2{
    text-align: center;
    font-size: 18px;
}
.even td{
    padding: 12px 12px 12px 15px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;
    font-size: 15px;
}
.table-header td{
    padding: 12px 12px 12px 15px;
    border-top: 1px solid #ADACAB;
    border-left: 1px solid #ADACAB;
    border-right: 1px solid #ADACAB;
    color: black !important;
    font-weight: bold;
    word-break:break-word;
}
.sub-head{ font-weight: bold; }
#signature{
    text-align: left;
    width: 10700px;
    margin: 0 auto;
    color: #fff;
    font-size: 12px !important;
}
#pdf-footer{
    text-align: left;
    width: 1300px;
    padding-left: 100px;
    padding: 10px;
    margin: 0 auto;
    color: #999999;
    font-size: 13px;

}
#pdf-footer{
    text-align: left;
    font-size: 18px;

}
.info1{
    margin-top: 15px;
    font-size:13px;
    font-weight:normal;
    color:#444444;
    margin-bottom:5px;
}
.infolbl{
    color:black;
    font-size: 15px;
}
.field-label{
    width:120px;
    float:right;
    font-size: 15px;
}
.info-left{
    float:right;
    width: 40%;
}
.info-right{
    float:left;
    width: 40%;
}
.info{
    width:100%;
    float:right;
}
table#pdf-table{
    border: 1px solid #ADACAB;
    border-collapse:collapse;
    width: 100%;
    margin-top: 20px;
}
.row{
    float: right;
    width: 100%;
    text-align: center;
}
.blank{
    width:10%;
    min-width:10%;
    max-width:10%;
    word-break:break-word;
}