.assessments_box{
    font-size: 13px;
    margin-top: 80px;
}
.assessments_head {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}
.left {
    float: right;
    width: 50%;
}
.assessments_head span {
    font-weight: bold;
    margin-right: 20%;
}
.right {
    float: left;
    width: 40%;
}
.assessments_details {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
    width: 100%;
    overflow: auto;
}
.col-1 {
    float: right;
    width: 50%;
    padding-left: 30px;
    box-sizing: border-box;
}
.assessment_details_tbl {
    width: 100%;
}
.col-1 .assessment_details_tbl td {
    width: 50%;
    padding: 10px 0px;
}
.assessment_details_tbl td.value {
    font-weight: bold;
}
.link_attributes_box{
    margin-top: 50px;
}
.link_attributes_box .header{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 30px;
}
.form_cont table{
    border-collapse: collapse;
    font-size: 13px;
    margin-top: 20px;
    float: right;
}
.form_cont tr {
    border: 1px solid #bfbfbf;
    border-top: none; 
}
.form_cont td{
    padding: 20px 10px;
}
.form_cont tr.tr-head{
    border-right: none;
    border-left: none;
    color:black !important;
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid #bfbfbf;
}
tr.tr-head td.attr_select_head{
    font-weight: bold;
}
td.col1{
    width:20%;
}
td.col2{
    width:40%;
}
.form_cont select{
    width: 100%;
    height: 30px;
    background: #fff;
}
.flex{
    display: flex;
}
.flex .col{
    flex: 1;
}
.profile_details{
    margin-top: 10px;
    color: #666;
}
.profile_details span{
    color: black;
    font-weight: bold;
}
.max_marks_cont{
    text-align: center;
    font-weight: bold;
}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: right;
    margin: 20px 0;
}
.submit-button {
    margin-right: 0px;
    color: white;
    background: black;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 3px;
}
.cancel-button {
    text-decoration: none;
    margin-right: 10px;
}
#info-symbol {
    height: 17px;
    width: 20px;
    background: url(/images/iconsprite-1.png) no-repeat center;
    margin-right: 5px;
    float: right;
    background-position: -60px -62px;
}
.disabled .select_profile select{
    width: 92%;
}
.disabled .select_profile #info-symbol{
    float:left;
    margin-top: 7px;
}
.tooltip_wrapper{
    float: left
}
#page-yield a.submit-button:hover{color: #fff !important;}