.assessments_box{
    font-size: 13px;
    margin-top: 80px;
}
.assessments_head{
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}
.assessments_head span{
    font-weight: bold;
    margin-right: 20%;
}
.left{
    float: right;
    width:50%;
}
.right{
    float:right;
    width:75%;
}
.assessments_details{
    margin-top: 30px;
    width:100%;
    overflow: auto;
}
.col-1{
    float:right;
    width:50%;
    padding-left: 30px;
    box-sizing: border-box;
}
.col-1 .assessment_details_tbl td{
    width:50%;
    padding: 10px 0px;
}
.assessment_details_tbl{
    width:100%;
}
.assessment_details_tbl td.value{
    font-weight: bold;
}
.assessments_details{
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}
.col{
    width:25%;
    float:right;
}
.flex{
/*    display: flex;
    display: -webkit-flex;  Safari 
    align-items: center;*/
}
.batch_box{
    overflow: auto;
    min-height: 300px;
    border: 1px solid #ccc;
    margin-top: 50px;
}
.batch_box1{
    overflow: auto;
    border: 1px solid #ccc;
    margin-top: 50px
}
.batch_box .header{
    overflow: auto;
    background: #ececec;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    width: 98%;
}
.batch_box1 .header{
    overflow: auto;
    background: #ececec;
    padding: 10px;
    width: 98%;
}
.flex-col{
/*    flex:2;
    -webkit-flex: 2;  Safari 6.1+ 
    -ms-flex: 2;  IE 10  
    text-align: right;*/
    /*width: 204px;*/
    float: left;
}
.right{
    float:left;
    width:75%;
}
.top_right{
    float:right;
    width:50%;
}
.right .flex-col{
    margin-left: 10px; 
}
/*.right .flex-col:last-child{
    margin-right: 0px;
}*/
.flex-col.text{
    margin-top: 5px;
}
.text-input-bg select{
    margin: 0px;
    border-radius: 5px;
    width: 100px;
    background: #fff;
}
.flex-col a{
    margin-right: 0px;
    float: left;
    text-decoration: none;
    font-weight: normal;
    padding: 5px 9px;
}
.disabled_btn{
    margin-right: 0px;
    float: left;
    text-decoration: none;
    font-weight: normal;
    padding: 5px 9px;
    cursor: auto;
}
.rad5{
    border-radius: 5px;
}
/*.header .flex:first-child{
    width:70%;
}
.header .flex:last-child{
    width:30%;
}*/
.flex-col .text-input-bg{
    float: left;
    width:auto;
}
.batch_box table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    margin: 30px 0;
}
.batch_box td{
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}
#page-yield .batch_box table .tr-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important
}
.batch_box tr{
    border-bottom: 1px solid #bfbfbf;
}
.batch_box table a, #page-yield .batch_box table a:hover {
    color: black !important;
    /*text-decoration: none;*/
}
#page-yield .batch_box table a:hover{
    text-decoration: underline
}
.batch_box td.col-2{
    width:70%;
}
.batch_box td.col-3{
    width: 20%;
}
.batch_box td.col-1{
    width: 25%;
    float: none;
}
.assessment_list{
    padding: 0px 20px;
    text-align: center;
}
.empty-msg{
    margin-top: 112px;
    font-style: italic;
    color: #999;
}
.assessment_list table{
    text-align: right;
}

#page-yield .flex-col a:hover {
    color: #fff !important;
}
.deletion_warning #popup_content{
    color: red;
    font-size: 13px;
}
.submit-button{
    border-radius: 5px !important;
}
td .status{
    float:left;
    color: grey;
    font-style: italic;
}

hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: right;
    margin: 20px 0;
}
.header{
    float: right;
    font-weight: bold;
}
.field_details {
    float: right;
    width: 230px;
    font-weight: normal;
    font-size: 14px;
    color: #444;
    margin: 20px 0 20px 10px;
}
.field_name {
    float: right;
    width: 100%;
    color: #8C8C8C;
}
.field_val {
    float: right;
    margin: 10px 0 0 0;
    font-weight: bold;
}
.batches_assessments_list table {
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    max-height: 400px;
    margin-bottom: 20px;
    float: right;
    width: 100%;
    margin-top: 30px;
}
#page-yield table .tr-head {
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
}
.batches_assessments_list tr{
    border-bottom: 1px solid #bfbfbf;
}
.batches_assessments_list td {
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}
.batches_assessments_list td.check_all{width: 3%;}
.batches_assessments_list td.name{width: 10%;}
.submit-button{
    font-size: 13px;
    float: right;
    margin-right: 0px;
}
#form-footers{
    float: right;
    width: 100%;
}
div.sub-head {
    font-size: 14px;
    font-weight: bold;
    color: #444;
    float: right;
    width: 75%;
    margin: 20px 0;
}
td.actions a{
    color: black;
    margin-left: 20px;
    text-decoration: none;
}
td.actions .status{
    float:left;
    color: grey;
    font-style: italic;
}

p.flash-msg{ 
    float: right;
    width: 100%;
}
.tooltip_wrapper{ float: left;}
.tooltip_info{ width: 250px;}
.strike{
    text-decoration: line-through;
    user-select: none;
    -moz-user-select: none;
    font-style: italic;
    font-weight: lighter;
}
td.status span{
    font-weight: bold;
}
.disabled_btn{
    opacity: 0.5;
}
.flex-col.text{
    font-weight: normal !important;
    max-width: 80%;
}
.margin{
    margin-top: 5px;
}