<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<label class="head_label"><%= t('leave_tracking') %></label>
<% unless @pending_application.present? %>
  <div id="ajax-edit">
    <div id="form-errors"></div>
    <% form_remote_for @attendance,:before=>"$('submit_button').disable()",:complete=>"setTimeout(function(){$('submit_button').enable();},5000)" do |f| %>
        <%= session_fingerprint_field %>
      <%= f.hidden_field :employee_id, :value => @employee.id %>
      <%= f.hidden_field :attendance_date, :value => @date %>
      <div class="label-field-pair" id="emp_name">
        <label for="leave_type"><%= t('employee_name') %></label>
        <div class="text-input-bg"><b><%= @employee.first_name %></b>
        </div>
      </div>
      <div class="label-field-pair" id="date">
        <label for="leave_type"><%= t('date_text') %></label>
        <div class="text-input-bg"><%= format_date(@date, :short) %>
        </div>
      </div>
      <div class="label-field-pair">
        <label for="leave_type"><%= t('leave_type') %></label>
        <div class="text-input-bg"><%= select_tag 'employee_attendance[employee_leave_type_id]', options_for_select([["#{t('select_a_leave_type')}",'']] + @leave_types.map {|c| [c.name, c.id]}),
            {:onchange => "show_additional_leave_warning();"
          }%>
        </div>
      </div>
      <div class="status">
        <div class="label-field-pair">
          <div class="opt"><%= radio_button("employee_attendance","is_half_day",false,
              {:checked => true, :onchange => "show_additional_leave_warning();", :id => 'full_day'}) %>
            <label for="full_day"><%= t('full_day') %></label></div>
          <div class="opt">
            <%= radio_button("employee_attendance","is_half_day",true, {:onchange => "show_additional_leave_warning();", :id => 'half_day'}) %>
            <label for="half_day"><%= t('half_day') %></label></div>
        </div>
      </div>

      <div class="additional_leave_notification" style="display:none;">
        <div class="error-icon"></div>
        <div class="error-msg"><%= t('additional_leave_notification') %></div>
        <div class="label-checkbox-pair">
          <%= hidden_field_tag 'employee_additional_leave[is_deductable]', false %>
          <label><%= check_box_tag 'employee_additional_leave[is_deductable]', true ,:checked => true %><%= t('deduct_lop_for_additional_leaves') %></label>
        </div>
        <%= hidden_field_tag :is_additional_leave %>
      </div>
    
      <div id="reason">
        <div class="label-field-pair">
          <label for="leave_type"> <%= t('reason') %></label>
          <div class="text-area-bg"><%= f.text_area :reason, :rows => 20, :cols => 20 %></div>
        </div>
      </div>
      <div class="extender"></div>
      <div class="center"><%= f.submit "#{t('submit')}", :class => 'submit-button', :id => 'submit_button', :confirm => "#{t('delete_confirm_msg')}" %></div>
    <% end %>
    <div id="form-errors"></div>
  </div>
<% else %>
  <div><%= t('pending_leave_application_exist', {:employee_name => @employee.full_name}) %></div>
<% end %>


<script type="text/javascript">
  emp_leaves = <%= @employee_leaves %>
  emp_leave_types = <%= @employee_leave_types %>
  payroll_group = <%= @payroll_group_lop_status %>
</script>