<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%= javascript_include_tag "employee_register" %>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('attendance') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('attendance_register') %></div>


</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <div class="label-field-pair">
    <label for="employee_department_select"><%= t('department') %></label>
    <div class="text-input-bg">
      <%= select :batch, :id,
        @departments.map {|b| [b.name, b.id] },
        {:prompt => "#{t('select_the_department')}"},
        {:onchange => "drawRegister(value); "} %>
      <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: none;" ) %>
    </div>
  </div>

  <div id="register"></div>
  <div id="modal-box" style="display:none;"></div>
</div>


<script type="text/javascript">
  
  function show_additional_leave_warning(){
  
    if (j("input:checked:visible[type='radio']")[0].value == "true")
    {
      var day = 0.5;
    }
    else{
      var day = 1.0;
    }
    var selected_leave = emp_leaves.find(function(e){
      return e.employee_leave.employee_leave_type_id == j("select#employee_attendance_employee_leave_type_id").val();
    })
    
    var selected_emp_leave = emp_leave_types.find(function(e){
      return e.employee_leave_type.id == j("select#employee_attendance_employee_leave_type_id").val();
    })
    
    var new_count = selected_leave.employee_leave.leave_taken + day;
  
    if (new_count > selected_leave.employee_leave.leave_count){
      j(".additional_leave_notification").show();
      j("#is_additional_leave").val(true);
      if (selected_emp_leave.employee_leave_type.lop_enabled && payroll_group){
        j(".additional_leave_notification").css("height", "auto");
      }else{
        j(".additional_leave_notification .label-checkbox-pair input").attr("disabled", true)
        j(".additional_leave_notification .label-checkbox-pair").hide();

        j("#is_additional_leave").val(false);
        j(".additional_leave_notification .info").text("Lop is not enabled for the employee. Please contact hr for more details.")
      }
    }
    else{
      j(".additional_leave_notification ").hide();
      j("#is_additional_leave").val(false);
    }
  }

  
</script>