<%if @electives.present?%>
  <ul id="category-list">
    <% @electives.each do |subject| %>
      <li id="subject-<%= subject.id %>" class="list<%= cycle('even','odd')%>" >
        <div class="category-name"><%= truncate(subject.name, :length => 30) %></div>
        <div class="category-code"><%= truncate(subject.code, :length => 13) %></div>
        <div class="category-edit"><%= link_to_remote("#{t('edit_text')} ",
            :url => { :controller=>"elective_groups",:action => 'edit_elective_subject', :id=>@elective_group, :id2 =>subject, :batch_id => @batch.id},
            :method => 'get' ) %> </div>
        <div class="category-delete">
          <%if subject.is_not_eligible_for_delete%>
            <strike> <%= t('delete_text') %> </strike>
          <%else%>
            <%= link_to_remote("#{t('delete_text')}",
              :url => subject_path(subject),
              :method => 'delete',
              :confirm => t('delete_confirm_msg'),
              :update => "subject-#{subject.id}",
              :success => "$('subject-#{subject.id}').remove();") %>
          <%end%>
        </div>
        <div class="category-assign"><%= link_to " #{t('assign_student')}", :controller=>"student", :action=>"electives",:id=>@batch,:id2=>subject.id%>
        </div>
      </li>
    <% end %>
  </ul>
<%else%>
  <div id="flash-box">
    <p class="flash-msg"><%=t('no_elective_subjects_present')%></p>
  </div>
<%end%>
