<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <div class='header-icon batches-icon'></div>
  <h1><%= t('batches_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= "#{t('electives')}" %></div>
  <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to t('new_text'), new_batch_elective_group_path(@batch) %></li>

    </ul>
  </div>
</div>
<div id="page-yield">


  <div class="box">

    <div class="bread_crumb">
      <% breadcrumb :elective_groups_index ,@batch %>
      <%= render_breadcrumbs  %>
    </div>

    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <% if @elective_groups.present? %>
      <ul id="category-list">

        <% @elective_groups.each do |elective| %>
          <li class="list<%=cycle('odd', 'even')%>">
            <div class="category-name"><%= link_to elective.name, [@batch, elective] %></div>
            <div class="category-edit"><%= link_to t('edit_text'),
                :controller=>"elective_groups",:action => "edit", :id =>elective %> </div>
            <% @subjects= Subject.find_all_by_elective_group_id(elective, :conditions => "is_deleted = '0'") %>
            <% if @subjects.empty? %>
              <div class="category-delete"><%= link_to(t('delete_text'), [@batch, elective],
                  :method => 'delete',
                  :confirm => t('delete_confirm_msg')) %> </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="flash-msg"> <%= t('no_elective_groups') %> </p>
    <% end %> 

    <div class="extender"></div>
  </div>
</div>
