.left, .right{
    float: right;
    width: 50%
        ;
    margin: 20px 0;
}
.right div{
    float: left !important;

}
.left div, .right div{
    float: right;
    font-size: 13px;
}
.field_val{
    font-weight: bold;
}
.field_name{
    margin-left: 30px
}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: right;
}
#header{
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    color: #444;
    width: 100%;
    float: right;
}
#description{
    color: grey;
    font-size: 13px;
    margin: 20px 0px 20px 0px;
    float: right;
}
table {
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    margin: 30px 0;
    float: right;
    border-collapse: collapse;
}
#page-yield table .tr-head {
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important;
}
tr{
    border-bottom: 1px solid #bfbfbf;
}
td {
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}
td.check_all{width: 5%;}
td.course_name{width: 30%;}
td.batch_count{width: 20%;}
td.planner{ width: 45%}
#popup_footer{
    float: right;
}