.assessment_plans_box{
    font-size: 14px;
}
.head{
    font-weight: bold;
    margin-bottom: 20px;
}
.desc{
    color: #999;
}
.form_cont{
    margin-top: 50px;
}
.plan_name .label{
    margin-bottom: 15px;
}
.academic_year_select_box{
    margin-top: 30px;
}
.academic_year_select_box  .date_range{
    font-weight: bold;
}
.terms_select_box .head{
    font-weight: normal;
}
.terms_select_box{
    margin-top: 30px;
}
.terms_select_pair{
    float:right;
    margin-left: 30px;
}
.label_for_terms_count{
    margin-right: 5px;
}
#terms{
    width: 100%;
    float: right;
    margin-top: 30px;
}
/*.assessment_terms_fields{
    display: flex;
}*/
.assessment_terms_fields .right{
    display: inline-table;
}
.right .label-field-pair{
    float:right;
    width:auto ;
}
.right .label-field-pair label{
    width:auto;
    float: none;
}
.label-field-pair.left{
    float: right;
    width:auto;
    margin-left: 50px;
}
.label-field-pair input{
    margin-right: 0px;
    border-radius: 1px;
}
.assessment_terms_fields{
    margin-bottom: 44px;
}
.submit-button{
    margin-right: 0px;
    color: white;
    background: black;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 3px;
}
.cancel-button{
    text-decoration: none;
    margin-right: 10px;
}
#page-yield .cancel-button:hover {
    color: #fff !important;
}
.wrapper {
    margin-top: 5px;
    margin-right: 0 !important;
    /* min-width: 300px !important; */
}
.error-icon {
    width: 15px;
    height: 12px;
    background: url(/images/iconsprite-1.png);
    background-position: -42px -344px;
    margin-left: 2px;
    float: right;
    margin-top: 1px;
}
.error-msg {
    float: right;
    color: red;
    font-size: 13px;
    font-style: italic;
}
#assessment_plan_name{
    width: 350px;
    padding: 5px;
    background: #f3f3f3;
    border: 1px solid #bfbfbf;
}
.assessment_terms_fields .wrapper{
    width:84%;
}
.assessment_terms_fields .error-msg{
    float: none;
}