.assessment_plans_box{
    font-size: 14px;
    padding-top: 30px;
}
.academic_year_select_box .date_range{
    font-weight: bold;
}
table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    margin: 30px 0;
}
td{
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}
#page-yield table .tr-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    color: black !important
}
tr{
    border-bottom: 1px solid #bfbfbf;
}
table a, #page-yield table a:hover {
    color: black !important;
}
td.col-2{
    width:30%;
}
td.col-1{
    width:20%;
}
.bread_crumb .text-input-bg{
    float:left;
    width:auto;
}
.assessment_plans_box .head{
    font-size: 16px;
    font-weight: bold;
}
table a:hover{
    text-decoration: underline !important;
}
#plan_listing table td.a{
    text-decoration: underline !important;
}