.left, .right{
    float: right;
    width: 50%
        ;
    margin: 20px 0;
}
.right div{
    float: left !important;

}
.left div, .right div{
    float: right;
    font-size: 13px;
}
.field_val{
    font-weight: bold;
}
.field_name{
    margin-left: 30px
}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: right;
}
#header{
    font-weight: bold;
    font-size: 16px;
    margin-top: 40px;
    color: #444;
}
#course_list{
    float: right;
    width: 100%;
    margin-top: 30px;
}
.course{
    float: right;
    width: 96%;
    font-size: 13px;
    padding:  20px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    -webkit-border-radius: 8px;
    color: #444;
}
.course_name{
    float: right;
    font-weight: bold;
}
.course a{
    color: #444;
    float: left;
    margin-right: 20px
}
.course a:hover{
    color: black;
}