.planner_container{
    font-size: 14px;
}
.exam_planner_head{
    width: 100%;
    border-bottom: 1px solid #999;
    padding-bottom: 30px;
    overflow: auto;
    margin-bottom: 30px;
}
.exam_planner_head .left{
    width: 40%;
    float: right;
}
.exam_planner_head .right{
    width: 60%;
    float: right;
    display: flex;
}
.right .clm{
    margin-left: 30px;
    flex: 1;
}
.clm:last-child{
    margin-left: 0px !important;
}
.clm .value{
    font-weight: bold;
    font-size: 13px;
    margin-top: 10px;
}
.detail_badges{
    display: flex;
    margin-bottom: 50px;
}
.detail_badges .clm{
    flex: 1;
    min-height: 180px;
    background: #f3f3f3;
    border: 1px solid #e8e8e8;
    margin-left: 15px;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
}
.detail_badges .clm .head{
    border-bottom: 1px solid #ccc;
    overflow: auto;
    padding: 10px;
}
.detail_badges .head .left{
    width:60%;
    float:right;
}
.detail_badges .head .right{
    float: left;
}
.desc table{
    width:100%;
    height: 100%;
}
.detail_badges .clm .desc{
    height: 80%;
    padding: 10px;
    box-sizing: border-box;
}
.detail_badges .desc td{
    color: #808080;
}
.detail_badges .desc td.desc_val{
    color: black;
}
.empty_msg{
    font-style: italic;
    color: #666;
    font-size: 13px;
}
.term_box{
    margin-bottom: 50px;
    border: 1px solid #ccc;
    position: relative;
}
.term_box .head{
    background: #e6e6e6;
    overflow: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.term_box .desc{
    min-height: 200px;
    background: #f3f3f3;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.term_box .head .left{
    float: right;
    width: 40%;
}
.term_box .head .right{
    float: right;
     display: flex; 
    width: 60%;
    align-items: center;
}
.term_box .head .right div{
    float: right;
    width:70%;
}
.term_box .head .right .actions{
    float: left;
    width:20%;
}
.term_box .actions .label-field-pair, .term_box .actions .text-input-bg{
    width:97% !important;
}
#term_action{
    width: 100% !important;
    border-radius: 0px !important;
    background-color: #fff !important;
    margin: 0px !important;
    height: 34px !important;
}
.empty_terms{
    text-align: center;
    width: 100%;
    margin-top: 60px;
}
.add_link .submit-button{
    font-size: 13px !important;
    margin-right: 0px;
    float: none;
    text-decoration: none;
    border-radius: 5px;
    font-weight: normal !important;
}
.add_link{
    margin-top: 20px;
}
#page-yield .submit-button:hover {
    color: white !important;
}
.term_box table, .eg_table{
    /*border: 1px solid #bfbfbf;*/
    border-collapse: collapse;
    font-size: 13px;
    /*margin: 30px 0;*/
}
.term_box td, .eg_table td{
    padding: 10px;
    border-left: 1px solid #bfbfbf;
}
#page-yield .term_box table .tr-head, #page-yield .eg_table .tr-head{
    font-weight: bold;
    background-color: #ececec;
    border-bottom: 1px solid #bfbfbf;
    color: black !important
}
.term_box tr, .eg_table tr{
    border: 1px solid #bfbfbf;
    background: #fff;
}
.term_box table a, #page-yield .term_box table a:hover, .eg_table a, .eg_table a:hover{
    color: black !important;
    /*text-decoration: none;*/
    margin-left: 20px;
}
.term_box td.col-2, .eg_table td.col-2{
    width:30%;
}
.term_box td.col-1, .eg_table td.col-1{
    width:20%;
}
.term_box .desc{
    padding: 40px 10px;
}
.term_box .head .add_link{
    margin-top: 0px;
    width: 24% !important;
}
.term_box .head .duration{
    text-align: left;
    margin-left: 20px;
    font-size: 13px;
}
.desc.with_eg{
    align-items: flex-start;
}
.term_box table a:hover{
    text-decoration: underline !important;
}
.right a, .right a:hover, #page-yield .right a:hover {
    color: black !important;
    cursor: pointer;
}
.add_link a, #page-yield .right .add_link a:hover{
    color: #fff !important;
}
.tr-head td.actions{
    width:15%;
}
.action_td select{
    width: 58px;
    background: #fff;
    border-color: #fff;
    text-decoration: underline;
} 
.deletion_warning #popup_content{
    font-size: 13px;
    color: red;
}
.submit-button{
    border-radius: 5px !important;
}
.show {display:block !important;}
#page-yield .right a.dropbtn, #page-yield .right a.dropbtn:hover{
    color: white !important;
    text-decoration: none !important;
    font-weight: normal;
}
.dropbtn {
    color: black !important;
    border: none;
    cursor: pointer;
    margin: 0 !important;
    border-radius: 1px;
    background: white;
    border: 1px solid #ccc;
    font-weight: normal;
    font-size: 13px;
}
#page-yield .dropbtn:hover{
    color: black !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 43px;
    width: auto !important;
    border: 1px solid #ccc;
}

.dropdown-content a {
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
    padding: 5px 8px;
}

.dropdown a:hover {background-color: #f1f1f1}
#status_filter{
    height: auto !important;
    padding-top: 0px;
}
.final_term_table{
    margin-top: 50px;
}
.final_term_table td.col-2{
    width: 33%;
}
.final_term_table td.col-1{
    
}
tr.empty_row{
    border: none;
    background: #f3f3f3;
}
tr.empty_row td{
    border: none;
    height: 40px;
}
tr.final_term{
    font-weight: bold;
}
tr.final_term .action_td{
    font-weight: normal;
}
.dropbtn.submit-button{
    font-weight: normal;
    width: auto !important;
}
.text-right{
    text-align: left;
}
p.flash-msg{
    margin-bottom: 50px;
}
.text-input-bg {
    height: 30px !important;
}    