#register{
    background: #C3D9FF;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    margin-top:20px;
}
.box-1{
    width: 948px;
    padding:16px;
}
.box-2{
    height:400px;
    overflow:auto;
    width: 965px;
}
.header{
    width:420px;
    margin:0px auto;
    margin-bottom:20px;
    padding-top:15px;
}
.next a{
    float:left;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    width:25px;
    height:25px;
    padding:5px;
    background: #fff;
    text-align:right;
    color:#121212;
    font-size:22px;
    text-decoration:none;
    outline:none;
    display:block;
}
.prev a{
    float:left;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    width:25px;
    height:25px;
    padding:5px;
    background: #fff;
    text-align:left;
    color:#121212;
    font-size:22px;
    text-decoration:none;
    outline:none;
    display:block;
}
.next a:hover, .prev a:hover{
    color: #9B0C12;
}
.month{
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    width:300px;
    background: #fff;
    padding:5px 0 5px 0;
    text-align:center;
    float:left;
    font-size:20px;
    color:#121212;
    font-weight:bold;
    margin:0 20px 0 20px;
}
table{
    display: block;
    overflow-x: auto;
}
.tr-odd{
    background: #fff;
    padding:5px;
}
.tr-even{
    background: #f1f6ff;
    padding:5px;
}
.tr-head{
    color:#990A10;
    height: 40px;
}
.td-mark{
    width:20px;
    text-align:center;


}
.td-name{
    padding:5px;
    color:#2D2D2D;
    padding-left:23px;
    font-weight:bold;
    width:40px;
    font-size:12px;
    height:25px;
    cursor:pointer;
}
.head-td-name{
    background: #fff;
    padding-left:30px;
    color:#990A10;
    font-weight:bold;
    font-size:13px;
    overflow:hidden;
    width:47px;
}
.head-td-date{
    color:#990A10;
    font-size:11px;
    background: #f1f6ff;
    font-weight:bold;
    width:20px;
    text-align: center;

}
.head-td-date .day{
    text-align:center;
    min-width:20px;
    padding:3px 1px;
}
.head-td-date .date{
    background: #fff;
    padding:2px;
    text-align:center;
    color:#2D2D2D;
}
.td-mark a.absent{
    text-decoration: none;
    color:#990A10;
    font-size:12px;
    font-weight:bold;
}
.tr-odd .td-mark a.present{
    color:#fff;
    padding:5px;
}
.tr-even .td-mark a.present{
    color:#f1f6ff;
    padding:5px;
}
table.table{

}
.td-mark .date{
    position: relative;
    left: -172px;
    top: -73px;
}
.td-name .date{
    position: relative;
    left: -77px;
    top: -73px;
}
.td-mark .date span,.td-name .date span{
    display: none;
    color: #FFFFFF;
    margin-left: 145px;
    margin-top: 80px;
    word-wrap: break-word;
    width: 100px;
}
.td-mark:hover .date span{
    display: block;
    position: absolute;
    min-width: 100px;
    background-color: #fff;
    border:4px solid #c3d9ff;
    min-height: 40px;
    left: -90px;
    top: -78px;
    color: #FFFFFF;
    padding: 5px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    padding-top:10px;
    color:#990A10;
    font-weight:bold;
}
.active{
    background:#FEFFAF;
}
.tr-even .active a.present, .tr-odd .active a.present{
    color:#FEFFAF;
}
.td-mark:hover .date span div{
    color:#000;
}
.td-mark:hover,.td-mark:hover a.present{
    background:#C3D9FF;
    /*    color:#C3D9FF;*/
}
.td-name:hover .date span{
    display: block;
    position: absolute;
    min-width: 89px;
    background-color: #fff;
    border:4px solid #c3d9ff;
    min-height: 40px;
    left: 50px;
    top: -10px;
    color: #FFFFFF;
    padding: 5px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    padding-top:10px;
    color:#990A10;
    font-weight:bold;
}

#MB_frame .label-field-pair select {
    -moz-border-radius:10px 10px 10px 10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    margin: 5px 0px;
    padding:5px;
    width: 230px;
}
.label-field-pair input {
    margin: 5px 0 0 5px;
}
.label-checkbox-pair {
    padding: 0 0 0 0;
    margin-left: 8px;
}
.bread_crumb {
    margin-left: 10px;
}

#button{
    margin-left: 185px;
}

.error-msg{
    color: red;
    font-size: 13px;
    font-style: normal;

    /* padding:10px; */

    margin-left: 23px;
}
.error-icon {
    width:15px;
    height:12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-right:2px;
    float:left;
    /* margin-top:10px; */
    /* margin-left: 10px; */
}
.info{
    font-size: 13px;
    color: grey;
    /* padding: 10px; */
    margin-left: 20px;
    margin-top: 10px;
}

.additional_leave_notification{
    border: 1px solid #bfbfbf;
    background-color: #eeeeee;
    height: auto;
    padding: 10px;
    margin-left: 125px;
    margin-bottom: 15px;
}

.additional_leave_notification label{
    font-size: 13px;
    color: grey;
}

.additional_leave_notification .label-checkbox-pair{
    /* margin-left: 30px; */
    margin-top: 10px;
    margin-left: 16px;
}

#MB_window .label-field-pair label{
    max-width: 125px;
    font-weight: normal;
    font-size: 13px;
    /* float: left; */
}


.opt{
    float:left;
    width: 136px;
    font-size: 14px;
    /* padding: 0px; */
    /* margin: 0px; */
}

.opt input{
    width: 18px;
    margin-top:10px;
    height: 15px;
    margin-left: 2px;
    float: left;
    /* padding: 0px; */
}

.status{
    margin-left: 125px;
    margin-top: 15px;
}

.status .label-field-pair{
    width: 290px !important;
}

#reason input{
    width: 358px;
}

#MB_frame .text-input-bg{
    /* padding-top: 10px; */
}

#MB_frame, #MB_header{
    -webkit-border-radius: 0px;
    align: center;
    margin-top: 50px;
}

#MB_frame .head_label{
    margin-left: 0px;
}

span#date{
    float: right;
    color: black !important;
    font-weight: normal;
}

.label-checkbox-pair {
    float: none;
}
.label-checkbox-pair input{
    float:left;
}
#show .text-input-bg{
    padding-top: 10px;
    font-size: 13px;
}

#ajax-edit, #show{
    /* padding: 10px; */

}

#MB_frame .head_label span {
    color: #8C8C8C;
    font-weight: normal;
}

#MB_header #MB_close {
    background: white;
    background-image: url("/images/iconsprite-1.png");
    background-position: -31px 1px;
    float: right;
    height: 16px;
    width: 10px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: 0;
    margin-left: 5px;
    right: 20px;
    top: 18px;
}

.text-area-bg {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent none repeat scroll 0 0;
    float:left;
    width:250px;
    /* height: 36px; */
    margin-bottom: 15px;
}
.label-field-pair textarea {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #C6C6C6;
    /* margin:5px 0 0px 10px; */
    padding:5px;
    width: 290px;
    height: 40px;
}

.opt label{
    width: 100px;
}

#MB_content {
    padding: 8px 30px 15px;
    overflow-y: auto;
    max-height: 330px;
}
#MB_frame .head_label{
    font-size: 14px;
    margin-left: 10px;
}

#date .text-input-bg{
    margin-top:10px;
    font-size: 13px;
}

#emp_name .text-input-bg{
    margin-top:10px;
    font-size: 13px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

#MB_frame .submit-button{
    margin-left: 0px;
}

hr{
    /* width: 114%; */
    margin-left: -37px;
    color: #bfbfbf;
    margin-right: -30px;
}

#error-box{
    font-size:13px;
}