<% check_for_gradebook =  ['AssessmentTerm', 'AssessmentGroup', 'AssessmentPlan'].include? @load_model.class_name %>
<% if (@current_user.admin? or (@current_user.employee? and @load_model.find(@load_object_id).has_employee_privilege)) and (@stud.present? ? @load_model=='Subject'.constantize ? ((@stud.batch_id==Subject.find(@load_object_id).batch_id)) : (check_for_gradebook ? true : @stud.batch_id==@load_object_id.to_i): false)%>
  <%=link_to_remote "",:url  => {:controller=>"remarks",:action=>"destroy_common_remarks",:object_id=>@remark.id,:student_id=>@student_id,:target_name=>@target_name,:params_hash=>@params_hash,:load_object_id => @load_object_id, :method => :delete},:html => { :class  => "cross_button" }, :confirm =>"#{t('delete_confirm_msg')}"%>
  <%=link_to "","javascript:void(0);",:class=>"themed_text add_link edit_button",:student_id=>@student_id,:target_name=>@target_name,:object_id=>@remark.id,:load_object_id => @load_object_id,:params_hash=>@params_hash,:onclick=>"edit_common_remark1(this)"%>
<%end%>
<div id="remarked_by_section"><%= @remark.remarked_by.present? ? @remark.remarked_by : '-' %></div>
<div id="remark_body_section"><%=@remark.remark_body.present? ? @remark.remark_body.strip.gsub(/\n/, "<br/>") : '-'%></div>
<div id="submitted_by_section"><%=@remark.user.present? ?  @remark.user.first_name : t('deleted_user')%> on <%=format_date(@remark.updated_at,:format=>:long_date)%></div>
<script type="text/javascript">
  function edit_common_remark1(elm){
    var onclick_attr=j(elm).attr('onclick');
    j(elm).attr('onclick','ss'+onclick_attr);
<%= "var target_name = '#{@target_name}'" %>
<%= "var student_id = '#{@student_id}'" %>
<%="var object_id = j(elm).attr('object_id')"%>
<%="var load_object_id = '#{@load_object_id}'"%>
<%="var params_hash = '#{@params_hash.to_json}'"%>
    var parametrs={student_id:student_id,object_id:object_id,load_object_id:load_object_id,target_name:target_name,params_hash:params_hash}
    new Ajax.Request('/remarks/edit_common_remarks',{
      parameters:j(this).serialize()+'&'+j.param(parametrs),
      asynchronous:true,
      evalScripts:true,
      method:'post',
      onComplete:function(resp){
        j(elm).parent().hide();
        j(elm).parents('#common_remarks_section_'+object_id).append(resp.responseText);

      }
    });
  }
</script>

