<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('edit_exam') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :exams_edit, @exam%>
    <%= render_breadcrumbs  %>
  </div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="box">


    <h4><%= t('for_exam_group') %>- <%= @exam_group.name %></h4>

    <% form_for [@exam_group, @exam] do |f| %>
      <%= error_messages_for :exam %>
      <div class="label-field-pair">
        <%= f.label "#{t('subject')}" %>
        <div class="text-input-bg"><%= f.select :subject_id, @subjects.map { |s| [s.name, s.id]} %></div>
      </div>

      <div class="label-field-pair">
        <%= f.label "#{t('start_time')}" %>
        <div class="text-input-bg">  <%= f.calendar_date_select :start_time,:readonly=>true,:popup=>"force" %></div>
      </div>
      <div class="label-field-pair">
        <%= f.label "#{t('end_time')}" %>
        <div class="text-input-bg"><%= f.calendar_date_select :end_time,:readonly=>true,:popup=>"force" %></div>
      </div>
      <% unless @exam_group.exam_type=="Grades" %>
        <div class="label-field-pair">
          <%= f.label "#{t('max_mark')}" %>
          <div class="text-input-bg"><%= f.text_field :maximum_marks %></div>
        </div>
        <div class="label-field-pair">
          <%= f.label "#{t('min_mark')}" %>
          <div class="text-input-bg"><%= f.text_field :minimum_marks %></div>
        </div>
      <% end %>
      <%=hidden_field_tag :session_fingerprint, session_fingerprint%>
      <% FedenaPlugin.deliver_registered_hook(:event_alert_form).each do |mod| %>
        <%= render :partial=>mod.camelize.constantize.send("event_alert_form"), :locals => {:f => f} %>
      <% end %>
      <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %>

    <% end %>

    <div class="extender"></div>
  </div>
</div>
