<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%= javascript_include_tag "sortable" %>
<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('exams_text') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('result_entry') %></div>
    <div id="inner-tab-menu">
        <ul>
            <% if (@batch.cce_enabled? and  (can_access_request? :show,@exam,:context=>:asl_scores) and @subject.is_asl) %>
              <li class='themed_bg themed-dark-hover-background'><%= link_to "ASL Scores",:controller=>:asl_scores,:action=>"show",:id=>@exam.id %></li>
            <% end %>
            <% if (@batch.cce_enabled? and  (can_access_request? :fa_scores,@subject,:context=>:assessment_scores)) %>
              <li class='themed_bg themed-dark-hover-background'><%= link_to "FA Scores",subject_fa_scores_path(:subject_id=>@subject.id,:exam_group_id=>@exam_group.id) %></li>
            <% end %>
            <% if (@batch.icse_enabled? and  (can_access_request? :ia_scores,@exam,:context=>:ia_scores)) %>
              <li class='themed_bg themed-dark-hover-background'><%= link_to "IA Scores",ia_scores_path(:exam_id=>@exam.id)%></li>
            <% end %>
        </ul>
    </div>
</div>
<div id="page-yield">

    <div class="bread_crumb">
        <%unless params[:from]=='course_exam_group'%>
          <% breadcrumb :exams_show, @exam%>
        <%else%>
          <% breadcrumb :exams_show_through_course_exam, @exam%>
        <%end%>
        <%= render_breadcrumbs  %>
    </div>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <% unless flash[:warn_notice].nil? %>
      <div id="errorExplanation" class="errorExplanation"><p><%= flash[:warn_notice] %></p> </div>
    <% end %>
    <div class="box">


        <% unless @students.empty? %>
          <% form_for :exams, :url => save_scores_exam_group_exam_url do |f| %>

            <!-- <table id="listing" width="100%"> -->
            <table class ="sortable" id="listing" width="100%" cellpadding="1" cellspacing="1" onload="sortables_init()" >
                <tr class="tr-head">
                    <td class="unsortable"><%= t('sl_no') %></td>
                    <td class="default_disabled_row"><%= t('name') %></td>
                    <td data-sorting-type="natural_sort"><%= t('admission_no') %></td>
                    <% if roll_number_enabled? %>
                      <td data-sorting-type="natural_sort"><%= t('roll_no') %></td>
                    <% end %>
                    <% if (@batch.cce_enabled? and @exam.subject.is_asl) %>
                      <td class="unsortable">ASL Mark</td>
                    <%end%>
                    <% unless @exam_group.exam_type == 'Grades' %>
                      <td class="unsortable"><%= t('marks') %></td>
                    <% else %>
                      <td class="unsortable"><%= t('grades') %></td>
                    <% end %>
                    <td class="unsortable"><%= t('remarks') %></td>
                    <% unless @exam_group.exam_type == 'Marks' %>
                      <td class="unsortable"><%= t('grade') %></td>
                    <% end %>
                    <td class="unsortable"><%= t('absent') %></td>
                </tr>
                <% @students.each_with_index do |student,i| %>
                  <tr class="tr-<%= cycle('odd', 'even') %>">
                      <td class="col-1"><%= i+1 %></td>
                      <td class="col-2"><%= student.full_name %> </td>
                      <td class="col-3"><%= student.admission_no %> </td>
                      <% if roll_number_enabled? %>
                        <td class="col-3"><%= student.roll_number_in_context %></td>
                      <% end %>
                      <% if (@batch.cce_enabled? and @exam.subject.is_asl) %>

                        <td class="col-3">
                            <%=student.asl_mark.present? ?
                              student.asl_mark=='20' ?
                              ((student.speaking.to_f + student.listening.to_f)/2) :
                              ((student.speaking.to_f + student.listening.to_f)/4) :
                              "-"%>
                        </td>
                      <%end%>
                      <% @exam_score = @exam.score_for(student) %>
                      <% unless @exam_group.exam_type == 'Grades' %>
                        <td class="col-1"><div class="label-field-pair">
                                <div class="text-input-bg">
                                    <%= text_field_tag "exam[#{student.id}][marks]", @exam_score.marks, :size => '4', :class=>"marks-box" %></div></div></td>
                      <% else %>
                        <td class="col-2"><div class="label-field-pair">
                                <% select_options = [["#{t('select_grade')}", nil ]] %>
                                <%  @grades.map {|g| select_options.push([g.name, g.id]) } %>
                                <div class="text-input-bg"><%= select "exam[#{student.id}]", "grading_level_id", select_options ,
                                      { :selected => @exam_score.grading_level_id }, :class=>"marks-box" %></div></div></td>
                      <% end %>

                      <td class="col-2"><div class="label-field-pair2">
                              <div class="text-input-bg2">
                                  <%= text_field_tag "exam[#{student.id}][remarks]", @exam_score.remarks, :size => '40' %></div></div></td>
                      <% unless @exam_group.exam_type == 'Marks' %>
                        <td class="col-1"><% if @exam_score.grading_level.nil? %> <%= '_' %> <% else %> <%= @exam_score.grading_level %> <% end %></td>
                      <% end %>
                      <td class="col-1">
                          <%= check_box_tag "absent_students[]", student.id,(@exam_score.new_record? ? false : (@exam_score.marks.nil? and @exam_score.grading_level_id.nil?)) %>
                      </td>
                  </tr>

                <% end %>

            </table>
            <%=hidden_field_tag :session_fingerprint, session_fingerprint%>
            <div id="sub-button"><%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %></div>
          <% end %>
        <% else %>
          <p class="flash-msg"> <%= t('no_students_found') %> </p>
        <% end %>
        <div class="extender"></div>
    </div>
</div>
