#vehicle_form {
    margin-left: 258px !important;
    float: left;
}

.necessary-field {
    color:#FF0000;
    font-size:1.1em;
}
.label-underline{
    background:  #eeeeee;
    height: 1px;
    border: none;
}
.submit_button {
    margin-top:30px;
    margin-left:200px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
.available-seat{
    margin: 0 auto;
    padiing: 0;
}

#seat_description{
    width: 450px;
    margn-top: 25px;
}
.seat{
    font-weight: bold;
    float: left;
}

.number {
    font-weight: bold;
    color: #E51219;
    float: left;
    padding-left: 10px;
}
.number3 {
    font-weight: bold;
    color: #E51219;
    padding-left: 130px;
}
p{
    font-size: 13px;
}

.label-field-pair {
    float: left;
    margin: 0 auto;
    width: 100%;
    height: auto !important;
    min-height: 40px;
    max-height: auto;
}

.text-input-bg select,.label-field-pair input {
    margin-left: 0;
}
.info_icon_img{
    margin: 6px -15px 8px -75px;
}
.label-field-pair input {
    float: left;
}
.tooltip_info{
    left: -140px!important;
    top: 26px!important;
}