.link-box {
    margin: 10px 0px;
    width: 300px;
    float:left;
    height:80px;
    padding: 10px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
.link_ab a:hover {
    color:#900;
}
.link-descr {
   margin-top: 5px;
    color: #666;
    text-align: left;
}
#box{
    width:700px;
    margin:0px auto;
}
.box{
    width:960px;
    margin:0px auto;
}