#search-container{
    float: right;
    width: 100%;
    margin: 20px 0;
}
.label-radio-pair {
    height: 30px;
    float: right;
    width: 100%;
    padding: 3px 0px 0 0;
    color: #444;
    margin: 20px 0;
}
.label-radio-pair input, .label-radio-pair label {
    float: right;
}
#status_div {
    width: auto;
}
#status_div input {
    margin-right: 5px !important;
    margin-top: 12px;
    margin-left: 10px;
}
#status_div label {
    font-weight: bold;
}
.label-field-pair {
    float: right;
    height: auto;
    width: 100%;
    padding: 20px 0;
}
.label-field-pair label, .label-radio-pair label {
    font-weight: normal;
    font-size: 13px;
    min-width: 80px;
    max-width: 200px;
    width: auto;
    padding-top: 10px;
}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: right;
}
#search .text-input-bg {
    width: 227px;
    height: auto;
}
#search input{ -webkit-border-radius: 5px}
#search label {
}
#loader {
    margin: 10px 10px 0 0;
}
#loader2{ margin: 10px 0 0 10px; }
#loader_div{
    float: right;
    width: 16px;
    height: 16px;
    margin: 10px 0 0 10px;
}
#loader1{
    float: right;
}
table {
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    width: 100%;
    margin: 20px 0;
    float: right;
}
table .tr-head {
    font-weight: bold;
    border-bottom: 1px solid #bfbfbf;
    background-color: #f0f0f0;
}
td {
    padding: 10px;
    border-left: 1px solid #bfbfbf;
    position: relative;
}
tr {
    border-bottom: 1px solid #bfbfbf;
}
#page-yield table a {
    color: black !important;
    text-decoration: none;
    margin-left: 30px;
    float: right;
}
#page-yield table a:hover {
    text-decoration: underline;
    color: black !important;
}
td.sl_no{width: 7%;}
td.name{width: 38%;}
td.username{ width: 15%;}
td.role{ width: 15%}
td.actions{ width: 25%;}
#name-sec, #type-sec{
    float: right;
    width: 100%;
}
.div_link{
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
    color: #666;
    margin: 10px 20px 0 0;
    float: left;
    border-right: 1px solid #bfbfbf;
    padding-right: 20px;
}
#type-sec{ display: none;}
#page-yield .right a.dropbtn, #page-yield .right a.dropbtn:hover{
    color: white !important;
    text-decoration: none !important;
    font-weight: normal;
}
.dropbtn {
    color: black !important;
    cursor: pointer;
    margin: 0 !important;
    border-radius: 1px;
    background: white;
    border: 1px solid #ccc;
    font-weight: normal;
    font-size: 13px;
    padding: 0;
}
.options-dropbutton{
    border: none;
}
.actions_col{
    width: 15% !important;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 50px;
    width: auto !important;
    border: 1px solid #ccc;
}
.options-dropdown{
    top: 33px;
    right: -10px;
}
.term_box td{
    position: relative;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    padding: 5px 8px;
    color: black !important;
}

.dropdown a:hover {background-color: #f1f1f1}
td .text-input-bg{width: auto;height: auto;}
.show {display:block !important;}
.drop_down{
    min-width: 150px;
    float: right;
    height: auto;
}
.pagination{
    margin-top: 10px;
}
#status_filter{
    width: auto;
    float: left;
    font-size: 13px;
    font-weight: 600;
}
input#forced_type_unblocked{
    margin-right: 15px;
    float: right;
}
input#forced_type_blocked{
    margin-right: 15px;
    float: right;
}
input#forced_type_all{
    float: right;
}
label#forced-type-align{
    float: right;
}
th{
    font-size: 14px;
    color: #333333;
    border-right: 1px solid #bfbfbf;
    background: #eeeeee;
    line-height: 30px;
}
th.sl_no{
    width: 5%;
}
th.name{
    width: 40%;
}
th.username{
    width: 15%;
}
th.role{
    width: 15%;
}
th.actions{
    width: 25%;
}
td.sl_no{
    width: 5%;
}
td.name{
    width: 40%;
}
td.username{
    width: 15%;
}
td.role{
    width: 15%;
}
td.actions{
    width: 25%;
}