<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<div class="form_container">
    <%unless @exam_group.present?%>
      <%params_hash={:action=>"scores_form",:subject_id=>@subject.id,:cce_exam_category_id=>@cce_exam_category.id,:fa_group_id=>@fa_group.id,:batch_id=>@batch.id}%>
    <%else%>
      <%params_hash={:action=>"scores_form",:subject_id=>@subject.id,:cce_exam_category_id=>@cce_exam_category.id,:fa_group_id=>@fa_group.id,:exam_group_id=>@exam_group.id,:batch_id=>@batch.id}%>
    <%end%>
    <% remote_form_for :assessment_scores, :url=>params_hash,:html=>{:method=>:post} do |form| %>
      <%= session_fingerprint_field %>
      <div id="fa_criteria_calc">FA Criteria Calculation : <span>Uses <%=@fa_group.di_formula ==1 ? "Average" : "Sum"%> of descriptive indicators</span></div>
      <table cellspacing="0" cellpadding="0" border="0" id="enclosure" >
          <tr>
              <td id="firstTd"></td>
              <td rowspan="2">
                  <div id="divHeader" style="">
                      <table cellspacing="0" cellpadding="0" border="1" id="main_header_table">
                          <tr id="main_heading">
                              <% @fa_criterias.each_with_index do |fa,i| %>
                                <%=hidden_field_tag "grade[#{fa.id}][max_marks]",fa.max_marks%>
                                <%=hidden_field_tag "grade[#{fa.id}][formula]",fa.fa_group.di_formula%>
                                <% indicators=fa.descriptive_indicators %>
                                <% if indicators.present? %>   
                                  <td colspan="<%=indicators.count%>">
                                      <div class="tableHeader th_<%=i%>"><%=fa.fa_name%></div>
                                      <div class="tableHeaderHelp"><span>(Maximum Marks = <%=fa.max_marks%>)</span></div>
                                  </td>
                                <%end%>
                              <%end%>
                          </tr>
                          <tr id="sub_header">
                              <% @fa_criterias.each_with_index do |fa,i|  %>
                                <% i = i + 1 %>
                                <% indicators=fa.descriptive_indicators %>
                                <% if indicators.present? %>   
                                  <%indicators.each do |indicator|%>
                                    <td>
                                        <div class="tableSubHeader tsh_<%=i%>"><%=truncate(indicator.name,:length => 80,:ommision => '...')%><%#=indicator.name%></div>
                                    </td>
                                  <%end%>
                                <%end%>
                              <%end%>
                          </tr>

                      </table>
                  </div>
              </td>
          </tr>
          <tr>
              <td id="firstSubTd">Student
              </td>
          </tr>
          <tr>
              <td valign="top">
                  <div id="firstcol">
                      <table width="250px" cellspacing="0" cellpadding="0" border="1" id="student_list_table" >
                          <%@students.each do |student|%>
                            <tr class="<%=cycle('odd', 'even')%>">
                                <% if @roll_number_enabled %>
                                  <%text=student.roll_number.present? ? "(#{student.roll_number})" : ''%> 
                                <% else %>
                                  <%text="(#{student.admission_no})"%> 
                                <%end%>
                                <td class="tableFirstCol" id="st_<%=student.id%>"><div class="student_names"><%=student.name_with_suffix %><span><%#=text%></span></div></td>
                            </tr>
                          <%end%>

                      </table>
                  </div>
              </td>
              <%reset_cycle%>
              <td valign="top">
                  <div id="table_div" class="scrollbar" onscroll="fnScroll()" >
                      <table cellspacing="0" cellpadding="0" border="1" id="scores_table">
                          <%@students.each_with_index do |student,i|%>
                            <tr class="<%=cycle('odd', 'even')%> st_<%=student.id%>" id=<%= i ==0 ? "firstTr" : "" %>>
                                <% @fa_criterias.each do |fa| %>
                                  <% indicators=fa.descriptive_indicators %>
                                  <% if indicators.present? %>   
                                    <%indicators.each do |di|%>
                                      <td>
                                          <div class="label-field-pair">
                                              <div class="text-input-bg"><%= text_field_tag "grade[#{fa.id}][students][#{student.id}][scores][#{di.id}]", (@scores[student.id][di.id].present? ? @scores[student.id][di.id].first.grade_points : "") ,:max_marks=>fa.max_marks,:class=>"criteria_#{fa.id} precision_text",:onkeyup=> "return validate_mark(this)",:onblur=> "return validate_mark(this)",:autocomplete=>"off"%></div>
                                          </div>
                                      </td>
                                    <%end%>
                                  <%end%>
                                <%end%>
                            </tr>
                          <%end%>
                      </table>
                  </div>
              </td>
          </tr>
      </table>
      <%= hidden_field_tag :student_order,params[:student_order] %>
      <div id="submit_button">
          <div id="err"></div>
          <%= submit_tag "Save",:class=>'submit-button margin-top-50'%>
      </div>
    <%end%>
</div>
<div class="overlay">
    <div id="loading"><%= image_tag("filler_ring_loader.gif", :align => "absmiddle", :border => 0, :id => "loader1") %>
        <span><%= "#{t('loading')}.." %></span>
    </div>
</div>
<script type="text/javascript">
  var error_entries = new Array();

  validate_mark = function (text_box)
  {
      var max_marks = j(text_box).attr('max_marks')
<%if @fa_group.di_formula==1%>
        if (parseFloat(text_box.value) > max_marks)
        {
            j(text_box).attr('title', 'Marks entered for the descriptive indicator should not exceed the maximum mark of its criteria')
            j(text_box).tooltip({
                tooltipClass: "tooltip_error",
                effect: "fade",
                opacity: 0.7,
            });
            curr_id = j(text_box).attr('id');
            if (j.inArray(curr_id, error_entries) === -1)
            {
                error_entries.push(curr_id);
                j(text_box).tooltip('open');
                j('.submit-button').attr('disabled', 'disabled');
                j('#err').text('Please fix all issues on the form to proceed.')
                j(text_box).closest('tr').css('background-color', '#fff2f3');
                j(text_box).css('border', '2px solid #9e0f15');
                parent_el_id = j(text_box).closest('tr').attr('class').split(' ')[1];
                j('#student_list_table').find('td#' + parent_el_id).css('background-color', '#fff2f3').css('color', '#9e0f15');
            }
            if (navigator.userAgent.indexOf("Firefox") !== -1)
            {
                j("input.precision_text").keyup(function (e) {
                    var code = e.which;
                    if (code === 9) {
                        return;
                    }
                });
                setTimeout("j('#" + curr_id + "').focus();", 1);
            }
            else {
                j(text_box).focus();
            }
            return false;
        }
        else
        {
            curr_id = j(text_box).attr('id');
            if (j.inArray(curr_id, error_entries) !== -1)
            {
                error_entries.pop(curr_id)
                j(text_box).tooltip()
                j(text_box).tooltip('close').removeAttr('title');
                j(text_box).removeAttr('style');
                j(text_box).closest('tr').removeAttr('style');
                parent_el_id = j(text_box).closest('tr').attr('class').split(' ')[1]
                j('#student_list_table').find('td#' + parent_el_id).removeAttr('style')
            }
            if (error_entries.length === 0)
            {
                j('#err').text('');
                j('.submit-button').removeAttr('disabled');
            }

        }
<%elsif @fa_group.di_formula==2%>
        sum = 0;
        c = j(text_box).attr('class').split(' ')[0];
        tr_id = j(text_box).closest('tr').attr('class').split(' ')[1];
        j('.'+tr_id + ' .' + c).each(function () {
            sum += parseFloat(j(this).val());
            if (sum > max_marks) {
                j(text_box).attr('title', 'Sum of marks entered for descriptive indicators should not exceed the maximum marks of its criteria');
                j(text_box).tooltip({
                    tooltipClass: "tooltip_error",
                    effect: "fade",
                    opacity: 0.7,
                });
                curr_id = j(text_box).attr('id');
                if (j.inArray(curr_id, error_entries) === -1)
                {
                    error_entries.push(curr_id);
                    j(text_box).tooltip('open');
                    j('.submit-button').attr('disabled', 'disabled');
                    j('#err').text('Please fix all issues on the form to proceed.')
                    j(text_box).closest('tr').css('background-color', '#fff2f3');
                    j(text_box).css('border', '2px solid #9e0f15');
                    parent_el_id = j(text_box).closest('tr').attr('class').split(' ')[1];
                    j('#student_list_table').find('td#' + parent_el_id).css('background-color', '#fff2f3').css('color', '#9e0f15');
                }
                if (navigator.userAgent.indexOf("Firefox") !== -1)
                {
                    j("input.precision_text").keyup(function (e) {
                        var code = e.which;
                        if (code === 9) {
                            return;
                        }
                    });
                    setTimeout("j('#" + curr_id + "').focus();", 1);
                }
                else {
                    j(text_box).focus();
                }
                return false;
            }
            else
            {
                curr_id = j(text_box).attr('id');
                if (j.inArray(curr_id, error_entries) !== -1)
                {
                    error_entries.pop(curr_id)
                    j(text_box).tooltip()
                    j(text_box).tooltip('close').removeAttr('title');
                    j(text_box).removeAttr('style');
                    j(text_box).closest('tr').removeAttr('style');
                    parent_el_id = j(text_box).closest('tr').attr('class').split(' ')[1]
                    j('#student_list_table').find('td#' + parent_el_id).removeAttr('style')
                }
                if (error_entries.length === 0)
                {
                    j('#err').text('');
                    j('.submit-button').removeAttr('disabled');
                }
            }
        })
<%end%>
  }
  j(document).ready(function () {
      fnAdjustTable();
  });
</script>
