<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% content_for :head do  %>
  <%css_path = (rtl?) ? 'assessment_scores/observation_scores.css' : 'assessment_scores/observation_scores.css'%>
  <%= stylesheet_link_tag(css_path) %>
<% end %>
<div id="content-header">
    <%= show_header_icon %>
    <h1>Co-Scholastic Scores</h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'>Enter Grades</div>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%if @batch.is_active%>
          <% breadcrumb :assessment_scores_observation_scores, [@batch,@observation_group]%>
        <%else%>
          <% breadcrumb :assessment_scores_previous_observation_scores, [@batch,@observation_group]%>
        <%end%>
        <%= render_breadcrumbs  %>
    </div>
    <div id="flash-box">
        <% unless flash[:notice].nil? %>
          <p class="flash-msg"> <%= flash[:notice] %> </p>
        <% end %>
    </div>
    <% unless flash[:warn_notice].nil? %>
      <div id="errorExplanation" class="errorExplanation"><%= flash[:warn_notice] %> </div>
    <% end %>
    <% if @students.present? %>
      <div class="criteria_select">
          <div class="label-field-pair">
              <label for="configuration_institution_type"><%= t('criteria_text') %></label>
              <div class="text-input-bg">
                  <%= select :observation_group, :id,
                    @observation_groups.map {|og| [og.name, og.id]},
                    {:selected=>params[:observation_group_id].to_i},
                    {:onChange => "#{remote_function(:url => {:action => "observation_scores"},
                    :with =>  "'observation_group_new_id='+value+'&batch_id='+#{@batch.id}+'&student='+#{@student.id}+'&request_type=select'",
                    :before => "Element.show('loader1')",
                    :success => "Element.hide('loader1')"
                    )}"} %>
                  <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader1", :style =>"display: none;" ) %>
              </div>
          </div>
      </div>
      <div id="enclosure">
          <div id="student_list"><%= render :partial=>'student_list' %></div>
          <div id="observation_sheet"><%= render :partial=>'observation_sheet' %></div>
      </div>
    <%else%>
      <p class="flash-msg" id="flash_msg">No students present in this batch</p>
    <% end %>
</div>
