<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% content_for :head do  %>
  <%= stylesheet_link_tag("assessment_scores/fa_groups.css") %>
<% end %>
<div id="content-header">
  <%= show_header_icon %>
  <h1>Co-Scolastic Scores</h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'>Select a criteria</div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%if @batch.is_active%>
      <% breadcrumb :assessment_scores_observation_groups, @batch%>
    <%else%>
      <% breadcrumb :assessment_scores_previous_observation_groups, @batch%>
    <%end%>
    <%= render_breadcrumbs  %>
  </div>
  <% unless @observation_groups.empty?  %>

    <ul id="category-list">
      <li class="listheading">
        <div class="heading-name">Select a criteria</div>
        <div class="heading-edit">
        </div>
      </li>
      <% @observation_groups.each do |og| %>
        <%if can_access_request? :observation_scores,:assessment_scores%>
          <li class="list<%=cycle('odd', 'even')%>">
            <label>
              <div class="category-name">
                <%= link_to "#{og.name} - #{og.desc}", observation_scores_path(:batch_id=>@batch.id,:observation_group_id=>og.id)  %>
              </div>
            </label>
          </li>
        <%end%>
      <% end %>
    </ul>
  <% else %>
    <ul id="category-list">
      <li class="listheading">
        <div class="heading-name">No Co-Scholastic items assigned to the batch.</div>
      </li>
    </ul>
  <% end %>
</div>
