<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<label class="head_label"><%= t('attendance_for') %> <span><%= @student.first_name %></span></label>

<div id="ajax-edit">
  <br></br>
  <% if @config.config_value == 'Daily' %>
    <% form_remote_for @absentee,:before=>"$('submit_button').disable()",:complete=>"setTimeout(function(){$('submit_button').enable();},5000)" do |f| %>
      <div id="form-errors"></div>
      <%= f.hidden_field :student_id, :value => @student.id %>
      <%= f.hidden_field :month_date, :value => @month_date %>
      <%= f.hidden_field :batch_id, :value => @student.batch_id %>
      <div class="label-field-pair">
        <label for="reason"><%= t('reason') %></label>
        <div class="text-input-bg"><%= f.text_field :reason %></div>
      </div>
      <% if @config.config_value == 'Daily' %>
        <div class="label-checkbox-pair">
          <label><%= f.check_box :forenoon, :checked => true %><%= t('forenoon') %></label>

        </div>
        <div class="label-checkbox-pair">
          <label><%= f.check_box :afternoon, :checked => true %><%= t('afternoon') %></label>
        </div>
      <% end %>
       <%=hidden_field_tag :session_fingerprint, session_fingerprint%>
      <div class="extender"></div>
      <%= f.submit "► #{t('add')}", :class => 'submit-button', :id=> 'submit_button', :confirm => "#{t('delete_confirm_msg')}" %>
    <% end %>
  <% else %>
    <% form_remote_for @subject_leave,:url=>{:controller=>"attendances",:action=>'create'}, :before=>"$('submit_button').disable()",:complete=>"setTimeout(function(){$('submit_button').enable();},5000)" do |f| %>
      <div id="form-errors"></div>
      <%= f.hidden_field :student_id, :value => @student.id %>
      <%= f.hidden_field :month_date, :value => params[:date] %>
      <%= f.hidden_field :subject_id, :value => params[:subject_id] %>
      <%= hidden_field_tag :timetable_entry, params[:timetable_entry] %>
      <div class="label-field-pair">
        <label for="reason"><%= t('reason') %></label>
        <div class="text-input-bg"><%= f.text_field :reason %></div>
      </div>
      <div class="extender"></div>
      <%=hidden_field_tag :session_fingerprint, session_fingerprint%>
      <%= f.submit "► #{t('add')}", :class => 'submit-button',:id => 'submit_button', :confirm => "#{t('delete_confirm_msg')}" %>
    <% end %>
  <% end %>

</div>
