<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%# @javascript_for_page = ['attendance','date'] %>
<%  content_for :head do%>
  <% if @config.config_value == 'Daily' %>
    <%= javascript_include_tag 'attendance', 'date' %>
  <% else %>
    <%= javascript_include_tag 'subject_leave', 'date' %>
  <% end %>
  <!--[if IE]>
  <style>

  .present{
    color:#fff;
    padding:5px;
    background:#FFF;
  }
  .td-mark, .td-name{
    background:#FFF;
  }

  </style>
  <![endif]-->
<%  end %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('attendance_register') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('attendance_register') %></div>


</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <div class="label-field-pair">
    <label><%= t('select_a_batch') %></label>
    <div class="text-input-bg">
      <% if @config.config_value == 'Daily' %>

  <%#= select :batch, :id,
  @batches.map {|b| [b.full_name, b.id] },
  {:prompt => "#{t('select_a_batch')}"},
  {:onchange => "#{remote_function(
  :url => { :action => 'show' },
  :with => "'batch_id='+value",
  :before => "Element.show('loader')",
  :success => "Element.hide('loader')"  )}"} %>
        <%= select :batch, :id,
          @batches.map {|b| [b.full_name, b.id] },
          {:prompt => "#{t('select_a_batch')}"},
          {:onchange => "getjson(value);"} %>
      <% else  %>
        <%= select :batch, :id,
          @batches.map {|b| [b.full_name, b.id] },
          {:prompt => "#{t('select_a_batch')}"},
          {:onchange => "#{remote_function(
          :url => { :action => 'list_subject' },
          :with => "'batch_id='+value",
          :before => "Element.show('loader')",
          :success => "Element.hide('loader')"  )}"} %>
      <% end %>
    </div>
    <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: none;margin-top: 10px;" ) %>
  </div>
  <%= hidden_field_tag 'time_zone_date',@date_today, :id=>'time_zone' %>


  <div id="subjects"></div>
  <div id="error_messages"></div>
  <div id="register"></div>
  <div id="modal-box" style="display:none;"></div>
</div>
