
.link-box {
    margin:10px 40px;
    width:270px;
    float:right;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
.link-descr{margin-top:5px;color:#666;text-align:right;}
#box{
    width:700px;
    margin:0px auto;
}


.submit_button {

    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin-top: 30px;
}
.submit_button:hover{
    background:  #373B3F;
}


p{
    font-size:13px;
}

.flash-msg {
    background-color : #fff1ab;
    padding : 5px;
    font-size:13px;
    font-weight:600;
    border:1px solid #EFDC86;
    margin-bottom: 10px;
}
#batch_name{
    margin-top: 45px;
    font-size: 17px;
    font-weight: bold;
}
#batch_range_and_tutor{
    font-size: 13px;
    color: #666666;
    font-weight: normal;
    margin-top: 30px;
    margin-right:400px;
}
#common_box{
    border:1px solid #999999;
    width:100%;
    min-height:700px;
    margin-top:26px;
    float:right;
}
#highlight{
    border-bottom:1px solid #999999;
    height:82px;
    background-color: #ffffff;
}
#highlight span#student_count{
    font-size:30px;
    font-weight:bold;
    color:#333333;
    margin-right: 36px;
    margin-top: 25px;
    float: right;
}
#highlight span#student_text{
    font-weight: bold;
    color: #666666;
    font-size: 15px;
    margin-right: 19px;
    margin-top: 36px;
    float: right;
}
#student_details_table,#exam_details_table{
    width:100%;
    border:1px solid #999999;
}

th{
    font-size: 14px;
    color: #333333;
    background: #eeeeee;
    line-height: 30px;
}
td{
    font-size: 13px;
    color: #333333;
}
table, th, td {
    border: 1px solid #cccccc;
    border-collapse: collapse;
}
th, td {
    padding: 5px 20px;
    text-align: right;
}
tr{
    line-height: 30px;
}

.list_odd{
    background-color: #ffffff;
}
.list_even{
    background-color: #f5f5f5;

}
.pagination{
    margin-top:20px;
    float:right;
    margin-left:0px;
}
.individual_category{
    font-size: 15px;
    font-weight: normal;
    color: #333333;
    float: right;
    height:54px;
}
ul{
    margin: 0;
    -webkit-padding-start: 0px !important;
}
li a{
    text-decoration: none;
    color: #333333;

}
.tabs{
    width: 100%;
    height: 50px;
    background: #eee;
    border-bottom: 1px solid #999999;
}
.tabs ul{
    height: 100%;
    border-bottom: 1px solid #ccc;
    list-style-type: none;
}
.tabs ul li{
    width: auto;
    font-size: 15px;
    color:#666666;
    height: 35px;
    line-height: 35px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 15px;
    float: right;
    cursor: pointer;
}
.tabs ul li:hover{

    color: #333333;
}
.tabs ul li:first-child{
    margin-right: 20px;
}
.tabs ul li.active_tab{
    border: 1px solid #999999;
    border-bottom: 0px;
    color: #444 !important;
    background: #fff !important;
    line-height: 34px;
    padding-right: 20px;
    padding-left: 20px;
    font-size:14px;
    font-weight:bold;
}
.new_exams_text{
    font-size: 17px;
    font-weight: bold;
    color: #333333;
    margin-right: 45px;
    margin-top: 35px;
    float: right;
}
.new_exams{
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    margin-right: 20px;
    margin-top: 25px;
    float: right;
}
#vertical_line{
    float: right;
    height: 45px;
    width: 1px;
    background-color: #cccccc;
    margin-top: 20px;
    margin-right: 40px;
}
.new_exams_small_text{
    margin-right: 10px;
    margin-top: 35px;
    float: right;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
}
.bold_new_exam_text{
    font-size: 17px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 35px;
    float: right;
    color: #333333;
}
.new_exams_small{
    margin-right: 43px;
    margin-top: 25px;
    font-size: 17px;
    font-weight: bold;
    color: #333333;
}
.pagination{
    min-width: 158px;
    height: 33px;
    border: 1px solid #CCC;
    border-right: 0px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination span{
}

.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-right: 1px solid #CCCCCC !important;
    border-bottom: 1px solid #CCCCCC !important;
    font-size: 14px !important;
    display: block;
    float: right;
    padding: 0px;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 13px;


}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: right;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 14px;
    color:#666 !important;
    text-decoration: none !important;
    padding-bottom: 9px;
    padding-top:8px;
    border-right:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: right;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 14px;
    border-left: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    padding-bottom: 9px;
    padding-top:8px;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: right;
    padding-left: 5px;
    font-size: 14px;
    color:#fff !important;
    background-color: #666666;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 13px;
}
.pagination .next_page{
    display: block;
    float: right;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 14px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;


}
.pagination .gap{
    display: block;
    float: right;
    border-right:1px solid #cccccc;
    color:#666;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 9px;
    padding-left: 9px;


}
#date_handler{
    float:left;
}
.ui-widget-content{
    border:0px !important;
    background: none !important;
}

body {
    font-family:arial !important;
}
.column { width: 332px; float: right; padding-bottom: 50px; }
.portlet { margin: 0 0 20px 20px; }
.portlet-header { padding-top:12px; padding-right: 10px; padding-left: 10px; height: 28px; }
.portlet-header .ui-icon { float: left; }
.portlet-content { padding: 10px; float:right; width:93%; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 100px !important; }
.ui-sortable-placeholder * { visibility: hidden; }


.ui-corner-all {
    border-radius:0px !important;
}

.ui-widget {
    font-size:13px !important;
}

.ui-widget-header {
    background-color: #f5f5f5 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-bottom: 1px solid #CCCCCC !important;
    color: #666666 !important;
}

.ui-widget-header .ui-icon {
    background-image: url(/images/iconsprite-1.png) !important;
}
.ui-icon,.refresh-icon,.remove-icon,.ui-datepicker-trigger,.name-span {
    cursor:pointer;
}
.ui-icon-plusthick {
    background-position: -65px 3px !important;
}

.ui-icon-plusthick:hover {
    background-position: -65px -13px !important;
}

.ui-icon-minusthick {
    background-position: -48px 3px !important;
}

.ui-icon-minusthick:hover {
    background-position: -48px -13px !important;
}

#content {
    width:1000px !important;
}

.portlet-subcontent {
    margin-top: 10px;
    background-color: #fdfdfd;
    width:100%;
    float:right;
}
.holder {
    background:none;
    height:40px;
}

.subcontent-header {
    font-weight: bold;
    padding:10px;
    float:right;
    width:93%;
}
.header-left{
    float:right;
}
.header-right{
    float:right;
    color: #333333;
    font-weight:normal;
    margin-right:5px;
}

.subcontent-info {
    color: #333333;
    padding:10px;
    float:right;
    width:93%;
}

.subcontent-footer {
    color:#999999;
    font-size:12px !important;
    padding:10px;
    float:right;
    width:93%;
}

.footer-date {
    float:right;
}

.footer-comment {
    float:left;
}

.footer-comment-icon {
    float:right;
    background-image: url(/images/iconsprite-1.png) !important;
    background-position: -32px -31px;
    width:16px;
    height:16px;
}
#combine_portlet{
    float:left;
    width: 350px;
    margin-top: 20px;
    margin-bottom: 20px;

}
#combine_portlet1{
    float: right;
    width: 96%;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 25px;

}
.portlet-date {
    color: #999999;
    float:right;



}

.palette-info {
    width:100%;
    float:right;
}

.palette-icon {
    height:20px;
    width:20px;
    float:right;
    margin-left:10px;
    margin-top:-2px;
    background: url(/images/iconsprite-1.png) no-repeat center;
}

.view-more-div {
    width:100%;
    float:right;
}

.view-more-div a {
    float:left;
    text-decoration:none;
    font-size:11px;
    font-weight:bold;
    display:block;
    color:#666666;
    margin-top:12px;
}

/*.view-more-div a:hover{
    color:#CB0101 !important;
}*/

#add-palette-main {
    margin-bottom:20px;
    margin-top:20px;
    width:100%;
    float:right;
}

.grey-button-large {
    float:left;
    background: url("/images/grey-gradient.png") repeat-x scroll 0 0;
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    display: block;
    height: 15px;
    padding: 3px 10px !important;
    text-decoration: none;
    margin-left:21px;
    font-size:13px;
    border: 1px solid #999999;
}

/*#add-palette-button:hover {
    color:#9A0000;
    text-decoration:none;
}*/

#palette-list {
    float:right;
    width:100%;

}

#palettes-main {
    float:right;
}

#list-loader {
    float: left;
    margin-left: 15px;
    margin-top: 4px;
}

.palette-box {
    float: right;
    margin: 0 0 20px 20px;
    padding: 8px 10px 8px 0;
    width: 220px;
    background-color: #e7e7e7;
    font-size: 13px;
    color: #333333;
}

.box-border {
    float:right;
    width:98%;
    background-color:#999999;
    margin-top:20px;
    height:1px;
}

.palette-box label {
    line-height: 20px;
}

.palette-box input[type="checkbox"] {
    float: right;
    margin: 3px 9px;
}

.palette-buttons {
    float:right;
    width:100%;
}

#palette-list-submit {
    float: left;
    /*    background: url("/images/red-gradient.png") repeat-x scroll 0 0 #DD0000;*/
    border: medium none;
    font-size:13px;
    color: #FFFFFF;
    display: block;
    height: 23px;
    padding: 3px 10px;
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    margin-left: 25px;
}

.birthday-subcontent {
    float:right;
    width:100%;
}

.birthday-image {
    float:right;
    width:50px;
    height:50px;
    margin-top:10px;
    margin-right:10px;
    border : 1px solid #AAAAAA;
}

.gallery-image {
    float:right;
    width:100px;
    height:70px;
    margin-top:10px;
    margin-right:10px;
    margin-bottom:10px;
    border : 1px solid #AAAAAA;
}

.gallery-icon {
    width:100px;
    height:70px;
}

.gallery-text {
    float:left;
    width:60%;
}

.birthday-text {
    float:left;
    width:75%;
}

.image-icon {
    width:50px;
    height:50px;

}

#palette-list-cancel {

}

.date-previous {
    background-image: url("/images/iconsprite-1.png");
    float: right;
    background-position: 2px -32px;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    margin-right:40px;
}

.date-next {
    background-image: url("/images/iconsprite-1.png");
    float: right;
    background-position: -14px -32px;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    margin-left:3px;
}

.portlet-date a div:hover {
    background-color: #e0e0e0;
}

.portlet-date label {
    float:right;
    width:200px;
    text-align:center;
    font-size: 14px;
}

.remove-icon {
    background-image: url("/images/iconsprite-1.png");
    background-position: -31px 1px;
    float: left;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    margin-right: 5px;
}

.remove-icon:hover {
    background-position: -31px -15px;
}

.refresh-icon {
    background-image: url("/images/iconsprite-1.png");
    background-position: -80px 1px;
    float: left;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    margin-left: 5px;
}

.refresh-icon:hover {
    background-position: -80px -15px;
}

.ui-datepicker-trigger {
    background-image: url("/images/iconsprite-1.png");
    background-position: -2px -2px;
    height: 16px;
    width: 16px;
    float:right;
}

.date-loader {
    float:left;
    margin-right:5px;
    margin-left: 25px;

}

.palette-more-loader {
    float:left;
    margin-left:10px;
    margin-top: 9px;
}

.add-palette-loader {
    float:left;
    margin-left:10px;
    margin-top:4px;
}

.ui-datepicker-trigger:hover {
    background-position: -2px -18px;
}

.ui-datepicker {
    /*    border-bottom-right-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
        border-top-right-radius: 4px !important;
        border-top-left-radius: 4px !important;*/
    border: 1px solid #AAAAAA !important;
    padding: 0.2em 0.2em 0 !important ;
    width: 17em !important;
}

.ui-datepicker-header {
    position: relative !important;
    background:#CCCCCC !important;
    border: 1px solid #AAAAAA !important;
}

.ui-datepicker-header select {
    margin: 1px 0 !important;
    position: inherit !important;
    color : #333333 !important;
    background-color: #F5F5F5 !important;
    border: 1px solid #C6C6C6 !important;
    padding: 3px 6px !important;
}
.ui-icon-circle-triangle-w {
    background-position: 1px -32px !important;
}
.ui-icon-circle-triangle-e {
    background-position: -13px -32px !important;
}

.ui-datepicker-prev {
    right:2px !important;
    background:none !important;
    top : 5px !important;
}

.ui-datepicker-prev-hover {
    right:1px !important;
    top : 4px !important;
}

.ui-datepicker-next {
    right:194px !important;
    background:none !important;
    top : 5px !important;
}

.ui-datepicker-next-hover {
    right:193px !important;
    top : 4px !important;
}
.ui-autocomplete {
    background-color: #FEFDF9 !important;
    margin: 2px 0 !important;
    padding: 0 !important;
    border-left: 1px solid #E7E7E7 !important;
    border-style: none solid solid !important;
    border-width: medium 1px 1px !important;
    list-style: none outside none !important;
    box-shadow:none !important;
}
.ui-menu-item {
    margin: 1px 0 !important;
}

.ui-menu .ui-menu-item a {
    line-height: 1.3 !important;
    padding: 0.2em 0.8em !important;
}

.ui-menu-item a.ui-state-focus {
    background-color:#F8F1D1;
    color:#BB0000;
    margin: 1px 0 !important;
    border-top:0 !important;
    border-bottom:0 !important;
    border-left:0 !important;
    border-right:0;
}
li.ui-menu-item a.action {
    border-right: 2px solid #BB0000 !important;
}
p.flash-msg {
    width: 968px !important;
}
.empty-palettes {
    width:980px;
    text-align:center;
    background-color:#e7e7e7;
    padding-top:60px;
    padding-bottom:60px;
    color:#666;
    font-size:15px;
    float:right;
}
th#sl_no{
    width: 35px;
}
th#name{
    width:600px;
}
th#admn_no{
    width:140px;
}
th#roll_no{
    width: 100px;
}
th#action{
    width:125px;
}
.today_date{
    float:right;
    margin-left: 100px;
}
.today_date_text{
    color: #999999;
    float: right;
    margin-right: 43px;
    margin-top: 5px;
    font-size: 12px;
}
.attendance_highlights{
    float:right;
    margin-left:100px;
}
.examination_highlights{
    float:right;
}
.large_present_text{
    font-size: 30px;
    float: right;
    margin-top: 28px;
    margin-right: 10px;
    font-weight: bold;
    color:#333333;
}
.small_total_text{
    float: right;
    margin-top: 35px;
    margin-right: 5px;
    color: #333333;
    font-size: 14px;
}
.normal_absentees_text{
    float: right;
    margin-top: 35px;
    margin-right: 5px;
    color: #333333;
    font-size: 14px;
}
.absentees_count{
    font-size:17px;
    font-weight: bold;
    color:#333333;
    float:right;
    margin-top:33px;
    margin-right:10px;
}
.no_right_margin{
    margin-left:0px;
}
#list_absentees,#tt_timings,#cal_events{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    margin-bottom: 20px;
}
.no_entries{
    float: right;
    background-color: #eeeeee;
    width: 94%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    font-size: 14px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.text-input-bg{
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 30px;
    float: right;
    width: 75%;
    padding-top: 10px;
    font-weight: bold;
}
.text-input-bg select{
    -webkit-border-radius:0px;
    height: 30px;
}
.margin_top_50{
    margin-top:50px;
}
.margin_top_25{
    margin-top:25px;
}
.margin_left_45{
    margin-right:45px;
}
#time_table_label{
    float: right;
    margin-top: 24px;
    font-size: 14px;
}
td a{
    text-decoration: none;
    color:#333;
    margin-left: 10px;
    font-size: 12px;
}
td a:hover{
    text-decoration: underline;
    color:#333 !important;
}
.summary_type_select{
    float:right;
    margin-right:45px;
    color:#666;
    font-size:14px;
    font-weight:normal;
    margin-bottom: 25px;
    cursor: pointer;
}
.margin-left-20{
    margin-right:20px;
}
.active_link{
    font-weight:bold;
    color:#333;
}
.add_pointer{
    cursor: pointer;
}
.table_seperator{
    height: 50px;
    width: 100%;
    float: right;
}
#loader3{
    position: absolute;
    z-index: 10000;
    margin-top: 200px;
    margin-right: 450px;
}
#loader2{
    margin-right:5px;
}
.cursor_change{
    cursor: default !important;
}
.margin_top_35{
    margin-top:35px;
}
#loading_text{
    margin-right:5px;
    margin-top:5px;
}
#loader_img{
    float:right;
}
td span a{
    color:#27292b !important;
}
#class_timing_th{
    width:145px;
}
#timetable_subject_th{
    width:225px;
}
#timetable_employee_th{
    width:180px;
}
#timetable_room_th{
    width:160px;
}
#timetable_building_th{
    width:145px;
}
#ui-datepicker-div{
    right:858px !important;
}
.summary_type_select:hover{
    text-decoration: underline;
}
th{
    line-height: 20px;
}
#course_area,#batch_area{
    float:right;
    width:350px;
}
#course_text,#batch_text{
    float:right;
    margin-top:20px;
    color: #444;
    font-size: 14px;
    font-weight: bold;
}
#course_id,batch_id{
    float:right;
}
#batch_tutor_section{
    float: left;
    font-size: 14px;
    font-weight: normal;
    width: 300px;
    margin-top:20px;

}
#top_section{
    float: right;
    width: 100%;
    margin-bottom: 30px;
}
#tutor_text{
    float: right;
    margin-left: 10px;
    font-size: 14px;
    font-weight: normal;
    color: #666666;
}
#tutor_name{
    float: right;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    width: 250px;
}
#loader{
    margin-right:5px;
    margin-top:10px;
}
#MB_header{
    -webkit-border-radius: 0px;
}
#MB_content{
    padding: 6px .75em 0px;
}
#MB_frame #MB_caption{
    padding: 20px 13px 0 0;
}
label{
    font-size:15px;
    float: right;
    margin-left: 30px;
    margin-top: 10px;
}
#record_group_name {
    background : #eee;
    float:right;
    border : 1px solid #c6c6c6;
    margin : 5px 10px 0 0;
    width : 180px;
    height:23px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding-top: 3px;
    padding-right: 5px;
}
.label-field-pair1{
    float:right;
    width:400px;
}
#error-box {
    background: #ffdedf url(/images/_global/error.png) no-repeat 10px 9px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding: 10px 20px 10px 0;
}

li{
    margin-right:50px;
}
.highlighter{
    padding: 2px;
    padding-right: 20px;
    background-color: #ccc;
    color: #333;
    font-weight: bold;
    font-size: 13px;

}
.sep_border{
    border-left: 1px solid #ccc;
}