
#report table, #leave_summary table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    min-width:980px;
    margin-bottom: 20px;
}

#report td,#leave_summary td {
    padding: 10px;
    border-right: 1px solid #bfbfbf;
}

#leave_summary table .tr-head, #report table .tr-head{
    background-color: #f0f0f0;
    font-weight: bold;
    border-bottom: 1px solid #bfbfbf;
}

.future_leave{
    background: #f0f0f0;
    color: grey;
    cursor: pointer;
}

tr {
    border-bottom: 1px solid #bfbfbf;

}

.tr-head td{
    color: black;
}
.col-1{
    width: 130px;
}
.col-3{
    width: 150px;
}
.col-2{
    width: 200px;
}
.label{
    font-size:13px;
    color:grey;
    margin-bottom:10px;
}

.text{
    font-size:13px;
    width: 75%;
}

.employee_name{
    margin-bottom: 30px;
    float:left;
    width: 300px;
}

.reset_date{
    width: 300px;
    margin-bottom: 30px;

    float: left;
}

.dpt_name{
    width: 300px;
    float:left;
}

.position{
    float:left;
    width: 300px;
}

.grade{
    float:left;
    width: 300px;
}

#lop_status{
    float: left;
}

#filters{
    /* margin-top: 30px; */
    float: left;
}

#leave_category{
    float: left;

}

#date_filters{

}

.label-field-pair{
    width: 240px;
}

#report{
    width:100%;
    float:left;
    margin-top: 30px;
}

#filter_text{
    float: left;
    margin-top: 40px;
    font-size: 13px;
    width: 70px;
}

.text-input-bg select{
    margin-left: 0px;
}

#leave_summary{
    float:left;
    margin-top:30px;
}

#date_filters{
    float:left;
    width:100%;
}

#date_filters .label-field-pair label{
    width: 50px;
    font-weight: normal;
    font-size: 13px;
}

#date_filters .text-input-bg{
    width: 200px;
}

#date_filters .label-field-pair input{
    width:150px;
}

#date_filters .label-field-pair{
    width: 275px;
    float: left;
}

#submit_button{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:0px auto;
    float:left;
    margin-top: 7px;
    /* margin-right: 210px; */
    padding:7px 12px;
    border:none;
    text-align:center;
    width:auto;
    cursor:pointer;
}

#cancel{
    /* width: 50px; */
    text-decoration: underline;
    font-size:13px;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    cursor:pointer;
}


hr{
    float:left;
    width:100%;

}

.hr1{
    color: black;
}
.hr2{
    color: #bfbfbf;
}
#date_range .label-field-pair{
    width: 150px;
    float: left;
}

#date_range .label-field-pair label{
    width: auto;
}

#date_range .label-field-pair .text-input-bg{
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 13px;
}

#reset, #change_date{
    font-size:13px;
    margin-top: 12px;
    float: left;
    cursor:pointer;
    text-decoration: underline;
}

#change_date{
    float:left;
    margin-right: 10px;
}

#date_range{
    float:right;
    margin-top: 25px;
}


#advance_search{
    float: left;
    font-size:13px;
    cursor:pointer;
    margin-top: 40px;
    text-decoration: underline;
}

#leave_category label,#lop_status label{
    font-size: 13px;
    font-weight: normal;
    color: grey;
    width: auto;
}

.error-msg{
    color: red;
    font-size: 13px;
    float: left;
    width: 100%;

}
.error-icon {
    width:15px;
    height:12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-right:2px;
    float:left;

}

#loader1, #loader2{
    margin-left: 5px;
    margin-top: 10px;
}
#loader{
    margin-top: 15px;
    margin-left: 10px;
}
label{
    font-size: 13px;
    font-weight: normal;
    color: #444;
    float: left;
    margin-top: 13px;
    margin-right: 45px;
}
.data_row{
    cursor: pointer;
}