label{
    color:grey;
    font-size: 13px;
}
.value{
    font-size: 14px;
    margin-top:5px;
}
.info_by, .info_date{
    float:left;
    width: 250px;
}
.info_remarks{
    float:left;
    width: 400px;
}
.info{
    width:100%;
    float:left;
}
.description{
    color:grey;
    font-size: 13px;
    margin-bottom: -20px;
    margin-top: 60px;
    width: 100%;
    float: left;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    float:left;
}
table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
    margin-bottom: 20px;
    margin-top: 40px;
    float: left;
}

td{
    padding: 10px;
    border-right: 1px solid #bfbfbf;
    color: black !important;
}

table .tr-head{
    font-weight: bold;
    border-bottom: 1px solid #bfbfbf;
    background-color: #f0f0f0;
}

tr{
    border-bottom: 1px solid #bfbfbf;
}

span#view_emp, span#view_all_emp{
    text-decoration: underline;
    margin-left: 5px;
    cursor: pointer;
}


.pagination {
    margin-top: 20px;
    margin-right: 0px;
}
.pagination{
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-left: 0px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-left: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: left;
    font-weight: normal;
    padding: 9px 13px 9px 15px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-left:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    border-right: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: left;
    padding: 9px 13px 9px 15px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: left;
    border-left:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}
#modal-box p {
    font-size: 13px;
}


#MB_caption{
    font-size: 16px;
}

.submit_button {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    /* margin-left:210px; */
    margin-top:10px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
    float:left;

}

#MB_frame{
    margin-top:100px;

    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

#MB_header {

    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
a.submit_button {
    text-decoration: none;
}

#cancel{
    width: 50px;
    margin-left:10px;
}


#page-yield table a, #page-yield table a{
    color : #666 !important;
    text-decoration: none;
}
#page-yield table a:hover, #page-yield table a:hover{
    text-decoration: underline;
    color: black !important;
}

p.flash-msg{
    font-weight: normal;
}
#success{
    width:100%;
    float:left;
}


#MB_header #MB_close {
    background: white;
    float: right;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: 0;
    margin-left: 5px;
    right: 20px;
    top: 18px;
    background-image: url("/images/iconsprite-1.png");
    background-position: -31px 1px;
    float: right;
    height: 16px;
    width: 13px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    margin-left: 5px;
}