table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
    margin-bottom: 50px;
}

td{
    padding: 10px;
    border-right: 1px solid #bfbfbf;
}

table .tr-head{
    font-weight: bold;
    border-bottom: 1px solid #bfbfbf;
}

#edit{
    float:left;
    min-width:50px;
    max-width:100px;
}

#delete{
    float: left;
    min-width:50px;
    max-width:100px;
}

#edit_inactive{
    float:left;
    min-width:50px;
    max-width:100px;
    color:grey;
}

#delete_inactive{
    float:left;
    min-width:50px;
    max-width:100px;
    color: grey;
}

td.actions{
    width: 15%;
    color: black !important;
}
td.actions a{
    text-decoration: none;
}
h4{
    font-size: 13px;
    font-weight: bold;
}

td.name{
    width: 45%;
    color: black !important;
}
td.code{
    width: 20%;
    color: black !important;
}

td.actions a {
    color : black;
}

tr.bg_light_grey{
    border-bottom: 1px solid #bfbfbf;
}
.pagination {
    margin-top: 20px;
    margin-right: 0px;
}
.pagination{
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-left: 0px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-left: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: left;
    font-weight: normal;
    padding: 9px 13px 9px 15px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-left:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    border-right: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: left;
    padding: 9px 13px 9px 15px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: left;
    border-left:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}
.leave_name{
    float:left;
}

.leave_status_1{
    float:right;
    color: grey;
    font-style: italics;
}

.leave_status_3{
    float:right;
    color: red;
    font-style: italics;
}

.ui-state-default .ui-icon, .ui-widget-header .ui-icon{
    background-image: url("/images/iconsprite-1.png");
    background-position: -31px 1px;
    float: right;
    height: 16px;
    width: 16px;
}

.sub-head{
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    font-weight: bold;
}

.link-heading a, tr.tr-head, tr.tr-head a, td a:hover{
    color: black !important;
}

.description{
    font-size: 13px;
    margin: 20px 0px 30px 0px;
    color: #A5A5A5;

}

#page-yield table a {
    color: #666 !important;
    text-decoration: none;
}

#page-yield table a:hover {
    color: black !important;
    text-decoration: underline;
}