.link-box {margin:10px 40px;width:270px;float:left; height:80px;}
.link-heading a {font-weight:bold;color:#900;}
.link-descr {margin-top: 5px;
    color: #666;
    text-align: left;}
#box{
    width:750px;
    margin:0px auto;
}
.bread_crumb {
 margin-left: 10px;
}
