.description{
    font-size: 13px;
    color: #666;
    float:left;
    margin-bottom: 30px;
}

#employee_list table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
    margin-bottom: 50px;
}

#employee_list td{
    padding: 10px;
    border-right: 1px solid #bfbfbf;
}

#employee_list table .tr-head{
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
}

#employee_list table .tr-head td{
    color: black !important;
}
h4{
    font-size: 14px;
    font-weight: bold;
}
#employee_list tr.tr-head, tr.tr-head a, td a:hover{
    color: black !important;
}
.pagination {
    margin-top: 20px;
    margin-right: 0px;
}
.pagination{
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-left: 0px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-left: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: left;
    font-weight: normal;
    padding: 9px 13px 9px 15px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-left:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    border-right: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: left;
    padding: 9px 13px 9px 15px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: left;
    border-left:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}
.label-field-pair{
    float:left;
    width: 300px;
}
.filter1, .filter2{
    width: 100%;
    float:left;
}

.submit-button{
    margin: 0px;
    margin-top:10px;
}

#employee_list{
    float:left;
    width: 100%;
    margin-top: 50px;
}

#status .text-input-bg select{
    width: 150px;
}

#status label{
    width: auto;
}

input.start_date, input.end_date{
    width: 120px;
}

.text-input-bg{
    width:auto;
    font-size: 13px;
    /* margin-top: 10px; */
}

#date_fields label{
    width: auto;
}

#date_fields .label-field-pair{
    width: 230px;
}

#cancel, #filter_date_link{
    font-size: 13px;
    text-decoration: underline;
    margin-top:10px;
    margin-left: 10px;
    cursor: pointer;
}

#filter_date_link{
    margin-top: 18px;
    float: right;
}

#cancel{
    margin-top: 18px;
    float:left;

}

hr{
    color: #f0f0f0;
    width: 100%;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}
.label-field-pair input{
    margin-left:0px;
}

.text-input-bg select{
    height: 30px;
}

.label-field-pair label{
    font-weight: normal;
    font-size: 13px;
    color: #666;
}
#start_date{
    min-width: 55px;
    font-size: 13px;
}

#end_date{
    min-width: 30px;
    font-size: 13px;
}

#emp_search{
    width: 250px;
}

#dpt_select{
    width: 250px;
}

#date_fields{
   float: right;
}


td a{
    color: black !important;
    text-decoration:none;
}

#page-yield table td a:hover{
    color: black !important;
}

td.col-1{
    width: 10%;
}

td.col-2{
    width: 20%;
}

tr{
  border-bottom: 1px solid #bfbfbf;
}