

#submit-button{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin-top: 90px;
    padding:7px 10px;
    border:none;
    cursor:pointer;
    /* float: left; */
    margin-left: -260px;
}



.text-input-bg{
    width: 260px;
}


#button{
    width: 100%;
    float: left;
    position: relative;
}

.description{
    font-size: 13px;
    color: grey;
    margin-bottom: 30px;
    margin-top: 15px;
}

.label-field-pair{
    width: 480px;
}

 .label-field-pair label{
    color: grey;
    font-weight: normal;
    font-size: 13px;
}

 .text-input-bg{
    padding-top: 10px;
    font-size: 13px;
    font-weight: bold;
}



.text-area-bg {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent none repeat scroll 0 0;
    float:left;
    width:250px;
}
.label-field-pair textarea {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #C6C6C6;
    /* margin:5px 0 0px 10px; */
    padding:5px;
    width:205px;
}

.label-field-pair input{
    margin-left: 0px;
}
.sub-header{
    text-transform: none !important;
}

.error-msg{
    color: red;
    font-size: 13px;

    font-weight: normal;
}
.error-icon {
    width:15px;
    height:12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-right:2px;
    float:left;

}

.wrapper {
    margin-top: 5px;
    /* margin-left: 10px; */
    float: left;
    width: 100%;
}