
.link-box {
    width:270px;
    float:left;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
.link-descr {
    margin-top: 5px;
    color: #666;
    text-align: left;
}

.box{
    width:650px;
    margin:0px auto;
}
