
.links_class a{
    font-size: 11px;
    padding-right: 8px;
}
.field_pair{
    width: 215px;
    margin-left: 10px;
    font-size: 14px;
    color: #444;
    padding: 10px;
    height: 8px;
    float: left;
}
.label1{
    float:left;
    width:150px
;
    word-break: break-all;
}
.label2{
    float:left;
    word-break: break-all;
    font-weight: bold;
}
.info{
    float:left;
}
.label-field-pair label {
  min-width: 25px;
  max-width: 30px;
  width: initial;
  margin-left: 23px;
  margin-right: 13px
}
.text-input-bg {
    width: 181px;
}
.label-field-pair input {
    width: 130px;
}
.label-field-pair {
    /*margin-left: 10px;*/
    width: 250px;
    float: left;
    margin-bottom: 10px;
}
.submit_button {
    margin-top: 8px;
    margin-left: 21px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
}
.hor_line{
    width:100%;
    height:1px;
    background-color:#333333
}
.buttons .user_button {
  margin-left: 434px;
}
#donations_list_title {
  margin-left: 23px;
}
