.submit_button {
    /*    margin-top:65px;*/
    margin-top: 25px;
    /*margin-left:205px;*/
    margin-left:155px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    float: left;
}
.submit_button:hover{
    background:  #373B3F;
}
.label-field-pair{
    width: auto;
    height: auto;
    min-height: 40px;
    float: left;
    min-width: 380px;
}
#left-side-inputs{
    width: 460px;
    float: left;
    min-height: 243px;
}
#right-side-inputs{
    float: right;
    width: 510px;
    height: 243px;
    margin-left: 10px;
}
#right-side-inputs > div{
    float: left;
}
.text-input-bg{ 
    width: auto;
}
#right-side-inputs > .label-field-pair label{
    width: auto;
    max-width: 280px;
}
#list-category-batch.label-field-pair.category_list{
    margin-right: 10px;
}
#list-category-batch.label-field-pair.category_list label{
    max-width: 320px;
}
#list-category-batch.label-field-pair.category_list > .label-container{
    width: auto;
    max-width: 320px;
    float: right;
}
.label-field-pair.category_list{
    overflow: hidden;
    height: auto;
}
.category_list .label-container{
    overflow: hidden;
}
.label-field-pair select {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    margin:5px 10px 0 5px;
    padding:5px;
    width:217px;
    height: auto;
}

.label-field-pair2 {
    height: auto;
    width: 460px;
    padding-top: 3px;
    float: left;
}

.label-field-pair2 label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 0px 0;
    float:left;
    width:205px;
    padding-top: 10px;
    font-weight: 600;
}

.label-field-pair input {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:5px 0 0 5px;
    padding:5px;
    width:205px;
}

.label-field-pair2 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : auto;
    height:auto;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}
.opt input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 50px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}

.each_category{
    font-size: 12px;
    overflow:auto;
    width:auto;

}
.each_category input{
    float:left;
    width:auto;
}

.each_category label {
    float: left;
    margin-top: -7px;
    width: auto;
    font-size:13px;
    font-weight: normal;
    margin-left: 8px;
}
.categories {
    height: 125px;
    width: 458px;
    overflow: auto;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE;
    border:1px solid #C6C6C6;
}
.label-container2{
    float: left;
    max-width: 160px;
}
.input-container2{
    float: left;
}
.label-field-pair.category_list label{
    width: 410px !important;
}
.label-field-pair > .input-container {
    float: left;
}
.label-field-pair > .label-container {
    float: left;
    max-width: 150px;
    width: auto;
}
.loader{
    width: 10px;
    height: 40px;
}
img#loader{
    margin-top: 12px;
}
#submit-area {
    float: none;
    display: inline-block;
}