
.containereven{
    background : #EEF2FD;
    border-bottom:1px solid #BECFFB;

    min-height : 1.5em;
    list-style-type : none;
    padding : 0.5em 0 0 1em;
    width:30em;
    color:black;
    overflow: hidden;
}

.containerodd{
    background : #DFEAFF;
    border-bottom:1px solid #BECFFB;
    color : black;
    min-height : 1.5em;
    list-style-type : none;
    padding : 0.5em 0 0 1em;
    width:30em;
    overflow: hidden;
}

.container-head{
    background:none repeat scroll 0 0 #BECFFB;
    border-bottom:2px solid #BECFFB;
    color:#444444;
    height:1.5em;
    list-style-type:none;
    padding:0.5em 0 0 1em;
    width:30em;
}

#student{
    padding-top:30px;
}

#head-slno{
    border-bottom:2px solid;
    float:left;
    width:50px;
    padding:10px 0 10px 10px;
    font-weight:bold;
    background-color : #ffffff;
}

#head-name{
    border-bottom:2px solid;
    float:left;
    width:300px;
    padding:10px 0 10px 20px;
    font-weight:bold;
    background-color : #ffffff;
}
container-head .sl_no,
.sl_no{
    float:left;
    color:#555354;
    width:130px;
    font-weight:bold;
    font-size:13px;
}

.name{
    float:left;
    color:#555354;
    font-weight:bold;
    font-size:13px;
}

.small {
    float:right;
    margin-right: 5px;
}
.small a{
    text-decoration: none;
    font-size: 12px;
    color:#555354;

}

.user_button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin-top: 10px;
    text-decoration: none;
    float:left;
}
.user_button:hover{
    background:  #373B3F;
}

#batchs1 .label-field-pair{
    width: 450px;
    margin: 0 auto;
}

#batchs1 #student{
    text-align: center;
}
#batchs1 #student .user_button{
    display: inline-block;
    float: none;
}


select{
    float:left;
}
#fee_collection_loader,#batch_loader,#course_loader{
    float: left;
    margin: 10px 0px 0px 5px;
}