.text-input-bg {
    float: left;
    margin: 0 0 0 0px!important;
}

#fees_detail {
    padding-top: 40px;
}

.student-name {
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 30px 0 10px 0;
    width: 100%
}

.prev-next-links {
    float: right;
    width: 30px;
}

.prev-next-links a {
    background-color: #E7EEFF;
    color: #000;
    display: block;
    margin: 0 0 0 5px;
    text-decoration: none;
    font-weight: bolder;
    width: 10px;
    float: left;
}

.box {
    width: 750px;
    margin: 0px auto;
}

.user_button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
    margin: 0 auto;
    text-decoration: none;
    float: right;
}

.user_button:hover {
    background: #373B3F;
}

.submit_button {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 33px 5px 0 0;
    padding: 7px 10px;
    float: right;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.submit_button:hover {
    background: #373B3F;
}

.submit_button2 {
    padding: 6px 8px;
    color: #fff;
    background: #27292B !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
    margin-top: 3px;
}

.submit_button2:hover {
    background: #373B3F;
}

.label-field-pair1 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 10px 0;
    float: right;
    /*    width:422px;*/
    padding-top: 10px;
    font-weight: 600;

}

.label-field-pair1 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    /*    width : 100px;*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 6px 13px;
}

.text-input-bg {
    float: left;
    margin: 0 0 0 40px;
    background: none repeat scroll 0 0 transparent;
    float: left;
    height: 28px;
    width: 130px;
}

.next a {
    float: left;
    -moz-border-radius: 40px;
    -webkit-border-radius: 15px;
    width: 25px;
    height: 25px;
    padding: 5px;
    /*background: #fff;*/
    text-align: right;
    color: #121212;
    font-size: 22px;
    text-decoration: none;
    outline: none;
    display: block;
}

.prev a {
    float: left;
    -moz-border-radius: 40px;
    -webkit-border-radius: 15px;
    width: 25px;
    height: 25px;
    padding: 5px;
    /*background: #fff;*/
    text-align: left;
    color: #121212;
    font-size: 22px;
    text-decoration: none;
    outline: none;
    display: block;
}

.next a:hover, .prev a:hover {
    color: #9B0C12;
}

.header .month {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    width: 400px;
    /*background: #fff;*/
    padding: 6px 0;
    text-align: center;
    float: left;
    font-size: 16px;
    color: #121212;
    font-weight: bold;
    margin: 0px 6px;
}

#register {
    background: #C3D9FF;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 10px;
    float: left;
    width: 100%
}

.header {
    width: 520px;
    margin: 0px auto;
    padding: 4px 0 1px;
}

.fine_info {
    float: right;
    height: 36px;
    width: 450px;

}

.text-input-bg1 {
    background: none repeat scroll 0 0 transparent;
    float: right;
    height: 28px;
    margin: 0 0 0 10px;
    /*    width:130px;*/
}

.label-field-pair1 input:focus {
    background: #fff;
    border: 1px solid #9e0f15;
}

.name {
        float: left;
    width: auto;
    /* font-weight: bold; */
    font-size: 13px;
    height: auto;
    margin-bottom: 11px;
    min-width: 100%
}

.details {
    height:50px;
    margin-top: 30px;
    border-bottom: 1px solid #cccccc;
}

.height-fixer {
    float: left;
    width: 968px;
    min-height: 15px;
}

.val {
    width: auto;
    min-width: 230px;
    color: #000;
    font-weight: bold;
    font-size: 13px;

}

.val span {
    margin-right: 12px;
    color: black;
}

.val-align {

    width: 200px;
    word-wrap: break-word;
    float: left;
}

.label-field-pair2 label {
    color: #444;
    display: block;
    font-size: 14px;
    float: left;
    width: 700px;
    padding-top: 10px;
    font-weight: 600;

}

.label-field-pair2 {
    float: right;
}

.text-input-bg2 {
    float: left;
    background: none repeat scroll 0 0 transparent;
    float: left;
    height: 28px;
    width: 130px;
}

.label-field-pair2 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 100px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
    float: left;
}

.label-field-pair2 input:focus {
    background: #fff;
    border: 1px solid #9e0f15;
}

.pay_fees {
    margin-bottom: 35px;

}

table#listing td a {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    /*    color: #FFFFFF;*/
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 8px auto 0;
    padding: 7px 10px;
    text-decoration: none;
}

table#listing td a:hover {
    background: #373B3F;
    /*    color: #fff;*/
    text-decoration: none;
}


table#listing td.col-8 {
    font-weight: normal;
    padding: 5px 5px 5px 10px;
    width: 10%;
    text-align: right;
}

.pay_fees_buttons a {
    float: right !important;
    margin: 33px 10px 0 !important;
}

.pay_fees_buttons input {
    float: right;
}

.loader_div {
    float: left;
    margin: -3px 0 0 14px;
}

#loader {
    padding-top: 5px;
}

.pay_fees {
    margin-bottom: 14px;
    float: left;
    width: 924px;
}

.label-field-pair3 {
    height: 60px;
    width: 165px;
    float: left;
    padding-top: 3px;
}

.text-input-bg3 {
    background: transparent;
    height: 28px;
    width: 250px;
}

.label-field-pair3 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}

.label-field-pair3 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 150px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}

.text-input-bg3 select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 160px;
    height: 29px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.label-field-pair4 {
    /*    height: 76px;*/
    width: 88px;
    float: right;
    padding-top: 3px;
    padding-left: 32px;
    margin-right: 20px;
}
.label-field-pair5 {
    /*    height: 76px;*/
    width: 88px;
    float: left;
    padding-top: 3px;
    padding-left: 32px;
}

.text-input-bg4 {
    background: transparent;
    height: 28px;
    width: 250px;
    position:absolute;
}

.label-field-pair4 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}
.label-field-pair5 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}

.label-field-pair4 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 88px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
    text-align: right;
}
.label-field-pair5 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 200px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}

.text-input-bg4 select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 215px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.label-field-pair3-text-area {
    height: 70px;
    padding-top: 16px;
    width: 460px;
    float: left;
}

.label-field-pair3-text-area label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 48px;
    padding-bottom: 5px;
    font-weight: bold;
}

.textarea-input-bg {
    background: none repeat scroll 0 0 transparent;
    margin-left: 25px;
}

.label-field-pair3-text-area textarea {
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    margin: 5px 0 0 42px;
    padding: 5px;
    width: 400px;
    height: 17px;
}

.label-field-pai3r-text-area textarea:focus {
    background: #FFFFFF;
    border: 1px solid #9E0F15;
}

table#listing {
    margin-bottom: 30px;
    padding: 20px 20px 20px;
    float: left;

}

table#listing td.col-1 {
    width: 7%;
    padding: 5px;
    padding-left: 10px;
    font-weight: normal;
}

#payments_details {
    margin-top: 20px;
}

h4 {
    float: right;
    margin-top:40px;
}

.cancel a {
    background: none !important;

    margin: -10px 4px 2px 0px !important;
    padding: 0 !important
}

.cancel {
    margin-top: 10px;
}

table#listing1 tr.tr-head {
    height: 30px;
    background: #fff;
    color: #990a10;
    font-weight: bold;
    text-align: center;
}

tr.tr-blank {
    height: 10px;
}

table#listing1 .tr-odd {
    background: #fff;
    text-align: center;
    padding: 50px;
    color: #27292b;
    font-weight: normal;
    font-size: 14px;
}

table#listing1 .tr-even {
    background: #f1f6ff;
    text-align: center;
    padding: 50px;
    color: #27292b;
    font-weight: normal;
    font-size: 14px;
}

.col-2 {
    font-weight: normal;
    max-width: 300px;
    text-align: justify;
    padding: 5px;
    word-break: break-all;
}
.col-3 {
    font-weight: normal;
    max-width: 320px;
    padding: 10px;
}

table#listing1 {
    background: #c3d9ff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px 20px 40px;
}

table#listing1 {
    margin-bottom: 30px;
    padding: 20px 20px 20px;
    float: left;

}

table#listing1 td.col-1 {
    width: 7%;
    padding: 5px;
    padding-left: 10px;
}

table#listing1 td a {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    /*    color: #FFFFFF;*/
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: -34px auto 0;
    padding: 7px 10px;
    text-decoration: none;
    margin-left: 3px;
}

table#listing1 td a:hover {
    background: #373B3F;
    /*    color: #fff;*/
    text-decoration: underline;
}

table#listing1 td.col-8 {
    padding: 5px 5px 5px 10px;
    width: 10%;
    text-align: right;
    font-weight: normal;
}

#fine_fee {
    width: 100px !important;
}

.fleft {
    float: left!important;
}
.fright {
    float: right!important;
}
.modal-box-submit_button {
    margin-top: 10px;
    margin-left: 211px;
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    /* margin: 20px 5px 0 0; */
    padding: 7px 10px;
    /* float: right; */
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}


.cancel-disc{

    padding: 3 !important;
    background: #c3d9ff !important;
}
.cancel-disc :hover{
    cursor: pointer;
}
.particular-deletion{
    margin: 0px -4px 0px 3px !important;
}

.mode_radio{
    width: auto !important;
    margin-top: 10px !important;
    float: left !important;
}
.label_for_gender{
    width: auto !important;
    margin-left: 12px !important;
}
.fine-form{
    float: right;
    width:600px;
}
.student-select-input-bg select{
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 150px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.student-select-input-bg {
    float: left;
    margin: 0 0 0 40px;
    background: none repeat scroll 0 0 transparent;
    float: left;
    height: 28px;
    width: 130px;
}
.hover-text{
    display: none;
    min-width: 200px;
    height: 50px;
    background: #fff;
    position: absolute;
    padding: 0px;
    margin-top: 40px;
    border: 1px solid #BAB5B5;
}
.hover_arrow_down {
    transform: rotate(180deg);
    margin-top: -38px;
    /*margin-left: 30px;*/
    position: relative;
    background: #fff;
    /*border: 1px solid #000;*/
}

.hover_arrow_down:after, .hover_arrow_down:before {
    margin-top: 10px;
    left: 91%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.hover_arrow_down:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 10.5px;
    margin-left: -10.5px;
}

.hover_arrow_down:before {
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #c2c2c2;
    border-width: 12px;
    margin-left: -12px;
}
.hover_student_name{
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    margin-top: 15px;
}
.width-50{
    width:50px!important;
    float: left;
}
.width-130{
    float: left;
    width:130px!important;
}
.post-symbol{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.each-detail{
       width: auto;
    float: left;
    margin-top: -15px;
    margin-right: 15px;
    
}
.student-and-fine{
    height: 75px;
    margin-top: 10px;
}
.fine-details{
    float: right;
}
.student-details{
    float: left;
}
.hover_student_name{
    font-weight: bold;
    text-align: left;
    margin-left: 5px;
    font-size: 13px;
}
.next_or_previous{
    color: #999999;
    font-size: 13px;
    margin-left: 5px;
}
.label-field-pair{
    width: 320px!important;
}
.label-field-pair label{
    width: auto;
    min-width:  50px;
}
label{
    color:#000!important;
    font-weight: normal!important;
}
#MB_frame .label-field-pair{
    width: 450px!important;

}
#MB_frame .label-container label {
    width: 200px !important;
}
#MB_frame .label-field-pair .label_for_gender{
    width: auto!important;

}
table#listing tr.tr-head,table#listing1 tr.tr-head{
    color: #000000 !important;
}
table#listing1 td a,table#listing1 td a:hover {
    color :#990a10!important;
}
.fine_text {
    text-align: right!important;
    font-size: 14px;
}
.pay_fees_button {
    margin-top: 52px;
    float: right;
    width: 120px;
}
#print-receipt{
    margin-top: 15px!important;
    margin-right: 5px!important;
}
.text-input-bg select{
    margin: -3px 0 0 -5px!important;
}
.width-210{
    width:210px!important;
}
table#listing1 td a{
    background: none !important;
    border: medium none;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    padding: 7px 10px;
    text-decoration: none;
    margin-top:0px !important;
    float:left;
    font-weight: normal;
    color: #27292b !important;
    margin-left: 3px;
}
table#listing1 td a:hover{
    background: none !important;
    border: medium none;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    padding: 7px 10px;
    text-decoration: underline;
    margin-top:0px !important;
    float:left;
    font-weight: normal;
    color: #27292b !important;
}
.special_case{
    height: auto;
    margin-top: 13px !important;
    float: left;
    margin-right: 35px
}
.pay_fees_buttons {
    float:right;
    margin-top:18px;

}
#payment_mode{
    float: left;
    margin-left: 35px;
    margin-top: 16px;
}
.align_right {
    text-align: right;
    padding-right: 5px;
}

div#fees_detail .each-detail {
    margin-top: 10px;
}