.page1 {
    width:100%;
    height: auto;
    page-break-after: always;
    page-break-inside: avoid;
    clear: both;
}
.page-break1{
    height: 20px;
    border: 1px solid #fff;
    width: 100%;
    float: left;
}
.grand_total
{
    border-bottom: 1px solid #ADACAB;
}
.section1{
    page-break-before:always;
    text-align: center;
}
.row{
    float: left;
    width: 100%;
    text-align: center;
}
.page-blank{
    width: 100%;
    float: left;
    border-top: 1px solid #ADACAB;
}
.page_break{
    margin-top: 60px;
}
.sl_no{
    width:20px;
    min-width:20px;
    max-width:20px;
}

.name{
    width:190px;
    min-width:190px;
    max-width:190px;
    overflow: hidden;
}
.desc{
    width:100px;
    min-width:100px;
    max-width:100px;
    overflow: hidden;
}

.category{
    word-break: break-all;
    width: 245px;
}

.rcpt_no{
    width:100px;
    min-width:100px;
    max-width:100px;
}
.amnt{
    width:90px;
}
.t_date{
    width:100px;
    min-width:100px;
    max-width:100px;
}


.total_amnt{
    width:90px;
    border-right: 0px;
}



#page-yield {
    width:130%;
    margin: 0 auto;
    float: left;
    overflow: hidden;
}




.hor_line{
    width:100%;
    background: #333333;
    height: 1px;
}

h2.heading{
    text-align: center;
    margin:5px;
}

#main_info h4{
    color: #555555;
    margin-top: 18px;
    font-weight: normal;
}

#main_info h2{
    margin-bottom: 2px;
    font-weight: normal;

}


.odd{
    height:auto;
    background: #EEEEEE;

}

.even{

    height:auto;
    background: #fff;


}
tr.even{
    border: 1px solid #ADACAB;
    border-bottom: 0;
}

tr.odd{
    border: 1px solid #ADACAB;
    border-bottom: 0;
}

.even td{

    padding: 12px 12px 12px 15px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;
    border-bottom: 0;

}

.odd td{
    padding: 12px 12px 12px 15px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;
    border-bottom: 0;

}

.table-header td{
    padding: 12px 12px 12px 15px;
    border-top: 1px solid #ADACAB;
    border-left: 1px solid #ADACAB;
    border-right: 1px solid #ADACAB;
    color: #97080e;
    background: #EEEEEE;
}

table#pdf-table{
    border-top: 1px solid #ADACAB;
    border-collapse:collapse;
    font-size: 18px;
}


#page-extender{
    width:100%;
    height :300px;

}
#page-extender1{
    width:100%;
    height :500px;

}

.report{
    margin: 0 auto;
}

#signature{
    text-align: right;
    width: 700px;
    margin: 0 auto;
    color: #999999;

}


#page-yield h2{
    text-align: center;
}


.page-break td{
    height: 300px;
    border: 1px solid #fff;
    border-bottom: 1px solid #ADACAB;
}




