
.link-box {
    margin: 14px 27px 31px 171px;
    width:270px;
    float:left;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
}
.link-descr {
    margin-top: 5px;
    color: #666;
    text-align: left;
}
#categories{
    float: right;
    width:960px;
}
.small, .small-strike {
    font-size: 11px;
    float:left;
    min-width:33px;
    margin-left: 5px;
    margin-right: 5px;
}
.small-strike {
    text-decoration:  line-through;
}
span.small-2 {
    min-width: 80px;
}
.box{
    width:960px;
    margin:0px auto;
}

#categories{
    width:970px;
    margin:0px auto;
}

.submit_button {
    margin-top:15px;
    margin-left:205px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    float: left;
}
.submit_button:hover{
    background:  #373B3F;
}

#MB_frame .label-field-pair select {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    margin:5px 10px 0 5px;
    padding:5px;
    min-width:150px;
}

.label-field-pair2 {
    height : 70px;
    width : 426px;
    padding-top: 3px;
}

.label-field-pair2 label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 10px 0;
    float:left;
    width:200px;
    padding-top: 10px;
    font-weight: 600;
}

.label-field-pair input {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:5px 0 0 5px;
    padding:5px;
    width:205px;
}

.label-field-pair2 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 50px;
    height:17px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
}



.user_button{
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 10px 0 0 433px;
    text-decoration: none;
    margin-left: 300px;
    float:left;
    margin-left: 433px;

}
.user_button:hover{
    background:  #373B3F;
}

.opt{
    margin-left:200px;
    width:250px;
}

.each_batch{
    font-size: 12px;
    overflow:auto;
    width:205px;

}

.each_batch input{
    width: 20px;
    margin-left: 0px;
}

.label-container{
    float: left;
}

.batches {
    overflow: auto;
    width:222px;
    height: 90px;
    float: left;
}
.label-field-pair {
    height:auto;
    padding-top:3px;
    width:600px;
}
.each_category{
    font-size: 12px;
    overflow:auto;
    width:auto;

}
.each_category input{
    float:left;
    width:auto;
}

.each_category label {
    float: right;
    margin-left: 22px;
    margin-top: -6px;
    width: 138px;
}
.categories {
    height: 100px;
    overflow: auto;
    max-width: 220px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sel-list {
    margin-bottom:2px;
    width:200px;
}

table#listing td.col-4 {
    width: 36%;
}
table#listing td.col-1 {
    width: 2%;
}
table#listing td.col-3-2, table#listing td.col-3-3, 
table#listing td.col-4-2, table#listing td.col-4-3,
table#listing td.col-10 {
    padding: 5px;
    padding-left: 10px;        
}
table#listing td.col-4-2 {
    width: 34%;
}
table#listing td.col-4-3 {
    width: 26%;
}
table#listing td.col-3-2{
    width: 11%;
}
table#listing td.col-3-3{
    width: 19%;    
    min-width: 200px;
}
table#listing td.col-10 {
    width: 10%;
}
table#listing td.col-3:last-child {
    min-width: 150px;
}