.submit_button {
    text-decoration: none;
    margin-top:15px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit-btn{
    width:170px;
    height:40px;
    margin-left:260px;
    margin-top: 15px;
}
.submit_button:hover{
    background:  #373B3F;
}

.label-field-pair label {
    width: 250px;
}
.bread_crumb {
 margin-left: 10px;
}
.user_button
{
    margin-top: 0;
}
.date_box{
    width: 100%;
    float:left;
    display: inline;
}
.set_fixed_range{
    width: 40%;
    float:left;
    display: inline;
}
.user_set_date{
    width: 60%;
    float:left;
    display: inline;
}