
#fee-defaulters {
    float: right;
    width: auto;
}
h5 {
    /*width: 480px;*/
    float: left;
}
.label-field-pair {
    height: 40px;
    width: auto;
    padding-top: 3px;
    float: left;
}
.text-input-bg {
    background: transparent;
    height: 28px;
    width: 100px;
    float: left;
    margin: 0 auto;
}
.label-field-pair input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 10px 0 0 10px;
    width: 210px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
    float: left;
}
.submit_button2 {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
}

.text-input-bg {
    float : left;
    margin : 0 0 0 40px;
}
#fees-table{
    padding-top:86px;
}

.fees_paid{
    -webkit-border-radius:10px;
    -moz-border-radius:10px 10px 10px 10px;
    background:none repeat scroll 0 0 #27292B;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    height:16px;
    margin-left:270px;
    margin-top:30px;
    padding:7px 10px;
    width:135px;
}
.fees_paid:hover{
    background:  #373B3F;
}
.fees-th {
    background-color: #E7EEFF;
    border-bottom: 1px solid #C4D2FE;
    border-top: 1px solid #C4D2FE;
    font-size: 0.9em;
    height: 1.5em;
    font-variant:small-caps;
    font-weight: bold;
    padding: 0.5em 0 0 0;
    width:600px;
}
.fees-tr {
    background-color: #E7EEFF;
    border-bottom: 1px solid #C4D2FE;
    font-size:0.9em;
    height: 1.5em;
    padding: 0.5em 0 0 0;
    width:600px;
}
.fees-table-total {
    float:left;
    padding: 0 0 0 60px;
    width: 180px;
}
.fees-table-amount {
    float:left;
    width: 80px;
    padding: 0 0 0 140px;
    text-align:right;
}
.edit-link{

    float : left;
    font-size : 0.9em;
    margin : 0 0 0 10px;
}
.delete-link {
    float : left;
    font-size : 0.9em;
    margin : 0 0 0 10px;
}
.edit-link a,
.delete-link a {
    color : #000;
}

#fee_submission{
    margin-top: 50px;
}

.submit_button {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 33px 5px 0 0;
    padding: 7px 10px;
    float: right;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.submit_button:hover {
    background: #373B3F;
}


.user_button {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 0 auto;
    text-decoration: none;
}
.user_button:hover{
    background:  #373B3F;
}

.label-field-pair1 label {
    color : #444;
    display : block;
    font-size: 14px;
    margin : 0 0 10px 0;
    float:left;
    /*    width:476px;*/
    padding-top: 10px;
    font-weight: 600;

}
.label-field-pair1 input {
    background : #eee;
    border : 1px solid #c6c6c6;
    margin : 0px 0 0 1px;
    width : 117px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 5px;
    float: left;
}

.label-field-pair1 .submit_button2 {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    padding: 6px 8px;
    width: 87px;
}

.label-field-pair1 .submit_button2:hover {
    background: none repeat scroll 0 0 #373B3F;
}

.text-input-bg  {
    float:left;
    margin:0 0 0 40px;
    background:none repeat scroll 0 0 transparent;
    float:left;
    height:28px;
    width:130px;
}


.fine_info{
    float: right;
    height: 50px;
    overflow: hidden;
    width: auto;
}
.label-field-pair1 {
    /*overflow: hidden;*/
}
.text-input-bg1 {
    background:none repeat scroll 0 0 transparent;
    float:left;
    height:28px;
    margin:0 0 0 10px;
    width:130px;
}

.label-field-pair1 input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}


.label-field-pair2 input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}
.pay_fees {
    margin-bottom: 14px;
    float: left;
    width: 924px;
}

table#listing td a {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    /*color: #FFFFFF;*/
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: -34px auto 0;
    padding: 7px 10px;
    text-decoration: none;
}
table#listing td a:hover{
    background:  #373B3F;
    color: #fff;
    text-decoration: none;
}

table#listing td.col-8 {
    padding: 5px 15px 5px 10px;
    text-align: right;
    width: 10%;
}

.pay_fees_buttons a {
    float: right !important;
    margin: 33px 10px 0 !important;
}

.pay_fees_buttons input {
    float: right;
}

table#listing td.col-6 {
    width: 6%;
}

.name{
    float: left;
    width: 220px;
    font-size: 13px;
}

.pay_fees {
    margin-bottom: 14px;
    float: left;
    width: 924px;
}
.height-fixer{
    float: left;
    width: 968px;
    min-height:15px;
}
.val {
    width: 750px;
    font-weight: bold;
    font-size: 13px;
    float: left;
}

.val span{
    margin-right:12px;
    color: black;
}
.val-align{
    float: right;
    width: 730px;
    word-wrap: break-word;
}

.label-field-pair3 {
    height: 40px;
    width: 165px;
    float: left;
    padding-top: 3px;
}

.text-input-bg3 {
    background: transparent;
    height: 28px;
    width: 250px;
}

.label-field-pair3 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}

.label-field-pair3 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 150px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}

.text-input-bg3 select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 160px;
    height: 29px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.label-field-pair4 {
    /*    height: 76px;*/
    width: 88px;
    float: right;
    padding-top: 3px;
    padding-left: 32px;
    margin-right: 20px;
}
.label-field-pair5 {
    /*    height: 76px;*/
    width: 88px;
    float: left;
    padding-top: 3px;
    padding-left: 32px;
}

.text-input-bg4 {
    background: transparent;
    height: 28px;
    width: 250px;
}

.label-field-pair4 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}
.label-field-pair5 label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 16px;
    padding-bottom: 5px;
    font-weight: bold;
}

.label-field-pair4 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 88px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
    text-align: right;
}
.label-field-pair5 input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 200px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}

.text-input-bg4 select {
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 215px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.label-field-pair3-text-area {
    height: 70px;
    padding-top: 16px;
    width: 449px;
    float: left;
}

.label-field-pair3-text-area label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    width: 200px;
    padding-top: 10px;
    font-weight: 600;
    margin-left: 48px;
    padding-bottom: 5px;
    font-weight: bold;
}
.textarea-input-bg {
    background:none repeat scroll 0 0 transparent;
    margin-left:25px;
}
.label-field-pair3-text-area textarea {
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px;
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #C6C6C6;
    margin: 5px 0 0 42px;
    padding: 5px;
    width: 400px;
    height: 17px;
}
.label-field-pai3r-text-area textarea:focus{
    background:#FFFFFF;
    border: 1px solid #9E0F15;
}
table#listing {
    margin-bottom: 30px;
    padding: 20px 20px 20px;
    float: left;
}
table#listing td.col-1 {
    width: 7%;
    padding: 5px;
    padding-left: 10px;
}
#payments_details{
    margin-top:20px;
}
h4{
    float:right;
    margin-top:40px;
}
.main_info{
    margin-bottom:30px
}
.text_box{
    float: left;
}
.box{
    float: right;
    margin-top: 14px;
    width:274px;
}
.cancel a{
    background:none !important;

    margin: -10px 4px 2px 0px !important;
    padding: 0!important
}
.cancel{

    margin-top: 10px;
}
table#listing1 tr.tr-head {
    height: 30px;
    background: #fff;
    color: #990a10;
    font-weight: bold;
    text-align: center;
}
tr.tr-blank {
    height: 10px;
}
table#listing1 .tr-odd {
    background: #fff;
    text-align: center;
    padding: 50px;
    color: #27292b;
    font-weight: normal;
    font-size: 14px;
}
table#listing1 .tr-even {
    background: #f1f6ff;
    text-align: center;
    padding: 50px;
    color: #27292b;
    font-weight: normal;
    font-size: 14px;
}
.col-2 {
    font-weight: normal;
    max-width: 300px;
    text-align: justify;
    padding: 5px;
}
.col-3 {
    font-weight: normal;
    max-width: 320px;
    padding: 10px;
}
table#listing1 {
    margin-bottom: 30px;
    float: left;
    background: #c3d9ff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px 20px 40px;
}
table#listing1 td a {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: -34px auto 0;
    padding: 7px 10px;
    text-decoration: none;
}
table#listing1 td.col-1 {
    padding: 5px;
    padding-left: 10px;
}
table#listing1 td a {
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    /*    color: #FFFFFF;*/
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: -34px auto 0;
    padding: 7px 10px;
    text-decoration: none;
}

table#listing1 td a:hover{
    background:  #373B3F;
    /*    color: #fff;*/
    text-decoration: none;
}



table#listing1 td.col-8 {
    padding: 5px 5px 5px 10px;
    width: 10%;
    text-align: right;
}
#fine_fee {
    width: 100px !important;
}

.fleft {
    float: left;
}

.modal-box-submit_button {
    margin-top: 10px;
    margin-left: 211px;
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    /* margin: 20px 5px 0 0; */
    padding: 7px 10px;
    /* float: right; */
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}


.cancel-disc{

    padding: 3 !important;
    background: #c3d9ff !important;
}
.cancel-disc :hover{
    cursor: pointer;
}
.particular-deletion{
    margin: 0px -4px 0px 3px !important;
}
.mode_radio{
    width: auto !important;
    margin-top: 10px !important;
    float: left !important;
}
.label_for_gender{
    width: auto !important;
    margin-left: 12px !important;
}
.width-50{
    width:50px!important;
    float: left;
}
.width-130{
    float: left;
    width:130px!important;
}
.post-symbol{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
table#listing tr.tr-head,table#listing1 tr.tr-head{
    color: #000000 !important;
}
table#listing1 td a,table#listing1 td a:hover {
    color :#990a10!important;
}
table#listing1 td a{
    background: none !important;
    border: medium none;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    padding: 7px 10px;
    text-decoration: none;
    margin-top:0px !important;
    float:left;
    font-weight: normal;
    color: #27292b !important;
}
table#listing1 td a:hover{
    background: none !important;
    border: medium none;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    padding: 7px 10px;
    text-decoration: underline;
    margin-top:0px !important;
    float:left;
    font-weight: normal;
    color: #27292b !important;
}
.special_case{
    height: auto;
    margin-top: 13px !important;
    float: left;
    margin-right: 35px
}
.pay_fees_buttons {
    float:right;
    margin-top:18px;

}
#payment_mode{
    float: left;
    margin-left: 35px;
    margin-top: 16px;
}
.align_right {
    text-align: right;
    padding-right: 5px;
}