.set_float{
    float:left;
}
.set_button_align{
    margin-top: 10px;
    margin-right: 0px !important ;
}
.set_button_align2{
    margin-top: 10px;
    margin-right: 30px !important ;
}
.set_cancel_button_align{
    margin-left: 10px;
    margin-top: 8px !important;
}
.date_box input[type="text"] {
    width: 171px !important;
}
.set_separte_div_margin{
    margin-right: 16px;
    margin-left: 13px;
}
.bottom_div_date_filter{
   float: right;
   margin-top: 19px;
}
.date_box .user_set_date div{
    padding-left: 0px !important;
}
#hide_date_filter {
    margin-right: 0px !important;
}


