.section {
    margin: 0 auto;
}
#content_top{

    margin-top: -10px;
}

.sl-td{
    width:10%;
    min-width:10%;
    max-width:10%;
    word-break:normal;
}

.date-td{
    width:14%;
    min-width:14%;
    max-width:14%;
    word-break:normal;
}

.rec-td{
    width:16%;
    min-width:16%;
    max-width:16%;
    word-break:normal;
}
.mode-td{
    width:10%;
    min-width:10%;
    max-width:10%;
    word-break:normal;
}
.note-td{
    width:25%;
    min-width:25%;
    max-width:25%;
    word-break:normal;
}

.amount-td{
    width:20%;
    min-width:20%;
    max-width:20%;
    word-break:normal;
}

#page-yield {
    width:800px;
    margin: 0 auto;
    float: left;
    overflow: hidden;
}
.info1{
    margin-top:-10px;
    width:800px;
    float:left;
}
.info-left{
    float:left;
}
.info-right{
    float:right;
}
.tr-blank{
    height:  27px;
}
.hor_line{
    width:800px;
    background: #333333;
    height: 1px;
    margin-top:-10px;
    float:left;
}

h2.heading{
    text-align: center;
    margin:5px;
}


#main_info h2{
    margin-bottom: 2px;
    font-weight: normal;

}

#main_info h4{
    color: #555555;
    margin-top: 18px;
    font-weight: bold;
}




.odd{
    height:auto;
    background: #EEEEEE;

}

.even{

    height:auto;
    background: #fff;


}
tr.even{
    border: 1px solid #ADACAB;
}

tr.odd{
    border: 1px solid #ADACAB;
}

.even td{

    padding: 12px 15px 12px 12px;
    border: 1px solid #ADACAB;
    border-left: 0px solid #fff;
    border-top: 0px solid #fff;

}

.odd td{
    padding: 12px 15px 12px 12px;
    border: 1px solid #ADACAB;
    border-left: 0px solid #fff;
    border-top: 0px solid #fff;

}

.table-header td{
    padding: 12px 15px 12px 12px;
    border-top: 1px solid #ADACAB;
    border-right: 1px solid #ADACAB;
    border-left: 1px solid #ADACAB;
    color: #97080e;
    background: #EEEEEE;
}
#pdf-info{
    float:left;
    width:800px;
}
table#pdf-table{
    border: 1px solid #ADACAB;
    border-collapse:collapse;
}
/*.header-content{
    color: #97080e;
    font-weight: bold;
    font-size: 25px;
    float: left;
    width: 800px;
    height: 110px;
    text-align: center;
}*/

.header-content p{
    margin-top: 3px;
    margin-bottom: 2px;
}

.notes{
    float:right;
    width:750px;
    font-size:15px;
}
.note{
    float:left;
    width:40px;
    font-size:15px;
    height:60px;
}
.note_text{
    float:left;
    margin-bottom:7px;
}
.page-break td{
    height: 240px;
    border: 1px solid #fff;
    border-bottom: 1px solid #ADACAB;
}
.page {
    width:800px;
    margin: 0 auto;
    overflow: hidden;
}
.col-a{
    width:30%;
    float:left;
}
.col-b{
    width:55%;
    float:right;
}
.col-b h4{
    text-align: right;
}
.page {
    width:800px;
    margin: 0 auto;
    page-break-after: auto;
    page-break-inside: avoid;
    overflow: hidden;
}
.no_bold{
    font-weight: normal !important;
}