
#search_box_bg{width:240px;margin-top:10px; overflow: hidden; min-height:50px;padding-top:10px;float:left }

#search_box_bg label{margin-left: 5px;font-size:14px; float:left; width:150px;}
#search_box_bg1{width:240px;padding-left:50px;margin-top:10px; overflow: hidden; height:50px;padding-top:10px;float:left }

#search_box_bg1 label{margin-left: 5px;font-size:14px; float:left; width:150px;}
#search_textbox input{
    background : #eee;
    float:left;
    border : 1px solid #c6c6c6;
    margin: 4px 0 0 0px;
    width : 180px;
    height:22px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 4px 0 0 5px;
}
.pagination{
    /*    margin-top: -2px !important;*/
    margin-right: 10px !important;

}
.pagination_div{
    float:right;
    /*    width:200px;*/
}
.div1{
    width:auto;
    float:left;
    margin-right:10px;
}
.div2{
    margin-right:10px;
    width:30px;
    float:right;
    margin-top: -30px;
}
#payments_details{
    float: left;
    width: 100%;
}
.box{
    float: left;
}
.date-select label{
    float:left;
    font-size: 15px;
}
.date-search{
    /*    margin-left:-3px;*/
    /*    width: 300px;*/
    float: left;
}
.date-search2{
    margin-left: 30px;
    float: left;
}
.date-select input{
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: -3px 0 0 0px;
    width: 140px;
    height: 17px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}
.text-input-bg select {
    width : 180px;
    margin: 4px 0 0 0px !important;
}
.date-search .calendar_date_select_popup_icon,.date-search2 .calendar_date_select_popup_icon{
    margin-top: 0px !important;
}
img.calendar_date_select_popup_icon {
    margin-top: 7px !important;
}
input#submit_button.submit_button {
    margin-top: 40px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
    float: left;
    min-width: 85px;
    height: auto;
}
.full_width{
    float:left !important;
    width:100% !important;
}
#search_div{
    margin-top: 40px;
    float: left;
    width: 100%;
}