#page-yield {
    width:100%;
    margin: 0 auto;
    float: left;
    font-family: Arial !important;
}
.hor_line{
    width:100%;
    background: #333333;
    height: 1px;
}
.section {
    margin-top: 0px;
}
h2{
    text-align: center;
    font-size: 18px;
}
.even td{
    padding: 12px 15px 12px 12px;
    border: 1px solid #ADACAB;
    border-left: 0px solid #fff;
    border-top: 0px solid #fff;
    font-size: 15px;
}
.table-header td{
    padding: 12px 15px 12px 12px;
    border-top: 1px solid #ADACAB;
    border-right: 1px solid #ADACAB;
    border-left: 1px solid #ADACAB;
    color: black !important;
    font-weight: bold;
}
.sub-head{ font-weight: bold; }
table#pdf-table{
    border: 1px solid #ADACAB;
    border-collapse:collapse;
    width: 100%;
    margin-top: 20px;
}
#signature{
    text-align: right;
    width: 10700px;
    margin: 0 auto;
    color: #fff;
    font-size: 12px !important;
}
#pdf-footer{
    text-align: right;
    width: 1300px;
    padding-right: 100px;
    padding: 10px;
    margin: 0 auto;
    color: #999999;
    font-size: 13px;

}
#pdf-footer{
    text-align: right;
    font-size: 18px;

}
.e_text{
    width:30%;
    min-width:30%;
    max-width:30%;
    word-break:break-word;
}
.frequency{
    width:15%;
    min-width:15%;
    max-width:15%;
    word-break:break-word;

}
.period{
    width:25%;
    min-width:25%;
    max-width:25%;
    word-break:break-word;
}
.amount{
    width:15%;
    min-width:15%;
    max-width:15%;
    word-break:break-word;
}
.status{
    width:15%;
    min-width:15%;
    max-width:15%;
    word-break:break-word;

}
.blank{
    width:10%;
    min-width:10%;
    max-width:10%;
    word-break:break-word;
}
.tot-emp-val{
    font-size: 16px;
    width:45%;
}
.tot-emp{
    font-size: 14px;
    padding: 7px;
    margin-top: 15px;
    width: 100%;
    text-align: left;
}
.info1{
    margin-top: 15px;
    font-size:13px;
    font-weight:normal;
    color:#444444;
    margin-bottom:5px;
}
.infolbl{
    color:black;
    font-size: 15px;
}
.field-label{
    width:120px;
    float:left;
    font-size: 15px;
}
.info-left{
    float:left;
    width: 40%;
}
.info-right{
    float:right;
    width: 40%;
}
.info{
    width:100%;
    float:left;
}
.row{
    float: left;
    width: 100%;
    text-align: center;
}
.tot-emp-text{
    color: #555555;
    font-weight: bold;
    float: left;
    font-size: 16px;
    width:25%;
}
.tot-emp-val{
    font-size: 16px;
    width:45%;
}
.tot-emp{
    font-size: 14px;
    padding: 7px;
    margin-top: 15px;
    width: 100%;
    text-align: left;
}
.archived {
    color: #7B7A7A;
    font-size: 12px;
}
tr.even td.amount{ text-align: right;}
