.submit_button {
    margin-right: 20px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin-top: 38px;
    margin-bottom:20px;
    float: left;
    font-size: 13px;
}
.submit_button:hover{
    background:  #373B3F;
}
.pdf_button a{
    margin: 0 auto;
    margin-left: 400px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    text-decoration: none;
}
.pdf_button a:hover{
    background:  #373B3F;
}
.label-field-pair {
    width: 250px;
    float: left;
    height: auto;
}
.label-field-pair  label{
    font-weight: normal;
    width: inherit;
    font-size: 13px;
}
.label-field-pair select, .label-field-pair input
{
    margin-left: 0px;
}
.text-input-bg{ height: auto;}
.ms-drop
{
    overflow-y: hidden !important;
}
.ms-select-all
{
    width:170px;
}
.ms-drop ul li
{
    width: 110px;
    float: left;
}
.ms-drop ul li input
{
    margin: 0 5px 0 0 !important;
}
.ms-parent
{
    margin-top: 5px !important;
}
.ms-drop ul li label{
    color: #000;
    width: auto !important;
}
.label-field-pair input[type=checkbox] {
    height: 13px;
    width: 14px;
    margin-top: 12px;
    float: left;
}
.header{
    font-weight: bold;
}

.description{
    font-size: 13px;
    margin: 20px 0px 30px 0px;
}

table{
    border: 1px solid #bfbfbf;
    border-collapse: collapse;
    font-size: 13px;
    width:100%;
}

#payslips_list td{
    padding: 10px;
    border-right: 1px solid #bfbfbf;
}

table .tr-head{
    font-weight: bold;
    border-bottom: 1px solid #bfbfbf;
}

.sub-head{
    background-color: #f0f0f0;
    border-bottom: 1px solid #bfbfbf;
    font-weight: bold;
}

tr {
    border-bottom: 1px solid #bfbfbf;

}
.pagination {
    margin-top: 20px;
    margin-right: 0px;
}
.pagination{
    min-width: 158px;
    height: auto;
    border: 1px solid #CCC;
    border-left: 0px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination a{
    color:#666;
    cursor: pointer;
    border:none !important;
    border-left: 1px solid #CCCCCC !important;
    font-size: 13px !important;
    display: block;
    float: left;
    font-weight: normal;
    padding: 9px 13px 9px 15px;
}
#page-yield .pagination a:hover {
    color: #333 !important;
}
.pagination .disabled{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    border-left:1px solid #ccc;
}
.pagination .prev_page{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    border-right: 1px solid #CCC;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .current{
    display: block;
    float: left;
    padding: 9px 13px 9px 15px;
    font-size: 13px;
    color:#fff !important;
    background-color: #666666;
    font-weight: normal;
}
.pagination .next_page{
    display: block;
    float: left;
    padding: 9px 5px 9px 10px;
    font-size: 13px;
    color:#666 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}
.pagination .gap{
    display: block;
    float: left;
    border-left:1px solid #cccccc;
    color:#666;
    padding: 9px;
    font-size: 13px !important;
}
#payslips_list table .tr-head
{
    color: black !important;
}
td.emp_name{
    width: 27%;
}
td.emp_no{
    width: 10%;
}
td.payment_free{
    width: 13%;
}
td.pay_period{
    width: 20%;
}
td.amount{
    width: 10%;
}
td.status{
    width: 13%;
}
td.actions{
    width: 5%;
}
#payslips_list table td.actions a{
    color: black !important;
}
div.payslip_dates
{
    width: 160px;
}
input.calendar_label
{
    width: 115px;
    margin-top: 12px;
}
div.payslip_field
{
    width: 120px;
    margin-left: 20px;
    float: right;
    margin-bottom: 20px;
}
div.payslip_field .text-input-bg
{
    width:120px;
}
div.payslip_field select, div.payslip_field .text-input-bg .ms-parent
{
    width:120px !important;
}
.ms-choice
{
    height: 29px !important;
}
.text-input-bg select
{
    height: 29px
}
div.dept_name
{
    width: 170px;
}
div.dept_name .text-input-bg
{
    /* width: inherit; */
    padding-top:  5px;
}
div.dept_name .text-input-bg select
{
    width: 150px;
}
div.div_link
{
    float:left;
    font-size: 13px;
    text-decoration:underline;
    margin: 44px 0 0 10px;
    cursor: pointer;
}
#MB_window
{
    width: 690px;
    top: 40px;
    left: 298px;
    float: left;
}
#MB_frame
{
    -webkit-border-radius: 0px;
    float: left;
    display: block;
}
#MB_frame .label-field-pair
{
    width: 250px
}
#search_fields label
{
    margin-top: 15px;
}
#MB_frame label
{
    color: #444;
    font-size: 13px;
    font-weight: bold;
    width: 200px;
    float: left;
    margin-right: 10px;
}
#MB_frame .part
{
    padding: 20px 40px;
    border-bottom: 1px solid #c6c6c6;
    float: left;
    width: 610px;
}
#MB_header_part h4
{
    margin: 0px;
}
.remove-icon {
    background-image: url("/images/iconsprite-1.png");
    background-position: -31px 1px;
    float: right;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    margin-left: 5px;
}
.remove-icon:hover {
    background-position: -31px -15px;
}
.close-link
{
    float: right;
    color: #999;
    font-size: 13px;
    text-decoration: none;
    margin-left: 5px;
    margin-top: 2px;
}
.close-link:hover
{
    color: #333;
}
#MB_frame .select_alert
{
    background-color: #EAEAEA;
    width: 640px;
    padding: 15px 0;
    float: left;
}
#MB_frame input
{
    margin: 1px 0 0 10px;
}
.input-pair label
{
    float: left;
    font-weight: normal;
    margin-left: 10px;
    max-width: 150px;
    width: auto;
}
#MB_frame .select_alert label
{
    font-weight: normal;
    margin-top: 0px;
}
#MB_frame .input-pair label
{
    font-weight: normal;
    float: left;
    width: auto;
    max-width: 120px !important;
}
#MB_header_part
{
    border-color: #7B7B7B !important;
}
#MB_footer
{
    border-top: 1px solid #7B7B7B;
}
#MB_footer .submit_button
{
    margin-left: 0px;
    margin-right: 20px;
    background: #27292B !important;
    border: none !important;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 7px 9px !important;
    float: left;
    cursor: pointer;
    width: auto !important;
    height: auto !important;
    border-radius: 0px;
}
.input-pair
{
    float: left;
    position: relative;
    margin-bottom: 10px;
    width: 120px;
}
#MB_frame .label-field-pair label
{
    font-weight:normal;
    margin-top: 0px;
    width: inherit;
    padding-top: 0px;
}
#MB_frame .payslip_dates .text-input-bg{
    width: auto;
}
#MB_frame .payslip_dates
{
    width: 150px;
    margin-right: 40px;
}
#MB_frame .payslip_dates input
{
    margin-left: 0px;
    margin-top: 5px;
    border-radius: 0px;
}
#MB_frame .label-field-pair select
{
    margin: 0px;
    border-radius: 0px;
}
#date_ranges label
{
    margin-top: 25px;}
#employee_details{
    border-bottom: 0px !important;
}
#employee_details .label-field-pair input
{
    margin-left: 0px;
    border-radius: 0px;
}
#employee_details label
{
    margin-top: 25px;
}
#MB_frame #emp_name
{
    width: 217px;
    margin-right: 30px;}
#MB_frame #emp_no
{
    width: 150px;
}
#MB_frame #emp_no input
{
    width: 120px;
}
hr {
    border: 1px solid #cccccc;
    border-bottom: 0px;
    width: 980px;
    float: left;
}
label[for='filter']
{
    float: right;
    font-size: 13px;
    color: #444;
    margin-top: 40px;
}
div#divider {
    float: right;
    height: 50px;
    width: 1px;
    background-color: #ccc;
    margin: 15px;
}
div#temp_link{ float: right;}
.user_button{ font-size: 13px; }
#buttons
{
    float: left;
    width: 100%;
}
#buttons .label-field-pair
{
    width: 25%;
    padding-top: 10px;
}
#buttons .label-field-pair label
{
    width: 100%;
    padding-top: 0px;
}
#buttons .label-field-pair .text-input-bg label{ font-size: 14px; }
#change_date{ margin-left: 10px;}
#loader{
    float: right;
    margin: 40px 0 0 0;
}
#loader_div{
    float: right;
    min-width: 26px;
    min-height: 56px;
}
.pagination_status{ margin-top: 10px;}
.archived {
    color: #7B7A7A;
    font-size: 12px;
}
tr.bg_light_grey td.amount{ text-align: right;}
#search_details .div_link{ margin-top: 42px}