<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="page-yield">
  <div class="box">
    <% form_remote_for @record_group,:url=>{:controller=>"record_groups",:action=>'destroy',:id=>@record_group.id,:course_id=>@course.id},:html => { :method => :delete},:before=>"$('submit_button').disable()",:complete=>"setTimeout(function(){$('submit_button').enable();},5000)" do |f| %>
      <div id="form-errors"></div>
      <div class="label-field-pair1 add_lbl-field_pair">
        <div id="main_info_msg"><%=t('main_info_msg')%></div>
        <div id="course_batch_info_msg"><span class="width_200"><%=t('associated_batch')%></span> : <%=@course.record_batch_assignments.all(:conditions=>{:record_group_id=>params[:id]}).count%> <%=t('batches_text')%></div>
        <div id="student_records_info_msg" class="addl_margin_30"><span class="width_200"><%=t('student_records')%></span> : <span class="bold_span"><%=@course.student_records.all(:conditions=>{:additional_field_id=>@record_group.records.collect(&:id)},:group=>"student_id").count%> <%=t('students')%></span></div>
        <div id="confirm_info_msg"><%=t('rg_unassign_confirm')%></div>
      </div>
      <%= f.submit "", :value => "#{t('unassign_record_group')}", :class => "submit_button", :id => 'submit_button' %>
    <% end %>
  </div>
</div>
