<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="page-yield">
  <div class="box">
    <% form_remote_for @record_group,:before=>"$('submit_button').disable()",:complete=>"setTimeout(function(){$('submit_button').enable();},5000)" do |f| %>
      <div id="form-errors"></div>
      <%= error_messages_for :record_group %>
      <div class="label-field-pair1 add_lbl-field_pair">
        <label for="record_group_name"><%=t('record_group_name')%></label>
        <div class="text-input-bg1"><%= f.text_field :name,:class=>'addl_rgn' %></div>
      </div>
      <%= f.submit "", :value => "#{t('create_record_group')}", :class => "submit_button", :id => 'submit_button' %>
    <% end %>
  </div>
</div>
