<%-# Licensed to the Apache Software Foundation (ASF) under one
#or more contributor license agreements.  See the NOTICE file
#distributed with this work for additional information
#regarding copyright ownership.  The ASF licenses this file
#to you under the Apache License, Version 2.0 (the
#"License"); you may not use this file except in compliance
#with the License.  You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<label class="head_label"><%= t('add') %> <%= t('particulars') %> <%= t('for') %> <%= t('additional') %> <%= t('fees_text') %><span></span></label>

<% form_remote_for :finance_fee_particulars, :url => {:action => 'add_particulars_create',:id => @collection_date.id} , :before=>"$('submit_button').disable()",:complete=>"setTimeout(function(){$('submit_button').enable();},5000)" do |form| %>
  <div id="form-errors"></div>
  <div class="label-field-pair">
    <div class="label-container"><label><%= t('fees_name') %> :</label> </div>
    <div class="input-container"><%= form.text_field :name %></div>
  </div>
  <div class="label-field-pair">
    <div class="label-container"><label><%= t('fees_description') %> :</label> </div>
    <div class="input-container"><%= form.text_field :description %></div>
  </div>
  <div class="label-field-pair2">
    <div class="label-container2"><label><%= t('particulars') %> :</label></div>
    <div class="input-container2">
      <div class="opt"><%= radio_button("particulars","select","all",
          {:checked => true, :onchange => "#{remote_function(:url => {:action => "student_or_student_category"},
            :with => "'select_value='+value")}"}) %><%= t('all') %></div>
      <div class="opt"><%= radio_button("particulars","select","student",
          {:onchange => "#{remote_function(:url => {:action => "student_or_student_category"},
            :with => "'select_value='+value")}"}) %><%= t('admission_number') %> </div>
      <div class="opt"> <%= radio_button("particulars","select","category",
          {:onchange => "#{remote_function(:url => {:action => "student_or_student_category"},
            :with => "'select_value='+value")}"}) %><%= t('student_category') %></div>
    </div>
  </div>
  <div id="student"></div>
  <div class="label-field-pair">
    <div class="label-container"><label><%= t('fees_amount') %> :</label> </div>
    <div class="input-container"><%= form.text_field :amount, :class=>'precision_text' %></div>
  </div>
  <%=hidden_field_tag :session_fingerprint, session_fingerprint%>
  <%=  submit_tag "► #{t('add')}",:class=>'submit_button', :id => 'submit_button' %>

<% end %>



