<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% form_remote_for :finance_category,
  :url => {:action => 'category_update', :id => @finance_category.id} do |f| %>
  <div id="form-errors"></div>
  <div class="label-field-pair">
    <div class="label-container"><label><%= t('category_name') %>:</label> </div>
    <div class="input-container"><%= f.text_field :name %></div>
  </div>
  <div class="label-field-pair">
    <div class="label-container"><label><%= t('description') %>:</label> </div>
    <div class="input-container"><%= f.text_field :description %></div>
  </div>
  <div class="label-field-pair">
    <div class="label-container"><label><%= t('is_this_under_income') %></label> </div>
    <div class="input-container"><%= f.check_box :is_income, :disabled => @finance_category.finance_transactions.present? %> </div>
  </div>

  <%=  submit_tag "► #{t('update')}",:class=>'submit_button' %>
<% end %>
