<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<% c = 'even' %>
<% @fixed_categories.each do |cat| %>
  <div class="container<%= cycle('odd', 'even')%> ">
    <div class="title"> <%= cat.name %></div>
  </div>
<% end %>
<% @other_categories.each do |cat| %>
  <div class="container<%= cycle('odd', 'even')%> ">
    <div class="title"> <%= cat.name %></div>
    <div class="options">
      <div class="edit"><%= link_to_remote t('edit_text'), :url => { :action => 'category_edit', :id => cat.id } %></div>
      <div class="edit">
        <% unless @category_ids.include?(cat.id) %>
          <%= link_to_remote t('delete_text'), :url => { :action => 'category_delete', :id => cat.id } , :confirm=>"#{t('are_you_sure_to_delete')}" %>
        <% else %>
          <span class="small-strike"><%= t('delete_text') %></span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div id="modal-box" style="display:none;"></div>
