<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<div id="flash_box">
</div>
<% unless flash[:notice].nil? %>
  <p class="flash-msg"> <%= flash[:notice] %> </p>
<% end %>
<% form_remote_for :fee_discount, :url=>{:action=>"category_wise_fee_discount_create"},:before=>"$('submit_button').disable()",:complete=>"setTimeout(function(){$('submit_button').enable();},5000)" do |form|%>

  <%#*<div id="form-errors"></div>%>

  <div class="label-field-pair">
    <label for="reason"><%= t('name') %><span class="necessary-field">*</span></label>
    <div class="text-input-bg"><%= form.text_field :name %></div>
  </div>

  <div class="label-field-pair">
    <label><%= t('fee_category') %><span class="necessary-field">*</span></label>
    <div class="text-input-bg">
      <%= select("fee_discount","finance_fee_category_id", @fee_categories.map { |item| [item.name, item.id] }.sort_by{|x, y| x.downcase}.uniq,
        {:prompt => "#{t('select_category')}" })%>
    </div>
    <div class="loader_div">
      <%= image_tag("loader.gif",
        :align => "absmiddle",
        :border => 0,
        :id => "loader1",
        :style =>"display: none;" ) %>
    </div>
  </div>

  <div class="label-field-pair">
    <label for="reason"> <%= t('student_category') %></label>
    <div class="text-input-bg">
      <%= form.select(:receiver_id, @student_categories.map { |item| [item.name, item.id] },{:prompt=>"#{t('select_student_category')}"},
        {:onchange => "#{remote_function(:url => {:action => "fee_collection_batch_update"},
          :with => "'cat_id='+value+'&id='+j('#fee_discount_finance_fee_category_id').val()",
          :before => "Element.show('loader1')",
          :success => "Element.hide('loader1')")}"
        })%>
      <%= form.hidden_field :receiver_type,:value=>"StudentCategory" %>
    </div>
  </div>

  <div id ="batchs"></div>



  <div class="label_field_pair">
    <label class="label_for_student_gender" for="is_amount"><%= t('discount_type') %></label>
    <div class="student_gender_value">
      <%= form.radio_button  :is_amount, false, :checked => "checked" ,:class=>'amount_radio'%>
      <label class="label_for_gender" for="is_amount_false"> <%= t('percentage') %></label>
      <%= form.radio_button  :is_amount, true ,:class=>'percentage_radio'%>
      <label class="label_for_gender" for="is_amount_true"><%= t('amount') %></label>
    </div>
  </div>
  <div class="label-field-pair">
    <label for="reason"><%= t('discount') %><span class="necessary-field">*</span></label>
    <div class="text-input-bg"><%= form.text_field :discount, :class=>'precision_text width-50',:id=>'discount_amount' %>
      <div class="post-symbol">%</div>
    </div>
  </div>

  <%=hidden_field_tag :session_fingerprint, session_fingerprint%>

  <div id="submit-button">
    <%=  form.submit "► #{t('create_text')}", :id => 'submit_button' %>
  </div>

<% end %>
