
<div class="list_table_div">
  <div class="main_head_label"><b id="fees_report_title"><%= t('fees_collection') %> - <%=@fee_collection.name%></b><div class="date_align right"><label class="date_tag"><%=params[:date_tag]%></label>&nbsp;<%=format_date(@start_date)%> &nbsp; <label class="to_date"><%= t('to') %></label> &nbsp; <%=format_date(@end_date)%> <span id="show_date" class="themed_hover_text" ><%=link_to_remote t('change_date'),:url => {:controller => "finance",:action =>"show_date_filter",:target_action=>@target_action,:id=>params[:id],:date_tag=>params[:date_tag],:start_date=>@start_date,:end_date=>@end_date}%></span></div></div>
  <%unless @grouped_course_ids.empty?%>
    <% total =0 %>
    <table class="gray_table_list" align="center" width="100%" cellpadding="0" cellspacing="0">
      <tr class="main_head">
        <td><%= t('batch') %></td>
        <td class="set_border_right"  style="width:20%"><%= t('amount') %> (<%= currency %>)</td>
      </tr>
      <%j=0%>
      <%@grouped_course_ids.each do |course,batches| %>
        <tr class="tr-list_head">
          <td colspan="2"><%=batches.first.course_name%></td>
        </tr>
        <%i=0%>
        <% batches.each do |b| %>
          <tr class="row-b">
            <td><%="#{i=i+1}. "%><%= link_to  b.batch_name, :action => 'batch_fees_report',:id =>params[:id],:start_date => @start_date,:end_date => @end_date,:batch_id=>b.batch_id,:date_tag=>params[:date_tag] %></td>
            <td class="set_border_right" align="right"> <%= precision_label(b.amount) %></td>
          </tr>
        <%end%>
      <%end%>
    </table>
    <div class="total_amount_div">
      <label><%= t('net_income') %></label>
      <label class="amount_label"><%=precision_label(@grand_total)%></label>
    </div>
    <%= will_paginate @course_ids,:params=>{:id=>params[:id],:start_date=>@start_date,:end_date=>@end_date,:date_tag=>params[:date_tag]},:renderer => 'RemoteLinkRenderer'  %>
    <div class="seprater_div_bottom">
    <div id="inner-tab-menu">
      <ul>
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('csv_report')}",
            {:controller => "csv_export", :action => "generate_csv",:id=>params[:id],:csv_report_type => "finance_fee_course_wise_report", :report_format_type => "csv",:start_date => @start_date, :end_date=>@end_date}%></li>
      </ul>
    </div>
   </div>
  <%else%>
    <div class="no_entries"><%=t('no_transactions_present')%></div>
  <%end%>
</div>
<script>
  j('.date_box').hide();
  if (j('#hide_date_filter').is(":visible")){
    j('#show_date').hide();
  }
  j("#show_date").click(function(){
    j(".date_box").show();
    j("#show_date").hide();
  });
  j("#hide_date_filter").click(function(){
    j(".date_box").hide();
    j("#show_date").show();
  });
</script>