  <%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% form_remote_for :liability,
  :url => {:action => 'create_liability'},:before=>"$('submit_button').disable()",:complete=>"setTimeout(function(){$('submit_button').enable();},5000)" do |f| %>
  <div id="form-errors"></div>
  <div class="label-field-pair">
    <div class="label-container"><label><%= t('title') %> :</label> </div>
    <div class="input-container"><%= f.text_field :title%></div>
   </div>
     <div class="label-field-pair">
    <div class="label-container"><label><%= t('description') %> :</label> </div>
    <div class="text-input-bg"> <%= f.text_field :description %></div>
   </div>
     <div class="label-field-pair">
    <div class="label-container"><label><%= t('amount') %> :</label> </div>
    <div class="input-container"><%= f.text_field :amount, :class=>'precision_text' %></div>
   </div>
    <%=hidden_field_tag :session_fingerprint, session_fingerprint%>
    <%=  submit_tag "► #{t('save')}",:class=>'submit_button', :id => 'submit_button' %>
<% end %>
