<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<% if @due_date.to_date < (@transaction_date || Date.today)  %>
    <div id="fee-defaulters">
      <div class="text_box">
        <h5><%= t('due_date_exceeded_collect_fine') %>  </h5>
      </div>
      <div class="box">
        <% form_for :fine, :url => {:action => 'update_defaulters_fine_ajax',:batch_id=>@batch.id },:before=>"create_temporary_fine_data()" do |form| %>
            <div class="label-field-pair1">
              <div class="text-input-bg">
              <%= form.text_field :fee, :value=>'' ,:id=>"fine_fee", :class=>'precision_text' %></div></div>
              <%= form.hidden_field :student, :value => @student.id %>
              <%= form.hidden_field :date, :value => @date.id %>
              <%= hidden_field_tag("transaction_date", params[:transaction_date], :id => "fine_transaction_date")%>
              <%= hidden_field_tag :reference_no,params[:reference_no],:id=>"fine_reference_no" %>
              <%= hidden_field_tag :payment_note, params[:payment_note],:id=>"fine_payment_note" %>
              <%= hidden_field_tag :payment_mode, params[:payment_mode],:id=>"fine_payment_mode" %>
            <%=  submit_tag "► #{t('add_fine')}",:class=>'submit_button2',:id => 'fine_button',:onclick=>'return validate_fine();' %>
        <% end %>
      </div>
    </div>
<% end %>
<script type="text/javascript">
  j(document).ready(function(){
      if (j('#fine_button').width()> 75 ){
          j('.box').css('width',345)
      }
  })
</script>
