<div class="list_table_div">
  <div class="main_head_label"><b id="fees_report_title"><%= t('donations') %></b><div class="date_align right"><label class="date_tag"><%=params[:date_tag]%></label>&nbsp;<%=format_date(@start_date)%> &nbsp; <label class="to_date"><%= t('to') %></label> &nbsp; <%=format_date(@end_date)%> <span id="show_date" class="themed_hover_text" ><%=link_to_remote t('change_date'),:url => {:controller => "finance",:action =>"show_date_filter",:target_action=>@target_action,:id=>params[:id],:date_tag=>params[:date_tag],:start_date=>@start_date,:end_date=>@end_date}%></span></div></div>
  <%unless @donations.empty?%>
    <% donations_expenses = 0 %>
    <%donations_income=0%>
    <table class="gray_table_list" align="center" width="100%" cellpadding="0" cellspacing="0">
      <tr class="main_head">
        <td ><%= t('donor') %></td>
        <td class="set_border_right"><%= t('amount') %> (<%=currency %>)</td>
        <td class="set_border_right"><%= "#{t('receipt_or_voucher_no')}" %></td>
        <td class="set_border_right"><%= t('date_text') %></td>
      </tr>
      <% @donations.each do |d| %>
        <tr class="row-b">
          <td><%=d.donor %></td>
          <td class="set_border_right" align="right"><%= precision_label(d.amount) %></td>
          <% donations_income+= d.amount %>
          <td class="set_border_right"><%= d.receipt_no.nil? ? d.voucher_no : d.receipt_no %></td>
          <td class="set_border_right"><%= format_date(d.transaction_date) %></td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate  @donations,:params=>{:id=>params[:id],:date_tag=>params[:date_tag],:start_date=>@start_date,:end_date=>@end_date},:renderer => 'RemoteLinkRenderer'  %>
    <div class="total_amount_div">
      <label><%= t('net_income') %></label>
      <label class="amount_label"><%=precision_label(@grand_total)%></label>
    </div>
    <div class="seprater_div_bottom">
      <div id="inner-tab-menu">
        <ul>
          <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('csv_report')}",
              {:controller => "finance", :action => "donation_report_csv",:start_date => @start_date, :end_date=>@end_date}%></li>
        </ul>
      </div>
    </div>
  <%else%>
    <div class="no_entries"><%=t('no_transactions_present')%></div>
  <%end%>
</div>
<script>
  j('.date_box').hide();
  j("#show_date").click(function(){
    j(".date_box").show();
    j("#show_date").hide();
  });
  j("#hide_date_filter").click(function(){
    j(".date_box").hide();
    j("#show_date").show();
  });
  if (j('#hide_date_filter').is(":visible")){
    j('#show_date').hide();
  }
</script>