<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% unless @finance_fee_collections.blank? %>
<div id="fee-collections-list">
<table id="listing">
  <tr class="tr-head">
    <td><%= t('name') %></td>
    <td><%= t('start_date') %></td>
    <td><%= t('due_date') %></td>
    <td></td>
  </tr>

  <% @finance_fee_collections.each do |f| %>
    <tr class="tr-<%= cycle('odd', 'even')%> ">
      <td class="col-2"><%= link_to "#{f.name}" ,:action=>:collection_details_view, :id=>f.id,:batch_id=>@batch.id %></td>
      <td class="col-3"><%= format_date(f.start_date) %></td>
      <td class="col-3"><%= format_date(f.due_date) %></td>
      <td class="col-1">
        <div class="options">
        <% if f.check_fee_category(@batch.id) %>
          <span class="small"><%= link_to_remote t('delete_text'), :url => {:action => 'fee_collection_delete', :id => f.id,:batch_id=>@batch.id },:confirm=>"#{t('delete_confirm_msg')}" %></span>
          <span class="small"><%= link_to_remote t('edit_text'), :url => {:action => 'fee_collection_edit', :id => f.id,:batch_id=>@batch.id} %></span>
        <%else%>
          <span class="small-strike"><%= t('delete_text') %></span>
          <span class="small-strike"><%= t('edit_text') %></span>
        <% end %>
         </div>
      </td>
   </tr>
  <% end %>
</table>
</div>
<%  else %>
<p class="flash-msg"><%= t('no_fee_collection_exist') %></p>
<% end %>
