<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<label class="head_label"><%= t('create_particular_for_master_fee') %><span></span></label>


<div id="grading-levels-form">

    <% form_remote_for  :finance_fee_particular,:url =>{:action => 'fees_particulars_create2'}, 
      :before=>"$('submit_button').disable()",
      :complete=>"setTimeout(function(){$('submit_button').enable();},5000)"  do |f| %>

      <div id="form-errors"></div>
      <%= hidden_field_tag "finance_fee_particular[finance_fee_category_id]", @fees_category.id %>
      <%= hidden_field_tag "category_selected", '1' %>
      <%= hidden_field_tag "finance_fee_particular[batch_id]", @batch.id %>

      <div class="label-field-pair">
          <div class="label-container"> <%= f.label "#{t('name')}"  %></div>
          <div class="input-container"><%= f.text_field :name %></div>
      </div>

      <div class="label-field-pair">
          <div class="label-container"><%= f.label "#{t('description')}" %></div>
          <div class="input-container"><%= f.text_field :description %></div>
      </div>
      <div class="label-field-pair2">
          <div class="label-container2"><label><%= t('create_using') %></label></div>
          <div class="input-container2">
              <div class="opt">
                  <%= radio_button("finance_fee_particular","receiver_type","Batch",
                    {:checked=>true,:onchange => "#{remote_function(:url => 
                      {:action => "student_or_student_category"},:with => "'select_value='+value")}"}) %>
                  <%= t('all') %>
              </div>
              <div class="opt">
                  <%=  radio_button("finance_fee_particular","receiver_type","Student",
                    {:onchange => "#{remote_function(:url => {:action => "student_or_student_category"},
                      :with => "'select_value='+value")}"}) %><%= t('admission_no') %>
              </div>
              <div class="opt"> 
                  <%= radio_button("finance_fee_particular","receiver_type","StudentCategory",
                    {:onchange => "#{remote_function(:url => {:action => "student_or_student_category"},
                      :with => "'select_value='+value")}"}) %><%= t('student_category') %> 
              </div>
          </div>
      </div>


      <div id="student"></div>

      <div class="label-field-pair">
          <div class="label-container"><%= f.label "#{t('amount')}" %></div>
          <div class="input-container"> <%= f.text_field :amount, :class=>'precision_text' %></div>
      </div>
      <% if @tax_enabled %>
        <div class="label-field-pair">
            <div class="label-container"><%= f.label "#{t('tax_slab_text')}" %></div>
            <div class="input-container"> 
                <%= f.select :tax_slab_id, @tax_slabs.map {|slab| 
                  ["#{slab.name} - #{precision_label(slab.rate)}%", slab.id]}, 
                  :include_blank => t('select_a_tax_slab') %>
            </div>
        </div>
      <% end %>
      <%=hidden_field_tag :session_fingerprint, session_fingerprint%>
      <%=  submit_tag "► #{t('create_text')}",:class=>'submit_button', :id => 'submit_button' %>

    <% end %>
</div>
