<% @total_fine=0 %>
<% unless @fine.nil? %>
  <% if @total_fine==0 %>
    <tr class="tr-blank"></tr>
    <tr class="tr-head" cellpadding="1" cellspacing="1">
      <td class="col-1"></td>
      <td class="col-1 bold_font" colspan="2">
        <span><%= t('fine') %></span>
      </td>
    </tr>
    <tr class="tr-blank"></tr>
    <% end %>
    <tr class="tr-<%= cycle("odd", "even") %>">
      <td class="col-1"><%= i+=1 %></td>
      <td class="col-2">
        <span><%= t('fine_on') %>
          <%= format_date(payment_date) %></span>
      </td>
      <td class="col-6 normal_font">
        <%= precision_label(@fine.to_f) %>
        <% @total_fine=@total_fine+@fine.to_f %>
      </td>
      <td class="cancel-disc cancel-color">
        <div class="fine-deletion" style="cursor: pointer" student="<%=@student.id%>" batch_id="<%=@batch.id%>" date="<%=@date.id  %>">
          <%= "&times" %>
        </div>
      </td>
    </tr>
    <% unless @financefee.is_paid? == true %>
      <% total_fees += @fine.to_f %>
    <% else %>
      <% total_fees = @fine %>
    <% end %>
  <% end %>
  <% total_fees1=total_fees %>
  <% if @paid_fees %>
    <% unless @paid_fees.blank? %>
      <% @paid_fees.each do |trans| %>
        <% if trans.fine_included %>
          <% if @total_fine==0 %>
            <tr class="tr-blank"></tr>
            <tr class="tr-head" cellpadding="1" cellspacing="1">
              <td class="col-1"></td>
              <td class="col-1 bold_font" colspan="2">
                <span><%= t('fine') %></span>
              </td>
            </tr>
            <tr class="tr-blank"></tr>
            <% end %>
            <tr class="tr-<%= cycle("odd", "even") %>">
              <td class="col-1"><%= i+=1 %></td>
              <td class="col-2">
                <span><%= t('fine_on') %>
                  <%= format_date(trans.transaction_date) %></span>
              </td>
              <td class="col-6 normal_font">
                <%= precision_label(trans.fine_amount) %>
                <% @total_fine=@total_fine+trans.fine_amount %>
              </td>
            </tr>
            <% total_fees += trans.fine_amount.to_f %>
            <% end %>
          <% end %>
        <% end %>
    <% end %>
    <% unless @financefee.is_paid_with_fine? %>
      <% if @fine_rule %>
        <% if @total_fine==0 %>
          <tr class="tr-blank"></tr>
          <tr class="tr-head" cellpadding="1" cellspacing="1">
            <td class="col-1"></td>
            <td class="col-1 bold_font" colspan="2">
              <span><%= t('fine') %></span>
            </td>
          </tr>
          <tr class="tr-blank"></tr>
        <% end %>
        <tr class="tr-<%= cycle("odd", "even") %>">
          <td class="col-1"><%= i+=1 %></td>
          <td class="col-2">
            <span><%= t('fine_on') %>
              <%= format_date(@date.due_date.to_date+@fine_rule.fine_days.days) %><%= discount_text = @fine_rule.is_amount ? "" : " (#{@fine_rule.fine_amount}&#x200E;%)" %></span>
          </td>
          <td class="col-6 normal_font">
            <%= precision_label(@fine_amount) %>
            <% @total_fine=@total_fine+@fine_amount %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <script>
j(document).undelegate(".fine-deletion", "click");
 j(document).delegate('.fine-deletion', 'click', function (e) {
    student = j(this).attr('student');
    batch_id = j(this).attr('batch_id');
    date = j(this).attr('date');
    payment_note = j("#fees_reference_no").val();
    payment_mode = j("#fees_payment_mode").val();
    transaction_date = j("#transaction_date").val();
    reference_no = j("#fees_payment_note").val();
    proceed = confirm('<%=t('delete_confirm_msg') %>');
    j('#fine_amount').val(0);
    console.log(proceed);
    if (proceed) {
      j.ajax({
        method: "post",
        url: '/finance/update_fine_ajax',
        data: {
          "fine[student]": student,
          "fine[batch_id]": batch_id,
            "fine[date]": date,
          "fine[payment_date]": transaction_date,
          "payment_note" : payment_note,
          "payment_mode": payment_mode,
          "reference_no": reference_no 
        }

      });
    }
  });

    </script>
