<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<label class="head_label"><%= "#{t('create_text')} #{t('fine')}" %><span></span></label>



<div id="grading-levels-form">

  <% form_remote_for :fine, :url => {:action => 'update_fine_ajax' }, :before=>"create_temporary_fine_data()",:complete=>"setTimeout(function(){$('add_fine').enable();},5000)" do |form| %>
    <%= form.hidden_field :student, :value => @student.id %>
    <%= form.hidden_field :batch_id, :value => @batch.id %>
    <%= form.hidden_field :date, :value => @date.id %>
    <%= form.hidden_field :payment_date, :value => @payment_date %>
    <%= hidden_field_tag :reference_no, :value => params[:reference_no] %>
    <%= hidden_field_tag :payment_note, :value => params[:payment_note] %>
    <%= hidden_field_tag :payment_mode, :value => params[:payment_mode] %>

    <div id="form-errors"></div>

    <div class="label-field-pair">
      <div class="label-container"><label><%= "#{t('amount')}" %><span class="necessary-field">*</span></label></div>
      <div class="input-container"><%= form.text_field :fee, :value=>'' ,:id=>"fine_fee", :class=>'precision_text' %></div>
    </div>
    <div class="extender"></div>
    <div id="submit-button">
      <%= submit_tag "► #{t('create_text')}",:id=>'add_fine', :class => 'modal-box-submit_button', :disable_with => "► #{t('create_text')}" %>
    </div>
  <% end %>
</div>
