<div class="right-floated"> 
<div class="label-container">
            <label><%= t('select_a_batch') %><span class="necessary-field">*</span>:
              <b class="sel-list">
                <%= link_to_function t('all'), "$$('input.category_select').each(function(checkbox) { checkbox.checked = true; });" %>,
                <%= link_to_function t('none'), "$$('input.category_select').each(function(checkbox) { checkbox.checked = false; });" %>
              </b>
            </label>
          </div>
          <div class="categories">

            <% @batches.each do |c| %>
              <div class="each_category">
                <%= check_box_tag "particular[batch_ids][]", c.id,(@cat_ids.present? and @cat_ids.include?(c.id)), :class=>"category_select" %> <label><%= "#{c.full_name}" %></label>
              </div>
            <% end %>
          </div>
</div>