<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<label class="head_label"><%= t('edit_master_category_for_fee') %><span></span></label>



<div id="grading-levels-form">

  <% form_remote_for @finance_fee_category,
    :url=>{:action=>'master_category_update',
    :id => @finance_fee_category.id,:batch_id=>@batch.id}  do |f| %>

    <div id="form-errors"></div>
       <div class="label-field-pair">
    <div class="label-container"><%= f.label :"#{t('name')}" %></div>
    <div class="input-container"><%= f.text_field :name %></div>
   </div>

  <div class="label-field-pair">
    <div class="label-container"><%= f.label :"#{t('description')}" %></div>
    <div class="input-container"><%= f.text_field :description %></div>
  </div>

     <div class="label-field-pair">
    <div class="label-container"><label><%= t('batch') %> </label></div>
    <div class="input-container">
  <%= f.text_field :batch, :value => @batch.full_name, :disabled => true   %>
    </div>

  </div>
  <%=hidden_field_tag :session_fingerprint, session_fingerprint%>
  <%=  submit_tag "► #{t('save')}",:class=>'submit_button' %>
  <% end %>
</div>
