<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% unless @particulars.empty? %>
  <div id="form-errors"></div>
  <%=error_messages_for 'finance_fee_particular'%>
  <% fee_category = @particulars.first.finance_fee_category %>
  <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head">
          <td><%= t('sl_no') %></td>
          <td><%= t('particulars') %></td>
          <% if @tax_enabled %>
            <td><%= t('tax_slab_text')%></td>
          <% end %>
          <td><%= t('student_category')%></td>
          <td><%= t('admission_number') %></td>
          <td><%= t('amount') %><br/> ( <%=currency  %> )</td>
          <td><%= t('created_date') %></td>
          <td></td>
      </tr>
      <tr class="tr-blank"></tr>
      <% if @tax_enabled %>        
        <% table_col_width = 'col-3-2' %>
        <% table_col_width_3 = 'col-3-3' %>
        <% table_col_width_2 = 'col-4-3' %>      
      <% else %>      
        <% table_col_width = 'col-3' %>
        <% table_col_width_3 = 'col-3' %>
        <% table_col_width_2 = 'col-4' %>      
      <% end %>
      <% @particulars.each_with_index do |fees,i| %>
        <tr class="tr-<%= cycle("odd","even") %>">
            <td class="col-1"><%= ((@particulars.current_page - 1) * @particulars.per_page) + (i + 1) %></td>
            <td class="<%= table_col_width_2 %>"><%= shorten_string(fees.name,80) %></td>            
            <% if @tax_enabled %>
              <td class="col-10">
                  <% slab = fees.tax_slabs.try(:last) %>
                  <%= slab.present? ? "#{slab.name} &#x200E;(#{precision_label(slab.rate)}%)&#x200E;" : '-' %>
              </td>
            <% end %>
            <td class="<%= table_col_width %>">
                <%if fees.receiver_type=="StudentCategory"%>
                  <%= fees.receiver.name%>
                <% else %> - <% end %>
            </td>
            <td class="<%= table_col_width %>">
                <%if fees.receiver_type=="Student"%>
                  <%= fees.student_name%>
                <% else %> - <% end %>
            </td>
            <td class="<%= table_col_width %>">
                <%= precision_label fees.amount %>
            </td>
            <td class="<%= table_col_width %>">
                <%= format_date(fees.created_at,:format=>:short_date) %>
            </td>
            <td class="<%= table_col_width_3 %>">
                <%if fees.collection_exist %>
                  <span class="small"> <%= link_to_remote "#{t('edit_text')}", :url => { :action => 'master_category_particulars_edit',:id => fees.id} %></span>
                <%else%>
                  <span class="small-strike"><%= t('edit_text') %></span>
                <%end%>
                <% if @tax_enabled %>
                  <span class="small small-2"> <%= link_to_remote "#{t('change_tax_slab_text')}", :url => { :action => 'master_particular_tax_slab_update',:id => fees.id} %></span>
                <% end %>
    <%#  unless @finance_fee_category.check_fee_collection == false %>
                <span class="small"> <%= link_to_remote t('delete_text'),:confirm=>"#{t('delete_msg')}", :url => { :action => 'master_category_particulars_delete',:id => fees.id} %></span>
    <%# else %>
    <%#*<span class="small-strike">delete</span>%>
    <%# end %>
    <%#*<span class="small">%>
    <%#= link_to_remote t('edit'), :url => { :action => 'master_category_particulars_edit',:id => fees.id} %>
    <%#*</span>%>
            </td>
        </tr>
      <% end %>
  </table>
  <%= will_paginate @particulars, :renderer => 'RemoteLinkRenderer', :params => {:controller => 'finance', :action => 'master_category_particulars', :id => fee_category.id,:batch_id=>@batch.id} %>
<% else %>
  <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head">
          <td><%= t('no_particulars_to_display') %>!</td>
      </tr>
  </table>

<% end%>
