<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<label class="head_label"><%= t('edit_particular_for_master_fee') %><span></span></label>


<div id="grading-levels-form">

    <% form_remote_for  @finance_fee_particular,:url=>{:action=>'master_particular_tax_slab_update',
      :id => @finance_fee_particular.id, :method => :post}  do |f| %>

      <div id="form-errors"></div>

      <div class="label-field-pair">
          <div class="label-container"> <%= f.label "#{t('name')}" %></div>
          <div class="input-container"><%= f.text_field :name, :readonly => true %></div>
      </div>

      <% if @tax_enabled %>
        <% tax_slab_id = @finance_fee_particular.tax_slab_ids.try(:last) %>
        <div class="label-field-pair">
            <div class="label-container"><%= f.label "#{t('tax_slab_text')}" %></div>
            <div class="input-container"> 
                <%= f.select :tax_slab_id, @tax_slabs.map {|slab| 
                  ["#{slab.name} - #{precision_label(slab.rate)}%", slab.id]}, 
                  :selected => tax_slab_id, :include_blank => t('select_a_tax_slab') %>
            </div>
        </div>
      <% end %>

      <%=  submit_tag "► #{t('update')}",:class=>'submit_button' %>


    <% end %>
</div>
