<%= javascript_include_tag("receipt_printer") %>
<% unless @paid_fees.empty? %>
  <div id="payments_details">
      <div class="label-field-pair3">
          <label><%= t('payment_history') %> </label>
      </div>
      <table id="listing1" align="center" width="100%" cellpadding="1" cellspacing="1">
          <tr class="tr-head">
              <td><%= t('receipt_no') %></td>
              <td><%= t('payment_date') %></td>
              <td><%= t('payment_mode') %></td>
              <td><%= t('payment_notes') %></td>
              <td><%= t('cashier') %></td>
              <td><%= t('amount') %> (<%= currency %>)</td>
              <%unless @payer_type.present? and @payer_type=="Archived Student"%>
                <td class="col-3" ></td>
              <%end%>
          </tr>
          <tr class="tr-blank"></tr>
          <% @paid_fees.each_with_index do |f, i| %>
            <tr class="tr-<%= cycle("odd", "even") %>">
                <td class="col-3">                    
                    <%= f.receipt_number %>
    <%#= link_to f.receipt_no,{ :action => "generate_fee_receipt_pdf",:transaction_id=>f.id},:target => '_blank' %>
    <%#= link_to "<span class='print_icon_img'></span>" ,{ :action => "generate_fee_receipt",:transaction_id=>f.id},:target => '_blank'  %>
                </td>
                <td class="col-3"><%= format_date(f.transaction_date) %></td>
                <%if f.reference_no.present?%>
                  <td class="col-3"><%= f.payment_mode %> - <%=f.reference_no%></td>
                <%else%>
                  <td class="col-3"><%= f.payment_mode %></td>
                <%end%>
                <td class="col-2"><%= f.payment_note %></td>
                <td class="col-3"><%= f.payment_mode=='Online Payment' ? f.get_cashier_name : f.cashier_name %></td>
                <td class="col-3 align_right">
                    <%= precision_label(f.amount.to_f) %>
                </td>
                <%unless @payer_type.present? and @payer_type=="Archived Student"%>
                  <td class="col-3 receipt-actions">
      <%#= link_to "<span class='pdf_icon_img'></span>",{ :action => "generate_fee_receipt_pdf",:transaction_id=>f.id},:target => '_blank' %>
      <%#= link_to_function "<span class='print_icon_img'></span>", "show_print_dialog(#{f.id})" %>
                      <%= receipt_buttons(f.id) %>
      <%# link_to({:controller=>:finance,:action => "generate_fee_receipt_pdf",:transaction_id=>28},:target =>'_blank')  do %>
                      <!-- <span class="hover-message">pdf</span> -->
      <%# end %>    <%  if can_access_request? :delete_transaction_by_batch, :finance%>
                      <% if @financefee.fee_refund.present? %>
                        <!-- <div class="inactive-delete"> -->
                        <a class="inactive">
                            <%= ("<span class='revert_icon_img' tooltip='Fees Refunded. You can t revert the transaction!'></span>") %>
                        </a>
                        <!-- </div> -->
                        <div id="hover-message"></div>
                      <% else %>
                        <%= link_to raw('<span class="revert_icon_img"></span>'), '#', :onclick => "return MakeBox(#{f.id});",:class=>"themed_text",:tooltip=>t('revert_transaction') %>
                      <% end %>
                    <%end%>
                  </td>
              </tr>
            <% end %>
          <%end%>
      </table>

  </div>
  <div id="revert-pop-up">
      <%= "Fees Refunded. You can't revert the transaction!" %>
      <br/>

      <div class="revert_arrow_down"></div>
  </div>
<% end %>
<iframe class="" style="display:block;visibility:hidden;" id="receipt_printer_template_container"></iframe>

<script type="text/javascript">
  MakeBox = function (f) {
      remove_popup_box();
      options = {'submit': '<%=t('revert_transaction')%>', 'cancel': '<%=t('cancel')%>', 'field_name': 'reason', 'input_type': 'text_area', 'title': '<%=t('revert_transaction')%>'};
      build_modal_box(options);
      build_prompt_popup_box('<%=t('reason')%>', options)
      j('#popup_window #popup_footer > #yes').click(function () {
          j.ajax({
              url: '/finance/<%=delete_action%>',
              data: {
                  'id': <%=@student.id%>,
                  'date': <%=@date.id%>,
                  'transaction_id': f,
                  'batch_id': <%=batch_id%>,
                  'reason': j('#popup_content #prompt_value').val(),
              },
              success: function () {
                  remove_popup_box();
              }
          })
      });
  }

</script>
