<script type="text/javascript">
  Element.hide('loader_date');
</script>
<%if @transactions.present?%>
  <div id="payments_details">
      <div class="label-field-pair3">
          <label> </label>
      </div>
      <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
          <tr class="tr-head">
              <td><%= t('sl_no') %></td>
              <% unless params[:transaction_type] == t('payslips') %>
                <td><%= t('payee_name') %></td>
                <td><%= t('receipt_no') %></td>
              <% else %>
                <td><%= t('employee_name') %></td>
              <% end %>
              <td><%= t('amount') %></td>
              <td><%= t('cancelled_by') %></td>
              <td><%= t('reason') %></td>
              <td><%= t('date_text') %> </td>
              <%if params['transaction_type'].nil? or params['transaction_type'] == "" or params['transaction_type']==t('fees_text')%>
                <td ><%= t('fee_collection_name') %></td>
              <%end%>
              <% unless params[:transaction_type] == t('payslips') %>
                <td ><%= t('finance_type') %></td>
              <% end %>
          </tr>
          <tr class="tr-blank"></tr>
          <% @transactions.each_with_index do |f , i| %>
            <tr class="tr-<%= cycle("odd","even") %>">
                <td class="col-1"><%= i +=1 %></td>
                <td class="col-3" style="width:20%">
                    <%=f.payee_name%>
                </td>

                <% unless params[:transaction_type] == t('payslips') %>
                  <td class="col-3" ><%= f.receipt_number%></td>
                <%end%>

                <td class="col-3">
                    <%= precision_label(f.amount) %>
                </td>
                <td class="col-3" style="min-width:85px;"><%= f.user.present?? f.user.full_name  : t('user_deleted') %></td>
                <td class="col-3" style="min-width:85px;"><%= f.cancel_reason.present? ? f.cancel_reason :  "-"  %></td>
                <td class="col-3" ><%= format_date(f.created_at,:format=>:short_date) %></td>
                <%if params['transaction_type'].nil? or params['transaction_type'] == "" or params['transaction_type']==t('fees_text')%>
                  <td class="col-2" ><div class="cancel" ><%= f.collection_name %></div></td>
                <%end%>
                <% unless params[:transaction_type] == t('payslips') %>
                  <td class="col-3" ><%= f.finance_type.underscore.humanize() %></td>
                <% end %>
            </tr>
          <% end %>
      </table>


      <div class="pagination_div"><div class="div1"><%= will_paginate @transactions, :previous_label=>"<", :next_label=>">", :renderer => 'RemoteLinkRenderer' ,:remote => { :loading =>  "$('loader_paginate').show();",:complete =>"$('loader').hide();"  }, :params => {:controller=>:finance,:action => "search_fee_collection",:option=>params[:option],:query=>params[:query]} %></div><div class="div2"><%= image_tag("loader.gif",
                :align => "absmiddle",
                :border => 0,
                :id => "loader_paginate",
                :style =>"display: none;" ) %></div></div>
      <%= link_to t('pdf_report'), {:controller=>:finance,:action => "cancelled_transaction_reports",:option=>params[:option],:query=>params[:query], :report_format_type => "pdf"},:target => '_blank', :class=> 'user_button' %>
      <%= link_to t('csv_report'), {:controller => 'finance', :action => 'cancelled_transaction_reports',:option=>params[:option],:query=>params[:query], :report_format_type => "csv"},:class => 'user_button'%>
  </div>

<%else%>
  <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head">
          <td style="text-align:center;">
              <%=t('no_reverted_transactions_exists')%></td>
      </tr>
  </table>
<%end%>
