<div class="label-field-pair3">
  <label></label>
  <% mode=mode||"" %>
  <div class="text-input-bg3" id="payment"><%= text_field :fees, :payment_mode ,:value=>mode,:class=>"others_payment_mode"%>
  </div>
</div>

