<%- # Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License.      -%>
<div id="flash_box">
</div>
<% unless flash[:notice].nil? %>
  <p class="flash-msg"> <%= flash[:notice] %> </p>
<% end %>


<% form_remote_for :fee_discount, :url => {:action => "student_wise_fee_discount_create"}, :html => {:id => 'form'}, :before => "j('.submit_button').attr('disabled', true);", :complete => "j('.submit_button').attr('value','►#{t('create_text')}');j('.submit_button').attr('disabled', false);" do |form| %>

  <div id="left-form">
    <div class="label-field-pair">
      <label for="reason"><%= t('name') %><span class="necessary-field">*</span></label>

      <div class="text-input-bg"><%= form.text_field :name %></div>
    </div>


    <div class="label-field-pair">
      <label for="reason"><%= t('fee_category') %><span class="necessary-field">*</span></label>

      <div class="text-input-bg">
        <%= select("fee_discount", "finance_fee_category_id", @fee_categories.map { |item| [item.name, item.id] }.sort_by { |x, y| x.downcase }.uniq,
          {:prompt => "#{t('select_category')}"},
          {:onchange => "#{remote_function(:url => {:action => "fee_collection_batch_update"},
            :with => "'id='+value",
            :before => "Element.show('loader1')",
            :success => "Element.hide('loader1')")}"
          }) %>
      </div>
      <div class="loader_div">
        <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader1",
          :style => "display: none;") %>
      </div>
    </div>

    <div id="batchs"></div>


    <div class="label_field_pair">
      <label class="label_for_student_gender" for="is_amount"><%= t('discount_type') %></label>

      <div class="student_gender_value">
        <%= form.radio_button :is_amount, false, :checked => "checked", :class => 'amount_radio' %>
        <label class="label_for_gender" for="is_amount_false"> <%= t('percentage') %></label>
        <%= form.radio_button :is_amount, true, :class => 'percentage_radio' %>
        <label class="label_for_gender" for="is_amount_true"><%= t('amount') %></label>

      </div>
    </div>


    <div class="label-field-pair">
      <label for="reason"><%= t('discount') %><span class="necessary-field">*</span></label>

      <div class="text-input-bg"><%= form.text_field :discount, :class => 'precision_text width-50', :id => 'discount_amount' %>
        <div class="post-symbol">%</div>
      </div>
    </div>
  </div>
  <div id="right-form">
    <div class="student_fee_category_scroll">
      <label class="scroll-head"> <%= "#{t('list_of')} #{t('students')}" %></label>
      <div class="sel-list">
        <%= link_to_function t('all'), "select_all_students('all')" %>
        ,
        <%= link_to_function t('none'), "select_all_students('none')" %>
        <div style="float: right;margin-right: 5px">selected:
          <div id="selected-no" style="float: right">0</div>
        </div>
      </div>
      <div id="all_students">

      </div>
      <div id="insert-div"></div>

    </div>
  </div>

  <%=hidden_field_tag :session_fingerprint, session_fingerprint%>

  <div id="submit-button">
    <%= form.submit "►#{t('create_text')}", :class => 'submit_button', :id => 'submit_button', :disable_with => "► #{t('please_wait')}", :data_disable_with => "► #{t('please_wait')}" %>
  </div>

<% end %>

<script type="text/javascript">
  j('.submit_button').click(function () {
    j('.submit_button').attr('value', j('.submit_button').attr('data_disable_with'));
    j('.submit_button').attr('disabled', true);
  });
  j(document).delegate("#select-batch", 'change', function () {
    var array = get_id_array('.batch_ids')
    if (j.inArray(j(this).find('input').val(), array) == -1) {
      if (j('#id_id').val() == 'student_wise') {
        param = j(this).attr('params')
        send_data = {url: "particular_discount_applicable_students",
          data: {},
          success: function () {
            if(j('#insert-div').children().length>0) {
              j('#right-form').show();
            }
            else
            {
              j('#right-form').hide();
            }

          }}
        send_data['data'][param] = [j(this).find('input').val()]
        j.ajax(send_data)
      }
    }
    else {
      if (j(this).find('input').is(":checked")) {
        j("." + j(this).find('input').val()).find(':input').prop('disabled', true);
        j('#right-form').show();
        j("." + j(this).find('input').val()).show()
      }
      else {

        j("." + j(this).find('input').val()).find(':input').prop('disabled', true);
        j("." + j(this).find('input').val()).find(':checkbox').prop('checked', false);
        j("." + j(this).find('input').val()).hide()
        if (j('#right-form').find('input:enabled').length == 0) {
          j('#right-form').hide();
        }
      }
    }
    j('.students_box').prop('disabled', false);
    selected_number_update();
  })


  j(document).delegate("#fee_discount_finance_fee_category_id", 'change', function () {
    j('#insert-div').html("");
    j('#right-form').hide();
  })
  j(document).delegate('.students_box', 'click', function () {
    if (j('.students_box').is(':checked')) {
      j('.' + j(this).val()).find(':input').prop('disabled', false);
    }
    else {
      j('.' + j(this).val()).find(':input').prop('disabled', true);
      j('.students_box').prop('disabled', false);
    }
    selected_number_update();
  })
  j(document).delegate("#id_id","change",function(){
    j(document).undelegate("#select-batch", "change");
  })

</script>
