<table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
    <% unless @students.blank? %>
      <tr class="tr-head">
          <td><%= t('sl_no') %></td>
          <td><%= t('first_name') %></td>
          <td><%= t('batch') %></td>
          <td><%= t('adm_no') %></td>
          <% if roll_number_enabled? %>
            <td><%= t('roll_no') %></td>
          <% end %>
          <td><%= t('fees_text') %></td>
          <td> </td>
      </tr>
      <tr class="tr-blank"></tr>
      <% @students.each_with_index do |student, i| %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="sl-col"><%= i+1 %></td>
            <td class="col-4"><%=student.fullname%></td>
            <td class="col-4"><%= student.batch_full_name %></td>
            <td class="col-1"><%= student.admission_no %></td>
            <% if roll_number_enabled? %>
              <td class="col-1"><%= student.roll_number.present? ? student.roll_number : "-" %></td>
            <% end %>
            <td class="col-1">
                <%= precision_label(student.fee_due.to_f + 
                    student.total_automatic_finance_fee_fine(@batch_id) + 
                    student.transport_due.to_f + student.hostel_due.to_f) %>
            </td>
            <td style="font-weight: bold">                
                <div class="structure_link">
                    <%= link_to t('view_structure'), {:action => :view_fees_structure, :id => student.id, 
                      :id2 => student.batch_id} %>
                </div>
            </td>
        </tr>
      <% end %>
    <% else %>

      <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-2"><%= t('no_students_found') %></td>
      </tr>
    <% end %>
</table>