<div id="taxes-list">  
    <% i = 0 %>
    <tr class="tr-head" cellpadding="1" cellspacing="1">
        <td class="col-1"></td>
        <td class="col-1 bold_font" colspan="2">
            <span><%= t('tax_text') %></span>
        </td>
    </tr>
    <tr class="tr-blank"></tr>      
    <% @tax_slabs.each_pair do |tax_slab, slab_collections| %>
      <tr class="tr-<%= cycle("odd", "even") %> tax">
          <td class="col-1 normal_font tax_index"><%= i+=1 %></td>
          <td class="col-2 normal_font"><%= "#{tax_slab.name} - &#x200E;(#{precision_label(tax_slab.rate)}%)&#x200E;" %></td>
          <% slab_total = slab_collections.map {|x| precision_label(x.tax_amount).to_f }.sum %>
          <td class="col-6 normal_font"><%= precision_label(slab_total) %></td>
      </tr>
    <% end %>
</div>


