<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('donations') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t(@controller.action_name) %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <%- form_for @additional_field, :url=>{:action=>(@additional_field.new_record? ? "add_additional_details_for_donation" : "edit_additional_details_for_donation")} do |c| -%>

    <%= error_messages_for 'additional_field' %>
    <div id="form-content">
      <div class="label-field-pair">
        <label for="category_name"><%= t('name') %></label>
        <div class="text-input-bg"> <%= c.text_field :name %> </div>
      </div>
      <div class="label-checkbox-pair">
        <label class="status" for="status"><%= t('status') %></label>
        <div id="radio-buttons">
          <%= c.radio_button  "status", "true", :checked => "checked" %>
          <label class="label_for_status" for="add_grade_status_true"><%= t('active') %></label>

          <%= c.radio_button  "status", "false" %>
          <label class="label_for_status" for="add_grade_status_false"><%= t('inactive') %></label>
        </div>
      </div>
      <div class="label-field-pair">
        <div class="label-container"><%= c.label :is_mandatory, t('is_mandatory') %></div>
        <div class="input-container">  <%= c.check_box :is_mandatory %></div>
      </div>
      <div class="label-field-pair">
        <div class="label-container"> <%= c.label :input_type,"#{t('input_method')}" %></div>
        <div class="text-input-bg"><%= c.select :input_type, [["TextBox","text"],["Text Area","text_area"],["Select Box","belongs_to"],["CheckBox","has_many"]] ,{},:class=>"input-type-select"%>
        </div>
      </div>
      <%=hidden_field_tag :session_fingerprint, session_fingerprint%>
      <div class="custom" style="display: none" >
        <% c.fields_for :donation_additional_field_options do |builder| %>
          <%= render "donation_additional_field_option_fields" ,:c=>builder%>
        <% end %>
        <div>
          <%= link_to_add_fields t('add'), c, :donation_additional_field_options  %>
        </div>
      </div>
      <div id="submit-button">
        <% unless @additional_field.new_record? %>
          <%=submit_tag("► #{t('update')}", :disable_with => "► #{t('please_wait')}") %>
          <%= link_to " ► #{t('cancel')}",
            { :action => "add_additional_details"}, :class=> 'user_button' %>
        <% else %>
          <%=submit_tag("► #{t('create_text')}", :disable_with => "► #{t('please_wait')}") %>
        <% end %>
      </div>
    </div>


  <%- end -%>

  <div id="category-list">
    <%= render :partial => "additional_fields_for_donation" %>
  </div>

</div>
<script>
  function add_fields(link, association, content){
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g");
    $(link).up().insert({
      before: content.replace(regexp, new_id)
    });
    if ($$('.input-type-select')!=""){
      $$('.input-type-select').invoke('observe','change',toggle_custom);
    }
  }


  function remove_fields(link){
    //    console.log($(link).previous("input[type=hidden]"));
    $(link).previous("input[type=hidden]").value='1';
    $(link).up(".fields").hide();
  }

  function toggle_custom(val){
    console.log(this)
    console.log(val)
    dest = this.up(2).select('.custom')[0]
    //if(dest != null)
    if((this.value == 'text') || (this.value == 'text_area')){
      dest.hide();
    }
    else{
      dest.show();
    }
    return true;
  }
  document.observe("dom:loaded", function() {
    if ($$('.input-type-select')!=""){
      $$('.input-type-select').invoke('observe','change',toggle_custom);
      $$('.input-type-select').first().fire('change');
      $$('select').each(function(e){
        toggle_custom.call(e);
      });
    }
  });
</script>
