<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<% content_for :head do %>
  <% if rtl? %>
    <%= stylesheet_link_tag 'rtl/finance/advanced_cancelled_transaction_pdf.css' ,:media=>"all"%>
  <%else %>
    <%= stylesheet_link_tag 'finance/advanced_cancelled_transaction_pdf.css' ,:media=>"all"%>
  <% end %>
<% end %>

<% e = 'even' %>
<div id="page-yield" class="available_sections">
    <div class="header">
        <span class="logo header_parts">
            <%if current_school_detail.logo.present?%>
              <%= wicked_pdf_image_tag current_school_detail.logo,:s3=>true,:style=>:original,:timestamp=>false %>
            <%else%>
              <img  alt="Dummy Logo" src="<%=Rails.root.join('public','images','application','dummy_logo.png')%>" ></img>
            <%end%>
        </span>
        <span class="header-content header_parts">
            <p id="school-name"><%=Configuration.get_config_value('InstitutionName'); %></p>
            <p class="institution_address"><%=Configuration.get_config_value('InstitutionAddress'); %></p>
        </span>
    </div>
    <div class="section">
        <div class="hor_line"></div>
        <h2>Cancelled Transactions</h2>
        <div class="hor_line"></div>
        <div class="extender"> </div>
    </div>
    <div  class="section2">
        <div id="score-table">
            <table id="pdf-table" width="100%" cellspacing="0">
                <% if @data_hash[:transactions].empty? %>
                  <tr class="tr-head">
                      <td>No transaction </td></tr>
                <% else %>
                  <thead>
                      <tr class="table-header">
                          <td><%= t('sl_no') %></td>
                          <% unless @data_hash[:transaction_type] == t('payslips') %>
                            <td><%= t('payee_name') %></td>
                            <td><%= t('receipt_no') %></td>
                          <% else %>
                            <td><%= t('employee_name') %></td>
                          <% end %>
                          <td><%= t('amount') %></td>
                          <td><%= t('cancelled_by') %></td>
                          <td><%= t('reason') %></td>
                          <td><%= t('date_text') %> </td>
                          <%if @data_hash[:transaction_type] == "" or @data_hash[:transaction_type] == t('fees_text')%>
                            <td ><%= t('fee_collection_name') %></td>
                          <%end%>
                          <% unless @data_hash[:transaction_type] == t('payslips') %>
                            <td ><%= t('finance_type') %></td>
                          <%end%>
                      </tr>
                  </thead>
                  <%i=0%>
                  <% @data_hash[:transactions].each do |f| %>
                    <tr class="<%= cycle(e,(["odd","even"]-[e]).first) %>">
                        <td class="sl_no"><%= i +=1 %></td>
                        <td class="col-3" style="width:20%">
                            <%=f.payee_name.present? ? f.payee_name : f.other_details.present? ? f.other_details[:payee_name] : '-'%>
                        </td>

                        <% unless @data_hash[:transaction_type] == t('payslips') %>
                          <td class="col-3" ><%= f.receipt_number%></td>
                        <%end%>
                        <td class="subject"><%= precision_label(f.amount) %></td>
                        <td class="subject"><%= f.user.present?? f.user.full_name  : t('user_deleted') %></td>
                        <td class="subject"><%= f.cancel_reason.present? ? f.cancel_reason :  "-" %></td>
                        <td class="subject"><%= format_date(f.created_at,:format=>:short_date) %></td>
                        <%if @data_hash[:transaction_type] == "" or @data_hash[:transaction_type] == t('fees_text')%>
                          <td class="subject"><%= f.collection_name %></td>
                        <%end%>
                        <% unless @data_hash[:transaction_type] == t('payslips') %>
                          <td class="subject"><%= f.finance_type.underscore.humanize() %></td>
                        <%end%>
                    </tr>
                  <% end %>
                <% end %>
            </table>

        </div>
    </div>

</div>