<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%if (rtl?)%>
  <%=stylesheet_link_tag "rtl/gray_table_design"%>
<%else%>
  <%=stylesheet_link_tag "gray_table_design"%>
<%end%>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('finance_transactions') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%=@batch.full_name%> <%= t('fees_report') %></div>

  <% if permitted_to? :fee_receipts, :finance %>
    <div id="inner-tab-menu">
      <ul  style="margin-top: 30px">
        <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('search_receipts')}", :action => "fee_receipts" %></li>
      </ul>
    </div>
  <%end%>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :finance_batch_fees_report,[@fee_collection,@batch,[@start_date,@end_date]] %>
    <%= render_breadcrumbs  %>
  </div>
  <div id="date_filter">
    <%=render :partial =>"filter_dates"%>
  </div>
  <div id="fee_report_div">
    <%=render :partial=>"batch_fees_report" %>
  </div>
</div>
<script>
  j('.date_box').hide();
  j("#show_date").click(function(){
    j(".date_box").show();
    j("#show_date").hide();
  });
  j("#hide_date_filter").click(function(){
    j(".date_box").hide();
    j("#show_date").show();
  });
</script>