<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('transactions') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('compare_transactions') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% unless flash[:warn_notice].nil? %>
    <div id="errorExplanation" class="errorExplanation"><ul><li><%= flash[:warn_notice] %> </li></ul></div>
  <% end %>
  <div class="box">
    <div id="report">
      <% form_for :report, :url => {:action => 'report_compare'} do |form| %>
        <div class="label-field-pair">
          <label>
            <%= t('select_start_date') %>:
          </label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'start_date'%>
          </div>
        </div>
        <div class="label-field-pair">
          <label>
            <%= t('select_end_date') %>:
          </label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'end_date'%>
          </div>
        </div>
        <h4><%= t('compare_with') %> </h4>
        <div class="label-field-pair">
          <label>
            <%= t('select_start_date') %>:
          </label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'start_date2'%>
          </div>
        </div>
        <div class="label-field-pair">
          <label>
            <%= t('select_end_date') %>:
          </label>
          <div class="text-input-bg">
            <%= calendar_date_select_tag 'end_date2'%>
          </div>
        </div>
        <div class="submit-btn" ><%=  link_to_function "► #{t('view_report')}","submit_form();",{:class=>'user_button'} %></div>
      <%end%>
    </div>
  </div>
</div>

<script type="text/javascript">
  function submit_form(){
    url="/finance/report_compare?start_date="+j('#start_date')[0].value+"&end_date="+j('#end_date')[0].value+"&start_date2="+j('#start_date2')[0].value+"&end_date2="+j('#end_date2')[0].value
    window.location.href=url
  }

</script>
