<%if (rtl?)%>
<%=stylesheet_link_tag "rtl/gray_table_design"%>
<%else%>
<%=stylesheet_link_tag "gray_table_design"%>
<%end%>
<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('fee_collections')%></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('fees_report') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= breadcrumb :finance_course_wise_collection_report,[@fee_collection,[@start_date,@end_date]] %>
    <%= render_breadcrumbs  %>
  </div>
  <div id="date_filter"  style="margin-bottom:70px;">
    <%=render :partial =>"filter_dates"%>
  </div>
  <div id="fee_report_div">
        <%=render :partial=>"course_wise_collection_report_partial" %>
  </div>
</div>