<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('donations') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('donation_receipt') %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :finance_donation_receipt, @donation %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  <div class="detail_box">
    <span class="row_">
      <div class="name">
        <%= t('donor') %>
      </div>
      <div class="val">
        <span>:</span>
        <span class="themed_text value"><%= @donation.donor %>&#x200E;</span>
      </div>
    </span>
    <% unless @donation.description.empty? %>
      <span class="row_">
        <div class="name">
          <%= t('description') %>
        </div>
        <div class="val">
          <span>:</span>
          <span class="themed_text value"><%= @donation.description %>&#x200E;</span>
        </div>
      </span>
    <% end %>
    <span class="row_">
      <div class="name">
        <%= t('amount') %>
      </div>
      <div class="val"><span>:</span>
        <span class="themed_text value "><%= precision_label(@donation.amount) %>&#x200E;</span>
      </div>
    </span>
    <span class="row_">
      <div class="name">
        <%= t('receipt_no') %>
      </div>
      <div class="val">
        <span>:</span>
        <span class="themed_text value "><%= @donation.transaction.receipt_number %></span>
      </div>
    </span>
    <% unless  @additional_details.empty? %>
      <% @additional_details.each do |detail| %>
        <% unless detail.additional_info.empty? %>
          <span class="row_">
              <div class="name">
                <%= detail.donation_additional_field.name %>
              </div>
              <div class="val">
                <span>:</span>
                <span class="themed_text value"><%= detail.additional_info.gsub(/\n/, '<br>') unless detail.nil? %>&#x200E;</span>
              </div>
            </span>
          <% end %>
      <% end %>
    <% end %>
  </div>
  <%= link_to "► #{t('print_receipt')}", {:action => 'donation_receipt_pdf', :id => @donation.id}, :format => 'pdf', :target => '_blank', :class=>"user_button" %>
</div>
