<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>



</div>
<div id="page-yield">

  <div class="hor_line"></div>
  <h2><%= t('fees_defaulters_text') %></h2>
  <div class="hor_line"></div>


  <div class="extender"> </div>
  <div class="report">

    <div id ="main_info">
      <h4> <%= "#{t('class')} :"+ " " "#{@batch.full_name}" %></h4>
    </div>
    <div id="pdf-info">
      <table id="pdf-table" width="100%" cellspacing="0">
        <tr class="table-header">
          <% roll_no_enabled = roll_number_enabled? %>
          <td class="col-pdf"><%= t('sl_no') %></td>
          <td class="col-pdf"><%= t('name') %></td>
          <% if  roll_no_enabled %>
            <td class="col-pdf"><%= t('roll_no') %></td>
          <% end %>
          <td class="col-pdf"><%= t('current_batch')%></td>
          <td class="col-pdf"><%= t('amount')%> (<%= @currency_type%>)</td></tr>
        <% index = 0   %>
        <% c = 'even' %>
        <% @defaulters.each do |s| %>

          <% c =cycle('even','odd ') %>
          <tr class="<%= "#{c}" %>">
            <td class="col-pdf"><%= index += 1 %></td>
            <td class="col-pdf"><%= s.full_name %></td>
            <% if  roll_no_enabled %>
              <td class="col-pdf"><%= s.roll_number.present? ? s.roll_number : '-' %></td>
            <% end %>
            <td class="col-pdf"><%= s.batch.full_name %></td>
            <td class="col-pdf"><%= precision_label(s.balance.to_f+@date.fine_to_pay(s).to_f) %></td>
          </tr>
        <% end %>
      </table>
    </div>

  </div>

</div>
