<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('fee_collection_dates') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('view_fee_collection_dates') %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <div id="flash_box"></div>
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  <% unless flash.now[:error].nil? %><div id="errorExplanation" class="errorExplanation"><p><%= flash[:error] %></p></div><% end %>
  <div id="batch">
    <div class="label-field-pair"><label><%= t('select_batch') %> : </label>
      <div class="text-input-bg"> <%= select("id",:id,@batchs.map { |c| [c.full_name, c.id] },
          {:prompt => "#{t('select_batch')}"},
          {:onChange => "#{remote_function(:url => {:action => "fee_collection_dates_batch"},
            :with => "'id='+value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')")}"
          })%>
      </div>
      <div class="loader_div">
        <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader",
          :style =>"display: none;" ) %>
      </div>
    </div>
  </div>
  <div id="fee_collection_dates"></div>
  <div id="modal-box" style="display:none;"></div>

</div>
