<%- # Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License.
-%>
<%= javascript_include_tag("receipt_printer") %>
<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('fees_submission') %></h1>

    <div class='header-sep'>|</div>
    <div class='sub-header'><%= @student.full_name %></div>

</div>
<div id="page-yield">
    <div class="bread_crumb">
        <% if params[:breadcrumb_change] %>
          <% breadcrumb :finance_fees_student_dates_pay_all_fees, @student %>
          <%= render_breadcrumbs %>
        <% else %>
          <% breadcrumb :finance_fees_student_dates, @student %>
          <%= render_breadcrumbs %>
        <% end %>

    </div>

    <div class="label-field-pair">
        <label><%= t('select_fee_collection') %> <%= image_tag("loader.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "loader",
              :style => "display: none;") %></label>

        <div class="text-input-bg">
            <%= select :fees_submission, :dates_id, @dates.map { |e| [e.full_name, e.id] },
              {:prompt => "#{t('select_fee_collection')}"},
              {:onChange => "#{remote_function(:url =>
              {:action => "fees_submission_student"},
              :with => "'date='+value+'&id='+#{@student.id}", :before => "$('loader').show();",
              :success => "$('loader').hide();") }"} %>
        </div>
    </div>
    <input type="hidden" id="fine_amount" value="0">
    <div id="fee_submission">

    </div>
    <div id="fees_detail"> </div>
</div>

<div id="modal-box" style="display:none;"></div>

<script type="text/javascript">
  var user_fine = 0;

  function validate_payment_mode()
  {
      if ($('payment') != null)
      {
          if ($('payment').select('input')[0].value == "")
          {
              alert('<%= "#{t('select_one_payment_mode')}"%>');
              return false;
          }
          else
          {
              return true;
          }
      }
      else
      {
          return true;
      }
  }
  function validate_fine()
  {
      if (isNaN($('fine_fee').value) == false)
      {
          if ($('fine_fee').value <= 0)
          {
              $('fine_fee').value = ""
              alert("Please enter a positive value for fine");
              return false;
          }
          else if ($('fine_fee').value == "")
          {
              alert("Please enter a positive value for fine");
              return false;
          }
          else {
              return true;
          }
      }
      else
      {
          $('fine_fee').value = ""
          alert("Please enter a numeric value for fine");
          return false;
      }
  }
  function prev_double() {
      $('fees_form').setAttribute("onsubmit", "return false")
      $('submit_button').disable();
  }

  function set_back() {
      $('fees_form').removeAttr("onsubmit");
      setTimeout(function () {
      $('submit_button').enable();
    }, 15000);
  }


  function submit_fine(action, student_id, batch_id, c_id) {
      if (j('#fees_fine').val().length > 0) {
          j.ajax({
              url: action,
              data: {"fees[fine]": j('#fees_fine').val(), "student": student_id, "date": c_id, batch_id: batch_id},
              success: (function () {
<%#*j('.details').css({"height":"0px"})%>
              })
          })
      }

      else {
          alert("Please enter a numeric value for fine");
      }
  }
  function create_temporary_fine_data() {
      reference_no = j("#fees_reference_no").val();
      payment_mode = j("#fees_payment_mode").val();
      transaction_date = j("#transaction_date").val();
      payment_note = j("#fees_payment_note").val();
      j('#fine_payment_date').val(transaction_date);
      j('#reference_no').val(reference_no);
      j('#payment_note').val(payment_note);
      j('#payment_mode').val(payment_mode);
  }
  function fine_updation(date) {

      var payment_date = new Date(j('#transaction_date').val()).getTime()
      var due_date = new Date(date).getTime()
      if (j('.cancel-fine').length == 1) {
          var precision = parseInt("<%= @precision %>");
          fine = parseFloat(j('#fine').text())
          fine_amount_updations(fine, 'subtract', precision)
          j('#show-fine').text("")
          j("#fees_amount").removeAttr('tooltip')
          j("#fees_amount").removeAttr('readonly')
          j('#hidden_fine_amount').remove();
          j('#hidden_fine_included').remove();
      }

      if ((payment_date <= due_date)) {

          j('#fine-slab').hide();
      }
      else if (payment_date > due_date) {
          j('#fine-slab').show();
      }
  }

  function fine_amount_updations(fine, operator, precision) {
      fine = parseFloat(fine)
      total_fees = parseFloat(j("#total-fees").text())
      amount_pay = parseFloat(j("#fees_amount").val())

      j("#total-fees").text(add_or_subtract(operator, total_fees, fine).toFixed(precision))
      j("#fees_amount").val(add_or_subtract(operator, amount_pay, fine).toFixed(precision))

  }
  function add_or_subtract(operator, element1, element2) {

      switch (operator) {
          case "add":
              return element1 + element2
          case "subtract":
              return element1 - element2
      }

  }
  j(document).delegate('.particular-or-discount-deletion', 'click', function (e) {
      p_id = j(this).attr('id');
      fee_id = j(this).attr('finance_id');
      action = j(this).attr('target_action');
      render_action = j(this).attr('render_action');
      render_controller = j(this).attr('render_controller');
      var proceed = confirm('<%=t('delete_confirm_msg') %>');
      if (proceed) {
          j.ajax({
              url: '/finance_extensions/' + action,
              data: {id: p_id, finance_fee_id: fee_id, current_action: render_action, current_controller: render_controller}

          });
      }
      e.preventDefault();
  });
</script>