<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<script type="text/javascript">
  var j = jQuery.noConflict();
  document.observe("dom:loaded", function () {
<%#*$$("#right-side-inputs")[0].hide();%>
  });
</script>
<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('fee_particulars') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('create_particular_for_master_fee') %></div>

    <div id="inner-tab-menu">
        <ul>
            <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('master_fees')}", :action=>'master_fees'%></li>
        </ul>
    </div>

</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs  %>
    </div>
    <div id="flash_box">
    </div>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>

    <div id="grading-levels-form">

        <% form_for  :finance_fee_particular,:url =>{:action => 'fees_particulars_create'}  do |f| %>
          <%=error_messages_for 'finance_fee_particular',:header_message=>nil%>
          <div id="left-side-inputs">

              <div class="label-field-pair">
                  <div class="label-container"><label for="name"><%= "#{t('name')}"%><span class="necessary-field">*</span></label></div>
                  <div class="input-container"><%= f.text_field :name %></div>
              </div>

              <div class="label-field-pair">
                  <div class="label-container"><label for="name"><%= "#{t('description')}"%></label></div>
                  <div class="input-container"><%= f.text_field :description %></div>
              </div>
  <%#if @t%>
  <%#*<script>%>
  <%#*v="student"%>
  <%#=remote_function(:url => {:action => "student_or_student_category"},:with => "'select_value='+v")%>
  <%#*</script>%>
  <%#end%>
              <div class="label-field-pair2">
                  <div class="label-container2"><label><%= t('create_using') %></label></div>
                  <div class="input-container2">
                      <div class="opt"><%= radio_button("finance_fee_particular","receiver_type","Batch",
                            {:checked=>@all,:onchange => "#{remote_function(:url => {:action => "student_or_student_category"},
                              :with => "'select_value='+value")}"}) %><%= t('all') %></div>
                      <div class="opt"><%=  radio_button("finance_fee_particular","receiver_type","Student",
                            {:checked=>@student,:onchange => "#{remote_function(:url => {:action => "student_or_student_category"},
                              :with => "'select_value='+value")}"}) %><%= t('admission_no') %></div>
                      <div class="opt"> <%= radio_button("finance_fee_particular","receiver_type","StudentCategory",
                            {:checked=>@category,:onchange => "#{remote_function(:url => {:action => "student_or_student_category"},
                              :with => "'select_value='+value")}"}) %><%= t('student_category') %> </div>
                  </div>
              </div>

              <div id="student">
                  <%if @render%>
                    <%if @student%>
                      <div class="label-field-pair">
                          <div class="label-container">
                              <label> <%= t('admission_number') %><span class="necessary-field">*</span>:</label></div>
                          <div class="input-container"> <%= text_field(:particular,:receiver_id,:value=>params[:particular][:receiver_id]) %></div>
                      </div>
                    <%end%>
                    <%if @category%>
                      <div class="label-field-pair">
                          <div class="label-container"><label><%= t('student_category') %><span class="necessary-field">*</span>:</label></div>
                          <div class="input-container"> <%= select :finance_fee_particular,:receiver_id, @student_categories.map { |c| [c.name, c.id] },
                                {:prompt => "#{t('select_category')}" }%></div></div>
                    <%end%>
                  <%end%>
              </div>

              <div class="label-field-pair">
                  <div class="label-container"><label for="name"><%= "#{t('amount')}"%><span class="necessary-field">*</span></label></div>
                  <div class="input-container"> <%= f.text_field :amount, :class=>'precision_text' %></div>
              </div>

              <% if @tax_enabled %>
                <div class="label-field-pair">
                    <div class="label-container"><label for="name"><%= "#{t('tax_slab_text')}"%></label></div>
                    <div class="input-container">
                        <%= select :finance_fee_particular, :tax_slab_id,
                          @tax_slabs.map {|slab| ["#{slab.name} - #{precision_label(slab.rate)}%", slab.id]}, 
                          {:include_blank => "#{t('select_a_tax_slab')}", :selected => @finance_fee_particular.tax_slab_id} %>
                    </div>
                </div>
              <% end %>
              <div id="submit-area">
                    <%=hidden_field_tag :session_fingerprint, session_fingerprint%>
                    <%=  submit_tag "► #{t('create_text')}",:class=>'submit_button', :disable_with => "► #{t('please_wait')}" %>
                </div>
          </div>
          <div id="right-side-inputs">

              <div class="label-field-pair">
                  <label for="student_course"><%= t('select_a_category') %><span class="necessary-field">*</span> : </label>
                  <div  class="text-input-bg">
                      <%= select :finance_fee_particular, :finance_fee_category_id,
                        @fees_categories.map {|b| [b.name, b.id]},
                        {:prompt => "#{t('select_a_category')}"},{:onChange => "#{remote_function(:url => {:action => "list_category_batch"}, :with => "'category_id='+value",:before => "$('loader').show();",
                        :success => "$('loader').hide();")}"}%></div></div>
              <div class="loader"><%= image_tag("loader.gif",
                    :align => "absmiddle",
                    :border => 0,
                    :id => "loader",
                    :style =>"display: none;" ) %></div>

              <div class="label-field-pair category_list" id="list-category-batch">
                  <%if @render and @batches%>
                    <div class="right-floated">
                        <div class="label-container">
                            <label for="batch_select"><%= t('select_a_batch') %><span class="necessary-field">*</span>:
                                <b class="sel-list">
                                    <%= link_to_function t('all'), "$$('input.category_select').each(function(checkbox) { checkbox.checked = true; });" %>,
                                    <%= link_to_function t('none'), "$$('input.category_select').each(function(checkbox) { checkbox.checked = false; });" %>
                                </b>
                            </label>
                        </div>
                        <div class="categories">

                            <% @batches.each do |c| %>
                              <div class="each_category">
                                  <%= check_box_tag "particular[batch_ids][]", c.id,(@cat_ids.present? and @cat_ids.include?(c.id.to_s)), :class=>"category_select" %> <label><%= "#{c.full_name}" %></label>
                              </div>
                            <% end %>
                        </div>
                    </div>

                  <%end%>
              </div>
          </div>


        <% end %>
    </div>
</div>
