<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%= javascript_include_tag("receipt_printer") %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('fees_submission') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('student_fees_submission') %></div>
  <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background' id="active-batch-link" style="display: none"><%= link_to_function t('show_active_batches'), "show_active_batches()"%></li>
      <li class='themed_bg themed-dark-hover-background' id="inactive-batch-link" ><%= link_to_function t('show_inactive_batches'), "show_inactive_batches()" %></li>
    </ul>
  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <div id="batchs1">
    <% form_for :fees_submission_batch do %>
      <div class="details">
        <div class="each-detail">
          <div id="hide1"><label class="name"><%= t('batch') %></label>
            <div class="val"><div class="text-input-bg val-align"> <%= select :fees_submission, :batch_id, @batches.map { |c| [c.full_name, c.id] },
                  {:prompt => "#{t('select_a_batch')}"},
                  {:onChange => "#{remote_function(:url => {:action => "update_fees_collection_dates"},
                  :with => "'batch_id='+value",
                  :before => "Element.show('loader')",
                  :success => "Element.hide('loader')",
                  :complete=>"show_fee_details()")}"
                }%>
              </div></div>

  <%#=link_to_function "show inactive batches","show_inactive_batches()",{:class=>'user_button'}%>
            <div class="loader_div">
              <%= image_tag("loader.gif",
                :align => "absmiddle",
                :border => 0,
                :id => "loader",
                :style =>"display: none; " ) %>
            </div>
          </div>
        </div>
        <div class="each-detail">
          <div  id="hide2" style="display: none"><label class="name"><%= t('batch') %></label>
            <div class="val"><div class="text-input-bg val-align"> <%= select :fees_submission_inactive, :batch_id, @inactive_batches.map { |c| [c.full_name, c.id] },
                  {:prompt => "#{t('select_a_batch')}"},
                  {:onChange => "#{remote_function(:url => {:action => "update_fees_collection_dates"},
                  :with => "'batch_id='+value",
                  :before => "Element.show('inactive_loader')",
                  :success => "Element.hide('inactive_loader')",
                  :complete=>"show_fee_details()")}"
                }%>
              </div></div>
            <div class="loader_div">
              <%= image_tag("loader.gif",
                :align => "absmiddle",
                :border => 0,
                :id => "inactive_loader",
                :style =>"display: none; " ) %>
            </div>

  <%#=link_to_function "show active batches","show_active_batches()",{:class=>'user_button'}%>
          </div>
        </div>
        <input type="hidden" id="fine_amount" value="0">
        <div class="each-detail">
          <div ><label class="name"><%= t('fee_collection') %></label>
            <div class="val">
              <div class="text-input-bg val-align">
                <div id="fees_collection_dates">
                  <%= render :partial => "fees_collection_dates"  %>
                </div>
              </div>
            </div>
            <div class="loader_div">
              <%= image_tag("loader.gif",
                :align => "absmiddle",
                :border => 0,
                :id => "collection_loader",
                :style =>"display: none; " ) %>
            </div>
          </div>
        </div>

        <div class="each-detail" id="fee_categoy_name" style="display:none">

          <div class="name">
            <%= t('fee_category_name') %>
          </div>
          <div class="val">


            <div class="val-align" id="show_cat_name">

            </div>
          </div>

        </div>
      </div>
    <% end %>


    <div id="fees_detail"> </div>


    <div id="modal-box" style="display:none;"></div>
  </div>
  <div class="extender"></div>
</div>


<script type="text/javascript">
  var user_fine=0;
  document.observe("dom:loaded", function() {
    j('#hide2').hide();
    j('#active-batch-link').hide();
  });
  //j("#files").selectmenu();
  function show_inactive_batches(){
    j('#files').html('').append('<option value="0"><%="#{t('select_fee_collection_date')}"%></option>');
    j('fees_submission_batch_id').value="";
    j('#hide2').show();
    j('#hide1').hide();
    j('#fees_submission_dates_id').find('option').remove().end().append('<option value=""><%="#{t('select_fee_collection_date')}"%></option>');
    j("#fees_detail").hide();
    j("#fee_categoy_name").hide();
    j('#active-batch-link').show();
    j('#inactive-batch-link').hide();
  }

  function show_active_batches(){
    j('#files').html('').append('<option value="0"><%="#{t('select_fee_collection_date')}"%></option>');
    j('fees_submission_inactive_batch_id').value="";
    j('#hide1').show();
    j('#hide2').hide();
    j('#fees_submission_dates_id').find('option').remove().end().append('<option value=""><%="#{t('select_fee_collection_date')}"%></option>');
    j('#inactive-batch-link').show();
    j('#active-batch-link').hide();
    j("#fees_detail").hide();
  j("#fee_categoy_name").hide();
  
  }

  function validate_payment_mode()
  {
    if ($('payment')!=null)
    {
      if ($('payment').select('input')[0].value=="")
      {
        alert('<%= "#{t('select_one_payment_mode')}"%>');
        return false;
      }
      else
      {
        return true;
      }
    }
    else
    {
      return true;
    }
  }
  function validate_fine()
  {
    if(isNaN($('fine_fee').value)==false)
    {
      if($('fine_fee').value <= 0)
      {
        $('fine_fee').value="";
        alert("Please enter a positive value for fine");
        return false;
      }
      else if($('fine_fee').value=="")
      {
        alert("Please enter a positive value for fine");
        return false;
      }
      else{
        return true;
      }
    }
    else
    {
      $('fine_fee').value="";
      alert("Please enter a numeric value for fine");
      return false;
    }
  }
  function prev_double(){
    $('fees_form').setAttribute("onsubmit", "return false");
    $('submit_button').disable();
  }

  function set_back(){
    $('fees_form').removeAttr("onsubmit");
    setTimeout(function(){$('submit_button').enable();},15000);
  }

  j(document).delegate('.particular-or-discount-deletion','click',function(e){
    p_id=j(this).attr('id');
    fee_id=j(this).attr('finance_id');
    action=j(this).attr('target_action');
    render_action=j(this).attr('render_action');
    render_controller=j(this).attr('render_controller');
    var proceed=confirm('<%=t('delete_confirm_msg') %>');
    if (proceed) {
      j.ajax({
        url: '/finance_extensions/'+action,
        data: {id: p_id,finance_fee_id: fee_id,current_action: render_action,current_controller: render_controller}

      });
    }
    e.preventDefault();
  });

  function show_fee_details(){

    if(j('#fees_collection_dates :selected').text()=='<%=t('select_fee_collection_date')%>'){

      j('#fees_detail').html("");
    }
    else
    {
      j('#fees_detail').show();
    }
  }

  function submit_fine(action,student_id,batch_id,c_id){
    if (j('#fees_fine').val().length>0){
      j.ajax({
        url: action,
        data: {"fees[fine]":j('#fees_fine').val(),"student":student_id,"date": c_id ,batch_id: batch_id},
        success: (function(){
<%#*j('.details').css({"height":"0px"})%>
        })
      })
    }

    else{
      alert("Please enter a numeric value for fine");
    }
  }
  function create_temporary_fine_data() {
      reference_no = j("#fees_reference_no").val();
      payment_mode = j("#fees_payment_mode").val();
      transaction_date = j("#transaction_date").val();
      payment_note = j("#fees_payment_note").val();
      j('#fine_payment_date').val(transaction_date);
      j('#reference_no').val(reference_no);
      j('#payment_note').val(payment_note);
      j('#payment_mode').val(payment_mode);
    }
  function fine_updation(date) {

      var payment_date= new Date(j('#transaction_date').val()).getTime();
      var due_date=new Date(date).getTime();
      if (j('.cancel-fine').length == 1) {
          var precision = parseInt("<%= @precision %>");
          fine = parseFloat(j('#fine').text());
          fine_amount_updations(fine, 'subtract', precision);
          j('#show-fine').text("");
          j("#fees_amount").removeAttr('tooltip');
          j("#fees_amount").removeAttr('readonly');
          j('#hidden_fine_amount').remove();
          j('#hidden_fine_included').remove();
      }

      if ( (payment_date <= due_date)) {

          j('#fine-slab').hide();
      }
      else if (payment_date > due_date){
          j('#fine-slab').show();
      }
  }

  function fine_amount_updations(fine, operator, precision) {
      fine = parseFloat(fine);
      total_fees = parseFloat(j("#total-fees").text());
      amount_pay = parseFloat(j("#fees_amount").val());

      j("#total-fees").text(add_or_subtract(operator, total_fees, fine).toFixed(precision));
      j("#fees_amount").val(add_or_subtract(operator, amount_pay, fine).toFixed(precision));

  }
  function add_or_subtract(operator, element1, element2) {

      switch (operator) {
          case "add":
              return element1 + element2;
          case "subtract":
              return element1 - element2;
      }

  }

</script>
