<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('fees_text') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('manage_fees') %></div>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs  %>
    </div>

    <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
    <div class="box">
        <div class="link-box">
            <div class="link-heading"><%= link_to "#{t('create_fees')}  ", :action => "master_fees" %></div>
            <div class="link-descr"><%= t('create_master_fees') %></div>
        </div>

        <div class="link-box">
            <div class="link-heading"><%= link_to "#{t('fees_collection_text')}", :action => "fee_collection" %></div>
            <div class="link-descr"><%= t('creates_new_fee_collecting_dates') %> </div>
        </div>

        <div class="link-box">
            <div class="link-heading"><%= link_to t('fees_text_index'), :controller => "finance" , :action => "fees_submission_index" %> </div>
            <div class="link-descr"><%= t('fees_submission') %></div>
        </div>

        <div class="link-box">
            <div class="link-heading">
                <%= link_to "#{t('fees_structure')}", :controller => "finance_extensions", 
                  :action => "fees_student_structure" %> 
            </div>
            <div class="link-descr"><%= t('displays_fees_structure_for_student') %></div>
        </div>

        <div class="link-box">
            <div class="link-heading"><%= link_to "#{t('fees_defaulters_text')}", :action => "fees_defaulters" %></div>
            <div class="link-descr"><%= t('students_with_fees_dues') %> </div>
        </div>
        <div class="link-box">
            <div class="link-heading"><%= link_to "#{t('fees_refund')}", :action => "fees_refund" %></div>
            <div class="link-descr"><%= t('fees_refund') %> </div>
        </div>

        <div class="link-box">
            <div class="link-heading"><%= link_to "#{t('students_fees_head_wise_report')}" ,:controller=>"report",:action=>'fees_head_wise_report' %></div>
            <div class="link-descr"><%= "#{t('students_fees_head_wise_report_descr')}"  %></div>
        </div>
        <div class="link-box">
            <div class="link-heading"><%= link_to "#{t('fees_receipt_settings')}" ,:controller=>"finance",:action=>'receipt_settings' %></div>
            <div class="link-descr"><%= "#{t('fees_receipt_settings_descr')}"  %></div>
        </div>


        <!-- Instant Fees -->

        <% FedenaPlugin::ADDITIONAL_LINKS[:instant_fees_index_link].each do |mod| %>
          <%  if can_access_request? "#{mod[:destination][:action]}".to_sym,"#{mod[:destination][:controller]}".to_sym %>
            <div class="link-box">
                <div class="link-heading"><%= link_to "#{t("#{mod[:title]}")}",mod[:destination] %></div>
                <div class="link-descr"><%= "#{t("#{mod[:description]}")}" %></div>
            </div>
          <% end %>
        <% end %>
    </div>
</div>
