<% content_for :head do  %>
  <%= stylesheet_link_tag(*get_stylesheet_for_receipt_template(@template_name)) %>
  <%= javascript_include_tag("receipt_printer") %>
<% end %>
<% @fts_hash.each do |k,v| %>
  <%= render :partial => get_receipt_partial(@template_name),:locals=>{:k=>k,:v=>v} %>
  <%#= get_receipt_partial(@template) %>
<% end %>
<script type="text/javascript">
  j('section:empty').remove();
  j.map( j("section"), function( val, i ) {
    if(val.innerHTML.trim()=="") {
      val.remove();
    }
  });
  j(document).ready(function () {
   });
  <% if ReceiptPrinter.receipt_printer_header_type ==1 %>
    j(".receipt-header").css("height","<%= ReceiptPrinter.receipt_printer_header_height %>mm");
    j("#pdf-header").css("height","<%= ReceiptPrinter.receipt_printer_header_height %>mm");
    j(".receipt-header").empty();
    j("#pdf-header").empty();
  <% end %>
</script>
