<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('finance_reports') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('finance_reports') %></div>



</div>


<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs  %>
    </div>
    <div class="box">

        <div class="link-box">
            <div class="link-heading"><%= link_to "#{t('transaction_report')}", :action => "monthly_report" %></div>
            <div class="link-descr"><%= t('view_income_and_expense_transactions_for_all_accounts') %></div>
        </div>


        <div class="link-box">
            <div class="link-heading"><%= link_to "#{t('compare_transactions')}", :action => "compare_report" %></div>
            <div class="link-descr"><%= t('compare_financial_transactions_of_two_different_periods') %></div>
        </div>

        <div class="link-box">
            <div class="link-heading"><%= link_to "#{t('fee_receipts')}", :action => "fee_receipts" %></div>
            <div class="link-descr"><%= t('fee_receipts_desc') %></div>
        </div>

        <% if @tax_enabled %>
          <div class="link-box">
              <div class="link-heading">
                  <%= link_to "#{t('tax_report')}", :controller => "finance_extensions", :action => "tax_report" %>
              </div>
              <div class="link-descr"><%= t('finance_tax_report_description') %></div>
          </div>
        <% end %>
    </div>
</div>