<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('incomes') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('income_list') %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <div class="box">
    <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
    <% form_for :report, :url => {:action => 'income_list_update'},:html=>{:method=>:get} do |form| %>
      <div class="label-field-pair">
        <label><%= t('select_start_date') %>:</label>
        <div class="input-container"><%= calendar_date_select_tag 'start_date', I18n.l(FedenaTimeSet.current_time_to_local_time(Time.now).to_date,:format=>:default), :year_range => 20.years.ago..0.years.ago,:popup=>:force %></div>
      </div>
      <div class="label-field-pair">
        <label><%= t('select_end_date') %>: </label>
        <div class="input-container"><%= calendar_date_select_tag 'end_date',I18n.l(FedenaTimeSet.current_time_to_local_time(Time.now).to_date,:format=>:default), :year_range => 20.years.ago..0.years.ago,:popup=>:force %></div>
      </div>

      <%=  submit_tag "► #{t('ok')}",:class=>'submit_button' %>
    <%end%>

  </div>

</div>
