<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('finance_text') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('manage_finance') %></div>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs  %>
    </div>
    <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>

    <div class="box">

        <div class="link-box">
            <div class="link-heading"><%= link_to "#{t('fees_text')}", :action => "fees_index" %> </div>
            <div class="link-descr"><%= "#{t('fees_text')} #{t('control')}" %></div>
        </div>

        <div class="link-box">
            <div class="link-heading"><%= link_to "#{t('category')}", :action => "categories" %> </div>
            <div class="link-descr"><%= t('manage_category') %></div>
        </div>

        <div class="link-box">
            <div class="link-heading"><%= link_to "#{t('transactions')}", :action => "transactions" %> </div>
            <div class="link-descr"><%= "#{t('manage')} #{t('transactions')}" %></div>
        </div>

        <div class="link-box">
            <div class="link-heading"><%= link_to "#{t('donations')}", :action => "donations" %></div>
            <div class="link-descr"><%= t('creates_new_donations') %></div>
        </div>

        <% unless @hr.nil? %>
          <div class="link-box">
              <div class="link-heading"><%= link_to "#{t('employee_payslip_management')}", :action => "payslip_index" %></div>
              <div class="link-descr"><%= t('employee_payslip_management_desc') %></div>
          </div>
        <% end %>
        <div class="link-box">
            <div class="link-heading"><%= link_to "#{t('finance_reports')}", :action => "finance_reports" %></div>
            <div class="link-descr"><%= t('show_transactions') %></div>
        </div>

        <div class="link-box">
            <div class="link-heading"><%= link_to "#{t('asset_liability_management')}", :action => "asset_liability" %></div>
            <div class="link-descr"><%= t('asset_liability') %> <%= t('management') %></div>
        </div>

        <% if @tax_enabled %>
          <div class="link-box">
              <div class="link-heading">
                  <%= link_to "#{t('finance_tax')}", :controller => "finance", :action => "tax_index" %>
              </div>
              <div class="link-descr"><%= t('finance_tax_description') %></div>
          </div>
        <% end %>

    </div>
</div>
