<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('asset_liability_management') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('liability') %></div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <div id="flash_box">
  </div>
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  <div class="box">
  <div class="link-box">
    <div class="link-heading">
         <%= link_to_remote t('create_text'), :url => { :action => 'new_liability'} %>
    </div>
    <div class="link-descr"><%= t('create_new_liability') %></div>
  </div>

  <div class="link-box">
    <div class="link-heading"><%= link_to "#{t('view')}", :action => "view_liability" %> </div>
    <div class="link-descr"><%= t('liability_view') %></div>
  </div>

  <div id="modal-box" style="display:none;"></div>
</div>
</div>
