<%- # Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License.  -%>

<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('fees_submission') %></h1>

    <div class='header-sep'>|</div>
    <div class='sub-header'><%= @student.full_name %></div>
</div>

<div id="page-yield">

    <div class="bread_crumb">
        <% breadcrumb :finance_pay_fees_defaulters, @student %>
        <%= render_breadcrumbs %>
    </div>
    <div id="modal-box" style="display:none;"></div>
    <% unless flash[:notice].nil? %>       
        <p class="flash-msg"> <%= flash[:notice] %> </p>      
    <% end %>
    <% unless flash[:warn_notice].nil? %>
      <div id="errorExplanation" class="errorExplanation"><p><%= t('there_were_pblm') %></p>
          <ul>
              <li><%= flash[:warn_notice] %></li>
          </ul>
      </div>
    <% end %>
    <div class="main_info">
        <div class="details">
            <% unless @fee_category.nil? %>
              <div class="name">
                  <%= t('fee_category_name') %>
              </div>
              <div class="val">
                  <span>:</span>

                  <div class="val-align">
                      <%= @fee_category.name.capitalize %>
                  </div>
              </div>
            <% end %>
            <% unless @student.student_category.nil? %>
              <div class="name">
                  <%= t('student_category') %>
              </div>
              <div class="val">
                  <span>:</span>

                  <div class="val-align">
                      <%= @student.student_category.name.capitalize %>
                  </div>
              </div>
            <% else %>
              <div class="name">
                  <%= t('student_category') %>
              </div>
              <div class="val">
                  <span>:</span>

                  <div class="val-align">
                      <%= t('n_a') %>
                  </div>
              </div>
            <% end %>
            <div class="name">
                <%= t('fees_collection_date_name') %>
            </div>
            <div class="val">
                <span>:</span>

                <div class="val-align">
                    <%= @date.name.capitalize %>
                </div>
            </div>
        </div>
        <% total_fees =0 %>
        <% unless @particular_wise_paid %>
          <%unless @payer_type.present? and @payer_type=="Archived Student"%>
            <% unless @financefee.is_paid or (@total_payable-@total_discount==0) %>
              <%= render :partial => 'defaulters_fine_submission' if @fine.blank? || @fine.zero? %>
            <% end %>
          <%end%>
        <%end%>
        <div class="height-fixer"></div>        
        <div class="extender"></div>
        <% form_for :fees, :url => {:action => 'pay_fees_defaulters', :student => @student.id, :date => @date.id, :fine => @fine, :special_fine => @fine_amount, :batch_id => @batch.id}, :html => {:id => "fees_form", :onSubmit => "return validate_payment_mode();"} do |form| %>
          <% unless @fee_particulars.nil? %>

            <input type="hidden" id="fine_amount" value="0">
            <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
                <tr class="tr-head">
                    <td><%= t('sl_no') %></td>
                    <td><%= t('particulars') %></td>
                    <td><%= t('amount') %> (<%= currency %>)</td>
                </tr>
                <% i = 0 %>
                <tr class="tr-blank"></tr>
                <%= render :partial => 'particular_list' %>
                <% unless @total_discount == 0 %>
                  <tr class="tr-blank"></tr>
                  <tr class="tr-blank"></tr>
                  <tr class="tr-head" cellpadding="1" cellspacing="1">
                      <td class="col-1"></td>
                      <td class="col-1" colspan="2"><span><%= t('discount') %> </span></td>
                  </tr>
                <% end %>
                <%= render :partial => 'discount_list', :locals => {:i => i, :total_fees => total_fees} %>
                <% if @financefee.tax_enabled? and @financefee.tax_collections.present? %>
                  <%= render :partial => 'tax_list', :locals => {:i => i, :total_tax => total_fees } %>          
                <% end %>
                <% total_fine=0 %>
                <% unless @fine.nil? %>
                  <% if total_fine==0 %>
                    <tr class="tr-blank"></tr>
                    <tr class="tr-head" cellpadding="1" cellspacing="1">
                        <td class="col-1"></td>
                        <td class="col-1 bold_font" colspan="2"><span><%= t('fine') %></span></td>
                    </tr>
                    <tr class="tr-blank"></tr>
                  <% end %>
                  <tr class="tr-<%= cycle("odd", "even") %>">
                      <td class="col-1 normal_font"><%= i+=1 %></td>
                      <td class="col-2 normal_font"><span><%= t('fine_on') %> <%= format_date(Date.today) %></span></td>
                      <td class="col-6 normal_font">
                          <%= precision_label(@fine.to_f) %>
                          <% total_fine=total_fine+@fine.to_f %>
                      </td>
                  </tr>
                  <% total_fees += @fine.to_f %>
                <% end %>
                <% total_fees1=total_fees %>
                <% if @paid_fees %>


                  <% unless @paid_fees.blank? %>
                    <% @paid_fees.each do |trans| %>
                      <% if trans.fine_included %>
                        <% if total_fine==0 %>
                          <tr class="tr-blank"></tr>
                          <tr class="tr-head" cellpadding="1" cellspacing="1">
                              <td class="col-1"></td>
                              <td class="col-1 bold_font" colspan="2"><span><%= t('fine') %></span></td>
                          </tr>
                          <tr class="tr-blank"></tr>
                        <% end %>
                        <tr class="tr-<%= cycle("odd", "even") %>">
                            <td class="col-1 normal_font"><%= i+=1 %></td>
                            <td class="col-2 normal_font">
                                <span><%= t('fine_on') %> <%= format_date(trans.transaction_date) %></span></td>
                            <td class="col-6 normal_font">
                                <%= precision_label(trans.fine_amount) %>
                                <% total_fine=total_fine+trans.fine_amount %>
                            </td>
                        </tr>
                        <% total_fees += trans.fine_amount.to_f %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
                <% unless @financefee.is_paid %>
                  <% if @fine_rule %>
                    <% if total_fine==0 %>
                      <tr class="tr-blank"></tr>
                      <tr class="tr-head" cellpadding="1" cellspacing="1">
                          <td class="col-1"></td>
                          <td class="col-1 bold_font" colspan="2"><span><%= t('fine') %></span></td>
                      </tr>
                      <tr class="tr-blank"></tr>
                    <% end %>
                    <tr class="tr-<%= cycle("odd", "even") %>">
                        <td class="col-1 normal_font"><%= i+=1 %></td>
                        <td class="col-2 normal_font">
                            <span><%= t('fine_on') %> <%= format_date(@date.due_date.to_date+@fine_rule.fine_days.days) %><%= discount_text = @fine_rule.is_amount ? "" : " (#{@fine_rule.fine_amount}&#x200E;%)" %></span>
                        </td>
                        <td class="col-6 normal_font">
                            <%= precision_label(@fine_amount) %>
                            <% total_fine=total_fine+@fine_amount %>
                        </td>
                    </tr>
                  <% end %>
                <% end %>
                <% balance=@financefee.balance.to_f+@fine.to_f %>
                <%= render :partial => 'summary', :locals => {:total_fine => total_fine} %>
                <% unless precision_label(balance+@fine_amount.to_f).to_f <= 0 %>
                  <tr>
                      <td colspan="3">
                          <%unless @payer_type.present? and @payer_type=="Archived Student"%>
                            <div class="payment_details">
                                <div class="label-field-pair3">
                                    <label><%= t('payment_mode') %>  <%= image_tag("loader.gif",
                                          :align => "absmiddle",
                                          :border => 0,
                                          :id => "loader1",
                                          :style => "display: none;") %></label>

                                    <div class="text-input-bg3">
                                        <%= select :fees, :payment_mode, [["#{t('cash')}", "Cash"],["#{t('online_payment')}", "Online Payment"],["#{t('cheque')}", "Cheque"],["#{t('dd')}","DD"],["#{t('others')}", "Others"]], {:selected=>params[:payment_mode]}, {:onChange => "#{remote_function(:url => {:action => "select_payment_mode"},
                                          :with => "'payment_mode='+value", :before => "$('loader1').show();",
                                          :success => "$('loader1').hide();")}"} %>
                                    </div>
                                </div>
                                <div id="payment_mode">
                                    <div id="payment_mode_details">
                                        <% if params[:payment_mode]=='Others'%>
                                          <%=render :partial=>'select_payment_mode',:locals=>{:mode=> params[:others_payment_mode]} %>
                                        <% end %>
                                    </div>
                                </div>
                                <div class="label-field-pair5">
                                    <label><%= t('reference_no') %> </label>

                                    <div class="text-input-bg4">
                                        <%= form.text_field :reference_no,:value=>params[:reference_no], 
                                          :disabled => @particular_wise_paid%>
                                    </div>
                                </div>
                                <div class="label-field-pair4">
                                    <label><%= t('amount') %> </label>

                                    <div class="text-input-bg4">
                                        <%= form.text_field :fees_paid, :value => 
                                          precision_label(balance+@fine_amount.to_f), :class => 'precision_text', 
                                          :disabled => @particular_wise_paid %>
                                        <%= hidden_field_tag :total_fees, total_fees1 %>
                                    </div>
                                </div>
                            </div>
                          <%end%>
                      </td>
                  </tr>
                <% end %>
                <tr>
                    <td colspan="3">
                        <div class="pay_fees">
                            <%unless @payer_type.present? and @payer_type=="Archived Student"%>

                              <% unless @financefee.is_paid %>
                                <%= transaction_date_field(@transaction_date,{:onchange=>"change_transaction_date();"});
                              %>
                                <div class="label-field-pair3-text-area">
                                    <label><%= t('payment_notes') %> </label>

                                    <div class="textarea-input-bg3">
                                        <%= form.text_area :payment_note, :cols => 50, :rows => 1,
                                          :value=>params[:payment_note], :disabled => @particular_wise_paid %>
                                    </div>
                                </div>
                                <%=hidden_field_tag :session_fingerprint, session_fingerprint%>
                                <div class="pay_fees_buttons">
                                    <% unless @particular_wise_paid %>
                                      <%= submit_tag "► #{t('pay_fees')}", :class => 'submit_button', 
                                        :id => 'submit_button' %>
                                    <% end %>
                                    <%= link_to "► #{t('print_summary')}",
                                      {:controller => "finance", :action => "student_fee_receipt_pdf", 
                                      :id => @student.id, :id2 => @date.id, :page_height => 1000}, 
                                      :target => '_blank', :class => 'user_button' unless @trans.nil? %>
                                    <%= link_to "► #{t('print_summary')}",
                                      {:controller => "finance", :action => "student_fee_receipt_pdf", 
                                      :id => @student.id, :id2 => @date.id, :batch_id => @student.batch_id}, 
                                      :target => '_blank', :class => 'user_button' %>
                                </div>
                              <% else %>
                                <div class="pay_fees_buttons">
                                    <h4><%= t('fees_paid') %></h4>
                                    <%= link_to "► #{t('print_summary')}",
                                      {:controller => "finance", :action => "student_fee_receipt_pdf", 
                                      :id => @student.id, :id2 => @date.id, :batch_id => @student.batch_id}, 
                                      :target => '_blank', :class => 'user_button' %>
                                </div>
                              <% end %>
                            <%end%>
                        </div>
                    </td>
                </tr>
    <%#*<tr>%>
    <%#*<td colspan="3">%>
    <%# unless @paid_fees.nil? or not total_fees.to_f == 0 %>
    <%#= link_to "► #{t('print_receipt')}",
    {:controller => "finance", :action => "student_fee_receipt_pdf", :id => @student.id, :id2=>@date.id},:target => '_blank', :class=> 'user_button' %>
    <%# end %>
    <%#*</td>%>
    <%#*</tr>%>
              <% end %>
          </table>
        <% end %>
        <%= render :partial => 'paid_fees', :locals => {:batch_id => @batch.id, :delete_action => 'delete_transaction_fees_defaulters'} %>

    </div>
</div>
<script type="text/javascript">
  j('#fees_payment_mode').change(function () {
      switch (j(this).val()) {
          case 'Online Payment' :
              j('.label-field-pair5').children().first().text("<%=t('transaction_id')%>");
              break;
          case 'Cheque' :
              j('.label-field-pair5').children().first().text("<%=t('cheque_no')%>");
              break;
          case 'DD' :
              j('.label-field-pair5').children().first().text("<%=t('dd_no')%>");
              break;
          default :
              j('.label-field-pair5').children().first().text("<%=t('reference_no')%>");
              break;
      }
  });
  function validate_payment_mode() {
      $("fees_form").setAttribute("onsubmit", "return false");
      button = document.getElementById('submit_button');
      if ($('payment') != null) {
          if ($('payment').select('input')[0].value == "") {
              alert('<%= "#{t('select_one_payment_mode')}"%>');
              return false;
          }
          else {
              button.value = '<%= "► #{t('please_wait')}"%>';     //
              button.disabled = true;                               //prevent double click
              return true;

          }
      }
      else {
          button.value = '<%= "► #{t('please_wait')}"%>';       //
          button.disabled = true;                                 //prevent double click
          return true;
      }
  }
  function validate_fine() {
      if (isNaN($('fine_fee').value) == false) {
          if ($('fine_fee').value <= 0) {
              $('fine_fee').value = ""
              alert("Please enter a positive value for fine");
              return false;
          }
          else if ($('fine_fee').value == "") {
              alert("Please enter a positive value for fine");
              return false;
          }
          else {
              return true;
          }
      }
      else {
          $('fine_fee').value = ""
          alert("Please enter a numeric value for fine");
          return false;
      }
  }

  j("#submit_button").click(function (e) {
      var precision = parseInt("<%= @precision %>");
      amount_paying = parseFloat(j("#fees_fees_paid").val())
      payment_done = parseFloat(j(".payment_done").text())
      amount_to_pay = parseFloat(j(".amount_to_pay").text())
      total_fees = parseFloat(j(".total_fees").text())
      if ((amount_paying > (total_fees - payment_done)) && amount_paying != amount_to_pay) {
          alert("can't do partial payment for fine")
          j("#fees_fees_paid").val(amount_to_pay.toFixed(precision))
          e.preventDefault();
      }

  });
  function change_transaction_date() {
      fine_amount = j("#fine_fee").val();
      reference_no = j("#fees_reference_no").val();
      payment_mode = j("#fees_payment_mode").val();
      payment_note = j("#fees_payment_note").val();
      others_payment_mode = j('.others_payment_mode').val()
      window.location = "/finance/pay_fees_defaulters/<%= @student.id %>?batch_id=<%= @batch.id %><%= '&fine=' + @fine.to_s if @fine %>&date=<%= @date.id%>&transaction_date=" + j('#transaction_date').val() + '&reference_no=' + reference_no + '&payment_mode=' + payment_mode + '&payment_note=' + payment_note + '&others_payment_mode=' + others_payment_mode;
  }
  function create_temporary_fine_data() {
      fine_amount = j("#fine_fee").val();
      payment_note = j("#fees_reference_no").val();
      payment_mode = j("#fees_payment_mode").val();
      transaction_date = j("#transaction_date").val();
      reference_no = j("#fees_payment_note").val();
      j("#fine_amount").val(fine_amount);
      j('#fine_transaction_date').val(transaction_date);
      j('#fine_reference_no').val(reference_no);
      j('#fine_payment_note').val(payment_note);
      j('#fine_payment_mode').val(payment_mode);

  }
</script>
