<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('finance_text') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('employee_payslip_management') %></div>
</div>
<div id="page-yield">
   <div class="bread_crumb">
    <%= make_breadcrumb %>
    <%= render_breadcrumbs  %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    <% if permitted_to? :approve_payslips , :employee_payslips %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('approve_payslips')}", :controller=>"employee_payslips", :action=>"approve_payslips" %></div>
        <div class="link-descr"><%= "#{t('approve_payslips_desc')}" %></div>
      </div>
    <% end %>

    <% if permitted_to? :payslip_for_payroll_group , :employee_payslips %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('payslip_for_payroll_group')}", :controller=>"employee_payslips", :action=>"payslip_for_payroll_group", :finance => 1 %></div>
        <div class="link-descr"><%= "#{t('payslip_for_payroll_group_finance_desc')}" %></div>
      </div>
    <% end %>

    <% if permitted_to? :payslip_for_employees , :employee_payslips %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('payslip_for_employees')}", :controller=>"employee_payslips", :action=>"payslip_for_employees", :finance => 1 %></div>
        <div class="link-descr"><%= "#{t('payslip_for_employee_finance_desc')}" %></div>
      </div>
    <% end %>

    <% if permitted_to? :index , :payroll_groups %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('payroll_groups').titleize}", :controller=>"payroll_groups", :action=>"index", :finance => 1 %></div>
        <div class="link-descr"><%= "#{t('payroll_groups_finance_desc')}" %></div>
      </div>
    <% end %>
    <% if permitted_to? :view_monthly_payslip, :finance %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('payslip_report')}", :controller => "finance", :action => "view_monthly_payslip" %></div>
        <div class="link-descr"><%= t('payslip_reports_desc') %></div>
      </div>
    <% end %>

    <% if permitted_to? :index, :hr_reports %>
      <div class="link-box">
        <div class="link-heading"><%= link_to t('advanced_payslip_reports'), :controller => "hr_reports", :action => "index" %></div>
        <div class="link-descr"><%= t('advanced_payslip_reports_desc') %></div>
      </div>
    <% end %>
  </div>
</div>
