<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>



</div>
<div id="page-yield">

  <div class="hor_line"></div>
  <h2><%= t('fees_structure') %></h2>
  <div class="hor_line"></div>


  <div class="extender"> </div>
  <div class="report">
    <div id ="main_info">
     <div class="col-a">
      <h4> <%= "#{t('name')}: #{@student.full_name} " %></h4>
      <h4> <%= "#{t('admission_no')} : #{@student.admission_no}" %></h4>
      <% if roll_number_enabled? %>
        <h4> <%= "#{t('roll_no')}" %> : <%= @student.roll_number.present? ? @student.roll_number : "-" %></h4>
      <% end %>
      <h4> <%= "#{t('fee_collection_name')}: #{@date.name} " %></h4>
      </div>
      <div class="col-b">
        <h4> <%= "#{t('fee_category_name')}: #{@fee_category.name} " %></h4>
        <h4> <%= "#{t('start_date')}: #{format_date(@date.start_date)} " %></h4>
        <h4> <%= "#{t('due_date')}: #{format_date(@date.due_date)} " %></h4>
      </div>
    </div>
    <div class="section">
      <table id="pdf-table" width="100%" cellspacing="0">
        <tr class="table-header">
          <td class="mark-td"><%= t('sl_no') %></td>
          <td class="name-td"><%= t('particulars') %></td>
          <td class="mark-td"> <%= "#{t('amount')}(#{@currency_type.to_s})" %></td>
        </tr>
        <% k=7 %>
        <% i = 0 %>
        <% c= 'even' %>
        <% total_fees=0 %>
        <% @fee_particulars.each do |fee| %>
            <tr class="<%= cycle(c, (["odd", "even"]-[c]).first) %>">
              <td class="mark-td"><%= i+=1 %></td>
              <% k+=1 %>
              <td class="name-td"><%= fee.name %></td>
              <td class="mark-td">&nbsp;<%= "#{precision_label(fee.amount.to_s)}" %></td>
            </tr>
            <% total_fees += fee.amount %>
        <% end %>

        <% unless @total_discount == 0 %>
            <tr class="tr-blank"></tr>
            <tr class="tr-blank"></tr>
            <tr class="table-header">
              <% k+=1 %>
              <td></td>
              <td class="col-1" colspan="2"><span class="space"><%= t('discount') %></span></td>
            </tr>
            <% k=0 %>
            <% @discounts.each_with_index do |d, k| %>

                <tr class="<%= cycle(c, (["odd", "even"]-[c]).first) %>">
                  <% if d.master_receiver_type=='FinanceFeeParticular' %>
                      <% net_amount=d.master_receiver.amount %>
                      <% discount_name= d.is_amount == false ? "#{shorten_string(d.name, 20)}-#{d.discount}%(#{d.master_receiver.name})" : shorten_string(d.name, 20) %>
                  <% else %>
                      <% discount_name= d.is_amount == false ? "#{shorten_string(d.name, 20)}(#{d.discount}%)" : shorten_string(d.name, 20) %>
                      <% net_amount=@total_payable %>
                  <% end %>
                  <td class="mark-td"><%= k+=1 %></td>
                  <td class="name-td"><%= discount_name %></td>
                  <td class="mark-td"><%= precision_label(net_amount * d.discount.to_f/ (d.is_amount? ? net_amount : 100)) %></td>
                </tr>
            <% end %>

        <% end %>



        <tr class="tr-blank"></tr>
        <tr class="table-header">
          <td></td>
          <td class="col-1" colspan="2"><span class="space"><%= t('summary') %></span></td>
        </tr>
        <tr class="tr-blank"></tr>

        <tr class="<%= cycle(c, (["odd", "even"]-[c]).first) %>">
          <td class="col-1">1</td>
          <td class="name-td"><%= "#{t('total')} #{t('particular')} #{t('fees_text')}" %></td>
          <td class="col-6"><%= "#{precision_label(@total_payable)}" %></td>
        </tr>


        <% total_fees = (@total_payable-@total_discount) %>
        <tr class="<%= cycle(c, (["odd", "even"]-[c]).first) %>">
          <td class="col-1">2</td>
          <td class="name-td"><%= t('total_discount') %></td>
          <td class="col-6"><%= precision_label(@total_discount) %></td>
        </tr>

        <tr class="<%= cycle(c, (["odd", "even"]-[c]).first) %>">
          <% k+=1 %>
          <td class="col-1">3</td>
          <td class="name-td" ><%= t('total_fees') %></td>
          <td class="col-6"><%= precision_label(total_fees) %></td>
        </tr>

        <% if ((k+1)%1)==0 %>
            </table>
            </center>
            </div>
            <div class="section">
              <center>

                <table id="pdf-table" width="100%">

        <% end %>
        </table>
        </div>
        </div>
  </div>

</div>






