<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>






<div id="page-yield" class="available_sections">
  <div class="plot">
    <center>
      <div class="hor_line"></div>

      <h2><%= t('fees_refund') %></h2>

      <div class="hor_line"></div>
      <div class="extender"> </div>
    </center>
    <div id ="main_info">
      <div class="col-a" style ="width:45%;float:left;">
        <h4 style="width:405px;"></h4>
      </div>
    </div>

  </div>
  <div class="plot" >
    <table id="pdf-table" width="100%" cellspacing="0">
      <tr class="table-header">
        <td class="sl_no-td"><%= t('sl_no') %></td>
        <td class="student_name-td"><%= t('student_name') %></td>
        <td class="amount-td"> <%= t('amount') %></td>
        <td class="date-td"><%= t('date_text') %></td>
        <td class="collection-td"><%= t('fee_collection') %></td>
        <td class="refund_by-td"><%= t('refund_done') %></td>
        <td class="voucher_no-td"><%= t('voucher_no') %></td>
      </tr>
    </table>
    <% i = 0  %>
    <% c= 'even' %>
    <% @refunds.each do |fee| %>
      <% unless fee.finance_transaction.nil? %>
        <table id="pdf-table"width="100%" class="plot">
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="sl_no-td"><%= i+=1 %></td>
            <td class="student_name-td"><%= fee.finance_transaction.student_payee.full_name %></td>
            <td class="amount-td"><%=precision_label(fee.amount.to_s).to_f  %></td>
            <td class="date-td"><%= format_date(fee.created_at,:format=>:short_date) %></td>
            <td class="collection-td"><%= fee.refund_rule.present?? fee.refund_rule.finance_fee_collection.name : "#{t('no_fee_collection_present')}"  %></td>
            <td class="refund_by-td"><%= fee.refunded_by %></td>
            <td class="voucher_no-td"><%= fee.finance_transaction.voucher_no %></td>
          </tr>
        </table>
      <% end %>
    <% end %>








  </div>


</div>



