<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('finance_text') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('finance_tax_label') %></div>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs  %>
    </div>

    <% unless @tax_enabled %>
      <p class="flash-msg"><%= flash[:notice] %></p>
    <% else %>    
      <div class="box">
          <div class="link-box">
              <div class="link-heading"><%= link_to "#{t('tax_slabs_text')}  ", :controller => :tax_slabs, :action => "index" %></div>
              <div class="link-descr"><%= t('manage_tax_slabs') %></div>
          </div>
          
          <div class="link-box">
              <div class="link-heading"><%= link_to "#{t('tax_settings')}  ", :action => "tax_settings" %></div>
              <div class="link-descr"><%= t('manage_tax_settings') %></div>
          </div>
      </div>
    <% end %>
</div>
