<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('deleted_transactions') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('advanced_search_text') %></div>

</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs  %>
    </div>
    <% unless flash[:notice].nil? %>
      <div class="show-msg"><div class="flash-msg"><%#= flash[:notice] %></div> </div>
    <% end %>
    <% unless params[:search] %>
      <div id="search-form">
          <% form_for :search,:url=>{:action=>"transactions_advanced_search"} do |f| %>
            <div class="label-field-pair">
                <label for="name"><%= t('student_name') %></label>
                <div class="text-input-bg">
                    <%= f.text_field :first_name%>
                </div>
            </div>

            <div class="label-field-pair">
                <label for="student_admission_no"><%= t('admission_number') %></label>
                <div class="text-input-bg">
                    <%= f.text_field :admission_no %>
                </div>
            </div>
            <div class="label-field-pair">
                <label for="name"><%= t('employee_name') %></label>
                <div class="text-input-bg">
                    <%= f.text_field :employee_name%>
                </div>
            </div>
            <div class="label-field-pair">
                <label for="student_admission_no"><%= t('employee_number') %></label>
                <div class="text-input-bg">
                    <%= f.text_field :employee_number %>
                </div>
            </div>
            <%if FedenaPlugin.can_access_plugin?("fedena_instant_fee")%>
              <div class="label-field-pair">
                  <label for="name"><%= t('instant_fees.guest_name') %></label>
                  <div class="text-input-bg">
                      <%= f.text_field :guest_payee%>
                  </div>
              </div>
            <%end%>
            <div class="label-field-pair">
                <label for="name"><%= t('fee_collection_name') %></label>
                <div class="text-input-bg">
                    <%= f.text_field :collection_name%>
                </div>
            </div>
            <div class="label-field-pair">
                <label for="user_name"><%= t('transaction_type') %></label>
                <div class="text-input-bg" id="transaction_type"><%= select :transaction, :type, [t('fees_text'), t('payslips'), t('others')],
                      {:selected=>'value'},
                      {:onChange => "transaction_type_change(value);"} %>
                    <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: none;" ) %>
                </div>
            </div>
            <div class="label-field-pair">
                <label for="student_course"><%= t('category_name') %><%= image_tag("loader.gif",
                      :align => "absmiddle",
                      :border => 0,
                      :id => "loader",
                      :style =>"display: none;" ) %></label>
                <div class="text-input-bg">
                    <%cat_name=['Fee']%>
                    <%FedenaPlugin::FINANCE_CATEGORY.flatten.each{|k,v| cat_name<<k[:category_name]}%>
                    <%cat_name.sort!%>
                    <%= select :search, :category_id, FinanceTransactionCategory.find_all_by_name(cat_name.sort,:conditions=>{:deleted=>false}).map{|c| [c.name,c.id]}.sort,
                      {:prompt=>"#{t('select_a_category')}"}%>
                </div>
            </div>
            <div class="label-field-pair">
                <label for="student_date_of_birth"><%= t('start_date') %> </label>
                <div class="text-input-bg">
                    <%= calendar_date_select_tag 'date[start_date]', I18n.l(@date.present? ? @date.to_date : FedenaTimeSet.current_time_to_local_time(Time.now).to_date, :format=> :default),
                      :year_range => 25.years.ago..5.years.from_now, :readonly=>true, :popup=>"force", :onChange => ""%>
    <%#= calendar_date_select_tag 'date[start_date]',
    I18n.l(Date.today,:format=>:default) , :year_range => 15.years.ago..5.years.ago,:popup=>"force" %>
                </div>
            </div>
            <div class="label-field-pair">
                <label for="student_date_of_birth"><%= t('end_date') %> </label>
                <div class="text-input-bg">
                    <%= calendar_date_select_tag 'date[end_date]', I18n.l(@date.present? ? @date.to_date : FedenaTimeSet.current_time_to_local_time(Time.now).to_date , :format=> :default),
                      :year_range => 25.years.ago..5.years.from_now, :readonly=>true, :popup=>"force", :onChange => ""%>
    <%#= calendar_date_select_tag 'date[end_date]',
    I18n.l(Date.today,:format=>:default) , :year_range => 15.years.ago..5.years.ago,:popup=>"force" %>
                </div>
            </div>

            <%= f.submit "#{t('search_text')}", :class=>'submit' %>
          <% end %>
      </div>
    <% else %>
      <% unless @transactions.nil?%>

        <div id="search-result">

            <p><%= t('searched_for') %></p>
            <div class="search-again">
                <%= link_to "►#{t('search_again')}", {:controller=>"finance",:action=>"transactions_advanced_search"}, :class => 'user_button'%>
            </div>
            <div class="extender"></div>
            <div class="searched_for themed_text">
                <%= @searched_for %>
            </div>
            <% unless @transactions.empty? %>

              <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
                  <tr class="tr-head">
                      <td><%= t('sl_no') %></td>
                      <% unless params[:transaction][:type] == t('payslips') %>
                        <td><%= t('payee_name') %></td>
                        <td><%= t('receipt_no') %></td>
                      <% else %>
                        <td><%= t('employee_name') %></td>
                      <% end %>
                      <td><%= t('amount') %></td>

                      <td><%= t('cancelled_by') %></td>
                      <td><%= t('reason') %></td>
                      <td><%= t('date_text') %> </td>
                      <%if params[:transaction][:type]==t('fees_text')%>
                        <td ><%= t('fee_collection_name') %></td>
                      <%end%>
                      <% unless params[:transaction][:type] == t('payslips') %>
                        <td ><%= t('finance_type') %></td>
                      <% end %>
                  </tr>
                  <tr class="tr-blank"></tr>
                  <% @transactions.each_with_index do |f , i| %>
                    <tr class="tr-<%= cycle("odd","even") %>">
                        <td class="col-1"><%= i +=1 %></td>
                        <td class="col-3" style="width:20%"> <%=f.payee_name.present? ? f.payee_name : f.other_details.present? ? f.other_details[:payee_name] : '-'%></td>
                        <% unless params[:transaction][:type] == t('payslips') %>
                          <td class="col-3"><%= f.receipt_number %></td>
                        <%end%>
                        <td class="col-3"><%= precision_label(f.amount) %></td>
                        <td class="col-3" style="min-width:85px;"><%= f.user.present?? f.user.full_name  : t('user_deleted') %></td>
                        <td class="col-3" style="min-width:85px;"><%= f.cancel_reason.present? ? f.cancel_reason :  "-" %></td>
                        <td class="col-3" ><%= format_date(f.created_at,:format=>:short_date) %></td>
                        <%if params[:transaction][:type]==t('fees_text')%>
                          <td class="col-2" ><div class="cancel" ><%= f.collection_name %></div></td>
                        <%end%>
                        <% unless params[:transaction][:type] == t('payslips') %>
                          <td class="col-3" ><%= f.finance_type.underscore.humanize() %></td>
                        <% end %>
                    </tr>
                  <%end%>
              </table>
              <%params[:search].present? ? search=params[:search] : search={"no_value"=>""}%>
              <%= will_paginate @transactions,:previous_label=>"<", :next_label=>">", :renderer => 'RemoteLinkRenderer' ,:remote => { :loading =>  "$('loader_paginate').show();",:complete =>"$('loader').hide();"  }, :params => {:controller=>:finance,:action=>:transactions_advanced_search,:search=>search,:date=>params[:date],'transaction[type]'=>params[:transaction][:type],:remote=>"remote"} %>
              <div class="extender"></div>
              <%= link_to t('pdf_report'), {:controller => "finance", :action => "advanced_cancelled_transaction_reports",:search=>search,:date=>params[:date],'transaction[type]'=>params[:transaction][:type], :report_format_type => "pdf"},:target => '_blank', :class=> 'user_button addl_margin' %>
              <%= link_to t('csv_report'), {:controller => "finance", :action => "advanced_cancelled_transaction_reports",:search=>search,:date=>params[:date],'transaction[type]'=>params[:transaction][:type], :report_format_type => "csv"},:class=> 'user_button addl_margin' %>        
            <%else%>
              <div id="payments_details">
                  <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
                      <tr class="tr-head">
                          <td style="text-align:center;">
                              <%=t('no_reverted_transactions_exists')%>
                          </td>
                      </tr>
                  </table>
              </div>
            <% end %>
        </div>
      <% end %>
    <% end %>
</div>



