body{
    width: auto;
    margin: 0 auto;
    font-family: arial;
}
h2.heading{
    /*    text-align: center;*/
    margin:5px;
}

#main_info h4{
    color: #555555;
    margin-top: 2px;
    font-weight: normal;
}

#main_info h2{
    margin-bottom: 2px;
    font-weight: normal;

}


.odd{
    height:auto;
    background: #EEEEEE;

}

.even{

    height:auto;
    background: #fff;


}
tr.even{
    border: 1px solid #ADACAB;
}

tr.odd{
    border: 1px solid #ADACAB;
}

.even td{
    padding: 6px 6px 6px 15px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;
    font-size: 13px;

}

.odd td{
    padding: 6px 6px 6px 15px;
    border: 1px solid #ADACAB;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;
    font-size: 13px;

}
.table-header td{
    padding: 6px 6px 6px 15px;
    border-top: 1px solid #ADACAB;
    border-left: 1px solid #ADACAB;
    border-right: 1px solid #ADACAB;
    border-bottom: 1px solid #ADACAB;
    color: #000;
    background: #EEEEEE;
    font-size: 14px;
    font-weight: bold;
}

tr.end{
    border: 1px solid #ADACAB;
}


table#pdf-table{
    border-top: 1px solid #ADACAB;
    border-collapse:collapse
}


#page-extender{
    width:100%;
    height :300px;

}
#page-extender1{
    width:100%;
    height :500px;

}

.report{
    min-height: 1000px;
    margin: 0 auto;
}
#pdf-footer{
    width: 1150px !important;
}
#signature{
    text-align: right;
    width: 1150px !important;
    margin: 0 auto;
    color: #999999;
    font-size: 18px;
}


#page-yield h2,#page-yield h3{
    /*    text-align: center;*/
    text-align: center !important;
}

.col-pdf1
{color: #990A10;}

.page1 {
    width:1250px;
    height: auto;
    page-break-after: always;
    page-break-inside: avoid;
    clear: both;
}
.page-break1{
    height: 20px;
    border: 1px solid #fff;
    width:1250px;
    float: left;
}
.section{
    margin-top:10px !important;
}
.row{
    float: left;
    width: 100%;
    /*    text-align: center;*/
}
.page-blank{
    width: 100%;
    float: left;
}
.page_break{
    margin-top: 60px;
}
.serial-td{
    width:60px;
    min-width:60px;
    max-width:60px;
    /*    overflow:hidden;*/

}
.name-td{
    width:auto;
    /*    min-width:180px;
        max-width:180px;*/
    overflow: hidden;
}


#main_info h4 {
    color: #555555;
    font-weight: bold;
    margin-top: 18px;
    float: left;
}
.info1 {
    float: left;
    margin-top: -10px;
    width: 1250px;
}

.info-left {
    float: left;
}
.info-right {
    float: right;
}
.subject-td{
    width:auto;
    overflow: hidden;
    word-break: break-word;
}
.credit-td{
    width: 20px;
    max-width: 20px;
    min-width: 20px;
}
.exam-group-td{
    max-width: 30px;
}
.combined-td{
    width: 70px;
    max-width: 70px;
    min-width: 70px;
}
.td-bold{
    font-weight: bold !important;
}

.common_remarks_section{
    float:left;
    width:1250px;
    border-top:1px solid #e5e5e5;
    padding-top:20px;
    padding-bottom:20px;
}


#remarked_by_section{
    float:left;
    width:320px;
    margin-right: 30px;
    font-size: 13px;
    word-break: break-word;
}

#remark_subject_section{
    float:left;
    width:336px;
    margin-right: 30px;
    font-size: 13px;
}

#remark_body_section{
    float:left;
    width:546px;
    margin-right: 30px;
    font-size: 13px;
    word-break: break-word;
}

#submitted_by_section{
    float:right;
    font-size: 13px;
    width: 320px;
    color:#666666;
    word-break: break-word;
}
#remarks_bold_label{
    font-weight: bold;
    float:left;
    margin-top:15px;
    margin-bottom: 15px;
}
#remarks_list{
    float:left;
    border-top:1px solid #cccccc;
}
#all-remarks
{
    width: 1250px;
    float: left;
    margin-top: 20px;
}
#no_common_remarks{
    float: left;
    width: 1250px;
    margin-bottom: 10px;
    border-top: 1px solid #e5e5e5;
    padding-top: 12px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight:bold;
    color: #666666;
    margin-top:0px;
}
.logo{
    width: 70px;
    height: 70px;
    float: left;
    border: 1px solid #e5e5e5;
    padding: 3px;
}
.logo img{
    width:100%;
    vertical-align: middle;
    display: table-cell;
}
#school-name{
    float: left;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
    width: 90%;
    margin-bottom: px;
    margin-top: 3px;
    color:#000 !important;
}
.header-content p.institution_address{
    float: left;
    margin-left: 10px;
    font-size: 14px;
    color: #666 !important;
    margin-top:0px !important;
    width:100%;
}
.header-content{
    margin-left:0px; 
    height:80px;
    width: 90%;
    padding:3px;
    float: none;
}
.left_bold{
    text-align: left;
    font-weight: bold;
}
.right_bold{
    text-align: right;
    font-weight: bold;
}
span.header_parts{
    vertical-align: middle;
    display: table-cell;
}
span.colon{
    float:left;
    margin-right:5px;
    margin-left:5px;
}
.add_top_margin{
    margin-top:15px !important;
}
.section {
    page-break-inside: avoid;
    float: left;
    width: 100%;
}
.section1{
    float: left;
    width: 100%;
    margin-top:10px;
}

.field-label{
    width: 155px;
    float: left;
    word-break: break-word;
}
.info-left{
    float:left;
    width: 50%;
}
.info-right{
    float: right;
    width: 50%;
}
.info{
    width:100%;
    float:left;
    margin-bottom: 15px;
}
.info1{
    margin-top: 10px;
    font-size: 12px;
    font-weight: normal;
    color: #444444;
    float: left;
    width: 100%;
}
.infolbl{
    color:#000;
    font-weight: bold;
    float: left;
    width: 55%;
    word-break: break-word;
}
.avg_span{
    float:left;
    width:100%;
    margin-top:15px;
    font-size:13px;
}
.wrapper {
    page-break-inside: avoid;
    float: left;
    width: 100%;
}
.footer {
    float: left;
    width: 100%;
    page-break-before: avoid;
    page-break-inside: avoid;
}
#pdf-footer {
    float:left;
    color: black;
    width: 100% !important;
    /*margin: 0px !important;*/
    /*background-color: red;*/
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 100px;
    padding-bottom: 0px;
}
.hor_line{
    width:100%;
    background: #333333;
    height: 1px;
}
#page-yield h2{
    text-align: center;
    margin-top:3px;
    margin-bottom:3px;
    font-size:15px;
}
.signature {
    width: 32%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    word-break: break-all;
}
.push_left{
    text-align: left;
    margin-right: 10px;
}
.push_right{
    text-align: right;
    margin-left: 10px;
}
