<div class="activity_strip">
    <% unless f.object.marked_for_destruction? %>
      <div class="label"><%= f.text_field :name %></div>
      <% unless @grade_set.direct_grade? %>
        <div class="score"><%= f.text_field :minimum_marks %></div>
        <% if @grade_set.enable_credit_points? %>
          <div class="score"><%= f.text_field :credit_points %></div>
        <% end %>
      <% end %>
      <div class="pass">
          <%= f.check_box :pass_criteria %>
      </div>
      <div class="field">
          <%= f.text_field :description %>
          <%= f.hidden_field :_destroy, :value=> 0 %>
          <div class="remove_field" onclick="remove_field(this)"></div>
      </div>
    <% else %>
      <%=f.hidden_field :_destroy %>
    <% end %>
</div>