<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('gradebook') %><%= beta_header %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('grading_profiles_text') %></div>
    <% if permitted_to? :new , :grading_profiles %>
      <div id="inner-tab-menu">
          <ul>
              <li class='themed_bg themed-dark-hover-background'>
                  <%= link_to_remote "#{t('create_a_grading_profile')}", 
                    :url => {:controller => "grading_profiles", :action => "new"} %>
              </li>
          </ul>
      </div>
    <% end %>
</div>

<div id="page-yield">
    <div class="bread_crumb">
        <% breadcrumb :grading_profiles_index %>
        <%= render_breadcrumbs %>
    </div>

    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>

    <div id ="header"><%= t('grading_profiles_text') %></div>
    <div id ="description"><%= t('grading_profiles_description') %></div>
    <div id ="leave_group_list">
        <table align="center" width="100%" cellpadding="1" cellspacing="1">
            <tr class="tr-head">
                <td class="name"><%= t('grading_profile') %></td>
                <td class="type"><%= t('type') %></td>
                <td class="grades_count"><%= t('no_of_grades') %></td>
                <td class="action"></td>
            </tr>
            <% if @grade_sets.present? %>
              <% @grade_sets.each do |gs|  %>
                <tr class="tr-<%= cycle('even', 'odd') %>">
                    <td><%= link_to gs.name, grading_profile_path(gs) %></td>
                    <td><%= gs.grade_type %></td>
                    <td><%= gs.grades_count %></td>
                    <td><%= link_to t('view_profile'), grading_profile_path(gs) %></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                  <td colspan="4"><%= t('create_a_grading_profile') %></td>
              </tr>
            <% end %>
        </table>
        <% if @grade_sets.present? %>
          <%= pagination_status(@grade_sets) %>
        <% end %>
        <%= will_paginate @grade_sets %>
    </div>
</div>