<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('gradebook') %><%= beta_header %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('grading_profiles_text') %></div>
    <% unless @grade_set.dependencies_present? %>
      <div id="inner-tab-menu">
          <% if @grade_set.grades.present? and (permitted_to? :add_grades , :grading_profiles) %>
            <ul>
                <li class='themed_bg themed-dark-hover-background'>
                    <%= link_to "#{t('edit_grade_set')}", 
                    {:controller => "grading_profiles", :action => 'add_grades', :id => @grade_set.id} %>
                </li>
            </ul>
          <% end %>
          <ul>
              <li class='themed_bg themed-dark-hover-background'>
                  <%= link_to t('delete_profile'), '#' , :onclick => "make_popup_box(this, 'confirm', '#{t('delete_profile_confirmation')}',{'ok' : '#{t('delete')}', 'cancel' : '#{t('cancel')}', 'title' : '#{t('delete_grading_profile')}', 'popup_class' : 'delete_confirmation'}); return load_plan_delete_method();" %>
              </li>
          </ul>
      </div>
    <% end %>
</div>

<div id="page-yield">
    <div class="bread_crumb">
        <% breadcrumb :grading_profiles_show, @grade_set %>
        <%= render_breadcrumbs %>
    </div>

    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>

    <div id ="header"><%= t('grading_profiles_text') %></div>
    <div class="details">
        <div class="details_strip">
            <div class="label"><%= t('grading_profile') %></div>
            <div class="field bold"><%= @grade_set.name %></div>
            <% unless @grade_set.dependencies_present? %>
              <div class="edit_field"><td><%= link_to_remote t('edit_profile'), :url => edit_grading_profile_path(@grade_set), :method => :get %></div>
            <% end %>
        </div>
        <div class="details_strip">
            <div class="label"><%= t('grade_type') %></div>
            <div class="field"><%= @grade_set.grade_type %></div>
        </div>
    </div>
    <hr>
    <% if @grade_set.grades.present? %>
      <table>
          <tr class="tr-head">
              <td class="name"><%= t('grade_name') %></td>
              <% unless @grade_set.direct_grade? %>
                <td class="score"><%= t('minimum_score') %><%= " &#x200E;(%)&#x200E;" %> </td>
                <% if @grade_set.enable_credit_points? %>
                  <td class="point"><%= t('credit_points') %></td>
                <% end %>
              <% end %>
              <td class="result"><%= t('result') %></td>
              <td class="desc"><%= t('description') %></td>
          </tr>
          <% @grade_set.grades.each do |grade| %>
            <tr>
                <td><%= grade.name %></td>
                <% unless @grade_set.direct_grade? %>
                  <td><%= grade.minimum_marks %></td>
                  <% if @grade_set.enable_credit_points? %>
                    <td><%= grade.credit_points %></td>
                  <% end %>
                <% end %>
                <td><%= grade.result_text %></td>
                <td><%= grade.description %></td>
            </tr>
          <% end %>
      </table>
    <% else %>
      <div class="add_activity_blank">
          <div class="add_activity_helper"><%=t('add_grades_text')%></div>
          <div class="add_activity_button"><%= link_to t('add_grades'), 
                {:controller=>'grading_profiles', :action => 'add_grades', :id => @grade_set.id},
                :class=>'submit-button' %></div>
      </div>
    <% end %>
    <% if @grade_set.dependencies_present? %>
      <div id="warning"><span id="info-symbol"></span><span id="info-text"><%= t('this_profile_has_dependencies') %></span></div>
    <% end %>
</div>
<script type="text/javascript">
      load_plan_delete_method = function () {
      j('.submit-button#yes').on('click', function () {
        profile_id = <%=@grade_set.id%>
          j.ajax({
              type: 'DELETE',
              url: '/grading_profiles/'+profile_id
          });
      })
  }
</script>