<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% if @employee.archived_employee_salary_structure.present? %>
  <h4><%= "#{t('payroll_group')} : #{@employee.payroll_group.name}" %></h4>
  <h4><%= "#{t('gross_pay')} : #{precision_label(@employee.archived_employee_salary_structure.gross_salary)}" %></h4>
  <ul class="item-list">
    <li class="heading1"><div id="category_name"><span><%= t('earnings') %></span></div><div id="currency_symbol"><%=currency_with_amount%></div></li>
    <% earnings = 0 %>
    <% @earnings.each do |e| %>
      <% if e.amount.to_f >= 0  %>
        <li class="list<%=cycle('odd', 'even')%>">
          <div class="item-name"><%= e.payroll_category.name %></div>
          <div class="item-edit">
            <div id="amount_value"><%= precision_label(e.amount) %></div>
          </div>
          <% earnings += e.amount.to_f %>
        </li>
      <%end%>
    <% end %>
    <li class="list<%=cycle('odd', 'even')%>">
      <b> <div class="item-name"><%= t('total_earning')    %></div>
        <div class="item-edit">
          <div id="amount_value"><%= precision_label(earnings) %></div>
        </div></b>
    </li>
  </ul>
  <ul class="item-list">
    <li class="heading1"><div id="category_name"><span><%= t('deductions') %></span></div><div id="currency_symbol"><%=currency_with_amount%></div></li>
    <% deductions = 0 %>
    <% @deductions.each do |d| %>
      <% if d.amount.to_f >= 0 %>
        <li class="list<%=cycle('odd', 'even')%>">
          <div class="item-name"><%= d.payroll_category.name    %></div>
          <div class="item-edit">
            <div id="amount_value"><%= precision_label(d.amount) %></div>
          </div>
          <% deductions += d.amount.to_f %>
        </li>
      <%end%>
    <% end %>
    <li class="list<%=cycle('odd', 'even')%>">
      <b> <div class="item-name"><%= t('total_deduction')    %></div>
        <div class="item-edit">
          <div id="amount_value"><%= precision_label(deductions) %></div>
        </div></b>
    </li>
  </ul>
  <ul class="item-list">
    <li class="heading1">
      <div class="item-heading">
        <span><%= t('net_pay') %></span>
      </div>
      <div class="item-edit">
        <div id="currency_symbol_with_total"><%= @currency %></div>
        <div id="amount_value"><%= precision_label(@employee.archived_employee_salary_structure.net_pay) %></div>
      </div>
    </li>
  </ul>
<% else %>
  <p class="flash-msg"><%= "#{t('no_payroll_detail_entered')} #{@employee.first_name}" %>.</p>
<% end %>
