<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%  if (rtl?) %>
  <script>
    j(document).ready(function() {
      j(".drop_header").hover(
      function () {
        link_off = j(this).offset();
        link_width = j(this).width();
        link_height = j(this).height();
        menu_box = j(this).find(".more-menu-div");
        box_width = menu_box.width();
        //  c_b.css({ top: (0 - (child_bottom - main_bottom))});
        menu_box.css({top: (link_off.top + link_height),left: (link_off.left)});
        menu_box.css("display","block");
      },
      function () {
        j(this).find(".more-menu-div").css("display","none");
      });
    });
  </script>
<% else %>
  <script>
    j(document).ready(function() {
      j(".drop_header").hover(
      function () {
        link_off = j(this).offset();
        link_width = j(this).width();
        link_height = j(this).height();
        menu_box = j(this).find(".more-menu-div");
        box_width = menu_box.width();
        //  c_b.css({ top: (0 - (child_bottom - main_bottom))});
        menu_box.css({top: (link_off.top + link_height),left: ((link_off.left + link_width) - box_width)});
        menu_box.css("display","block");
      },
      function () {
        j(this).find(".more-menu-div").css("display","none");
      });
    });
  </script>
<% end %>
<% current_username = @current_user.username %>
<% profile_employee_no = @employee.employee_number %>

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('employee_profile') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('details') %></div>


  <div id="inner-tab-menu">
    <ul>
      <li class='drop_header themed_bg themed-dark-hover-background'>
        <a href="#" class="drop_header_link"><%= t('profile_text') %> &#9660;</a>
        <ul id="box_1" class="more-menu-div" style="display:none;">
          <li class='themed_bg themed-dark-hover-background'><%= link_to_remote "#{t('general')}", :url => {:action => "profile_general", :id => @employee.id}, :update => "profile-infos" %></li>
          <li class='themed_bg themed-dark-hover-background'><%= link_to_remote "#{t('personal')}", :url => {:action => "profile_personal", :id => @employee.id}, :update => "profile-infos" %></li>
          <li class='themed_bg themed-dark-hover-background'><%= link_to_remote "#{t('address')}", :url => {:action => "profile_address", :id => @employee.id}, :update => "profile-infos" %></li>
          <li class='themed_bg themed-dark-hover-background'><%= link_to_remote "#{t('contact')}", :url => {:action => "profile_contact", :id => @employee.id}, :update => "profile-infos" %></li>
          <li class='themed_bg themed-dark-hover-background'><%= link_to_remote "#{t('bank_info')}", :url => {:action => "profile_bank_details", :id => @employee.id}, :update => "profile-infos" %></li>
          <li class='themed_bg themed-dark-hover-background'><%= link_to_remote "#{t('additional_info')}", :url => {:action => "profile_additional_details", :id => @employee.id}, :update => "profile-infos" %></li>
        </ul>
      </li>

      <% if current_username == profile_employee_no %>
        <li class='drop_header themed_bg themed-dark-hover-background'>
          <a href="#" class="drop_header_link"><%= t('salary') %> &#9660;</a>
          <ul id="box_2" class="more-menu-div" style="display:none;">
            <li class='themed_bg themed-dark-hover-background'><%= link_to_remote "#{t('payroll_text')}", :url => {:action => "profile_payroll_details", :id => @employee.id}, :update => "profile-infos" %></li>
          </ul>
        </li>
      <%else%>
        <% if permitted_to? :payslip, :employee %>
          <li class='drop_header themed_bg themed-dark-hover-background'>
            <a href="#" class="drop_header_link"><%= t('salary') %> &#9660;</a>
            <ul id="box_2" class="more-menu-div" style="display:none;">
              <li class='themed_bg themed-dark-hover-background'><%= link_to_remote "#{t('payroll_text')}", :url => {:action => "profile_payroll_details", :id => @employee.id}, :update => "profile-infos" %></li>
            </ul>
          </li>
        <%end%>
      <%end%>
       <% if permitted_to?  :change_to_present, :archived_employee %>
        <li class='themed_bg themed-dark-hover-background'>
<%= link_to "#{t('revert_archived_employee')}",{:controller=>"archived_employee",:action => "change_to_present", 
  :id => @employee.id},{:confirm =>"#{t('delete_confirm_msg')}"}%>
        </li>          
    </ul>
        <%end%>

  </div>




</div>
<div id="page-yield">
  <div class="bread_crumb">
  <%breadcrumb :archived_employee_profile,@employee%>
  <%=render_breadcrumbs%>
    </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div id="employee_profile_heading">

    <div id="profile_picture_display">
      <% if @employee.photo.file? %>
        <%= image_tag @employee.photo.url(:original, false) %>
      <% else %>
        <%= image_tag "HR/default_employee.png" %>
      <% end %>
    </div>

    <div id ="employee_main_info">
      <h3> <%= @employee.first_name %> <%= @employee.middle_name %> <%= @employee.last_name %>  </h3>
      <h4> <%= t('employee_id') %>. : <%= @employee.employee_number %> </h4>
    </div>

    <div id="profile-general-info">


    </div>
    <div class="extender"></div>

  </div>




  <div id="profile-infos">
    <%=   render :partial => "general" %>

  </div>
  <div class="extender"> </div>
</div>
