<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<script type="text/javascript">
  function escapeHtml(unsafe) {
    return unsafe
      .replace(/&/g, "&amp;")
      .replace(/</g, "&lt;")
      .replace(/>/g, "&gt;")
      .replace(/"/g, "&quot;")
      .replace(/'/g, "&#039;");
  }
  var available_options = []
  jq=jQuery.noConflict();
  function __highlight(s, t) {
    var matcher = new RegExp("("+jq.ui.autocomplete.escapeRegex(t)+")", "ig" );
    return s.replace(matcher, "<strong>$1</strong>");
  }

  jq.ui.autocomplete.prototype._renderItem = function (ul, item) {
    //  item.label = item.label.replace(new RegExp("(?![^&;]+;)(?!<[^<>]*)(" + jQuery.ui.autocomplete.escapeRegex(this.term) + ")(?![^<>]*>)(?![^&;]+;)", "gi"), "<strong>$1</strong>");
    if (item.menutype == 'action')    {
      return jq("<li></li>")
      .data("item.autocomplete",item)
      .append("<a class='action'>"+ item.label +"</a>")
      .appendTo(ul);
    }
    <%#*item.label = __highlight(item.label, this.term)%>
    return jq("<li></li>")
    .data("item.autocomplete", item)
    <%#*.append("<a>" + item.label + "</a>")%>
    .append("<a>" + __highlight(item.label, this.term) + "</a>")
    .appendTo(ul);
  };

  jq(document).bind('keypress', 'q', function(){
    // var actv_element=document.activeElement;
    var actv_element=j(':focus');
    if (j(actv_element).hasClass("redactor_editor")){
      return true;
    }
    jq("input#autosuggest_menu_input").focus();
    return false;
  });
  gotoLink = function(event,ui){
    window.location.href = ui.item.value;
    return false;
  };
  searchoptions = function (request,response){
    var query=escapeHtml(request.term);
    var options = jq.ui.autocomplete.filter(available_options,query).slice(0,11);
    options.push({'menutype': 'action',
      'label' : '<%=t('autosuggest_menu.search_students')%> : <strong>'+query+'</strong>',
      'value' : "/student/advanced_search?search%5Border%5D=&search%5Bname_or_admssn_no_as%5D="+query+"&commit=Search"})

    options.push({'menutype': 'action',
      'label' : '<%=t('autosuggest_menu.search_employees')%>: <strong>'+query+'</strong>',
      'value' : "/employee/advanced_search?search%5Border%5D=&search%5Bname_or_employee_number_as%5D="+query+"&commit=Search"})

    response(options)
  }


  jq(document).ready(function() {
    jq("input#autosuggest_menu_input").autocomplete({
      source: searchoptions,
      select : gotoLink,
      focus: function(event, ui) { return false; },
      appendTo: '#menu-container'
    });
  });
</script>
<div id="menu-container"></div>
<script type="text/javascript">
  jq(document).ready(function() {
    var available_options = [];
  });
</script>
<!-- <script src="/user/get_autosuggest_menuitems" type="text/javascript" async></script> -->

<%= text_field_tag :autosuggest_menu,{} ,:id=>'autosuggest_menu_input',:placeholder => "#{t('autosuggest_menu.search_actions_links_and_people')}" %>
