<%- # Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License.  -%>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="<%= (rtl?) ? 'rtl' : 'ltr' %>">
    <head>
        <% @direction = (rtl?) ? 'rtl/' : '' %>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title><%=h @title %></title>
        <% unless current_school_detail.new_record? %>
          <link rel="shortcut icon" href="<%= current_school_detail.logo.url(:original, false) %>" type="<%= current_school_detail.logo.content_type %>"/>
        <% end %>

        <%= stylesheet_link_tag(*get_stylesheets) %>
        <%= javascript_include_tag 'jquery/jquery-1.9.1.min.js' %>
        <script type="text/javascript">
          var s = jQuery.noConflict();
          s(document).ready(function () {
              localStorage.clear();
              localStorage.initial_timestamp = j.now();
              logout_call = setInterval(call_logout, 10000);
              set_link_active();

              s('*').bind('mousemove keydown scroll', function () {
                  localStorage.initial_timestamp = j.now();
              });
          });
          function call_logout() {
              idleWait = <%=(Configuration.find_by_config_key('SessionTimeLimit').try(:config_value) || 900000).to_i%>;

              if ((j.now() - localStorage.initial_timestamp) > idleWait)
              {
                    j.ajax({
                        type: 'GET',
                        url: "/user/logout"
                    });
                    clearInterval(logout_call);
              }
          }

          function set_link_active() {
              s('.top-right-link').each(function (i, el) {
                  if (s(el).parent().attr('href').toString() == document.location.pathname.toString()) {
                      s(el).addClass("top-right-link-active");
                  }
              });
          }

        </script>

        <%= javascript_include_tag :defaults, :cache => 'cache/javascripts/all' %>
        <%= javascript_include_tag 'scripts/nicetitle', 'droplicious' %>
<%#= javascript_include_tag "fckeditor/fckeditor" %>
        <%= javascript_include_tag 'builder' %>
        <%= javascript_include_tag 'modalbox' %>
        <%= javascript_include_tag 'jquery.ajaxAutocomplete.ch' %>
        <%= javascript_include_tag 'jquery_form' %>
        <%= javascript_include_tag 'messages' %>

<%#= javascript_include_tag 'popup' %>

<%# FedenaPlugin.deliver_registered_hook(:application_layout_header).each do |mod| %>
<%#= render :partial=>mod.camelize.constantize.send("application_layout_header") %>
<%# end %>

        <%= calendar_date_select_includes 'red' %>
        <% CalendarDateSelect.format = :iso_date %>

        <% # = javascript_include_tag "calendar_date_select/locale/#{I18n.locale}.js" unless I18n.locale==:en %>
        <%= javascript_include_tag 'fedena_plugin.js' %>
        <%= yield :head %>

        <script type="text/javascript">
          document.observe("dom:loaded", function () {

              if ('<%= respond_to? :link_present %>' == 'true') {

                  j('.link-box').each(function () {
                      if (j(this).children('.link-heading').children().length == 0) {
                          j(this).hide()
                      }
                  })
              }

              render_generic_hook(<%= render_generic_hook %>)
          });
        </script>

<%#= javascript_include_tag 'jquery/jquery.min.js' %>
        <%= javascript_include_tag 'jquery/jquery-ui.min.js' %>
        <%= javascript_include_tag 'jquery/jquery.hotkeys.js' %>
        <%= javascript_include_tag 'jquery/jquery.als-1.5.min.js' %>

        <script type="text/javascript">
          var j = jQuery.noConflict();
          document.observe("dom:loaded", function () {
              $$('.level-1')[0].hide();
          });
          function myfunction() {
              $$('.level-1')[0].hide();
              hide_message();
          }
          j(document).click(function (event) {
              var myarr = ["[object HTMLHeadingElement]", "[object HTMLBodyElement]", "[object HTMLDivElement]"]
              var contains = (myarr.indexOf(event.target.toString()) > -1);
              if (contains) {
                  $$('.level-1')[0].hide();
                  hide_message();
                  hide_notifications();
                  j('#up-arrow-img').hide();
                  j('#profile-link').removeClass('profile-link-active');
                  j('#lower-profile-link').removeClass('top-right-link-active');
              }

          });
          function hide_message(){
            if(j('.messages').is(':visible'))
              $$('.messages')[0].hide();
            j('#lower-message-link').removeClass('profile-link-active');
          }
          function hide_notifications(){
            if(j('.notifications').is(':visible'))
              $$('.notifications')[0].hide();
            j('#lower-notification-link').removeClass('profile-link-active');
          }
          j(document).ready(function () {
              j("#upper-menu-div").click(function (e) {
                  e.stopPropagation();
                  j(".child-link-box").each(function () {
                      j(this).css("display", "none");
                  });
                  j(".arrow-right").css("display", "none");
                  j(".arrow-left").css("display", "none");
              });
              j('.nav-links').click(function () {
                  j('#lower-link-div').scrollTop(0);
              });
              j(document).bind("click", function () {
                  j("#upper-menu-div").slideUp();
                  j("#show-menu").removeClass("show-menu-active");
                  j("#link-menu").removeClass("top-right-link-active");
              });

          });

          function upper_st_switch(e) {
              e.stopPropagation();
              j('.level-1').toggle();
              j('#up-arrow-img').toggle();
              j('#profile-link').toggleClass('profile-link-active');
              j('#up-arrow-img').removeClass('arrow-img-low');
              j('#up-arrow-img').addClass('arrow-img-high');
              j('.level-1').css('position', 'absolute');
          }

          function lower_st_switch(e) {
              e.stopPropagation();
              j('.level-1').toggle();
              hide_message();
              hide_notifications()
              j('#up-arrow-img').toggle();
              j('#lower-profile-link').toggleClass('top-right-link-active');
              j('.level-1').css('position', 'fixed');
              j('#up-arrow-img').removeClass('arrow-img-high');
              j('#up-arrow-img').addClass('arrow-img-low');
          }
          
          function hide_profile_links(){
            if(j('#lower-profile-link').hasClass('top-right-link-active')){
              j( "#lower-profile-link" ).trigger( "click" );
            }
          }

          function show_messages(e) {
              if(j('.messages').length == 0 || j('.messages').is(':hidden')){
                j.ajax({
                  type: 'GET',
                  url: '/messages/show_message_box',
                  success: function (data) {
                    j('#lower-message-link').toggleClass('profile-link-active');
                    j('.messages').css('position', 'fixed');
                  }
                })
              }else{
                hide_message();
              }
          }
          
          function show_notifications(e) {
            if(j('.notifications').length == 0 || j('.notifications').is(':hidden')){
              j.ajax({
                type: 'GET',
                url: '/notifications/show_notification_box',
                success: function (data) {
                  j('#lower-notification-link').toggleClass('profile-link-active');
                  j('.notifications').css('position','fixed');
                }
              })
            }else{
              hide_notifications();
            }
          }

          function show_quick_links() {
              j.ajax({
                  type: 'POST',
                  url: "/user/show_quick_links",
                  data: {
                  },
                  beforeSend: function () {
                      if (j("#upper-menu-div").is(':hidden')) {
                          j(".show-menu-back").css("background", "none");
                          j(".show-menu-back").find('img').remove();
                          j(".show-menu-back").prepend('<img class="menu-loader" border="0" align="absmiddle" src="/images/fedena_loader.gif">')
                      }
                      else {
                          j("#lower-link-div").css("display", "none");
                          j("#loader-div").css("display", "block");
                      }
                  },
                  success: function (data) {
                    if(data === "window.location = '/'")
                     {
                        j("#lower-link-div").html('Login to continue');
                     }
                     else
                     {
                        j("#lower-link-div").html(data);
                     }
                      j(".nav-links").each(function () {
                          j(this).removeClass("nav-links-active");
                          j(this).removeClass("themed_text");
                      })
                      j("#quick_links").addClass("nav-links-active");
                      j("#quick_links").addClass("themed_text");
                      var col_no = 0;
                      j(".parent-link").each(function () {
                          j("#col_" + col_no).append(this);
                          col_no += 1;
                          if (col_no == 4)
                              col_no = 0;
                      });
                      j(".parent-link").hover(
                              function () {
                                  var p = j(this);
                                  var main_pos = j("#lower-link-div").offset();
                                  var pos = p.position();
                                  var off = p.offset();
                                  var h = p.height();
                                  var w = p.width();
                                  var c_b = j(this).find(".child-link-box");
                                  if (c_b.length !== 0) {
                                      var c_width = c_b.width();
                                      var c_height = c_b.height();
                                      c_b.css({top: 8, left: w});
                                      c_b.css("display", "block");
                                      c_b.click(function (e) {
                                          e.stopPropagation();
                                      });
                                      var c_pos = c_b.offset();
                                      var main_bottom = main_pos.top + j("#lower-link-div").height();
                                      var child_bottom = c_pos.top + c_height;
                                      if (child_bottom > main_bottom) {
                                          j(this).attr('style', '');
                                          if ((off.top + (10 - (child_bottom - main_bottom))) < (main_pos.top)) {
                                              c_b.css({top: (0 - (off.top - main_pos.top))});
                                          }
                                          else {
                                              c_b.css({top: (10 - (child_bottom - main_bottom))});
                                          }
                                      }
                                      var main_right = main_pos.left + j("#lower-link-div").width();
                                      var child_right = c_pos.left + c_width;
                                      if (child_right > main_right) {
                                          c_b.css({left: 0 - c_width});
                                      }
                                      else
                                          j(".child_cols").removeClass("right-float");
                                  }
                              },
                              function () {
                                  j(this).find(".child-link-box").css("display", "none");
                              }
                      );
                      if (j("#upper-menu-div").is(':hidden')) {
                          j("#upper-menu-div").slideDown();
                          j("#show-menu").addClass("show-menu-active");
                          j(".show-menu-back").find('img').remove();
                          j(".show-menu-back").removeAttr('style');
                      }
                      else {
                          j("#lower-link-div").css("display", "block");
                          j("#loader-div").css("display", "none");
                      }

                  }
              })
          }
          function show_all_features(th_is) {
              var cur_id = j(th_is).attr("id");
              var cat_id = cur_id.replace("-link", "");
              j.ajax({
                  type: 'POST',
                  url: "/user/show_all_features",
                  data: {
                      cat_id: cat_id
                  },
                  beforeSend: function () {
                      j("#lower-link-div").css("display", "none");
                      j("#loader-div").css("display", "block");
                  },
                  success: function (data) {
                      if(data === "window.location = '/'")
                     {
                        j("#lower-link-div").html('Login to continue');
                     }
                     else
                     {
                        j("#lower-link-div").html(data);
                     }
                      j(".nav-links").each(function () {
                          j(this).removeClass("nav-links-active");
                          j(this).removeClass("themed_text");
                      })
                      j(th_is).find(".nav-links").addClass("nav-links-active");
                      j(th_is).find(".nav-links").addClass("themed_text");
                      var col_no = 0;
                      j(".parent-link").each(function () {
                          j("#col_" + col_no).append(this);
                          col_no += 1;
                          if (col_no == 4)
                              col_no = 0;
                      });
                      j(".parent-link").hover(
                              function () {
                                  var p = j(this);
                                  var main_pos = j("#lower-link-div").offset();
                                  var pos = p.position();
                                  var off = p.offset();
                                  var h = p.height();
                                  var w = p.width();
                                  var c_b = j(this).find(".child-link-box");
                                  if (c_b.length !== 0) {
                                      var c_width = c_b.width();
                                      var c_height = c_b.height();
                                      c_b.css({top: 8, left: w});
                                      c_b.css("display", "block");
                                      c_b.click(function (e) {
                                          e.stopPropagation();
                                      });
                                      var c_pos = c_b.offset();
                                      var main_bottom = main_pos.top + j("#lower-link-div").height();
                                      var child_bottom = c_pos.top + c_height;
                                      if (child_bottom > main_bottom) {
                                          j(this).attr('style', '');
                                          if ((off.top + (10 - (child_bottom - main_bottom))) < (main_pos.top)) {
                                              c_b.css({top: (0 - (off.top - main_pos.top))});
                                          }
                                          else {
                                              c_b.css({top: (10 - (child_bottom - main_bottom))});
                                          }
                                      }
                                      var main_right = main_pos.left + j("#lower-link-div").width();
                                      var child_right = c_pos.left + c_width;
                                      if (child_right > main_right) {
                                          c_b.css({left: 0 - c_width});
                                      }
                                      else
                                          j(".child_cols").removeClass("right-float");
                                  }
                              },
                              function () {
                                  j(this).find(".child-link-box").css("display", "none");
                              }
                      );
                      j("#lower-link-div").css("display", "block");
                      j("#loader-div").css("display", "none");
                  }
              })
          }
          function show_links(e) {
              e.stopPropagation();
              if (j("#upper-menu-div").is(':hidden')) {
                  j("#header-top").append(j("#upper-menu-div"))
                  j("#upper-menu-div").css('position', 'absolute');
                  j("#upper-menu-div").css('top', '35px');
                  show_quick_links();
              }
              else {
                  j("#upper-menu-div").slideUp();
                  j("#show-menu").removeClass("show-menu-active");
              }
              //if(j("#upper-menu-div").is(":visible")){
              //show_quick_links();
              //}
          }
          function lower_show_links(e) {
              e.stopPropagation();
              if (j("#upper-menu-div").is(':hidden')) {
                  j("#upper-menu-div").css('position', 'fixed');
                  j("#upper-menu-div").css('top', '36px');

                  j("#link-menu").addClass("top-right-link-active");

                  show_quick_links();
              }
              else {
                  j("#upper-menu-div").slideUp();
                  j("#show-menu").removeClass("show-menu-active");

                  j("#link-menu").removeClass("top-right-link-active");
              }
              //if(j("#upper-menu-div").is(":visible")){
              //show_quick_links();
              //}
          }
          j(document).ready(function () {
              j("#autosuggest_menu_input").focus(function () {
                  console.log("Handler for .focus() called.");
                  j.getScript('/user/get_autosuggest_menuitems', function () {
                      //
                  });
              });
          });
        </script>
        <% if FedenaSetting.s3_enabled? %>
          <script>
  <%= "var s3_url= '#{Config.s3_url}';" %>
          </script>
          <%= javascript_include_tag 's3_upload' %>
        <% else %>
          <%= javascript_include_tag 'normal_upload' %>
        <% end %>
    </head>

    <body>
        <div id="header_bg">
            <div id="header_bottom">
                <div class="header_content">
                    <div class="top-left-links">
                        <div id="lower-show-menu">
                            <%= link_to "<div class='lower-menu-link' id='in-menu-link'><div class='show-menu-back'></div><div id='menu_text'>#{t('menu_text')}</div></div>", "#", :onClick => "lower_show_links(event);return false;", :id => 'link-menu' %>
                        </div>
                    </div>
                    <% if current_school_name.present? %>
                      <%= link_to "<div id='institution-name'>#{shorten_string(current_school_name, 60)}</div>", {:controller => "user", :action => "dashboard"} %>
                    <% else %>
                      <%= link_to "<div id='institution-name'>#{t('home')}</div>", {:controller => "user", :action => "dashboard"} %>
                    <% end %>
                    <div class="right-links" id="top-right-links">
                        <% messages_count = @current_user.unread_messages_count %>
                        <% unless messages_count == 0 %>
                          <%= link_to "<div class='top-right-link' id='lower-message-link'><div id='message-link-img'><span id='msg-coun'>#{messages_count}</span></div></div>",'#', :onClick => "show_messages(event);return false;"%>
                        <%else%>
                          <%= link_to "<div class='top-right-link' id='lower-message-link'><div id='message-link-img'></div></div>", '#', :onClick => "show_messages(event);return false;"%>
                        <%end%>
                        <div id="message_cont" style="position: absolute;width:40px;clear:both;"></div>
                        <% notification_count = @current_user.unread_notifications_count %>
                        <% unless notification_count == 0 %>
                          <%= link_to "<div class='top-right-link' id='lower-notification-link'><div id='notification-link-img'><span id='noti-coun'>#{notification_count}</span></div></div>",'#', :onClick => "show_notifications(event);return false;"%>
                        <%else%>
                          <%= link_to "<div class='top-right-link' id='lower-notification-link'><div id='notification-link-img'></div></div>", '#', :onClick => "show_notifications(event);return false;"%>
                        <%end%>
                        <div id="notification_cont" style="position: absolute;width: 40px;clear: both;"></div>
                        


                        <% siblings_list= @current_user.guardian_entry.current_ward.siblings.select { |p| p.immediate_contact_id=@current_user.id } if @current_user.parent? %>
                        <%= link_to "<div class='top-right-link' id='lower-profile-link'><div id='profile-link-img'></div></div>", "#", :onClick => "lower_st_switch(event);return false;" %>
                        <div class="leg" style="width:40px;clear:both;">
                            <div id="profile-menu">
                                <li class="a">
                                    <div id="switch-student">
                                        <div id="up-arrow-img" style="display:none;"></div>
                                        <ul class="level-1" style="display:none;">
                                            <li>
                                                <div class="ns">
                                                    <div class="not-selected-list" style="margin-top:5px !important;">
                                                        <%= link_to @current_user.full_name, {:controller => '/user', :action => 'profile', :id => @current_user.username} %></div>
                                                    <br/>

                                                    <div class="bottom-line"></div>
                                                </div>
                                            </li>
                                            <% if siblings_list.present? %>
                                              <li style="color:#808080;font-size:11px;padding-left:23px;padding-top:5px;padding-bottom:5px"><%= t('switch_student') %>
                                                  :
                                              </li>
                                            <% end %>
                                            <li>
                                                <div class="ns">
                                                    <% if siblings_list.present? %>
                                                      <% @sibling_student=@current_user.guardian_entry.current_ward %>
                                                      <% @sibling_students=siblings_list %>
                                                      <div class="selected_student"><%= link_to "#{'&#10003;'}#{shorten_string(@sibling_student.full_name, 15)}", :controller => 'user', :action => 'dashboard', :id => @sibling_student.id %></div>
                                                      <br/>
                                                      <% (@sibling_students).each do |s| %>
                                                        <div class="not-selected-list">
                                                            <%= link_to shorten_string(s.full_name, 15), :controller => 'user', :action => 'dashboard', :id => s.id %></div>
                                                        <br/>
                                                      <% end %>

                                                      <div class="bottom-line"></div>
                                                    <% end %>
                                                    <div class="not-selected-list" style="margin-bottom:5px !important;"><%= link_to t("log_out"), {:controller => '/user', :action => 'logout'} %></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </div>
                        </div>
<%#= link_to "<div class='top-right-link'><div id='logout-link-img'></div></div>", :controller => '/user', :action => 'logout' %>
                    </div>
                    <div id="outer-autosuggest-menu">
                        <%= render :partial => "layouts/autosuggest_menu" %>
                    </div>
                </div>
            </div>
            <% u_roles = @current_user.role_symbols %>
            <div id="menu-div">
                <div id="upper-menu-div" style="display:none;">
                    <div id="outer-nav-div">
                        <div id="upper-nav-div">
                            <%= link_to "<div class='nav-links themed_hover_text' id='quick_links'>#{t("quick_links")}</div>", "#", {:onClick => "show_quick_links();return false;"} %>
                            <% available_categories = MenuLinkCategory.all.select { |m| ((!(m.allowed_roles & u_roles == [])) and (m.origin_name.nil? or FedenaPlugin.can_access_plugin?(m.origin_name))) } %>
                            <% available_categories.each do |c| %>
                              <%= link_to "<div class='nav-links themed_hover_text'>#{t(c.name)}</div>", "#", {:onClick => "show_all_features(this);return false;", :id => "#{c.id}-link"} %>
                            <% end %>
                            <%= link_to t('manage_quick_links'), {:controller => "user", :action => "manage_quick_links"}, {:class => 'button-link themed_hover_text', :id => 'manage-links'} %>
                        </div>
                    </div>
                    <div id="sep-div">

                    </div>
                    <div id="lower-link-div">

                    </div>
                    <div id="loader-div" style="display:none;">
                        <img class="quicklink-loader" border="0" align="absmiddle" src="/images/Loader-transparant.gif"/>

                        <div class="load-text"><%= t('loading') %></div>
                    </div>
                </div>


            </div>
        </div>

        <div id="content_wrapper">
            <%= hidden_field_tag "local_time", FedenaTimeSet.current_time_to_local_time(Time.now).strftime("%Y/%m/%d %H:%M:%S"), :id=>"local_time", :autocomplete=>:off %>
            <div id="side_bar">

                <div id="sidebar_news_area">

                </div>
            </div>

            <div id="content"> <%= yield %> </div>

            <div class="extender"></div>
        </div>

        <div id="footer">
            <div id="footer_logo">
                <div id="powered_by">
                    <%= t('powered_by') %>
                    <a href=<%= "#{FedenaSetting.company_details[:company_url]}" %> target="_blank", class="themed_text"><%= FedenaSetting.company_details[:company_name] %></a>
                </div>
            </div>
        </div>
    </body>
</html>
<%= yield :redactor %>
<script type="text/javascript">

  // finds current cursor position
  var getCaretPos = function (id) {
      var el = document.getElementById(id);
      var rng, ii = -1;
      if (typeof el.selectionStart == "number") {
          ii = el.selectionStart;
      }
      else if (document.selection && el.createTextRange) {
          rng = document.selection.createRange();
          rng.collapse(true);
          rng.moveStart("character", -el.value.length);
          ii = rng.text.length;
      }
      return ii;
  };

  // sets current cursor position
  var setCaretTo = function (id, pos) {
      var obj = document.getElementById(id);
      if (obj.createTextRange) {
          var range = obj.createTextRange();
          range.move("character", pos);
          range.select();
      }
      else if (obj.selectionStart) {
          obj.focus();
          obj.setSelectionRange(pos, pos);
      }
  };

  // makes sure each input field with set precision to accept only precisioned values (numbers & 1 decimal point only)
  j(document).delegate('.precision_text', 'keypress', function (e) {
      var id = j(this).attr('id');
      var precision = parseInt("<%= @precision %>");
      var pos = getCaretPos(id);
      var key = e.which;
      var val = j(this).val();
      var dot = val.indexOf('.');
      //console.log('pos:'+pos+'dot:'+dot+'keyCode:'+key);
      if ((key >= 48 && key <= 57) || (dot == -1 && key == 46 || dot > -1 && (key >= 48 && key <= 57)) || key == 8 || key == 0) {
          //console.log('number('+ key + ') or dot('+ dot +')');
          if (pos > dot && key >= 48 && key <= 57) {
              var parts = val.split('.');
              var decimal_part = parts[1];
              if (parts.length > 1 && decimal_part.length >= precision) {
                  e.preventDefault();
              }
          }
      }
      else {
          e.preventDefault();
      }
  });

  // prevents copy && paste in precisioned fields
  var isCtrl = false;
  j(document).delegate('.precision_text', 'keyup', function (e) {
      if (e.keyCode == 17)
          isCtrl = false;
  });
  // prevents copy && paste in precisioned fields
  j(document).delegate('.precision_text', 'keydown', function (e) {
      if (e.keyCode == 17)
          isCtrl = true;
      if ((((e.keyCode == 86) || (e.keyCode == 67)) && isCtrl == true) || (e.keyCode == 86))
          e.preventDefault();
  });

  // prevents right click on precisioned fields
  j(document).delegate('.precision_text', "contextmenu", function (e) {
      e.preventDefault();
  });
  // Disable form double submit in through enter or other if any
  j('form').one('submit', function (evt) {
      j(this).on('submit', function (evt) {
          evt.preventDefault();
      });
  });


</script>

<script>
  MakeMessageBox = function () {
      hide_message();
      remove_popup_box();
      options = {'title': '<%="#{t('create_text')} #{t('new_text')} #{t('reminder_text')}"%>'};
      build_modal_box(options);
      j('#popup_window').addClass('message_popup');
      j('#popup_window').offset({
          left: (j('body').width() - j('#popup_window').width()) / 2
      });
      j('#popup_footer').remove();
      j('#popup_box_overlay').click(close_modal_box);
  }
  

  var lock = false
  function search_message_ajax() {
      if (j('#query_message').val().include("%"))
          return;
      if (lock) {
          return
      }
<%="#{remote_function(:url => {:controller=>'messages',:action => "recipient_search_autocomplete"},
:with =>"'query='+encodeURIComponent(j('#query_message').val())",
:before => "Element.show('loader');j('#search_list').hide();set_lock();",
:success => "Element.hide('loader');j('#search_list').show();load_hide_function();",
:update=>"search_list"
)}"%>
  }

</script>