<%- # Fedena
    #Copyright 2010 Foradian Technologies Private Limited
    #
    #This product includes software developed at
    #Project Fedena - http://www.projectfedena.org/
    #
    #Licensed under the Apache License, Version 2.0 (the "License");
    #you may not use this file except in compliance with the License.
    #You may obtain a copy of the License at
    #
    #  http://www.apache.org/licenses/LICENSE-2.0
    #
    #Unless required by applicable law or agreed to in writing,
    #software distributed under the License is distributed on an
    #"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    #KIND, either express or implied.  See the License for the
    #specific language governing permissions and limitations
    #under the License.
-%>

<!DOCTYPE html>
<html dir="<%= (rtl?) ? 'rtl' : 'ltr' %>"  moznomarginboxes mozdisallowselectionprint>
  <head>
    <% @direction = (rtl?) ? 'rtl/' : '' %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%=h @title %></title>
    <% unless current_school_detail.new_record? %>
        <link rel="shortcut icon" href="<%= current_school_detail.logo.url(:original, false) %>" type="<%= current_school_detail.logo.content_type %>"/>
    <% end %>

    <%#= stylesheet_link_tag(*get_stylesheets) %>
    <%= javascript_include_tag 'jquery/jquery-1.9.1.min.js' %>

    <%= javascript_include_tag :defaults, :cache => 'cache/javascripts/all' %>
    <%= javascript_include_tag 'fedena_plugin.js' %>
    <%= yield :head %>
    <script type="text/javascript">
      var j = jQuery.noConflict();
    </script>
  </head>
  <body>
    <div id="content_wrapper">
      <div id="content">
        <%= yield %>
      </div>
      <div class="extender"></div>
    </div>
  </body>
</html>
