<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="<%= (rtl?) ? 'rtl' : 'ltr' %>">
  <head>
    <% @direction = (rtl?) ? 'rtl/' : '' %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    
    <% if params[:d].present? %>
      <%= stylesheet_link_tag([@direction+'application', @direction+'_styles/ui.all'])%>
      <%= stylesheet_link_tag(*get_pdf_stylesheets) %>
      <%= stylesheet_link_tag  @direction+"_layouts/tc_pdf" %>
    <% end %>
    
    <link rel="stylesheet" type="text/css" href="<%="#{RAILS_ROOT}/public/stylesheets/#{@direction}_layouts/tc_pdf.css" %>" media="all" />
    <link rel="stylesheet" type="text/css" href="<%="#{RAILS_ROOT}/public/stylesheets/#{get_pdf_stylesheets}.css"%>" media="all" />
    <link rel="stylesheet" type="text/css" href="<%= "#{RAILS_ROOT}/public/stylesheets/#{@direction}_styles/ui.all.css"%>" media="all" />
    <%=yield :head%>
    <style type="text/css">
    </style>
    <script>
      j(document).ready(function(a,b){
        j('#body_end').html(j('body').height());
        j('#body_end').html(j('body').height());
      });
      
      function subst() {  
      var vars = {};  
        
      // explode the URL query string  
      var x = document.location.search.substring(1).split('&');  
        
      // loop through each query string segment and get keys/values  
      for (var i in x)  
      {  
         var z = x[i].split('=',2);  
         vars[z[0]] = unescape(z[1]);  
      }  
  
      // an array of all the parameters passed into the footer file  
      var x = ['frompage', 'topage', 'page', 'webpage', 'section', 'subsection', 'subsubsection'];  
        
      // each page will have an element with class 'section' from the body of the footer HTML  
      var y = document.getElementsByClassName('footer-pdf-style');  
      for(var j = 0; j < y.length; j++)  
      {  
         // if current page equals total pages  
         if (vars[x[2]] == vars[x[1]])  
         {  
            y[j].innerHTML = "I'm a footer only on the last page";  
         }  
      }  
   }  
      </script>
  </head>
  <body style="min-height: 1020px;" onload="subst()">      
    <%= yield %>
  </body>
</html>
