<%#
# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.
%>

<!DOCTYPE html>
<html dir="<%= (rtl?) ? 'rtl' : 'ltr' %>"  moznomarginboxes mozdisallowselectionprint>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <%= javascript_include_tag 'jquery/jquery-1.9.1.min.js' %>
    <%= javascript_include_tag :defaults, :cache => 'cache/javascripts/all' %>
    <%= javascript_include_tag 'fedena_plugin.js' %>
    <%= yield :head %>
    <script type="text/javascript">
      var j = jQuery.noConflict();
    </script>
  </head>
  <body>
      <div id="content_wrapper" style="margin-top: 7px;">
      <div id="content">
        <%= yield %>
      </div>
      <div class="extender"></div>
    </div>
  </body>
</html>
