<tr class="tr-blank"></tr>
<tr class="tr-head" cellpadding="1" cellspacing="1">
    <td class="col-1"></td>
    <td class="col-1 bold_font" colspan="2"><span><%= t('summary') %></span></td>
</tr>
<% si = 0 %>
<tr class="tr-<%= cycle("odd", "even") %> ">
    <td class="col-1 normal_font"><%= si+= 1%></td>
    <td class="col-2 normal_font"><%= "#{t('total')}  #{t('fees_text')}" %></td>
    <td class="col-6 normal_font"> <%= precision_label(@total_payable) %></td>
</tr>
<% if @total_discount.present? and @total_discount != 0 %>  
  <tr class="tr-<%= cycle("odd", "even") %> ">
      <td class="col-1 normal_font"><%= si+= 1%></td>
      <td class="col-2 normal_font"><%= "#{t('total')} #{t('discount')}" %></td>
      <td class="col-6 normal_font"> <%= precision_label(@total_discount) %></td>
  </tr>
<% end %>
<% if @financefee.tax_enabled %>
  <tr class="tr-<%= cycle("odd", "even") %> ">
      <td class="col-1 normal_font"><%= si+= 1%></td>
      <td class="col-2 normal_font"><%= "#{t('total')} #{t('tax_text')}" %></td>
      <td class="col-6 normal_font"> <%= precision_label(@total_tax) %></td>
  </tr>
<% end %>

<% if @total_fine != 0 %>  
  <tr class="tr-<%= cycle("odd", "even") %> ">
      <td class="col-1 normal_font"><%= si+= 1%></td>
      <td class="col-2 normal_font"><%= "#{t('total')} #{t('fine')}" %></td>
      <td class="col-6 normal_font"> <%= precision_label(@total_fine) %></td>
  </tr>
<% end %>
<!--
<tr class="tr-<%#= cycle("odd", "even") %> ">
  <td class="col-1 normal_font">3</td>
  <td class="col-2 normal_font"><%#= "#{t('total')} #{t('fine')}" %></td>
  <td class="col-6 normal_font"> <%#= precision_label(total_fine) %></td>
</tr>
-->

<tr class="tr-blank"></tr>
<% total_fees = (@total_payable.to_f - @total_discount.to_f + total_fine) %>
<% total_fees += @total_tax.to_f if @financefee.tax_enabled %>
<tr class="tr-<%= cycle("odd", "even") %>" cellpadding="1" cellspacing="1">
    <td class="bold_font col-6" colspan="2"><%= t('total_amount_to_pay') %> </td>
    <td class="col-6 bold_font total_fees">
        <%= precision_label(total_fees) %>
    </td>
</tr>
<% balance = @fee.balance.to_f + @fine.to_f %>
<% unless @paid_fees.nil? %>
  <% paid=0 %>
  <% @paid_fees.each { |a| paid += a.amount.to_f } %>
  <% total_fees -= paid %>
  <tr class="tr-blank"></tr>
  <tr class="tr-<%= cycle("odd", "even") %>" cellpadding="1" cellspacing="1">
      <td class="bold_font col-6" colspan="2"><%= t('total_amount_paid') %></td>
      <td class="col-6 bold_font payment_done">
          <%= precision_label(paid) %>
          <% if precision_label(balance+@fine_amount.to_f).to_f <= 0 %>
            <span class="cancel-disc" style="<%= @show_due_amount ? 'display:none' : ''%>">
                <%= "&#10004;" %>
            </span>
          <% end %>
      </td>
  </tr>
<% end %>

<tr class="tr-blank"></tr>
<tr class="tr-<%= cycle("odd", "even") %>" cellpadding="1" cellspacing="1">
    <td class="bold_font col-6" colspan="2"><%= t('total_due_amount') %> </td>
    <td class="bold_font col-6 amount_to_pay">
        <% unless precision_label(balance+@fine_amount.to_f).to_f < 0 %>
          <%= precision_label(balance+@fine_amount.to_f) %> 
        <% end %>
    </td>
</tr>

