<div class="date_box">
    <div class="set_fixed_range">
        <%=  link_to t('last_30_days'), { :controller => "finance_extensions",
          :action => "update_tax_report", :id => @fee_collection, :date_tag => t('last_30_days'),
          :start_date => I18n.l(30.day.ago.to_date, :format => :default),
          :end_date => I18n.l(Date.today, :format => :default)}%>

        <%=  link_to t('last_3_months'),{ :controller => "finance_extensions",
          :action => "update_tax_report", :id => @fee_collection, :date_tag => t('last_3_months'),
          :start_date=> I18n.l(3.month.ago.beginning_of_month.to_date, :format => :default), 
          :end_date=> I18n.l(Date.today, :format => :default)}%>

        <%=  link_to t('last_6_months'),{ :controller => "finance_extensions",
          :action => "update_tax_report", :id => @fee_collection,
          :date_tag => t('last_6_months'),
          :start_date => I18n.l(6.month.ago.beginning_of_month.to_date, :format => :default), 
          :end_date => I18n.l(Date.today, :format => :default)}%>                
    </div>
    <div class="set_border"></div>
    <div class="user_set_date">
        <% remote_form_for :report, :url => { :action => @target_action, :id=>params[:id], 
          :batch_id=>params[:batch_id]}, :html=>{ :id=> "form_id" } do |form| %>
          <div>
              <%= calendar_date_select_tag 'start_date', I18n.l(@start_date,:format=>:default) ,:popup=>:force%>
          </div>
          <div> <label><%= t('to') %></label>
              <%= calendar_date_select_tag 'end_date', I18n.l(@end_date,:format=>:default) ,:popup=>:force%>
              <%= submit_tag "#{t('view_report')}",:class=>'user_button1' %>
              <span class="themed_hover_text" id="hide_date_filter"><%=t('cancel')%></span>
          </div>
        <%end%>
        <div id="date_error_div"></div>
    </div>
</div>
<script type="text/javascript">
  j('.calendar_label').on('click', function () {
      var month_names = "<%= I18n.t('date.month_names').compact.join(',') %>";
      new CalendarDateSelect(this.previous(), {date_format: "<%= date_format %>", locale_months: month_names, popup: 'force', year_range: 10});
  });
  j("#hide_date_filter").click(function () {
      j(".date_box").hide();
      j("#show_date").show();
  });
</script>