<%- # Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License.                            -%>
<%= javascript_include_tag("receipt_printer") %>
<%= render :partial => "finance_extensions/flash_notice" %>
<div class="details">

    <div class="name">
        <%= t('student_name') %>
    </div>
    <div class="val">
        <span>:</span>
        <% if roll_number_enabled? %>
          <div class="val-align">
              <%= @student.full_name_with_roll_no %>
          </div>
        <% else %>
          <div class="val-align">
              <%= @student.full_name_with_admission_no %>
          </div>
        <% end %>
    </div>
    <div class="name">
        <%= t('batch_name') %>
    </div>
    <div class="val">
        <span>:</span>

        <div class="val-align">
            <%= @student.batch.full_name %>
        </div>
    </div>

    <% unless @fee_category.nil? %>
      <div class="name">
          <%= t('fee_category_name') %>
      </div>
      <div class="val">
          <span>:</span>

          <div class="val-align">
              <%= @fee_category.name.capitalize %>
          </div>
      </div>
    <% end %>

    <div class="name">
        <%= t('fees_collection_date_name') %>
    </div>
    <div class="val">
        <span>:</span>

        <div class="val-align">
            <%= @date.name.capitalize %>
        </div>
    </div>
</div>
<br/>


<div class="height-fixer"></div>

<% total_fees =0 %>
<% remote_form_for :fees, :url => {:controller => 'finance_extensions', :action => 'particular_wise_fee_payment', :id => @student.id, :date => @date.id}, :html => {:id => "particular_fees"}, :loading => "$('loading').show();", :loaded => "$('loading').hide();" do |form| %>
  <%# remote_form_for :fees, :id => 'particular_fees', :url => {:action => 'particular_wise_fee_payment', :id => @student.id, :date => @date.id }, :html => {:id => "particular_fees"}, :before => "prev_double()", :complete => "set_back()" do |form| %>
  <%= hidden_field_tag "fees[finance_id]", @financefee.id %>
  <%= hidden_field_tag "fees[finance_type]", "FinanceFee" %>
  <%= hidden_field_tag "fees[payee_type]", "Student" %>
  <%= hidden_field_tag "fees[payee_id]", @student.id %>
  <%= hidden_field_tag "fees[category_id]", @transaction_category_id %>
  <%= hidden_field_tag "fees[title]", "#{t('receipt_no')}. (#{t('particular')}) F#{@financefee.id}" %>
  <%= hidden_field_tag "fees[trans_type]", "particular_wise" %>
  <%= hidden_field_tag "fees[transaction_date]", @transaction_date, options ={:class => 'fee_transaction_date'} %>
  <% paid_status=(@financefee.is_paid_with_fine?) %>
  <% if paid_status %>
    <% @applied_discount=@total_discount %>
  <% end %>
  <% unless @fee_particulars.nil? %>
    <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
        <tr class="tr-head">
            <td><%= t('sl_no') %></td>
            <td><%= t('particulars') %></td>
            <td><%= t('amount') %> (<%= currency %>)</td>
        </tr>
        <% i = 0 %>
        <tr class="tr-blank"></tr>
        <% @fee_particulars.each do |fee| %>

          <tr class="tr-<%= cycle("odd", "even") %> particular">
              <td class="col-1"><%= i +=1 %></td>
              <td class="col-2"><%= fee.name %></td>
              <td class="col-6">
                  <% if (fee.amount-(fee.particular_payments.select { |pp| pp.finance_fee_id==@financefee.id }.collect(&:amount).compact.sum().to_f))==0 or (@financefee.is_paid) or (@financefee.balance.to_f+@fine_amount)==0 %>
                    <div class="fleft"> <%= precision_label(fee.amount) %></div>

                    <div id="link1">
                        <%= t('paid') %>
                    </div>
                  <% else %>

                    <div class="fleft"> <%= precision_label(fee.amount-(fee.particular_payments.select { |pp| pp.finance_fee_id==@financefee.id }.collect(&:amount).compact.sum().to_f)) %></div>
                    <div class="input-fields">
                        <%= hidden_field_tag "particular_payment[particular_payments_attributes][#{fee.id}][finance_fee_particular_id]", fee.id %>
                        <%= text_field_tag "particular_payment[particular_payments_attributes][#{fee.id}][amount]", value="", options={:class => "precision_text payment_box amount_box"} %>
                    </div>
                    <div id="link">
                        <% if @applied_discount < @total_discount %>
                          <%= link_to_function "<span class='add_button_img'></span>  #{t('add')} #{t('discount')}", "add_discount(this,#{fee.id});" %>
                        <% end %>
                    </div>
                  <% end %>

              </td>
              <td class="cancel-disc cancel-color">
                  <% if fee.receiver_type=='Student' and !paid_status and fee.is_instant? %>
                    <div class="particular-or-discount-deletion" id=<%= fee.id %> finance_id = <%= @financefee.id %> render_action="<%= @target_action %>" render_controller="<%= @target_controller %>" target_action="delete_student_particular">
                        <%= ("&times") %>
                    </div>
        <%#= link_to_remote ("&times"), {:url => {:controller => :finance_extensions, :action => :delete_student_particular, :id => fee.id}, :confirm => "#{t('are_you_sure_want_delete_this_transaction')}"}, {:class => "themed_text"} %>
                  <% end %>
              </td>
          </tr>

          <tr class="tr-blank">

          </tr>
          <% total_fees += fee.amount %>
        <% end %>
        <% unless paid_status %>
          <tr>
              <td colspan="3" style="width:100%">
                  <div class="instant-particular">
                      <%= link_to_remote '+ Add Particular', :url => {:controller => "finance_extensions", :action => "new_instant_particular", :id => @financefee.id, :current_action => @target_action, :current_controller => @target_controller} %>
                  </div>
              </td>
          </tr>
        <% end %>

        <% if @categorized_discounts.present? %>
          <tr class="tr-blank"></tr>
          <tr class="tr-blank"></tr>
          <tr class="tr-head" cellpadding="1" cellspacing="1">
              <td class="col-1"></td>
              <td class="col-1" colspan="2"><span><%= t('discount') %> </span></td>
          </tr>
        <% end %>
        <%= render :partial => 'finance/discount_list', :locals => {:i => i=0, :total_fees => total_fees} %>
        <%i=0%>
        <tr class="tr-blank"></tr>
        <% unless @paid_fees.blank? %>
          <% @paid_fees.each do |trans| %>
            <% if trans.fine_included %>
              <% extra_fine=0 %>
              <tr class="tr-<%= cycle("odd", "even") %>">
                  <td class="col-1 normal_font"><%= i+=1 %></td>
                  <td class="col-2 normal_font">
                      <% if trans.auto_fine.present? %>
                        <% fine_paid=trans.auto_fine.to_f %>
                        <% extra_fine=trans.fine_amount-fine_paid %>
                        <span> <%= @fine_rule.fine.name %>(<%= t('fine') %>)</span>
                      <% else %>
                        <% fine_paid=trans.fine_amount %>
                        <span ><%= t('fine_on') %> <%= format_date(trans.transaction_date) %></span>
                      <% end %>
                  </td>
                  <td class="col-6 normal_font">
                      <%= precision_label(fine_paid) %>
                  </td>
              </tr>
              <% if precision_label(extra_fine) > precision_label(0) %>
                <tr class="tr-<%= cycle("odd", "even") %>">
                    <td class="col-1 normal_font"><%= i+=1 %></td>
                    <td class="col-2 normal_font">
                        <span><%= t('fine_on') %> <%= format_date(trans.transaction_date) %></span>
                    </td>
                    <td class="col-6 normal_font">
                        <%= precision_label(extra_fine) %>
                    </td>
                </tr>
              <% end %>

              <% total_fees += (fine_paid+extra_fine) %>
            <% end %>
          <% end %>
        <% end %>

        <% unless @financefee.is_paid_with_fine? %>
          <tr class="tr-blank"></tr>
          <tr class="tr-blank"></tr>
          <% if @due_date.to_date < @transaction_date %>
            <% if @fine_rule %>
              <tr class="tr-<%= cycle("odd", "even") %>" cellpadding="1" cellspacing="1">

                  <td class="col-8 normal_font" colspan="2">
                      <span> <%= @fine_rule.fine.name %><%= discount_text = @fine_rule.is_amount ? "" : " (#{@fine_rule.fine_amount}&#x200E;%)" %>
                          (<%= t('fine') %>)</span>
                  </td>
                  <td class="col-6 fine_box normal_font">
                      <% if (@financefee.balance ==0 and !@financefee.is_paid?) and (precision_label(@total_discount).to_f-precision_label(@applied_discount).to_f == precision_label(0).to_f) and (!paid_status) %>
                        <div id="fine_link" class="fine_add_link">
                            <%= link_to_function "<span class='add_button_img'></span>  #{t('add')} #{t('fine')}", "pay_fine(#{@fine_amount});" %>
                        </div>
            <%#= text_field_tag "", precision_label(@fine_amount), options={:class => "precision_text payment_box amount_box fright fine_amount", :readonly => true,:id=>'auto_fine'} %>
                      <% end %>
                      <%= text_field_tag "", precision_label(@fine_amount), options={:class => "precision_text fright fine_amount", :disabled => true, :id => 'auto_fine'} %>
                  </td>
              </tr>
            <% end %>
            <tr class="tr-<%= cycle("odd", "even") %>" cellpadding="1" cellspacing="1">

                <td class="col-8 normal_font" colspan="2">
                    <span ><%= t('due_date_exceeded_collect_fine') %> </span>
                </td>
                <td class="col-6 normal_font">
                    <%= text_field_tag "", '', options={:class => "precision_text payment_box fright fine_amount manual_fine", :disabled => paid_status, :id => 'man_fine'} %></td>
            </tr>


          <% end %>
        <% end %>
        <% unless @paid_fees.nil? %>
          <% paid=0 %>
          <% @paid_fees.each { |a| paid += a.amount.to_f } %>
          <% total_fees -= paid %>

          <tr class="tr-blank"></tr>
          <tr class="tr-<%= cycle("odd", "even") %>" cellpadding="1" cellspacing="1">
              <td class="col-8" colspan="2"><%= t('total_applicable_discount') %></td>
              <td class="col-6 applicable_discount">
                  <%= precision_label(@total_discount).to_f-precision_label(@applied_discount).to_f %>
              </td>
          </tr>
          <tr class="tr-<%= cycle("odd", "even") %>" cellpadding="1" cellspacing="1">
              <td class="col-8" colspan="2"><%= t('discount_applied') %></td>
              <td class="col-6 discount_applied">
                  <%= precision_label(@applied_discount) %>
              </td>
          </tr>
          <% balance=@financefee.balance.to_f+@fine.to_f %>
          <tr class="tr-blank"></tr>
          <tr class="tr-<%= cycle("odd", "even") %>" cellpadding="1" cellspacing="1">
              <td class="col-8" colspan="2"><%= t('total_amount_to_pay') %></td>
              <td class="col-6">
                  <%= precision_label(total_fees+paid+@fine_amount.to_f) %>
              </td>
          </tr>
          <tr class="tr-<%= cycle("odd", "even") %>" cellpadding="1" cellspacing="1">
              <td class="col-8" colspan="2"><%= t('total_amount_paid') %></td>
              <td class="col-6">
                  <%= precision_label(paid) %>
              </td>
              <% if precision_label(balance+@fine_amount.to_f).to_f <= 0 %>
                <td class="cancel-disc"><%= "&#10004;" %></td>
              <% end %>
          </tr>
        <% end %>
        <%= hidden_field_tag 'net_discount', @total_discount, options={:disabled => "disabled"} %>
        <%= hidden_field_tag 'applied_discount', @applied_discount, options={:disabled => "disabled"} %>


        <% if precision_label(balance+@fine_amount.to_f).to_f > 0 %>
          <tr class="tr-blank"></tr>
          <tr class="tr-blank"></tr>
          <tr class="tr-<%= cycle("odd", "even") %>" cellpadding="1" cellspacing="1">
              <td class="col-8 " colspan="2"><%= t('total_due_amount') %></td>
              <td class="col-6">
                  <% if @financefee.is_paid or @financefee.balance<=0 %>
                    <%= @fine_amount.to_f != 0 ? precision_label(@financefee.balance.to_f+@fine_amount.to_f) : precision_label(0) %>
                  <% else %>
                    <%= precision_label(balance+@fine_amount.to_f) %>
                  <% end %>
              </td>
          </tr>
        <% end %>

        <% unless @financefee.is_paid_with_fine? %>
          <tr>
              <td colspan="3">
                  <div class="payment_details">
                      <div class="label-field-pair3">
                          <label><%= t('payment_mode') %>  <%= image_tag("loader.gif",
                                :align => "absmiddle",
                                :border => 0,
                                :id => "loader1",
                                :style => "display: none;") %></label>

                          <div class="text-input-bg3"><%= select :fees, :payment_mode, [["#{t('cash')}", "Cash"],["#{t('online_payment')}", "Online Payment"],["#{t('cheque')}", "Cheque"],["#{t('dd')}","DD"],["#{t('others')}", "Others"]],{:selected=>params[:payment_mode]}, {:onChange => "#{remote_function(:url => {:controller => "finance", :action => "select_payment_mode"},
                                :with => "'payment_mode='+value", :before => "$('loader1').show();",
                                :success => "$('loader1').hide();")}"} %>
                          </div>
                      </div>
                      <div id="payment_mode">
                          <div id="payment_mode_details">
                              <% if params[:payment_mode]=='Others'%>
                                <%=render :partial=>'finance/select_payment_mode',:locals=>{:mode=> params[:others_payment_mode]} %>
                              <% end %>
                          </div>
                      </div>
                      <div class="label-field-pair5">
                          <label><%= t('reference_no') %> </label>

                          <div class="text-input-bg4">
                              <%= form.text_field :reference_no%>
                          </div>
                      </div>
                      <div class="label-field-pair4">
                          <label><%= t('amount') %> </label>

                          <div class="text-input-bg4"><%= form.text_field :amount, :value => 0, :class => 'precision_text payment', :readonly => true %>

                          </div>
                      </div>
                  </div>
              </td>
          </tr>
        <% end %>
        <tr>
            <td colspan="3">
                <div class="pay_fees">
                    <% if paid_status %>
                      <div class="pay_fees_buttons">
                          <h4><%= t('fees_paid') %></h4>
                          <%= link_to "► #{t('print_summary')}",
                            {:controller => "finance_extensions", :action => "particular_wise_fee_pay_pdf", :id => @student.id, :date => @date.id, :batch_id => @student.batch_id, :fine_amount => @paid_fine, :transaction_date => @transaction_date}, :target => '_blank', :class => 'user_button' %>
                      </div>
                    <% else %>
                      <%= transaction_date_field(@transaction_date,:onchange=> (<<-CODE
          j.get('/finance_extensions/particular_wise_fee_payment',{date: #{@date.id},id:#{@student.id},transaction_date: j('#transaction_date').val(),payment_mode: j('#fees_payment_mode').val(),others_payment_mode: j('.others_payment_mode').val()})
                        CODE
                        ));
                    %>
                      <div class="label-field-pair3-text-area">
                          <label><%= t('payment_notes') %> </label>
                          <div class="textarea-input-bg3"><%= form.text_area :payment_note, :cols => 50, :rows => 1 %>
                          </div>
                      </div>

                      <div class="pay_fees_buttons">
                          <%=hidden_field_tag :session_fingerprint, session_fingerprint%>
                          <%= submit_tag "► #{t('pay_fees')}", :class => 'submit_button', :id => 'submit_button' %>
                          <%= link_to "► #{t('print_summary')}",
                            {:controller => "finance_extensions", :action => "particular_wise_fee_pay_pdf", :id => @student.id, :date => @date.id, :batch_id => @student.batch_id, :fine_amount => @paid_fine,:transaction_date => @transaction_date}, :target => '_blank', :class => 'user_button' %>
                      </div>
                    <% end %>
                  <% end %>
              </div>
          </td>
      </tr>
  <%#*<tr>%>
  <%#*<td colspan="3">%>
  <%# unless @paid_fees.nil? or not total_fees.to_f == 0 %>
  <%#= link_to "► #{t('print_receipt')}",
  {:controller => "finance", :action => "student_fee_receipt_pdf", :id => @student.id, :id2=>@date.id},:target => '_blank', :class=> 'user_button' %>
  <%# end %>
  <%#*</td>%>
  <%#*</tr>%>

    <% end %>
</table>

<% unless @paid_fees.empty? %>
  <div id="payments_details">
      <div class="label-field-pair3">
          <label><%= t('payment_history') %> </label>
      </div>
      <table id="listing1" align="center" width="100%" cellpadding="1" cellspacing="1">
          <tr class="tr-head">
              <td><%= t('receipt_no') %></td>
              <td><%= t('payment_date') %></td>


              <td><%= t('particulars') %></td>
              <td><%= t('discounts') %></td>
              <td><%= t('cashier') %></td>
              <td><%= t('amount') %> (<%= currency %>)</td>
              <td class="col-3"></td>

          </tr>
          <tr class="tr-blank"></tr>
          <% @paid_fees.each_with_index do |f, i| %>
            <% tr_style= (i%2 ==0) ? "even" : "odd" %>
            <% fine_count=(f.fine_included and f.particular_payments.present?) ? 1 : 0 %>
            <tr class="tr-<%= tr_style %>">
                <td class="col-1 align_center" rowspan="<%= f.particular_payments.length+1+fine_count %>">
                    <%= f.receipt_number %>
    <%#= link_to_function "<span class='print_icon_img'></span>", "show_print_dialog(#{f.id})" %>
    <%#= link_to "<span class='print_icon_img'></span>" ,{:controller=>'finance', :action => "generate_fee_receipt",:transaction_id=>f.id},:target => '_blank'  %>
                </td>
                <td class="col-3 align_center" rowspan="<%= f.particular_payments.length+1+fine_count %>"><%= format_date(f.transaction_date) %></td>



                <% k=0 %>
                <% unless f.particular_payments.present? %>
                  <% if f.fine_included %>
                    <td class="col-2">
                        <div class="fleft" style="max-width: 150px;margin-top: 0px;">
                            <%= t('fine') %> :
                        </div>
                        <div class="fright amount_align" style="margin-top: 0px;"><%= precision_label(f.fine_amount) %></div>
                    </td>
                  <% else %>
                    <td class="col-2"></td>
                  <% end %>
                  <td></td>
                  <td class="col-3" style="text-align: center"><%= f.payment_mode=='Online Payment' ? f.get_cashier_name : f.cashier_name %></td>
                  <td class="col-3 align_right">
                      <%= precision_label(f.amount.to_f) %>
                  </td>
                  <td class="col-3 receipt-actions">
                      <%= receipt_buttons(f.id) %>
                      <%  if can_access_request? :delete_transaction_by_batch, :finance%>
                        <% if @financefee.fee_refund %>
                          <div class="disabled-link">  <%= link_to_remote raw(' <div class="revert_icon_img inactive-delete"></div>'), {:url => {:controller => :finance_extensions, :action => :delete_multi_fees_transaction, :id => @student.id, :transaction_id => f.id, :type => 'other_transaction'}, :confirm => "#{t('are_you_sure_want_delete_this_transaction')}"}, {:class =>"disable_link",:tooltip=>t('revert_transaction')} %></div>
                        <% else %>
                          <%= link_to raw('<span class="revert_icon_img"></span>'), '#', :onclick => "return MakeBox(#{f.id});",:class=>"themed_text",:tooltip=>t('revert_transaction') %>
                        <% end %>
                      <%end%>
                      <div class="trigger_parent">
                          <div class="p_note" style="display: none"><%= f.payment_note %></div>
                          <%if f.reference_no.present?%>
                            <div class="p_mode" style="display: none"><%= f.payment_mode %> - <%=f.reference_no%></div>
                          <%else%>
                            <div class="p_mode" style="display: none"><%= f.payment_mode %></div>
                          <%end%>
                          <div class="receipt_no" style="display: none"><%= f.receipt_number %></div>
                          <div id="trigger" class="fine_add_link trans_details" style="">
      <%#= link_to_function "#{image_tag "buttons/add_2.png" } #{t('more')} #{t('details')}", "" %>
                              <%= link_to_function "<span class='info_icon_img'></span>", "" %>
                          </div>
                      </div>
                  </td>

                <% else %>
                  <% part_len=0 %>
                  <% f.particular_payments.each do |particular_payment| %>
                    <% k=k+1 %>
                    <% part_len=part_len+1 %>

                <tr class="tr-<%= tr_style %>">
                    <td class="col-2">
                        <% if  particular_payment.finance_fee_particular.present? %>
                          <div class="fleft" style="max-width: 150px;margin-top: 0px;"><%= particular_payment.finance_fee_particular.name %>
                              :
                          </div>
                          <div class="fright amount_align" style="margin-top: 0px;"><%= precision_label(particular_payment.amount) %></div>
                        <% end %>

        <%#= particular_payment.finance_fee_particular.present? ? "#{particular_payment.finance_fee_particular.name} - #{precision_label(particular_payment.amount)}" : "" %>
                    </td>
                    <td class="col-2">

                        <% particular_payment.particular_discounts.each_with_index do |disc, i| %>
                          <% i =i+1 %>
                  <li style="list-style: none">
                      <div class="fleft" style="margin-top: 0px;"><%= i %>: &nbsp; <%= disc.name %>:</div>
                      <div class="fright amount_align" style="margin-top: 0px;">  <%= precision_label(disc.discount) %></div>
                  </li>
                <% end %>
                </td>
                <% if k==1 %>
                  <td class="col-3" style="text-align: center" rowspan="<%= f.particular_payments.length+fine_count %>"><%= f.payment_mode=='Online Payment' ? f.get_cashier_name : f.cashier_name %></td>
                  <td class="col-3 align_right" rowspan="<%= f.particular_payments.length+fine_count %>">
                      <%= precision_label(f.amount.to_f) %>
                  </td>
                  <td class="col-3 receipt-actions" rowspan="<%= f.particular_payments.length+fine_count %>">
                      <%= receipt_buttons(f.id) %>
                      <%  if can_access_request? :delete_transaction_by_batch, :finance%>
                        <% if @financefee.fee_refund %>
                          <div class="disabled-link">  <%= link_to_remote raw(' <div class="revert_icon_img inactive-delete"></div>'), {:url => {:controller => :finance_extensions, :action => :delete_multi_fees_transaction, :id => @student.id, :transaction_id => f.id, :type => 'other_transaction'}, :confirm => "#{t('are_you_sure_want_delete_this_transaction')}"}, {:class => "disable_link"} %></div>
                        <% else %>
                          <%= link_to raw('<span class="revert_icon_img"></span>'), '#', :onclick => "return MakeBox(#{f.id});",:class=>"themed_text",:tooltip=>t('revert_transaction') %>
                        <% end %>
                      <%end%>
                      <div class="trigger_parent">
                          <div class="p_note" style="display: none"><%=  f.payment_note %></div>
                          <%if f.reference_no.present?%>
                            <div class="p_mode" style="display: none"><%= f.payment_mode %> - <%=f.reference_no%></div>
                          <%else%>
                            <div class="p_mode" style="display: none"><%= f.payment_mode %></div>
                          <%end%>
                          <div class="receipt_no" style="display: none"><%= f.receipt_number %></div>
                          <div id="trigger" class="fine_add_link trans_details" style="">
                              <%= link_to_function "<span class='info_icon_img'></span>", "" %>
                          </div>
                      </div>
                  </td>

                <% end %>
                </tr>
              <% end %>
              <% if part_len==f.particular_payments.length %>
                <% if f.fine_included %>
                  <tr class="tr-<%= tr_style %>">
                      <td class="col-2">
                          <div class="fleft" style="max-width: 150px;margin-top: 0px;">
                              <%= t('fine') %> :
                          </div>
                          <div class="fright amount_align" style="margin-top: 0px;"><%= precision_label(f.fine_amount) %></div>
                      </td>
                      <td class="col-2"></td>

                  </tr>

                <% end %>
              <% end %>
            <% end %>
            <tr class="new-tr" style="height:5px"></tr>


            </tr>
          <% end %>

      </table>

  </div>
<% end %>

<div id="container">

    <!-- HIDDEN / POP-UP DIV -->
    <div id="pop-up">
        <h3><%= t('transaction_details') %></h3>
        <br/>

        <table id="trans_details">
            <tr class="tr-even">
                <td class="col-3" style="min-width: 100px"> <%= t('receipt_no') %> </td>
                <td class="col-3" style="min-width: 100px">
                    <div class="update_receipt_no width-350px"></div>
                </td>
            <div class="popup_line"></div>
            </tr>

            <tr class="tr-odd">
                <td class="col-3" style="min-width: 100px;vertical-align: top">
                    <%= t('payment_notes') %></td>
                <td class="col-3">
                    <div class="update_payment_note width-350px" style="word-break: break-all"></div>
                </td>
            <div class="popup_line"></div>
            </tr>
            <div class="hor_line"></div>
            <tr class="tr-even">
                <td class="col-3">   <%= t('payment_mode') %> </td>
                <td class="col-3">
                    <div class="update_payment_mode width-350px"></div>
                </td>
            </tr>
        </table>
        <div class="arrow_down"></div>
    </div>

    <div id="revert-pop-up">
        <%= "Fees Refunded. You can't revert the transaction!" %>
        <br/>

        <div class="revert_arrow_down"></div>
    </div>
</div>

</div>


<script type="text/javascript">
  MakeBox = function (f) {
      remove_popup_box();
      options = {'submit': '<%=t('revert_transaction')%>', 'cancel': '<%=t('cancel')%>', 'field_name': 'reason', 'input_type': 'text_area', 'title': '<%=t('revert_transaction')%>'};
      build_modal_box(options);
      build_prompt_popup_box('<%=t('reason')%>', options)
      j('#popup_window #popup_footer > #yes').click(function () {
          j.ajax({
              url: '/finance/delete_transaction_for_particular_wise_fee_pay',
              data: {
                  'id': <%=@student.id%>,
                  'date': <%=@date.id%>,
                  'transaction_id': f,
                  'reason': j('#popup_content #prompt_value').val(),
              },
              success: function () {
                  remove_popup_box();
              }
          })
      });
  }
  j('#fees_payment_mode').change(function () {
      switch (j(this).val()) {
          case 'Online Payment' :
              j('.label-field-pair5').children().first().text("<%=t('transaction_id')%>");
              break;
          case 'Cheque' :
              j('.label-field-pair5').children().first().text("<%=t('cheque_no')%>");
              break;
          case 'DD' :
              j('.label-field-pair5').children().first().text("<%=t('dd_no')%>");
              break;
          default :
              j('.label-field-pair5').children().first().text("<%=t('reference_no')%>");
              break;
      }
  });
  j(document).click(function (e) {
      j('div#pop-up').hide();
      //        if (!(j(e.target).parent().attr('id')) == 'trigger') {
      //            j('div#pop-up').hide();
      //        }
  })

  j(function () {


      j('.trans_details').hover(function (e) {
          j('div#revert-pop-up').hide();
          var moveLeft = 0
          var moveDown = 0


          var moveLeft = ((j(this).position().left) + (j(this).width()) / 2)
          var moveDown = (j(this).position().top) - 35
          trans_details_show(moveLeft, moveDown, this)

      }, function () {
          j('div#pop-up').hide();
      });

      //        j('.trans_details').mousemove(function (e) {
      //            j("div#pop-up").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
      //        });

  });

  j('.trans_details').click(function () {
      var moveLeft = ((j(this).position().left) + (j(this).width()) / 2)
      var moveDown = (j(this).position().top) - 35

      trans_details_show(moveLeft, moveDown, this)


  })

  j(document).click(function (e) {
      j('div#revert-pop-up').hide();

  })

  j(function () {


      j('.disabled-link').hover(function (e) {

          if (j('.disabled-link').children().length == 1) {
              var moveLeft = 0
              var moveDown = 0


              var moveLeft = ((j(this).position().left) + (j(this).width()) / 2)
              var moveDown = (j(this).position().top) - 35
              revert_message_show(moveLeft, moveDown, this)

          }
      }, function () {
          j('div#revert-pop-up').hide();
      });


  });

  function revert_message_show(moveLeft, moveDown, e) {
      j('div#pop-up').hide();
      var rtl = "<%= (rtl?) ? 'rtl' : 'ltr'  %>"

      if (rtl == 'rtl') {
          left_index = -40
      }
      else {
          left_index = -285
      }

      moveLeft = moveLeft + left_index

      j('div#revert-pop-up').delay(350).show(0);

      moveDown = moveDown - (j('div#revert-pop-up').height())


      j("div#revert-pop-up").css('top', moveDown).css('left', moveLeft);
  }

  function trans_details_show(moveLeft, moveDown, e) {
      j('div#revert-pop-up').hide();
      var rtl = "<%= (rtl?) ? 'rtl' : 'ltr'  %>"

      if (rtl == 'rtl') {
          left_index = -50
      }
      else {
          left_index = -450
      }

      moveLeft = moveLeft + left_index
      p_note = (j(e).parent().children('.p_note').text())
      p_mode = (j(e).parent().children('.p_mode').text())
      receipt_no = (j(e).parent().children('.receipt_no').text())
      j('div#pop-up').delay(350).show(0);
      j('.update_receipt_no').text(receipt_no)
      j('.update_payment_note').text(p_note)
      j('.update_payment_mode').text(p_mode)
      moveDown = moveDown - (j('div#pop-up').height())

      //.css('top', e.pageY + moveDown)
      //.css('left', e.pageX + moveLeft)
      //.appendTo('body');


      j("div#pop-up").css('top', moveDown).css('left', moveLeft);
  }


  j('#particular_fees').submit(function () {
      j('#submit_button').attr('disabled', 'disabled')
      j('#submit_button').val('<%=t('please_wait') %>')

  })
  j("#particular_fees").bind('ajax:complete', function () {

      // tasks to do
      j('#submit_button').removeAttr('disabled')
      j('#submit_button').val('<%="► #{t('pay_fees')}" %>')

  });
  j(document).ready(function () {
      j('html, body').animate({scrollTop: 0}, 100);
  })

  j('#submit_button').click(function () {
      if (parseFloat(j('.balance_amount').text()) < 0) {
          alert('Please apply your discount')
          return false
      }

      applicable_discount = parseFloat(j('.applicable_discount').text())
      paying_amount = parseFloat(j('.payment').val())
      if (paying_amount > 0 && applicable_discount > 0) {
          alert("Discount exists. Please apply!")
          return false
      }


      var particular_amount = 0.0
      j('.payment_box').each(function () {

          particular_amount += +parseFloat(this.value) || 0

      });


      if ((parseFloat(j('.payment').val()) <= 0) && (particular_amount <= 0)) {
          alert('<%=t('finance.flash23') %>')
          return false
      }
      var discount_present = true
      j('.discount_name').each(function () {
          discount_present = discount_present && j(this).val().gsub(" ", "").length != 0
      });
      if (!discount_present) {
          alert("enter discount name")
          return false
      }

      j('.payment_box').each(function () {

          if ((this.value.length == 0) || this.value == 0) {
              j(this).parent().children().attr('disabled', 'disabled')
              j(this).parents('.particular').next('.discount').remove()
              //                j(this).parents('.particular').remove()
          }
      })
      j('.discount_amount').each(function () {

          if ((this.value.length == 0) || this.value == 0) {
              j(this).parents('.discount').remove()
          }
      })
      var fine = (parseFloat(j('.manual_fine').val()) || 0)

      if (fine != 0.0) {

          var input1 = '<input type="hidden" name="fees[fine_amount]" value= ' + fine + '>'
          var input2 = '<input type="hidden" name="fees[fine_included]" value= ' + true + '>'
          j('#particular_fees').append(input1, input2)
      }
  })


  function make_precision(value) {
      var precision = parseInt("<%= @precision %>");
      return value.toFixed(precision)
  }


  j(document).delegate('.discount_amount', 'input', function (e) {

      var discount_sum = set_applicable_discount()
      var disc_check = make_precision(parseFloat((j('#net_discount').val() || 0)) - parseFloat(j('#applied_discount').val() || 0)) - make_precision(discount_sum)
      if (disc_check < 0) {
          alert('discount exceeds....')
          //            ShowDialogBox('Warning','discount exceeds....')
          this.value = 0
      }
      j('.applicable_discount').text(('<%=@total_discount-@applied_discount %>' - set_applicable_discount()).toFixed(parseInt("<%= @precision %>")))
      j('.discount_applied').text(((parseFloat('<%=@applied_discount%>') + set_applicable_discount())).toFixed(parseInt("<%= @precision %>")))
  });

  function set_applicable_discount() {
      var discount = 0
      j('.discount_amount').each(function () {

          discount = discount + (parseFloat(this.value) || 0)
      });
      return discount

  }

  j(document).delegate('.amount_box', 'input', function (e) {
      //        var p_amount=parseFloat(j(this).parent().siblings('.fleft').text())

      if (parseFloat(j(this).parent().prev('.fleft').text()) < this.value) {
          alert('Cant pay more than particular amount')
          this.value = 0
      }
      j('.payment').val(payment_sum())
      pay_amount = parseFloat(j('.payment').val()) - parseFloat(j('.manual_fine').val() || 0)
      fine = parseFloat(j('.fine_amount').val() || 0)
      j('.balance_amount').text((parseFloat('<%= precision_label(@financefee.balance.to_f) %>') + fine - pay_amount).toFixed(parseInt("<%= @precision %>")))

  });
  j(document).delegate('.manual_fine', 'input', function (e) {
      j('.payment').val(payment_sum())
  });

  function payment_sum() {
      var precision = parseInt("<%= @precision %>");
      var sum = 0.0
      j('.payment_box').each(function () {

          sum += +parseFloat(this.value) || 0

      });

      j('.discount_amount').each(function () {

          sum = sum - (parseFloat(this.value) || 0)
      });

      return sum.toFixed(precision)
  }

  j(document).delegate('.calendar_date_select', 'click', function () {
      j('.fee_transaction_date').val(j('#transaction_date').val());
  })
</script>
<iframe class="" style="display:block;visibility:hidden;" id="receipt_printer_template_container"></iframe>
