
<% total_fees =0 %>
<% total_amount_to_pay=0 %>

<% form_for :multi_fees_transaction, :url => {:controller => "finance_extensions", 
  :action => 'pay_all_fees', :id => @student.id}, :html => {:id => "fees_form"} do |form| %>
  <%= hidden_field_tag "batch_id", @current_batch.id %>
  <div id="payments_details">

      <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1" 
             style="margin-bottom: 20px;">

          <% if @finance_fees.present? %>            
            <% fee_head_col_span = @is_tax_present ? 5 : 4 %>
            <tr class="tr-head">
                <td><%= t('sl_no') %></td>
                <td><%= t('fee_collection') %></td>
                <td><%= "#{t('actual')} #{t('amount').downcase}" %> (<%= currency %>)</td>
                <% if @is_tax_present %>
                  <td><%= "#{t('tax_text')} #{t('amount').downcase}" %> (<%= currency %>)</td>
                <% end %>
                <td>
                    <%= "#{t('amount_to_pay')} #{t('with')} #{t('fine').downcase}" %> (<%= currency %>)
                </td>
                <td><%= t('pay_fees') %> (<%= currency %>)</td>

            </tr>

            <% i = 0 %>
            <% @finance_fees.group_by(&:fee_type).each do |fees| %>
              <tr class="tr-blank"></tr>
              <tr class="tr-head">
                  <td></td>
                  <td colspan="<%= fee_head_col_span %>">
                      <%= check_box_tag 'fees_type', '', true, options={:tabindex => -1, :id => fees.first, 
                        :onclick => "amount_field_updation_by_fee_type(this,'#{fees.first}')"} %>
                      <label for=<%= fees.first %>> <%= fees.first.underscore.humanize() %></label>
                  </td>
              </tr>
              <tr class="tr-blank"></tr>
              <% fees.last.each_with_index do |finance_fee, k| %>
                <% is_particular_disabled = (@disabled_fee_ids.present? and 
                    finance_fee.is_a?(FinanceFee) and
                    @disabled_fee_ids.include?(finance_fee.id.to_i)) %>
                <tr class="tr-<%= cycle("odd", "even") %>" id="mft<%= finance_fee.id %>">
                    <% i=i+1 %>
                    <td class="col-1"><%= k+=1 %></td>

                    <td class="col-2">
                        <%= check_box_tag 'collection', '', !is_particular_disabled, 
                          options={:tabindex => -1, :fee_type => fees.first, 
                          :id => finance_fee.id, :class => 
                            "#{fees.first} #{(is_particular_disabled ? 
                          'particular_disabled':'')}", 
                          :disabled => is_particular_disabled,
                          :onclick => "amount_field_updation(this,#{finance_fee.id})"} %>

                        <label for= <%= finance_fee.id %>> <%= finance_fee.collection_name %></label>
                    </td>

                    <td class="col-3"> 
                        <%= precision_label(finance_fee.actual_amount.to_f) %>                        
                    </td>


                    <% fine_amount= precision_label((finance_fee.is_paid? ? 0 : 
                          (finance_fee.is_amount? ? finance_fee.fine_amount : 
                            (finance_fee.actual_amount.to_f)*(finance_fee.fine_amount.to_f/100))).to_f - 
                        (finance_fee.paid_fine.to_f)).to_f %>

                    <% total_fees += precision_label(finance_fee.actual_amount.to_f).to_f + fine_amount unless 
                    is_particular_disabled %>

                    <% if @is_tax_present %> <%# excluding check on particular wise paid fee as taxed fees are disabled for particular wise payment page %>
                      <td class="col-3">                           
                          <% if finance_fee.tax_enabled %>
                            <%= preci_tax = precision_label(finance_fee.tax_amount.to_f) %>
                            <% total_fees += preci_tax.to_f %>
                          <% else %>
                            <%= '-' %>
                          <% end %>
                      </td>
                    <% end %>

                    <!--% total_fees += fine_amount.to_f %-->

                    <td class="col-3 amount_to_pay">
                        <%= total_c_amount = precision_label(precision_label(finance_fee.balance.to_f).to_f + fine_amount) %>
                        <% total_amount_to_pay += total_c_amount.to_f unless is_particular_disabled %>
                    </td>

                    <td class="col-3 center_align">

                        <% if ((finance_fee.is_paid) or (total_c_amount == precision_label(0))) %>

                          <%= "#{t('paid')}" %>

                        <% else %>
                          <%= hidden_field_tag 'max_amount', total_c_amount.to_f, 
                            options={:disabled => "disabled", :class => finance_fee.fee_type} %>

                          <%= text_field_tag "transactions[#{i}][amount]", 
                            value=(!is_particular_disabled ? total_c_amount:''), 
                            options={:check_box_id => finance_fee.id, :disabled => is_particular_disabled,
                            :class => "amount#{finance_fee.id} precision_text payment_box input_amount 
            #{(is_particular_disabled ? 'particular_disabled':'')}", 
                            :onkeyups => "this.value = minmax(this.value, 0, #{total_c_amount.to_f})"} %>

                          <%= hidden_field_tag "transactions[#{i}][finance_id]", finance_fee.id %>
                          <%= hidden_field_tag "transactions[#{i}][finance_type]", finance_fee.fee_type %>
                          <%= hidden_field_tag "transactions[#{i}][payee_type]", "Student" %>
                          <%= hidden_field_tag "transactions[#{i}][payee_id]", @student.id %>
                          <%= hidden_field_tag "transactions[#{i}][category_id]", finance_fee.transaction_category_id %>

                          <%= hidden_field_tag "transactions[#{i}][title]", "#{t('receipt_no')}. 
          (#{t('multiple_fees')}) F#{finance_fee.id}" %>

                          <%= hidden_field_tag "transactions[#{i}][transaction_date]", 
                            @transaction_date, options ={:class => 'fee_transaction_date'} %>

                          <%= hidden_field_tag "transactions[#{i}][payment_mode]", '', options ={:class => 'mode'} %>
                          <%= hidden_field_tag "transactions[#{i}][payment_note]", '', options ={:class => 'note'} %>
                          <%= hidden_field_tag "transactions[#{i}][reference_no]", '', :class => 'ref_no' %>
                          <%= hidden_field_tag "transactions[#{i}][transaction_date]", @transaction_date %>
                        <% end %>
                    </td>

                </tr>
              <% end %>
            <% end %>

            <tr class="tr-blank"></tr>
            <tr class="tr-blank"></tr>
            <tr class="tr-blank"></tr>
            <tr class="tr-blank"></tr>
            <tr class="tr-<%= cycle("odd", "even") %> height-26" cellpadding="1" cellspacing="1">

                <td colspan="<%= fee_head_col_span %>">
                    <div class="fright"> <%= "#{t('total')} #{t('amount')}" %>:</div>
                </td>

                <td class="col-6 ">
                    <% unless precision_label(total_fees).to_f == 0 %>
                      <%= precision_label(total_fees.to_f) %>
                    <% else %>
                      <%= precision_label(0) %>
                    <% end %>
                </td>
            </tr>
            <tr class="tr-<%= cycle("odd", "even") %> height-26" cellpadding="1" cellspacing="1">
                <td colspan="<%= fee_head_col_span %>">
                    <div class="fright"> <%= "#{t('balance')} #{t('amount')}" %> :</div>
                </td>

                <td class="col-6 total-pay">
                    <% unless precision_label(total_amount_to_pay).to_f == 0 %>
                      <%= precision_label(total_amount_to_pay.to_f) %>
                    <% else %>
                      <%= precision_label(0) %>
                    <% end %>
                </td>
            </tr>
            <% unless total_fees == 0 %>
              <tr>
                  <td colspan="<%= fee_head_col_span + 1 %>">
                      <div class="payment_details">
                          <div class="label-field-pair3">
                              <label><%= t('payment_mode') %>  <%= image_tag("loader.gif",
                                    :align => "absmiddle",
                                    :border => 0,
                                    :id => "loader1",
                                    :style => "display: none;") %></label>

                              <div class="text-input-bg3"><%= select :multi_fees_transaction, :payment_mode, 
                                    [["#{t('cash')}", "Cash"], ["#{t('online_payment')}", "Online Payment"], 
                                    ["#{t('cheque')}", "Cheque"], ["#{t('dd')}", "DD"], ["#{t('others')}", "Others"]], 
                                    {:selected => params[:payment_mode]}, 
                                    {:onChange => "#{remote_function(:url => {:controller => "finance", 
                                    :action => "select_payment_mode"},
                                    :with => "'payment_mode='+value", :before => "$('loader1').show();",
                                    :success => "$('loader1').hide();")}"} %>
                              </div>
                          </div>
                          <div id="payment_mode">
                              <div id="payment_mode_details">
                                  <% if params[:payment_mode]=='Others' %>
                                    <%= render :partial => 'finance/select_payment_mode', :locals => 
                                      {:mode => params[:others_payment_mode]} %>
                                  <% end %>
                              </div>
                          </div>
                          <div class="label-field-pair5">
                              <label><%= t('reference_no') %> </label>

                              <div class="text-input-bg4">
                                  <%= form.text_field :reference_no, :value => params[:reference_no] %>
                              </div>
                          </div>
                          <div class="label-field-pair4">
                              <label><%= t('amount_to_pay') %> </label>

                              <div class="text-input-bg4">
                                  <%= hidden_field_tag 'multi_fees_transaction[payee_id]', @student.id %>
                                  <%= hidden_field_tag 'multi_fees_transaction[payee_type]', 'Student' %>
                                  <%= hidden_field_tag 'multi_fees_transaction[transaction_date]', 
                                    @transaction_date, options={:class => 'fee_transaction_date'} %>
                                  <%= form.text_field :fees_paid, :value => 0, :class => 'precision_text payment', 
                                    :readonly => true, :disabled => "disabled" %>
                              </div>
                          </div>
                      </div>
                  </td>
              </tr>
            <% end %>
            <tr>
                <td colspan="<%= fee_head_col_span + 1 %>">
                    <div class="pay_fees">

                        <div class="label-field-pair3-text-area">
                            <label><%= t('payment_notes') %> </label>

                            <div class="textarea-input-bg3"><%= form.text_area :payment_note, :cols => 50, 
                                  :rows => 1,:maxlength=>80, :value => params[:payment_note] %>
                            </div>
                        </div>
                        <%= hidden_field_tag :session_fingerprint, session_fingerprint %>
                        <div class="pay_fees_buttons">
                            <% unless total_amount_to_pay == 0 %>
                              <%= submit_tag "► #{t('pay_fees')}", :class => 'submit_button', :id => 'submit_button' %>
                            <% else %>
                              <h4><%= t('fees_paid') %></h4>
                            <% end %>
                            <%= link_to "► #{t('print_summary')}",
                              {:controller => "finance_extensions", :action => "pay_all_fees_receipt_pdf", 
                              :id => @student.id, :batch_id => @current_batch.id}, :target => '_blank', 
                              :class => 'user_button' %>
                        </div>
                    </div>
                </td>
            </tr>
          <% else %>
            <tr class="tr-head">
                <td>
                    <p style="color:#333!important; margin:0px;font-size:14px;font-weight:300"> 
                        <%= t('no pending fees collection is avilable') %>
                    </p>
                </td>
            </tr>
          <% end %>
      </table>
      <% unless @finance_fees.present? %>
        <%= link_to "► #{t('print_summary')}",
          {:controller => "finance_extensions", :action => "pay_all_fees_receipt_pdf", :id => @student.id, 
          :batch_id => @current_batch.id}, :target => '_blank', :class => 'user_button' %>
      <% end %>
  </div>
<% end %>
<% if @paid_fees.present? or @other_transactions.present? %>
  <div id="pay_fees1">
      <%= render :partial => 'recently_paid_fees' %>
  </div>

<% end %>
<script type="text/javascript">
  j('#multi_fees_transaction_reference_no').on('input', function () {
      j('.ref_no').val(j('#multi_fees_transaction_reference_no').val());
  });
  j('#multi_fees_transaction_payment_mode').change(function () {
      switch (j(this).val()) {
          case 'Online Payment' :
              j('.label-field-pair5').children().first().text("<%=t('transaction_id')%>");
              break;
          case 'Cheque' :
              j('.label-field-pair5').children().first().text("<%=t('cheque_no')%>");
              break;
          case 'DD' :
              j('.label-field-pair5').children().first().text("<%=t('dd_no')%>");
              break;
          default :
              j('.label-field-pair5').children().first().text("<%=t('reference_no')%>");
              break;
      }
  });
  precision = parseInt("<%= @precision %>");

  j(function () {
      update_pay_amount();

  });


  j('.input_amount').focusout(function () {
      precision = parseInt("<%= @precision %>");
      fee_type = j(this).siblings('#max_amount').attr("class");
      max_value = parseFloat(j(this).siblings('#max_amount').val()).toFixed(precision);
      if (parseFloat(this.value) >= parseFloat(max_value)) {
          entered_amount = max_value;
          this.value = entered_amount;
      }
      if (parseFloat(this.value) == 0) {
          this.value = "";
      }
      c_id = j(this).attr('check_box_id')
      fee_type = j('#' + c_id).attr('fee_type');
      if ((parseFloat(this.value) || 0) > 0) {
          j('#' + c_id).prop('checked', true);
      }
      else {
          j('#' + c_id).prop('checked', false);

      }
      check_master_fee(fee_type);

  });
  function minmax(value, min, max) {

      var precision = parseInt("<%= @precision %>");
      if (parseFloat(value) <= 0 || isNaN(value)) {


          return "";
      }
      else if (parseFloat(value) > max) {

          return (parseFloat(max).toFixed(precision));
      }
      else {
          return value;
      }
  }

  function total_fees() {
      return j('.payment').val();
  }
  j('.payment_box').focusout(function (e) {
      update_pay_amount();
  });
  function update_pay_amount() {
      var precision = parseInt("<%= @precision %>");
      j('.payment').val(payment_sum());
      var total_balance = '<%= precision_label(total_amount_to_pay) %>' - payment_sum();
      j('.total-pay').text(total_balance < 0 ? 0 : total_balance.toFixed(precision));
  }

  function payment_sum() {
      var precision = parseInt("<%= @precision %>");
      var sum = 0;
      j('.payment_box').each(function () {
          if (!j(this).hasClass('particular_disabled')) {
              sum += parseFloat(this.value) || 0;
          }
      });
      if (sum <= 0) {
          sum = 0;
      }
      return sum.toFixed(precision);
  }

  j('#submit_button').click(function (e) {
      j('#progressbar').show();
      j('.flash-msg').hide();
      var input1 = '<input type="hidden" name="multi_fees_transaction[amount]" value= ' + payment_sum() + '>';
      j('.mode').val(j('#multi_fees_transaction_payment_mode').val());
      j('.note').val(j('#multi_fees_transaction_payment_note').val());
      j('#fees_form').append(input1);
      var array = j('.payment_box');
      var status = true;
      j.each(array, function (index, value) {
          if (value.value.length == 0) {
              j(value).parent().children().attr('disabled', 'disabled');
          }
          else {
              var balance = parseFloat(j(value).parent().parent().children('.amount_to_pay').text());
              var payment = parseFloat(value.value);
              status = status && (balance >= payment);
          }
      });
      if (status == false) {
          alert('<%=t('cant_pay_more')%>');
          return activate_payment_boxes();
          j('#progressbar').hide();
      }

      if (j('.payment').val() == 0.0) {
          j('#progressbar').hide();
          alert('<%=t('enter_amount')%>');
          return activate_payment_boxes();
      }
      else {
          j('html, body').animate({scrollTop: 0}, 100);
      }
      //      j(j('.payment_box')[1]).parent().children().attr('disabled','disabled')
      //        var input1 = '<input type="hidden" name="multi_fees_transaction[amount]" value= ' + payment_sum() + '>'

  });
  j('#fees_form').submit(function () {
      j('#submit_button').attr('disabled', 'disabled');
      j('#submit_button').val('<%=t('please_wait') %>');
  });
  function activate_payment_boxes() {
      var array = j('.payment_box');
      j.each(array, function (index, value) {
          if (value.value.length == 0) {
              j(value).parent().children().removeAttr('disabled');
          }
      });
      j('#fees_form').unbind("submit");
      return false;

  }

  $('submit_button').disable();
  setTimeout(function () {
      $('submit_button').enable();
  }, 3000);
  j(document).delegate('.calendar_date_select', 'click', function () {


      j('.fee_transaction_date').val(j('#transaction_date').val());

  });
  j(document).click(function (e) {
      j('div#revert-pop-up').hide();

  });
  function change_transaction_date() {
      window.location = '/finance_extensions/pay_all_fees/<%= @student.id %>?batch_id=<%= @current_batch.id %>&transaction_date=' + j('#transaction_date').val() + '&reference_no=' + get_element_val(j('#multi_fees_transaction_reference_no')) + '&payment_note=' + get_element_val(j('#multi_fees_transaction_payment_note')) + '&payment_mode=' + get_element_val(j('#multi_fees_transaction_payment_mode')) + '&others_payment_mode=' + get_element_val(j('.others_payment_mode'));
  }
  function get_element_val(element) {
      if (element.val() == undefined) {
          return '';
      } else {
          return element.val();
      }
  }
  function amount_field_updation(e, i) {
      max_value = parseFloat(j('.amount' + i).siblings('#max_amount').val()).toFixed(precision);
      if (e.checked) {
          j('.amount' + i).val(max_value);
      }
      else {
          j('.amount' + i).val('');
      }
      fee_type = j(e).prop('class');
      check_master_fee(fee_type);

      update_pay_amount();
  }
  function check_master_fee(fee_type) {
      if (j('.' + fee_type + ':checkbox:checked').not('.particular_disabled').length != j('.' + fee_type + ':checkbox').not('.particular_disabled').length) {
          j('#' + fee_type).prop('checked', false);
      }
      else {
          j('#' + fee_type).prop('checked', true);
      }
  }
  function amount_field_updation_by_fee_type(e, fee_type) {
      all_collections = j('.' + fee_type).not('.particular_disabled');
      all_collections.prop('checked', e.checked);

      j.each(all_collections, function (ind, val) {

          amount_field_updation(val, val.id);
      });

  }
</script>
