<%= javascript_include_tag("receipt_printer") %>

<div id="payments_details">
  <div class="seprate_div"></div>
  <div class="label-field-pair3">
    <label><%= t('payment_history') %> </label>
  </div>
  <table id="listing1" align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head">
      <td><%= t('receipt_no') %></td>
      <td><%= t('fee_collections') %></td>
      <td><%= t('date_text') %></td>
      <td><%= t('mode') %></td>
      <td><%= t('cashier') %></td>
      <td><%= t('payment_notes') %></td>
      <td><%= t('amount') %> (<%= currency %>)</td>
      <td class="col-3" style="width:2%;"></td>
    </tr>
    <% i=(params[:page].present?) ? (params[:page].to_i-1)*10 : 0 %>
    <tr class="tr-blank"></tr>
    <% @paid_fees.each do |f| %>
        <tr class="tr-odd" id="mft<%= f.id %>">
          <%= show_more_in_paid_fees(f.receipt_no) %>
          <%= show_more_in_paid_fees(f.collection_name,'||',/^(.*?)[|]{2}/) %>

          <td class="col-3 left_align" style="min-width: 80px"><%= format_date(f.transaction_date) %></td>
          <% if f.reference_no.present? %>
              <td class="col-3 left_align payment-mode" tooltip="<%= "#{get_payment_mode_text(f.payment_mode)}-#{f.reference_no}" %>" delay="10"><%= f.payment_mode %></td>
          <% else %>
              <td class="col-3 left_align"><%= f.payment_mode %></td>
          <% end %>
          <td class="col-3 left_align" style="min-width: 80px"><%= f.cashier.nil? ? '' : (f.payment_mode=='Online Payment' ? f_cashier_name(f.usersid) : f.cashier) %></td>
          <td class="col-2 left_align" style="min-width: 120px; word-break:break-word"><%= f.payment_note %>
          </td>
          <td class="col-3" style="min-width: 90px">
            <%= precision_label(f.amount.to_f) %>
          </td>
          <td class="col-3 receipt-actions">
            <% tids=f.finance_transactions.present? ? f.finance_transactions.all.collect(&:id).sort : [f.id] %>
            <%= receipt_buttons_for_pay_all_fees(@student.id, tids,@current_batch.id) %>
            <% if can_access_request? :delete_transaction_by_batch, :finance %>
                <% if f.refund_exists.to_i==1 %>
                    <div class="disabled-link" tooltip="Fees Refunded. You can't revert the transaction!">  <%= link_to_remote raw(' <div class="revert_icon_img inactive-delete"></div>'), {:url => {:controller => :finance_extensions, :action => :delete_multi_fees_transaction, :id => @student.id, :transaction_id => f.id, :type => 'other_transaction'}, :confirm => "#{t('are_you_sure_want_delete_this_transaction')}"}, {:class =>"disable_link",:tooltip=>t('revert_transaction')} %></div>
                <% else %>
                    <%= link_to raw('<span class="revert_icon_img"></span>'), '#', :onclick => "return MakeBox(#{f.id},'#{f.transaction_type}',#{i});", :class => "themed_text", :tooltip => t('revert_transaction') %>
                <% end %>
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>
  <%= will_paginate @paid_fees, :params => {:controller => '', :action => "paginate_paid_fees", :id => @student.id, :batch_id => @current_batch.id}, :renderer => 'RemoteLinkRenderer' %>
</div>
<iframe class="" style="display:block;visibility:hidden;" id="receipt_printer_template_container"></iframe>
<script type="text/javascript">
    MakeBox = function (f, tt, i) {
        remove_popup_box();
        options = {
            'submit': '<%=t('revert_transaction')%>',
            'cancel': '<%=t('cancel')%>',
            'field_name': 'reason',
            'input_type': 'text_area',
            'title': '<%=t('revert_transaction')%>'
        };
        build_modal_box(options);
        build_prompt_popup_box('<%=t('reason')%>', options)
        j('#popup_window #popup_footer > #yes').click(function () {
            j.ajax({
                url: '/finance_extensions/delete_multi_fees_transaction',
                data: {
                    'id': <%=@student.id%>,
                    'si_no': i,
                    'page': <%=params[:page]||1%>,
                    'transaction_id': f,
                    'batch_id': <%= @current_batch.id%>,
                    'type': tt,
                    'reason': j('#popup_content #prompt_value').val(),
                },
                success: function () {
                    remove_popup_box();
                }
            })
        });
    }
    j(function(){
      //  if (updatedChromeVersion()) {

            if (<%= rtl?%>) {
                j('.receipt-box').css('margin-right', '-20px');
            } else {
                j('.receipt-box').css('margin-left', '-20px');
            }
      //  }
    })

    function updatedChromeVersion () {
        var raw = navigator.userAgent.match(/Chrom(e|ium)\/([0-9]+)\./);
        return (raw && parseInt(raw[2], 10) > 54)
    }



</script>