<table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
    <% unless @students.blank? %>
      <tr class="tr-head">
          <td>
              <%= t('sl_no') %>
          </td>
          <td>
              <%= t('first_name') %>
          </td>
          <td> <%= t('batch') %></td>
          <td> <%= t('adm_no') %></td>
          <% if roll_number_enabled? %>
            <td> <%= t('roll_no') %></td>
          <% end %>
          <td> <%= t('fees_due') %></td>
          <td> <%= t('pay_fees') %></td>
      </tr>
      <tr class="tr-blank"></tr>
      <% @students.each_with_index do |student, i| %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="sl-col"><%= i+1 %></td>
            <td class="col-4"><%=student.fullname%></td>
            <td class="col-4"><%= student.batch_full_name %></td>
            <td class="col-1"><%= student.admission_no %></td>
            <% if roll_number_enabled? %>
              <td class="col-1"><%= student.roll_number.present? ? student.roll_number : "-" %></td>
            <% end %>
            <td class="col-1">
                <%= precision_label(student.fee_due.to_f + 
                    student.total_automatic_finance_fee_fine(@batch_id) + 
                    student.transport_due.to_f + student.hostel_due.to_f) %>
            </td>
            <td style="font-weight: bold">
                <div class="collection-wise">
                    <%= link_to t("collection_wise"),{:controller=>:finance,:action=>:fees_student_dates,:id=>student.id,:breadcrumb_change=>true} %>
                </div>
                <div class="pay-all-fees">
                    <% batch_id=params[:fees_submission].present? ? params[:fees_submission][:batch_id] : nil %>
                    <%= link_to t("pay_all_fees"),{:action=>:pay_all_fees,:id=>student.id,:batch_id=>batch_id} %>
                </div>
            </td>
        </tr>
      <% end %>
    <% else %>

      <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-2"><%= t('no_students_found') %></td>
      </tr>
    <% end %>
</table>