<div class="list_table_div">
    <div class="main_head_label">
        <b id="fees_report_title"><%= t('tax_report') %></b>
        <div class="date_align right">
            <label class="date_tag"><%=params[:date_tag]%></label>&nbsp;
            <%=format_date(@start_date)%> &nbsp;
            <label class="to_date"><%= t('small_to') %></label> &nbsp; 
            <%=format_date(@end_date)%>
            <span id="show_date" class="themed_hover_text" >
                <%=  link_to_remote t('change_date'), :url => { :controller => "finance_extensions", 
                  :action => "show_date_filter", :target_action => @target_action, :id=> params[:id],
                  :date_tag=>params[:date_tag], :start_date => @start_date, :end_date => @end_date}%>
            </span>
        </div>
    </div>
    <% if @tax_payments.present? %>    
      <table class="gray_table_list" align="center" width="100%" cellpadding="0" cellspacing="0">
          <tr class="main_head">
              <td style="width: 10%"><%= t('sl_no') %></td>
              <td class="set_border_right"><%= t('tax_slabs_text') %></td>
              <td class="set_border_right" style="width: 20%"><%= t('amount') %> (<%= currency %>) </td>
          </tr>
          <% index = 0 %>
          <% @tax_payments.each_pair do |slab_name, slab_gp| %>
            <% slab_total = slab_gp.map(&:tax_amount).sum.to_f %>
            <tr class="row-b">
                <td><%= index+=1 %></td>                
                <td class="set_border_right">
                    <%= slab_name %>
                </td>
                <td class="set_border_right" align="right">
                    <%=  precision_label(slab_total) %>
                </td>
            </tr>
          <% end %>
          <tr class="tr-list_head">
              <td colspan="2"><%= t('grand_total') %></td>
              <td class="set_border_right" align="right">
                  <%= precision_label(@total_tax.to_f)%>
              </td>
          </tr>
      </table>
    <!--
      <div class="seprater_div_bottom">
          <div id="inner-tab-menu">
              <ul style="margin-top: 27px;">

                  <li class='themed_bg themed-dark-hover-background'>
                      < %= link_to "#{t('pdf_report')}", { :controller => "finance_extensions", 
                        :action => "tax_report_pdf", :report_format_type => "pdf", 
                        :date_tag=>params[:date_tag],:start_date => @start_date, 
                        :end_date=>@end_date }, :target => '_blank' %>
                  </li>

                  <li class='themed_bg themed-dark-hover-background'>
                      < %= link_to "#{t('csv_report')}", { :controller => "csv_export", :action => "generate_csv", 
                        :csv_report_type => "tax_report", :report_format_type => "csv", 
                        :date_tag=>params[:date_tag], :start_date => @start_date, :end_date=>@end_date}%>
                  </li>
              </ul>
          </div>
      </div>
    -->
    <% else %>
      <div class="no_entries"><%=t('no_tax_present')%></div>
    <% end %>
    <script>
      j('.date_box').hide();
      j("#show_date a").click(function () {
          j(".date_box").show();
          j("#show_date").hide();
      });
    </script>
</div>