<%- # Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License.              -%>


<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('fees_text') %></h1>

    <div class='header-sep'>|</div>
    <div class='sub-header'>
        <%= "#{t('manage')} #{t('fee_collections')}" %>
    </div>
    <div id="inner-tab-menu">
        <ul>
            <li class='themed_bg themed-dark-hover-background'></li>
        </ul>
    </div>

</div>
<div id="page-yield">
    <div class="bread_crumb">
        <%= make_breadcrumb %>
        <%= render_breadcrumbs %>
    </div>
    <div id='flash-div'>

    </div>
    <div id="batch_or_department">
        <div class="batch_fee_collection">
            <div class="label-field-pair">
                <label><%= t('batch') %>: </label>

                <div class="text-input-bg" id="batches_list"> <%= select :fee_change, :batch_id, @batches.map { |b| [b.full_name, b.id] },
                      {:prompt => "#{t('select_batch')}"},
                      {:onChange => "#{remote_function(:url => {:controller => "finance_extensions", :action => "fee_collections_for_batch"}, :with => "'batch_id='+value",
                      :before => "Element.show('loader_batch')",
                      :success => "Element.hide('loader_batch')"
                      )}"} %>
                    <%= image_tag("loader.gif",
                      :align => "absmiddle",
                      :border => 0,
                      :id => "loader_batch",
                      :style => "display: none;") %>
                </div>
            </div>


            <div id="fee_collections">
                <%= render :partial => 'fee_collections' %>
            </div>
        </div>
        <div class="select-type">
            <div class="collection-select">
                <label for="select_fee_collection"></label>

                <div class="collection_operation_select">
                    <label class="label_for_student discount_radio_align" for="collection_type_discount" >
                        <%= radio_button_tag('name', '', '', options = {:class => 'radio_btn_select', 
                            :id => 'collection_type_discount', :action => 'show_discounts'}) %>
                        <%= t('discount') %> 
                        <%= image_tag("loader.gif",
                          :align => "absmiddle",
                          :border => 0,
                          :class => "loader_radio",
                          :style => "display: none;") %>
                    </label>
                    <label class="label_for_student" for="collection_type_particular">
                        <%= radio_button_tag('name', '', '', options={:class => 'radio_btn_select particular_radio', 
                            :id => "collection_type_particular", :action => 'show_particulars'}) %>
                        <%= t('particular') %>
                        <%= image_tag("loader.gif",
                          :align => "absmiddle",
                          :border => 0,
                          :class => "loader_radio",
                          :style => "display: none;") %>
                    </label>

                </div>
            </div>
        </div>
    </div>


    <div id="receivers">

    </div>
</div>

<script type="text/javascript">

  j(document).delegate('.collection_check', 'click', function (e) {
      colln_id = j(this).children('.collection_box').val()
      if (j(this).children('.collection_box').prop('checked')) {
          j('#user_' + colln_id).attr('disabled', false)
          j('#event_' + colln_id).attr('disabled', false)
      } else {
          j('#user_' + colln_id).attr('disabled', true)
          j('#event_' + colln_id).attr('disabled', true)
      }
  });
  function validate_assign() {
      var flag = 0;
      $$('.collection_box').each(function (el) {

          if (el.checked == true) {
              flag = 1;
          }
      });
      if (flag == 0) {
          alert('<%= "#{t('please_select_atleast_one_fee')}" %>');
          return false;
      } else
          return true;
  }


  j('.radio_btn_select').change(function () {

      action = j(this).attr('action')
      type = j('.selected').prop('type')
      particular_discount_show(action, type)
      j('#right-panel-loader').show();
      j('#right-panel-bottom').hide()

  })

  function particular_discount_show(action, type) {
      new Ajax.Request("/finance_extensions/" + action,
              {asynchronous: true, evalScripts: true,
                  parameters: {collection_id: j('#fees_submission_dates_id').val(), batch_id: j('#fee_change_batch_id').val(), type: type}, onSuccess: function (request) {
                      j('#flash-div').children().remove()
                      j('#right-panel-bottom').show()
                      j('#right-panel-loader').hide()
                      Element.hide('loader_collection')

                  }
              })
      if (action == 'show_particulars') {
          j('#particular-wise-discount').hide();
      } else
      {
          j('#particular-wise-discount').show();
      }

  }
  function select_tab(e) {
      j("li").removeClass("selected");
      j(e).parent().addClass("selected");
      action = j('input[name=name]:checked', '.collection_operation_select').attr('action');
      type = j('.selected').prop('type');
      j('#right-panel-loader').show();
      j('#right-panel-bottom').hide();
      particular_discount_show(action, type);

  }


  j(document).delegate('.collection_box', 'click', function () {

      check_box_selection();
  });

  function check_box_selection() {
      check_main_box = true;
      disable_main_box = false;
      j.map(j('.collection_box'), function (val, i) {
          check_main_box = check_main_box && val.checked;
      });
      j.map(j('.collection_box'), function (val, i) {
          disable_main_box = disable_main_box || val.disabled;
      });
      j('.select_all').prop("disabled", disable_main_box);
      j('.select_all').prop("checked", check_main_box);
  }
  function submit_form(receiver) {
      elmnts = j('.collection_box:disabled');
      j('.collection_box').prop('disabled', false);
      j('#allocation_form').get(0).request();
      j('.submit_button').text('<%="► #{t("please_wait")}"%>');
      j('.submit_button').attr('disabled', true);

      j.ajax({
          success: function (data, status, xhr) {
              j('.' + receiver).text(j('.collection_box:checked').length);
              j('.total').text(parseInt(j('.Batch').text()) +
                      parseInt(j('.StudentCategory').text()) + parseInt(j('.Student').text()));
              elmnts.prop("disabled", true);
              j('.submit_button').text('<%="#{t("update")}"%>');
              j('.submit_button').attr('disabled', false);
              j('html, body').animate({scrollTop: 0}, 100);
          },
          error: function (XMLHttpRequest, textStatus, errorThrown) {
              alert("Status: " + textStatus);
              alert("Error: " + errorThrown);
          }
      });




  }
  j('#fee_change_batch_id').change(function () {
      j('#collection_receipients_data').remove();
  });

</script>

