<%- # Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License.      -%>
<%= javascript_include_tag("receipt_printer") %>
<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('fees_submission') %></h1>

    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('student_fees_submission') %></div>
    <div id="inner-tab-menu">

    </div>
</div>
<div id="page-yield">
    <div class="bread_crumb">
        <% breadcrumb :finance_fees_student_dates_pay_all_fees, @student %>
        <%= render_breadcrumbs %>
    </div>
    <%= render :partial => "search_student" %>
    <div id="student">
        <div class="details">
            <div class="name">
                <%= t('student_name') %>
            </div>
            <div class="val themed_text">
                <span>:</span>

                <div class="val-align">
                    <div class= "student-name-div" ><%= @student.full_name %></div>
                    <div class="change-student">
                        <a href="#" id="change-student" onclick="show_student_search();" style="color:black;margin:0px 10px 0px 10px">
                            <%= t('change_student') %>
                        </a>
                    </div>
                </div>
            </div>
            <div class="name">
                <%= t('admission_no') %>
            </div>
            <div class="val themed_text">
                <span>:</span>

                <div class="val-align">
                    <%= @student.admission_no %>
                </div>
            </div>

            <% if roll_number_enabled? %>
              <div class="name">
                  <%= t('roll_no') %>
              </div>
              <div class="val themed_text">
                  <span>:</span>

                  <div class="val-align">
                      <%= @student.roll_number %>
                  </div>
              </div>
            <% end %>


            <div class="name">
                <%= t('current_batch') %>
            </div>
            <div class="val themed_text">
                <span>:</span>

                <div class="val-align">
                    <%= @student.batch.full_name %>
                </div>

            </div>
        </div>
        <br/>

        <div class="seprate_div"></div>
        <%= error_messages_for "financefee", :header_message => nil %>
        <% if @student.previous_batches.present? %>
          <div class="each-detail">
              <div id="hide1"><label class="common-label"><%= t('batch') %></label>
                  <div class="text-input-bg margin-set-batch"> 
                      <%= select :fees_submission, :batch_id, @all_batches.map { |c| [c.full_name, c.id] },
                        {:prompt => "#{t('select_a_batch')}",
                        :selected => @current_batch.id},
                        {:onChange => "redirectToIndex(this.value)"
                        } %>
                  </div>


  <%#=link_to_function "show inactive batches","show_inactive_batches()",{:class=>'user_button'}%>
                  <div class="loader_div">
                      <%= image_tag("loader.gif",
                        :align => "absmiddle",
                        :border => 0,
                        :id => "loader",
                        :style => "display: none; ") %>
                  </div>
              </div>
          </div>
        <% end %>
        <div class="extender"></div>
        <% unless flash[:notice].nil? %>
          <p class="flash-msg"> <%= flash[:notice] %> </p>
        <% end %>
        <div class="extender"></div>
        <div class='label-field-pair3 special_case' style='height: auto; margin-top:-17px;'>
            <label  class="common-label fleft"><%=t('payment_date') %></label>
            <div class='date-input-bg'>
                <%= calendar_date_select_tag 'transaction_date', I18n.l(@transaction_date, :format => :default), 
                  {:popup => 'force', :class => 'start_date',:onchange => "change_transaction_date();"} %>
            </div>
        </div>
        <div class="height-fixer"></div>
        <div class="extender"></div>
        <div id="pay_fees">
            <%= render :partial => 'pay_fees_form' %>
        </div>
    </div>
</div>
<script type="text/javascript">
  function redirectToIndex(val) {
      window.location = '<%=@student.id %>?batch_id=' + val;
  }
  function show_student_search() {
      j('#search_box_bg').show();
      j('#change-student').hide();
  }
  j(function () {
      // if (updatedChromeVersion()) {

      if (<%= rtl?%>) {
          j('.receipt-box').css('margin-right', '-20px');
      } else {
          j('.receipt-box').css('margin-left', '-20px');
      }
      // }
  })

  function updatedChromeVersion() {
      var raw = navigator.userAgent.match(/Chrom(e|ium)\/([0-9]+)\./);
      console.log(raw && parseInt(raw[2], 10) > 54)
      return (raw && parseInt(raw[2], 10) > 54)
  }
</script>
