.assessment_plans_box{
    font-size: 14px;
}
.head{
    font-weight: bold;
    margin-bottom: 20px;
}
.desc{
    color: #999;
}
.form_cont{
    margin-top: 50px;
}
.plan_name .label{
    margin-bottom: 15px;
}
.academic_year_select_box{
    margin-top: 30px;
}
.academic_year_select_box  .date_range{
    font-weight: bold;
}
.terms_select_box .head{
    font-weight: normal;
}
.terms_select_box{
    margin-top: 30px;
}
.terms_select_pair{
    float:left;
    margin-right: 30px;
}
.label_for_terms_count{
    margin-left: 5px;
}
#terms{
    width: 100%;
    float: left;
    margin-top: 30px;
}
/*.assessment_terms_fields{
    display: flex;
}*/
.assessment_terms_fields .right{
    display: inline-table;
}
.right .label-field-pair{
    float:left;
    width:auto ;
}
.right .label-field-pair label{
    width:auto;
    float: none;
}
.label-field-pair.left{
    float: left;
    width:auto;
    margin-right: 50px;
}
.label-field-pair input{
    margin-left: 0px;
    border-radius: 1px;
}
.assessment_terms_fields{
    margin-bottom: 30px;
}
.submit-button{
    margin-left: 0px;
    color: white;
    background: black;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 3px;
}
.cancel-button{
    text-decoration: none;
    margin-left: 10px;
}
#page-yield .cancel-button:hover {
    color: #fff !important;
}
#assessment_plan_name{
    width: 350px;
    padding: 5px;
    background: #f3f3f3;
    border: 1px solid #bfbfbf;
}