body{
    width: 852px !important;
    margin: 0 auto;
    font-family: arial;
}

root { 
    display: block;
}
#student_full_report{
    width: 100%;
    margin: 5px;
}
.hedder_div{
    width: 100%;
    height:200px;
}
.details_label_left{
    float: left;
}
.details_label_right{
    float: right;
    max-width: 270px;
    word-break: break-all;
}
.details_label_right .first_label{
    display: inline-block;
    width: 70px !important;
}
#school_name_header{
    text-align: center;
    margin :0px auto;
    min-width: 200px;
    font-size: 20px;
    font-weight: 900;
}
#school_name_header .details_label{
    display: block;
    clear:both;
    margin-right: 50px;
}
.details_label label{
    width: 96px;
    display: inline-block;
}
.long_label{
    width: 400px !important;
    float:left;
}
.school_logo{
    width: 100px;
    height: 100px;
    float:left;
    margin: -3px 20px 0px 0px;
    padding: 4px;
}
.school_logo img{
    width: 100px;
    height: 100px;
}
.school_details{
    float:left;
    max-height: 175px;
    width: 520px;
    border:1px solid  #666;
    padding:10px;
    font-size: 13px;
    line-height: 25px;
    display:block;
}
.details_label_left_margin_60_left
{
    float: left;
    margin-left: 60px;
}
.cce_logo{
    width: 100px;
    height: 100px;
    float:left;
    padding:4px;
    margin: -10px 0px 0px 20px;
    /*    background-size: 99px 99px;*/
}
.cce_logo img{
    width: 120px;
    height:120px;
}

.headding_div{
    display:block;
    clear:both;
    text-align: center;
    line-height: 30px;
}
.student_info_div .basic_info_div{
    display: block;
    clear: both;
    line-height: 24px;
}

#main_div .basic_info_div .info_name{
    width: 130px;
    font-weight: normal;
    float: left;
}
#sub_main_right_div .basic_info_div .info_name{
    width: 30px;
    font-weight: normal;
}
#sub_main_left_div{
    float:left;
    width: 58%;
}
#sub_main_right_div{
    float:left;
    width: 38%;
    margin-left:20px;
}
#main_div .basic_info_div  .info_value{
    float: left;
    width: 490px;
    height: 20px;
    margin-bottom: 20px;
    padding-bottom:0px;
    border-bottom: 1px solid #999;
}
.head_1{
    font-size: 20px;
    font-weight: 900;
    margin:0px;
}
.head_2{
    font-size: 18px;
    font-weight: 900;
    margin:0px;
}
.sub_1{
    font-size: 15px;
    font-weight: 900;
    margin:0px;
}
.sub_2{
    font-size: 13px;
    font-weight: 900;
    margin:0px;
}

.student_pic{
    float:left;
    width: 125px;
    height: 125px;
    padding: 4px;
    border:1px solid  #666;
    margin-right:0px;
    margin-left: 10px;
    margin-top: 19px;
}
.student_pic img{
    width: 125px;
    height: 125px;
}
.student_info_div{
    float: left;
    width: 662px;
    margin-bottom: 0px;
}
.student_info_div #main_div{
    width: 100%;
    float:left;
}
.student_info_div span{
    float: left;
    margin-right: 10px;
}
#sub_main_right_div span{
    margin-right: 10px;
    margin-left: 25px;
}
#sub_main_left_div .info_value{
    width: 239px !important;
}
#sub_main_right_div .info_value{
    width: 163px !important;
}
.student_profile_head_label{
    display: block;
    clear:both;
    font-size: 16px;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 10px;
    width:120px;
}
#basic_info_1{
    margin-top: 40px;
    margin-bottom:20px;
    font-size: 13px;
    float:left;

}
#attendance_report{
    margin-top:30px;
    margin-bottom:20px;
    display: block;
    clear:both;
    float:left;
    width:100%;
}
.attendance_item_name label{
    margin-bottom: 28px;
    display: block;
    font-weight: normal;
}
#attendance_report .head_label,#attendance_report .head_label_left{
    font-size: 17px;
    font-weight: 900;
}

#attendance_report div{
    width: 200px;
    float:left;
    text-align: left;
    font-size: 13px;
}
.atendance_item label{
    display:block;
    text-align: center;
    margin-bottom: 26px;
    border-bottom:1px solid #999;
    font-weight: normal;
    float:left;
    width: 200px;
    float:left;


}
#attendance_report .atendance_item{
    width: 140px;
    margin-left: 100px;
}

.atendance_item .head_label{
    border:none !important;
}
.head_label_left{
    text-align: left;
    font-weight: 900;
    display: block;
    font-size: 17px;
}
#attendance_report .head_label{
    text-align: left;
    text-align: center;
    font-weight: 900;
    display: block;
    min-height:20px;
}
#health_status_div{
    float:left;
    margin-top: 10px;
    border:1px solid #666;
    width: 744px;
    height: 150px;
    padding: 0px 30px 0px 30px;
}

#health_status_div .basic_info_div{
    float: left;
    display:block;
}
#health_status_div label{
    line-height: 50px;
    font-weight: 900;
    display:inline-block;
    float: left
}
#health_status_div .label_health{
    width: 100px;
}
#health_status_div .health_div_p{
    display: block;
    float: left;
    height:15px;
    border-bottom: 1px solid #999;
    margin-top: 17px;
}
.health_div_p{
    font-size: 13px;
}
.medium{
    width: 261px;
}
.large{
    width: 598px;
}
.small{
    width: 99px;
}

#student_basic_info_2{
    width: 808px;
    /*    page-break-after: auto*/
}
#co_scholastic_area{
    /*    page-break-after: always;*/

}
#pdf-info{
    padding-top: 50px;
}


.hor_line{
    width:100%;
    background: #333333;
    height: 1px;
}

h5{
    margin-top: -10px;
    margin-bottom: 5px;
}

#main_info h4{
    color: #555555;
    margin-top: 18px;
    font-weight: normal;
}

#main_info h2{
    margin-bottom: 2px;
    font-weight: normal;

}


.odd{
    height:auto;
    background: #EEEEEE;

}

.even{

    height:auto;
    background: #fff;


}
tr.even{
    border: 1px solid black;
}

tr.odd{
    border: 1px solid black;
}

td{
    padding: 8px 5px 8px 5px;
    border: 1px solid black;
    border-collapse: collapse;
    width: 25px;
    text-align: center;
}

td.col-pdf-bold{
    font-weight: bold !important;
}

.table-header td{
    /*    padding: 12px 12px 12px 15px;*/
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background: #EEEEEE;
    font-size: 14px;
    font-weight: 900;
}
table tr{
    font-size: 13px;

}
table tr.data_set{
    height: 60px;
}
.center_aligned{
    text-align: center !important;
}
.table-footer td{
    padding: 12px 12px 12px 15px;
    border: 1px solid black;
    color: #97080e;
    text-align: center;
    background: #EEEEEE;
}
table#pdf-table{
    /*    border: 1px solid black;*/
    /*    border-collapse:collapse;*/
    width: 100%;
}
table#pdf-table td{
    text-align: left;
}
table#pdf-table .align_center{
    text-align: center !important;
}
#page-extender{
    width:100%;
    height :300px;
}
.table_div {
    margin-top: auto;
}
#page-extender1{
    width:100%;
    height :500px;

}
.custom_header p{
    font-size: 14px;
    text-align:left;
    margin-left: 0px;
    font-weight: 900;
}
table{
    /*    border-right: 1px solid black;*/
    font-size: 11px;
    /*    border-collapse: collapse;*/
    /*    margin-bottom: 15px;*/

}
.report{
    min-height: 1000px;
    margin: 0 auto;
}

#signature{
    text-align: right;
    width: 700px;
    margin: 0 auto;
    color: #999999;
    font-size: 18px;
}


#page-yield h2{
    text-align: center;
}


.page-break td{
    height: 450px;
    border: 1px solid #fff;
    border-bottom: 1px solid black;
}
.subject{
    text-align: left;
    width: 25%;
}
.sl_no{
    width: 10px;
}
.grade{
    width: 10%;
}
.info1{
    margin-top: 15px;
    font-size:13px;
    font-weight:normal;
    color:#444444;
    margin-bottom:5px;
}
.infolbl{
    color:#b00;
}
.field-label{
    width:80px;
    float:left;
}
.info-left{
    float:left;
}
.info-right{
    float:right;
}
.info{
    width:100%;
    float:left;
}
.high{
    color:#b00;
}
.student_basic_info{
    /*    float:left;*/
}
#student_basic_info_3{
    width: 808px;
}
#part_1_div{
    float: left;
    width: 400px;
    padding-right: 5px;
}
#part_2_div{
    float: left;
    width: 400px;
}
.tittle{
    font-size: 12px;
    font-weight: 900;
}
p{
    font-size: 11px;
    clear: none;
    margin-left: 12px;
    line-height: 16px;
    margin-right: 20px;
}
.bullet{
    margin-left: -19px;
    margin-right: 5px;

}
#part2 .bullet{
    font-weight: 900;
    font-size: 12px
}
#part3 .bullet{
    font-weight: 900;
    font-size: 12px;
}

label{
    display: block;
    font-size: 13px;
    float:left;
}
.headding_div p{
    line-height: 35px !important;
}
.custom_header{
    text-align: center;
}
.left_div span{
    margin-left: 3px;
    float: right;
    margin-right: 3px;
}
.left_div{
    float: left;
    width: 150px;
    line-height: 20px;
    display:  block;
}
.left_div label{
    font-size: 11px;
}
.right_div {
    float: left;
    width: 205px;
    line-height: 15px;
    display: block;
    clear: right;
    margin-top:2px;
}
.right_div label{
    font-size: 11px;
}
.left_div span{ 
    margin-right: 5px;
}
ol{
    padding-left: 20px;
    font-size: 13px;
    margin-bottom: 0px;
}
ol>li{
    clear:both;
}
.short_title{
    font-weight: 300;
    clear: both;
    display: block;
}
#part_2_div ol{
    font-size: 11px;
}
.part_headding{
    font-size: 13px;
    font-weight: 900;
    margin-top:0px;
    margin-bottom: 0px;
}
.part_simple_headding{
    margin-top: 15px;
    font-size: 13px;
    font-weight: 900;
    clear: both;
}
.grading_level{
    width: 350px;
    border-spacing:0px;
    border-width: 0px;
    border: 1px solid #666;
}
.grading_level td{
    border: 1px solid #666;
    width: 100px;
    height: 10px;
    padding: 0px;
    font-size: 12px;
}
.sub_ol{
    padding-left: 0px;
}
.sub_small_head{
    margin-left: 0px;
}
#part_4,#part_upscale{
    float:left;
}
#part_upscale{
    width:100%;
}
.grade_type_head{
    margin-bottom: 2px;
}
.third_page_full_div h2{
    text-align: center;
    margin-bottom: 5px;
    /*    page-break-after: auto;*/
}
.third_page_full_div{
    /*    page-break-after: auto;*/
}
#footer_pdf{
    float:left;
    width: 806px;
    height: 100px;
    bottom: 0;
    position: inherit;
    margin-top: 70px;
    page-break-inside: avoid;
}
#footer_pdf div{
    width: 337px;
    float:left;

}
.left_align,.center_align{
    float:left;
    width:30%;
}
.left_align label{
    float:left;
    width:100%;
}
#footer_pdf .right_align{
    width: 118px;
    float:right !important;
}
#footer_pdf label{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
#footer_pdf label span{
    font-size: 12px;
    font-weight: 900;
}
#footer_pdf .center_align label{
    float:left;
    width:100%;

}
#footer_pdf .right_align label{
    text-align: center;
}
.full_width{
    float:left;
    width:100%;
}
.half_width{
    float:left;
    width:50%;
}
.width_100{
    float:left;
    width: 300px;
}
.details_label span{
    float:left;
    margin-left: 10px;
    margin-right: 10px;
}
.page-break { display:block; clear:both; page-break-after:always;height:1px;}

.ind_block{
    float: left;
    width: 100%;
    min-height:50px;
    max-height:160px;
    border:1px solid black;
    border-bottom: 0px;
}
.border_bottom_custom{
    border-bottom: 1px solid black;
}
.ind_block label{
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
    margin-right:5px;
}
.ind_block span{
    margin-left: 3px;
    margin-right: 3px;
    font-weight: bold;
    margin-top: 9px;
}
.rg_details{
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
    margin-left: 9px;
    margin-bottom: 10px;
}
.packer{
    float:left;
}
.dark_bold{
    font-weight:bold;
}
.normal_text{
    font-weight: normal;
    font-size: 11px;
}
ul > li{
    font-size: 11px;
    line-height: 15px;
    margin-bottom:5px;
    float:left;
}
.addl_width{
    width:95%;
}
.addl_width_800{
    width: 805px;
    float:left;
}
.increasable_width{
    width: 655px !important;
}
.wrapper_div{
    font-size: 12px;
}
.margin_bottom_5{
    margin-bottom: 5px;
}
td > span{
    width: 60%;
    margin-right: 30px;
    float: left;
}
.normal{
    font-size: 11px;
}
.fright{
    float: right;
    margin-right: 87px;
}
.ind_block,.entire_self_awareness_block{
    float:left;
    page-break-inside: avoid;
}
.data_items{
    min-height:15px;
}
#res_text{
    float: left;
    margin-right: 10px;
    font-weight: bold;
}
#res_text span{
    float: right;
    margin-left: 5px;
}
#res_value{
    float: left;
    width: 730px;
    font-size:14px;
    word-break: break-word;
    margin-top: 2px;

}
.result{
    float: left;
    font-size: 16px;
    margin-top: 10px;
}

.avoid_page_break_inside{
    page-break-inside: avoid;
}
.border_less{
    border:0px;
    border-right:1px solid #fff;
}
.observation_text{
    width:25%;
    text-align: left;
}
.di_text{
    width:65%;
    text-align: left;
}
.grade_text{
    width:10%;
}
.additional_margin{
    /*    margin-bottom: 30px;*/
}
.score-table table#pdf-table_init{
    margin-bottom:-1px;
    margin-top:20px;
}
.kind_header{
    font-size: 18.72px;
    font-weight: bold;
    padding:0px;
}
.last_page_text{
    padding-top:3px;
    font-weight: bold;
}
.ob_group_name{
    font-size: 16px;
    font-weight:bold;
    text-align: left;
    padding-left:0px;
}
.details_label {
    float: left;
    width: 100%;
}
.affliation_text{
    float: left;
    margin-right: 30px;
    width: 155px;
}
.short_label{
    width: 185px !important;
}