

#page-yield {
    width:100%;
    margin: 0 auto;
    float: left;
    overflow: hidden;
}

#pdf-info{
    padding-top: 50px;
}


.hor_line{
    width:-moz-max-content;
    background: #333333;
    height: 1px;
}

h2{
    text-align: center;
    margin:5px;
    font-size: 16px;
}
h3{
    font-size: 16px;
}
body {
    font-family: arial;
}
#main_info h4{
    color: #555555;
    margin-top: 18px;
    font-weight: normal;
}

#main_info h2{
    margin-bottom: 2px;
    font-weight: normal;

}


.odd{
    height:auto;
    background: #EEEEEE;

}

.even{

    height:auto;
    background: #fff;


}

td{
    padding: 12px 5px 12px 5px;
    width: 25px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

td.col-pdf-bold{
    font-weight: bold !important;
}

.table-header td{
    color: #000;
    background: #EEEEEE;
}
.table-footer td{
    padding: 12px 12px 12px 15px;
    color: #000;
    background: #EEEEEE;
}


#page-extender{
    width:100%;
    height :300px;

}
#page-extender1{
    width:100%;
    height :500px;

}
table{
    font-size: 13px;

}
.report{
    min-height: 1000px;
    margin: 0 auto;
}

#signature{
    text-align: right;
    width: 700px;
    margin: 0 auto;
    color: #999999;
    font-size: 18px;
}


#page-yield h2{
    text-align: center;
}


.subject{
    text-align: left;
    width: 25%;
}
.indicators{
    text-align: left;
    width: 65%;
}
.sl_no{
    width: 10px;
}
.grade{
    width: 10%;
}

.info1{
    margin-top: 15px;
    font-size:14px;
    font-weight:normal;
    color:#444444;
    margin-bottom:5px;
}
.infolbl{
    color:#000;
}
.field-label{
    width: 97px;
    float: left;
    word-break: break-word;
}
.info-left{
    float:left;
}
.info-right{
    float:right;
}
.info{
    width:100%;
    float:left;
}
.high{
    color:#000;
}

.custom_header h3 {
    padding-top: 20px;
    clear: both;
    margin-top: 0px;
}
.asl_block{
    width: 470px;
    float: left;
    text-align: left;
    word-break: break-word;
}
.header-content{
    font-size:16px;
    margin-top:5px;
}
#pdf-header{
    padding-top: 0px;
}
.sl_no{
    width:7%;
}
.observation_text,.di_text{
    text-align: left;
}
#page-yield{
    margin-top:0px !important;
}
.observation_text{
    width:25%;
}
td.spl_case{
    font-weight: bold;
}
.footer {
    float: left;
    width: 100%;
    page-break-before: avoid;
    page-break-inside: avoid;
}
.wrapper {
    page-break-inside: avoid;
    float: left;
    width: 100%;
}
.score-table table#pdf-table_init{
    page-break-inside: avoid;
    margin-bottom: -1px;

}
.additional_margin{
    margin-bottom: 20px;
}
.kind_header{
    border-top:0px;
    border-left:0px;
    border-right:1px solid #fff;
    text-align: left;
    padding-left:0px;
    font-size: 16px;
    font-weight:bold;
}
#res_text{
    float: left;
    margin-right: 10px;
    font-weight: bold;
}
#res_text span{
    float: right;
    margin-left: 5px;
}
#res_value{
    float: left;
    width: 730px;
    font-size:14px;
    word-break: break-word;
    margin-top: 2px;

}
.result{
    float: left;
    font-size: 16px;
}
.header {
    width: 100%;
    float: left;
    margin-bottom:5px;
    display: table;
    /*background-color: red;*/
}
.logo{
    width: 70px;
    height: 70px;
    float: left;
    border: 1px solid #e5e5e5;
    padding: 3px;
}
.logo img{
    width:100%;
    vertical-align: middle;
    display: table-cell;
}
span.header_parts{
    vertical-align: middle;
    display: table-cell;
}
.header-content p.institution_address{
    float: left;
    margin-left: 10px;
    font-size: 14px;
    color: #666 !important;
    margin-top:0px !important;
    width:100%;
}
.header-content{
    margin-left:0px; 
    height:80px;
    width: 90%;
    padding:3px;
    float: none;
}
#school-name{
    float: left;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
    width: 90%;
    margin-bottom: px;
    margin-top: 3px;
    color:#000 !important;
}
.info1{
    margin-top: 10px;
    font-size: 12px;
    font-weight: normal;
    color: #444444;
    float: left;
    width: 100%;
}
.infolbl{
    color: #000;
    font-weight: bold;
    float: left;
    width: 70%;
    word-break: break-word;
}
.field-label{
    min-width:80px;
    float:left;
}
.info-left{
    float:left;
    width: 50%;
}
.info-right{
    float: right;
    width: 50%;
}
.info{
    width:100%;
    float:left;
}
span.colon{
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}
.section1{
    page-break-before:always;
    /*    text-align: center;*/
}
.section {
    page-break-inside: avoid;
    float: left;
    width: 100%;
}
.section{
    margin-top:0px !important;
}
#pdf-footer {
    float:left;
    color: black;
    width: 100% !important;
    padding: 50px 0px !important;
}
.signature {
    width: 32%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    word-break: break-all;
}
.push_left{
    text-align: left;
    margin-right: 10px;
}
.push_right{
    text-align: right;
    margin-left: 10px;
}